﻿@using System.Globalization
@using Nhs.Library.Constants
@using Resources
@using Nhs.Utility.Common
@using Nhs.Library.Web.ImageResizer
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SearchAlertTemplateViewModel
<table id="nhsEmailAccountCreate" width="100%" height="100%;" cellpadding="0" cellspacing="0"
       bgcolor="#eeeeee" style="background: #eeeeee; width: 100%;">
    <tr>
        <td style="padding: 8px;">
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background: #fff;
                width: 545px;">
                <tr>
                    <td style="padding: 8px; vertical-align: middle;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailHeader.html")
                    </td>
                    <td align="right" style="padding: 8px; vertical-align: middle; text-align: right;">
                        <img id="img4" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.email.header_alert_gif : GlobalResources14.Default.images.email.header_alert_gif)" alt="" width="309" style="width:309px;" border="0" />
                   </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 12px; vertical-align: middle;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailSafeSenders.html")
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width="521" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 521px; padding: 12px; font-family: Arial,Helvetica; font-size: 12px;">
                                    <p style="font-size: 18px; color: #114981; margin-top: 0;">
                                        <strong>@Model.FirstName, @LanguageHelper.WelcomeText.ToMvcHtmlString()</strong>
                                    </p>
                                    @if (Model.AlertList.Count > 1)
                                    {
                                        <p>
                                            <strong>
                                                @LanguageHelper.LatestResultsFromYourSearchAlert.ToMvcHtmlString()   
                                            </strong>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            <strong>@LanguageHelper.ResultsFromSearchAlert.ToMvcHtmlString()   : @Model.AlertName</strong>
                                        </p>
                                    }
                                    @foreach (var cr in Model.FinalResults)
                                    {
                                        <table width="521" bgcolor="#fafafa" border="0" style="border-top: 1px solid #ececec;
                                            border-bottom: 1px solid #ececec;" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td rowspan="3" align="center" style="width: 78px; height: 50px; text-align: center; vertical-align: top;
                                                    font-family: Arial, Helvetica; font-size: 12px; padding:5px 0 5px 0;">
                                                    @if (string.IsNullOrEmpty(cr.SpotlightThumbnail) || cr.SpotlightThumbnail.ToLower() == "n")
                                                    {
                                                        @Html.NhsImage(@GlobalResources14.Default.images.no_photo.no_photos_75x58_png, new ResizeCommands() { Width = 78, Height = 58 }, "No photo available", false)
                                                    }
                                                    else
                                                    {
                                                        @Html.NhsImage(cr.SpotlightThumbnail, new ResizeCommands() { Width = 78, Height = 58 }, cr.CommunityName, true)
                                                    }
                                                </td>
                                                <td width="5" rowspan="3">&nbsp;</td>
                                                <td valign="top" style="padding:5px 0 5px 0; font-family: Arial, Helvetica; font-size: 12px;">
                                                    <p style="font-size: 14px; margin: 0 0 3px 0;">
                                                        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                                                        {
                                                            <strong>@Html.NhsLinkLogAndRedirectWithoutJsMove(cr.CommunityName, Pages.CommunityDetail, LogImpressionConst.EmailSearchAlertClickThrough, cr.CommunityId.ToString(CultureInfo.InvariantCulture), cr.MarketId.ToString(CultureInfo.InvariantCulture), cr.City, cr.Brand.BrandName, new { style = "color:#0091da;" }, Model.UtmParameters, "commdetail")</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong>@Html.NhsLinkLogAndRedirectWithoutJs(cr.CommunityName, Pages.CommunityDetail, LogImpressionConst.EmailSearchAlertClickThrough, cr.CommunityId.ToString(CultureInfo.InvariantCulture), cr.BuilderId.ToString(CultureInfo.InvariantCulture), "0", "0", cr.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" }, Model.UtmParameters, "commdetail")</strong>
                                                        }
                                                    </p>
                                                    <span>
                                                        By @cr.Brand.BrandName<br />
                                                        @cr.City, @cr.StateAbbr @cr.PostalCode
                                                    </span>
                                                </td>
                                                <td align="right" valign="top" style="padding:5px 0 5px 0; font-family: Arial, Helvetica;
                                                    font-size: 12px;">
                                                    @if (cr.BCType == "C")
                                                    {
                                                        <span>@LanguageHelper.ComingSoon.ToMvcHtmlString()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            @StringHelper.PrettyPrintRange(Convert.ToDouble(cr.PriceLow), Convert.ToDouble(cr.PriceHigh), "c0", LanguageHelper.From)
                                                    </span>
                                                    }
                                                    <table cellpadding="8" cellspacing="0" bgcolor="#F8E211" style="margin: 5px 0 0 0;">
                                                        <tr>
                                                            <td style="padding: 8px 12px; font-family: Arial, Helvetica; font-size: 12px;">
                                                                @if (Model.IsWeeklyEmail)
                                                                {
                                                                    <strong>@Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.GetBrochure, Pages.CommunityDetail, LogImpressionConst.EmailSearchAlertClickThrough, cr.CommunityId.ToString(CultureInfo.InvariantCulture), cr.BuilderId.ToString(CultureInfo.InvariantCulture), "0", "0", cr.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#4b4b4b;" }, Model.UtmParameters, "viewbrochure")</strong>
                                                                }
                                                                else
                                                                {
                                                                    <strong>@Html.NhsGetBrochureForSearchAlert(LanguageHelper.ViewBrochure, Pages.BrochureGen, LogImpressionConst.EmailSearchAlertClickThrough, cr.CommunityId.ToString(CultureInfo.InvariantCulture), cr.BuilderId.ToString(CultureInfo.InvariantCulture), string.Empty, string.Empty, cr.MarketId.ToString(CultureInfo.InvariantCulture), Model.UserProfile, new { style = "color:#4b4b4b;" }, Model.UtmParameters, "viewbrochure")</strong>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            @if (cr.HasConsumerPromo)
                                            {
                                                <tr>
                                                    <td colspan="2">
                                                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td valign="top" width="123" style="padding: 0 5px 5px 0;">
                                                                    <img src="@GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="@LanguageHelper.SpecialOffers" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                            @if (cr.HasHotHome.ToType<bool>())
                                            {
                                                <tr>
                                                    <td colspan="2">
                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td valign="top" style="padding: 0 5px 5px 0;">
                                                                    <img src="@GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" alt="@LanguageHelper.HotHome" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    <br />
                                    <table width="521" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="width: 320px; padding: 5px 15px 0 0; border-right: 1px dashed #CFD9B7;
                                                font-family: Arial,Helvetica; font-size: 12px;">
                                                <p style="font-size: 14px; margin-top: 0; color: #114981;">
                                                    <strong>@LanguageHelper.MoreNewHomesAreGaitingToBeDiscovered.ToMvcHtmlString()</strong>
                                                </p>
                                                <ul style="margin: 0 0 10px 0; padding: 0; list-style: none;">
                                                    <li>
                                                        <img id="Img2" src="@GlobalResources14.Default.images.buttons.btn_63_arrow_gif" alt=">" width="10" height="10" style="width:10px;height:10px;border:0;" />&nbsp;
                                                        @Html.NhsLinkLogAndRedirectWithoutJsAndDfu(LanguageHelper.View + " " + Model.TotalNumberOfHomes + " " + LanguageHelper.QuickMoveInHomesAvailableNearby, RedirectionHelper.GetHomeResultsPage(), LogImpressionConst.EmailSearchAlertClickThrough, Model.MarketId,  "?inventory=true", new { style = "color:#0091da;" }, Model.UtmParameters, "viewquick")
                                                    </li>
                                                    <li>
                                                        <img id="Img3" src="@GlobalResources14.Default.images.buttons.btn_63_arrow_gif" alt=">" width="10" height="10" style="width:10px;height:10px;border:0;" />&nbsp;
                                                        @Html.NhsLinkLogAndRedirectWithoutJsAndDfu(LanguageHelper.ViewAll + " " + Model.TotalNumberOfCommunities + " " + string.Format(LanguageHelper.CommunitiesInTheArea, Model.MarketName), RedirectionHelper.GetCommunityResultsPage(), LogImpressionConst.EmailSearchAlertClickThrough, Model.MarketId, "",  new { style = "color:#0091da;" }, Model.UtmParameters, "viewall")
                                                    </li>
                                                </ul>
                                                <table cellpadding="8" cellspacing="0" bgcolor="#F8E211" style="margin: 5px 0 0 0;">
                                                    <tr>
                                                        <td style="padding: 8px 12px; font-family: Arial,Helvetica; font-size: 12px;">
                                                            <strong><strong>@Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.SearchNewHomes, Pages.Home, LogImpressionConst.EmailSearchAlertClickThrough, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, new { style = "color:#4b4b4b;" }, Model.UtmParameters, "searchnew")</strong></strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p style="font-size: 14px; margin: 35px 0 0 0; color: #114981;">
                                                    <strong>@LanguageHelper.GetNewHomeRecommendationsByEmail.ToMvcHtmlString()</strong>
                                                </p>
                                                <p style="margin: 0;">
                                                    @LanguageHelper.CreateSearchAlertWithYourPreference.ToMvcHtmlString()
                                                    <br />
                                                    @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.SearchNewHomes, Pages.CreateAlert, LogImpressionConst.EmailSearchAlertClickThrough, String.Empty, String.Empty, String.Empty, String.Empty, String.Empty, new { style = "color:#0091da;" }, Model.UtmParameters, "searchnew")
                                                </p>
                                                <div id="divFreeBuyingTips">
                                                    <p style="font-size: 14px; margin: 35px 0 0 0; color: #114981;">
                                                        <strong>@LanguageHelper.FreeHomebuyingTips.ToMvcHtmlString()</strong>
                                                    </p>
                                                    <p style="margin: 0;">
                                                        @LanguageHelper.GetTheLatestInNewHomeNews.ToMvcHtmlString()
                                                        <br />
                                                        @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.GetOurNewsletter, Pages.ManageAccount, LogImpressionConst.EmailSearchAlertClickThrough, String.Empty, String.Empty, String.Empty, String.Empty, String.Empty, new { style = "color:#0091da;" }, Model.UtmParameters, "newspaper")
                                                    </p>
                                                </div>
                                            </td>
                                            <td style="width: 171px; padding: 5px 0 0 15px; vertical-align: top; font-family: Arial,Helvetica;
                                                font-size: 12px;">
                                                <p style="color: #114981; margin: 0;">
                                                    <strong>@LanguageHelper.KeepTabsOnYourHomeChoices.ToMvcHtmlString()</strong>
                                                </p>
                                                <p style="margin: 0;">
                                                    @LanguageHelper.SignInToSave.ToMvcHtmlString()
                                                    <br />
                                                    @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.OpenMySavedProperties, Pages.SavedHomes, LogImpressionConst.EmailSearchAlertClickThrough, String.Empty, String.Empty, String.Empty, String.Empty, String.Empty, new { style = "color:#0091da;" }, Model.UtmParameters, "savedproperties")
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.email.footer_545_gif : GlobalResources14.Default.images.email.footer_545_gif)" alt="" width="545" height="100" style="width:545px;height:100px;" border="0" />
                    </td>
                </tr>
            </table>
            <table width="545" cellpadding="0" cellspacing="0" border="0" style="width: 545px;">
                <tr>
                    <td style="padding: 10px; font-family: Arial,Helvetica; font-size: 11px; color: #444444;">
                        <p>
                            <strong>@LanguageHelper.WeHereToHelpYouFindTheRightHome.ToMvcHtmlString()</strong> @LanguageHelper.TheNewHomeBuilder.ToMvcHtmlString()
                        </p>
                        <p>
                            @LanguageHelper.ToStopReceivingTheseEmailsClickHereTo.ToMvcHtmlString() @Html.NhsLinkWithUtm(LanguageHelper.Unsubscribe.ToLower(), Pages.Unsubscribe, new List<RouteParam> { new RouteParam(RouteParams.UserId, Model.UserEmail,RouteParamType.QueryString) }, new { style = "color:#0091da;" }, string.Format(Model.UtmParameters, "unsubscribe")).
                            @LanguageHelper.ThisWillDeleteAllYourSearhAlerts.ToMvcHtmlString(), @Html.NhsLinkWithUtm(LanguageHelper.ClickHere, Pages.SavedHomes, new List<RouteParam> { new RouteParam(RouteParams.PlannerTabs, PlannerPages.SavedSearchAlerts) }, new { style = "color:#0091da;" }, string.Format(Model.UtmParameters, "deletealert")).
                        </p>
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailFooter.html")
                        @Html.NhsImageLink(Pages.EventLogger + "/" + NhsUrl.UrlConst.LogEvent + "-" + LogImpressionConst.OpenEmailSearchAlert + "/" + NhsUrl.UrlConst.Email + "-" + Model.UserProfile.LogonName, string.Empty, new List<RouteParam>(), new { style = "display:none" }, null, false, false, false, true)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
