﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SyntheticGeoCollectionViewModel
@ResourceCombinerEnum.SYNTHETICGEOCSS.GetCrunchedResource()
<table class="syntheticContainer">
    <tr class="syntheticTitleContainer">
        <th>Synthetic Location</th>
        <th>Synthetic Zip</th>
    </tr>
    @foreach (var synthetic in Model.SyntheticGeoCollection)
    {
        <tr>
            <td class="syntheticLocation">
                @synthetic.SyntheticGeography.Name
            </td>
            <td class="syntheticZip">
                @if (string.IsNullOrEmpty(synthetic.PostalCodes))
                {
                    <text>
                        No communities availables in this location
                    </text>
                }
                else
                {
                    <text>
                        @synthetic.PostalCodes
                    </text>
                }
            </td>
        </tr>
    }
</table>