﻿@model Nhs.Web.UI.AppCode.ViewModels.LocationHandlerViewModel
@using Nhs.Library.Enums
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants;
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers;
<section class="nhs_NoLocation clearfix">
    @if (string.IsNullOrEmpty(Model.StateAbbr))
    {
        <h1>
            @LanguageHelper.YouSearchedFor.ToMvcHtmlString(): "@Model.SearchText"</h1>
    }
    @if (Model.Locations != null && Model.Locations.Count > 0)
    {
        foreach (var group in Model.GetLocationGroups())
        {
            <h2>
                @string.Format(LanguageHelper.WeFoundMatching, Model.GetLocationGroupsName(group.Key, group.Count()), "<strong>" + Model.SearchText + "</strong>").ToMvcHtmlString()
            </h2>                    
        <ul>
            @foreach (var location in group)
            {
                <li>
                    @Html.GetCommunityResultsUrl(location, Model.ExtraParameters)
                </li>
            }
        </ul>                    
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.StateAbbr) && Model.SimilarMarkets != null)
        {
        <h1>@LanguageHelper.PleaseChooseMetroArea.ToMvcHtmlString()</h1>
        }

        <h2>@LanguageHelper.WeCouldNotFindAnyHomesOrCommunitiesNear.ToMvcHtmlString() "@Model.SearchText @(string.IsNullOrEmpty(@Model.StateAbbr) || CommonUtils.IsZip(Model.SearchText) ? "" : ("," + @Model.StateAbbr))"</h2>  

        if ((!string.IsNullOrEmpty(Model.SearchText) && Model.SearchText.Trim().ToLower().Equals("enter location or community name")) || string.IsNullOrEmpty(Model.SearchText))
        {
        <h3>@LanguageHelper.InvalidLocation.ToMvcHtmlString()</h3>
        }

        if (!string.IsNullOrEmpty(Model.StateAbbr) || Model.SimilarMarkets != null)
        {       
        <ul>
            @if (Model.SimilarMarkets != null)
            {
                foreach (var mrkt in Model.SimilarMarkets[0])
                {
                    <li>@Html.NhsLink(mrkt.MarketName, RedirectionHelper.GetCommunityResultsPage(), mrkt.ToResultsParams(), new { @id = "nhs_marketLink" + mrkt.MarketId })</li>
                }
            }
        </ul>
        }
    }
    <div class="nhs_NoLocationTry">
        <h2>@LanguageHelper.OrTryAnotherSearch.ToMvcHtmlString()</h2>
        <p>@LanguageHelper.TapTheMagnifyingGlass.ToMvcHtmlString()</p>
    </div>
</section>
@*<div class="nhs_HomeSearch clearfix">
    <div class="clearfix">
        <h2>
            Try another search:</h2>
        @Html.Partial(NhsMvc.PartnerBrandGroupViews_1.ViewsMobile.Home.SearchBar)
    </div>
</div>
*@
