﻿@model Nhs.Web.UI.AppCode.ViewModels.AmenitiesViewModel
@if (Model.OpenAmenitiesByGroup.Count > 0 || Model.CommAmenitiesByGroup.Count > 0)
{
    if (Model.DisplayHeader)
    {
        @Model.AmenityGroupHeader.ToMvcHtmlString()
    }
    <ul>
        @foreach (var amenity in Model.OpenAmenitiesByGroup)
        {
            <li>@Html.AmenityLink(amenity) </li>
        }

        @foreach (var amenity in Model.CommAmenitiesByGroup)
        {
            <li>@amenity.Description</li>
        }
    </ul>
}