﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Html
@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<Nhs.Mvc.Domain.Model.Web.Event>
@{bool IsCommResults = NhsRoute.CurrentRoute.Function == Pages.CommunityResults;}

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var eventItem in Model)
        {
            <li>
                <span class="nhs_DetailsPromosThumb">
                    @Html.RenderEventLogo()
                </span>
                <span class="detailsWrapper">
                    <span class="eventCalendar">Event</span> 
                    <span class="@(IsCommResults? "" : "title")">@string.Format("{0}", eventItem.EventTextFormatted) </span>
                    
                    @if (!IsCommResults)
                    {
                        <p>
                            <div id="nhs_EventDescriptionArea" class="comment more">@ParseHTML.StripHTML(eventItem.Description)</div>                        
                        </p>
                        <b>@LanguageHelper.DateAndTime.ToMvcHtmlString(): </b>
                    }
                    @string.Format((IsCommResults ? "(" : "") + "{0}" + (IsCommResults ? ")" : ""), eventItem.EventDateTextFormatted)<br/>                                       
                    @if (!IsCommResults)
                    {
                        @Html.PromoEventProLink(eventItem.EventFlyerUrl, !string.IsNullOrEmpty(eventItem.EventFlyerUrl), false, false,true)
                    }
                </span>
            </li>
        }
    </ul>
    
}
