﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using Nhs.Web.UI.AppCode.Extensions
@{ if (Model.Testimonials.Count > 0 || Model.AwardImages.Count > 0)
 {
<div class="nhs_DetailCard clearfix">
    <div class="nhs_DetailSections">
        <h3 class="nhs_DetailSectionTitle">Testimonials</h3>
    </div>
    <div class="nhs_DetailTestimonialsAwards clearfix">
        <ul>
            @if (Model.Testimonials.Count > 0)
            {
                foreach (var testimonial in Model.Testimonials)
                {
                    <li class="nhs_Testimonials">
                        <strong>"@testimonial.Description.FormattedText()"</strong><br />
                        <span class="citation">
                            @testimonial.Citation
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="nhs_DetailCard clearfix">
    <div class="nhs_DetailSections">
        <h3 class="nhs_DetailSectionTitle">Awards &amp; Accreditations</h3>
    </div>
    <div class="nhs_DetailTestimonialsAwards clearfix">
        <ul>
            @if (Model.AwardImages.Count > 0)
            {
                foreach (var image in Model.AwardImages)
                {
                    <li class="nhs_AccreditationSeals">
                        <div>@Html.GetAwardImageLink(image)</div><br />
                        @image.ImageTitle
                    </li>
                }
            }
        </ul>
    </div>
</div>
 }
}
