﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel

@if (Model.Globals.PartnerLayoutConfig.AmIOnDetailPage)
{
    <div id="nhs_DetailsHeader">
        <p>@Model.GetCommHomeLiteralText(false, true)</p>
    </div>
}
<div id="nhs_form">
    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.InactivePropertyForm)
</div>
<div class="nhs_Clear"></div>
