﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<section>
        <div class="nhs_DetailSections">
            <h1 class="nhs_DetailSectionTitle">@LanguageHelper.WeAreSorry.ToMvcHtmlString()</h1><br />
            <h2 class="nhs_DetailSectionTitle">
                @LanguageHelper.This.ToTitleCase() @Model.GetCommHomeLiteralText(false, false) @LanguageHelper.IsNoLongerAvailable.ToMvcHtmlString()</h2>
        </div>
        <div class="nhs_DetailContent">
            <p>@LanguageHelper.SearchForNewCommunities.ToMvcHtmlString():</p>
            <div class="nhs_DetailInvalidSearch">
                <h3>@LanguageHelper.SearchForNewHomesNow.ToMvcHtmlString()</h3>
                    
                @*City or Zip code*@
                @Html.ValidationMessageFor(model => model.SearchText, LanguageHelper.PleaseEnterACityOrZip) 
                        
                <p><label for="SearchText">@LanguageHelper.CityOrZip.ToMvcHtmlString():</label> @Html.TextBoxFor(m => m.SearchText)</p>        
                
                @*State List*@
                <p><label for="SelectedStateAbbr">@LanguageHelper.State.ToMvcHtmlString():</label> @Html.DropDownListFor(m => m.SelectedStateAbbr, Model.States)</p>               
                @*Price Low*@
                <p><label for="PriceLow">@LanguageHelper.Price.ToMvcHtmlString():</label> @Html.DropDownListFor(m => m.PriceLow, Model.PriceLowRange, LanguageHelper.Any)
                - @*Price High*@
                @Html.DropDownListFor(m => m.PriceHigh, Model.PriceHighRange, LanguageHelper.Any)</p>                       

                @*Search Button*@
                <p><input type="submit" value="@LanguageHelper.SearchHomesButton" name="Search" id="Search" class="btnCss btn_FindHomes" /></p>
                <div class="nhs_Clear"></div>                    
            </div>

        </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#nhs_form").on("click", "#Search",function () {
            var control = jQuery(this);
            var data = jQuery(".nhs_DetailContent input, .nhs_DetailContent select").serialize();
            jQuery.ajax({
                url: "@(Html.GetActionUrl(NhsMvc.Search.Name, NhsMvc.Search.ActionNames.InvalidPropertySearch))",
                type: "POST",
                data: data,
                success: function (html) {
                    if (html.redirect) {
                        window.location = html.redirecUrl;
                    }
                    if (typeof html === 'string') {
                        jQuery("#nhs_form").html(html);
                    }
                }, error: function () {
                    control.removeAttr("disabled");
                }
            });
        });
    });
</script>