﻿@model Nhs.Web.UI.AppCode.ViewModels.IMediaGalleryViewModel
@using System.Web.Mvc.Html
@using Nhs.Web.UI.AppCode.HtmlHelpers

<div class="nhs_MediaPlayerContainer">
    <div id="vidP" class="nhs_VideoPlayerBox" style="display: none;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        @{
            if (Model.IsBasicCommunity)
            {
                Model.Size = new KeyValuePair<int, int>(355, 236);
                Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.MediaPlayerVideo, Model.Size);
            }
            else
            {
                Html.RenderPartial(NhsMvc.Default.Views.Common.PropertyDetail.MediaPlayerVideo, Model);
            }
        }
    </div>
    <div id="medP" class="nhs_ImagePlayerBox" itemscope itemtype="http://schema.org/ImageObject">
        <div id="nhs_ImagePlayer">
            @if (!Model.IsBasicCommunity)
            {
                <div class="nhs_ImagePlayerTitleBar">
                    <p id="nhs_ImagePlayerTitleCaption">
                        <strong id="nhs_ImagePlayerTitle"></strong>
                        <span id="nhs_ImagePlayerCaption">&nbsp;</span>
                    </p>
                    <p id="nhs_ImagePlayerItemCounts">&nbsp;</p>
                </div>
            }
            <div id="gallery" class="ad-gallery">
                <div class="ad-image-wrapper">
                </div>
            </div>
        </div>
    </div>

    @if ((!Model.IsBasicCommunity && !Model.IsCommunityResults))
    {
        <a class="nhs_MediaPlayerMaximize" title="Expand"></a>
    }

    <div class="nhs_MediaShareOverlay">
        @if (!string.IsNullOrEmpty(Model.PinterestDescription) && !Model.PreviewMode)
        {
            @Html.RenderPinterest(Model.PageUrl, Model.FirstImage, Model.PinterestDescription, null)
        }
    </div>
    <div class="ad-nav">
        <div class="ad-thumbs">
            <ul class="ad-thumb-list" id="galleryList">
            </ul>
        </div>
    </div>
    <div class="nhs_Clear"></div>
</div>
