﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@if (Model.CnhBoyl!=null && (NhsRoute.IsPartnerNhs ||
                   NhsRoute.IsPartnerMove))
{
    <div class="nhs_DetailCustomBoyl">
        <p><span>@LanguageHelper.SeeMorePhotos.ToMvcHtmlString() @Model.BuilderName @LanguageHelper.ByViewingOurListings.ToMvcHtmlString()</span>
            <a  target="_blank" href="@(string.Format("{0}/detail/builder/{1}/{2}/{3}", Configuration.CNHDomain, Model.CnhBoyl.State, Model.CnhBoyl.MarketName, Model.CnhBoyl.BrandName.Replace(" ", "_").ToLower()))" onclick="@(string.Format("$jq.googlepush('{0} Detail Events', 'Community – Midpage Divisor', 'Outbound Link - CustomNewHomes');", Model.IsPageCommDetail ? "Community" : "Home"))">@LanguageHelper.SeeMoreAt.ToMvcHtmlString() CustomNewHomes.com</a></p>
        <div class="nhs_Clear"></div>
    </div>    
}
