﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.NearbyCommunityModel
@if (Model.NearByComms != null && Model.NearByComms.ToList().Count > 2)
{
    <div class="nhs_DetailCard clearfix">
        <section id="NearbyHomes">
            <div class="nhs_DetailSections">                    
                <h3 class="nhs_DetailSectionTitle">
                    @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.MoreCommunitiesBy + " " : LanguageHelper.MoreNewHomesInNearby + " ") @MvcHtmlString.Create(HttpUtility.HtmlDecode(@Model.BrandName))
                </h3>
            </div>
            <div class="nhs_MoreHomesNearby">
                <ul>
                    @foreach (var comm in Model.NearByComms)
                    {
                        <li class="nhs_NearbyItem">
                            <div class="nhs_NearbyImgBox">
                                @Html.NhsImageLink(comm.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null, null, false)
                                <p class="nhs_NearbyImgOverlay">
                                    @comm.DistanceFromCommunity.FormatDistance()
                                </p>
                            </div>
                            <p class="nhs_selector">
                                @Html.NhsLink(comm.CommunityName, RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null)
                            </p>
                            <p>
                                @LanguageHelper.HomesFrom @comm.PriceLow.FormatPrice()
                            </p>
                        </li>
                    }
                </ul>
            </div>
            <div class="nhs_Clear"></div>
        </section>
        <div class="nhs_BackToTop">
            <a href="#top">
                @LanguageHelper.BackToTop.ToMvcHtmlString()
            </a>
        </div>
        <script type="text/javascript">
            if (typeof commDetail !== "undefined") {
                commDetail.SetupNearbyCommunities(@Model.NearByCommsObject.ToMvcHtmlString())
            }
            else
                homeDetail.SetupNearbyCommunities(@Model.NearByCommsObject.ToMvcHtmlString())
        </script>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery("#NearbyHomes .nhs_MoreHomesNearby ul").bxSlider({
                    responsive: false,
                    infiniteLoop: true,
                    slideWidth: 200,
                    slideMargin: 20,
                    minSlides: 1,
                    maxSlides: 3,
                    pager: true,
                    controls: true
                });
            });
        </script>
    </div>
}
