﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Biz.Services.Concrete
@using Nhs.Mvc.Routing.Interface
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.NewMediaViewer.NewMediaViewerViewModel

<div id="nhs_BigMediaBox" class="nhs_BigMediaBox clearfix" style="display:none">
    @if (Model.IsAjaxRequest)
    {
        <style>
            @@media only screen and (max-width: 1110px) {
                .nhs_BigMediaHeader .btn_FreeBrochure {
                    margin-right: 50px;
                }
            }
        </style>
        <span class="nhs_Close">@LanguageHelper.Close.ToMvcHtmlString()</span>
    }
    <div class="nhs_BigMediaHeader clearfix">
        <div>
            <h1 class="nhs_Title">
                <a href="@Model.GetDetailUrl()">@Model.PropertyName</a>
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    if (Model.IsLoggedIn)
                    {
                        if (Model.SavedToPlanner)
                        {
                            <span class="nhs_Save nhs_Saved" title="Saved as Favorite">@LanguageHelper.Saved.ToMvcHtmlString()</span>
                        }
                        else
                        {
                            <a href="#" id="nhs_Saved" class="nhs_Save" title="Save">@LanguageHelper.Save.ToMvcHtmlString()</a>
                        }
                    }
                    else
                    {
                        @Html.NhsModalWindowLink(LanguageHelper.Save, Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam> { new RouteParam(RouteParams.ForcePopupPlayer, "true", RouteParamType.QueryString) }, new Dictionary<string, object>() { { "class", "nhs_Save" }, { "id", "nhs_LogiBigMediaBox" }, { "data-hidetitle", "true" } })
                    }

                }
            </h1>
            <p>
                @if (!string.IsNullOrEmpty(Model.PriceDisplay))
                {
                    <strong>@Model.PriceDisplay</strong>
                }

                @Model.City, @Model.State @Model.ZipCode
            </p>
        </div>

        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro && Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower())
        {
            <input type="button" value="@LanguageHelper.FreeBrochure" id="nhs_BigMediaBrochureButton" class="btn btn_FreeBrochure" />
        }
        @if (!string.IsNullOrEmpty(Model.PinterestDescription))
        {
            @*@Html.RenderPinterest(Model.PageUrl, Model.FirstImage, Model.PinterestDescription, null)*@
            <div class="nhs_PinterestOverlayBig">
                @Html.RenderPinterest(Model.PageUrl, Model.FirstImage, Model.PinterestDescription, new { onclick = @"jQuery.googlepush('Image Viewer', 'Image Viewer', 'Image Viewer - Pinterest');" }, true, false);
            </div>
        }
    </div>

    <div class="nhs_BigMediaPlayer clearfix">
        <div id="nhs_BigMediaPlayerContainer" class="clearfix"></div>

        <span class="nhs_BigMediaControls">
            <a class="nhs_BigMediaPrev" title="Previous">@LanguageHelper.Previous.ToMvcHtmlString()</a>
            <a class="nhs_BigMediaNext" title="Next">@LanguageHelper.Next.ToMvcHtmlString()</a>
        </span>

    </div>

    <div class="nhs_BigMediaThumbsBox clearfix">
        <div class="nhs_BigMediaCaption">
        </div>
        <div class="nhs_BigMediaIconsBar">
            <ul>
                <li class="nhs_BigMediaIconsVideo">
                    <a href="javascript:void(0)" data-type="v-,l-ev" title="@LanguageHelper.Video.ToMvcHtmlString()">@LanguageHelper.Video.ToMvcHtmlString()</a>
                </li>
                <li class="nhs_BigMediaIconsImage">
                    <a href="javascript:void(0)" data-type="i" title="@LanguageHelper.Photos.ToMvcHtmlString()">@LanguageHelper.Photos.ToMvcHtmlString()</a>
                </li>
                <li class="nhs_BigMediaIconsTour">
                    <a href="javascript:void(0)" data-type="l-vt" title="@LanguageHelper.VirtualTour.ToMvcHtmlString()">@LanguageHelper.Tours.ToMvcHtmlString()</a>
                </li>
                <li class="nhs_BigMediaIconsFloorPlan">
                    <a href="javascript:void(0)" data-type="l-flp" title="@LanguageHelper.FloorPlan.ToMvcHtmlString()">@LanguageHelper.FloorPlan.ToMvcHtmlString()</a>
                </li>
            </ul>
        </div>

        <ul class="bxslider">
            @{
                var index = 0;
                for (index = 0; index < Model.MediaPlayerList.Count; index++)
                {
                    var media = Model.MediaPlayerList[index];
                    var src = media.Thumbnail;
                    var dataSrc = media.Url;
                    <li>
                        <a>
                            @if (media.Type.StartsWith(MediaPlayerObjectTypes.Link))
                            {
                                if (media.SubType == MediaPlayerObjectTypes.SubTypes.FloorPlanImages)
                                {
                                    src = Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_ifp_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_ifp_240x160_png;
                                    media.Title = LanguageHelper.LaunchInteractiveFloorPlanViewer;
                                }
                                if (media.SubType == MediaPlayerObjectTypes.SubTypes.ExternalVideo)
                                {
                                    src = Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_ext_video_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_ext_video_240x160_png;
                                }
                                if (media.SubType == MediaPlayerObjectTypes.SubTypes.VirtualTour)
                                {
                                    src = Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_vt_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_vt_240x160_png;
                                    media.Title = LanguageHelper.LaunchVirtualTour;
                                }
                            }
                            else if (media.Type == @MediaPlayerObjectTypes.Image)
                            {
                                src = media.GetNewMediaViewerSmallImage();
                                dataSrc = media.GetNewMediaViewerBigImage();
                            }

                            <img src="@src" data-event="@media.Event" data-slide="@index" data-type="@media.Type-@media.SubType" data-id="@media.OnlineVideoID" data-title="@media.Title" alt="@media.Title" data-url="@dataSrc" />
                            @if (media.Type == MediaPlayerObjectTypes.Video)
                            {
                                <span></span>
                            }
                        </a>
                    </li>
                }
                if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro && Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower())
                {
                    <li id="nhs_BigMediaBrochureSlide">
                        <a>
                            @{
                    string brochureUrl;
                    if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                    {
                        brochureUrl = GlobalResourcesMvc.CNA.images.mediaplayer.launch_free_brochure_120x80_png;
                    }
                    else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                    {
                        brochureUrl = GlobalResourcesMvc.Default.images.mediaplayer.launch_free_brochure_120x80_png;
                    }
                    else
                    {
                        brochureUrl = GlobalResourcesMvc.Move.images.buttons.launch_free_brochure_120x80_png;
                    }
                            }
                            <img id="nhs_NME_btn_FreeBrochure" data-slide="@(index + 1)" data-type="brochure" src="@brochureUrl" alt="@LanguageHelper.FreeBrochure" />
                        </a>
                    </li>
                }
            }
        </ul>

    </div>

    @if (!Model.IsAjaxRequest)
    {
        <text>
            @section cphFooter{
                @(NhsRoute.IsBrandPartnerNhsPro ? ResourceCombinerEnum.NHSPRO7SHELLMASTERMVCTOP.GetCrunchedResource() : ResourceCombinerEnum.NHSSHELL2014JSTOP.GetCrunchedResource())

                @ResourceCombinerEnum.KENDOJS.GetCrunchedResource()
                @ResourceCombinerEnum.NEWMEDIAPLAYERJS.GetCrunchedResource()

                <script type="text/javascript">
                    var parameters = {
                        partnerID: @NhsRoute.PartnerId,
                        brandPartnerId: @NhsRoute.BrandPartnerId,
                        siteRoot: '/@NhsRoute.SiteRoot',
                        communityId: @Model.CommunityId,
                        builderId: @Model.BuilderId,
                        marketId: @Model.MarketId,
                        planId: @Model.PlanId,
                        specId: @Model.SpecId
                        };


                    var logger = new NHS.Scripts.Globals.EventLogger(parameters);
                    logger.attachEventsToAddThis();
                </script>

            }

            @section cphHead{
                <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                {
                    @ResourceCombinerEnum.MOVELIBCSS.GetCrunchedResource()
                }
                else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                {
                    @ResourceCombinerEnum.DEFAULTLIBCSS.GetCrunchedResource()
                }
                else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    @ResourceCombinerEnum.PROLIBCSS.GetCrunchedResource()
                }
                @ResourceCombinerEnum.NEWMEDIAPLAYERCSS.GetCrunchedResource()
            }

            @section cphDataLayer{
                @Model.GetGtmDataLayerGlobal()
                @HtmlGoogleHelper.GetGtmDataLayerScript()
            }

        </text>
    }
    <script type="text/javascript">
        var model;

        jQuery(document).ready(function() {

            var paramters = {
                brightCoveSuffix: '@Configuration.BrightcoveEnvSuffix',
                videoWidth: 700,
                videoHeight: 356,
                brightcoveToken: '@Configuration.BrightcoveReadToken',
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                marketId: @Model.MarketId,
                planId: @Model.PlanId,
                specId: @Model.SpecId,
                brochureUrl: "@Model.GetFreeBrohureUrl().ToMvcHtmlString()",
                SaveCommunity: @Model.AddToFavorites().ToMvcHtmlString(),
                imgBaseUrl :  "@Configuration.IRSDomain/",
                url : "@Model.PageUrl",
                description : "@Model.PinterestDescription"
            };
            model = new NHS.Scripts.NewMediaViewer(paramters);
            model.initialize();

        });

        jQuery(window).on("resize", function() {
            model.ResizePlayer();
            model.ResizeMedia();
        });
    </script>
</div>
