﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<section id="Contact" @((string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? "style=display:none" : "")>
    <div class="nhs_nextSteps">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">
                @LanguageHelper.NextSteps.ToMvcHtmlString()
            </h3>
        </div>
        <div class="nhs_DetailContent nhs_NextStepsContent">
            <div class="nhs_Step1">
                <p class="step1_thumb">
                    @LanguageHelper.SaveAndShare
                </p>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <p class="pro_BrochureLink">
                        @Html.GetProFreeBrochureLink(Model)
                        @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    </p>
                }
                @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                {
                    <p id="pSaveThisItem" class="nhs_SaveThisItem">

                        @Html.GetSavePlannerLink(Model, true, LanguageHelper.SaveToFavorites)
                        @if (NhsRoute.IsBrandPartnerNhsPro && UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    </p>
                }
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <p>
                        @Html.SendToFriendLink(Model, LanguageHelper.SendToAFriend)
                    </p>
                }
                <p class="nhs_StepsPrintLink">
                    <a href="#" id="nhs_StepsPrintLink">@LanguageHelper.PrintThisPage.ToMvcHtmlString()</a>
                </p>
                @if (Model.Globals.PartnerLayoutConfig.IsPartnerCna || Model.Globals.PartnerLayoutConfig.IsPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                {
                    <p class="nhs_StepsSendPhone">
                        @Html.NhsModalWindowLink(LanguageHelper.SendToPhone, Pages.SendToPhone,
                            ModalWindowsConst.SendToPhoneWidth,
                            ModalWindowsConst.SendToPhoneHeight, new List<RouteParam>
                            {
                                Model.IsPageCommDetail ? new RouteParam(RouteParams.CommunityId,Model.CommunityId, RouteParamType.QueryString)
                                    : (Model.SpecId >0 ?
                                        new RouteParam(RouteParams.SpecId,Model.SpecId,RouteParamType.QueryString):
                            new RouteParam(RouteParams.PlanId,Model.PlanId,RouteParamType.QueryString)
                                )

                            }, new { title = LanguageHelper.SendToPhone })
                    </p>
                }
                <br />
                <p id="addthis_more_sharing" class="center">
                    <em>@LanguageHelper.MoreSharingOptions.ToMvcHtmlString()</em>
                </p>
                <br />
                <p id="addthis_bookmark_bottom" class="center addthis_32x32_style">
                    <a class="addthis_button_facebook" id="btn_fb_bottom"></a>&nbsp; <a class="addthis_button_twitter"
                                                                                        id="btn_tw_bottom"></a>&nbsp; <a class="addthis_button_compact"></a>
                </p>
            </div>
            <div class="nhs_Step2">
                <p class="step2_thumb">
                    @LanguageHelper.GetMoreInfo
                </p>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    if ((!string.IsNullOrEmpty(Model.CommunityUrl) || !string.IsNullOrEmpty(Model.BuilderUrl)) && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                    {
                        <p class="builder_link">
                            @Html.GetBuilderCDLogUrl(Model, false, true)
                        </p>
                    }
                    if (!string.IsNullOrEmpty(Model.AgentPolicyLink))
                    {
                        <p class="pro_AgentPolicyLink">
                            @Html.GetAgentPolicyImageLink(Model, false)
                            @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                            {
                                <span class="nhs_LockIcon"></span>
                            }
                        </p>
                    }
                    if ((!string.IsNullOrEmpty(Model.CommunityUrl) || !string.IsNullOrEmpty(Model.BuilderUrl)) && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                    {
                        <p id="brochure_pro_step2" class="pro_BrochureLink">
                            @Html.GetNextStepsFreeBrochureImageLinkForPro(Model, 2, "bottom")
                        </p>
                    }
                }
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <p class="brochure_link">
                        @Html.GetNextStepsFreeBrochureImageLink(Model)
                    </p>
                    <p class="special_offers">
                        @(Html.GetLeadLink(Model, LeadAction.CaRequestPromotion, LanguageHelper.SignUpForSpecialOffers.Trim('!').Trim('¡'), "", Model.IsPageCommDetail ?
                    "jQuery.googlepush('Lead Events','Community - CTA Next Steps Special Offers','Open Form - Free Brochure');log.logEvent('CDNSRQP', " + Model.CommunityId + ", " + Model.BuilderId + ");"
                                          : "jQuery.googlepush('Lead Events','Home - CTA Next Steps Special Offers','Open Form - Free Brochure');log.logEvent('HDNSRQP', " + Model.CommunityId + ", " + Model.BuilderId + ", " + (Model as HomeDetailViewModel).PlanId.ToString() + ", " + (Model as HomeDetailViewModel).SpecId.ToString() + ");"))
                    </p>
                    <p class="calculat_mortgage">
                        @Html.MortgageCalculatorPage(Model)
                    </p>
                }
                @*<br />
                    <p class="center">
                        <em>Want to keep looking?</em></p>*@
                <br />
                @if (Model.DetailType.ToLower().Contains(LanguageHelper.Community.ToLower()))
                {
                    <p class="center">
                        @Html.MoreCommunitiesLikeThisLink(Model, LanguageHelper.FindSimilarCommunities)
                    </p>
                }
                <p class="center">
                    @if (UserSession.PropertySearchParameters.MarketId > 0)
                    {
                        <a id="nhs_NextStepsBackSearch" class="nhs_BreadcrumbBackSearch">
                            @LanguageHelper.GoBackToSearchResults.ToMvcHtmlString()
                        </a>
                    }
                    else
                    {
                        @Html.HomeResultsLink(string.Format(LanguageHelper.SeeMoreHomesInTheMarket, Model.MarketName), Model.MarketId)
                    }
                </p>
            </div>
            <div class="nhs_Step3">
                <p class="step3_thumb">
                    @LanguageHelper.GoAndVisit
                </p>
                <p class="schedule">
                    @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                        @Html.NhsRequestAppModalLink(LanguageHelper.ScheduleAndAppointment, "", "***", Model, "btn_NhsScheduleAppointment", true)
                    }
                    else
                    {

                        if (Model.IsBilled)
                        {
                            <a id="scheduleAppointment" href="#ContactBuilder">@LanguageHelper.ScheduleAndAppointment.ToMvcHtmlString()</a>
                        }
                    }
                </p>
                @if (!Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                {
                    <p class="get_map">
                        <a href="#Maps" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('@((Model ).IsPageCommDetail?" community": "Home") Detail Events','@((Model ).IsPageCommDetail?"Community": "Home") - Next Steps','Get Map and Directions');">
                            @LanguageHelper.GetMapAndDirections.ToMvcHtmlString()
                        </a>
                    </p>
                }
                @if ((!string.IsNullOrEmpty(Model.CommunityUrl) || !string.IsNullOrEmpty(Model.BuilderUrl)) && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <p class="builder_link">
                        @Html.GetBuilderCDLogUrl((ISecondaryInfoViewModel)Model, false, true)
                    </p>
                }
                <br />
                @if (Model.IsBilled)
                {
                    if (!Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                    {
                        <div>
                            @if (Model.ShowBuilderLogo())
                            {
                                <div class="nhs_DetailSmBrandImg">
                                    @Html.RenderBuilderLogoLink(Model, false, true)
                                </div>
                            }
                            <p class="comm_address">
                                <strong>
                                    @Model.CommunityName
                                </strong><br />
                                @if (!string.IsNullOrEmpty(Model.SalesOfficeAddress1))
                                {
                                    <text>
                                        @string.Concat(Model.SalesOfficeAddress1, " ", Model.SalesOfficeAddress2);
                                        <br />
                                    </text>
                                }
                                @Model.CommunityCity, @Model.State @Model.ZipCode
                                <br />
                                @if (!string.IsNullOrEmpty(Model.SaleAgents))
                                {
                                    @Model.SaleAgents<br />
                                }
                            </p>
                        </div>
                    }
                    if ((!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber)) && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                    {
                        if (!NhsRoute.IsMobileDevice)
                        {
                            if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                            {
                                <p id="nhs_LnkNextStepsPhoneNum">
                                    <a class="nhs_PhoneLink" id="nhs_LnkNextStepsPhoneNum2">@LanguageHelper.SeePhoneAndOfficeHours.ToMvcHtmlString()</a>
                                </p>
                                <p class="phone_number" id="nhs_NextStepsFormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                                    <span id="@Model.CommunityId">
                                        @Model.PhoneNumber
                                    </span>
                                    @Model.HoursOfOperation()
                                </p>
                            }
                            else
                            {
                                <p class="trackingphone_number" id="nhs_NextStepsFormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                                    <span id="@Model.CommunityId">
                                        @Model.TrackingPhoneNumber
                                    </span>
                                    @Model.HoursOfOperation()
                                </p>
                            }
                        }
                        else
                        {
                            <p class="Iphone_number" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                                <a href="tel:@Model.PhoneNumber" onclick="@string.Format("jQuery.googlepush('Lead Events','{0} – Next Steps' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                                    @Model.PhoneNumber
                                </a>@Model.HoursOfOperation()
                            </p>
                        }
                    }
                }
            </div>
        </div>
        @if (Model.PreviewMode)
        {
            <div class="nhs_NextStepsOverlay">
            </div>
        }
    </div>
    <div class="nhs_BackToTop">
        <a href="#top">
           @LanguageHelper.BackToTop.ToMvcHtmlString()
        </a>
    </div>
    <div class="nhs_Clear">
    </div>
</section>
