﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<script type="text/javascript">

    function showPromoDescription(id, promoDescription, showPromoDesc) {
        if (jQuery.trim(jQuery('#nhs_promoDescriptionToggle' + id).text()) === "...@LanguageHelper.More") {
            var description = promoDescription;
            jQuery('#nhs_promoDescriptionToggle' + id).text("@LanguageHelper.Less");
            jQuery("#nhsPromoDescriptionArea" + id).html("");
            jQuery("#nhsPromoDescriptionArea" + id).html(description);
            return false;
        }
        else {
            var chunkedDescription = showPromoDesc;
            jQuery('#nhs_promoDescriptionToggle' + id).text("...@LanguageHelper.More");
            jQuery("#nhsPromoDescriptionArea" + id).html("");
            jQuery("#nhsPromoDescriptionArea" + id).html(chunkedDescription);
            return false;
        }
    }
</script>
<div class="nhs_Clear">
</div>
@Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.MorePhotosCNH)
@{if (Model.Promotions.Count > 0 || Model.GreenPrograms.Count > 0 || (Model.HotHomesApi != null && Model.HotHomesApi.Count > 0 && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) || Model.Events.Count > 0)
{
    int offersCounter = (Model.Promotions.Count > 0 || Model.Events.Count > 0 ? 1 : 0) + (Model.GreenPrograms.Count > 0 ? 1 : 0) + ((Model.HotHomesApi.Count > 0 && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? 1 : 0);
    <div id="nhs_DetailsPromos">
        <div @(offersCounter > 1 ? ((offersCounter == 3) ? "class=\"promotion_columnCount3\"" : "class=\"promotion_columnCount2\"") : "")>
            <ul>
                @if (Model.Promotions.Count != 0 || Model.Events.Count != 0)
                {
                    <li id="liPromos" class="@Model.GetPromoCssClass()">
                        @if (NhsRoute.IsBrandPartnerNhsPro)
                        {
                            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PromotionPro, Model.Promotions.Where(p => p.PromoType == "COM" || p.PromoType == "AGT"))
                        }
                        else if (Model.Promotions.Any(p => p.PromoType != "AGT"))
                        {
                            <span class="nhs_DetailsPromosThumb">
                                @Html.RenderPromoLogo()
                            </span>
                            foreach (var p in Model.Promotions.Where(p => p.PromoType != "AGT"))
                            {
                                <span class="detailsWrapper">
                                    <span class="specialOffers">@LanguageHelper.SpecialOffer.ToMvcHtmlString()</span>&nbsp;@p.InfoFutureDate
                                    @p.PromoShortTextFormatted: <span id="@string.Concat("nhsPromoDescriptionArea", p.PromoId)">
                                        @p.ShowPromoDescription()
                                    </span>
                                    @if (string.IsNullOrEmpty(p.PromoUrl) && p.PromoDescriptionLength() <= p.PromoTextFormatted.Length)
                                    {
                                        if (!Model.PreviewMode)
                                        {
                                            <a id="@string.Concat("nhs_promoDescriptionToggle", p.PromoId)" href="" onclick="showPromoDescription('@p.PromoId', '@HttpUtility.JavaScriptStringEncode(p.PromoTextLong)', '@HttpUtility.JavaScriptStringEncode(p.ShowPromoDescription())'); return false;" class="nhs_likeALink">...@LanguageHelper.More.ToMvcHtmlString()</a>
                                        }
                                        else
                                        {
                                            <a id="@string.Concat("nhs_promoDescriptionToggle", p.PromoId)" href="" onclick="" class="nhs_likeALink">...@LanguageHelper.More.ToMvcHtmlString()</a>
                                        }
                                    }

                                    @if (!Model.PreviewMode)
                                    {
                                        @Html.PromoLogLink(Model, string.IsNullOrEmpty(p.PromoFlyerUrl) ? p.PromoUrl : p.PromoFlyerUrl, !string.IsNullOrEmpty(p.PromoFlyerUrl), false, Model.PreviewMode)
                                    }
                                    else
                                    {
                                        <span style="text-decoration: none; font-size: 93%; font-weight: bold; color: #0091da; ">@LanguageHelper.LearnMore »</span>
                                    }
                                </span>
                            }
                        }
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.EventsPro, Model.Events)
                    </li>

                }
                @if (Model.GreenPrograms.Count != 0)
                {
                    <li class="@Model.GetPromoCssClass()">
                        <span class="nhs_DetailsPromosThumb">
                            @Html.RenderGreenLogo()
                        </span>
                        @foreach (var gp in Model.GreenPrograms)
                        {
                            <span class="detailsWrapper">
                                <span class="green">@LanguageHelper.Green.ToMvcHtmlString()! </span>
                                @gp.ProgramName.TruncatePromotionDescription()
                                @if (!Model.PreviewMode)
                                {
                                    @Html.PromoLogLink(Model, string.IsNullOrEmpty(gp.ProgramFlyerFilePath) ? gp.ProgramUrl : gp.ProgramFlyerFilePath, !string.IsNullOrEmpty(gp.ProgramFlyerFilePath), true, Model.PreviewMode)
                                }
                                else
                                {
                                    <span style="text-decoration: none; font-size: 93%; font-weight: bold; color: #0091da; ">Learn more »</span>
                                }
                            </span>
                        }
                    </li>

                }
                @if (Model.HotHomesApi.Count != 0 && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <li class="@Model.GetPromoCssClass()">
                        <span class="nhs_DetailsPromosThumb">
                            @Html.RenderHotHomeLogo()
                        </span>
                        @foreach (var h in Model.HotHomesApi)
                        {

                            <span class="detailsWrapper">
                                <span class="hotHomes">@LanguageHelper.HotHome.ToMvcHtmlString()! </span>
                                @Html.HotHomeLinkForHomeResult(h)<br />
                                <strong>
                                    @*BedRooms*@
                                    @h.FormatBedrooms()
                                    @*BathRooms*@
                                    @h.FormatBathrooms()
                                    @*Garage*@
                                    @h.FormatGarages()
                                </strong>
                                @h.HotHomeTitle().TruncatePromotionDescription()
                                <span id="@string.Concat("nhsPromoDescriptionArea", h.HomeId)">
                                    @h.ShowHotHomeDescription()
                                </span>
                                @if (h.HotHomeDescriptionLength() <= h.HotHomeTextFormatted().Length)
                                {
                                    if (!Model.PreviewMode)
                                    {
                                        <a id="@string.Concat("nhs_promoDescriptionToggle", h.HomeId)" href="" onclick="showPromoDescription('@h.HomeId', '@HttpUtility.JavaScriptStringEncode(h.HotHomeDescriptionLong())', '@HttpUtility.JavaScriptStringEncode(h.ShowHotHomeDescription())'); return false;"
                                           class="nhs_likeALink">...@LanguageHelper.More</a>
                                    }
                                    else
                                    {
                                        <a id="@string.Concat("nhs_promoDescriptionToggle", h.HomeId)" href="" class="nhs_likeALink">...@LanguageHelper.More</a>
                                    }

                                }
                            </span>
                        }
                    </li>

                }
            </ul>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                SetPromosToggle();
            });
        </script>
    </div>
}
}
