﻿@model  IEnumerable<Nhs.Mvc.Domain.Model.Web.Promotion>
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Html
@if (Model != null && Model.Any())
{
    bool IsCommResults = NhsRoute.CurrentRoute.Function == Pages.CommunityResults;
    <ul>
        @foreach (var promo in Model)
        {
            <li>
                <span class="nhs_DetailsPromosThumb">
                    @Html.RenderPromoLogo()
                </span>
                <span class="detailsWrapper">
                    @if (promo.PromoType == "COM")
                    {
                        <strong class="consumerPromo">Consumer Promo</strong>
                        <span class="@(IsCommResults ? "" : "title")">@string.Format("{0}", promo.PromoShortterTextFormatted)</span>
                        
                        if (!IsCommResults)
                        {
                            <p>
                                <div id="nhs_PromoDescriptionArea" class="comment more">@ParseHTML.StripHTML(promo.PromoTextFormatted)</div>                        
                            </p>             
                            <b>Date:</b>
                        }

                        string.Format((IsCommResults ? "(" : "") + "{0}" + (IsCommResults ? ")" : ""), promo.PromoDateTextFormatted);<br/>
                        
                        if (!IsCommResults)
                        {
                            @Html.PromoEventProLink(string.IsNullOrEmpty(promo.PromoFlyerUrl) ? promo.PromoUrl : promo.PromoFlyerUrl, !string.IsNullOrEmpty(promo.PromoFlyerUrl), false, false);
                        }
                    }
                    else
                    {
                        if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                        {
                            <strong class="agentPromo">Agent Promo</strong>
                            <span class="@(IsCommResults ? "" : "title")">@string.Format("{0}", promo.PromoShortterTextFormatted)</span>
                            if (!IsCommResults)
                            {
                                <p>
                                    <div id="nhs_AgentPromoDescriptionArea" class="comment more">@ParseHTML.StripHTML(promo.PromoTextLong)</div>                        
                                </p>
                                <b>Date:</b> 
                            }
                            string.Format((IsCommResults ? "(" : "") + "{0}" + (IsCommResults ? ")" : ""), promo.PromoDateTextFormatted); <br/>                            
                            if (!IsCommResults)
                            {
                                @Html.PromoEventProLink(string.IsNullOrEmpty(promo.PromoFlyerUrl) ? promo.PromoUrl : promo.PromoFlyerUrl, !string.IsNullOrEmpty(promo.PromoFlyerUrl), false, false)
                            }
                        }
                        else
                        {
                            <strong class="agentPromo">Agent Promo</strong>
                            <span class="nhs_LockIconLink">
                                @Html.NhsModalWindowLink("Sign In to View", Pages.LoginModal,
                                                          ModalWindowsConst.SignInModalWidth,
                                                         ModalWindowsConst.SignInModalHeight, new List<RouteParam>(),
                                                         new { onclick = "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')" })
                            </span>
                        }
                    }
                </span></li>
        }
    </ul>

    
}