﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model IDetailViewModel

@if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
 {
    <div class="nhs_DetailsFormInfo">
        <p class="nhs_FormTitle">
            <strong>
                Visit
                @((string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? "the sales center" : "this")
                @((string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? MvcHtmlString.Create("") : Model.DetailType.AppendNewLineTag())
            </strong>
        </p>
        <div class="nhs_FormAddressHours">
            <p id="nhs_FormAddress">
                @if (!string.IsNullOrEmpty(Model.SalesOfficeAddress1) || !string.IsNullOrEmpty(Model.SalesOfficeAddress2))
                {
                     @string.Join("{0} {1}",Model.SalesOfficeAddress1, Model.SalesOfficeAddress2).Trim()@:,
                }
                @Model.CommunityCity, @Model.State @Model.ZipCode
            </p>
            <p id="nhs_EnvLink">
                @Html.EnvisionDesignLink(Model)
            </p>
            @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber))
            {
                if (!NhsRoute.IsMobileDevice)
                {
                    if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                    {
                        <p id="nhs_LnkPhoneNum">
                            <a class="nhs_PhoneLink" id="nhs_PhoneLink">See phone number and office hours</a>
                        </p>
                        <p id="nhs_FormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.PhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                    }
                    else
                    {
                        <p id="nhs_FormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.TrackingPhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                    }
                }
                else
                {
                    <p id="nhs_FormIPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                        <a href="tel:@Model.PhoneNumber" onclick="@string.Format("$jq.googlepush('Lead Events','{0} – Gallery' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                            @Model.PhoneNumber
                        </a>@Model.HoursOfOperation()
                    </p>
                }
            }
            }
            @{var isPageCommDetail = (Model as ISecondaryInfoViewModel).IsPageCommDetail;}
            <a class="nhs_FormMapLink" href="#Maps" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('@(isPageCommDetail?"Community":"Home") Detail Events', '@(isPageCommDetail?"Community":"Home") - Gallery', 'View on Map'); ">
                @*<img src="@GlobalResourcesMvc.Default.images.icons.map_on_png" alt="Map"
            class="nhs_DetailsMapLink" />*@
                @LanguageHelper.Map
            </a>                
        </div>
    </div>
 }
<div class="nhs_DetailsFormMoreActions">
    @* MORE ACTIONS *@
    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>() && !string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase))
    {
        <div class="nhs_btnWrapper">
            <div id="nhs_RequestAppointmentVWO" class="nhs_RequestForMoreApp">
                <img width="28" src="@GlobalResourcesMvc.Default.images.icons.calendar_png"
                     alt="" />
                @Html.NhsRequestAppModalLink("Request an appointment", "btnCss ", "***", Model, "  ", false)
            </div>
        </div>
    }
    <div id="nhs_NextStepsForm">
        <div class="nhs_NextStepsForm">
            <ul>
                <li class="@(Model.Globals.PartnerLayoutConfig.AmIOnHomeDetailPage || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? "title" : string.Empty)">
                    <strong>
                        @NhsRoute.PartnerId == (int)PartnersConst.Move ? "Get started" : "Next steps"
                    </strong>
                </li>
                <li id="liSaveToPlanner">
                    @*Save To Planner*@
                    @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                    {
                        @Html.Partial(NhsMvc.PartialViews.Views.Common.SaveToPlannerHeart)
                        if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser && NhsRoute.IsBrandPartnerNhsPro)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    }
                </li>
                @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                {
                    if (Model.ShowMortgageLink)
                    {
                        <li>
                            <a href="@Model.MortgagePage" id="MortgageRates" class="MortgageRates">
                                Mortgage
                                Rates
                            </a>
                        </li>
                    }
                    <li>
                        <a href="@Model.CreditScoreLink1" target="_blank" id="CreditScoreLink"
                           class="nhs_CreditScoreLink">Free Credit Score</a>
                    </li>
                }
                @if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    <li class="nhs_SendBrochureToClient @(Model.Globals.PartnerLayoutConfig.AmIOnHomeDetailPage ? " wide": "")">
                        @Html.GetProFreeBrochureLink(Model)
                        @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    </li>
                    <li class="nhs_SendPhoneLink">
                        @(Html.NhsModalWindowLink("Send to phone", Pages.SendToPhone,
                            ModalWindowsConst.SendToPhoneWidth,
                            ModalWindowsConst.SendToPhoneHeight, new List<RouteParam>
                            {
                                (Model as ISecondaryInfoViewModel).IsPageCommDetail
                                    ? new  RouteParam( RouteParams.CommunityId, Model.CommunityId.ToString(), RouteParamType.QueryString)
                                    : (
                                        Model.SpecId > 0
                                            ? new  RouteParam(RouteParams.SpecId, Model.SpecId.ToString(), RouteParamType.QueryString)
                                            : new  RouteParam(RouteParams.PlanId, Model.PlanId.ToString(), RouteParamType.QueryString)
                                        )

                            }, new { title = "Send to phone" }))
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

