﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model HomeDetailViewModel

<div id="nhs_DetailsBuilderLogoAndPrice">
    @{
        var isPageCommDetail = (Model as ISecondaryInfoViewModel).IsPageCommDetail;
    }
    <a href="#Maps" class="nhs_FormMapLink" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('@(isPageCommDetail ? "Community":"Home") Detail Events', '@(isPageCommDetail?"Community":"Home") - Gallery', 'View on Map'); ">
        @*<img src="@GlobalResourcesMvc.Default.images.icons.map_on_png" alt="@LanguageHelper.Map"
            class="nhs_DetailsMapLink" />*@
        @LanguageHelper.Map
    </a>
    @if (Model.ShowBuilderLogo() && Model.IsBilled)
    {
        <div class="nhs_DetailsFormLogo">
            @Html.RenderBuilderLogoLink(Model, false)
        </div>
    }
    <span class="nhs_DetailsHeaderCommunity">
        @Html.NhsLink(Model.CommunityName,RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null)
    </span>
</div>

