﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.ViewModels
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Utility.Common
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@* ADDRESS, PHONE NUMBER AND TIME *@
@if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
{
    <div class="nhs_DetailsFormInfo">
        <p class="nhs_FormTitle">
            <strong>
                @LanguageHelper.Visit.ToMvcHtmlString() @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    ? LanguageHelper.TheSalesCenter.ToMvcHtmlString() : @LanguageHelper.This.ToMvcHtmlString())
                @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                ? MvcHtmlString.Create(string.Empty) : Model.DetailType.ToLower().AppendNewLineTag())
            </strong>
        </p>
        <div class="nhs_FormAddressHours">
             @Html.Partial(NhsMvc.Default.Views.Common.RichSnippets, Model)
            <p id="nhs_EnvLink">
                @Html.EnvisionDesignLink(Model)
            </p>
            @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber))
            {
                if (!NhsRoute.IsMobileDevice)
                {
                    if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                    {
                        <p id="nhs_LnkPhoneNum">
                            <a class="nhs_PhoneLink" id="nhs_PhoneLink">@LanguageHelper.SeePhoneAndOfficeHours.ToMvcHtmlString()</a>
                        </p>
                        <p id="nhs_FormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.PhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                    }
                    else
                    {
                        <p id="nhs_FormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.TrackingPhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                    }
                }
                else
                {
                    <p id="nhs_FormIPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                        <a href="tel:@Model.PhoneNumber" onclick="@string.Format("$jq.googlepush('Lead Events','{0} – Gallery' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                            @Model.PhoneNumber
                        </a>
                        @Model.HoursOfOperation()
                    </p>
                }
            }
            @if (Model.IsPageCommDetail)
            {
                <a href="#Maps" class=" nhs_FormMapLink" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('Community Detail Events','Community - Gallery','View on Map');">
                    @*<img src="@GlobalResourcesMvc.Default.images.icons.map_on_png" alt="Map" class="nhs_DetailsMapLink" />*@
                    @LanguageHelper.Map
                </a>
            }
            else
            {
                <a href="#Maps" class="nhs_FormMapLink" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('Home Detail Events','Home - Gallery','View on Map');">                    
                    @*<img src="@GlobalResourcesMvc.Default.images.icons.map_on_png" alt="Map" class="nhs_DetailsMapLink" />*@
                    @LanguageHelper.Map
                </a>
            }
        </div>
    </div>
}
<div class="nhs_DetailsFormMoreActions">
    @* MORE ACTIONS *@
    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>() && Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower())
    {
        <div class="nhs_btnWrapper">
            <div id="nhs_RequestAppointmentVWO" class="nhs_RequestForMoreApp">
                <img width="28" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs && Model.Globals.PartnerLayoutConfig.AmIOnHomeDetailPage ? Resources.GlobalResourcesMvc.Default.images.icons.calendar_blue_png
                                                                   : Resources.GlobalResourcesMvc.Default.images.icons.calendar_png)" alt="" />
                @Html.NhsRequestAppModalLink(LanguageHelper.RequestAnAppointment, "btnCss", "***", Model, "  ", false)

            </div>
        </div>
    }
    <div id="nhs_NextStepsForm">
        <div class="nhs_NextStepsForm">
            <ul>
                <li class="@(Model.Globals.PartnerLayoutConfig.AmIOnHomeDetailPage || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? "title" : string.Empty)">
                    <strong>
                        @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.GetStarted : LanguageHelper.NextSteps)
                    </strong>
                </li>
                <li id="liSaveToPlanner">
                    @*Save To Planner*@
                    @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                    {
                        @Html.Partial(NhsMvc.PartialViews.Views.Common.SaveToPlannerHeart)
                        if (NhsRoute.IsBrandPartnerNhsPro && UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    }
                </li>
                @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                {
                    if (Model.ShowMortgageLink)
                    {
                        <li>@Html.Raw(Model.AffiliateLinksData.MortageRatesFormArea)</li>
                    }
                    <li>@Html.Raw(Model.AffiliateLinksData.FreeCreditScoreFormArea)</li>
                }
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <li class="nhs_SendBrochureToClient @(Model.Globals.PartnerLayoutConfig.AmIOnHomeDetailPage ? "wide" : string.Empty)">
                        @Html.GetProFreeBrochureLink(Model)
                        @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                        {
                            <span class="nhs_LockIcon"></span>
                        }
                    </li>
                    <li class="nhs_SendPhoneLink">
                        @Html.NhsModalWindowLink(LanguageHelper.SendToPhone, Pages.SendToPhone, ModalWindowsConst.SendToPhoneWidth, ModalWindowsConst.SendToPhoneHeight,
                             new List<RouteParam> {
                                Model.IsPageCommDetail ? new RouteParam(RouteParams. CommunityId, Model. CommunityId, RouteParamType. QueryString)
                                    : (Model.SpecId > 0 ? new RouteParam(RouteParams . SpecId, Model.SpecId, RouteParamType.QueryString)
                                        : new RouteParam (RouteParams. PlanId,Model.PlanId,RouteParamType.QueryString))
                            },
                            new { title = LanguageHelper.SendToPhone })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
