﻿@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model ISecondaryInfoViewModel
<section id="CommunityInfo">
    <div class="nhs_DetailCard clearfix nhs_DetailsInfoSchoolAmenities">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">@LanguageHelper.CommunityInformation.ToMvcHtmlString()</h3>
        </div>
        <div class="nhs_DetailContent">
            <div class="info">
                @*Title*@
                <h3 class="nhs_Title">
                    @Model.CommunityName
                </h3>
                @*Description and free brochure button*@
                <p>
                    @Model.CommunityDescription.ToMvcHtmlString()
                    @if (!string.IsNullOrEmpty(Model.BuilderUrl) && ((BaseViewModel)Model).Globals.PartnerLayoutConfig.PartnerAllowsModals && Model.IsBilled)
                    {
                        <br />
                        @Html.GetBuilderCDLogUrl(Model, false)
                    }
                </p>
                <span @(((IDetailViewModel)Model).PreviewMode ? "id='nhs_FreeBrochureImageLink'" : "") @((string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? "style=display:none" : "")>
                    @if (((IDetailViewModel)Model).PreviewMode)
                    {
                        <div style="height: 100px; width: 100%; position: absolute; z-index: 99999999;"></div>
                    }

                    @Html.GetFreeBrochureLink(Model, string.Format("jQuery.googlepush('Lead Events','{0} - CTA Community Info','Open Form - Free Brochure');", Model.IsPageCommDetail ? "Community" : "Home"), "btn btn_FreeBrochure")

                    @if (NhsRoute.BrandPartnerId == PartnersConst.Pro.ToType<int>() && UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                    {
                        <span class="nhs_LockIcon lock"></span>
                    }
                    @if (((IDetailViewModel)Model).PreviewMode)
                    {
                        <span class="nhs_FreeBrochureImageLink"></span>
                    }
                </span>
            </div>
        </div>
        <div class="nhs_Clear"></div>
        <div class="nhs_BackToTop">
            <a href="#top">
                @LanguageHelper.BackToTop.ToMvcHtmlString()
            </a>
        </div>
    </div>

    <div class="nhs_DetailCard clearfix nhs_DetailsInfoSchoolAmenities" id="SchoolsAndAmenities">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">@LanguageHelper.SchoolsAndAmenities.ToMvcHtmlString()</h3>
        </div>
        <div class="nhs_DetailContent">
            <div class="schoolAmenities">
                <div class="columns">
                    @*Educational*@
                    <div class="schools">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.Educational))
                        @{var schools = Model.Schools.GetSchoolsByDistrict();}
                        @if (schools.Any())
                        {
                            <h4 class="titles">
                                @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Schools : LanguageHelper.AreaSchools)
                            </h4>
                            <div>
                                @foreach (var data in schools)
                                {
                                    <ul>
                                        @*District*@
                                        <li>
                                            @data.Key<ul>
                                                @foreach (var school in data.Where(school => !string.IsNullOrEmpty(school.SchoolName)))
                                                {
                                                    <li>
                                                        @school.SchoolName
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                }
                                <p class="nhsLegalInline">
                                    @LanguageHelper.ActualSchoolsMyVary.ToMvcHtmlString()
                                </p>
                            </div>
                        }
                    </div>
                    @*HealthFitness*@
                    <div class="health">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.HealthAndFitness))
                    </div>
                    @*CommunityServices*@
                    <div class="community">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.CommunityServices))
                    </div>
                </div>
                <div class="columns">
                    @*SocialActivities*@
                    <div class="socials">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.SocialActivities))
                    </div>
                    @*LocalArea*@
                    <div class="localArea">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.LocalArea))
                    </div>
                    <div class="utilities">
                        @*Utilities List*@
                        @{var utils = Model.Utilities.GetUtilities(); }
                        @if (!string.IsNullOrEmpty(utils))
                        {
                            <h4 class="titles">@LanguageHelper.Utilities.ToMvcHtmlString()</h4>
                            @utils.ToMvcHtmlString()
                        }
                    </div>
                </div>
                @if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    <div class="commission">
                        @*Agent commission/policy*@
                        @{
                    var commission = Model.AgentCompensation;
                    var policyLink = Model.AgentPolicyLink;
                    if (Model.IsBilled == false && string.IsNullOrWhiteSpace(commission))
                    {
                        commission = LanguageHelper.ContactTheBuilder;
                    }
                        }
                        <h4 class="titles">@LanguageHelper.AgentCompensation.ToMvcHtmlString()</h4>

                        <div class="pro_DetailCoop clearfix">
                            @if (Model.HasCoop)
                            {
                                <img src="@GlobalResourcesMvc.Pro.images.icons.coop_badge_png"
                                     alt="@LanguageHelper.ConfirmedCoOp" />
                            }
                            @if (Model.HasBuilderPactLink)
                            {
                                <p>
                                    @Html.NhsLink(LanguageHelper.ReadTheBuilderAgentPart1 + "<br /> " + LanguageHelper.ReadTheBulderAgentPart2 + " >", Html.GetActionUrl(NhsMvc.PartialViews.Name,
                                            NhsMvc.PartialViews.ActionNames.ShowBuilderAgentPartnershipPact), new List<RouteParam>()
                                            {
                                                new RouteParam(RouteParams.BuilderId, Model.BuilderId, RouteParamType.QueryString),
                                                new RouteParam(RouteParams.TB_iframe, "true", RouteParamType.QueryString)
                                            }, new
                                            {
                                                @class = "thickbox pro_coOpBuilderPackLink",
                                                title = "Builder-Agent Partnership Pact",
                                                onclick = "jQuery.googlepush('Outbound Links', 'Builder Agent Partnership', 'open modal');"
                                            }, true)
                                </p>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(policyLink))
                        {
                            <ul>
                                <li>
                                    <strong>
                                        @Html.GetAgentPolicyImageLink(Model as ISecondaryInfoViewModel, false)
                                        @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                                        {
                                            <span class="nhs_LockIcon"></span>
                                        }
                                    </strong>
                                </li>
                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(commission))
                        {
                            <ul>
                                <li>
                                    <strong>
                                        @LanguageHelper.Commission.ToMvcHtmlString():
                                    </strong>@commission
                                </li>
                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(Model.AgentCommissionBasis))
                        {
                            <ul>
                                <li>
                                    <strong>
                                        Basis:
                                    </strong>@Model.AgentCommissionBasis
                                </li>
                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(Model.AgentCommissionPayoutTiming))
                        {
                            <ul>
                                <li>
                                    <strong>
                                        Payment Timing:
                                    </strong>@Model.AgentCommissionPayoutTiming
                                </li>
                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(Model.AgentCompensationAdditionalComments))
                        {
                            <ul>
                                <li>
                                    <strong>
                                        Additional Notes:
                                    </strong>@Model.AgentCompensationAdditionalComments
                                </li>
                            </ul>
                        }
                        @if (Model.IsBilled)
                        {

                            @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.Marketing.PartialAgCompensationLead, Model)

                        }
                    </div>
                }

            </div>

        </div>
        <div class="nhs_Clear"></div>
        <div class="nhs_BackToTop">
            <a href="#top">
                @LanguageHelper.BackToTop.ToMvcHtmlString()
            </a>
        </div>
    </div>

    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.FindOutMore)
</section>
