﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="page">
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
    <div class="community-gallery">
        @if (Model.ImagesHomeGallery.Any())
        {
            <div class="title">
                <div class="bl-blue">
                    <h3>@LanguageHelper.HomeGallery.ToMvcHtmlString()</h3>                            
                </div>
                <div class="clr"></div>
            </div>
            <div class="content">
                <div id="GalleryHome">
                    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Gallery, Model.ImagesHomeGallery)
                </div>
            </div>
        }
        <div class="clr">
        </div>
    </div>
    <div id="CommunityDescription" class="about–community">
        <div class="title">
            <div class="bl-blue">
                <h3>@LanguageHelper.CommunityDescription.ToMvcHtmlString()</h3>
            </div>
            <div class="clr"></div>
        </div>
        <div class="bl-grey">
            <div class="content">@Model.GetCommunityDescription</div>
        </div>
    </div>
</div>
@Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
