﻿@using Nhs.Web.UI
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CacheRefresh.ServerCacheList

<div id="refreshCache" style="height: 100%; width: 100%">
    @if (Model.IsAuthorized)
    {
        <div class="container">
            <p>NHS Web UI - Cache Refresh Utility</p>
            <h2>Cache Status</h2>
            <hr>
            <ul>
                <li>Last Refresh:<span>@Model.LastRefresh</span></li>
                <li>Web Server Prefix:<span>@Model.WebServerPrefix</span></li>
                <li>Web Server Num:<span>@Model.WebServerCount</span></li>
            </ul>

            <table border="0" cellspacing="0" cellpadding="0" width="60%">
                <tbody>
                <th>Server</th>
                <th>Url</th>
                <th>Response</th>
                @foreach (var server in Model.CacheList)
                {
                    <tr>
                        <td>
                            @server.SeverName
                        </td>
                        <td>
                            @server.RemoteUrl
                        </td>
                        <td>
                            @server.ServerResponse
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <a href="/util/RefreshAllServers?refresh=yes">Refresh All Servers</a>
        </div>
    }
    else
    {
        <div id="loginModal" style="display: none; text-align: center;">
            <label style="font-weight: bold; font-size: 13px;">Access Code:</label>
            <input style="width: 65%; margin-left: 5px; margin-bottom: 10px;" type="password" id="txtPassword" />
            <br />
            <label class="error">Access code not recognized</label>
            <br />
            <button id="nhs_SubmitCode" style="margin-top: 8px; font-size: 14px; width: 140px;">Request Access</button>
        </div>
    }
</div>

@ResourceCombinerEnum.NHSCDNTOP.GetCrunchedResource()
@ResourceCombinerEnum.KENDOJS.GetCrunchedResource()
@ResourceCombinerEnum.KENDOCSS.GetCrunchedResource()
@if (!Model.IsAuthorized)
{
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var window = jQuery("#loginModal");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    width: "300px",
                    height: "130px",
                    modal: true,
                    resizable: false,
                    draggable: true,
                    title: "Sign In",
                    actions: {},
                    visible: false
                });
            }

            window.data("kendoWindow").center().open();
            jQuery(document).off("keypress").on("keypress", "#txtPassword", function (event) {
                if (event !== null && event !== undefined && event.keyCode === jQuery.ui.keyCode.ENTER) {
                    jQuery("#nhs_SubmitCode").click();
                }
            });

            jQuery(document).off("click").on("click", "#nhs_SubmitCode", function () {
                jQuery(".error").hide();

                jQuery.ajax({
                    url: "@Html.GetActionUrl(NhsMvc.RefreshCache.Name, NhsMvc.RefreshCache.ActionNames.RefreshCache)",
                    type: "POST",
                    cache: false,
                    data: { 'code': jQuery("#txtPassword").val() },
                    success: function (data) {
                       if (data.script) {
                            eval(data.script);
                            return;
                       }

                        jQuery("body").html(data);
                    },
                    error: function() {
                        jQuery(".error").show();
                    }
                });
            });
        });
    </script>
}
<style type="text/css">
    p, th, td, h2, span, body, a, button {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 11px;
    }

    p {
        letter-spacing: 2px;
        color: white;
        background-color: #003366;
        margin: -8px;
        padding: 21px;
        font-size: 24px !important;
    }

    h2 {
        margin-left: 13px;
        color: #003366;
        font-size: 20px;
    }

    li {
        list-style: none;
    }

    table {
        margin-left: 13px;
        margin-bottom: 15px;
        border: 1px solid gray;
    }

    tbody:first-child th {
        background-color: #E0E0E0;
    }

    th, td {
        padding: 7px;
        border: 1px solid gray;
        text-align: center;
    }

    tr:nth-child(3) {
        background-color: #FFFFC0;
    }

    a {
        margin: 13px;
        color: #336699;
    }

    span {
        padding: 3px;
    }

    .k-window-title {
        font-weight: bold;
        font-size: 13px;
    }

    .k-window-titlebar {
        position: absolute;
        width: 100%;
        height: 1.1em;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: .4em 0;
        font-size: 1.2em;
        white-space: nowrap;
        min-height: 16px;
    }

    .k-header {
        background-color: #003366;
        color: white;
    }

    #loginModal {
        background-color: white;
        padding-top: 20px;
    }

    .error {
        color: red;
        font-weight: bold;
        float: right;
        margin-right: 44px;
        display: none;
    }
</style>
