﻿@using Nhs.Web.UI.AppCode.Helper
@model dynamic
    <p class="nhs_LegalText nhs_CommResLegal">
        @LanguageHelper.WhileBuildersDigitalExperience.ToMvcHtmlString()</p>
    <div class="nhs_Clear"></div>

