﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeViewModel
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Extensions
<div id="nhs_HomeFeatured" class="clearfix">
    <div class="clearfix">
        <p>
            Featured communities
            @if (string.IsNullOrWhiteSpace(Model.MarketName) == false)
            {
                @:in <strong>@Model.MarketName</strong>
                <br />                
                @Html.NhsLink("See more homes", Pages.CommunityResults, new List<RouteParam> {
                    new RouteParam(RouteParams.Market, Model.MarketId)}, null)
            }
        </p> 
        @{int index = 1;}
        @foreach (var featuredHome in Model.FeaturedCommunities)
        {            
            <div class="nhs_FeaturedResItem@(index == 3 ? " nhs_Last" : "")">
                <div class="nhs_ItemImages">
                    <a href="#">
                    <img src="@featuredHome.SpotlightThumbnail.FeaturedCommThumbnail()"  @Html.GetFeaturedListingImageLogOnClick(featuredHome, index)  alt="@featuredHome.CommunityName by @featuredHome.Brand.BrandName in @Model.MarketName @featuredHome.State" />
                    
                    </a>
                </div>
                <p>
                    @Html.GetFeaturedListingLink(featuredHome, featuredHome.CommunityName, index)
                </p>
                <div class="nhs_ItemData1">
                    <p>
                        from <strong>@string.Format("{0:C0}", featuredHome.PriceLow) - @string.Format("{0:C0}", featuredHome.PriceHigh)</strong></p>
                </div>
            </div>
            ++index;
        }
    </div>
</div>
