﻿@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<div itemscope itemtype="http://schema.org/@(Model.IsCommunityMultiFamily ? "Residence" : "SingleFamilyResidence")">
    <span itemprop="name" style="display: none">@(Model.IsPageCommDetail ? Model.CommunityName : Model.PlanName)</span>
    <p id="nhs_FormAddress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        @if (Model.IsPageCommDetail)
        {
            if (!string.IsNullOrEmpty(Model.SalesOfficeAddress1) || !string.IsNullOrEmpty(Model.SalesOfficeAddress2))
            {
                <span itemprop="streetAddress">@string.Format("{0} {1}", Model.SalesOfficeAddress1, Model.SalesOfficeAddress2).Trim()</span>@:,
            }

        }
        else
        {
            if (!string.IsNullOrEmpty(Model.HomeAddress1) || !string.IsNullOrEmpty(Model.HomeAddress2))
            {
                <span itemprop="streetAddress">@string.Format("{0} {1}", Model.HomeAddress1, Model.HomeAddress2).Trim()</span>@:,
            }
        }

        <span itemprop="addressLocality">@Model.CommunityCity</span>,
        <span itemprop="addressRegion">@Model.State</span>
        <span itemprop="postalCode">@Model.ZipCode.ToTrimCase()</span>
    </p>
</div>