﻿@model Nhs.Web.UI.AppCode.ViewModels.HotGreenSearchViewModel
@using Nhs.Library.Web.ImageResizer
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants;
@using Nhs.Web.UI.AppCode.Helper
@{
    Layout = null;
}
@{
    var openElement = Model.SpotModel.UseLiInCarousel
        ? @"<li class=""nhs_SpotlightItem"">"
        : @"<div class=""nhs_SpotlightItem"">";

    var closeElemnt = Model.SpotModel.UseLiInCarousel
        ? "</li>"
        : "</div>";    
}
@foreach (var item in Model.SpotModel.SpotList)
{
    @Html.Raw(openElement)
    
    <div class="nhs_ResultThumbBox">
        <div class="nhs_ResultThumb">
        @Html.NhsImageLink(item.CommunityImageThumbnail, RedirectionHelper.GetCommunityDetailPage(), item.ToCommunityDetail(), new ResizeCommands() { Width = 180, Height = 120 })
        </div>
    </div>
    <p>
        @* <div>
            @Html.NhsImageLink(ControlUtil.ResolveResourceUrl("~/globalresourcesmvc/default/images/icons/icon_video.png"), "")
            <br />
        </div>*@ <strong>
            @Html.NhsLink(item.CommunityName, RedirectionHelper.GetCommunityDetailPage(), item.ToCommunityDetail(), new
            {
                onclick = string.Format("jQuery.googlepush('Images', 'Spotlight - {0}', 'Select Images');", (Model.SearchType == "green" ? "Green Search" : "Hot Deals"))
            })
        </strong>
        <br />
        @item.BrandName<br />
        @item.City, @item.State<br />
        @ControlUtil.GetValidPrice(Convert.ToDecimal(item.PriceLow)).Replace("From", LanguageHelper.From).ToMvcHtmlString()
    </p>
    
    @Html.Raw(closeElemnt)
}
