﻿
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SendFriendTemplateViewModel
<table id="nhsEmailAccountCreate" width="100%" height="100%;" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" style="background:#eeeeee;width:100%;">
    <tr><td style="padding:8px;vertical-align:top;">
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background:#fff;width:545px;">
                <tr>
                    <td style="padding:8px;vertical-align:middle;">
                      @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailHeader.html")
                    </td>
                    <td align="right" style="padding:8px;vertical-align:middle;text-align:right;">
                        <img id="img4" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? Resources.GlobalResources14.CNA.images.email.header_friend_gif : Resources.GlobalResources14.Default.images.email.header_friend_gif)" alt="" width="309" style="width:309px;border:0;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:12px;vertical-align:middle;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailSafeSenders.html")
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width="521" border="0" cellspacing="0" cellpadding="0">	
                            <tr>
                                <td style="width:521px;padding:12px;font-family:Arial,Helvetica;font-size:12px;">
	    
                                    <p>@Model.SupportEmail @LanguageHelper.HasSentYouTheFollowingNew.ToMvcHtmlString() @(Model.CommunityId > 0 ? LanguageHelper.Community.ToLower() : LanguageHelper.Home.ToLower()) listing from @Html.NhsLinkLogAndRedirectWithoutJs(Model.SiteName, Pages.Home, LogImpressionConst.EmailSendFriendClickThrough, Model.CommunityId > 0 ? Model.CommunityId.ToString(CultureInfo.InvariantCulture) : Model.Spec.CommunityId.ToString(CultureInfo.InvariantCulture), Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId > 0 ? Model.PlanId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.SpecId > 0 ? Model.SpecId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.CommunityId > 0 ? Model.Community.MarketId.ToString(CultureInfo.InvariantCulture) : Model.Spec.Community.MarketId.ToString(CultureInfo.InvariantCulture), null).</p>
                                    <p style='color:#114981;'><strong>@LanguageHelper.CommentsFromSender.ToMvcHtmlString(): </strong>@Model.LeadComments</p>	       
	                    
                                    @if (Model.CommunityId == 0)
                                    {
                                        <table width="521" bgcolor="#fafafa" border="0" style="border-top:1px solid #ececec;border-bottom:1px solid #ececec;" cellspacing="0" cellpadding="0">
                                            <tr>      
                                                <td rowspan="3" align="center" style="width:120px;text-align:center;vertical-align:top;">
                                                    <a>
                                                        <img id="imgHomeThumbnail" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_75x58_png : GlobalResources14.Default.images.no_photo.no_photos_75x58_png)" width="75" height="58" border="0" style="width:75px;height:58px;border:0;" alt="" />
                                                    </a>            
                                                </td>
                                                <td valign="top" style="padding:5px 0 0 0;font-family:Arial,Helvetica;font-size:12px;">
                                                    <p style="font-size:14px;margin:0 0 3px 0;"><strong>@Html.NhsLinkLogAndRedirectWithoutJs(Model.Spec.PlanName, Pages.HomeDetail, LogImpressionConst.EmailSendFriendClickThrough, string.Empty, string.Empty, Model.PlanId.ToType<string>(), Model.SpecId.ToType<string>(), string.Empty, new { style = "color:#0091da;" })</strong> &nbsp;	
                                                        <strong><span>@Model.Spec.Bedrooms</span>br</strong> <strong><span>@Model.Spec.Bathrooms</span>@LanguageHelper.BathroomAbbreviation.ToMvcHtmlString() </strong><strong><span>@Model.Spec.Garages</span>>@LanguageHelper.GarageAbbreviation.ToMvcHtmlString()</strong></p>
                                                    <span>By @Model.Spec.Community.Brand.BrandName<br />
                                                        @Model.Spec.Community.CommunityName<br />
                                                        @Model.Spec.Community.City, @Model.Spec.Community.StateAbbr @Model.Spec.Community.PostalCode</span>
                                                </td>
                                                <td align="right" valign="top" style="padding:5px 5px 0 5px;font-family:Arial,Helvetica;font-size:12px;">
                                                    <span>@LanguageHelper.From.ToLower().ToMvcHtmlString() @Model.GetFormattedPriceLow()</span>
                                                </td>
                                            </tr>
                                            <tr>		
                                                <td colspan="2">
                                                    <div runat="server" style="display: @(Model.Promotions.Any() ? string.Empty : "none")" id="plhCommSpecialPromo">
                                                        <table border="0" width="100%" cellspacing="0" cellpadding="0"> 
                                                            <tr>
                                                                <td valign="top" width="123" style="padding:5px 5px 5px 0;">
                                                                    <img id="imgSpecialOffer" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" width="123" height="16" style="width:123px;height:16px;border:0;" alt="Special Offer" />
                                                                </td>
                                                                <td valign="middle" style="padding:1px 5px 5px 0;font-family:Arial,Helvetica;font-size:12px;">
                                                                    @foreach (var promo in Model.Promotions)
                                                                    {
                                                                        <div style='border-bottom:1px solid #f16936;width:100%;padding:4px 0 4px 0;'>
                                                                            <strong>@promo.PromoTextShort @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.ReadMore, promo.PromoFlyerUrl, LogImpressionConst.EmailBrochureClickThrough, String.Empty, Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId > 0 ? Model.PlanId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.SpecId > 0 ? Model.SpecId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.Spec.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" }) &nbsp;</strong>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>		
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div style="display: @(Model.Spec.IsHotHome > 0 ? string.Empty : "none")" id="plhHotHomes"> 
                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td valign="top" style="padding: 5px 5px 5px 0;">
                                                                    <img id="imgHotHomes" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" width="72" height="19" border="0" style="width:72px;height:19px;border:0;" alt="@LanguageHelper.HotHome" visible="false" />
                                                                </td>
                                                                <td valign="middle" style="padding:5px 5px 5px 0;font-family:Arial,Helvetica;font-size:12px;">
                                                                    <strong>@Model.Spec.HotHomeTitle</strong>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        <table width="521" bgcolor="#fafafa" border="0" style="border-top:1px solid #ececec;border-bottom:1px solid #ececec;" cellspacing="0" cellpadding="0">
                                            <tr>      
                                                <td rowspan="3" style="width:120px;align: center;vertical-align:top;">                                        
                                                    <a id="lnkCommunityThumbnail">
                                                        <img id="imgCommunityThumbnail" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_75x58_png : GlobalResources14.Default.images.no_photo.no_photos_75x58_png)" width="91" height="70" border="0" style="width:91px;height:70px;border:0;" alt="No photo available" />
                                                    </a>
                                                </td>
                                                <td valign="top" style="padding:5px 0 0 0;font-family:Arial,Helvetica;font-size:12px;">
                                                    <p style="font-size:14px;margin:0 0 3px 0;">
                                                        <strong>@Html.NhsLinkLogAndRedirectWithoutJs(Model.Community.CommunityName, Pages.CommunityDetail, LogImpressionConst.EmailSendFriendClickThrough, Model.CommunityId.ToString(CultureInfo.InvariantCulture), Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId.ToType<string>(), Model.SpecId.ToType<string>(), Model.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" })</strong>
                                                    </p>
                                                    <span>By @Model.Community.Brand.BrandName<br />
                                                        <div id="plhCommAddress">
                                                            @Model.Community.City, @Model.Community.StateAbbr &nbsp;@Model.Community.PostalCode
                                                        </div>
                                                    </span>
                                                </td>
                                                <td align="right" valign="top" style="padding:5px 5px 0 5px;font-family:Arial,Helvetica;font-size:12px;">
                                                    @LanguageHelper.From.ToLower().ToMvcHtmlString() @Model.GetFormattedPriceLow()
                                                </td>
                                            </tr>			                    		
                                            <tr>		
                                                <td colspan="2">
                                                    <div runat="server" style="display: @(Model.Promotions.Any() ? string.Empty : "none")" id="plhCommSpecialPromo">
                                                        <table border="0" width="100%" cellspacing="0" cellpadding="0"> 
                                                            <tr>
                                                                <td valign="top" width="123" style="padding:5px 5px 5px 0;">
                                                                    <img id="imgSpecialOffer" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" width="123" height="16" style="width:123px;height:16px;border:0;" alt="@LanguageHelper.SpecialOffer" />
                                                                </td>
                                                                <td valign="middle" style="padding:1px 5px 5px 0;font-family:Arial,Helvetica;font-size:12px;">
                                                                    @foreach (var promo in Model.Promotions)
                                                                    {
                                                                        <div style='border-bottom:1px solid #f16936;width:100%;padding:4px 0 4px 0;'>
                                                                            <strong>@promo.PromoTextShort @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.ReadMore, promo.PromoFlyerUrl, LogImpressionConst.EmailBrochureClickThrough, Model.CommunityId.ToString(CultureInfo.InvariantCulture), Model.BuilderId.ToString(CultureInfo.InvariantCulture), String.Empty, String.Empty, Model.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" }) &nbsp;</strong>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>		
                                                    </div>
                                                </td>
                                            </tr>
                                            @if (Model.HasHotHomes)
                                            {
                                                <tr>		
                                                    <td colspan="2">                                        
                                                        <div style="display: @(Model.HasHotHomes ? string.Empty : "none")" id="plhCommPlanHotHomes"> 
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td valign="top">
                                                                        <img id="imgPlanHotHomes" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" width="72" height="19" border="0" style="width:72px;height:19px;border:0;" alt="@LanguageHelper.HotHome" visible="false" />
                                                                    </td>
                                                                    <td style="padding:3px 0 0 5px;font-family:Arial,Helvetica;font-size:12px;">
                                                                        <p>
                                                                            <strong>@Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.ReadMore, Model.HotHomeSpec.PlanName, LogImpressionConst.EmailBrochureClickThrough, Model.Community.CommunityId.ToType<string>(), Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId > 0 ? Model.PlanId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.SpecId > 0 ? Model.SpecId.ToString(CultureInfo.InvariantCulture) : String.Empty, Model.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" })</strong> &nbsp;	
                                                                            <strong>@Model.HotHomeSpec.NumBedrooms</strong> <strong>@Model.HotHomeSpec.NumBathrooms @LanguageHelper.BathroomAbbreviation.ToMvcHtmlString() </strong><strong>@Model.HotHomeSpec.NumGarages @LanguageHelper.GarageAbbreviation.ToMvcHtmlString()</strong> <br />@Model.HotHomeSpec.PlanName
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>					                    		
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }

                        
                                    <br />                        
                                    <table width="521" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="width:320px;padding:5px 15px 0 0;border-right:1px dashed #CFD9B7;font-family:Arial,Helvetica;font-size:12px;">
                                                <p style="font-size:14px;margin-top:0;color:#114981;"><strong>@LanguageHelper.MoreNewHomesAreGaitingToBeDiscovered.ToMvcHtmlString()</strong></p>                             
                                                <ul style="margin:0 0 10px 0;padding:0;list-style:none;">
                                                    <li><img id="Img2" src="@GlobalResources14.Default.images.buttons.btn_63_arrow_gif" alt=">" width="10" height="10" style="width:10px;height:10px;border:0;" />&nbsp; @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.View + " " + Model.TotalNumberOfHomes + " " + LanguageHelper.QuickMoveInHomesAvailableNearby, Model.HomeResultsPage(), LogImpressionConst.EmailSendFriendClickThrough, Model.CommunityId.ToString(CultureInfo.InvariantCulture), Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId.ToString(CultureInfo.InvariantCulture), Model.SpecId.ToString(CultureInfo.InvariantCulture), Model.CommunityId > 0 ? Model.Community.MarketId.ToString(CultureInfo.InvariantCulture) : Model.Spec.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" }) </li>
                                                    <li><img id="Img3" src="@GlobalResources14.Default.images.buttons.btn_63_arrow_gif" alt=">" width="10" height="10" style="width:10px;height:10px;border:0;" />&nbsp; @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.ViewAll + " " + Model.TotalNumberOfCommunities + " " + string.Format(LanguageHelper.CommunitiesInTheArea, Model.Community.Market.MarketName), Model.CommunityResultsPage(), LogImpressionConst.EmailSendFriendClickThrough, Model.CommunityId.ToString(CultureInfo.InvariantCulture), Model.BuilderId.ToString(CultureInfo.InvariantCulture), Model.PlanId.ToString(CultureInfo.InvariantCulture), Model.SpecId.ToString(CultureInfo.InvariantCulture), Model.Community.MarketId.ToString(CultureInfo.InvariantCulture), new { style = "color:#0091da;" })</li>
                                                </ul>
                                                <table cellpadding="8" cellspacing="0" bgcolor="#F8E211" style="margin:5px 0 0 0;">
                                                    <tr>
                                                        <td style="padding: 8px 12px;font-family:Arial,Helvetica;font-size:12px;">
                                                            <strong>@Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.SearchNewHomes, Pages.Home, LogImpressionConst.EmailBrochureClickThrough, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, new { style = "color:#0091da;" })</strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div id="divFreeBuyingTips" visible="false">
                                                    <p style="font-size:14px;margin:35px 0 0 0;color:#114981;"><strong>@LanguageHelper.FreeHomebuyingTips.ToMvcHtmlString()</strong></p>
                                                    <p style="margin:0;">@LanguageHelper.GetTheLatestInNewHomeNews.ToMvcHtmlString() <br />
                                                        @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.GetOurNewsletter, Pages.ManageAccount, LogImpressionConst.EmailSendFriendClickThrough, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, new { style = "color:#0091da;" })
                                                    </p>
                                                </div>
                                            </td>
                                            <td style="width:171px;padding:5px 0 0 15px;vertical-align:top;font-family:Arial,Helvetica;font-size:12px;">
                                                <p style="color:#114981;margin:0;"><strong>@LanguageHelper.PowerUpYourHomeSearch.ToMvcHtmlString()</strong></p>
                                                <p style="margin:0;">@LanguageHelper.KeeptTrackOfYourFavorites.ToMvcHtmlString() <br />
                                                    @Html.NhsLinkLogAndRedirectWithoutJs(LanguageHelper.CreateFreeAccount, Pages.Register, LogImpressionConst.EmailBrochureClickThrough, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty, new { style = "color:#0091da;" }) 
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
            	
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img id="Img5" src="@()" alt="" width="545" height="100" style="width:545px;height:100px;" border="0" runat="server" /></td>
                </tr>    
            </table>
            <table width="545" cellpadding="0" cellspacing="0" border="0" style="width:545px;">
                <tr>
                    <td style="padding: 10px; font-family: Arial, Helvetica; font-size: 11px; color: #444444;">
                         @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailFooter.html")
                        @Html.NhsImageLink(Pages.EventLogger + "/" + UrlConst.LogEvent + "-" + LogImpressionConst.OpenEmailSendToFriend + "/" + UrlConst.Email + "-" + Model.FriendEmail, String.Empty, new List<RouteParam>(), new {style = "display:none"}, null, false, false, false, true)
                    </td>
                </tr>
            </table>
        </td></tr>
</table>
