﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesSaveHome
<div id="pro_HomeRow_@(Model.IsPlan ? Model.PlanId : Model.SpecId)" class="nhs_HomeResultsRow">
    <div class="nhs_ResultsThumbBox">
        <img src="@Model.ImagePath" id="imgHomeThumbnail" alt="@Model.Name" />
    </div>
    <div class="nhs_HomeResultsInfo">
        <h3>
            @Html.NhsLink(Model.PlanName, RedirectionHelper.GetHomeDetailPage(Model.SpecId > 0), Model.ToHomeDetail(), new { title = Model.PlanName })
        </h3>
        <p class="nhs_ResultsBuilder">@LanguageHelper.By.ToMvcHtmlString()
                @Model.BrandName</p>
        <p><strong>
                @Model.CommunityName</strong></p>
        <p class="nhs_ResultsAddress">
                @Model.SalesOfficeAddress1</p>        
        <p class="nhs_ResultsCommStatus">
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                if (Model.HasConsumerPromos)
                {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png" alt="@LanguageHelper.ConsumerPromo" />
                }
                if (Model.HasAgentPromos && Model.IsBilled)
                {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png" alt="@LanguageHelper.AgentPromo" />
                }
            }
            else if (Model.SpecialOffer)
            {
                <img src="@Resources.GlobalResources14.Default.images.icons.deals_png" alt="@LanguageHelper.SpecialOffer" />
            }
            @if (Model.HotHome && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <img src="@Resources.GlobalResources14.Default.images.icons.hot_png" alt="@LanguageHelper.HotHome" />
            }
        </p>
    </div>
    <div class="nhs_CommAvailable">
        <div class="nhs_ResultsHomeStatus">
            <p>@Model.StatusIconAlt</p>
            @*<img src="@Model.StatusIcon" alt="@Model.StatusIconAlt" id="imgStatusIcon" />*@
        </div>
        <p class="nhs_ResultsBrBaGr">
            <strong>
                @Model.BedroomsAbbr<abbr title="bathrooms">@LanguageHelper.BedroomAbbreviation.ToMvcHtmlString()</abbr> @Model.BathroomsAbbr<abbr title="bathrooms">@LanguageHelper.BathroomAbbreviation</abbr>
                    @Model.GaragesAbbr<abbr title="garage">@LanguageHelper.GarageAbbreviation</abbr>
</strong>
        </p>
        <p>@Model.DisplaySqFeet <abbr title="square feet">@LanguageHelper.MSG_SQ_FT</abbr></p>
        <p class="nhs_ResultsPrice"><strong>@Model.PriceDisplay</strong></p>            
    </div>
    @if (Model.ShowFreebrochure)
    {
        <div class="nhs_ResultsActions pro_SaveHomeFreeBrochure">
            @Html.GetFreeBrochureLink(Model)
            <input id="@(Model.IsPlan ? Model.PlanId : Model.SpecId)_@(!Model.IsPlan)" class="pro_SavedHomeCheckBox" type="checkbox" /><label for="@(Model.IsPlan ? Model.PlanId : Model.SpecId)_@(!Model.IsPlan)"></label>
        </div>
    }    
    <div class="nhs_Clear">
    </div>
</div>
