﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesSaveComm
<div id="pro_CommRow_@(Model.CommunityId)" class="nhs_CommResultsRow">
    <div class="nhs_ResultsThumbBox">
        <img src="@Model.CommThumbnail" alt="@Model.CommunityName" />
    </div>
    <div class="nhs_CommResultsInfo">
        <h3>
            @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { title = Model.CommunityName })
        </h3>
        <p class="nhs_ResultsBuilder">@Model.BuilderName</p>
        <p>
            <span class="nhs_ResultsAddress">@Model.Address</span></p>
        <p class="nhs_ResultsCommStatus">
            @if (Model.HasVideo)
            {
                @Html.NhsImageLinkLogAndRedirect(string.Format("{0} " + LanguageHelper.Video, Model.CommunityName), GlobalResources14.Default.images.icons.video_png, Model.CommVideo, LogImpressionConst.CommResVideoTour, new { communityId = Model.CommunityId.ToString(), communityName = Model.CommunityName.RemoveSpecialCharacters(), builderId = Model.BuilderId.ToString(), builderName = Model.BuilderName.RemoveSpecialCharacters(), marketId = Model.MarketId.ToString(), marketName = Model.MarketName }, string.Empty, new { target = "_blank" })
            }
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                if (Model.HasConsumerPromos)
                {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png" alt="@LanguageHelper.ConsumerPromo" />
                }
                if (Model.HasAgentPromos && Model.IsBilled)
                {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png" alt="@LanguageHelper.AgentPromo" />
                }
            }
            else if (Model.IsSpecialOffer)
            {
                <img src="@Resources.GlobalResources14.Default.images.icons.deals_png" alt="@LanguageHelper.SpecialOffer" />
            }
            @if (Model.IsSpecialOffer && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <img src="@Resources.GlobalResources14.Default.images.icons.hot_png" alt="@LanguageHelper.HotHome" />
            }
        </p>
    </div>
    @if (!Model.InactiveSavedCommMessage)
    {
        <div class="nhs_CommAvailable">
            <p class="nhs_ResultsPrice">
                @Model.CommPrice
            </p>
            <p>@Model.HomeCount</p>
        </div>
       
        <div class="nhs_ResultsActions pro_SaveCommFreeBrochure">
            @if (Model.ShowFreebrochure)
            {
                if (Model.IsComingSoon)
                {
                @Html.NhsLink(LanguageHelper.ComingSoon, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "btn_ComingSoon" })
                }
                else
                {
                @Html.GetFreeBrochureLink(Model)
                }
                <input id="@(Model.CommunityId)_@(Model.BuilderId)" class="pro_SavedCommCheckBox" type="checkbox" /><label for="@(Model.CommunityId)_@(Model.BuilderId)"></label>
            }
        </div>         
    }
    else
    {
        <div class="nhs_CommAvailable">
            <p class="nhs_ResultsPrice">
                @LanguageHelper.ThisCommunityIsNotLongerAvailable.ToMvcHtmlString()</p>
        </div>
        if (Model.ShowFreebrochure)
        {
        <div class="nhs_ResultsActions pro_SaveCommFreeBrochure">
            @if (Model.IsComingSoon)
            { 
                @Html.NhsLink(LanguageHelper.ComingSoon, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "btn_ComingSoon" })
            }
            <input id="@(Model.CommunityId)_@(Model.BuilderId)" class="pro_SavedCommCheckBox" type="checkbox" />
            <label for="@(Model.CommunityId)_@(Model.BuilderId)">
            </label>
        </div>
        }
    }    
    <div class="nhs_Clear">
    </div>
</div>
