﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.MyAccountHeaderAndTabsViewModel

<div class="nhs_SavedHeader clearfix">
    <h2>
        @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? LanguageHelper.SavedPropertiesAndAlerts + Model.FirstName : Model.FirstName + LanguageHelper.SavedPropertiesAndAlerts)
        @* If I am in the search alert tag then the span for the error messages has to be added *@
        @if (!Model.IsMySavedPropertiesTabActive)
        {
            <span id="searchAlertMessages"></span>
        }
    </h2>
    <p>
        @Html.NhsModalWindowLink(LanguageHelper.UpdateMyAccount, Pages.ManageAccount, 740, 450, new List<RouteParam>(), null, false)
        <span>
            (@LanguageHelper.Not @Model.FirstName @Model.LastName?
            @Html.NhsLink(LanguageHelper.ClickHere, NhsMvc.Account.ActionNames.LogOut, new List<RouteParam>(), null))
        </span>
    </p>
</div>
<div class="nhs_SavedTabBar">
    <p class="nhs_Reader">
        @LanguageHelper.SavedPropertiesNavigation.ToMvcHtmlString()
    </p>
    <div>
        <ul class="nhs_Tabs">
            @if (Model.IsMySavedPropertiesTabActive)
            {
                <li class="nhs_Selected"><a href="#">@LanguageHelper.MySavedProperties.ToMvcHtmlString()</a></li>
                <li>
                    @Html.NhsLink(LanguageHelper.MySavedSearchAlerts, "savedhomes/view-searchalerts", new List<RouteParam>(), null)
                </li>
            }
            else
            {
                <li>
                @Html.NhsLink(LanguageHelper.MySavedProperties, Pages.SavedHomes, new List<RouteParam>(), null)
                </li>
                <li class="nhs_Selected">
                    <a href="#">@LanguageHelper.MySavedSearchAlerts</a>
                </li>
            }
        </ul>
        <p>
            <strong>
                @* The user is able to add up to 5 Search Alerts *@
                @if (Model.SearchAlertNumber < 5)
                {
                    @Html.NhsModalWindowLink(LanguageHelper.AddASearchAlert, Pages.CreateAlertModal, ModalWindowsConst.CreateAlertModalWidth, ModalWindowsConst.CreateAlertModalHeight, new List<RouteParam>(), new Dictionary<string, object> { { "id", "addSearchAlertLink" }, { "data-hidetitle","true" } }, false, false)
                }
                else
                {
                    <a href="#" id="addSearchAlertLink">@LanguageHelper.AddASearchAlert.ToMvcHtmlString()</a>
                }
            </strong>
        </p>
    </div>
</div>
