﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SavePropertiesViewModel
<div class="nhs_CRM_FavoritesHead" id="divSavedHomeNum">
    <h3 class="nhs_TabSaved" id="pro_homefavorite">@string.Format(LanguageHelper.Homes + ": {0} " + LanguageHelper.SavedPluralFemale, Model.NumberOfSavedHomes).ToMvcHtmlString()</h3>
    @if (Model.FavoritesSaveHome.Any())
    {
        <p class="nhs_TabsRemove" id="nhs_TabsRemoveHome">
            <label for="pro_SelectAllHome" style="cursor:pointer">
                @LanguageHelper.SelectAll.ToMvcHtmlString()
            </label>
            <input id="pro_SelectAllHome" type="checkbox" />
        </p>
    }
    <div class="nhs_Clear">
    </div>
</div>
@if (Model.FavoritesSaveHome.Any())
{
    foreach (var saveHome in Model.FavoritesSaveHome)
    {
        Html.RenderPartial(NhsMvc.Default.Views.MyAccount.FavoritesHome, saveHome);
    }
    <div class="nhs_Clear">
    </div>
    <div class="nhs_SavedRemoveLink" id="pro_SavedHomeRemove">
        <p>
            <a id="pro_SavedHomeRemoveLink" style="cursor: pointer"><strong>@LanguageHelper.RemoveSelectedItems</strong></a></p>
        <div class="nhs_Clear">
        </div>
    </div>
}
else
{
    <br />
}
<div class="nhs_Clear">
</div>
<div class="nhs_CRM_FavoritesHead">
    <h3 class="nhs_TabSaved" id="pro_commfavorite">
        @string.Format(LanguageHelper.Communities + ": {0} " + LanguageHelper.SavedPluralFemale, Model.NumberOfSavedComms).ToMvcHtmlString()
    </h3>
    @if (Model.FavoritesSaveComm.Any())
    {
        <p class="nhs_TabsRemove" id="nhs_TabsRemoveCom">
            <label for="pro_SelectAllCom" style="cursor:pointer">
                @LanguageHelper.SelectAll.ToMvcHtmlString()
            </label>
            <input id="pro_SelectAllCom" type="checkbox" />
        </p>
    }
    <div class="nhs_Clear">
    </div>
</div>
@if (Model.FavoritesSaveComm.Any())
{
    foreach (var commSave in Model.FavoritesSaveComm)
    {
        Html.RenderPartial(NhsMvc.Default.Views.MyAccount.FavoritesCommunity, commSave);
    }
    <div class="nhs_Clear">
    </div>
    <div class="nhs_SavedRemoveLink" id="pro_SavedCommRemove">
        <p>
            <a id="pro_SavedCommRemoveLink" style="cursor:pointer"><strong>@LanguageHelper.RemoveSelectedItems.ToMvcHtmlString()</strong></a></p>
        <div class="nhs_Clear">
        </div>
    </div>
    
}
<div id="nhs_Loading">
    <p>
        <strong>@LanguageHelper.Loading.ToMvcHtmlString()...</strong>
    </p>
</div>