﻿/* ---------------------------------------------
Title:      Realtor Button Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jan 26 2011 
----------------------------------------------- */

.btn_FreeBrochureAlt,
#nhs_PartnerContainer .btn_FreeBrochureAlt {
    margin: 0;
	padding: 29px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
    	
	width: 126px;
	height: 0;
	background: transparent url(/globalresourcesmvc/defaultrealtor/images/buttons/contact_agent_alt.png) no-repeat center top;
	}
.btn_FreeBrochure,
#nhs_PartnerContainer .btn_FreeBrochure {	
	width: 166px;
	height: 38px;
	background: transparent url(/globalresourcesmvc/defaultrealtor/images/buttons/contact_agent.png) no-repeat center top;
	margin-left: 25%;
	}
