﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@if (Model.Schools.Any())
{
    <div id="school" class="local-amenities">
        <div class="content">
            <div class="bl-grey">
                <div class="row-title">
                    @LanguageHelper.Schools.ToMvcHtmlString()
                </div> 
                <div class="schools">                                       
                    @{var schools = Model.Schools.GetSchoolsByDistrict();}
                    @if (schools.Any())
                    {                            
                        foreach (var data in schools)
                        {
                            <div class="column-wrapper">                                
                                <h4 class="titles">@data.Key</h4>
                                <ul>
                                    @foreach (var school in data.Where(school => !string.IsNullOrEmpty(school.SchoolName)))
                                    {
                                        <li>
                                            @school.SchoolName
                                        </li>
                                    }
                                </ul>                                    
                            </div>
                        }                            
                    } 
                    <div class="clr"></div>                   
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
}
@{ var amenitiesCommunity = Html.GetAmenitiesCommunity(Model); }
@if (amenitiesCommunity.Any())
{
    <div id="Community" class="local-amenities">
        <div class="content">
            <div class="bl-grey">
                <div class="row-title">
                    @LanguageHelper.Community.ToMvcHtmlString()
                </div>
                <div class="community">                    
                    @foreach (var amenities in amenitiesCommunity)
                    {             
                        <div class="column-wrapper">              
                            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.AmenityInfo, amenities)                           
                        </div>
                    }  
                    <div class="clr"></div>                  
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
}
@{ var utils = Model.Utilities.GetUtilities(); }
@if (!string.IsNullOrEmpty(utils))
{
    <div id="Utilities" class="local-amenities">
        <div class="content">
            <div class="bl-grey">
                <div class="row-title">
                    @LanguageHelper.Utilities.ToMvcHtmlString()
                </div>
                <div class="utilities">
                    <div class="column-wrapper">
                        @MvcHtmlString.Create(utils)
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
}