﻿@model Nhs.Web.UI.AppCode.ViewModels.AmenitiesViewModel
@using Nhs.Mvc.Domain.Model.Web.Interfaces
@using Nhs.Web.UI.AppCode.Extensions
@if (Model.OpenAmenitiesByGroup.Count > 0 || Model.CommAmenitiesByGroup.Count > 0)
{
    if (Model.DisplayHeader)
    {
    @MvcHtmlString.Create(Model.AmenityGroupHeader) 
    }
    <ul>
        @foreach (var amenity in Model.OpenAmenitiesByGroup)
        {
            <li>@Html.AmenityLink(amenity) </li>
        }
        @foreach (var amenity in Model.CommAmenitiesByGroup)
        {
            <li>@MvcHtmlString.Create(amenity.Description)</li>
        }
    </ul>
}
