﻿@model IEnumerable<Nhs.Mvc.Biz.Services.Concrete.MediaPlayerObject>
<ul class="thumbs">
    @foreach (var image in Model)
    {
        <li>
            <div class="img-box">@Html.GetImage(image)</div>
            @if (string.IsNullOrWhiteSpace(image.Caption) == false || string.IsNullOrWhiteSpace(image.Title) == false)
            {
                <div class="info-box">
                    <div class="bl-grey">
                        @if (string.IsNullOrWhiteSpace(image.Title) == false)
                        {
                            <p class="galery-image-title">@MvcHtmlString.Create(image.Title.Length > 50 ? image.Title.Substring(0, 50) : image.Title)</p>
                        }
                        @if (string.IsNullOrWhiteSpace(image.Caption) == false)
                        {
                            <p>@MvcHtmlString.Create(image.Caption.Length > 100 ? image.Caption.Substring(0, 100) : image.Caption)</p>
                        }                             
                    </div>
                    <div class="clr"></div>
                </div>
            }
        </li>
    }
</ul>
