﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PRO Redesign</title>
</head>
<body>
    <div>
        <h1>Pro Redesign from scratch!</h1>
    </div>
</body>
</html>
