
.nhs_ModalBox {
    font-family: Verdana,Arial,sans-serif;
}
#nhs_ModalRequest, 
#nhs_ModalThanks,
.nhs_ModalBox1 {
    background: #525b68;
}
#nhs_ModalRecoms {
    background: #dfe1e7;
}

.nhs_ModalBox1 > h1 {
    font-family: Verdana,Arial,sans-serif;
}
.nhs_ModalBox1 > h1 span strong,
.nhs_ModalBox1 > h1 span strong span {
    color: #67ad45;
}
.nhs_ModalBoxLeft p.nhs_Brochure {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #3e96da;    
}
.nhs_ModalBoxLeft h1 {
    font-family: Verdana,Arial,sans-serif;
    color: #848992;
    font-weight: bold;    
}
.nhs_ModalBoxLeft h2 {
    font-family: Verdana,Arial,sans-serif;
    color: #848992;
}
.nhs_ModalBoxRight > p {
    font-size: 17px;
    font-size: 1.05rem;    
}
.nhs_AccountTeaser p strong {
    color: #67ad45;    
}

.nhs_RecomsItem h2,
.nhs_RecomsItem p {
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    color: #848992; 
}
.nhs_RecomsItem h3 {
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    color: #c6ccd2;    
}

#nhs_ModalThanks .nhs_ModalBoxLeft h1 {
    color: #67ad45;
    font-size: 40px;
    font-size: 2.45rem;
}

.nhs_ModalBox .btnCss,
.nhs_ModalBox a.btnCss {
    padding: 12px 15px;
	color: #fff !important;
	background: #67ad45;
}
.nhs_ModalBox .btnCss:hover {
	text-decoration: none;
	background-color: #67ad45;
}
.nhs_ModalBox .btnCss[disabled=disabled],
.nhs_ModalBox .btnCss[disabled=disabled]:hover {
    padding: 12px 40px 12px 8px;    
    cursor: default;
    color: #4b4b4b !important;
    background-color: #fff;
    background-image: url(/globalresources14/default/images/icons/count_loader.gif);
    background-repeat: no-repeat;
	background-position: 96% 50%; 
	text-align: left;
}
.btnCss#nhs_Skip {
    background: transparent;
    color: #525b68 !important;
    margin-left: 10px;
    padding: 11px 35px;
    border: 1px solid #848992;    
}

.nhs_ModalBoxRight fieldset .nhs_ErrorLabel {
    color: #d92632;
    text-shadow: 0 0 8px #000;
    font-size: 13px;
    font-weight: bold !important;
}

/*Sign In*/

.nhs_ModalLoginHeader {background: #525b68;}

.nhs_ModalLoginHeader > div > p {color: #fff;}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderRecover {
    width: auto;
    background-image: url('/globalresources14/move/images/icons/user_circle.png');
}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderSignIn {
    background-image: url('/globalresources14/move/images/icons/sign_in_circle.png');
}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderAccount {
    background-image: url('/globalresources14/move/images/icons/user_circle.png');
}

.nhs_ModalAccount > a:first-child {
    background: url(/globalresources14/default/images/icons/x_close.png) no-repeat 0 0;
}
