
#nhs_HomeSearch {
	width: 100%;
	min-height: 666px;
	background-color: #525b68;
	background-image: url(/globalresources14/move/images/homepage/search_background.jpg);
	background-size: auto 666px;
	background-repeat: repeat-x;
	background-position: center top;
}
#nhs_HomeSearchForm {
	/*width: 100%;
	max-width: 960px;*/
	width: 960px;
	margin: 200px auto 0 auto;
	position: relative;
}

#nhs_HomeSearchLocation .field-validation-error {
    /*background: none repeat scroll 0 0 #D92632;*/
    color: #3e96da;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 6px 2%;
    position: absolute;
    top: 45px;
    width: 90%;
}

#nhs_HomeSearchForm > #nhs_HomeSearchLocation {
	position: relative;
	z-index: 999;
	background: #525b68;	
	box-shadow: 5px 5px 0 0 #424953 inset;
	
	width: 93.125%; /*894/960*/
	max-width: 894px;
	padding: 50px 3.488372093023256%;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
	line-height: 2;
}
#nhs_HomeSearchForm > #nhs_HomeSearchLocation > div {
	float: left;
	width: 31.25%; /*250/800*/
}
#nhs_HomeSearchForm > #nhs_HomeSearchLocation > div:first-child {
	float: left;
	width: 65.625%; /*525/800*/
	margin-right: 3.125%; /*25/800*/
}
#nhs_HomeSearchForm h1 {
	margin: 0;
	padding: 0 0 40px 0;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 48px;
	font-size: 3rem;
	color: #fff;
	line-height: 0.9;
}
#nhs_HomeSearchForm h1 > span {
    color: #67ad45;
}
#nhs_HomeSearchForm fieldset {
	position: relative;
}
#nhs_HomeSearchForm  input[type='text'] {
	width: 68%;
	margin: 2px 0 0 0;
	padding: 9px 2% 8px 2%;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 3px 4px 4px 0 #aaa;
	font-size: 18px;
	font-size: 1.125rem;
	color: #525b68;
}
#nhs_HomeSearchForm input[type='submit'] {	
	background-color: #3e96da;
	font-weight: bold;
	font-size: 17px;
	font-size: 1.05rem;
	height: 39px;
	padding: 10px 8px;
}

/* Search Options
-------------------------*/
#nhs_HomeSearchOptions {
	position: relative;
	width: 100%;
	min-height: 45px;
	padding: 20px 0 30px 0;
	background: #313845;
	border: 5px solid #282D38;
	border-width: 5px 0 0 0;
	box-shadow: inset 5px 0 0 0 #282D38;
	display: none;
}
#nhs_HomeSearchOptions > fieldset {
	float: left;
	width: 28%;
	padding-left: 5.333333333%;
	border-left: 1px solid #848992;
	margin-left: -1px;
	display: none;
}
#nhs_HomeSearchOptions > fieldset:first-child {
    border-left: 0;
    margin-left: 0;
}
#nhs_HomeSearchOptions > fieldset legend {
	font-size: 12px;
	font-size: 0.75rem;
	margin-bottom: 2px;
	color: #67ad45;
}
#nhs_HomeSearchOptions>fieldset:first-child legend {
    margin-bottom: -16px;
}
#nhs_HomeSearchOptions > fieldset > p {
	float: left;
	margin: 3px 0 0 0;
	text-align: right;
	font-size: 10px;
	font-size: 0.7rem;
	color: #fff;
}
#nhs_HomeSearchOptions > fieldset > p.nhs_Last {
	float: left;
	text-align: right;	
	margin-left: 3px;
}
#nhs_HomeSearchOptions > fieldset > p > label {	
	color: #67ad45;
}
#nhs_HomeSearchOptions>fieldset:first-child>p>label {
    padding-right: 12px;
}
.nhs_Last>label {
    padding-right: 0!important;
}

#nhs_HomeSearchOptions input[type=text] {
	width: 96px;
	padding: 5px 4px 4px 4px;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	font-size: 12px;
	font-size: 0.75rem;
	color: #5f636a;
}
#nhs_HomeSearchOptions input[type=text]#PriceHigh {
	text-align: right;
}
#nhs_HomeSearchOptions input[type=radio] + label {
	margin-right: 3px;
	padding: 4px 8px;
}
#nhs_HomeSearchOptions input[type=radio] + label {
    display: inline-block;
    margin-right: 3px;
	padding: 4px 8px;
	background: transparent;
	font-size: 11px;
	font-size: 0.7rem;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
#nhs_HomeSearchOptions input[type=radio]:checked + label {
	background: #3e96da;
	color: #fff;
}
#nhs_HomeSearchOptions input[type=radio] {
	position: absolute;
	left: -9999999px;
}

/* Content CMS
---------------------------------*/
#nhs_HomeContentTeaser {
	width: 98%;
	max-width: 960px;
	min-height: 100px;
	margin: 0 auto 0 auto;
	padding: 60px 0 60px 0;
}
#nhs_HomeContentTeaser > nav > ul {
    float: left;
	width: 100%; 
	margin: 0;
	padding: 0;
	list-style: none;
}
#nhs_HomeContentTeaser > nav > ul > li { 
	float: left;
	width: 33.333333333%;
	min-width: 110px;
	border: 0px solid #fff;
	text-align: center;
    font-family: Verdana,Helvetica,sans-serif;
    color: #525b68;
}
#nhs_HomeContentTeaser > nav > ul > li:first-child {
}
#nhs_HomeContentTeaser > nav > ul > li > a { 
    text-align: center;
	
	font-family: Verdana,Helvetica,sans-serif;
    font-size: 16px;
	font-size: 1rem;	
	color: #fff;	
	line-height: 1.2;
}
#nhs_HomeContentTeaser > nav > ul > li > a > img {	
	/*border-radius: 50%;
	max-width: 100px;*/
	margin-bottom: 12px;
}
#nhs_HomeContentTeaser > nav > ul > li > a > span {

}
#nhs_HomeContentTeaser > nav > ul > li > a > span strong:first-child {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 28px;
	font-size: 1.7rem;
	font-weight: normal;
	color: #525b68;
	line-height: 0.8;
}

/* Featured Homes
-------------------------*/
#nhs_HomeFeatured {
	width: 100%;
	background: #dfe1e7;
	padding: 80px 0; 
}
#nhs_HomeFeatured > div {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;	
	font-family: Verdana,Helvetica,sans-serif;
}

#nhs_HomeFeatured > div > p {
    font-size: 36px;
    font-size: 2.25rem;   
    line-height: 0.9;
    margin: 0 0 40px 0; 
    padding: 0 0 0 40px;
    background-size: 25px 48px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/backgrounds/map_poi_helper.png);
	min-height: 48px;
}
#nhs_HomeFeatured > div > p strong {
     color: #67ad45;
}
#nhs_HomeFeatured > div > p a { 
    font-size: 22px;
    font-size: 1.4rem;
}

#nhs_HomeFeatured .nhs_FeaturedResItem {
    float: left;
    width: 30.83333333333333%; /*296/960*/ 
    max-width: 296px; 
    padding: 0 3.645833333333333% 0 0; /*35/960*/
    font-family: Verdana,Helvetica,sans-serif;
    color: #525b68;
}
#nhs_HomeFeatured .nhs_FeaturedResItem.nhs_Last {
    padding: 0;
}
#nhs_HomeFeatured .nhs_FeaturedResItem > p:first-of-type {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.1;  
    margin: 10px 0 6px 0;
    padding-left: 3.378378378378378%;   
}
#nhs_HomeFeatured .nhs_FeaturedResItem div > p {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0;
    padding-left: 3.378378378378378%;    
}
#nhs_HomeFeatured .nhs_FeaturedResItem div > p strong {
    font-size: 16px;
    font-size: 1rem;    
}
.nhs_FeaturedResItem > .nhs_ItemImages {
	background: #fff; 
	padding: 3.378378378378378%; /*10/296*/
	box-shadow: 3px 3px 0 #B2B5B9;
	text-align: center;
	min-height: 184px;
}

/* Builder Logos
-------------------------*/
#nhs_HomeBuilders {
	width: 100%;
	background: #fff;
	padding: 110px 0;
	border-bottom: 5px solid #67ad45; 
}
#nhs_HomeBuilders > div {
	display: block;
	width: 100%;
	/*max-width: 960px;*/
	margin: 0 auto;
	padding: 0;	
}
#nhs_HomeBuilders > div > p {
	width: 96%;
	margin: 0 auto;
	padding: 0 0 30px 0;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 28px;
	font-size: 1.75rem;
	color: #848992;
	text-align: center;
	line-height: 1.2;
}
#nhs_HomeBuilders > div ul {
	display: block;	
	background: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;	
	position: relative;
}
#nhs_HomeBuilders > div ul li {
	float: left;
	display: block;
	width: 18.95833333333333%; /*182/960*/
	/*max-width: 182px;*/
	height: 68px;
	line-height: 68px;
	margin: 10px 0.5208333333333333%; /*5/960*/
	padding: 0; /*5/960*/
	text-align: center;
	vertical-align: middle;
	background: #fff;
}
#nhs_HomeBuilders > div img {
	max-height: 60px;	
}

.ui-autocomplete {
    border: 1px solid #848992;
    font-size: 18px;
    font-size: 1.125rem;
    color: #848992;   
}
.ui-autocomplete li a {
	color: #848992; 
	}
.ui-autocomplete li a span {
    font-size: 12px;
    font-size: 0.75rem;     
}
