
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
	font-family: Arial,Helvetica,sans-serif;
    color: #5f636a;
}  
a, 
a:link,
a:visited,
a:active,
a:hover {
	color: #3e96da;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
}

#mv_Header_wrapper,
#mv_SectionMain,
#nhs_FooterWrapper {
    min-width: 961px;    
}

#nhs_Loading,
.nhs_Loading {
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    width: 138px;
    height: 0;
    margin: -69px 0 0 -69px;
    padding: 138px 0 0 0;
    z-index: 100000000;
    overflow: hidden; 
    border: 0;    
    background: transparent url(/globalresources14/move/images/icons/move_loader.gif) no-repeat 50% 50%;
    box-shadow: none;
    }

.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    background: #67ad45;    
    color: #fff !important;
}

.nhs_MapCard .nhs_MatchCount {
    background: #c6ccd2;
    color: #fff;
}    
.nhs_MapCard ul.nhs_Actions li a.btnCss {
    color: #fff !important;
	/*width: 100px;*/	
	font-family: Arial,Helvetica,sans-serif;
} 
.nhs_MapCard ul.nhs_Actions li a.btn_FreeBrochure {
	border: 1px solid #67ad45;
	background: #67ad45;	
}