
/*======== FACETS =========*/
#mv_ResFacetBar {
    width: 100%;
    background: #67ad45;
    }
#nhs_ResFacets {
	background: #67ad45;
	margin: 0 auto;
	padding-top: 3px;
	padding-bottom: 6px;
}
#nhs_ResFacets > div {
	border-left: 1px solid #fff;
	margin-left: -1px;
	padding-top: 0;
	padding-bottom: 3px;
}
#nhs_ResFacets > div > div:first-child > p {
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: bold;
	color: #313845;
}
#nhs_ResFacets > div > div:first-child > ul li span:first-child,
#nhs_ResFacets > div.nhs_Hover > div:first-child > ul > li > span:first-child
#nhs_ResFacets > div.nhs_Active > div:first-child > ul > li > span:first-child {
	color: #525b68;
}
#nhs_ResFacets > div.nhs_Hover,
#nhs_ResFacets > div.nhs_Active {	
	background: #313845;
	/*border-left: 3px solid #67ad45;*/
}
#nhs_ResFacets > div.nhs_Active + div {
    /*border-left: 3px solid #313845;*/
}
#nhs_ResFacets > div > div:after  {
	border-right: 9px solid #525b68;	
	border-top: 9px solid transparent;
}
#nhs_ResFacets > div.nhs_Hover > div:after  {	
	border-right: 9px solid #3e96da;	
	border-top: 9px solid transparent;
}	
#nhs_ResFacets > div.nhs_Hover > div:first-child > p,
#nhs_ResFacets > div.nhs_Active > div:first-child > p {
	color: #67ad45;
}
#nhs_ResFacets > div > div:first-child > ul,
#nhs_ResFacets > div > div:first-child > a {
    color: #fff;    
}
#nhs_ResFacets > div.nhs_Hover > div:first-child > ul > li > span,
#nhs_ResFacets > div.nhs_Active > div:first-child > ul > li > span {
	color: #67ad45;
}
#nhs_ResFacets > div > .nhs_FacetBox {	
	background: #313845;	
	color: #5f636a;	
	margin-top: 3px;
}
#nhs_ResFacets > div > .nhs_FacetBox a:hover,
#nhs_ResFacets > div > .nhs_FacetBox .nhs_Active {
	color: #67ad45;
}
#nhs_ResFacets > div > .nhs_FacetBox fieldset legend,
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetBoxCol > p {
    color: #67ad45;
}
#nhs_ResFacets > div > .nhs_FacetBox  .nhs_FacetActions a.btnCss {
	background: #3e96da;
}
#nhs_ResFacets > div > .nhs_FacetBox  .nhs_FacetActions a:hover {
	background: #3e96da;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetCounts {
	background: #525b68;
	color: #fff;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetCounts span {
	color: #313845;
}
#nhs_ResFacets .ui-slider {
	box-shadow: inset 1px 2px 0 0 #525b68;
	background: #c6ccd2;
}
#nhs_ResFacets .ui-slider-horizontal .ui-slider-range {
	background: #3e96da;	
	box-shadow: inset 1px 2px 0 0 #525b68;
}
#nhs_ResFacets .ui-slider-horizontal .ui-slider-range-min {
	background: #0091da;	
	box-shadow: inset 1px 2px 0 0 #525b68;
}
#nhs_ResFacets .ui-slider .ui-slider-handle {	
	border: 1px solid #313845;
	box-shadow: 2px 1px 0 0 #525b68;
}

div#nhs_FacetLocation > .nhs_FacetBox fieldset > p#DistanceSet {
	color: #67ad45;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset > p > label {	
	color: #67ad45;
}

/* Facets - Radios and Checkboxes
-----------------------------*/
.nhs_FacetBox input[type=radio] + label {	
	background: transparent;
	color: #fff;
}
.nhs_FacetBox input[type=radio] + label:hover, 
.nhs_FacetBox input[type=radio]:checked + label {
	background: #3e96da;
	color: #fff;
}
.nhs_FacetBox input[type=checkbox] + label:before {
    background: #fff;    
	background: #5f636a;
	box-shadow: inset 0 2px 0 0 #343741;
}
.nhs_FacetBox input[type=checkbox]:checked + label span {
	color: #ffce34;
}
.nhs_FacetBox input[type=checkbox]:checked + label:before {	
    background-color: #5f636a;
	background-image: url(/globalresources14/default/images/icons/selected_star@2x.png);
	box-shadow: inset 0 2px 0 0 #343741;
}

/*======== BREADCRUMBS =========*/
#mv_CrumbsBar {
    width: 100%;    
    background: #b1ce98;
    margin-bottom: 10px;
}
#nhs_Crumbs {
    margin: 0 auto;
    background: none;    
}
#nhs_Crumbs nav > ol {	
	padding: 0 0.8333333333333333%;
}
#nhs_Crumbs nav > ol li a {
	color: #67ad45;
}
#nhs_Crumbs nav > ol li:before {	
	color: #67ad45;
}
#nhs_ClearFacets a {
    color: #67ad45;
}

/*======== MARKET INFO - MINI MAP - TEXT =========*/
#nhs_ResMarketInfo {
	background-color: transparent;
	min-height: 0;
}
#mv_ResMktHeader {
    width: 100%;
    padding: 0 0 10px 0;
    font-family: Verdana,Helvetica,sans-serif;
    color: #525b68;
    }
#mv_ResMktHeader > h1 {
    float: left;
    display: inline; 
    margin: 0;
    padding: 0;   
} 
#mv_ResMktHeader h1 > strong {
	color: #67ad45;
}
#mv_ResMktHeader > p {
    float: left;
    display: inline; 
    margin: 0;
    padding: 10px 0 0 10px;   
} 
#mv_ResMktHeader > p a {
    color: #525b68;
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
#mv_ResMktHeader > p a:after {
    content: "";
	position: absolute;
	top: 7px;
	right: 0;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	
	border-top: 6px solid #3e96da;
}
#mv_ResMktHeader > p a.nhs_Active:after {
    border-top: 0;
    border-bottom: 6px solid #3e96da;
}
#mv_ResMktHeader > ul {
    float: right;
    display: inline; 
    margin: 0;
    padding: 0;   
}   
   
#nhs_ResMktTxt {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    font-family: Verdana,Helvetica,sans-serif;
    color: #525b68;
    background: transparent;
}
#nhs_ResMktTxt > div {
    width: auto;
	height: auto;
	padding: 0 0 10px 0;
	overflow: visible;
}
#nhs_ResMktTxt > div a {
	color: #67ad45;
	text-decoration: underline;
}
#nhs_ResMktMap {
    float: left; 
    margin: 0 12px 12px 0;   
}
#nhs_ResMktMap img {
	float: left;
	width: 275px;
	height: auto;		
}

/*======== MAP - ADS =========*/

#nhs_ResMap > aside {
	background: transparent;
	position: relative;
}
#nhs_ResMap > aside > p {
	float: none;
	width: auto;
	padding: 10px 18px 10px 35px;
	background-color: #313845;
	color: #fff;
	background-size: 12px 24px;
	background-position: 18px 50%;
	position: absolute;
	top: -34px;
}
#nhs_ResMap > aside > ul,
#nhs_ResMap > aside > ul.nhs_ResMapWithAd {
	float: none;
	display: inline-block;
	width: auto;
	min-height: 0;
	padding: 3px 18px 6px 6px;
	background-color: #313845;
	color: #fff;
	position: absolute;
	top: -34px;
}
#nhs_ResMap > aside > ul li,
#nhs_ResMap > aside > ul.nhs_ResMapWithAd li {
	float: left;
	margin: 5px 0 0 12px;
	padding: 2px 0 5px 19px;
}
#nhs_ResMap > aside > ul li#liMap_Msg1 {
    background-image: url(/globalresources14/move/images/icons/location.png);
}
#nhs_ResMap > aside > div.nhs_ResAdBox {
	display: none;
}

/*======== TABS =========*/

#nhs_ResTabBar {
	margin: 0 auto 18px auto;
}
#nhs_ResTabBar > ul,
.nhs_Tabs {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nhs_ResTabBar > ul.nhs_Tabs > li {	
	margin-right: 0;
}
#nhs_ResTabBar > ul.nhs_Tabs > li > a { 
	display: inline-block;
	width: 155px;
	padding: 8px 10px;
	background-color: #fff;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	color: #525b68;
	text-align: center;
	border-left: 1px solid #ccc;
	box-shadow: inset 0 2px 0 0 #ccc;
}
#nhs_ResTabBar > ul.nhs_Tabs > li:first-child > a {	
	border-radius: 3px 0 0 3px;
	border: 0;
}
#nhs_ResTabBar > ul.nhs_Tabs > li.nhs_Last > a {		
	border-radius: 0 3px 3px 0;
}
#nhs_ResTabBar > ul.nhs_Tabs  > li > a:hover,
#nhs_ResTabBar > ul.nhs_Tabs  > li > a.nhs_Active {
	background-color: #3e96da;
	text-decoration: none;
	color: #fff;
	box-shadow: 0 2px 0 0 #ccc;
}

/*======== LIST & ADS =========*/
#nhs_ResListAds {
	background: #dfe1e7;
}

/*======== MATCHES TEXT =========*/
.nhs_ResMatches {
	font-family: Verdana,Helvetica,sans-serif;
	color: #3e96da;
}
.nhs_ResMatches strong {
    font-size: 17px;
    font-size: 1.05rem;
    font-weight: bold;
	color: #525b68;
}

/*======== REFINE BAR =========*/
.nhs_ToggleButtons a,
.nhs_ToggleButtons span {	
    font-family: Verdana,Helvetica,sans-serif;
	background-color: #fff; 
	color: #525b68 !important;
	box-shadow: inset 0 2px 0 0 #ccc;
}
.nhs_ToggleButtons a.nhs_Active, 
.nhs_ToggleButtons span.nhs_Active {
	background-color: #67ad45;
	color: #fff !important;
	box-shadow: 0 2px 0 0 #ccc;
}
.nhs_ToggleButtons a:hover {
	text-decoration: none;
}
.nhs_ResRefine > p.nhs_ResSort select option {
    background: #525b68;
    color: #fff;
}
.nhs_ResRefine > p.nhs_ResSort select option:selected {
	background: #fff;
}


/*======== RESULT ITEMS =========*/
.nhs_CommResItem,
.nhs_HomeResItem,
.nhs_BuilderRes,
.nhs_FeaturedResItem {	
	color: #525b68;
}
.nhs_CommResItem > p:first-child,
.nhs_HomeResItem > p:first-child {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 15px;
	font-size: 0.95rem;
	font-weight: normal;
	color: #fff;	
	background: #525b68;
	border: 1px solid #dfe1e7;
    border-width: 0 0 3px 0;
}
.nhs_CommResItem > div.nhs_ItemData1 > p:first-of-type {
    color: #525b68;
}
.mv_CommResItem > div.nhs_ItemData2 {		
	width: 59%;
    min-height: 20px;
	font-family: Verdana,Helvetica,sans-serif;
}
.nhs_HomeResItem .nhs_ItemData1,
.nhs_ItemData2 {
    color: #848992;    
}
.nhs_HomeResItem > div.nhs_ItemData2 {
    clear: none;  
}
.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData2 {
    width: 30%;
}
.nhs_HomeResItem .nhs_Location > p:first-child {
    color: #848992;    
}
.nhs_Location > a {
	background-image: url(/globalresources14/move/images/icons/location.png);
}

/* Comm Images */
.mv_CommResItem .nhs_ItemImages {
	float: left;
	width: 100%;
	max-width: 240px;
	height: 160px;
	position: relative;
}
.nhs_CommResItem.nhs_BasicItem .nhs_ItemImages {
    float: left;
    }
.mv_CommResItem .nhs_ItemImages > div:first-child {
	float: left;
	width: 100%;
	margin-right: 0;	
	height: 160px;
	overflow: hidden;
	position: relative;
}
.mv_CommResItem .nhs_ItemImages > div:first-child a,
.mv_CommResItem .nhs_ItemImages > div:first-child div {
	display: block;
	margin-right: 0;
	height: 160px;
	position: relative;
}
.mv_CommResItem .nhs_BrandImage {
    float: right;
	display: block;
	width: 120px;
	/*height: 60px;*/
	overflow: hidden;
	position: relative;
}
.nhs_HomeResItem .nhs_ItemImages {
    float: right;    
}
.nhs_CommResItem .nhs_ItemImages > div > p,
.nhs_HomeResItem .nhs_ItemImages > p {
    font-family: Verdana,Helvetica,sans-serif;
	color: #3e96da;
}
.nhs_CommResItem .nhs_ItemImages > div > p {
    left: 0;
    right: auto;    
}
.mv_CommResItem > ul.nhs_Features {
    clear: right;
}


/*======== ACTIONS =========*/
.mv_CommResItem > ul.nhs_Actions {
	float: right;
	display: inline-block;
	list-style: none;
	width: 57%;
	margin: 0 12px 0 0;
	padding: 5px 0 7px 0;
}
.mv_HomeResItem > ul.nhs_Actions {
    width: 65%;
    clear: none;    
}
.mv_CommResItem ul.nhs_Actions > li:first-child,
.mv_HomeResItem ul.nhs_Actions > li:first-child {
	float: left;
	display: inline-block;	
	/*width: 33%;*/
}
/*.mv_HomeResItem ul.nhs_Actions > li:first-child {	
	width: 41%;
}*/
.mv_HomeResItem.nhs_BasicItem ul.nhs_Actions > li {
    float: right;
    clear: none;    
}
.mv_HomeResItem.nhs_BasicItem ul.nhs_Actions > li:first-child {	
	width: auto;
}
ul.nhs_Actions > li a.btnCss,
.nhs_CommResItem ul.nhs_Actions > li a.btn_FreeBrochure, 
.nhs_HomeResItem ul.nhs_Actions > li a.btn_FreeBrochure, 
.nhs_FeaturedResItem ul.nhs_Actions > li a.btn_FreeBrochure {
	width: 98px;
	margin-left: 5px;
	padding: 8px 6px;
	background: #fff;		
    /*font-family: Verdana,Helvetica,sans-serif;
	font-weight: bold;*/
	background: #fff;
	color: #848992 !important;
	border: 1px solid #848992;				
}
.mv_HomeResItem.nhs_BasicItem ul.nhs_Actions > li a.btnCss {
    width: 108px;
}
ul.nhs_Actions > li a.nhs_Save {	
	display: inline-block;
	width: 26px;
	height: 0;
	padding: 24px 0 0 0;
	margin-top: 5px;
	overflow: hidden;
	background-size: 26px 24px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/star_open.png);
}
ul.nhs_Actions > li a.nhs_Save:hover {	
	background-image: url(/globalresources14/default/images/icons/star_over.png);
}
ul.nhs_Actions > li a.nhs_Save:active {	
	background-image: url(/globalresources14/default/images/icons/star_open.png);
}
ul.nhs_Actions > li a.nhs_Saved {
    display: inline-block;
	width: 26px;
	height: 0;
	padding: 24px 0 0 0;
	margin-top: 5px;
	overflow: hidden;
	background-size: 26px 24px;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	background-image: url(/globalresources14/default/images/icons/star_save.png);
}

/*======== RESULT ITEMS - HOVER =========*/
.nhs_CommResItem.nhs_Hover > p:first-child,
.nhs_HomeResItem.nhs_Hover > p:first-child {
	background: #3e96da;
}
.nhs_CommResItem.nhs_Hover a.btnCss,
.nhs_HomeResItem.nhs_Hover a.btnCss,
.nhs_FeaturedResItem.nhs_Hover a.btnCss {
	border: 1px solid #3e96da;
	background: #3e96da;
}
.nhs_CommResItem.nhs_Hover a.btn_FreeBrochure,
.nhs_HomeResItem.nhs_Hover a.btn_FreeBrochure,
.nhs_FeaturedResItem.nhs_Hover a.btn_FreeBrochure,
.nhs_CommResItem.nhs_Hover ul.nhs_Actions > li a.btn_FreeBrochure, 
.nhs_HomeResItem.nhs_Hover ul.nhs_Actions > li a.btn_FreeBrochure, 
.nhs_FeaturedResItem.nhs_Hover ul.nhs_Actions > li a.btn_FreeBrochure {
	border: 1px solid #67ad45;
	background: #67ad45;
	color: #fff !important;
}

.nhs_ResCustomItem a.btnCss {
    background: #3e96da;    
}

.nhs_BuilderRes > ul li a {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #3e96da;    
}


/*======== CMS ITEMS =========*/
#nhs_ResAdCol .nhs_ResCmsTeaser p:first-child {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #525b68;
}
#nhs_ResAdCol .nhs_ResCmsTeaser a {
    color: #525b68;
}

#nhs_ResAdCol #nhs_NewsletterContainer > div {
    background: #525b68;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div > p:first-child strong {
    color: #67ad45;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div p input[type=text] {
	padding: 6px 6px;	
}

.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    background: #67ad45;
}

/*======== PAGING =========*/
#nhs_ResListAds > div {
    padding-bottom: 0;    
}
#nhs_ResListAds > #nhs_ResPaging {
	background: #525b68;	
	width: 100%;
	max-width: none;
	margin: 0;
	padding: 0;
}
#nhs_ResPaging > nav {
    width: 97.5%; /*936/960*/
	max-width: 960px;
	margin: 0 auto;
	padding: 14px 1.25%; /*12/960*/
}
.nhs_PagingLinks a:hover {
	background: #67ad45;
	color: #fff;
}
#nhs_ResPaging .btnCss {
	background: #3e96da;
}

.nhs_ResLegal {
    background: #C6CCD2;
    float: left;
    padding: 20px 0;
    width: 100%;
    color: #848992;
}
.nhs_ResLegal > p {
    font-size: 11px;
    font-size: 0.7rem;
    font-style: italic;
    margin: 30px auto 0 auto;
    max-width: 960px;
    width: 100%;
}
