﻿@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.EBookViewModel
<style type="text/css">
/* Don't move from here*/
/* EBOOK POPUP */
.content-wrapper { /*width:582px;*/ min-height:400px; }
.content-wrapper p { color:#000; }
.popup-title { background-color:#005d90; color:#ffffff; padding:20px 25px; margin-bottom:15px; }
.popup-title span { color:#ffd83f; font-weight:bold; }
#nhs_EbookModal { padding: 0 20px; }
.newsletter-wrapper { padding:0 10px; margin:15px 0; clear:both; min-height:112px; }
.newsletter-wrapper .checkmark { width:40px; float:left; position: relative; top: 45px; }
.checkmark input[type=checkbox] {
	display: none;
}
.checkmark input[type=checkbox] + label:before 
{
    float: left;
	height: 19px;
    width: 19px;
    display: inline-block;
    content: "";
	background:url('@GlobalResources14.Default.images.eBook.not_check_png') no-repeat center center;
}
.checkmark input[type=checkbox]:checked + label:before {
	float: left;
	height: 19px;
    width: 19px;
    display: inline-block;
    content: "";
	background:url('@GlobalResources14.Default.images.eBook.check_png') no-repeat center center;
} 
#nhs_EbookSignUpErrorsModal > p {
display: block;
clear: both;
margin: 4px 0;
padding: 4px 0;
font-size: 14px;
font-size: 0.875rem;
color: #fff;
background: #d92632;
text-align: center;
}

.newsletter-wrapper .img { width:120px; height:108px; background-color:#ccc; float:left; border:1px solid #ccc; }
.newsletter-wrapper .content { width:370px; float:left; margin:5px 0 0 20px; }
.newsletter-wrapper .info { font-size:15px; }
.newsletter-wrapper .title { color:#0091da; font-size:20px; }
.btn-wrapper { width:100%; float:left; }
.btn-wrapper .btn-content { margin:30px auto 30px; font-size:14px; text-align:center; }
.btn-wrapper .btn-close { width: 72px; margin: 30px auto 30px; font-size: 14px; }
.message-wrapper p { text-align: center; vertical-align: middle; color:#7d7d7d; font-size:20px; width:100%; margin:90px auto 90px; }

.close-btn {
    background-color:#0091da; 
    color:#fff; 
    padding:10px 15px; 
    border:0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
.close-btn a, .close-btn a:hover { text-decoration:none; color:#fff; }
.no-thanks a { text-decoration:none; text-align:center; margin-left: 15px; padding:10px 0; color:#7d7d7d; }
.no-thanks a:hover { text-decoration:underline; text-align:center; margin-left: 15px; padding:10px 0; color:#7d7d7d; }
select { font-size: 12px; padding: 3px; margin-top: 5px; width: 160px; }
.nhs_eBookSingUpDisable { background-color: #bababa; cursor: default;}
/* end EBOOK POPUP */
</style>           

<div class="content-wrapper">
    <!-- NEWSLETTERS -->
    <div class="popup-title">
        <span>@LanguageHelper.Thanks.ToMvcHtmlString()</span> @LanguageHelper.EbookCheckInbox1.ToMvcHtmlString() @LanguageHelper.EbookCheckInbox2.ToMvcHtmlString()</div>
    <div id="nhs_EbookModal">
    <p>
        @LanguageHelper.EbookRecommend.ToMvcHtmlString():</p>
        <div class="newsletter-wrapper">
            <div class="checkmark">
                <input id="nhs_homeOfTheWeek" type="checkbox" class="nhs_eBookOption" checked="checked" />
                <label for="nhs_homeOfTheWeek">
                </label>
            </div>
            <div class="img">
                <img src="@GlobalResources14.Default.images.eBook.howto_jpg" alt="@LanguageHelper.EbookMarketUpdate" /></div>
            <div class="content">
                <p>
                    <span class="title">@LanguageHelper.HomeOfTheWeek.ToMvcHtmlString()</span></p>
                <p>
                    <span class="info">@LanguageHelper.EbookGetInspired.ToMvcHtmlString()</span></p>
            </div>
        </div>
        <div class="newsletter-wrapper">
            <div class="checkmark">
                <input id="nhs_weeklyMarketUpdate" type="checkbox" class="nhs_eBookOption" checked="checked" />
                <label for="nhs_weeklyMarketUpdate">
                </label>
            </div>
            <div class="img">
                <img src="@GlobalResources14.Default.images.eBook.marketupdate_jpg" alt="@LanguageHelper.HowTo" /></div>
            <div class="content">
                <p>
                    <span class="title">@LanguageHelper.WeeklyMarketUpdate.ToMvcHtmlString()</span></p>
                <p>
                    <span class="info">@LanguageHelper.StayUpToDate.ToMvcHtmlString() @Model.Globals.Shell.</span></p>
                @Html.DropDownListFor(model => Model.MarketId, Model.MarketList, LanguageHelper.SelectYourMarket, new { @class = "nhs_newletter_dropMarket" })
            </div>
        </div>
        <div id="nhs_EbookSignUpErrorsModal"></div>
        <div class="btn-wrapper">
            <div class="btn-content">
                <input id="nhs_eBookSingUp" class="btnCss" type="button" value="@LanguageHelper.SignUp" onclick=" jQuery.googlepush('eBook Confirmation Page', 'eBook Confirmation Page', 'Sign Up');" />
                <span class="no-thanks"><a class="nhs_CloseModal" href="javascript:void(0)" onclick=" jQuery.googlepush('eBook Confirmation Page', 'eBook Confirmation Page', 'No Thanks');">@LanguageHelper.Cancel.ToMvcHtmlString()</a></span>
            </div>
        </div>
    </div>
    <!-- end NEWSLETTERS -->
    <!-- CLOSE SECTION -->
    <div id="nhs_ebookClose" class="btn-wrapper" style="display: none">
        <div class="message-wrapper">
            <p>
                @LanguageHelper.EbookYouAreSignedUp.ToMvcHtmlString()<br />
                @LanguageHelper.EbookLookForNextEdition.ToMvcHtmlString()<br />
                @LanguageHelper.EbookInYourInbox.ToMvcHtmlString()</p>
        </div>
        <div class="btn-wrapper">
            <div class="btn-close">
                <span class="close-btn"><a href="javascript:void(0)" class="nhs_CloseModal">@LanguageHelper.Close.ToMvcHtmlString()</a></span>
            </div>
        </div>
    </div>
    <!-- end CLOSE SECTION -->
</div>
<input id="nhs_eBookEmail" type="hidden" value="@Model.Email" />
