﻿@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeViewModel
@section cphDataLayer {
    @Model.GetGtmDataLayerForHomePage()
}

<div id="nhs_HomeSearch" class="clearfix">
    @using (Html.BeginNhsForm("Search2", NhsMvc.Home.Name, FormMethod.Post, "frmHomePage", false))
    {
        <div id="nhs_HomeSearchForm" class="clearfix">
            <div id="nhs_HomeSearchLocation" class="clearfix">
                <div class="clearfix">
                    <h1>@Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "homesearchtitletext")</h1>
                    <fieldset>
                        <legend class="visuallyhidden">@LanguageHelper.NewHomeSearch.ToMvcHtmlString()</legend>
                        <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">
                            @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()
                        </span>
                        <label for="HomeSearchText" class="visuallyhidden">@LanguageHelper.Location.ToMvcHtmlString():</label>
                        @Html.Hidden("SearchType", string.Empty)
                        @Html.TextBoxFor(model => model.SearchText, new { id = "SearchText", placeholder = LanguageHelper.EnterLocationOrCommunityName, maxlength = 100, Value = (String.IsNullOrEmpty(UserSession.PersonalCookie.SearchText) ? String.Empty : UserSession.PersonalCookie.SearchText), autocomplete = "off" })
                        <input type="submit" class="btnCss" id="HomeSearchBtn" value="@LanguageHelper.SearchHomesButton" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); "/>
                        <input type="submit" id="HomeSearchIcon" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); "/>

                    </fieldset>
                </div>
                <div class="clearfix">
                    @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "homesearchdescription")
                </div>
            </div>
            <div id="nhs_HomeSearchOptions" class="clearfix">
                <fieldset>
                    <legend>@LanguageHelper.Price.ToMvcHtmlString()</legend>
                    <p>
                        <label for="PriceLow">@LanguageHelper.Min.ToMvcHtmlString():</label><br/>
                        @Html.TextBoxFor(model => model.PriceLow, new {placeholder = LanguageHelper.NoMin, onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - Low');"})
                        @LanguageHelper.To.ToMvcHtmlString()
                    </p>
                    <p class="nhs_Last">
                        <label for="PriceHigh">@LanguageHelper.Max.ToMvcHtmlString():</label><br/>
                        @Html.TextBoxFor(model => model.PriceHigh, new {placeholder = LanguageHelper.NoMax, onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - High');"})
                    </p>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.Bedrooms.ToMvcHtmlString()</legend>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "", new {id = "BedsAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - Any');"})
                    <label for="BedsAny">@LanguageHelper.Any.ToMvcHtmlString()</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "1", new {id = "Beds1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 1');"})
                    <label for="Beds1">1+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "2", new {id = "Beds2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 2');"})
                    <label for="Beds2">2+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "3", new {id = "Beds3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 3');"})
                    <label for="Beds3">3+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "4", new {id = "Beds4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 4');"})
                    <label for="Beds4">4+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "5", new {id = "Beds5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 5');"})
                    <label for="Beds5">5+</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.Bathrooms.ToMvcHtmlString()</legend>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "", new {id = "BathAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - Any');"})
                    <label for="BathAny">@LanguageHelper.Any.ToMvcHtmlString()</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "1", new {id = "Baths1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 1');"})
                    <label for="Baths1">1+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "2", new {id = "Baths2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 2');"})
                    <label for="Baths2">2+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "3", new {id = "Baths3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 3');"})
                    <label for="Baths3">3+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "4", new {id = "Baths4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 4');"})
                    <label for="Baths4">4+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "5", new {id = "Baths5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 5');"})
                    <label for="Baths5">5+</label>
                </fieldset>
            </div>
        </div>
    }
</div>
<div id="nhs_HomeContentTeaser" class="clearfix">
    <div id="nhs_HomeHotw">
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
        {
        <img src="@GlobalResources14.CNA.images.homepage.casa_de_semana_png" alt="La Casa de la Semana" />
        }
        else
        {
        <img src="@GlobalResources14.NewHomeSource.images.homepage.home_of_week_png" alt="Home of the Week" />
        }
        <figure>
            @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "homeoftheweeksection")
        </figure>
    </div>
    <nav>
        @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "resourcecenterlinks")
    </nav>
</div>
<div id="nhs_HomeBuilders" class="clearfix">
    <div class="clearfix">
        <p>@Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "buildersectiontitle")</p>
    </div>
    <div class="clearfix">
        <ul id="nhs_HomeBrandsList" class="clearfix">
            @if (Model.Brands != null)
            {
                foreach (var brd in Model.Brands)
                {
                    <li>
                        <img src="@Configuration.ResourceDomain@brd.LogoMedium" alt="@brd.BrandName" title="@brd.BrandName" />
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div id="nhs_HomeWhyNew">
    <div class="clearfix">
        @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "buynewsectionContent")
        @Html.RenderBuyNewSectionContent(SeoTemplateType.Nhs_HomeV2)
    </div>
</div>
<div id="nhs_HomeResources">
    <div class="clearfix">
        @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "stepstoyournewhome")
    </div>
</div>
@if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
{
    @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.eBookFooter)    
}

<div id="nhs_HomeLinks">
    <aside id="nhs_HomeMarkets" class="clearfix">
        <h2 id="nhs_HomeMarketsText">@Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "footerlinksheader")</h2>

        @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "footerlinks")
    </aside>
</div>

@ResourceCombinerEnum.HOMEPAGEJS.GetCrunchedResource()

<script type="text/javascript">
    var search = null;
    var homePageJs = null;

    jQuery(document).ready(function () {
        search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
        search.setupSearchBox("SearchText", "SearchType");

        homePageJs = new NHS.Scripts.HomePage(search);
        homePageJs.initialize();

        SetTextBoxesDescriptions();
    });


</script>
