﻿@model Nhs.Web.UI.AppCode.ViewModels.BoylSearchViewModel

@using System.Collections
@using System.Web.Mvc.Html
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper

<div class="nhs_Content" id="nhs_BoylSearch">
    <div class="clearfix">
        <div>
            <div class="nhs_CustomBox nhs_BoylSearch1">
                <h2>@LanguageHelper.SearchCustomBuild.ToMvcHtmlString()</h2>
                <p class="nhs_CustomBoylDesc">@LanguageHelper.BuildTheHomeOfYourDreams.ToMvcHtmlString()</p>
                
                @if (Model.ShowValidationMessage)
                {
                    @Model.ValidationMessage.ToMvcHtmlString()
                }
                <div id="divMessage"></div>

                @using (Html.BeginNhsForm(NhsMvc.BoylSearch.ActionNames.Show, "frmBoylSearch"))
                {
                    <fieldset>
                        <legend class="visuallyhidden">Location</legend>
                        <div id="pnlSate">
                            <p>
                                <label for="ddlState">@LanguageHelper.State.ToMvcHtmlString()</label>
                                @Html.DropDownList("StateAbbr", new SelectList(Model.StateList as IEnumerable, "StateAbbr", "StateName", Model.StateAbbr), new { id = "ddlState" })
                            </p>
                        </div>

                        <div id="pnlMarket">
                            @Html.Partial(NhsMvc.Default.Views.BoylSearch.MarketSelect)
                        </div>
                        <p><span class="label">@LanguageHelper.Or.ToMvcHtmlString()</span></p>
                        <p>
                            <label for="txtPostalCode">@LanguageHelper.Zip.ToMvcHtmlString()</label>
                            @Html.TextBoxFor(model => model.PostalCode, new { id = "txtPostalCode" })
                        </p>
                    </fieldset>

                    <input type="submit" class="btnCss btn_FindBuilders" value="@LanguageHelper.FindBuilders" />
                }
            </div>
            
            <div class="nhs_Clear">
            </div>

            <div class="nhs_BoylSearch2">
                @if (Model.ShowStaticContentCol)
                {

                    @Html.StaticContent("BoylSearch/BoylSearchColumn2.htm", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)

                }

                @if (Model.ShowFixedPartnerContent)
                {
                    <p>Looking to build a new home on your own land? You have not one, but two options: "Build on Your Lot" programs and Custom Builders.</p>
                    <p>
                        <strong>Build on Your Lot</strong> programs allow you to select from a builder's huge inventory of plans and then have your new home built on any lot you select, not just those within a specific subdivision.
                    </p>
                    <p>
                        <strong>Custom Builders</strong> can help you select a house plan or work with your architect to create your dream home. They will also help you select a lot or build on a lot you already own.
                    </p>
                    <p>This simple search locates homebuilders with "Build On Your Lot" programs and Custom Builders in your area.</p>
                }
            </div>

            @if (Model.ShowCustomAdd)
            {
                <div id="nhs_LeftMid"></div>
            }
        </div>
        <aside id="nhs_AdColumn" class="clearfix">
            <div id="nhs_RightTopSky">
            </div>
            <div id="nhs_RightBottomSky">
            </div>
        </aside>
    </div>

    <div class="nhs_Clear">
    </div>
</div>

@ResourceCombinerEnum.NHSBOYLSEARCH.GetCrunchedResource()

<script type="text/javascript">
    jQuery(document).ready(function() {
        var parameters = {
            typeAheadUrl: '@Html.GetActionUrl(NhsMvc.Typeahead.Name, NhsMvc.Typeahead.ActionNames.GetZipCodesByPartner)',
            message:"@LanguageHelper.PleaseSelectAStateAndAreaOrEnterAZipCode.ToMvcHtmlString()"
        };
        var boylSearch = new NHS.Scripts.Boyl(parameters);
        boylSearch.init();
    });
</script>

