﻿@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.Tv.TvMarketMobileViewModel

<nav id="nhs_TvNav" class="clearfix">
    <div onclick=" jQuery.googlepush('NHS TV Page', 'Button Row', 'New Season') ">
        @Html.StaticContent(string.Concat("Tv/", Model.KeyWord, "/MarketLandingPage.html"), null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
    </div>
    <ul id="nhs_UlNavigation"></ul>
</nav>

<div id="nhs_TvMarketSlides" class="clearfix">
    <div>
        @Model.MarketContent.SlideShow.ToMvcHtmlString()
    </div>
</div>

@Html.Partial(NhsMvc.Default.ViewsMobile.Tv.PartialViews.PartialTvFeaturedHomes)
@{ Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.TvNewsletterSignUp, Model); }

<div id="nhs_TvResults">
    <h3 id="FindCommunities">
        Communities from the show
    </h3>

    <section id="nhs_ResList" class="nhs_ResList clearfix">

        @foreach (var mobileCom in Model.CommunitiesForMobile)
        {
            Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityResults.Community.CommunityItem, mobileCom);
        }

    </section>
</div>
<div id="nhs_TvMap" class="clearfix">
    <div class="nhs_TvSearchForm">
       <fieldset id="nhs_SearchBox">
                <legend class="visuallyhidden">Search</legend>
                @Html.Hidden("LocationType", string.Empty, new { id = "nhs_LocationSearchType" })
                <p>
                    <label for="search">
                        Search ALL New Homes
                    </label>
                    <br />
                    <input id="nhs_LocationSearchTextBox" name="SearchText" type="text" placeholder="Enter City, ST or ZIP"
                           value="" />
                    <input type="submit" value="Search" id="nhs_LocationSubmit" class="btnCss" onclick="jQuery.googlepush('NHS TV Page', 'Main', 'Search Submit')" />
                    <input type="submit" value="Search" id="nhs_LocationSubmitFake" class="btnCss" style="display: none"
                           disabled="disabled" />
                    <input id="nhs_LocationSubmitButton" class="nhs_LocationSubmitButton" value="Search"
                           type="submit" />
                    <span id="nhs_field_validation_error" class="field-validation-error" style="display: none">
                        @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()
                    </span>
                </p>
            </fieldset>
    </div>
  
</div>

@{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.Tv.PartialViews.TvViewSegments, Model);}
@{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.Tv.PartialViews.PartialTvMarketPromos, Model);}
@{ Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.Sponsors, Model);}

<div id="nhs_TvMarketFooter">
    <div class="clearfix">
        <h3>
            About the show
        </h3>
        <p>
            NewHomeSource TV is your source for the most truly new homes featuring insights
            from architects, designers, contractors and other experts. Each week we take viewers
            on a behind the scenes home tour, providing a glimpse of the latest floor plans,
            design trends, green features and neighborhood amenities from the hottest new communities
            in America.
        </p>
        <div class="clearfix">
        </div>
        <div class="nhs_TvHostBio">
            <img src="@GlobalResources14.NewHomeSource.images.tv.brett_tutor_circle_jpg" alt="Brett Tutor" />
            <h3>
                Brett Tutor
            </h3>
            <h4>
                Certified Home Inspector<br />
                Green Home Auditor
            </h4>
            <p>
                As a certified Home Inspector and Green Home Auditor, Brett Tutor is an industry
                professional. Brett's inside knowledge of the product and engaging demeanor make
                him an ideal host for New Home Source TV.
            </p>
        </div>
        <div class="clearfix"></div><br />
        @{
            Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.TvNewsletterSmallSignUp, Model);
        }
    </div>
    <div class="nhs_TvMarketing clearfix">
        <p>
            <strong>Builders and advertisers:</strong><br />
            Interested in being on the show or knowing when it’s coming to your area? Get <a href="http://www.thebdx.com/products/content-graphics/new-home-videos" target="_blank"
                                                                                             onclick="jQuery.googlepush('NHS TV Page', 'About the Show', 'Get More Information')">
                More Information >
            </a>
        </p>
    </div>
</div>
@section cphHead{

}
@section cphFooter{
    @*@Html.GetCrunchedResource("nhsMobileJs")*@
    @Html.GetGoogleMapScript()
    @ResourceCombinerEnum.TVMOBILEJS.GetCrunchedResource()
    <script type="text/javascript">
        jQuery("#nhs_Header .nhs_Logo").css("background-image","url(@GlobalResources14.NewHomeSource.images.tv.nhstv_logo_2x_png)").css("background-size","100% auto").css("width","190px");

        jQuery(document).ready(function() {
            var parameters = {
                TvMarketPoints: @Model.TvMarketPoints.ToMvcHtmlString(),
                PartnerId: @NhsRoute.PartnerId,
                ExpandPoints: true,
                PromosCount : @Model.Promos.Count,
                CommunitiesForTvBuilderPoints: @Model.CommunitiesForTvBuilderPoints.ToMvcHtmlString(),
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_gray_png)",
                iconNoFeature: "@GlobalResources14.Default.images.icons.map_poi_gray_png",
                iconMulti: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? GlobalResources14.Default.images.icons.map_plus_blue_png : GlobalResources14.Default.images.icons.map_plus_gray_png)",
                isTvMarketPage: true,
                AutoCompliteUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndex))",
                ContestModalUrl: "@(Html.GetActionUrl(NhsMvc.Newsletter.Name, NhsMvc.Newsletter.ActionNames.SignUpTvNewsletter))",
                MarketId: "@Model.Market.MarketId",
                urlDetailPage: "@(new List<RouteParam>().ToUrl("communitydetail/builder-{builder}/community-{community}", true))"
            };

            var search = new NHS.Mobile.Search({
                submitName: "nhs_LocationSubmit",
                secondarySubmitName: "nhs_LocationSubmitButton",
                Search: "@(Html.GetActionUrl(NhsMvc.Home.Name, NhsMvc.Home.ActionNames.MobileSearch))",
                typeAheadUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndexMobile))",
                textBoxName: "nhs_LocationSearchTextBox",
                CurrentLocationSearch: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.CurrentLocation))",
                currentLocationImg: "@(GlobalResourcesMobile.Default.images.icons.locate_me_gray_png)",
                Translation: {
                    CurrentLocation: "@LanguageHelper.CurrentLocation.ToMvcHtmlString()",
                    LocateMe: "@LanguageHelper.LocateMe.ToMvcHtmlString()",
                    MGS_HOMESEARCH_DEFAULT_ERROR_MSN: "@LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()"
                }
            });
            search.initialize();

            var tv = new NHS.Mobile.Tv(parameters);
            tv.init();

            //jQuery("#nhs_TvMarketSlides .bxslider").bxSlider({
            //    responsive: true,
            //    infiniteLoop: true,
            //    minSlides: 1,
            //    maxSlides: 1,
            //    pager: true,
            //    controls: false
            //});
        });
    </script>
}
