﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div id="HomeHeader" class="header-wrapper">
    <div class="community-name">
        <div class="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? "bl-blue bl-blue-main-title-pro" : "bl-blue bl-blue-main-title")">
            <h2>
                @if (!Model.IsPageCommDetail)
                {
                    @Model.HomeTitle
                }
                <br />
                <span>@Model.CommunityName</span>
            </h2>
            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <div class="pro_office-info">@Model.GetHoursOfOperation</div>
            }
        </div>
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
            <div class="builder-logo">@Html.NhsImage(Model.BuilderLogo, Model.BuilderName, true)</div>
        }
        <div class="clr">
        </div>
    </div>
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
    {

        <div class="agent-info">
            @if (!string.IsNullOrEmpty(Model.GetTemplateImage))
            {
                <div class="pic"><img src="@Model.GetTemplateImage" alt="Agent Info" /></div>
            }
            <div class="pro-provided-by">Brochure provided by</div>
            <div class="agent-name"><strong>@Model.AgentName</strong></div>
            <div>@Model.AgencyName</div>
            @if (!string.IsNullOrEmpty(Model.GetCityState))
            {
                <div>@Model.GetCityState</div>
            }
            @if (!string.IsNullOrEmpty(Model.AgentPhoneNumber))
            {
                <div>@Model.AgentPhoneNumber</div>
            }
            @if (!string.IsNullOrEmpty(Model.AgentEmailAddress))
            {
                <div>@Model.AgentEmailAddress</div>
            }
            @if (!string.IsNullOrEmpty(Model.AgentLicenseNumber))
            {
                <div>BRE Lic# @Model.StateAbbr @Model.AgentLicenseNumber</div>
            }
        </div>

    }
    else
    {
        <div class="provided-by">@LanguageHelper.BrochureProvidedBy.ToMvcHtmlString() <br /> @Html.NhsImage(Model.Logo, "", false)</div>
    }
    @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
    {

        <div class="office-info-wrapper">
            <div class="builder-logo">@Html.NhsImage(Model.BuilderLogo, Model.BuilderName, true)</div>
            <div class="office-info">
                <div class="bl-grey">
                    <p>
                        @if (!String.IsNullOrEmpty(Model.SalesAgentName))
                        {
                            @Html.Raw(Model.GetSalesAgentName + "&nbsp;&nbsp;&nbsp;" + Model.GetSalesEmailAddress)
                        }
                        else if (!String.IsNullOrEmpty(Model.BuilderUrl))
                        {
                            @Html.BuilderLink(Model)
                        }
                        &nbsp; @Model.GetPhoneNumber<br />
                        @Model.GetHoursOfOperation
                    </p>
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
    }
</div>
