﻿@using System.Globalization
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@if (!Model.PreviewMode)
{
    <div class="main-wrapper">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PageComponents.Index)
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.MapAndDirections.Index)
        @if (!Model.IsPageCommDetail)
        {
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Home.Index)
            if (Model.FloorPlanImages.Any())
            {
                @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Floorplans.Index)
            }
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Community.Index)
        }
        else
        {
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Community.Index)
        }
        @if (!MvcHtmlString.IsNullOrEmpty(Model.CityInformation))
        {
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.CityInformation.Index)
        }
        @if (Model.IsPageCommDetail)
        {
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.HomesAvailable.Index)
        }
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PlanningYourTrip.Index)
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PromotionsAndNotes.Index)
    </div>
}

@{ Html.RenderPartial(NhsMvc.PartialViews.Views.Common.CdnTop); }

<script type="text/javascript">
    jQuery(document).ready(function() {
        var mapHeight = jQuery("#Directions").length > 0 ? 1000 - (jQuery("#HomeHeader").height() + 20 + jQuery("#Directions").height() + 50) : 400;
        if (jQuery("#nhs_PropertyMap").length > 0) {
            jQuery.ajax({
                type: "POST",
                url: "@(Html.GetActionUrl(NhsMvc.PdfBrochure.Name, NhsMvc.PdfBrochure.ActionNames.GetBuilderMapUrl))",
                data: {
                    size: mapHeight,
                    mapPoints: "@string.Format("{0},{1}",Model.Latitude.ToString(new NumberFormatInfo()),Model.Longitude.ToString(new NumberFormatInfo()))"
                },
                success: function(src) {
                    jQuery("#nhs_PropertyMap").attr("src", src);
                }
            });
          } else {
            jQuery("#Map").height(mapHeight);
        }
    });

</script>
@section cphHead
{
    <link href="@Resources.GlobalResourcesMvc.Default.css.pdfBrochure_css" media="all" type="text/css" rel="stylesheet" />
}
