﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects
@using Nhs.Search.Objects.Constants
@model Nhs.Web.UI.AppCode.ViewModels.HomeResultApiViewModel
<p class="propertyTitles">@Model.HomeResultRow.BasiCommunityHomeName()</p>
<div class="price">
    @if (Model.HomeResultRow.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
    { 
        @*Price Section*@
        <p>
            <strong>@Convert.ToInt32(Model.HomeResultRow.Price).FormatPrice(Model.HomeResultRow.HomeId)</strong>
        </p>
    }
</div>
<div class="specsLeft">@*Square Footage*@
    @if (Model.HomeResultRow.Sft>0)
    {
        <p class="squareFootage">@Model.HomeResultRow.FormatSquareFootage()</p>
    }
    <p class="BedBath">
        @*BedRooms*@@Model.HomeResultRow.FormatBedrooms()
        @*BathRooms*@@Model.HomeResultRow.FormatBathrooms()
        @*Garage*@@Model.HomeResultRow.FormatGarages()</p>
</div>
<div class="specsRight">
    @if (Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower() || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
    {
        @Model.HomeResultRow.HomeStatus()
    }
</div>
