﻿@using Nhs.Library.Constants.Enums
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
<ul id="nhs_CommDetailTabs" class="nhs_Tabs">
    @if (Model.AllNewHomesCount > 0)
    {
        <li id="newHomesTab" class="nhs_Selected">
            <a href="javascript:void(0);"><span><span>
                @string.Format(Model.AllNewHomesCount > 1 ? LanguageHelper.AllNewHomes : LanguageHelper.AllNewHome, Model.AllNewHomesCount)
            </span></span></a>
        </li>
    }
</ul>
