﻿@using Nhs.Web.UI.AppCode.ViewModels
@model BasicCommunityDetailViewModel
<div class="nhs_DetailContent">
    <div id="nhs_homeGalleryTable">
        @{ int i = 0; }
        @foreach (var result in Model.HomeResultsApi)
        {
            <div class="@(Model.AllNewHomesCount < 41 && i > 11 ? "nhsHideRow nhsFlag" : "nhsShowRow")">
                <div class="nhs_GalleryCell" onmouseout="$jq(this).removeClass('nhs_GalleryCellOn');" onmouseover="$jq(this).addClass('nhs_GalleryCellOn');">
                    @*BEGIN RENDER ROW*@
                    @Html.Partial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityHomeResultRow, new HomeResultApiViewModel(result, Model.MarketId, Model.PreviewMode, Model.BcType))
                    @*END RENDER ROW*@
                </div>
            </div>
            ++i;
        }
    </div>
</div>
