﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
<section id="HomesAndPlans">
<div class="nhs_HomesPlansGallery">            
    <div class="nhs_DetailSections">
        <h3 class="nhs_DetailSectionTitle" >
            @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.HomesAndLayouts : LanguageHelper.HomesAndPlans)
        </h3>
    </div>
    <div class="nhs_HomesGalleryResults">  
         <p class="nhs_Sorting">
                @{Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunitySorting);}
            </p>

        <div id="ViewHomes">
            @{Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityResultData);}
        </div>
        <div class="nhs_Clear"></div>
    </div>
    <div class="nhs_Clear"></div>
</div>
</section>
