﻿@using Nhs.Search.Objects
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
@if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled)
{
    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
}

<div id="nhs_DetailsHeader">    
    <div class="nhs_DetailsHeaderTitleCity">
        <h1 class="nhs_DetailsHeaderTitle">
            @if (!string.IsNullOrEmpty(Model.H1))
            {
                @Model.H1.ToMvcHtmlString()
            }
            else
            {
                @Model.CommunityName
            }
        </h1>
        @Html.FbLike()
    </div>
</div>

<div id="nhs_DetailsDescription">
    <div id="nhs_DetailsHeaderBrandHomesSqFt">

        <h2 class="nhs_DetailsHeaderBuilderName">@Model.FormatBrandName()</h2>
        <p>
            @Model.FormatHomesAvailable()
            @Model.FormatSqFeet()
        </p>

    </div>
    <div class="nhs_Clear"></div>
</div>

<p id="nhs_DetailsClaimYourListing">
    @LanguageHelper.AreYouTheOwnerOf.ToMvcHtmlString() @Model.CommunityName? <a class="btnCss" target="_blank" id="nhs_LinkClaimYourListing" href="http://www.thebdx.com/claimyourlisting/">@LanguageHelper.ClaimThisListing.ToMvcHtmlString()</a>
</p>