﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
@if (Model.HomeResultsApi != null)
{
    Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityDetailTabs);
    Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityHomesGallery);
}
@if (Model.GetHomesGalleryPager())
{
    Html.RenderPartial(NhsMvc.PartialViews.Views.Common.Pager, Model.HomeResultsApi, new ViewDataDictionary());
}
else if (Model.GetHomesGalleryLink())
{ 
    <p class="nhs_GalleryMatchingHomes">
        <a id="nhs_HomesGalleryLink" href="javascript:void(0)">@LanguageHelper.MatchingHomesShown.ToMvcHtmlString() »</a></p>
}
<div class="nhs_BackToTop">
    <a href="#top">
      @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
