﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel


@if (Model.AllNewHomesCount > 0)
  {
<strong>
    <label for="SortOptionSelected">
        @LanguageHelper.SortBy.ToMvcHtmlString():</label></strong>
@Html.DropDownListFor(m => m.SortOptionSelected, Model.SortOptionList)
} 
