﻿@model Nhs.Web.UI.AppCode.ViewModels.IPropertyMapViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Library.Web
@using Nhs.Library.Web.ImageResizer
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.ViewModels
@using StructureMap.Query
<div id="Maps">
    <div class="nhs_mapAndDirections">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">
                @if (NhsRoute.PartnerId == (int)PartnersConst.Move)
                {
                    @LanguageHelper.Location.ToMvcHtmlString()
                }
                else
                {
                    @LanguageHelper.MapAndDirections.ToMvcHtmlString()
                                }
            </h3>
        </div>
        <div id="dd-collapsible" style="display: none">
            <div class="nhs_CommunityMap nhs_DetailContent">
                @if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
                {
                    <div id="nhs_MapLeftSide">
                        <div id="nhs_GetDirections">
                            <h3 class="nhs_Title">
                                @LanguageHelper.GetDirectionsFrom.ToMvcHtmlString()...</h3>
                            <p>
                                <label for="nhsTxtStreeAddress">
                                    @LanguageHelper.StreetAddress.ToMvcHtmlString():</label><br />
                                <input type="text" id="nhsTxtStreeAddress" maxlength="100" class="nhs_TxtStreetAddress" /></p>
                            <p>
                                <input type="submit" class="btnCss btn_MapShowRoute" id="btnUpdate" value="@LanguageHelper.ShowRoute" />
                                <br />
                                <span id="nhsWrongAddress" style="display: none; color: Red;">@LanguageHelper.UnableToGetDrivingDirections.ToMvcHtmlString()</span></p>
                        </div>
                        @if (!Model.HideDrivingDirections)
                        { 
                            <div id="nhs_BuilderDir">
                                @if (!string.IsNullOrEmpty(Model.DrivingDirections))
                                {
                                    <h3 class="nhs_Title">
                                        @LanguageHelper.DrivingDirectionsTo.ToMvcHtmlString()</h3>
                                }
                                else
                                {
                                    @LanguageHelper.ForDrivingDirectionsContactBuilder.ToMvcHtmlString()
                                                                    }
                                @if (!string.IsNullOrEmpty(Model.DrivingDirections))
                                {
                                    <p id="nhs_drivingDirections">
                                        @Model.DrivingDirections
                                    </p>
                                }
                            </div>
                        }
                        @if (Model.EnableRequestAppointment && Model.IsBilled)
                        {
                            if (((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                            {
                                var tempModel = (IDetailViewModel)Model;
                                tempModel.RequestAnAppointment = true;
                                   
                            <div id="divDetailsFormPartialAjax2">
                                @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionFieldsPro, tempModel)
                            </div>
                            }
                            else
                            {
                            <div class="nhs_RequestAppointment">
                                <p class="nhs_Title">
                                    @LanguageHelper.RequestAnAppointment.ToMvcHtmlString()</p>
                                <p>
                                    <label for="nhsTxtDate">
                                        @LanguageHelper.MyPreferredDate.ToMvcHtmlString():</label>
                                    <input type="text" id="nhsTxtDate" maxlength="100" autocomplete="off" class="nhs_TxtDate" />
                                    <input type="text" id="nhsFakeDate" style="display: none;" />
                                    @Html.NhsRequestAppModalLink(LanguageHelper.Send, "btnCss btn_NhsMapSend", "***", (IDetailViewModel)Model, "btn_NhsMapSend", false)</p>
                                @if (((IDetailViewModel)Model).PreviewMode)
                                { 
                                    <div class="nhs_DisbaleRequestAppointment">
                                    </div>
                                }
                            </div>
                            }
                        }
                    </div>
                }
                <div id="nhs_MapRightSide">
                    @if (!string.IsNullOrEmpty(Model.BuilderMapUrl) && !((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
                    {
                        <ul id="nhs_mapTypeMenu">
                            <li id="tabMQMap"><a class="On" href="javascript:void(0)">@LanguageHelper.GoogleMap.ToMvcHtmlString()</a></li>
                            <li>| </li>
                            <li id="tabBuilderMap"><a href="javascript:void(0)">@LanguageHelper.BuilderMap.ToMvcHtmlString()</a></li>
                        </ul>
                    }
                    <div id="nhs_PropertyMap" class="map">
                    </div>
                    <div id="nhs_BuilderPropertyMap" class="map" style="display: none;">
                        @if (!string.IsNullOrEmpty(Model.BuilderMapUrl))
                        {
                            @Html.NhsImage(Model.BuilderMapUrl, new ResizeCommands { Format = ImageFormat.Jpg, Width = 451, Height = 385 }, LanguageHelper.BuilderMap, true, false)
                        }
                    </div>
                    <div id="nhs_PropertyMapAddress">
                            @if (!String.IsNullOrEmpty(Model.UnderneathMapCommName) || !String.IsNullOrEmpty(Model.BrandName))
                            {
                                <p id="nhs_MapAddressLeft">
                                    <strong>@Model.UnderneathMapCommName</strong>
                                    <br />
                                    @if (!String.IsNullOrEmpty(Model.BrandName))
                                    {
                                        @LanguageHelper.By.ToMvcHtmlString()
                                                                    }
                                    @Model.BrandName&nbsp;
                                </p>
                            }
                            @if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
                            {
                                var id = !String.IsNullOrEmpty(Model.UnderneathMapCommName) || !String.IsNullOrEmpty(Model.BrandName) ? "nhs_MapAddressRight" : "nhs_MapAddressFullWidth";

                                <p id="@id">
                                    @Model.UnderneathMapAddress.ToMvcHtmlString()
                                </p>
                            }
                    </div>
                </div>
            </div>
        </div>
        <div class="nhs_ExpandBottomLine">
            <a id="nhs_propertyMapCollapsibleClose" class="nhs_DetailCollapse" href="#">@LanguageHelper.Collapse.ToMvcHtmlString()</a>
            <a id="nhs_propertyMapCollapsibleOpen" class="nhs_DetailExpand" href="#">@LanguageHelper.Expand.ToMvcHtmlString()</a>
        </div>
        <div id="nhsDrivingDirections">
        </div>
        <div class="nhs_Clear">
        </div>
    </div>
</div>
<div class="nhs_BackToTop">
    <a href="#top">
       @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
