﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
<div class="nhs_DetailsFormBasicCommunity">
    <div class="nhs_DetailsFormWrapperBasicCommunity">
        <div id="nhs_DetailsFormInfoActionsBasicCommunity">
            @{ Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.PropertyInfoAndSteps); }
        </div>
        @if (Model.NearByCommsSmall.Any() || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
        {
            Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.NearByCommunities, Model);
        }
        else
        {
            <div id="nhsAdContainerMiddle3BasicCommunity">
                 <div id="nhs_MiddleRightBottomSq"></div>
            </div>
        }
        @* MORE ACTIONS *@
        <div class="nhs_DetailsFormMoreActions nsh_FormMoreActionsWrapper">
            @*<div id="nhs_RequestAppointmentVWO" class="nhs_RequestForMoreApp">
                @Html.NhsRequestAppModalLink("Request an appointment", "btnCss btn_RequestAppointment", "***", Model, "btn_requestappointment", false)
            </div>*@
            <p class="nhs_FormTitle nhs_BasicTitle">
                <strong>
                    @(NhsRoute.PartnerId == (int) PartnersConst.Move ? LanguageHelper.GetStarted.ToMvcHtmlString() : LanguageHelper.NextSteps.ToMvcHtmlString())
                </strong>
            </p>
            <ul style="width:100%">
                @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                {

                    if (Model.ShowMortgageLink)
                    {
                        <li class="">@Html.Raw(Model.AffiliateLinksData.MortageRatesFormArea)</li>
                    }
                    <li class="">@Html.Raw(Model.AffiliateLinksData.FreeCreditScoreFormArea)</li>
                }
                @if (NhsRoute.IsPartnerCna | NhsRoute.IsPartnerNhs || NhsRoute.IsPartnerMove || NhsRoute.IsBrandPartnerNhsPro)
                {
                    <li class="nhs_SendPhoneLink">
                        @Html.NhsModalWindowLink(LanguageHelper.SendToPhone, Pages.SendToPhone,
                            ModalWindowsConst.SendToPhoneWidth,
                            ModalWindowsConst.SendToPhoneHeight, new List<RouteParam>
                            {
                                new RouteParam(RouteParams.CommunityId, Model. CommunityId.ToString(), RouteParamType.QueryString)

                            }, new { title = LanguageHelper.SendToPhone })
                    </li>
                }
                @if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    <li class="">
                        @Html.SendToFriendLink(Model)
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
