﻿@model Nhs.Web.UI.AppCode.ViewModels.IMediaGalleryViewModel
@using System.Web.Mvc.Html
@using Nhs.Web.UI.AppCode.HtmlHelpers

<div class="nhs_MediaPlayerContainer">
    <div id="vidP" class="nhs_VideoPlayerBox" style="display: none;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        @{
            Model.Size = new KeyValuePair<int, int>(355, 236);
            Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.MediaPlayerVideo, Model);
        }
    </div>
    <div id="medP" class="nhs_ImagePlayerBox" itemscope itemtype="http://schema.org/ImageObject">
       <div id="nhs_ImagePlayer">
           <div id="gallery" class="ad-gallery">
                <div class="ad-image-wrapper">
                </div>
            </div>
        </div>
    </div>
    <div class="nhs_MediaShareOverlay">
        @if (!string.IsNullOrEmpty(Model.PinterestDescription))
          {
            @Html.RenderPinterest(Model.PageUrl, Model.FirstImage, Model.PinterestDescription, null)
          }
    </div>
    <div class="ad-nav">
        <div class="ad-thumbs">
            <ul class="ad-thumb-list" id="galleryList">
            </ul>
        </div>
    </div>
    <div class="nhs_Clear"></div>
</div>
