﻿@model KeyValuePair<int, int>
@using Nhs.Library.Common
@using Nhs.Web.UI.AppCode.Helper
<div id="nhsplayerloading">
    <img src="@Resources.GlobalResourcesMvc.Default.images.player_loading_gif" alt="" />
    <p>
        @LanguageHelper.LoadingMedia...</p>
</div>
<div id="nhsplayerContainer">
    <div id="noImage" style="display: none">
        <img src="@Resources.GlobalResourcesMvc.Default.images.nophoto_media_jpg" alt="@LanguageHelper.NoPhotoOrVideoAvailable" />
    </div>
    <div id="nhsplayerVideo">
        <a id="VideoAnchor" name="VideoAnchor"></a>
        <p class="ad-image-description">
            <strong class="ad-description-title" itemprop="name" id="nhs_MediaImageTitle"></strong>
        </p>
        <div class="ad-gallery">
            <!-- Start of Brightcove Player -->
            <div style="display: none;">
            </div>
            <!--
By use of this code snippet, I agree to the Brightcove Publisher T and C
found at https://accounts.brightcove.com/en/terms-and-conditions/.
-->
            <div id="youtubeP">
            </div>
            <div id="brightcoveP">
                <object id="myExperience1680434289001" class="BrightcoveExperience">
                    <param name="bgcolor" value="#FFFFFF" />
                    <param name="width" value="460" />
                    <param name="height" value="307" />
                    <param name="playerID" value="1667945989001" />
                    <param name="playerKey" value="AQ~~,AAAAoHrMLqk~,osF5d68SlgA1TMd0vYURipPfVwhan4D2" />
                    <param name="isVid" value="true" />
                    <param name="isUI" value="true" />
                    <param name="dynamicStreaming" value="true" />
                    <param name="htmlFallback" value="true" />
                    <param name="includeAPI" value="true" />
                    <param name="templateLoadHandler" value="myTemplateLoaded" />
                    <param name="templateReadyHandler" value="onTemplateReady">
                    <param name="wmode" value="transparent" />
                </object>
            </div>

            <div id="prevParent" class="ad-prev">
                <div id="prevVid" class="ad-prev-image" title="@LanguageHelper.Previous">
                </div>
            </div>
            <div id="nextParent" class="ad-next">
                <div id="nextVid" class="ad-next-image" title="@LanguageHelper.Next">
                </div>
            </div>
        </div>
    </div>
</div>
