﻿@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@if (Model.NearByComms != null)
{
    <section id="NearbyHomes">
        @{
    var nearByComms = Model.IsBottom ? Model.NearByComms : Model.NearByCommsSmall;

    if (!Model.IsBottom && Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs && nearByComms.Count < 2)
    {
        if (Model.ShowCta)
        {
            <div class="nhs_NearbyComms clearfix">
                <div class="nhs_DetailSections">
                    <h3 class="nhs_DetailSectionTitle">
                        @LanguageHelper.AndWaitThereIsMore.ToMvcHtmlString()
                    </h3>
                </div>
                @Html.NhsLink(LanguageHelper.SeeMoreCommunitiesInThe + Model.MarketName + (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "" : " area"), Pages.CommunityResults, new List<RouteParam>() { new RouteParam(RouteParams.Market, Model.MarketId), new RouteParam(RouteParams.Page, "1") }, new { @class = "btnCss" })
            </div>
        }
        if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
        {
            @Html.StaticContent("/BasicCommunityDetail/eBookContent.html", new ContextPathMapper(), "")
        }

    }
    else
    {
        <div class="@(Model.IsBottom ? "nhs_DetailCard" : "nhs_NearbyComms") clearfix">
            <div class="nhs_DetailSections">
                <h3 class="nhs_DetailSectionTitle">
                    @(Model.IsBottom ? LanguageHelper.MoreNewHomesInNearbyCommunities : LanguageHelper.NearbyCommunities)
                </h3>
            </div>
            <div class="nhs_MoreHomesNearby">
                <ul>
                    @foreach (var comm in nearByComms)
                    {
                        <li class="nhs_NearbyItem">
                            <div class="nhs_NearbyImgBox">
                                @Html.NhsAsyncImageLink(comm.CommThumbnail(), Pages.CommunityDetail, comm.ToCommunityDetail(), null, null, false)
                                <p class="nhs_NearbyImgOverlay">@comm.DistanceFromCommunity.FormatDistance()</p>
                            </div>
                            <p class="nhs_selector">
                                @Html.NhsLink(comm.CommunityName, RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null)
                            </p>
                            <p>
                                @LanguageHelper.By.ToMvcHtmlString() @MvcHtmlString.Create(HttpUtility.HtmlDecode(@comm.BrandName))
                            </p>
                            <p>
                                @LanguageHelper.HomesFrom.ToMvcHtmlString()
                                @comm.PriceLow.FormatPrice()
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery(".nhs_DetailCard .nhs_MoreHomesNearby ul").bxSlider({
                        responsive: false,
                        infiniteLoop: true,
                        slideWidth: 200,
                        slideMargin: 20,
                        minSlides: 1,
                        maxSlides: 3,
                        pager: true,
                        controls: true
                    });
                });
            </script>
    }
        }
    </section>
}
