﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Web.Mvc.Html
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.ViewModels
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
{
    <div class="nhs_DetailsFormInfoBasicCommunity">
        <p class="nhs_FormTitle">
            <strong>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    @LanguageHelper.VisitThisCommunity.ToMvcHtmlString()
                    if (!string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase))
                    {
                        Model.DetailType.AppendNewLineTag();
                    }
                }
                else
                {
                    @LanguageHelper.Location.ToMvcHtmlString()
                }
            </strong>
        </p>
        <div class="nhs_FormAddressHours">
           @Html.Partial(NhsMvc.Default.Views.Common.RichSnippets, Model)
        </div>
    </div>
}

