﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
<div class="nhs_Content nhs_BasicCommunityDetails" id="nhs_CommunityDetails">
    @if (Model.CommunityId == 0)
    {
        Html.RenderPartial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty);
    }
    else
    {
        Model.IsBasicCommunity = true;
        Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityHeader);
        <div id="BasicCommunityMediaGallery" style="display:none">
            @{ Html.RenderPartial(NhsMvc.Default.Views.Common.PropertyDetail.MediaGallery, Model); }
        </div>
        <div id="BasicCommunityMediaMap" style="display:none">
            <img id="imgBasicCommStaticMap" src="@GlobalResources14.Default.images._1x1_gif" alt="@LanguageHelper.Map" />
        </div>
             Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityContactContainer);
             if (Model.HomeResultsApi != null && Model.HomeResultsApi.Any())
             {
                 Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityHomesAndPlans);
             }
             Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.BasicCommunityMap);

             if (Model.NearByComms.Any())
             {
                 Model.IsBottom = true;
                 Html.RenderPartial(NhsMvc.Default.Views.BasicCommunityDetail.NearByCommunities, Model);
             }
    }
    @{
        @*Copyright Text*@
        Html.RenderPartial(NhsMvc.Default.Views.Common.Disclaimer);
    }
</div>
<div id="nhs_Loading">
    <p>
        <strong>@LanguageHelper.Loading.ToMvcHtmlString()...</strong>
    </p>
</div>
@section cphDataLayer{
    @Model.GetGtmDataLayerForDetailPage(true)
}

@section cphFooter{
    <script type="text/javascript">

    var commDetail = null;
    var metricLogger = null;
    jQuery(document).ready(function () {

        // Once the doc is ready, loads the map.
        var parameters = {
            method: @Model.Globals.GetAddCommunityToPlannerUrl(Model.CommunityId, Model.BuilderId).ToMvcHtmlString(),
            tabsControlId: 'nhs_CommDetailTabs',
            searchAction: '@Html.GetActionUrl(NhsMvc.BasicCommunityDetail.Name, NhsMvc.BasicCommunityDetail.ActionNames.Sort)',
            loadingControlId: 'nhs_Loading',
            siteRoot: '/@NhsRoute.SiteRoot',
            communityId: @Model.CommunityId,
            builderId: @Model.BuilderId,
            partnerId: @NhsRoute.PartnerId,
            isBilled: '@Model.IsBilled',
            showSocialIcons: '@Model.ShowSocialIcons',
            marketId: @Model.MarketId,
            fromPage: '/@NhsRoute.CurrentRoute.Function',
            MoreText: "@LanguageHelper.More.ToMvcHtmlString()",
            LessText: "@LanguageHelper.Less.ToMvcHtmlString()",
            ShowOnly9HomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 9)",
            ShowOnly12HomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 12)",
            NineMatchingHomesShownSeeAllText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 9)",
            TwelveMatchingHomesShownSeeAllText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 12)",
            mapParametes: {
                resourceRoot: '@Nhs.Library.Common.Configuration.ResourceDomain/',
                drivingDirectionAction: '/@Pages.DrivingDirections ',
                NearbyComms: @(Model.NearByComms != null && Model.NearByComms.Count > 3 && !string.IsNullOrEmpty(Model.NearByCommsObject) ? Model.NearByCommsObject.ToMvcHtmlString() : "[]".ToMvcHtmlString()),
                siteRoot: '/@NhsRoute.SiteRoot ',
                partnerId: @NhsRoute.PartnerId,
                marketId: @Model.MarketId,
                isBasicListing: false,
                isBasicCommunity: true,
                fromPage: '/@NhsRoute.CurrentRoute.Function',
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                planId: 0,
                specId: 0,
                mapWidth: 451,
                mapHeight: 385,
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? Configuration.ResourceDomainPublic + "/globalresources14/default/images/icons/map_poi_blue.png" : Configuration.ResourceDomainPublic + "/globalresources14/default/images/icons/map_poi_green.png")",
                iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_gray_png",
                iconNearByComm: "@GlobalResources14.Default.images.icons.map_poi_gray_png",
                getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                        Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                        Zoom: 14,
                        ContainerName: 'nhs_PropertyMap',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 14,
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'CommunityName'
                    },
                    Autocomplete: {
                        CreateControl: false,
                        BindToBound: false,
                        Autocompletecontrol: 'nhsTxtStreeAddress'
                    }
                }
            },

            nearByParams: {
                brandPartnerId: @NhsRoute.BrandPartnerId,
                marketId: @Model.MarketId,
                siteRoot: '/@NhsRoute.SiteRoot',
                partnerId: @NhsRoute.PartnerId,
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId
                },

            galleryParams: {
                urlGallery: "@Html.GetActionUrl(NhsMvc.BaseDetail.Name, NhsMvc.BaseDetail.ActionNames.GetGalleryObjects)",
                builderID: @Model.BuilderId,
                communityID: @Model.CommunityId,
                isPreview: "@Model.PreviewMode",
                imgBaseUrl: '@Configuration.IRSDomain/',
                imgStaticUrl: '@Configuration.ResourceDomain/',
                container: 'nhs_VideoWrapperNew',
                titleBarID: 'nhs_ImagePlayerTitle',
                captionBarID: 'nhs_ImagePlayerCaption',
                titleBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.ViewThisCommunity.ToMvcHtmlString() : LanguageHelper.CommunityGallery.ToMvcHtmlString())",
                captionBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Showing.ToMvcHtmlString() + " : " : LanguageHelper.NowShowing.ToMvcHtmlString() + " : ")",
                imgtitleBar: 'nhs_MediaImageTitle',
                url: '@Model.Globals.CurrentUrl',
                type: 'community',
                brightCoveSuffix: '@Configuration.BrightcoveEnvSuffix',
                brightcoveToken: "@Nhs.Library.Common.Configuration.BrightcoveReadToken",
                isBasicCommunity: true,
                isPro: @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? 1 : 0),
                isCommResults: 0,
                videoWidth : 460,
                videoHeight : 307,
                CommunityGalleryText: "@LanguageHelper.CommunityGallery.ToMvcHtmlString()",
                CommunityVideoGalleryText: "@LanguageHelper.CommunityVideoGallery.ToMvcHtmlString()",
                TourVideoGalleryText: "@LanguageHelper.TourVideoGallery.ToMvcHtmlString()",
                HomeGalleryText: "@LanguageHelper.HomeGallery.ToMvcHtmlString()",
                CommunityImageText: "@LanguageHelper.CommunityImage.ToMvcHtmlString()",
                HomeImageText: "@LanguageHelper.HomeImage.ToMvcHtmlString()",
                NowShowingText: "@LanguageHelper.NowShowing.ToMvcHtmlString()",
                HomeVideoText: "@LanguageHelper.HomeVideo.ToMvcHtmlString()",
                CommunityVideoText: "@LanguageHelper.CommunityVideo.ToMvcHtmlString()",
                ElevationText: "@LanguageHelper.Elevation.ToMvcHtmlString()",
                VirtualTourText: "@LanguageHelper.VirtualTour.ToMvcHtmlString()",
                FloorPlanText: "@LanguageHelper.FloorPlan.ToMvcHtmlString()",
                ExternalVideoText: "@LanguageHelper.ExternalVideo.ToMvcHtmlString()",
                PlanViewerText: "@LanguageHelper.PlanViewer.ToMvcHtmlString()",
                InteriorText: "@LanguageHelper.Interior.ToMvcHtmlString()",
                ExteriorText: "@LanguageHelper.Exterior.ToMvcHtmlString()",
                CommunityLotMapText: "@LanguageHelper.CommunityLotMap.ToMvcHtmlString()"
        }
    };

    commDetail = new NHS.Scripts.BasiCommunityDetail(parameters);
    commDetail.initialize();

    var metricLoggerparameters = {
        siteRoot: '/@NhsRoute.SiteRoot',
            homeSearchViewMetricDisplayed: '@Model.HomeSearchViewMetricDisplayed',
            homeSearchViewMetricHidden: '@Model.HomeSearchViewMetricHidden'
        };
        metricLogger = new NHS.Scripts.Globals.EventLogger(metricLoggerparameters);
        metricLogger.logHomeResultsMetrics('BCDHV', 1);

        setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.BasicCommunityDetailPageLoad', { communityId: @Model.CommunityId, builderId: @Model.BuilderId, totalHomes: @Model.AllNewHomesCount, marketId: @Model.MarketId, refer: '@UserSession.Refer' }); }, 2000);
    });

    </script>
    @Html.GetGoogleMapScript()
   
    @ResourceCombinerEnum.BASICCOMMDETAILJS.GetCrunchedResource()
}
