﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="PartnersAds.Master.cs" Inherits="NHS.Web.UI.MasterPages.PartnersAds" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<asp:PlaceHolder id="plhDocType" runat="server"></asp:PlaceHolder> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head id="PageHead" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <asp:ContentPlaceHolder runat="server" id="headerPlaceHolder" />   
    <!-- PartnerAds.Master --> 
</head>
<asp:literal id="ltrPageBodyOpenTag" runat="server" />    
    <div id="nhsAdTop">
	    <p class="nhsReader">Advertisement</p>
	    <div class="nhsAdBorder"><nhs:ad ID="Top" UseIFrame="true" runat="server" /></div>
	    <hr class="nhsReaderAlt" />    
	</div>	
    <asp:PlaceHolder ID="plhShellBodyTop" runat="server"></asp:PlaceHolder>  
    <form id="nhsForm" runat="server">
        <div style="width: 970px; float: left;">
            
            <div id="nhsAdLeftCol">
                <hr class="nhsReaderAlt" />
		        <p class="nhsReader">Advertisement</p>
		        <div class="nhsAdRight2"><nhs:ad ID="Right2" UseIFrame="true" runat="server" /></div>
		        <p class="nhsReader">Advertisement</p>		       
		        <div class="nhsAdBottom"><nhs:ad ID="Bottom" UseIFrame="true" runat="server" /></div>       
		    </div>
            <div id="nhsPartnerContainer" style="float: right;">    
            <asp:Image ID="imgPoweredBy" ImageUrl="[resource:]/GlobalResources/Default/images/nhs_powered_by.gif" AlternateText="Powered By New Home Source" CssClass="nhsPoweredBy" runat="server" />

            <!-- <nhs:partnernavmenu id="partnerNav" runat="server" visible="false" /> //-->
            <!-- <nhs:personalBar id="partnerPersonalBar" runat="server"  visible="false"/> //-->
            <asp:contentplaceholder id="cplhMainContainer" runat="server"></asp:contentplaceholder>        
            <nhs:footer id="ftrPartner" runat="server" visible="true"/>
            <div class="nhsClear"></div>    
            </div>            
        </div>
    </form>
    <asp:PlaceHolder ID="plhShellBodyBottom" runat="server"></asp:PlaceHolder>
    <asp:ContentPlaceHolder runat="server" id="trackingScripts" /> 
    <nhs:ad ID="x03" UseIFrame="true" runat="server" />       
<asp:Literal id="ltrPageBodyClosingTag" runat="server" />
</html>
