﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="PartnersMoveShell.Master.cs" Inherits="NHS.Web.UI.MasterPages.PartnersMoveShell" %>
<%@ Import Namespace="Nhs.Library.Common" %>
<%@ Import Namespace="Nhs.Web.UI.AppCode.HtmlHelpers" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<asp:PlaceHolder id="plhDocType" runat="server"></asp:PlaceHolder> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head id="PageHead" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <asp:ContentPlaceHolder runat="server" id="headerPlaceHolder" />
   <asp:PlaceHolder id="plhGoogleUtmz" runat="server"></asp:PlaceHolder>
    <!-- PartnersMoveShell.Master -->    
</head>
<asp:literal id="ltrPageBodyOpenTag" runat="server" />
    <%-- <div id="nhsAdTop">
	    <p class="nhsReader">Advertisement</p>
	    <div class="nhsAdBorder"><nhs:ad ID="Top" UseIFrame="true" runat="server" /></div>
	    <hr class="nhsReaderAlt" />    
	</div> --%>
    <script type="text/javascript">
        var pId = '<%= XGlobals.Partner.PartnerId %>';
        var pName = '<%= XGlobals.Partner.SiteName %>';
        var gaValue = pName + '-' + pId;
        window.onload = $.googlepushCustomVar(2, 'Partner Site', gaValue, 2);                
    </script>
    <asp:PlaceHolder ID="plhShellBodyTop" runat="server"></asp:PlaceHolder> 
    <form id="nhsForm" runat="server">        
        <div id="mvPartner" style="width: 970px; float: left;"> 
        <div id="mvheader_wrapper">           
            <div id="mvHeader">
		        <div class="mvLogoBox">
		        <nhs:Link ID="lnkHome" Function="Home" runat="server" title="Move.com&reg; - The leader in online real estate" AccessKey="1"><img id="Img1" class="nhsLogo" src="[resource:]/globalresourcesmvc/move/images/move_new_homes.png" alt="Move.com&reg; - The leader in online real estate" border="0" runat="server" /></nhs:Link>
		        </div>
			    <div class="nhsReader">Move.com New Homes</div>

			    <div id="mvToolNav">
				    <p class="nhsReader">Tools</p>
				    <ul id="mvToolList">					
		    		    <li id="mvToolSignIn">
		    		        <asp:HyperLink ID="lnkSignIn" runat="server" rel="nofollow" Text="Sign In" />
		    		        <nhs:Link ID="lnkSignOff" runat="server" rel="nofollow" Function="logoff" Title="Sign Out" Text="Sign Out" Visible="false"/>
					    </li>
					    <li id="mvToolRegister">
		    		        <asp:HyperLink ID="lnkRegister" runat="server" Text="Create Account"/>
					    </li>   					
					    <li id="mvToolPlanner">
		    		        <nhs:Link ID="lnkNewHomePlanner" runat="server" rel="nofollow" Function="SavedHomes" Title="Save homes and communities">My Saved Properties</nhs:Link>										
					    </li>
					    <li id="mvToolHelp">
		    		        <nhs:Link ID="lnkHelp" runat="server" rel="nofollow" Function="Help" AccessKey="6">Help</nhs:Link>										
					    </li>
					    <li id="mvToolEspanol">
						    <a title="Casas Nuevas Aqu&iacute;" href="http://www.casasnuevasaqui.com/" onclick="$jq.googlepush('Outbound Links','Header','En Espanol')">En Espa&ntilde;ol</a>
					    </li>
				    </ul>
			    </div>
		    </div>  
        </div>    
		    
        <nhs:personalBar id="partnerPersonalBar" runat="server" />
            <div id="nhsAdRightCol">
                <hr class="nhsReaderAlt" />
                <p class="nhsReader">Advertisement</p>
                <div class="nhsAdRight2"><nhs:ad ID="Right2" UseIFrame="true" runat="server" /></div>
                <p class="nhsReader">Advertisement</p>		       
                <div class="nhsAdBottom"><nhs:ad ID="Bottom" UseIFrame="true" runat="server" /></div>       
            </div>
            <div id="nhsPartnerContainer" style="float: left;"> 
                
                <!-- <asp:Image ID="imgPoweredBy" ImageUrl="[resource:]/GlobalResources/Default/images/nhs_powered_by.gif" AlternateText="Powered By New Home Source" CssClass="nhsPoweredBy" runat="server" />
                <nhs:partnernavmenu id="partnerNav" runat="server" /> -->
                <asp:contentplaceholder id="cplhMainContainer" runat="server"></asp:contentplaceholder>      
            </div>
            <nhs:footer ID="footer" runat="server" />
            <div class="nhsClear"></div>  
        </div>   
    </form>
    <asp:PlaceHolder ID="plhShellBodyBottom" runat="server"></asp:PlaceHolder>  
    <asp:ContentPlaceHolder runat="server" id="trackingScripts" />
    <nhs:ad ID="x03" UseIFrame="true" runat="server" />
<asp:Literal id="ltrPageBodyClosingTag" runat="server" />
 </html>
