﻿/* ---------------------------------------------
Title:      HW NHL MVC Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Jan 19 2012
----------------------------------------------- */

a { 
    color: #20476f;
    text-decoration: none; 
}

body {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/bg_body.png") repeat-x scroll 0 0 transparent;
	}
body.nhs_EmptyBody {
	background: none;
	}
#hwnhl_Header {
	border: 0px solid #000;
	margin: 0 auto;
	padding: 5px 0 0 0;
	width: 990px;
	}
#hwnhl_Header a {
	color: #fff;
	}
#hwnhl_AdTop {
	clear: both;
    margin: 0 auto;
    padding: 0 0 5px;
    text-align: center;
    width: 730px;
	}
.hwnhl_Logo a {
	background: url("/globalresourcesmvc/newhomelistings/images/nhllogo.gif") repeat-x scroll left top transparent;
    float: left;
    margin: 14px 0 0 16px;
    height: 41px;
    overflow: hidden;
    text-indent: -200px;
    width: 386px;
	}
	
#hwnhl_ToolNav {
	float: right;
	width: 585px;
	color: #fff;
	font-size: 85%;
	}
#hwnhl_ToolNav ul {
	float: right;
    list-style-type: none;
    padding: 5px 0 0;	
	}
#hwnhl_ToolNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0 6px;
    border-right: 1px solid #fff;
	}
#hwnhl_ToolNav ul li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	}
#hwnhl_ToolNav ul li a:hover {
	text-decoration: underline;
	}
#hwnhl_ToolNav ul li.hwnhl_Last {
	border: 0;
	}
	
#hwnhl_MainNav {
	float: right;
	}
#hwnhl_MainNav ul {
	float: right;
    list-style-type: none;
    padding: 8px 0 0;	
	}
#hwnhl_MainNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0;
	}
#hwnhl_MainNav ul li a {
	float: left;
    font-size: 10px;
    height: 19px;
    margin-left: 6px;
    padding-top: 1px;
    text-align: center;
    text-decoration: none;
    width: 148px;
	}
#hwnhl_MainNav ul li.hwnhl_NavNewHomes a {
	background: url("/globalresourcesmvc/newhomelistings/images/buttons/nav_buttons.png") no-repeat scroll 0 -1px transparent;
	background-position: 0 -45px;
    text-indent: -3000px;
	}
#hwnhl_MainNav ul li.hwnhl_NavMyNewHomes a {
	background: url("/globalresourcesmvc/newhomelistings/images/buttons/nav_buttons.png") no-repeat scroll 0 -1px transparent;
	background-position: 0 -67px;
    text-indent: -3000px;
	}
	
#hwnhl_SearchBar {
	float: left;
	clear: both;
	width: 990px;
	height: 24px;
	background: #b0b0b0;
	}	
	
#hwnhl_SearchNav {
	float: left;
	clear: both;
	width: 976px;
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -87px #F8F8F8;
    color: #4A4A4A;
    font-size: 85%;
    font-weight: bold;
    margin-top: 12px;
    padding: 6px 0 6px 14px;
	}
#hwnhl_SearchNav ul {
	float: left;
    list-style-type: none;
    padding: 0;	
	}
#hwnhl_SearchNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0 6px;
    border-right: 1px solid #4A4A4A;
	}
#hwnhl_SearchNav ul li.hwnhl_Last {
	border: 0;
	}
#hwnhl_SearchNav a {
	color: #4A4A4A;
	font-weight: bold;
    margin: 0;
    text-decoration: none;
	}
	
#hwnhl_Container {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 990px;
    line-height: 1.4;
	}	
#hwnhl_SectionMain {
	background: #fff;
    float: left;
    min-height: 450px;
    padding: 12px 10px 0;
    width: 970px;
	}
	
#hwnhl_Footer {
	margin: 0 auto;
    padding: 0 0 10px 0;
    text-align: left;
    width: 990px;
    font-size: 85%;
	color: #999;	
	}
#hwnhl_Footer a {
	color: #999;
	text-decoration: none;
	}
#hwnhl_Footer a:hover {
	text-decoration: underline;
	}
#hwnhl_Searchbar {
	float: left;
	clear: both;
	width: 990px;
	height: 26px;
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -117px #284972;
	}
#hwnhl_Footer p,
#hwnhl_Footer nav {
	float: left;
	width: 100%;
	margin-top: 11px;	
	}
#hwnhl_Footer #hwnhl_Menu {
	font-weight: bold;
	}
#hwnhl_Footer #hwnhl_Submenu {
	margin-top: 0;
	}
	
#hwnhl_Container .nhs_Tabs {
	font-size: 14px;
	border-bottom: 0;
	}	
#hwnhl_Container .nhs_Tabs li a {
	padding: 7px 8px 3px 8px;
	border: 0;
	color: #497cbc;
	background: none;
	background-color: #fff;
	}
#hwnhl_Container .nhs_Tabs li a:hover {
	color: #497cbc;
	text-decoration: underline;
	}
#hwnhl_Container .nhs_Tabs li a > span {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-decoration: none;
	background: none;
	}
	
#hwnhl_Container #hotDealsTab a {
	background: #fff url(/globalresourcesmvc/default/images/icons/hot_homes.png) no-repeat 10px 45%;
	padding: 9px 14px 7px 30px;
	}
#hwnhl_Container .nhs_Tabs li.nhs_Selected a {
	border-bottom: 2px solid #000;
	background-color: #fff;
	color: #333;
	cursor: default;	
	text-decoration: none;
	}
#hwnhl_Container .nhs_Tabs li#hotDealsTab.nhs_Selected a {
	background-color: #fff;
	cursor: default;
	}
#hwnhl_Container #hotDealsTab a span {
	display: inline;
	background: none;
	padding: 0;
	}
#hwnhl_Container #hotDealsTab a span span {
	display: inline;
	background: none;
	padding: 0;
	}
	
#hwnhl_Container #quickMoveInTab a {
	background: #fff url(/globalresourcesmvc/default/images/icons/quick_move_in.png) no-repeat 10px 50%;
	padding: 9px 14px 7px 36px;
	}
#hwnhl_Container .nhs_Tabs li#quickMoveInTab.nhs_Selected a {
	background-color: #fff;
	cursor: default;
	}
#hwnhl_Container #quickMoveInTab a span {
	display: inline;
	background: none;
	padding: 0;
	}
#hwnhl_Container #quickMoveInTab a span span {
	display: inline;
	background: none;
	padding: 0;
	}
		
#hwnhl_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#hwnhl_Container .nhs_Tabs li.nhs_quickTabDisabled a {
	background-color: #fff !important;
	border-color: #ddd;
	color: #bbb;
	cursor: default;		
	}
#hwnhl_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a {
	background-image: url(/globalresourcesmvc/default/images/icons/hot_homes_off.png);
	}
#hwnhl_Container .nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a {
	background-image: url(/globalresourcesmvc/default/images/icons/quick_move_in_off.png);
	}
#hwnhl_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a:hover
#hwnhl_Container .nhs_Tabs li.nhs_quickTabDisabled a:hover {	
	cursor: default;
	text-decoration: none;
	}
#nhs_AddThisBox {
    margin: 0;
    padding-top: 0;
    }
    
.nhs_CustomBox {
    background: #20476F;
    }    
	
/* Buttons =======================*/

/*.btn, #hwnhl_SectionMain .btn,
.btnCss, a.btnCss {
    background: url(/globalresourcesmvc/newhomelistings/images/backgrounds/v.png) repeat-x scroll 0 -22px #D76C2D;
    border: 1px solid #D76C2D;
    color: #FFFFFF !important;
    font-family: Georgia;
    font-size: 11px !important;
    font-weight: bold;
    height: 18px !important;
    letter-spacing: 0.07em;
    padding: 0 2px 2px 2px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
    text-shadow: none;
    border-radius: 0;
	}
a.btn, #hwnhl_SectionMain a.btn {
	padding: 2px 0 0 0;
	}
a.btnCss {
    padding: 2px 8px 0 8px !important;
    }	*/
  
.btnCss,  
a.btnCss {
    font-family: Georgia;
    font-size: 13px !important;  
    color: #fff !important;
    background-color: #D76C2D !important; 
    border-color: #D76C2D !important;
    border-radius: 0;  
}
.nhs_MapCard ul.nhs_Actions li a.btnCss {
    width: 96px;
    padding: 8px 3px;
    color: #fff !important;
    background-color: #0091da !important; 
    border-color: #0091da !important;    
}
.nhs_MapCard ul.nhs_Actions li a.btn_FreeBrochure {
    width: 96px;
    padding: 8px 3px;
    color: #fff !important;
    background: #D76C2D !important; 
    border-color: #D76C2D !important;        
}

.btn_Search {    
    background: #D76C2D;
    border: 1px solid #D76C2D;
    color: #FFFFFF !important;
    font-family: Georgia;
    font-size: 11px !important;
    font-weight: bold;
    text-transform: uppercase;
    height: 18px !important;
    letter-spacing: 0.07em;
    padding: 0 2px 2px 2px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
    text-shadow: none;
    border-radius: 0;
    
    height: 21px !important;
    width: 152px;
	}

#nhs_CommunityDetails .btn_FreeBrochure, #hwnhl_SectionMain #nhs_CommunityDetails .btn_FreeBrochure,
#nhs_HomeDetailv2 .btn_FreeBrochure, #hwnhl_SectionMain #nhs_HomeDetailv2 .btn_FreeBrochure {
	border: 0;
	overflow: hidden;
	background: url(/globalresourcesmvc/newhomelistings/images/buttons/free_brochure.png) no-repeat left top;
	width: 178px;
	height: 38px;
	padding: 38px 0 0 0;
	}
#nhs_CommunityDetails a.btn_FreeBrochure, #hwnhl_SectionMain #nhs_CommunityDetails a.btn_FreeBrochure,
#nhs_HomeDetailv2 a.btn_FreeBrochure, #hwnhl_SectionMain #nhs_HomeDetailv2 a.btn_FreeBrochure {
	display: block;
	height: 0px !important;
	padding: 38px 0 0 0;
	}
.btn_FreeBrochureFake, #hwnhl_SectionMain .btn_FreeBrochureFake {
	border: 0;
	overflow: hidden;	
	background: #FFFADB url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
	width: 178px;
	height: 38px;
	padding: 38px 0 0 0;	
	}

.btn_GetFreeBrochures {
    width: 168px;
    }
    
.btn_ListYourHomes, #hwnhl_SectionMain .btn_ListYourHomes {
    background: transparent url(/globalresourcesmvc/default/images/buttons/list_with_us.png) no-repeat center top;
	width: 302px;
	height: 0 !important;	
	padding: 52px 0 0 0 !important;
	border: 0;
    }
    
#nhs_ModalRequest, 
#nhs_ModalThanks,
.nhs_ModalBox1 {
    background: #525b68;
}
#nhs_ModalRecoms {
    background: #dfe1e7;
}    
.nhs_ModalBox1 > h1 span strong {
    color: #FFA61E;
}
.nhs_ModalBoxLeft p.nhs_Brochure {   
    color: #20476f;    
}
.nhs_ModalBoxLeft h1 {   
    color: #848992;
    font-weight: bold;    
}
.nhs_ModalBoxLeft h2 {
    color: #848992;
}
.nhs_AccountTeaser p strong {
    color: #FFA61E;    
}
.nhs_RecomsItem h2,
.nhs_RecomsItem p {
    color: #848992; 
}
.nhs_RecomsItem h3 {
    color: #c6ccd2;    
}
#nhs_ModalThanks .nhs_ModalBoxLeft h1 {
    color: #FFA61E;
}
.nhs_ModalBox .btnCss, 
.nhs_ModalBox a.btnCss,
.nhs_ModalBox .btnCss:hover, 
.nhs_ModalBox a.btnCss:hover {
    color: #fff !important;    
    background-color: #FFA61E;
    height: 39px !important;
}
.btnCss#nhs_Skip {
    color: #525b68 !important;  
}



/* v2 */
#hwnhl_Container #nhs_ResFacets > div > div:first-child > p {
    color: #d76c2d;  
}
#hwnhl_Container #nhs_ResFacets > div.nhs_Active > div:first-child > p,
#hwnhl_Container #nhs_ResFacets > div.nhs_Active > div:first-child > p,
#hwnhl_Container #nhs_ResFacets > div.nhs_Hover > div:first-child > p,
#hwnhl_Container #nhs_ResFacets > div.nhs_Hover > div:first-child > p {
    color: #20476f; 
}
#hwnhl_Container .nhs_CommResItem.nhs_Hover h2, 
#hwnhl_Container .nhs_HomeResItem.nhs_Hover h2,
#hwnhl_Container #nhs_ResMarketInfo {
    background-color: #20476f;   
}
#hwnhl_Container .nhs_NoRes .btnCss {
    color: #fff !important;
}
#hwnhl_Container ul.nhs_Actions > li a.btnCss {
    padding: 6px 0;
    color: #fff !important;    
    font-size: 10px !important;
    width: 110px;
    text-transform: uppercase;
}

/*======== CMS ITEMS =========*/
#hwnhl_Container #nhs_ResAdCol .nhs_ResCmsTeaser p:first-child {
	color: #20476f;
}
#hwnhl_Container #nhs_ResAdCol .nhs_ResCmsTeaser a {
    color: #20476f;
}

#hwnhl_Container #nhs_ResAdCol #nhs_NewsletterContainer > div {
    background: #20476f;
}
#hwnhl_Container #nhs_ResAdCol #nhs_NewsletterContainer > div > p:first-child strong {
    color: #d76c2d;
}
#hwnhl_Container #nhs_ResAdCol #nhs_NewsletterContainer > div p input[type=text] {
    width: 170px;
	padding: 6px 6px;	
}