﻿/* ---------------------------------------------
Title:      HW NHL MVC Homepage Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Mar 29 2011
----------------------------------------------- */

#hwnhl_LeftCol {
	float: left;
	width: 669px;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	border: 0px solid #ccc;
	}
	
#hwnhl_HomeModule {
	width: 669px;
	}
#hwnhl_HomeModule .hwnhl_Title {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -117px #284972;
    border: 1px solid #284972;
    color: #fff;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
    text-transform: uppercase;
	}
#hwnhl_HomeModule .fadein {
	display: block;
	width: 667px;
	height: 235px;
	border: 1px solid #aaa;
	border-top: 0;
	position:relative;
	}
#hwnhl_HomeModule .fadein img { position:absolute; left:0; top:0; }
	
#hwnhl_HomeSearch {	
	float: left;
	position: relative;
	width: 669px;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #aaa;
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/bg_homesearch.png") repeat-x left top #eaeaea;
	font-size: 93%;
	color: #4A4A4A;
	}
#hwnhl_HomeSearch .hwnhl_Title {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -88px #eaeaea;
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
    color: #20476F;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 4px 4px 3px 8px;
    text-transform: uppercase;
	}
#hwnhl_HomeFormLocation {
    float: left;
    margin: 0;
    padding: 0 0 0 35px;
    width: 550px;
	}
#hwnhl_HomeFormLocation #SearchText {
    background: #fff;
    border: 1px solid #999;
    border-right: 0;
    display: inline;
    float: left;
    font-size: 100%;
    height: 14px;
    margin: 0;
    padding: 3px 0 3px 5px;
    width: 305px;
	}
#hwnhl_HomeFormLocation input#Search {
    display: inline;
    float: left;
    cursor: pointer;
    height: 22px !important;
	}
#hwnhl_HomeFormPrice select {
    border: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    margin: 0 25px 0 0;
    padding: 0;
    width: 145px;
    height: 20px;
	}
#hwnhl_HomeSearch p {
    clear: both;
    float: left;
    margin: 0 0 12px 0;
    padding: 0 0 0 24px;
    width: 550px;
	}
#hwnhl_HomeSearch p.hwnhl_HomeSearchDesc {
	color: #000;
	text-transform: uppercase;
	margin: 20px 0 12px 0;
	}
	
#hwnhl_HomeSearch .field-validation-error {
    background: none repeat scroll 0 0 #FF0600;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    left: 24px;
    padding: 1px 5px;
    position: absolute;
    top: 50px;
	}
	
#hwnhl_HomeBoutiqueBox {
	float: left;
	background: #fff;
	border: 1px solid #ccc;
	width: 649px;
	height: 126px;
	margin: 12px 0 8px 8px;
	font-size:12px;
	}
#hwnhl_HomeBoutiqueBox > ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 649px;
	height: 118px;
	overflow: hidden;
	}
#hwnhl_HomeBoutiqueBox > ul > li {
	display: block;
	float: left;
	margin: 0;
	padding: 5px 1px 5px 2px;
	border: 0px solid #000;
	}
#hwnhl_HomeBoutiqueBox > ul > li > a {
	display: block;
	width: 113px;
	height: 110px;
	margin: 0;
	padding: 3px 0 0 45px;
	color: #20476f;
	border: 0px solid #f7dbb4;
	font-weight: bold;
	background: #fff;
	}
#hwnhl_HomeBoutiqueBox > ul > li.hwnhl_HomeHotDeals > a {
	background: url(/globalresourcesmvc/newhomelistings/images/homepage/builder_specials.png) no-repeat left top #fff;
	}
#hwnhl_HomeBoutiqueBox > ul > li.hwnhl_HomeQuickMove > a {
	background: url(/globalresourcesmvc/newhomelistings/images/homepage/quick_move_in.png) no-repeat left top #fff;
	}
#hwnhl_HomeBoutiqueBox > ul > li.hwnhl_HomeCustom > a {
	background: url(/globalresourcesmvc/newhomelistings/images/homepage/custom_homes.png) no-repeat left top #fff;
	}
#hwnhl_HomeBoutiqueBox > ul > li.hwnhl_HomeAdvSearch > a {
	background: url(/globalresourcesmvc/newhomelistings/images/homepage/advanced_search.png) no-repeat left top #fff;
	}
	
	
.hwnhl_HomeSubModuleLeft {
	float: left;
	width: 310px;
	margin: 10px 0;
	padding: 0 8px 4px 10px;
	border: 1px solid #aaa;
	font-size: 93%;
	color: #000;
	}
.hwnhl_HomeSubModuleRight {
	float: right;
	width: 310px;
	margin: 10px 0;
	padding: 0 8px 4px 10px;
	border: 1px solid #aaa;
	font-size: 93%;
	color: #000;
	}
.hwnhl_HomeSubModuleLeft p,
.hwnhl_HomeSubModuleRight p {
	margin-bottom: 4px;
	}
.hwnhl_HomeSubModuleLeft img,
.hwnhl_HomeSubModuleRight img {
	margin: 8px 0 4px 0;
	}
.hwnhl_HomeSubModuleLeft .hwnhl_Title,
.hwnhl_HomeSubModuleRight .hwnhl_Title,
.hwnhl_HomeSubModule .hwnhl_Title {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -88px #eaeaea;
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
    color: #20476F;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 0 -8px 0 -10px;
    padding: 4px 4px 3px 8px;
    text-transform: uppercase;
	}
	
#hwnhl_RightCol {
	float: right;
	width: 268px;
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
	border: 0px solid #ccc;
	}
	
.hwnhl_HomeSubModule {
	float: left;
	width: 252px;
	margin: 0 0 10px 0;
	padding: 0 8px 4px 8px;
	border: 1px solid #aaa;
	font-size: 93%;
	color: #000;
	text-align: center;
	}
.hwnhl_HomeSubModule .hwnhl_Title {
	margin: 0 -8px;
	}
.hwnhl_HomeSubModule img {
	text-align: center;
	margin: 0 auto;
	}
.hwnhl_FeaturedPartner img {
	margin: 12px 0 4px 0;
	}
	
.hwnhl_HomeSpotlight {
	padding-bottom: 14px;
	}
.hwnhl_HomeSubModule .nhs_SpotlightItem {
	width: 245px;
	margin: 14px 5px 0 0;
	text-align: left;
	color: #5E5E5E;
	}
.hwnhl_HomeSubModule .nhs_SpotlightItem p strong {
	font-size: 108%;
	}
.hwnhl_HomeSubModule .nhs_SpotlightItem p {
	line-height: 1.3;
	}
.hwnhl_HomeSubModule .nhs_SpotlightItem > a img { /* thumbnail img */
	margin: 0 auto 5px auto;
	border: 1px solid #20476f;
	}
