/* ---------------------------------------------
Title:      HW NHL MVC Detail Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Mar 15 2011
----------------------------------------------- */

.nhs_DetailsHeaderTitle {
	font-size: 28px;
	font-weight: bold;
	color: #20476f;
	}
.nhs_DetailsHeaderCitySt strong {
	font-weight: normal;
	}
	
.nhs_DetailsForm {
	background: #20476f !important;
	line-height: 1.2;
	}
#nhs_LeadForm {
    background: #20476f;
    }
.nhs_DetailsFormTopTitle,
.nhs_DetailsFormContent ol li label,
#nhs_PartnerContainer .nhs_DetailsFormContent ol li {
	text-shadow: 0 1px 1px #000;	
	color: #fff;
	}
.nhs_DetailsFormContent ol li textarea#Comments.nhs_Focus, 
.nhs_DetailsFormContent ol li input.nhs_Focus, 
.nhs_DetailsFormContent ol li input#UserPostalCode.nhs_Focus {
	border-color: #ffaa00;
	}
.nhs_DetailsFormArrow { background-image: url("/globalresourcesmvc/newhomelistings/images/backgrounds/detail_form_arrow.png");
    }
.nhs_DetailsFormInfo a.nhs_PhoneLink {
    padding: 3px 0 3px 28px;
    background-image: url(/globalresourcesmvc/newhomelistings/images/icons/phone.png);    
    }     
.ad-nav, .nhs_ImagePlayerTitleBar, .nhs_MediaTitleBar, #nhs_CommResVideo .nhs_MediaTitleBar, .nhs_VideoPlaylistContainer { background: #20476f; }

.nhs_HomesPlansGallery,
.nhs_floorPlanSection, 
.nhs_SimilarHomePlanSection, 
.nhs_mapAndDirections, 
.nhs_DetailsInfoSchoolAmenities, 
.nhs_findOutMore,
.nhs_nextSteps,
.nhs_NearbyComms,
.nhs_basicListingsDetails {
    background: none;
    border: 1px solid #b0b0b0;    
    width: 798px;
	}
.nhs_DetailSections {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -190px #F8F8F8;
    border-bottom: 1px solid #b0b0b0;
    color: #20476F;
    width: 778px;
    margin: 0 0 10px 0;
    padding: 5px 10px 4px 10px; 
    }
.nhs_DetailsFormBasicCommunity .nhs_DetailSections {
    width: 296px;
    }       
.nhs_DetailSectionTitle {
    font-size: 16px;
	}
.nhs_HomesPlansGallery .nhs_DetailContent {
	padding: 0 19px 15px 19px;
	}
.nhs_HomesGalleryResults .nhs_GalleryCellOn,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn {
    float: left;
	width: 182px;
	padding: 2px 2px 10px 2px;
	cursor: pointer;
	border: 2px solid #aaa;
	background: #ebebeb;
	}	
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly {
    color: #20476f;
    }
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName, {
    text-decoration: none;
    }