/* ---------------------------------------------
Title:      HW NHL MVC Results Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Mar 15 2011
----------------------------------------------- */

.nhs_CommResRow {
	border: 1px solid #b0b0b0;
	border-bottom: 0;
	padding: 10px 6px 8px 6px;
	}
.nhs_CommResRowOn,
.nhs_CommResRowOpen {
	border: 2px solid #aaa;
	border-width: 2px 2px 1px 2px;
	padding: 9px 5px 7px 5px; 
	background: #EBEBEB;
	}
.nhs_CommResRow a,
.nhs_CommResRow h2 a,
.nhs_CommResRowOn a,
.nhs_CommResSpecialRow a,
.nhs_CommResSpecialRowOn a {
	color: #20476f;
	}
.nhs_CommResRow a:hover, 
.nhs_CommResRow h2 a:hover {
    /*color: #20476F;*/
	}	
.nhs_CommResRow .nhs_ResultThumbOverlayImg,
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRow .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultThumbOverlayImg {
	/*left: 1px;
	bottom: 1px;
	width: 180px;
	padding: 3px 0;
	background: #fff;
	font-size: 12px !important;
	opacity:0.85;
	filter:alpha(opacity=85)*/
	bottom: 4px;
	} 
.nhs_ResultNamePrice,
.nhs_ResultNamePrice h2,
.nhs_ResultNamePrice .nhs_ResultAddress,
.nhs_ResultCommStatus {

	} 
.nhs_ResultNamePrice h2 {
	font-size: 16px;
	}
.nhs_ResultPrice strong,
.nhs_ResultAddress {
	font-size: 12px;
	font-weight: normal;
	color: #333;
	}
.nhs_ResultBrandAddress {
	
	} 	
ul.nhs_ResultQVList .nhs_ResultQVListItemOn {
	border: 1px solid #e2e2e2;
	border-width: 0 0 1px 0;
	background-color: #EDEDED;
	}
#nhs_CommResCountPageLinks {
	border-top: 1px solid #b0b0b0;
	}
	
#nhs_Facets,
#nhs_BuilderPromoBrands {
	background: #EBEBEB;
	border: 1px solid #b0b0b0;
	}
#nhs_FacetsRefine {
	border: 0;
	color: #333;
	}
.nhs_FacetGroup,
.nhs_FacetLinks {
	border-bottom: 1px solid #b0b0b0;
	}
.nhs_FacetGroupTitle,
.nhs_FacetLinks .nhs_LinkPromoTitle {
	color: #6d6d6d;
	text-transform: uppercase;
	}
.nhs_FacetPriceTextFrom {
	margin-left: 3px;
	}
.nhs_FacetPriceTextTo {
	margin-right: 3px;	
	}
.nhs_FacetGroupTitle span {
    background-position: 145px 50%;
	}
.nhs_FacetLinks {
	margin-left: 3px;
	width: 155px;
	}
	
.nhs_CommResListBox,
.nhs_CommResContentBox {
	background: none;
    border: 1px solid #E6E6E6;    
	border-top: 2px solid #3D434E;
    width: 948px;
	}
.nhs_CommResListBuilders {
	width: 638px;
	margin-top: -20px;
	}
.nhs_CommResListBuilders h4 {
	background-color: #EDEDED;
    border-bottom: 1px solid #E2E2E2;
    width: 628px;
    margin: 0 0 10px 0;
    padding: 15px 10px 10px 10px; 
	}
