﻿@using System.Collections.Generic
@using System.Linq
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Web.UI.AppCode.ViewModels.StateBuilderViewModel
<div id="nhs_IndexSearch" class="nhs_IndexSearch clearfix">
    @using (Html.BeginNhsFromSearch())
    {
        <div id="nhs_IndexSearchForm" class="nhs_IndexSearchForm clearfix">
            <div id="nhs_IndexSearchLocation" class="nhs_IndexSearchLocation clearfix">
                <div class="clearfix">
                    @Html.Raw(Model.SEOContent_NHS_H1)
                    @Html.Raw(Model.SEOContent_NHS_Header)
                    <fieldset>
                       <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">
                           @LanguageHelper.InvalidLocationErrorMessage.ToMvcHtmlString()
                        </span>
                        <label for="HomeSearchText" class="visuallyhidden">
                            Location:
                        </label>
                        @Html.Hidden("SearchType", string.Empty)
                        @Html.TextBoxFor(model => model.SearchText, new { id = "SearchText", placeholder = LanguageHelper.EnterLocationOrCommunityName, maxlength = 100, Value = string.Empty, autocomplete = "off" })
                        <input type="submit" class="btnCss" id="HomeSearchBtn" value="@LanguageHelper.SearchHomesButton" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); " />
                        <input type="submit" id="HomeSearchIcon" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); " />
                    </fieldset>
                </div>
                <div class="clearfix">
                    <div id="nhsStateIndexMap" style="background: transparent; min-height: 300px;">
                        <!-- Map Goes Here! -->
                    </div>
                </div>
            </div>
            @{Html.RenderPartial(NhsMvc.Default.Views.SiteIndex.Partials.SearchOptions, Model);}
        </div>
    }
</div>
<div class="nhs_IndexContent clearfix">
    <section class="nhs_IndexContentLeft">
        <div>
            <div class="nhs_IndexBox clearfix">
                <h2>
                    @string.Format(LanguageHelper.BrowseBrandNameCoummunitiesByCity, @Model.Brand.BrandName).ToMvcHtmlString()
                </h2>
                @if (!string.IsNullOrEmpty(Model.Brand.SiteURL))
                {
                    <div class="nhs_IndexBldrLogo">
                        @Html.NhsImageLinkLogAndRedirect(Model.Brand.BrandName, Configuration.ResourceDomain + Model.Brand.LogoMedium, PathHelpers.CleanNavigateUrl(Model.Brand.SiteURL), LogImpressionConst.SEOStateBuilder, new {builderId =  Model.Brand.BrandId.ToString()}, null, null)
                    </div>	
                }
                <ul class="nhs_IndexList nhsIndexList1">
                    @foreach (var market in Model.BrandMarkets[0])
                    {
                        <li>@Html.NhsLink(string.Format("<span>{0}, {1}</span> ({2})", market.MarketName, market.StateAbbr, market.TotalCommunities), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, market.MarketId), new RouteParam(RouteParams.BrandId, Model.Brand.BrandId) }, new { @id = "nhs_marketLink" + market.MarketId }, false)</li>
                    }
                </ul>
                <ul class="nhs_IndexList nhsIndexList1">
                    @if (Model.BrandMarkets.Count > 1)
                    {
                        foreach (var market in Model.BrandMarkets[1])
                        {
                        <li>@Html.NhsLink(string.Format("<span>{0}, {1}</span> ({2})", market.MarketName, market.StateAbbr, market.TotalCommunities), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, market.MarketId), new RouteParam(RouteParams.BrandId, Model.Brand.BrandId) }, new { @id = "nhs_marketLink" + market.MarketId }, false)</li>
                        }
                    }
                </ul>
            </div>
            <div class="nhs_IndexBox clearfix">
                @* Second Content Area ? *@
                @Html.Raw(Model.SEOContent_NHS_Footer)
            </div>
        </div>
    </section>
    <aside id="nhs_AdColumn" class="nhs_IndexAdColumn">
        <div id="nhs_RightTopSky">
        </div>       
        <div id="nhs_RightBottomSky">
        </div>
    </aside>
</div>
@section  cphFooter{
    @Html.GetGoogleMapScript()    
    @ResourceCombinerEnum.STATEINDEXV2JS.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var options = {
                MarketPoints: @Model.MarketPoints.ToMvcHtmlString(),
                useCounts: true,
                url: '/@( Pages.CommunityResults + "/market-{market}/brandid-" + Model.Brand.BrandId)',
                icon: "@( Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? GlobalResources14.Default.images.icons.map_poi_green_png : GlobalResources14.Default.images.icons.map_poi_blue_png)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: '@Model.CenterLat',
                        Longitude: '@Model.CenterLng',
                        Zoom: @Model.ZoomLevel,
                        ContainerName: 'nhsStateIndexMap',
                        ZoomControlStyle:''
                    },
                    MarkerClustererOptions: { gridSize: 50, maxZoom: 20 },
                    callBack: function(info) {

                    },
                    UseClusterer: false,
                    MarkerPointAsynOptions: {
                        Listener: '',
                        UrlServer: ""
                    },
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'MarketName'
                    }
                }
            };
            var index = new NHS.Scripts.StateIndex(options);
            index.init();

            var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
            search.setupSearchBox("SearchText", "SearchType");

            SetTextBoxesDescriptions();
        });
    </script>
}
