﻿@model Nhs.Web.UI.AppCode.ViewModels.SiteIndexViewModel
@using System.Web.Mvc.Html
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Collections
@using System.Collections.Generic
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper

<div class="nhs_Content nhs_IndexContent" id="nhs_NewHomeBuilders">
    <div class="nhs_IndexContentTop">
        <div class="nhsIndexTitle">
            <h1>@Html.Raw(Model.H1)</h1>
            @Html.Raw(Model.OnPageText)
        </div>
        <div class="nhs_IndexContentTopLinks">
            <p>
                <strong>@Html.NhsLink(string.Format("Search for new homes across the country on {0}", Model.PartnerName), Pages.Home, new List<RouteParam>(), null)</strong>
            </p>
            <p>
                <a href="http://www.urbancondoliving.com/market/@Model.Market.MarketId" title="Search for new condos in @Model.Market.MarketName, @Model.StateName on UrbanCondoLiving.com">
                    <strong>Search for new condos in @Model.Market.MarketName, @Model.StateName on UrbanCondoLiving.com</strong>
                </a>
            </p>
        </div>
    </div>

    <hr class="nhs_ReaderAlt" />

    <div id="nhs_IndexBoylLinks">
        <ul class="nhs_IndexList">
            <li>
                @Html.NhsLink("Search for custom home builders", Pages.BOYLResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId) }, null)
                <a href="http://www.newhomesource.com/boylresults/market-@Model.Market.MarketId">
                </a>
            </li>
            <li>
                @Html.NhsLink("Find 'build on your lot programs", Pages.BOYLResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId) }, null)
                <a href="http://www.newhomesource.com/boylresults/market-@Model.Market.MarketId">
                </a>
            </li>
        </ul>
    </div>
    <div class="nhs_IndexContentWide">
        @if (Model.Market.Cities.Count > 0)
        {
            <h3 class="nhs_IndexHeading">
                Select your city to view a list of new home builder communities
            </h3>


            <ul class="nhs_IndexList nhs_IndexList1">
                @foreach (var city in Model.MarketCities[0])
                {
                    <li>
                        @Html.NhsLink(string.Format("{0} new homes", city.CityName), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.CityNameFilter, city.CityName) }, null)
                    </li>
                }
            </ul>

            if (Model.MarketCities[1].Count > 0)
            {
                <ul class="nhs_IndexList nhs_IndexList2">
                    @foreach (var city in Model.MarketCities[1])
                    {
                        <li>
                            @Html.NhsLink(string.Format("{0} new homes", city.CityName), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.CityNameFilter, city.CityName) }, null)
                        </li>
                    }
                </ul>
            }

            if (Model.MarketCities[2].Count > 0)
            {
                <ul class="nhs_IndexList nhs_IndexList3">
                    @foreach (var city in Model.MarketCities[2])
                    {
                        <li>
                            @Html.NhsLink(string.Format("{0} new homes", city.CityName), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.CityNameFilter, city.CityName) }, null)
                        </li>
                    }
                </ul>
            }
        }
        <div class="nhs_Clear">
        </div>
        @if (Model.Market.Brands != null && Model.Market.Brands.Count > 0)
        {
            <h3 class="nhs_IndexHeading">
                @string.Format("We proudly feature homes from {0}'s premier new home builders including:", Model.Market.MarketName)
            </h3>

            <ul class="nhs_IndexList nhs_IndexList3">
                @foreach (var brand in Model.MarketBrands[0])
                {
                    <li>
                        @Html.NhsLink(brand.BrandName, Pages.HomeResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.BrandId, brand.BrandId) }, null)
                    </li>
                }
            </ul>

            if (Model.MarketBrands[1].Count > 2)
            {
                <ul class="nhs_IndexList nhs_IndexList1">
                    @foreach (var brand in Model.MarketBrands[1])
                    {
                        <li>
                            @Html.NhsLink(brand.BrandName, Pages.HomeResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.BrandId, brand.BrandId) }, null)
                        </li>
                    }
                </ul>
            }

            if (Model.MarketBrands[2].Count > 2)
            {
                <ul class="nhs_IndexList nhs_IndexList2">
                    @foreach (var brand in Model.MarketBrands[2])
                    {
                        <li>
                            @Html.NhsLink(brand.BrandName, Pages.HomeResults, new List<RouteParam> { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.BrandId, brand.BrandId) }, null)
                        </li>
                    }
                </ul>
            }
        }
        <div class="nhs_Clear">
        </div>
        @foreach (var cityComms in Model.MarketCommunities)
        {
            if (cityComms.Value[0].Count > 0)
            {
                <h3 class="nhs_IndexHeading">
                    @string.Format("{0},  {1} new home builder communities", cityComms.Key, Model.StateName)
                </h3>

                <ul class="nhs_IndexList nhs_IndexList3">
                    @foreach (var c in cityComms.Value[0])
                    {
                        <li>
                            @Html.NhsLink(c.Name, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(c.MarketId), null)
                        </li>
                    }
                </ul>

                if (cityComms.Value[1].Count > 0)
                {
                    <ul class="nhs_IndexList nhs_IndexList1">
                        @foreach (var c in cityComms.Value[1])
                        {
                            <li>
                                @Html.NhsLink(c.Name, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(c.MarketId), null)
                            </li>
                        }
                    </ul>
                }

                if (cityComms.Value[2].Count > 0)
                {
                    <ul class="nhs_IndexList nhs_IndexList1">
                        @foreach (var c in cityComms.Value[2])
                        {
                            <li>
                                @Html.NhsLink(c.Name, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(c.MarketId), null)
                            </li>
                        }
                    </ul>
                }
            }
        }
        <div class="nhs_Clear">
        </div>
    </div>
</div>
