﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Web.Mvc.Html
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Collections
@using Nhs.Library.Constants
@using Nhs.Library.Enums

<div class="nhs_Content">
    @{ Html.RenderPartial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty); }
</div>

<script type="text/javascript">
    var searchMortage = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
    jQuery(document).ready(function () {
        var searchTextMortage = jQuery('#nhs_GlobalSearchNavLocation');
        searchMortage.validateSearchFormFromInputText(searchTextMortage);
    });    
</script>