﻿@using System.Collections.Generic
@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SiteIndexViewModel
<div class="nhs_Content nhs_IndexContent">
    <div class="nhs_IndexContentTop">

        <h1>
            @Html.Raw(Model.H1)
        </h1>
        @Html.Raw(Model.OnPageText)
    </div>

    <hr class="nhs_ReaderAlt" />

    <div class="nhs_IndexContentLeft">
        <div class="nhs_IndexContentLeftTop">
            <h2 class="nhs_IndexHeading">@Model.PartnerName @LanguageHelper.SiteIndex.ToMvcHtmlString()</h2>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.HomePage, Pages.Home, true)
                </strong>
            </p>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.SearchForNewHomes, Pages.Home, true)
                </strong>
            </p>
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                <p>
                    <strong>
                        @Html.NhsLink("Advanced search", Pages.AdvancedSearch, true)
                    </strong>
                </p>
            }
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.CustomBuilders, Pages.BOYLSearch, true)
                </strong>
            </p>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.BuildOnYourLot, Pages.BOYLSearch, true)
                </strong>
            </p>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.Help, Pages.SiteHelp, true)
                </strong>
            </p>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, true)
                </strong>
            </p>
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse, true)
                </strong>
            </p>
            @if (Model.Globals.PartnerInfo.FooterShowAboutUs.ToBool())
            {
                <p>
                    <strong>
                        @Html.NhsLink(LanguageHelper.AboutUs, Pages.AboutUs, true)
                    </strong>
                </p>
            }
            <p>
                <strong>
                    @Html.NhsLink(LanguageHelper.ContactUs, Pages.ContactUs, true)
                </strong>
            </p>
            @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
            {
                <p>
                    <strong>
                        @Html.NhsLink(LanguageHelper.Register, Pages.Register)
                    </strong>
                </p>
                <p>
                    <strong>
                        @Html.NhsLink(LanguageHelper.SignIn, Pages.SignIn, true)
                    </strong>
                </p>
            }
        </div>
        <h3 class="nhs_IndexHeading">@LanguageHelper.SearchForNewHomesByState.ToMvcHtmlString()</h3>
        @{
            var format = Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "{0}" : "{0} {1}";
            foreach (var state in Model.States)
            {
                <p>
                    <strong>
                        @Html.NhsLink(string.Format(format, state.StateName, LanguageHelper.NewHomes), Pages.StateIndex, new List<RouteParam> {new RouteParam(RouteParams.State, state.StateName.RemoveSpaceAndDash())}, null)
                    </strong>
                </p>
            }
        }
    </div>
    <div class="nhs_IndexContentRight">
        <h3 class="nhs_IndexHeading">@LanguageHelper.SearchForNewHomesByMarket.ToMvcHtmlString()</h3>
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentMarkets)
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentCustomLinksHeader)
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentCustomLinksList)
    </div>
    <div class="nhs_IndexContentBottom">
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentFooterTextHeader)
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentFooterText)
    </div>
</div>


