﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.StateAmenityViewModel
@{ string className;
   if (Model.AmenityName == SEOAmenityType.StateCondoTown)
   {
       className = "nhs_IndexSearchCondo";
   }
   else if (Model.AmenityName == SEOAmenityType.StateGolf)
   {
       className = "nhs_IndexSearchGolf";
   }
   else
   {
       className = "nhs_IndexSearchWater";
   }
}
<div id="nhs_IndexSearch" class="nhs_IndexSearch @className clearfix">
    @using (Html.BeginNhsFromSearch())
    {
        <div id="nhs_IndexSearchForm" class="nhs_IndexSearchForm clearfix">
            <div id="nhs_IndexSearchLocation" class="nhs_IndexSearchLocation clearfix">
                <div class="clearfix">
                    @Html.Raw(Model.SeoH1Content)
                    @Html.Raw(Model.SeoHeaderContent)
                    <fieldset>
                      <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">@LanguageHelper.InvalidLocationErrorMessage.ToMvcHtmlString()</span>
                       @Html.Hidden("SearchType", string.Empty)
                        <input id="AmenityName" name="AmenityName" type="hidden" value="@Model.MapNameAmenity">
                        @Html.TextBoxFor(model => model.SearchText, new {id = "SearchText", placeholder =LanguageHelper.EnterLocationOrCommunityName, maxlength = 100, Value = string.Empty, autocomplete = "off"})
                        <input type="submit" class="btnCss" id="HomeSearchBtn" value="@LanguageHelper.SearchHomesButton" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); "/>
                        <input type="submit" id="HomeSearchIcon" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); "/>
                    </fieldset>
                </div>
                <div class="clearfix">
                    <div id="nhsStateIndexMap" style="background: transparent; min-height: 300px;">
                    </div>
                </div>
            </div>
            @{
                Html.RenderPartial(NhsMvc.Default.Views.SiteIndex.Partials.SearchOptions, Model);
            }
        </div>
    }
</div>
<div class="nhs_IndexContent clearfix">
    <section class="nhs_IndexContentLeft">
        <div>
            <div class="nhs_IndexBox clearfix">
                <h2>@string.Format(LanguageHelper.BrowseByCity, Model.AmenityDesc)</h2>
                @foreach (var markets in Model.LearnMoreMarket)
                {   
                    <ul class="nhs_IndexList nhs_IndexList1">
                        @foreach (var market in markets)
                        {
                            <li>@Html.NhsLink(String.Format("<span>{0}, {1}</span> ({2})", market.MarketName, Model.StateAbbreviation, market.TotalCommunities), RedirectionHelper.GetCommunityResultsPage(), Model.GetParams(market.MarketId), new { @id = "nhs_marketLink" + market.MarketId }, true)</li>
                        }
                    </ul>
                }
            </div>
            <div class="nhs_IndexBox clearfix">                
                @Html.Raw(Model.SeoFootherContent)
            </div>
        </div>
    </section>
    <aside id="nhs_AdColumn" class="nhs_IndexAdColumn">
        <div id="nhs_RightTopSky">
        </div>
        @*@{ Html.RenderPartial(NhsMvc.Default.Views.Newsletter.PartialSmallSignUp,
               new Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel()
               {
                   MarketId = Model.CurrentMarketId,
                   MarketName = Model.CurrentMarketName,
                   IsSmallSignUpRequest = true,
                   PartnerName = Model.Globals.PartnerInfo.PartnerName,
                   PartnerSiteUrl = Model.Globals.PartnerSiteUrl
               }); }*@
        <div id="nhs_RightBottomSky">
        </div>
    </aside>
</div>
@section  cphFooter{
    @Html.GetGoogleMapScript()    
    @ResourceCombinerEnum.STATEINDEXV2JS.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var options = {
                MarketPoints: @Model.MarketPoints.ToMvcHtmlString(),
                useCounts: true,
                url: '@(new List<RouteParam>().ToUrl("communityresults/market/area/" + Model.MapNameAmenity + "-true", true))',
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? GlobalResources14.Default.images.icons.map_poi_green_png : GlobalResources14.Default.images.icons.map_poi_blue_png)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: '@Model.CenterLat',
                        Longitude: '@Model.CenterLng',
                        Zoom: @Model.ZoomLevel,
                        ContainerName: 'nhsStateIndexMap',
                        ZoomControlStyle: ''
                    },
                    MarkerClustererOptions: { gridSize: 50, maxZoom: 20 },
                    callBack: function(info) {

                    },
                    UseClusterer: false,
                    MarkerPointAsynOptions: {
                        Listener: '',
                        UrlServer:
                            ""
                    },
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name:
                            'MarketName'
                    }
                }
            };
            var index = new NHS.Scripts.StateIndex(options);
            index.init();

            var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
            search.setupSearchBox("SearchText", "SearchType");

            SetTextBoxesDescriptions();
        });
    </script>
}