﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.StateIndexViewModel
<div id="nhs_IndexSearch" class="nhs_IndexSearch clearfix">
    @using (Html.BeginNhsFromSearch())
    {
        <div id="nhs_IndexSearchForm" class="nhs_IndexSearchForm clearfix">
            <div id="nhs_IndexSearchLocation" class="nhs_IndexSearchLocation clearfix">
                <div class="clearfix">
                    @Model.SEOContent_NHS_H1.ToMvcHtmlString()
                    @Model.SEOContent_NHS_Header.ToMvcHtmlString()
                    <fieldset>
                        <span id="nhs_field_validation_error_home"
                              class="field-validation-error" style="display: none">@LanguageHelper.PleaseEnterValidLocation.ToMvcHtmlString()</span>
                            <label for="HomeSearchText" class="visuallyhidden">
                                @LanguageHelper.Location.ToMvcHtmlString():
                            </label>
                            @Html.Hidden("SearchType", string.Empty)
                            @Html.TextBoxFor(model => model.SearchText, new { id = "SearchText", placeholder = LanguageHelper.EnterLocationOrCommunityName, maxlength = 100, Value = string.Empty, autocomplete = "off" })
                            <input type="submit" class="btnCss" id="HomeSearchBtn" value="@LanguageHelper.SearchHomesButton" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); " />
                            <input type="submit" id="HomeSearchIcon" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basic'); " />
                        </fieldset>
                    </div>
                    <div class="clearfix">
                        <div id="nhsStateIndexMap" style="background: transparent; min-height: 300px;">
                        </div>
                    </div>
                </div>
                @{Html.RenderPartial(NhsMvc.Default.Views.SiteIndex.Partials.SearchOptions, Model);}
            </div>
    }
</div>
<div class="nhs_IndexContent clearfix">
    <section class="nhs_IndexContentLeft">
        <div>
            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <ul class="nhs_Tabs">
                    <li id="li1" class="nhs_Selected"><a id="indexTab1" href="#">@LanguageHelper.BrowseNewHomesByCity.ToMvcHtmlString()</a></li>
                    <li id="li2"><a id="indexTab2" href="#">@LanguageHelper.BrowseNewHomesByBuilder.ToMvcHtmlString()</a></li>
                </ul>
                <div id="nhs_StateBrowseDiv" style="height: auto; max-height: 250px;">
                    <div id="nhs_StateBrowseDiv3" class="nhs_IndexBox clearfix" style="display: inline;">
                        @if (Model.MarketList.Count > 0)
                        {
                            foreach (var marketList in Model.MarketList)
                            {
                                <ul class="nhs_IndexList nhsIndexList1">
                                    @foreach (var m in marketList)
                                    {
                                        <li>
                                            @Html.NhsLink(string.Format("<span>{0}, {1}</span> ({2})", m.MarketName, m.StateAbbr, m.TotalCommunities), RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(m.MarketId), new { @id = "nhs_marketLink" + m.MarketId })
                                        </li>
                                    }
                                </ul>

                            }
                        }
                    </div>
                    <div id="nhs_StateBrowseDiv2" class="nhs_IndexBox clearfix" style="display: none;">
                        @foreach (var builderList in Model.NewHomeBuilders)
                        {
                            <ul class="nhs_IndexList nhs_IndexList2">
                                @foreach (var b in builderList)
                                {
                                    <li>
                                        @Html.NhsLink(string.Format("{0}", b.BrandName), Pages.StateBuilder, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.BrandId, b.BrandId) }, null)
                                    </li>
                                }
                            </ul>

                        }
                    </div>
                </div>
            }
            else
            {
                foreach (var list in Model.MarketList)
                {
                    foreach (var m in list)
                    {
                        @Html.Hidden("nhs_marketLink" + m.MarketId, new List<RouteParam> { new RouteParam(RouteParams.Market, m.MarketId) }.ToUrl(Pages.CommunityResults))
                    }
                }
            }

            <div class="nhs_IndexBox clearfix">
                @Html.Raw(Model.SEOContent_NHS_Articles)
            </div>
            <div class="nhs_IndexBox clearfix">
                @Html.Raw(Model.SEOContent_NHS_Footer)
            </div>
            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <div class="nhs_IndexBox">
                    <h2>@Html.Raw(Model.SEOContent_NHS_Tab1)</h2>
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                    {
                        <p id="pSectionGolfCourse" class="nhs_IndexStGolfCourse">
                            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.GolfCourseCommunities), Pages.AmenityIndexGolf, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateGolf) }, null)
                        </p>
                        <p id="pSectionWaterFrontCourse" class="nhs_IndexStWaterfront">
                            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.WaterfrontLakeAndBeachCommunities), Pages.AmenityIndexWaterfront, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateWaterfront) }, null)
                        </p>
                        <p id="pSectionCondoTown" class="nhs_IndexStCondoTown">
                            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.CondosAndTownhomes), Pages.AmenityIndexCondo, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateCondoTown) }, null)
                        </p>
                    }
                    else
                    {
                        <p id="pSectionGolfCourse" class="nhs_IndexStGolfCourse">
                            @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.GolfCourseCommunities), Pages.AmenityIndexGolf, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateGolf) }, null)
                        </p>
                        <p id="pSectionWaterFrontCourse" class="nhs_IndexStWaterfront">
                            @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.WaterfrontLakeAndBeachCommunities), Pages.AmenityIndexWaterfront, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateWaterfront) }, null)
                        </p>
                        <p id="pSectionCondoTown" class="nhs_IndexStCondoTown">
                            @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.CondosAndTownhomes), Pages.AmenityIndexCondo, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateCondoTown) }, null)
                        </p>
                    }
                </div>
            }
        </div>
    </section>
    <aside id="nhs_AdColumn" class="nhs_IndexAdColumn">
        <div id="nhs_RightTopSky">
        </div>
        <div id="nhs_RightBottomSky">
        </div>
    </aside>
</div>
@section  cphFooter{
    @Html.GetGoogleMapScript()
    @ResourceCombinerEnum.STATEINDEXV2JS.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var options = {
                MarketPoints: @Model.MarketPoints.ToMvcHtmlString(),
                useCounts: true,
                url: '@(new List<RouteParam>().ToUrl("communityresults/market", true))',
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? GlobalResources14.Default.images.icons.map_poi_green_png : GlobalResources14.Default.images.icons.map_poi_blue_png)",
                useFriendlyUrl: @(NhsRoute.IsBrandPartnerMove ? "true" : "false"),
                OptionsForMap: {
                    MapOptions: {
                        Latitude: '@Model.CenterLat',
                        Longitude: '@Model.CenterLng',
                        Zoom: @Model.ZoomLevel,
                        ContainerName: 'nhsStateIndexMap',
                        ZoomControlStyle:
                            ''
                    },
                    MarkerClustererOptions: { gridSize: 50, maxZoom: 20 },
                    callBack: function(info) {

                    },
                    UseClusterer: false,
                    MarkerPointAsynOptions: {
                        Listener: '',
                        UrlServer: ""
                    },
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name:
                            'MarketName'
                    }
                }
            };
            var index = new NHS.Scripts.StateIndex(options);
            index.init();

            var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
            search.setupSearchBox("SearchText", "SearchType");

            SetTextBoxesDescriptions();
        });
    </script>
}