﻿@using System.Collections
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Library.Helpers.Content
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.AdvancedSearchViewModel
@{
    Layout = null;
}

<div class="nhs_Content" id="nhs_AdvSearch">
    <h2>Advanced search</h2>
    <p>Select the most important criteria for your new home from the options below. @if(NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>()){<span>Or, @Html.NhsLink("try quick search", Pages.Home). </span>}
    </p>
        
    <p class="nhs_LegalText">Please note - the more options you choose, the fewer homes will be returned in your search results.  For best results, select only your top priorities.</p>
    
    <div id="divMessage"></div>
    <p id="locationErrorMessage" class="nhs_NoLocation field-validation-error">
            Location does not exist! Please select a valid location.
    </p>
    
    <p class="nhs_LegalText"><span class="nhs_Asterisk">*</span> <em>indicates a required field</em></p>

        @using (Html.BeginNhsForm("ValidateRedirect", "AdvancedSearch", FormMethod.Post, "frmValidate"))
        {
            @Html.Hidden("CommSearch","false")
            <div class="nhs_AdvLocation">        
                <fieldset>
                <legend class="nhs_Reader">New Home Search</legend>
                @Html.ValidationMessageFor(model => model.SearchText, LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN) 

                <p id="nhs_AdvancedFormLocation">
                    <label for="SearchText"><span class="nhs_Asterisk">*</span> Location:</label>
                    @Html.Hidden("SearchType", Model.SearchType)
                    @Html.TextBoxFor(model => model.SearchText, new { maxlength = 50, placeholder = @"Examples: ""Albany, NY"" ""90210""" })               
                </p>     
        
                
                </fieldset>        
            </div>

    <div class="nhs_AdvAmenities">
        <fieldset>
            <legend class="nhs_Reader">School / Community</legend>
            <p>
                <label for="ddlSchool">School district:</label>        
                @Html.DropDownList("SchoolId", new SelectList(Model.SchoolList as IEnumerable, "DistrictId", "DistrictName", Model.SchoolId), new { id = "ddlSchool", @class = "nhs_AdvCommunity" })        
            </p>
            <p>
                <label for="ddlCommunity">Community name:</label>        
                @Html.DropDownList("CommunityId", new SelectList(Model.CommunityList as IEnumerable, "CommunityId", "CommunityName", Model.CommunityId), new { id = "ddlCommunity", @class = "nhs_AdvCommunity" })        
            </p>
        </fieldset>
        <fieldset>
            <legend class="nhs_Reader">Amenities</legend>
            <p class="label">Amenities:</p>
            <span class="nhs_AdvAmenList">
            @Html.CheckBoxFor(m => m.CblPool, new { id = "cblAmenitiesPool" })<label for="cblAmenitiesPool"> Pool</label><br /> 
            @Html.CheckBoxFor(m => m.CblGolf, new { id = "cblAmenitiesGolf" })<label for="cblAmenitiesGolf"> Golf course</label><br />
            @Html.CheckBoxFor(m => m.CblGreen, new { id = "cblAmenitiesGreen" })<label for="cblAmenitiesGreen"> Green Features</label><br /> 
            @Html.CheckBoxFor(m => m.CblNature, new { id = "cblAmenitiesNature" })<label for="cblAmenitiesNature"> Nature areas</label><br /> 
            @Html.CheckBoxFor(m => m.CblParks, new { id = "cblAmenitiesParks" })<label for="cblAmenitiesParks"> Parks</label><br /> 
            @Html.CheckBoxFor(m => m.CblViews, new { id = "cblAmenitiesViews" })<label for="cblAmenitiesViews"> Views</label><br /> 
            @Html.CheckBoxFor(m => m.CblWater, new { id = "cblAmenitiesWater" })<label for="cblAmenitiesWater"> Waterfront</label><br /> 
            @Html.CheckBoxFor(m => m.CblSports, new { id = "cblAmenitiesSports" })<label for="cblAmenitiesSports"> Sports facilities</label><br />
            @Html.CheckBoxFor(m => m.CblAdultSenior, new { id = "cblAmenitiesAdultSenior" })<label for="cblAmenitiesAdultSenior"> Adult / Senior community</label> 
            </span>
        </fieldset>
    </div>

    <div class="nhs_Clear"></div>
            
    <div class="nhs_AdvFeatures">
        <fieldset>
            <legend class="nhs_Reader">Home Features</legend>
                <div class="nhs_AdvFeatLeft">
                    <p>
                        <label for="PriceLow"><abbr title="Minimum">Min.</abbr> price:</label>                        
                        @Html.DropDownListFor(
                                 m => m.PriceLow,
                                 Model.LowPriceRange,
                                 "No minimum")
                    </p>
                    <p>
                        <label for="PriceHigh"><abbr title="Maximum">Max.</abbr> price:</label>
                        @Html.DropDownListFor(
                                 m => m.PriceHigh,
                                 Model.HighPriceRange,
                                 "No maximum")                        
                    </p>
                    <p>
                        <label for="BedDrop">Bedrooms:</label>
                        @Html.DropDownListFor(
                                 m => m.BedDrop,
                                 Model.BedList)                        
                    </p>
                    <p>
                        <label for="BathDrop">Bathrooms:</label>
                        @Html.DropDownListFor(
                            m => m.BathDrop,
                            Model.BathList) 
                    </p>
                    @if(PartnerLayoutHelper.GetPartnerLayoutConfig().DoesPartnerHaveSquareFeetFacet)
                    {
                        <p>
                            <label for="SqFtMin">Square Feet:</label>
                            @Html.DropDownListFor(
                                m => m.SqFtMin,
                                Model.SqFtList)
                        </p>
                    }
                    <p>
                        <label for="GarageDrop">Garage:</label>
                        @Html.DropDownListFor(
                                 m => m.GarageDrop,
                                 Model.GarageList)                        
                    </p>
                    <p>
                        <label for="LivingDrop">Living areas:</label>
                        @Html.DropDownListFor(
                                 m => m.LivingDrop,
                                 Model.LivingList)                        
                    </p>                   
                 </div>
                 <div class="nhs_AdvFeatRight">
                    <p>
                        <label for="HomeDrop">Home type:</label>                        
                        @Html.DropDownListFor(
                                 m => m.HomeDrop,
                                 Model.HomeList)                        
                    </p>
                    <p>
                        <label for="StoriesDrop">Stories/floors:</label>
                        @Html.DropDownListFor(
                                 m => m.StoriesDrop,
                                 Model.StoriesList)                                                
                    </p>
                    <p>
                        <label for="MasterBedDrop">Master bedroom:</label>
                        @Html.DropDownListFor(
                                 m => m.MasterBedDrop,
                                 Model.MasterBedList)                                                
                    </p>
                    <p>
                        <label for="ddlBuilder">Builder:</label>                        
                        @Html.DropDownList("BrandId", new SelectList(Model.BuilderList as IEnumerable, "BrandId", "BrandName", Model.BrandId), new { id = "ddlBuilder", @class = "nhs_AdvCommunity" })        
                    </p>
                    <div class="nhs_AdvStatusOffer">
                        <p><span class="label">Home construction status:</span>
                            <span class="nhs_AdvStatusList">
                                @Html.RadioButtonFor(m => m.RblHomeAll, true, new { id = "rblHomeAll", @checked = "checked" })<label for="rblHomeAll"> All</label><br />
                                @Html.RadioButtonFor(m => m.RblHomeAll, false, new { id = "rblHomeQuick" })<label for="rblHomeQuick"> Quick Move-In</label>
                            </span>
                        </p>
                    @if(PartnerLayoutHelper.GetPartnerLayoutConfig().DoesPartnerHaveHotDealsLink)
                    {
                        <p><span class="label">Special offers:</span>
                            <span class="nhs_AdvStatusList">
                                @Html.RadioButtonFor(m => m.RblOfferAll, true, new { id = "rblOfferAll" })<label for="rblOfferAll"> All Homes</label><br />
                                @Html.RadioButtonFor(m => m.RblOfferAll, false, new { id = "rblOfferHot" })<label for="rblOfferHot"> Hot Deals Only</label>
                            </span>
                        </p>
                    }
                    @if(PartnerLayoutHelper.GetPartnerLayoutConfig().DoesPartnerHavePromotionsFacet)
                    {
                        <p><span class="label">Promotions:</span>
                            <span class="nhs_AdvStatusList">
                                @Html.RadioButtonFor(m => m.Promo, PromotionType.Any, new { id = "rblPromoAny", @checked = "checked" })<label for="rblPromoAny">Any</label><br />
                                @Html.RadioButtonFor(m => m.Promo, PromotionType.Consumer, new { id = "rblPromoConsumer" })<label for="rblPromoConsumer">Consumer Promo</label><br />
                                @if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                                {
                                    @Html.RadioButtonFor(m => m.Promo, PromotionType.Agent, new {id = "rblPromoAgent"})<label for="rblPromoAgent">Agent Promo</label><br />
                                    @Html.RadioButtonFor(m => m.Promo, PromotionType.Both, new {id = "rblPromoBoth"})<label for="rblPromoBoth">Agent or Consumer Promo</label>
                                }
                            </span>
                        </p>
                    }
                    </div>
                 </div>        
        </fieldset>
    </div>

    <div class="nhs_Clear"></div>
    <div class="nhs_AdvButtonsRight">        
    
            <input type="submit" id="btnSearchComms" name="btnInputSearch" class="btnCss btn_SearchComms" onclick="return advJs.ValidateAdvForm('1');" value="Search new home communities" />
            <p>or, <a id="btnSearchHomes" name="btnSearchHomes" >Search for new homes</a></p>                
            
    </div>
        }
    <div class="nhs_AdvButtonsLeft">
        <p>        
        <a class="nhs_AdvReset" href="javascript:void(0)" onclick="advJs.ResetForm();">Reset this form</a>
        </p>
    </div>
   
    @ResourceCombinerEnum.ADVANCEDSEARCHJS.GetCrunchedResource()

    <script type="text/javascript">
        var advJs;
        $jq(document).ready(function () {
            advJs = new NHS.Scripts.AdvancedSearch();
            advJs.initialize();

            var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
            search.setupSearchBox("SearchText", "SearchType");
        });
    </script>
</div>
