﻿/* ---------------------------------------------
Title:      HW NHL MVC Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Jan 19 2012
----------------------------------------------- */

body {
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/bg_body.png") repeat-x scroll 0 0 transparent;
	color: #5E5E5E;
	}
#hwnhlHeader {
	border: 0px solid #000;
	margin: 0 auto;
	padding: 5px 0 0 0;
	width: 990px;
	}
#hwnhlHeader a {
	color: #fff;
	}
#hwnhlAdTop {
	clear: both;
    margin: 0 auto;
    padding: 0 0 5px;
    text-align: center;
    width: 730px;
	}
.hwnhlLogo a {
	background: url("/globalresourcesmvc/newhomelistings/images/nhllogo.gif") repeat-x scroll left top transparent;
    float: left;
    margin: 14px 0 0 16px;
    height: 41px;
    overflow: hidden;
    text-indent: -200px;
    width: 386px;
	}
	
#hwnhlToolNav {
	float: right;
	width: 585px;
	color: #fff;
	font-size: 85%;
	}
#hwnhlToolNav ul {
	float: right;
    list-style-type: none;
    padding: 5px 0 0;	
	}
#hwnhlToolNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0 6px;
    border-right: 1px solid #fff;
	}
#hwnhlToolNav ul li a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	}
#hwnhlToolNav ul li a:hover {
	text-decoration: underline;
	}
#hwnhlToolNav ul li.hwnhlLast {
	border: 0;
	} 
	
#hwnhlMainNav {
	float: right;
	}
#hwnhlMainNav ul {
	float: right;
    list-style-type: none;
    padding: 8px 0 0;	
	}
#hwnhlMainNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0;
	}
#hwnhlMainNav ul li a {
	float: left;
    font-size: 10px;
    height: 19px;
    margin-left: 6px;
    padding-top: 1px;
    text-align: center;
    text-decoration: none;
    width: 148px;
	}
#hwnhlMainNav ul li.hwnhlNavNewHomes a {
	background: url("/globalresourcesmvc/newhomelistings/images/buttons/nav_buttons.png") no-repeat scroll 0 -1px transparent;
	background-position: 0 -45px;
    text-indent: -3000px;
	}
#hwnhlMainNav ul li.hwnhlNavMyNewHomes a {
	background: url("/globalresourcesmvc/newhomelistings/images/buttons/nav_buttons.png") no-repeat scroll 0 -1px transparent;
	background-position: 0 -67px;
    text-indent: -3000px;
	}
	
#hwnhlSearchBar {
	float: left;
	clear: both;
	width: 990px;
	height: 24px;
	background: #b0b0b0;
	}	
	
#hwnhlSearchNav {
	float: left;
	clear: both;
	width: 976px;
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -87px #F8F8F8;
    color: #4A4A4A;
    font-size: 85%;
    font-weight: bold;
    margin-top: 12px;
    padding: 6px 0 6px 14px;
	}
#hwnhlSearchNav ul {
	float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;	
	}
#hwnhlSearchNav ul li {
	display: inline;
    float: left;
    margin: 0;
    padding: 0 6px;
    border-right: 1px solid #4A4A4A;
	}
#hwnhlSearchNav ul li.hwnhlLast {
	border: 0;
	}
#hwnhlSearchNav a {
	color: #4A4A4A;
	font-weight: bold;
    margin: 0;
    text-decoration: none;
	}
	
#hwnhlContainer {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 990px;
    font-size: small;
	}	
#hwnhlSectionMain {
	background: #fff;
    float: left;
    min-height: 450px;
    padding: 12px 10px 0;
    width: 970px;
    font-size: small;
	}
#nhsAdColumn {
    float: right;
    width: 160px;
    margin: 35px 0 5px 0;
    padding: 0;
    border: 0px solid;
    }

#hwnhlFooter {
	margin: 0 auto;
    padding: 0 0 10px 0;
    text-align: left;
    width: 990px;
    font-size: 85%;
	color: #999;	
	font-size: small;
	}
#hwnhlFooter a {
	color: #999;
	text-decoration: none;
	}
#hwnhlFooter a:hover {
	text-decoration: underline;
	}
#hwnhlSearchbar {
	float: left;
	clear: both;
	width: 990px;
	height: 26px;
	background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -117px #284972;
	}
#hwnhlFooter p {
	float: left;
	width: 100%;
	margin: 11px 0 0 0;	
	}
#hwnhlFooter #hwnhlMenu {
	font-weight: bold;
	float: left;
	width: 100%;
	margin-top: 11px;
	}
#hwnhlFooter #hwnhlSubmenu {
	margin-top: 0;
	}
	
#nhsLocationSearchArea .locationField {
	margin: 0;
    }

/* Buttons =======================*/

.btn, #hwnhlSectionMain .btn {
    background: url("/globalresourcesmvc/newhomelistings/images/backgrounds/v.png") repeat-x scroll 0 -22px #D76C2D;
    border: 1px solid #D76C2D;
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 11px;
    font-weight: bold;
    height: 18px !important;
    letter-spacing: 0.07em;
    padding: 0 2px 2px 2px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: block;
	}
a.btn, #hwnhlSectionMain a.btn {
	padding: 2px 0 0 0;
	}
.btnSearchAgain {
    width: 110px;
    }
.btnViewBrochure {
	height: 18px !important;
	padding: 0 2px 2px 2px !important;
	}
.btnGetFreeBrochures {
    width: 168px;
    }
.btnSignInLarge {
    display: inline !important;
    }
.btnHotHome {
    width: 120px;
    }
.bntPrevious, 
.btnNext {
    display: inline !important;
    }
#nhsLocationSearchArea .btnFindHomes {
    height: 31px !important;
    background: #FD7004;
    }

