﻿@model Nhs.Web.UI.AppCode.ViewModels.ContactBuilderAndRequestAppointmentClient
<div class="pro_CRM_Modal pro_CRM_ClientActionModal" id="pro_ModalBody">

    <p>
        We've sent your request to 
        <strong>@Model.BuilderName</strong>. 
        We can also save this activity to your client's records for future reference.
    </p>
<br />
@{Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ContactBuilderAndRequestAppointmentClient.PartialAddClientToAction, Model);}

</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        var parameters = {
            saveUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ContactBuilderAndRequestAppointmentClientModal)"
        };
        var crm = new NHS.Scripts.Crm(parameters);
        crm.initializeSaveToFavorites();
    });
</script>
