﻿@model Nhs.Web.UI.AppCode.ViewModels.AddToFavoritesClient
<fieldset>
    <legend class="nhs_Reader">Save this listing as a client favorite?</legend>
    <div id="pro_CRM_ClientNameFields">
        <div class="pro_CRM_ModalLeft">
            @if (Model.ShowClearNames)
            {
                <p>
                    <strong>To help save time, we've pre-filled
                        <br />
                        the last client names you used.
                        <br />
                        <a href="javascript:void(0)" id="pro_ClearNames">Clear names ></a></strong></p>
            }
        </div>
        <div class="pro_CRM_ModalRight" id="pro_ValuesInput">
            <div id="pro_ClientNameList">
                @foreach (var item in Model.Clients)
                {
                    Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.AutoCompleteClientName, item);
                }
            </div>
            @{ Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ContactBuilderAndRequestAppointmentClient.PartialHiddenFields, Model); }
            <div class="nhs_Clear">
            </div>
            <div class="validation-summary-errors" id="btnSendMessageFakeAE" style="display: none">
                <ul>
                    <li>The name(s) are not valid</li>
                </ul>
            </div>
            <p class="pro_CRM_LineUp">
                <input id="pro_AddClient" class="pro_CRM_BtnGray" type="button" value="+ Add another client" /></p>
        </div>
    </div>
</fieldset>
<div class="pro_CRM_ClientsControl">
    <input type="button" class="btn pro_CRM_Button" value="Save to Clients" id="pro_AddToFavoritesClient"
        onclick=" $jq(this).hide();$jq('#pro_SendBrochureFakeAE').show(); " />
    <span style="display: none;" class="btn_SendBrochureFake" id="pro_SendBrochureFakeAE">
    </span><a href="javascript:void(0)" id="pro_SendBrochureNo">No, thanks</a> <span class="nhs_Clear">
    </span>
</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        var parameters = {
            autocompletehtmlUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.AutoCompleteHtml)",
            clientsautocomplete: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ClientsAutoComplete)"
        };
        var crm = new NHS.Scripts.Crm(parameters);
        crm.initializeAddClientToActionModal();
    });
</script>

