﻿@model Nhs.Web.UI.AppCode.ViewModels.BasicAddTo
<input id="ListingType" type="hidden" value="@Model.ListingType" name="ListingType" />
<input id="PropertyId" type="hidden" value="@Model.PropertyId" name="PropertyId" />
<input id="IsFromSaveToFavorites" type="hidden" value="@Model.IsFromSaveToFavorites" name="IsFromSaveToFavorites" />
<input id="IsContactBuilder" type="hidden" value="@Model.IsContactBuilder" name="IsContactBuilder" />
<input id="IsRequestAppointment" type="hidden" value="@Model.IsRequestAppointment" name="IsRequestAppointment" />
<input id="PlanId" type="hidden" value="@Model.PlanId" name="PlanId" />
<input id="SpecId" type="hidden" value="@Model.SpecId" name="SpecId" />
<input id="CommunityId" type="hidden" value="@Model.CommunityId" name="CommunityId" />
<input id="Message" type="hidden" value="@Model.Message" name="Message" />
<input id="BuilderId" type="hidden" value="@Model.BuilderId" name="BuilderId" />
<input id="BuilderName" type="hidden" value="@Model.BuilderName" name="BuilderName" />
<input id="HomeTitle" type="hidden" value="@Model.HomeTitle" name="HomeTitle" />
<input id="CommunityName" type="hidden" value="@Model.CommunityName" name="CommunityName" />