﻿@model Nhs.Web.UI.AppCode.ViewModels.MyAccountBrochure
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
<div id="nhs_ModalContainer" class="pro_ManageBrochure">
    <h2>
        My Custom Brochure Template</h2>
    <p>
        See a new home that might be of interest to your client? Send them a customized
        listing brochure that shows your contact information and omits all builder contact
        information.
    </p>
    <p>
        Customize your brochure template:
    </p>
    @* <iframe id="upload_target" name="upload_target" src="#" style="width: 0; height: 0;
        border: 0px solid #fff;"></iframe>
     <form method="post" enctype="multipart/form-data" action="@string.Format("{0}/{1}", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", Pages.Brochuretab)">
       
    </form>*@
    @using (Html.BeginNhsForm(NhsMvc.ProCrm.ActionNames.BrochureTab, NhsMvc.ProCrm.Name, true))
    {
        <div>
            <input id="AgencyLogoPath" type="hidden" value="@Model.AgencyLogoPath" name="AgencyLogoPath" />
            <input id="AgentPhotoPath" type="hidden" value="@Model.AgentPhotoPath" name="AgentPhotoPath" />
            @Html.ValidationSummary("Please check the following items and try again.")
            <div id="nhs_RegisterLeft">
                <div id="nhs_RegisterForm">
                    <fieldset>
                        <legend class="nhs_Reader">Contact Info</legend>
                        <div>
                            <p>
                                <label for="FirstName">
                                    <span class="pro_Asterisk">*</span>First Name:</label>
                                @Html.TextBoxFor(m => m.FirstName, new { maxlength = "50" }) @Html.ValidationMessageFor(m => m.FirstName, "*")</p>
                            <p>
                                <label for="LastName">
                                    <span class="pro_Asterisk">*</span>Last Name:</label>
                                @Html.TextBoxFor(m => m.LastName, new { maxlength = "50" }) @Html.ValidationMessageFor(m => m.LastName, "*")</p>
                        </div>
                        <div id="nhs_RegisterEmail">
                            <p>
                                <label for="Email">
                                    <span class="pro_Asterisk">*</span>My email address:</label>
                                @Html.TextBoxFor(m => m.Email, new { maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.Email, "*")
                            </p>
                        </div>
                        <div id="nhs_RegisterBrokerInfo">
                            <p>
                                <label for="AgencyName">
                                    <span class="pro_Asterisk">*</span> Broker agency or company name:</label>
                                @Html.TextBoxFor(m => m.AgencyName, new { maxlength = "25" })
                                @Html.ValidationMessageFor(m => m.AgencyName, "*")
                            </p>
                        </div>
                        <p>
                            <strong>
                                <label class="nhsRequestCityEdit">
                                    City:</label></strong>
                            @Html.TextBoxFor(m => m.City)
                        </p>
                        @if (Model.StateList != null)
                        {
                            <p>
                                <label class="nhsRequestState">
                                    State:</label>
                                @Html.DropDownListFor(m => m.StateAbbr, Model.StateList)
                            </p>
                        }
                        <p>
                            <strong>
                                <label>
                                    Business Phone:</label></strong>
                            @Html.TextBoxFor(m => m.BusinessPhone, new { maxlength = "25" })
                            @Html.ValidationMessageFor(m => m.BusinessPhone, "*")
                        </p>
                        <p>
                            <strong>
                                <label>
                                    Mobile Phone:</label></strong>
                            @Html.TextBoxFor(m => m.MobilePhone, new { maxlength = "25" })
                            @Html.ValidationMessageFor(m => m.MobilePhone, "*")
                        </p>
                        @if (!string.IsNullOrEmpty(Model.AgentLicenseNumber))
                        {
                            <p>
                                <strong>
                                    <label>
                                        BRE Lic# @Model.StateAbbr @Model.AgentLicenseNumber
                                    </label>
                                </strong>
                            </p>
                        }
                    </fieldset>
                </div>
            </div>
            <div id="nhs_RegisterRight">
                <fieldset>
                    <legend class="nhs_Reader">Agent Photo</legend>
                    @if (!string.IsNullOrEmpty(Model.AgentPhotoPath))
                    {
                        <div id="pro_AgentPhotoImg">
                            <strong>
                                <label>
                                    Agent Photo:</label></strong>
                            <img alt="Agent Photo" src="@string.Format("{0}/{1}", Configuration.ResourceDomain, Model.AgentPhotoPath)" />
                            <br />
                            <a>Delete</a>
                        </div>
                    }
                    <div id="pro_AgentPhotoFile" style="display: @(!string.IsNullOrEmpty(Model.AgentPhotoPath) ? "none" : "")">
                        <div class="AgentPhoto">
                            <p>
                                <label for="AgentPhoto">
                                    Agent Photo:</label>
                                <span>@Html.TextBoxFor(model => model.AgentPhoto, new { type = "file" })</span>@Html.ValidationMessageFor(m => m.AgentPhoto, "*")
                                <br />
                                <span class="AgentPhotoSize">Agent Photo size have to be width < 103 pixels and height
                                    < 131 pixels</span>
                            </p>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.AgencyLogoPath))
                    {
                        <div id="pro_AgencyLogoImg">
                            <strong>
                                <label>
                                    Agency Logo:</label></strong>
                            <img alt="Agency Logo" src="@string.Format("{0}/{1}", Configuration.ResourceDomain, Model.AgencyLogoPath)" />
                            <br />
                            <a>Delete</a>
                        </div>
                    }
                    <div id="pro_AgencyLogoFile" style="display: @(!string.IsNullOrEmpty(Model.AgencyLogoPath) ? "none" : "")">
                        <div class="AgencyLogo">
                            <p>
                                <label for="AgencyLogo">
                                    Agency Logo:</label>
                                <span>@Html.TextBoxFor(model => model.AgencyLogo, new { type = "file" })</span>@Html.ValidationMessageFor(m => m.AgencyLogo, "*")
                                <br />
                                <span class="AgencyLogoSize">Select Agency size have to be width < 180 pixels and height
                                    < 100 pixels</span>
                            </p>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div>
                    <input type="submit" id="UpdateButton" class="btn btn_CreateAccount" value="Save"
                        onclick=" $jq('#UpdateButton').hide();$jq('#btn_UpdateButtonFake').show(); " />
                    <span style="display: none;" class="btn_SendBrochureFake" id="btn_UpdateButtonFake">
                    </span>&nbsp; @Html.NhsLink("Preview", Pages.Preview, new List<RouteParam>(), new { target = "_blank" })
                </div>
            </div>
        </div>

    }
</div>
<script language="JavaScript" src="@string.Format("{0}/GlobalResourcesMvc/Pro/js/BrochureTab.js", Configuration.ResourceDomain)"  type="text/javascript"></script>
<script type="text/javascript">
    
        var value = @Model.HavAgentPhotoOrAgencyLog.ToString().ToLower();
            if (window.opener) {
                window.opener.returnValue = value;
            }
            window.returnValue = value;
            
            $jq(document).ready(function() {
                var brochureTab = new NHS.Scripts.BrochureTab();
                brochureTab.initialize();
            });
</script>
@if (Model.Saved)
{
    <script type="text/javascript">
        $jq(document).ready(function () {
            window.close();
        });
    </script>
}
@section cphHead{
    <base target="_self" />
}
