﻿@using Nhs.Library.Constants
<h2>
    Update my account</h2>
<div id="TB_ajaxContent">
   @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.Agent.ManageAccountForm)
</div>
<div class="nhsClear">
</div>
<p class="pro_LegalText">
    We value your privacy! We don’t share your information with other parties without
    your permission. Read our
    @Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy, null, new { target = "_blank" })
    & @Html.NhsLink("Terms of use", Pages.TermsOfUse) for details.
</p>
