﻿@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesViewModel
@if (Model.IsClientDetailPage)
{
    <script type="text/javascript">
        $jq(document).ready(function () {
            $jq(".pro_SavedHomeCheckBox").change(function () {
                if ($jq(this).is(":checked")) {
                    $jq.googlepush('My Clients (Contact)', 'Favorites', 'Delete - Home');
                }
            });

            $jq(".pro_SavedCommCheckBox").change(function () {
                if ($jq(this).is(":checked")) {
                    $jq.googlepush('My Clients (Contact)', 'Favorites', 'Delete - Comm');
                }
            });

            $jq("#pro_SelectAllHome").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Select All - Home');
            });

            $jq("#pro_SelectAllCom").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Select All - Comm');
            });

            $jq(".pro_SaveHomeFreeBrochure a.thickbox").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Send Brochure - Home');
            });


            $jq(".pro_SaveCommFreeBrochure a.thickbox").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Send Brochure - Comm');
            });

            $jq("#pro_SavedHomeRemoveLink").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Remove Selected - Home');
            });

            $jq("#pro_SavedCommRemoveLink").click(function () {
                $jq.googlepush('My Clients (Contact)', 'Favorites', 'Remove Selected - Comm');
            });
        });
    </script>
}

<div class="nhs_Clear">
</div>
<div class="pro_CRM_SubHead">
    <h2>
        Favorites</h2>
    <div class="nhs_Clear">
    </div>
</div>

@{ Html.RenderPartial(NhsMvc.Default.Views.MyAccount.SaveProperties, Model);}
<script type="text/javascript">
    $jq(document).ready(function () {
        var params = {
            homeSave: '.pro_SavedHomeCheckBox',
            commSave: '.pro_SavedCommCheckBox',
            homeSaveDelete: '#pro_SavedHomeRemoveLink',
            commSaveDelete: '#pro_SavedCommRemoveLink',
            url: '@(!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "")',
            isClientDetailPage: @Model.IsClientDetailPage.ToString().ToLower(),
            clientId: @Model.ClientId
        };
        var favorites = new NHS.Scripts.Favorites(params);
        favorites.initialize();
    });
</script>
