﻿@model Nhs.Web.UI.AppCode.ViewModels.ManageAccountViewModel
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common

@Html.ValidationSummary("Please check the following items and try again.")
<div id="nhs_ModalContainer">
    <div id="nhs_RegisterLeft">
        <h2>
            My contact info <span><span class="pro_Asterisk">*</span> required</span>
        </h2>
        <div id="nhs_RegisterForm">
            <fieldset>
                <legend class="nhs_Reader">Contact Info</legend>
                <div>
                    <p>
                        <label for="FirstName">
                            <span class="pro_Asterisk">*</span>First Name:
                        </label>
                        @Html.TextBoxFor(m => m.FirstName, new { maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.FirstName, "*")
                    </p>
                    <p>
                        <label for="LastName">
                            <span class="pro_Asterisk">*</span>Last Name:
                        </label>
                        @Html.TextBoxFor(m => m.LastName, new { maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.LastName, "*")
                    </p>
                </div>
                <div id="nhs_RegisterEmail">
                    <p>
                        <label for="Email">
                            <span class="pro_Asterisk">*</span>My email address:
                        </label>
                        @Html.TextBoxFor(m => m.Email, new { maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.Email, "*")
                    </p>
                    @if (NhsRoute.IsBrandPartnerNhsPro)
                    {
                        <p>
                            <label for="ComfirmEmail">
                                <span class="pro_Asterisk">*</span>Confirm email:
                            </label>
                            @Html.TextBoxFor(m => m.ConfirmEmail, new { maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.ConfirmEmail, "*")
                        </p>
                    }
                </div>
                @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                {
                    <p>
                        <label for="International" class="nhs_LiveOutsideLabel">
                            International:
                        </label>
                        @Html.CheckBoxFor(m => m.International, new { onclick = "toggleInternationalFields()" })
                    </p>
                }
                <div id="nonInternationalPanel" style="@(Model.International ? "display:none" : "")">
                    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                    {
                        <p>
                            <label for="Address1">
                                Street address:
                            </label>
                            @Html.TextBoxFor(m => m.Address1)
                        </p>
                        <p>
                            <label for="City">
                                City:
                            </label>
                            @Html.TextBoxFor(m => m.City)
                        </p>
                        <p>
                            <label for="StateAbbr">
                                State:
                            </label>
                            @Html.DropDownListFor(m => m.StateAbbr, Model.StateList)
                        </p>
                    }
                    <p>
                        <label for="ZipCode">
                            <span class="pro_Asterisk">*</span>ZIP Code:
                        </label>
                        @Html.TextBoxFor(m => m.ZipCode, new { maxlength = "10" })
                        @Html.ValidationMessageFor(m => m.ZipCode, "*")
                    </p>
                    @if (NhsRoute.IsBrandPartnerNhsPro)
                    {
                        <div>
                            <p>
                                <label for="City">
                                    City:
                                </label>
                                @Html.TextBoxFor(m => m.City, new { disabled = "disabled" })
                                @Html.HiddenFor(m => m.CityId)
                            </p>
                            <p>
                                <label for="StateList">
                                    State:
                                </label>
                                @Html.TextBoxFor(m => m.StateAbbr, new { disabled = "disabled" })
                                @Html.HiddenFor(m => m.StateId)
                            </p>
                            <p>
                                <label for="MarketName">Home Market:</label>
                                @Html.TextBoxFor(m => m.MarketName, new { disabled = "disabled" })
                                @Html.HiddenFor(m => m.MarketId)
                            </p>
                        </div>
                        <div>
                            <p>
                                <label for="RequestPhone">
                                    Business Phone:
                                </label>
                                @Html.TextBoxFor(m => m.RequestPhone, new { maxlength = "25" })
                                @Html.ValidationMessageFor(m => m.RequestPhone, "*")
                            </p>
                            <p>
                                <label for="MobilePhone">
                                    Mobile Phone:
                                </label>
                                @Html.TextBoxFor(m => m.MobilePhone, new { maxlength = "25" })
                                @Html.ValidationMessageFor(m => m.MobilePhone, "*")
                            </p>
                        </div>
                    }
                    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                    {
                        <div>
                            <p>
                                <label for="Phone">
                                    Phone:
                                </label>
                                @Html.TextBoxFor(m => m.Phone, new { maxlength = "25" })
                            </p>
                        </div>
                    }
                </div>
                <div>
                    <h2>
                        Change my password
                    </h2>
                    <p>
                        <label for="Password">
                            <span class="pro_Asterisk">*</span>Password:
                        </label>
                        @Html.PasswordFor(m => m.Password, new { maxlength = "50", value = Model.Password })
                        @Html.ValidationMessageFor(m => m.Password, "*")
                    </p>
                    <p>
                        <label for="ConfirmPassword">
                            <span class="pro_Asterisk">*</span>Confirm password:
                        </label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = "50", value = Model.Password })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "*")
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="nhs_RegisterRight">
        @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
        {
            <h2>
                My home needs <span>(optional)</span>
            </h2>
            <div>
                <fieldset>
                    <legend class="nhs_Reader">Home Needs</legend>
                    <p>
                        <label for="MoveInDateList">
                            Expected move-in date:
                        </label><br />@Html.DropDownListFor(m => m.MoveInDate, Model.MoveInDateList)
                    </p>
                    <p>
                        <label for="FinancePrefList">
                            Home financing preference:
                        </label><br />@Html.DropDownListFor(m => m.FinancePref, Model.FinancePrefList)
                    </p>
                    <p>
                        <label for="ReasonList">
                            Why are you looking for a new home?
                        </label><br />@Html.DropDownListFor(m => m.Reason, Model.ReasonList)
                    </p>
                </fieldset>
            </div>
        }

        @if (NhsRoute.IsBrandPartnerNhsPro)
        {
            <div id="nhs_RegisterBrokerInfo">
                <p>
                    <label for="AgencyName">
                        <span class="pro_Asterisk">*</span> Broker agency or company name:
                    </label>
                    @Html.TextBoxFor(m => m.AgencyName, new { maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.AgencyName, "*")
                </p>
                <p>
                    <label for="RealEstateLicense">
                        Real Estate license #:
                    </label>
                    @Html.TextBoxFor(m => m.RealEstateLicense, new { maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.RealEstateLicense, "*")
                </p>
            </div>
        }
        <div id="nhs_RegisterNewsOffers">
            <fieldset>
                <legend class="nhs_Reader">Newsletter / Special Offers</legend>
                @if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    <p>
                        @Html.CheckBoxFor(m => m.Promos)
                        <label for="Promos">
                            Sign me up to receive a weekly email of the <strong>promotions, events and builder inventory homes</strong> available in my area.
                        </label>
                    </p>
                }
                else
                {

                    <h2>
                        Newsletter / Special Offers
                    </h2>
                    <p id="pchkNewsLetter" runat="server">
                        @Html.CheckBoxFor(m => m.Newsletter)
                        <label for="Newsletter">
                            Yes! Sign up for our <strong>free newsletter</strong> full of helpful information
                            on home buying.
                        </label>
                    </p>
                    <p id="pchkPromos" runat="server">
                        @Html.CheckBoxFor(m => m.Promos)
                        <label for="Promos">
                            Yes! Send me <strong>special promotions</strong> and discount offers from select
                            partners.
                        </label>
                    </p>
                    <div class="nhs_Clear"></div>
                }
            </fieldset>
        </div>
        <div>
            <input type="submit" id="UpdateButton" class="btn btn_CreateAccount" value="Update my account"
                   onclick="$jq('#UpdateButton').hide();$jq('#btn_UpdateButtonFake').show();" />
            <span style="display: none;" class="btn_SendBrochureFake" id="btn_UpdateButtonFake">
            </span>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.Redirect)

@if (NhsRoute.IsBrandPartnerNhsPro)
{
    <script src="@string.Format("{0}/GlobalResourcesMvc/Pro/js/Account.js", Configuration.ResourceDomain)" type="text/javascript"></script>
    <script src="@string.Format("{0}/GlobalResourcesMvc/Default/js/SendToPhone/jquery.maskedinput-1.3.js", Configuration.ResourceDomain)" type="text/javascript"></script>
    <script type="text/javascript">
        var account;
        var params = {
            zbox: '#ZipCode',
            mkbox: '#MarketName',
            hdnbox: '#MarketId',
            cbox: '#City',
            sbox: '#StateAbbr',
            hdncity: '#CityId',
            hdnstate: '#StateId'
        };
        $jq(document).ready(function () {
            account = new NHS.Scripts.Account(params);
            account.initialize();
        });

    </script>
}
<script type="text/javascript">
    function toggleInternationalFields() {
        // Show/Hide fields
        $jq('nonInternationalPanel').toggle();

        // Resizes window
        parent.AjaxForm.UpdateHeight();
    }

    jQuery(document).ready(function () {
        jQuery(document).off("click", "#UpdateButton").on("click", "#UpdateButton", function () {
            var input = jQuery("#pro_MyAccountTab input, select").serialize();

            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ManageAccount)",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    jQuery("#pro_MyAccountTab").html(data);

                    account.initialize();
                    account.iframeCreate("@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.BrochureTab)");
                }
            });
        });
    });

</script>
