﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesViewModel
<ul class="nhs_Tabs">
    <li class="@(Model.SelectMyAccount ? "nhs_Selected" : "")"><a onclick="@string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}')", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", "account")" showtap="pro_MyAccountTab" class="@(Model.SelectMyAccount ? "active" : "") pro_tabNavitacion">
        My Account</a> </li>
    <li class="@(Model.SelectClientsTab ? "nhs_Selected" : "")">
        @if (Model.IsClientDetailPage)
        {
            @Html.NhsLink("My Clients", Pages.MyAccount, new List<RouteParam>
            {
                new RouteParam(RouteParams.Tab, "myclient",RouteParamType.QueryString)
            }, new { @class = Model.SelectClientsTab ? "active" : "", onclick = string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}')", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", "clients") }, true)
        }
        else
        {
            <a onclick="@string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}')", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", "clients")" id="pro_MyClientTab"  showtap="pro_MyClient" class="@(Model.SelectClientsTab ? "active" : "") pro_tabNavitacion">
                My Clients</a> 
        }
    </li>
    <li class="@(Model.SelectFavoriteTab ? "nhs_Selected" : "")"><a onclick ="@string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}')", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", "favorites")" id="pro_FavoritesTab" class="@(Model.SelectFavoriteTab ? "active" : "") pro_tabNavitacion" showtap="FavoritesTab">
        My Favorites</a> </li>
    <li class="@(Model.SelectBrochureTab ? "nhs_Selected" : "")"><a onclick="@string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}')", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", "brochuretemplate")"  class="@(Model.SelectBrochureTab ? "active" : "") pro_tabNavitacion" showtap="BrochureTab">
        My Brochure Template</a> </li>
</ul>
<span class="nhs_Clear"></span>
@if (!Model.IsClientDetailPage)
{
    <script type="text/javascript">
    $jq(document).ready(function () {
@string.Format("$jq.googlepushTrackPageview('{0}/procrm/{1}');", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", Model.SelectMyAccount ? "account" : Model.SelectClientsTab ? "clients" : Model.SelectFavoriteTab ? "favorites" : "brochuretemplate").ToMvcHtmlString()
    });
   </script>
}
