﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Library.Business.BoylResult

<div class="nhs_BoylResultsRow" onmouseover="jQuery(this).addClass('nhs_BoylResultsRowOn');" onmouseout="jQuery(this).removeClass('nhs_BoylResultsRowOn');" onclick="@Model.BrandResultOnClick()">
    <div class="nhs_ResultThumbBox">
        @if (Model.IsCnh)
        {
            <div class="nhs_ResultThumb">
                <a href="@Model.BrandCNHLink()" onclick="jQuery.googlepush('Outbound Links', 'Search Results CTA Internal', 'Custom New Homes');" target="_blank">
                    @Html.NhsImage(Model.CommThumbnail(), Model.BrandName, false)
                </a>
            </div>
            @Html.NhsImage(GlobalResourcesMvc.Default.images.icons.new_window_png, LanguageHelper.OpensInNewWindow, new { @class = "nhs_IconNewWindow" }, false)
        }
        else
        {
            @Html.NhsImageLink(Model.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "nhs_ResultThumb" }, null)
        }
    </div>
    <div class="nhs_BoylResultsInfo1">
        @if (Model.IsCnh)
        {
            <h5>
                <a href="@Model.BrandCNHLink()" onclick="jQuery.googlepush('Outbound Links', 'Search Results CTA Internal', 'Custom New Homes'); return false;" target="_blank">
                    @Model.BrandName@(Html.NhsImage(GlobalResourcesMvc.Default.images.icons.new_window_png, LanguageHelper.OpensInNewWindow, false))
                </a>
            </h5>
        }
        else
        {
            <h5>
                @(!Model.IsBasicCommunity ?
                                Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null) :
                                Html.NhsActionLink(Model.CommunityName, NhsMvc.BasicCommunityDetail.Show(Model.CommunityId, Model.ParamsBasicCommunityHref()), null))
            </h5>
        }
        <p>
            @if (Model.BuildOnYourLot && !Model.CommunityName.ToLower().Contains("build on your lot"))
            {
                @Model.CommunityItemLocation()<br />
            }
            @if (Model.BuildOnYourLot && Model.MatchingHomes > 0)
            {
                @String.Format("{0} {1}", Model.MatchingHomes, LanguageHelper.CustomNewHomesAvailable)
            }
            else
            {
                if (Model.SquareFeetLow != 0 && Model.SquareFeetHigh != 0)
                {
                    if (Model.MatchingHomes > 0)
                    {
                        @String.Format("{0} {1}", Model.MatchingHomes, LanguageHelper.NewHomePlansAvailable)
                        <br />
                    }

                    @String.Format("{0} - {1} ", Model.SquareFeetLow, Model.SquareFeetHigh)
                    <abbr title="square feet">
                        sq.ft.
                    </abbr>
                }
            }
        </p>
        @if (Model.IsCnh)
        {
            <p>
                @LanguageHelper.SeeFullBuilderProfileAndGallery.ToMvcHtmlString()
            </p>
        }
        @if (!Model.IsBasicCommunity)
        {
            <div class="nhs_ResultBrandAddress">
                @if (Model.IsCnh)
                {

    <div class="nhs_ResultBrandImg">
        @Html.NhsImageLinkLogAndRedirect(string.Format(LanguageHelper.ViewSiteInNewWindow, Model.BrandName), Model.BrandImageThumbnailUrl(), Model.BrandCNHLink(), LogImpressionConst.BoylResultsBuilder, new { communityId = Model.CommunityId.ToString(), communityName = Model.CommunityName.RemoveSpecialCharacters(), builderId = Model.BuilderId.ToString(), builderName = Model.BrandName.RemoveSpecialCharacters(), marketId = Model.MarketId, marketName = Model.MarketName }, string.Empty, new { id = "lnkBrandLogo", target = "_blank" })
    </div>
                }
                else if (!string.IsNullOrEmpty(Model.BuilderUrl) && !string.IsNullOrEmpty(Model.BrandImageThumbnail) && !Model.BrandImageThumbnail.Contains("1x1.gif"))
                {
                    <div class="nhs_ResultBrandImg">
                        @Html.BrandImageThumbnail(Model)
                    </div>
                }
                <p class="nhs_ResultBrandName">@Model.BrandName</p>
            </div>
        }
        @if (!Model.IsCnh)
        {
            if (Model.HasHotHome || Model.HasSpecialOffer || Model.SubVideoFlag == "Y")
            {
                <p id="pCommunityStatusOffer" class="nhs_ResultCommStatus">
                    <ul class="nhs_Features">
                        @if (Model.HasHotHome)
                        {
                            <li title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.HotDeal.ToMvcHtmlString()</li>
                        }
                        @if (Model.SubVideoFlag.ToBool())
                        {
                            @Html.NhsImageLinkLogAndRedirect(string.Format("{0} video", Model.CommunityName), GlobalResourcesMvc.Default.images.icons.icon_video_png, Model.Video_url, LogImpressionConst.CommResVideoTour, new { communityId = Model.CommunityId.ToString(), communityName = Model.CommunityName.RemoveSpecialCharacters(), builderId = Model.BuilderId.ToString(), builderName = Model.BrandName.RemoveSpecialCharacters(), marketId = Model.MarketId, marketName = Model.MarketName }, string.Empty, new { target = "_blank" })
                        }
                        @if (Model.HasSpecialOffer)
                        {
                            <li title="@LanguageHelper.SpecialOffers" class="nhs_Deals">@LanguageHelper.SpecialOffers.ToMvcHtmlString()</li>
                        }
                    </ul>
                </p>
            }
        }
    </div>
    <div class="nhs_BoylResultsInfo2">
        @if (!Model.IsBasicCommunity)
        {
            if (Model.IsCnh)
            {
                @Html.NhsLink(LanguageHelper.Visit + " CustomNewHomes.com", "", new List<RouteParam>(), new { @class = "btn btn_VisitCnh" }, true)
            }
            else
            {
                if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    @Html.NhsLink(LanguageHelper.ViewHomes, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "btnCss btn_ViewHomes" })
                }

                @Html.GetFreeBrochureBoylLink(Model)
            }
        }
    </div>
    <div class="nhs_Clear">
    </div>
</div>
