﻿@model Nhs.Web.UI.AppCode.ViewModels.Session.SessionViewModel
@Html.Partial(NhsMvc.Default.Views.Session.Session, Model)
<input id="Button1" type="button" value="Post" />
<br /><br />
<div id="nhs_html">
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#Button1").click(function () {
            jQuery.ajax({
                url: '@Html.GetActionUrl(NhsMvc.Session.Name, NhsMvc.Session.ActionNames.GetSessionPost)',
                type: "POST",
                cache: false,
                success: function (html) {
                    if (typeof html === 'string') {
                        jQuery("#nhs_html").html(html);
                    }
                }
            });
        });
    });
</script>
