﻿@model Nhs.Web.UI.AppCode.ViewModels.Session.SessionViewModel

<fieldset>
    <p>
       SessionId: @Model.SessionId
    </p>
    <p>
        Email: @Model.Email
    </p>
    <p>
        FirstName: @Model.FirstName
    </p>
     <p>
       LastName: @Model.LastName
    </p>
</fieldset>