﻿@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel

<header class="nhs_CommContext">
    <h1>@LanguageHelper.WeAreSorry.ToMvcHtmlString()</h1>
    <h2>
        @LanguageHelper.This.ToTitleCase().ToMvcHtmlString() @Model.GetCommHomeLiteralText(false, false) @LanguageHelper.IsNoLongerAvailable.ToMvcHtmlString()
    </h2>
</header>
<section class="nhs_CommInactive clearfix">
    <div class="nhs_HomeSearch clearfix">
        <div class="clearfix">
            <h3>
                @LanguageHelper.TryAnotherSearch.ToMvcHtmlString():</h3>            
                @Html.Partial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SearchBar)
        </div>
    </div>
</section>

