﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
<div class="nhs_Account nhs_ShareModal">
    <header>
        <h1 id="nhs_TitleShareModal">@String.Format(LanguageHelper.ShareThisListingVia, NhsRoute.IsBrandPartnerCna?"propiedad": "listing").ToMvcHtmlString()</h1>
    </header>
    <ul>
        <li class="nhs_Share_Mail"><a id="nhs_Share_Mail" href="">@LanguageHelper.Email.ToMvcHtmlString()</a> </li>
        <li class="nhs_Share_Sms"><a id="nhs_Share_Sms" href="">@LanguageHelper.SendToPhone.ToMvcHtmlString()</a>
        </li>
        <li class="nhs_Share_Facebook"><a target="blank" id="nhs_Share_Facebook" href="">Facebook</a>
        </li>
        <li class="nhs_Share_Twitter"><a target="_blank" id="nhs_Share_Twitter" href="">Twitter</a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    window.share.CreateShareLinks("@LanguageHelper.ShareThisListingVia.ToMvcHtmlString()", "@LanguageHelper.Community.ToLower().ToMvcHtmlString()", "@LanguageHelper.Home.ToLower().ToMvcHtmlString()");
</script>