﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@if (Model.ImagesCommunityGallery.Any())
{
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        @* Community Gallery*@
        <div class="community-gallery">
            @if (Model.ImagesCommunityGallery.Any())
            {
                <div class="title">
                    <div class="bl-blue">
                        <h3>@LanguageHelper.CommunityGallery.ToMvcHtmlString()</h3>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="content">
                    <div id="GalleryCommunity">
                        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Gallery, Model.ImagesCommunityGallery)
                    </div>
                </div>
            }
            <div class="clr">
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
}

@if (Model.HaveAmenities || Model.Utilities.Any() || Model.Schools.Any())
{
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        @* Community Gallery*@
        <div class="local-amenities">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        @LanguageHelper.LocalAmenities.ToMvcHtmlString()</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Gallery.Amenities)
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
}