﻿/* ---------------------------------------------
Title:      Default MVC Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
            Alex Labanino, alabanino@builderhomesite.com
Updated:	Nov 22 2011
----------------------------------------------- */

input[disabled] {
    background-color: #eee;
    }

body.nhs_EmptyBody {
    background-color: #fff;
	background: none;
	}

abbr, abbr[title] {
    border: 0;
    }
.nhs_Reader {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    top: 0;
    left: -3000px;
    }
.nhs_ReaderAlt {
    display: none; visibility: hidden;
    }
.nhs_Clear {
    clear: both;
    display: block;
    height: auto;
    }
.nhs_Asterisk {
    font-size: 18px;
    vertical-align: middle;
    color: #ff193f;
    margin-right: 1px;
    line-height: 0.5;
    }
.nhs_Legal {
    font-size: 77%;
    }
.nhs_Error,
.nhs_Content .nhs_Error {
	font-weight: bold;
	color: #c33;
	}

#nhs_ModalContainer,
.nhs_Content,	
#nhs_Page {
    font-size: 13px;
    }    

/* =Partner */

.nhs_PoweredBy {
    float: right;
    margin: 3px 6px 0 0;
    }
#nhs_PartnerContainer {
    margin: 0 auto;
    padding: 0;
    width: 970px; /*800px;*/
    text-align: left;
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;	
    font-size: small;
    line-height: normal;
    }
#nhs_PartnerContainer p {
    /*margin: 0;
    padding: 0;
    line-height: normal;*/
    }
/*#nhs_PartnerContainer h1,
#nhs_PartnerContainer h2,
#nhs_PartnerContainer h3,
#nhs_PartnerContainer h4,
#nhs_PartnerContainer h5,
#nhs_PartnerContainer h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: normal;
    }
#nhs_PartnerContainer a, #nhs_PartnerContainer a:link {
    color: #24619e;
    }
#nhs_PartnerContainer a:visited, #nhs_PartnerContainer a:active {
    color: #24619e;
    }
#nhs_PartnerContainer a:hover {
    text-decoration: underline;
    }
*/
#nhs_PartnerContainer fieldset {
    margin: 0;
    padding: 0;
    }
#nhs_PartnerNav {
    float: left;
    margin: 5px 0 0 0;
    padding: 0;
    width: 970px; /*800px;*/
    height: 26px;
    border-top: 1px solid #666; /*#24619e*/
    border-bottom: 1px solid #666; /*#24619e*/
    background: #f0f0f0;
    }
#nhs_PartnerNav ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    }
ul#nhs_PartnerToolNav {
    float: right;
    }
#nhs_PartnerNav ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
    }
#nhs_PartnerNav ul li a,
#nhs_PartnerNav ul li a:link,
#nhs_PartnerNav ul li a:visited,
#nhs_PartnerNav ul li a:active {
    display: block;
    margin: 0;
    padding: 6px 10px 6px 6px;
    font-size: 85%;
    font-weight: bold;
    /*color: #24619e;
    text-decoration: none;*/
    }
#nhs_PartnerNav ul li a:hover {
    text-decoration: underline;
    }	 
#nhs_PartnerContainer .nhs_Content {
    margin: 0;
    }
#nhs_PartnerContainer #nhs_PersonalBar {
    float: left;
    width: 958px; /*788px;*/
    margin: 3px 0 6px 0;
    padding: 6px 0 6px 12px;
    border: 1px solid #999;
    border-width: 1px 0;
    background: #dfdfde;
    font-size: 85%;
    font-weight: bold;
    color: #666;
    }
/*#nhs_PartnerContainer #nhs_PersonalBar a, 
#nhs_PartnerContainer #nhs_PersonalBar a:link, 
#nhs_PartnerContainer #nhs_PersonalBar a:visited, 
#nhs_PartnerContainer #nhs_PersonalBar a:active,
#nhs_PartnerContainer #nhs_PersonalBar a:hover {
    color: #24619e;
    }*/
    
#nhs_PartnerContainer #nhs_Footer {
    color: #676767;
    margin: 0 auto;
    padding-bottom:50px;
    width: 970px;
	}    
#nhs_PartnerContainer #nhs_FooterAdBox {
	border: 0;
	float: left;
	margin: 0;
	padding: 0;
	width: 310px;
	}	
#nhs_PartnerContainer #nhs_FooterAside {
    float: left;
    background: #fff;
    padding: 8px 0 0 0;
    border-bottom: 0;
    border-top: 1px solid #333; /*#24619e*/
    width: 970px; /*800px;*/
    }
#nhs_PartnerContainer #nhs_Footer #nhs_FooterAside,
#nhs_PartnerContainer #nhs_Footer #nhs_FooterCopyright {
    width: 660px;
    }    
#nhs_PartnerContainer #nhs_FooterAside nav {
    padding: 0 0 4px 0;
    }	
#nhs_PartnerContainer #nhs_FooterAside ul li {
    margin: 0 7px 0 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    list-style-image: none;
    background: none;
    font-size: 85%;
    }
#nhs_PartnerContainer #nhs_FooterAside a, 
#nhs_PartnerContainer #nhs_FooterAside a:link {
    color: #666;	
    font-weight: bold;
    }
#nhs_PartnerContainer #nhs_FooterCopyright {
    float: left;
    margin: 0;
    padding: 4px 0;
    width: 970px; /*800px;*/
    color: #666;
    font-size: 77%;
    }
#nhs_PartnerContainer #nhs_FooterCopyright a, 
#nhs_PartnerContainer #nhs_FooterCopyright a:link,
#nhs_PartnerContainer #nhs_FooterCopyright a:visited, 
#nhs_PartnerContainer #nhs_FooterCopyright a:active {
    color: #666;
    }	
    
/*#nhs_SectionMain {
    float: left;
    display: inline;
    width: 970px;
    padding: 5px 10px 10px 10px;
    min-height: 450px;
    background: #fff;
    }*/
/* #nhs_Main {
    float: left;
    display: inline;
    width: 970px;
    padding: 0 0 0 0;
    background: #fff; 
    } */   
#nhs_Page {
    width: 970px;
    margin: 0 auto;
    }    
    
/* =Content */	
.nhs_Content {
    float: left;
    display: inline;
    width: 800px;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    font-size: 0.8rem;
    }
.nhs_SiteHelp ul { list-style:disc inside; } 
#nhs_BasicContent,
.nhs_ContentAlt {
    width: 970px;
    }

.nhs_LegalText {
    font-size: 10px;
    }
    
#nhs_AddThisBox,
#nhs_PartnerNav ul li#nhs_AddThisBox {
    float: right;
    margin: 3px 0 1px 0;
    padding: 3px 5px 1px 5px;
    width: auto;
    }
#nhs_AddThisBox .addthis_separator,
#nhs_PartnerNav ul li#nhs_AddThisBox .addthis_separator {
    float: left;
    margin: 0 4px;
    }
#nhs_AddThisBox a,
#nhs_PartnerNav ul li#nhs_AddThisBox a {
    float: left;
    margin: 0 2px !important;	
    padding: 0 !important;
    }
#nhs_AddThisBox .addthis_button_facebook,
#nhs_AddThisBox .addthis_button_twitter,
#nhs_AddThisBox .addthis_button_email,
#nhs_AddThisBox .addthis_button_print,
#nhs_PartnerNav ul li#nhs_AddThisBox .addthis_button_facebook,
#nhs_PartnerNav ul li#nhs_AddThisBox .addthis_button_twitter,
#nhs_PartnerNav ul li#nhs_AddThisBox .addthis_button_email,
#nhs_PartnerNav ul li#nhs_AddThisBox .addthis_button_print {
    width: 17px;
    }
#nhs_AddThisBox #nhs_SaveThisItem,
#nhs_PartnerNav ul li#nhs_AddThisBox #nhs_SaveThisItem {	
    overflow: hidden;
    cursor: pointer;	
    display: block;
    height: 0px !important;	
    width: 17px;
    height: 16px;
    padding: 16px 0 0 0 !important;
    background: url(/globalresourcesmvc/default/images/icons/save_heart.png) no-repeat left top;
    }
#nhs_AddThisBox #nhs_SaveThisItem .nhs_ItemSaved,
#nhs_PartnerNav ul li#nhs_AddThisBox #nhs_SaveThisItem .nhs_ItemSaved {
    cursor: default;
    background: url(/globalresourcesmvc/default/images/icons/save_heart_saved.png) no-repeat left top;
    }
    
#nhs_LiveChat {
    margin: 3px 0 1px 0;
    padding: 1px 5px;
    width: auto;
    }

/* begin css tabs */

/*.nhs_Tabs {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nhs_Tabs > li {
	display: inline-block;
	float: left;
	margin-right: 11px;
}
.nhs_Tabs > li > a { 
	display: inline-block;
	padding: 12px 10px 10px 10px;
	background-color: #bababa;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.nhs_Tabs > li > a:hover,
.nhs_Tabs > li > a.nhs_Active,
.nhs_Tabs > li.nhs_Selected > a {
	background-color: #eee;
	text-decoration: none;
	color: #7d7d7d;
}
.nhs_Tabs > li > a.nhs_Active,
.nhs_Tabs > li > a.nhs_Active:hover {
    cursor: default;
}*/

/*.nhs_Tabs*/
#nhs_CommResTabs.nhs_Tabs,
.pro_CRM .nhs_Tabs,
#nhs_BuilderShowcase .nhs_Tabs,
#nhs_CommunityDetails .nhs_Tabs,
.nhs_SavedTabBar .nhs_Tabs,
#nhs_StateIndex .nhs_Tabs,
#mv_Container #nhs_StateIndex .nhs_Tabs {
    float: left;
    width: 800px;
    margin: 10px 0;
    padding: 0 0 0 0;	
    list-style-type: none;
    list-style-image: none;
    font-size: 93%;
    border-bottom: 1px solid #bababa;
    }
/*.nhs_Tabs li*/
#nhs_CommResTabs.nhs_Tabs li,
.pro_CRM .nhs_Tabs li,
#nhs_BuilderShowcase .nhs_Tabs li,
#nhs_CommunityDetails .nhs_Tabs li,
.nhs_SavedTabBar .nhs_Tabs li,
#nhs_StateIndex .nhs_Tabs li,
#mv_Container #nhs_StateIndex .nhs_Tabs li {
    float: left;
    margin: 0 0 -1px 5px;
    padding: 0;	
    display: inline-block;
    }
/*.nhs_Tabs li a*/
#nhs_CommResTabs.nhs_Tabs li a,
.pro_CRM .nhs_Tabs li a,
#nhs_BuilderShowcase .nhs_Tabs li a,
#nhs_CommunityDetails .nhs_Tabs li a,
.nhs_SavedTabBar .nhs_Tabs li a,
#nhs_StateIndex .nhs_Tabs li a,
#mv_Container #nhs_StateIndex .nhs_Tabs li a {
    display: block;
    margin: 0;
    padding: 9px 14px 7px 14px;
    border: 1px solid #bababa;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #bababa !important; 
    }
/*.nhs_Tabs li.nhs_Selected a*/
#nhs_CommResTabs.nhs_Tabs li.nhs_Selected a,
.pro_CRM .nhs_Tabs li.nhs_Selected a,
#nhs_BuilderShowcase .nhs_Tabs li.nhs_Selected a,
#nhs_CommunityDetails .nhs_Tabs li.nhs_Selected a,
.nhs_SavedTabBar .nhs_Tabs li.nhs_Selected a,
#nhs_StateIndex .nhs_Tabs li.nhs_Selected a,
#mv_Container #nhs_StateIndex .nhs_Tabs li.nhs_Selected a {
    border-bottom: 1px solid #fff; 
    background-color: #fff !important;
    color: #4d4d4d;
    cursor: default;
    }
/*.nhs_Tabs li.nhs_Selected a:hover*/
#nhs_CommResTabs.nhs_Tabs li.nhs_Selected a:hover,
.pro_CRM .nhs_Tabs li.nhs_Selected a:hover,
#nhs_BuilderShowcase .nhs_Tabs li.nhs_Selected a:hover,
#nhs_CommunityDetails .nhs_Tabs li.nhs_Selected a:hover,
.nhs_SavedTabBar .nhs_Tabs li.nhs_Selected a:hover,
#nhs_StateIndex .nhs_Tabs li.nhs_Selected a:hover,
#mv_Container #nhs_StateIndex .nhs_Tabs li.nhs_Selected a:hover {	
    cursor: default;
    }
#nhs_CommResTabs.nhs_Tabs li a:hover,
.pro_CRM .nhs_Tabs li a:hover,
#nhs_BuilderShowcase .nhs_Tabs li a:hover,
#nhs_CommunityDetails .nhs_Tabs li a:hover,
.nhs_SavedTabBar .nhs_Tabs li a:hover,
#nhs_StateIndex .nhs_Tabs li a:hover,
#mv_Container #nhs_StateIndex .nhs_Tabs li a:hover {	
    background-color: #fff !important;
    color: #4d4d4d;
    text-decoration: none;
    }    
/*.nhs_Tabs a:link,
.nhs_Tabs a:visited,
.nhs_Tabs a:active,
#nhs_PartnerContainer .nhs_Tabs a:link,
#nhs_PartnerContainer .nhs_Tabs a:visited,
#nhs_PartnerContainer .nhs_Tabs a:active {
    color: #235e97;
    } */
#hotDealsTab a,
#nhs_PartnerContainer #hotDealsTab a {
    display: inline-block;
    background-image: url(/globalresourcesmvc/default/images/icons/hot_homes.png);
    background-repeat: no-repeat;
    background-position: 10px 45%;
    padding: 9px 14px 7px 30px !important;
    }
#quickMoveInTab a,
#nhs_PartnerContainer #quickMoveInTab a {
    display: inline-block;
    background-image: url(/globalresourcesmvc/default/images/icons/quick_move_in.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 9px 14px 7px 36px !important;
    }
.nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
.nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a {
    background-color: #f2f2f2 !important;
    border-color: #ddd;
    color: #bbb;
    cursor: default;	
    }
.nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a {
    background-image: url(/globalresourcesmvc/default/images/icons/hot_homes_off.png);
    }
.nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a {
    background-image: url(/globalresourcesmvc/default/images/icons/quick_move_in_off.png);
    }
.nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a:hover,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a:hover,
.nhs_Tabs li.nhs_quickTabDisabled a:hover,
#nhs_PartnerContainer .nhs_Tabs li.nhs_quickTabDisabled a:hover {	
    cursor: default;
    } 

/* end css tabs */

/* Breadcrumb */

#nhs_BreadcrumbArea {
    width: 970px; 
    }
/*.nhs_Breadcrumb {
    float: left;
    clear: both;
    border: 0px solid #E1E1E1;
    display: block;
    margin: 0 -170px 0 0;
    padding: 0 0 0 0;
    font-size: 85%;
    color: #000;
    background: url(/globalresourcesmvc/default/images/backgrounds/breadcrumb_bg.png) repeat-y right top transparent;
    }
.nhs_Breadcrumb p {
    float: left;
    margin: 0;
    padding: 2px 18px 1px 5px !important;
    height: 25px;
    font-size: 10px;
    line-height: 1.1 !important;
    background: url(/globalresourcesmvc/default/images/backgrounds/breadcrumb_arrow_bg.png) no-repeat right top transparent;
    }
.nhs_Breadcrumb a, .nhs_Breadcrumb a:link, .nhs_Breadcrumb a:visited, .nhs_Breadcrumb a:active {
    text-decoration:none; font-size: 11px; font-weight: bold;
    }
.nhs_Breadcrumb a:hover {
    text-decoration:underline;
    }
.nhs_Breadcrumb strong {font-size: 11px; color: #000;}
.nhs_Breadcrumb ol {
    margin: 0;
    padding: 0 0 0 0;
    list-style-type: none;
    list-style-image: none;
    display: inline;
    }
.nhs_Breadcrumb ol li {
    float: left;
    margin: 0;
    padding: 2px 18px 1px 5px;
    display: inline;
    height: 25px;
    font-size: 10px;
    line-height: 1.1;
    list-style-type: none;
    list-style-image: none;
    background: url(/globalresourcesmvc/default/images/backgrounds/breadcrumb_arrow_bg.png) no-repeat right top transparent;
    }
.nhs_Breadcrumb ol li.nhs_noBg {
    background: none;
    } */
    
/*======== BREADCRUMBS =========*/
#nhs_Crumbs {
	width: 100%; /*944/960*/
	max-width: 960px;
	margin: 0 auto 10px auto;
	padding: 4px 0; /*8/960*/
	background: #dfe1df;
	background: #fff;
	font-size: 12px;
	font-size: 0.75rem;
}
#nhs_Crumbs nav > ol {	
	margin: 0;
	padding: 0 0.8333333333333333%;
	padding: 0;
	list-style: none;
}
#nhs_Crumbs nav > ol li {	
	display: inline-block;
}
#nhs_Crumbs nav > ol li a {
	/*color: #a9abac;*/
}
#nhs_Crumbs nav > ol li strong {
	font-weight: normal;
	/*color: #5f636a;*/
}
#nhs_Crumbs nav > ol li:before {	
	content: ">";
    margin-left: 3px;
    margin-right: 3px;
	/*color: #a9abac;*/
}
#nhs_Crumbs nav > ol li:first-child:before {
	content: none;
}    

/* end Breadcrumb */

/*#nhs_Loading,
.nhs_Loading {
    display: none;
    position: fixed; 
    top: 220px; 
    left: 50%; 
    margin-left: -145px;
    padding: 35px 55px; 
    z-index: 100000000;
    border: 2px solid #143E8C;
    background: #fff;
    border-radius: 4px; 
    }   
#nhs_Loading p,
.nhs_Loading p {
    float: left;
    margin: 0 5px 0 5px;
    padding: 0;
    font-size: 131%;
    font-weight: bold;
    color: #333;
    text-align: center;
    }*/

/* =Ads */
#nhs_AdColumn {
    float: right;
    width: 160px;
    margin: 5px 0 5px 0;
    padding: 0;
    border: 0px solid;
    position: relative;
    }
    
#nhs_AdColumn > div {
	display: block;
	margin: 0;
	position: static;
	z-index: 99999;
	}
#nhs_AdColumn > div.fixed {
	position: fixed;
	top: 0;	
	z-index: 9999;
	background: transparent;
	}
#nhs_AdColumn > div.fixedBottom {
	position: fixed;
	bottom: 0;	
	z-index: 9999;
	background: transparent;
	}	
#nhs_AdColumn > div.absolute {
	position: absolute;
	z-index: 9999;
	background: transparent;
	}    
    
.nhsAdCenterBlock {
    width: 800px; 
    margin: 10px 0;
    text-align: center;
    }
.nhsAdBorder {
    border: 1px solid #7f7f7f;
    }
#nhsAdTop .nhsAdBorder {
    border: 0;
    }
.nhsAdRight2 {
    width: 160px;
    margin: 0 0 5px 0;
    }
.nhsAdRight3 {
    width: 160px;
    margin: 0;
    }
.nhsAdBottom {
    width: 125px;
    }
    
/* =Text ad */
#nhsAdText {
    clear: both;
    width: 940px;
    margin: 0 5px 5px 5px;
    padding: 0;
    text-align: left;
    }
#nhsAdText p {
    margin-left: 4px;
    }

.nhs_CommDetailPartnerAds,
.nhs_PartnerAds {
    clear: both;
    width: 970px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    }
.nhs_PartnerAds {
    width: 800px;
    }
    
/* Static Overlay */  

.image_overlay_close {
	background:url(/GlobalResourcesMvc/Default/images/buttons/modal_close_x.png) no-repeat left top;
	margin-top:16px;
	margin-right:10px;
	float:right;
	width:16px;
	height:16px;
	display:block;
    }
.image_overlay_innerdiv {
	border: 1px solid gray; 
	width:95%; 
	height:90%; 
	margin-left:14px; 
	margin-top:14px;
    }
.image_overlay {	
	/* must be initially hidden */
	display:none;	
	/* place overlay on top of other elements */
	z-index:10000;	
	/* styling */
	/*background-color:#333;	*/
	background-color:white;	
	position:absolute;
	left:320px;
	top:140px;
	width:600px;	
	height:600px;
	/*border:2px solid #666;	*/
	border:1px solid black;
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
    }
  .image_overlay .stclose {
	background-image:url(/GlobalResourcesMvc/Default/images/overlays/stclose.png);	
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
    }
.static_overlay {	
	/* must be initially hidden */
	display:none;	
	/* place overlay on top of other elements */
	z-index:10000;	
	/* styling */
	background-color:#333;	
	position:absolute;
	left:300px;
	top:80px;
	width:675px;	
	height:270px;
	border:2px solid #666;	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
    }
.nhs_stNumber_Over {
	position:absolute;
	top:7px;
	left:12px;
	color:Red;
	font-size:12px;
    }
.nover {	
	color:White;
	font-size:20px;
    }
.nhs_stNumber_Out {
	position:absolute;
	top:7px;
	left:12px;
	color:White;
	font-size:20px;
    }
.nhs_Overlay {
	border: 1px solid red;
	margin: 2px;
    }
.nhs_Overlay_Over {
	background-color:Yellow;
	cursor:pointer;
    }
.nhs_Overlay_Out {
	background-color:White;
    }
/* close button positioned on upper right corner */
.static_overlay .stclose {
	background-image:url(/GlobalResourcesMvc/Default/images/overlays/stclose.png);	
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
    }
.fullImageClass {	
	font-size:11px;
	color:#fff;
	width:100%;			
	height:100%;
	overflow:hidden;
	}	
.fullImageClass img {	
	position:relative;
	}	
.staticInfo {
	padding-top:10px;
	padding-left:10px;
	font-size:11px;
	color:#fff;
	width:650px;		
	}	
.staticInfo .stscroll {
	border: gray outset;
	overflow:scroll;
	height:150px;
	}	
.staticInfo .stscroll  ul{
	margin-top:5px;
	}	
.staticInfo h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
	padding-bottom:25px;
	}
	    
.nhs_BuilderListingLink {
	float: right;
	text-align: center;
	margin: 0 0 -22px 0;
	padding: 0;
	}   

/*#nhs_AdTop,	
#nhs_Header,
#nhs_Header > nav > ul > li > div > div,
#nhs_Header > nav > ul > li > div > div > div,	
#nhs_Page, 
#nhs_SocialFooter,
#nhs_Footer {
    width: 100% !important;
    min-width: 991px;
}*/	

#nhs_eBookHeader,
#nhs_Header,
#nhs_Header > nav > ul > li > div,
#nhs_Header > nav > ul > li > div > div,
#nhs_AdTop,
#nhs_SocialFooter,
#nhs_Footer {
    width: 100% !important;
    min-width: 991px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#nhs_HeaderLogo {
    width: 32% !important;
    margin-top: 0 !important;
    margin-left: 10px;
}
#nhs_Header > nav > ul > li > div {
    right: auto;
    left: 0;    
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div {
    min-width: 0 !important;
    width: 423px !important;
    right: -10px !important;
    left: auto;    
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div.nhs_HasAccount {
    width: 104px !important;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div {
    min-width: 0 !important;
    width: auto !important;    
}
#nhs_Header,
#nhs_Header > nav > ul > li > div > div > div,
#nhs_Footer > div,
#nhs_eBookHeader > div {
    width: 960px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;   
}  
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div {
    width: 161px !important; 
    padding: 28px 20px 28px 115px !important; 
}
#nhs_Page {
    min-width: 971px;    
}
/*#nhs_Header > nav > ul > li > div > div > div,
#nhs_Footer > div {
    width: 960px !important;    
}*/

#BasicCommunityMediaMap {
    width: 460px;
    padding: 0;
    margin: 0;
    float: left;
}

#nhs_AccessDenied h2 {
    color: #ff1c00;
    font-weight: 700;
    font-size: 1.8em;
}
