﻿/* ---------------------------------------------
Title:      Default MVC Button Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:    Jun 23 2015
----------------------------------------------- */

.btn, 
#nhs_PartnerContainer .btn {
    height: 17px;
    margin: 0;
    padding: 17px 0 0 0;
    border: 0;
    overflow: hidden;
    cursor: pointer;
}

a.btn, 
a.btn:hover, 
#nhs_PartnerContainer a.btn, 
#nhs_PartnerContainer a.btn:hover {
    display: block;
    height: 0 !important;
}

.btn_FreeBrochureFake, 
#nhs_PartnerContainer .btn_FreeBrochureFake {
    background: url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
    width: 178px;
    height: 38px;
    padding: 38px 0 0 0;
    margin-left: 21.5%;
    cursor: default;
}

.btn_FreeBrochure {
    background: url(/globalresourcesmvc/default/images/buttons/free_brochure.png) no-repeat left top;
    width: 178px;
    height: 38px;
    padding: 38px 0 0 0;
    margin-left: 21.5%;
}

.btn_Loading, 
#nhs_PartnerContainer .btn_Loading {
    background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50% !important;
    padding: 30px 0 0 0 !important;
    height: 30px !important;
    margin-left: 0;
    cursor: default !important;
    border: 0;
}

.nhs_Step2 .btn_FreeBrochure, 
#nhs_PartnerContainer .nhs_Step2 .btn_FreeBrochure {
    margin-left: 0;
    margin-bottom: 16px;
    display: inline-block !important;
}

.nhs_DetailBrochureLink .btn_FreeBrochure,
#nhs_PartnerContainer .nhs_DetailBrochureLink .btn_FreeBrochure {
    margin: 0;
}

.btn_ViewBrochure,
#nhs_PartnerContainer .btn_ViewBrochure,
a.btn_ViewBrochure,
#nhs_PartnerContainer a.btn_ViewBrochure {
    width: 128px;
    float: right;
    background: #9ecf7c;
    text-decoration: none !important;
}

.nhs_DetailsFormContent .btn_ViewBrochure,
#nhs_PartnerContainer .nhs_DetailsFormContent .btn_ViewBrochure {
    float: none;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 10px auto;
    line-height: 18px;
}

.btn_ListYourHomes,
#nhs_PartnerContainer .btn_ListYourHomes,
#nhs_PartnerContainer .btn_ListYourHomes {
    background: transparent url(/globalresourcesmvc/default/images/buttons/list_with_us.png) no-repeat center top;
    width: 302px;
    padding: 52px 0 0 0;
}

.btn_Finish, #nhs_PartnerContainer .btn_Finish {
    background: url(/globalresourcesmvc/default/images/buttons/finish.png) no-repeat left top;
    width: 90px;
    height: 38px;
    padding: 38px 0 0 0;
}

input.btn_NhsMapSend,
a.btn_NhsMapSend,
#nhs_PartnerContainer a.btn_NhsMapSend,
.btn_MapShowRoute,
#nhs_PartnerContainer .btn_MapShowRoute {
    background: #0091da;
    color: #fff !important;
}

.btn_RequestAppointment,
a.btn_RequestAppointment {
    background: #0091da;
    color: #fff !important;
    width: 180px;
    padding: 8px !important;
    margin-left: 20px;
}

.nhs_WiderFunnelA a.btn_RequestAppointment {
    background: #00507b;
}

.btn_UpdateResults {
    display: inline-block !important;
    width: 80px;
    height: 15px;
    padding: 15px 0 0 0;
    background: transparent url(/globalresourcesmvc/default/images/buttons/update_results.png) no-repeat center top;
    vertical-align: bottom;
}

.btn_GetMyFreeBrochures, 
#nhs_PartnerContainer .btn_GetMyFreeBrochures {
    width: 206px;
    height: 38px;
    padding: 38px 0 0 0;
    background: url(/globalresourcesmvc/default/images/buttons/get_my_free_brochures.png) no-repeat center top;
    margin-top: 8px;
}

.btn_GetMyFreeBrochuresFake, 
#nhs_PartnerContainer .btn_GetMyFreeBrochuresFake {
    width: 206px;
    height: 38px;
    padding: 38px 0 0 0;
    margin-top: 8px;
}

.nhs_LeadFormButtons .signIn, 
#nhs_PartnerContainer .nhs_LeadFormButtons .signIn {
    background: url(/globalresourcesmvc/default/images/buttons/lead_form_btn.png) no-repeat left top;
    width: 65px;
    height: 22px;
    padding: 22px 0 0 0;
}

.nhs_LeadFormButtons .createAccount, 
#nhs_PartnerContainer .nhs_LeadFormButtons .createAccount {
    background: url(/globalresourcesmvc/default/images/buttons/lead_form_btn.png) no-repeat -130px top;
    width: 110px;
    height: 22px;
    padding: 22px 0 0 0;
}

.nhs_LeadFormButtons .cancel, 
#nhs_PartnerContainer .nhs_LeadFormButtons .cancel {
    background: url(/globalresourcesmvc/default/images/buttons/lead_form_btn.png) no-repeat -65px top;
    width: 65px;
    height: 22px;
    padding: 22px 0 0 0;
}

.btn_Submit,
#nhs_PartnerContainer .btn_Submit,
.nhs_ModalBox .btn_Submit {
    float: right;
    margin: 2px 0 10px 15px;
}

.btn_CloseMe,
#nhs_PartnerContainer .btn_CloseMe {
    padding: 5px;
}

.btn_Search,
#nhs_PartnerContainer .btn_Search {
    height: 29px;
    padding-top: 29px;
    width: 66px;
    background: url(/globalresourcesmvc/default/images/buttons/search.png) no-repeat center top;
}

.btn_AddMeToList,
#nhs_PartnerContainer .btn_AddMeToList,
#hwnhl_SectionMain .btn.btn_AddMeToList {
    width: 179px;
    height: 38px;
    padding: 38px 0 0 0;
    background: url(/globalresourcesmvc/default/images/buttons/add_me_to_list.png) no-repeat center top;
    background-position: center top !important;
    margin-left: 108px;
    border: 0;
}

.btnFindHomes, 
#nhsPartnerContainer .btnFindHomes {
    background: url(/globalresourcesmvc/default/images/buttons/find_homes.png) no-repeat scroll center top transparent;
    height: 38px;
    margin-left: 108px;
    padding-top: 38px;
    width: 129px;
}

/* .btnCss, 
a.btnCss {
    display: inline-block;
    padding: 5px 14px;
    color: #641 !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none !important;
    text-shadow: 1px 0 3px #fff;
    border: 1px solid #F6BE68;
    border-radius: 4px;
    
    background: #ffd00f;
    background: -moz-linear-gradient(top, #fef2a3 0%, #ffcc00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef2a3), color-stop(100%,#ffcc00));
    background: -webkit-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: -o-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: -ms-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: linear-gradient(to bottom, #fef2a3 0%,#ffcc00 100%);
    } 
    
.btn_FreeBrochureAlt, a.btn_FreeBrochureAlt, #nhs_PartnerContainer .btn_FreeBrochureAlt, 
.btn_GetMoreInfo, a.btn_GetMoreInfo, #nhs_PartnerContainer .btn_GetMoreInfo {
	float: right;
	font-size: 13px;
	margin-top: 4px;
	color: #24619e !important;
    }  */
.btn_GetMyBrochure, 
#nhs_PartnerContainer .btn_GetMyBrochure {
    font-size: 13px;
    margin-top: 4px;
}

.btn_GetFreeBrochures, 
#nhs_PartnerContainer .btn_GetFreeBrochures {
    margin-top: 8px;
}

.btn_SignIn, 
#nhs_PartnerContainer .btn_SignIn {
    font-size: 13px;
}
/*
.btn_GetMyPassword, 
#nhs_PartnerContainer .btn_GetMyPassword {
    float: right;
}*/

.btn_FindDeals, 
#nhs_PartnerContainer .btn_FindDeals {
    margin-left: 141px;
}

.btn_Unsubscribe, 
#nhs_PartnerContainer .btn_Unsubscribe {
    float: right;
    line-height: 15px;
}

.btn_SeeCustomListings,
a.btn_SeeCustomListings,
a.btn_SeeCustomListings:hover {
    float: left;
    font-size: 13px;
    margin-top: 18px;
    color: #24619e;
}

.btn_VisitCnh,
a.btn_VisitCnh,
a.btn_VisitCnh:hover,
#nhs_PartnerContainer .btn_VisitCnh,
#nhs_PartnerContainer a.btn_VisitCnh,
#nhs_PartnerContainer a.btn_VisitCnh:hover {
    float: right;
    display: block;
    width: 215px;
    height: 0;
    overflow: hidden;
    padding: 28px 0 0 0;
    background: url(/globalresourcesmvc/default/images/buttons/visit_cnh.png) no-repeat left top;
}
