﻿/* ---------------------------------------------
Title:      Default MVC Account Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Jun 22 2015
----------------------------------------------- */

#nhs_ModalContainer {
    border: 0 solid;
    font-size: 13px;
    margin: 0 10px 10px 10px;
}

/* Login & Recover Password */

#nhs_ModalContainer h2 {
    font-size: 18px;
    color: #4b4b4b;
    margin: 0 0 10px 0;
    padding: 0 0 3px 0;
}

#nhs_ModalContainer h3 {
    font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #4b4b4b;
    padding: 10px 0;
}

#nhs_ModalContainer h3 > span {
    margin-left: 25px;
}

#nhs_ModalContainer p {
    padding: 2px 0;
}

#nhs_ModalContainer .nhs_Legal {
    float: left;
    margin: 12px 0;
    clear: both;
}

#nhs_RecoverPassword h2,
#nhs_Unsubscribe h2 {
    font-size: 125%;
    margin: 0.65em 0;
}

#nhs_RecoverPassword p,
#nhs_Unsubscribe p {
    margin: 0.25em 0;
}

.nhs_AccountPageLeft {
    float: left;
}

.nhs_AccountPageRight {
    float: left;
    width: 390px;
    padding-left: 10px;
}

#nhs_UnsubForm {
    text-align: right;
    clear: both;
    float: left;
    width: 360px;
}

#nhs_UnsubForm fieldset {
    padding: 14px 0;
}

#nhs_RegisterForm label,
#nhs_UnsubForm label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 120px;
}
#nhs_RegisterBrokerInfo label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 180px;
}

#nhs_UnsubForm input[type="text"] {
    width: 210px;
}
#nhs_RegisterBrokerInfo input[type="text"] {
    width: 132px;
}

/* Send to Phone Modal */

.nhs_SendToPhoneModal .nhs_Instructions {
    margin-bottom: 10px;
    color: #4b4b4b;
}

.nhs_SendToPhoneModal .validation-summary-errors ul {
    margin-left: 15px;
}

.nhs_SendToPhoneModal p {
    margin: 10px 0;
}

.nhs_SendToPhoneModal label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    padding-bottom: 3px;
}

.nhs_SendToPhoneModal select,
.nhs_SendToPhoneModal input[type="text"] {
    display: inline-block;
    width: 92%;
    padding: 2%;
}

.nhs_SendToPhoneModal select {
    width: 98%;
}

.nhs_SendToPhoneModal #nhs_Send {
    width: 60px;
    font-weight: bold;
    color: #fff !important;
    background: #0091da;
    border: 0;
}

.nhs_SendToPhoneModal .nhs_LegalText {
    clear: both;
    color: #7d7d7d;
    font-style: italic;
}

/* Register Modal */

#nhs_RegisterForm {
    padding-top: 10px;
}

#nhs_RegisterLeft,
.nhs_ModalLeft {
    float: left;
    width: 335px;
    border: 0px solid;
    text-align: left;
}

#nhs_RegisterRight,
.nhs_ModalRight {
    float: right;
    width: 340px;
    padding-left: 5px;
    border: 0px solid;
}

#nhs_RegisterForm div {
    padding: 3px 0;
}

#nhs_RegisterForm input[type="text"],
#nhs_RegisterForm input[type="password"] {
    width: 135px;
}

#nhs_RegisterEmail input[type="text"] {
    width: 175px;
}

#nhs_RegisterForm label {
    width: 140px;
}

#nhs_RegisterForm .nhs_LiveOutsideLabel {
    font-weight: normal;
}

#nhs_RegisterForm #ZipCodeReg {
    width: 85px;
}

#nhs_RegisterForm #ZipCodeReg.nhs_Disabled {
    background-image: none;
    background: #eee;
} 

#nhs_RegisterPassive {
    float: left;
    width: 300px;
    margin: 0;
    padding: 10px;
    text-align: center;
    background: #eee;
}

#nhs_RegisterPassive {
    display: none;
    text-align: left;
}

#nhs_ModalContainer .nhs_RegisterPassiveButtons {
    font-size: 77%;
    padding-left: 123px;
}

.nhs_RegisterPassiveButtons .btn {
    float: left;
}

.nhs_RegisterPassiveButtons a {
    float: right;
    text-align: left;
    width: 88px;
}

#nhs_RegisterPassive label {
    display: inline-block;
    width: 110px;
    text-align: right;
    font-weight: bold;
}

#nhs_RegisterBrokerInfo {
    padding: 24px 0 6px 0;
}

#nhs_RegisterNewsOffers {
    padding: 14px 0;
}

#nhs_RegisterNewsOffers label {
    display: inline-block;
    width: 280px;
}

#nhs_RegisterNewsOffers input[type="checkbox"] {
    vertical-align: top;
} 

#nhs_ModalHeaderLeft,
#nhs_RequestInfoLeft {
    float: left;
    width: 335px;
    border: 0 solid;
    text-align: left;
}

#nhs_ModalHeaderLeft ul {
    color: #24619E;
    font-size: 100%;
    list-style-image: none;
    list-style-type: disc;
    margin-left: 15px;
    padding-left: 0;
}

#nhs_ModalHeaderLeft img {
    float: left;
    width: 150px;
}

#nhs_ModalHeaderLeft > div {
    float: right;
    width: 180px;
}

#nhs_ModalHeaderLeft > div#nhs_ModalLoggedBullets {
    float: left;
    width: 90%;
    padding: 0 0 10px 0;
} 

.nhs_RequestInfoOptional {
    margin-left: 75px;
    font-size: 11px;
    font-style: italic;
}

#nhs_RequestInfoBoylAdult {
    display: none;
    padding: 12px 0 3px 0;
}

#nhs_RequestInfoBoylAdult p {
    margin-left: 55px;
}

#nhs_RequestInfoBoylAdult label {
    width: 250px;
    text-align: left;
} 

#nhs_ModalHeaderRight,
#nhs_RequestInfoRight {
    float: left;
    width: 320px;
    padding-left: 20px;
    border: 0 solid;
}

#nhs_RequestInfoRight #Comments {
    height: 65px;
    margin: 5px 0 0;
    padding: 0;
    width: 315px;
} 

#nhs_ModalContainer.nhs_Register {
    width: 700px;
    margin: 0 auto;
}

.nhs_RegisterOnPage {
    width: 724px;
    min-height: 360px;
    margin-left: 135px;
} 

/* Register Search Alert */
.nhs_RegAddAlert {
    float: left;
}

.nhs_RegAddAlert h3 {
    margin-top: 0;
}

.nhs_RegAddAlert input {
    display: inline-block;
}

.nhs_RegAlertMoreOptions {
    float: left;
    width: 670px;
    background: #f4f3e7;
    margin: 5px 0 8px 10px;
    padding: 4px 0;
}

.nhs_RegAlertMoreOptions label {
    display: inline-block;
    font-weight: bold;
    margin: 0 2px 0 0;
    text-align: right;
    width: 94px;
}

.nhs_RegAlertMoreOptions .nhs_AlertName label {
    float: none;
    width: 300px;
    text-align: left;
}

.nhs_RegAlertMoreOptions .nhs_AlertName input {
    width: 300px;
}

.nhs_RegAlertMoreOptions input {
    width: 75px;
}

.nhs_RegAlertMoreOptions .nhs_ModalRight {
    width: 310px;
}

#nhs_ModalContainer .nhs_ModalLeft .nhs_Legal,
.nhs_RegFinishSkip {
    margin-top: 12px;
}

/* Thanks 

#nhs_ReqThanksCol1 {
    float: left;
    margin: 10px 15px 0 10px;
    padding: 0;
    width: 230px;
}

#nhs_ReqThanksCol1 p {
    font-size: 93%;
}

.nhs_ReqThanksCol2 {
    float: left;
    width: 400px;
    margin: 10px 0;
    padding: 0 10px 10px 10px;
    border: 1px solid #555;
    background-color: #d4e5ff;
}

.nhs_ReqThanksRecommendTitle h4 {
    float: left;
    width: 300px;
    margin: 3px 0;
    font-size: 108%;
}

.nhs_ReqThanksRecommendTitle img {
    float: right;
    margin: 6px 0 3px 0;
    padding: 5px;
    background: #fff;
}
    
.nhs_ReqThanksCol2 .nhs_ReqBrochureItem {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    width: 125px;
    overflow: hidden;
}

.nhs_ReqBrochureItem p {
    font-size: 93%;
}

.nhs_ReqThanksCol2 .nhs_ReqBrochureItem img {
    display: block;
    width: 120px;
    height: 80px;
    background: #ccc;
} */

/* SEARCH ALERT */

#nhs_ModalContainer .nhs_AlertLocationBox p,
#nhs_ModalContainer .nhs_ChatLeadGenerationBox p,
#nhs_ModalContainer .nhs_AlertOptionsBox p {
    padding: 4px 0;
}

.nhs_AlertLocationBox {
    float: left;
    margin: 0 0 0 5px;
    width: 332px;
}

.nhs_ChatLeadGenerationBox {
    float: left;
    margin: 0 0 0 5px;
    width: 387px;
}

.nhs_ChatLeadGenerationBox input[type="text"] {
    width: 196px;
}

.nhs_ChatLeadGenerationBox select,
.nhs_AlertLocationBox select {
    width: 200px;
}

#nhs_ModalContainer .nhs_AlertLocationBox .nhs_AlertChooseCity {
    background: url(/globalresources/default/images/num_1.gif) no-repeat scroll 0 0 transparent;
    color: #3679AC;
    font-size: 120%;
    font-weight: bold;
    padding: 2px 0 4px 30px;
}

.nhs_AlertOptionsBox {
    padding: 4px 0;
    width: 337px;
    float: left;
}

.nhs_ChatLeadGenerationBox label {
    display: inline-block;
    width: 140px;
    margin: 0 4px 0 0;
    text-align: right;
    line-height: 1.5;
    font-weight: bold;
}

.nhs_AlertLocationBox label,
.nhs_AlertOptionsBox label,
.nhs_AlertMoreOptions span {
    display: inline-block;
    width: 100px;
    margin: 0 4px 0 0;
    text-align: right;
    line-height: 1.5;
    font-weight: bold;
}

#nhs_ModalContainer .nhs_AlertOptionsBox .nhs_AlertChoosePrice {
    background: url(/globalresources/default/images/num_2.gif) no-repeat;
    color: #3679AC;
    font-size: 120%;
    font-weight: bold;
    padding: 2px 0 4px 30px;
}

.nhs_AlertSubmit {
    float: right;
    margin-top: 8px;
    width: 337px;
}

.nhs_AlertMoreOptions {
    width: 337px;
    background: #f4f3e7;
    padding: 4px 0;
    font-size: 93%;
}

.nhs_CLGMoreOptions {
    width: 400px;
    background: #f4f3e7;
    padding: 4px 0;
    font-size: 93%;
}

.nhs_AlertMoreOptions .nhs_AlertSelect {
    width: 225px;
}

.nhs_AlertMoreOptions .nhs_AlertMoreChecks label {
    float: none;
    display: inline;
    font-size: 11px;
    font-weight: normal;
}

.nhs_AlertMoreOptions #Condo {
    margin-left: 107px;
}

.nhs_AlertMoreOptions select {
    font-size: 12px;
}

.nhs_AlertOptionsBox .nhs_AlertName label {
    float: none;
    display: inline;
    text-align: left;
}

.nhs_AlertOptionsBox .nhs_AlertName input {
    width: 300px;
}

.nhsAlertLegalSubmit {
    clear: both;
    float: left;
    width: 668px;
}

.nhs_AlertOptionsBox select {
    width: 150px;
}

.nhs_AlertSubmit {
    float: right;
    width: 337px;
    margin-top: 8px;
}

.fb_horizontal_yellow {
    float: left;
    width: 160px;
    margin: 0 0 5px 70px;
}

/***** FACEBOOK *****/
.fb_icon {
    width: 16px;
    height: 14px;
    position: relative;
    top: 1px;
    margin-left: 2px;
    padding: 0;
    border: 0;
    vertical-align: top;
}

.nhs_fb_ModalWrapper {
    float: left;
    clear: left;
    width: 600px;
    margin: 12px 0 10px 0;
}

.nhs_fb_ModalWrapper .ft_btn {
    width: auto;
    float: right;
    display: inline;
    margin: 25px 40px 0 0 !important;
}

.nhs_fb_ModalWrapper .ft_signin {
    float: right;
    display: inline;
    margin: 8px 20px 0 0;
}

.fb_horizontal_yellow {
    float: left;
    width: 160px;
    margin: 0 0 5px 70px;
}

#nhs_RegisterPassive .fb_iframe_widget {
    display: block;
}

.fb_btn {
    margin-left: 70px;
    float: left;
}

.nhs_Or,
.nhs_OrHorizontal {
    display: table;
    float: right;
    width: 13px;
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
}

.nhs_Or span,
.nhs_OrHorizontal span {
    padding: 3px 0;
    background: #fff;
    position: relative;
    z-index: 9;
}

.nhs_OrHorizontal span {
    padding: 0 3px;
    background: #eee;
}

.nhs_Or:after {
    content: '';
    border-right: 1px solid #bababa;
    height: 140px;
    position: absolute;
    left: 7px;
}

.nhs_OrHorizontal:after {
    content: '';
    border-top: 1px solid #bababa;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 4px;
    left: 0;
}

.nhs_OrHorizontal {
    float: left;
    width: 100%;
    text-align: center;
    height: 7px;
    line-height: 7px;
    margin: 10px 0;
}

/***** end FACEBOOK *****/

/* SAVED HOMES TABS */
.nhs_SavedHeader h2 {
    float: left;
}

.nhs_SavedHeader h2 span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: #d92632;
    padding: 5px;
    display: none;
}

.nhs_SavedHeader > p {
    float: right;
    padding-top: 5px;
}

.nhs_SavedTabBar {
    position: relative;
}

.nhs_SavedTabBar .nhs_Tabs {
    width: 970px;
}

.nhs_SavedTabBar > div > p {
    position: absolute;
    top: 18px;
    left: 40%;
}

/* =Saved Alerts */
.nhs_SavedAlertsMenu {
    float: left;
    width: 190px;
    text-align: right;
    line-height: 1.2;
}

.nhs_SearchAlertsText {
    text-align: left;
    margin-bottom: 12px;
}

.nhs_SavedAlertsMenu ul {
    list-style: none;
    line-height: 16px;
    padding: 0;
}

.nhs_SavedAlertsMenu ul li {
    margin-bottom: 8px;
}

.nhs_SavedAlertsMenu a {
    display: inline-block;
    padding-right: 10px;
}

.nhs_SavedAlertsMenu .nhs_AlertOn {
    padding-right: 10px;
    font-weight: bold;
    color: #4b4b4b;
    background: url(/globalresources/default/images/blue_arrow.gif) no-repeat right 50%;
    text-decoration: none;
    cursor: default;
}

#nhs_SavedAlertsContent {
    float: right;
    width: 760px;
    padding-top: 18px;
}

.nhs_SavedAlertsInfo {
    padding-bottom: 8px;
}

.nhs_SavedAlertsInfo h3 {
    font-family: "Avenir LT W01 85 Heavy",Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #4b4b4b;
}

.nhs_SavedAlertsInfo h3 a {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.nhs_SavedAlertsInfo p {
    margin: 2px 0;
}

.nhsAlertMoreOff {
    padding: 0 10px 0 0;
    background: url(/globalresources/default/images/blue_arrow.gif) no-repeat right 50%;
}

.nhsAlertMoreOn {
    padding: 0 10px 0 0;
    background: url(/globalresources/default/images/blue_arrow_down.gif) no-repeat right 50%;
}

.nhs_SavedRemoveLink {
    width: 96%;
    margin: 0;
    padding: 10px 2% 0 2%;
    padding-bottom: 10px;
}

.nhs_SavedRemoveLink a {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
}

.nhs_CRM_FavoritesHead {
    background: #eee;
    color: #7d7d7d;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 2%;
    clear: both;
}

.nhs_TabSaved {
    float: left;
    width: 600px;
}

.nhs_TabsRemove {
    float: right;
    display: block;
}

.nhs_CommResultsRow,
.nhs_HomeResultsRow {
    float: left;
    width: 100%;
    border-bottom: 1px solid #bababa;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.2;
}

.nhs_CommResultsRow p,
.nhs_HomeResultsRow p {
    margin: 2px 0;
}

.nhs_HomeResultsRow .nhs_ResultsThumbBox,
.nhs_CommResultsRow .nhs_ResultsThumbBox {
    float: left;
    width: 75px;
    height: 58px;
    margin: 0 5px;
    border: 1px solid #eee;
    overflow: hidden;
}

.nhs_HomeResultsRow .nhs_HomeResultsInfo,
.nhs_CommResultsRow .nhs_CommResultsInfo {
    float: left;
    width: 360px;
    padding: 0 5px;
}

.nhs_HomeResultsRow .nhs_HomeResultsInfo h3,
.nhs_CommResultsRow .nhs_CommResultsInfo h3 {
    font-family: "Avenir LT W01 85 Heavy",Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.1;
}

.nhs_CommResultsRow .nhs_CommResultsInfo2 {
    float: left;
    width: 240px;
    text-align: right;
}

.nhs_HomeResultsRow .nhs_ResultsBrBaGr strong,
.nhs_HomeResultsRow .nhs_ResultsPrice,
.nhs_CommResultsRow .nhs_ResultsPrice {
    font-size: 14px;
    font-weight: bold;
    color: #7d7d7d;
}

.nhs_HomeResultsRow .nhs_CommAvailable,
.nhs_CommResultsRow .nhs_CommAvailable {
    float: left;
    width: 200px;
    padding: 15px 0 0 0;
    text-align: right;
}

.nhs_HomeResultsRow .nhs_ResultsHomeStatus {
    float: left;
    display: inline-block;
    width: 75px;
    text-align: center;
    margin-right: 5px;
    margin-top: 8px;
}

.nhs_HomeResultsRow .nhs_ResultsHomeStatus p {
    color: #4b4b4b;
    font-family: "Avenir LT W01 85 Heavy","Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 5px 3px;
    border: 1px solid #bababa;
}

.nhs_HomeResultsRow .nhs_ResultsActions,
.nhs_CommResultsRow .nhs_ResultsActions {
    float: right;
    width: 300px;
    height: 85px;
    border-left: 1px solid #ccc;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

.nhs_CommResultsRow .nhs_ResultsActions {
    height: 80px;
}

#nhs_SavedAlertsContent .nhs_ResultsActions {
    width: 60px;
    background: none;
    filter: none;
    border: 0;
}

.nhs_HomeResultsRow .btn_FreeBrochure,
.nhs_CommResultsRow .btn_FreeBrochure,
.nhs_HomeResultsRow .btn_ViewBrochure,
.nhs_CommResultsRow .btn_ViewBrochure {
    width: auto !important;
    font-size: 12px !important;
    padding: 8px 10px !important;
}

.nhs_HomeResultsRow .nhs_ResultsActions .btn_FreeBrochure,
.nhs_CommResultsRow .nhs_ResultsActions .btn_FreeBrochure,
.nhs_HomeResultsRow .nhs_ResultsActions .btn_ViewBrochure,
.nhs_CommResultsRow .nhs_ResultsActions .btn_ViewBrochure {
    float: left;
    margin: 25px 0 0 50px;
}

#nhs_SavedAlertsContent .btn_FreeBrochure,
#nhs_SavedAlertsContent .btn_ViewBrochure {
    margin-top: 5px;
}
/*a.btn_ViewBrochure {
    background-color: #0091da; 
    color: #fff !important;
    }*/

.nhs_HomeResultsRow .nhs_ResultsActions input,
.nhs_CommResultsRow .nhs_ResultsActions input,
.nhs_HomeResultsRow .nhs_ResultsActions label,
.nhs_CommResultsRow .nhs_ResultsActions label {
    float: right;
    margin: 25px 20px 0 0;
}

.nhs_TabsRemove input[type=checkbox],
.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox],
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox],
input[type=checkbox].pro_SelectClient {
    display: none;
}

.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox] + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] + input + label,
input[type=checkbox].pro_SelectClient + input + label,
input[type=checkbox].pro_SelectClient + label {
    background: #fff;
    height: 0;
    width: 25px !important;
    display: inline-block;
    padding: 25px 0 0 0;
    overflow: hidden;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
}

.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox]:checked + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox]:checked + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox]:checked + input + label,
input[type=checkbox]:checked.pro_SelectClient + input + label,
input[type=checkbox]:checked.pro_SelectClient + label {
    background: #fff url(/globalresourcesmvc/pro/images/icons/star.png) no-repeat 50% 50%;
    height: 0;
    width: 25px !important;
    display: inline-block;
    padding: 25px 0 0 0;
    overflow: hidden;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
}

.nhs_ResultsCommStatus {
    clear: left;
}

.pro_CRM_BtnGray {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #b2b2b2;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
}

.btn_ComingSoon {
    background: url(/globalresourcesmvc/default/images/icons/icon2_coming_soon.png) no-repeat left top;
    float: left;
    margin: 25px 0 0 50px;
    width: auto !important;
    padding: 8px 10px !important;
    color: transparent !important;
}


/* Chat Lead Gen 
------------------------*/

.nhsChatLeadGeneration {
    width: 100%;
}

#nhsChatLeadGen {
    width: 83% !important;
}

.nhs_CLGQuestions label {
    display: inline-block;
    width: 145px;
    margin: 0 4px 0 0;
    text-align: right;
    line-height: 1.5;
    font-weight: bold;
}

.nhs_CLGQuestions textarea {
    display: inline-block;
    width: 500px;
}

.nhs_CLGMoreOptions .nhs_AlertSelect {
    width: 225px;
}

.nhs_CLGMoreOptions .nhs_AlertMoreChecks label {
    float: none;
    display: inline;
    font-size: 11px;
    font-weight: normal;
}

.nhs_CLGMoreOptions .nhs_AlertMoreChecks span {
    display: inline-block;
    width: 140px;
    margin: 0 4px 0 0;
    text-align: right;
    line-height: 1.5;
    font-weight: bold;
}

.nhs_CLGMoreOptions #Condo {
    margin-left: 147px;
}

.nhs_CLGMoreOptions select {
    font-size: 12px;
}

.nhs_CLGSubmit {
    float: right;
    margin-top: 8px;
    width: 400px;
}

input[type="text"].nhs_ErrorCLG {
    border: 2px solid #ff1c00 !important;
    color: #7d7d7d;
}

textarea.nhs_ErrorCLG {
    border: 2px solid #ff1c00;
    color: #7d7d7d;
    font-weight: normal;
}

select.nhs_ErrorCLG {
    border: 2px solid #ff1c00;
    color: #7d7d7d;
    font-weight: normal;
}
