﻿/* ---------------------------------------------
Title:      Default MVC Results Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Jan 27 2011
----------------------------------------------- */

#nhs_CommResContent {	
	width: 970px;
	margin: 0 auto;
	position: relative;
	}
#nhs_CommResMain {
	float: left;
	width: 970px;
	/*margin-top: 14px;*/
	}
#nhs_CommResData {
	float: left;
	width: 970px;
	}
#nhs_CommResFacetCol {
	float: left;
	width: 160px;
	border: 0px solid;
	position: relative;	
	z-index: 999;
	}	
	
#nhs_ResultsHeader {
	float: left;
	margin: 7px 0 5px 0;
	width: 960px;
	padding-left: 10px;
	}
#nhs_BoylResults #nhs_ResultsHeader {
    width: 800px;
    padding: 10px 0 0 0;
    } 
#nhs_ResultsHeader .title {
    width: 30%; 
    float: left;
	text-transform: uppercase;
	font-size: 77%;
	}	
#nhs_CommResMatches {
	display: inline;
	float: left;
	width: 970px;
	margin: 0;
	padding: 4px 0 6px 0;	
	}	
#nhs_CommResMatches h1,
#nhs_BoylResults #nhs_ResultsHeader h2 {
	float: left;
	font-size: 32px;
	font-weight: normal;
	line-height: 26px;
	margin: 0 12px 0 0;
	padding-bottom: 6px;
	color: #111;
	}
#nhs_CommResMatches p,
#nhs_PartnerContainer #nhs_CommResMatches p,
#nhs_BoylResults #nhs_ResultsHeader p {
	float: left;
	font-size: 108%;
	font-weight: bold;
	padding-top: 10px;
	}
#nhs_ResultsSubHeader {
	float: left;
	width: 958px;
	border: 1px solid #ffe783;
	margin: 0 0 6px -10px;
	padding: 3px 0 2px 10px;
	color: #333;
	font-size: 85%;
	font-weight:bold;
	text-transform: uppercase;
	background: #ffe784 url(/globalresourcesmvc/default/images/backgrounds/promotions_bg.png) repeat-x left bottom;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	}
	
#nhs_Facets {
	float: left;
	width: 160px;
	margin-bottom: 30px;
	border: 0;
	position: relative;
	z-index: 999;
	font-size:13px;
	}	
#nhs_PartnerContainer #nhs_Facets {
	background: #fafafa;
	}
#nhs_FacetsRefine,
#nhs_PartnerContainer #nhs_FacetsRefine {
	font-size: 108%;
	color: #555;
	padding: 4px 0 8px 3px;
	border-top: 2px solid #dfe1df;
	}
.nhs_FacetGroup {
	float: left;
	width: 160px;
	padding-bottom: 8px;
	border-bottom: 2px solid #dfe1df;
	position: relative;
	/*z-index: 99999;*/
	}
.nhs_FacetGroupTitle {
	font-size: 11px;
	font-weight: bold;
	color: #0091da;
	margin: 6px 0 2px 0;
	}
.nhs_FacetGroupTitle strong {
	display: inline-block;
	width: 142px;
	height: 17px;
	margin: 0;
	padding: 3px 15px 0 5px;
	overflow: hidden;
	}
.nhs_FacetGroupTitle span {
	display: inline-block;
	width: 142px;
	height: 17px;
	cursor: pointer;
	margin: 0;
	padding: 3px 15px 0 3px;
	overflow: hidden;
	background: url(/globalresourcesmvc/default/images/icons/facet_arrow_right.png) no-repeat right 50%;
	}
.nhs_FacetGroupTitle span.nhs_Hover {
	display: inline-block;
	width: 142px;
	height: 17px;
	margin: 0;
	padding: 3px 15px 0 3px;
	color: #24619e;
	text-decoration: underline;
	overflow: hidden;
	background: url(/globalresourcesmvc/default/images/icons/facet_arrow_right_on.png) no-repeat right 50%;
	}
.nhs_FacetGroupTitle span.nhs_FacetLinkOpen {
	color: #fff;
	background-color: #73A04B;
	background-image: none;
	text-decoration: none;
	cursor: default;
	}

.nhs_FacetGroup ul {
	margin-left: 10px;
	padding-left: 0;
	list-style-type: none;
	}
.nhs_FacetGroup ul li {
	margin: 0;
	padding: 0 0 0 15px;
	font-size: 85%;
	background: url(/globalresourcesmvc/default/images/icons/facet_checkmark.png) no-repeat left 50% !important;
	display: inline-block;
	}
.nhs_FacetGroup ul li span {
	margin: 0;
	padding: 0 16px 0 0;
	background: url(/globalresourcesmvc/default/images/icons/facet_close_x.png) no-repeat right 50%;
	cursor: pointer;
	}
.nhs_FacetGroup ul li span.nhs_FacetAny {
	background-image: none;
	cursor: default;
	}
.nhs_FacetGroup ul li span.nhs_FacetRemove.nhs_Hover {
	color: #FF2a2a;
	text-decoration: line-through;
	background: url(/globalresourcesmvc/default/images/icons/facet_close_x_on.png) no-repeat right 50%;
	}
#nhs_FacetLocation .nhs_FacetGroupTitle {
	margin-top: 0;
	}
#nhs_FacetLocation .nhs_FacetGroupTitle strong {
	padding-top: 0;
	}
#nhs_FacetLocation .nhs_FacetLocationBack {
	font-size: 11px;
	margin: 6px 0 2px 10px;
	}
	
.nhs_FacetMenuBox {
	position: absolute;
	top: 5px;
	left: 160px;
	margin: 0;
	padding: 0;
	width: 214px;
	background: #73A04B;
	border: 1px solid #fff;
	border-width: 1px 1px 1px 0;
	border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    box-shadow: 2px 2px 1px 1px #666;
	z-index: 999999;
	display: none;
	/*background: url(/globalresourcesmvc/default/images/backgrounds/results_facet_menu_top.png) no-repeat left top;*/
	}
#nhs_PartnerContainer .nhs_FacetMenuBox {
	top: -1px;
	}
#nhs_FacetLocation .nhs_FacetMenuBox {
	top: 42px;
	}
.nhs_FacetMenuBox > div {
	float: left;
	padding: 21px 7px 20px 7px;
	width: 200px;
	/*background: url(/globalresourcesmvc/default/images/backgrounds/results_facet_menu_bottom.png) no-repeat left bottom;*/
	}
.nhs_FacetMenuBox .nhs_FacetGroupTitle {
	font-size: 12px;
	color: #fff;
	} 
.nhs_FacetMenuBox .nhs_FacetModalClose {
    background: url(/globalresourcesmvc/default/images/icons/facet_close_x.png) no-repeat scroll right 50% transparent;
    cursor: pointer;
    margin: 0;
    position : absolute;
    top : 5px;
    right : 9px;
    width : 12px;
    height : 12px;
    }	
.nhs_FacetMenuBox ul {
	margin-left: 10px;
	list-style-type: none;
	}
.nhs_FacetMenuBox ul li {
	margin: 0;
	padding: 2px 0;
	background: none !important;
	display: block;
	}

.nhs_FacetMenuBox ul li.separator {
	border-bottom : 1px solid #E6E5E1;
	width: 90%;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 5px;
	}

.nhs_FacetMenuBox ul li a,
#nhs_PartnerContainer .nhs_FacetMenuBox ul li a {
	color: #fff;
	cursor : pointer;  
	text-decoration : underline; 
	}
.nhs_FacetMenuBox ul li a.nhs_FacetEmpty,
.nhs_FacetMenuBox ul li a.nhs_FacetEmpty:hover {
	color: #fff;
	text-decoration: none;  
    cursor: default; 
	}
.nhs_FacetMenuBox ul li a:hover {
	color: #ff3;
	}

.nhs_FacetMenuBox ul li a.nhs_FacetEmpty:hover {
	color: #fff;
	}
	
#nhs_FacetLocationName {
	float: left;
	width: 160px;
	margin: 6px 0;
	}
#nhs_FacetLocationName p {
	display: inline-block;
	font-size: 85%;
	font-weight: normal;
	float: left;
	width: 116px;
	}
#nhs_FacetLinkCities {
	display: inline-block;
	font-size: 85%;
	font-weight: normal;
	float: right;
	height: 16px;
	margin: -4px 0 0 0;
	padding: 4px 3px 0 3px;
	}
#nhs_FacetLinkCities.nhs_FacetLinkOpen,
#nhs_PartnerContainer #nhs_FacetLinkCities.nhs_FacetLinkOpen {
	display: inline-block;
	color: #fff;
	background-color: #73A04B;
	background-image: none;
	text-decoration: none;
	cursor: default;
	}
#nhs_FacetLocationText {
	font-size: 85%;
	text-align: center;
	color: #777;
	}
.nhs_LocationField {
	width: 120px;
	margin: 0 0 0 5px;
	font-size: 93%;
	}
#nhs_FacetLocation #btnGo {
	width: 24px;
	height: 15px;
	margin: 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: #24619e url(/globalresourcesmvc/default/images/buttons/trans_go_sm.png) no-repeat center top;
	}
	
#nhs_FacetLocation .ui-autocomplete {	
	background-color: #fff;
	max-height: 160px;
	width: 270px;
	overflow: auto;
	margin: 0;
	padding: 0;	
	font-size: 100%;
	border-radius: 0;	
	}
#nhs_FacetLocation .ui-autocomplete li {
    display: inline;
	margin: 0;
	padding: 0;		
	font-size: 100%;
	background-image: none;
	border-radius: 0;
	}
#nhs_FacetLocation .ui-autocomplete li a {
	display: block;
	padding: 5px !important;
	cursor: pointer;
	border-radius: 0;
	}
#nhs_FacetLocation ul.ui-autocomplete li a:hover {
	text-decoration: none;
	}
#nhs_FacetLocation ul.ui-autocomplete a#ui-active-menuitem {
	font-weight: bold;
	background: #9dbce3;
	color: #fff;
	border: 0;
	}	
#nhs_FacetLocation ul.ui-autocomplete li a span {
    font-size: 93%;
    background-image: none;
    padding: 0;
    }	
#nhs_FacetLocationSlider {
	width: 132px;
	height: 26px;
	margin: 10px 0 6px 16px;
	border: 0;
	border-radius: 0;
    -moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: url(/globalresourcesmvc/default/images/backgrounds/slider_location_bg.png) no-repeat left top;
	}
#nhs_FacetPriceSlider, #nhs_FacetSqFtSlider {
	width: 132px;
	height: 11px;
	margin: 10px 0 6px 16px;
	border: 0;
	border-radius: 0;
    -moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: url(/globalresourcesmvc/default/images/backgrounds/slider_price_bg.png) no-repeat left top;
	}
#nhs_FacetPriceSlider .ui-widget-header, #nhs_FacetSqFtSlider .ui-widget-header  {
	background-color: #759e22;
	}
#nhs_FacetPriceSlider.ui-slider-horizontal .ui-slider-range, #nhs_FacetPriceSlider.ui-slider-horizontal .ui-slider-range,
#nhs_FacetSqFtSlider.ui-slider-horizontal .ui-slider-range, #nhs_FacetSqFtSlider.ui-slider-horizontal .ui-slider-range {
	background: transparent url(/globalresourcesmvc/default/images/backgrounds/slider_price_range_bg.png) repeat-x 0 0;
    height: 11px;
    top: 0;
	}
#nhs_FacetLocationSlider  .ui-slider-handle,
#nhs_FacetPriceSlider  .ui-slider-handle,
#nhs_FacetSqFtSlider  .ui-slider-handle {
	background: url(/globalresourcesmvc/default/images/backgrounds/slider_handle_bg.png) no-repeat left top;	
	cursor: pointer; 
	height: 19px; 
	position: absolute; 
	width: 11px;
	/*margin-left: -6px;*/
	border: 0;
	}
.nhs_FacetPriceTextFrom, .nhs_FacetSqFtTextFrom {
	float: left;
	font-size: 85%;
	}
.nhs_FacetPriceTextTo, .nhs_FacetPriceTextTo {
	float: right;
	text-align: right;
	font-size: 85%;
	}
.nhs_FacetLinks, 
#nhs_Facets .nhs_LinksPromo {
	float: left;
	width: 160px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e6e5e1;
	}
.nhs_FacetLinks p,
.nhs_LinksPromo p,
#nhs_PartnerContainer .nhs_FacetLinks p,
#nhs_PartnerContainer .nhs_LinksPromo p {
	font-size: 77%;
	margin: 0;
	padding: 8px 0;
	}
.nhs_FacetLinks .nhs_FacetGroupTitle {
	font-size: 11px;
	}
.nhs_FacetLinks ul,
.nhs_LinksPromo ul {
	margin-left: 10px;
	list-style-type: none;
	}
.nhs_FacetLinks ul li,
.nhs_LinksPromo ul li {
	margin: 0;
	padding: 2px 0;
	font-size: 85%;
	}
.nhs_LinksPromo .nhs_LinkPromoTitle {
	font-size: 11px;
	font-weight: bold;
	color: #24619e;
	margin: 0;
	}
	
#nhs_CommResMapListCol {
	float: left;
	display: inline;
	width: 490px;
	padding: 0 0 0 10px;
	}
#nhs_CommResMapListCol .sendBrochure { text-align:center; font-size:85%; display:table-cell; }
#nhs_BuilderPromoBrands {
	float: left;
	width: 282px;
	padding: 5px 10px 8px 10px;
	background: url(/globalresourcesmvc/default/images/backgrounds/results_brands_bg.png) no-repeat left top;	
	}
#nhs_BuilderPromoHeader {	
	font-size: 93%;
	color: #555;
	padding: 0 0 6px 0;
	}
#nhs_BuilderPromoBrands ul {
	height: 41px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
#nhs_BuilderPromoBrands li {
	display: inline;
	float: left;
	margin: 0 11px;
	padding: 2px 5px;
	background: #fff;
	border: 1px solid #e6e5e1;		
	overflow: hidden;
	max-width: 60px;
	width: 60px;
	height: 35px;
	line-height: 35px;
	font-size: 77%;
	text-align: center;
	cursor : pointer;
	}
#nhs_BuilderPromoBrands img {
	max-width: 60px;
	vertical-align: middle;
	}
#nhs_BuilderPromoList {
	float: left;
	display: none;
	width: 292px;
	margin: 0 0 2px 0;
	padding: 4px 5px 8px 5px;
	background: #fff;
	z-index: 999;
	border-bottom: 1px solid #e7e7e7;
	}
#nhs_BuilderPromoList h4 {
	font-size: 108%;
	padding: 0 0 6px 0;
	}
#nhs_BuilderPromoList ul {
	float: left;
	width: 145px;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	}
#nhs_BuilderPromoList ul li {		
	margin: 0;
	padding: 0 1px 4px 0;
	font-size: 85%;
	line-height: 12px;
	}
#nhs_BuilderPromoList ul li a {
	margin: 0;
	padding: 0 16px 0 0;
	cursor: pointer;
	font-size: 13px; 
	color: #20476f;
	}
#nhs_BuilderPromoList ul li a:hover {
	text-decoration: underline;
	font-size: 13px; 
	color: #20476f;
	}
#nhs_BuilderPromoLink {
	float: right;
	width: 302px;
	padding: 2px 0;
	text-align: right;
	font-size: 85%;
	border-bottom: 1px solid #e7e7e7;
	}
#nhs_BuilderPromoLink a {
	color: #444;
	text-decoration: none;	
	cursor: pointer;
	}
#nhs_BuilderPromoLink a:hover {
	color: #000;
	text-decoration: underline;
	}
	
#nhs_CommResSortPage {
	float: left;
	width: 490px;
	display: inline;
	clear: both;	
	margin: 10px 0 5px 0;
	}
.nhs_Sorting {
	float: left;
	}
.nhs_Sorting p {
	float: left;
	font-size: 85%;
	font-weight: bold;
	}
.nhs_Sorting ul {
	float: left;
	list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
	}
.nhs_Sorting ul li {
	float: left;
	display: inline;
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 85%;
	}
.nhs_Sorting ul li a {
	font-weight: bold;
	text-decoration: none;
	}
.nhs_Sorting ul li a:hover {
	text-decoration: underline;
	}
.nhs_Sorting ul li.selected a {
	color: #222;
	}
.nhs_Sorting ul li.selected a:hover {
	text-decoration: underline;
	color: #222;
	}
	
.nhs_Paging {
	float: right;
	font-size: 12px;
	display: inline-block;	
    margin-right: 5px;
    margin-bottom: 10px;
	}
.nhs_Paging > * {
    float: left;
    line-height: 16px;
    margin-left: 10px;
    }	
.nhs_Paging label {
    display: inline-block;
	font-size: 12px;
	font-weight: bold;
	}
.nhs_Paging span {
    margin-top: 3px;
    }
.nhs_Paging #btnNext,
.nhs_Paging #btnPrevious {
    display: inline-block;	
    color: #fff;
    text-align: center;
	margin: 0 0 0 10px;
	padding: 3px 7px;
	border: 0;
    border-radius: 3px;
	cursor: pointer;
	background-color: #0091da;
	}
.nhs_Paging #btnPrevious {
    margin-left: 0;
    }
.nhs_Paging #txtPageNumber {
    display: inline-block;
	width: 15px;
	font-weight: bold;
	}
.nhs_Paging a {
    display: inline-block;
	font-weight: bold;
	text-decoration: none;
	}
.nhs_Paging a:hover {
	text-decoration: underline;
	}
	
#nhs_CommResCountPageLinks {
	float: left;
	width: 100%;
	padding: 5px 0 5px 0;
	border-top: 1px solid #e6e5e1;
	clear: both;
	}	
#nhs_PageCount {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 3px 0 0 0;	
	font-size: 85%;	
	font-weight: bold;
	}
#nhs_PageCountSelect {
	width: 40px;
	}
		
#nhs_CommResTabs {
	float: left;
	width: 490px;
	margin-top: 0;	
	display: inline;
	clear: both;
	}

#nhs_CommResShowMap {	
	float: left;
	width: 490px;
	margin: 0;
	padding: 26px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;	
	display: block;
	height: 0px !important;
	background: url(/globalresourcesmvc/default/images/buttons/map_teaser.png) no-repeat left top;
	}
.nhs_CommResShowMapHover {
	background: url(/globalresourcesmvc/default/images/buttons/map_teaser_hover.png) no-repeat left top !important;
	}
.nhs_CommResShowMapOpen {
	padding: 322px 0 0 0 !important;
	}
#nhs_CommResHideMap {
	position: absolute;
	bottom: -1px;
	right: 156px;
	z-index: 9;	
	width: 177px;
	margin: 0;
	padding: 22px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;	
	display: block;
	height: 0px !important;
	background: url(/globalresourcesmvc/default/images/buttons/map_hide.png) no-repeat left top;
	}		

/* Map Loading Hover */	
.nhs_MapLoader {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	margin: 0;
	padding: 3px 0;	
	background: #0091da;
	/*background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left bottom;*/
	}
.nhs_MapLoader p,
#nhs_PartnerContainer .nhs_MapLoader p {
	float: left;
	margin: 2px 5px 3px 5px;
	padding: 0;
	font-size: 93%;
	font-weight: bold;
	color: #fff;
	}
	
.nhs_MapTipBox {
	display: none;
	position: absolute;
	top: 80px;	
	left: 29%;
	z-index: 99999;
	width: 215px;
	margin: 0;
	padding: 0 0 10px 0;
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_bottom.png) no-repeat bottom left;
	text-align: left;
	}
.nhs_MapTipTop {
	float: left;
	width: 215px;
	padding: 10px 10px 4px 10px;
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_top.png) no-repeat top left;
	}

.nhs_MapTipBox #nhs_MapTipClose a {
	float: right;
	text-indent: -5000px;
	background: transparent url(/globalresources/default/images/buttons/close_mq.gif) no-repeat center top;
	width: 16px;
	height: 16px;
	margin: 7px 10px 0 5px;	
	cursor: pointer;
	display: block;
	display: inline;
	}

.nhs_MapTipBox .nhs_MapTipTxt {
	font-size: 108%;
	font-weight: bold;
	}
.nhs_MapTipBox .nhs_MapTipChk {
	margin: 15px 10px 5px 15px;	
	}
	
#nhs_CommResMapMain {
	position : absolute;
    /* top : 130px; */
    left : 170px;  
    display: none;
	width: 490px;
	/*height: 302px;	*/
	}
.nhs_CommResMapTools {
	float: left;
	font-size: 93%;
	margin: 4px 0;
	padding: 0 0 0 6px;
	width: 300px;
	}
.nhs_CommResMapTools p {
	float: left;
	}
.nhs_CommResMapTools a {
	text-decoration: none;	
	font-weight: bold;
	}
.nhs_CommResMapTools a:hover {
	text-decoration: underline;
	}

#nhs_CommResMap .mqpoiheading,
#nhs_PropertyMap .mqpoiheading {
	visibility: hidden;
	display: none;
	}
#nhs_CommResMap .mqpoicontenttext,
#nhs_PropertyMap .mqpoicontenttext {
    line-height:11px;
    display:inline-block;
    overflow-x:hidden !important;
    margin-top:0;
	}
.nhs_CommResHoverBox {
	position: relative;
	z-index: 9999999;
	color: #333;
	width:200px;
	/*width: 175px;*/
	/*height: 200px;*/
	}

/* gMaps */
.gm-style-iw > div {
    overflow: hidden !important;
    }	
.nhs_CommResHoverMarket {
    width: 200px; 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0;
    }
.nhs_CommResHoverMarket p,
.nhs_CommResHoverMarket h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    line-height: 1.2;    
}   
.nhs_CommResHoverMarket h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;        
}
.nhs_CommResHoverMarket h2 a {
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px !important;
	font-weight: normal;
}
/* END gMaps */
    
.nhs_BasicHoverBox {
	width: 110px;
	display: block;
    margin-right: 10%;
	}
.nhs_CommResHoverBox p {
	/*float: left;
	width: 195px; */
	display: block;
	padding: 0;
	}
.nhs_CommResHoverBox .btn_FreeBrochureAlt, 
#nhs_PartnerContainer .nhs_CommResHoverBox .btn_FreeBrochureAlt,
.nhs_MultiHoverBox .btn_FreeBrochureAlt, 
#nhs_PartnerContainer .nhs_MultiHoverBox .btn_FreeBrochureAlt {
	float: left;
	}
.nhs_CommResHoverBox a,
.nhs_MultiHoverBox a {
	color: #24619e;	
	text-decoration: none;
	}
.nhs_CommResHoverBox a:hover,
.nhs_MultiHoverBox a:hover {
	color: #009aec;	
	text-decoration: underline;
	}
.nhs_CommResHoverBox .nhs_ResultsThumb {
	width: 122px;
	height: 82px;
	padding-bottom:3px;
	margin-left: 2px;
	position: relative;
	}
.nhs_CommResHoverBox .nhs_ResultsThumb a img {
	display: block;
	width: 120px;
	height: 80px;
	border: 1px solid #ccc;
	}
.nhs_BasicHoverBox .nhs_ResultsThumb {
	width: 77px;
	height: 60px;
	padding-bottom:3px;
	}
.nhs_BasicHoverBox .nhs_ResultsThumb a img {
	display: block;
	width: 75px;
	height: 58px;
	border: 1px solid #ccc;
	}	
	
.nhs_CommResHoverBox h3,
.nhs_MultiHoverBox h3 {	
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 3px;
	}
.nhs_CommResHoverBox .nhs_ResultsBuilder,
.nhs_MultiHoverBox .nhs_ResultsBuilder {
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
	}
.nhs_CommResHoverBox .nhs_ResultsPrice,
.nhs_MultiHoverBox .nhs_ResultsPrice {
	font-size: 11px;
	padding-bottom: 4px;
	}
.nhs_CommResHoverBox .nhs_ResultsLink,
.nhs_MultiHoverBox .nhs_ResultsLink {
	font-size: 11px;
	padding-bottom: 0;
	}
	
.nhs_MultiHoverBox {
	width: 253px;
	position: relative;
	z-index: 9999999;
	}
.nhs_MultiHoverRow {
	float: left;
	width: 253px;
	padding: 3px 0;
	border-bottom: 1px solid #e4ebf2;
	}
/* .nhs_MultiScroll .nhs_MultiHoverRow {
	float: left;
	width: 243px;
	} */
.nhs_MultiHoverBox .nhs_ResultsThumb {
	/*width: 125px;
	height: 82px;*/
	width: 79px;
	height: 60px;
	margin: 0 0 0 2px;
	padding: 0;
	float: left;
	clear: right;
	position: relative;
	}
.nhs_MultiHoverBox .nhs_ResultsThumb a img {
	display: block;
	width: 75px;
	height: 58px;
	/*width: 120px;
	height: 80px;*/
	border: 1px solid #ccc;
	}
	
/*.nhs_MultiBoxScroll {
	position: relative;
	width: 253px;
	height: 250px;
	}
.nhs_MultiScroll {
	width: 255px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	overflow-y: scroll;
	}*/

.nhs_ShowcaseContent #nhs_CommResMap {
	width: 720px;
	height: 430px;
}

#nhs_CommResMap {
	width: 488px;
	height: 300px;
	border: 1px solid #d3d3d3;
	}
#nhs_CommResMap img {
    max-width: none;
    }	

.nhs_GroupingBar {
	float: left;
	width: 480px;
	font-size: 85%;
	color: #fff;
	margin: 0;
	padding: 3px 5px;
	background: #0091da;
	}
.nhs_BasicListingBar {
	float: left;
	width: 480px;
	font-size: 108%;
	color: #000;
	margin: 0;
	padding: 4px 5px 4px 5px;
	background: #ccc;
	}
.nhs_GroupingBar  p, .nhs_BasicListingBar p {
	font-weight: bold;
	}
	
/* Comm Res Row */
.nhs_CommResRow {
	float: left;
	clear: both;
	vertical-align: top; 
	width: 476px;  
	margin: 0;
	padding: 8px 7px 8px 7px; 
	cursor: pointer; 
	border-top: 1px solid #e6e5e1;
	} 
.nhs_CommResRowOn,
.nhs_CommResRowOpen {
	float: left;
	clear: both;
	vertical-align:top; 
	width: 476px;
	margin: 0;
	padding: 7px 5px 6px 5px;  
	cursor: pointer; 
	border: 2px solid #99c0df;
	background-color: #d3dfec;
	}	
.nhs_CommResRow a,
.nhs_CommResRow .nhs_ResultName a,
#nhs_PartnerContainer .nhs_CommResRow a,
#nhs_PartnerContainer .nhs_CommResRow .nhs_ResultName a {
	/*color: #24619e;*/
	text-decoration: none;
	}
.nhs_CommResRowOn a,
.nhs_CommResRowOn .nhs_ResultName a,
.nhs_CommResRowOpen a,
.nhs_CommResRowOpen .nhs_ResultName a,
#nhs_PartnerContainer .nhs_CommResRowOn a,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultName a,
#nhs_PartnerContainer .nhs_CommResRowOpen a,
#nhs_PartnerContainer .nhs_CommResRowOpen .nhs_ResultName a {
	text-decoration: none;
	}
.nhs_CommResRowOn a,
.nhs_CommResRowOn .nhs_ResultName a,
#nhs_PartnerContainer .nhs_CommResRowOn a,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultName a {
	text-decoration: underline;
	}
.nhs_CommResRowOn a:hover,
.nhs_CommResRowOn .nhs_ResultName a:hover,
.nhs_CommResRowOpen a:hover,
.nhs_CommResRowOpen .nhs_ResultName a:hover,
#nhs_PartnerContainer .nhs_CommResRowOn a:hover ,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultName a:hover,
#nhs_PartnerContainer .nhs_CommResRowOpen a:hover,
#nhs_PartnerContainer .nhs_CommResRowOpen .nhs_ResultName a:hover {
    text-decoration: underline;
	color: #009aec;
	}
.nhs_ResultThumbBox  {
	float: left;
	width: 182px;
	height: 122px;
	margin: 0 5px 0 0; 
	position: relative;
	background: #fff;
	}
.nhs_ResultThumb {
	display: block;
	width: 180px;
	height: 120px;
	border: 1px solid #ccc;
	}
.nhs_CommResRowOn .nhs_ResultThumb,
.nhs_CommResRowOpen .nhs_ResultThumb,
.nhs_BoylResultsRowOn .nhs_ResultThumb {
	border-color: #24619e;
	}
.nhs_ResultThumb img {
	width: 180px;
	height: 120px;
	}	
.nhs_ResultThumb img.nhs_ResultThumbComingSoonImg,
.nhs_ResultsThumb img.nhs_ResultThumbComingSoonImg {
	position: absolute; 
	width: 87px; 
	height: 21px;
	padding: 0;   
	top: 5px; 
	left: -2px;  
	}	
.nhs_MultiHoverBox .nhs_ResultsThumb img.nhs_ResultThumbComingSoonImg {
	width: 76px;
	height: auto;
	top: 3px;
	}			
.nhs_ResultThumbOverlayNoHomes,
#nhs_PartnerContainer .nhs_ResultThumbOverlayNoHomes,
.nhs_ResultThumbOverlayNoQV, 
#nhs_PartnerContainer .nhs_ResultThumbOverlayNoQV {
	position: absolute; 
	width: 167px; 
	height: 20px;
	padding: 2px 0 0 0;   
	text-align: center; 
	bottom: 8px; 
	left: 7px; 
	font-size: 12px !important; 
	font-weight: bold;
	color: #24619e;
	background: url(/globalresourcesmvc/default/images/overlays/matching_no_homes_off.png) no-repeat left top;	
	}
.nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_ResultThumbOverlayImg {
	position: absolute; 
	width: 167px; 
	height: 20px;
	padding: 2px 0 0 0;   
	text-align: center; 
	bottom: 8px; 
	left: 7px; 
	font-size: 12px !important;
	font-weight: bold;
	color: #24619e !important;
	background: url(/globalresourcesmvc/default/images/overlays/matching_qv_off.png) no-repeat left top;	
	}
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg,
.nhs_CommResRowOpen .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRowOpen .nhs_ResultThumbOverlayImg {
	color: #009aec;
	background: url(/globalresourcesmvc/default/images/overlays/matching_qv_on.png) no-repeat left top;
	}

.nhs_ResultThumbOverlayImg a:hover,
#nhs_PartnerContainer .nhs_ResultThumbOverlayImg a:hover {
	text-decoration: none;
	}
	
.nhs_ResultThumbOverlayImg a:hover span.nhs_ResultShowQVBtn,
#nhs_PartnerContainer .nhs_ResultThumbOverlayImg a:hover span.nhs_ResultShowQVBtn {
	text-decoration: underline;
	}
.nhs_ResultThumbOverlayImg span {
	display: inline-block;
	float: left;
	width: 122px;
	padding-left: 2px;
	}
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg span,
.nhs_CommResRowOpen .nhs_ResultThumbOverlayImg span {
	color: #24619e !important;
	}
.nhs_ResultThumbOverlayImg span.nhs_ResultShowQVBtn {
	display: inline-block;
	float: right;
	width: 41px;	
	padding-left: 0;
	padding-right: 1px;
	text-decoration: none;
	}
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg span.nhs_ResultShowQVBtn,
.nhs_CommResRowOpen .nhs_ResultThumbOverlayImg span.nhs_ResultShowQVBtn {
	color: #fff !important;	
	text-decoration: none;
	}	
	
.nhs_ResultNamePrice {
	float: left;
	width: 289px;
	padding-bottom: 6px;
	}
.nhs_CommResRow .nhs_ResultName,
.nhs_CommResRowOn .nhs_ResultName {
	float: left;
	width: 289px;
	font-size: 138.5%;
    font-weight: bold;
	line-height: 16px;
	margin: 0;
	padding: 0 0 4px 0;
	font-family: Arial;	
	}	
.nhs_ResultPrice {
	float: left;
	padding: 0 0 0 12px;
	font-size: 108%;
	color: #555;
	}
.nhs_ResultBrandAddress {
	float: left;
	width: 159px;
	font-size: 85%;
	}
.nhs_ResultBrandName {
	width: 100px;
	height: 40px;	
	display: table-cell;
	vertical-align: middle;
	line-height: 11px;
	width: 85px;
	}	
	
.nhs_ResultAddress {	
	float: left;
	width: 289px;
	font-size: 85%;
	}
.nhs_ResultAddress > p:first-child {
	float: left;
	margin: 0;
	padding: 2px 3px 0 12px;
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	}
.nhs_ResultVideoLink {
	float: left;
	width: 45px;
	margin: 0 0 0 5px;
	padding: 19px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;	
	display: block;
	height: 0px !important;
	background: url(/globalresourcesmvc/default/images/icons/icon_video.png) no-repeat left top;
	}
.nhs_CommResRowOn .nhs_ResultVideoLink {
	background: url(/globalresourcesmvc/default/images/icons/icon_video_on.png) no-repeat left top;
	}
.nhs_MapLink {
	float: left;
	width: 42px;
	margin: 1px 0 0 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;	
	display: block;
	height: 0px !important;
	background: url(/globalresourcesmvc/default/images/icons/map_off.png) no-repeat left top;
	}
.nhs_CommResRowOn .nhs_MapLink {
	background: url(/globalresourcesmvc/default/images/icons/map_on.png) no-repeat left top;
	}
.nhs_ResultBrandImg {
	float: left;
	width: 60px;
	height: 36px;
	margin: 0 3px 0 0;
	padding: 1px 1px 1px 1px;	
	background: #fff;
	border: 1px solid #e6e5e1;
	overflow: hidden;
	line-height: 35px;
	font-size: 77%;
	text-align: center;
	}
.nhs_ResultBrandImg img {
	max-width: 60px;
	max-height: 35px;
	vertical-align: middle;
	}
.nhs_ResultCommStatus {
	float: left;
	width: 289px;
	margin: 0;
	padding: 6px 0 0 0;
	}
.nhs_ResultCommStatus img {
	float: left;
	padding-left: 5px;
	}
.nhs_ResultCommStatus img:first-child,	
.nhs_ResultCommStatus .nhs_ResultVideoLink:first-child {
    padding-left: 0;
    margin-left: 0;
    }
	
/* =Comm Res Row Basic --------------------*/
	
.nhs_CommResRowBasic {
    position: relative;
    }	
.nhs_CommResRowBasic .nhs_ResultThumbBox {
    width: 122px;
    height: 82px;
    }	
.nhs_CommResRowBasic .nhs_ResultThumb,
.nhs_CommResRowBasic .nhs_ResultThumb img {
    width: 120px;
    height: 80px;
    }	
.nhs_CommResRowBasic .nhs_ResultName,
.nhs_CommResRowBasicOn .nhs_ResultName {
    float: none;
    font-size: 93%;
    width: auto;
    line-height: 1;
    }
.nhs_CommResRowBasic .nhs_ResultNameAddress {
    float: left;
    width: 185px;
    }  
.nhs_CommResRowBasic .nhs_ResultPrice {
    float: right;
    width: 152px;
    font-size: 88%;
    font-weight: bold;
    text-align: right;
    }
.nhs_CommResRowBasic .nhs_ResultBrandName {
    position: absolute;
    left: 134px;
    bottom: 12px;
    display: inline;
    height: auto;
    font-size: 85%;
    }    
.nhs_CommResRowOn.nhs_CommResRowBasic .nhs_ResultBrandName {
    left: 132px;
    bottom: 10px;
    }       
.nhs_CommResRowBasic .btn_MatchingHomes {
    position: absolute;
    right: 5px;
    bottom: 12px;
    border: 1px solid #ccc;
    padding: 3px 6px;
    font-size: 88%;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 4px;
    background: #fff;
    }  
.nhs_CommResRowOn.nhs_CommResRowBasic .btn_MatchingHomes {
    right: 3px;
    bottom: 10px;
    }        

/* =Pro Multi Send Area --------------------*/

.pro_SendSelectedBrochures {
    clear: both;
    display: inline-block;
    float: left;
    margin: 10px 0 5px;
    width: 490px;
    }
.pro_SendSelectedBrochures a.btn,
#pro_SectionMain .pro_SendSelectedBrochures a.btn {
    float: right;
    display: inline-block;
    font-size: 11px;
    text-decoration: none;
    margin: 0;
    padding: 2px 7px;
    height: auto !important;
    /*box-shadow: 1px 1px 2px #333;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #666;*/
    }
.pro_SendSelectedBrochures .nhs_LockIcon {
    float: right;
    margin: 0 4px 0 0;
    padding: 0;
    height: 19px;
    background-position: left 50%;
    }    
	
.pro_ResultActions {
    font-size: 11px; 
    background: #f2f2f2;
    margin: 3px -7px 0 -7px; 
    padding: 5px 7px 6px 7px;  
    }
.nhs_CommResRowOn .pro_ResultActions {
    margin: 3px -4px 0 -4px; 
    padding: 5px 4px 6px 4px;
    }    
.pro_ResultActions > span {
    margin-right: 8px;    
    }    
.pro_ResultActions > span .pro_Saved {
    display: inline-block;
    color: #333;
    padding: 0 14px 0 0;
    background: url(/globalresourcesmvc/default/images/icons/save_heart_sm.png) no-repeat right 50%;
    }        	
.pro_ResultActions > span.pro_ResultChecked {
    float: right;
    margin: 4px 0 0 0;
    }
.pro_ResultActions input[type="checkbox"] {    
    vertical-align: middle;
    }	      
.pro_ResultActions label {    
    font-weight: bold;
    margin: 0;
    width: 60px;
    display: inline-block;
    text-align: right;
    }	    
.nhs_CommResRow .pro_ResultActions a {
    display: inline-block;
    background: #bbb;
    color: #fff !important;
    text-decoration: none;
    margin: 0;
    padding: 3px 7px;
    box-shadow: 1px 1px 2px #333;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #666;
    }   
.pro_ResultActions .nhs_LockIcon {
    margin: 0 0 0 4px;
    padding: 3px 0;
    height: 15px;
    background-position: left 50%;
    }

/* =Custom Builders Row --------------------*/
	
.nhs_ResultCustomRow {
	float: left;
	clear: both;
	vertical-align: top; 
	width: 456px;  
	margin: 0;
	padding: 14px 17px 14px 17px; 
	border-top: 1px solid #e6e5e1;
	
	background: #fff;
    background: -moz-linear-gradient(top,  #ebe9d9 0%, #ffffff 35%, #ffffff 66%, #ebe9d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe9d9), color-stop(35%,#ffffff), color-stop(66%,#ffffff), color-stop(100%,#ebe9d9));
    background: -webkit-linear-gradient(top,  #ebe9d9 0%,#ffffff 35%,#ffffff 66%,#ebe9d9 100%);
    background: -o-linear-gradient(top,  #ebe9d9 0%,#ffffff 35%,#ffffff 66%,#ebe9d9 100%);
    background: -ms-linear-gradient(top,  #ebe9d9 0%,#ffffff 35%,#ffffff 66%,#ebe9d9 100%);
    background: linear-gradient(to bottom,  #ebe9d9 0%,#ffffff 35%,#ffffff 66%,#ebe9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe9d9',GradientType=0 );

	} 
.nhs_ResultCustomRow h2 {
	float: left;
	width: 456px;
	font-size: 125%;
	line-height: 16px;
	margin: 0;
	padding: 0;	
	}
.nhs_ResultCustomRow > p {
    margin-bottom: 18px;
    }			
.nhs_ResultCustomRow a, 
.nhs_ResultCustomRow h2 a {
    text-decoration: none;
    }
.nhs_ResultCustomRow > div {
    float: left;
    width: 228px;
    }  
.nhs_ResultCustomRow .nhs_ResultBrandImg {
    float: none;
    margin-bottom: 4px;
    }       
.nhs_ResultCustomRow .nhs_ResultBrandAddress {
    float: none;
    width: auto;
    }          	
.nhs_ResultCustomRow .nhs_ResultBrandName {
    display: inline;
    width: auto;
    height: auto;
    }    

/* =Pro 7 - Unbilled -----------------------*/

.nhs_CommResRow.nhs_Unbilled a, 
.nhs_CommResRow.nhs_Unbilled h2 a,
.nhs_CommResRow.nhs_Unbilled .nhs_ResultPrice,
.nhs_CommResRow.nhs_Unbilled .nhs_ResultAddress,
.nhs_CommResRow.nhs_Unbilled .nhs_ResultBrandName {
    color: #888; 
    }    

/* =Recommended Comms Modal --------------------*/

#nhs_ModalContainer #nhs_RecoCommsBox {
    width: 700px;
    height: 275px;
    margin-top: 20px;
    overflow-y: scroll;
    border: 1px solid #999;
    }
.nhs_RecoCommsCheckbox,    
#nhs_ModalContainer .nhs_RecoCommsCheckbox {
    float: left;
    width: 25px;
    margin-top: 24px;
    } 
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_CommResRow {
    width: 665px;
    }
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_ResultNamePrice {
    padding-bottom: 0;
    width: 289px;
    }    
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_CommResRow .nhs_ResultName {
    width: 555px;
    font-size: 14px;
    margin: 0;
    padding: 2px 0;
    }
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_CommResRow .nhs_ResultBuilderPrice {
    float: right;
    width: 250px;
    height: 40px;
    line-height: 38px;
    } 
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_CommResRow .nhs_ResultBuilderPrice img {
    vertical-align: middle;
    }     
#nhs_ModalContainer #nhs_RecoCommsBox .nhs_CommResRow .nhs_ResultBuilderPrice p {
    float: right;
    vertical-align: middle;
    }       
#nhs_ModalContainer .nhs_RecoCommsButtons a {
    float: right;
    margin-top: 18px;
    }  
    
/* =Recommended Comms on Return Modal --------------------*/    
    
.nhs_ReturnRecoComms {
    width: 800px;
}
.nhs_ReturnRecoCommsList {
    border: 1px solid #CCCCCC;
    float: left;
    height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 448px;
}
#nhs_ModalContainer .nhs_ReturnRecoCommsList h3,  
.nhs_ReturnRecoCommsList h4 {
    clear: both;
    font-size: 108%;
    padding: 6px 0 4px 10px;
    }
.nhs_ReturnRecoComms .nhs_CommResRow {
    line-height: 1;
    margin: 0;
    padding: 6px 7px;
    border: 0;
    width: 418px;
    cursor: default;
    }
.nhs_ReturnRecoComms .nhs_CommResRow:nth-of-type(1),
.nhs_ReturnRecoComms .nhs_CommResRow:nth-of-type(2) {
    border: 0;
    }

.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultThumb {
    float: left;    
    width: 91px;
    height: 70px;
    } 
.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultThumb img {    
    width: 91px;
    height: 70px;
    }
.nhs_ReturnRecoComms .nhs_CommResRow input {
    margin-top: 30px;
    width: 30px;
    }
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultName, 
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultNamePrice {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 285px;
    }
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultNamePrice {
    color: #555;
    }    
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultName {
    padding: 8px 0 3px 5px;
    }
.nhs_ReturnRecoCommsAddInfo {
    float: left;
    padding-left: 30px;
    width: 300px;
    }
#nhs_AdditionalInfo {
    padding-bottom: 30px;   
    }
.nhs_ReturnRecoCommsAddInfo > p {
    display: inline-block;
    margin: 6px 0;
    }
.nhs_ReturnRecoCommsAddInfo p label {
    display: inline-block;
    text-align: right;
    width: 100px;
    font-weight: bold;
    }
.nhs_ReturnRecoCommsAddInfo p input {
    display: inline-block;
    width: 170px;
    }
.nhs_ReturnRecoCommsAddInfo p input.nhs_InputZip {
    width: 95px;
    }
.nhs_ReturnRecoCommsAddInfo input.btn {
    margin-left: 105px;
    margin-bottom: 10px;
    }
#nhs_ModalContainer .nhs_ReturnRecoCommsAddInfo .nhs_Legal {
    margin: 20px 0 0;
    }    


/* =Recommended Comms Page --------------------*/
    
#nhs_RecoComms #nhs_RecoCommsBox {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
    border-width: 0 0 1px 0;
    }   
#nhs_RecoCommsLoading {
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 150px 0;
    }  
#nhs_RecoCommsLoading img {      
    margin: 0 auto 12px auto;
    }
#nhs_RecoCommsLoading p {     
    font-size: 18px;
    font-weight: bold;
    }
#nhs_RecoComms > div > h2 {
    font-size: 24px;
    font-weight: normal;
    color: #111;
    margin: 18px 0;
    }    
#nhs_RecoComms > div > p {
    float: left;
    width: 725px;
    margin-top: 4px;
    }        
#nhs_RecoComms .nhs_CommResRow {
    width: 956px;
    cursor: default;
    }   
#nhs_RecoComms .nhs_ResultThumb {
    float: left;
    margin-right: 10px;
    }    
#nhs_RecoComms .nhs_CommResRow .nhs_ResultName {
    width: 400px;
    margin-top: 32px;
    }      
#nhs_RecoComms .nhs_CommResRow .nhs_ResultNamePrice {
    width: 400px;
    }    
#nhs_RecoComms .nhs_CommResRow .nhs_ResultBuilderPrice {
    float: right;
    width: 200px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    }
#nhs_RecoComms .nhs_CommResRow .nhs_ResultBuilderPrice img {
    vertical-align: middle;
    }    
#nhs_RecoComms .nhs_RecoCommsCheckbox {    
    margin-top: 55px;
    } 
    
#nhs_RecoComms .nhs_RecoCommsButtons {
    float: left;
    clear: both;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    }    
#nhs_RecoComms input[type="button"] {
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
    }
#nhs_RecoComms .nhs_RecoCommsButtons input[type="button"] { 
    float: none;   
    margin: 0 auto 10px 0;
    }   
	
/* =QuickView -----------------------*/
.nhs_ResultQuickView {
	width: 450px;	
	min-height: 45px;
	height: auto;
	max-height: 220px;	
	margin: 5px auto 0 auto;
	padding: 0;
	display: none; 
	border: 1px solid #99c0df;
	background: #fff url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
	overflow: hidden;
	overflow-y: scroll;	
	}
	
.nhs_ResultQuickView .nhs_ResultThumb,
.nhs_ResultBasicItem .nhs_ResultThumb,
.nhs_ResultCustomRow .nhs_ResultThumb,
.nhs_ResultBasicItemOn .nhs_ResultThumb,
#nhs_RecoCommsBox .nhs_ResultThumb {
	border: 1px solid #ccc;
    display: block;
	width: 75px;
	height: 58px;
	float: left;
	margin: 0 6px 0 0;
	}
.nhs_ResultQuickView .nhs_ResultThumb img,
.nhs_ResultBasicItem .nhs_ResultThumb img,
.nhs_ResultCustomRow .nhs_ResultThumb img,
.nhs_ResultBasicItemOn .nhs_ResultThumb img,
#nhs_RecoCommsBox .nhs_ResultThumb img {    
    width: 75px;
    height: 58px;
	}
ul.nhs_ResultQVList {
	display: block;
	width: 435px;
	margin: 0;
	padding: 0;
	}
ul.nhs_ResultQVList .nhs_ResultQVListItem,
div.nhs_ResultBasicItem {
	display: block;
	width: 425px;
	margin: 0;
	padding: 3px 5px;
	border: 1px solid #99c0df;
	border-width: 0 0 1px 0;	
	background: #fff;
	}
ul.nhs_ResultQVList .nhs_ResultQVListItemOn,
div.nhs_ResultBasicItemOn {
	display: block;
	width: 425px;
	margin: 0;
	padding: 3px 5px;
	border: 1px solid #99c0df;
	border-width: 0 0 1px 0;
	background-color: #d3dfec;
	}
div.nhs_ResultBasicItem,
div.nhs_ResultBasicItemOn {
	float: left;
	width: 476px;
	padding: 8px 7px;	
	border-color: #e6e5e1;
	border-width: 1px 0 0 0;
	}
div.nhs_ResultBasicItemOn {
	padding: 7px 5px 6px 5px;  
	cursor: pointer; 
	border: 2px solid #99c0df;
	background-color: #d3dfec;
	}
	
ul.nhs_ResultQVList .nhs_ResultQVListItem p,
ul.nhs_ResultQVList .nhs_ResultQVListItemOn p {
	font-size: 93%;
	color: #666;
	}
.nhs_ResultHomeName,
#nhs_PartnerContainer .nhs_ResultHomeName {
	float: left;
	width: 215px;
	/*height: 28px;*/
	padding-top: 7px;
	}
div.nhs_ResultBasicItem .nhs_ResultHomeName,
#nhs_PartnerContainer div.nhs_ResultBasicItem .nhs_ResultHomeName,
div.nhs_ResultBasicItemOn .nhs_ResultHomeName,
#nhs_PartnerContainer div.nhs_ResultBasicItemOn .nhs_ResultHomeName  {
	width: 270px;
	}
.nhs_ResultHomeName .nhs_SpecPlanName,
#nhs_PartnerContainer .nhs_ResultHomeName .nhs_SpecPlanName {
	font-size: 12px;
	font-weight: normal;
	color: #808080;
	}
.nhs_ResultQVHomeStatus {
	float: right;
	width: 123px;
	text-align: right;
	padding-top: 2px;
	}
.nhs_ResultHomeBedBath {
	width: 120px;
	font-weight: bold;
	display: inline-block;
	}
.nhs_ResultHomePrice {
	width: 152px;
	text-align: right;	
	font-weight: bold;
	display: inline-block;
	}
div.nhs_ResultBasicItem .nhs_ResultHomePrice,
div.nhs_ResultBasicItemOn .nhs_ResultHomePrice,
#nhs_PartnerContainer div.nhs_ResultBasicItem .nhs_ResultHomePrice,
#nhs_PartnerContainer div.nhs_ResultBasicItemOn .nhs_ResultHomePrice {
	float: right;
	width: 123px;
	font-weight: bold;
	text-align: right;
	/*height: 28px;*/
	padding-top: 7px;
	}
.nhs_ResultQVHotHome {
	display: inline-block;
	width: 62px;
	}
.nhs_ResultQVHotHome img {
	vertical-align: middle;
	}
.nhs_ResultHomeBedPriceHot {
	float: left;
	width: 342px;
	display: block;
	}
	
.nhs_ResultHomeName a,
.nhs_ResultHomeName a:link,
#nhs_PartnerContainer .nhs_ResultHomeName a,
#nhs_PartnerContainer .nhs_ResultHomeName a:link {
	color: #24619e;
	font-weight: bold;
	text-decoration: none;
	}
.nhs_ResultQVListItemOn a,
.nhs_ResultQVListItemOn p a,
#nhs_PartnerContainer .nhs_ResultQVListItemOn a,
#nhs_PartnerContainer .nhs_ResultQVListItemOn p a {
	color: #24619e;
	}
.nhs_ResultHomeName a:hover,
#nhs_PartnerContainer .nhs_ResultHomeName a:hover {
	color: #009aec;
	}

/* =Pro 7 - Promotions ------------------------*/
	
.nhs_ResultPromotions {    
	width: 464px;	
	margin: 5px auto 0 auto;
	padding: 3px 5px;
	border: 1px solid #E6EBEF;	
	font-size: 77%;	
	background: #fff;
    }
.nhs_ResultPromotions ul {
    list-style: none;
    }    
.nhs_ResultPromotions ul li {
    display: block;
    color: #222;
    clear:left;
    }    
.nhs_ResultPromotions ul li strong {
    font-size: 108%;
    }    	
/*
.nhs_ResultPromotions ul li .nhs_PromoIcon {    
    color: #e7732d;
    padding: 3px 8px 3px 18px;
    background: url(/GlobalResourcesMvc/Default/images/icons/special_offers.png) no-repeat left 50%;
    }
.nhs_ResultPromotions ul li .nhs_AgentPromoIcon {    
    color: #e83929;
    padding: 3px 8px 3px 18px;
    background: url(/GlobalResourcesMvc/Default/images/icons/special_offers.png) no-repeat left 50%;
    }    */  
.nhs_ResultPromotions ul li .nhs_EventIcon {    
    color: #7d397d;
    padding: 3px 8px 3px 18px;
    background: url(/GlobalResourcesMvc/Default/images/icons/event_calendar.png) no-repeat 1px 50%;
    }  
.nhs_LockIcon {
    /*width:11px; Promo Issues on CommResults
    padding: 10px 13px 3px 0; */
    background: url(/GlobalResourcesMvc/Default/images/icons/lock_closed.png) no-repeat right bottom;
    width:11px;
    height:15px;
    display:inline-block;
    }
.nhs_LockIconLink {
    padding: 3px 13px 3px 0;
    background: url(/GlobalResourcesMvc/Default/images/icons/lock_closed.png) no-repeat right 50%;    
    }    
.nhs_ResultPromotions ul li .nhs_LockIcon {  
    margin-left: 4px;
    display: inline-block;
    }   
.nhs_ResultPromotions ul li .nhs_LockIcon a {  
    color: #0091da; /*#2b8ecf*/
    text-decoration: underline;
    }
 .nhs_ResultPromotions .detailsWrapper {
    display: block;
    padding: 4px 8px 5px 5px;
    margin-left: 22px;
}  
	
/* =Featured ------------------------*/

.nhs_FeaturedBar {
	float: left;
	width: 488px;
	margin: 0;
	padding: 4px 0 4px 0;
	font-size: 85%;
	color: #9d7b1f;
	text-shadow: 0 1px 1px #fff; /* CSS3 */
	text-align: center;
	background: #f6e679;
	border: 1px solid #e2d46e;
	border-bottom: 0;
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0; 
	}
.nhs_FLResRow {
	/*width: 480px;*/
	border: 1px solid #e2d46e;
	margin: 0 0 1px 0;	
	padding-left: 6px;
	padding-right: 6px;
	background: #f8ed9c url(/globalresourcesmvc/default/images/backgrounds/featured_row_bg.png) repeat-x left top;
	cursor:default;
	}

/*Featured for Pro7*/
#pro_Container .nhs_FeaturedBar {
	float: left;
	width: 478px;
	margin: 0;
	padding: 10px 0 10px 10px;
	font-size: 116%;
	color: #000;
    font-weight: bold;
	text-shadow: none; /* CSS3 */
	text-align: left;
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-bottom: 0;	
	border-radius: 4px 4px 0 0; 
	}	
.pro_FeaturedBox {
    float: left;
    padding: 0 5px 5px 5px;
    background: #f0f0f0;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 4px 4px;
    }		
#pro_Container .nhs_FLResRow {
	width: 464px;
	border: 1px solid #ccc;
	margin: 0 0 1px 0;	
	padding: 8px 6px 0 6px;	
	background: #fff;
	cursor: default;
	}
#pro_Container .nhs_FLResRow .nhs_ResultNamePrice {
    width: 277px;
    }	
#pro_Container .nhs_FLResRow .nhs_ResultBrandAddress {
    width: 147px;
    }	    


/* =Special Row-------------------------*/	
.nhs_CommResSpecialRow {
	float: left;
	display: inline;
	width: 490px;
	margin: 0;
	padding: 8px 0 5px 0;
	border-top: 1px solid #e6e5e1;
	}
.nhs_CommResSpecialRow h3,
.nhs_CommResSpecialRowOn h3 {
	font-size: 108%;
	}
.nhs_CommResSpecialRow a {
	color: #24619e;
    text-decoration: none;
	}
.nhs_CommResSpecialRowOn a {
	color: #009aec;
	text-decoration: none;
	}
.nhs_CommResSpecialRowOn {
	float: left;
	display: inline;
	width: 490px;
	margin: 0;
	padding: 8px 0 5px 0;
	border-top: 1px solid #e6e5e1;
	}
	
/* =No Match ---------------------------*/
#nhs_ResNoMatchBox {
	float: left;
	width: 100%;
	}
#nhs_ResNoMatchBox p, 
#nhs_PartnerContainer #nhs_ResNoMatchBox p {
	margin: 8px 0 8px 12px;	
	}
#nhs_ResNoMatchBox ul {
	margin-left: 30px;
	}
#nhs_ResNoMatchBox a {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-decoration: none;
	}
#nhs_ResNoMatchBox a:hover {
	text-decoration: underline;
	}
#nhs_ResNoMatchBox p.nhs_ResNoMatchTitle {
	font-size: 116%;
	font-weight: bold;
	margin: 0;
	padding: 18px 0 4px 0;
	border-bottom: 1px solid #CCCCCC;
	}	
	
/* =Video ---------------------------*/
#nhs_CommResVideoAds {
	float: right;
	width: 302px;
	position: relative;
	border: 0px solid;
	}
#nhs_CommResVideo {
	float: left;
	margin: 10px 0 0 0;
	width: 300px;
	height: 300px;
	border: 0px solid #000;
	}
#nhs_CommResVideo #nhsplayerloading {	
	width: 300px;
	height: 198px;
	top: 28px;
	}
#nhs_CommResVideo #nhsplayerloading img {
	margin-top: 50px;
	}
#nhs_CommResVideo #nhsplayerVideo {
    height: 228px;
    }
#nhs_CommResVideo object {
	width: 300px;
	height: 200px;
	}
#nhs_CommResVideo .nhs_VideoPlayerBox,
#nhs_CommResVideo .nhs_MediaPlayerContainer,
#nhs_CommResVideo .nhs_ImagePlayerBox {
	width: 300px;
	height: 292px;
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
	position: relative;
	}
#nhs_CommResVideo .nhs_VideoPlayerBox,
#nhs_CommResVideo .nhs_ImagePlayerBox {
	height: 229px;
	}
#nhs_CommResVideo .nhs_VideoPlayerBox #noImage img {
	width: 300px;
	-ms-interpolation-mode : bicubic;
	}
#nhs_CommResVideo .nhs_MediaTitleBar,
#nhs_CommResVideo .nhs_ImagePlayerTitleBar {
	width: 300px;
	height: 26px;
	margin: 0;
	background: #0091da;
	/*background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;*/
	color: #fff;
	border-bottom: 2px solid #fff;
	}	
#nhs_CommResVideo .nhs_MediaTitleBar p strong {
	font-size: 108%;
	}
#nhs_CommResVideo .nhs_MediaTitleBar p#nhs_MediaItemCounts,
#nhs_PartnerContainer #nhs_CommResVideo .nhs_MediaTitleBar p#nhs_MediaItemCounts {
	padding-top: 5px;
	}	
#nhs_CommResVideo .nhs_MediaImageTitle {
	position: absolute;
	top: 31px;
	left: 3px;
	width: 268px;
	}
#nhs_CommResVideo #nhs_MediaMaximize a {	
	top: 33px;
	right: 6px;
	}
	
/* Video */
#nhs_CommResVideo .ad-gallery {
    width: 300px;
    height: 200px;
    float: left;
    background: #000;
    }
#nhs_CommResVideo .ad-gallery .ad-image-wrapper .ad-image {
    width: 300px;
    height: 200px;
    }
#nhs_CommResVideo .ad-gallery .ad-image-wrapper .ad-image img {
    width: 300px;
    height: 200px;
    }
#nhs_CommResVideo .ad-gallery .ad-image-wrapper .ad-image span {
    width: 300px;
    height: 200px;
    background-position: 50% 50%;
    }
#nhs_CommResVideo .ad-nav {
    width: 258px;
    height: 58px;
    padding: 5px 21px 0 21px;
    }
#nhs_CommResVideo .ad-thumbs {
    width: 258px;
    }
#nhs_CommResVideo .ad-nav .ad-thumbs li {
    width: 82px;
    height: 54px;
    padding-left: 3px;
    }
#nhs_CommResVideo .ad-nav .ad-thumbs li a {
    width: 82px;
    height: 54px;
    }
#nhs_CommResVideo .ad-nav .ad-thumbs li a img {
    width: 80px;
    height: 52px;
    }
#nhs_CommResVideo .ad-nav .ad-thumbs li a span {
    top: -39px;
    left: 29px;
    background: url(/globalresourcesmvc/default/images/overlays/play_video_small.png) no-repeat left top;
    }
#nhs_CommResVideo .ad-nav .ad-thumbs li a.ad-active img {
    border: 1px solid #eee;
    }
#nhs_CommResVideo .ad-nav .ad-next-thumb {
    right: 1px;
    top: 5px;
    width: 22px;
    height: 54px;
    }
#nhs_CommResVideo .ad-nav .ad-next-thumb .ad-next-imageThumb {
    background: url(/GlobalResourcesMvc/Default/images/mediaplayer/thumb_arrow_right.png) no-repeat left 50%;
    width: 22px;
    height: 54px;
    }
#nhs_CommResVideo .ad-nav .ad-prev-thumb {
    left: 1px;
    top: 5px;
    width: 22px;
    height: 54px;
    }
#nhs_CommResVideo .ad-nav .ad-prev-thumb .ad-prev-imageThumb {
    background: url(/GlobalResourcesMvc/Default/images/mediaplayer/thumb_arrow_left.png) no-repeat left 50%;
    width: 22px;
    height: 54px;
    }
#nhs_CommResVideo .ad-prev,
#nhs_CommResVideo .ad-next {
    height: 200px !important;
    } 
		
#nhs_RightTopSky,
#nhs_RightBottomSky {
    display: block;
    width: 160px;
    height: 630px;
    }		
#nhs_CommResRightAds {
	display: block;
	margin: 15px 0 0 0;
	position: static;
	z-index: 99999;
	width: 302px;
	height: 534px;	
	}
#nhs_CommResRightAds.fixed,
#nhsAdContainerRight2.fixed {
	position: fixed;
	top: 0;	
	z-index: 99999;
	background: #fff;
	}
#nhsAdContainerRight2.fixed {
	margin-top: 10px;
	}
#nhs_CommResRightAds.absolute,
#nhsAdContainerRight2.absolute {
	position: absolute;
	z-index: 99999;
	background: #fff;
	}
#nhsAdContainerMiddle,
#nhsAdContainerMiddle3 {
	width: 300px;
	height: 250px;
	margin: 0 0 15px 0;
	border: 1px solid #333;
	}
	
.nhs_CommResListBox {
	float: left;
	clear: both;
	width: 950px;
	margin: 24px 0 10px 0;
	padding: 20px 10px 14px;
	border-top: 2px solid #dfe1df;
	background: #fff;
	}
.nhs_CommResListAd {
	float: left;
	width: 310px;
	}
.nhs_CommResListBuilders {
	float: right;
	width: 640px;
	margin-bottom: 10px;
	}
.nhs_CommResListBuilders h4,
#nhs_PartnerContainer .nhs_CommResListBuilders h4 {
	float: left;
	width: 630px;
	padding-bottom: 14px;
	font-size: 116%;
    }
.nhs_CommResListBuilders ul {
	float: left;
	width: 212px;
	margin-left: 0;
	padding: 0;
	list-style-type: none;
	}
.nhs_CommResListBuilders ul li {	
	margin: 0;
	padding: 0 1px 0 0;
	font-size: 100%;
	}
.nhs_CommResListBuilders ul li a {
	margin: 0;
	padding: 0 16px 0 0;
	text-decoration: none;
	}
.nhs_CommResListBuilders ul li a:hover {
	text-decoration: underline;
	}
.nhs_CommResContentBox {
	float: left;
	clear: both;
	width: 950px;
	margin: 0 0 10px 0;
	padding: 20px 10px 14px;
	border-top: 2px solid #dfe1df;
	background: #fff; 
	font-size: 93%;
	}	
	
.nhs_CommResLegal,
#nhs_PartnerContainer .nhs_CommResLegal {
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 10px 0;
	}
	
/* BOYL Results */
	
.nhs_BoylResMainRow {
	float: right;
	margin: 0;
	padding: 12px 0 0 0;
	border-bottom: 1px solid #DCDBD6;
	}
.nhs_Content .nhs_BoylBasicComm h3 {
	float: left;
	margin: 1.4em 0 .3em 0;
	padding: 0;
	font-size: 200%;
	display: inline;
	color: #7d7d7d;
	}
.nhs_Content .nhs_BoylResMainRow h4 {
	float: left;
	margin: 0 0 .25em 0;
	padding: 0;
	font-size: 138.5%;
	display: inline;
	color: #222;
	}
.nhs_Content .nhs_BoylResWebLink {
	float: left;
	margin: .15em 0 .25em .45em;
	padding: 0;	
	}
.nhs_BoylResultsRow {
	float: left;
	width: 786px;
	margin: 0;
	padding: 8px 7px 7px 7px;
	border-top: 1px solid #DCDBD6;
	}
.nhs_BoylResultsRowOn {
	float: left;
	width: 786px;
	margin: 0;
	padding: 7px 5px 5px 5px;  
	cursor: pointer; 
	border: 2px solid #99c0df;
	background-color: #d3dfec;
	}
.nhs_BoylResultsRow a {
    text-decoration: none;
    }	
.nhs_BoylResultsRowOn a,
.nhs_BoylResultsRowOn h5 a {
	text-decoration: underline;
	}
.nhs_BoylResultsRowOn a:hover,
.nhs_BoylResultsRowOn h5 a:hover {
    text-decoration: underline;
	color: #009aec;
	}
.nhs_BoylResultsRow h5 a img,	
.nhs_BoylResultsRowOn h5 a img {
    position: relative;
    top: -3px;
    right: -3px;
    }		
.nhs_BoylResultsRow .nhs_ResultThumbBox  {
	float: left;
	margin: 0 5px 0 0; 
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 180px;
	height: 120px;
	border: 1px solid #ccc;
	}	
.nhs_BoylResultsRow .nhs_ResultThumb {    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 0;
    }	
.nhs_BoylResultsRow .nhs_ResultThumb img {
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 120px;
    }	
.nhs_BoylResultsRow .nhs_ResultThumbBox img.nhs_IconNewWindow {
    position: absolute;
    top: 6px;
    right: 5px;
    }	    
.nhs_BoylBuilderLogo {
	float: left;
	width: 100px;
	height: 70px;
	}
.nhs_BoylBuilderLogo img {
	border: 0;
	}
.nhs_BoylResultsInfo1 {
	float: left;
	width: 382px;
	}
.nhs_BoylResultsInfo1 h5 {
    float: left;
    width: 382px;    
	font-size: 138.5%;
	line-height: 16px;
	margin: 0;
	padding: 0 0 6px 0;	
    }     
.nhs_BoylResultsInfo1 p {
    float: left;
    width: 382px;
    }
.nhs_BoylResultsInfo1 .nhs_ResultBrandAddress {
    margin: 6px 0 0 0;
    }
.nhs_BoylResultsInfo1 .nhs_ResultBrandName {
    float: none;
    display: table-cell;
    height: 40px;
    line-height: 11px;
    vertical-align: middle;
    width: 85px;
    font-weight: bold;
    }    
.nhs_BoylResultsInfo2 {
	float: right;
	width: 216px;
	text-align: center;
	}
	
#nhs_BoylResults .nhs_GroupingBar {
	width: 800px;
	font-size: 108%;
	}
	
.nhs_BoylLegal,
 #nhs_PartnerContainer .nhs_BoylLegal {
	float: left;
	width: 120px;
	margin: 8px 16px 0 5px;
	}
.nhs_BoylResSpotHomes {
	float: left;
	clear: both;
	width: 800px;
	margin: 0 0 5px 0;
	padding: 0;
	background-color: #fff;
	}
.nhs_Content .nhs_BoylResSpotHomes .nhs_ViewAllLink {
	float: left;
	width: 800px;
	margin-bottom: 10px;
	}
.nhs_BoylResSpotHomes .nhs_SpotlightItem {
	float: left;
	width: 118px;
	margin-top: 8px;
	display: inline;
	}
.nhs_BoylResSpotHomes .nhs_SpotHomeImg {
	display: block;
	width: 75px;
	height: 58px;
	border: 1px solid #24619e;
	}
.nhs_BoylResultsRow .nhs_SpotlightItem img {
	width: 75px;
	height: 58px;
	}

.nhs_BoylResSpecialRow {
	float: left;
	display: inline;
	width: 790px;
	margin: 0;
	padding: 8px 0 5px 0;
	border-bottom: 1px solid #e6e5e1;
	}
.nhs_BoylResSpecialRow h3,
.nhs_BoylResSpecialRowOn h3 {
	font-size: 108%;
	}
.nhs_BoylResSpecialRowOn a {
	color: #009aec;
	}
.nhs_BoylResSpecialRowOn {
	float: left;
	display: inline;
	width: 790px;
	margin: 0;
	padding: 8px 0 5px 0;
	border-bottom: 1px solid #e6e5e1;
	}

