/* ---------------------------------------------
Title:      Default MVC Search Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Aug 15 2011
----------------------------------------------- */

#nhs_BasicSearchBox {
	float: left;
	width: 970px;
	margin: 0 0 10px 0;
	padding: 60px 0;
	background-color: #343741;
	background-image: url(/globalresources14/newhomesource/images/homepage/search_background.jpg);
	background-size: auto 728px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	}

#nhs_BasicSearchText,
#nhs_PartnerContainer #nhs_BasicSearchText {
	margin: -8px 0 6px 24px;
	font-size: 197%;
	font-weight: bold;	
	color: #fff;
	text-shadow: 0 0 5px #000;
	}

#nhs_BasicSearchBox fieldset,
#nhs_PartnerContainer #nhs_BasicSearchBox fieldset {
	float: left;
	width: 635px;
	height: 155px;
	font-size: 12px;
    color: #4b4b4b;
	margin-left: 20px;
	padding: 0 0 20px 0;
	line-height: 14px;
	background: rgba(255,255,255,0.95);
	}
#nhs_BasicRequired,
#nhs_PartnerContainer #nhs_BasicRequired {	
	margin: 18px 0 10px 28px;
	}	
#nhs_BasicLocation {
	float: left;
	width: 350px;
	padding: 0 20px;
	}
#nhs_BasicLocation p,
#nhs_BasicPrice p,
#nhs_PartnerContainer #nhs_BasicLocation p,
#nhs_PartnerContainer #nhs_BasicPrice p {
	margin: 3px 0;
	height: 34px;
	}
#nhs_BasicLocation label,
#nhs_BasicPrice label,
#nhs_PartnerContainer #nhs_BasicLocation label,
#nhs_PartnerContainer #nhs_BasicPrice label {
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin-right: 0;
	display: inline-block;
	width: 50px;
	text-align: right;
	}
#nhs_BasicLocation label.nhs_BasicZipLabel,
#nhs_PartnerContainer #nhs_BasicLocation label.nhs_BasicZipLabel {
	width: 50px;
	}
#nhs_BasicPrice label,
#nhs_PartnerContainer #nhs_BasicPrice label {
	width: 75px;
	}
#nhs_BasicLocation select,
#nhs_BasicPrice select,
#nhs_PartnerContainer #nhs_BasicLocation select,
#nhs_PartnerContainer #nhs_BasicPrice select {
	width: 116px;
	}
#nhs_BasicLocation input,
#nhs_PartnerContainer #nhs_BasicLocation input {
	width: 110px;
	}
#nhs_BasicLocation input#Zip,
#nhs_PartnerContainer #nhs_BasicLocation input#Zip {
	width: 85px;
	}
#nhs_BasicPrice {
	float: right;
	width: 195px;
	padding: 0 30px 0 20px;
	}
#nhs_BasicPrice .btn_FindHomes {
	float: right;
	}
#nhs_BasicFormState .field-validation-error {
    margin-left: 53px;
    }
#nhs_BasicFormMarket .field-validation-error {
    margin-left: 150px;
    }
	
#nhs_BasicSearchContent {
	float: right;
	width: 275px;
	height: 155px;
	margin-right: 20px;
	padding: 0 0 20px 20px;
	background: #0091da;
	}
#nhs_SearchOptionsText,
#nhs_PartnerContainer #nhs_SearchOptionsText {
	margin: 18px 0 0 0;
	font-size: 138.5%;
	color: #f2aa18;
	}
#nhs_BasicSearchContent ul,
#nhs_PartnerContainer #nhs_BasicSearchContent ul {
	margin-left: 16px;
	}
#nhs_BasicSearchContent ul li,
#nhs_PartnerContainer #nhs_BasicSearchContent ul li {
	margin: 4px 0 0 0;
	font-size: 108%;
	font-weight: normal;
	color: #f2aa18;
	list-style-type: square;
	}
#nhs_BasicSearchContent a,
#nhs_PartnerContainer #nhs_BasicSearchContent a {
	color: #fff;
	font-weight: normal;
	}
	
#nhs_HomeMarkets.nhs_BasicContentBox {
	background: none;
	border: 0;
	margin: 20px 0;
	width: 960px;
	}
.nhs_BasicContentBox #nhs_HomeMarketsText {
	margin: 0 0 20px 0;
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	color: #5f636a;
	line-height: 1.2;
    }
.nhs_BasicContentBox #nhs_HomeMarketsText > span {
	font-weight: bold;
	color: #343741;
    }
#nhs_HomeMarkets.nhs_BasicContentBox  > ul {
	float: left;
	list-style: none;
	width: 32%;
	margin: 0 0 0 1%;
	padding: 0;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
    }
#nhs_HomeMarkets.nhs_BasicContentBox  > ul  li {
	margin-bottom: 10px;
    }	
	
#nhs_BasicSpotlight {
	float: left;
	width: 668px;
	padding-bottom: 10px;
	}
	
#nhs_BasicAd {
	float: right;
	width: 302px;
	}
	
#nhs_BasicSpotTitle {
	font-size: 30px;
	font-weight: normal;
	color: #0091da;
	}
#nhs_BasicSpotTitle span {
	font-size: 32px;
	color: #0091da;
	}
.nhs_Spotlight {
	float: left;
	width: 970px;
	height: 170px;
	margin: 0;
	padding: 0;
	background: #fff;
	}	
.nhs_SpotlightItem {
	float: left;
	margin: 10px 5px 15px 0;
	padding: 0;
	width: 161px;
	}
.nhs_SpotlightItem p strong {
	font-size: 116%;
	}
.nhs_SpotlightItem p {
	font-size: 100%;
	margin-left: 3px;
	margin-right: 3px;
	}
.nhs_SpotlightItem p > img { /* video icon */
	margin: 0 0 0 7px;
	}
.nhs_SpotlightItem .nhs_ResultThumbBox {
    width: 156px;
    height: 105px;
	margin: 0 0 5px 0;
    }	
.nhs_SpotlightItem .nhs_ResultThumb {
    width: 154px;
    height: 103px;
    overflow: hidden;
    }	
.nhs_SpotlightItem .nhs_ResultThumb img {
    width: 154px;
    height: auto;
    }    
.nhs_SpotlightItem .nhs_SpotHotHomeCommName,
#nhs_PartnerContainer .nhs_SpotlightItem .nhs_SpotHotHomeCommName {
	color: #de5401;
	padding: 0 0 0 14px;
	background: url(/globalresourcesmvc/default/images/icons/hot_homes.png) no-repeat left top;
	}
	
#nhs_Spotlight {
    position: relative;
    min-height: 350px;
    }
#nhs_SpotlightCommunitiesCarousel {
    margin: 0 auto;
    }
#nhs_Spotlight .nhs_SpotlightItem {
    display: block;
	width: 156px;
	margin: 0 10px;
    }	
#nhs_Spotlight a.bigprev,
#nhs_Spotlight a.bignext {
    position: absolute;
    width: 34px;
    height: 0;
    margin: -100px 0 0 0;
    padding: 200px 0 0 0;
    left: 5px;
    top: 50%;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/mediaplayer/main_arrow_left.png) no-repeat left 50%;
    z-index: 99;
    cursor: pointer;
    } 
#nhs_Spotlight a.bignext {
    left: auto;    
    right: 5px;    
    background: url(/globalresourcesmvc/default/images/mediaplayer/main_arrow_right.png) no-repeat right 50%;
    } 	
	
/* =QuickMoveIn Search */

#nhs_QuickMoveSearch h2 {
    font-size: 123.1%;
    margin: 10px 0;
    }
.nhs_QuickMoveDesc,
#nhs_PartnerContainer .nhs_QuickMoveDesc {
    margin-bottom: 20px;
    }
.nhs_QuickMoveSearch1 {
	float: left;
	width: 300px;
	padding-right: 10px;
	border-right: 1px solid #e4ebf2;
	}
.nhs_QuickMoveSearch2 {
	float: right;
	width: 480px;
	}
.nhs_QuickMoveSearch2 p {
    margin: 0 0 1em 0;
    }
.nhs_QuickMoveSearch2 ul {
    margin: 0 0 1em 0;
    padding-left: 20px;
    }	
.nhs_QuickMoveSearch1 h3 {
    font-size: 123.1%;
    margin: 10px 0;
    }
.nhs_CustomBox {
    float: left;
    width: 300px;
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
    background-color: #0091da;
}
.nhs_CustomBox form {
	background-color: #0091da;
	}
.nhs_CustomBox .field-validation-error,
#nhs_PartnerContainer .nhs_CustomBox .field-validation-error {
    padding: 5px 0 0 5px;
    }
.nhs_CustomBox .btn_FindBuilders,
#nhs_PartnerContainer .nhs_CustomBox .btn_FindBuilders {
	float: left;
	margin: 5px 0 10px 81px;
	}
.nhs_CustomBox label {
	display: block;
	float: left;
	width: 75px;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #fff;
	font-size: 120%;
	font-weight: bold;		
	}
#nhs_QuickMoveSearch .nhs_CustomBox label {
    width: 95px;
    }
#nhs_QuickMoveSearch .nhs_CustomBox .btn_FindHomes {
    margin: 0 0 10px 100px; 
    }
.nhs_CustomBox .label {
	display: block;
	width: 72px;
	margin: 4px 0;
	color: #fff;
	font-size: 120%;
	font-weight: bold;			
	text-align: right;
	}	
.nhs_CustomBox .separate {
	display: block;	
	color: #fff;	
	font-weight: bold;				
	width:2px;
	}
.nhs_Content .nhs_CustomBox fieldset p,
#nhs_PartnerContainer .nhs_Content .nhs_CustomBox fieldset p {
	display: block;
	float: left;
	width: 300px;
	margin: 0 0 .45em 0;
	}
#nhs_QuickMoveSearch .nhs_BoylSearchArea {
    width: 180px;
    }
.nhs_CustomBox #PriceLow,
.nhs_CustomBox #PriceHigh {
    width: 95px;
    }
.nhs_CustomBox .nhs_Error {
	margin-left: 5px;
	}
	
/* =Mortgage Calculator */

#nhs_MortgageCalc h1,
#nhs_MortgageCalc h2 {
	font-size: 123.1%;
    margin: 10px 0;
	}
.nhs_CalculatorBox {
    float: left;
	width: 280px;
	margin: 0 0 20px 0;
}
.nhs_Content .nhs_CalculatorBox fieldset p {
	display: block;
	float: left;
	width: 280px;
	margin: 0 0 .45em 0;
	color: #fff;
	}
.nhs_CalculatorBox label {
	display: block;
	float: left;
	width: 140px;	
	margin: 0 6px 0 0;
	_margin-right: 2px;
	text-align: right;
	color: #fff;
	font-size: 100%;
	font-weight: bold;		
	}
.nhs_CalculatorBox .label,
.nhs_CalculatorBox .value {
	display: block;
	float: left;
	width: 140px;
	margin: 2px 0;
	color: #fff;
	font-size: 100%;
	font-weight: bold;			
	text-align: right;
	}
.nhs_CalculatorBox .value {	
	color: #000;	
	}
.nhs_CalculatorBox input {
    width: 85px;
	}
.nhs_CalculatorBox .btn_Calculate {
	float: right;
	margin: 6px 50px 0 0;
	}
  	
.hgddlwidth
{
	width:140px;
}
	
.errAlign
{
	padding-left:30px;
}
	
/* =Advanced Search */
#nhs_AdvSearch h2 {
    font-size: 123.1%;
    margin: 10px 0;
    }
#nhs_AdvSearch p {
    margin: 10px 0;
    }
#nhs_AdvSearch form {
    margin-top: 20px;
    }
    
#nhs_AdvSearch .nhs_NoLocation {
    display:none;
    }
    
/* =Advanced Location */	
.nhs_AdvLocation,
.nhs_AdvFeatLeft {
	float: left;
	width: 340px;
	}
#nhs_AdvSearch .nhs_AdvLocation p,
#nhs_AdvSearch .nhs_AdvFeatures p {
	display: block;
	float: left;
	width: 340px;
	margin: 0 0 10px 0;
	}
#nhs_AdvSearch .nhs_AdvFeatRight p {
	width: 445px;
	}
.nhs_AdvLocation label,
.nhs_AdvFeatLeft label {
	display: block;
	float: left;
	width: 7em;	
	margin: 0 6px 0 0;
	text-align: right;	
	font-size: 108%;
	font-weight: bold;
	}
.nhs_AdvLocation .label {
	display: block;
	width: 7em;
	text-align: right;
	}
	
/* =Advanced Amenities */	
.nhs_AdvAmenities,
.nhs_AdvFeatRight {
	float: right;
	width: 445px;
	}
#nhs_AdvSearch .nhs_AdvAmenities p {
	display: block;
	float: left;
	width: 445px;
	margin: 0 0 10px 0;
	}
.nhs_AdvAmenities p > label,
.nhs_AdvFeatRight p > label {
	display: block;
	float: left;
	width: 9em;	
	margin: 0 6px 0 0;
	text-align: right;
	font-size: 108%;
	font-weight: bold;
	}
#nhs_AdvSearch .nhs_AdvAmenities .label,
#nhs_AdvSearch .nhs_AdvStatusOffer .label {
	display: block;
	float: left;
	width: 9em;	
	margin: 0 6px 0 0;
	padding: 0;
	text-align: right;
	font-size: 108%;
	font-weight: bold;
	}
.nhs_AdvAmenList,
.nhs_AdvStatusList {
	display: block;
	float: left;
	}
	
.nhs_AdvFeatures {
	clear: both;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #eee;
	}
.nhs_AdvCommunity,
.nhs_AdvBuilder {
	width: 312px;
	}
	
.nhs_AdvButtonsLeft {
	display: block;
	float: left;
	margin: 0;
	padding: 20px 0 0 20px;
	}
.nhs_AdvButtonsRight {
	float: right;
	text-align: right;
	margin: 10px 0 0 0;
	}
.nhs_AdvButtonsRight p a{
    cursor: pointer;
	}	
#nhs_AdvSearch .nhs_AdvButtonsRight p {
	margin: 5px 0 0 0;
	}
	
#nhs_AdvSearch .nhs_AdvStatusOffer label {
	display: inline;
	float: none;
	}

/*
#nhs_LocationHandler .nhs_GroupingBar {
    font-size: 135%;
    margin: 2px;
    padding: 5px 5px 5px 9px;
    width: 786px;
    }
#nhs_LocationHandler h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #4b4b4b;
    }
#nhs_LocationHandler h3 {
    font-size: 18px;
    margin: 10px 0;
    }    
#nhs_LocationHandler p {
    margin: 10px 0;
    }  
#nhs_LocationSearchArea {
    float: left;
    margin: 10px 0 0;
    width: 480px;
    }
#nhs_LocationSearchArea p {
    float: left;
    margin: 0;
    padding: 0;
    }
#nhs_LocationSearchArea .locationField {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #666666 -moz-use-text-color #666666 #666666;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    display: inline;
    float: left;
    font-size: 116%;
    height: 17px;
    margin: 1px 0 0;
    padding: 6px 0 6px 5px;
    width: 325px;
    }
#nhs_LocationSearchArea .btnFindHomes, #nhs_PartnerContainer #nhs_LocationSearchArea .btnFindHomes {
    background: url(/globalresourcesmvc/newhomesource/images/buttons/find_homes.png) no-repeat scroll left top transparent;
    border: 0 none;
    display: inline;
    float: left;
    height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 33px 0 0;
    width: 117px;
    }
#nhs_LocationSearchArea select {
    border: 1px solid #666666;
    display: inline-block;
    font-size: 100%;
    margin: 10px 25px 0 0;
    padding: 0;
    width: 150px;
    }
#nhs_LocationAd {
    float: right;
    margin: 10px 0;
    width: 302px;
    }
.nhs_LocationMarket {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    }
.nhs_LocationMarket ul {
    float: left;
    width: 27%;
    margin-right: 2%;
    padding-left: 20px;
    }
.nhs_LocationMarket ul li {
    float: left;    
    margin-right: 0;
    margin-bottom: 4px;
    width: 100%;
    }    
#nhs_LocationHandler .nhs_IndexContentLeft {
    float: left;
    width: 430px;
    } */