﻿/* ---------------------------------------------
Title:      Default MVC Siteindex Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Nov 10 2011
----------------------------------------------- */

/* Site Index and Globals */

.nhs_IndexContent {
    font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    color: #7d7d7d;
    }

.nhs_IndexContentTop {
	float: left;
	width: 800px;
	margin: 0 0 18px 0;
	padding: 0;
	text-align: left;
	}
.nhs_IndexContentTop h1 {
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Verdana,Arial,Helvetica,sans-serif;    
	font-size: 24px;
	font-size: 1.5rem;
	color: #4b4b4b;
	margin: 0 0 .25em 0;
	padding: 0;
	} 
.nhs_IndexContentTop h1 strong {
    font-weight: normal;
    }	
.nhs_IndexContentTop div {
    float: left;
    width: 550px;
    }
.nhs_IndexContentTop a {
	width: 220px;
	padding: 5px 0;
	float: right;
	}
.nhs_IndexContentTop .nhs_IndexContentTopLinks {
    width: 220px;
	padding: 5px 0;
	float: right;
    }
	
.nhs_IndexContentLeft {
	width: 385px;
	float: left;
	margin: 0;
	padding: 0 0 10px 0;
	}
.nhs_IndexContentLeftTop {
    background: #0091da;
    color: #fff;
    float: left;
    margin: 0 0 10px 0;
    padding: 0 0 10px 10px;
    width: 375px;
    }
.nhs_IndexContentRight {
	width: 400px;
	float: left;
	margin: 5px 0 0 10px;
	padding: 0 0 10px 0;
	text-align: left;
	}
.nhs_IndexContentWide {
    width: 800px;
	float: left;
	margin: 5px 0 0 0;
	padding: 0 0 10px 0;
	text-align: left;
    }

.nhs_IndexHeading,
.nhsIndexHeading {	
	margin: 8px 0 12px 0;
	color: #4b4b4b;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Verdana,Arial,Helvetica,sans-serif;    
	font-size: 20px;
	font-size: 1.25rem;
	clear: both;
	}	

.nhs_IndexContentLeftTop .nhs_IndexHeading,
.nhs_IndexContentLeftTop a,
.nhs_IndexContentLeftTop a:link,
.nhs_IndexContentLeftTop a:active,
.nhs_IndexContentLeftTop a:visited {		
	color: #fff;
	}
.nhs_IndexContentLeft p,
.nhs_IndexContentRight p {
    margin: 0 0 5px 8px;
    }
.nhs_IndexContentRight ul {
    list-style-type: none;
    margin: 0;    
    padding-left: 10px;
    }
 /*.nhs_IndexContentRight ul li {
    margin: 0 0 5px 8px; 
    }  */
.nhs_IndexContentBottom {
    width:800px; 
    float:left;
    }
.nhs_IndexList {
    list-style-image: none;
    list-style-type: none;
    line-height: 1;
	margin: 0;
	padding: 0 0 10px 10px;
	width: 32%;
	float: left;   
    }
.nhs_IndexList li {
    margin-bottom: 7px;
    }
.nhs_IndexBox,
.nhs_IndexBox h4 {
    clear:both;
    }
    
.nhs_IndexParagraph {
    font-weight: normal;
    margin: 2px 0 5px 0;
    }
	
/* End Site Index */
/* State Index */

.nhs_StateIndexHeader {
	float: left;
	width: 600px;
	padding: 20px 5px 10px 0;
	}
.nhs_StateIndexLinks {
	float: right;
	width: 190px;
	padding: 45px 5px 0 0;
	}
#nhs_StateIndex h1,
#nhs_BrandStateIndex h1 {
	font-size: 170%;
	}
	
#nhsStateIndexMap img {
    max-width: none;
    }	
	
.nhs_StateIndexSearchBox {
	float: left;
	width: 365px;
	background: #0091da;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 10px 10px 20px 10px;
	}
.nhs_StateIndexSearchBox fieldset {
	margin: 0;
	padding: 0;
	}
#nhs_StateIndex .nhs_StateIndexHeading {
    font-size: 108%;
    margin: 10px 0;
    }
#nhs_StateIndex .nhs_StateIndexSearchBox .nhs_StateIndexHeading,
#nhs_BrandStateIndex .nhs_StateIndexSearchBox .nhs_StateIndexHeading,
#nhs_BrandStateIndex .nhs_StateIndexHeading,
#nhs_StateAmenity .nhs_StateIndexHeading {
    font-size: 108%;
	margin: 0;
	padding: 0 0 10px 0;
	}
.nhs_StateIndexSearchBox p,
#nhs_PartnerContainer .nhs_StateIndexSearchBox p {
    margin: 2px 0 5px 0;
    }
.nhs_StateIndexSearchBox label {
	float: left;
	width: 160px;
	font-size: 108%;
	font-weight: bold;
	text-align: right;
	margin-right: 5px;
	}
.nhs_StateIndexSearchBox input {
	float: left;
	display: block;
	}
.nhs_StateIndexSearchBox label.nhs_WhiteItalicText {
    font-size: 10px; 
    font-weight: normal; 
    font-style: italic;
    }
.nhs_StateIndexSearchBox .btn_FindHomes,
#nhs_PartnerContainer .nhs_StateIndexSearchBox .btn_FindHomes {
	margin-left: 165px;
	}	
	
.nhs_StateIndexResults .nhs_CommResRow {
    width: 381px;
    padding: 8px 2px;
    }		
.nhs_StateIndexResults .nhs_CommResRowOn {
    width: 381px;
    padding: 7px 0 6px 0;
    }		
.nhs_StateIndexResults .nhs_ResultNamePrice {
    width: 194px;
    }
.nhs_StateIndexResults .nhs_CommResRow h2 {
    width: 194px;
    }
.nhs_StateIndexResults .nhs_ResultPrice {
    margin: 0;
    }
.nhs_StateIndexResults .nhs_ResultBrandAddress {
    width: 64px;
    }
.nhs_StateIndexResults .nhs_ResultCommStatus {
    margin: 0;
    width: 194px;
    }    
	
.nhs_StateIndexMarkets {
	float: left;
	margin: 10px 0 0 10px;
	padding: 0;
	}
.nhs_StateIndexMarkets .nhs_StateIndexHeading {
    margin: 10px 0;
    }
.nhs_StateIndexMarkets ul {
	list-style-image: none;
	padding: 0;
	}
.nhs_StateIndexMarkets ul li {
    margin: 0;
	padding-bottom: 5px;
	}
.nhs_StateIndexMarkets ul li a {
	text-decoration: none;
	font-size: 90%;
	}
.nhs_StateIndexMarkets ul li a span {
	font-size: 110%;
	margin-right: 4px;
	}
.nhs_StateIndexMarkets ul li a:hover span,
#nhs_StateAmenity .nhs_StateIndexMarkets ul li a:hover,
#nhs_BrandStateIndex .nhs_StateIndexMarkets ul li a:hover {
	text-decoration: underline;
	}		

#nhs_StateBrowseDiv {
	float: left;
	width: 800px;
    border: 1px solid #bababa;
    border-top: 0;
    margin-bottom: 5px;
    overflow: auto;
    position: relative;
	}
#nhs_StateIndex .nhs_Tabs,
#mv_Container #nhs_StateIndex .nhs_Tabs {
    margin-bottom: 0;
    }
#nhs_StateIndex .nhs_IndexBox,
#nhs_BrandStateIndex .nhs_IndexBox,
#nhs_StateAmenity .nhs_IndexBox {
	float: left;	
	margin: 0 0 5px 0;
	padding: 10px;
	position: relative;
	width: 760px;
	}	
#nhs_StateIndex .nhs_IndexBox h2 {
	margin: 0 0 10px 0;
	font-size: 108%;
	}
#nhs_StateIndex .nhs_IndexList {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0 10px 20px 0;
	width: 31%;
	float : left;
	}

#nhs_StateIndex .nhs_IndexList2 {
	width: 48%;
	}
	
.nhs_IndexStGolfCourse,
.nhs_IndexStWaterfront,
.nhs_IndexStCondoTown {
	float: left;
	margin: 0 0 5px 5px;
	padding: 0 0 0 0;
	width: 193px; /*248px;*/
	height: 45px;
	border: 0px solid;
	display: inline;
	}
.nhs_IndexStGolfCourse a,
.nhs_IndexStWaterfront a,
.nhs_IndexStCondoTown a {
	float: left;
	margin: 0 0 5px 0;
	padding: 0 0 0 48px;
	width: 145px; /*200px;*/
	height: 45px;
	border: 0px solid;
	display: inline;
	}
.nhs_IndexStGolfCourse {	
	background: url(/globalresourcesmvc/default/images/icons/icon_se_golf.gif) no-repeat left 0;	
	}
.nhs_IndexStWaterfront {	
	background: url(/globalresourcesmvc/default/images/icons/icon_se_water.gif) no-repeat left 0;	
	}
.nhs_IndexStCondoTown {	
	background: url(/globalresourcesmvc/default/images/icons/icon_se_condo.gif) no-repeat left 0;	
	}

/* End State Index */

.nhs_IndexMap {
    float: right;
    }
.nhs_IndexBldrLogo {
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
	text-align: center;
	}	
.nhs_IndexBldrLogo * {
    clear: both;
    margin: 0 auto !important;
	text-align: center;
	}

.nhs_ListHomesContent {
	float: left;
	width: 740px;
	margin-top: 30px;
	}
#nhs_ContactBdxForm {
	float: right;
	width: 200px;
	background: #0091da;
	color: #fff;
	font-size: 12px;
	margin-top: 30px;
	padding:14px 10px 17px 8px;
	}
#nhs_ContactBdxForm .nhs_AdvertFormSuccess {
	font-size: 16px;
	font-weight:bold;  
	color:#ffce34;
	}

#nhs_AdvertForm {
	float: right;
	border:none;
	color:#fff;
	width:200px;		 
}
#nhs_AdvertForm fieldset {
	width:200px;
	margin:0 auto;
	font-size: 12px;
	border:none;
	padding: 0;
}
#nhs_AdvertForm .error{
	color: red;
	display: block;
	}
#nhs_AdvertForm legend {
	font-size: 16px;
	font-weight:bold; 
	padding:0 0 4px 50px; 
	color: #ffce34;
}

#nhs_AdvertForm p {
	width:200px;
	padding:5px 0;
	clear: both;
	background: none;	
}
#nhs_AdvertForm p label{
	float: left;
	text-align:right;
	width:80px;
	line-height: 18px;
	background: none;
}
#nhs_AdvertForm #interested {
	width:175px;
	text-align:left;
	padding-left:25px;
}

#nhs_AdvertForm p input{
	float: right;
	border:solid 1px #CCC;
	width:114px;
	
}
#nhs_AdvertForm p textarea{
	width: 114px;
	height: 42px;
	float: right;
	border:solid 1px #CCC;
	color:#090C0D;
	font-size:11px;
	margin-bottom:5px;
}
#nhs_AdvertForm p select{
	width: 116px;
	float: right;
	border:solid 1px #CCC;
	font-size:11px;
}
#nhs_AdvertForm #Send {
	float: right;
	border:none;
	width:65px;
	height:22px;
	color: #000;
	padding: 4px 8px;
	font-weight: bold;
	background-color:#ffce34;
	font-size:12px;
	border-radius: 3px;
	/*background-image:url(../images/defaults/bg_send.gif); 
	background-repeat:no-repeat;*/
}
#nhs_AdvertForm #Send:hover {
	text-decoration:underline;
}

#nhs_AdvertForm  .validation-summary-errors {
	float: left;
	width: 196px;
	margin-top: 10px;
	border: 2px solid red;
	background: #fff;
	}
	
/* PPC Landing */

#nhs_PpcContainer {
    margin: 0 auto;
    width: 745px;
    background: #fff;
    }
    
#nhs_PpcContainer #nhs_PpcHeader {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 222px;
    background: url(/GlobalResourcesMvc/NewHomeSource/images/backgrounds/ppc_landing_header.jpg) no-repeat top left;
    }
#nhs_PpcContainer.mv_PpcContainer #nhs_PpcHeader {
    background: url(/GlobalResourcesMvc/Move/images/backgrounds/ppc_landing_header.jpg) no-repeat top left;
    }
#nhs_PpcContainer #nhs_PpcHeader header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    }
#nhs_PpcContainer.mv_PpcContainer #nhs_PpcHeader header {
    height: 65px;
    }
#nhs_PpcContainer .nhs_PpcLogo {
    float: left;
    padding: 12px 0 0 20px;
    }
#nhs_PpcContainer .mv_PpcLogo {
    float: left;
    padding: 5px 0 0 20px;
    }
#nhs_PpcContainer a.nhs_TourLink {
    float: right;
    padding: 5px 20px 0 0;
    color: #fff;
    text-decoration: none;
    }
#nhs_PpcContainer a:hover.nhs_TourLink {    
    text-decoration: underline;
    }
    
    
#nhs_PpcContainer #nhs_PpcSearchBox {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 636px;
    height: 146px;
    background: url(/GlobalResourcesMvc/NewHomeSource/images/backgrounds/ppc_landing_box.png) no-repeat top left;
    }    
#nhs_PpcContainer #nhs_PpcSearchBox p {
    font-size: 18px;
    margin: 0;
    padding: 12px 20px;
    overflow: hidden;
    display: inline-block;
    }
#nhs_PpcContainer #nhs_PpcSearchBox p strong {
    font-family: Arial Black,Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #25619f;
    }
#nhs_PpcContainer #nhs_PpcSearchBox p span {
    font-size: 30px;
    font-weight: bold;
    color: #25619f;
    line-height: 0.9;
    margin-top: 10px;
    display: inline-block;
    }   
#nhs_PpcContainer.mv_PpcContainer #nhs_PpcSearchBox p strong, 
#nhs_PpcContainer.mv_PpcContainer #nhs_PpcSearchBox p span {    
    color: #000;   
    }    
.btn_StartBrowsing {
    position: absolute;
    right: 0;
    bottom: 3px;
    background: url(/globalresourcesmvc/newhomesource/images/buttons/start_browsing_homes_now.png) no-repeat left top;
	width: 280px;
	height: 54px;
	padding: 54px 0 0 0;
    }
.mv_PpcContainer .btn_StartBrowsing {
    background: url(/globalresourcesmvc/move/images/buttons/start_browsing_homes_now.png) no-repeat left top;
	 }
    
#nhs_PpcContainer aside {
    float: left;
    clear: both;
    width: 660px;
    margin: 20px 0 12px 42px;
    padding: 0 0 10px 0;
    border: 1px solid #8cb8db;
    }
#nhs_PpcContainer aside p {
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 8px 0 12px 0;
    } 
#nhs_PpcContainer aside ul {
    display: inline-block;
	list-style-type: none;
	margin: 0;
    }
#nhs_PpcContainer aside ul li {
    display: inline;
	float: left;
	margin: 0 10px;
	padding: 0;
	background: #fff;		
	overflow: hidden;
	max-width: 200px;
	width: 200px;
	height: 65px;
	line-height: 65px;
	font-size: 77%;
	text-align: center;
    }
#nhs_PpcContainer aside ul li a img {
    max-width: 200px;
	vertical-align: middle;
    }
	
#nhs_PpcContainer section img {
    float: left;
    padding: 0 0 0 18px;
    }
#nhs_PpcContainer section p {
    float: right;
    width: 300px;
    font-size: 16px;
    color: #000;
    margin-right: 24px;
    margin-top: 22px;
    }
#nhs_PpcContainer section p a {    
    font-size: 14px;
    font-weight: bold;
    }
   
#nhs_PpcContainer footer {
    text-align: center;
    font-size: 10px;
    color: #0091da;
    padding: 45px 0 25px 0;
    }
#nhs_PpcContainer footer p {
    width: 600px;
    margin: 0 auto;
    line-height: 1;    
    }
#nhs_PpcContainer footer a {
    color: #0091da;
    text-decoration: none;
    }
