﻿.nhsStaticContent,
.nhs_StaticContent {
    
    }
.stNumber {
	color:White;
	position:absolute;
	top:7px;
	left:12px;
	font-size:20px;
    }
.stNumberPath {
	color:Red;	
	font-size:12px;
	background-color:Black;
    }
.nhsStaticContent .stmark,
.nhs_StaticContent .stmark {
	background-image:url(/GlobalResourcesMvc/Default/images/overlays/stnumber.png);	
	position:relative;
	left:-5px;
	top:-5px;
	cursor:pointer;
	height:35px;
	width:auto;
	display:none;
	text-decoration:none;
	background-repeat:no-repeat;
    }
.nhs_Content .nhsPartnerCol1, .nhs_Content nhsPartnerCol2 {
    float: left;
    width: 400px;
    }
    
.nhs_SiteHelp h1, .nhs_SiteHelp h2, .nhs_SiteHelp h3, .nhs_SiteHelp h4, .nhs_SiteHelp h5, .nhs_SiteHelp h6 {
    font-size: 105%;
    margin: 0.65em 0;
    padding: 0;
    }

.nhs_SiteHelp h2 {
    font-size: 125%;
    }
    
.nhs_SiteHelp p {
    margin: 0.65em 0;
    padding: 0;
    }
.nhs_SiteHelp ul,
.nhs_SiteHelp ol {
    margin: 0.65em 0;
    padding: 0 0 0 20px;
    }    

/*
.nhsContent h2 {
    font-size: 125%!important;
    }

.nhsContent h1, .nhsContent h2, .nhsContent h3, .nhsContent h4, .nhsContent h5, .nhsContent h6 {
    font-size: 105%;
    margin: 0.65em 0;
    padding: 0;
    }
.nhsContent {    
    clear: both;
    display: inline;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    margin: 5px 5px 5px;
    padding: 0;
    text-align: left;
    width: 800px;
    }
#nhsSectionMain {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    min-height: 450px;
    padding: 10px!important;
    width: 970px;
    }

#nhsHelp p {
    margin: 0.69em 0;
    }

.nhsContent p {
    margin: 0.25em 0 0.45em;
}
#nhsHelp ul {
    margin: 0.65em 0;
    padding-left: 30px;
}

.nhsContent p, .nhsContent td {
    font-size: 90%;
}
.nhsContent blockquote
{
    padding-left:41px;
    padding-bottom:5px;
    }
.nhsContent ul {
    list-style-image: url("/globalresources/default/images/blue_arrow.gif");
    list-style-type: none;
    margin: 0 0 0.45em;
    padding-left: 15px;
}

.nhsContent  ol {
    margin-left: 3.2em;
}

.nhsGroupingBar, h3.nhsGroupingBar {
    background: url("/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png") repeat-x scroll left top #0E388F;
    color: #FFFFFF;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin: 2px 0 5px;
    padding: 5px 5px 5px 9px;
    width: 636px;
}

*/
