/* ---------------------------------------------
Title:      Full Image Viewer Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
Updated:    Mar 16 2015
----------------------------------------------- */
   
.nhs_BigMediaBox {
	width: 100%;
	height: 100%;
	background: rgba(75,75,75,0.97);
	background: rgba(55,55,55,0.98);
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

.nhs_Close {
	position: absolute;
	top: 0;
	right: 0;
	
	display: block;
	width: 50px;
	height: 0;	
	padding: 50px 0 0 0;
	background: url(/GlobalResourcesMvc/Default/images/mediaplayer/icon-close.png);  
	cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    overflow: hidden;
}

.nhs_BigMediaHeader {
	width: 98%;
	max-width: 990px;
	margin: 0 auto;
	padding: 8px 1% 8px 1%;
	
	position: relative;
	background: transparent;
}
.nhs_BigMediaHeader > div {
	float: left;	
}
.nhs_BigMediaHeader > div > p {
	font-size: 12px;
	font-size: 0.75rem;
}
.nhs_BigMediaHeader > div > p strong {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 12px;    
}
.nhs_BigMediaHeader > div > p.nhs_Title,
.nhs_BigMediaHeader > div > .nhs_Title {
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-size: 1.4rem;
	margin: 0;
    padding: 0;
}
.nhs_BigMediaHeader > div > .nhs_Title a:first-child { 
    color: #fff;
    text-decoration: none;
}
.nhs_BigMediaHeader > div > .nhs_Title a.nhs_Save {	
	display: inline-block;
	width: 24px;
	height: 0;
	padding: 20px 0 0 0;
	margin-bottom: -3px;
	overflow: hidden;
	background-size: 22px 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/heart_open@2x.png);
}
.nhs_BigMediaHeader > div > .nhs_Title a.nhs_Save:hover {	
	background-image: url(/globalresources14/default/images/icons/heart_over@2x.png);
}
.nhs_BigMediaHeader > div > .nhs_Title a.nhs_Save:active {	
	background-image: url(/globalresources14/default/images/icons/heart_over_down@2x.png);
}
.nhs_BigMediaHeader > div > .nhs_Title .nhs_Saved,
.nhs_BigMediaHeader > div > .nhs_Title a.nhs_Saved {	
	display: inline-block;
	width: 24px;
	height: 0;
	padding: 20px 0 0 0;
	margin-bottom: -3px;
	overflow: hidden;
	background-size: 22px 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/heart_save@2x.png);
}

.nhs_BigMediaHeader .btn_FreeBrochure {
	float: right;
	margin-top: 4px;
	margin-left: 10px;
}

.nhs_BigMediaPlayer {
	width: 100%;
	max-width: 1500px;
	height: 100%;
	/*max-height: 800px;*/
	margin: 0 auto;
	border: 0 solid #fff;
	position: relative;
	
	text-align: center;
	background: #000;
	background: none;
	background-image: url(/globalresources14/default/images/icons/nhs_loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nhs_BigMediaPlayer img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.nhs_BigMediaPlayer img[data-type="l-flp"],
.nhs_BigMediaPlayer img[data-type="l-ev"],
.nhs_BigMediaPlayer img[data-type="l-vt"] {
    cursor: pointer;
    border: 3px solid #0091da;
}

/* Modal Form */
.nhs_BigMediaPlayer div.nhs_ModalBox {
    margin: 0 auto;
    min-width: 768px;
    height: auto;
    min-height: 415px;
    text-align: left;
}
.nhs_BigMediaPlayer div.nhs_ModalBoxLeft {
    min-height: 418px;
    height: auto;
}
.nhs_BigMediaPlayer div.nhs_ModalBox > a:first-child {
    display: none;
}
.nhs_BigMediaPlayer .nhs_ModalBoxLeft p.nhs_Brochure {
    margin-top: 5px;
}
.nhs_ModalBoxLeft .nhs_ItemImages {
    margin-top: 8px;
    margin-bottom: 25px;
}
.nhs_ModalBoxLeft .nhs_ItemImages img {
    max-height: 170px; 
}
.nhs_BigMediaPlayer .nhs_ModalBoxRight {
    padding-top: 18px;
}
.nhs_BigMediaPlayer .nhs_ModalBox1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nhs_BigMediaPlayer embed,
.nhs_BigMediaPlayer iframe,
.nhs_BigMediaPlayer object {
	position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
	max-width: 1500px;
	}
.nhs_BigMediaControls a {
	position: absolute;
	right: 0;
	top: 50%;
	
	display: block;
	width: 42px;
	height: 0;
	margin: -21px 0 0 0;
	padding: 42px 0 0 0;
	background-position: 50% 50%;
	background-color: rgba(0,0,0,0.6);
	background-image: url(/globalresourcesmvc/default/images/mediaplayer/right-arrow.png);
	overflow: hidden;
	cursor: pointer;
	}
.nhs_BigMediaControls a:first-child {	
	left: 0;
	right: auto;
	background-image: url(/globalresourcesmvc/default/images/mediaplayer/left-arrow.png);	
	}
.nhs_BigMediaControls a:hover {	
    background-color: rgba(0,0,0,1.0);
    }

.nhs_BigMediaThumbsBox {
	display: block;
	width: 100%;
	max-width: 1090px;
	height: 86px;
	padding: 40px 0 5px 0;
	
	position: static;
	position: relative;
	bottom: 0;
	margin: 0 auto;
	
	background: transparent;
}

.nhs_BigMediaCaption {
    position: absolute;
    bottom: 100px;
    left: 50px;
        
    /*max-width: 320px;*/
    max-width: 50%;
    text-align: left;
    
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    text-shadow: 0 0 3px #000;
}  
    
.nhs_BigMediaIconsBar {
    height: 30px;
    position: absolute;
    top: 6px;
    right: 50px;    
}
.nhs_BigMediaIconsBar ul {
    display: inline-block;
    height: 30px;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
}   
.nhs_BigMediaIconsBar ul li {
    display: inline-block;
    height: 30px;
    margin: 0 0 0 5px;
}        
.nhs_BigMediaIconsBar ul li a {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 20px;
    margin: 0;
    padding: 5px 0 5px 32px;
    color: #bababa; 
    text-decoration: none;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    
    background: url(/globalresourcesmvc/default/images/mediaplayer/icon-video.png) no-repeat left 50%;
}
.nhs_BigMediaIconsBar ul li a:hover,
.nhs_BigMediaIconsBar ul li a.active {
    width: 42px;
    color: #fff;
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-video-active.png);
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsImage a {
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-photo.png);
}
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsImage a:hover,
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsImage a.active {
    width: 50px;
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-photo-active.png);
} 
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsTour a {
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-tours.png);
}
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsTour a:hover,
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsTour a.active {
    width: 40px;
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-tours-active.png);
} 
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsFloorPlan a {
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-floorplan.png);
}
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsFloorPlan a:hover,
.nhs_BigMediaIconsBar ul li.nhs_BigMediaIconsFloorPlan a.active {
    width: 65px;
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/icon-floorplan-active.png);
}   

.nhs_BigMediaThumbsBox .bx-wrapper {
	margin: 0;
	padding: 0 50px;
}
.nhs_BigMediaThumbsBox .bx-wrapper .bx-next,
.nhs_BigMediaThumbsBox .bx-wrapper .bx-prev {
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/right-arrow.png);	
}
.nhs_BigMediaThumbsBox .bx-wrapper .bx-prev {
    background-image: url(/globalresourcesmvc/default/images/mediaplayer/left-arrow.png);	
}
.nhs_BigMediaThumbsBox .bx-wrapper .bx-controls-direction a:hover {
    background-color: rgba(0, 0, 0, 1.0);  
}
.nhs_BigMediaThumbsBox .bx-wrapper .bx-viewport {
	box-shadow: none;
	background: transparent;
	border: 0;
	left: 0;
}
.nhs_BigMediaThumbsBox .bxslider {
	margin: 0;
}
.nhs_BigMediaThumbsBox .bxslider li {
	width: 126px;
	height: 86px;
	text-align: center;
	overflow: hidden;	
	position: relative;
}
.nhs_BigMediaThumbsBox .bxslider li.active { 
	width: 126px !important;
	height: 86px !important;	
	margin: 0;
}
.nhs_BigMediaThumbsBox .bxslider li a { 
}
.nhs_BigMediaThumbsBox .bxslider li span { 
    position: relative;
    top: -60px;
    left: 40px;
    display: block;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
    cursor: pointer;
    background: url(/globalresourcesmvc/default/images/overlays/play_video.png) no-repeat left top;
}
#nhs_BigMediaPlayerContainer > span { 
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background: url(/globalresourcesmvc/default/images/overlays/play_video_large.png) no-repeat 50% 50%;
}
.nhs_BigMediaThumbsBox .bxslider li img {
	display: inline-block;
	width: 120px;
	height: 80px;
	border: 3px solid transparent;
	cursor: pointer;
}
.nhs_BigMediaThumbsBox .bxslider li.active img {
	border: 3px solid #ffce34;
	border-color: #0091da;
}

.nhs_PinterestOverlayBig {
  position: absolute;
  z-index: 10000;
  bottom: -45px;
  width: 35px;
  height: 35px;
}
.nhs_PinterestOverlayBig #button_pin_it {
  float: left;
  position: absolute !important;
  top: -4px;
}
.nhs_PinterestOverlayBig #button_pin_it img {
  height: 35px;
  border-radius: 4px;
  opacity: 1;
}
.nhs_PinterestOverlayBig #button_pin_it img:hover {
  opacity: 1;
}
.nhs_PinterestOverlayBig #button_compact {
  /*float: left;
  position: absolute;
  right: 0;*/
  display: none;
}

