﻿/* ---------------------------------------------
Title:      BDX Print Styles
----------------------------------------------- */

/*
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

/* fonts.css from the YUI Library: developer.yahoo.com/yui/
Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

There are three custom edits:
* remove arial, helvetica from explicit font stack
* we normalize monospace styles ourselves
* table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; width: 98%;} /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
* en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
*/
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*---------------------
* minimal base styles
*/

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  font-family: Arial,Helvetica,sans-serif;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }
 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
  padding: 15px;
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid { }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate.
No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #316AC5; color:#fff; text-shadow: none; }
::selection { background:#316AC5; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #316AC5; }

/* make buttons play nice in IE:
www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button { width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/*
* Non-semantic helper classes
*/

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
www.webaim.org/techniques/css/invisiblecontent/ & j.mp/visuallyhidden */
.visuallyhidden { position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* End html5doctor.com Reset Stylesheet
------------------------------------------*/

abbr, abbr[title] {
	border: 0;
	}
.nhs_Reader,
.mv_Reader {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	top: 0;
	left: -3000px;
}
.nhs_ReaderAlt,
.mv_ReaderAlt {
	display: none; visibility: hidden;
}
.nhs_Clear {
	clear: both;
	height:auto;
}
.nhs_Asterisk {
	font-size: 18px;
	vertical-align: middle;
	color: #ff193f;
	margin-right: 1px;
	line-height: 0.5;
	}
.nhs_Legal {
	font-size: 77%;
	}
	
#nhs_ToolNav,
#nhs_LiveChat,
#nhs_AdTop,
#nhs_AddThisBox,
.nhs_VideoWrapper,
.nhs_VideoPlayerBox,
.nhs_ImagePlayerBox,
.nhs_ImagePlayerTitleBar,
.ad-image-description,
.ad-nav,
.ad-preloads,
.nhs_Hidden,
.nhs_Breadcrumb p,
.nhs_GalleryMatchingHomes,
.nhs_homesAvailables,
.nhs_FloorPlanNav,
.nhs_SimilarHomePlanCarouselPrev,
.nhs_SimilarHomePlanCarouselNext,
#nhs_MapLeftSide .nhs_RequestAppointment,
#nhs_MapLeftSide #nhs_GetDirections,
#NearbyHomes,
#nhs_AdColumn,
.back_to_top,
.get_map,
#nhs_FooterAdBox,
#nhs_Loading,
#nhs_FooterRule,
#nhs_FooterAside,
.btn,
#mv_ToolNav,
#mv_AdTop,
#mv_AdColumn,
.mv_FooterGroup,
#nhsAdContainerx03,
.nhs_BuilderListingLink,
#nhs_mapTypeMenu,
#nhs_LnkPhoneNumHeader,
#nhs_DetailsDescriptionAnchorWrapper,
#nhs_PartnerNav,
#nhs_PartnerNav ul li#nhs_AddThisBox,
#nhs_PersonalBar,
#nhs_FbLike,
.nhs_MediaShareOverlay,
#nhs_CommunityDetailsAdsHtmlCol,
#nhs_FormMortgageLinks,
#nhs_FormSaveSend,
.nhs_DetailsFormMoreActions,
.nhs_FormMapLink {
	display: none;
	}
.mv_FooterCopyright {
	display: block;
	}

/* =Shell */
#nhs_Header,
#mv_Header {
	position: relative;
	width: 98%;
	border-bottom: 2px solid #666;
	}
img#nhs_Logo,
img.nhs_Logo {
	position: absolute;
	top: 12px;
	left: 0;
	}	
#nhs_LogoDiv {
	width: 100%;
	height: 55px;
	position: relative;
	}
.mv_LogoBox {
	float: left;
	width: 200px;
	}
.mv_NAHB {
	position: absolute;
	left: 149px;
	top: 12px;
	width: 280px;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	}
.mv_NAHB img {
	display: block;
	float: right;
	padding: 2px 0;
	background: #fff;
	border: 1px solid #ccc;
	}
#mv_SearchNav,
#nhs_PartnerNav {
	width: 100%;
	border-top: 2px solid #ddd;
	clear: both;	
	position: relative;
	display: none;
	}
#nhs_PartnerNav {
	border-bottom: 2px solid #ddd;
	}
#mv_SearchNav ul,
#nhs_PartnerNav ul {
	display: inline-block;
	list-style: none;		
	}
#mv_SearchNav ul li,
#nhs_PartnerNav ul li {
	display: inline-block;
	float: left;
	}
#mv_SearchNav li a, 
#mv_SearchNav li a:link, 
#mv_SearchNav li a:visited, 
#mv_SearchNav li a:active 
#nhs_PartnerNav li a, 
#nhs_PartnerNav li a:link, 
#nhs_PartnerNav li a:visited, 
#nhs_PartnerNav li a:active {
	text-decoration: none;
	color: #999;
	font-size: 93%;
	font-weight: bold;
	display: inline-block;
	margin: 0;
	padding: 6px 6px;
	border-right: 2px solid #ddd;
	}	
	
.nhs_Breadcrumb {
	width: 100%;
	clear: both;
	padding: 12px 0;
	font-size: 85%;	
	}
.nhs_Breadcrumb ol {
	display: inline;
	margin: 0 0 0 0;
	list-style: none;
	}
.nhs_Breadcrumb p {
	display: none;
	}
.nhs_Breadcrumb ol li {
	margin: 0;
	padding: 2px 8px 1px 8px;
	display: inline-block;
	list-style: none;
	height: 25px;
    font-size: 10px;
    line-height: 1.1;
    list-style-type: none;
    list-style-image: none;
    border-right: 2px solid #666;
	}
.nhs_Breadcrumb a {color:#3b71c3; text-decoration:none;}
.nhs_Breadcrumb ol li.nhs_noBg {
    border: 0;
    }

.nhs_Tabs {
	width: 100%;
	clear: both;
	margin: 0 0 10px 0;
	list-style: none;
	border-bottom: 2px solid #999;
	display: inline-block;
	}
.nhs_Tabs li,  
#nhs_PartnerContainer .nhs_Tabs li {
	margin: 0 0 0 5px;
	display: inline;
	position: relative;
	bottom: -2px;
	}
.nhs_Tabs li a, 
#nhs_PartnerContainer .nhs_Tabs li a {
	display: inline-block;
	padding: 9px 14px 7px 14px;
	border: 2px solid #999;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: #235e97;
	background: #f6f9fe;
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0; 
	}
.nhs_Tabs li.nhs_Selected a,
#nhs_PartnerContainer .nhs_Tabs li.nhs_Selected a {
	border-bottom: 2px solid #fff; /* set border color to page background color */
	background-color: #fff;
	color: #333;
	cursor: default;
	}
.nhs_Tabs a:link,
#nhs_PartnerContainer .nhs_Tabs a:link {
	color: #235e97;
	}
#nhs_FooterCopyright {
	clear: both;
	width: 98%;
	padding: 0 0 8px 0;
	border-top: 0px solid #999;
	}

/* =Details */

#nhs_DetailsHeader .title,
#nhs_ResultsHeader .title {
	text-transform: uppercase;
	font-size: 77%;
	}
.nhs_DetailsToolBar { display: none; }
.nhs_DetailsHeaderTitle,
#nhs_CommResMatches h1,
.nhs_CommDetailCommName {
	font-size: 25pt;
	font-weight: normal;
	color: #000;
	}
#nhs_DetailsDescription {
    padding: 0 0 10px 0;
    }
.nhs_DetailsHeaderAreaCommWrapper {
    padding-bottom: 10px;
    }
.nhs_DetailsHeaderAreaCommWrapper p {
    padding: 4px 0;
	display: inline;
    }
.nhs_DetailsHeaderAreaCommWrapper .nhs_DetailsHeaderCommunity a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    }
#nhs_HomeDetailsHeaderBrandHomesSqFt {
    float: left;
    border-right: 1px solid #333;
    margin: 0 10px 0 0;
	padding: 4px 10px 4px 0;
	}
#nhsDetailDescriptionArea {
	padding: 4px 0;
	display: inline;
	}
#nhs_DetailsDescriptionAreaWrapper .nhs_DetailsPrice {
	font-size: 14pt;
	color: #333;
	padding-top: 0;
	}
#nhs_CommResMatches p {
	font-size: 123.1%;
	font-weight: bold;
	}
#nhs_DetailsBuilderLogoAndPrice {
	display: block;	
	width: 200px;
	padding: 5px;
	border: 2px solid #ddd;
	float: right;
	text-align: center;
	}
#nhs_DetailsDescription h2,
#nhs_DetailsDescription p {
	padding: 4px 0;
	}
#nhs_DetailsHeaderBrandHomesSqFt .nhs_DetailsHeaderBuilderName {
	font-size: 93%;
	display: inline;
	}
#nhs_DetailsHeaderBrandHomesSqFt p {
	font-weight: bold;
	display: inline;	
	}
.nhs_DetailsFormWrapper {
	display: none;
	}
.nhs_DetailsFormInfo {
	margin-top: 5px; 
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	}
.nhs_DetailsFormInfo p {
	margin: 5px 0;
	}
.address_and_hour ul {
	display: none;
	}	
.nhs_DetailsHomeMarketing {
	font-size: 108%;
	font-weight: bold;
	padding: 8px 0;
	}
#nhs_DetailsPromos {
	margin: 0;
	padding: 8px 0;
	border-top: 2px solid #999;
	}
#nhs_DetailsPromos ul {
	list-style: none;
	margin: 0;
	}
#nhs_DetailsPromos ul li {
	margin: 0 0 5px 0;
	}
.detailsWrapper span {
	font-weight: bold;
	}
	
/* Main Image */
#nhs_DetailsStaticImage {
    display: block;
    }
#nhs_DetailsStaticImage .nhs_DetailFirstImage,
#gallery .ad-image img {
    border: 2px solid #666;
    margin-bottom: 10px;
    }
	
#nhs_crossMarketingSection {
	display: none;
	margin: 0;
	padding: 8px 0;
	border-top: 2px solid #999;
	}
#nhs_expandCollapseMarketingSection {
	font-weight: bold;
	margin: 0 0 5px 0;
	}
#nhs_crossMarketingSection .clickto {
    display: none;
    }	
#hotDealsTab a {
	display: inline-block;
	background: url(/globalresourcesmvc/default/images/icons/hot_homes.png) no-repeat 10px 45%;
	padding: 9px 14px 7px 30px;
	}
#quickMoveInTab a {
	display: inline-block;
	background: url(/globalresourcesmvc/default/images/icons/quick_move_in.png) no-repeat 10px 50%;
	padding: 9px 14px 7px 36px;
	}

.nhs_FloorPlanCarousel ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
.nhs_FloorPlanCarousel ul li {
    float: none !important;
	margin: 0;
	padding: 0;
	}	
.nhs_FloorPlanCarousel ul li img {
	border: 2px solid #ccc;
    display: block;
    height: 478px;
    width: 390px;
	}
.nhs_FloorPlanLegend {
	
	}

.nhs_HomesGalleryResults .nhs_Sorting {
	float: right;
	position: relative;
	top: 38px;
	}
/*#nhs_homeGalleryTable {
	page-break-after: always;
	} 
#nhs_homeGalleryTable tr:first-child {	
	page-break-after: always;
	} */
.nhs_SimilarHomePlanCarousel {
	overflow: visible !important;
    display: block;
	}
.nhs_SimilarHomePlanCarousel ul {
	width: 600px !important;
	left: 0 !important;
	}
#nhs_homeGalleryTable .nhs_GalleryCell,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCell {
	width: 184px;
	padding: 4px 2px 12px 2px;
	cursor: pointer;
	}
#nhs_homeGalleryTable .nhs_GalleryCellImgBox,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellImgBox {
	position: relative;
	width: 184px;
	height: 122px;
	display: block;
	}
#nhs_homeGalleryTable .nhs_GalleryCellImgBox a,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellImgBox a {
	display: block;
	}
.nhs_GalleryCellImgBox .nhs_GalleryImgOverlay {
	position: absolute;
	left: 38px;
	bottom: 8px;		
	width: 74px; 
	height: 25px;
	padding: 9px 0 0 30px; 
	display: block;
	background: url(/globalresourcesmvc/default/images/overlays/home_thumb_img_off.png) no-repeat left top;	
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	display: none;
	}	
.nhs_GalleryCellImgBox img {
	display: block;
	width: 180px;
	height: 120px;
	border: 2px solid #666;
	}
.nhs_HomesGalleryResults .specs .propertyTitles,
.nhs_SimilarHomePlanCarousel .specs .propertyTitles {
	display: block;
	width: 180px;
	color: #333;
	font-size: 131%;
	font-weight: bold;
	padding: 10px 0 6px 0;
	line-height: 18px;
	}
.nhs_HomesGalleryResults .specs .propertyTitles a,
.nhs_SimilarHomePlanCarousel .specs .propertyTitles a  {
	text-decoration: none;
	color: #333;
	}
.nhs_HomesGalleryResults .specsLeft,
.nhs_SimilarHomePlanCarousel .specsLeft {
    width: 107px;  
    float: left;  
	}
.nhs_HomesGalleryResults .specsLeft .price,
.nhs_SimilarHomePlanCarousel .specsLeft .price {
    font-weight: bold;
	}
.nhs_HomesGalleryResults .squareFootage,
.nhs_SimilarHomePlanCarousel .squareFootage {
	font-size: 93%;
	}
.nhs_HomesGalleryResults .BedBath,
.nhs_SimilarHomePlanCarousel .BedBath {
	font-size: 85%;
	}
.nhs_HomesGalleryResults .specsRight,
.nhs_SimilarHomePlanCarousel .specsRight {
    width: 72px;
    float: right;
    padding-top: 5px;
    font-size: 85%;
	}
	
.nhs_HomesPlansGallery,	
.nhs_floorPlanSection, 
.nhs_SimilarHomePlanSection, 
.nhs_mapAndDirections, 
.nhs_findOutMore {
	width: 99%;
	padding: 14px 0;
	border-top: 2px solid #999;
	clear: both;
	display: inline-block;
	}
/*.nhs_floorPlanSection, 
.nhs_mapAndDirections, 
.nhs_DetailsInfoSchoolAmenities .nhs_DetailSections {
	page-break-before: always;
	}
.nhs_FloorPlanCarousel ol li:first-child {
	page-break-after: always;
	} */
.nhs_DetailsInfoSchoolAmenities {
	width: 99%;
	padding: 0 0 14px 0;
	clear: both;
	display: inline-block;
	}
.nhs_DetailsInfoSchoolAmenities .nhs_DetailSections {
	border-top: 2px solid #999;
	padding-top: 14px;
	}
.nhs_DetailSectionTitle,
.nhs_FloorPlanTitle .title,
.nhs_FloorPlanLegend {
	font-size: 161.6%;
	margin: 0 0 10px 0;
	line-height: 20px;
	font-weight: bold;
	}
.nhs_DetailsInfoSchoolAmenities p,
.nhs_mapAndDirections p {
	margin: 0 0 10px 0;
	}
.nhs_DetailsInfoSchoolAmenities .titles {
	color: #666;
	font-size: 123.1%;
	width: 100%;
	}
#nhs_drivingDirections {
	display: block;
	}
#nhs_PropertyMapAddress {
	display: none;
	padding-top: 10px;
	}
.nhs_Step1,
.nhs_Step2,
.builder_link,
.schedule,
#nhs_LnkNextStepsPhoneNum,
.nhs_nextSteps .nhs_DetailSectionTitle {
	display: none;
	}
.nhs_Step3 .nhs_DetailsFormLogo {
	display: block;	
	width: 200px;
	margin: 0 0 6px 0;
	padding: 5px;
	border: 2px solid #ddd;
	text-align: center;
	}
.step3_thumb {
	font-size: 138.5%;
	margin: 0 0 0 0;
	}
.comm_address,
.phone_number {
	margin: 0 0 10px 0;
	}
.nhs_PrintLink {
	display: none;
	}
#dd-collapsible {
    display: block !important;
    }
	
.nhs_CommResLegal {
	font-style: italic;
	border-top: 2px solid #333;
	margin: 20px 0 0 0;
	padding: 20px 0;
	}

/* Results */

#nhs_CommResMapMain {
	display: none !important;
	}
#nhs_CommResFacetCol {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 2px solid #ddd;
	}
#nhs_FacetsRefine {
	font-size: 108%;
	font-weight: bold;
	}
#nhs_FacetLocationSlider, 
.nhs_FacetMenuBox,
#nhs_FacetPrice,
.nhs_FacetLinks,
#nhsAdContainerRight2,
#nhs_CommResVideoAds,
.nhs_CommResContentBox,
.nhs_CommResListBox,
#btnGo,
#nhs_FacetLinkCities span {
	display: none;
	}
.nhs_FacetGroup {
    float: left;
    width: 18%;
    }
.nhs_FacetGroupTitle {
	font-weight: bold;
	padding: 10px 0 3px 0;
	}
#nhs_FacetLocationText {
    font-weight: bold;
    }

#nhs_CommResSortPage {
	float: left;
	width: 100%;
	display: inline;
	clear: both;	
	margin: 10px 0 5px 0;
	}
.nhs_Sorting {
	float: left;
	}
.nhs_Sorting p {
	float: left;
	font-size: 85%;
	font-weight: bold;
	}
.nhs_Sorting ul {
	float: left;
	list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
	}
.nhs_Sorting ul li {
	float: left;
	display: inline;
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 85%;
	}
.nhs_Sorting ul li a {
	font-weight: bold;
	text-decoration: none;
	}
.nhs_Sorting ul li a:hover {
	text-decoration: underline;
	}
.nhs_Sorting ul li.selected a {
	color: #222;
	}
.nhs_Sorting ul li.selected a:hover {
	text-decoration: underline;
	color: #222;
	}
	
.nhs_Paging {
	float: right;
	font-size: 85%;	
	}
.nhs_Paging label {
	font-size: 12px;
	font-weight: bold;
	}
.nhs_Paging #btnNext {
	width: 42px;
	height: 15px;
	margin: 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: #24619e url(/globalresourcesmvc/default/images/buttons/trans_next_sm.png) no-repeat center top;
	}
.nhs_Paging #btnPrevious {
	width: 42px;
	height: 15px;
	margin: 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: #24619e url(/globalresourcesmvc/default/images/buttons/trans_prev_sm.png) no-repeat center top;
	}
.nhs_Paging #txtPageNumber {
	width: 15px;
	font-weight: bold;
	}
.nhs_Paging a {
	font-weight: bold;
	text-decoration: none;
	}
.nhs_Paging a:hover {
	text-decoration: underline;
	}

#nhs_CommResCountPageLinks {
    float: left;
    clear: both;
	width: 98%;
	padding: 5px 0 5px 0;
	border-top: 1px solid #e6e5e1;
	}	
#nhs_PageCount {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 3px 0 0 0;	
	font-size: 85%;	
	font-weight: bold;
	}
#nhs_PageCountSelect {
	width: 40px;
	}
	
.nhs_PagingLinks {
	float: right;
	display: inline-block;	
	margin: 0;
	padding: 0;	
	font-size: 85%;	
	text-align: right;
	}
.nhs_PagingLinks span,
.nhs_PagingLinks a {
	display: inline-block;
	border: 2px solid #333;
	margin: 0 1px;
	padding: 4px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	}
.nhs_PagingLinks .nhs_CurrentPage,
.nhs_PagingLinks a:hover {
	border: 2px solid #333;
	background: #000;
	color: #fff;
	}
.nhs_PagingLinks .nhs_DisabledPage {
	border: 1px solid #ddd;
	color: #ccc;
	background: #eee;
	display: none;
	}
	
.nhs_CommResRow {
	clear: both;
	vertical-align: top; 
	width: 100%;  
	margin: 0;
	padding: 7px 5px 8px 5px; 
	cursor: pointer; 
	border-top: 2px solid #e6e5e1;
	} 
.nhs_CommResRowOn,
.nhs_CommResRowOpen {
	float: left;
	clear: both;
	vertical-align:top; 
	width: 100%;
	margin: 0;
	padding: 7px 3px 6px 3px;  
	cursor: pointer; 
	border: 2px solid #99c0df;
	background-color: #d3dfec;
	}	
	
.nhs_CommResRow a,
.nhs_CommResRow h2 a,
#nhs_PartnerContainer .nhs_CommResRow h2 a {
	color: #333;
	text-decoration: none;
	}
.nhs_CommResRowOn a,
.nhs_CommResRowOn h2 a,
#nhs_PartnerContainer .nhs_CommResRowOn h2 a {
	color: #000;
	text-decoration: none;
	}
.nhs_ResultThumbBox {
    float: left;
	clear: left;
	width: 182px;
	height: 122px;
	margin: 0 5px 17px 0; 
	position: relative;
	background: #ccc;
	}
.nhs_ResultThumb {
	display: block;
	width: 180px;
	height: 120px;
	border: 1px solid #666;
	}
.nhs_ResultThumb img {
	width: 180px;
	height: 120px;
	}
.nhs_ResultThumbOverlayImg,
.nhs_ResultThumbOverlayVid,
.nhs_ResultThumbOverlayNoHomes {
	position: absolute; 
	width: 180px; 
	height: 17px;
	padding: 1px 0 0 0;   
	text-align: center; 
	bottom: -18px; 
	left: 1px; 
	font-size: 12px;
	font-weight: bold;
	color: #333;
	background: #fff;
	}
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg {
	color: #000;
	background: #fff;
	}
.nhs_ResultShowQVBtn {
    display: none;
    }
.nhs_ResultNamePrice {
	width: 70%;
	padding-bottom: 6px;
	}
.nhs_CommResRow h2,
.nhs_CommResRowOn h2 {
	width: 90%;
	font-size: 138.5%;
	line-height: 16px;
	margin: 0;
	padding: 0 0 4px 0;	
	}	
.nhs_ResultPrice {
	padding: 0 0 0 12px;
	font-size: 108%;
	color: #555;
	}
.nhs_ResultBrandAddress {
    float: left;
	width: 50%;
	font-size: 85%;
	}
.nhs_ResultBrandName {
	width: 100px;
	height: 40px;	
	display: table-cell;
	vertical-align: middle;
	line-height: 11px;
	width: 85px;
	}
.nhs_ResultBrandImg {
	float: left;
	width: 60px;
	height: 36px;
	margin: 0 3px 0 0;
	padding: 1px 1px 1px 1px;	
	background: #fff;
	border: 1px solid #e6e5e1;
	overflow: hidden;
	line-height: 35px;
	font-size: 77%;
	text-align: center;
	}
.nhs_ResultBrandImg img {
	max-width: 60px;
	max-height: 35px;
	vertical-align: middle;
	}	
	
.nhs_ResultAddress {	
	width: 70%;
	font-size: 85%;
	}
.nhs_ResultAddress h3 {
	margin: 0;
	padding: 2px 3px 0 12px;
	font-size: 11px;
	font-weight: normal;
	}
.nhs_ResultMapLink {
	display: none;
	}
.nhs_ResultCommStatus {
	width: 70%;
	margin: 0;
	padding: 6px 0 0 0;
	}
.nhs_ResultCommStatus img {	
	padding-left: 5px;
	}

	
.nhs_CommResSpecialRow {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 8px 0;
	border-top: 2px solid #999;
	}
.nhs_CommResSpecialRow h3,
.nhs_CommResSpecialRowOn h3 {
	font-size: 108%;
	}
.nhs_CommResSpecialRow a {
	color: #24619e;
    text-decoration: none;
	}
.nhs_CommResSpecialRowOn a {
	color: #009aec;
	text-decoration: none;
	}
.nhs_CommResSpecialRowOn {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 8px 0;
	border-top: 2px solid #999;
	}

.nhs_CommResMapTools, 
.nhs_MapTipBox {
	display: none !important;
	}

