/* ---------------------------------------------
Title:      NHS MVC IE8- Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Jul 11 2013
----------------------------------------------- */

.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox],
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] { 
    display: block; 
    margin-top: 28px;
    } 
input[type=checkbox].pro_SelectClient {
    display: block;
    }
.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox] + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] + label,
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] + input + label,
input[type=checkbox].pro_SelectClient + input + label,
input[type=checkbox].pro_SelectClient + label { 
    display: none;
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio] {
    display: block;
    float: left;
    }     
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio] + label:before {
    display: none;
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio] + label span {
    padding-top: 0;
    }       
