﻿/* ---------------------------------------------
Title:      NHS MVC IE Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Nov 16 2010
----------------------------------------------- */

#nhs_AddThisBox,
#nhs_LiveChat {
	padding-bottom: 0;	
	background: transparent\9;
	border: 0\9;
	position:relative;
	top:2px;
	}
#nhs_LiveChat a, 
#nhs_LiveChat a:link, 
#nhs_LiveChat a:visited, 
#nhs_LiveChat a:active {		
	padding: 0 0 0 3px; 
	}
.mvContainer #nhs_AddThisBox,
#mv_Header #nhs_LiveChat {
	border-radius: 0;
	behavior: none;
	}
	
/*#nhs_FooterAdBox {
	display: inline;
	} */
	
.nhs_VideoPlaylistContainer {
	margin: 0;
	}

#nhs_FacetLocation .nhs_FacetMenuBox {
	top: 41px;
	}
	
.nhs_ResultBrandName {
	*position: relative;
	}
.nhs_ResultBrandName strong {
	*position: absolute;
	*top: 50%;
	*display: block;
	}  
.nhs_ResultBrandName strong span {
	*position: relative;
	*top: -50%;
	*display: block;
	}
.nhs_ResultMapLink {
	margin-top: 1px;
	}
.nhs_MultiHoverBox,
.nhs_MultiHoverRow {
	width: auto;
	}
	
.nhs_DetailsForm {
	min-height: 434px;
	min-height: 434px\9; /* IE8 and below */
	*height : 433px; /* IE7 and below */
	}	
.nhs_DetailsFormContent .send_free_info label {
    line-height: 14px;
    }
.nhs_DetailsFormContent input#SendAlerts {
	margin-top: -2px;
	}
#nhs_DetailsPromos {
	border-radius: 5px;
	position: relative;
	}
.nhs_LeadConfirmation .nhs_DetailsFormContent ol li label {
	width: 148px;
	}
	
#nhs_ModalContainer .nhs_Legal {
	padding: 0;
	}
/*#nhs_RequestInfoForm fieldset {
    padding: 3px 0 0 0;
	}*/

ul.nhs_ResultQVList .nhs_ResultQVListItem,
ul.nhs_ResultQVList .nhs_ResultQVListItemOn {
	vertical-align: bottom;
	}

.nhs_MediaPlayerContainer { height:432px; }

.nhs_CmsArticleSocial .fb_iframe_widget {
    top: -4px;
    top: -2px\9;
    }
.nhs_CmsArticleSocial .fb_iframe_widget {   
    margin-right: 0; 
    margin-right: 3px\9;
    }   
    
/*.pro_TabsRemove input[type=checkbox],
.nhs_HomeResultsRow .nhs_ResultsActions input[type=checkbox],
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox],
.nhs_CommResultsRow .nhs_ResultsActions input[type=checkbox] + input + label,
input[type=checkbox].pro_SelectClient {
    display:inline;
    }         */