﻿/*  Created by: Alex Labanino
    Date: October 1, 2012 

    Modified by: 
        Jason Becker, Jun 2015
*/

/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 13px;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end CSS RESET */

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #222222; /*#595958;*/
}
a {
    color: #222222; /*#595958;*/
    text-decoration: none;
}
a:hover {
    color: #0091da;
    text-decoration: underline;
}

.header-wrapper {
    width: 100%;
    float: left;
    clear: both;
}
.header-wrapper .community-name {
    width: 330px;
    float: left;
    color: #fff;
}
.header-wrapper .community-name h2 {
    font-size: 26px;
    line-height: 0.9;
    display: inline-block;
}
.header-wrapper .community-name h2 span {
    font-size: 20px;
    display: inline-block;
}
.header-wrapper .provided-by {
    max-width: 230px;
    font-size: 10px;
    text-transform: uppercase;
    float: right;
    margin-top: 5px;
    text-align: center;
}
.header-wrapper .pro-provided-by {
    font-size: 10px;
    text-transform: uppercase;
}
.header-wrapper .provided-by img {
    margin-top: 10px;
    max-width: 230px;
    max-height: 55px;
}
.header-wrapper .agent-info {
    width: 400px;
    font-size: 10px;
    margin: 10px 0 0 0;
    float: right;
    line-height: 13px;
    text-align: right;
}
.header-wrapper .agent-info .pic {
    float: right;
    margin-left: 10px;
    background-color: #E4E4E3;
    border: 1px solid #949393;
}
.header-wrapper .agent-name {
    font-weight: bold;
    font-size: 105%;
}
.header-wrapper .community-name .main-title {
    float: left;
    width: 100%;
    height: 100px;
}
.office-info-wrapper {
    float: left;
    clear: both;
    width: 100%;
    margin: 15px 0;
}
.office-info-wrapper-agent {
    float: left;
    clear: both;
    width: 490px;
    margin: 15px 0;
}
.office-info {
    float: right;
    font-size: 10px;
    line-height: 1.4;
    width: 425px;
}
.pro_office-info {
    font-size: 62%;
    margin-top: 3px;
    font-style: italic;
}
.office-info-agent {
    float: right;
    font-size: 10px;
    line-height: 1.4;
    width: 290px;
}
.builder-logo {
    float: left;
    display: block;
    font-size: 12px;
    width: 200px;
    height: 65px;
    padding: 0 0 12px 20px;
}
.builder-logo img {
    max-height: 65px;
    max-width: 200px;
}

.community-info-wrapper {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.community-info-wrapper .community-info {
    width: 340px;
    font-size: 12px;
    float: left;
    margin: 0 0 0 20px;
    line-height: 1.5;
}
.community-large-thumb {
    float: left;
    width: 360px;
    margin: 0 0 0 20px;
}
.community-large-thumb img {
    width: 360px;
    float: right;
    border: 1px solid #eeeeee;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* ROUNDED CORNERS STYLE*/
.bl-blue {
    background: #0091da;
    display: inline-block;
    width: 720px;
    padding: 7px 0 8px 20px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bl-blue-main-title {
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    width: 285px;
    height: 68px;
    overflow: hidden;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.bl-blue-main-title-pro {
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    width: 285px;
    height: 68px;
    overflow: hidden;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.bl-blue-main-title-pro h2 {
    font-size: 22px !important;
}
.page .title .bl-blue h3 {
    position: relative;
    top: auto;
    left: auto;
    color: #fff;
}

.bl-grey {
    background: #eeeeee;
    display: block;
    padding: 10px 15px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.page .title .bl-grey h3 {
    position: relative;
    top: auto;
    left: auto;
}

.bl-white {
    background: #fff;
    display: block;
    padding: 6px 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.home–info .title .under-construction {
    height: 43px;
}

.clear {
    font-size: 1px;
    height: 1px;
}
.clr {
    clear: both;
}

/* end ROUNDED CORNERS STYLE */

/* SECTIONS */
.community-description, .whats-your-brochure, .directions-to-sales, .community-gallery, .local-amenities, .about–builder, .about–community, .home–info, .floor-plans, .trip-to-builder, .special-offers {
    font-size: 11px; /*width:100%;*/
    clear: both;
    float: left;
    width: 740px;
}
.sections-wrapper {
    margin-top: 30px;
}
/* end SECTIONS */

.page .title {
}

.whats-your-brochure .title {
    width: 100%;
    position: relative;
}
.whats-your-brochure .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.whats-your-brochure a {
    color: #7d7d7d;
}
.whats-your-brochure a:hover {
    color: #0091da;
    text-decoration: underline;
}
.whats-your-brochure ul {
    list-style-type: none;
    margin: 15px 20px;
    float: left;
    color: #7d7d7d;
}
.whats-your-brochure ul li {
    width: 29%;
    height: 24px;
    float: left;
    padding-left: 30px;
}

.community-description .title {
    width: 100%;
    position: relative;
}
.community-description .title h3 {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.community-description .content-wrapper {
    background-color: #eeeeee;
    float: left;
    margin-top: 5px;
}
.community-description .content {
    margin: 12px 30px 12px 20px;
    width: 375px;
    line-height: 1.5;
}
.community-description .map {
    float: right;
    margin: 5px 10px 0 0;
}

.directions-to-sales .title {
    width: 100%;
    position: relative;
}
.directions-to-sales .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.directions-to-sales .map {
    width: 700px;
    margin: 15px 0 15px 20px;
    text-align: center;
}
.directions-to-sales .map img {
    margin: 0 auto;
}
.directions-to-sales .content {
    float: left;
    clear: left;
    width: 100%;
    font-size: 11px;
    line-height: 1.4;
}
.directions-to-sales .content .address {
    float: left;
    width: 230px;
}
.directions-to-sales .content .direction {
    float: left;
    width: 440px;
}
.directions-to-sales .content-wrapper {
    margin: 10px 0 10px 20px;
}
.directions-to-sales .title-google-link {
    float: right;
    padding-right: 20px;
}
.directions-to-sales .title h3 a {
    color: #fff;
}
.directions-to-sales .title h3 a:hover {
    color: #fff;
    text-decoration: underline;
}

.community-gallery .title {
    width: 100%;
    position: relative;
}
.community-gallery .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.community-gallery .content {
    width: 735px;
    margin: 15px 0 15px 5px;
}
.community-gallery .thumbs {
    clear: both;
}
.community-gallery .thumbs li {
    float: left;
    display: block;
    width: 245px;
    height: 172px;
    overflow: hidden;
    padding-bottom: 10px;
}
.community-gallery .thumbs li .img-box {
    display: block;
    width: 245px;
    height: 120px;
    text-align: center;
}
.community-gallery .thumbs li img {
    max-width: 180px;
    max-height: 120px;
    margin: 0 auto;
    display: block;
    border: 1px solid #eeeeee;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.community-gallery .info-box {
    width: 180px;
    margin: 5px auto 0 auto;
    font-size: 10px;
    font-style: italic;
}
.info-box .bl-grey p.galery-image-title {
    font-weight: bold;
    padding-bottom: 7px;
    font-style: normal;
}

.local-amenities .title {
    width: 100%;
    position: relative;
}
.local-amenities .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.local-amenities .content {
    margin-top: 3px;
}
.local-amenities .row-title {
    float: left;
    width: 95px; 
    height: 30px;
    padding-right: 15px;
    font-size: 11px;
    font-weight: bold;
    color: #0091da;   
    text-align: right;
    text-transform: uppercase;    
}
.local-amenities .schools,
.local-amenities .community,
.local-amenities .utilities {
    float: left;
    width: 600px;
    /*background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/schools.gif) no-repeat 30px top;
    min-height: 30px;
    padding-left: 110px;*/
}
.local-amenities .schools .column-wrapper {
    float: left;
    width: 32%;
    padding-right: 8px;
}
.local-amenities .schools .column-wrapper .titles {
    font-weight: bold;
    padding-bottom: 5px;
}
.local-amenities .schools .column-wrapper ul {
    padding-bottom: 5px;
}
.local-amenities .schools .column-wrapper ul li {
}

/*.local-amenities .community {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/community.gif) no-repeat 16px top;
    min-height: 30px;
    padding-left: 110px;
}*/
.local-amenities .community .column-wrapper {
    float: left;
    width: 112px;
    padding-right: 8px;
}
.local-amenities .community .column-wrapper .titles {
    font-weight: bold;
    padding-bottom: 5px;
}
.local-amenities .community .column-wrapper ul {
}
.local-amenities .community .column-wrapper ul li {
    width: 100px;
}

/*.local-amenities .utilities {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/utilities.gif) no-repeat 31px top;
    min-height: 30px;
}
.local-amenities .utilities .column-wrapper {
    padding-left: 110px;
} */
.local-amenities .utilities .column-wrapper ul li {
    float: left;
    width: 100px;
    min-height: 65px;
    padding-bottom: 8px;
}
.utilities ul li span {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
}

.community-description-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/community-description.gif) no-repeat 5% top;
}
.map-and-directions-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/map_and_directions.gif) no-repeat 3% top;
}
.floor-plan-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/community_gallery.gif) no-repeat 3% top;
}
.community-gallery-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/community_gallery.gif) no-repeat 3% top;
}
.about-builder-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/about-builder.gif) no-repeat 2% top;
}
.local-amenities-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/local_amenities.gif) no-repeat 3% top;
}
.move-in-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/move-in.gif) no-repeat 3% top;
}
.new-home-resource-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/new-home-resource.gif) no-repeat 3% top;
}
.notes-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/notes.gif) no-repeat 3% top;
}
.planning-your-trip-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/planning-your-trip.gif) no-repeat 3% top;
}
.ready-to-build-homes-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/ready-to-build-homes.gif) no-repeat 3% top;
}
.special-offers-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/special-offers.gif) no-repeat 3% top;
}
.under-construction-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/under-construction.gif) no-repeat 3% top;
}
.floorplan-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/floorplan.gif) no-repeat 3% top;
}
.home-gallery-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/move-in.gif) no-repeat 3% top;
}

.about–builder .title {
    width: 100%;
    position: relative;
}
.about–builder .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.about–builder .content {
    width: 700px;
    margin: 20px;
    font-size: 12px;
    line-height: 1.4;
}

.about–community .title {
    width: 100%;
    position: relative;
}
.about–community .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.about–community .bl-grey {
    margin-top: 5px;
}
.about–community .content {
    width: 700px;
    margin: 10px 5px;
    font-size: 12px;
    line-height: 1.4;
}


.floor-plans .title {
    width: 100%;
    position: relative;
}
.floor-plans .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.floor-plans .content {
    display: table-cell;
    width: 700px;
    height: 700px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
}
.floor-plans .content img {
    max-width: 700px;
    max-height: 700px;
}
.floor-plans .caption {
    width: 100%;
    margin: 10px 0;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
}

.home–info .title {
    width: 100%;
    position: relative;
    color: #fff;
}
.home–info .title h3 {
    float: left;
    color: #fff;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase; /*position:absolute; top:8px; left:20px; */
}
.home–info .title .titles {
    float: right;
    padding: 2px 15px 0 0;
    width: 490px;
}
.home–info .title .titles li {
    float: left;
    width: 112px;
    margin-right: 10px; /*position: relative; top: -12px;*/
}
.home–info .title .titles2 li {
    width: 150px !important;
}
.home–info .content {
    margin: 4px 0;
    float: right;
    width: 100%;
}
.home–info .content .thumb {
    display: block;
    width: 185px;
    height: 120px;
    float: left;
    margin-left: 20px;
    text-align: center;
}
.home–info .content .thumb img {
    width: 180px;
    height: 120px;
    display: block;
    border: 1px solid #eeeeee;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.home–info .columns {
    float: right;
    width: 520px;
    line-height: 1.5;
}
.home–info .columns .available {
    float: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}
.home–info .hot-homes {
    float: left;
    width: 100%;
    margin-top: 5px;
    color: #0091da;
}
.home–info .columns ul {
}
.home–info .columns ul li {
    width: 112px;
    float: left;
    display: block;
    margin-right: 10px;
}
.home–info .columns ul.ReadyToBuild li {
    width: 150px !important;
}
.home–info .columns ul li a {
    color: #0091da;
    font-weight: bold;
}

.home–info .columns .min-height {
    min-height: 100px;
}

.trip-to-builder .title {
    width: 100%;
    position: relative;
}
.trip-to-builder .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.trip-to-builder .content {
    width: 700px;
    margin: 20px auto;
}
.trip-to-builder .columns {
    width: 28%;
    float: left;
    margin: 0 5% 0 0;
    position: relative;
    height: 570px;
}
.trip-to-builder .columns ul {
    list-style-type: disc;
}
.trip-to-builder .columns ul li {
    font-size: 11px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.trip-to-builder .columns p {
    margin-bottom: 10px;
}
.trip-to-builder .quote {
    font-size: 13px;
    line-height: 1.4;
}
.trip-to-builder .quote2 {
    font-size: 11px;
    line-height: 1.4;
    position: absolute;
    bottom: 1%;
    font-style: italic;
    color: #7d7d7d;
}

.special-offers .title {
    width: 100%;
    position: relative;
}
.special-offers .title h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 20px;
}
.special-offers .content {
    width: 700px;
    margin: 20px auto;
}
.special-offers .content-box {
    width: 700px;
    background-color: #eeeeee;
    padding: 20px;
    margin: 5px auto 20px;
}
.special-offers .content-box p {
    margin-bottom: 10px;
}
.promo-name,
.green {
    font-weight: bold;
}
.special-offers .content table {
    width: 700px;
    border: 2px solid #7d7d7d;
    border-right: 0;
}
.special-offers .content table th {
    padding: 10px;
    background-color: #E4E3E7;
    border-right: 2px solid #7d7d7d;
    color: #0091da;
    font-size: 100%;
    font-weight: bold;
}
.special-offers .content table td {
    padding: 20px;
    border-right: 2px solid #7d7d7d;
    border-top: 2px solid #7d7d7d;
    text-align: center;
}
.special-offers .disclaimer {
    font-size: 10px;
    line-height: 1.5;
}

.blue–highlight {
    color: #0091da;
}
.star-icon {
    background: url(/GlobalResourcesMvc/Default/images/pdfBrochure/icons/star.gif) no-repeat top left;
    width: 10px;
    height: 9px;
}
.content_Description {
    height: 406px;
}

.main-wrapper {
    /*width: 612px;*/
    width: 740px;
    margin: 0 auto;
}

.page {
    border: 0px solid #000;
    width: 740px;
    height: 990px; /*width:612px;     height: 792px;*/
    overflow: hidden;
    page-break-after: always;
}
