﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

@using Nhs.Library.Constants.Enums

<ul id="nhs_CommDetailTabs" class="nhs_Tabs">
    @if (Model.FilteredHomesCount > 0)
    {
        <li id="allCommunitiesTab" @((Model.SelectedTab == CommunityDetailTabs.FilterCommunities ? "class=\"nhs_Active\"" : "").ToMvcHtmlString())>
            <a href="javascript:void(0)">
                <span>
                    @(Model.FilteredHomesCount + " homes match your search")
                </span>
            </a>
        </li>
    }

    @if (Model.AllNewHomesCount > 0)
    {
        <li id="newHomesTab" @((Model.SelectedTab == CommunityDetailTabs.AllCommunities ? "class=\"nhs_Active\"" : "").ToMvcHtmlString())>
            <a href="#">
                <span>
                    <span>
                        @("All " + Model.AllNewHomesCount + " new home" + (Model.AllNewHomesCount > 1 ? "s" : ""))
                    </span>
                </span>
            </a>
        </li>
    }
    @if (Model.QuickMoveInCount > 0)
    {
        <li id="quickMoveInTab" @((Model.SelectedTab == CommunityDetailTabs.QuickMoveIn ? "class=\"nhs_Active\"" : "").ToMvcHtmlString())>
            <a href="#">
                <span>
                    <span>
                        @(Model.QuickMoveInCount + " Quick Move-In")
                    </span>
                </span>
            </a>
        </li>
    }
</ul>

