﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeResultApiViewModel
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Helper

@*Home Image *@
<div class="nhs_GalleryItemImgBox">
    @Html.HomeDetailImageLink(Model.HomeResultRow, false, Model.PreviewMode)
    @if (Model.HomeResultRow.ImageCount > 1)
    {
        <p class="nhs_ItemCount">@Model.HomeResultRow.ImageCount <span>@LanguageHelper.Photos.ToMvcHtmlString()</span></p>
    }
    @Model.HomeResultRow.HomeStatus()
</div>
<div class="clearfix">
    <p class="nhs_ItemName">
        @*Title Part*@
        @Html.HomeDetailLink(Model.HomeResultRow)
    </p>
    <div>
        @if (Model.HomeResultRow.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
        {
            @*Price Section*@
            <p class="nhs_ItemPrice">
                @Convert.ToInt32(Model.HomeResultRow.Price).FormatPrice(Model.HomeResultRow.HomeId)
            </p>
        }@*Square Footage*@
        @if (Model.HomeResultRow.Sft > 0)
        {
            <p>
                @Model.HomeResultRow.FormatSquareFootage()
            </p>
        }
        <p>
            @*BedRooms*@
            @Model.HomeResultRow.FormatBedrooms()
            @*BathRooms*@
            @Model.HomeResultRow.FormatBathrooms()
            @*Garage*@
            @Model.HomeResultRow.FormatGarages()
        </p>
    </div>
    <div class="nhs_ItemInfo">
        @*Hot home*@
        @if (Model.HomeResultRow.IsHotHome > 0 && NhsRoute.BrandPartnerId != (int)PartnersConst.Pro)
        {
            <p title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.Deal.ToMvcHtmlString()</p>
        }
        @if (!string.IsNullOrEmpty(Model.HomeResultRow.VirtualTour) && !Model.HomeResultRow.VirtualTour.Equals("N"))
        {
            <p>
                @LanguageHelper.VirtualTour.ToMvcHtmlString()
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.HomeResultRow.FloorPlanPath) && !Model.HomeResultRow.FloorPlanPath.Equals("N"))
        {
            <p>
                @LanguageHelper.FloorPlan.ToMvcHtmlString()
            </p>
        }
    </div>
</div>
