﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel
@if (Model.HomeResultsApi != null)
{
    <div id="nhs_DetailTabBar" class="clearfix">
        @if (!Model.PreviewMode)
        {
            <p class="nhs_Sorting">
                @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.Sorting)
            </p>
        }
        @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.CommunityDetailTabs)        
    </div>
    <div id="nhs_HomesGallery">
         @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.HomesGallery)
    </div>
}

@if (Model.GetHomesGalleryLink())
{
    <p class="nhs_GalleryMatchingHomes">
        <a id="nhs_ShowAll" href="javascript:void(0)" @(Model.HomeResultsApi.Count() == Model.AllNewHomesCount ? "style=display:none;" : "")>
            Show all
        </a>
        <a id="nhs_HideAll" href="javascript:void(0)" @(Model.HomeResultsApi.Count() == Model.AllNewHomesCount ? "" : "style=display:none;")>
            Hide all
        </a>
    </p>
}
<div class="nhs_BackToTop">
    <a href="#top">
        @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
