﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

@using Nhs.Library.Extensions
@using System.Web.Mvc.Html
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Mvc.Routing.Interface
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper
@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()
}

@section cphHead {
    @ResourceCombinerEnum.NEWMEDIAPLAYERCSS.GetCrunchedResource()
    <link rel="stylesheet" href="@GlobalResourcesMvc.Default.css.jquery_ad_gallery_css" />
    <link rel="stylesheet" href="@GlobalResources14.Default.css._0_details_css" />
    <link rel="stylesheet" type="text/css" href="http://resources-mvc.newhomesource.com/GlobalResources14/Default/css/0_mediaqueries.css?v11062014" />
}
<div class="nhs_Content@(Model.BcType.ToLowerCase() == BuilderCommunityType.ComingSoon.ToLower() ? " nhs_CommComingSoon" :"")" id="nhs_CommunityDetails">
    <div class="clearfix">

        @{ if (Model.CommunityId == 0)
         {
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty)
         }
         else
         {
            <div class="nhs_DetailCard clearfix">
                @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.CommunityHeader)
                <div id="nhs_DetailsMediaForm">
                    <div id="nhs_DetailMediaGallery">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.MediaGallery)
                    </div>
                    <div class="nhs_DetailsForm">
                        @*@Html.Partial(NhsMvc.Default.Views.Common.LeadForm.LeadFormContainer)*@
                        @* New Lead Form *@
                        @Html.Partial(NhsMvc.Default.Views.Common.LeadFormV2.LeadFormFields)

                        @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.PropertyInfoAndNextSteps)
                        @if (Model.PreviewMode)
                        {
                            <div class="nhs_DetailsFormOverlay"></div>
                        }
                    </div>
                    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.Promotions)
                </div>
            </div>

            <div>
                @{
                        var showhomesAndPlans = Model.PreviewMode ? Model.HomeResults != null && Model.HomeResults.Any()
                                                            : Model.HomeResultsApi != null && Model.HomeResultsApi.Any();
                        if (showhomesAndPlans)
                        {
                            <section id="HomesAndPlans" class="nhs_DetailCard clearfix">
                                <div class="nhs_DetailSections clearfix">
                                    <h3 class="nhs_DetailSectionTitle">
                                        @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.HomesAndLayouts.ToMvcHtmlString() : LanguageHelper.HomesAndPlans.ToMvcHtmlString())
                                    </h3>
                                </div>
                                <div class="nhs_DetailHomesGrid">
                                    <div id="ViewHomes">
                                        @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.ResultData)
                                    </div>
                                </div>
                            </section>
                        }
                }

                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.SecondaryInfo)

                @*Map also has More new homes nearby section*@
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyMap)

                @* New! Next Steps *@
                <div class="nhs_DetailCard clearfix">
                    <h3 class="nhs_DetailSectionTitle">Next Steps</h3>
                    <div class="nhs_DetailNextSteps clearfix">
                        <p><a href="#">Get a Free Brochure</a></p>
                        <p><a href="#">Ask a Question</a></p>
                        <p><a href="#">Request an Appointment</a></p>
                        <div>
                            <a href="#"><img src="" alt="logo" /></a>
                            <p>
                                <strong>Jane Von Smith</strong><br />
                                Community Name<br />
                                12345 Communty St<br />
                                CIty, ST 44444
                            </p>
                            
                            @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber))
                            {
                                if (!NhsRoute.IsMobileDevice)
                                {
                                    if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                                    {
                                        
                                        <p id="nhs_LnkPhoneNum">
                                            <a class="nhs_PhoneLink" id="nhs_PhoneLink">Phone &amp; Hours</a>
                                        </p>
                                        <p id="nhs_FormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                                            <span id="@Model.CommunityId">
                                                @Model.PhoneNumber
                                            </span>
                                            @Model.HoursOfOperation()
                                        </p>
                                    }
                                    else
                                    {
                                        <p id="nhs_FormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                                            <span id="@Model.CommunityId">
                                                @Model.TrackingPhoneNumber
                                            </span>
                                            @Model.HoursOfOperation()
                                        </p>
                                    }
                                }
                                else
                                {                                    
                                    <p id="nhs_FormIPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                                        <a href="tel:@Model.PhoneNumber" onclick="@string.Format("jQuery.googlepush('Lead Events','{0} – Gallery' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                                            @Model.PhoneNumber
                                        </a>
                                    </p>
                                    <p>@Model.HoursOfOperation()</p>
                                }
                            }
                        </div>
                    </div>

                </div>

            </div>
         }

    //Check for valid community end
        }


        @Html.Partial(NhsMvc.Default.Views.HomeDetail.RenderAdsSection, Model)

        <div class="nhs_Clear"></div>

        @Html.Partial(NhsMvc.Default.Views.Common.Disclaimer)
    </div>
</div>
<div id="nhs_Loading">
    <p>
        <strong>@LanguageHelper.Loading.ToMvcHtmlString()...</strong>
    </p>
</div>

@section cphFooter {

    @ResourceCombinerEnum.COMMDETAILJS.GetCrunchedResource()
    @ResourceCombinerEnum.NEWMEDIAPLAYERJS.GetCrunchedResource()
    @if (Model.CommunityId != 0)
    {
        <script type="text/javascript">

            var commDetail = null;
            var metricLogger = null;
            var loggin = null;
            jQuery(document).ready(function() {
                // Once the doc is ready, loads the map.
                var logginparameter = {
                    commId: @Model.CommunityId,
                    commName : '@Model.CommunityName.RemoveSpecialCharacters()',
                    builderId: @Model.BuilderId,
                    builderName : '@Model.BuilderName.RemoveSpecialCharacters()',
                    marketId: @Model.MarketId,
                    marketName : '@Model.MarketName.RemoveSpecialCharacters()',
                    planId: @Model.PlanId,
                    specId: @Model.SpecId,
                    logActionMethodUrl: "@Model.LogActionMethodUrl"
                };

                var parameters = {
                    GetNearbyCommunities: "@Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetNearbyCommunities)",
                    method: @Model.Globals.GetAddCommunityToPlannerUrl(Model.CommunityId, Model.BuilderId).ToMvcHtmlString(),
                    tabsControlId: "nhs_CommDetailTabs",
                    FilteredHomesCount: @Model.FilteredHomesCount,
                    AllNewHomesCount: @Model.AllNewHomesCount,
                    QuickMoveInCount: @Model.QuickMoveInCount,
                    SelectedTab: "@Model.SelectedTab",
                    searchParameters: @Model.SearchParametersJSon.ToMvcHtmlString(),
                    searchAction: "@Model.CommunityDetailPage.Replace(Pages.CommunityDetail, Pages.CommunityDetailv2)/@NhsMvc.CommunityDetail.ActionNames.Search",
                    loadingControlId: "nhs_Loading",
                    siteRoot: "/@NhsRoute.SiteRoot",
                    communityId: @Model.CommunityId,
                    builderId: @Model.BuilderId,
                    partnerId: @NhsRoute.PartnerId,
                    isBilled: "@Model.IsBilled",
                    PreviewMode: "@Model.PreviewMode",
                    BrandName: "@HttpUtility.JavaScriptStringEncode(Model.BrandName)",
                    showSocialIcons: "@Model.ShowSocialIcons",
                    marketId: @Model.MarketId,
                    fromPage: "/@NhsRoute.CurrentRoute.Function",
                    totalHomes: @Model.AllNewHomesCount,
                    displayFullWidthGallery: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails && RouteParams.ShowPopupPlayer.Value<bool>()).ToString().ToLower()),
                    displayNewFullImageViewer: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails).ToString().ToLower()),
                    NewFullImageViewerUrl: "@Html.GetFullImageViewerUrl(Model.CommunityId)",
                    ShowNewFullImageViewerUrl: false,
                    MoreWord: "...@LanguageHelper.More.ToMvcHtmlString()",
                    LessWord: "...@LanguageHelper.Less.ToMvcHtmlString()",
                    SavedToYourProfileText: "@LanguageHelper.SavedToYourProfile.ToMvcHtmlString()",
                    SavedText: "@LanguageHelper.Saved.ToMvcHtmlString()",
                    ShowOnlyNineTopMatchingHomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 9).ToMvcHtmlString()",
                    ShowOnlyTwelveTopMatchingHomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 12).ToMvcHtmlString()",
                    NineMatchingHomesShownText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 9).ToMvcHtmlString()",
                    TwelveMatchingHomesShownText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 12).ToMvcHtmlString()",
                    logInfo : logginparameter,
                    tdvTable : @Html.Raw(Html.GetSeoTDVMetrics()),
                    mapParametes: {
                        resourceRoot: "@Nhs.Library.Common.Configuration.ResourceDomain/",
                        drivingDirectionAction: "/@Pages.DrivingDirections",
                        startLat: @Model.RouteLat.ToString(new NumberFormatInfo()),
                        startLng: @Model.RouteLng.ToString(new NumberFormatInfo()),
                        NearbyComms: [],
                        siteRoot: "/@NhsRoute.SiteRoot",
                        partnerId: @NhsRoute.PartnerId,
                        marketId: @Model.MarketId,
                        isBasicListing: false,
                        isBasicCommunity: false,
                        fromPage: "/@NhsRoute.CurrentRoute.Function",
                        communityId: @Model.CommunityId,
                        builderId: @Model.BuilderId,
                        planId: 0,
                        specId: 0,
                        mapWidth: 398,
                        mapHeight: 385,
                        icon: "@GlobalResources14.Default.images.icons.orange_pin_png",
                        iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_blue_png",
                        iconNearByComm: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                        getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
                        OptionsForMap: {
                            MapOptions: {
                                Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                                Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                                Zoom: 14,
                                ContainerName: "nhs_PropertyMap",
                                zoomControl: true,
                                disableDefaultUI: true,
                                ZoomControlStyle: "SMALL"
                            },
                            MarkerPointAsynOptions: {
                                Listener: null
                            },
                            MinZoom: 14,
                            UseClusterer: false,
                            ProcessResultOptions: {
                                Latitude: "Latitude",
                                Longitude: "Longitude",
                                Name: "CommunityName"
                            },
                            Autocomplete: {
                                CreateControl: false,
                                BindToBound: false,
                                Autocompletecontrol: "nhsTxtStreeAddress"
                            }
                        }
                    },
                    nearByParams: {
                        brandPartnerId: @NhsRoute.BrandPartnerId,
                        marketId: @Model.MarketId,
                        siteRoot: "/@NhsRoute.SiteRoot",
                        partnerId: @NhsRoute.PartnerId,
                        communityId: @Model.CommunityId,
                        builderId: @Model.BuilderId
                        },
                    galleryParams: {
                        urlGallery: "@Html.GetActionUrl(NhsMvc.BaseDetail.Name, NhsMvc.BaseDetail.ActionNames.GetGalleryObjects)",
                        builderID: @Model.BuilderId,
                        communityID: @Model.CommunityId,
                        isPreview: "@Model.PreviewMode",
                        imgBaseUrl: "@Nhs.Library.Common.Configuration.IRSDomain/",
                        imgStaticUrl: "@Nhs.Library.Common.Configuration.ResourceDomain/",
                        container: "nhs_VideoWrapperNew",
                        titleBarID: "nhs_ImagePlayerTitle",
                        captionBarID: "nhs_ImagePlayerCaption",
                        titleBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.ViewThisCommunity.ToMvcHtmlString() : LanguageHelper.CommunityGallery.ToMvcHtmlString())",
                        captionBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Showing.ToMvcHtmlString() + " : " : LanguageHelper.NowShowing.ToMvcHtmlString() + " : ")",
                        imgtitleBar: "nhs_MediaImageTitle",
                        url: "@Model.Globals.CurrentUrl",
                        type: "community",
                        brightCoveSuffix: "@Nhs.Library.Common.Configuration.BrightcoveEnvSuffix",
                        brightcoveToken: '@Nhs.Library.Common.Configuration.BrightcoveReadToken',
                        isBasicCommunity: false,
                        isPro: @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? 1 : 0),
                        isCommResults: 0,
                        CommunityGalleryText: "@LanguageHelper.CommunityGallery.ToMvcHtmlString()",
                        CommunityVideoGalleryText: "@LanguageHelper.CommunityVideoGallery.ToMvcHtmlString()",
                        TourVideoGalleryText: "@LanguageHelper.TourVideoGallery.ToMvcHtmlString()",
                        HomeGalleryText: "@LanguageHelper.HomeGallery.ToMvcHtmlString()",
                        CommunityImageText: "@LanguageHelper.CommunityImage.ToMvcHtmlString()",
                        HomeImageText: "@LanguageHelper.HomeImage.ToMvcHtmlString()",
                        NowShowingText: "@LanguageHelper.NowShowing.ToMvcHtmlString()",
                        HomeVideoText: "@LanguageHelper.HomeVideo.ToMvcHtmlString()",
                        CommunityVideoText: "@LanguageHelper.CommunityVideo.ToMvcHtmlString()",
                        ElevationText: "@LanguageHelper.Elevation.ToMvcHtmlString()",
                        VirtualTourText: "@LanguageHelper.VirtualTour.ToMvcHtmlString()",
                        FloorPlanText: "@LanguageHelper.FloorPlan.ToMvcHtmlString()",
                        ExternalVideoText: "@LanguageHelper.ExternalVideo.ToMvcHtmlString()",
                        PlanViewerText: "@LanguageHelper.PlanViewer.ToMvcHtmlString()",
                        InteriorText: "@LanguageHelper.Interior.ToMvcHtmlString()",
                        ExteriorText: "@LanguageHelper.Exterior.ToMvcHtmlString()",
                        CommunityLotMapText: "@LanguageHelper.CommunityLotMap.ToMvcHtmlString()",
                        OfText: "@LanguageHelper.Of.ToMvcHtmlString()"
                    },
                    lazyLoadParameters: {
                        NoPhotoBig: '@GlobalResources14.Default.images.no_photo.no_photos_325x216_png',
                        NoPhotoSmall: '@GlobalResources14.Default.images.no_photo.no_photos_120x80_png'
                    }
                };
                commDetail = new NHS.Scripts.CommunityDetail.CommDetail(parameters);
                commDetail.initialize();
                var metricLoggerparameters = {
                    siteRoot: "/@NhsRoute.SiteRoot",
                    homeSearchViewMetricDisplayed: "@Model.HomeSearchViewMetricDisplayed",
                    homeSearchViewMetricHidden: "@Model.HomeSearchViewMetricHidden"
                };
                metricLogger = new NHS.Scripts.Globals.EventLogger(metricLoggerparameters);
                metricLogger.logHomeResultsMetrics("CDHV", 1);

                var logginparameter = {
                    commId: @Model.CommunityId,
                    builderId: @Model.BuilderId,
                    marketId: @Model.MarketId,
                    planId: @Model.PlanId,
                    specId: @Model.SpecId,
                    logActionMethodUrl: "@Model.LogActionMethodUrl"
                };
                loggin = new NHS.Scripts.Loggin(logginparameter);
                loggin.initialize();

                setTimeout(function() { logger.logEventWithParameters("@LogImpressionConst.CommunityDetailPageLoad", logginparameter); }, 3000);

                jQuery("#scheduleAppointment").click(function() {
                    jQuery("#ScheduleAppointmentRadio").click();
                });
                jQuery("#pro_contactBuilder").click(function() {
                    jQuery("#GeneralInquiryRadio").click();
                });

                jQuery.SetDataLayerPair("siteCommPV");
            });


        </script>
    }
    @Html.GetGoogleMapScript()

}
