﻿@model Nhs.Web.UI.AppCode.ViewModels.PartialViewModels.BDXFooter

@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@if (Model.NhsFooterVisible)
{
    <aside id="nhs_SocialFooter">
        <ul class="clearfix">
            <li><a id="nhs_Facebook" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Like us on Facebook" href="https://www.facebook.com/NewHomeSource">Facebook</a></li>
            <li><a id="nhs_Twitter" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Follow us on Twitter" href="https://www.twitter.com/NewHomeSource">Twitter</a></li>
            <li><a id="nhs_Pinterest" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="See us on Pinterest" href="https://www.pinterest.com/newhomesource/">Pinterest</a></li>
            <li><a id="nhs_YouTube" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="View Our Videos on YouTube" href="https://www.youtube.com/user/NewHomeSource">YouTube</a></li>
            <li><a id="nhs_GooglePlus" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Connect with us on Google+" href="https://plus.google.com/102652212865916066440/posts">Google+</a></li>
        </ul>
    </aside>
}
<div @(!Model.NhsFooterVisible ? "id=nhs_FooterWrapper" : "")>

    <footer id="nhs_Footer">
        <div>
            <aside id="nhs_FooterAdBox">
                <p class="visuallyhidden">@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                <div id="nhs_AdFooter">
                </div>
            </aside>

            @if (Model.NhsFooterVisible)
            {
                <!-- BDX - NHS Footer //-->

                <nav id="nhs_FooterSearch">
                    <p><strong>@LanguageHelper.NewHomeSearch.ToMvcHtmlString()</strong></p>
                    <ul>
                        @if (NhsRoute.IsMobileDevice)
                        {
                            <li>@Html.NhsMobileSite()</li>
                        }
                        <li><a href="/" onclick="jQuery.googlepush('Site Links', 'Footer','Search');">Search</a></li>
                        @if (NhsRoute.IsBrandPartnerNhsPro)
                        {
                            <li>
                                @Html.NhsLink(LanguageHelper.AdvancedSearch, "advancedsearch", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Advanced Search');" }, true)
                            </li>
                        }
                        <li>
                            @Html.NhsLink(LanguageHelper.BuildOnYourLot, "boylsearch", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Build on your lot');" }, true)
                        </li>
                        <li><a target="_blank" href="http://www.customnewhomes.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','Custom Builders');">@LanguageHelper.CustomBuilders.ToMvcHtmlString()</a></li>
                        <li class="nhs_Last">
                            @Html.NhsLink(LanguageHelper.ListYourHomes, "listyourhomes", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','List your homes');" }, true)
                        </li>
                    </ul>
                </nav>
                <nav id="nhs_FooterMore">
                    <p><strong>@LanguageHelper.MoreChoices.ToMvcHtmlString()</strong></p>
                    <ul>
                        <li><a target="_blank" href="http://www.newretirementcommunities.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','Retirement Communities');">@LanguageHelper.RetirementCommunities.ToMvcHtmlString()</a></li>
                        <li><a target="_blank" href="http://www.urbancondoliving.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','Search New Condos');">@LanguageHelper.SearchNewCondos.ToMvcHtmlString()</a></li>
                        <li>
                            @Html.NhsLink("NewHomeSource TV", Pages.NewHomeSourceTv, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links', 'Footer','NewHomeSource TV');", target = "_blank" }, true)
                        </li>
                        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                        {
                            <li><a target="_blank" href="http://www.casasnuevasaqui.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','Casas Nuevas');">Casas Nuevas en Espa&ntilde;ol</a></li>
                        }
                        else
                        {
                            <li><a target="_blank" href="http://www.newhomesource.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','NewHomeSource');">NewHomeSource</a></li>
                        }

                        <li><a target="_blank" href="http://blog.newhomesource.com/" onclick="jQuery.googlepush('Outbound Links', 'Footer','Home Trends Blog');">@LanguageHelper.HomeTrendsBlog.ToMvcHtmlString()</a></li>
                        @if (Nhs.Library.Common.Configuration.ShowEBook)
                        {
                            <li class="nhs_Last"><a target="_blank" href="/ebook" onclick="jQuery.googlepush('Site Links','Footer','Free eBook')">@LanguageHelper.FreeNewHome101eBook.ToMvcHtmlString()</a></li>
                        }
                    </ul>
                </nav>
                <nav id="nhs_FooterAbout">
                    <p><strong>@LanguageHelper.AboutThisSite.ToMvcHtmlString()</strong></p>
                    <ul>
                        <li>
                            @Html.NhsLink(LanguageHelper.Unsubscribe, Pages.Unsubscribe, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Unsubscribe');" }, true)
                        </li>
                        <li>
                            @Html.NhsLink(LanguageHelper.Help, Pages.SiteHelp, new List<RouteParam>(), new { accesskey = "6", onclick = "jQuery.googlepush('Site Links', 'Footer','Help');" }, true)
                        </li>
                        <li>
                            @Html.NhsLink(LanguageHelper.SiteIndex, Pages.SiteIndex, new List<RouteParam>(), new { accesskey = "3", onclick = "jQuery.googlepush('Site Links', 'Footer','Site Index');" }, true)
                        </li>
                        <li>
                            @Html.NhsLink(LanguageHelper.MortgageCalculator, Pages.MortgageCalculator, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Mortgage Calculator');" }, true)
                        </li>
                        @if (Model.ShowAboutFooter)
                        {
                            <li>
                                @Html.NhsLink(LanguageHelper.AboutUs, Pages.AboutUs, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','About us');" }, true)
                            </li>
                        }
                        <li>
                            @Html.NhsLink(LanguageHelper.ContactUs, Pages.ContactUs, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Contact us');" }, true)
                        </li>
                        <li>
                            @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Privacy policy');" }, true)
                        </li>
                        <li class="nhs_Last">
                            @Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse, new List<RouteParam>(), new { accesskey = "8", onclick = "jQuery.googlepush('Site Links', 'Footer','Terms of use');" }, true)
                        </li>
                    </ul>
                </nav>

                <p id="nhs_FooterLegal">
                    @if (@Model.Globals.PartnerLayoutConfig.AmIOnCommunityResultsPage)
                    {
                        <text>
                            @LanguageHelper.WhileBuildersDigitalExperience.ToMvcHtmlString()
                        </text>
                    }
                    Copyright &copy; 2001-@DateTime.Today.Year
                    Builders Digital Experience, LLC. <a href="http://www.newhomesource.com/" onclick="jQuery.googlepush('Site Links', 'Disclaimer','NewHomeSource.com');">NewHomeSource.com</a> is a trademark of <a target="_blank" href="http://www.thebdx.com" onclick="jQuery.googlepush('Outbound Links', 'Disclaimer','Builders Digital Experience');">Builders Digital Experience, LLC</a> and all other marks are either trademarks or registered trademarks of their respective owners. All rights reserved.
                </p>

            }

            @if (Model.MoveFooterVisible)
            {
                <!-- BDX - Move Footer //-->
                @Html.Partial(NhsMvc.PartialViews.Views.Actionable.MoveFooter)
            }
        </div>
    </footer>

</div>
