﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.PartialViewModels.BreadcrumbViewModel

@if (Model.IsVisible)
{
    <nav>
        <ol itemprop="breadcrumb">
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                @Html.BackToMySearchButtonPro(Model)
            }
            else
            {
                @Html.BackToMySearchButton(Model)
            }
            @Html.BreadcrumbStateV2(Model)
            @Html.BreadcrumbAreaV2(Model)
            @Html.RenderZipCodeV2(Model)
            @Html.RenderCountyAndCityCrumbV2(Model)
            @Html.RenderRecCommV2(Model)
        </ol>
    </nav>
}
