﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel

@if (Model.Globals.PartnerLayoutConfig.AmIOnCommunityResultsPage)
{
    <text>
        @LanguageHelper.WhileBuildersDigitalExperience.ToMvcHtmlString()
    </text>
}
Copyright &copy; 2001-@DateTime.Today.Year
@if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
{
    <span>Builders Digital Experience, LLC. <a href="http://www.casasnuevasaqui.com/" onclick="jQuery.googlepush('Site Links', 'Disclaimer','CasasNuevasAqui.com');">CasasNuevasAqui.com</a> es una marca comercial de <a target="_blank" href="http://www.thebdx.com" onclick="jQuery.googlepush('Outbound Links', 'Disclaimer','Builders Digital Experience');">Builders Digital Experience, LLC</a> y todas las otras marcas son marcas comerciales o marcas comerciales registradas de sus respectivos propietarios. Todos los derechos reservados.</span>
}
else
{
    <span>Builders Digital Experience, LLC. <a href="http://www.newhomesource.com/" onclick="jQuery.googlepush('Site Links', 'Disclaimer','NewHomeSource.com');">NewHomeSource.com</a> is a trademark of <a target="_blank" href="http://www.thebdx.com" onclick="jQuery.googlepush('Outbound Links', 'Disclaimer','Builders Digital Experience');">Builders Digital Experience, LLC</a> and all other marks are either trademarks or registered trademarks of their respective owners. All rights reserved.</span>
}
