﻿@using System.Globalization
@using Nhs.Web.UI.AppCode.Helper
@model  Nhs.Web.UI.AppCode.ViewModels.PropertyMapViewModel
@Html.GetGoogleMapScript()
@ResourceCombinerEnum.DRIVINGDIRECTIONSJS.GetCrunchedResource()
<script type="text/javascript">
        // Once the doc is ready, loads the map.
        jQuery(document).ready(function() {

            var mapParameters = {
                endLat: @Model.Latitude.ToString(new NumberFormatInfo()),
                endLng: @Model.Longitude.ToString(new NumberFormatInfo()),
                startLat: @Model.RouteLat.ToString(new NumberFormatInfo()),
                startLng: @Model.RouteLng.ToString(new NumberFormatInfo()),
                secondIcon: "@GlobalResources14.Default.images.icons.map_poi_gray_png ",
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                        Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                        Zoom: 10,
                        ContainerName: 'nhs_DrivingDirectionsMap',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 3,
                    UseClusterer: false,
                    DirectionsDisplayPanel: 'nhs_CommDrivDirSteps',
                }
            };
            
            var googleDrivingDirections = new NHS.Scripts.GoogleDrivingDirections(mapParameters);
            googleDrivingDirections.init();

        });
             
</script>
<div id="nhs_DrivingDirections">
    <h1>
        @string.Format(LanguageHelper.DrivingDirections, Model.StartingPoint, Model.PropertyName, Model.BrandName).ToMvcHtmlString()
    </h1>
    <p class="nhs_PrintLink">
        <a href="#" onclick="window.print();return false;">@LanguageHelper.Print.ToMvcHtmlString()</a></p>
    <h2>@Model.DrivingDirections</h2>
    <br />
    <input id="hfmapLat" type="hidden" value="@Model.Latitude.ToString(new NumberFormatInfo())" />
    <input id="hfmapLng" type="hidden" value="@Model.Longitude.ToString(new NumberFormatInfo())" />
    <input id="hfmapstartLat" type="hidden" value="@Model.RouteLat.ToString(new NumberFormatInfo())" />
    <input id="hfmapstartLng" type="hidden" value="@Model.RouteLng.ToString(new NumberFormatInfo())" />
    <div id="nhs_DrivingDirectionsMap" class="map" style="width: 600px; height: 350px;">
    </div>
    <p class="nhs_Caption">
        @LanguageHelper.DrivingDirections2.ToMvcHtmlString() @Model.BrandName</p>
    <div id="nhs_CommDrivDirSteps">
    </div>
</div>
