﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper

<div id="nhs_FooterWrapper">
    <footer id="nhs_Footer">
        <div>
            <aside id="nhs_FooterAdBox">
                <p class="visuallyhidden">Advertisement</p>
                <div id="nhs_AdFooter">
                </div>
            </aside>
            <hr class="nhs_ReaderAlt" />
            <div class="mv_FooterGroup">
                <p>
                    @Html.NhsLink("Find New Homes in Popular Cities:", Pages.SiteIndex, true)
                </p>
            </div>
            @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "footerlinks")
            <div class="nhs_Clear">
            </div>
            <nav class="mv_FooterGroup">
                Corporate: <a href="javascript:bookmark();">Bookmark this Site</a> |
                @Html.NhsLink("Site Map", Pages.SiteIndex, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Site Index');" }) |
                @Html.NhsLink("Help", Pages.SiteHelp, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Help');" }) |
                @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                {
                    if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                    {
                        @Html.NhsLink("Sign Out", NhsMvc.Account.ActionNames.LogOut, new List<RouteParam>(), new {id = "lnkSignOff"})
                    }
                    else
                    {
                        @Html.NhsLink("Sign In", Pages.SignIn)
                    }
                    @:|
                }
                @Html.NhsLink("Unsubscribe", Pages.Unsubscribe, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Unsubscribe');" })
                <br />
                @if (Model.Globals.PartnerInfo.FooterShowAboutUs.ToBool())
                {
                    <a href="http://www.move.com/company/corporateinfo.aspx" onclick="jQuery.googlepush('Outbound Links', 'Footer','About Move');">
                        About Move
                    </a> @:|
}
                @Html.NhsLink("Contact Us", Pages.ContactUs, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Contact us');" }) |
                <a href="http://www.move.com/company/linktous.aspx" title="Link to Us">Link to Us</a> |
                @Html.NhsLink("List Your Homes", Pages.ListYourHomes, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','List your homes');" }) |
                @Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Privacy policy');" }) |
                @Html.NhsLink("Terms of Use", Pages.TermsOfUse, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links', 'Footer','Terms of use');" })
            </nav>
            <div class="mv_FooterGroup mv_FooterCopyright">
                <div>
                    &copy; @DateTime.Today.Year Builders Digital Experience, LLC. All rights reserved.
                </div>
                @if (@Model.Globals.PartnerLayoutConfig.AmIOnHomePage)
                {
                    <div class="mv_FooterLegal">
                        <p>
                            While BDX works to ensure accurate new homes information, we do not assume any liability for inaccuracies.
                        </p>
                    </div>
                }
            </div>
            <script type="text/javascript">
                function bookmark(A, B) {
                    if (A == null) {
                        A = window.location.href;
                    }
                    if (B == null) {
                        B = document.title;
                    }
                    if (document.all) {
                        window.external.AddFavorite(A, B);
                    } else {
                        if (window.sidebar) {
                            window.sidebar.addPanel(B, A, "");
                        } else {
                            window.alert("Press CTRL+T to bookmark this page");
                        }
                    }
                }
            </script>

            <div class="nhs_Clear">
            </div>
        </div>
    </footer>

</div>
