﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PartialViewModels.SendFriend

<div class="nhs_SendFriend nhs_ModalBox" id="nhs_SendFriend">    
    <h2>@LanguageHelper.SendThisToAFriend.ToMvcHtmlString()</h2> 
        
    <fieldset>
        <legend class="nhs_Reader">@LanguageHelper.SendToFriendEmailAddresses.ToMvcHtmlString()</legend>
        <p>
            <label for="SupportEmail">@LanguageHelper.MyEmailAddress.ToMvcHtmlString()</label>
            <span class="nhs_SendCopy">
                @Html.CheckBoxFor(viewModel => viewModel.SendMe)
                <label for="SendMe">@LanguageHelper.SendMeACopy</label>
            </span>
            @Html.TextBoxFor(viewModel => viewModel.SupportEmail) @Html.ValidationMessageFor(viewModel => viewModel.SupportEmail, "*", new { @class = "nhsError" })
        </p>
              
        <p>
            <label for="FriendEmail">@LanguageHelper.FriendEmailAddress.ToMvcHtmlString()</label>
            @Html.TextBoxFor(viewModel => viewModel.FriendEmail) @Html.ValidationMessageFor(viewModel => viewModel.FriendEmail, "*", new { @class = "nhsError" })
            <span class="nhs_Legal">@LanguageHelper.UseCommasToSeparateEmailAddresses.ToMvcHtmlString()</span>
        </p>
                
        <p>
            <label for="LeadComments">@LanguageHelper.MyComments.ToMvcHtmlString() <span class="optional">(@LanguageHelper.Optional.ToMvcHtmlString())</span></label>                
            @Html.TextAreaFor(viewModel => viewModel.LeadComments, new { TextMode = "MultiLine", Columns = "20", Rows = "2" })
        </p>
    </fieldset>
    <span id="sendFriendValidationSummary">    </span>
    <input type="button" id="btnSubmitSendToFriend" value="@LanguageHelper.Send.ToMvcHtmlString()" class="btnCss btn_Submit" />
    <p class="nhs_LegalText">
        @LanguageHelper.WeValueYourPrivacySmall @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy) @LanguageHelper.ForMoreDetails
    </p>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#btnSubmitSendToFriend").click(function () {
            var isValid = true;
            var supportEmail = jQuery('#SupportEmail');
            var friendEmail = jQuery('#FriendEmail');
            var validationSummary = jQuery('#sendFriendValidationSummary');
            validationSummary.html("");
            var errors = "";
            if (supportEmail.val().trim() === "" || !jQuery.ValidEmail(supportEmail.val())) {
                errors = errors + "* @LanguageHelper.FromEmailAddressIsRequired <br />";
                isValid = false;
            }
            if (supportEmail.val().trim() === "" && !jQuery.ValidEmail(supportEmail.val().trim())) {
                errors = errors + "* @LanguageHelper.FromEmailAddressIsNotValid <br />";
                isValid = false;
            }
            if (friendEmail.val().trim() === "") {
                errors = errors + "* @LanguageHelper.FriendEmailAddressIsRequired <br />";
                isValid = false;
            } else {
                var friendsEmails = friendEmail.val().trim().split(",");
                if (friendsEmails.length > 3) {
                    isValid = false;
                    errors = errors + "*@LanguageHelper.YouCanOnlySendToThreeFriendEmail <br />";
                } else {
                    for (var i = 0; i < friendsEmails.length; i++) {
                        if (!jQuery.ValidEmail(friendsEmails[i])) {
                            isValid = false;
                            errors = errors + "* @LanguageHelper.FriendEmailAddressIsNotValid <br />";
                            break;
                        }
                    }
                }
            }


            if (!isValid) {
                validationSummary.html(errors);
                validationSummary.addClass("nhs_Error");
                validationSummary.show();
            } else {
                
                //debugger;
                var leadComments = jQuery('#LeadComments').val();
                var communityId = @Model.CommunityId;
                var builderId = @Model.BuilderId;
                var specId = @Model.PlanId;
                var planId = @Model.SpecId;
                var formData = {
                    SupportEmail: supportEmail.val(),
                    FriendEmail: friendEmail.val(),
                    LeadComments: leadComments,
                    CommunityId: communityId,
                    BuilderId: builderId,
                    SpecId: specId,
                    PlanId: planId,
                    SendMe: jQuery("#SendMe").is(":checked")
                };
                jQuery.ajax({
                    url: '/sendtofriendmodal',
                    type: 'POST',
                    data: formData,
                    success: function () {
                        tb_remove();
                    }
                });
            }
        });
    });

</script>
