﻿@model Nhs.Web.UI.AppCode.ViewModels.PartialViewModels.SeoLinkPromotion
@if (Model.ShowPromoArea)
{
    <div class="nhs_LinksPromo">
        <p class="nhs_LinkPromoTitle">@Model.Title
        </p>
        <ul class="nhs_LinkPromoList">
            @foreach (var link in Model.Links)
            { 
                <li><a href="@link.Url">@link.Name</a></li>
            }
        </ul>
    </div>
}
