﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Library.Business.ExtendedCommunityResult
@if (Model.ShowBasicListingIndicator)
{
    <div id="pnlGroupingBar" class="nhs_BasicListingBar">
        <p>Other Communities</p>
    </div>

}

<div class="nhs_CommResRow nhs_CommResRowBasic" id="nhs_CommResRowBasic@(Model.CommunityId)" onmouseover="$jq(this).addClass('nhs_CommResRowOn');"
     onmouseout="$jq(this).removeClass('nhs_CommResRowOn');" onclick="window.location.href='@(new List<RouteParam>().ToUrl(string.Format("{0}/community-{1}/{2}", Pages.BasicCommunity, Model.CommunityId, Model.ParamsBasicCommunityHref())).ToLower())' ; ">
    <div class=" nhs_resultthumbbox">
    <div class="nhs_ResultThumb" itemscope itemtype="http://schema.org/ImageObject">

        @Html.NhsActionImageLink(Model.GetBasicCommunityImage(), NhsMvc.BasicCommunityDetail.Show(Model.CommunityId, Model.ParamsBasicCommunityHref()), null, new { itemprop = "contentUrl" })
    </div>
</div>
<div class="nhs_ResultNameAddress">
    <p class="nhs_ResultName">
        @Html.NhsActionLink(Model.CommunityName, NhsMvc.BasicCommunityDetail.Show(Model.CommunityId, Model.ParamsBasicCommunityHref()), new { itemprop = "name" }))
    </p>
    <p class="nhs_ResultAddress">
        @Model.CommunityItemLocation()
    </p>
    <p class="nhs_ResultBrandName">
        <span><strong itemprop="description">@Model.BrandName</strong></span>
    </p>
</div>
<p class="nhs_ResultPrice">
    @Model.CommunityItemPriceRange()
</p>
<a class="btn_MatchingHomes" href="@(new List<RouteParam>().ToUrl(string.Format("{0}/community-{1}/{2}", Pages.BasicCommunity, Model.CommunityId, Model.ParamsBasicCommunityHref())).ToLower())">
    <span>
        @if (Model.MatchingHomes > 0)
        {
            @(Model.MatchingHomes > 1
                    ? string.Format("{0} matching homes", Model.MatchingHomes)
                    : string.Format("{0} matching home", Model.MatchingHomes))
        }
        else
        {
            @:View Details
                        }
    </span>
</a>
<div class="nhs_Clear">
</div>
</div>
