﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@model Nhs.Library.Business.ExtendedCommunityResult
@if (NhsRoute.IsBrandPartnerNhsPro)
{
    <p class="pro_ResultActions" onclick="NHS.Scripts.Helper.stopBubble(event);">
        <span>@Html.GetFreeBrochureLink(Model)</span> <span>
            @Html.GetSavePlannerLink(Model)
            @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
            {
                <span class="nhs_LockIcon">&nbsp;</span>
            }
        </span><span class="pro_ResultChecked">
            <label for="pro_ResultSendBrochure_@(Model.CommunityId)">
                Select
            </label>
            @Html.AddRemoveSelectedCommunity(Model)
        </span>
    </p>
}