﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Library.Business.ExtendedCommunityResult
@if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <div id="pnlGroupingBar" class="nhs_GroupingBar">
        <p>
            @Model.GroupingBarTitle</p>
    </div>

}
@* TODO FOR DEV - add the css class "nhs_Unbilled" to the Result Row for Pro 7 Unbilled Comms *@
<div class="nhs_CommResRow @(Model.IsBilled ? "" : (NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro)) ? "" : "nhs_Unbilled")" id="nhs_CommResRow@(Model.CommunityId)" onmouseover="jQuery(this).addClass('nhs_CommResRowOn');"
    onmouseout="jQuery(this).removeClass('nhs_CommResRowOn');"
    onclick="window.location.href = '@Model.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage()).ToLower()'">
    <div class="nhs_ResultThumbBox">
        <div class="nhs_ResultThumb">
            @Html.NhsImageLink(Model.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "nhs_DefaultImages" },Model.CdImgAttribs())
            @Html.NhsImageLink(Model.AlterCommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "nhs_AlterImages", style = "display:none;" }, Model.CdImgAttribs())
            @if (Model.CommunityType == "comingsoon")
            {
                if (Model.MatchingHomes > 0 && (NhsRoute.IsPartnerMove || NhsRoute.IsBrandPartnerMove))
                {
                <p class="nhs_ResultThumbOverlayImg">
                    Coming soon <a onclick="commResults.showQuickViewHomes(@Model.CommunityId,@Model.BuilderId,@Model.MarketId);NHS.Scripts.Helper.stopBubble(event);return false;" >
                        <span class="nhs_ResultShowQVBtn">Show</span></a>
                </p>
                    if (NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro))
                    {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon2_coming_soon_overlay_png" class="nhs_ResultThumbComingSoonImg" alt="Coming Soon" />
                    }
                }
                else
                { 
                <p class="nhs_ResultThumbOverlayNoHomes">
                    Coming soon</p>
                    if (NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro))
                    {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon2_coming_soon_overlay_png" class="nhs_ResultThumbComingSoonImg" alt="Coming Soon" />
                    }
                }
            }
            else if (NhsRoute.IsPartnerMove || NhsRoute.IsBrandPartnerMove)
            {
                <p class="nhs_ResultThumbOverlayImg">
                    <a onclick="commResults.showQuickViewHomes(@Model.CommunityId,@Model.BuilderId,@Model.MarketId);NHS.Scripts.Helper.stopBubble(event);return false;" href="@Model.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage()).ToLower()">
                        <span>@(Model.MatchingHomes > 1
                                               ? string.Format("{0} matching homes", Model.MatchingHomes)
                             : string.Format("{0} matching home", Model.MatchingHomes))</span><span class="nhs_ResultShowQVBtn">Show</span>
                    </a>
                </p>        
            }
            else
            {
                <p class="nhs_ResultThumbOverlayNoQV">
                    <a href="@Model.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage()).ToLower()"><span>@(Model.MatchingHomes > 1
                                               ? string.Format("{0} matching homes", Model.MatchingHomes)
                             : string.Format("{0} matching home", Model.MatchingHomes))</span></a></p>
            }
        </div>
    </div>
    <div class="nhs_ResultNamePrice">
        <p class="nhs_ResultName">
            @*        <%=Html.NhsActionLink(Model.CommunityName, Model.CdShowAction(), new { title = Model.CommunityName + " - " + Model.City + ", " + Model.State, onclick = "NHS.Scripts.Helper.stopBubble(event);" })%>*@
            @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new  {  title = Model.CommunityName + " - " + Model.City + ", " + Model.State, @id = "nhs_CommResultsItemLink" + Model.CommunityId , onclick = "NHS.Scripts.Helper.stopBubble(event);" })
        </p>
        <p class="nhs_ResultPrice">
            <strong>
                @Model.CommunityItemPriceRange()</strong>
        </p>
        <div class="nhs_ResultAddress">
            <p>
                @Model.CommunityItemLocation()</p>
            @if (Model.IsBilled && Model.Latitude != 0 & Model.Longitude != 0)
            {
                @Html.GetMapPopup(Model.CommunityName, Model.BrandName, Model.City, Model.MarketId, Model.MarketName, Model.State, Model.CommunityId, Model.BuilderId, Model.Latitude.ToString(""), Model.Longitude.ToString(""), Model.PriceHigh.ToString(""), Model.PriceLow.ToString(""))
            }
        </div>
    </div>
    <div class="nhs_ResultBrandAddress">
        @if (Model.IsBilled && !string.IsNullOrEmpty(Model.BrandImageThumbnail) && !Model.BrandImageThumbnail.Contains("1x1.gif"))
        {
            <div class="nhs_ResultBrandImg">
                @Html.NhsImage(Model.BrandImageThumbnail, Model.BrandName + " in " + Model.City + ", " + Model.State, true) 
            </div>
        }
        <p class="nhs_ResultBrandName">
            <strong><span>
                @Model.BrandName.ToMvcHtmlString()</span></strong></p>
    </div>
    @if (NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro))
    {
        if (Model.CommunityType.ToLower() != "comingsoon")
        {
        @Html.GetFreeBrochureLink(Model)
        }
    }
    else
    {
        <a class="btnCss btn_ViewHomes">View Homes</a>
    }
    @if (Model.HasVideo || Model.HasHotHome || Model.HasCoop || Model.PromoId != 0 || Model.Green || Model.CommunityType.ToLower() == "comingsoon" || Model.CommunityType.ToLower() == "grandopening" || Model.CommunityType.ToLower() == "closeout" || Model.HasEvents || Model.HasPromos)
    {
        <p class="nhs_ResultCommStatus">
            @if (Model.HasCoop)
            {
                <img src="@Resources.GlobalResourcesMvc.Pro.images.icons.icon_coop_png"
                     alt="Confirmed Co-op" /> 
            }
            @if (Model.HasVideo)
            {
                @Html.VideoIconLink(Model)
            }
            @if (Model.HasHotHome && NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro))
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png"
                     alt="Hot Home" /> 
            }
            @if (Model.HasPromos && (Model.Promotions == null || Model.Promotions.Count == 0))
            {
                if (NhsRoute.IsBrandPartnerNhsPro)
                {
                    if (Model.HasConsumerPromos)
                    {
                        <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png"
                             alt="Consumer Promo" /> 
                    }
                    if (Model.HasAgentPromos && Model.IsBilled)
                    {
                        <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png"
                             alt="Agent Promo" /> 
                    }
                }
                else if (Model.HasConsumerPromos)
                {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="Special Offers"/>
                }
            }
            @if (Model.Green)
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_green_png"
                     alt="Green Features" /> 
            }
            @if (Model.CommunityType.ToLower() == "comingsoon" && NhsRoute.IsBrandPartnerNhsPro)
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_coming_soon_png"
                     alt="Coming Soon" /> 
            }
            @if (Model.CommunityType.ToLower() == "grandopening")
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_grand_opening_png"
                     alt="Grand Opening" /> 
            }
            @if (Model.CommunityType.ToLower() == "closeout")
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_closeout_png"
                     alt="Closeout" /> 
            }
            @if (Model.IsBilled && Model.HasEvents && (Model.Events == null || Model.Events.Count == 0) && NhsRoute.IsBrandPartnerNhsPro)
            {
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_event_png"
                     alt="Event" /> 
            }
        </p>
    }
    <div class="nhs_Clear">
    </div>
    <div id="nhs_ResultQuickView@(Model.CommunityId)" class="nhs_ResultQuickView">
        <ul class="nhs_ResultQVList">
        </ul>
    </div>
    <div class="nhs_Clear">
    </div>
    @if (Model.Promotions != null && Model.Promotions.Count > 0)
    { 
        <div class="nhs_ResultPromotions">
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PromotionPro, Model.Promotions)
        </div>
        <div class="nhs_Clear">
        </div>
    }
    @if (Model.Events != null && Model.Events.Count > 0)
    { 
        <div class="nhs_ResultPromotions">
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.EventsPro, Model.Events)
        </div>
        <div class="nhs_Clear">
        </div>
    }
    @Html.Partial(NhsMvc.Default.Views.CommunityResults.CommunityItemFooterPro)
</div>
<hr class="nhs_ReaderAlt" />
