﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@model IEnumerable<Nhs.Library.Business.ExtendedCommunityResult>
@if (Model.Any())
{ 
    <div class="nhs_FeaturedBar">
        <p id="ftHeader">@(Model.Count() > 1 ? "Featured New Home Communities" : "Featured New Home Community")</p>
    </div>
}
@if (NhsRoute.IsBrandPartnerNhsPro)
{
    <div class="pro_FeaturedBox">
        @{
    Html.RenderPartial(NhsMvc.Default.Views.CommunityResults.FeaturedListingItem, Model, ViewData);
        }
    </div>
}
else
{
    Html.RenderPartial(NhsMvc.Default.Views.CommunityResults.FeaturedListingItem, Model, ViewData);
}