﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Common
@using Nhs.Utility.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<Nhs.Library.Business.ExtendedCommunityResult>
    @{ var pos = 1; }
    @foreach (var result in Model)
    {
        <input type="hidden" id="hfCommUrl" value="@result.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage())" />
        <input type="hidden" id="hfBuilderUrl" value="@PathHelpers.CleanNavigateUrl(result.BuilderUrl)" />
        <div class="nhs_CommResRow nhs_FLResRow" itemscope itemtype="http://schema.org/ImageObject">
            <div class="nhs_ResultThumbBox">
                @*Thumbnail*@
                <div class="nhs_ResultThumb">
                    @Html.GetFeaturedListingImageLink(result)
                    <p class="nhs_ResultThumbOverlayNoHomes">@(result.CommunityType == "comingsoon" || result.MatchingHomes == 0 ? "Coming soon" : string.Format("{0} matching homes", result.MatchingHomes))</p>
                </div>
            </div>
            <div class="nhs_ResultNamePrice">
                <p class="nhs_ResultName">
                    @*Comm Name Link*@
                    @Html.GetFeaturedListingLink(result, result.CommunityName)
                </p>
<p class="nhs_ResultPrice">
                    <strong>@result.CommunityItemPriceRange()</strong>
                </p>
                <div class="nhs_ResultAddress">
                    <p>@result.CommunityItemLocation()</p>
                    @if (result.IsBilled && result.Latitude != 0 && result.Longitude != 0)
                    {
                        @Html.GetMapPopup(result.CommunityName, result.BrandName, result.City, result.MarketId, result.MarketName, result.State, result.CommunityId, result.BuilderId, result.Latitude.ToString(""), result.Longitude.ToString(""), result.PriceHigh.ToString(""), result.PriceLow.ToString(""))
                    }
                </div>
            </div>
            <div class="nhs_ResultBrandAddress">
                <div class="nhs_ResultBrandImg">
                    @Html.NhsImage(result.BrandImageThumbnail, result.BrandName + " in " + result.City + ", " + result.State, new { itemprop = "contentUrl" }, true)
                </div>
                <p class="nhs_ResultBrandName">
                    <strong>
                        <span itemprop="description">
                            @result.BrandName
                        </span>
                    </strong>
                </p>
            </div>
            @*Get Info Button*@
            @Html.GetFeaturedListingLink(result, NhsRoute.BrandPartnerId == Convert.ToInt32(PartnersConst.Pro) ? "View Homes" : "Get more info")
            @if (result.HasHotHome || result.PromoId != 0 || result.Green || result.CommunityType.ToLower() == "comingsoon" || result.CommunityType.ToLower() == "grandopening" || result.CommunityType.ToLower() == "closeout")
            {
                <p class="nhs_ResultCommStatus">

                    @if (result.HasCoop)
                    {
                        <img src="@Resources.GlobalResourcesMvc.Pro.images.icons.icon_coop_png"
                             alt="Confirmed Co-op" />
                    }

                    @if (result.HasHotHome)
                    {
                        <img id="imgCommunityHotHome" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" alt="Hot Home" />
                    }
                    @*@if (result.PromoId != 0)
                    {
                        
                        <img id="imgCommunitySpecialOffer" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="Special Offer" />
                    }*@
                    @if (result.HasConsumerPromos)
                    {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png"
                         alt="Consumer Promo" />
                    }
                    @if (result.HasAgentPromos && result.IsBilled)
                    {
                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png"
                         alt="Agent Promo" />
                    }
                    @if (result.Green)
                    {
                        <img id="imgCommunityGreen" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_green_png" alt="Green Features" />
                    }
                    @switch (result.CommunityType.ToLower())
                    {
                        case "comingsoon":
                            <img id="imgCommunityComingSoon" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_coming_soon_png" alt="Coming Soon" />
                            break;

                        case "grandopening":
                        <img id="imgCommunityGrandOpening" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_grand_opening_png" alt="Grand Opening" />
                            break;

                        case "closeout":
                        <img id="imgCommunityCloseout" src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_closeout_png" alt="Closeout" />
                            break;

                    }
                </p>
            }
            <div class="nhs_Clear">
            </div>
            @if (NhsRoute.BrandPartnerId == Convert.ToInt32(PartnersConst.Pro))
            {
                <p class="pro_ResultActions" style="margin-top:3px; margin-bottom:0px; margin-left:-6px; margin-right:-6px" onclick="NHS.Scripts.Helper.stopBubble(event);">
                    <span>@Html.GetFreeBrochureLink(result)</span> <span>
                        @Html.GetSavePlannerLink(result)
                        @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                        {
                            <span class="nhs_LockIcon">&nbsp;</span>
                        }
                    </span><span class="pro_ResultChecked">
                        <label for="pro_ResultSendBrochure_@(result.CommunityId)">
                            Select
                        </label>
                        @{
                        result.FeaturedPosition = string.Format("{0}-{1}", Convert.ToString(ViewData["FeaturedArea"]), pos);
                        ++pos;
                        }
                        @Html.AddRemoveSelectedCommunity(result)
                    </span>
                </p>
            }
        </div>
        <hr class="nhs_ReaderAlt" />
    }
