﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.FindCustomBuilders
<div class="nhs_ResultCustomRow">
    <h2>
        @Html.NhsLink("Find Custom Builders in the " + Model.MarketName + " Area", Pages.BOYLResults,
                                               new List<RouteParam>
                                          {
                                              new RouteParam(RouteParams.Market, Model.MarketId.ToString())
                                          },
                                      new
                                          {
                                              onclick =
                                          "$jq.googlepush('Lead Events', 'Search Results CTA Custom Builder Listings', 'Open Form – Custom Builder Listings')"
                                          })
    </h2>
    <p>
        See more custom and on-your-lot builders like these:</p>
    @foreach (var builder in Model.FindCustomBuildersBuilders)
    {
        <div>
            <div class="nhs_ResultThumb">
                <img src="@builder.CommunityImage" alt=""/>
            </div>
            <div class="nhs_ResultBrandAddress">
                <div class="nhs_ResultBrandImg">
                    <img src="@builder.BuildeImage" alt="@builder.BuildeName" />
                </div>
                <p class="nhs_ResultBrandName">
                    <strong><span>@builder.BuildeName</span></strong></p>
            </div>
        </div>
    }
    <div class="nhs_Clear">
    </div>
    <span>@Html.BoylLinkResult(Model)</span>
    <div class="nhs_Clear">
    </div>
</div>
<hr class="nhs_ReaderAlt" />
