﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.ReturnedUserRecoComm
@if (Model.RecoCommunitys == null || Model.RecoCommunitys.Any() == false)
{
    <script type="text/javascript">
        tb_remove();
    </script>
}
else
{
    <div id="nhs_ModalContainer" class="nhs_ReturnRecoComms">
        <h2 id="nhs_AdditionalInfoHeader">
            @Model.GetHeadlineText</h2>
        <div class="nhs_ReturnRecoCommsList">
            <div>
                <h3>
                    Recently Viewed:
                </h3>
                <div class="nhs_CommResRow" itemscope itemtype="http://schema.org/ImageObject">
                    @Html.CheckBox("IsCheckMainCommBase", Model.DefaultChecked, new { @class = "nhs_RecoCommsCheckbox" })
                    <div class="nhs_ResultThumb">
                        <img itemprop="contentUrl" src="@CommunityResultExtension.RecCommThumbnail(Model.CommThumbnail)" alt="@Model.CommunityName" />
                    </div>
                    <h2 itemprop="name">@Model.CommunityName</h2>
                    <div class="nhs_ResultNamePrice">
                        <p>@Model.CommPrice</p>
                        <p>@Model.Address</p>
                    </div>
                </div>
                <input id="CommunityId" name="CommunityId" type="hidden" class="nhs_ReaderAlt" value="@Model.CommunityId" />
                <input id="BuilderId" name="BuilderId" type="hidden" class="nhs_ReaderAlt" value="@Model.BuilderId" />
                <input id="MarketId" name="MarketId" type="hidden" class="nhs_ReaderAlt" value="@Model.MarketId" />
                <input id="MatchEmail" name="MatchEmail" type="hidden" class="nhs_ReaderAlt" value="@Model.MatchEmail" />
            </div>
            <div class="nhs_Clear">
            </div>
            <div>
                <h4>
                    Similar to @Model.CommunityName:
                </h4>
                @for (var i = 0; i < Model.RecoCommunitys.Count(); i++)
                {
                    <div class="nhs_CommResRow" itemscope itemtype="http://schema.org/ImageObject">
                        @Html.CheckBox("RecoComms[" + i + "].Selected", Model.DefaultChecked, new { @class = "nhs_RecoCommsCheckbox" })
                        <div class="nhs_ResultThumb">
                            <img itemprop="contentUrl" src="@Model.RecoCommunitys[i].RecCommThumbnail()" alt="@Model.RecoCommunitys[i].CommunityName" />
                        </div>
                        <h2 itemprop="name">
                            @Model.RecoCommunitys[i].CommunityName
                        </h2>
                        <div class="nhs_ResultNamePrice">
                            <p>@string.Format("From {0:C0} - {1:C0}", Model.RecoCommunitys[i].PriceLow, Model.RecoCommunitys[i].PriceHigh)</p>
                            <p>@string.Format("{0} {1}, {2}", Model.RecoCommunitys[i].City, Model.RecoCommunitys[i].State, Model.RecoCommunitys[i].PostalCode)</p>
                        </div>
                        @Html.Hidden("RecoComms[" + i + "].BuilderId", Model.RecoCommunitys[i].BuilderId)
                        @Html.Hidden("RecoComms[" + i + "].CommunityId", Model.RecoCommunitys[i].CommunityId)
                    </div>
                }
            </div>
        </div>
        <div class="nhs_ReturnRecoCommsAddInfo">
            <div id="nhs_AdditionalInfo">
                @Model.GetSubheadText
            </div>
            <p>
                <label for="FullName">
                    *Full Name:
                </label>
                @Html.TextBoxFor(model => Model.FullName)
            </p>
            <p>
                <label for="Email">
                    *Email:
                </label>
                @Html.TextBoxFor(model => Model.Email)
            </p>
            <p>
                <label for="Zip">
                    *Zip:
                </label>
                @Html.TextBoxFor(model => Model.Zip, new { @class = "nhs_InputZip" })
            </p>
            <input id="sendBrosureRetComm" type="button" class="btnCss btn_GetFreeBrochures" value="Get Free Brochures" />
            <input id="sendBrosureRetCommFake" type="button" class="btnCss btn_GetFreeBrochures btn_Loading"
                   style="display: none" value="Get Free Brochures" />
            <div id="errorData" class="nhs_Error" style="display: none">
                <ul>
                    <li id="nhs_FullName" style="display: none">Please enter your Full Name.</li>
                    <li id="nhs_Email" style="display: none">Please enter your Email.</li>
                    <li id="nhs_ZipCode" style="display: none">Please enter your Zip Code.</li>
                    <li id="nhs_Communities" style="display: none">No communities selected.</li>
                </ul>
            </div>
            <p class="nhs_Legal">
                By submitting this form, I give permission for builders to respond by email, postal
                mail, and/or telephone based on contact info I have provided. We value your privacy!
                Read our @Html.NhsLink("Privacy policy", Pages.PrivacyPolicy, null, new { target = "_blank" })
                for more details.
            </p>
        </div>
        <div class="nhs_Clear">
        </div>
    </div>

    <iframe src="@NhsUrlHelper.ToUrl(null, "returnusermodalshown/?frompage=communityresults", true)" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow"></iframe>

    <script type="text/javascript">

        jQuery(document).ready(function () {

            jQuery("#sendBrosureRetComm").click(function () {
                jQuery(this).hide();
                jQuery("#sendBrosureRetCommFake").show();

                jQuery('#errorData').hide();
                if (validateFields()) {
                    var params = jQuery("#nhs_ModalContainer input").serialize();

                    jQuery.ajax({
                        type: "GET",
                        url: "@Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.SendBrosureReturnedUser)",
                        data: params,
                        cache: false,
                        error: function (ex) {
                            alert(ex.status + " " + ex.statusText);
                        },
                        success: function (dataResult) {
                            eval(dataResult.google);
                            jQuery('#nhs_ModalContainer').html('<div class="nhs_ReturnRecoCommsThankyou"><h2>Thank You!</h2>' +
                                '<p>The brochures you have selected will be delivered to your email address.</p><br />' +
                                '<div style="margin: 0 auto; width: 50px;">' +
                                '<input type="button" value="Close" onclick="tb_remove();" /></div></div>');
                            jQuery('#nhs_ModalContainer').append(dataResult.Iframe);
                            tb_resizeWindow(415, 120);
                        }
                    });
                } else {
                    jQuery("#sendBrosureRetCommFake").hide();
                    jQuery(this).show();
                }

            });

            function validateFields() {
                var isvalid = true;

                jQuery('.nhs_ReturnRecoCommsAddInfo #FullName,.nhs_ReturnRecoCommsAddInfo #Email,.nhs_ReturnRecoCommsAddInfo #Zip').removeAttr("style");
                jQuery('#errorData, #errorData li').hide();

                var name = jQuery('.nhs_ReturnRecoCommsAddInfo #FullName').val();
                if (name == '' || !ValidFullName(name)) {
                    jQuery('.nhs_ReturnRecoCommsAddInfo #FullName').attr("style", "border: 1px solid #FF0000");
                    jQuery('#errorData, #errorData #nhs_FullName').show();
                    isvalid = false;
                }
                var email = jQuery('.nhs_ReturnRecoCommsAddInfo #Email').val();
                if (email == '' || !ValidEmail(email)) {
                    jQuery('.nhs_ReturnRecoCommsAddInfo Email').attr("style", "border: 1px solid #FF0000");
                    jQuery('#errorData, #errorData #nhs_Email').show();
                    isvalid = false;
                }
                var zip = jQuery('.nhs_ReturnRecoCommsAddInfo #Zip').val();
                if (zip == '' || !ValidZipcode(zip)) {
                    jQuery('.nhs_ReturnRecoCommsAddInfo #Zip').attr("style", "border: 1px solid #FF0000");
                    jQuery('#errorData, #errorData #nhs_ZipCode').show();
                    isvalid = false;
                }

                if (jQuery(".nhs_RecoCommsCheckbox:checked").length == 0) {
                    jQuery('#errorData, #errorData #nhs_Communities').show();
                    isvalid = false;
                }
                return isvalid;
            }
        });
    </script>
}
