﻿@using System
@using System.Collections.Generic
@using System.Linq
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.CommunityResultsViewModel
@*QC button*@
@if ((Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{
    <div class="nhs_BuilderListingLink">
        <a href="http://www.thebdx.com/newhomesourcecom" class="btn btn_ListYourHomes" target="_blank"
            title="Opens in a new window or tab">Homebuilders, click here!</a>
    </div>
}
@Model.TrackingCommunityCount()
@Html.HiddenFor(model => model.ShowCode)
@if (Model.ShowCode)
{
    <pre>@Model.GetGtmDataLayerForCommResults().ToString()</pre>
    <pre>@Model.TrackingCommunityCount().ToString() </pre>
}
<div id="nhs_ResultsHeader">
    <p class="title">
        Community Results</p>
    <div id="nhs_CommResMatches">
        <h1>
            @if (string.IsNullOrEmpty(Model.LocationHeading))
            { 
                @Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State, Model.County, Model.Zip, Model.CommunityName, string.Empty, string.Empty, Model.SeoContentTags, Model.SeoTemplateType, "heading1")
            }
            else
            {
                @Model.LocationHeading
            }
        </h1>
        @Html.Partial(NhsMvc.Default.Views.CommunityResults.InformationArea)
    </div>
    @if (!string.IsNullOrEmpty(Model.LocationDescripcion))
    { 
        <p id="nhs_ResultsSubHeader">
            @Model.LocationDescripcion
        </p>
    }
</div>
<input id="NumPostBacks" name="NumPostBacks" type="hidden" value="@Model.NumPostBacks"
    class="nhs_Reader" />
<div id="nhs_CommResFacetCol">
    @Html.Partial(NhsMvc.Default.Views.CommunityResults.Facets)
    <div class="nhs_Clear">
    </div>
    @if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
    {
        <div id="nhs_RightTopSky">
            @*@Html.AdControl("Right3", true, false, Model.Globals.AdController, Model)*@
        </div>
    }
    else
    {
        <div id="nhs_RightTopSky2">
            @Model.Globals.Shell.AdSkyscraperHtml.ToMvcHtmlString()
        </div>
    
    }
    <div class="nhs_Clear">
    </div>
</div>
<section>
<div id="nhs_CommResMapListCol">     
@if (Model.Communities.Any())
{ 
    @Html.Partial(NhsMvc.Default.Views.CommunityResults.CommunityResultsTabs) 
} 

@if (Model.Communities.Any() || (!Model.Communities.Any() && Model.IsAjaxRequest))
{ 
    <div id="nhs_CommResShowMap" onclick="commResults.showMap(true); commResults.get_log().logEvent('CRMAPO', 0, 0);$jq.googlepush('Search Events', 'Search Results', 'Expand Map');" onmouseover="$jq(this).addClass('nhs_CommResShowMapHover');" onmouseout="$jq(this).removeClass('nhs_CommResShowMapHover');">
    </div>
} 

@if (Model.Communities.Any())
{
    <hr class="nhs_ReaderAlt" />
    <input type="hidden" id="pro_SendSelectedBrochuresCount" value="@UserSession.MultiBrochureList.BrochureList.Count()"/>
     @Html.Partial(NhsMvc.Default.Views.CommunityResults.SendSelectedBrochures)
    <div id="nhs_CommResSortPage">
        @Html.Partial(NhsMvc.Default.Views.CommunityResults.Sorting) 
        @Html.Partial(NhsMvc.PartialViews.Views.Common.Pager, Model.Communities) 
    </div>

    if (Model.FeaturedListingsTop.Any() || Model.FeaturedListingsBottom.Any())
    {
        ViewData.Add("IsProBrandPartnerId", (Model.Globals.PartnerInfo.BrandPartnerId == Convert.ToInt32(PartnersConst.Pro)));
    }

    if (Model.FeaturedListingsTop.Any())
    {
        ViewData.Add("FeaturedArea", "Top");
        Html.RenderPartial(NhsMvc.Default.Views.CommunityResults.FeaturedListing, Model.FeaturedListingsTop, ViewData);
    }

    var i = 0;
    foreach (var com in Model.Communities)
    {
        i++;
        Html.GetItemToShow(com);
        if (Model.FindCustomBuilders.Show && (i == 5 || (i == Model.Communities.Count() && Model.Communities.Count() < 6)) && Model.FindCustomBuilders.FindCustomBuildersBuilders.Any())
        {
            Html.RenderPartial(NhsMvc.Default.Views.CommunityResults.FindCustomBuilders, Model.FindCustomBuilders);
        }
    }

    if (Model.FeaturedListingsBottom.Any())
    {
        ViewData.Remove("FeaturedArea");
        ViewData.Add("FeaturedArea", "Down");                
       @Html.Partial(NhsMvc.Default.Views.CommunityResults.FeaturedListing, Model.FeaturedListingsBottom, ViewData)
    } 
        <div id="nhs_CommResCountPageLinks">
            <p id="nhs_PageCount">
                <select id="nhs_PageCountSelect">
                    <option value="@Configuration.CommunityResultsPageSize" @(UserSession.PageSize == Configuration.CommunityResultsPageSize ? "selected=\"selected\"" : "") >@Configuration.CommunityResultsPageSize</option>
                    <option value="25" @(UserSession.PageSize == 25 ? "selected=\"selected\"" : "")>25</option>
                    <option value="50" @(UserSession.PageSize == 50 ? "selected=\"selected\"" : "")>50</option>
                </select> 
                per page
            </p>
            @Html.Pager(Model.Communities.PageCount, Model.Communities.PageNumber, Model.PageLinkAction, "CommunityResults", Model.PagingRouteData).ToMvcHtmlString()
        </div>
    @Html.Partial(NhsMvc.Default.Views.CommunityResults.SendSelectedBrochures)
}
else
{ 
    <div id="nhs_ResNoMatchBox">
        <p class="nhs_ResNoMatchTitle">No new home communities or homes matched your search</p>
        @if (Model.Market.TotalCommunities > 0)
        { 
        <br />

        <p><strong>View all listings:</strong></p>        

                <ul>  
                @if (Model.Market.TotalCommunities != Model.Market.TotalCustomBuilders)
                {
                    <li><a rel='nofollow' href='javascript: commResults.reset("@Model.ClearSearchParametersJSon.Replace("\"", "\\\"")"); '>@Model.ClearFacetLinkText</a></li>
                }
                  @if (Model.Market.TotalCommsWithPromos > 0)
                  { 
                    <li><a rel='nofollow' href='javascript: commResults.reset("@Model.FindDealsSearchParametersJSon.Replace("\"", "\\\"")"); '>@String.Format("Find builder deals in the greater {0} area", Model.Market.MarketName)</a></li>
                  }
                  @if (Model.Market.TotalCommunities == Model.Market.TotalCustomBuilders)
                  { 
                    <li>@Html.NhsLink(Model.Market.TotalCustomBuilders.ToString() + " builders will custom build, or build on your lot.", Pages.BOYLResults, new List<RouteParam>() { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.SearchType, SearchTypeSource.BoylSearchResults) }, new { onclick = "commResults.get_log().logEvent('CRBOYL',0,0);" })</li>
                  }   
                </ul>  
                    
        <br />

        <p><strong>Or, refine your search at left:</strong></p>
            <p>Try these tips to find more new homes...</p>
            <ul>
                <li>Choose a broader price range</li>
                <li>Select "All areas" for your search location</li>
            </ul>
        }             

        <p>@Html.NhsLink("Start my search over", Pages.Home)</p>

    </div>
} 
@if (Model.Results.MarketContainsComingSoon && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{ 
    <div class="nhs_CommResSpecialRow" onmouseover="this.className='nhs_CommResSpecialRowOn';" onmouseout="this.className='nhs_CommResSpecialRow';">
        <h3>@Html.NhsLink("See Coming Soon Communities", Pages.CommunityResults, new List<RouteParam>() { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.ComingSoon, "true",RouteParamType.QueryString) }, new { @id = "ComingSoonFacet" }, false)</h3>
        <p>See communities that are coming soon to the greater @Model.Results.MarketName area</p>
    </div>
}
  @if (Model.Market.TotalQuickMoveInHomes > 0)
  {
    <div class="nhs_CommResSpecialRow" onmouseover="this.className='nhs_CommResSpecialRowOn';" onmouseout="this.className='nhs_CommResSpecialRow';">
        <h3>@Html.NhsLink("Quick Move-In Homes", new List<RouteParam>() { new RouteParam(RouteParams.Market, Model.Market.MarketId.ToString()), new RouteParam(RouteParams.HomeStatus, "1") }, Pages.HomeResults)
        </h3>
        <p>
            @if (!Model.IsMove)
            {
                @:Homes ready for move-in in the greater @Model.Results.MarketName area
            }
            else
            {
                @:See quick move-in homes in @Model.Results.MarketName
            }
        </p>
    </div>
  }
  @if (Model.Results.MarketContainsCustomBuilder && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
  {
    <div class="nhs_CommResSpecialRow" onmouseover="this.className='nhs_CommResSpecialRowOn';" onmouseout="this.className='nhs_CommResSpecialRow';">
        <h3>
            @Html.NhsLink("Custom Building & Build On Your Lot", Pages.BOYLResults, new List<RouteParam>() { new RouteParam(RouteParams.Market, Model.Market.MarketId), new RouteParam(RouteParams.SearchType, SearchTypeSource.BoylSearchResults) }, new { onclick = "commResults.get_log().logEvent('CRBOYL',0,0);" })
        </h3>
        <p>Find specialty builders in the greater @Model.Results.MarketName area</p>
    </div>
  }             
<div class="nhs_Clear"></div>
</div>
</section>
<aside>
    
    <div id="nhs_CommResVideoAds">                
        @if (Model.BrandsPromoted.Count > 0 && !Model.IsAOnlyBasicListingsMarket)
        { 
            @Html.Partial(NhsMvc.Default.Views.CommunityResults.BuilderPromo)
        } 
        
        @if (NhsRoute.IsBrandPartnerNhsPro)
        {           
            Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.Tv.Partials.PartialCommResultsTvLink);                       
        }
        
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro && !String.IsNullOrEmpty(Model.MarketMapPdfFilePath))
        {
            <div id="pro_CommResMarketMaps" class=@(UserSession.UserProfile.ActorStatus == WebActors.ActiveUser ? " " : "pro_MapsLock")>
                @if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                {
                    @Html.NhsLink("Print a map of new homes in <span><strong>" + Model.Market.MarketName + "</strong> ></span>", Model.MarketMapPdfFilePath, new List<RouteParam>(), new
                    {
                        onclick = string.Format("$jq.googlepush('Outbound Links','Map Download','{0}-{1}');", Model.Market.MarketName, Model.Market.MarketId),
                        target = "_blank"
                    }, false, true)
                }
                else
                {
                    @Html.GetSignInLink("Print a map of new homes in <span><strong>" + Model.Market.MarketName + "</strong> ></span>")
                }
            </div>
        }
        @{ Html.RenderPartial(NhsMvc.Default.Views.Newsletter.PartialSmallSignUp, new NewsletterViewModel()
           {
               MarketId = Model.Market.MarketId,
               MarketName = Model.Market.MarketName,
               IsSmallSignUpRequest = true,
               PartnerName = Model.Globals.PartnerInfo.PartnerName,
               PartnerSiteUrl = Model.Globals.PartnerSiteUrl
           }); }

        <div id="nhs_CommResVideo">
            @Html.Partial(NhsMvc.Default.Views.Common.MediaGallery) 
        </div>

        <div class="nhs_Clear"></div>
        @if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
             || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
             || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
        {
            <div id="nhs_CommResRightAds">
                <div id="nhs_MiddleTopSq"></div>
                <div id="nhs_MiddleRightBottomSq"></div>
            </div>
        }
        else
        {
            <div id="nhs_commResultsAd">
                @Model.Globals.Shell.AdCommResHTML.ToMvcHtmlString()
            </div>
        }
        <div class="nhs_Clear"></div>
    </div>
</aside>
<input id="hdnAdUpdateTop" type="hidden" value="@Model.AdUpdateTop" />
<input id="hdnAdUpdateMiddle" type="hidden" value="@Model.AdUpdateMiddle" />
<input id="hdnAdUpdateMiddle3" type="hidden" value="@Model.AdUpdateMiddle3" />
<input id="hdnAdUpdateRight2" type="hidden" value="@Model.AdUpdateRight2" />
<div class="nhs_Clear">
</div>
@*Footer*@
@Html.Partial(NhsMvc.Default.Views.CommunityResults.CommunityResultsFooter)
<script type="text/javascript">
   $jq(document).ready(function() {
        // moved here from code behind to avoid bots to make fake loging from the page 
        if ('@Model.CommunitiesIdList' != '') {
           setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.CommunityResults', { builderCommunityList: '@Model.CommunitiesIdList', marketId: @Model.Market.MarketId, refer: '@UserSession.Refer', partnerId : @NhsRoute.PartnerId }); }, 2000);
        } 
        
        if ('@Model.BasicListingsIdList' != '') { 
           setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.BasicListingCommunityResults', { basicListingList: '@Model.BasicListingsIdList', marketId: @Model.Market.MarketId, refer: '@UserSession.Refer', partnerId : @NhsRoute.PartnerId }); }, 2000);
        }

        if ('@Model.BasicCommunitiesIdList' != '') { 
           setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.BasicCommsCommunityResults', { basicListingList: '@Model.BasicCommunitiesIdList', marketId: @Model.Market.MarketId, refer: '@UserSession.Refer', partnerId : @NhsRoute.PartnerId }); }, 2000);
        }

        if ('@Model.FeaturedListingsIdList' != '' ) {
           setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.FeaturedListingView', { featuredListingList: '@Model.FeaturedListingsIdList', marketId: @Model.Market.MarketId, refer: '@UserSession.Refer', partnerId : @NhsRoute.PartnerId }); }, 2000);
        }
             
    });
</script>
