﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityResultsViewModel
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Library.Enums
@using Nhs.Utility.Constants
@if (NhsRoute.IsBrandPartnerNhsPro)
{
    <div class="pro_SendSelectedBrochures">
        <a class="nhs_fake btn btn_SendSelectedBrochures" title="Send Brochure" href="javascript:void(0)"
            onclick="alert('Please select a community')" style="@string.Format("{0}", !UserSession.MultiBrochureList.BrochureList.Any() ? "" : "display:none;")">Send Selected
            Brochures (0)</a>
        @Html.SendCustomBrochureLink(Model.FreeBrochureParams(), false, false,
        UserSession.UserProfile.ActorStatus != WebActors.ActiveUser,
        "Send Selected Brochures (" + UserSession.MultiBrochureList.BrochureList.Count() + ")",
        "btn btn_SendSelectedBrochures",
         string.Format("{0}", !UserSession.MultiBrochureList.BrochureList.Any() ? "display:none;" : ""))
    </div>
}