﻿@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants;
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Utility.Common;
@using Nhs.Mvc.Routing.Interface;
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
<style type="text/css">a { color: @Model.EmailTemplateLinkColor }</style>
<div>
    <table width="100%" height="100%;" cellpadding="0" cellspacing="0" border="0" bgcolor="#e6ebf0" style="background:#e6ebf0;width:100%;">
        <tbody>
        <tr>
        <td style="padding:8px 0;vertical-align:top;">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td width="540">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding: 4px 0 4px 14px;" align="center"><font size="1" color="#580a00" face="Arial,Helvetica,sans-serif" style="font-size: 10px;">
                                            @LanguageHelper.HavingTroubleReadingThisEmail.ToMvcHtmlString() <a href="http://NewsLetterLink" style="color: #580a00;">@LanguageHelper.ReadItOnOurWebsite.ToMvcHtmlString()</a>
                                        </font></td>
                                    </tr> 
                                    <tr>
                                        <td bgcolor="#ffffff">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="@Model.EmailTemplateTopHeaderColor" style="background:@Model.EmailTemplateTopHeaderColor;padding:4px 10px 14px 10px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="55%"  height="55px" style="padding:10px 0 0 0;">
                                                                        @Html.NhsImageLink(Model.PartnerEmailLogo, Pages.Home, new List<RouteParam>().IncludeUtmParams("brochure", "email", "weblink", "topnav", "newhomesinsider"), null, new { width = "140"}, false, false, false, true)
                                                                    </td>
                                                                    <td align="right" valign="middle" style="padding:8px 0 0 0;vertical-align:middle;text-align:right;">
                                                                        @if (!Model.Globals.PartnerLayoutConfig.PartnerIsABrand)
                                                                        {
                                                                            @Html.NhsImageLink(Model.BrandEmailLogo, Pages.Home, new List<RouteParam>().IncludeUtmParams("brochure", "email", "weblink", "topnav", "newhomesinsider"), null, false, false, false, true, true)
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>                        
                                                </tr>   
                                                <tr>
                                                    <td bgcolor="@Model.EmailTemplateTopHeader2Color" style="background:@Model.EmailTemplateTopHeader2Color;padding:4px 10px 14px 10px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="50%" valign="middle" style="padding:10px 0 0 0;vertical-align:middle;">
                                                                        <font size="1" color="#ffffff" face="Arial,Helvetica,sans-serif" style="font-size:11px;">
                                                                            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                                                                            {
                                                                                    <span>Prepared for $lookup(Name)$</span><br />  
                                                                            }
                                                                            $lookup(GenerationDate)$, $lookup(GenerationDateYear)$
                                                                        </font>
                                                                    </td>
                                                                    <td align="right" valign="middle" style="padding:8px 0 0 0;vertical-align:middle;text-align:right;">
                                                                        <font size="2" color="#ffffff" face="Arial,Helvetica,sans-serif" style="font-size:16px;line-height:1;"><b>Your @Model.Market.MarketName<br />@LanguageHelper.NewHomesInsider.ToMvcHtmlString()</b></font>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>                        
                                                </tr>   
                                                <tr>
                                                    <td style="padding:6px 10px;">
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                            <tbody>
                                                                @if (Model.Communities != null && Model.Communities.Count > 0)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterNewCommunities); } 
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                @if (Model.Promotions != null && Model.Promotions.Count > 0)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterPromotions); }  
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                @if (Model.ShowEventsSection && Model.Events != null && Model.Events.Count > 0)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterEvents); }  
                                                                        </td>
                                                                    </tr>
                                                                }              
                                                                @if (Model.QuickMoveinHomes != null && Model.QuickMoveinHomes.Count > 0)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterQuickMoveinHomes); }  
                                                                        </td>
                                                                    </tr>
                                                                }       
                                                                @if (!Model.IsRegisteredUser)
                                                                {                                                  
                                                                    <tr> <!-- Row for Monthly Only -->
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterMontly); }  
                                                                        </td>
                                                                    </tr> <!-- END - Row for Monthly Only -->
                                                                }
                                                                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro && !String.IsNullOrEmpty(Model.MarketMapPdfFilePath))
                                                                {
                                                                    <tr>
                                                                        
                                                                        <td bgcolor="@Model.EmailTemplateTopHeaderColor" style="background: @Model.EmailTemplateTopHeaderColor; padding: 20px; color:white; font-family:Helvetica, Arial, sans-serif; text-align:center;">
                                                                            <img src="@Resources.GlobalResourcesMvc.Pro.images.icons.map_newsletteremail_png" alt="Print Maps of New Homes" style="padding-right:5px;" />@Html.NhsLink("Print a map of new homes in <strong>" + Model.Market.MarketName + "</strong> >", Model.MarketMapPdfFilePath, new List<RouteParam>(), new { style = "color:white; text-decoration:none; vertical-align: 9px; font-size:22px; font-weight:lighter   ;" }, false, true)       
                                                                        </td>
                                                                    </tr>
                                                                    <br />
                                                                }
                                                                @if (Model.FeaturedCommunities != null && Model.FeaturedCommunities.Count > 0)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterFeaturedCommunities); }                                                                
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @{ Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.NewsLetter.NewsLetterNews); }  
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr>
                                                                    <td style="border-top:1px solid #e6e5e1;padding:10px 4px 0 4px;font-family:Arial,Helvetica;font-size:10px;color:#444444;">
                                                                        <!-- Email Footer -->
                                                                        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                                                                        {
                                                                            <font sizeñ="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                                                                <b>We value your privacy!</b> You've received this message because your email address $lookup(Email)$ subscribed to New Home Source Professional, a site designed exclusively for real estate agents looking for new construction homes. Received this message in error? <a href="http://UnsubscribeLink" style="color:@Model.EmailTemplateLinkColor;">Click here to unsubscribe.</a>  Not signed up?  @Html.NhsLink("Click here to register for free.", Pages.Register, new List<RouteParam>().IncludeUtmParams("brochure", "email", "subscribe", "botnav", "newhomesinsider"), new { style = "color: " + Model.EmailTemplateLinkColor + ";" }, false, true)
                                                                            </font>
                                                                            <br /><br />
                                                                            <font size="1" color="#999999" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                                                                Copyright &copy; @System.DateTime.Now.Year Builders Digital Experience, LLC. 11900 Ranch Road 620 N, Austin, TX 78750-1345 USA
                                                                                On the web: @Html.NhsLink("www.newhomesourceprofessional.com.", Pages.Home, new List<RouteParam>().IncludeUtmParams("brochure", "email", "home", "botnav", "newhomesinsider"), new { style = "color:#444444;" }, false, true) Contact us: <a href="mailto:support@newhomesourceprofessional.com" style="color:#444444;">support@newhomesourceprofessional.com</a>
                                                                            </font>
                                                                        }
                                                                        else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                                                        {
                                                                            <font sizeñ="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size: 10px;">
                                                                                Este correo electrónico fue enviado a $lookup(Email)$. Usted suscrito al boletín semanal de Casas Nuevas Aquí, la mayor colección de casas nuevas en línea. Valoramos su @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), null, false, true) <a href="http://UnsubscribeLink" style="color: @Model.EmailTemplateLinkColor;">Haga clic aquí para darse de baja.</a> No registrado? @Html.NhsLink("Click here to register for free.", Pages.SignUp, new List<RouteParam>().IncludeUtmParams("brochure", "email", "subscribe", "botnav", "newhomesinsider"), new { style = "color: " + Model.EmailTemplateLinkColor + ";" }, false, true)
                                                                            </font>
                                                                            <br /><br />
                                                                            <font size="1" color="#999999" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                                                                Copyright &copy; @System.DateTime.Now.Year Builders Digital Experience, LLC. 11900 Ranch Road 620 N, Austin, TX 78750-1345 USA
                                                                                En la web: @Html.NhsLink("www.casasnuevasaqui.com", Pages.Home, new List<RouteParam>().IncludeUtmParams("brochure", "email", "home", "botnav", "newhomesinsider"), new { style = "color:#444444;" }, false, true) Contáctenos: <a href="mailto:info@newhomesource.com" style="color:#444444;">info@newhomesource.com</a>
                                                                            </font>
                                                                        }
                                                                        else
                                                                        {
                                                                            <font sizeñ="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size: 10px;">
                                                                                This email was sent to $lookup(Email)$. You subscribed to the weekly update from @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? "New Home Source" : "Move New Homes"), the largest collection of new homes online. We value your @Html.NhsLink("privacy", Pages.PrivacyPolicy, new List<RouteParam>(), null, false, true) <a href="http://UnsubscribeLink" style="color: @Model.EmailTemplateLinkColor;">Click here to unsubscribe.</a> Not signed up? @Html.NhsLink("Click here to register for free.", Pages.SignUp, new List<RouteParam>().IncludeUtmParams("brochure", "email", "subscribe", "botnav", "newhomesinsider"), new { style = "color: " + Model.EmailTemplateLinkColor + ";" }, false, true)
                                                                            </font>
                                                                            <br /><br />
                                                                            <font size="1" color="#999999" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                                                                Copyright &copy; @System.DateTime.Now.Year Builders Digital Experience, LLC. 11900 Ranch Road 620 N, Austin, TX 78750-1345 USA
                                                                                On the web: @Html.NhsLink((Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? "www.newhomesource.com" : "www.move.newhomes.com"), Pages.Home, new List<RouteParam>().IncludeUtmParams("brochure", "email", "home", "botnav", "newhomesinsider"), new { style = "color:#444444;" }, false, true) Contact us: <a href="mailto:@(Model.Globals.PartnerLayoutConfig.IsPartnerNhs ? "info@newhomesource.com" : "movenewhomeinfo@move.com")" style="color:#444444;">@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? "info@newhomesource.com" : "movenewhomeinfo@move.com")</a>
                                                                            </font>
                                                                        }
                                                                        <!-- END - Email Footer -->
                                                                        <!-- Insert image beacon here -->

                                                                    </td>

                                                                </tr>   
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>                                      
                                            </tbody>
                                        </table>                                    
                                        </td>                    
                                    </tr>                            
                                </tbody>                   
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        </tr>
        </tbody>
    </table>
</div>
