﻿@model Nhs.Web.UI.AppCode.ViewModels.EmailTemplateViewModel
<style>
    img
    {
        display: block;
    }
    a:hover
    {
        text-decoration: underline;
    }
</style>
<table width="100%" height="100%;" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background: #fff; width: 100%;">
    <tr>
        <td style="padding:0;vertical-align:top;text-align:center;">
            @Html.EmailStaticContent(Model.ReplacementTags, "Header.html")
            @Html.EmailStaticContent(Model.ReplacementTags, "TopArea.html")
            <table width="100%" cellpadding="0" cellspacing="0" bgcolor="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "#dfe1e7" : "#eeeeee")" style="background:@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "#dfe1e7" : "#eeeeee");
                width: 100%;">
                <tr>
                    <td style="padding: 30px 0; vertical-align: top; text-align: center;">
                        @foreach (var leadItem in Model.SourceProperties)
                        { 
                            @Html.Partial(NhsMvc.Default.Views.EmailTemplate.Common.LeadItem, leadItem)
                        }</td>
                </tr>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" bgcolor="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "#c6ccd2" : "#bababa")" style="background:@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "#c6ccd2" : "#bababa");width: 100%;">
                <tr>
                    <td style="padding: 50px 0 0 0; vertical-align: top; text-align: center;">
                        @Html.EmailStaticContent(Model.ReplacementTags, "FooterArea.html")</td>
                </tr>
            </table></td>
    </tr>
</table>

<input type="hidden" name="RequestId" value="@Model.RequestId" />