﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PresentedEmailViewModel
@if (Model.CommunityList.Any())
{
    <table width="100%" height="100%;" cellpadding="0" cellspacing="0" border="0" bgcolor="#e6ebf0"
           style="background: #e6ebf0; width: 100%;">
        <tbody>
            <tr>
                <td style="padding: 8px 0; vertical-align: top;">
                    <table cellpadding="0" cellspacing="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td width="500">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#ffffff">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 0;">
                                                                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                                                                    {
                                                                        <img src="@GlobalResources14.CNA.images.email.header_match_gif" alt="Casas Nuevas Aqui" style="width:100%;max-width:500px;height:auto;" border="0" />
                                                                    }
                                                                    else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                                                                    {
                                                                        <img src="@GlobalResourcesMvc.NewHomeSource.images.email.header_match_gif" alt="New Home Source Match" style="width:100%;max-width:500px;height:auto;" border="0" />
                                                                    }
                                                                    else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                                                                    {
                                                                        <img src="@GlobalResourcesMvc.Move.images.email.header_match_gif" alt="Move New Homes Match" style="width:100%;max-width:500px;height:auto;" border="0" />
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 30px 20px 8px 20px;">
                                                                                    <font size="3" color="#5b5b5b" face="Arial,Helvetica,sans-serif" style="font-size: 16px;
                                                                                        line-height: 1.1;">@string.Format(LanguageHelper.BasedOnYourInterest, Model.FirstName, Model.CommunityName, Model.MarketName).</font>
                                                                                    </td>
                                                                                    <td width="180" align="right" valign="bottom" style="padding: 35px 20px 8px 0;">
                                                                                        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                                                                        {
                                                                                            <table cellpadding="8" cellspacing="0" bgcolor="#ffce34" align="right" style="background: #ffce34; border: 2px solid #eec032; border-radius: 4px;">
                                                                                                <tr>
                                                                                                    <td style="padding: 4px 12px 6px 12px;"><font size="3" color="#ffffff" face="Arial,Helvetica,sans-serif" style="font-size: 14px;"><b>@Html.GenerateLinkGetAllBrochures(Model)</b></font></td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        }
                                                                                        else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                                                                                        {
                                                                                            <table cellpadding="8" cellspacing="0" bgcolor="#a1c268" style="background: #a1c268; border: 2px solid #7aa929; border-radius: 4px;">
                                                                                                <tr>
                                                                                                    <td style="padding: 4px 12px 6px 12px;">
                                                                                                        <font size="3" color="#ffffff" face="Arial,Helvetica,sans-serif" style="font-size: 14px;"><b>@Html.GenerateLinkGetAllBrochures(Model)</b></font>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                @for (var i = 0; i < Model.CommunityList.Count(); i++)
                                                                {
                                                                    <tr>
                                                                        <td style="padding: 0 20px;">
                                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="padding: 10px 0; border-top: 2px solid #e6e6e6;">
                                                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td colspan="2" style="padding: 0 0 6px 0;">
                                                                                                            @Html.CommPresentedImages(Model.CommunityList[i])
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="width:70%;">
                                                                                                            <font size="3" color="@(NhsRoute.IsBrandPartnerMove?"#497cbc":"#2c8fcd") " face="Arial,Helvetica,sans-serif" style="font-size: 18px;color:@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "#497cbc" : "#2c8fcd") "><b>@Model.CommunityList[i].CommunityName</b></font>
                                                                                                            <br /><font size="2" color="#5b5b5b" face="Arial,Helvetica,sans-serif" style="font-size: 14px;">
                                                                                                                @if (Model.CommunityList[i].PriceLow == Model.CommunityList[i].PriceHigh)
                                                                                                                {
                                                                                                                    @string.Format("{0:C0}", Model.CommunityList[i].PriceLow)
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    @string.Format("From {0:C0} - {1:C0}", Model.CommunityList[i].PriceLow, Model.CommunityList[i].PriceHigh)
                                                                                                                }
                                                                                                            </font>
                                                                                                        </td>
                                                                                                        <td width="140" align="right" valign="middle" style="text-align:right;width:140px;padding:0;">
                                                                                                            <a href="@Model.GenerateLinkRecomendationsPage(i)">
                                                                                                                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                                                                                                {
                                                                                                                    <img src="@GlobalResources14.CNA.images.email.btn_get_more_info_gif" width="140" height="30" border="0" alt="Get More Info" />
                                                                                                                }
                                                                                                                else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                                                                                                                {
                                                                                                                    <img src="@GlobalResourcesMvc.NewHomeSource.images.email.btn_get_more_info_gif" width="140" height="30" border="0" alt="Get More Info" />
                                                                                                                }
                                                                                                                else if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                                                                                                                {
                                                                                                                    <img src="@GlobalResourcesMvc.Move.images.email.btn_get_more_info_gif" width="140" height="30" border="0" alt="Get More Info" />
                                                                                                                }
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="border-top: 2px solid #e6e6e6; padding: 45px 4px 20px 4px;
                                                    font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #000000; text-align: center;line-height:1.1;">
                                                        <!-- Email Footer -->
                                                        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                                        {
                                                            <font size="1" color="#000000" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                                                Nota: folletos inmediatos están en formato PDF de Adobe. Abrir, <a color="#2c8fcd" style="color: #2c8fcd;" href="http://www.adobe.com/products/acrobat/readstep2.html"> descargar y instalar el programa gratuito<br /> Adobe Reader software </a>. Folletos instantánea permanecen disponibles para ver, guardar o imprimir durante 7 días.<br />
                                                                <br />
                                                                Para darse de baja de todos los correos electrónicos nuevos, @Html.NhsLinkWithUtm("Haz clic aquí", Pages.Unsubscribe, new List<RouteParam> { new RouteParam(RouteParams.UserId, Model.Email,RouteParamType.QueryString) }, new { color = "#2c8fcd", style = "color:#2c8fcd;" }, "utm_source=recommended&utm_medium=email&utm_campaign=recommended+-+no+box&utm_content=unsubscribe").
                                                            </font>
                                                        }
                                                        else
                                                        {
                                                            <font size="1" color="#000000" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                                                Note: Instant brochures are in Adobe PDF format. To open, <a color="#2c8fcd" style="color: #2c8fcd;" href="http://www.adobe.com/products/acrobat/readstep2.html"> download &amp; install the free<br /> Adobe Reader software </a>. Instant brochures remain available to view, save or print for 7 days.<br />
                                                                <br />
                                                                To unsubscribe from all further emails, @Html.NhsLinkWithUtm("click here", Pages.Unsubscribe, new List<RouteParam> { new RouteParam(RouteParams.UserId, Model.Email,RouteParamType.QueryString) }, new { color = "#2c8fcd", style = "color:#2c8fcd;" }, "utm_source=recommended&utm_medium=email&utm_campaign=recommended+-+no+box&utm_content=unsubscribe").
                                                            </font>
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
}