﻿@using System.Linq
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Mvc.Domain.Model.CMS.RcFeaturedHomesSlideShowImage
<div class="nhs_CmsSlideFeature">
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <h1 class="nhs_CmsArticleTitleSlide">@Model.Title</h1>
    }
    else
    {
        <h1 class="nhs_CmsArticleTitleSlide">&nbsp;</h1>
    }

    @if (string.IsNullOrWhiteSpace(Model.SubTitle) == false)
    {
        <h2 class="nhs_CmsArticleSubTitleSlide">@Model.SubTitle</h2>
    }

    <div>
        @Html.Raw(Model.PictureUrl)
        <span class="clearfix"></span>
        <div class="nhs_CmsSlideFeatureDetailBox clearfix">
            <div class="nhs_CmsSlideFeatureDetail">
                @if (!string.IsNullOrWhiteSpace(Model.OverlayTitle))
                {
                    <p class="nhs_Title">@Model.OverlayTitle</p>
                    <hr />
                }
                @if (string.IsNullOrWhiteSpace(Model.OverlayAreaOne) == false)
                {
                    <div class="nhs_CmsSlideFeatureDetailText">
                        @Html.Raw(Model.OverlayAreaOne)
                    </div>
                    <hr />
                    <span class="nhs_Clear"></span>   
                }
                @if (Model.OverlayAreaTwoItems.Any())
                {
                    foreach (var col in Model.OverlayAreaTwoItems.GroupBy(g => g.RightCol))
                    {
                    <div class="nhs_CmsSlideFeatureDetailCol">
                        <!-- falta el SPLT de los datos en 2 col -->
                        @foreach (var ovCol in col)
                        {
                            <p>
                                <span>@ovCol.Name</span><br />
                                @ovCol.Value</p>
                        }
                    </div>
                    }                    
                    <hr />
                    <span class="nhs_Clear"></span>                    
                }
                @if (string.IsNullOrWhiteSpace(Model.OverlayLink) == false && string.IsNullOrWhiteSpace(Model.OverlayLinkText) == false)
                {
                    <p class="nhs_CmsSlideFeatureDetailLink">
                        <a href="@Model.OverlayLink" style="color: @Model.DetailsColor">
                            @Model.OverlayLinkText
                        </a>
                    </p>
                }
                @if (string.IsNullOrWhiteSpace(Model.Author) == false)
                {
                    <p class="nhs_CmsSlideFeatureDetailAuthor">
                        @LanguageHelper.CreatedBy.ToMvcHtmlString() @Html.Raw(Model.Author)
                    </p>
                }
            </div>
        </div>
    </div>
</div>
