﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Domain.Model.CMS
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterFeaturedHomesSlideShowViewModel
<header class="nhs_CmsContext nhs_CmsArticleContext">
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
</header>
<section class="nhs_CmsMain nhs_CmsSlideShowFeature nhs_Cmsclearfix">
    <div id="nhs_CmsSlides" class="nhs_CmsSlides">
        <ul class="bxslider">
            @if (Model.FeaturedHomes.UseIntroductorySlide)
            {
                <li>
                    @Html.Partial(NhsMvc.Default.ViewsMobile.ResourceCenter.ShowIntroductorySlide, Model)
                </li>
            }
            @foreach (var slide in Model.FeaturedHomes.Slides.OrderBy(o => o.SequenceNumber).ToList())
            {
                <li>
                    @Html.Partial(NhsMvc.Default.ViewsMobile.ResourceCenter.FeaturedHomesSlideshow, slide)
                </li>
            }
        </ul>
    </div>
    <span class="nhs_Clear"></span>
    <div id="nhs_CmsSlidesFeatureInfo">
        @Html.Raw(Model.FeaturedHomes.SlideInformationAreaText)
    </div>

    <a class="nhs_RelatedBtn" href="#">@LanguageHelper.RelatedArticles.ToMvcHtmlString()</a>
    <aside class="nhs_Panel nhs_CmsRelated">
        <h2 class="visuallyhidden">@LanguageHelper.RelatedArticles.ToMvcHtmlString()</h2>
    @foreach (var article in Model.TrendingNow.ToList())
    {
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
    }
    </aside>

    <span class="nhs_Clear"></span>
    <!-- Article search box Here -->
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
</section>
<script>
    var slider;

    jQuery(document).ready(function (e) {
        slider = jQuery('ul.bxslider').bxSlider({
            responsive: true,
            slideMargin: 0,
            minSlides: 1,
            maxSlides: 1,
            adaptiveHeight: true,
            adaptiveHeightSpeed: 200,
            auto: false,
            pause: 6000,
            autoHover: true,
            pager: true,
            controls: false,
            infiniteLoop: false
        });

        jQuery("#nhs_CmsSlideIntroStartLink").click(function (event) {
            jQuery.CancelEventAndStopPropagation(event);
            slider.goToNextSlide();
            slider.startAuto();
        });

        jQuery(".nhs_RelatedBtn").click(function (event) {
            jQuery.CancelEventAndStopPropagation(event);
            jQuery(this).toggleClass("expanded");
            jQuery(this).parent().find(".nhs_CmsRelated").toggleClass("expanded");
        });
    });
</script>