﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ArticleViewModel
<header class="nhs_CmsContext nhs_CmsArticleContext">
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
</header>
<div class="nhs_CmsMain">
    <article class="nhs_CmsArticle clearfix">
        <h1 class="nhs_CmsArticleTitle">@Model.Article.Title.ToMvcHtmlString()</h1>
        @if (string.IsNullOrWhiteSpace(Model.Autor.Headline) == false && Model.Autor.Active)
        {                
            <p class="nhs_CmsArticleByline">
                <a href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "autores" : "authors") + "/" + Model.Autor.Title.Replace(" ", "-"))" rel="author">@Model.Autor.Headline</a></p>
        }
        else if (string.IsNullOrWhiteSpace(Model.Autor.Name) == false)
        {
            <p class="nhs_CmsArticleByline">
                @LanguageHelper.By.ToTitleCase().ToMvcHtmlString() @Model.Autor.Name</p>
        }
        @if (Model.Article.Subtitle != "")
        {
            <h2 class="nhs_CmsArticleSubTitle">@Model.Article.Subtitle.ToMvcHtmlString()</h2>
        }
        @if (!string.IsNullOrEmpty(Model.Article.FeaturedImage))
        {
            var imageClass = "nhs_CmsArticleImage" + Model.Article.FeaturedImageAlign;
            <div class="@imageClass">
                @Model.Article.FeaturedImage.ToMvcHtmlString()
                @if (Model.Article.FeaturedImageCaption != "")
                {
                    <p class="nhs_CmsArticleCaption">@Model.Article.FeaturedImageCaption.ToMvcHtmlString()</p>
                }
            </div>
        }
        @if (Model.Article.Subhead != "")
        {
            <p class="nhs_CmsArticleSubHead">@Model.Article.Subhead.ToMvcHtmlString()</p>
        }
        @Model.Article.Copy.ToMvcHtmlString() @*Article Body*@
        <div class="nhs_CmsArticleBio">@Model.Autor.Bio.ToMvcHtmlString()</div>
    </article>
    @if (Model.RelatedArticles.Any())
    {
        <a class="nhs_RelatedBtn" href="#">@LanguageHelper.RelatedArticles.ToMvcHtmlString()</a>
        <aside class="nhs_Panel nhs_CmsRelated">
            <h2 class="visuallyhidden">
                @LanguageHelper.RelatedArticles.ToMvcHtmlString()</h2>
            @foreach (var article in Model.RelatedArticles)
            {
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
            }
        </aside>
    }
    <span class="nhs_Clear"></span>
    <!-- Article search box Here -->
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
</div>
<script>
    jQuery(document).ready(function (e) {
        jQuery(".nhs_RelatedBtn").click(function (event) {
            jQuery.CancelEventAndStopPropagation(event);
            jQuery(this).toggleClass("expanded");
            jQuery(this).parent().find(".nhs_CmsRelated").toggleClass("expanded");
        });
    });

</script>
