﻿@using Nhs.Library.Common
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.HomeViewModel
<header class="nhs_CmsContext">
    <p class="nhs_CmsCategoryTitle">
        @(NhsRoute.BrandPartnerId == (int)PartnersConst.Pro ? "Articles & Advice" : EktronConstants.ResourceCenterMainTitle)
    </p>
</header>

<section class="nhs_CmsMain nhs_CmsCategory clearfix">
    @{ var image = Model.SlideShow.Images.FirstOrDefault();}
    @if (image != null)
    {
        <header>
            @if (string.IsNullOrEmpty(image.Link) == false)
            {
            <h1><a href="@image.Link">@image.ImageTitle</a></h1>
            }
            else
            {
            <h1><a href="javascript:void(0);" style="cursor: text;">@image.ImageTitle</a></h1>
            }
            <p>  @LanguageHelper.TouchOneOfTheStepsBelowToLearnMore.ToMvcHtmlString()</p>
        </header>
        <div>
            @Html.Raw(image.ImagePath.Replace("/>", " usemap=\"#ImageMap\" />"))
            <map id="ImageMap" name="ImageMap">
                <area alt="" shape="rect" coords="51,15,227,78" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-compra" : "the-buying-process"))" title="3 - The Buying Process" />
                <area alt="" shape="rect" coords="4,70,165,135" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "cómo-comprar-casa-nueva" : "how-to-shop-new"))" title="2 - How to Shop New" />
                <area alt="" shape="rect" coords="15,206,178,268" href="@NhsUrlHelper.BuildResourceCenterUrl(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "casa-nueva-101" : "new-home-101")" title="1 - @LanguageHelper.ResourceCenter101.ToMvcHtmlString()"/>
                <area alt="" shape="rect" coords="256,44,424,105" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "diseñando-su-hogar" : "designing-your-new-home"))" title="4 - Designing your Home" />
                <area alt="" shape="rect" coords="270,132,441,192" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-construcción" : "the-building-process"))" title="5 - The Building Process" />
                <area alt="" shape="rect" coords="210,219,381,280" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "instalándose-en-su-casa" : "settling-in"))" title="6 - Settling In" />
            </map>
        </div>
    }

    @* Article Search Box *@
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)

    @* Categories *@
    @for (int i = 0; i < Model.Categories.Count(); i++)
    {
        var category = Model.Categories.ElementAt(i);
        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.HomePageCategoryItem, new Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.HomeCategoryItemViewModel(category));
    }

</section>

<script>
    jQuery(document).ready(function (e) {
        jQuery('img[usemap]').rwdImageMaps();
    });
</script>
