﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterFeaturedHomesSlideShowViewModel
<div class="nhs_CmsSlideFeature">
    @if (!string.IsNullOrWhiteSpace(Model.FeaturedHomes.IntroductoryMainTitle))
    {
        <h1 class="nhs_CmsArticleTitleIntro">@Model.FeaturedHomes.IntroductoryMainTitle</h1>
    }
    <div>
        @Html.Raw(Model.FeaturedHomes.IntroductoryPicture)
        <span class="clearfix"></span>
        <div id="nhs_CmsSlideFeatureIntroBox" class="clearfix">
            <p id="nhs_CmsSlideIntroTitle">
                @Html.Raw(Model.FeaturedHomes.IntroductoryTitle)
            </p>
            <p id="nhs_CmsSlideIntroText">
                @Html.Raw(Model.FeaturedHomes.IntroductoryText)
            </p>
            @if (string.IsNullOrWhiteSpace(Model.FeaturedHomes.IntroductoryAuthor) == false)
            {
                <p id="nhs_CmsSlideIntroAuthor">
                    By @Html.Raw(Model.FeaturedHomes.IntroductoryAuthor)
                </p>   
            }
            <a href="#" class="btnCss" id="nhs_CmsSlideIntroStartLink">@LanguageHelper.StartTheShow.ToMvcHtmlString() ></a>
        </div>
    </div>
</div>
