﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ArticleResultsViewModel
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
<header class="nhs_CmsContext">
    <ul class="nhs_CmsBreadCrumbs">        
        <li><a href="@NhsUrlHelper.BuildResourceCenterUrl("")">@EktronConstants.ResourceCenterMainTitle</a> </li>
        <li><span>@LanguageHelper.SearchResults.ToMvcHtmlString()</span></li>
    </ul>
    <h1 class="visuallyhidden">@LanguageHelper.SearchResults.ToMvcHtmlString()</h1>
</header>

<section class="nhs_CmsMain nhs_CmsCategory clearfix">    
    <div class="nhs_CmsSearchResults clearfix">
        @if (!string.IsNullOrEmpty(Model.KeyWords))
        {
            <h2 class="nhs_CmsArticleTitle">@Model.KeyWords</h2>
        }      
        @if (!string.IsNullOrEmpty(Model.NoResultsMsg))
        {
            <h3 class="nhs_CmsArticleSubTitle">@Model.NoResultsMsg;</h3>
        }
        @if (Model.ArticlesList.Any())
        {
            <h3 class="nhs_CmsArticleSubTitle">@LanguageHelper.Matches.ToMvcHtmlString():</h3>
            
            foreach (var article in Model.ArticlesList)
            {
                <div class="nhs_CmsArticleTeaser">
                    <p> 
                        @{ var link = string.Format("{0}/{1}", @NhsUrlHelper.BuildResourceCenterUrl(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "articulos" : "articles"), article.ContentTitle.ToLower().Replace(" ", "-")); }
                        <a href="@link">@HttpUtility.HtmlDecode(article.Title)</a> 
                        <span>@MvcHtmlString.Create(article.Teaser)</span>
                    </p>
                </div>
            }            
        }                
    </div>
        
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
        
</section>