﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.CategoryViewModel
<header class="nhs_CmsContext">
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
</header>
<section class="nhs_CmsMain nhs_CmsCategory clearfix">
    @*<header>
        <h1>@Model.CategoryName</h1>
    </header>*@
    <div id="nhs_CmsSlides" class="nhs_CmsSlides">
        <ul class="bxslider">
            @foreach (var image in Model.SlideShow.Images)
            {
                <li class="nhs_CmsSlide">
                    @image.ImagePath.ToMvcHtmlString()
                    <div class="nhs_CmsSlideText">
                        <p>
                            @if (!string.IsNullOrWhiteSpace(image.Link))
                            { 
                                <a href="@image.Link">@image.ImageTitle</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);" style="cursor: text;">@image.ImageTitle</a>
                            }
                            @if (!string.IsNullOrWhiteSpace(image.Link))
                            { 
                                <a href="@image.Link" class="btn_Link">@LanguageHelper.ReadMore.ToMvcHtmlString()</a>
                            }
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
    <div class="nhs_CmsFeaturedArticles clearfix">
        @foreach (var article in Model.FeaturedArticles)
        {
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
        }
    </div>
</section>
<script>
    jQuery(document).ready(function (e) {
        jQuery('ul.bxslider').bxSlider({
            responsive: true,
            slideMargin: 0,
            minSlides: 1,
            maxSlides: 1,
            /*adaptiveHeight: true,
            adaptiveHeightSpeed: 200,*/
            auto: true,
            pause: 6000,
            autoHover: true,
            pager: true,
            controls: false,
            infiniteLoop: true
        });
    });
</script>
