﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.AuthorPageViewModel
<header class="nhs_CmsContext">
    <ul class="nhs_CmsBreadCrumbs">
        <li>
            <a href="@NhsUrlHelper.BuildResourceCenterUrl(String.Empty)">@EktronConstants.ResourceCenterMainTitle</a>         
        </li>
        <li>
            <a href="@NhsUrlHelper.BuildResourceCenterUrl(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "autores" : "authors")">@LanguageHelper.Authors.ToMvcHtmlString()</a>           
        </li>
        <li>
            <span>@Model.AuthorInfo.Name</span>
        </li>
    </ul>
</header>
    
<div class="nhs_CmsMain">
    <article class="nhs_CmsArticle nhs_CmsAuthorPage clearfix">
        <h1 class="nhs_CmsArticleTitle">@Model.AuthorInfo.Name</h1>
        <div class="nhs_CmsArticleImageRight">
            @Html.Raw(Model.AuthorInfo.ImagePath)
        </div>

        @Model.AuthorInfo.LongBio.ToMvcHtmlString()
        
        <div class="nhs_Clear"></div>

        @if (Model.AuthorInfo.SocialNetworks != null && Model.AuthorInfo.SocialNetworks.Any())
        {               
            <p class="nhs_CmsSocialNetworksP"><strong>@LanguageHelper.ConnectWith.ToMvcHtmlString() @Model.AuthorFirstName</strong></p>
                       
            <ul class="nhs_CmsSocialNetworksUl">
                @foreach (var network in Model.AuthorInfo.SocialNetworks)
                {
                    <li><a href="@network.Url" @(string.IsNullOrWhiteSpace(network.Rel) == false ? "rel='" + network.Rel + "'" : "")>
                            @network.NetworkName
                        </a></li>
                }
            </ul>                
        }
    </article>

    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
    
</div>
@if (Model.RelatedArticles.Any())
{
    <a class="nhs_RelatedBtn nhs_RecentBtn btn" href="#">@string.Format(LanguageHelper.RecentArticlesOf, Model.AuthorFirstName).ToMvcHtmlString()</a>
    <aside class="nhs_Panel nhs_CmsRelated">
        <h2 class="visuallyhidden">@string.Format(LanguageHelper.RecentArticlesOf, Model.AuthorFirstName).ToMvcHtmlString()</h2>
        <div class="nhs_PanelScroll">
        @foreach (var article in Model.RelatedArticles)
        {
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
        }
        </div>
    </aside>
}

 
<script>
    jQuery(document).ready(function (e) {
        jQuery(".nhs_RelatedBtn").click(function (event) {
            jQuery.CancelEventAndStopPropagation(event);
            jQuery(this).toggleClass("expanded");
            jQuery(this).parent().find(".nhs_CmsRelated").toggleClass("expanded");
        });
    });

</script>
