﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.AuthorLandingPageViewModel
<header class="nhs_CmsContext">
    <ul class="nhs_CmsBreadCrumbs">
        <li>              
            <a href="@NhsUrlHelper.BuildResourceCenterUrl(String.Empty)">@EktronConstants.ResourceCenterMainTitle</a>
        </li>
        <li>
            <span>@LanguageHelper.Authors.ToMvcHtmlString()</span>
        </li>
    </ul>
</header>
<section class="nhs_CmsMain nhs_CmsCategory nhs_CmsAuthorLandingPage clearfix">
    <div class="clearfix">    
        <h1 class="nhs_CmsArticleTitle">@Model.LandingPageInfo.Title</h1>
        <p class="nhs_CmsArticleSubTitle">@Model.LandingPageInfo.SubTitle</p>
        @if (string.IsNullOrWhiteSpace(Model.LandingPageInfo.ImagePath) == false)
        {
            <div class="nhs_CmsArticleImageCenter">
                <img src="@Html.Raw(Model.LandingPageInfo.ImagePath)" alt="" />
            </div>  
        }    
        @if (Model.Authors.Any())
        {             
            foreach (var author in Model.Authors)
            {
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.PartialLandingAuthorInfo, author)
            }    
        }
    </div>    
</section>

<!-- Article search box Here -->
@Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)

