﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Web.Mvc.Html
<a id="ContactBuilder"></a>
<div id="divDetailsFormPartial">
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
    {
        @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionPro)
    }
    else if (Model.ShowLeadForm)
    {
        @Html.Partial(NhsMvc.Default.Views.Common.LeadForm.LeadFormFields)
    }
</div>

