﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<div class="nhs_DetailsFormContent" id="divLeadMain">
    @if (Model.ShowPlaceHolderInputText)
    {
        <script type="text/javascript">
            $jq(document).ready(function () {
                SetTextBoxesDescriptions();
            });
        </script>
    }
    <script type="text/javascript">
    $jq(document).ready(function () {
        var form = jQuery("#divLeadMain");
        var zip = form.find("#UserPostalCode");
        var labelZip = jQuery('label[for="UserPostalCode"]');
        form.find("#LeadFormPhone").mask("(999) 999-9999");
        var errorList = form.find("#nhs_error");

        var international = form.find("#LiveOutside");
        international.change(function () {
            if (international.is(':checked')) {
                zip.attr("disabled", "disabled");
                zip.val("");
                zip.removeClass("nhs_Error");
                labelZip.removeClass("nhs_ErrorLabel");
            } else {
                zip.removeAttr("disabled");
            }
        });

        form.find("#UserPostalCode, #Name, #MailAddress").keyup(function () {
            var control = jQuery(this);
            control.removeClass("nhs_Error");
            control.prev("label[for]").removeClass("nhs_ErrorLabel");
        });

        form.find("#btnFreeBrochure").click(function () {
            var valid = true;

            form.find('#btnFreeBrochureFake').show();
            form.find('#btnFreeBrochure').hide();
            form.find("#nhs_error_Div").hide();
            errorList.html("");
            //Start Name
            var name = form.find("#Name");
            var labelName = form.find('label[for="Name"]');
            labelName.removeClass("nhs_ErrorLabel");

            name.removeClass("nhs_Error");

            if (!jQuery.ValidFullNameWithNumberLastName(name.val())) {
                name.addClass("nhs_Error");
                labelName.addClass("nhs_ErrorLabel");
                valid = false;
                errorList.append("<li>@LanguageHelper.PleaseProvideFirstAndLastName.ToMvcHtmlString()</li>");
                }
                //End Name

                //Start Email
                var email = form.find("#MailAddress");
                var labelEmail = form.find('label[for="MailAddress"]');
                labelEmail.removeClass("nhs_ErrorLabel");

                email.removeClass("nhs_Error");

                if (!jQuery.ValidEmail(email.val())) {
                    email.addClass("nhs_Error");
                    labelEmail.addClass("nhs_ErrorLabel");
                    valid = false;
                    errorList.append("<li>@LanguageHelper.EmailIsBlankOrInvalid.ToMvcHtmlString()</li>");
                }
                //End Email

                //Start Zip
                zip.removeClass("nhs_Error");
                labelZip.removeClass("nhs_ErrorLabel");

                if (!international.is(':checked')) {
                    if (!jQuery.ValidZipcode(zip.val())) {
                        zip.addClass("nhs_Error");
                        labelZip.addClass("nhs_ErrorLabel");
                        valid = false;
                        errorList.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_ZIP.ToMvcHtmlString()</li>");
                    }
                }
                //End Zip


                if (valid) {
                    var userPhone = form.find("#LeadFormPhone").val() === "(___) ___-____" ? "" : form.find("#LeadFormPhone").val();

                    var info = {
                        Name: form.find("#Name").val(),
                        MailAddress: form.find("#MailAddress").val(),
                        UserPhoneNumber: userPhone,
                        ShowUserPhoneNumber: form.find("#nhs_ShowPhoneNumber").is(':visible'),
                        UserPostalCode: form.find("#UserPostalCode").val(),
                        Comments: form.find("#Comments").val(),
                        LiveOutside: form.find("#LiveOutside").is(':checked'),
                        IsPlan: form.find("#IsPlan").val(),
                        CommunityId: form.find("#CommunityId").val(),
                        BuilderId: form.find("#BuilderId").val(),
                        PlanId: form.find("#PlanId").val(),
                        SpecId: form.find("#SpecId").val(),
                        MarketId: form.find("#MarketId").val(),
                        IsPageCommDetail: form.find("#IsPageCommDetail").val(),
                        NewUser: form.find("#NewUser").val(),
                        ShowSaveToAccount: form.find("#ShowSaveToAccount").val(),
                        PartnerUsesMatchmaker: form.find("#PartnerUsesMatchmaker").val(),
                        SendAlerts: form.find("#SendAlerts").is(':checked'),
                        NewSearchRCC: form.find("#NewSearchRCC").val(),
                        CreditScoreText: form.find("#CreditScoreText").val(),
                        ShowCreditScoreSection: form.find("#ShowCreditScoreSection").val(),
                        IsComunityDetailV2: false
                    };

                    $jq.ajax({
                        type: "GET",
                        url: '@((!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "") + "/MyBrochure")',
                    data: info,
                    success: function (html) {
                        jQuery.SetDataLayerPair('directLead');
                        $jq('#divLeadMain').html(html);
                    }
                });
            } else {
                form.find('#btnFreeBrochureFake').hide();
                form.find('#btnFreeBrochure').show();
                form.find("#nhs_error_Div").show();
            }
        });
    });
    </script>

    @{ Model.NewSearchRCC = NhsUrl.NewSearchRCC; }
    <div class="@(Model.ShowUserPhoneNumber ? "nhs_ShowPhoneField" : "")">
        <fieldset>
            <legend class="nhs_Reader">
                @LanguageHelper.FindOutMoreAboutThis.ToMvcHtmlString()
                @Model.DetailType.ToLower()
            </legend>
            <p>
                <span class="nhs_DetailsFormTopTitle">
                    @Html.GetOnPageLeadFormHeader(Model.BcType, Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
                </span>
            </p>
            @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower())
            {
                <p><strong>@LanguageHelper.BeAmongTheFirst.ToMvcHtmlString()</strong></p>
                <p>@LanguageHelper.WeWillKeepYouUpdated.ToMvcHtmlString()</p>
                <br />
            }
            <ol>
                <li>
                    <label for="Name" class="nhs_LeadName">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.Name.ToMvcHtmlString():
                    </label>
                    @Html.TextBoxFor(model => model.Name, new { placeholder = LanguageHelper.FirstAndLastName, @class = "nhs_Focus", maxlength = "100", autocomplete = "name" })
                </li>
                <li>
                    <label for="MailAddress" class="nhs_LeadEmail">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.EmailAddress.ToMvcHtmlString():
                    </label>
                    @Html.TextBoxFor(model => model.MailAddress, new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.EmailAddress : "", maxlength = "50", autocomplete = "email" })
                </li>
                <li class="nhs_LeadZipCode">
                    <label for="UserPostalCode">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.ZipCode.ToMvcHtmlString():
                    </label>
                    @Html.TextBoxFor(model => model.UserPostalCode, Model.LiveOutside ? (object)new { placeholder = Model.ShowPlaceHolderInputText ? "ZIP code" : "", id = "UserPostalCode", @disabled = "", @class = "nhs_Disabled" } : new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.ZipCode : "", id = "UserPostalCode", autocomplete = "postal-code" })
                </li>
                <li class="nhs_LeadLiveOutside">
                    @Html.CheckBoxFor(model => model.LiveOutside, new { id = "LiveOutside" })
                    <label for="LiveOutside">
                        @LanguageHelper.ILiveOutsideTheUs.ToMvcHtmlString()
                    </label>
                </li>
                <li class="nhs_Clear" id="nhs_ShowPhoneNumber" @((!Model.ShowUserPhoneNumber || (Model.BcType == BuilderCommunityType.ComingSoon)) ? "style=display:none" : "")>
                    <label for="Phone" class="nhs_LeadEmail">
                        @LanguageHelper.PhoneNumber.ToMvcHtmlString():
                    </label>
                    @Html.TextBoxFor(model => model.UserPhoneNumber, new { @id = "LeadFormPhone", autocomplete = "tel" })
                </li>
                <li class="nhs_Clear nhs_LeadComments" @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "style=display:none" : "")>
                    <label for="Comments">
                        @LanguageHelper.QuestionsOrComments.ToMvcHtmlString():
                    </label>
                    @Html.TextAreaFor(model => model.Comments, new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.QuestionsOrComments : "", rows = "1" })<span class="nhs_DetailsFormArrow"></span>
                </li>
                <li class="send_free_info" @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "style=display:none" : "")>
                    @if (Model.PartnerUsesMatchmaker)
                    {
                        <div id="nhs_SendAlertsDiv" @(Model.NewSearchRCC ? "style=display:none" : "")>
                            @Html.CheckBoxFor(model => model.SendAlerts, new { id = "SendAlerts" })
                            <label for="SendAlerts">
                                @Model.DetailType.LeadFormLabel()
                            </label>
                            <span>
                                @LanguageHelper.SeeOur.ToMvcHtmlString()
                                @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" })
                            </span>
                        </div>
                        if (Model.NewSearchRCC)
                        {
                            <br />
                            <span>&nbsp;</span>
                        }
                    }
                    else
                    {
                        <br />
                        <span>&nbsp;</span>
                    }
                </li>
            </ol>
        </fieldset>
        <div class="hidden">
            @Html.HiddenFor(model => model.IsPlan)
            @Html.HiddenFor(model => model.CommunityId)
            <input id="BuilderId" type="hidden" value="@Model.BuilderId" name="BuilderId" />
            @Html.HiddenFor(model => model.PlanId)
            @Html.HiddenFor(model => model.SpecId)
            @Html.HiddenFor(model => model.MarketId)
            @Html.HiddenFor(model => model.IsPageCommDetail)
            @Html.HiddenFor(model => model.NewUser)
            @Html.HiddenFor(model => model.ShowSaveToAccount)
            @Html.HiddenFor(model => model.PartnerUsesMatchmaker)
            @Html.HiddenFor(model => model.NewSearchRCC)
            @Html.HiddenFor(model => model.CreditScoreText)
            @Html.HiddenFor(model => model.ShowCreditScoreSection)
        </div>
        <input type="button" id="btnFreeBrochure" value="@LanguageHelper.FreeBrochure" class="@(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "btn btn_AddMeToList" : "btn btn_FreeBrochure")" />
        <input type="button" id="btnFreeBrochureFake" value="@LanguageHelper.FreeBrochure" class="btn btn_FreeBrochureFake"
               disabled="disabled" style="display: none;" />
        <div id="nhs_error_Div" class="validation-summary-errors" style="display: none;">
            <ul id="nhs_error"></ul>
        </div>
    </div>
</div>

