﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@{ Model.NewSearchRCC = NhsUrl.NewSearchRCC; }
<div id="nhs_LeadForm" class="@(Model.ShowUserPhoneNumber ? "nhs_ShowPhoneField" : "")">
    <fieldset>
        <legend class="nhs_Reader">@LanguageHelper.FindOutMoreAboutThis.ToMvcHtmlString()
            @Model.DetailType.ToLower() </legend>
        <p>
            <span class="nhs_DetailsFormTopTitle">
                @Html.GetOnPageLeadFormHeader(Model.BcType, Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)</span></p>
        @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower())
        {
            <p><strong>@LanguageHelper.BeAmongTheFirst.ToMvcHtmlString()</strong></p>
            <p>@LanguageHelper.WeWillKeepYouUpdated.ToMvcHtmlString()</p>
            <br />
        }
        <ol>
            <li>
                <label for="Name" class="nhs_LeadName">
                    <span class="nhs_Asterisk">*</span>@LanguageHelper.Name.ToMvcHtmlString():</label>
                @Html.TextBoxFor(model => model.Name, new { placeholder = LanguageHelper.FirstAndLastName, @class = "nhs_Focus", maxlength = "100", autocomplete="name" })</li>
            <li>
                <label for="MailAddress" class="nhs_LeadEmail">
                    <span class="nhs_Asterisk">*</span>@LanguageHelper.EmailAddress.ToMvcHtmlString():</label>
                @Html.TextBoxFor(model => model.MailAddress, new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.EmailAddress : "", maxlength = "50", autocomplete = "email" })</li>
            <li class="nhs_LeadZipCode">
                <label for="UserPostalCode">
                    <span class="nhs_Asterisk">*</span>@LanguageHelper.ZipCode.ToMvcHtmlString():</label>
                @Html.TextBoxFor(model => model.UserPostalCode, Model.LiveOutside ? (object)new { placeholder = Model.ShowPlaceHolderInputText ? "ZIP code" : "", id = "UserPostalCode", @disabled = "", @class = "nhs_Disabled" } : new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.ZipCode : "", id = "UserPostalCode", autocomplete = "postal-code" })</li>
            <li class="nhs_LeadLiveOutside">
                @Html.CheckBoxFor(model => model.LiveOutside, new { id = "LiveOutside" })
                <label for="LiveOutside">
                    @LanguageHelper.ILiveOutsideTheUs.ToMvcHtmlString()</label>
            </li>
            <li class="nhs_Clear" id="nhs_ShowPhoneNumber" @((!Model.ShowUserPhoneNumber || (Model.BcType == BuilderCommunityType.ComingSoon ))  ? "style=display:none" : "")>
                <label for="Phone" class="nhs_LeadEmail">
                    @LanguageHelper.PhoneNumber.ToMvcHtmlString():</label>
                @Html.TextBoxFor(model => model.UserPhoneNumber, new { @id = "LeadFormPhone", autocomplete="tel" })
            </li>
            <li class="nhs_Clear nhs_LeadComments" @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower()  ? "style=display:none" : "")>
                <label for="Comments">
                    @LanguageHelper.QuestionsOrComments.ToMvcHtmlString():</label>
                @Html.TextAreaFor(model => model.Comments, new { placeholder = Model.ShowPlaceHolderInputText ? LanguageHelper.QuestionsOrComments : "", rows = "1" })<span
                                                                                                                                                               class="nhs_DetailsFormArrow"></span></li>
            <li class="send_free_info" @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower()  ? "style=display:none" : "")>
                @if (Model.PartnerUsesMatchmaker)
                {
                    <div id="nhs_SendAlertsDiv" @(Model.NewSearchRCC ? "style=display:none" : "")>
                        @Html.CheckBoxFor(model => model.SendAlerts, new { id = "SendAlerts" })
                        <label for="SendAlerts">
                            @Model.DetailType.LeadFormLabel()</label>
                        <span>@LanguageHelper.SeeOur.ToMvcHtmlString()
                            @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" })</span>
                    </div>
                    if (Model.NewSearchRCC)
                    {
                        <br />
                        <span>&nbsp;</span>
                    }
                }
                else
                {
                    <br />
                    <span>&nbsp;</span>
                }
            </li>
        </ol>
    </fieldset>
    <div class="hidden">
        @Html.HiddenFor(model => model.IsPlan)
        @Html.HiddenFor(model => model.CommunityId)
        <input id="BuilderId" type="hidden" value="@Model.BuilderId" name="BuilderId" />
        @Html.HiddenFor(model => model.PlanId)
        @Html.HiddenFor(model => model.SpecId)
        @Html.HiddenFor(model => model.MarketId)
        @Html.HiddenFor(model => model.IsPageCommDetail)
        @Html.HiddenFor(model => model.NewUser)
        @Html.HiddenFor(model => model.ShowSaveToAccount)
        @Html.HiddenFor(model => model.PartnerUsesMatchmaker)
        @Html.HiddenFor(model => model.NewSearchRCC)
        @Html.HiddenFor(model => model.CreditScoreText)
        @Html.HiddenFor(model => model.ShowCreditScoreSection)
        <input type="hidden" name="HeadlineText" id="HeadlineText" value="" />
        <input type="hidden" name="SubheadText" id="SubheadText" value="" />
        <input type="hidden" name="DefaultChecked" id="DefaultChecked" value="true" />
        <input type="hidden" name="MaxRecs" id="MaxRecs" value="0" />
        <input type="hidden" name="MatchEmail" id="MatchEmail" value="false" />
    </div>
    <input type="button" id="btnFreeBrochure" value="@LanguageHelper.FreeBrochure" class="@(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "btn btn_AddMeToList" : "btn btn_FreeBrochure")" />
    <input type="button" id="btnFreeBrochureFake" value="@LanguageHelper.FreeBrochure" class="btn btn_FreeBrochureFake"
           disabled="disabled" style="display: none;" />    
    @Html.ValidationSummary()
</div>

