﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div id="nhs_Crumbs">
    <nav>
        <ol>
            <li>@Html.NhsLink(LanguageHelper.HomePage, Pages.Home, new List<RouteParam>(), new { @class = "nhs_BreadcrumbBackHome" })</li>
            <li class="nhs_noBg">
                <strong>@Model.BrandName</strong>
            </li>
        </ol>
    </nav>
</div>