﻿@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
@if (Model.AwardImages.Any())
{
    <div class="nhs_ShowcaseBoxWide">
        <h3 class="nhs_Title">Awards &amp; Accreditations</h3>
        @foreach (var groupawImage in Model.AwardImages.GroupBy(3))
        {
            <div class="nhs_ShowcaseRow">
                @foreach (var awImage in groupawImage)
                {
                    <div class="nhs_ShowcaseAward">
                        @Html.RenderAwardImage(awImage)
                        <p>
                            <strong>@awImage.ImageTitle</strong>
                            <br /><br />
                            @awImage.ImageDescription<br />
                            <br />
                            @Html.RenderAwardUrl(awImage)
                        </p>
                    </div>
                }
            </div>
        }
    </div>
}