﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

@if (Model.Testimonials.Any() && !NhsRoute.IsBrandPartnerNhs)
{
    <div class="showABoutQuotes nhs_ShowcaseBoxWide">
        <h3 class="nhs_Title">@LanguageHelper.QuotesFromCustomers.ToMvcHtmlString()</h3>
        @foreach (var grouptestimonial in Model.Testimonials.GroupBy(3))
        {
            <div class="nhs_ShowcaseRow">
                @foreach (var testimonial in grouptestimonial)
                {
                    <div class="nhs_ShowcaseQuote">
                        <p>@testimonial.Description</p>
                        <p>@testimonial.Citation</p>
                    </div>
                }
            </div>
        }
    </div>
}