﻿@using Nhs.Library.Web.ImageResizer
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div id="nhs_ShowcaseSlides" class="nhs_ShowcaseBoxLeft nhs_ShowcaseSlides">
    <div class="slides_container">
        @if (Model.AboutGalleryImages.Any())
{
    foreach (var image in Model.AboutGalleryImages)
    {
        <div class="nhs_ShowcaseSlide" itemscope itemtype="http://schema.org/ImageObject">
            @Html.NhsImage(string.Format("{0}{1}", image.ImagePath, image.ImageName), new ResizeCommands { Width = 608, Height = 406 }, image.ImageTitle, new {itemprop = "contentUrl"}, true)
            <div class="nhs_ShowcaseSlideText">
                <p itemprop="name">@(!string.IsNullOrEmpty(image.ImageTitle) ? image.ImageTitle : image.ImageDescription)</p>
            </div>
        </div>
    }
}
    </div>
    <a id="nhs_ShowcaseGalleryLink" style="cursor: pointer">
        See Full Gallery
    </a>
</div>
