﻿@using Nhs.Library.Web.ImageResizer
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

@if (Model.ShowcaseVideos != null && Model.ShowcaseVideos.Any())
{
    <div id="nhs_ShowcaseVideos" class="nhs_ShowcaseBoxWide">
        <h3 class="nhs_Title">@(LanguageHelper.Video + (Model.ShowcaseVideos.Count > 1 ? "s" : ""))</h3>
        <div id="nhs_ShowcaseVideosGallery">
            @foreach (var video in Model.ShowcaseVideos)
{
            <div class="nhs_ShowcaseVideoItem">
                <a itemscope itemtype="http://schema.org/VideoObject" class=" thickbox" href="@(new List<RouteParam>().ToUrl("buildershowcase/ShowVideo", true))?KeepThis=true&TB_iframe=true&width=700&height=500&videowidth=670&videoheight=480&videourl=@video.VideoURL&title=@video.Title&VideoOnlineId=@video.VideoOnlineId&vide">
                    <span></span>
                    <img src="@video.ThumbnailUrl" />
                    <p itemprop="name">@video.Title</p>
                    <meta itemprop="thumbnail" content="@video.ThumbnailUrl" />
                </a>
            </div>               
            }
        </div>
    </div>
}
<div id="nhs_ShowcasePhotos" class="nhs_ShowcaseBoxWide">
    <h3 class="nhs_Title">
        @if (Model.AwardImages == null || !Model.AwardImages.Any())
        {
            @LanguageHelper.NoPhotosAvailable.ToMvcHtmlString()
        }
        else
        {
            @LanguageHelper.PhotoGallery.ToMvcHtmlString()
        }
    </h3>
    @if (Model.AwardImages != null || Model.AwardImages.Any())
    {
        var index = 0;
        foreach (var groupImage in Model.AwardImages.GroupBy(4))
        {
            <div class="nhs_ShowcaseRow">
                @foreach (var image in groupImage)
{
    index++;
                <div class="nhs_ShowcaseVideoItem">
                    <a itemscope itemtype="http://schema.org/ImageObject" class="thickbox" href="@(new List<RouteParam>().ToUrl(string.Format("builder/showgallerymodal/index-{0}/brandid-{1}", index, Model.BrandId), true))?KeepThis=true&TB_iframe=true&width=608&height=406">
                        @Html.NhsImage(string.Format("{0}{1}", image.ImagePath, image.ImageName), new ResizeCommands { Width = 180, Height = 120 }, image.ImageTitle, new { itemprop = "contentUrl"}, true)
                        @if (RouteParams.ShowImageSequence.Value<Boolean>())
                        {
                                                <p>@LanguageHelper.ImageSequence.ToMvcHtmlString(): @image.ImageSequence</p>
                        }
                        else
                        {
                            Html.HiddenFor(modelItme => image.ImageSequence);
                        }
                    </a>
                </div>
                }
            </div>
        }
    }
</div>
