﻿@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
@Html.Partial(NhsMvc.Default.Views.BuilderShowCase.Breadcrumb, Model)
<div class="nhs_Clear">
</div>
<div class="nhs_BuilderLogo">
    
    @Html.NhsImageLink(Configuration.IRSDomain + Model.BrandLogo, Model.GetBrandUrl, new List<RouteParam>(), new { style = "cursor : pointer;", brandId = Model.BrandId }, false, false)
</div>
<h1 class="nhs_ShowcaseTitle">@Model.BrandName</h1>
<ul id="nhs_ShowcaseTabs" class="nhs_Tabs">
    
    <li id="nhs_TabAbout" class="@(Model.IsAbout ? "nhs_Selected" : "")"><a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/about/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))">
                                                           @LanguageHelper.About.ToMvcHtmlString()</a></li>
    <li id="nhs_TabLocation" class="@(Model.IsLocations ? "nhs_Selected" : "")"><a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/locations/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))">
                                                               @LanguageHelper.Locations.ToMvcHtmlString()</a></li>
    <li id="nhs_TabGallery" class="@(Model.IsGallery ? "nhs_Selected" : "")"><a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/gallery/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))">
        @LanguageHelper.Gallery.ToMvcHtmlString()</a></li>
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
    {
        <li id="nhs_TabOwnerStories" class="@(Model.IsOwnerStories ? "nhs_Selected" : "")">
            <a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/ownerstories/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))">
                @LanguageHelper.OwnerStories.ToMvcHtmlString()
            </a>
        </li>
    }
</ul>
@*<div class="nhs_ShowcaseSocial">

</div>*@
