﻿@using System.Globalization
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

@Html.GetGoogleMapScript()
@ResourceCombinerEnum.BUILDERSHOWCASEJS.GetCrunchedResource()

<script type="text/javascript">

    jQuery(document).ready(function() {
        var parameters = {
            partnerID: @NhsRoute.PartnerId,
            marketID: @Model.MarketId,
            brandName: "@(Model.BrandName)",
            brandEmail: "@(Model.BrandEmailAddress)",
            brandId: "@(Model.BrandId)",
            brandPartnerId: @NhsRoute.BrandPartnerId,
            siteRoot: "/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? string.Empty : (NhsRoute.PartnerSiteUrl + "/"))",
            resourceRoot: "@Configuration.ResourceDomain/",
            communityPage: "@NhsMvc.CommunityDetail.Name",
            communityResultsPage: "@NhsMvc.CommunityResults.Name",
            icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_plus_blue_png
                                                                         : GlobalResources14.Default.images.icons.map_plus_green_png)",
            aboutGalleryUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetShowcaseAboutGallery)",
            fullGalleryUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetShowcaseFullGallery)",
            spotlightCarouselUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetSpotlightCarousel)",
            aboutAwardsUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetShowcaseAboutAwards)",
            aboutTestimonialsUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetShowcaseAboutTestimonials)",
            aboutLatestNewsUrl: "@Html.GetActionUrl(NhsMvc.BuilderShowCase.Name, NhsMvc.BuilderShowCase.ActionNames.GetShowcaseAboutLatestNews)",
            EmailRequiredText: "@LanguageHelper.PleaseEnterFirstAndLastName.ToMvcHtmlString()",
            EmailAddressIsNotValidText: "@LanguageHelper.EmailAddressIsNotValid.ToMvcHtmlString()",
            PleaseEnterFirstAndLastNameText: "@LanguageHelper.PleaseEnterFirstAndLastName.ToMvcHtmlString()",
            NameIsRequiredText: "@LanguageHelper.NameIsRequired.ToMvcHtmlString()",
            ViewAllText: "@LanguageHelper.ViewAll.ToMvcHtmlString()",
            CollapseText: "@LanguageHelper.Collapse.ToMvcHtmlString()",
            ByText: "@LanguageHelper.By.ToMvcHtmlString()",
            OptionsForMap: {
                MapOptions: {
                    Latitude: @Model.Map.CenterLat.ToString(new NumberFormatInfo()),
                    Longitude:  @Model.Map.CenterLng.ToString(new NumberFormatInfo()),
                    Zoom: @Model.Map.ZoomLevel,
                    ContainerName: "nhs_map",
                    ZoomControlStyle: "SMALL"
                },
                MinZoom: 4,
                UseClusterer: false,
                ProcessResultOptions: {
                    Latitude: "Lat",
                    Longitude: "Lng",
                    Name: "Title"
                },
                MarkerPointAsynOptions: {
                    Listener: null
                }
            },
            //TODO: Use method Remove Special Characters
            urlAbout: "@NhsUrlHelper.ToUrl(new List<RouteParam>(), string.Format("builder/{0}/about/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty).Replace("®", string.Empty), Model.BrandId), true)",
            urlLocation:"@NhsUrlHelper.ToUrl(new List<RouteParam>(), string.Format("builder/{0}/locations/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty).Replace("®", string.Empty), Model.BrandId), true)",
            urlGallery:"@NhsUrlHelper.ToUrl(new List<RouteParam>(), string.Format("builder/{0}/gallery/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty).Replace("®", string.Empty), Model.BrandId), true)",
            urlOwnerStories:"@NhsUrlHelper.ToUrl(new List<RouteParam>(), string.Format("builder/{0}/ownerstories/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty).Replace("®", string.Empty), Model.BrandId), true)"
        };

        var builderShowCase = new NHS.Scripts.BuilderShowCase(parameters);
        builderShowCase.initialize();
        builderShowCase.setupTwitter(document, "script", "twitter-wjs");

        @if (Model.IsLocations)
        {
            <text>
        builderShowCase.initializeLocation();
        commResults = builderShowCase;
        </text>
        }

        @if (Model.IsAbout)
        {
            <text>
        builderShowCase.initializeAbout();
        </text>
        }

        @if (Model.IsGallery)
        {
            <text>
        builderShowCase.initializeGallery();
        </text>
        }

    });
</script>
