﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div class="nhs_ShowcaseBoxLeadForm" id="nhs_ShowcaseBoxLeadForm">
    @if (!string.IsNullOrEmpty(Model.BrandEmailAddress))
    {
        <div id="formSent" class="nhs_ShowcaseBoxRight" style="display: none">
            <p class="nhs_Title">
                @LanguageHelper.ThankYou.ToMvcHtmlString()
            </p>
            <p>
                @LanguageHelper.YourInquiryHasBeenSentTo.ToMvcHtmlString() @Model.BrandName.
            </p>
        </div>
        <div id="formToSend" class="nhs_ShowcaseBoxRight">
            <p class="nhs_Title">
                @LanguageHelper.AskAQuestion.ToMvcHtmlString()
            </p>
            <p>
                @LanguageHelper.GetHomebuyingAnswersFrom @Model.BrandName.
            </p>
            <fieldset>
                <legend>@LanguageHelper.ContactUs.ToMvcHtmlString()</legend>
                <p>
                    <label for="Comments">
                        @LanguageHelper.QuestionsOrComments.ToMvcHtmlString():
                    </label><br />
                    @Html.TextAreaFor(model => model.Comments, new { rows = "5", cols = "10", tabindex = 20 })
                </p>
                <p class="nhs_ShowcaseFields">
                    <label for="FirstName">
                        @LanguageHelper.FirstName.ToMvcHtmlString():
                    </label><br />
                    <input id="FirstName" maxlength="50" name="FirstName" type="text" value="" />
                </p>
                <p class="nhs_ShowcaseFields">
                    <label for="LastName">
                        @LanguageHelper.LastName.ToMvcHtmlString():
                    </label><br />
                    <input id="LastName" maxlength="50" name="LastName" type="text" value="" />
                </p>
                <p>
                    <label for="Name">
                        @LanguageHelper.MyName.ToMvcHtmlString():
                    </label><br />
                    @Html.TextBoxFor(model => model.Name, new { maxlength = 100, tabindex = 21 })
                </p>
                <p>
                    <label for="MailAddress">
                        @LanguageHelper.EmailAddress.ToMvcHtmlString():
                    </label><br />
                    @Html.TextBoxFor(model => model.MailAddress, new { maxlength = 50, tabindex = 22 })
                </p>
                <p class="nhs_ShowcaseFields">
                    <label for="MailAddress2">
                        @LanguageHelper.EmailAddress.ToMvcHtmlString():
                    </label><br />
                    <input id="MailAddress2" maxlength="50" name="MailAddress2" type="text" value="" />
                </p>
                <p>
                    <input type="submit" id="btnSend" tabindex="23" value="@LanguageHelper.Send" onclick="" />
                    <input type="button" id="btnSendFake" value="@LanguageHelper.Send" class="btn_SendFake" disabled="disabled"
                           style="display: none;" />
                    <input name="BrandName" type="hidden" value="@Model.BrandName" />
                    <input name="BrandEmailAddress" type="hidden" value="@Model.BrandEmailAddress" />
                </p>
                <span id="validationSummary"></span>
                <input id="time" type="hidden" />
            </fieldset>
        </div>
    }
</div>

<script type="text/javascript">
    $jq(document).ready(function () {
        var today = new Date();
        $jq('#time').val(today.getTime());
        $jq('#formToSend').show();
        $jq('#formSent').hide();
    })
</script>
