﻿@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel 
<ul id="nhs_ShowcaseLinks" class="nhs_ShowcaseLinks">
    @if (!Model.IsAbout)
    {
        if (!NhsRoute.IsMobileDevice)
        {
            <li class="nhs_ShowcaseLinkAbout">
                <a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/about/{1}", Model.BrandName.Replace(" ", "-").Replace("/", string.Empty), Model.BrandId), true))" onclick=" $jq.googlepush('Builder Showcase Events', 'Builder Showcase - Link', 'About') ">
                    @LanguageHelper.LearnMoreAbout.ToMvcHtmlString() @Model.BrandName
                </a>
            </li>
        }
        else
        {
            <li class="nhs_ShowcaseLinkAbout"><a>@LanguageHelper.LearnMoreAbout.ToMvcHtmlString() @Model.BrandName</a> </li>
        }
    }
    @if (!Model.IsLocations)
    {
        if (!NhsRoute.IsMobileDevice)
        {
            <li class="nhs_ShowcaseLinkLocation">
                <a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/locations/{1}", Model.BrandName.Replace(" ", "-").Replace("/", string.Empty), Model.BrandId), true))" onclick=" $jq.googlepush('Builder Showcase Events', 'Builder Showcase - Link', 'Locations') ">
                    @LanguageHelper.SeeCommunityLocations.ToMvcHtmlString()
                </a>
            </li>
        }
        else
        {
            <li class="nhs_ShowcaseLinkLocation"><a>@LanguageHelper.SeeCommunityLocations.ToMvcHtmlString()</a> </li>
        }

    }
    @if (!Model.IsGallery && !NhsRoute.IsMobileDevice)
    {
        <li class="nhs_ShowcaseLinkGallery">
            <a href="@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/gallery/{1}", Model.BrandName.Replace(" ", "-").Replace("/", string.Empty), Model.BrandId), true))" onclick="$jq.googlepush('Builder Showcase Events', 'Builder Showcase - Link', 'Gallery')">
                @LanguageHelper.ViewVideoPhotoGallery.ToMvcHtmlString()
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.BrandUrl))
    {
        <li class="nhs_ShowcaseLinkWeb">
            <a href="@Model.GetBrandUrl" target="_blank" onclick="jQuery.googlepush('Builder Showcase Events', 'Builder Website - Link', 'Outbound Click')">
                @LanguageHelper.VisitTheWebsite.ToMvcHtmlString()
            </a>
        </li>
    }
</ul>
