﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<div style="padding-left: 15px; padding-top: 8px">
    <div style="position: relative;">
        <div id="nhsplayerVideo">
            <a id="VideoAnchor" name="VideoAnchor"></a>
            <div class="ad-gallery">
                <div style="display: none;">
                </div>
                @ResourceCombinerEnum.BUILDERSHOWCASEVIDEOPOPUPJS.GetCrunchedResource()

                <div id="youtubeP"></div>
                <div id="nhs_brightcoveP" style="width:670px"></div>

                <script type="text/javascript">
                    var videoPlayer = null;
                    var type = null;
                    $jq(document).ready(function () {

                        type = '@(Model.Video.IsFromVimeo? "vm" : (Model.Video.IsFromYoutube? "yt" : "bc"))';
                        var videoId = '@Model.Video.VideoOnlineId';

                        var videoPlayer = new NHS.Scripts.WebPlayers({ videoWidth: @Model.Video.VideoWidth,
                            videoHeight: @Model.Video.VideoHeight,
                            youtubeControlId: 'youtubeP',
                            vimeoControlId: 'youtubeP',
                            brightcoveControlId: 'nhs_brightcoveP',
                            brightcoveToken: '@Configuration.BrightcoveReadToken'
                        });

                        setTimeout(function () {if (type == 'bc') {
                            videoPlayer.playBrightcoveVideo(videoId);}
                        else if (type == 'yt') {
                            videoPlayer.playYouTubeVideo(videoId);}
                        else {
                            videoPlayer.playVimeoVideo(videoId);} }, 300);

                        //jQuery('#TelerikWindow > iframe.k-content-frame').attr('webkitallowfullscreen', '').attr('mozallowfullscreen', '').attr('allowfullscreen', '');
                        //console.log("TELERICK :: %O",jQuery('#TelerikWindow > iframe.k-content-frame'));
                        console.info('***********************');
                        console.log('TELERICK :: %O',window.parent.jQuery('iframe.k-content-frame'));
                        console.info('***********************');
                    });
                </script>
            </div>
        </div>
    </div>
</div>
