﻿@using Nhs.Library.Web.ImageResizer
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<ul class="nhs_ShowcaseColumn">
    @if (Model.IsSubmitYourOwnVisible)
    {
        <li class="nhs_ShowcaseQuote">
            <div class="submit-your-own">
                <p>
                    Do you have a story to tell?<br/>
                    We'd love to hear it!<br/>
                    <a class="btn_eBookSend btnCss" href="@Html.GetActionUrl(NhsMvc.OwnerStories.Name, NhsMvc.OwnerStories.ActionNames.Show)">Submit Your Own</a>
                </p>
            </div>
        </li>
    }
    
    @foreach (var testimonial in Model.OwnerStoryMediaObjects)
    {
        <li class="nhs_ShowcaseQuote">
            @if (testimonial.IsOwnerStory)
            {
                if (testimonial.HasVideo)
                {
                    <div class="nhs_ShowcaseVideoItem">
                        <a itemscope itemtype="http://schema.org/VideoObject" class=" thickbox" href="@(new List<RouteParam>().ToUrl("buildershowcase/ShowVideo", true))?KeepThis=true&TB_iframe=true&width=700&height=500&videowidth=670&videoheight=480&videourl=@testimonial.VideoUrl&title=@testimonial.VideoTitle&VideoOnlineId=@testimonial.OnlineVideoId&vide">
                            <span></span>
                            <img src="@testimonial.VideoThumbnailUrl" />
                            <meta itemprop="thumbnail" content="@testimonial.VideoThumbnailUrl" />
                        </a>
                    </div>
                }
                else
                {
                    <text>
                        @Html.NhsImage(testimonial.MediaObjectPath, new ResizeCommands{Width = 298, Height = 168}, string.Empty, false)
                    </text>
                }
            }

            <p>
                @testimonial.Description <br/>
                <span class="wrapper">
                    <span class="bottom-title">@testimonial.Author</span>

                    @if (testimonial.IsOwnerStory)
                    {
                        <text>
                            - <span class="state">@testimonial.City.</span>
                        </text>
                    }
                </span>
            </p>
        </li>
    }
</ul>