﻿@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseMetroArea>

<div class="nhs_ShowcaseBoxCol">    
    @foreach (var metroArea in Model)
    {   
    <ul>
        <li><strong>@metroArea.Market.MarketName, @metroArea.Market.State.StateName area</strong>
            @if (metroArea.Communities.Count() > 5)
            {
                @Html.LocationsMetroSeeAllLink(metroArea.Market.MarketId, metroArea.BrandId) //See all link
            }    
                                                                
            <ul>                
                @foreach (var community in metroArea.Communities.Take(5))
                {                                        
                    <li>
                        @Html.NhsLink(community.CommunityName, RedirectionHelper.GetCommunityDetailPage(), community.ToCommunityDetail(), null)
                    </li>
                }
            </ul>
        </li>
    </ul>                        
    }    
</div>