﻿@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseMetroArea>

 
@{
    var metroArea = Model.First();
    var countAreasLinks = metroArea.Communities.Count();
    int columnsLinks = countAreasLinks;
    if (columnsLinks > 1)
    {
        columnsLinks = countAreasLinks / 2;
    }    
    <strong>@metroArea.Market.MarketName, @metroArea.Market.State.StateName @LanguageHelper.Area.ToMvcHtmlString()</strong>
    <div class="nhs_ShowcaseBoxLink">
        @if (countAreasLinks > 1)
        {
            <div class="nhs_ShowcaseBoxColLink">
                <ul>
                    @foreach (var community in metroArea.Communities.Take(countAreasLinks - columnsLinks))
                    {
                        <li>
                            @Html.NhsLink(community.CommunityName, RedirectionHelper.GetCommunityDetailPage(), community.ToCommunityDetail(), null)
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="nhs_ShowcaseBoxColLink">
            <ul>
                @foreach (var community in metroArea.Communities.Skip(countAreasLinks - columnsLinks).Take(columnsLinks))
                {
                    <li>
                        @Html.NhsLink(community.CommunityName, RedirectionHelper.GetCommunityDetailPage(), community.ToCommunityDetail(), null)
                    </li>
                }
            </ul>
        </div>
    </div>
}
