﻿@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<div id="nhs_ShowcaseFullGallery">
    
</div>
<div class="nhs_Clear">
</div>
<div class="nhs_ShowcaseColRight">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LeadForm, Model)
    <div class="nhs_Clear">
    </div>
</div>
<div class="nhs_ShowcaseBoxLeft">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LinkArea, Model)
</div>
