﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<script type="text/javascript">
    function reload(url) {
        window.location.href = url;
    }
</script>
@if (Model.SpotlightsCarousel.Any())
{
    <div class="nhs_ShowcaseBoxWide nhs_ShowcaseSpotlightCarousel">
        <h3 class="nhs_Title">
            @LanguageHelper.NewHomesBy.ToMvcHtmlString() @Model.BrandName
        </h3>
        @if (Model.SpotlightsCarousel.Count() > 4)
        {
            <a class="bigprev">@LanguageHelper.Previous.ToMvcHtmlString()</a>
        }
        <div id="nhs_ShowcaseSpotlightCarousel" class="">
            <ul>
                @foreach (var community in Model.SpotlightsCarousel)
                {
                    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.ShowCarouselItem, community)
                }
            </ul>
            <div class="nhs_Clear">
            </div>
        </div>
        @if (Model.SpotlightsCarousel.Count() > 4)
        {
            <a class="bignext">@LanguageHelper.Next.ToMvcHtmlString()</a>
        }
    </div>
}