﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div class="nhs_ShowcaseColRight">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LeadForm, Model)
    <div id="nhs_RightTopSky"></div>
    <div class="nhs_Clear"></div>
    <div id="nhs_ShowAboutLatestNews">
    </div>
</div>
<div id="nhs_ShowAboutGallery">
</div>
<div class="nhs_ShowcaseBoxLeft nhs_ShowcaseOverview" id="nhs_ShowCaseOverview">
    <h2 class="nhs_Title">@LanguageHelper.Overview.ToMvcHtmlString()</h2>
    @HttpUtility.HtmlDecode(Model.OverviewText).ToMvcHtmlString()
</div>
<div class="nhs_ShowcaseBoxLeft">
    <h2 class="nhs_Title">@LanguageHelper.About.ToMvcHtmlString() @Model.BrandName</h2>
    @HttpUtility.HtmlDecode(Model.PromotionalText).ToMvcHtmlString()
    <div class="nhs_Clear"></div>
    <br />
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LinkArea, Model)
</div>
<div id="nhs_ShowAboutTestimonials">
</div>
<div id="nhs_ShowAboutAwards">
</div>
