﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<div id="nhs_ShowcaseModal">
@Html.Partial(NhsMvc.Default.Views.BuilderShowCase.Gallery, Model)
</div>

@ResourceCombinerEnum.BUILDERSHOWCASEJS.GetCrunchedResource()
<script type="text/javascript">
    $jq(document).ready(function () {
        $jq("#nhs_ShowcaseGalleryLink").hide(); 
        setTimeout(function(){
            var builderShowCase = new NHS.Scripts.BuilderShowCase();
            builderShowCase.initGallery({
                start: @Model.ImagesGalleryIndex,                
                generatePagination: false, 
                hoverPause: true,
                bigNextPrev: true
            });
        },2000);      
    });                     
</script>