﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div id="nhs_ShowcaseLatestNews" class="nhs_ShowcaseBoxRight">
    <p class="nhs_Title">
        @LanguageHelper.TheLatestNews.ToMvcHtmlString()
    </p>
    @if (!String.IsNullOrEmpty(Model.RssUrl))
    {
        foreach (var rssFeed in Html.GetRssFeeds(Model.RssUrl))
        {
            <p>
                <a href="@rssFeed.Link">@rssFeed.Title</a>
                <br />
                @rssFeed.Description.ToMvcHtmlString()
                <br />
                <a href=""></a>@* DO not remove this line for now. Testing a fix.*@
                <a href="@rssFeed.Link">@LanguageHelper.ReadMore.ToMvcHtmlString() &raquo;</a>
            </p>
        }
    }
    else if (!String.IsNullOrEmpty(Model.FacebookWidget))
    {
        @Html.GetBspFacebookWidget(Model.FacebookWidget)
    }
    else if (!String.IsNullOrEmpty(Model.TwitterWidget))
    {
        @Html.GetTwitterWidget(Model.TwitterWidget)
    }
</div>