﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div class="nhs_ShowcaseBoxWide nhs_ShowcaseMap">
    <div id="nhs_ShowcaseMapDiv" class="nhs_ShowcaseMapDiv">
        <div id="nhs_map" style="position: relative; width: 720px; height: 430px;">
        </div>
    </div>
    <p>
        @LanguageHelper.ClickOnAMetroAreaToPreview.ToMvcHtmlString()
    </p>
</div>
<div class="nhs_Clear">
</div>
<div class="nhs_ShowcaseBoxLeft">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.ShowMetroAreas, Model)
</div>
<div class="nhs_ShowcaseColRight">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LeadForm, Model)
    <div class="nhs_Clear">
    </div>
    <div class="nhs_ShowcaseBoxRightAlt">
        @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LinkArea, Model)
    </div>
</div>
<div class="nhs_Clear">
</div>
<div id="nhs_SpotlightCarousel">
    
</div>
