﻿@using System.Web.Mvc.Html
@using Nhs.Library.Business
@using Nhs.Web.UI.AppCode.ViewModels
@model BuilderShowCaseViewModel
<div class="nhs_OwnersCuration nhs_ShowcaseBoxWide">
    <h3 class="nhs_Title">Owner Stories</h3>

    @{
        var firstColumn = Model.OwnerStoryMediaObjects.Take(Model.OwnerStoryMediaObjectsTotalRows).ToList();
        firstColumn.ForEach(item => Model.OwnerStoryMediaObjects.Remove(item));

        var secondColumn = Model.OwnerStoryMediaObjects.Take(Model.OwnerStoryMediaObjectsTotalRows).ToList();
        secondColumn.ForEach(item => Model.OwnerStoryMediaObjects.Remove(item));

        var thirdColumn = Model.OwnerStoryMediaObjects.Take(Model.OwnerStoryMediaObjectsTotalRows).ToList();
        
        Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.OwnerStoryMediaObject, new BuilderShowCaseViewModel { OwnerStoryMediaObjects = firstColumn, IsSubmitYourOwnVisible = !firstColumn.Any()});
        Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.OwnerStoryMediaObject, new BuilderShowCaseViewModel { OwnerStoryMediaObjects = secondColumn, IsSubmitYourOwnVisible = !secondColumn.Any() && firstColumn.Any()});
        Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.OwnerStoryMediaObject, new BuilderShowCaseViewModel { OwnerStoryMediaObjects = thirdColumn, IsSubmitYourOwnVisible = firstColumn.Any() && secondColumn.Any()});
    }
</div>