﻿@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
<div class="nhs_Content" id="nhs_BuilderShowcase">
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.Header, Model)
    <div id="nhs_BuilderShowcaseTab" class="nhs_ShowcaseContent">
        @if (Model.IsAbout)
        {
            Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.ShowAbout);
        }
        else if (Model.IsLocations)
        {
            Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.ShowLocations);
        }
        else if (Model.IsGallery)
        {
            Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.ShowGallery);
        }
        else if (Model.IsOwnerStories)
        {
           Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.ShowOwnerStories);
        }
    </div>
    <div class="nhs_Clear">
    </div>
    @{ Html.RenderPartial(NhsMvc.Default.Views.Common.Disclaimer); }
</div>
@{Html.RenderPartial(NhsMvc.Default.Views.BuilderShowCase.Javascript, Model);}