﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
@{    
    var countAreas = Model.MetroAreaList.MetroAreas.Count();
    int columns = countAreas;
    if (columns > 1)
    {
        columns = countAreas / 2;
    }    
}


 @if (countAreas > 8)
 {
     <div class="nhs_ShowcasePagingBar">
         <div>
             <p>
                 @LanguageHelper.Page.ToMvcHtmlString():</p>
             <ul>
                 <li><a href="#"><</a></li>
                 <li><a class="nhs_Active" href="#">1</a></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">></a></li>
                 <li><a href="#">@LanguageHelper.ViewAll.ToMvcHtmlString()</a></li>
             </ul>
         </div>
     </div>
 }

<h2 class="nhs_Title">@Model.MetroAreaList.HeaderText</h2>
@if (countAreas > 1)
{
<div id="Pagination">
     <div class="nhs_ShowcaseMetroArea">
        <ul>
        @foreach (var metroArea in Model.MetroAreaList.MetroAreas)
        {            
            <li><strong>@metroArea.Market.MarketName, @metroArea.Market.State.StateName</strong>
                @if (metroArea.Communities.Count() > 5)
                {
                    @Html.LocationsMetroSeeAllLink(metroArea.Market.MarketId, metroArea.BrandId) //See all link
                }                                 
                <ul>                
                    @foreach (var community in metroArea.Communities.Take(5))
                    {                                        
                        <li>@Html.NhsLink(community.CommunityName, RedirectionHelper.GetCommunityDetailPage(), community.ToCommunityDetail(), null)</li>
                    }
                </ul></li>                
        }
        </ul>    
    </div>
</div>       
}      
      
@if (countAreas > 8)
{
     <div class="nhs_ShowcasePagingBar">
         <div>
             <p>
                 @LanguageHelper.Page.ToMvcHtmlString():</p>
             <ul>
                 <li><a href="#"><</a></li>
                 <li><a class="nhs_Active" href="#">1</a></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">></a></li>
                 <li><a href="#">@LanguageHelper.ViewAll.ToMvcHtmlString()</a></li>
             </ul>
         </div>
     </div>
 }