﻿@using System.ComponentModel
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Library.Business
@using Nhs.Web.UI.AppCode.Helper

@model ExtendedCommunityResult
           
<li class="nhs_SpotlightItem" onclick="reload('@Model.BuilderUrl');">
    <div class="nhs_ResultThumbBox">
        <div class="nhs_ResultThumb">
            @Html.NhsImageLink(Model.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null, null)
            <p class="nhs_ResultThumbOverlayNoHomes">
                <a href="@Model.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage()).ToLower()"><span>
                                                                                       @(Model.MatchingHomes > 1 ? string.Format("{0} " + LanguageHelper.NewHomes, Model.MatchingHomes) : string.Format("{0} " + LanguageHelper.NewHome, Model.MatchingHomes))
                                                                                   </span></a>
            </p>
        </div>
    </div>
     <div style="clear: both;"></div>
    <p>
        <strong>
            @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(),
                          new
                              {
                                  title =
                                  Model.CommunityName + " - " + Model.City + ", " + Model.State,
                                  onclick = "NHS.Scripts.Helper.stopBubble(event);"
                              })</strong><br />
        @Model.CommunityItemLocationNoPostal()<br />
        @Model.CommunityItemPriceRangeShort()
    </p>
    <p>
        @if (Model.CommunityType == "comingsoon")
        {
            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_coming_soon_png" alt="@LanguageHelper.ComingSoon" />
        }
        else
        {
            if (string.IsNullOrWhiteSpace(Model.Video_url) == false)
            {
            <a href="@Model.Video_url" target="_blank">
                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_video_png" alt="@LanguageHelper.Video" /></a>
            }

            if (Model.Green)
            {
            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_green_png" alt="@LanguageHelper.GreenFeatures" />
            }
        }
    </p>
</li>
