﻿/* ---------------------------------------------
Title:      Default Pro MVC Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Sept 2012
----------------------------------------------- */

body { 
    background:#fff url(/GlobalResourcesMvc/Pro/images/home-page-bg.gif) repeat-x top left;
    background-attachment: fixed;
    color:#615b5b; 
    }
body, select, input, textarea {
    color:#615b5b;
    }    
input[disabled] {
    background: #EEE;
    border: 1px solid #ABADB3; 
    }
#pro_Container {
    margin: 0 auto;
    width: 990px;
    }
#pro_SectionMain {    
    display: inline;
    float: left;
    width: 970px;
    min-height: 450px;
    padding: 5px 10px 10px 10px;
    background: #fff;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    }

/*ol, ul { 
    margin: 0; 
    }*/
ul {
    padding-left: 0;
    }
a, a:visited { 
    color:#0091da; /*#2b8ecf*/ 
    text-decoration:none; 
    }
a:hover { 
    color:#0091da; /*#2b8ecf*/ 
    text-decoration:underline; 
    }
/*h2 { font-size: 125%; margin: .65em 0; }
h4 { color: #24619E; }
h4 span {
    color: #333;
    font-size: 90%;
    font-weight: normal;
    margin-left: 15px;
}*/
  
/* =Header - Main */
#pro_Header {
	position: relative;
	margin: 0 -1px 0 0;
	padding: 0;
	width: 100%;
	min-width: 990px;
	background: #004a7c;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-size: 13px;
	}
#pro_Logo,
.pro_Logo {
    line-height: 90px;
    }	
#pro_Logo img,
.pro_Logo img {
    vertical-align: middle;
	/*position: absolute;
	top: 30px;
	left: 0;*/
	max-width: 256px;
	}
#pro_ToolNav {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 85%;
	background: transparent; /*#102142;*/
	height: 23px;
	/*border-top: 1px solid #696969;
	border-bottom: 1px solid #060d1a;
	border-bottom: 1px solid #3976cb;	*/
	}
#pro_ToolNav div {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 0 0;
	}
#pro_ToolNav ul {
	float: right;
	list-style-type: none;
	padding: 5px 0 0 0;
	}
#pro_ToolNav ul li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0 0 0 25px;	    
	}
#pro_ToolNav a, #pro_ToolNav a:link, #pro_ToolNav a:visited, #pro_ToolNav a:active {
	text-decoration: none;
	color: #f0eceb;
	text-transform: uppercase; 
	}
#pro_ToolNav a:hover {
	text-decoration: underline;
	color: #5ab4ed;	
	}
#pro_LogoDiv {
	width: 990px;
	margin: 0 auto;
	padding: 5px 0 6px 0;
	height: 92px;
	position: relative;
	}
#nhs_AdTop {
	float: right !important;
	width: 728px !important;
	height: 90px;
	border: 0;	
	min-width: 0 !important;
	}
#pro_SearchNav {
	width: 100%;
	}	
#pro_SearchNav > div {
	width: 990px;
	margin: 0 auto;
	padding: 3px 0 5px 0;
	clear: both;	
	position: relative; z-index: 0; /* for border-radius.htc */
	}	
#pro_SearchNav ul {
	float: left;
	list-style-type: none;
	}
#pro_SearchNav ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	text-transform: uppercase; 
	}
#pro_SearchNav ul li:before { 
    content: "|";
    color: #3a5169;
    }
#pro_SearchNav ul li:first-child:before { 
    content: "";
    }
#pro_SearchNav li a, 
#pro_SearchNav li a:link, 
#pro_SearchNav li a:visited, 
#pro_SearchNav li a:active {
	display: inline-block;
    margin: 0;
    padding: 5px 8px;
    color: #f0eceb; 
    text-decoration:none; 
	}
#pro_SearchNav li a:hover {
	 color:#5ab4ed; 
	 text-decoration:underline;
	 }
#pro_SearchNav ul li.nhs_NavHighlight a {
	border-top: 1px solid #174399;
	margin-top: -1px;
	padding-top: 8px;
	background: #0a2f66 url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav_highlight.png) repeat-x left top;
	}
#pro_SearchNav ul li.nhs_First a {
	border-left: 0;
	}
#pro_SearchNav ul li.nhs_Last a {
	border-right: 0;
	}
#nhs_AddThisBox {
	float: right;
	margin: 2px 0 1px 0;
	}

/* =Header - Homepage */    
.pro_HomeHeader {
    float: left;     
    background: #004a7c;
    width:100%; 
    clear:both; 
    font-size: 13px;
    }
.pro_HomeHeader > div { 
    width:990px; 
    height:92px; 
    margin:0 auto; 
    }
.pro_HomeHeader > div nav { 
    width:700px; 
    float:right; 
    color:#2c4e73; 
    }
/*.pro_HomeHeader > div .pro_Logo { 
    padding:14px 0 0 10px; 
    float:left; 
    display: block;
    }
.pro_HomeHeader > div .pro_Logo img {    
    max-width: 280px;
    }*/
.pro_HomeHeader nav ul { 
    list-style:none; 
    float:right; 
    margin: 31px 0 0 0;
    font-size: 108%;
    }
.pro_HomeHeader nav ul li {
    float: left; 
    display: inline-block;      
    margin: 0; 
    text-transform: uppercase; 
    }
.pro_HomeHeader nav ul li:before { 
    content: "|";
    color: #3a5169;
    }
.pro_HomeHeader nav ul li:first-child:before { 
    content: "";
    }
.pro_HomeHeader nav ul li img {
    margin: -5px -12px -5px 0;
    }
.pro_HomeHeader nav a {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #f0eceb; 
    text-decoration:none; 
    }
.pro_HomeHeader nav a.active { color:#5ab4ed; }
.pro_HomeHeader nav a:hover { color:#5ab4ed; text-decoration:underline; }  
    
.pro_Footer { 
    width: 100%; 
    float: left; 
    font-size: 13px;     
    }
.pro_Footer > div {
    width: 990px;
    margin: 0 auto; 
    padding: 20px 0;
    background: #fff url(/GlobalResourcesMvc/Pro/images/footer-bg.png) no-repeat top center;
    }
.pro_Footer > div .pro_FooterAd { 
    float: left; 
    margin-left: 5px;
    } 
.pro_Footer > div .pro_FooterAd #nhsIFrameAdx01 { 
    border: 1px solid #ccc;
    }     
.pro_Footer nav {
    float: left; 
    width: 650px; 
    margin: 20px 0 0 0; 
    }
.pro_Footer nav ul { 
    float: left;
    list-style: none;
    width: 33%; 
    }
.pro_Footer nav ul li { 
    display: block;         
    margin: 10px 0 0 0;      
    font-size: 108%;
    }
    
.pro_FooterBox { 
    float: right;  
    width: 665px;
    margin-right: 10px;
    }
.pro_FooterBox > div { 
    float: left;     
    width: 327px; 
    height: 131px;       
    }
.pro_FooterBox > div.pro_FooterBuilder { 
    background: url(/GlobalResourcesMvc/Pro/images/are-you-a-builder.png) no-repeat top left;
    margin-left: 10px;
    }
.pro_FooterBox > div.pro_Twitter { 
    background: url(/GlobalResourcesMvc/Pro/images/pro-twitter.png) no-repeat top left;
    margin-left: 10px;
    }
.pro_FooterBox > div.pro_FooterBuyer { 
    background: url(/GlobalResourcesMvc/Pro/images/are-you-a-buyer.png) no-repeat top left;    
    }
.pro_FooterBox > div.pro_Facebook { 
    background: url(/GlobalResourcesMvc/Pro/images/pro-facebook.png) no-repeat top left;    
    }
.pro_FooterBox > div p strong {         
    display: inline-block;
    margin-bottom: 5px; 
    color: #000; 
    font-size: 130% !important; 
    font-weight: bold; 
    }
.pro_FooterBox > div p { 
    width: 200px; 
    margin: 15px 15px 0 auto;  
    line-height: 18px; 
    }
    
.pro_Copyright { 
    float: left;
    width: 100%; 
    background: #004a7c;
    clear: both;
    font-size: 13px;
    }
.pro_Copyright > p { 
    width: 920px; 
    margin: 0 auto; 
    padding: 25px 0;
    color: #b6c1c8; 
    text-align: center; 
    line-height: 1.4;
    }
.pro_Copyright > p a { 
    color:#b6c1c8; 
    text-decoration:none; 
    }
.pro_Copyright > p a:hover { 
    color:#b6c1c8; 
    text-decoration:underline; 
    }        

.ui-autocomplete a#ui-active-menuitem {
	background: #888888;
	}	

#nhs_BuilderPromoHeader {
    font-weight: bold;
    }

#nhs_ManageAccount {
    clear: both;
    float: left;
    width: 820px;
    margin: 0 5px 5px 5px;
    padding: 0;
    background: #fff;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left; 
    }    

#nhs_ManageAccount p {
    margin: .25em 0 .45em 0;
    }    	
	
/* SEND BROCHURE */
.pro_SendBrochureModal > .footer > p { text-align:center; }
.btn_previewBrochure  { padding:6px 15px !important; }
.pro_SendBrochure { 
    margin-left:20px;
    }
.pro_SendBrochureTable {
    width: 98%; 
    height: 150px; 
    margin: 0 auto; 
    overflow-y: auto;
    }
.pro_AddRecipients { text-align:right; margin:10px 0; clear:both; }
.pro_DeleteClientNameEmail,
.pro_AddRecipients a { cursor:pointer; }
.pro_PreviewAndSendBrochure { float:right; margin-bottom:15px; }
/* end SEND BROCHURE */

/* PRO7 EDIT ACCOUNT */
.pro_RequestInfoLeft { float:left; width:405px; }
.pro_RequestInfoRight { float:right; width:405px; }
.pro_Asterisk {
    font-size: 18px;
    vertical-align: middle;
    color: #FF193F;
    margin-right: 1px;
    line-height: 0.5;
}
.pro_RequestNameBox label { width: 135px; float:left; padding-right:3px; text-align:right; }
.pro_RegNewsBox label { width: 227px; float:left; padding-right:3px; text-align:right; }
.pro_RequestInfoLeft h4 {
    margin: .65em 0;
    font-weight:bold;
}
.pro_LegalText { font-size: x-small; }
/* end PRO7 EDIT ACCOUNT */

#pro_Overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index: 500009;
	display: none;
}
#pro_Confirm {
	background: #fff;
	border: 2px solid #333;
	left: 50%;
	line-height: 20px;
	width: 400px;
	margin: -20px 0 0 -200px;
	padding: 20px 10px;
	position: fixed;
	top: 50%;
	z-index: 100000000;
	border-radius: 5px;
	display: none;
}

/*.pro_LogoBox {    
    height: 55px;
    margin: 10px 0 0 3px;
    max-width: 256px;
	background-color: #004a7c;
	}
.pro_LogoBox a {
	border:0;
	}
.pro_LogoBox img {
	display: block;
	}*/
	
.pro_TipsLocation {
	padding-left: 15px;		
	}
	
.nhs_Breadcrumb {    
    background: url(/globalresourcesmvc/pro/images/breadcrumb_bg.png) repeat-y right top transparent;
    }
.nhs_Breadcrumb p {   
    background: url(/globalresourcesmvc/pro/images/breadcrumb_arrow_bg.png) no-repeat right top transparent;
    }
.nhs_Breadcrumb ol li {    
    background: url(/globalresourcesmvc/pro/images/breadcrumb_arrow_bg.png) no-repeat right top transparent;
    }	

ul.nhs_Actions > li a,
ul.nhs_Actions > li a.btnCss {
	background: #fff;		
	color: #0091da !important;
	border: 1px solid #0091da;				
} 
.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    background: #0091da;    
    color: #fff !important;
}   
.nhs_MapCard ul.nhs_Actions li a {
	border: 1px solid #f58220;
	background: #f58220;
	font-size: 12px !important;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	width: 86px;
	padding: 8px 6px;
	height: auto;	
	
	border-radius: 3px;
	line-height: 14px;
    display: inline-block;
    margin: 0 3px 0 8px !important;
} 
.nhs_MapCard ul.nhs_Actions li:first-child a { 
    margin-left: 0 !important;
}
.nhs_MapCard ul.nhs_Actions li a span {   
    display: inline-block;
}

/*= Overrides */

.btn, #pro_SectionMain .btn,
.pro_HomeSearchForm .btn_Search {
    /* 
    background-color: ;
    border-color: ; 
    */
    }

.nhs_WiderFunnelA .nhs_DetailsForm, 
.nhs_WiderFunnelB .nhs_DetailsForm, 
.nhs_DetailsForm,
.nhs_ImagePlayerTitleBar,
#nhs_CommResVideo .nhs_ImagePlayerTitleBar,
#nhs_CommResVideo .nhs_MediaTitleBar,
.ad-nav,
.nhs_MapLoader,
.nhs_CustomBox fieldset,
.nhs_CustomBox form,
.nhs_GroupingBar {
    background: #004a7c;
    }
.nhs_WiderFunnelA #nhs_DetailsBuilderLogoAndPrice, 
.nhs_WiderFunnelB #nhs_DetailsBuilderLogoAndPrice {
    border: 1px solid #0091da; /*#2b8ecf*/
    border-bottom: 0;
    }
.nhs_WiderFunnelA .nhs_DetailsFormInfo, 
.nhs_WiderFunnelB .nhs_DetailsFormInfo {
    border: 1px solid #0091da; /*#2b8ecf*/
    border-top: 0;
    }
.nhs_WiderFunnelA .nhs_DetailsFormMoreActions, 
.nhs_WiderFunnelB .nhs_DetailsFormMoreActions {
    border: 1px solid #0091da; /*#2b8ecf*/
    }
a, a:link, a:active, a:visited, a:hover, 
.nhs_DetailsToolBar ul li a,
.nhs_DetailsToolBar ul li a:hover {
    color: #0091da; /*#2b8ecf*/
    }
.nhs_ResultThumbOverlayNoHomes {
    color: #004a7c;
    }    
.nhs_PagingLinks .nhs_CurrentPage, 
.nhs_PagingLinks a:hover {
    background-color: #0091da; /*#2b8ecf*/
    border: 1px solid #0091da; /*#2b8ecf*/
    color: #fff;
    }  
#nhs_CommResVideo .ad-gallery .ad-image-wrapper .ad-image span {
    background-size: 60px 60px;
    }    
    
.nhs_FacetGroupTitle span.nhs_FacetLinkOpen, 
#nhs_FacetLinkCities.nhs_FacetLinkOpen, 
.nhs_FacetMenuBox {
    background-color: #628297;
    }
 
#nhs_FacetLocation #btnGo,
.nhs_Paging #btnNext,
.nhs_Paging #btnPrevious {
    background-color: #0091da; /*#2b8ecf*/
    }    
      
.nhs_Tabs {
    border-bottom: 1px solid #628297;  
    }
.nhs_Tabs li a,
.nhs_Tabs li a:link,
.nhs_Tabs li a:visited,
.nhs_Tabs li a:active {
    border: 1px solid #628297;
    color: #004a7c;
    background-color: #e6ebef;
    }
.nhs_Tabs li.nhs_Selected a {
    border-bottom: 1px solid #fff;
    color: #000;
    background-color: #fff;
    }        

.nhs_HomesPlansGallery, 
.nhs_floorPlanSection, 
.nhs_SimilarHomePlanSection, 
.nhs_mapAndDirections, 
.nhs_DetailsInfoSchoolAmenities, 
.nhs_findOutMore, 
.nhs_nextSteps, 
.nhs_NearbyComms,
.nhs_basicListingsDetails,
.nhs_CommResListBox,
.nhs_CommResContentBox,
#nhs_BuilderPromoBrands {
    background: #fff;
    border-top: 1px solid #004a7c;
    border-bottom: 0;
    } 
#nhs_BuilderPromoLink {
    border-bottom: 1px solid #004a7c;
    }    
.nhs_homeDetailList, 
.nhs_HomeDetailSection, 
.nhs_DetailSections {
    background-color: #e6ebef;
    margin-bottom: 10px;
    color: #444;
    }   
.nhs_NextStepsContent {
    background: #fff;
    }

.nhs_CommResRow {
	border-top: 1px solid #e6ebef;
	}
.nhs_CommResRowOn,
.nhs_CommResRowOpen,
.nhs_HomesGalleryResults .nhs_GalleryCellOn,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn {   
	border: 2px solid #004a7c;
	background: #e6ebef;
	}
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly {
    color: #004a7c;
    }
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanNameOnly,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanNameOnly {
    color: #0091da; /*#2b8ecf*/
    }
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a, 
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover {
    text-decoration: underline;
    }
    
.nhs_CommResRow a,
.nhs_CommResRow h2 a, 
.nhs_CommResSpecialRow a {
    color: #004a7c;
    }
.nhs_CommResRowOn a,
.nhs_CommResRowOn h2 a,
.nhs_CommResSpecialRowOn a {
	color: #0091da; /*#2b8ecf*/
	}
/* END Overrides */

/* MRED PL MODAL */
#pro_mredtermsofservice { padding:10px; font-size: .80em; }
#pro_mredtermsofservice p { margin-bottom:14px; }

#pro_mredtermsofservice button, 
#pro_mredtermsofservice html input[type="button"], 
#pro_mredtermsofservice input[type="reset"], 
#pro_mredtermsofservice input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 3px 10px;
    background-color: #880000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    left: 42%;
}

#pro_mredtermsofservice .decline { text-align: center; margin: 8px 0 10px 0; }
#pro_mredtermsofservice .decline a { color:#ff6600; text-decoration:underline; }
#pro_mredtermsofservice .decline a:hover { color:#ff6600; text-decoration:none; }

/* MRED PL East Bay */
#pro_eastbaytermsofservice { padding:10px; font-size: .80em; }
#pro_eastbaytermsofservice p { margin-bottom:14px; }


#pro_eastbaytermsofservice .btn { background-color: #6eae8b; position: relative; left: 43%; }

#pro_eastbaytermsofservice a.decline { text-align: center; margin: 8px 0 10px 0; display:block; }
#pro_eastbaytermsofservice a.decline { color:#6eae8b; text-decoration:underline; }
#pro_eastbaytermsofservice a.decline:hover { color:#6eae8b; text-decoration:none; }

.nhs_DetailsFormMoreActions #nhs_SaveThisItem
{
    display: inline-block;
    padding: 2px 0 2px 16px;
    background: url(/globalresourcesmvc/default/images/icons/save_heart_sm.png) no-repeat left 50% !important;
}

.pro_neverShareInfoWithBuilder p {
    width: 96%;
    background: #b1b1b1;
    margin: 20px 0 0 0;
    padding: 14px 2%;
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

/* Sign In */

.nhs_ModalLoginHeader {
    background-color: #2c4e73;
}
.nhs_ModalLoginHeader > div > p {
    color: #fff;
}

#nhs_ModalRegister.nhs_ModalAccount > p {
    margin: 8px auto;
}

.nhs_ModalAccountForm > fieldset > p {
    margin: 5px 0;
}

.nhs_ModalAccountForm fieldset label.nhs_NewsletterLabel, 
.nhs_ModalAccountForm fieldset label.nhs_PromosLabel {
    margin: 0;
}

#nhs_ModalRegister .nhs_ModalActions2 {
    margin-top: 8px !important;
}

#nhs_ModalRegister p.nhs_Legal {
    padding: 8px 11px;
}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderRecover {
    width: auto;
    background-image: url('/globalresourcesmvc/pro/images/icons/user_circle.png');
}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderSignIn {
    background-image: url('/globalresourcesmvc/pro/images/icons/sign_in_circle.png');
}

.nhs_ModalLoginHeader > div.nhs_ModalHeaderAccount {
    background-image: url('/globalresourcesmvc/pro/images/icons/user_circle.png');
}

.nhs_ModalAccount > a:first-child {
    background: url(/globalresources14/default/images/icons/x_close.png) no-repeat 0 0;
}

.nhs_ModalBox .btnCss:hover {
    background-color: #f58220;
    border-color: #f58220;
}

.nhs_ModalAccountForm {margin-bottom: 0;}

div.k-window-content {padding: 0 !important;}


