﻿    /* ---------------------------------------------
Title:      Default Pro MVC Homepage Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Sept 2012
----------------------------------------------- */

#pro_SectionMain.pro_HomeSection {
    background: transparent;
    width: 990px;
    padding: 0;
    }
   
.pro_HomeContent { 
    width:990px; 
    float:left; 
    margin:30px 0; 
    }
    
/*= FREE TAG */
.pro_HomeFreeBox { 
    width:489px; 
    padding: 0 5px;
    height:162px; 
    float:left; 
    background:url(/GlobalResourcesMvc/Pro/images/free-tag.png) no-repeat 50% top; 
    }
.pro_HomeFreeBox > div { width:400px; margin:25px auto 0;  }
.pro_HomeFreeBox h3 { font-size:154%; font-weight:bold; text-align:center; color:#29517c; margin-bottom:12px; }
.pro_HomeFreeBox ul { list-style-type:disc; margin-left: 20px; }
.pro_HomeFreeBox ul li { line-height:16px; margin-bottom:6px; }
.pro_HomeFreeBox .btn_SignIn {
    float: right;
    font-size: 14px !important;
    width: 120px;
    margin-top: 4px;
    }

/*= PERKS TAG */
.pro_HomePerksBox { 
    width:489px; 
    padding: 0 5px;
    height:162px; 
    float:left; 
    background:url(/GlobalResourcesMvc/Pro/images/perks-tag.png) no-repeat 50% top; 
    }
.pro_HomePerksBox > div { width:400px; margin:25px auto 0;  }
.pro_HomePerksBox h3 { font-size:139%; font-weight:bold; text-align:center; color:#29517c; margin-bottom:12px; }
.pro_HomePerksBox ul { list-style-type:disc; margin-left: 20px; }
.pro_HomePerksBox ul li { line-height:16px; margin-bottom:6px; }
.pro_HomePerksBox .btn_SignIn {
    float: right;
    font-size: 14px !important;
    width: 120px;
    margin-top: 4px;
    }

.pro_HomeTestimonials { 
    width:486px; 
    height:118px; 
    float:right; 
    background: url(/GlobalResourcesMvc/Pro/images/testimonials.png) no-repeat top left; 
    margin-top:8px;
    line-height: 1.5; 
    }
.pro_HomeTestimonials ul {margin:0;}
.pro_HomeTestimonials li {list-style: none; font-style:italic; font-family:"Times New Roman", Times, serif; text-decoration: none; width:310px; margin:15px 0 0 150px; height:60px; }
.pro_HomeTestimonials p {margin:40px 0 0 135px; }
.pro_HomeTestimonials .pro_AgentThumb { width:102px; height:102px; float:left; padding:6px 0 0 6px; }
.pro_HomeTestimonials .pro_AgentThumb img { width: 102px;height: 102px;}

.pro_HomeBannerText { 
    width:880px; 
    height:64px; 
    margin:35px auto 0; 
    clear:both; 
    background: #2c5076 url(/GlobalResourcesMvc/Pro/images/home-banner-text-bg.png) no-repeat top left; 
    }
.pro_HomeBannerHouses { 
    width:880px; 
    height:72px; 
    margin:0 auto; 
    clear:both; 
    background: #2c5076 url(/GlobalResourcesMvc/Pro/images/home-banner-bg.png) no-repeat top left; 
    }    
.pro_HomeBannerText *,
.pro_HomeBannerHouses * {
    display: none;
    }    
.pro_HomeSearch { 
    width:880px; 
    height:168px; 
    margin: 0 auto; 
    clear:both;
    background: #2c5076;     
    /*background:url(/GlobalResourcesMvc/Pro/images/advanced-search-bg.gif) no-repeat bottom left;*/
    border-radius: 7px;
    box-shadow: 1px 1px 2px #666;
    } 
    
/*= Homepage Search */
.pro_HomeSearchForm { 
    position:relative; 
    top:31px; 
    left:15px; 
    }
.pro_HomeSearchForm legend {
    display: none;
    }    
.pro_HomeSearchForm input, 
.pro_HomeSearchForm select { 
    border: 0; 
    color: #888; /*#afbdcb*/
    font-size:130%; 
    cursor:pointer; 
    background: #fff;
    padding: 15px 10px;
    border-radius: 9px;
    }
.pro_HomeSearchForm input {    
    background: #fff url(/GlobalResourcesMvc/Pro/images/dropdown-arrow.gif) no-repeat 94px 50%;     
    }
.pro_HomeSearchForm input#SearchText {    
    width: 600px; 
    margin-bottom: 7px;
    background: #fff;
    cursor: text; 
    }
.pro_HomeSearchForm .minimum { 
    float:left; 
    width:98px; 
    background-position: 98px 50%;
    }
.pro_HomeSearchForm .maximum { 
    float:left; 
    width:100px; 
    margin-right:8px;  
    background-position: 102px 50%;
    }
.pro_HomeSearchForm .small { 
    float:left; 
    width:92px; 
    margin-right:8px;  
    }
.pro_HomeSearchForm .small-last { 
    float:left; 
    width:92px; 
    }
.pro_HomeSearchForm .label-to { 
    float:left; 
    color:#7b7776; 
    padding: 16px 5px; 
    cursor: default; 
    }
.pro_HomeSearchForm ul { list-style:none; margin: 0; }
.pro_HomeSearchForm > ul > li { display:inline; }
.pro_HomeSearchForm .btn_Search {     
    width: 218px;
    height: 58px;
    padding: 5px 0 6px 0;
    box-shadow: 0 2px 3px #333;          
    background: #f38e28;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa54b', endColorstr='#f38e28');*/ /* for IE - doesn't work with corner-radius */
    background: -webkit-gradient(linear, left bottom, left top, from(#f38e28), to(#ffa54b)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffa54b,  #f38e28); /* for firefox 3.6+ */     
    border: 1px solid #e78625;
    border-top: 1px solid #ffc286;
    border-radius: 9px;  
    color: #FFFFFF;
    font-family: Verdana,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 1px 2px 1px #d35811;
    position: relative; 
    top: -36px; 
    left: 14px; 
    cursor:pointer;      
    }
.pro_HomeSearchForm .pro_HomeAdvSearchLink { 
    color:#7dd96e; 
    float:right;  
    position:relative; 
    top:-30px; 
    left:-87px; 
    }
.pro_HomeSearchForm input:focus, 
.pro_HomeSearchForm textarea:focus,
.pro_HomeSearchForm select:focus { 
    outline:none; 
    }
.pro_HomeSearchForm .field-validation-error {
    top: -26px;
    color: #f58220;
    font-size: 0.875rem;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 6px 2% 6px 0;
    position: absolute;
    width: 90%;
}
/*.pro_HomeSearchForm .field-validation-error, 
.pro_HomeSearchForm .validation-summary-errors {
    color: #f58220;
    font-size: 0.9rem;
    font-weight: normal;
}*/
.pro_SearchDdl { /*position: relative;*/ float:left; }
.pro_SearchDdlData {
    border: 1px solid #C0C0C0;
    display: none;
    /*position: absolute;
    top: 44px;*/
    background-color: #ffffff;    
    width: 116px;
    height: 250px;
    z-index: 1000;
    overflow-y: auto;  
    float:left;
    clear:left;  
    position:relative;
    top:-8px;
    }
.pro_SearchDdlData span {
    margin-left: 0;
    list-style-type: none;
    list-style: none;
    padding:3px 0;
    border-bottom:1px solid #afbdcb;
    background-color: #e6ebf0;
    text-align: center;
    font-weight: bold;
    display: block;
    }
.pro_SearchDdlData li {
    margin-left: 0;
    list-style-type: none;
    list-style: none;
    padding:2px 0 2px 5px;
    /*border-bottom:1px solid #afbdcb;*/
    }
.pro_SearchDdlData li { cursor: pointer;}
.pro_SearchDdlData li:hover { background-color:highlight; color: #fff; }

#option1 {
    }
#option2 {
    width: 118px;
    }
#option3 {
    width: 110px;
    height: 120px;
    }
#option4 {
    width: 110px;
    height: 120px;
    }
#option5 {
    width: 110px;
    }
.pro_Active { 
    background: #e6ebf0; 
    }
/* end ADVANCED SEARCH*/

/* HOME PRO TV*/
.pro_HomeTv
{
    width:990px;
    margin:0 auto;
}
#nhs_ProTvLinkHomeArea 
{
    background: url(/globalresourcesmvc/pro/images/pro-tv-link-home-area.png) no-repeat top left transparent; 
    width: 783px;
    height: 75px;
    margin: 0 auto 20px;
    padding: 52px 0 0 190px;
}
#nhs_ProTvLinkHomeArea .btn 
{
    margin-left:30px;
    padding: 5px 18px!important;
    color:#fff!important;
}
#nhs_ProTvLinkHomeArea h3
{
    font-size:1.30em;
    color:#29517c;    
}   
#nhs_ProTvLinkHomeArea p 
{
    font-size:.90em;
    color:#29517c;    
}
.nhs_TvBtnLearnMore {
    padding: 4px 8px!important;
}
#nhs_ProTvLinkCommResultsArea 
{
    background: url(/globalresourcesmvc/pro/images/pro-tv-link-comm-results-area.png) no-repeat top left transparent; 
    width:174px;
    height:184px;
    padding-right: 128px;
    margin-top:12px;
}
#nhs_ProTvLinkCommResultsArea h3
{
    font-size:1.60em;
    color:#29517c;
    padding:22px 0 0 15px;    
} 
#nhs_ProTvLinkCommResultsArea p 
{
    padding: 5px 0 0 15px;
}
#nhs_ProTvLinkCommResultsArea .btn
{
    margin:10px 0 0 15px;
}
/* end HOME PRO TV*/