/* ---------------------------------------------
Title:      Default Pro MVC Details Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Nov 2012
----------------------------------------------- */

.send_free_info, .nhs_DetailsFormArrow {
    display: none !important;
}

.nhs_LeadComments #Message,
.nhs_DetailsFormContent #Message {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 282px;      
    height: 50px;
    padding: 3px;
    overflow: auto;
}
.nhs_DetailsFormContent #Message {
    width: 70%;
    max-width: 241px;
}
.nhs_DetailsFormContent #divSendMessage {
    width: 80px !important;
    float: right;
    margin-top: 6px;
    padding-bottom: 0;
}
.nhs_LeadComments .btn_SendMessage {
    margin: 6px 0;
}

#nhs_CommunityDetails #nhs_DetailsFormMessage {
    border-top: 1px solid rgba(255,255,255,0.25);
    margin-top: 0;
    padding-top: 10px;
}
#nhs_CommunityDetails #nhs_DetailsFormInfoActions {
    border-top: 1px solid rgba(255,255,255,0.25);
    margin-top: 0;
    padding-top: 10px;
    color: #615b5b;
}
.nhs_DetailsFormContent #divLeadMain fieldset {
    margin-bottom: 10px;
}
.nhs_DetailsFormInfo {
    background: #efefef;
}
.nhs_DetailsFormMoreActions, .nhs_WiderFunnelA .nhs_DetailsFormMoreActions, .nhs_WiderFunnelB .nhs_DetailsFormMoreActions {
    background: #fff;
    padding-bottom: 8px;
}
.nhs_DetailsFormMoreActions ul, .nhs_DetailsFormMoreActions ul li {
    width: 148px;
}
.nhs_DetailsFormMoreActions ul li {
    padding-bottom: 0;
}
.nhs_DetailsFormMoreActions .nhs_SendBrochureToClient {
}
.nhs_DetailsFormMoreActions .nhs_SendBrochureToClient a {
    display: inline-block;
    padding: 2px 0 2px 16px;
    background: url(/globalresourcesmvc/default/images/icons/send_sm.png) no-repeat 2px 50%;
}

.btnGlobal .btn { 
    padding:5px 10px !important;
}

.nhs_DetailsInfoSchoolAmenities .columns {
    float: left;
    width: 31%;
}
.nhs_DetailsInfoSchoolAmenities .columns > div {
    width: 98%;
}
.nhs_DetailsInfoSchoolAmenities .columns ul {
    padding: 10px 0 10px 20px;
}
.nhs_DetailsInfoSchoolAmenities .commission ul {
    padding: 0 0 0 20px;
}
.commission {
    float: right !important;
    width: 31%;
}
.pro_DetailCoop {
    
}
.pro_DetailCoop img {
    float: left;
    margin: 0 12px 12px 0;   
}
.pro_DetailCoop p {
    width: auto;
    font-size: 12px;
    padding: 14px 0;
}

/* Agent Compensation */
#pro_divAgCompensationLead {
    margin-top: 10px;
    padding: 10px;
    background-color: #e6ebef;
    border: 1px solid #cccccc;
}
#pro_divAgCompensationLead textarea {
    width: 90%;
    min-height: 50px;
    padding: 8px;
    margin-top: 10px;
}
#pro_agCompensationLeadFormDivId p {
    font-size: 95%;
    width: auto;
    margin: 8px 0;
}
#pro_divAgCompensationLead .contact-info {
    float: left;
    width: 65%;
}
#pro_divAgCompensationLead .contact-info p {
    font-size: 75%;
    width: auto;
}
#pro_divAgCompensationLead .btn-wrapper {
    float: right;
    margin-top: 10px;
}
#pro_divAgCompensationLead legend {
    display: inline-block;
}


