/* ---------------------------------------------
Title:      Default Pro MVC Results Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Nov 2012
----------------------------------------------- */

#nhs_FacetPriceSlider.ui-slider-horizontal .ui-slider-range, 
#nhs_FacetPriceSlider.ui-slider-horizontal .ui-slider-range, 
#nhs_FacetSqFtSlider.ui-slider-horizontal .ui-slider-range, 
#nhs_FacetSqFtSlider.ui-slider-horizontal .ui-slider-range {
    background: url(/globalresourcesmvc/pro/images/gray_slider_price_range_bg.png) repeat-x 0 0 transparent;
    }
#nhs_FacetLocationSlider {
    background: url(/globalresourcesmvc/pro/images/gray_slider_location_bg.png) no-repeat left top transparent;
    }    
.nhs_FacetGroup ul li {
    background-image: url(/globalresourcesmvc/pro/images/gray_facet_checkmark.png) !important;      
    }    
.nhs_FacetMenuBox ul li {
    background: none !important;
    }  

#pro_SectionMain .nhs_BoylResultsInfo2 {
	width: 110px;
	}
#pro_SectionMain .nhs_BoylResultsInfo2 a {
    margin-bottom: 5px;
	}	  	
	
#pro_CommResMarketMaps {
    float: left;    
    clear: both;
    margin: 15px 0 0 0;    
    background: #f58220;
    font-size: 20px;    
    line-height: 22px;
    }
#pro_CommResMarketMaps.pro_MapsLock {
    background: #f58220 url(/globalresourcesmvc/pro/images/icons/lock.png) no-repeat 279px 48px;    
    }
#pro_CommResMarketMaps a {
    display: block;
    color: #fff;
    width: 210px;
    padding: 14px 20px 14px 70px;
    background: url(/globalresourcesmvc/pro/images/icons/map.png) no-repeat 10px 50% transparent;
    } 
#pro_CommResMarketMaps a span {
    white-space:nowrap;
    }

/* Pro Results v1 */
.nhs_PagingLinks {
	float: right;
	display: inline-block;	
	margin: 0;
	padding: 0;	
	font-size: 85%;	
	text-align: right;
	}
.nhs_PagingLinks span,
.nhs_PagingLinks a {
	display: inline-block;
	border: 1px solid #aaa;
	margin: 0 1px;
	padding: 4px;
	text-decoration: none;
	font-weight: bold;
	}
.nhs_PagingLinks .nhs_CurrentPage,
.nhs_PagingLinks a:hover {
	border: 1px solid #0091da;
	background: #0091da;
	color: #fff;
	}
.nhs_PagingLinks .nhs_DisabledPage {
	border: 1px solid #ddd;
	color: #ccc;
	background: #eee;
	display: none;
	} 