/* ---------------------------------------------
Title:      Pro MVC Button Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:    Oct 16 2012
----------------------------------------------- */

.btn, #pro_SectionMain .btn {
    background: #f58220;
    /*border: 1px solid #E78625;
    border-top: 1px solid #ffc286;*/
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*text-shadow: 1px 2px 1px #D35811;*/
    text-decoration: none;
    padding: 4px 8px;
    height: auto;
    /*padding: 0 2px 4px 2px;
    box-shadow: 1px 1px 2px #666;    */
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
	}
a.btn, a.btn:hover, #pro_SectionMain a.btn {
    display: inline-block;
    height: 18px !important;
	padding: 6px 0 5px 0;
	color: #FFFFFF;
	text-decoration: none;
	}
	
.btnCss, 
a.btnCss {
    color: #fff !important;
    /*text-shadow: 1px 2px 1px #D35811;*/
    /*border: 1px solid #E78625;
    border-top: 1px solid #ffc286;    
    box-shadow: 1px 1px 2px #666; */
    
    background: #f58220;
    } 
.nhs_ModalBox .btnCss,
.nhs_ModalBox a.btnCss {
    padding: 12px 15px;
	color: #fff !important;
	background: #f58220;
}
.btn_FreeBrochureAlt, #pro_SectionMain .btn_FreeBrochureAlt,	
.btn_ViewHomes, #pro_SectionMain .btn_ViewHomes {
	float: right;
	font-size: 13px;
	margin-top: 4px;
	}	    
.nhs_CommResHoverBox .btn_FreeBrochureAlt, 
.nhs_MultiHoverBox .btn_FreeBrochureAlt,
#pro_SectionMain .nhs_CommResHoverBox .btn_FreeBrochureAlt, 
#pro_SectionMain .nhs_MultiHoverBox .btn_FreeBrochureAlt {
	float: left;
	margin: 4px 0;
	} 	    
	
.btn_SendMessage, #pro_SectionMain .btn_SendMessage {	
	width: 60px;
    }
.btn_SendAnother, #pro_SectionMain .btn_SendAnother {	
    width: 195px;
	height: 32px !important;
    }	
.btn_SendMessageFake, #pro_SectionMain .btn_SendMessageFake {
	border: 0;
	overflow: hidden;	
	background: #FFFADB url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
	width: 60px;
	height: 27px;
	padding: 38px 0 0 0;	
	}
	
.btn_SendBrochure, #pro_SectionMain .btn_SendBrochure {
	width: 170px;
	height: 31px !important;
	padding-top: 2px\9;
	}
.btn_PreviewBrochure, #pro_SectionMain .btn_PreviewBrochure {
    width: 240px;
	height: 31px !important;
}
a.btn_PreviewBrochure, #pro_SectionMain a.btn_PreviewBrochure
a.btn_PreviewBrochure:hover, #pro_SectionMain a.btn_PreviewBrochure:hover {
    width: 240px;
    height: 18px !important;
    }		

.btn_FreeBrochure, #pro_SectionMain .btn_FreeBrochure {
	width: 206px;
	height: 38px !important;
	/*padding: 3px 0;*/
	font-size: 16px;
	}
a.btn_FreeBrochure, #pro_SectionMain a.btn_FreeBrochure {
	display: inline-block;
	height: 18px !important;
	line-height: 18px;
	}

.nhs_CommResHoverBox .nhs_LockIcon, 
.nhs_MultiHoverBox .nhs_LockIcon,
#pro_SectionMain .nhs_CommResHoverBox .nhs_LockIcon, 
#pro_SectionMain .nhs_MultiHoverBox .nhs_LockIcon {	
	margin-top: 8px;
	}			
.btn_FreeBrochureFake, #pro_SectionMain .btn_FreeBrochureFake {
	border: 0;
	overflow: hidden;	
	background: #FFFADB url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
	width: 178px;
	height: 38px;
	padding: 38px 0 0 0;	
	}
.btn_SendBrochureFake, #pro_SectionMain .btn_SendBrochureFake {
    display: inline-block;
    width: 138px;
    height: 18px;
    padding: 7px 0;
	border: 0;
	overflow: hidden;
	vertical-align: middle;	
	background: url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;	
	}	
.btn_SaveFake,  #pro_SectionMain .btn_SaveFake {
    display: inline-block;
    float: left;
    width: 62px;
    height: 38px;
    margin: -7px 0;
    border: 0;
	overflow: hidden;
	vertical-align: middle;	
	background: url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;	
    }
	
.nhs_DetailsFormContent .btn_FreeBrochure,
#nhs_PartnerContainer .nhs_DetailsFormContent .btn_FreeBrochure,
.nhs_DetailsFormContent .btn_FreeBrochureFake,
#nhs_PartnerContainer .nhs_DetailsFormContent .btn_FreeBrochureFake {
	margin-left: 0;
	}	
	
.nhs_CommResRow .pro_ResultActions a.pro_SavedProperty {
    padding-left: 23px;
    background-image: url(/globalresourcesmvc/default/images/icons/save_heart.png);
    background-position: 3px 50%;
    background-repeat: no-repeat;
    }

.btn_AgentCompensation { padding-right:10px!important; padding-left:10px!important; }	
	
/*.btn_SendBrochureProAlt, #pro_SectionMain .btn_SendBrochureProAlt {
	height: 18px !important;
	}	
.btn_SendBrochureProFake, #pro_SectionMain .btn_SendBrochureProFake {
	border: 0;
	overflow: hidden;	
	background: #FFFADB url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;
	width: 178px;
	height: 38px;
	padding: 38px 0 0 0;	
	}
.btn_SendBrochureProFake, #pro_SectionMain .btn_SendBrochureProFake {
    display: inline-block;
    width: 138px;
    height: 18px;
    padding: 7px 0;
	border: 0;
	overflow: hidden;
	vertical-align: middle;	
	background: url(/globalresourcesmvc/default/images/quickview_loading.gif) no-repeat 50% 50%;	
	}	*/
/*
.btn_GetFreeBrochures {
    width: 168px;
    }
    
.btn_ListYourHomes, #hwnhl_SectionMain .btn_ListYourHomes {
    background: transparent url(/globalresourcesmvc/default/images/buttons/list_with_us.png) no-repeat center top;
	width: 302px;
	height: 0 !important;	
	padding: 52px 0 0 0 !important;
	border: 0;
    }
*/
