﻿/* -    --------------------------------------------
Title:      Default Pro MVC CRM Styles
Authors:    Jason Becker, jbecker@builderhomesite.com			
Updated:	Jun 2013
----------------------------------------------- */

.pro_CRM {
    width: 970px;
    }

.pro_CRM_Modal {    
    padding: 20px 0;
    font-size: 13px; 
    }
#pro_AjaxUpdateSendCustomBrochure .pro_CRM_Modal { /* Home Results */
    padding: 20px 15px; 
    }    
.pro_CRM_ModalLeft {
    float: left;
    width: 48%;
    padding-left: 2%;
    }
.pro_CRM_ModalRight {
    float: right;
    width: 48%;
    padding-right: 2%;
    } 
    
.pro_CRM_ClientActionModal p {
    margin: 3px 0;
    }    
.pro_CRM_ClientActionModal .pro_CRM_ModalLeft {
    width: 38%;
    }      
.pro_CRM_ClientActionModal .pro_CRM_ModalRight {
    width: 55.5%;
    padding: 10px 2% 10px 2%;
    border-left: 1px solid #ccc;
    
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */    
    }
.pro_CRM_TasksModal {
    
    }
.pro_CRM_TasksModal .pro_CRM_ModalLeft {
    float: left;
    width: 30%;
    height: 200px;
    border-right: 1px solid #ccc;
    
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    }
.pro_CRM_TasksModal .pro_CRM_ModalRight {
    float: right;
    width: 65%;    
    }   
.pro_CRM_TasksModal .pro_CRM_ModalLeft ul {
    list-style: none;
    font-size: 14px;
    margin-left: 1em;
    }
.pro_CRM_TasksModal .pro_CRM_ModalLeft ul li {
    margin-top: 8px;
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul label {
    display: inline-block;
    width: 120px;
    margin-left: 3px;
    text-align: left;
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul label span { 
    display: inline-block;
    float: left;
    padding: 5px 0 0 5px;
    }
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio] {
    display:none;
    }     
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio] + label:before {
    float: left;
    content: "";
    background: #fff;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
    } 
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li input[type=radio]:checked + label:before {
    float: left;
    background: #fff url(/globalresourcesmvc/pro/images/icons/star_gray.png) no-repeat 50% 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
    }  
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li:nth-of-type(1) input[type=radio]:checked + label:before {
    background-image: url(/globalresourcesmvc/pro/images/icons/email_at.png);    
    }     
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li:nth-of-type(2) input[type=radio]:checked + label:before {
    background-image: url(/globalresourcesmvc/pro/images/icons/phone.png);    
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li:nth-of-type(3) input[type=radio]:checked + label:before {
    background-image: url(/globalresourcesmvc/pro/images/icons/mail.png);    
    }    
.pro_CRM_TasksModal fieldset .pro_CRM_ModalLeft ul li:nth-of-type(4) input[type=radio]:checked + label:before {
    background-image: url(/globalresourcesmvc/pro/images/icons/calendar_gray.png);    
    }    
        
.pro_CRM_Modal fieldset p {
    padding: 3px 0;
    }
.pro_CRM_Modal fieldset p a,
.pro_CRM_Modal fieldset p img {
    display: inline-block;
    margin: 0 0 -7px 0;
    } 
.pro_CRM_Modal fieldset .pro_CRM_ModalRight p img {
    margin-left: 5px;
    cursor: pointer;
    }       
.pro_CRM_Modal fieldset label {
    display: inline-block;
    width: 120px;
    text-align: right;
    vertical-align: top;
    padding-top: 6px;
    }
#pro_AjaxUpdateSendCustomBrochure .pro_CRM_Modal fieldset label {
    width: 112px;
    }    
.pro_CRM_Modal fieldset p label:nth-of-type(2) {
    width: 32px;
    }    
.pro_CRM_Modal fieldset select {
    display: inline-block;
    width: 70px;    
    }     
.pro_CRM_Modal fieldset select.pro_CRM_SelectAlt {
    width: 150px;
    }    
.pro_CRM_Modal fieldset input[type=text] {
    display: inline-block;
    width: 220px;   
    border: 1px solid #ccc; 
    } 
.pro_CRM_Modal fieldset input[type=text].pro_CRM_InputAlt {
    display: inline-block;
    width: 145px;    
    }      
.pro_CRM_Modal fieldset input[type=text].pro_CRM_InputZip {
    display: inline-block;
    width: 110px;    
    }      
.pro_CRM_Modal fieldset textarea {
    display: inline-block;
    width: 80%;
    height: 70px;
    }    
.pro_CRM_TasksModal fieldset textarea {
    width: 60%;
    height: 60px;
    }     
p.pro_CRM_LineUp {
    margin-left: 125px;
    }  
#pro_ClientNameList.pro_ClientNameListScroll {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #ccc;
    }    
.pro_ClientName input,
.pro_AutoCompleteClientName,
.pro_AutoCompleteClientEmail {
    width: 220px !important;
    }      
.k-popup .k-list .k-item strong,
.k-popup .k-list .k-item span {
    display: block;
    }
.k-popup .k-list .k-item span {
    padding-left: 10px;
    }    
    
#pro_ClientStatusActive,
#pro_ClientStatusInactive {
    font-size: 12px;
    color: #999;
    padding: 2px 5px; 
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    }     
#pro_ClientStatusActive[disabled] {
    background: #90be69;
    color: #fff;
    border: 0;
    padding: 3px 6px;
    cursor: default; 
    }
#pro_ClientStatusInactive[disabled] {
    background: #f4902b;
    color: #fff;
    border: 0;
    padding: 3px 6px; 
    cursor: default;
    }

.pro_CRM .nhs_Tabs {
    width: 970px;
    margin-bottom: 5px;
}
/* .pro_CRM .nhs_Tabs li a, .pro_CRM .nhs_Tabs li a:link, .pro_CRM .nhs_Tabs li a:visited, .pro_CRM .nhs_Tabs li a:active {
    border-width: 0;
} */
.pro_CRM .nhs_Tabs li.nhs_Selected a {
    /*border-width: 1px;
    padding: 8px 14px 7px 14px;*/
    cursor: pointer;
    }
.pro_CRM .nhs_Tabs li.nhs_Selected a:hover {
    color: #75d1ea;
    text-decoration: none;
    }

.pro_CRM_ClientsSubNav {
    width: 96%;
    margin: 0 0 10px 0;
    padding: 14px 2%;
    color: #444;
    background: #e7e7e7; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

.pro_CRM_SubHead {
    width: 96%;
    background: #004a7c;
    margin: 24px 0 0 0;
    padding: 8px 2% 7px 2%;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.pro_CRM_Modal .pro_CRM_SubHead {
    background: #2c8fcd;
    margin: 0 0 10px 0;
    }
.pro_CRM_SubHead h2 {
    float: left;
    font-size: 22px;
    font-weight: normal;
}
.pro_CRM_SubHead p {
    float: right;
    color: #a2c4e0;
    padding-top: 4px;
}
.pro_CRM_SubHead p a, .pro_CRM_SubHead p strong {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
ul.pro_CRM_BreadCrumbs {
    display: inline-block;
    margin: 0;
    font-size: 93%;
    }
ul.pro_CRM_BreadCrumbs li {
    display: inline-block;
    margin: 0;
    }
ul.pro_CRM_BreadCrumbs li a {
    display: inline-block;
    margin: 0 0 0 4px;
    text-decoration: none;
    color: #666;
    }
ul.pro_CRM_BreadCrumbs li strong {
    display: inline-block;
    margin: 0 0 0 4px;
    }    
ul.pro_CRM_BreadCrumbs li a:hover {
    text-decoration: underline;
    }
ul.pro_CRM_BreadCrumbs li:before {
    content: ">";
    color: #666;
    }
ul.pro_CRM_BreadCrumbs li:first-child a {
    margin: 0;
    }
ul.pro_CRM_BreadCrumbs li:first-child:before {
    content: none;    
    }

.nhs_CRM_FavoritesHead {
    background: #a2c4e0;    
    color: #004a7c;    
}

#pro_CRM_ClientsTable,
#pro_CRM_ActivitiesTable,
.pro_TableRecipients {
    width: 100%;
    margin: 0;
    padding: 0;
}
.pro_TableRecipients {
    width: 90%;
    margin: 0 auto 20px auto;
}
#pro_ValuesInput.pro_ValuesScroll {
    overflow-y: scroll;
    height: 195px;
    border: 1px solid #ccc;
    padding: 8px 0 12px 0;
}  
#pro_ValuesInput.pro_ValuesScroll .pro_TableRecipients {
    margin-bottom: 0;    
}     

/*.pro_CRM_TableHeader {
    background: #a2c4e0;
}
.pro_CRM_TableHeader th {
    color: #004a7c;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 2%;
    text-align: left;
}*/
#pro_CRM_ActivitiesTable th {
    vertical-align: middle;
    }
#pro_CRM_ActivitiesTable th span span {
    font-weight: normal;
    padding-left: 10px;
    }
#pro_CRM_ClientsTable tbody tr,
#pro_CRM_ActivitiesTable tbody tr  {
    background: #fff;
    border-bottom: 1px solid #ccc;
}
#pro_CRM_ClientsTable td,
#pro_CRM_ActivitiesTable td {
    padding: 12px 1% 12px 1.5%;
    color: #666;
}
.pro_TableRecipients td {
    padding: 3px 1% 3px 0;
    color: #666;
    vertical-align: middle;
}
.pro_TableRecipients td:nth-of-type(2) {
    width: 30%;
    }
.pro_TableRecipients td:nth-of-type(3) {
    width: 55%;
    }    
.pro_SendBrochureTable .pro_TableRecipients {
    width: 98%;
    }
.pro_SendBrochureTable .pro_TableRecipients td:nth-of-type(2) {
    width: 45%;
    }
.pro_SendBrochureTable .pro_TableRecipients td:nth-of-type(3) {
    width: 50%;
    }      
#pro_CRM_ClientsTable td {
    height: 50px;
    min-height: 50px;
    }
#pro_CRM_ActivitiesTable td,    
#pro_CRM_ActivitiesTable td img {
    vertical-align: middle;
    }    
#pro_CRM_ActivitiesTable td img {
    position: relative;
    top: -1px;
    }    
#pro_CRM_ClientsTable tr th:nth-of-type(1) {
    width: 4px;
    padding: 8px 0;
    }
#pro_CRM_ClientsTable tr td:nth-of-type(1) {
    width: 4px;
    padding: 12px 0;
}
#pro_CRM_ClientsTable tr .pro_Active {
    background: #90be69;
    width: 4px;
    height: 50px;
}
#pro_CRM_ClientsTable tr .pro_Inactive {
    background: #f4902b;
    width: 4px;
    height: 50px;
}
#pro_CRM_ClientsTable tr td:nth-of-type(2),
#pro_CRM_ActivitiesTable tr td:nth-of-type(1) {
    font-size: 14px;
    font-weight: bold;
    width: 450px;
    overflow: hidden;
}
#pro_CRM_ClientsTable tr td:nth-of-type(2) h2 {
    font-size: 24px;
    font-weight: normal;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}
#pro_CRM_ClientsTable tr td:nth-of-type(2) ul {
    color: #b0b0b0;
    margin-left: 0.8em;
    list-style-type: none;
}
#pro_CRM_ClientsTable tr td:nth-of-type(2) ul li {
    padding: 0 0 0 22px;
    background: url(/GlobalResourcesMvc/Pro/images/icons/person.png) no-repeat left 50%;
}
#pro_CRM_ClientsTable tr td:nth-of-type(3), 
#pro_CRM_ClientsTable tr td:nth-of-type(4) {
    /*border-left: 1px solid #ccc;*/
    /*background: #f0f0f0;*/ /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%);*/ /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff));*/ /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%);*/ /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%);*/ /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%);*/ /* IE10+ */
    /*background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%);*/ /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );*/ /* IE6-9 */
}
#pro_CRM_ClientsTable tr th:nth-of-type(3), 
#pro_CRM_ClientsTable tr td:nth-of-type(3) {
    width: 150px;
    text-align: center;
    vertical-align: middle;
}
#pro_CRM_ClientsTable tr td:nth-of-type(4) {
    font-size: 14px;
    
    line-height: 1.1;
}
#pro_CRM_ClientsTable tr td:nth-of-type(4) li {
    list-style: disc;
    font-weight: bold;
    padding: 2px 0;
}
#pro_CRM_ClientsTable tr td:nth-of-type(4) li a {
    font-weight: normal;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(1) {
    width: 370px;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(2) {
    width: 130px;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(3) {
    width: 180px;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) ul {
    list-style: disc;
    margin-left: 1em;
}    
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) li {
    padding: 2px 0;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) li.pro_LiUl {
    list-style: none;
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) li ul {
    list-style: none;
    margin-left: 0;    
}
#pro_CRM_ActivitiesTable tr td:nth-of-type(4) li ul li {
    padding: 0 0 0 8px;
    font-weight: normal;
}
.pro_TooltipShowMore {
    font-size: 12px;
    }

#pro_CRM_ClientsTable td img {
    width: 100px;
    height: 100px;
}
.nhs_SavedRemoveLink, .pro_CRM_ClientsControl {
    width: 96%;
    margin: 0;
    padding: 15px 2% 0 2%;
}
.pro_CRM_ClientsControlWrapper {
    height: 270px;
}
.pro_CRM_ClientsControl p {
    margin-bottom: 15px;
}
.nhs_SavedRemoveLink {
    padding-bottom: 10px;
    }
.pro_OpenDropDownList {
    cursor: pointer;
    }    
.pro_MyProfile, 
.pro_Brochure {
    float: left;
    width: 770px;
    margin: 0;
    padding:15px 15px 15px 15px !important;
    background-color: #fff;
    }
.pro_CRM_Button {
    /*font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #f5912a;
    padding: 3px 10px;
    border: 0;
    border-radius: 3px;
    
    height: 18px !important;
    font-size: 12px !important;
    padding: 3px 10px !important;*/
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: auto !important;
    height: 24px;
}
.nhs_SavedRemoveLink a, 
.pro_CRM_ClientsControl a {
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.pro_CRM_ClientsControl .pro_CRM_Button {
    float: left;
    /*font-size: 12px;
    color: #fff;*/
}
.pro_CRM_TasksModal .pro_CRM_ClientsControl > a {
    float: left;
    color: #b2b2b2;
    padding: 5px 0 5px 28px;    
    background: url(/GlobalResourcesMvc/Pro/images/icons/close_x.png) no-repeat left 50%;
    }
.pro_CRM_TasksModal .pro_CRM_ClientsControl > p {
    float: right;
    width: 66%;
    }    
#pro_CRM_DeleteClient {
    float: right;
    font-size: 12px;
    color: #b2b2b2;
    margin-right: 10px;
    padding: 5px 28px 5px 0;    
    background: url(/GlobalResourcesMvc/Pro/images/icons/close_x.png) no-repeat right 50%;
    }    
.pro_CRM_ModalRight #DueDate {
    border: 1px solid #ccc;
    }   

#pro_CRM_DetailContact {
    float: left;
    width: 58%;
    padding-left: 2%;
    }
#pro_CRM_DetailContact h2 {
    float: left;
    width: 448px;
    font-size: 28px;
    font-weight: normal;
    color: #333;    
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    }   
#pro_CRM_DetailContact > a {
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #b2b2b2;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;    
    }       
#pro_CRM_DetailContact > ul {
    list-style: none;
    float: left;
    width: 36%;
    font-size: 14px;
    margin: 0 3% 0 0;
    } 
#pro_CRM_DetailContact > ul:nth-of-type(2) {
    width: 28%;
    }     
#pro_CRM_DetailContact > ul li {
    margin-bottom: 2px;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    }    
#pro_CRM_DetailContact > ul li a {
    font-weight: bold;
    }     
#pro_CRM_DetailContact > p {
    float: left;
    width: 30%;
    font-size: 14px;
    margin: 0;
    }       
    
#pro_CRM_DetailStatus {
    float: right;
    width: 36%;
    height: 160px;
    padding: 0 0 0 2%;
    font-size: 14px;
    
    border-left: 1px solid #ccc;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    }    
    
#pro_ClientStatusActive,
#pro_ClientStatusInactive,
#pro_ClientStatusActiveDetail,
#pro_ClientStatusInactiveDetail,
#AmTime,
#PmTime {
    font-size: 12px;
    color: #999;
    padding: 2px 5px; 
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    }     
    
#pro_ClientStatusActive[disabled],
#pro_ClientStatusActiveDetail[disabled],
#AmTime.pro_CRM_Selected,
#PmTime.pro_CRM_Selected {
    background: #90be69;
    color: #fff;
    border: 0;
    padding: 3px 6px;
    cursor: default; 
    }
#pro_ClientStatusInactive[disabled],
#pro_ClientStatusInactiveDetail[disabled] {
    background: #f4902b;
    color: #fff;
    border: 0;
    padding: 3px 6px; 
    cursor: default;
    }
#pro_CRM_DetailStatus > #pro_CRM_DetailNotes {  
    font-size: 11px;
    }    
#pro_CRM_DetailNotes > p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
    display: inline-block;
    }   
#pro_CRM_DetailNotes > div {
    width: 328px;
    height: 70px;
    padding: 5px;
    border: 1px solid #ddd;
    overflow-y: auto;
    background: #fff;
    }        
        
#pro_CRM_DetailRelated p {   
    margin: 5px 0 10px 0; 
    font-size: 14px;   
    }
#pro_CRM_DetailRelated p span {    
    font-weight: bold;
    color: #b0b0b0;
    padding: 3px 0 3px 22px;
    background: url(/GlobalResourcesMvc/Pro/images/icons/person.png) no-repeat left 50%;
    }    /*
#pro_CRM_DetailRelated ul {
    color: #b0b0b0;
    margin-left: 0.8em;
    list-style-type: none;
    font-weight: bold;
    }
#pro_CRM_DetailRelated ul li {
    padding: 0 0 0 22px;
    background: url(/GlobalResourcesMvc/Pro/images/icons/person.png) no-repeat left 50%;
    }    */

.pro_CRM_Footer {
    width: 96%;
    background: #b1b1b1;
    margin: 12px 0 0 0;
    padding: 14px 2%;
    color: #fff;
    border-radius: 2px;
}
.pro_CRM_ClientsControlWrapper > .pro_CRM_Footer {
    width: 96%;
    background: #b1b1b1;
    margin: 12px 0 0 0;
    padding: 14px 2%;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}
.pro_CRM_Footer p {
    margin: 0;
    padding: 0 10px;
    color: #fff;
    text-align: center;
}
    
/* My Brochure TAB */
.pro_ManageBrochure {
    margin: 5px;
    }  
.pro_Brochure iframe { width:770px; height:670px; }
.pro_Brochure iframe html { overflow:auto;}
#pro_AgentPhotoImg img { border:1px solid #E6EBEF; width:103px; background-color:#EEE; }
#pro_AgencyLogoImg img { border:1px solid #E6EBEF; width:180px; background-color:#EEE; }
.pro_FreeBrochureBtnSmall { padding:5px 10px; }
.pro_FreeBrochureBtnMed {}
.pro_FreeBrochureBtnLarge {}

.AgentPhoto label,
.AgencyLogo label { display:inline-block; width: 88px;font-weight: bold; }
.AgentPhotoSize, .AgencyLogoSize { display:block;font-size: 80%; margin-left: 92px; text-align: left !important; margin-top: 3px; } 
/* end My Brochure TAB */

.pro_CRM .nhs_Loading {
    display: block;
    } 
    
/*.fileupload-loading {
    background: url(/GlobalResourcesMvc/Default/images/BuilderShowCase/loading.gif) no-repeat scroll center center transparent;
    height: 128px;
    left: 50%;
    position: absolute;
    width: 128px;
}*/

#ui-datepicker-div {
    z-index: 999999 !important;
    }

dd.ui_tpicker_time {
    margin: 0 auto;
    font-weight: bold;
    border: solid 1px #C3CFE5;
    padding: 5px 0 5px 0;
    text-align: center;
}

.k-input {
    padding: 0 !important;
}
