
.nhs_CmsCategoryTitle,
.nhs_CmsArticleTitle {
    color: #004a7c;
    font-size: 32px;
    font-weight: normal;
    margin: 12px 0;
    }
.nhs_CmsCategoryTeaser,
.nhs_CmsCategoryTeaser a {
    color: #444;
    }
.nhs_CmsArticleTeaser p a:first-child,
.nhs_CmsArticleByline a {
    color: #004a7c;
    }
.nhs_CmsArticleByline a {
    font-size: 14px;
    font-style: normal;
    }   
.nhs_CmsArticleTeaser p a:first-child {
    font-weight: bold;
    }     
    
.nhs_CmsCategoryTeaser > .nhs_Title {
    width: 94%;
    padding: 4px 3%;
    font-size: 138.5%;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    background: #004a7c;
    }
.nhs_CmsCategoryTeaser > .nhs_Title > a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    }

.nhs_CmsCategoryTeaser > div ul {
    margin-left: 14px;
    }      
    
/*= Search Homes Box */    
.nhs_CmsHomeSearch {
    /*width: 290px;*/
    border: 0;
    background: #004a7c;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    }   
.nhs_CmsHomeSearch .nhs_Title {
    /*font-size: 14px;*/
    color: #fff;
    } 
.nhs_CmsHomeSearch input.MktSearch {  
    border-radius: 3px;
    margin-right: 5px;
    }
.nhs_CmsHomeSearch input.MktSubmit {
    background: #f58220 url(/globalresourcesmvc/default/images/buttons/search_magnify_white.png) no-repeat 50% 50%;
    border: 0;
    height: 0;
    overflow: hidden;
    padding: 31px 0 0;
    width: 32px;
    border-radius: 3px;
    } 

.nhs_CmsHomeSearch fieldset > div {
    /*width: 290px;*/
    margin: 10px -10px -12px -10px;
    padding: 12px 10px;    
    background: #a2c4e1;
    position: relative; 
    }     
.nhs_CmsHomeSearch div input, 
.nhs_CmsHomeSearch div select { 
    border: 0; 
    color: #444; /*#afbdcb*/
    cursor: pointer; 
    background: #fff;
    padding: 5px 5px;
    border-radius: 3px;
    /*box-shadow: inset 0 1px 3px 0 #888;*/
    }
.nhs_CmsHomeSearch div input {        
    background: #fff url(/GlobalResourcesMvc/Pro/images/dropdown-arrow.gif) no-repeat right 50%;     
    } 
.nhs_CmsHomeSearch div input.placeholder {
    color: #888;
    }     
.nhs_CmsHomeSearch .pro_SearchDdl {
    position: relative;    
    }    
.nhs_CmsHomeSearch .minimum,
.nhs_CmsHomeSearch .maximum { 
    float: left; 
    width: 123px;   
    background-position: 115px 50%;
    margin-bottom: 5px;
    }
.nhs_CmsHomeSearch.nhs_CmsWideHomeSearch .maximum {
    margin-right: 8px;
    }    
.nhs_CmsHomeSearch .small { 
    float: left; 
    width: 75px; 
    background-position: 67px 50%;
    margin-right: 8px;  
    }    
.nhs_CmsHomeSearch .small-last { 
    float: left; 
    width: 91px; 
    background-position: 82px 50%;
    }
.nhs_CmsHomeSearch .pro_SearchDdlData {
    position: absolute;
    width: 132px;
    top: 24px; 
    left: 0;   
    }    
.nhs_CmsHomeSearch ul { 
    list-style: none; 
    margin: 0;
    padding: 0; 
    }
.nhs_CmsHomeSearch ul > li { 
    
    }    
.nhs_CmsHomeSearch .label-to { 
    float: left;
    display: inline; 
    color: #7b7776; 
    padding: 5px 5px;
    cursor: default; 
    }    
.nhs_CmsHomeSearch #option1 {
    }
.nhs_CmsHomeSearch #option2 {
    }
.nhs_CmsHomeSearch #option3 {
    width: 110px;
    height: 84px;
    }
.nhs_CmsHomeSearch #option4 {
    width: 84px;
    height: 120px;
    }
.nhs_CmsHomeSearch #option5 {
    width: 99px;
    }    
           
    
/*= Trending & Video Boxes */
.nhs_CmsTrending,
.nhs_CmsVideo {
    width: 290px;
    border: 0;
    background: #dfe1df;
    }  
.nhs_CmsTrending .nhs_Title,
.nhs_CmsVideo .nhs_Title {
    font-size: 22px;
    font-weight: normal;
    color: #004a7c;
    }  
.nhs_CmsTrending > div {
    color: #343741;
    }
.nhs_CmsTrending a {
    color: #343741;
    }
.nhs_CmsTrending > div p a:first-child {
    font-size: 14px;
    }    
    
/*= Search Articles Box */    
.nhs_CmsArticleSearch {
    /*width: 600px;*/
    border: 0;
    background: #dfe1df;
    }   
.nhs_CmsArticleSearch .nhs_Title {
    /*font-weight: normal;*/
    color: #343741;
    } 
.nhs_CmsArticleSearch #ArticleSearch.nhs_LocationDefaultCms {
    font-style: italic;
    color: #999;
    }  
/*.nhs_CmsArticleSearch input#ArticleSearch {    
    padding: 7px 0 7px 5px;
    margin-right: 5px;
    border: 1px solid #ccc;    
    border-radius: 5px;
    }
.nhs_CmsArticleSearch input#ArticleSearchSubmit {
    background: #f58220 url(/globalresourcesmvc/default/images/buttons/search_magnify_white.png) no-repeat 50% 50%;
    border: 0;
    height: 0;
    overflow: hidden;
    padding: 32px 0 0;
    width: 32px;
    border-radius: 3px;
    } */
    
.nhs_CmsHomeSearch input.MktSubmit,
.nhs_CmsArticleSearch input#ArticleSearchSubmit { 
    background-color: #f58220;
    }        
    
/*= Slides */   
.nhs_CmsSlides {    
    border: 0;
    background: #e9e9e9;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 45%, #f1f1f1 55%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f1f1f1), color-stop(55%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 45%,#f1f1f1 55%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */  
    color: #444;
    } 
.nhs_CmsCategory .nhs_CmsSlideText a:first-child {
    color: #444;
    }

.nhs_CmsSlides ul.nhs_CmsSlidesPagination li a {
    color: #666;
    }  
.nhs_CmsSlides ul.nhs_CmsSlidesPagination li a:hover {
    color: #004A7C;
    text-decoration: underline;
    } 
.nhs_CmsSlides ul.nhs_CmsSlidesPagination .current a {
	color: #000 !important;
    }
.nhs_CmsSlides a.prev {
    position: absolute;
    width: 11px;
    height: 0;
    padding-top: 19px;
    right: 164px;
    bottom: 11px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_prev.png) no-repeat left top;
    z-index: 99;
    }   
.nhs_CmsSlides a.next {
    position: absolute;
    width: 11px;
    height: 0;
    padding-top: 19px;
    right: 10px;
    bottom: 11px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_next.png) no-repeat left top;
    z-index: 99;
    }     
.nhs_CmsCategory .btn_Link {
    background: #f58220; 
    border: 1px solid #E78625;  
    color: #fff;    
	}	
 
