.brokerage_wrapper h2, .brokerage_wrapper h3 { color:#2c5076; border-bottom: 1px solid #cbcbcb; padding-bottom:10px; margin:30px 0 10px 0; }
.brokerage_wrapper h2 { font-size:28px; }
.brokerage_wrapper h3 { font-size:23px; }
.brokerage_wrapper h4 { color:#2c5076; border-bottom: 1px solid #cbcbcb; margin:0; padding-bottom:8px; }

.titles
{
    color: #2c5076;
}
.brokerage_wrapper
{
    width: 970px;
    padding: 0;
    margin: 30px auto 0;
}
.broker_left_col
{
    width: 50%;
    margin-left: 10px;
    float: left;
    list-style: none;
}
.broker_right_col
{
    width: 45%;
    float: right;
    list-style: none;
}
.ma_left_col, .broker_right_col ul
{
    list-style: none;
    padding: 0;
    margin:0;
}
.mls_left_col
{
    width: 40%;
    margin-left: 10px;
    float: left;
    list-style: none;
}
.mls_right_col
{
    width: 56%;
    float: right;
    list-style: none;
}
.mls_right_col p { margin-bottom:15px; }
.clear
{
    clear: both;
}
.bullet
{
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 3px;
}
.steps_wrapper
{
    margin-top: 50px;
}
#marketstepone, #marketsteptwo, #marketstepthree, #marketstepresults
{
    width: 72%;
    margin: 0 auto;
}
#marketstepone, #marketsteptwo, #marketstepthree
{
    border-bottom: 1px solid #cbcbcb;
    padding: 15px 0 5px;
}
#marketstepresults
{
    padding-top: 15px;
}
.steps_img_wrapper
{
    float: left;
    width: 100px;
    padding: 0 0 15px 10px;
}
.steps_title_wrapper
{
    float: left;
    width: 165px;
    margin-top: 5px;
}
.steps_content_wrapper
{
    float: left;
    width: 375px;
    margin: 5px 0 0 48px;
    font-size: 12px;
    line-height:16px;
}
.steps_content_wrapper ul
{
    margin: 0;
}
.steps_content_wrapper li
{
    margin-bottom: 10px;
}
.steps_wrapper .steps
{
    font-size: 15px;
    font-weight: bold;
    color: #2c8fb1;
}
.steps_title_wrapper p
{
    font-size: 22px;
    color: #2c5076;
    margin: 0;
    line-height: 24px;
}
.benefit_left_wrapper
{
    float: left;
    width: 470px;
    font-size: 12px;
}
.benefit_right_wrapper
{
    float: right;
    width: 470px;
    font-size: 12px;
}
.benefit_left_wrapper
{
    margin-right: 25px;
}
.benefit_wrapper
{
    width: 970px;
    margin: 30px auto 0;
}
.benefit_left, .benefit_right
{
    color: #ffffff;
    padding: 15px;
}
.benefit_left ul, .benefit_right ul
{
    padding: 0;
    margin: 0 0 0 20px;
}
.benefit_left li, .benefit_right li
{
    margin-bottom: 5px;
}
.benefit_left
{
    background-color: #90bc69;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.benefit_right
{
    background-color: #f4902b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.benefit_titles
{
    text-align: center;
    font-size: 22px;
    color: #2c5076;
    margin-bottom: 8px;
}
.benefit_footer
{
    width: 970px;
    margin: 25px auto;
}
.benefit_footer .title
{
    background-color: #b1b1b1;
    color: #ffffff;
    padding: 25px;
    font-size: 22px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.benefit_footer .info
{
    font-size: 22px;
    text-align: center;
    color: #2c5076;
    margin: 25px 0;
}
.benefit_footer .info a
{
    color: #2c8fcd;
    text-decoration: none;
}
.benefit_footer .info a:hover
{
    color: #2c8fcd;
    text-decoration: underline;
}
.benefit_footer .title p
{
    font-size: 14px;
    margin: 0;
}
.mls_highlights
{
    font-weight: bold;
    color: #2c8fcd;
    margin-top: 30px;
}
.mls_feature_title
{
    margin: 0 0 10px 5px;
    font-weight: bold;
    font-size: 14px;
}
.feature_benefits
{
    min-height: 160px;
}
.now_featuring
{
    background: #e9e9e9 url(../images/marketing/now_featuring_bg.gif) repeat-x bottom left;
    color: #ffffff;
    padding: 15px 15px 12px 15px;
    font-size: 22px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 60px;
}
.now_featuring ul
{
    list-style: none;
    margin: 15px 0 0 5px;
    padding: 0;
}
.now_featuring li
{
    float: left;
    font-size: 12px;
    color: #615b5b;
    font-weight: bold;
    width: 200px;
}
.now_featuring .spacer
{
    margin-right: 45px;
}
.now_featuring p
{
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.pdf_link { font-size:14px; font-weight:bold; text-align:center; }
.pdf_link img { vertical-align:bottom; }