﻿<div id="nhsplayerContainer">
    <div id="noImage" style="display:none">            
    </div>
    <div id="nhsplayer">
    <div class="nhs_MediaTitleBar" id="nhs_MediaTitleBar">                
                    <p id="nhs_MediaTitleCaption"><strong id="nhs_Mediatitle">&nbsp;</strong> 
                        <span id="nhs_MediaCaption">&nbsp;</span></p>
                    <p id="nhs_MediaItemCounts">&nbsp;</p>   
    </div>
    <div id="gallery" class="ad-gallery">
          <div class="ad-image-wrapper">
          </div>      
          <div class="ad-nav">
            <div class="ad-thumbs">
              <ul class="ad-thumb-list" id="galleryList">
            
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>