﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="page" style="page-break-after: avoid !important;">
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
    <div class="special-offers">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PromotionsAndNotes.SpecialOffer)
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PromotionsAndNotes.Notes)
        <div class="disclaimer">
            <p>
               @LanguageHelper.PdfDisclaimer.ToMvcHtmlString()
            </p>
        </div>
    </div>
</div>
@Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
