﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div id="Notes">

    <div class="title">
        <div class="bl-blue">            
            <h3>@LanguageHelper.Notes</h3>                   
        </div>
        <div class="clr"></div>
    </div>
<div class="content">
    <table>
        <thead>
            <tr>
                <th>@LanguageHelper.Home.ToMvcHtmlString()/@LanguageHelper.Plan.ToMvcHtmlString()/@LanguageHelper.Model.ToMvcHtmlString()</th>
                <th>@LanguageHelper.Bedroom.ToMvcHtmlString()</th>
                <th>@LanguageHelper.Bath.ToMvcHtmlString()</th>
                <th>@LanguageHelper.Garage.ToMvcHtmlString()</th>
                <th>@LanguageHelper.Notes.ToMvcHtmlString()</th>
            </tr>
        </thead>
        <tbody>
            @for(var i=0; i< 10; i++)
            {
                <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>
                }
        </tbody>
    </table>
</div>
</div>