﻿@using System.Linq
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@if (Model.Promotions.Any() || Model.GreenPrograms.Any())
{
    <div id="SpecialOffers">
        <div class="title">
            <div class="bl-blue">
                <h3>@LanguageHelper.SpecialOffers.ToMvcHtmlString()</h3>                        
            </div>
            <div class="clr">&nbsp;</div>
        </div>
        <div class="content-box">
            @if (Model.Promotions.Any())
            {
                foreach (var p in Model.Promotions)
                {
                    <p><span class="promo-name">@p.PromoTextShort.ToMvcHtmlString(): </span> @p.PromoTextLong.ToMvcHtmlString()</p> 
                }
            }
            @if (Model.GreenPrograms.Any())
            {
                foreach (var gp in Model.GreenPrograms)
                {
                <p><span class="detailsWrapper"><span class="green">@LanguageHelper.Green.ToMvcHtmlString()! </span>@gp.ProgramName.TruncatePromotionDescription().ToMvcHtmlString()</span></p> 
                }
            }
        </div>
    </div>
}
