﻿@model Nhs.Web.UI.AppCode.ViewModels.HotGreenSearchViewModel
@using System.Web.Mvc.Html
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Collections
@using Nhs.Web.UI.AppCode.Helper
<script type="text/javascript">

    function ValidateFrom() {
        var txtZip = jQuery('#txtZip');
        var zip = txtZip.val();
        var state = jQuery('#ddlState').val();
        var messageContainer = jQuery('#divMessage');
        var message = '<p class=\'field-validation-error errAlign\'>@LanguageHelper.PleaseEnterCityStateOrZip.ToMvcHtmlString()</p>';

        messageContainer.html('');

        if (zip === '') {
            messageContainer.html(message);
            return false;
        }
        else {
            if (isNum(zip)) {
                if (zip.length < 5) {
                    messageContainer.html(message);
                    txtZip.val('');
                    return false;
                }
                else {
                    if (zip.length > 5) {
                        txtZip.val(zip.substring(0, 5));
                    }

                    if (isZip(zip) === false) {
                        messageContainer.html(message);
                        txtZip.val('');
                        return false;
                    }
                }
            }
            else {
                if (zip === '' || state === '') {
                    messageContainer.html(message);
                    return false;
                }
            }
        }

        return true;
    }

    function isNum(num) {
        return !isNaN(num);
    }


    function isZip(s) {

        // Check for correct zip code
        reZip = new RegExp(/(^\d{5}$)|(^\d{5}-\d{4}$)/);

        if (!reZip.test(s)) {
            // alert("Zip Code Is Not Valid");
            return false;
        }

        return true;
    }

</script>
<div class="nhs_Content @((Model.SearchType == "green") ? "nhs_GreenSearch" : "nhs_DealsSearch")" id="nhs_DealsSearch">
    <div class="clearfix">
        <div>
            <div class="nhs_GreenDealsBox">
                <fieldset>
                    @if (Model.SearchType == "green")
                    {
                        <legend class="visuallyhidden">@LanguageHelper.LivingGreen.ToMvcHtmlString()</legend>
                        <h2>
                            @LanguageHelper.LivingGreen.ToMvcHtmlString()
                        </h2>
                    }
                    else if (Model.SearchType == "hot")
                    {
                        <legend class="visuallyhidden">@LanguageHelper.HotDeals.ToMvcHtmlString()</legend>
                        <h2>
                            @LanguageHelper.HotDeals.ToMvcHtmlString()
                        </h2>
                    }
                    <div id="divMessage">
                    </div>
                    @using (Html.BeginNhsForm(NhsMvc.HotGreenSearch.ActionNames.Show, "frmQuickSearch"))
                    {
                        <p>
                            <label for="txtZip">
                                @LanguageHelper.CityOrZip.ToMvcHtmlString()
                            </label>
                            @Html.TextBoxFor(model => model.PostalCode, new { id = "txtZip" })
                        </p>

                        <p>
                            <label for="ddlState">
                                @LanguageHelper.State.ToMvcHtmlString()
                            </label>
                            @Html.DropDownList("StateAbbr", new SelectList(Model.StateList as IEnumerable, "StateAbbr", "StateName", Model.StateAbbr), new { id = "ddlState" })
                        </p>

                        <p>
                            <label for="PriceLow">
                                @LanguageHelper.Price.ToMvcHtmlString()<span class="visuallyhidden"> @LanguageHelper.From.ToMvcHtmlString()</span>
                            </label>
                            @Html.DropDownListFor(
                            m => m.PriceLow,
                            Model.LowPriceRange,
                             LanguageHelper.NoMin) -
                            @Html.DropDownListFor(
                            m => m.PriceHigh,
                            Model.HighPriceRange,
                             LanguageHelper.NoMax)
                        </p>

                        if (Model.SearchType == "green")
                        {
                            <input type="submit" class="btnCss btn_FindHomes" value="@LanguageHelper.SearchHomesButton" onclick="jQuery.googlepush('Search Events','Search Action','Search - Green Search');return ValidateFrom();" />
                        }
                        else if (Model.SearchType == "hot")
                        {
                            <input type="submit" class="btnCss btn_FindDeals" value="@LanguageHelper.FindDeals" onclick="jQuery.googlepush('Search Events','Search Action','Search - Hot Deals');return ValidateFrom();" />
                        }

                    }
                </fieldset>
            </div>
            <div style="float: right">
                <div id="nhs_MiddleTopSq">
                </div>
            </div>
            <div class="nhs_Clear">
            </div>
            <div id="nhs_Spotlight">
                @if (Model.SearchType == "green")
                {
                    <h3 class="nhs_SpotGreenTitle">
                        @LanguageHelper.Spotlight.ToMvcHtmlString() <span>@LanguageHelper.GreenBuildingCommunities.ToMvcHtmlString()</span>
                        <span class="nhs_SpotGreenTitleSub">
                            <br />@LanguageHelper.EnergySaving.ToMvcHtmlString()
                        </span>
                    </h3>
                }
                else if (Model.SearchType == "hot")
                {
                    <h3 class="nhs_SpotHotDealsTitle">
                        @LanguageHelper.Spotlight.ToMvcHtmlString()<span>@LanguageHelper.HotDeals.ToMvcHtmlString() </span>
                    </h3>
                }
                <div id="nhs_SpotlightCommunitiesCarousel">
                    <ul>
                        @{ Model.SpotModel.UseLiInCarousel = true;}
                        @Html.Partial(NhsMvc.Default.Views.Common.SpotlightCommunities, Model)
                    </ul>
                    <div class="nhs_Clear"></div>
                </div>

                <div class="nhs_Clear">
                </div>
            </div>
            @if (Model.SearchType == "green")
            {
                <div class="nhs_HotDealsCol1">
                    @Html.StaticContent("GreenSearch/GreenSearchColumn1.htm")
                </div>
                <div class="nhs_HotDealsCol2">
                    @Html.StaticContent("GreenSearch/GreenSearchColumn2.htm")
                </div>
            }
            else if (Model.SearchType == "hot")
            {
                <div class="nhs_HotDealsCol1">
                    @Html.StaticContent("HotDealsSearch/HotDealsSearchColumn1.htm")
                </div>
                <div class="nhs_HotDealsCol2">
                    @Html.StaticContent("HotDealsSearch/HotDealsSearchColumn2.htm")
                </div>
            }
        </div>
        <aside id="nhs_AdColumn" class="clearfix">
            <div id="nhs_RightTopSky">
            </div>
            <div id="nhs_RightBottomSky">
            </div>
        </aside>
    </div>
    <div class="nhs_Clear">
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#nhs_SpotlightCommunitiesCarousel ul").bxSlider({
            responsive: false,
            infiniteLoop: true,
            slideWidth: 145,
            slideMargin: 20,
            minSlides: 1,
            maxSlides: 4,
            pager: true,
            controls: true
        });
    });
</script>

<style>
    #mv_Container {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        min-width: 960px;
    }

    #mv_SectionMain {
        float: none;
        width: 100%;
        padding: 0;
        min-height: 450px;
        background: #dfe1e7;
    }

    #mv_SectionMain .nhs_DealsBox .btn_FindDeals,
    #mv_SectionMain .nhs_GreenBox .btn_FindHomes {
        background: #67ad45;
    }
</style>
