﻿<div style="clear:both">
    <!-- NTENT ADS -->
    <style type="text/css">
        body .era_ad_block.thumbnail {margin-left: -10px !important;}
        body .era_ad_block.thumbnail .vsw-ad-header {margin-left: 14px !important; font-family: Arial,Helvetica,sans-serif !important; font-weight: bold !important; color: #24619e !important;}
        body .era_ad_block.thumbnail .vsw-ad-item:hover .vsw-ad-domain {color: #24619e !important;}
        body .era_ad_block.thumbnail .vsw-ad-item:hover .vsw-ad-title {color: #24619e !important;}
    </style>
    <script type="text/javascript" language="JavaScript">
        var era_rc = {
            ERADomain: 'as.vs4homeandgarden.com',
            PubID: 'newhomesource',
            Layout: 'thumbnail',
            MaxRelatedItems: '8',
            BlockID: 'thumbnail',
            SearchWidgetPosition: '0',
            SearchBoxCaption: 'Find More ...',
            HeaderText: 'Marketplace Recommendations'
        };
        (function () {
            var v = 'ERA_AD_BLOCK'; var i = 1; while (document.getElementById(v)) { if (i == 25) break; v = 'ERA_AD_BLOCK' + i++; } document.write("<" + "div id='" + v + "'><" + "/div>");
            var sch = (location.protocol == 'https:' ? 'https' : 'http'); var host = sch == 'http' ? 'as.ntent.com' : 'secure.ntent.com'; var s = document.createElement('script'); var src = sch + "://" + host + "/ERALinks/era_rl.aspx?elid=" + v; for (var p in era_rc)
            { if (era_rc.hasOwnProperty(p)) { src += decodeURIComponent('%26') + p.toLowerCase() + "=" + encodeURIComponent(era_rc[p]); } }; s.src = src; document.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>
    <!-- END NTENT ADS --></div>