﻿@model Nhs.Web.UI.AppCode.ViewModels.Pro7SsoTesterViewModel
<style>
    .divBox
    {
        padding: 20px;
        margin: 20px;
        border: solid 1px #CCC;
    }
    .pField
    {
        padding: 10px;
    }
</style>
<div class="divBox">
    <h1 style="font-size:20px;">
        STEP 1
        </h1>
        <br />
        <h1>Either enter fields and generate a POST URL or enter a POST URL manually</h1>
    <br />
    @using (Html.BeginNhsForm())
    { 
        <p class="pField">
            <strong>
                Enter User Info: </strong>
            @Html.TextAreaFor(m => m.UserInfo, new { cols = "100", rows = "10" })
        </p>
        <p class="pField">
            <strong>
                Enter Partner Passcode: </strong>
            @Html.TextBoxFor(m => m.Passcode)
        </p>
        <p class="pField">
            <strong>
                Enter UTC Datetime: 
            </strong>
            @Html.TextBoxFor(m => m.UtcDatetime)
            <label>
                (yyyyMMddHH) <a href="http://k6ib.com/clock/clock1.html" target="_blank">Current UTC
                    Time</a></label>
        </p>
        
        <p class="pField">
            <strong>
                Select Hashing Algo: 
            </strong>
            @Html.DropDownListFor(m => m.SelectedAlgorithm, Model.Algorithms)
        </p>
        <p class="pField">
            @Model.HashedPasscode
        </p>
        <h1 style="font-size:20px;">
            OR</h1>
        <br />
        <p class="pField">
            <strong>
                Enter a HTTP POST URL manually: </strong>
            @Html.TextAreaFor(m => m.PostUrl, new { cols = "100", rows = "10" })
        </p>
        
        <input type="submit" value="Generate POST URL" style="padding: 5px;" />
    }
</div>
<div class="divBox">
    <h1 style="font-size:20px;">
        STEP 2</h1>
    <br />
    <div style="overflow: scroll; min-height: 100px;">@Model.PostUrl</div>
    <br />
    <form action="@Model.PostUrl" method="post">
    <input type="submit" value="Submit to Partner Site" style="padding: 5px;" />
    </form>
</div>
