.nhs_Menu .nhs_Logo,
.nhs_Header .nhs_Logo {    
    background-image: url(/globalresourcesmobile/cna/images/logo@2x.png);
}

/* Homepage */
#nhs_HomeSearchOptions .btn_HomeSearch {
    padding-right: 30%;    
}

/* Results */
ul.nhs_PanelRadios li, 
.nhs_ResFilter .nhs_PanelScroll > div ul.nhs_PanelRadios li,
#nhs_HomeSearchOptions > div > ul.nhs_PanelRadios li {
    margin-right: 10px;    
}
.nhs_ResFilter .nhs_PanelScroll > div.nhs_PanelLabelInline > label,
.nhs_ResFilter .nhs_PanelScroll > div.nhs_PanelLabelInline fieldset > label {    
    padding-top: 0;
}
#nhs_PanelHomeType ul.nhs_PanelRadios li {
    margin-right: 5px;  
}
#nhs_PanelHomeType ul.nhs_PanelRadios li:last-child {
    margin-right: 0;  
}
#nhs_PanelHomeType .nhs_PanelRadios input[type='radio'] + label {
    padding: 6px 3px 5px 3px;
}
.nhs_Panel .nhs_Header > p {
    width: 82px;
}
.nhs_ResRefineBar > a.nhs_Sort {
    margin-left: 5px;
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_QuickBtn {
    padding-left: 4px;
    padding-right: 4px;
}