﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers

<h2 class="nhs_Error">Error</h2>
<h3>@LanguageHelper.WeAreSorrySite.ToMvcHtmlString()</h3>

<p>@LanguageHelper.PleaseGoBackAndTryAgain.ToMvcHtmlString() <a href="mailto:webmaster@newhomesource.com">webmaster@newhomesource.com</a>.</p>
<p>@LanguageHelper.WeApologizeForAnyInconvenience.ToMvcHtmlString()</p>