﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ChatLeadGenViewModel

<div class="nhsContent" id="nhsChatLeadGen" style="width: 750px; float: left">
    @if (Model.DoneAddingInfo)
    {
        <div id="divDoneAddingInfo" runat="server" visible="false">
            <h3>
               @LanguageHelper.LeadInformationSuccessfullySubmitted.ToMvcHtmlString()
            </h3>
            @Html.ActionLink(LanguageHelper.ClickHereToSubmitAnotherLead, NhsMvc.ChatLeadGen.ActionNames.Show, NhsMvc.ChatLeadGen.Name)
            <br />
            <br />
        </div>
    }
    else
    {
        using (Html.BeginNhsForm(NhsMvc.ChatLeadGen.ActionNames.Save, "frmChatLeadGen"))
        {
            <div id="nhs_ModalContainer" class="nhs_CLGContainer">
                <div class="nhsChatLeadGeneration">
                    <h2>
                        @LanguageHelper.UserInformation.ToMvcHtmlString()
                    </h2>
                    <div class="nhs_Clear">
                    </div>
                    @Html.ValidationSummary()
                    <div class="nhs_ChatLeadGenerationBox">
                        <p>
                            @Html.LabelForWithSpan(m => m.FirstName, LanguageHelper.FirstName + ":", "*", "nhs_Asterisk", null)
                            @Html.TextBoxFor(m => m.FirstName)
                            @Html.ValidationMessageFor(m => m.FirstName, "*")
                        </p>
                        <p>
                            @Html.LabelForWithSpan(m => m.LastName, LanguageHelper.LastName + ":", "*", "nhs_Asterisk", null)
                            @Html.TextBoxFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.LastName, "*")
                        </p>
                        <p>
                            @Html.LabelForWithSpan(m => m.EmailAddress, LanguageHelper.EmailAddress +  ":", "*", "nhs_Asterisk", null)
                            @Html.TextBoxFor(m => m.EmailAddress)
                            @Html.ValidationMessageFor(m => m.EmailAddress, "*")
                        </p>
                        <p>
                            @Html.LabelForWithSpan(m => m.ZipCodeUserInfo, LanguageHelper.ZipCode + ":", "*", "nhs_Asterisk", null)
                            @Html.TextBoxFor(m => m.ZipCodeUserInfo)
                            @Html.ValidationMessageFor(m => m.ZipCodeUserInfo, "*")
                        </p>
                        <p>
                            @Html.LabelFor(m => m.IsInternational, LanguageHelper.International)
                            @Html.CheckBoxFor(m => m.IsInternational)
                        </p>
                    </div>
                    <div class="nhs_ChatLeadGenerationBox" id="divContactInfoRight">
                        <p>
                            @Html.LabelFor(m => m.StreetAddress, LanguageHelper.StreetAddress + ":")
                            @Html.TextBoxFor(m => m.StreetAddress)
                            @Html.ValidationMessageFor(m => m.StreetAddress, "*")
                        </p>
                        <p>
                            @Html.LabelFor(m => m.CityUserInfo, LanguageHelper.City + ":")
                            @Html.TextBoxFor(m => m.CityUserInfo)
                            @Html.ValidationMessageFor(m => m.CityUserInfo, "*")
                        </p>
                        <p>
                            @Html.LabelFor(m => m.StateUserInfo, LanguageHelper.State + ":")
                            @Html.DropDownListFor(m => m.StateUserInfo, Model.StateList, LanguageHelper.ChooseState)
                            @Html.ValidationMessageFor(m => m.StateUserInfo, "*")
                        </p>
                        <p>
                            @Html.LabelFor(m => m.Phone, LanguageHelper.Phone + ":")
                            @Html.TextBoxFor(m => m.Phone)
                            @Html.ValidationMessageFor(m => m.Phone, "*")
                        </p>
                    </div>
                </div>
                <div class="nhs_Clear">
                </div>
                <div>
                    <!--Comments-->
                    <div class="nhsRequestPhoneComments">
                        <fieldset>
                            <p class="nhs_CLGQuestions">
                                @Html.LabelFor(m => m.Comments, LanguageHelper.QuestionsCommentsAboutThisProperty + ":")
                                @Html.TextAreaFor(m => m.Comments, 4, 18, new {@class = "nhsRequestCommentBox", style = "width: 602px;"})
                                @Html.ValidationMessageFor(m => m.Comments, "*")
                            </p>
                            <div class="nhsClear">
                            </div>
                        </fieldset>
                    </div>
                    <div class="nhsClear">
                    </div>
                </div>
                <div class="nhs_Clear">
                </div>
                <hr />
                <div class="nhsChatLeadGeneration">
                    <h2>
                        @LanguageHelper.Filters.ToMvcHtmlString()
                    </h2>
                    <div class="nhs_Clear">
                    </div>
                    <!-- Location -->
                    <div class="nhs_ChatLeadGenerationBox">
                        @Model.Location
                        <p>
                            @Html.LabelForWithSpan(m => m.StateList, LanguageHelper.State + ":", "*", "nhs_Asterisk", null)
                            @Html.DropDownListFor(m => m.State, Model.StateList, DropDownDefaults.State)
                            @Html.ValidationMessageFor(m => m.State, "*")
                        </p>
                        <p>
                            @Html.LabelForWithSpan(m => m.Area, LanguageHelper.Area + ":", "*", "nhs_Asterisk", null)
                            @Html.DropDownListFor(m => m.Area, Model.AreaList)
                            @Html.ValidationMessageFor(m => m.Area, "*")
                        </p>
                        <p>
                            @Html.LabelFor(m => m.City, LanguageHelper.City + ":")
                            @Html.DropDownListFor(m => m.City, Model.CityList)
                        </p>
                        <p>
                            ...@LanguageHelper.OrEnterAZipCodeAndRadius.ToMvcHtmlString()</p>
                        <p>
                            @Html.LabelForWithSpan(m => m.Zip, LanguageHelper.Zip + ":", "*", "nhs_Asterisk", null)
                            @Html.TextBoxFor(m => m.Zip, new {maxlength = "5", style = "width: 50px"})
                            @Html.ValidationMessageFor(m => m.Zip, "*")
                            <p>
                                @Html.LabelFor(m => m.Radius, "Radius:")
                                @Html.DropDownListFor(m => m.Radius, Model.RadiusList)
                            </p>
                        </p>
                    </div>
                    <!-- Filters -->
                    <div class="nhs_ChatLeadGenerationBox">
                        <fieldset>
                            <p>
                                @Html.LabelForWithSpan(m => m.PriceFrom, LanguageHelper.Min + ":", "*", "nhs_Asterisk", null)
                                @Html.DropDownListFor(m => m.PriceFrom, Model.MinPriceList, LanguageHelper.SelectAPrice)
                                @Html.ValidationMessageFor(m => m.PriceFrom, "*")
                            </p>
                            <p>
                                @Html.LabelForWithSpan(m => m.PriceTo, LanguageHelper.Max + ":", "*", "nhs_Asterisk", null)
                                @Html.DropDownListFor(m => m.PriceTo, Model.MaxPriceList, LanguageHelper.SelectAPrice)
                                @Html.ValidationMessageFor(m => m.PriceTo, "*")
                            </p>
                            <p>
                                <a class="nhs_AlertMoreOff" id="nhsAlertMoreLink" href="javascript:void(0)" onclick=" jQuery('#moreoptions').toggle() ">
                                   @LanguageHelper.MoreOptions.ToMvcHtmlString() </a>
                            </p>
                            <div id="moreoptions" class="nhs_CLGMoreOptions" style="display: none">
                                <p>
                                    @Html.LabelFor(m => m.Bedrooms, LanguageHelper.Bedrooms + ":")
                                    @Html.DropDownListFor(m => m.Bedrooms, Model.BedroomsList)
                                </p>
                                <p class="nhs_AlertMoreChecks">
                                    <span>Home type:</span>
                                    @Html.CheckBoxFor(m => m.TypeSingle)
                                    @Html.LabelFor(m => m.TypeSingle,LanguageHelper.InterestedInBuildingOnYourOwnLot+ ":")
                                    <br />
                                    @Html.CheckBoxFor(m => m.Condo)
                                    @Html.LabelFor(m => m.Condo, LanguageHelper.CondoTownhome)
                                </p>
                                <p class="nhs_AlertMoreChecks">
                                    <span>Amenities:</span>
                                    @Html.CheckBoxFor(m => m.AmenitiyPool)
                                    @Html.LabelFor(m => m.AmenitiyPool, LanguageHelper.Pool)
                                    @Html.CheckBoxFor(m => m.AmenitiyGolf)
                                    @Html.LabelFor(m => m.AmenitiyGolf, LanguageHelper.GolfCourse)
                                    @Html.CheckBoxFor(m => m.AmenitiyGated)
                                    @Html.LabelFor(m => m.AmenitiyGated, LanguageHelper.GatedCommunity)
                                </p>
                                <p>
                                    @Html.LabelFor(m => m.School, LanguageHelper.SchoolDistrict+":")
                                    @Html.DropDownListFor(m => m.School, Model.SchoolList)
                                </p>
                                <p>
                                    @Html.LabelFor(m => m.Builder,LanguageHelper.Builder+ ":")
                                    @Html.DropDownListFor(m => m.Builder, Model.BuilderList)
                                </p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="nhs_Clear">
                    </div>
                    <div class="nhs_CLGSubmit">
                        <input type="submit" name="SaveMyAlertButton" id="SaveMyAlertButton" class="btnCss btn_SaveAlert" value="@LanguageHelper.SaveMyAlert" />
                        <input type="button" name="SaveMyAlertButton" id="SaveMyAlertButtonWorking" class="btnCss btn_SaveAlert btn_Loading" style="display: none;" value="@LanguageHelper.SaveMyAlert" />
                    </div>
                </div>
            </div>
        }
    }
</div>
@ResourceCombinerEnum.NHSCHATLEADGEN.GetCrunchedResource()
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = { saveAction: "@NhsMvc.ChatLeadGen.ActionNames.Save" };
        var chatLeadGen = new NHS.Scripts.ChatLeadGen(parameters);
        chatLeadGen.init();
    });    
</script>
