﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel

<nav id="nhs_TvNav" class="clearfix">
    <ul id="nhs_UlNavigation"></ul>
    <div onclick="jQuery.googlepush('NHS TV Page', 'Button Row', 'New Season')">
        @Html.StaticContent(string.Concat("Tv/", Model.KeyWord, "/MarketLandingPage.html"), null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
    </div>
</nav>
<div id="nhs_TvMarketFooter">
    <div class="clearfix">
        <h3>
            About New Home Source TV
        </h3>
        <p>
            NewHomeSource TV is your source for the most truly new homes featuring insights
            from architects, designers, contractors and other experts. Each week we take viewers
            on a behind the scenes home tour, providing a glimpse of the latest floor plans,
            design trends, green features and neighborhood amenities from the hottest new communities
            in America.
        </p>
        <div class="clearfix">
        </div>
        <div class="nhs_TvHostBio">
            <img src="@GlobalResources14.NewHomeSource.images.tv.brett_tutor_circle_jpg" alt="Brett Tutor" />
            <h3>
                Brett Tutor
            </h3>
            <h4>
                Certified Home Inspector<br />
                Green Home Auditor
            </h4>
            <p>
                As a certified Home Inspector and Green Home Auditor, Brett Tutor is an industry
                professional. Brett's inside knowledge of the product and engaging demeanor make
                him an ideal host for New Home Source TV.
            </p>
        </div>
        <div id="nhs_TvMarketSignUpSmall">
            <p>
                Scroll down to:
            </p>
            <ul>
                <li><a class="nhs_scrollto" nhs-scroll-id="ViewSegments" href="javascript:void(0)">Watch video segments</a></li>
                <li><a class="nhs_scrollto" nhs-scroll-id="FeaturedHomes" href="javascript:void(0)">See featured homes</a></li>
                <li><a class="nhs_scrollto" nhs-scroll-id="FindCommunities" href="javascript:void(0)">Find communities by builders on the show</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>
<div class="nhs_WideColorBg">
    @{ Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.TvViewSegments, Model);}

    @Html.Partial(NhsMvc.Default.Views.Tv.PartialViews.PartialTvFeaturedHomes)
    <div id="nhs_TvMap" class="clearfix">
        <h3 id="FindCommunities">
            Find communities from the show
        </h3>
        <div id="nhs_TvMapDiv">
        </div>
        <span class="clearfix"></span>
        <div class="nhs_TvSearchForm">
            @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.Search, NhsMvc.Home.Name, true, new Dictionary<string, object> { { "target", "_blank" } }))
            {
                <fieldset id="nhs_SearchBox">
                    <legend class="visuallyhidden">Search</legend>
                    @Html.Hidden("LocationType", string.Empty, new { id = "nhs_LocationSearchType" })
                    <p style="position: relative">
                        <label for="search">
                            Search ALL New Homes
                        </label>
                        <br />
                        <input id="nhs_LocationSearchTextBox" name="SearchText" type="text" placeholder="Enter location or community name"
                               value="" />
                        <input type="submit" value="Search" id="nhs_LocationSubmit" class="btnCss" onclick=" jQuery.googlepush('NHS TV Page', 'Main', 'Search Submit') " />
                        <input type="submit" value="Search" id="nhs_LocationSubmitFake" class="btnCss" style="display: none"
                               disabled="disabled" />
                        <input id="nhs_LocationSubmitButton" class="nhs_LocationSubmitButton" value="Search"
                               type="submit" />
                        <span id="nhs_field_validation_error" class="field-validation-error" style="display: none">
                            @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN
                        </span>
                    </p>
                </fieldset>
            }
        </div>
        <div class="nhs_PoweredBy">
            <p>
                powered by
            </p>
            <a href="@(new List<RouteParam> {new RouteParam (RouteParams.Market, Model.Market.MarketId,RouteParamType.Friendly)}.ToUrl(Pages.CommunityResults, true))" target="_blank" onclick=" jQuery.googlepush('NHS TV Page', 'Main', 'NHSPRO Logo') ">
                <img src="@GlobalResources14.Pro.images.tv.protv_logo_2x_png" alt="New Home Source" />
            </a>
        </div>
    </div>
    @{ Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.PartialTvMarketPromos, Model);}

    @{ Html.RenderPartial(NhsMvc.Default.Views.Tv.PartialViews.Sponsors, Model);}
</div>
@section cphHead{
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/3a9b0bd5-5143-43a6-aadc-7a1848a7ae22.css" />
    <link rel="stylesheet" href="@GlobalResources14.NewHomeSource.css._1_tv_css?@Configuration.ResourceVersionNumber" />
    <link rel="stylesheet" href="@GlobalResources14.Pro.css._88_tv_css?@Configuration.ResourceVersionNumber" />
}
@section cphFooter{    
    @ResourceCombinerEnum.TVJS.GetCrunchedResource()
    @Html.GetGoogleMapScript()
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var parameters = {
                TvMarketPoints: @Model.TvMarketPoints.ToMvcHtmlString(),
                PromosCount : @Model.Promos.Count,
                ExpandPoints: true,
                PartnerId: @NhsRoute.PartnerId,
                CommunitiesForTvBuilderPoints: @Model.CommunitiesForTvBuilderPoints.ToMvcHtmlString(),
                icon: "@GlobalResources14.Default.images.icons.map_poi_orange_png",
                iconNoFeature: "@GlobalResources14.Default.images.icons.map_poi_blue_png",
                iconMulti: "@GlobalResources14.Default.images.icons.map_plus_blue_png",
                isTvMarketPage: true,
                AutoCompliteUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndex))",
                ContestModalUrl: "@(Html.GetActionUrl(NhsMvc.Newsletter.Name, NhsMvc.Newsletter.ActionNames.SignUpTvNewsletter))",
                MarketId: "@Model.Market.MarketId",
                urlDetailPage: "@(new List<RouteParam>().ToUrl("communitydetail/builder-{builder}/community-{community}", true))",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.MarketContent.Latitude,
                        Longitude: @Model.MarketContent.Longitude,
                        Zoom: 9,
                        ContainerName: 'nhs_TvMapDiv',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 1,
                    Loader: "@(Configuration.ResourceDomain)/GlobalResourcesMvc/Default/images/map/NHS_loader.gif",
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'CommunityName'
                    }
                }
            };

            var tv = new NHS.Scripts.Tv(parameters);
            tv.init();
        });
    </script>
}
