﻿#nhs_Header, #nhs_Main
{
    position: relative;
    background-color: #fff;
    max-width: 970px;
    margin: 0 auto;
}
#nhs_SocialFooter, #nhs_Footer
{
    position: relative;
    max-width: 970px;
    margin: 0 auto;
}
#nhs_ResFooter
{
    margin-bottom: 0;
}
#nhs_Header
{
    max-width: 960px;
    padding: 20px 5px 0 5px;
}
#nhs_eBookHeader
{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
}
#nhs_eBookHeader + #nhs_Header > nav > ul > li > div {
    top: 50px;
}
