﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvViewModel
<div id="nhs_TvHomeHeader" class="clearfix">
    <div>
        <h2>
            Welcome to the first step towards your dream home!</h2>
        <p>
            Choose your market below:</p>
    </div>
    <div>
        <p>
            From here you can:</p>
        <ul>
            <li>Explore videos of the newest local communities</li>
            <li>Discover highly regarded builders</li>
            <li>View floor plans and sign up for exclusive builder incentives</li>
        </ul>
    </div>
</div>
<div id="nhs_TvHomeMap">
</div>
<div id="nhs_TvHomeFooter">
    <div class="clearfix">
        <div class="nhs_TvHostBio">
            <img src="@GlobalResources14.NewHomeSource.images.tv.brett_tutor_circle_jpg" alt="Brett Tutor" />
            <h3>
                Brett Tutor</h3>
            <h4>
                Certified Home Inspector<br />
                Green Home Auditor</h4>
            <p>
                As a certified Home Inspector and Green Home Auditor, Brett Tutor is an industry
                professional. Brett's inside knowledge of the product and engaging demeanor make
                him an ideal host for New Home Source TV.</p>
        </div>
        <p>
            NewHomeSource TV is your source for the most truly new homes featuring insights
            from architects, designers, contractors and other experts. Each week we take viewers
            on a behind the scenes home tour, providing a glimpse of the latest floor plans,
            design trends, green features and neighborhood amenities from the hottest new communities
            in America.</p>
    </div>
    <div class="nhs_TvMarketing clearfix">
        <p>
            <strong>Builders and advertisers:</strong><br />
            Interested in being on the show or knowing when it’s coming to your area? <a href="http://www.thebdx.com/products/content-graphics/new-home-videos"
                target="_blank" onclick="jQuery.googlepush('NHS TV Page', 'Main', 'Get More Information');">
                Get More Information > </a>
        </p>
    </div>
</div>
@section cphHead{
    @*<link rel="stylesheet" href="@Resources.GlobalResources14.NewHomeSource.css._1_tv_css?@Configuration.ResourceVersionNumber" />*@
}
@section cphFooter{    
    @ResourceCombinerEnum.TVJS.GetCrunchedResource()
    @Html.GetGoogleMapScript()
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var parameters = {
                TvMarketPoints: @Model.TvMarketPoints.ToMvcHtmlString(),
                isTvMarketPage: false,
                AutoCompliteUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndex))",
                urlTvMarket: "@(Html.GetActionUrl(NhsMvc.Tv.Name, NhsMvc.Tv.ActionNames.ShowTvHome))",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: 36.5,
                        Longitude: -98,
                        Zoom: 5,
                        ContainerName: 'nhs_TvHomeMap',
                        zoomControl: false,
                        disableDefaultUI: true,
                        Draggable: false,
                        Scrollwheel: false,
                        DisableDoubleClickZoom: true
                    },
                    MinZoom: 5,
                    MaxZoom: 5,
                    Loader: "@(Configuration.ResourceDomain)/GlobalResourcesMvc/Default/images/map/NHS_loader.gif",
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'Keyword'
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    }
                }
            };

            var tv = new NHS.Scripts.Tv(parameters);
            tv.init();
        });
    </script>
}
