﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @Html.Partial(NhsMvc.PartialViews.Views.Common.PageMetaHeaders)
    @Html.Partial(NhsMvc.PartialViews.Views.Common.Instrumentation)
    @{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.TrackingScripts, NhsMvc.PartialViews.Name, new { showsInHead = true }); }
    @RenderSection("cphHead", false)
    <!--_Blank.cshtml-->
</head>
    <body>
        @Model.GetGtmDataLayerGlobal()
        @HtmlGoogleHelper.GetGtmDataLayerScript()
        @RenderBody()
        @{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.TrackingScripts, NhsMvc.PartialViews.Name); }

        @RenderSection("Scripts", false)
    </body>
</html>
