﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @Html.Partial(NhsMvc.PartialViews.Views.Common.PageMetaHeaders)
    @Html.Partial(NhsMvc.PartialViews.Views.Common.Instrumentation)
    @RenderSection("cphHead", false)
    <!--_Brochure.cshtml-->
</head>
<body>
    @RenderBody()
</body>
</html>
