﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Library.Enums
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @{ Html.RenderPartial(NhsMvc.PartialViews.Views.MasterPages.PartialHeader); }
    @RenderSection("cphHead", false)    
    @*@Html.GetCrunchedResource("proLibCss")*@
    @*Get Partner Header*@
    @Html.GetProPartnerHeader(Model)
    <!-- _ProShell.cshtml -->
</head>
    <body>
        @RenderSection("cphDataLayer", false)
        @Model.GetGtmDataLayerGlobal()
        @HtmlGoogleHelper.GetGtmDataLayerScript()
        <p class="nhs_Reader">
            <a id="nhs_SkipLink" href="#nhs_Skip" accesskey="2">Skip to content</a></p>
        <header id="pro_Header">
            <p class="nhs_Reader">NewHomeSourceProfessional.com</p>
            <nav id="pro_ToolNav">
                <div>
                    <p class="nhs_Reader">Tools</p>
                    <ul>
                        <li>@{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.PersonalBar, NhsMvc.PartialViews.Name); }</li>                
                        @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                        {
                            if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                            {                   
                                <li>@Html.NhsLink("Sign Out", NhsMvc.Account.ActionNames.LogOut, new List<RouteParam>(),
                                                  new { id = "lnkSignOff" })</li>
                                <li>@Html.NhsLink("My Account", Pages.MyAccount)</li>
                                <li>@Html.NhsLink("My Clients", Pages.MyAccount, new List<RouteParam> { new RouteParam(RouteParams.Tab, "myclient", RouteParamType.QueryString) }, null)</li>
                            }
                            else
                            { 
                                <li>@Html.NhsModalWindowLink("Sign In", Pages.LoginModal,
                                                             ModalWindowsConst.LoginModalWidht,
                                                             ModalWindowsConst.LoginModalHeight, new List<RouteParam>(),
                                                              new Dictionary<string, object> { { "onclick ", 
                                                             "$jq.googlepush('Account Events','Sign In','Open Form - Header Link')"
                                                             }, { "data-hideTitle","true" } })</li>
                    
                                if (!Model.Globals.PartnerInfo.UsesSso.ToBool())
                                { 
                                    <li>@Html.NhsModalWindowLink("Create Account", Pages.RegisterModal,
                                                                 ModalWindowsConst.RegisterModalWidth,
                                                                  ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(),
                                                                new Dictionary<string, object> { { "onclick ", 
                                                                 "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')"
                                                                 }, { "data-hideTitle","true" } })</li>
                                }
                            }
                        }
                        <li>@Html.NhsLink("About Us", Pages.AboutUs)</li>
                        <li>@Html.NhsLink("Help", Pages.SiteHelp, true)</li>
                    </ul>
                </div>
            </nav>
            <div id="pro_LogoDiv">
                @Html.GetProPartnerLogoLink(Model.Globals.PartnerInfo.PartnerLogo, Model)                
            
                <!-- Top Ad Here //-->
                <div id="nhs_AdTop">
                    <div id="nhs_TopBanner">
                    </div>
                </div>
            </div>
            <nav id="pro_SearchNav"><div>
                                        <p class="nhs_Reader">Search Navigation</p>
                                        <ul>
                                            <li class="nhs_First">@Html.NhsLink("New Home Search", Pages.Home, new List<RouteParam>(), new { onclick = "$jq.googlepush('Site Links','Navigation ','New Home Search')" })</li>               
                                            <li>@Html.NhsLink(EktronConstants.ResourceCenterMainTitle, Pages.GetResourceCenterLink(NhsRoute.BrandPartnerId), new List<RouteParam>(), new { onclick = "$jq.googlepush('Site Links','Navigation ','NEW HOME GUIDE')" })</li>
                                            <li>@Html.GetProTvLink(RouteParams.MarketId.ToType<int>())</li>
                                        </ul>
                                        @*Html.LiveChatScript(Model.Globals.ActiveEngageHeader) *@
                                        <div id="nhs_AddThisBox">
                                            @Html.AddThisControl()
                                        </div>
                                        <div class="nhs_Clear"></div></div></nav>           
        </header>
        <div id="pro_Container">
            <hr class="nhs_ReaderAlt" />
            <a id="nhs_Skip" name="nhs_Skip"></a>
            <section id="pro_SectionMain">
                @RenderBody()
                @if (Model.Globals.PartnerLayoutConfig.ShowRightAdColumn)
                {
                    <div id="nhs_AdColumn" class="clearfix">
                        <div class="clearfix">
                            <div id="nhs_RightTopSky">

                            </div>
                            <div class="clearfix"></div>
                            <div id="nhs_RightBottomSky">

                            </div>
                        </div>
                    </div>
                }
            </section>
            <div class="nhs_Clear"></div>
        </div>
        <footer class="pro_Footer">
            <div>
                <div class="pro_FooterAd">
                    <div id="nhs_AdFooter"></div>
                </div>
                <div class="pro_FooterBox">
                    @Html.RenderHomePageFooterBoxContent(Model.Globals.PartnerInfo.PartnerId != PartnersConst.Pro.ToType<int>())
                    <nav>
                        <ul>
                            <li>@Html.NhsLink("Home", Pages.Home)</li>
                            <li>@Html.NhsLink("Search New Homes", Pages.Home)</li>
                            <li>@Html.NhsLink("Advanced Search", Pages.AdvancedSearch, null)</li>
                            <li>@Html.GetProTvLink(RouteParams.MarketId.ToType<int>())</li>
                        </ul>
                        <ul>
                            @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                            {
                                if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                                {
                                    <li>@Html.NhsModalWindowLink("Sign In", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new Dictionary<string, object>() { { "onclick", "$jq.googlepush('Account Events','Sign In','Open Form - Header Link')" }, { "data-hidetitle","true" } })</li>
                        
                                    if (!Model.Globals.PartnerInfo.UsesSso.ToBool())
                                    { 
                                        <li>@Html.NhsModalWindowLink("Register", Pages.RegisterModal, ModalWindowsConst.RegisterModalWidth, ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(), new Dictionary<string, object>() { { "onclick", "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')" }, { "data-hidetitle", "true" } })</li>
                                    }
                                }
                            }
                            <li>@Html.NhsLink("About Us", Pages.AboutUs)</li>
                        </ul>
                        <ul>
                            <li>@Html.NhsLink("Contact Us", Pages.ContactUs)</li>
                            <li>@Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy)</li>
                            <li>@Html.NhsLink("Terms of Use ", Pages.TermsOfUse)</li>
                        </ul>                    
                    </nav>
                </div>
                <div class="nhs_Clear"></div>
            </div>
        </footer>
        <div class="pro_Copyright">
            <p>
                Copyright &copy; 2001-@DateTime.Today.Year Builders Digital Experience, LLC. @Html.NhsLink("NHSPro.com", Pages.Home)
                is a trademark of Builders Digital Experience, LLC. and all other marks are either
                trademarks or registered trademarks of their respective owners. All rights reserved.</p>
        </div>
        @{Html.RenderPartial(NhsMvc.PartialViews.Views.MasterPages.PartialFooter);}       
        @ResourceCombinerEnum.PROCRMJS.GetCrunchedResource()
        @RenderSection("cphFooter", false)
        <div class="nhs_Clear"></div>
    </body>
</html>
