﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Library.Enums
@using Nhs.Library.Constants
@using Nhs.Library.Constants.Route
@using Nhs.Library.Common
@using Nhs.Library.Extensions
@using Nhs.Library.Web
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    @{ Html.RenderPartial(NhsMvc.PartialViews.Views.MasterPages.PartialHeader); }
    @RenderSection("cphHead", false)
    @*@Html.GetCrunchedResource("proLibCss")*@
    @*Get Partner Header*@
    @Html.GetProPartnerHeader(Model)
    <!-- ProShellHome.cshtml -->
</head>
<body>
        @RenderSection("cphDataLayer", false)
        @Model.GetGtmDataLayerGlobal()
        @HtmlGoogleHelper.GetGtmDataLayerScript()
    <header class="pro_HomeHeader">
        <div>
            @Html.GetProPartnerLogoLink(Model.Globals.PartnerInfo.PartnerLogo, Model)  
            <nav>
                <ul>                    
                    @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                    {
                        if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                        {
                           <li>@Html.NhsModalWindowLink("Sign In", Pages.LoginModal, ModalWindowsConst.LoginModalWidht, ModalWindowsConst.LoginModalHeight, new List<RouteParam>(), new Dictionary<string, object> { { "onclick ", "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')" }, { "data-hideTitle","true" } })</li>                             
                            if (!Model.Globals.PartnerInfo.UsesSso.ToBool())
                            {    
                                <li>@Html.NhsModalWindowLink("Create Account", Pages.RegisterModal, ModalWindowsConst.RegisterModalWidth, ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(), new Dictionary<string, object> { { "onclick ", "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')" }, { "data-hideTitle", "true" } })</li>
                            }
                        }
                        else
                        { 
                        <li>@Html.NhsLink("Sign Out", Pages.LogOff)</li>
                        <li>@Html.NhsLink("My Account", Pages.MyAccount)</li>  
                        <li>@Html.NhsLink("My Clients", Pages.MyAccount, new List<RouteParam> { new RouteParam(RouteParams.Tab, "myclient", RouteParamType.QueryString) }, null)</li>
                
                        }
                    }
                    <li>@Html.NhsLink("About Us", Pages.AboutUs)</li>
                    <li>@Html.NhsLink("Help", Pages.SiteHelp)</li>
                    <li><a href="http://www.facebook.com/pages/New-Home-Source-Professional/126778360685109"
                           target="_blank">
                            <img src="@Resources.GlobalResourcesMvc.Pro.images.facebook_thumb_png" alt="Facebook"/></a> <a href="https://twitter.com/nhspro" target="_blank">
                            <img src="@Resources.GlobalResourcesMvc.Pro.images.twitter_thumb_png" alt="Twitter"/></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="pro_Container">
        <hr class="nhs_ReaderAlt" />
        <a id="nhs_Skip" name="nhs_Skip"></a>
        <section id="pro_SectionMain" class="pro_HomeSection">
            @RenderBody()
        </section>
    </div>
    @{
        Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.Tv.Partials.PartialHomeTvLink);
    }
    <footer class="pro_Footer">
        <div>
            <div class="pro_FooterAd">
             <div id="nhs_AdFooter"></div>
            </div>
            <div class="pro_FooterBox">
                @Html.RenderHomePageFooterBoxContent(Model.Globals.PartnerInfo.PartnerId != PartnersConst.Pro.ToType<int>())
                <nav>
                    <ul>
                        <li>@Html.NhsLink("Home", Pages.Home)</li>
                        <li>@Html.NhsLink("Search New Homes", Pages.Home)</li>
                        <li>@Html.NhsLink("Advanced Search", Pages.AdvancedSearch, null)</li> 
                        <li>@Html.GetProTvLink(NhsUrl.GetMarketID)</li>                       
                    </ul>
                    <ul>
                    @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                    {
                        if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                        {
                           <li>@Html.NhsModalWindowLink("Sign In", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new Dictionary<string, object>() { { "onclick", "$jq.googlepush('Account Events','Sign In','Open Form - Header Link')" }, { "data-hidetitle", "true" } })</li>
                            if (!Model.Globals.PartnerInfo.UsesSso.ToBool())
                            { 
                                <li>@Html.NhsModalWindowLink("Register", Pages.RegisterModal, ModalWindowsConst.RegisterModalWidth, ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(), new Dictionary<string, object>() { { "onclick", "$jq.googlepush('Account Events','Create Account','Open Form - Header Link')" }, { "data-hidetitle", "true" } })</li>
                            }
                        }
                    }
                        <li>@Html.NhsLink("About Us", Pages.AboutUs)</li>
                    </ul>
                    <ul>
                        <li>@Html.NhsLink("Contact Us", Pages.ContactUs)</li>
                        <li>@Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy)</li>
                        <li>@Html.NhsLink("Terms of Use ", Pages.TermsOfUse)</li>
                    </ul>                    
                </nav>
            </div>
            <div class="nhs_Clear"></div>
        </div>
    </footer>
    <div class="pro_Copyright">
        <p>
            Copyright &copy; 2001-@DateTime.Today.Year Builders Digital Experience, LLC. @Html.NhsLink("NHSPro.com", Pages.Home)
            is a trademark of Builders Digital Experience, LLC. and all other marks are either
            trademarks or registered trademarks of their respective owners. All rights reserved.</p>
    </div>
   
    @{Html.RenderPartial(NhsMvc.PartialViews.Views.MasterPages.PartialFooter);}
    @RenderSection("cphFooter", false)
</body>
</html>
