﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@using Nhs.Library.Web.ImageResizer;
@foreach (var media in Model.FloorPlanImages)
{  
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="floor-plans">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Floorplans</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                @Html.NhsImage(media.FloorPlanImage(new ResizeCommands { MaxWidth = 1400, MaxHeight = 1400, Format = ImageFormat.None, Scale = ScaleCommand.None, BackgroundColor = "white" }), media.ImageTitle, false)
            </div>
            <div class="caption">
                @media.ImageDescription
            </div>
        </div>
    </div>
    
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
}