#nhsWidget {
	border: 0px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	color: #5F5046;
	padding: 0;
	width: 160px; 
	height: 600px;
	background: url(../images/bg_move_skyscraper.jpg) no-repeat top left;
	}
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget #nhsFormBox {
	float: left;
	border: 0px solid;
	width: 154px;
	margin: 295px 0 0 0;
	padding: 0;
	}
#nhsWidget input, #nhsWidget select {
	float: left;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0;
	padding: 0;
	width: 138px;
	}
#nhsWidget label {
	float: left;
	font-weight: bold;
	text-align: right;
	margin-top: 5px;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 0px 0 4px 7px;
	padding: 0;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 14px;
	text-align: left;
	}
#nhsWidget input#nhsTxtZip {
	width: 133px;
	*margin-left: -6px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 84px;	
	height: 31px;
	margin: 7px 0 0 60px; /*-1px*/
	*margin: 7px 0 0 54px; /*-7px*/
	padding: 31px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: transparent url(../images/btn_31_search.png) no-repeat center top;
	}
#nhsWidget .nhsBasicFrom,
#nhsWidget .nhsBasicPriceTo {
	display: none;
	}
#nhsWidget .nhsBasicHeader {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	display: none;
	}
#nhsWidget .nhsBasicRequired {
	font-size: 10px;
	font-style: italic;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	font-size: 10px;
	text-align: center;
	display: none;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	}