#nhsWidget {
	border: 1px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	padding: 0 0 5px 0;
	width: 418px;
	height: 200px; 
	}
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget input, #nhsWidget select {
	float: right;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0 30px 0 0;
	padding: 0;
	width: 220px;
	}
#nhsWidget label {
	float: left;
	font-weight: bold;
	text-align: right;
	width: 155px;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 3px 0;
	padding: 0;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	text-align: left;
	}
#nhsWidget input#nhsTxtZip{
	width: 216px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 95px;
	}
#nhsWidget .nhsBasicHeader {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	padding-left: 5px;
	}
#nhsWidget .nhsBasicRequired {
	font-size: 10px;
	font-style: italic;
	padding-left: 5px;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	font-size: 10px;
	text-align: center;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	}
#nhsWidget .nhsBasicRange {
	display: none;
	}
