#nhsWidget {
	border: 0px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	padding: 0;
	width: 300px;
	height: 160px; 
	color: #014800;
	}
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget input, #nhsWidget select {
	float: right;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0 20px 0 0;
	padding: 0;
	width: 160px;
	}
#nhsWidget label {
	float: left;
	font-weight: bold;
	text-align: right;
	width: 115px;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 3px 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,san-serif; 
	font-size: 12px;
	text-align: left;
	}
#nhsWidget input#nhsTxtZip{
	width: 156px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 163px;	
	height: 43px;
	margin: 0px 18px 0 -3px;
	*margin: 2px 18px 0 -7px;
	padding: 43px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: transparent url(../images/btn_find_homes_now.gif) no-repeat center top;
	}
#nhsWidget .nhsBasicHeader {
	display: none;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	padding-left: 5px;
	}
#nhsWidget .nhsBasicRequired {
	display:none;
	font-size: 10px;
	font-style: italic;
	padding: 10px 0 10px 5px;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	display: none;
	font-size: 10px;
	text-align: center;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	}
#nhsWidget .nhsBasicFrom,
#nhsWidget .nhsBasicPriceTo {
	display: none;
	}
