#nhsWidget {
	border: 0px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	color: #5F5046;
	padding: 0;
	width: 300px; 
	height: 250px;
	background: url(../images/bg_move_300.jpg) no-repeat top left;	
	position: relative;
	}
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget #nhsFormBox {
	float: left;
	border: 0px solid;
	margin: 42px 0 0 0;
	padding: 0 3px;
	position: relative;
	}
#nhsWidget input, #nhsWidget select {
	float: left;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0;
	padding: 0;
	width: 128px;
	}
#nhsWidget label {
	float: left;
	font-weight: bold;
	text-align: right;
	width: 90px;
	margin: 2px 3px 0 0;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 0 0 0 7px;
	padding: 0 0 4px 0;
	*padding: 0 0 2px 0;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 14px;
	text-align: left;
	}
#nhsWidget .nhsBasicZipPriceBox {
	float: left;
	width: 280px;
	padding-left: 20px;
	}
#nhsWidget .nhsBasicPriceBox {
	float: left;
	width: 280px;
	padding-left: 20px;
	}
#nhsWidget .nhsBasicButtonBox {
	float: right;
	width: 135px;
	}
#nhsWidget input#nhsTxtZip {
	width: 124px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 147px;	
	height: 31px;
	margin: 12px 0 0 -3px;
	*margin: 14px 0 0 -7px;
	padding: 31px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: transparent url(../images/btn_31_search.png) no-repeat center top;
	}
#nhsWidget .nhsBasicRange,
#nhsWidget .nhsBasicFrom,
#nhsWidget .nhsBasicPriceTo {
	display: none;
	}
#nhsWidget .nhsBasicPriceFrom {
	width: 90px;
	}
#nhsWidget #nhsDdlPriceTo {
	margin-left: 93px;
	}
#nhsWidget .nhsBasicHeader {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	display: none;
	}
#nhsWidget .nhsBasicRequired {
	font-size: 10px;
	font-style: italic;
	position: absolute;
	width: 200px;
	float: none;
	display: block;
	top: 89px;
	*top: 90px;
	left: 142px;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	font-size: 10px;
	text-align: center;
	display: none;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	}
