#nhsWidget {
	border: 1px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	padding: 0 5px 5px 5px;
	width: 290px; 
	height: 245px;
	}
#nhsFormBox {
    width: 200px;
    margin: 0 auto;
    }	
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget input, #nhsWidget select {
	float: right;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0;
	padding: 0;
	width: 115px;
	}
#nhsWidget label {
	float: left;
	font-weight: normal;
	text-align: right;
	width: 75px;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 3px 0;
	padding: 0;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	text-align: left;
	}
#nhsWidget input#nhsTxtZip {
	width: 111px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 95px;
	}
#nhsWidget .nhsBasicHeader {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	}
#nhsWidget .nhsBasicRequired {
	font-size: 10px;
	font-style: italic;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	font-size: 10px;
	text-align: center;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	}
#nhsWidget .nhsBasicRange {
	display: none;
	}
	
#nhsWidget #nhsHtmlArea * {
    display: inline-block;
    margin: 2px 0;
    }
#nhsWidget #nhsHtmlArea .nhsBasicHeader {
    margin: 6px 0 2px 0;
    }    
#nhsWidget #nhsHtmlArea ul {
    margin: 0;
    padding: 0;
    }    	
#nhsWidget #nhsHtmlArea ul li {
    width: 47%;
    margin-left: 2%;
    vertical-align: top;
    }    	    
