#nhsWidget {
	border: 0px solid #000;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;
	color: #fff;
	padding: 0;
	width: 728px; 
	height: 90px;
	background: #7ec8f7 url(../images/bg_leaderboard.gif) no-repeat top left;	
	position: relative;
	}
#nhsWidget fieldset,
#nhsWidget form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#nhsWidget #nhsFormBox {
	float: left;
	border: 0px solid;
	margin: 36px 0 0 0;
	padding: 0 3px;
	position: relative;
	}
#nhsWidget input, #nhsWidget select {
	float: left;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 12px;        
	margin: 0;
	padding: 0;
	width: 128px;
	}
#nhsWidget label {
	float: left;
	font-weight: bold;
	text-align: right;
	width: 80px;
	margin: 2px 3px 0 0;
	}
#nhsWidget p { 
	float: left;
	width: 100%;       
	margin: 0px 0 4px 7px;
	padding: 0;
	font-family: Arial,Helvetica,san-serif; 
	font-size: 14px;
	text-align: left;
	}
#nhsWidget .nhsBasicZipPriceBox {
	float: left;
	width: 220px;
	}
#nhsWidget .nhsBasicPriceBox {
	float: left;
	width: 200px;
	}
#nhsWidget .nhsBasicButtonBox {
	float: left;
	width: 200px;
	}
#nhsWidget input#nhsTxtZip {
	width: 124px;
	}
#nhsWidget input#nhsBtnSearch {
	width: 147px;	
	height: 32px;
	margin: 10px 0 0 -3px;
	*margin: 12px 0 0 -7px;
	padding: 32px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: transparent url(../images/btn_find_homes.gif) no-repeat center top;
	}
#nhsWidget .nhsBasicRange,
#nhsWidget .nhsBasicFrom,
#nhsWidget .nhsBasicPriceTo {
	display: none;
	}
#nhsWidget .nhsBasicPriceFrom {
	width: 40px;
	}
#nhsWidget #nhsDdlPriceTo {
	margin-left: 43px;
	}
#nhsWidget .nhsBasicHeader {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	display: none;
	}
#nhsWidget .nhsBasicRequired {
	font-size: 10px;
	font-style: italic;
	position: absolute;
	width: 200px;
	float: none;
	display: block;
	top: 41px;
	*top: 43px;
	left: 190px;
	}
#nhsWidget .nhsBasicRequired strong {
	font-style: normal;
	}
#nhsWidget #nhsPowered {
	font-size: 10px;
	text-align: center;
	display: none;
	}
#nhsWidget #nhsErrorDiv {
	color: Red;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	}