﻿@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
<form onsubmit="return false;">
<fieldset>
    <legend class="visuallyhidden">@LanguageHelper.NewHomeSearch.ToMvcHtmlString()</legend>
    <label class="visuallyhidden" for="SearchText">
        @LanguageHelper.Location.ToMvcHtmlString():
    </label>
    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
    <input value="@(String.IsNullOrEmpty(UserSession.PersonalCookie.SearchText) ? String.Empty : UserSession.PersonalCookie.SearchText)" autocomplete="off" id="SearchText" required="required" maxlength="100" name="SearchText" placeholder="@LanguageHelper.EnterLocationOrCommunityName" type="text" class="ui-autocomplete-input nhs_FilterLocationBox" />
    <input type="button" class="nhs_ResetSearchBar" id="searchBarLocationBox" value="Clear" />
</fieldset>
<a href="#" id="HomeSearchIcon" class="ir btn">@LanguageHelper.Search.ToMvcHtmlString()</a>
</form>
<p id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">
    @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()
</p>
<div id="nhs_HomeSearchOptions" class="clearfix">
    <div class="nhs_PanelLabelInline clearfix">
        <label>
            @LanguageHelper.Price
        </label>
        <div class="nhs_Slider nhs_SliderPrice">
            <p>
                <span id="PriceLow">@LanguageHelper.NoMin.ToMvcHtmlString()</span>
            </p>
            <p>
                <span id="PriceHigh">@LanguageHelper.NoMax.ToMvcHtmlString()</span>
            </p>
            <div id="nhs_SliderPrice">
            </div>
        </div>
    </div>
    <div class="clearfix">
        <label>
            @LanguageHelper.Bedrooms.ToMvcHtmlString()
        </label>
        <ul class="nhs_PanelRadios">
            <li>
                <input checked="checked" id="BedsAny" name="NumOfBeds" type="radio" value="0" />
                <label for="BedsAny">
                    @LanguageHelper.Any.ToMvcHtmlString()
                </label>
            </li>
            <li>
                <input id="Beds1" name="NumOfBeds" type="radio" value="1" />
                <label for="Beds1">
                    1+
                </label>
            </li>
            <li>
                <input id="Beds2" name="NumOfBeds" type="radio" value="2" />
                <label for="Beds2">
                    2+
                </label>
            </li>
            <li>
                <input id="Beds3" name="NumOfBeds" type="radio" value="3" />
                <label for="Beds3">
                    3+
                </label>
            </li>
            <li>
                <input id="Beds4" name="NumOfBeds" type="radio" value="4" />
                <label for="Beds4">
                    4+
                </label>
            </li>
            <li>
                <input id="Beds5" name="NumOfBeds" type="radio" value="5" />
                <label for="Beds5">
                    5+
                </label>
            </li>
        </ul>
    </div>
    <div class="clearfix">
        <label>
            @LanguageHelper.Bathrooms.ToMvcHtmlString()
        </label>
        <ul class="nhs_PanelRadios">
            <li>
                <input checked="checked" id="BathAny" name="NumOfBaths" type="radio" value="0" />
                <label for="BathAny">
                    @LanguageHelper.Any.ToMvcHtmlString()
                </label>
            </li>
            <li>
                <input id="Baths1" name="NumOfBaths" type="radio" value="1" />
                <label for="Baths1">
                    1+
                </label>
            </li>
            <li>
                <input id="Baths2" name="NumOfBaths" type="radio" value="2" />
                <label for="Baths2">
                    2+
                </label>
            </li>
            <li>
                <input id="Baths3" name="NumOfBaths" type="radio" value="3" />
                <label for="Baths3">
                    3+
                </label>
            </li>
            <li>
                <input id="Baths4" name="NumOfBaths" type="radio" value="4" />
                <label for="Baths4">
                    4+
                </label>
            </li>
            <li>
                <input id="Baths5" name="NumOfBaths" type="radio" value="5" />
                <label for="Baths5">
                    5+
                </label>
            </li>
        </ul>
    </div>
    <p>
        <input type="button" value="@LanguageHelper.SearchHomesButton" id="HomeSearchBtn" class="btn btn_HomeSearch">
    </p>
</div>
@ResourceCombinerEnum.SEARCHBARJSMOBILE.GetCrunchedResource()
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).on("click", "#searchBarLocationBox", function () {
            jQuery.ClearSearchBoxLocation.call();
            return false;
        });

        var parameters = {
            Search: "@(Html.GetActionUrl(NhsMvc.Home.Name, NhsMvc.Home.ActionNames.MobileSearch))",
            CurrentLocationSearch: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.CurrentLocation))",
            typeAheadParameters: {
                typeAheadUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndexMobile))",
                textBoxName: "SearchText",
                currentLocationImg: "@(GlobalResourcesMobile.Default.images.icons.locate_me_gray_png)",
                Translation: {
                    CurrentLocation: "@LanguageHelper.CurrentLocation.ToMvcHtmlString()",
                    LocateMe: "@LanguageHelper.LocateMe.ToMvcHtmlString()",
                    MGS_HOMESEARCH_DEFAULT_ERROR_MSN: "@LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()"
                }
            }
        };
        var searchBar = new NHS.Mobile.SearchBar(parameters);
        searchBar.initialize();
    });


</script>
