﻿@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeViewModel
@section cphDataLayer {
    @Model.GetGtmDataLayerForHomePage()
}
@if (Model.ShowWelcomeMessage)
{
    <header class="nhs_HomeAccountCreated clearfix">
        <p>
            <span>@LanguageHelper.Welcome.ToMvcHtmlString() @Model.UserName,</span>
            <br />
            @LanguageHelper.YourAccountHasBeenCreated.ToMvcHtmlString()</p>
    </header> 
}
<section class="nhs_HomeMain">
    <div class="nhs_HomeSearch clearfix">
        <div class="clearfix">
            <h1>@Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "homesearchtitletextmobile")</h1>
            @Html.Partial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SearchBar)
        </div>
    </div>
    <div class="nhs_HomeNearby clearfix">
        <h2 id="nhs_HomeNearbyTittle">@(Model.IsCurrentLocation ? LanguageHelper.NewHomesNearby : LanguageHelper.FeaturedNewHomes)</h2>
        <div class="nhs_HomeNearbyList" id="nhs_HomeNearbyList" style="position: relative;">
            @{ Html.RenderPartial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SpotLightHomes, Model.SpotLightHomes);}
        </div>
    </div>
</section>
<aside class="nhs_HomeLinks clearfix">
    @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "resourcecenterlinksmobile")
</aside>
@section cphFooter{    
    @ResourceCombinerEnum.HOMEPAGEJSMOBILE.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var mobileHp = new NHS.Mobile.HomePage();
            mobileHp.initialize();
        });
    </script>
}
