﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<SpotLightHomes> 
<ul class="bxslider">
    @foreach (var home in Model)
    {
        <li class="nhs_HomeNearbyItem clearfix">
            <div class="nhs_ItemImg">
                @Html.NhsImage(home.HomeResThumb(), home.GetHomeResThumb1Size(), "", false)
            </div>
            <h3>
                @Html.NhsLink(home.GetHomeName(), RedirectionHelper.GetHomeDetailPage(home.IsSpec > 0), home.ToHomeDetail(), new { title = home.GetHomeName() })</h3>
            @home.GetFormattedPrice()
            @home.GetFormattedSqFt()
            @home.GetHomeInformation()
        </li>
    }
</ul> 