﻿@model Nhs.Web.UI.AppCode.ViewModels.Client            
<p class="pro_ClientName">
    <input name="Clients[@Model.Index].ClientId" id="Clients_@(Model.Index)__ClientId" type="hidden" value="@Model.ClientId"  class="pro_AutoCompleteCleanNumber"/>
    <label>
        Client name:
    </label>
     <input class="pro_AutoCompleteClientName pro_AutoCompleteClean" id="Clients_@(Model.Index)__Name" name="Clients[@Model.Index].Name" type="text" value="@Model.Name" />
    @if (Model.Index > 2)
    {
        <a class="pro_DeleteClientName">Delete</a>
    }
</p>
