﻿@model Nhs.Web.UI.AppCode.ViewModels.AddToFavoritesClient
<div class="pro_CRM_Modal pro_CRM_ClientActionModal" id="pro_ModalBody">
<p>@Html.GetSaveFavoritesLink(Model, "Or, save this listing to your personal list of favorites")</p>
<br />

@{Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ContactBuilderAndRequestAppointmentClient.PartialAddClientToAction, Model);}

</div>
<script type="text/javascript">
    var CrmSF;
    $jq(document).ready(function () {
        var parameters = {
            saveUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SaveToFavoritesClientModal)"
        };
        CrmSF = new NHS.Scripts.Crm(parameters);
        CrmSF.initializeSaveToFavorites();
    });
</script>
