﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesViewModel
<div class="nhs_Content pro_CRM">
    @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.Agent.NavigationBar, Model)
    <div>
        <div id="pro_MyAccountTab" class="tap pro_MyProfile" style="display:@(Model.SelectMyAccount ? "" : "none")">
            @{ Html.RenderAction(NhsMvc.ProCrm.ActionNames.ManageAccount, NhsMvc.ProCrm.Name); }
        </div>
        <div id="pro_MyClient" class="tap pro_MyClient" style="display:@(Model.SelectClientsTab ? "" : "none")">
            @if (Model.IsClientDetailPage)
            {
                Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ClientDetail.PartialCrmClientDetail, Model.ProCrmViewModel);
            }
            else
            {
                Html.RenderAction(NhsMvc.ProCrm.ActionNames.ShowMyClients, NhsMvc.ProCrm.Name);
            }
        </div>
        <div class="tap pro_Favorites" id="FavoritesTab" style="display:@(Model.SelectFavoriteTab ? "" : "none")">
            <div id="pro_FavoritesTabInfo" style="">
                @if (Model.SelectFavoriteTab)
                {
                    Html.RenderAction(NhsMvc.ProCrm.ActionNames.MyFavoritesTab, NhsMvc.ProCrm.Name);
                }</div>
            @if (!Model.SelectFavoriteTab)
            {
                <div class="nhs_Loading">
                    <p>
                        <strong>Loading...</strong>
                    </p>
                </div>
            }
        </div>
        <div class="tap pro_Brochure" id="BrochureTab"  style="display:@(Model.SelectBrochureTab ? "" : "none")">
            <iframe src="@string.Format("{0}/{1}", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", Pages.Brochuretab)" width="770" height="670" frameborder="0" scrolling="no">
            </iframe>
        </div>
    </div>
</div>
<div id="nhs_Loading">
    <p>
        <strong>Loading...</strong>
    </p>
</div>
@ResourceCombinerEnum.PROCRMJSDEFAULT.GetCrunchedResource()
@ResourceCombinerEnum.PROCRMJS.GetCrunchedResource()
<script type="text/javascript">
    var crm;
    $jq(document).ready(function () {
        var parameters =
        {
            url: "@(!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "")",
            SelectFavoriteTab: @Model.SelectFavoriteTab.ToString().ToLower(),
            SelectClientsTab: @Model.SelectClientsTab.ToString().ToLower(),
            clientId: @Model.ClientId,
            clientsStatus: @((int)UserSession.ProCrmClientsStatus)
        };
        crm = new NHS.Scripts.Crm(parameters);
        crm.initialize();
    });
</script>
