﻿@model Nhs.Web.UI.AppCode.ViewModels.ProCrmViewModel
<div>
    <div class="pro_CRM_ClientsSubNav">
        Use the My Clients area to store client notes, save potential listings and track
        activities for your clients.
    </div>
    @*<div class="nhs_Clear">
    </div>
    @{
        Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.MyClients.PartialCrmUpcomingTasks);
    }*@
    <div class="nhs_Clear">
    </div>
    <div id="pro_PartialCrmMyClients">
        @{Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.MyClients.PartialCrmMyClients);}
    </div>
    <div class="nhs_Clear">
    </div>
    @{Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ShowFooter);}
</div>
