﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel

@if (Model.Globals.ShowEbookSection)
{
    <div id="nhs_eBookResourceCenter" class="clearfix">
        <div class="nhs_eBookImg">
            <img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.ipad_iphone_png" alt="@LanguageHelper.NewHome101"/>
        </div>
        <div class="nhs_backLogo">
        </div>
        <div class="nhs_eBookContent">
            <div class="nhs_eBookTitle">
                @LanguageHelper.EbookNewAvailable.ToMvcHtmlString()
            </div>
            <div class="nhs_eBookLogo">
                <span>@LanguageHelper.From.ToMvcHtmlString()</span><img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.nhs_logo_white_png" alt="@LanguageHelper.NewHomeSource"/>
            </div>
            <p class="nhs_eBookContentText">
                @LanguageHelper.EBookLeyend.ToMvcHtmlString()
            </p>
            @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.eBookComponent, new EBookViewModel {ButtonText = LanguageHelper.DownloadForFree, MarketId = Model.Globals.SdcMarketId})
        </div>
    </div>
}