﻿@model BaseViewModel
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
<div id="nhs_BookPage" class="clearfix">
    <div class="clearfix">
        <div class="nhs_eBookImg">
            <img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.ipad_iphone_png" alt="@LanguageHelper.NewHome101" />
        </div>
            <h1>
                <strong>@LanguageHelper.FreeEBook.ToMvcHtmlString()</strong><br />
                @LanguageHelper.EBookLeyend.ToMvcHtmlString()</h1>
            @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.eBookComponent, new EBookViewModel{MarketId = Model.Globals.SdcMarketId})
            <p>
                @LanguageHelper.EbookAwarWriter.ToMvcHtmlString()
            </p>
            <ul>
                <li>@LanguageHelper.EbookTipsToFocus.ToMvcHtmlString()</li>
                <li>@LanguageHelper.EbookExpertInsights.ToMvcHtmlString()</li>
                <li>@LanguageHelper.EbookHowToSelect.ToMvcHtmlString()</li>
                <li>@LanguageHelper.EbookAdviceOnNegotiating.ToMvcHtmlString()</li>
                <li>@LanguageHelper.EbookWhatToExpect.ToMvcHtmlString()</li>
            </ul>
            <p>
                @LanguageHelper.EbookNewHome101Jorney.ToMvcHtmlString()
            </p>
            <p>
                @LanguageHelper.EbookEmailAddressGuide.ToMvcHtmlString()
            </p>
        
        
        <div class="nhs_eBookLogos">
            <img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.logos_dk_png" alt="eReader logos" />
        </div>
    </div>
</div>
