﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel

@if (!Model.Globals.PartnerLayoutConfig.AmIOnHomePage && UserSession.EbookSectionCounter < 4)
{
    // Do not refactor this code
    var tempCounter = (short)(UserSession.EbookSectionCounter + 1);
    UserSession.EbookSectionCounter = tempCounter;

    if (Model.Globals.ShowEbookSection && CookieManager.ShowEbookSection && UserSession.ShowEbookSection && tempCounter == 2 && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        <div id="nhs_eBookHeader" class="nhs_eBookHeader clearfix">
            <div class="clearfix">
                <div class="nhs_eBookText">
                    <p>
                        <strong>@LanguageHelper.FreeEBook.ToMvcHtmlString():</strong> @LanguageHelper.EBookLeyend.ToMvcHtmlString()</p>
                    @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.eBookComponent, new EBookViewModel {MarketId = Model.Globals.SdcMarketId})
                </div>
                <div class="nhs_eBookImg">
                    <img src="@GlobalResources14.NewHomeSource.images.ebook.ipad_iphone_png" alt="@LanguageHelper.NewHome101" />
                </div>
                <div class="nhs_eBookLogos">
                    <p>@Html.NhsLink(LanguageHelper.EBookMoreAbout + "<br />" + LanguageHelper.EBookAboutEbook + " >", Pages.eBook)</p>
                    <img src="@GlobalResources14.NewHomeSource.images.ebook.logos_dk_png" alt="eReader logos" />
                </div>
                <a class="close_x" id="nhs_ebookCloseMenu">X</a>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery.ajax({
                        url: '@Html.GetActionUrl(NhsMvc.EBook.Name, NhsMvc.EBook.ActionNames.ChangeEBookState)',
                        success: function(data) {

                        }
                    });

                    jQuery("#nhs_ebookCloseMenu").click(function() {
                        jQuery.ajax({
                            url: '@Html.GetActionUrl(NhsMvc.EBook.Name, NhsMvc.EBook.ActionNames.NotShowMore)',
                            cache: false,
                            success: function(data) {
                                if (data) {
                                    jQuery.googlepush('Site Links', 'eBook Top Box', 'Close');
                                    jQuery('#nhs_eBookHeader').remove();
                                }
                            },
                            error: function(error) {

                            }
                        });
                    });
                });
            </script>
        </div>
    }
}
