﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@if (Model.Globals.ShowEbookSection)
{ 
    <div id="nhs_eBookHomepage" class="nhs_eBookHeader clearfix">
        <div class="clearfix">
            <div class="nhs_eBookText">
                <p>
                   <strong>@LanguageHelper.FreeEBook.ToMvcHtmlString():</strong> @LanguageHelper.EBookLeyend.ToMvcHtmlString()</p>
                @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.eBookComponent, new EBookViewModel {MarketId = Model.Globals.SdcMarketId})
            </div>
            <div class="nhs_eBookImg">
                <img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.ipad_iphone_png" alt="@LanguageHelper.NewHome101" />
            </div>
            <div class="nhs_eBookLogos">
                <p>@Html.NhsLink(LanguageHelper.EBookMoreAboutTheBook, Pages.eBook)</p>
                <img src="@Resources.GlobalResources14.NewHomeSource.images.ebook.logos_lt_png" alt="eReader logos" />
            </div>
        </div>
    </div>
}