﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.EBookViewModel

<div id="nhs_eBookForm">    
    <p class="nhs_eBookFields">
        <label for="Email" class="visuallyhidden">Email:</label>
        <input type="text" name="email" class="nhs_eBookEmail" placeholder="@LanguageHelper.EBookEmailAddress" />
        @*<input type="button" class="btn_eBookSend btnCss"  value=@(string.IsNullOrEmpty(@Model.ButtonText) ? "Get the book" : @Model.ButtonText)/>*@
        <input type="button" class="btn_eBookSend btnCss"  value="@(string.IsNullOrEmpty(@Model.ButtonText) ? LanguageHelper.EBookButton : @Model.ButtonText)"/>
    </p>
    <p class="nhs_eBookPrivacy">
        @LanguageHelper.EBookPrivacy.ToMvcHtmlString()
    </p>
    <div class="nhs_EbookSignUpErrors" style="display: none"></div>
    <p class="nhs_eBookThanks" style="display:none;"><strong>@LanguageHelper.Thanks.ToMvcHtmlString()</strong> @LanguageHelper.EBookCheckEmail.ToMvcHtmlString()</p>
</div>

<script type="text/javascript" src="@GlobalResources14.Default.js.eBook.eBook_js?@Configuration.ResourceVersionNumber"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var paramters = {
            postUrl: '@Html.GetActionUrl(NhsMvc.EBook.Name, NhsMvc.EBook.ActionNames.EBookRegister)',
            popUrl: '@Html.GetActionUrl(NhsMvc.EBook.Name, NhsMvc.EBook.ActionNames.ShowEbookModal)',
            marketId: @Model.MarketId,
            IsMobile: @NhsRoute.IsMobileDevice.ToString().ToLower(),
            ErrorMessage: "@LanguageHelper.EbookErrorMessage.ToMvcHtmlString()"
        };
        var eBook = new NHS.Scripts.eBook(paramters);
        eBook.init();
    });
</script>