﻿@using Nhs.Mvc.Domain.Model.Web
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
<div id="nhs_floorPlanSection" @(!Model.HasOptions ? "style=display:none":"")>
    <section>
        <div id="floorPlan" class="nhs_floorPlanSection">
            <div class="nhs_FloorPlanTitle">
                <p class="title">@LanguageHelper.FloorPlan.ToMvcHtmlString()</p>
                @if (Model.HasOptions)
                {
                    <div class="optionBox">
                        <div class="optionBoxTop"></div>
                        <div class="optionBoxCenter">
                            <fieldset>
                                <div class="options"><p><span class="optionTitle">@LanguageHelper.Options.ToMvcHtmlString()</span> <span class="greyHighlight">@LanguageHelper.MayVaryContactBuilderForDetails.ToMvcHtmlString()</span></p></div>
                                <div class="totalPrice"><p><strong>@LanguageHelper.PriceWithOptions.ToMvcHtmlString():</strong>&nbsp;<span id="spnTotalOptionPrice"></span></p></div>
                                <div class="nhs_Clear"></div>
                                <ol>
                                    @foreach (HomeOption option in Model.HomeOptions)
                                    {
                                        <li>
                                            <input class="nhs_FloorPlanOptions" type="checkbox" value="@option.Price" />
                                            <strong>
                                                @option.OptionName
                                            </strong>&nbsp;(@option.Price.FormatPrice())
                                        </li>
                                    }
                                </ol>
                            </fieldset>
                        </div>
                        <div class="optionBoxBottom"></div>
                    </div>
                }
            </div>
            <div id="nhs_FloorPlan"></div>
        </div>
    </section>
    <div class="nhs_BackToTop">
        <a href="#top">
           @LanguageHelper.BackToTop.ToMvcHtmlString()
        </a>
    </div>
</div>