﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@using Nhs.Search.Objects
@using System.Web.Mvc.Html 
@using Nhs.Search.Objects.Constants 
@using Nhs.Search.Objects.Constants 
@using Nhs.Web.UI.AppCode.Extensions 
@using Nhs.Library.Common
@using Nhs.Library.Constants.Route 
@using Nhs.Library.Extensions
@using Nhs.Web.UI.AppCode.Extensions 
using Nhs.Web.UI.AppCode.Extensions 
@using Nhs.Web.UI.AppCode.HtmlHelpers 
@using StructureMap.Query
@using Nhs.Mvc.Biz.Services.Concrete 
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper


<div id="nhs_DetailsHeader">
    <div class="nhs_DetailsHeaderTitleCity">
        <h1 class="nhs_DetailsHeaderTitle">
            @Model.Globals.H1
        </h1>
        <div id="nhs_FbLike">
            @Html.FbLike()
        </div>
    </div>
</div>
<div id="nhs_DetailsDescription">
    <div id="nhs_DetailsBuilderLogoAndPrice">
        <div class="nhs_DetailsHeaderAreaCommWrapper">
            <p>
                <span class="nhs_DetailsHeaderCommunity">
                    @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail())
                </span>
            </p>
            <p>
                <span class="nhs_DetailsHeaderArea">
                    @(Model.CommunityCity + ", " + Model.State + " " + Model.ZipCode)
                </span>
            </p>
        </div>
        @if (Model.ShowBuilderLogo() && Model.IsBilled)
        {
        <div class="nhs_DetailsFormLogo">
            @Html.RenderBuilderLogoLink(Model, false)
        </div>
        
        }
        @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber))
        {
        if (!NhsRoute.IsMobileDevice)
        {
        if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>
            () && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                { 
                <span id="nhs_LnkPhoneNumHeader" class="officeHours">
                    <a href="#" id="nhs_PhoneNumHeaderLink">
                        Reveal phone number and office hours
                    </a>
                </span>
                <p id="nhs_FormPhoneHeader" style="display: none;" title="@Html.Raw(Model.PhoneNumber + " " + Model.HoursOfOperation())">
                    <span id="@Model.CommunityId">
                        @Html.Raw(Model.PhoneNumber) 
                    </span>
                    @Html.Raw(Model.HoursOfOperation()) 
                </p>
                 }
                else
                { 
                <p id="nhs_FormPhoneHeader" title="@Html.Raw(Model.TrackingPhoneNumber + " " + Model.HoursOfOperation())">
                    <span id="@Model.CommunityId">
                        @Html.Raw(Model.TrackingPhoneNumber) 
                    </span>
                    @Html.Raw(Model.HoursOfOperation()) 
                </p>
                 }
                }
                else
                { 
                <p id="nhs_FormPhoneHeader" title="@Html.Raw(Model.PhoneNumber + " " + Model.HoursOfOperation()) ">
                    <a href="tel:: Model.PhoneNumber " onclick="@(string.Format(" $jq.googlepush('lead events','{0} – gallery' , 'Phone Call' ); jquery.setdatalayerpair('callsplaced');", Model.IsPageCommDetail ? "Community" : "Home"))">
                        <span id="Span1">
                            @Html.Raw(Model.PhoneNumber)
                        </span>
                    </a>
                    @Html.Raw(Model.HoursOfOperation()) 
                </p>
                 } 
                } 
    </div>
    <div id="nhs_DetailsHeaderWrapper">
        <div id="nhs_HomeDetailsHeaderBrandHomesSqFt">          
            <ul>
                @Model.BasicHomeSpecs.ToMvcHtmlString()
            </ul>
        </div>
        <div id="nhs_DetailsDescriptionAreaWrapper">
            @if (Model.HomeStatus != (int)HomeStatusType.ModelHome)
            {
            <p class="nhs_DetailsPrice">
                @Model.PriceDisplay.ToMvcHtmlString()
                @if (Model.ExcludesLand)
                {
                <span class="nhs_DetailsPriceExcludesLand">(Price Excludes Land)</span>
                } 
            </p>
            } 
            <span id="nhsDetailDescriptionArea">
                @Model.DetailDescription.ChunkHomeDescription().ToMvcHtmlString()
            </span>
            @if (!string.IsNullOrEmpty(Model.DetailDescription) && Model.DetailDescription.Length > Model.GetPropertyDetailDescriptionLength())
            {
            <a id="nhs_detailDescriptionToggle" href="javascript:void(0)" class="nhs_likeALink">
                ...more
            </a><br />
            } 
            <p>
                @Html.HomeStatusImage(Model)
            </p>
        </div>
    </div>
    @if (Model.HomeMarketingDescription != "")
    {
    <p class="nhs_DetailsHomeMarketing">
        @Model.HomeMarketingDescription
    </p>
    }
     @Html.RenderPartial(NhsMvc.Default.Views.HomeDetail.HomeAnchorLinks)
</div>
<div id="nhs_DetailsStaticImage">
    <img src="@Model.FirstImage" class="nhs_DetailFirstImage" alt="" />
</div>

