﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper

@model Nhs.Web.UI.AppCode.ViewModels.HomeResultCarouselItem

<li class="nhs_GalleryCell" onclick="reload('@Html.GetHomeDetailUrl(Model.Item)');" onmouseout="jQuery(this).removeClass('nhs_GalleryCellOn');" onmouseover="jQuery(this).addClass('nhs_GalleryCellOn');">
    <div class="nhs_GalleryCellImgBox">
        @Html.NhsImageLink(Model.Item.HomeThumbnail(), RedirectionHelper.GetHomeDetailPage(Model.Item.IsSpec > 0), Model.Item.ToHomeDetail(), new { title = Model.Item.PlanName }, null)
        @if (Model.Item.ImageCount > 1)
        {
            @*<span class="nhs_GalleryImgOverlay">@Model.Item.ImageCount @(Model.Item.ImageCount == 1 ? LanguageHelper.Photo : LanguageHelper.Photos)</span>*@
            <p class="nhs_ItemCount">@Model.Item.ImageCount <span>@LanguageHelper.Photos.ToMvcHtmlString()</span></p>
        }
        @*Home Status: Ready to Build/Ready To Move in/ etc.*@
        @Model.Item.HomeStatus()
    </div>
    <div class="specs">
        <p class="propertyTitles">@Html.HomeDetailLink(Model.Item)</p>
        <div class="specsLeft">
            @if (Model.Item.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
            {
                <p class="price specsLeft">@(Model.Item.Price.ToType<int>().FormatPrice(Model.Item.HomeId))</p>
            }
            <p class="squareFootage specsLeft">@Model.Item.FormatSquareFootage()</p>
            <p class="BedBath specsLeft">
                @Model.Item.FormatBedrooms()
                @Model.Item.FormatBathrooms()
                @Model.Item.FormatGarages()
            </p>
        </div>
        <div class="specsRight"> 
            @*@if (Model.Item.ImageCount > 0)
            {
                <p class="media_icon">@Model.Item.ImageCount  @(Model.Item.ImageCount > 1 ? LanguageHelper.Photos : LanguageHelper.Photo)</p>
            }*@
            @*Hot home*@
            @if (Model.Item.IsHotHome == 1 && NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
            {
                <span class="nhs_DetailHotHomeIcon"></span>
            }
            @if (Model.Item.VirtualTourExists())
            {
                <p class="vitual_tour_icon">@LanguageHelper.VirtualTour.ToMvcHtmlString()</p>
            }
            @if (Model.Item.FloorPlanExists())
            {
                <p class="floor_plan_icon">@LanguageHelper.FloorPlan.ToMvcHtmlString()</p>
            }
        </div>
        @*Home Status: Ready to Build/Ready To Move in/ etc.*@
        @*@Model.Item.HomeStatus()*@
    </div>
</li>
