﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model HomeDetailViewModel
<script type="text/javascript">
    function reload(url) {
        window.location.href = url;
    }
</script>

@if(Model.SimilarHomesApi.Count > 1) {
<section id="SimilarHomePlans">
    <div class="nhs_SimilarHomePlanSection clearfix">
        <div class="nhs_HomeDetailSection">
            <h3 class="nhs_DetailSectionTitle">
                @LanguageHelper.SimilarHomePlans.ToMvcHtmlString() @Model.CommunityName 
            </h3>
            <span class="nhs_homesAvailables">
                <span class="nhs_homesAvailablesLeft"></span>
                <span class="nhs_homesAvailablesCenter"><p>@Html.SeeAllHomesAvailableLink(Model)</p></span>
                <span class="nhs_homesAvailablesRight"></span>
            </span>
        </div>
    
        <div class="nhs_DetailContent">
            <div id="nhs_SimilarHomePlanCarousel"> 
                @if (Model.SimilarHomesApi.Count > 4) {
                    <a class="nhs_SimilarHomePlanCarouselPrev">@LanguageHelper.Previous.ToMvcHtmlString()</a>
                    
                }               
                <div class="nhs_SimilarHomePlanCarousel">
                    <ul>
                        @foreach(var item in Model.SimilarHomesApi) {
                            @Html.Partial(NhsMvc.Default.Views.HomeDetail.HomeCarouselItem, new HomeResultCarouselItem(item, Model.MarketId, Model.PreviewMode, Model.BcType)) 
                        } 
                    </ul> 
                @if (Model.SimilarHomesApi.Count > 4) {
                    <a class="nhs_SimilarHomePlanCarouselNext">@LanguageHelper.Next.ToMvcHtmlString()</a>
                }               
                </div>
            </div> 
        </div>
    </div>
</section>
<div class="nhs_BackToTop">
    <a href="#top">
      @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
} 


