﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel

<div id="nhs_DetailsHeader">
    <div class="nhs_DetailsHeaderTitleCity">

        <h1 class="nhs_DetailsHeaderTitle">
            @Model.Globals.H1.ToMvcHtmlString() @LanguageHelper.At.ToMvcHtmlString() @Model.CommunityName
        </h1>
        @if (!Model.PreviewMode)
        {
            <div id="nhs_FbLike"><fb:like send="false" layout="button_count" width="90" show_faces="false" ref=""></fb:like></div>
        }
        @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
            <div class="nhs_DetailsHeaderBcTypeBannerHome">@Html.HomeStatusImageBcTypeComing(Model, true)</div>
        }
    </div>
    @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower())
    {
        @Html.HomeStatusImageBcTypeComing(Model, false)
        if (!string.IsNullOrEmpty(Html.HomeStatusImageBcTypeComing(Model).ToString()))
        {
            <br />
        }
    }
    <h2 class="nhs_DetailsHeaderBuilderName">@Model.FormatBrandName()</h2>
    <h2 class="nhs_DetailsHeaderSubTitle">@Model.CommunityCity, @Model.State</h2>

    @if (Model.HasCoop)
    {
        <img src="@GlobalResourcesMvc.Pro.images.icons.icon_coop_png"
             alt="@LanguageHelper.ConfirmedCoOp" />
    }
</div>
<div class="nhs_DetailsToolBar">
    <div class="clearfix">
        <ul>
            @if ((!Model.IsBasicCommunity && !Model.IsCommunityResults) && RouteParams.FWIV.Value<bool>())
            {
                <li>
                    <a class="nhs_MediaPlayerMaximize">
                        @LanguageHelper.Photos.ToMvcHtmlString()
                    </a>
                </li>
            }
            <li>
                <a href="#SchoolsAndAmenities">
                    @LanguageHelper.CommunityInformation.ToMvcHtmlString()
                </a>
            </li>
            @*<li>
                    <a href="#SchoolsAndAmenities">
                        @(NhsRoute.PartnerId == (int) PartnersConst.Move ? "Schools & local features" : "Schools & amenities")
                    </a>
                </li>*@
            <li>
                <a href="#Maps">@LanguageHelper.MapAndDirections.ToMvcHtmlString()</a>
            </li>
            <li @((string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? "style=display:none" : "")>
                <a href="#Contact">
                    @LanguageHelper.Contact.ToMvcHtmlString()
                </a>
            </li>
        </ul>@if (!string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase))
        {
            if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser && Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
            <span class="nhs_LockIcon"></span>
            }
            @Html.GetFreeBrochureLink(Model, "jQuery.googlepush('Lead Events','Home - CTA ToolBar','Open Form - Free Brochure ToolBar');", "btnCss")
        }
    </div>
    <input type="hidden" id="nhs_ShowToolbar" class="visuallyhidden" value="false" />
</div>