﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel

@using Nhs.Search.Objects
@using System.Web.Mvc.Html
@using Nhs.Search.Objects.Constants
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Common
@using Nhs.Library.Constants.Route
@using Nhs.Library.Extensions
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using StructureMap.Query
@using Nhs.Mvc.Biz.Services.Concrete
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper

<div id="nhs_DetailsDescription">
    <div id="nhs_HomeDetailsHeaderBrandHomesSqFt">
        <ul>
            @Model.BasicHomeSpecs.ToMvcHtmlString()
        </ul>
    </div>
    <div id="nhs_DetailsDescriptionAreaWrapper">
        @if (Model.HomeStatus != (int)HomeStatusType.ModelHome)
        {
            <p class="nhs_DetailsPrice">
                @Model.PriceDisplay.ToMvcHtmlString()
                @if (Model.ExcludesLand)
                {
                    <span class="nhs_DetailsPriceExcludesLand">(@LanguageHelper.PriceExcludesLand.ToMvcHtmlString())</span>
                }
            </p>
        }
        <span id="nhsDetailDescriptionArea">
            @Model.DetailDescription.ChunkHomeDescription().ToMvcHtmlString()
        </span>
        @if (!string.IsNullOrEmpty(Model.DetailDescription) && Model.DetailDescription.Length > Model.GetPropertyDetailDescriptionLength())
        {
            <a id="nhs_detailDescriptionToggle" href="javascript:void(0)" class="nhs_likeALink">...@LanguageHelper.More.ToMvcHtmlString()</a><br />
        }
        <p>
            @Html.HomeStatusImage(Model)
        </p>
    </div>

    @if (Model.HomeMarketingDescription != "")
    {
        <p class="nhs_DetailsHomeMarketing">
            @Model.HomeMarketingDescription
        </p>
    }
</div>
