﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
<div id="nhs_AdColumn" class="clearfix">
        @if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
             || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
             || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
        {
            <div class="clearfix">
            <div id="nhs_RightTopSky"></div>
            <div class="clearfix"></div>
                @{
                    Html.RenderPartial(NhsMvc.Default.Views.Newsletter.PartialSmallSignUp, new Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel()
                    {
                        MarketId = Model.CurrentMarketId,
                        MarketName = Model.CurrentMarketName,
                        IsSmallSignUpRequest = true,
                        PartnerName = Model.Globals.PartnerInfo.PartnerName,
                        PartnerSiteUrl = Model.Globals.PartnerSiteUrl
                    });
                }
                
            <div class="clearfix" ></div>
            <div id = "nhs_RightBottomSky" ></div>
            </div>

        }
        else
        {
            <div class="clearfix" >           
            <!-- Ad Slot 3 -->
                <div id="divPartnerAd">
                    @Model.Globals.Shell.AdSkyscraperHtml.ToMvcHtmlString()
                </div>
            </div> 
        }
</div>
