﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel

@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()

}
@section cphHead {
  @ResourceCombinerEnum.NEWMEDIAPLAYERCSS.GetCrunchedResource()
}
<div class="nhs_Content nhs_WiderFunnelA" id="nhs_HomeDetailv2">

    @if (Model.Plan == null)
    {
        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty)
    }
    else
    {

        if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled && !Model.PreviewMode)
        {
            Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
        }

        @Html.Partial(NhsMvc.Default.Views.HomeDetail.HomeTitle)

        <div id="nhs_DetailsMediaForm">
            <div class="nhs_DetailsRight">
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.MediaGallery)
                @Html.Partial(NhsMvc.Default.Views.HomeDetail.HomeDescription)
                <div class="nhs_Clear"></div>
            </div>

            <div class="nhs_DetailsLeft">
                <div class="nhs_DetailsForm">
                    <div class="nhs_DetailsFormWrapper">
                        @Html.Partial(NhsMvc.Default.Views.Common.LeadForm.LeadFormContainer)
                        <p id="nhs_DetailsFormPriv">@LanguageHelper.SeeOur.ToMvcHtmlString() @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" })</p>
                    </div>
                    @if (Model.PreviewMode)
                    {
                        <div class="nhs_DetailsFormOverlay"></div>
                    }


                </div>

                <div id="nhs_DetailsFormInfoActions">
                    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyBuilderLogo)
                    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyInfoAndNextSteps)
                </div>
            </div>
            @Html.Partial(NhsMvc.Default.Views.HomeDetail.HomeAnchorLinks)
        </div>

        <div id="nhs_DetailsMain">
            @*Promotions*@
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.Promotions)
            @Html.Partial(NhsMvc.Default.Views.HomeDetail.FloorPlanArea)
            @Html.Partial(NhsMvc.Default.Views.HomeDetail.CrossMarketingSection)
            @Html.Partial(NhsMvc.Default.Views.HomeDetail.HomeCarousel)

            @*Secondary Info *@
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.SecondaryInfo)
            @*Map also has More new homes nearby section *@
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyMap)

            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.NextSteps)
        </div>
    }  @*Inactive home check ends*@

    @Html.Partial(NhsMvc.Default.Views.HomeDetail.RenderAdsSection, Model)

    <div class="nhs_Clear"></div>

    @*Copyright Text*@
    @Html.Partial(NhsMvc.Default.Views.Common.Disclaimer)
</div>

<div id="nhs_Loading">
    @*<img alt="loading bar" src="<%=Resources.GlobalResourcesMvc.Default.images.loading_bar_gif%>" />*@
    <p>
        <strong>Loading...</strong>
    </p>
</div>

@section cphFooter {
  @ResourceCombinerEnum.NEWMEDIAPLAYERJS.GetCrunchedResource()
  @ResourceCombinerEnum.HOMEDETAILJS.GetCrunchedResource()
    <script type="text/javascript">
        $jq(document).ready(function () {
            jQuery.SetDataLayerPair('siteHomePV');
        });
    </script>

    @Html.Partial(NhsMvc.Default.Views.HomeDetail.Javascript, Model)

}

