﻿
@model Nhs.Web.UI.AppCode.ViewModels.Coop.PartnershipPactViewModel

@{
    Layout = "~/MasterPages/Mvc/_NhsEmpty.cshtml";
}

@*@Html.Partial(NhsMvc.PartialViews.Views.Common.CdnTop)
@Html.GetCrunchedResource("nhspro7BlankIframePages")
*@

@HtmlGoogleHelper.GetGtmDataLayerScript()

<div id="pro_CoopPrintContent" class="nhs_Content">
    @Html.NhsImage(Model.Info.LogoUrlMed, Model.Info.BuilderName, true)   

    <a class="btn nhs_PrintBtn" href="#" onclick="jQuery.googlepush('Outbound Links', 'Builder Agent Partnership', 'print');window.print();">Print</a>
    <span class="nhs_Clear"></span>

    <div>
        @Html.Raw(Model.Info.PartnershipPactHtml)
    </div>

    <p class="pro_CoopPrintFooter">Viewed on New Home Source Professional, @DateTime.Now.ToString("MM/dd/yyyy")</p>
</div>

<style>
    .nhs_Content {
        width: 96%;
        max-width: 800px; 
        padding: 12px 2% 12px 2%;
    }
    #pro_CoopPrintContent > img {
        float: left;
        max-width: 200px;
        margin-bottom: 8px;    
    }
    #pro_CoopPrintContent > .nhs_PrintBtn {
        float: right;
        width: auto;  
        padding: 4px 8px 4px 28px;
        background-image: url('@Resources.GlobalResourcesMvc.Default.images.icons.print_white_png');
        background-repeat: no-repeat;
        background-position: 8px 50%;
        font-size: 14px;
        font-weight: bold;
    }
    #pro_CoopPrintContent p {
        margin: 1em 0;
    }
    #pro_CoopPrintContent ul {
        padding-left: 15px;
    }
    #pro_CoopPrintContent .pro_CoopPrintFooter {        
        color: #000; 
        font-weight: bold;
        margin-top: 30px;  
    }    

    @@media print {
        #pro_CoopPrintContent > .nhs_PrintBtn {
            display: none;
        }
    }
</style>