﻿@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@foreach (var homes in Model.HomesAvailable)
{
    foreach (var page in homes.HomeResultPages)
    {
        <div class="page">
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
            <div class="home–info">
                @Html.Partial(NhsMvc.Default.Views.PdfBrochure.HomesAvailable.Title, homes)
                @foreach (var result in page)
                {
                    <div class="content">
                        <div class="thumb">
                            @Html.NhsImageLink(result.HomeThumbnail(), RedirectionHelper.GetHomeDetailPage(Model.SpecId > 0), result.ToHomeDetail(homes), null, new {@alt = string.Format("{0}{1}: {2}, {3} - {4}", ((string.IsNullOrEmpty(result.PlanName)) ? string.Empty : result.PlanName + " - "), result.CommName, result.City, result.State, result.Brand.Name).Trim()}, false)
                        </div>
                        <div class="columns">
                            <div class="bl-grey">
                                <div class="min-height">
                                    @if (homes.IsReadyToBuild)
                                    {
                                        <ul class="ReadyToBuild">
                                            <li>
                                                @Html.NhsLink(result.PlanName, RedirectionHelper.GetHomeDetailPage(Model.SpecId > 0),
                                                    result.ToHomeDetail(homes), new
                                                    {
                                                        title = string.Format("{0} - {1} {2} {3}, {4} {5}", result.PlanName, result.Addr, "", result.City, result.State, result.Zip),
                                                        onclick = "return false;"
                                                    })
                                            </li>
                                            <li>@Html.Partial(NhsMvc.Default.Views.PdfBrochure.HomesAvailable.Configuration, result)</li>
                                            <li>@MvcHtmlString.Create(result.Price.ToType<decimal>().FormatPrice())</li>
                                        </ul>

                                    }
                                    else
                                    {
                                        <ul>
                                            <li>
                                                @if (string.IsNullOrEmpty(result.Addr))
                                                {
                                                    <div style="width: 82px">
                                                        &nbsp;</div>
                                                }
                                                else
                                                {
                                                    @MvcHtmlString.Create(result.Addr)
                                                }
                                            </li>
                                            <li>@Html.Partial(NhsMvc.Default.Views.PdfBrochure.HomesAvailable.Configuration, result)</li>
                                            <li>@Html.NhsLink(result.PlanName, RedirectionHelper.GetHomeDetailPage(Model.SpecId > 0),
                                                    result.ToHomeDetail(homes), new
                                                    {
                                                        title = string.Format("{0} - {1} {2} {3}, {4} {5}", result.PlanName, result.Addr, "", result.City, result.State, result.Zip),
                                                        onclick = "return false;"
                                                    })
                                            </li>
                                            <li>@MvcHtmlString.Create(result.Price.ToType<decimal>().FormatPrice())</li>
                                        </ul>
                                        if (result.IsHotHome == 1)
                                        {
                                            <div class="hot-homes">
                                                <div class="bl-white">
                                                    <img src="@GlobalResourcesMvc.Default.images.pdfBrochure.icons.star_gif" width="10" alt=""/>
                                                    @LanguageHelper.HotHome.ToMvcHtmlString()
                                                    <img src="@GlobalResourcesMvc.Default.images.pdfBrochure.icons.star_gif" width="10" alt=""/>
                                                    @LanguageHelper.BestPriceForSquareFootInCommunity.ToMvcHtmlString()
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                        }

                                        if (homes.IsUnderConstruction && !string.IsNullOrEmpty(result.MoveInDate))
                                        {
                                            <p>
                                                <span class="available">@MvcHtmlString.Create(LanguageHelper.Available + " " + result.MoveInDate.ToType<DateTime>().ToString("D"))</span></p>
                                        }
                                    }
                                    <div class="clr">
                                    </div>
                                </div>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    }
}
