﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomesAvailable
<div class="title">
    <div class="bl-blue">
        <h3>@Model.GetTittle</h3>
        @if (Model.IsReadyToBuild)
        {
            <ul class="titles titles2">
                <li>@LanguageHelper.PlanName.ToMvcHtmlString()</li>
                <li>@LanguageHelper.Configuration.ToMvcHtmlString()</li>
                <li>@LanguageHelper.PricedFrom.ToMvcHtmlString()</li>
            </ul>
        }
        else
        {
            <ul class="titles">
                <li>@LanguageHelper.Address.ToMvcHtmlString()</li>
                <li>@LanguageHelper.Configuration.ToMvcHtmlString()</li>
                <li>@LanguageHelper.PlanName.ToMvcHtmlString()</li>
                <li>@LanguageHelper.Price.ToMvcHtmlString()</li>
            </ul>
        } 
    </div>
    <div class="clr"></div>
</div>
