﻿<div id="pro_eastbaytermsofservice">
    <p>
        This service from EBRDI, CCAR and Bay East provides a searchable database of new
        construction inventory that includes community, plan and spec home information.
        It also provides tools to help you communicate with builders and share information
        with your buyers. (Note that your buyer's information is NEVER shared with a builder.)
    </p>
    <p>
        As part of this service, you can opt to receive a weekly email with information
        about quick move-in homes that just hit the market, new home communities that are
        opening soon, available promotions (aka incentives) from builders, and special builder
        events for agents. It is designed to give you first notice about changes in new
        home inventory. Click the button below to receive the updates. You can opt-out at
        any time.
    </p>
    <form id="pro_TermsFormId" action="@Html.GetActionUrl(NhsMvc.Sso.Name, NhsMvc.Sso.ActionNames.CreateAccountFromSsoCredentials)" method="GET">
        @Html.Hidden("subcribeNewsLetter", null)
        <input id="pro_mredAcceptTerms" type="button" value="Subscribe" class="btn" />
        <a id="pro_mredDeclineTerms" href="javascript:void(0);" class="decline">No Thanks</a>
    </form>
   
</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        jQuery('a#pro_mredDeclineTerms').on('click', function () {
            jQuery.googlepush('EastBay Events', 'Modal-No Thanks', 'EastBay Terms of Service - I Decline');
            jQuery('#subcribeNewsLetter').val(false);
            jQuery('form#pro_TermsFormId').submit();
        });

        jQuery('input#pro_mredAcceptTerms').on('click',function() {
            jQuery.googlepush('EastBay Events', 'Modal-Subscribe', 'EastBay Terms of Service - Subscribe');
            jQuery('#subcribeNewsLetter').val(true);
            jQuery('form#pro_TermsFormId').submit();
        });

    });        
</script>
