.nhs_IndexSearch {
	background: transparent;
}
.nhs_IndexSearchForm > .nhs_IndexSearchLocation {
    background: rgba(0,74,124,1);   
}
.nhs_IndexSearchForm h1 {
	color: #f58220;
}
.nhs_IndexSearchForm a,
.nhs_IndexSearchForm a:link {
    color: #f58220;    
}
.nhs_IndexSearchForm input[type=submit] { 
    background: #f58220;
}
