
.nhs_WideColorBg {
    min-width: 0 !important;
    width:100%;
    background-color:#fff; 
}

#nhs_TvHomeFooter {
    padding: 0; 
    background-color:#fff;    
}

#nhs_TvMarketFooter {
    padding: 0;  
}
#nhs_TvMarketFooter > div:first-child {
    margin: 0 auto;    
}
#nhs_TvMarketFooter > div:first-child > p {
    margin-top: 20px;    
}

#nhs_TvMarketSignUpSmall 
{
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    float: left;
    width: 30%;
    max-width: 290px;    
    min-height: 150px;
    padding: 20px;
    background: #eee;
    margin-left: 6%;
}
#nhs_TvMarketSignUpSmall ul 
{
    margin: 18px 0 10px 26px;
    line-height: 30px;
    color:#0091da;
}
#nhs_TvMarketSignUpSmall p 
{
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
    color: #7d7d7d;    
}

.nhs_PoweredBy {
    padding-top: 5px;
    height: 65px;    
}

#nhs_TvMarketFeaturedSlides {
    height: 322px; 
}
.nhs_TvVideoItem {
    border: 1px solid #bababa;  
    max-width: 306px;   
}
.nhs_TvPromoItem {
    border: 1px solid #bababa;  
    max-width: 306px;   
}
.nhs_TvFeaturedItem {
    border: 1px solid #eee;     
}
#nhs_TvSponsors > ul li {
    border: 1px solid #bababa; 
    max-width: 228px;   
}

#nhs_TvFeaturedHomes ul.slidesjs-pagination li a,
#nhs_TvMarketSlides ul.slidesjs-pagination li a,
#nhs_TvSegments ul.slidesjs-pagination li a,
#nhs_TvMarketPromos ul.slidesjs-pagination li a {
    background: #eee !important;
}