/* ---------------------------------------------
Title:      NewHomeSource.com Account Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Aug 4 2008 
----------------------------------------------- */

#nhsCreateAlert {
	margin: 0;
	width: 680px;
	}

.nhsContent p.nhsRequired {
	margin-top: 1.25em; 
	margin-bottom: 1em;
	margin-left: 10px;
	}

/* =Login */
.nhsLoginForm {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	text-align: right;
	border: 0px solid #000;	
	}
.nhsLoginForm fieldset input,
.nhsRecoverForm fieldset input {
	width: 18em;
	}
.nhsLoginReg {
	float: left;
	width: 230px;
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid #7095ba;
	}
	
/* =Recover */
.nhsRecoverForm {
	float: left;
	clear: both;
	width: 100%;
	}
.nhsRecoverForm fieldset {
	float: left;
	width: 25em;
	margin: 0;
	padding: 0;
	}
.nhsRecoverForm p {
	float: left;
	}
.nhsRecoverForm .btnSend {
	float: left;
	}
	
/* =Register / Request */
#nhsRequestInfo {
	background: #fff url(/globalresources/default/images/backgrounds/bg_request_box.gif) repeat-x 0 -10px;
	}
#nhsRequestInfo .nhsRequestUser p {
	margin: 8px 10px 0 0;
	color: #24619e;
	font-weight: bold;
	text-align: right;
	}
#nhsRequestInfo h2 {
	padding-left: 16px;
	font-size: 160%;
	}
#nhsReg h2 {
	font-size: 160%;
	}
	
/* Request Listing Info */
.nhsRequestHomeListing,	
.nhsRequestCommunityListing {
	float: right;
	padding: 0 10px 12px 50px;
	width: 530px;
	}
.nhsRequestHomeListing .nhsResultsThumb,
.nhsRequestCommunityListing .nhsResultsThumb {
	margin-right: 8px;
	}
.nhsRequestHomeListing h3,	
.nhsRequestCommunityListing h3 {
	margin: 0 0 .15em 90px;
	padding: 0;
	color: #24619e;	
	}
.nhsRequestHomeListing p,	
.nhsRequestCommunityListing p {
	margin: 0 0 .15em 90px;
	padding: 0;
	}
.nhsRequestBldrLogo {
	float: right;
	padding: 3px;
	background: #fff;
	}

/* Request Error Text */
.nhsReqErrorArea {
	float: left;
	width: 505px;
	padding-left: 85px;
	background: url(/globalresources/default/images/error_sign.gif) no-repeat 50px 6px;
	}	
.nhsReqError {
	color: #f00;
	color: #c33;
	font-weight: bold;
	font-size: 110%;
	}
p.nhsReqError {
	font-size: 100%;
	}
span.nhsReqError {
	display: block;
	padding-left: 145px;
	}
.nhsReqErrorInput {
	border: 3px solid #c33;
	}
.nhsContent .nhsReqErrorList,
.nhsReqErrorList {
	font-weight: bold;
	color: #f00;
	color: #c33;
	list-style-image: none;
	list-style-type: disc;
	margin-left: 6px;
	}
	
#nhsRequestInfo legend {
	display: block;
	}
.nhsRequestMarketing {
	float: left;
	padding: 8px 0 0 8px;
	width: 200px;	
	}
.nhsRequestMarketing p {
	font-size: 130%;
	font-weight: bold;
	}
.nhsRequestMarketing ul {
	color: #24619e;
	font-size: 100%;
	list-style-image: none;
	list-style-type: disc;	
	}
	
.nhsRegNameBox {
	float: left;
	width: 395px;
	margin: 0;
	padding: 0;
	}
.nhsRequestNameBox {
	float: right;
	width: 590px;
	text-align: left;
	display: inline;
	border: 0px solid;
	}
#nhsRequestContactInfo {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_contact.gif) no-repeat 0 0;	
	}
#nhsRequestQuestionsHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 162px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_homeneeds.gif) no-repeat 0 0;	
	}
.nhsRequestNameBox .nhsRequestRequired,
.nhsRequestQuestions .nhsRequestRequired {
	float: right;
	margin: 0;
	padding: 4px 0 0 0;
	width: 400px;
	height: 26px;
	}
#nhsManageAccount .nhsRequestNameBox {
	float: left;
	margin-left: 40px;
	text-align: left;
	display: inline;
	width: 395px;
	border: 0px;
	}
.nhsRegNameBox label,
.nhsRegLogin label,
#nhsRegMatchCrit label,
.nhsRequestNameBox label,
.nhsRequestLogin label,
#nhsRequestBldrPref label {
	display: block;
	float: left;
	width: 150px;
	margin: 0 4px 0 0;
	text-align: right;
	}
	
#nhsRegMatchCrit label {
	width: 155px;
	}
.nhsRegNameBox label {
	width: 160px;
	}
.nhsRequestNameBox label {
	width: 140px;
	}
.nhsRequestNameBox label.nhsRequestExt,
.nhsRequestNameBox label.nhsRequestState,
.nhsRequestNameBox label.nhsRequestZip,
.nhsRequestNameBox label.nhsRequestPhone {
	display: inline;
	float: none;
	margin-left: 5px;
	}
.nhsRegNameBox input,
.nhsRequestNameBox input {
	width: 190px;
	}
	
.nhsRequestNameBox input.nhsReqEmail {
	width: 230px;
	}
.nhsRequestNameBox .nhsRequestSaveInfo input {
	display: inline;
	width: auto;
	float: none;
	margin-left: 122px;
	}
.nhsRequestNameBox .nhsRequestSaveInfo label {
	display: inline;
	width: auto;
	float: none;
	}
.nhsRequestNameBox input.nhsRequestExtTxt {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestStateDrop {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestZipTxt {
	width: 50px;
	}
.nhsRequestNameBox input.nhsRequestCityEdit {
	width: 135px;
	}
.nhsRequestNameBox input.nhsRequestPhoneEdit {
	width: 150px;
	}
	
.nhsRequestQuestions {
	float: right;
	width: 590px;
	text-align: left;
	display: inline;
	border: 0px solid;
	}
.nhsRequestQuestions p {
	display: block;
	float: left;
	width: 590px;
	}
.nhsRequestQuestions label {
	display: block;
	float: left;
	width: 250px;
	margin: 0 4px 0 0;
	text-align: right;
	}
.nhsRequestQuestions .nhsRequestComments {
	display: block;
	float: left;
	width: 140px;
	margin-right: 4px;
	text-align: right;
	}
.nhsRequestQuestions .nhsRequestComments label {
	display: block;
	float: none;
	margin: 0;
	width: 140px;
	}
	
/* Realtor Questions */
.nhsRequestRealtorQuestions {
	float: left;
	width: 760px;
	margin: 0 0 20px 40px;
	text-align: left;
	display: inline;
	}
.nhsRequestRealtorQuestions p {
	display: block;
	float: left;
	width: 700px;
	}
.nhsRealtorAgentLabel {
	margin-left: 20px;
	}
	
.nhsContent textarea.nhsRequestCommentBox {
	float: left;
	margin-left: 145px;
	padding: 0;
	width: 380px;
	}
.nhsRequestLegalSubmit {
	clear: right;
	float: right;
	width: 590px;
	display: inline;
	}
#nhsRequestSubmitHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_finish.gif) no-repeat 0 0;		
	}
#nhsRequestInfo .btnSubmit {
	float: right;
	margin-bottom: 20px;
	}
	
/* =Register / Create Account */
#nhsReg fieldset {
	margin: 0;
	padding: 0;
	}
.nhsRegInfo {
	float: left;
	width: 510px;
	border: 0px solid;
	}
.nhsRegInfo ul {
	list-style-image: none;
	list-style-type: disc;
	font-weight: bold;	
	}
.nhsRegLoginLnk {
	float: right;
	width: 180px;
	margin: 2px 88px 0 0;
	padding: 6px 10px;
	background: #fff;
	border: 1px solid #ccc;
	display: inline;
	text-align: center;
	}
#nhsRequestInfo .btnGetMyBrochure {
	float: right;
	margin-bottom: 20px;
	}
.nhsRequestLegalSubmit .nhsLegalText {
	position: relative;
	float: right;
	clear: both;
	width: 400px;
	}
.nhsRegContactLabel {
	float: left;
	clear: both;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;	
	}
.nhsRegContactInfo {
	float: left;
	display: block;
	margin: 0 15px 0 0;
	padding: 0;
	width: 160px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_1contact.gif) no-repeat 0 0;	
	}
.nhsRegQuestionsHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 162px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_2homeneeds.gif) no-repeat 0 0;	
	}
.nhsRegSubmitHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_3finish.gif) no-repeat 0 0;		
	}
	
/* Login */
.nhsRegLogin {
	float: left;
	clear: both;
	width: 800px;
	margin: 10px 0;
	}
.nhsRequestLogin {
	float: left;
	clear: both;
	width: 780px;
	margin: 10px 0 10px 10px;
	display: inline;
	}
#divPassiveUser {
	display: none;
	}
.nhsRegLogin fieldset,
.nhsRequestLogin fieldset,
.nhsRequestConfirmInfo {
	margin: 0;
	padding: 10px;
	background: #fff4ad;
	border: 1px solid #ccc;
	}
.nhsRegLogin input {
	width: 190px;
	}
.nhsRequestLogin input {
	width: 210px;
	}
.nhsRequestLogin h4 {
	margin-top: 0;
	font-size: 125%;
	}
.nhsRequestLoginText {
	float: left;
	width: 340px;
	text-align: right;
	border: 0px solid;
	}
.nhsRequestLoginFields {
	width: 380px;
	margin: 0 30px 0 0;
	border: 0px solid;
	float: right;
	display: inline;
	}
.nhsRegLogin .btnSignIn {
	width: 58px;
	margin-left: 10px;
	}
.nhsRequestLogin .btnSignIn {
	float: right;
	width: 58px;
	margin: 0 12px;
	display: inline;
	}
.nhsRequestLogin .nhsRequestForgetLink {
	float: right;
	margin-right: 12px;
	width: 368px;	
	font-size: 75%;
	text-align: right;
	}
.nhsRequestConfirmInfo .btnEdit {
	width: 39px;
	}
	
/* =Newsletter Signup */	
.nhsRegNewsBox {
	float: right;
	width: 395px;
	}
.nhsRegNewsBox input {
	float: left;
	margin: 0 2px 10px 0;
	display: inline;
	}
#nhsRegMatchOptions .nhsCheckFirst input {
	float: left;
	margin: 0 2px 6px 0;
	display: inline;
	}
#nhsManageAccount .nhsRegNewsBox {
	width: 365px;
	}

/* =Matchmaker */
#nhsRegMatchmakerBox {
	float: left;
	clear: both;
	width: 788px;
	margin: 0;
	padding: 0 5px;
	background: #e4ebf2;
	border: 1px solid #ccc;
	}
#nhsRegMatchCrit {
	float: left;
	width: 390px;
	}
#nhsRegMatchCrit select {
	width: 190px;
	}
#nhsRegMatchOptions {
	float: right;
	width: 390px;
	}
#nhsRegMatchImportant {
	margin: 10px 0 0 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
.nhsMatchBtns {
	text-align: right;
	padding-bottom: 10px;
	}
.nhsMatchBtns input {
	margin-left: 10px;
	}

#nhsMatchMore {
	position: relative;
	z-index: 999;
	}	
#nhsMatchInfoPop {
	position: absolute;
	top: 1.4em;
	left: -200px;
	z-index: 999;
	margin: 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #24619e;
	width: 250px;
	}
.nhsContent #nhsMatchInfoPop .nhsPopTitle {
	float: left;
	margin: 8px 6px 0 6px;
	font-weight: bold;
	}
.nhsContent #nhsMatchInfoPop .nhsPopMessage {
	float: left;
	margin: 10px 6px;
	}

	
/* =Leads */	
.nhsRequestBldrLead {
	float: left;
	width: 800px;
	margin: 10px 0;
	}
#nhsRequestBldrPref {
	float: left;
	margin: 0;
	padding: 5px;
	}
#nhsRequestImportant {
	float: left;
	margin: 0 0 0 20px;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
#nhsReg .nhsLegalText {
	float: left;
	clear: both;
	width: 800px;
	margin: 10px 0;
	}
#nhsReg .btnRegister {
	float: right;
	margin: 0 5px 2em 0;
	}
#nhsReg .nhsRegButtonArea {
	float: left;
	margin: .45em 0 0 0;
	padding: 0 0 2em 0;
	width: 800px;
	text-align: center;
	}
#nhsManageAccount .nhsRegButtonArea {
	float: left;
	margin: 0 0 2em 0;
	padding: 0;
	width: 800px;
	text-align: right;
	}
#nhsReg .btnCreateAccountAlt {
	float: left;
	margin: 0 0 0 245px;
	_display: inline;
	}
.btnUpdate {
	/*float: right;
	clear: both;*/
	margin: 0 25px 2em 0;
	}
	
/* =Saved Tabs */
#nhsSavedItems h2 {
	float: left;
	}

.nhsSavedTabBar {
	float: left;
	border: 0px solid;
	width: 800px;	
	}
.nhsSavedTabBar p {
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	margin-bottom: 0;
	}
.nhsSavedTabBar p a {
	display: block;
	padding: 7px 0 6px 21px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_forward.gif) no-repeat scroll left center;
	}

#nhsSavedItems .nhsResultsMapLink,
#nhsSavedItems a.nhsResultsMapLink {	
	width: 8.3em;
	}	
#nhsSavedItems .nhsHomeResultsInfo,
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;	
	width: 670px;
	}
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;
	width: 500px;
	}
#nhsSavedItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsSavedItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 360px;
	}
#nhsRecentItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsRecentItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 255px;
	border: 0px solid;
	}
.nhsSavedCheckBox {
	float: right;
	width: 32px;
	padding: 25px 0;
	text-align: center;
	}
.nhsRecentRadios {
	float: right;
	width: 200px;
	padding: 25px 0;
	text-align: right;	
	}
.nhsRecentRadios span {
	float: right;
	display: block;
	width: 55px;
	margin: 0 3px 0 5px;
	padding: 0;
	text-align: center;
	}
.nhsRecentRadios input {
	margin: 0;
	padding: 0;
	}
.nhsSavedRemoveLink {
	float: left;
	width: 795px;
	padding: 4px 5px 8px 0;
	border-top: 1px solid #7095ba;
	text-align: right;
	}

/* =Saved Comms */
#nhsSavedItems .nhsCommResultsRow,
#nhsSavedItems .nhsCommResultsRowOn {
	width: 800px;
	}
#nhsSavedItems .nhsCommResultsInfo1 {
	float: left;
	width: 400px;
	}
#nhsSavedItems .nhsCommResultsInfo2 {
	float: left;
	width: 272px;
	text-align: right;
	}
#nhsSavedItems p.nhsResultsPrice {
	font-size: 115%;
	}
/* =Saved Alerts */
.nhsSavedAlertsMenu {
	float: left;
	width: 190px;
	padding-top: 10px;
	border: 0px solid;
	text-align: right;
	}
.nhsSearchAlertsText {
	text-align: left;
	}
.nhsSavedAlertsMenu .nhsAlertOn {
	padding-right: 10px;
	font-weight: bold;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat right 50%;
	}
#nhsSavedAlertsContent {
	float: right;
	width: 600px;
	border: 0px solid;
	}
.nhsSavedAlertsInfo h3 a {
	font-size: 90%;
	margin-left: 25px;
	}
	
/* =Send to Friend 
#nhsSendFriendRows {
	float: left;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #e4ebf2;
	}
#nhsSendFriend ol {
	margin: 0;
	padding: 0 0 0 25px;
	}
#nhsSendFriend fieldset p {
	margin: .85em 0 .25em 0;
	}
#nhsSendFriend .nhsSendFriendLabels {
	margin-left: 25px;
	}
.nhsSendFriendLabels span {
	margin-left: 8.75em;
	}
.nhsSendFriendButtons {
	float: left;
	width: 350px;
	margin: 0 0 20px 0;
	text-align: right;
	}
.nhsSendFriendButtons .btnSubmit {
	margin-left: 30px;
	} */

/* =Thank You */
.nhsRegThanksBox {
	width: 550px;
	margin: 10px auto 0 auto;
	padding: 5px;	
	background: #fff4ad;	
	border: 1px solid #ccc;
	text-align: center;
	}
	
/* =Request Thanks */
#nhsRequestThanks {
	background: #fff url(/globalresources/default/images/backgrounds/bg_request_box.gif) repeat-x 0 -10px;
	}
#nhsRequestThanks h2,
#nhsRequestThanks h3 {
	margin-bottom: .35em;
	padding-left: 16px;
	font-size: 160%;
	}
#nhsRequestThanks ul {
	margin: 0 0 .85em 18px;
	list-style-type: disc;
	list-style-image: none;
	}
#nhsPartnerContainer #nhsRequestThanks p {
	margin-left: 16px;
	}

.nhsRequestThanksAccount {
	float: left;
	clear: both;
	width: 760px;
	margin: 0 0 10px 10px;
	padding: 10px;
	background: #fff4ad;
	border: 1px solid #ccc;
	display: inline;
	}
#nhsReqThanksCol1 {
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	width: 310px;
	d\isplay: inline;
	}
#nhsReqThanksCol1 ul {
	margin: 0 0 .45em 0;
	padding-left: 15px;	
	list-style-type: none;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	}
#nhsReqThanksCol1 .nhsBackBtn {
	display: block;
	margin: 0;
	padding: 2px 0 2px 25px;
	background: url(/globalresources/default/images/buttons/btn_back.gif) no-repeat center left;
	}
.nhsReqThanksCol2 {
	float: right;
	width: 430px;
	margin: 0 8px 10px 0;
	padding: 0 10px 10px 10px;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	d\isplay: inline;
	}
.nhsReqThanksCol2 .nhsSpotlightItem {
	float: left;
	margin: 0;
	padding: 0 8px 0 0;
	width: 135px;
	overflow: hidden;
	border: 0px solid;
	}
.nhsReqThanksCol2 .nhsSpotlightItem div { /* small shadow */
	width: 82px;
	height: 63px;
	background: url(/globalresources/default/images/sm_shadow.gif) no-repeat left top;
	}
.nhsReqThanksCol2 .nhsSpotlightItem img {
	width: 75px;
	height: 58px;
	}
.nhsReqThanksRecommendTitle,
.nhsReqThanksComms,
.nhsReqThanksHomes,
.nhsReqThanksBroch,
.nhsReqThanksBox {
	float: left;
	margin: 6px 0 0 0;
	padding: 0;
	}
.nhsReqThanksBroch p {
	float: left;
	margin: 8px 0;
	padding: 0;
	width: 280px;
	}	
.btnGetBrochures {
	float: right;
	margin: 8px 0;
	}
.nhsReqThanksRecommendTitle h4 {
	float: left;
	width: 330px;
	}
.nhsReqThanksRecommendTitle img {
	float: right;
	margin: .65em 0;
	padding: 5px;
	background: #fff;
	}
.nhsReqThanksBox {
	background: #fff;
	width: 406px;
	padding: 5px 10px;
	border: 1px solid #000;
	}

/* =Narrow */
.nhsNarrowList {
	list-style-type: none;
	}
.nhsNarrowList li {
	float: left;
	margin: .25em 0 0 0;
	width: 800px;
	}
.nhsNarrowList li label,
.nhsNarrowList li input {
	float: left;
	}
.nhsNarrowList li label strong {
	float: left;
	width: 500px;
	}
.nhsNarrowBtn {
	width: 800px;
	padding: 5px 0;
	text-align: right;
	}
	
/* =Search Alerts */
.nhsAlertLocationBox {
	float: left;
	margin: 0 0 0 8px;
	width: 270px;
	}
.nhsAlertLocationBox select {
	width: 120px;
	}
.nhsAlertLocationBox .nhsAlertChooseCity {
	padding: 2px 0 4px 30px;
	font-size: 120%;
	font-weight: bold;
	color: #3679ac;
	background: url(/globalresources/default/images/num_1.gif) no-repeat 0 0;	
	}
.nhsAlertStepSpan {
	font-size: 85%;
	font-weight: normal;
	color: #333;
	margin-left: 25px;
	}
.nhsAlertOptionsBox .nhsAlertChoosePrice {
	padding: 2px 0 4px 30px;
	font-size: 120%;
	font-weight: bold;
	color: #3679ac;
	background: url(/globalresources/default/images/num_2.gif) no-repeat 0 0;	
	}
.nhsAlertOptionsBox {
	float: left;
	width: 390px;
	}
.nhsAlertLocationBox label,
.nhsAlertOptionsBox label {
	display: block;
	float: left;
	width: 150px;
	margin: 0 4px 0 0;
	text-align: right;
	}
.nhsAlertLocationBox label,
.nhsAlertOptionsBox label  {
	width: 90px;
	}
.nhsAlertMoreOptions {
	width: 380px;
	background: #f4f3e7;
	padding: 4px 0;
	}
.nhsAlertMoreOptions .nhsAlertSelect {
	width: 225px;
	}
.nhsAlertMoreOptions table td {
	font-size: 100%;
	}
.nhsAlertMoreOptions table label {
	float: none;
	display: inline;
	font-size: 90%;
	}
.nhsAlertOptionsBox .nhsAlertName label {
	float: none;
	display: inline;
	}
.nhsAlertOptionsBox .nhsAlertName input {
	width: 300px;
	}
.nhsAlertLegalSubmit {
	float: left;
	clear: both;
	width: 668px;
	}
.nhsAlertLegalSubmit .nhsAlertLegal {
	float: left;
	width: 650px;
	margin: 0 0 0 8px;
	}
.nhsAlertSubmit {
	float: right;
	width: 390px;
	text-align: center;
	}
