﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="atg_chat_button.ascx.cs" Inherits="Nhs.Web.Controls.Default.Common.atg_chat_button" %>
<span id="nhsLiveChat"><a href="javascript:webISChatPop('Template=<%=LiveChatAccountId%>');" onclick = "$.googlepush('Chat Links','Navigation ','Live Chat')">Live Chat</a></span>
