<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="email_header.ascx.cs" Inherits="Nhs.Web.Controls.Default.Common.email_header" %>

<img id="imgHome" src="[resource:]/globalresources/default/images/nhs_logo.gif" alt="" runat=server />
