<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="email_safesenders.ascx.cs" Inherits="Nhs.Web.Controls.Default.Common.email_safesenders" %>
<p style="font-family:Arial,Helvetica;font-size:11px;margin:0;">To make sure you continue to receive our e-mails in your inbox (not in your bulk or junk folders), please add 
    <asp:Label ID="lblFromEmail" runat="server"></asp:Label> to your address book or safe sender list.</p>