﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="staticcontent_partialview.ascx.cs" Inherits="Nhs.Web.Controls.Default.Common.staticcontent_partialview" %>
<div class="static_overlay" id="stcontent">
    <a id="stclose" class="stclose"></a>	
 
	<div id="staticList" class="staticInfo">		 
	</div>
</div>