<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="static_content.ascx.cs" Inherits="Nhs.Web.Controls.Default.Common.staticcontent" %>
<asp:Literal ID="ltrstaticcontent" runat="server"></asp:Literal>
