﻿<section class="pro_HomeTv">
@{
    var mvcStrTvLink = Html.GetProTvLink(NhsUrl.GetMarketID);
}
@if (string.IsNullOrWhiteSpace(mvcStrTvLink.ToString()) == false)

{
    <div class="nhs_Clear"></div>
    <div id="nhs_ProTvLinkHomeArea">
        <h3>See us on TV!</h3>
        <p>
            Watch clips from @mvcStrTvLink to learn more about new construction options.
            @Html.GetProTvLink(NhsUrl.GetMarketID, "Learn More >", "nhs_TvBtnLearnMore btn")
        </p>
        
    </div>
    <div class="nhs_Clear"></div>
}
</section>