﻿<div class="pro_CommResultTv">@{
    var mvcStrTvLink = Html.GetProTvLink(NhsUrl.GetMarketID);
}
@if (string.IsNullOrWhiteSpace(mvcStrTvLink.ToString()) == false)
{
    <div class="nhs_Clear"></div>
    <div id="nhs_ProTvLinkCommResultsArea">
        <h3>See us on TV!</h3>
        
        <p>
            Watch clips from @mvcStrTvLink to learn more about new construction options
        </p>
        @Html.GetProTvLink(NhsUrl.GetMarketID, "Learn More >", "nhs_TvBtnLearnMore btn")
    </div>
    <div class="nhs_Clear"></div>
}
</div>