﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SendToPhoneModel
<div id="nhs_ModalContainer" class="nhs_SendToPhoneModal nhs_Account">
    <header>
        <h1>@LanguageHelper.SendToPhone.ToMvcHtmlString()</h1>
        <p class="nhs_Instructions">
            @LanguageHelper.GetContactInfoPhone.ToMvcHtmlString()</p>
    </header>
    <ul class="validation-summary-errors" id="nhs_Errors" style="display: none;">
    </ul>
    <p>
            <label for="Phone">
                @LanguageHelper.MobileNumber.ToMvcHtmlString()</label>
            @Html.TextBoxFor(m => m.Phone, new { placeholder = LanguageHelper.MobileNumber })</p>
        <p>
            <label for="Provider">
                @LanguageHelper.Provider.ToMvcHtmlString()</label>
            @Html.DropDownListFor(m => m.Provider, Model.GetProviders)
        </p>
        <p>
            <input id="nhs_Send" class="btnCss" type="button" value="@LanguageHelper.Send" />
        </p>
        <p class="nhs_Legal">
            @LanguageHelper.ThePhoneNumberYouProvideWillNotBeSaved.ToMvcHtmlString()</p>
        <input type="hidden" name="PlanId" id="PlanId" value="@Model.PlanId"/>
        <input type="hidden" name="SpecId" id="SpecId" value="@Model.SpecId"/>
        <input type="hidden" name="CommunityId" id="CommunityId" value="@Model.CommunityId"/>
 
    <script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#Phone").mask("(999) 999-9999");
        jQuery("#Phone").focus();

        jQuery("#nhs_ModalContainer #nhs_Send").click(function (event) {
            var valid = true;
            var control = jQuery(this);
            control.attr("disabled", "disabled");
            var ul = jQuery("#nhs_Errors");
            ul.html("");

            //Start Phone
            var phoneNumber = jQuery("#nhs_ModalContainer #Phone");
            phoneNumber.removeAttr("style");
            if (!jQuery.ValidPhoneNumber(phoneNumber.val())) {
                ul.show();
                ul.append("<li>@LanguageHelper.WeWereUnableToValidateThePhoneNumber.ToMvcHtmlString()</li>");
                phoneNumber.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Phone

            //Start Provider
            var provider = jQuery("#nhs_ModalContainer #Provider");
            provider.removeAttr("style");
            if (provider.val().length === 0) {
                ul.show();
                ul.append("<li>@LanguageHelper.PleaseSelectWirelessProviderFromTheList.ToMvcHtmlString()</li>");
                provider.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Provider

            if (valid) {
                ul.hide();
                var data = jQuery("#nhs_ModalContainer").find("input, select").serialize();

                jQuery.ajax({
                    type: "POST",
                    url: "@(Html.GetActionUrl(NhsMvc.SendToPhone.Name, NhsMvc.SendToPhone.ActionNames.SendToPhone))",
                    data: data,
                    success: function (result) {
                        if (result) {
                            jQuery("#nhs_ModalContainer").html("<h1>@LanguageHelper.ThankYou.ToMvcHtmlString()!</h1> <p>@LanguageHelper.InformationWasSuccessfullySentToTheProvidedPhoneNumber.ToMvcHtmlString()</p>");
                        }
                    }
                });
            } else {
                control.removeAttr("disabled");
            }
        });
    });
</script>
</div>
