﻿@using Kendo.Mvc.UI
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel
@if (Model.ShowOwnerStoryDetail)
{
    <a href="@Html.GetActionUrl(NhsMvc.OwnerStories.Name, NhsMvc.OwnerStories.ActionNames.ShowCuration)">(back to list)</a>
}
<div class="nhs_OwnersForm">
    <fieldset>
        <div class="form_left">
            <p class="nhs_Required spacer">
                <label for="FirstName">
                    Name:</label>
                @Html.TextBoxFor(m => m.FirstName, new { maxlength = "100", placeholder = "First"})
                <br />
                <span class="last">@Html.TextBoxFor(m => m.LastName, new { maxlength = "100", placeholder = "Last" })</span>
            </p>
            <p class="nhs_Required spacer">
                <label for="Email">
                    Email:</label>
                @Html.TextBoxFor(m => m.Email, new { maxlength = "50" })
            </p>
            <p class="nhs_Required small-spacer">
                <label for="BuilderName">
                    Builder:</label>
                @(Html.Kendo().AutoCompleteFor(c => c.BuilderName)
                          .Filter(FilterType.StartsWith)
                          .MinLength(3)
                          .DataTextField("BrandName")
                          .Suggest(true)
                          .HtmlAttributes(new { maxlength = "100" })
                          .DataSource(source => source.Read(read => read.Url(Html.GetActionUrl(NhsMvc.Typeahead.Name, NhsMvc.Typeahead.ActionNames.GetBrands)))
                          .ServerFiltering(true))
                              .Events(e => e.Select("OwnerStoryKendoEventChangeBuilderName")))
                <script type="text/javascript">
                    function OwnerStoryKendoEventChangeBuilderName(e) {
                        var dataItem = this.dataItem(e.item.index());
                        jQuery("#BuilderId").val(dataItem.BrandId);
                        jQuery("#ValidBuilderName").val(dataItem.BrandName);
                    }
                </script>
                @Html.HiddenFor(m => m.BuilderId)
            </p>
            <p>
                <label for="CommunityName">
                    Community:</label>
                @(Html.Kendo().AutoCompleteFor(c => c.CommunityName)
                      .Filter(FilterType.StartsWith)
                      .MinLength(3)
                      .DataTextField("CommunityName")
                      .Suggest(true)
                              .HtmlAttributes(new { maxlength = "100" })
                      .DataSource(source => source.Read(read => read.Url(Html.GetActionUrl(NhsMvc.Typeahead.Name, NhsMvc.Typeahead.ActionNames.GetCommunities)))
                          .ServerFiltering(true))
                      .Events(e => e.Select("OwnerStoryKendoEventChangeCityName")))
                <script type="text/javascript">
                    function OwnerStoryKendoEventChangeCityName(e) {
                        var dataItem = this.dataItem(e.item.index());
                        var cityField = dataItem.CityName + ", " + dataItem.State;
                        jQuery("#City").val(cityField);
                        jQuery("#ValidCityName").val(cityField);
                        jQuery("#CommunityId").val(dataItem.CommunityId);
                        jQuery("#ValidCommunityName").val(dataItem.CommunityName);
                    }
                </script>
                @Html.HiddenFor(m => m.CommunityId)
                @Html.HiddenFor(m => m.OwnerStoryId)
                @Html.HiddenFor(m => m.ValidBuilderName)
                @Html.HiddenFor(m => m.ValidCommunityName)
            </p>
            <p class="nhs_Required spacer top-spacer">
                <label for="City">
                    City, State:</label>
                @(Html.Kendo().AutoCompleteFor(c => c.City)
                      .Filter(FilterType.StartsWith)
                      .MinLength(3)
                      .DataTextField("CityName")
                      .Suggest(true)
                              .HtmlAttributes(new { maxlength = "100" })
                      .DataSource(source => source.Read(read => read.Url(Html.GetActionUrl(NhsMvc.Typeahead.Name, NhsMvc.Typeahead.ActionNames.GetCities)))
                      .ServerFiltering(true))
                      .Events(e => e.Select("OwnerStoryKendoEventChangeCityId")))
                <script type="text/javascript">
                    function OwnerStoryKendoEventChangeCityId(e) {
                        var dataItem = this.dataItem(e.item.index());
                        jQuery("#ValidCityName").val(dataItem.CityName);
                    }
                </script>
                @Html.HiddenFor(m => m.ValidCityName)
            </p>
            <p class="nhs_Required">
                <label for="Category">
                    Category:</label>
                @Html.DropDownListFor(m => m.Category, Model.CategoryList, "Choose Story Type")
            </p>
        </div>
        <div class="form_right">
            <span class="nhs_Required">
                <label for="StoryDescription">
                Your Story:</label>
            </span>
            <br/>
            <p>
                @Html.TextAreaFor(m => m.StoryDescription, new {maxlength = "1000", placeholder = "Type your quote or description here...", rows = 20, cols = 70})
            </p>
            <p>
                @if (!Model.ShowOwnerStoryDetail)
                {
                    @(Html.Kendo().Upload()
                          .Multiple(false)
                          .HtmlAttributes(new {accept = ".png,.jpg,.jpeg,.gif,.mp4,.m4v,.mov", onclick = "jQuery('.k-file button').click()"})
                          .Name("uploadFile")
                          .Events(e => e.Select("onSelectedUploadFile").Remove("onRemoveUploadFile"))
                          .Messages(m => m.Select("Upload Photo or Video")))
                }
            </p>
        </div>
        <div class="nhs_Owners_error_wrapper">
            <ul id="nhs_error" class="nhs_Error" style="display: none;">
                @Html.ValidationSummary()
            </ul>
        </div>
        @(!Model.ShowOwnerStoryDetail ? Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesSteps, new OwnerStoriesStepsViewModel("nhs_OwnersSendForm", "Next >", OwnerStoriesStepsEnum.FistStep)) : Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesCurationChanges, Model))
    </fieldset>
</div>
