﻿<div class="nhs_Owners">
    <div class="clearfix">            
        <img src="@Resources.GlobalResources14.NewHomeSource.images.owners.i_heart_home_png" alt="I Love My New Home" />
        <p class="title">Tell others about your newly <br />built home and win $1000!</p>     
    </div>
</div>
