﻿@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel
<div id="nhs_OwnersFormThankYou" class="clearfix">        
    <div>
        <h3>Thank you for your submission!</h3>
        <p>Thousands of home shoppers will benefit from your experience.</p>
        <p>Look for your story soon on New Home Source.</p>
    </div>
</div>
