﻿@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesStepsViewModel
@{
    const string activeStepClass = @"class=""nhs_Active""";
}
<div class="nhs_OwnersFormActions clearfix">
    <ul>
        <li>
        <span data-step="1" @(Model.Step == OwnerStoriesStepsEnum.FistStep ? Html.Raw(activeStepClass) : Html.Raw(string.Empty))>
            1</span>
            <span>Submit Story</span>
        </li>
        <li><span data-step="2" @(Model.Step == OwnerStoriesStepsEnum.SecondStep ? Html.Raw(activeStepClass) : Html.Raw(string.Empty))>
            2</span>
            <span>Preview</span>
        </li>
        <li><span data-step="3" @(Model.Step == OwnerStoriesStepsEnum.ThirdStep ? Html.Raw(activeStepClass) : Html.Raw(string.Empty))>
            3</span>
            <span>Submit</span>
        </li>
    </ul>
    @if (Model.ShowButton)
    {
        <p>
            <input id="@Model.SubmitButtonId" type="button" class="submit" value="@Model.SubmitButtonText" />
        </p>
    }
</div>
