﻿<div id="nhs_storiesContent">
    <h2>YOUR EXPERIENCE COUNTS</h2>
    <p>
        Each year, millions of homebuyers set out to purchase a home. As a recent new home buyer, you can share your knowledge
        to inspire current new home shoppers.
    </p>
    <p>
        Show off the favorite features of the new home that you helped design and build
        or share the valuable insights that you gained on your journey. If you'd like, add
        a photo or video to tell the full story of why you love your new home.
    </p>
    <p>
        Your story will appear on NewHomeSource.com, the authority in newly built homes
        and the largest collection of new construction inventory in the nation. In addition to helping others, if you are one of our favorite entries, you could
        win a cash prize of $1,000!
    </p>
</div>
