﻿@using Nhs.Web.UI.AppCode.ViewModels
<script id="nhs_OwnersPreviewTextTemplate" type="text/x-kendo-template">
<p>#= desc #</p>
<p>
    #= fname # #= lname #, Owners of the new home built by #= builder # in #= comm # in #= city #
</p>
</script>
<div id="nhs_OwnersPreview" style="display: none; width: 800px; height: 500px;">
    <div class="nhs_Clear">
    </div>
    <div id="nhs_OwnersSliderContainer">
        <div class="nhs_OwnersSlides">
            <div class="nhs_OwnersPopupPreviewContent">
                <h2></h2>
                <div class="nhs_OwnersPopupMediaPreview">
                    <img width="400px" src="@Resources.GlobalResources14.NewHomeSource.images.owners.previewNotSupported_jpg"
                        id="nhs_OwnersImgPreview" alt="" />
                    <video id="nhs_OwnersVideoPreview" class="nhs_OwnersVideoPreview" controls>
                    </video>
                </div>
                <div id="nhs_OwnersPreviewText" class="nhs_OwnersPreviewText">
                </div>
            </div>
            <div id="nhs_OwnersPreviewThanks" class="nhs_OwnersPopupFull nhs_OwnersThanks" style="display: none;">
                <div class="nhs_OwnersThanksHearts"></div>
                <h3>
                    Thank you for your submission!
                </h3>
                <p>
                    Thousands of home shoppers will benefit from your experience.
                </p>
                <p>
                    Look for your story soon on New Home Source
                </p>
                <p>
                    <a href="javascript:void(0)" onclick="jQuery('#nhs_OwnersPreview').data('kendoWindow').close();">
                        Close this window
                    </a>
                </p>
                
            </div>
            
            <div class="nhs_Clear">
            </div>
            @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesSteps, new OwnerStoriesStepsViewModel("nhs_OwnersPreviewSubmit", "Submit", OwnerStoriesStepsEnum.SecondStep))
        </div>
    </div>
</div>
<script type="text/javascript">

    function onSelectedUploadFile(e) {
        var src = '@Resources.GlobalResources14.NewHomeSource.images.owners.previewNotSupported_jpg';
        jQuery('#nhs_OwnersImgPreview').attr('src', src);
        var files = jQuery("#nhs_osFormContainer input[type='file']")[0].files;

        //old IE do not support .files
        if (files) {
            var file = files[0];
            var type = file.type;
            var isVideo = type.indexOf('video') != -1;
            var url = URL.createObjectURL(file);
            if (isVideo) {
                var videoNode = document.querySelector('#nhs_OwnersVideoPreview');
                var canPlay;

                try {
                    canPlay = videoNode.canPlayType(type);
                } catch (e) {
                    canPlay = 'no';
                } 

                canPlay = (canPlay === '' ? 'no' : canPlay);

                if (canPlay === 'no') {
                    jQuery('#nhs_OwnersVideoPreview').hide();
                    src = '@Resources.GlobalResources14.NewHomeSource.images.owners.previewNotSupported_jpg';
                    jQuery('#nhs_OwnersImgPreview').attr('src', src);
                    jQuery('#nhs_OwnersImgPreview').show();                
                    return;
                }

                jQuery('#nhs_OwnersImgPreview').hide();
                jQuery('#nhs_OwnersVideoPreview').attr('src', url);
                jQuery('#nhs_OwnersVideoPreview').show();
            } else {
                jQuery('#nhs_OwnersVideoPreview').hide();
                jQuery('#nhs_OwnersImgPreview').attr('src', url);
                jQuery('#nhs_OwnersImgPreview').show();
            }
        } else {
            jQuery('#nhs_OwnersVideoPreview').hide();
            src = '@Resources.GlobalResources14.NewHomeSource.images.owners.previewNotSupported_jpg';
            jQuery('#nhs_OwnersImgPreview').attr('src', src);
            jQuery('#nhs_OwnersImgPreview').show();
        }
    }

    function onRemoveUploadFile(e) {
        jQuery('#nhs_OwnersVideoPreview').attr('src', '');
        jQuery('#nhs_OwnersImgPreview').attr('src', '');
    }

</script>
