﻿@using Kendo.Mvc.UI
@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel

<div class="nhs_tabs_top"></div>
<div class="tabstrip_wrapper">
    <div id="tabstrip" style="display: none;">
        <ul>            
            <li class="k-state-active">SUBMISSION GUIDELINES</li>
            <li>CONTEST RULES</li>
        </ul>
        <div>
            @Html.Raw(Model.SubmissionContent)
        </div>
        <div>
            @Html.Raw(Model.ContestRulesContent)      
        </div>
        @(Html.Kendo().TabStrip().Name("tabstrip").Animation(false))
    </div>
</div>
