﻿@using Kendo.Mvc.UI
@using Nhs.Library.Web.ImageResizer
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.ViewModels
@model OwnerStoriesViewModel
<div id="storyImageVideoPreview" class="nhs_OwnersPreviewText" hidden>
    @if (Model.HasImage)
    {
        <text>
            @Html.NhsImage(Model.FilePath, new ResizeCommands {Width = 298, Height = 168}, string.Empty, false)
        </text>
    }
    @if (Model.HasVideo)
    {
        <a itemscope itemtype="http://schema.org/VideoObject" class=" thickbox" href="@(new List<RouteParam>().ToUrl("buildershowcase/ShowVideo", true))?KeepThis=true&TB_iframe=true&width=700&height=500&videowidth=670&videoheight=480&videourl=@Model.VideoUrl&title=@Model.VideoTitle&VideoOnlineId=@Model.OnlineVideoId&vide">
            <span></span>
            <img id="ownerStoryBrightcoveImage" src="@Model.VideoThumbnailUrl" />
            <meta itemprop="thumbnail" content="@Model.VideoThumbnailUrl"/>
            <input type="hidden" value="@Model.HasVideo" id="isBrightCoveVideo"/>
        </a>
        @*<video id="ownerStoryVideo" src="@Model.FilePath" preload="none" controls></video>*@
    }
</div>

<div class="nhs_OwnersFormActions nhs_OwnersCuration-btn-wrapper clearfix">
    @if (Model.HasImage || Model.HasVideo)
    {
        <div>
            <a id="nhs_OwnerStoryCurationPreview" href="#">View Media</a>
        </div>
    }
    <a class="red" href="@Html.GetActionUrl(NhsMvc.OwnerStories.Name, NhsMvc.OwnerStories.ActionNames.ShowCuration)">Cancel</a>
    <input id="nhs_BtnSubmitCurationChanges" type="button" class="blue" value="Save Changes"/>

    <div class="publish">
        @Html.CheckBoxFor(model => model.NoNullOwnerStoryStatus) Publish
    </div>
</div>
