﻿<div id="nhs_OwnerStoriesList"></div>
<script type="text/javascript">
    function statusFilter(element) {
        element.kendoDropDownList({
                dataSource: new kendo.data.DataSource({
                    data: [
                        { title: "Pending" },
                        { title: "Not Published" },
                        { title: "Published" }
                    ]
                }),
                optionLabel: "--Select Value--",
                dataTextField: "title",
                dataValueField: "title"
            }
        );
    }

    jQuery(document).ready(function() {
        jQuery("#nhs_OwnerStoriesList").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: "@Html.GetActionUrl(NhsMvc.OwnerStories.Name, NhsMvc.OwnerStories.ActionNames.GetOwnerStoriesList)",
                        dataType: "json"
                    }
                },
                schema: {
                    data: function(data) {

                        return data;
                    },
                    total: function(data) {
                        return data.length;
                    }
                },
                pageSize: 20
            },
            editable: false,
            filterMenuInit: function(e) {
                var grid = jQuery("#nhs_OwnerStoriesList").data("kendoGrid");
                var filterMenu = jQuery(grid.thead.find("th:not(.k-hierarchy-cell,.k-group-cell):last")).data("kendoFilterMenu");
                try {
                    filterMenu.form.find("span.k-dropdown:first").css("display", "none");
                } catch (e) {
                }
            },
            dataBound: function(e) {
                if (!e.sender.dataSource.view().length) {
                    var colspan = e.sender.thead.find("th:visible").length;
                    var emptyRow = '<tr><td colspan="' + colspan + '">... No records available ...</td></tr>';
                    e.sender.tbody.parent().width(e.sender.thead.width()).end().html(emptyRow);
                }
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            filterable: { extra: false },
            columns: [
                {
                    field: "",
                    template: "\u003ch2\u003e\u003ca href=\"/ownerstories-curation/storydetail/storyid-#=data.OwnerStoryId #\"\u003e Show Details\u003c/a\u003e\u003c/h2\u003e",
                    title: "",
                    width: 130,
                    encoded: true
                }, {
                    field: "BuilderName",
                    title: "Builder Name",
                    filterable: false
                }, {
                    field: "LastName",
                    title: "Consumer Last Name",
                    width: 170,
                    filterable: false

                }, {
                    field: "Email",
                    title: "Email Address",
                    filterable: false

                }, {
                    field: "CreationDateTimeime",
                    title: "Submission Date",
                    width: 170,
                    filterable: false
                }, {
                    field: "ModificationDateTimeime",
                    title: "Last Modified Date",
                    width: 170,
                    filterable: false
                }, {
                    field: "StatusText",
                    title: "Status",
                    filterable: {
                        ui: statusFilter,
                        messages: {
                            info: "Select an item from the list:"
                        }
                    }
                }
            ]
        });
        var grid = jQuery("#nhs_OwnerStoriesList").data("kendoGrid");
        grid.dataSource.originalFilter = grid.dataSource.filter;

        grid.dataSource.filter = function() {
            var optionLabelSelected = false; 
            // If a column is about to be filtered, then raise a new "filtering" event.
            if (arguments.length > 0 && arguments[0] != null) {
                optionLabelSelected = jQuery('li:contains("--Select Value--")').hasClass('k-state-selected');
                if (optionLabelSelected) {
                    arguments[0] = null;
                }
            }
            // Call the original filter function.
            if (!optionLabelSelected) {
                var result = grid.dataSource.originalFilter.apply(this, arguments);
                return result;
            }
            return null;
        }
    });

</script>
