﻿@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel
<div id="nhs_OwnersSliderPopup">
    <div id="nhs_OwnersSliderContainer">
        <div class="arrows_wrapper">
            <span id="nhs_OwnersSliderRightArrow" u="arrowright" class="nhs_ctrlArrowRight">NEXT</span>
            <div u="navigator" class="nhs_OwnersSliderBulletNav">
                <!-- bullet navigator item prototype -->
                <div u="prototype">
                </div>
            </div>
            <span id="nhs_OwnersSliderLeftArrow" u="arrowleft" class="nhs_ctrlArrowLeft">PREV</span>
        </div>
        <div u="slides" class="nhs_OwnersSlides">
            @foreach (var story in Model.OwnerStoryContentList)
            {
                <div class="nhs_OwnersPopupStory">
                    <h2>@story.Title</h2>
                    @if (!string.IsNullOrEmpty(story.Media.ImageUrl))
                    {
                    
                        <div class="nhs_OwnersPopupMedia">
                            <img u="image" src="@story.Media.ImageUrl" alt="@story.Title" />
                            @if (!string.IsNullOrEmpty(story.Media.VideoId))
                            {
                                <div id="nhs_OwnersVideo@(story.Sequence)" class="nhs_OwnersVideo">
                                </div>
                                <div class="nhs_videoThumbIcon" data-id="@story.Media.VideoId" data-control="nhs_OwnersVideo@(story.Sequence)" >
                                </div>
                            }
                        </div>
                    }
                    <div class="@(story.Media.IsNullOrEmpty ? "nhs_OwnersPopupFull" : "nhs_OwnersPopupDescription")">
                        @Html.Raw(story.Story)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="nhs_OwnersCategories">
    <div class="clearfix">
        <h2>
            My new home...</h2>
        <ul id="nhs_OwnersCategoriesList">
            <li>
                <img style="-webkit-user-select: none" src="@Resources.GlobalResources14.NewHomeSource.images.owners.DesignedForTheWay_jpg" alt="" />
                <h3>
                    ...Is designed for<br />
                    the way I live</h3>
                <a id="nhs_OwnersShareDesigned" class="nhs_OwnersLinkShareStory share" href="#">Share
                    your Story</a>
                <p class="nhs_OwnersLinkOthersSaid">
                    <a id="nhs_OwnersSeeDesigned" href="#">See what others said</a></p>
            </li>
            <li>
                <img style="-webkit-user-select: none" src="@Resources.GlobalResources14.NewHomeSource.images.owners.SavesMeTime_jpg" alt="" />
                <h3>
                    ...Saves me time<br />
                    and money</h3>
                <a id="nhs_OwnersShareSaves" class="nhs_OwnersLinkShareStory share" href="#">Share
                    your Story</a>
                <p class="nhs_OwnersLinkOthersSaid">
                    <a id="nhs_OwnersSeeSaves" href="#">See what others said</a></p>
            </li>
            <li>
                <img style="-webkit-user-select: none" src="@Resources.GlobalResources14.NewHomeSource.images.owners.FunAndEasy_jpg" alt="" />
                <h3>
                    ...was fun and<br />
                    easy to buy</h3>
                <a id="nhs_OwnersShareFun" class="nhs_OwnersLinkShareStory share" href="#">Share your
                    Story</a>
                <p class="nhs_OwnersLinkOthersSaid">
                    <a id="nhs_OwnersSeeFun" href="#">See what others said</a></p>
            </li>
        </ul>
    </div>
</div>
