﻿@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel
<script type="text/javascript">
    function HideLoading() {        
        jQuery('#nhs_OwnersSendForm').show();
    }
</script>
<form action="/ownerstories" id="nhs_OwnersIeForm" method="POST" enctype="multipart/form-data">
    <div id="nhs_osFormContainer">
        <div id="nhs_OwnersMainDiv" style="display: @Model.Display;">
            @{
                Html.RenderPartial(Model.SubmitOk
                    ? NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesFormThankYou
                    : NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesFormInfo, Model);
            }
        </div>
    </div>
</form>

<style type="text/css">
    .k-upload-selected
    {
        display: none;
    }
    .k-upload-status .k-upload-status-total
    {
        display: none;
    }
</style>
