﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@if (NhsRoute.IsBrandPartnerNhsPro)
{
    <img id="imgHome" style="padding: 13px; width: 200px;" src="@Model.BrandPartnerLogo" alt="" />
}
else
{
    if (string.IsNullOrEmpty(Model.Globals.PartnerInfo.PartnerLogo) == false)
    {
        <img id="imgHome" src="@Model.Globals.PartnerInfo.PartnerLogo.Replace("[resource:]", Configuration.ResourceDomain)" alt="" />
    }
    else
    {
        <img id="imgHome" src="@Model.BrandPartnerLogo" alt="" />
    }
}
