﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.RegisterViewModel
           
@if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{
    var listParams = new List<RouteParam>();
    if (string.IsNullOrWhiteSpace(Model.Email) == false)
    {
        listParams.Add(new RouteParam(RouteParams.UserId, Model.Email,RouteParamType.QueryString));
    }
    <p>
        To <strong>unsubscribe</strong> from all  further emails, @Html.NhsLink("click here.", Pages.Unsubscribe, listParams, new { style = "color:#0091da;" }, false, true)
    </p>
    <p>
        <strong>We value your privacy!</strong> You've received this message at this address 
        @Model.Email because it was requested by you or another user on our website. 
        @Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy, null, new { style = "color:#0091da;" }, false, true)
    </p> 
}

<p>Copyright &copy; @DateTime.Now.Year.ToString(CultureInfo.InvariantCulture). This email was sent by: Builders Digital Experience, LLC. 
11900 Ranch Road 620 N, Austin, TX 78750-1345 USA</p>
	    
