﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Mvc.Domain.Model.Web.Partials.LeadEmailItem
<table width="490" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="background: #fff; width: 490px;">
    <tr>
        <td width="490" align="left" colspan="2" bgcolor="#0091da" style="padding: 4px 12px 6px 12px; font-family: Arial,Helvetica,sans-serif;font-size: 16px; background:@(Model.IsMove ? "#3e96da" : "#0091da"); color: #fff;">
            @Model.PropertyName
        </td>
    </tr>
    <tr>
        <td width="490" align="center" bgcolor="#ffffff" style="padding:12px;">            
            <table width="490" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                <tr>
                    <td rowspan="2">
                        <table width="150" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
                               style="background: #fff; width: 150px; border: 1px solid #eee; box-shadow: 1px 2px 5px #7d7d7d;">
                            <tr>
                                <td width="27" valign="middle" style="width: 16px; height: 35px; padding: 0 5px 0 11px;vertical-align:middle;">
                                    <img src="@GlobalResources14.Default.images.email.header_icon_gif"
                                         width="16" height="16" border="0" style="width: 16px; height: 16px; border: 0;"
                                         alt="" /></td>
                                <td colspan="2" align="left" valign="middle" style="padding: 0; font-family: Arial,Helvetica,sans-serif;font-size: 12px;color:#bababa;vertical-align:middle;">
                                    <strong>@LanguageHelper.Brochure.ToMvcHtmlString()</strong></td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center" valign="middle" style="height: 82px; padding: 0;">
                                    <a href="@Model.DetailPageUrl"><img src="@Model.ImageThumbnail" width="125" height="80" alt="" style="width: 125px; border: 0;" /></a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="center" style="height: 50px; padding: 8px 0 12px 0;">
                                    @if (!string.IsNullOrEmpty(Model.BrandImage))
                                    {
                                        <img src="@Model.BrandImage" alt="" />
                                    }
                                </td>                    
                                <td width="30" align="right" valign="bottom" style="width:30px;vertical-align:bottom;"><img src="@GlobalResources14.Default.images.email.page_corner_gif" width="30" height="28" border="0" style="width: 30px; height: 28px; border: 0;" alt="" /></td>
                            </tr>
                        </table>
                    </td>
                    <td width="340" align="left" valign="top" style="width:340px;padding:10px 8px 4px 18px; font-family: Arial,Helvetica,sans-serif;font-size: 12px; color: #7d7d7d; line-height: 22px;">
                        @if (!string.IsNullOrEmpty(Model.FormatHomeAttrib))
                        {
                            @Model.FormatHomeAttrib
                            <br />
                        }
                        @LanguageHelper.By.ToMvcHtmlString() <a href="@Model.BuilderUrl" style="color: #0091da; text-decoration: none;">@Model.BrandName</a><br />
                        @if (!string.IsNullOrEmpty(Model.FormatPrice))
                        {
                            @LanguageHelper.From.ToMvcHtmlString() <strong style="font-size:14px;">@Model.FormatPrice</strong>
                            <br />
                        }
                        <span style="color: #bababa;">
                            @if (Model.IsComm && !string.IsNullOrEmpty(Model.Address))
                            {
                                @Model.Address<br />
                            }
                            @Model.City, @Model.State @Model.PostalCode</span></td>
                </tr>
                <tr>
                    <td width="340" valign="middle" style="width:340px;padding:4px 8px 18px 18px;">
                    @if (!string.IsNullOrEmpty(Model.BrochureUrl))
                    {        
                        <table cellspacing="0" cellpadding="0" border="0" style="background:@(Model.IsMove ? "#67AD45" : "#ffce34"); margin: 0; border-radius: 3px;">
                            <tr>
                                <td width="150" align="center" style="width:150px;padding: 10px 14px; font-family:Arial,Helvetica,sans-serif;font-size: 16px;">
                                    <a href="@Model.BrochureUrl" style="color:@(Model.IsMove ? "#ffffff" : "#4b4b4b"); text-decoration: none;">@LanguageHelper.ViewBrochure.ToMvcHtmlString() ></a></td>
                            </tr>
                        </table>
                    }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    @if (Model.ShowHotArea)
    {
    <tr>
        <!-- Hot Home Condition -->
        <td width="490" style="padding: 12px; border-top: 3px solid #eee; background: #f5f5f5;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" valign="top" style="width: 20px; padding: 0 5px 0 0;">
                        <img src="@GlobalResources14.Default.images.icons.hot_png" width="16" height="22" border="0" style="width: 16px; height: 22px; border: 0;"
                            alt="Hot Home" /></td>
                    <td align="left" valign="top" style="padding: 3px 0 0 0; font-family:Arial,Helvetica,sans-serif;
                        font-size: 12px; color: #7d7d7d;">
                        <strong>@LanguageHelper.HotHome.ToMvcHtmlString()! &nbsp;</strong>@Html.GetFormattedHotHomeTitleAndDescription(Model.HotHomeTitle, Model.HotHomeDescription)</td>
                </tr>
            </table></td>
    </tr>
    }
    @if (Model.ShowPromoArea)
    {
    <tr>
        <!-- Special Offer Condition -->
        <td width="490" style="padding: 12px; border-top: 3px solid #eee; background: #f5f5f5;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20" valign="top" style="width: 20px; padding: 0 5px 0 0;">
                        <img src="@GlobalResources14.Default.images.icons.deals_png" width="16" height="22" border="0" style="width: 16px; height: 22px; border: 0;" alt="Special Offer" /></td>
                    <td align="left" valign="top" style="padding: 3px 0 0 0; font-family:Arial,Helvetica,sans-serif;font-size: 12px; color: #7d7d7d;">
                        <!-- Repeat line below for multiple -->
                        @foreach (var promo in Model.Promos)
                        {
                            <strong>@LanguageHelper.SpecialOffer &nbsp;</strong>   
                            <strong><a href="@promo.PromoURL" style="color: #0091da;">@Html.GetFormattedPromoTitleAndDescription(promo.PromoTextShort, promo.PromoTextLong)</a></strong>
                            <br />
                        }
                    </td>
                </tr>
            </table></td>
    </tr> 
    }
</table>
<br />