﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Mvc.Domain.Model.Web.Partials.LeadEmailItem
<table width="490" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
    style="background: #fff; width: 490px; border-top: 3px solid #eee;">
    <tr>
        <td valign="middle" style="width: 110px; padding: 12px 12px 8px 12px;">
            <table width="110" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
                style="background: #fff; width: 110px;">
                <tr>
                    <td align="center" valign="middle" style="padding: 0;">
                        <a href="@Model.DetailPageUrl">
                            <img src="@Model.ImageThumbnail" width="110" height="72" alt="" style="width: 110px; border: 0;" /></a></td>
                </tr>
                <tr>
                    <td align="center" style="padding: 4px 0;">
                        <table width="110" cellspacing="0" cellpadding="0" border="0" style="width: 110px;
                            background:@(Model.IsMove ? "#67AD45" : "#ffce34"); margin: 0; border-radius: 3px;">
                            <tr>
                                <td align="center" style="padding: 6px 2px; font-family:Arial,Helvetica,sans-serif;
                                    font-size: 12px;">
                                    <a href="@Model.BrochureUrl" style="color:@(Model.IsMove ? "#ffffff" : "#4b4b4b"); text-decoration: none;">@LanguageHelper.ViewBrochure.ToMvcHtmlString() ></a></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
        <td align="left" valign="top" style="padding: 8px; font-family: Arial,Helvetica,sans-serif; font-size: 12px;
            color: #7d7d7d; line-height: 20px;">
            <strong><a href="@Model.DetailPageUrl" style="font-size:14px;color:#0091da;text-decoration: none;">@Model.CommunityName</a></strong><br />
            @LanguageHelper.By.ToMvcHtmlString() <a href="@Model.BuilderUrl" style="color: #0091da; text-decoration: none;">@Model.BrandName</a><br />
            @if (!string.IsNullOrEmpty(Model.FormatPrice))
            {
                @LanguageHelper.From.ToLower().ToMvcHtmlString() <strong style="font-size: 14px;">@Model.FormatPrice</strong>
                                            <br />
            }
            <span style="color: #bababa;">@Model.Address @Model.City, @Model.State @Model.PostalCode<br /> 
                (@string.Format(LanguageHelper.LocatedFrom, Model.Distance, Model.SourcePropertyName))</span></td>
    </tr>
</table>
