﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<div id="pro_divAgCompensationLead">
    <fieldset id="" class="pro_ValuesInputForm">
        <legend><strong>Ask the builder about agent compensation</strong></legend>
        <div id="pro_agCompensationLeadFormDivId">
        </div>
        <script type="text/x-kendo-template" id="templateAgCompensationLead">   
            <span id="pro_errorAgentCompensation" style="display: none;">
                There is an error in your request, please try again
            </span>
            @Html.TextArea("Message", "I would like information about your agent commissions and buyer registration policies")
            <span class="contact-info">
                <p>Your contact information will be included with the message</p>
            </span>
            <span class="btn-wrapper">
                @if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                {   
                    <input type="button" class="btn btn_AgentCompensation perform_login" id="pro_agCompensationLeadBtnId" value="Send" onclick="$jq.googlepush('Account Events','SignIn','Open Form - Agent compensation question')" data-nextWidth="@ModalWindowsConst.ProCrmFavoriteWidth" data-nextHeight="@ModalWindowsConst.ProCrmFavoriteHeight" data-width="@ModalWindowsConst.SignInModalWidth" data-height="@ModalWindowsConst.SignInModalHeight" data-url="@Pages.LoginModal"/>
                    <span class="nhs_LockIcon lock"></span>
                }
                else
                {
                    <input type="button" class="btn btn_AgentCompensation" id="pro_agCompensationLeadBtnId" value="Send" />
                }
                <input type="button" id="pro_agCompensationLeadBtnFakeId" value="Send" class="btn btn_SendMessageFake" style="display: none;" />
            </span>
        </script>
        <script type="text/x-kendo-template" id="templateAgCompensationLeadConfirmation">
            <p>
                Thank you. @Html.Raw(Model.BuilderName) will reply to you shortly.
            </p>
            <input type="button" class="btn btn_AgentCompensation" id="pro_agCompensationLeadBtnConfirmId"
                value="Send Another Message" />
        </script>
        @{
            Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionHidden, Model);
        }
    </fieldset>
</div>
<script type="text/javascript">
    var crmAgCompensationLead = null;
    jQuery(document).ready(function () {
        var parameters = {
            showSaveActivityClient: false,
            contactToBuilderCompensationLeadUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SendMessageToBuilderAgCommision)",
            UpdateTargetId: "pro_agCompensationLeadFormDivId",
            height: "@(ModalWindowsConst.ProCrmFavoriteHeight)",
            width: "@(ModalWindowsConst.ProCrmFavoriteWidth)"
        };
        crmAgCompensationLead = new NHS.Scripts.Crm(parameters);
        crmAgCompensationLead.initSendMessageCompensationLead();
    });
</script>
