﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityItemViewModel
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@if (Model.ShowBasicListingIndicator || Model.ShowBasicNearByListingIndicator)
{
    <p class="nhs_GroupingBar">
        @LanguageHelper.OtherCommunities.ToMvcHtmlString()
    </p>
    <hr class="hidden" />
}
else if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <!-- GROUPING -->
    <p class="nhs_GroupingBar">
        @Model.GroupingBarTitle
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
}
<!-- BASIC COMMUNITY -->
<div class="nhs_CommResItem nhs_BasicItem clearfix" itemscope itemtype="http://schema.org/ImageObject">
    <p>
        @Html.NhsActionLink(Model.Name, NhsMvc.BasicCommunityDetail.Show(Model.Id, Model.ParamsBasicCommunityHref()), new { title = Model.Name + " - " + Model.City + ", " + Model.State, itemprop = "name", @id = "nhs_CommResultsItemLink" + Model.Id })
    </p>
    <div class="nhs_ItemImages">
        <div>
            <div class="mainImage">
                @Html.AsyncCommunityImage(Model)
            </div>
        </div>
    </div>
    <div class="nhs_ItemData1">
        @Model.GetCommunityPrice()
        <div class="nhs_Location">
            <p>
                @Model.City, @Model.State @Model.Zip
            </p>
            @Html.GetMapPopup(Model)
        </div>
        <p class="nhs_BrandName" itemprop="description">@Model.Brand.Name</p>
    </div>
    <ul class="nhs_Actions"></ul>
    <div class="nhs_ItemData2">
        @if (Model.NumHomes > 0)
        {
            <p>
                @Model.NumHomes homes in this community match your search
            </p>
        }
    </div>
</div>
<hr class="hidden" />
<!-- BASIC COMMUNITY - END -->
