﻿@using Nhs.Library.Helpers.Content
@using Nhs.Web.UI.AppCode.Helper
@model  IEnumerable<Nhs.Mvc.Domain.Model.Web.Partials.CommunityMapCard> 
@{
    var partnerLayoutConfig = PartnerLayoutHelper.GetPartnerLayoutConfig();
} 
<div id="nhs_MapCards">
    @foreach (var card in Model)
    {
        <div class="nhs_MapCard nhs_MapCardWImg clearfix">
            @if ((card.NunHom > 0 || card.ForceHeader))
            {
                <p class="nhs_MatchCount">
                    @if (!card.IsBasicListing)
                    {
                        if (partnerLayoutConfig.IsBrandPartnerCna)
                        {
                            <span>@string.Format("{0} casa{1} en esta comunidad coincide{2} tu busqueda", card.NunHom, card.NunHom == 1 ? "" : "s", card.NunHom == 1 ? "" : "en")</span>
                        }
                        else
                        {
                            <span>
                                @string.Format("{0} home{1} in this community match{2} your search", card.NunHom, card.NunHom == 1 ? "" : "s", card.NunHom == 1 ? "es" : "")
                            </span>
                        }
                    }
</p>
            }
            <div class="nhs_ItemImages">        
                @Html.CommunitCardThumbnail(card)
                @if (!card.IsBasic && !card.IsBasicListing)
                {
                    <div>
                        <img src="@(Configuration.IRSDomain + card.BrandImageUrl)" alt="@card.Brand"/>
                    </div>
                }
            </div>
            <div class="nhs_ItemData1">
                <h2>
                    @Html.CommunitCardLink(card, card.Name, new
               {
                   title = card.Name + " - " + card.City + ", " + card.St,
                   onclick = "jQuery.googlepush('Search Events','Search Results - Map','Map - Quick Comm Name'); NHS.Scripts.Helper.stopBubble(event); "
               })</h2>
                @card.GetCommunityPrice()
                <p class="nhs_BrandName">@card.Brand.ToMvcHtmlString()</p>
                <div class="nhs_Location">
                    <h3>@card.City, @card.St @card.Zip</h3>
                </div>
            </div>
            <ul class="nhs_Actions">
                @if (card.Ct.ToLower() != "c" && !card.IsBasic && !card.IsBasicListing)
                {
                    <li>@Html.GetFreeBrochureLink(card)</li>
                }
                @if (card.NunHom > 0 || !card.ForceHeader)
                {
                    <li>
                        @Html.CommunitCardLink(card, LanguageHelper.ViewHome + (card.NunHom != 1 ? "s" : "") + " >", new { @class = "btnCss", onclick = "jQuery.googlepush('Search Events', 'Search Results - Map', 'Map - Quick Comm View Homes');" })
                    </li>
                }
            </ul>
            <input type="hidden" id="IsBasic" class="hidden" value="@card.IsBasic"/>
            <input type="hidden" id="IsBasicListing" class="hidden" value="@card.IsBasicListing"/>
        </div>
    }
</div>
