﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityItemViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Helpers.Content
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <!-- GROUPING -->
    <p class="nhs_GroupingBar">
        @Model.GroupingBarTitle
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
}
<!-- COMMUNITY -->
@{
    var partnerLayoutConfig = PartnerLayoutHelper.GetPartnerLayoutConfig();
} 

<div class="nhs_CommResItem @(partnerLayoutConfig.IsBrandPartnerMove ? "mv_CommResItem " : " ")clearfix">
    <p>
        @Html.NhsLink(Model.Name, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { title = Model.Name + " - " + Model.City + ", " + Model.State, @id = "nhs_CommResultsItemLink" + Model.Id }) <span>@LanguageHelper.By @MvcHtmlString.Create(HttpUtility.HtmlDecode(@Model.Brand.Name))</span></p>
    <div class="nhs_ItemImages">
        <div>
            <div class="mainImage">
                @Html.AsyncCommunityImage(Model)
            </div>
            @*Community Status*@
            @Model.GetCommunityStatus()
        </div>
        @if (!partnerLayoutConfig.IsBrandPartnerMove)
        {
            <div class="secondaryImage">
                @Html.AsyncCommunityImageMove(Model)
            </div>        
            <div class="nhs_BrandImage">
                <div>
                    <img data-src="@Model.Brand.Logo" itemprop="contentUrl" class="async" src="http://images.newhomesource.com/images/1x1.gif" alt="@Model.Brand.Name in @Model.City, @Model.State" />
                </div>
            </div>
        }
    </div>
    @if (partnerLayoutConfig.IsBrandPartnerMove && Model.Brand != null)
    {           
        <div class="nhs_BrandImage">
            <img data-src="@(Model.Brand.Logo)" itemprop="contentUrl" class="async" alt="@Model.Brand.Name home for sale in @Model.City.Trim(), @Model.State.Trim()" src="http://images.newhomesource.com/images/1x1.gif" />
        </div>
    }
    <div class="nhs_ItemData1">
        @*Price*@
        @Model.GetCommunityPrice()
        <div class="nhs_Location">
            <p>
                @Model.City, @Model.State @Model.Zip
            </p>
            @Html.GetMapPopup(Model)
        </div>        
    </div>
    <div class="nhs_ItemData2">
        @if (Model.NumHomes > 0)
        {
            if (partnerLayoutConfig.IsBrandPartnerCna)
            {
                <p>
                    @Model.NumHomes casa@(Model.NumHomes == 1 ? "" : "s")
                    en esta comunidad                    
                    <span>coincide@(Model.NumHomes == 1 ? "" : "n")
                    con la busqueda</span>
                </p>
            }
            else
            {
                <p>
                    @Model.NumHomes @(Model.NumHomes == 1 ? "home" : "homes")
                    in this community                    
                    <span>@(Model.NumHomes == 1 ? "matches" : "match")
                    your search</span>
                </p>
            }
        }
    </div>
    <ul class="nhs_Actions">
        <li>@Html.GetSaveCommPlannerLink(LanguageHelper.Save, Model.IsFavoriteListing, Model.Id, Model.BuilderId)</li>
        @if (Model.Status.ToLower() != "c")
        {
            <li>@Html.GetFreeBrochureLink(Model)</li>
        }
        else
        {
            <li>
                @Html.NhsLink(LanguageHelper.PutMeOnInterest, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(),
                                      new
                                      {
                                          @class = "btnCss btn_InterestList" + (partnerLayoutConfig.IsBrandPartnerMove ? " btn_FreeBrochure" : "")
                                      })
            </li>
        }
    </ul>
    <p class="hidden">
        Features</p>
    <ul class="nhs_Features">
        @if (Model.HasHotHomes > 0)
        {
            <li title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.Deal.ToMvcHtmlString()</li>
        }
        @if (Model.IsGreen > 0)
        {
            <li title="@LanguageHelper.GreenFeatures" class="nhs_Green">@LanguageHelper.Green.ToMvcHtmlString()</li>
        }
        @if (Model.Promo > 0)
        {
            <li title="@LanguageHelper.SpecialOffers" class="nhs_Deals">@LanguageHelper.Offers.ToMvcHtmlString()</li>
        }            
@*<li title="Virtual Tour" class="nhs_VTour"><a href="#">Virtual Tour</a></li>
        <li title="Plan Viewer" class="nhs_PlanView"><a href="#">Plan Viewer</a></li>*@
        @if (Model.HasVideo > 0)
        {
            <li title="@LanguageHelper.Video" class="nhs_Video"><a href="#">@LanguageHelper.Video.ToMvcHtmlString()</a></li>
        }
    </ul> 
    @if (Model.HotHomes.Any() || Model.Promotions.Any())
    {
        <div class="nhs_ItemDeals">
            <ul>
                @foreach (var hotHome in Model.HotHomes)
                {
                    <li class="nhs_HotHome"><strong>@LanguageHelper.HotHome.ToMvcHtmlString()</strong> <strong>@hotHome.Title.ToMvcHtmlString()</strong>
                        @hotHome.Description.ToMvcHtmlString()<br />
                        @Html.FormatBedrooms(hotHome.NumBedrooms) @Html.FormatBathrooms(hotHome.NumBathrooms, hotHome.NumHalfBathrooms)
                        @Html.FormatGarages(hotHome.NumGarages) @hotHome.SpecAddress.ToMvcHtmlString() (@hotHome.Name.ToMvcHtmlString())</li>
                }
                @foreach (var specialOffer in Model.Promotions)
                {
                    <li class="nhs_Offer"><strong>@LanguageHelper.SpecialOffer</strong>@specialOffer.PromoTextShort.ToMvcHtmlString()</li>
                }
            </ul>
        </div>
    }
</div>
<hr class="hidden" />
<!-- COMMUNITY - END -->
