﻿@using Nhs.Library.Helpers.Content
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.HomeItemViewModel            
@if (Model.ShowBasicListingIndicator || Model.ShowBasicNearByListingIndicator)
{
<p class="nhs_GroupingBar">
    @LanguageHelper.OtherHomesForSale.ToMvcHtmlString()
</p>
}
<!-- BASIC HOME -->
<div class="nhs_HomeResItem nhs_BasicItem @(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerMove ? "mv_HomeResItem " : " ")clearfix" itemscope itemtype="http://schema.org/ImageObject">    
    <p>
        @(Model.IsBasic == 0 ? Html.NhsActionLink(Model.Addr, NhsMvc.BasicHomeDetail.Show(Model.HomeId, Model.BlParamsBasicListingHref().Replace(".", "")), new { title = Model.Addr + ", " + Model.City + ", " + Model.StateName, @id = "nhs_CommResultsItemLink" + Model.HomeId, itemprop="name" })
                              : Html.NhsActionLink(Model.PlanName, NhsMvc.BasicCommunityDetail.Show(Model.CommId, Model.BlParamsBasicListingHref().Replace(".", "")), new { title = Model.City + ", " + Model.StateName, @id = "nhs_CommResultsItemLink" + Model.CommId, itemprop = "name" }))
    </p>
    <div class="nhs_ItemImages">
        @Html.AsyncNhsImage(Model.ValidateHomeResThumb1(), Model.GetHomeResThumb1Size(), Model.Addr + ", " + Model.City + ", " + Model.StateName, false, true, true)
    </div>
    <div class="nhs_ItemData1">
        <div class="nhs_Location">
            <p>
                @Model.City, @Model.State @Model.Zip
            </p>
            @Html.GetMapPopup(Model)
        </div>
    </div>
    <div class="nhs_ItemData3">
        <p class="nhs_ItemPrice">
            <strong>@Model.GetFormattedPrice()</strong>
        </p>
    </div>
    <div class="nhs_ItemData2">
        <ul class="nhs_Specs">
            @Model.GetFormattedBed()
            @Model.GetFormattedBath()
            @Model.GetFormattedGarage()
            @Model.GetFormattedSqFt()
        </ul>
    </div>
    <ul class="nhs_Actions">
        <li>
            @if (Model.IsBasic != 0)
            {
                @Html.NhsActionLink(LanguageHelper.ViewDetails, NhsMvc.BasicCommunityDetail.Show(Model.CommId, Model.BlParamsBasicListingHref()), new { title = Model.City + ", " + Model.StateName, @class = "btnCss" })
            }
        </li>
    </ul>
    @Html.HiddenFor(viewModel => viewModel.HomeId)
</div>
<hr class="hidden" />
<!-- BASIC HOME - END -->
