﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Library.Helpers.Content
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.HomeItemViewModel
@if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <!-- GROUPING -->
    <p class="nhs_GroupingBar">
        @Model.GroupingBarTitle
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
}
<!-- HOME -->
<div class="nhs_HomeResItem @(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerMove ? "mv_HomeResItem " : " ")clearfix" itemscope itemtype="http://schema.org/ImageObject">
    <p>
        @Html.NhsLink(Model.GetHomeLinkText(), RedirectionHelper.GetHomeDetailPage(Model.IsSpec > 0), Model.ToHomeDetail(), new { title = Model.GetHomeLinkText(), @id = "nhs_CommResultsItemLink" + Model.HomeId })
    </p>
    @*<p>Marketing Headline. </p>*@
    <div class="nhs_ItemImages">
        @Html.AsyncNhsImage(Model.ValidateHomeResThumb1(), Model.GetHomeResThumb1Size(), Model.PlanName + " - " + Model.CommName + ": " + Model.City + ", " + Model.StateName + " - " + Model.Brand.Name, false)
        @if (Model.ImageCount > 1)
        {
            <p class="nhs_ItemCount">@Model.ImageCount <span>Photos</span></p>
        }
        @Model.GetFormattedListingStatus()
    </div>
    <div class="nhs_ItemData3">
        @if (Model.Status.ToLower() != "m")
        {
            <p class="nhs_ItemPrice">
              @LanguageHelper.From.ToMvcHtmlString() <strong>@Model.GetFormattedPrice()</strong>
            </p>
        }
        <p class="nhs_ItemCommName">
            <strong itemprop="description">@Model.CommName</strong>
        </p>
    </div>
    <div class="nhs_ItemData2">
        <ul class="nhs_Specs">
            @Model.GetFormattedBed()
            @Model.GetFormattedBath()
            @Model.GetFormattedGarage()
            @Model.GetFormattedSqFt()
        </ul>
        <p class="hidden">
            Features
        </p>
        <ul class="nhs_Features">
            @if (Model.IsHotHome > 0)
            {
                <li title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.Deal.ToMvcHtmlString()</li>
            }
            @if (Model.Green > 0)
            {
                <li title="@LanguageHelper.GreenFeatures" class="nhs_Green">@LanguageHelper.Green.ToMvcHtmlString()</li>
            }
            @if (Model.Promotions.Any())
            {
                <li title="@LanguageHelper.SpecialOffers" class="nhs_Deals">@LanguageHelper.Offers.ToMvcHtmlString()</li>
            }
            @if (!string.IsNullOrEmpty(Model.VirtualTour) && !Model.VirtualTour.Equals("N"))
            {
                <li title="@LanguageHelper.VirtualTour" class="nhs_VTour"><a href="#">@LanguageHelper.VirtualTour.ToMvcHtmlString()</a></li>
            }
            @if (!string.IsNullOrEmpty(Model.PlanViewer) && !Model.PlanViewer.Equals("N"))
            {
                <li title="@LanguageHelper.PlanViewer" class="nhs_PlanView"><a href="#">@LanguageHelper.PlanViewer.ToMvcHtmlString()</a></li>
            }
            @if (Model.HasVideo > 0)
            {
                <li title="@LanguageHelper.Video" class="nhs_Video"><a href="#">@LanguageHelper.Video.ToMvcHtmlString()</a></li>
            }
        </ul>
    </div>
    <div class="nhs_ItemData1">
        <div class="nhs_Location">
            <p>@Model.City, @Model.State @Model.Zip</p>
            @Html.GetMapPopup(Model)
        </div>
        @Model.GetFormattedBrandName()
    </div>
    
    <ul class="nhs_Actions">
        <li>@Html.GetSaveHomePlannerLink(LanguageHelper.Save, Model.IsFavoriteListing, Model.CommId, Model.BuilderId, Model.HomeId, Model.IsSpec)</li>
        
        @if ((Model.CommStatus ?? string.Empty).ToLower() != "c")
        {
            <li>@Html.GetFreeBrochureLink(Model)</li>
        }
        else
        {
            <li>
                @Html.NhsLink(LanguageHelper.PutMeOnInterest, RedirectionHelper.GetHomeDetailPage(Model.IsSpec > 0), Model.ToHomeDetail(),
                new
                {
                    @class = "btnCss btn_InterestList" +
                         (PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerMove
                             ? " btn_FreeBrochure"
                             : string.Empty)
                })
            </li>
        }

    </ul>
    @if (Model.IsHotHome > 0 || Model.Promotions.Any())
    {
        <div class="nhs_ItemDeals">
            <ul>
                @foreach (var hotHome in Model.HotHomes)
                {
                    <li class="nhs_HotHome">
                        <strong>@hotHome.Title.ToMvcHtmlString()</strong> @hotHome.Description.ToMvcHtmlString()<br />
                        @Html.FormatBedrooms(hotHome.NumBedrooms) @Html.FormatBathrooms(hotHome.NumBathrooms, hotHome.NumHalfBathrooms)
                        @Html.FormatGarages(hotHome.NumGarages) @hotHome.SpecAddress.ToMvcHtmlString() @hotHome.Name.ToMvcHtmlString()
                    </li>
                }
                @foreach (var specialOffer in Model.Promotions)
                {
                    <li class="nhs_Offer"><strong>@LanguageHelper.SpecialOffer.ToMvcHtmlString()</strong>@specialOffer.PromoTextShort.ToMvcHtmlString()</li>
                }
            </ul>
        </div>
    }
</div>
<hr class="hidden" />
<!-- HOME - END -->
