﻿@using Nhs.Web.UI.AppCode.Helper
<meta name="viewport" content="width=device-width, maximum-scale=1.0"/>

<link href="@Configuration.DefaultStyleSheetMvc" type="text/css" rel="stylesheet"/>
<!--[if IE]>
    <link href="@GlobalResourcesMvc.Default.css.ie_only_css?@Configuration.ResourceVersionNumber" type="text/css" rel="stylesheet" />
<![endif]-->