﻿@using Nhs.Web.UI.AppCode.Helper
@*Responsive - /MasterPages/Mvc/NhsShell.cshtml Only*@
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/3a9b0bd5-5143-43a6-aadc-7a1848a7ae22.css" />

@ResourceCombinerEnum.NEWHOMESOURCE14CSS.GetCrunchedResource()
<link rel="stylesheet" type="text/css" href="@GlobalResources14.Default.css._0_mediaqueries_css?@Configuration.ResourceVersionNumber" />
<link rel="stylesheet" type="text/css" href="@GlobalResources14.NewHomeSource.css._1_mediaqueries_css?@Configuration.ResourceVersionNumber" />

