﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
<header id="nhs_Header" class="clearfix">
    @if (@Model.Globals.PartnerLayoutConfig.AmIOnNhsTv)
    {
        <a id="nhs_TvHeaderLogo" href="/newhomesourcetv" title="New Home Source TV" accesskey="1"><img src="@GlobalResources14.NewHomeSource.images.tv.nhstv_logo_2x_png" alt="New Home Source TV" /></a>
    }
    else
    {
        if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
        {
            <a id="nhs_HeaderLogo" href="/" title="New Homes" accesskey="1" onclick=" jQuery.googlepush('Site Links', 'Navigation ', 'NHS Logo') "><img src="@GlobalResources14.NewHomeSource.images.nhs_logo_2x_png" alt="New Home Source" /></a>

        }
        else
        {
            <a id="nhs_HeaderLogo" href="/" title="Casas Nuevas" accesskey="1" onclick="jQuery.googlepush('Site Links','Navigation ','NHS Logo')"><img src="@GlobalResources14.CNA.images.cna_logo_2x_png" alt="Casas Nuevas Aqui" /></a>
        }
    }
    <nav>
        <ul>
            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
            {
                <li id="nhs_GlobalNavWhyNew">
                    @Html.NhsLink(LanguageHelper.WhyBuyNew, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Why Buy New')", href = string.Format("{0}/startfresh/?utm_source=newhomesource.com&utm_medium=internal&utm_campaign=topnav&utm_content=whybuynew", Configuration.NewHomeSourceDomain), target = "_blank" }, true)
                    <div>
                        <div>
                            <div class="clearfix">
                                <div>
                                    <p class="nhs_Title">@LanguageHelper.YourNextHome.ToMvcHtmlString()</p>
                                    <p>@LanguageHelper.LearnWhyNewHomesAreBetter.ToMvcHtmlString()</p>
                                </div>
                                <ul>
                                    <li>@Html.NhsLink("<span>" + LanguageHelper.LowCostOwnership + "</span>", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Why Buy New - Low Cost Ownership')", href = string.Format("{0}/low-cost-ownership/", Configuration.NewHomeSourceDomain), target = "_blank" }, true)</li>
                                    <li>@Html.NhsLink("<span>" + LanguageHelper.DesignedForLiving + "</span>", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Why Buy New - Designed for Living')", href = string.Format("{0}/designed-for-living/", Configuration.NewHomeSourceDomain), target = "_blank" }, true)</li>
                                    <li>@Html.NhsLink("<span>" + LanguageHelper.QualityConstruction + "</span>", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Why Buy New - Quality Construction')", href = string.Format("{0}/quality-construction/", Configuration.NewHomeSourceDomain), target = "_blank" }, true)</li>
                                    <li>@Html.NhsLink("<span>" + LanguageHelper.EnergyEfficiency + "</span>", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Why Buy New - Energy Efficiency')", href = string.Format("{0}/energy-efficiency/", Configuration.NewHomeSourceDomain), target = "_blank" }, true)</li>
                                </ul>
                                <a class="btnCss" href="@string.Format("{0}/startfresh/", Configuration.NewHomeSourceDomain)" onclick="jQuery.googlepush('Site Links','Navigation New','Why Buy New - Learn More')" target="_blank">@LanguageHelper.FindOutMore.ToMvcHtmlString() ></a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            <li id="nhs_GlobalNavCms">
                @Html.NhsLink(EktronConstants.ResourceCenterMainTitle, Pages.GetResourceCenterLink(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide')" }, true)
                <div>
                    <div>
                        <div class="clearfix">
                            <ul>
                                <li>
                                    <span>@LanguageHelper.AdviceInspiration.ToMvcHtmlString()</span>
                                    <ul>
                                        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                        {
                                            <li>
                                                @Html.NhsLink(LanguageHelper.WeekNewsletter, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Resource Center - Newsletter')", href = NhsUrlHelper.BuildResourceCenterUrl("/articles/home-of-the-week-sign-up-form") }, true)
                                            </li>
                                        }
                                        @if (Configuration.ShowEBook)
                                        {
                                            <li>
                                                @Html.NhsLink(LanguageHelper.DownloadFreeNewHome101eBook, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - Download eBook')", href = "/ebook" }, true)
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <span>@LanguageHelper.TheLatestNews.ToMvcHtmlString() </span>
                                    <ul>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.ReadOurBlog, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Blog')", href = "http://blog.newhomesource.com", target = "_blank" }, true)
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>@LanguageHelper.MeetOurNewHomeExperts.ToMvcHtmlString()</span>
                                    <ul>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.SeeWhoWritingForYou, "", new List<RouteParam>(), new { href = NhsUrlHelper.BuildResourceCenterUrl(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "autores" : "authors") }, true)
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div>
                                <p>@LanguageHelper.StepsToYourNewHome.ToMvcHtmlString()</p>
                                <ol>
                                    <li class="nhs_1">@Html.NhsLink(LanguageHelper.NewHome101, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - New Home 101')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "casa-nueva-101" : "new-home-101")) }, true)</li>
                                    <li class="nhs_2">@Html.NhsLink(LanguageHelper.HowToShopNew, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - How to Shop New')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "cómo-comprar-casa-nueva" : "how-to-shop-new")) }, true)</li>
                                    <li class="nhs_3">@Html.NhsLink(LanguageHelper.TheBuyingProcess, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - The Buying Process')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-compra" : "the-buying-process")) }, true)</li>
                                </ol>
                                <ol start="4">
                                    <li class="nhs_4">@Html.NhsLink(LanguageHelper.DesigningYourHome, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - Designing Your New Home')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "diseñando-su-hogar" : "designing-your-new-home")) }, true)</li>
                                    <li class="nhs_5">@Html.NhsLink(LanguageHelper.TheBuildingProcess, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - The Building Process')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-construcción" : "the-building-process")) }, true)</li>
                                    <li class="nhs_6">@Html.NhsLink(LanguageHelper.SettlingIn, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','New Home Guide - Settling In')", href = NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "instalándose-en-su-casa" : "settling-in")) }, true)</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="nhs_GlobalNavAccount">
                <a href="#" onclick="jQuery.googlepush('Site Links','Navigation v2','Account'); return false;"><span>@(UserSession.UserProfile.ActorStatus == WebActors.ActiveUser ? UserSession.UserProfile.FirstName : LanguageHelper.SignIn)</span></a>
                <div class="@(UserSession.UserProfile.ActorStatus == WebActors.ActiveUser ? "nhs_HasAccount" : "")">
                    <div>
                        @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                        {
                            <div>
                                <p>
                                    @Html.NhsModalWindowLink(LanguageHelper.CreateFreeAccount, Pages.RegisterModal, ModalWindowsConst.RegisterModalWidth,
                                                                    ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(), null)
                                </p>
                                <ul>
                                    <li>@LanguageHelper.SaveSearches.ToMvcHtmlString()</li>
                                    <li>@LanguageHelper.TrackHomes.ToMvcHtmlString()</li>
                                    <li>@LanguageHelper.GetGreatFealsAndOffers.ToMvcHtmlString()</li>
                                </ul>
                            </div>
                        }
                        <ul>
                            @* Commented out since CNA does not have this set up, Praveen allow us to remove this if then *@
                            @*@if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                                {*@
                            @if (UserSession.UserProfile.ActorStatus == WebActors.ActiveUser)
                            {
                                <li>
                                    @Html.NhsLink(LanguageHelper.SignOut, NhsMvc.Account.ActionNames.LogOut, new List<RouteParam>(), new { id = "lnkSignOff" })
                                </li>
                                <li>
                                    @Html.NhsLink(LanguageHelper.MyAccount, Pages.SavedHomes)
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a id="fbLoginButton" style="cursor: pointer">@LanguageHelper.LoginWith.ToMvcHtmlString() <span>Facebook</span></a>
                                </li>
                                <li>
                                    @Html.NhsModalWindowLink(LanguageHelper.SignIn, Pages.LoginModal, ModalWindowsConst.SignInModalWidth,
                                        ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new Dictionary<string, object> { { "onclick", "jQuery.googlepush('Account Events','Access Account','Open Form - Header Link')" }, { "data-hideTitle", "true" } })
                                </li>
                                <li>
                                    @Html.NhsModalWindowLink(LanguageHelper.CreateAccount, Pages.RegisterModal, ModalWindowsConst.RegisterModalWidth,
                                        ModalWindowsConst.RegisterModalHeight, new List<RouteParam>(), new Dictionary<string, object> { { "onclick", "jQuery.googlepush('Account Events','Create Account','Open Form - Header Link')" }, { "data-hideTitle", "true" } })
                                </li>
                            }
                            @*}*@
                            <li>
                                @Html.NhsLink(LanguageHelper.Help, Pages.SiteHelp, true)
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li id="nhs_GlobalNavSearch">
                <a href="/" onclick="jQuery.googlepush('Site Links', 'Navigation v2', 'Home Search');"><span>@LanguageHelper.HomeSearch</span></a>
                <div>
                    <div>
                        <div class="clearfix">

                            @{ Html.RenderPartial(NhsMvc.PartialViews.Views.MasterPages.MenuSearchForm); }
                            <ul>
                                <li>
                                    <span>@LanguageHelper.NotSureWhereToStart.ToMvcHtmlString()</span>
                                    <ul>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.ResourceCenter101, Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? Pages.CentroDeRecursos101 : Pages.ResourceCenter101, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Home Search - Get in the know/New Home 101')" }, true)
                                        </li>
                                        @if (!string.IsNullOrEmpty(Model.Globals.ActiveEngageHeader))
                                        {
                                            <li>
                                                @*@Html.NhsLink("Chat with us", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Chat Links','Navigation v2','Home Search - Chat with us')", href = "javascript:webISChatPop('Template=825639');" }, true) *@
                                                @Html.ChatLink("Chat with us", "jQuery.googlepush('Chat Links','Navigation v2','Home Search - Chat with us')", ChatPlacement.NhsChatLink)
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <span>@LanguageHelper.OrSearchByHomeType.ToMvcHtmlString()</span>
                                    <ul>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.BoylSearch, Pages.BOYLSearch, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Home Search - Custom Homes/BOYL')" }, true)
                                        </li>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.GreenHomes, Pages.GreenSearch, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Home Search - Green Homes')" }, true)
                                        </li>
                                        <li>
                                            @Html.NhsLink(LanguageHelper.HotDealsOnNewHomes, Pages.HotDealsSearch, new List<RouteParam>(), new { onclick = "jQuery.googlepush('Site Links','Navigation v2','Home Search - Hot Deals')" }, true)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                            {
                                <ul>
                                    <li>
                                        <span>
                                            @LanguageHelper.VisitOurOtherSites.ToMvcHtmlString()
                                        </span>
                                        <ul>
                                            <li>
                                                @Html.NhsLink(LanguageHelper.CustomNewHomes, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - Custom New Homes')", target = "_blank", href = "http://www.customnewhomes.com" }, true)
                                            </li>
                                            <li>
                                                @Html.NhsLink(LanguageHelper.GreenHomeSource, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - Green Home Source')", target = "_blank", href = "http://www.greenhomesource.com" }, true)
                                            </li>
                                            <li>
                                                @Html.NhsLink(LanguageHelper.NewRetirementCommunities, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - New Retirement Communities')", target = "_blank", href = "http://www.newretirementcommunities.com" }, true)
                                            </li>
                                            <li>
                                                @Html.NhsLink(LanguageHelper.UrbanCondoLiving, "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - Urban Condo Living')", target = "_blank", href = "http://www.urbancondoliving.com" }, true)
                                            </li>
                                            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                                            {
                                                <li>
                                                    @Html.NhsLink("Casas Nuevas Aqu&iacute; (en Espa&ntilde;ol)", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - Casas Nuevas Aqui')", target = "_blank", href = "http://www.casasnuevasaqui.com" }, true)
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @Html.NhsLink("NewHomeSource", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - NewHomeSource')", target = "_blank", href = "http://www.newhomesource.com" }, true)
                                                </li>
                                            }
                                            <li>
                                                @LanguageHelper.ForRealEstateAgents.ToMvcHtmlString()<br />
                                                @Html.NhsLink("NewHomeSource Professional", "", new List<RouteParam>(), new { onclick = "jQuery.googlepush('Outbound Links','Navigation v2','Home Search - NHSPro')", target = "_blank", href = "http://www.newhomesourceprofessional.com" }, true)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
