﻿@using Nhs.Web.UI.AppCode.Helper
<!-- Menu Search Form -->
<div id="nhs_GlobalSearchNavSearchBox">
    @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.Search, NhsMvc.Home.Name, true, "nhs_megaMenuSearchForm", new Dictionary<string, object> { { "class", "clearfix" } }))
    {
        <p class="nhs_Title">
            @LanguageHelper.SearchLargestNewHomeSearh.ToMvcHtmlString()</p>
    <fieldset>
        <legend class="visuallyhidden">@LanguageHelper.SearchNewHomes.ToMvcHtmlString()</legend>
        <span id="nhs_field_validation_error"
              class="field-validation-error" style="display: none">
            @LanguageHelper.InvalidLocationErrorMessage.ToMvcHtmlString()
        </span>
        <p>
            <label for="nhs_GlobalSearchNavLocation" class="visuallyhidden">
                @LanguageHelper.EnterLocationOrCommunityName.ToMvcHtmlString():
            </label>
            @Html.Hidden("SearchType", string.Empty, new { id = "nhs_GlobalSearchNavType470" })
            <input id="nhs_GlobalSearchNavLocation" type="text" value="@(String.IsNullOrEmpty(UserSession.PersonalCookie.SearchText) ? String.Empty : UserSession.PersonalCookie.SearchText)" placeholder="@LanguageHelper.EnterLocationOrCommunityName"
                   name="SearchText" />
            <input id="nhs_GlobalSearchNavSubmit" value="Search" type="submit" />
        </p>
    </fieldset>
    }
    <p>
        @LanguageHelper.YourSearchWillFindNewHomes.ToMvcHtmlString()</p>
</div>
  <script type="text/javascript">
      jQuery(document).ready(function () {
          var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
          search.initialize();
          search.setupSearchBox("nhs_GlobalSearchNavLocation", "nhs_GlobalSearchNavType");
      });
    </script>
<!-- Menu Search Form -->