﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@Html.DisplayStaticOverlay()
<div id="nhs_x03Tracker">
</div>
<div id="fb-root">
</div>
@{ Html.RenderPartial(NhsMvc.PartialViews.Views.Common.CdnBottom); }

@(NhsRoute.IsBrandPartnerNhsPro ? ResourceCombinerEnum.NHSPRO7SHELLMASTERMVCJSBOTTOM.GetCrunchedResource() : ResourceCombinerEnum.NHSSHELL2014JSBOTTOM.GetCrunchedResource())

<div id="fb-root"></div>
<script type="text/javascript">
    var logger = null;
    var adUpdater = new NHS.Scripts.AdUpdater('#nhs_', '@NhsRoute.CurrentRoute.HostUrl', @Model.Globals.AdController.GetAdParamsInJson(), '@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "" : "/" + NhsRoute.PartnerSiteUrl)');

    jQuery(document).ready(function() {
        
        var lazyLoadParameters = {
            NoPhotoBig: '@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_325x216_png : GlobalResources14.Default.images.no_photo.no_photos_325x216_png)',
            NoPhotoSmall: '@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_120x80_png : GlobalResources14.Default.images.no_photo.no_photos_120x80_png)'
        };

        var lazyLoad = new NHS.Scripts.LazyLoad(lazyLoadParameters);
        lazyLoad.LazyLoadImages();

        var params = {
            appId: '@Configuration.AppIdFacebook',
            language:'@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "es_LA" : "en_US")'
        };

        var facebook = new NHS.Scripts.Facebook(params);
        facebook.initialize();


        var parameters = {
            partnerID: @NhsRoute.PartnerId,
            partnerName : '@Model.Globals.PartnerInfo.PartnerName',
            brandPartnerId: @NhsRoute.BrandPartnerId,
            siteRoot: '/@NhsRoute.SiteRoot',
            marketId: @Html.Raw(RouteParams.Market.Value<int>().ToString()),
            communityId: @Html.Raw(RouteParams.Community.Value<int>().ToString()),
            builderId: @Html.Raw(RouteParams.Builder.Value<int>().ToString()),
            planId: @Html.Raw(RouteParams.PlanId.Value<int>().ToString()),
            specId: @Html.Raw(RouteParams.SpecId.Value<int>().ToString()),
            tdvTable : @Html.Raw(Html.GetSeoTDVMetrics())
        };


        logger = new NHS.Scripts.Globals.EventLogger(parameters);
        logger.attachEventsToAddThis();

    });

    var adsAlreadyRender = false;
    var isPro = @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro.ToString().ToLower());
    var isNotMovePartner = @((NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()).ToString().ToLower());
    var isNotNhsPartner = @((NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>()).ToString().ToLower());
    var isNotNhlPartner = @((!Model.Globals.PartnerLayoutConfig.IsPartnerNhl).ToString().ToLower());
    var isNotYahooPartner = @((!Model.Globals.PartnerLayoutConfig.IsPartnerYahoo).ToString().ToLower());

    var isNotSearchResultPage = @((Model.Globals.PartnerLayoutConfig.AmIOnCommunityResultsPage == false && Model.Globals.PartnerLayoutConfig.AmIOnHomeResultsPage == false).ToString().ToLower());

    window.onload = function() {

        if (adsAlreadyRender === false) {
            adsAlreadyRender = true;

            if (isPro || (isNotMovePartner && isNotNhsPartner && isNotNhlPartner && isNotYahooPartner) || isNotSearchResultPage) {
                adUpdater.RenderAllAds();
            } else {
                if (typeof commResults !== "undefined")
                    commResults.loadAds();
            }
        }

        if (!isPro) {
            var livechat = new NHS.Scripts.ChatLoader();
            livechat.init('');
        }
    };
</script>
@if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{  
    @Model.Globals.ActiveEngageHeader.ToMvcHtmlString() 
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#nhs_chatDataSrc').attr('src', jQuery('#nhs_chatDataSrc').attr('data-src') + jQuery.GetLocationHrefWithUtmzAndRefer('@UserSession.Refer'));
            jQuery('#nhs_chatDataSrc').removeAttr('data-src');
        });
    </script>
}
@{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.TrackingScripts, NhsMvc.PartialViews.Name); }
@ResourceCombinerEnum.KENDOJS.GetCrunchedResource()

@if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
{
    <script type="text/javascript">
        //set current to the "es-ES" culture script
        kendo.culture("es-ES");
    </script>
}
