﻿@using Nhs.Web.UI.AppCode.HtmlHelpers
@*<img id="static-map"/>*@
NE:<input id="ne" type="text" style="width: 400px;" /><br />
SW:<input id="sw" type="text" style="width: 400px;" /><br />
Center:<input id="center" type="text" style="width: 400px;" /><br />
Radio:<input id="radio" type="text" value="25" />
<input type="button" id="crear" value="Crear Cisculo" />
<input type="button" id="Borrar" value="Borrar Cisculo" />
<br />
<div id="map-canvas" style="width: 600px; height: 600px; float: left;margin-right: 25px">
</div>

<div id="map-canvas2" style="width: 600px; height: 600px; float: left;">
</div>

@section cphFooter{
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/GoogleMapApi.js" type="text/javascript"></script>
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/GoogleMapApiAutoComplite.js" type="text/javascript"></script>
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/GoogleMapApiPointsofInterests.js" type="text/javascript"></script>
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/GoogleMapApiDrivingDirections.js" type="text/javascript"></script>
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/markerclusterer.js" type="text/javascript"></script>
    <script src="@(Configuration.ResourceDomain)/GlobalResources14/Default/js/SearchApi/GoogleStaticMapApi.js" type="text/javascript"></script>
    @Html.GetGoogleMapScript()
        type="text/javascript"></script>
        <script type="text/javascript">
        jQuery(document).ready(function() {

            var googleStatic = new NHS.Scripts.GoogleStaticMapApi({ center: 'Brooklyn+Bridge,New+York,NY' });
            googleStatic.AddMarkPoint("S", 40.702147, -74.015794, "blue");
            googleStatic.AddMarkPoint("G", 40.711614, -74.012318, "green");
            googleStatic.AddMarkPoint("C", 40.718217, -73.998284, "red");
            var url = googleStatic.GetStaticMapImage();
            jQuery("#static-map").attr("src", url);

            console.time("Total Proccess");
            var options = {
                MapOptions: {
                    Latitude: 30.266898,
                    Longitude: -97.742798,
                    Zoom: 9,
                    ContainerName: 'map-canvas'
                },
                Loader: "@(Configuration.ResourceDomain)/GlobalResources14/default/images/icons/nhs_loader.gif",
                MarkerClustererOptions: {
                    gridSize: 50,
                    maxZoom: 20
                },
                callBack: function(info) {

                },
                UseClusterer: true,
                MarkerPointAsynOptions: {
                    Listener: 'idle',
                    UrlServer: "@(Html.GetActionUrl("search", "getpointsmap"))"
                },
                ProcessResultOptions: {
                    Latitude: 'Lat',
                    Longitude: 'Lng',
                    Name: 'Name'
                }
            };

            var googleApi = new NHS.Scripts.GoogleMapApi(options);

            var cityCircle;

            jQuery("#crear").click(function() {
                if(cityCircle)
                     cityCircle.setMap(null);
                var populationOptions = {
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: googleApi.map,
                    center: new  google.maps.LatLng(30.266898, -97.742798),
                    radius:parseInt( jQuery("#radio").val()) * 1609.34
                };
                
                 cityCircle = new google.maps.Circle(populationOptions);

            });


            console.time("Create Map");
            googleApi.createMap();
            console.timeEnd("Create Map");

            googleApi.getBoundsFromMap = function() {
                var bound = this.map.getBounds();
                var northEast = bound.getNorthEast();
                var southWest = bound.getSouthWest();
                var center = this.map.center;


                jQuery("#ne").val(northEast.lat() + ',' + northEast.lng());
                jQuery("#sw").val(southWest.lat() + ',' + southWest.lng());
                jQuery("#center").val(center.lat() + ',' + center.lng());
                var data = {
                    minLat: southWest.lat(),
                    minLng: southWest.lng(),
                    maxLat: northEast.lat(),
                    maxLng: northEast.lng()
                };
                return data;
            };

            googleApi.getMarkerPointAsyn = function() {
                var self = this;
                var optionsMpa = self.options.MarkerPointAsynOptions;
                self.options.Events.OnGetMarkerPointAsyn(optionsMpa);
                google.maps.event.addListener(self.map, optionsMpa.Listener, function() {
                    self.showLoading();
                    console.time("Get Points for the map");
                    var data = self.getBoundsFromMap();
                    self.map.clearOverlays();
                    jQuery.getJSON(optionsMpa.UrlServer, data, function(results) {
                        console.timeEnd("Get Points for the map");
                        self.processResult(results);
                    });
                });
            };
            
            function getGroups(results) {
                var data = [];
                console.time("GroupBy Lat Lon");

                for (var i = 0; i < results.length; i++) {
                    var result = results[i];
                    var point = {
                        Latitude: result.Latitude,
                        Longitude: result.Longitude,
                        Icon: 'http://resources-sprint.newhomesource.com/globalresources/default/images/map/marker.gif',
                        Html: "<p><div class='ui-infobox-content'><b>" + result.CommunityId + "<\/b><p>" + result.PriceLow + " - " + result.PriceHigh + "</p></div></p><br/>"
                    };
                    if (data.length == 0) {
                        data.push(point);
                    } else {
                        var isNew = true;
                        for (var f = 0; f < data.length; f++) {
                            if (data[f].Latitude == point.Latitude && data[f].Longitude == point.Longitude) {
                                isNew = false;
                                data[f].Html += "<p><div class='ui-infobox-content'><b>" + point.CommunityId + "<\/b><p>" + point.PriceLow + " - " + point.PriceHigh + "</p></div></p><br/>";
                                data[f].Icon = 'http://resources-sprint.newhomesource.com/globalresources/default/images/map/marker_multiple.gif';
                                break;
                            }
                        }

                        if (isNew)
                            data.push(point);
                    }
                }

                console.timeEnd("GroupBy Lat Lon");
                return data;
            }

            googleApi.getMarkerPointAsyn();
            googleApi.initializeAutoComplete();

            googleApi.placeChangedProcess = function(marker, autocomplete) {
                var self = this;
                self.infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    self.map.fitBounds(place.geometry.viewport);
                } else {
                    self.map.setCenter(place.geometry.location);
                    self.map.setZoom(17); // Why 17? Because it looks good.
                }

                var icon = self.iconAutoComplite(place);
                marker.setIcon(icon);
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                self.infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                self.infowindow.open(self.map, marker);

                var end = new google.maps.LatLng(self.options.MapOptions.Latitude, self.options.MapOptions.Longitude);
                self.initializeDrivingDirections(place.geometry.location, end);
            };


            var school = {
                TitleShow: "Click to Show Schools",
                TextShow: "Show Schools",
                TitleHide: "Click to Hide Schools",
                TextHide: "Hide Schools",
                Radius: 80000,
                Types: ["school"],
                Index: 1
            };

            googleApi.addShowPointOfInt(school);
            var church = {
                TitleShow: "Click to Show Churchs",
                TextShow: "Show Churchs",
                TitleHide: "Click to Hide Churchs",
                TextHide: "Hide Churchs",
                Radius: 80000,
                Types: ["church"],
                Index: 2
            };
            googleApi.addShowPointOfInt(church);
            var park = {
                TitleShow: "Click to Show Parks",
                TextShow: "Show Parks",
                TitleHide: "Click to Hide Parks",
                TextHide: "Hide Parks",
                Radius: 80000,
                Types: ["park"],
                Index: 3
            };

            googleApi.addShowPointOfInt(park);

        });

    </script>
    <script>
        jQuery(document).ready(function () {
            var poly, map;
            var markers = [];
            var path = new google.maps.MVCArray;

            var uluru = new google.maps.LatLng(30.266898, -97.742798);

                map = new google.maps.Map(document.getElementById("map-canvas2"), {
                    zoom: 9,
                    center: uluru//,
                    //mapTypeId: google.maps.MapTypeId.SATELLITE
                });

                poly = new google.maps.Polygon({
                    strokeWeight: 3,
                    fillColor: '#5555FF'
                });
                poly.setMap(map);
                poly.setPaths(new google.maps.MVCArray([path]));

                google.maps.event.addListener(map, 'click', addPoint);
            

            function addPoint(event) {
                path.insertAt(path.length, event.latLng);

                var marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true
                });
                markers.push(marker);
                marker.setTitle("#" + path.length);

                google.maps.event.addListener(marker, 'click', function () {
                    marker.setMap(null);
                    for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                    markers.splice(i, 1);
                    path.removeAt(i);
                }
            );

                google.maps.event.addListener(marker, 'dragend', function () {
                    for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
                    path.setAt(i, marker.getPosition());
                }
            );
            }


        });
    </script>
}
@section cphHead {
    <style type="text/css">
        .gmnoprint
        {
            margin-left: 0 !important;
        }
        
        .mapMenuOptions
        {
            margin-top: 5px;
            background-clip: padding-box;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            color: #000000;
            direction: ltr;
            font-family: Roboto, Arial, sans-serif;
            font-size: 11px;
            font-weight: 500;
            min-width: 25px;
            overflow: hidden;
            padding: 1px 6px;
            position: relative;
            text-align: center;
        }
        
        #map-canvas
        {
            height: 600px;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        .controls
        {
            margin-top: 16px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        
        #pac-input
        {
            background-color: #fff;
            padding: 0 11px 0 13px;
            width: 400px;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            text-overflow: ellipsis;
        }
        
        #pac-input:focus
        {
            border-color: #4d90fe;
            margin-left: -1px;
            padding-left: 14px; /* Regular padding-left + 1. */
            width: 401px;
        }
        
        .pac-container
        {
            font-family: Roboto;
        }
        
        #type-selector
        {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }
        
        #type-selector label
        {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    </style>
}
