﻿@model Nhs.Web.UI.AppCode.ViewModels.BoylResultsViewModel
@using Nhs.Library.Helpers.Utility
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers

@foreach(var home in Model.SpotHomes) 
{
    <div class="nhs_SpotlightItem">
        <div class="nhs_SpotHomeImg">
            @Html.NhsImageLink(home.PlanImageThumbnail, RedirectionHelper.GetHomeDetailPage(home.SpecId > 0), home.ToHomeDetail(), new { title = home.PlanName }, new { alt = home.PlanName })
        </div>
        <p>
            @Html.NhsLink(home.PlanName, RedirectionHelper.GetHomeDetailPage(home.SpecId > 0), home.ToHomeDetail(), null)<br/>
            <abbr title="bedrooms"><span>@home.NumBedrooms</span>@LanguageHelper.BedroomAbbreviation.ToMvcHtmlString()</abbr>
            <abbr title="bathrooms">@ListingUtility.ComputeBathrooms(home.NumBathrooms, home.NumHalfBathrooms)@LanguageHelper.BathroomAbbreviation.ToMvcHtmlString()</abbr><br/>
            @LanguageHelper.From.ToTitleCase().ToMvcHtmlString() @home.FormatedPrice
            @if (home.IsHotHome)
            {
                <br/>
                <a title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.HotDeal.ToMvcHtmlString()</a>

            }
        </p>
    </div>
}