﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BoylResultsViewModel

<div class="nhs_Content" id="nhs_BoylResults">
    @if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled)
    {
        Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
    }
    <div id="nhs_ResultsHeader">
        <h2>@LanguageHelper.CustomHomeBuildersIn.ToMvcHtmlString() @Model.MarketName</h2>
       @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
       {
        <p>@string.Format("{0} constructor{2} y {1} casa{3}", Model.TotalBuilders, Model.TotalListings, Model.TotalBuilders > 1 ? "es" : "", Model.TotalListings>1?"s":"")</p>
       }
       else
       {
        <p>@string.Format("{0} builders and {1} listings", Model.TotalBuilders, Model.TotalListings)</p>
       }
    </div>
    @foreach (var result in Model.Results)
    {
        <div class="nhs_BoylResMainRow" data-title="@result.Key">
            <h4>@result.Key</h4>
            @foreach (var boylResult in result)
            {
                @Html.Partial(NhsMvc.Default.Views.BoylResults.Partials.BoylResultItem, boylResult)
            }
        </div>
        <div class="nhs_Clear">
        </div>
    }
    @if (Model.BasicResults.Any())
    {
        <div class="nhs_BoylBasicComm">
            <h3>@LanguageHelper.OtherBuilders.ToMvcHtmlString()</h3>
        </div>
        foreach (var result in Model.BasicResults)
        {
            <div class="nhs_BoylResMainRow" data-title="@result.Key">
                <h4>@result.Key</h4>
                @foreach (var boylResult in result)
                {
                  @Html.Partial(NhsMvc.Default.Views.BoylResults.Partials.BoylResultItem, boylResult)
                }
            </div>
              <div class="nhs_Clear">
             </div>
        }
    }
    <div class="nhs_GroupingBar">
        <h3>@LanguageHelper.BuildOnYourLotHomePlans.ToMvcHtmlString()</h3>
    </div>
    <div class="nhs_BoylResSpotHomes">
        <p class="nhs_LegalText nhs_BoylLegal">
            @LanguageHelper.BuildOnYourLotService.ToMvcHtmlString()</p>
        @{ Html.RenderPartial(NhsMvc.Default.Views.BoylResults.BoylSpotData); }
        @*<p class="nhs_ViewAllLink">
            <strong>
                @Html.NhsLink(LanguageHelper.SeeAllBuildOnYourLotHomePlans, RedirectionHelper.GetHomeResultsPage(), new List<RouteParam> { new RouteParam(RouteParams.Market, Model.MarketId), new RouteParam(RouteParams.ListingType, "B", RouteParamType.QueryString) }.ToResultsParams(), null)
            </strong>
        </p>*@
    </div>
    <div class="nhs_GroupingBar">
        <h3>
            @LanguageHelper.OtherNewHomeSearches.ToMvcHtmlString()</h3>
    </div>
    <div id="pnlFindNewHomeCommunities" class="nhs_BoylResSpecialRow" onmouseover="this.className='nhs_BoylResSpecialRowOn';"
        onmouseout="this.className='nhs_BoylResSpecialRow';">
        <h3>@Html.NhsLink(LanguageHelper.FindNewHomeCommunities, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.MarketId), null)</h3>
    </div>
    @if (Model.ShowComingSoonLink)
    { 
        <div id="pnlViewComingSoonResults" class="nhs_BoylResSpecialRow" onmouseover="this.className='nhs_BoylResSpecialRowOn';"
            onmouseout="this.className='nhs_BoylResSpecialRow';">
            <h3>@Html.NhsLink(LanguageHelper.FindGrandOpeningsComingSoonCommunities, RedirectionHelper.GetCommunityResultsPage(), new List<RouteParam> { new RouteParam(RouteParams.Market, Model.MarketId.ToString()), new RouteParam(RouteParams.ComingSoon, "true",RouteParamType.QueryString) }.ToResultsParams(), null)</h3>
        </div>
    }
    <p class="nhs_LegalText nhs_CommResLegal">
        @LanguageHelper.WhileBuildersDigitalExperience.ToMvcHtmlString()</p>
</div>
@ResourceCombinerEnum.BOYLRESULTSJS.GetCrunchedResource()
<div id="nhs_Loading">
    <p>
        <strong>Loading...</strong>
    </p>
</div>
<script type="text/javascript">

    var commResults;

    jQuery(document).ready(function () {
               
        // Once the doc is ready, loads the map.
        var parameters = {
                partnerID : @NhsRoute.PartnerId ,
                brandPartnerId : @NhsRoute.BrandPartnerId ,
                siteRoot : '/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "" : (NhsRoute.PartnerSiteUrl + "/")) ', 
                communityPage : '@NhsMvc.CommunityDetail.Name ', 
                basicListingPage : '@Pages.BasicDetail ', 
                fromPage : '@NhsRoute.CurrentRoute.Function ',
                resourceRoot : '@Configuration.ResourceDomain /',
                marketId : @Model.MarketId ,
                
                adAction: "'/@NhsRoute.PartnerSiteUrl/common/Advertisement'", 
                autoCompleteAction: '/@NhsMvc.PartialViews.ActionNames.PartnerLocationsIndex ',
                tabsControlId  : 'nhs_CommResTabs',
                loadingControlId : 'nhs_Loading',
                pageSize : @UserSession.PageSize,
                maxResults: @Configuration.MaxMapPoints ,
                freeBrochureLink : '@Html.GetMapRequestInfoLinkCr()',
                requestPromoLink : '@Html.GetMapRequestPromoLinkCr()',
                requestAppointmentLink : '@Html.GetMapRequestApptLink()',                                
                partnerSiteUrl : '@NhsRoute.PartnerSiteUrl',
                currentBrandName : '@(@Model.CurrentBrand == null? "" : Model.CurrentBrand.BrandName)'
            };

        commResults = new NHS.Scripts.BoylResults(parameters);
        commResults.initialize();

        setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.CommunityResults', { builderCommunityList: '@Model.BuilderCommunityList', marketId: @Model.MarketId, refer: '@UserSession.Refer', partnerId : @NhsRoute.PartnerId  }); }, 2000); 
    });
</script>
