﻿@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.EBookViewModel

<div class="nhs_Account nhs_RequestThanks nhs_eBookThanks clearfix">    
    <header>
        <h1>
            @LanguageHelper.ThankYou.ToMvcHtmlString()</h1>
    </header>
    <h2>@LanguageHelper.EbookCheckInbox1.ToMvcHtmlString()<br />@LanguageHelper.EbookCheckInbox2.ToMvcHtmlString()</h2>

    <div id="nhs_EbookModal">
    <h2>@LanguageHelper.EbookRecommend.ToMvcHtmlString():</h2>

    <div id="nhs_AccountInformation">
        <fieldset>
            <legend class="visuallyhidden">@LanguageHelper.Newsletters.ToMvcHtmlString()</legend>

            <div class="nhs_EbookChkbox clearfix">                    
                <input id="nhs_homeOfTheWeek" type="checkbox" class="nhs_eBookOption" checked="checked" />
                <label for="nhs_homeOfTheWeek">
                    <strong>@LanguageHelper.HomeOfTheWeek.ToMvcHtmlString()</strong><br />
                    @LanguageHelper.EbookGetInspired.ToMvcHtmlString()
                 </label>
            </div>

            <div class="nhs_EbookChkbox clearfix">                
                <input id="nhs_weeklyMarketUpdate" type="checkbox" class="nhs_eBookOption" checked="checked" />
                <label for="nhs_weeklyMarketUpdate"> 
                    <strong>@LanguageHelper.WeeklyMarketUpdate.ToMvcHtmlString()</strong><br />
                    @LanguageHelper.StayUpToDate.ToMvcHtmlString()
                </label>
                @Html.DropDownListFor(model => Model.MarketId, Model.MarketList, LanguageHelper.SelectYourMarket, new { @class = "nhs_newletter_dropMarket" })
            </div>

            <div id="nhs_EbookSignUpErrorsModal">
            </div>

            <p><input id="nhs_eBookSingUp" class="btnCss" type="button" value="@LanguageHelper.SignUp" /></p>

            <p class="nhs_EbookNoThanks"><a href="javascript:void(0)" class="nhs_CloseModal">@LanguageHelper.NoThanks.ToMvcHtmlString()</a></p>

        </fieldset>
    </div>
    </div>

    <!-- CLOSE SECTION -->
    <div id="nhs_ebookClose" class="btn-wrapper" style="display: none">
        <header>
            <h1>
                 @LanguageHelper.EbookYouAreSignedUp.ToMvcHtmlString()</h1>
        </header>
        <h2>
            @LanguageHelper.EbookLookForNextEdition.ToMvcHtmlString()<br />
            @LanguageHelper.EbookInYourInbox.ToMvcHtmlString()</h2>
    
        <p class="close-btn nhs_EbookNoThanks"><a href="javascript:void(0)" class="nhs_CloseModal">@LanguageHelper.Close.ToMvcHtmlString()</a></p>        
    </div>
    <!-- end CLOSE SECTION -->

</div>
<input id="nhs_eBookEmail" type="hidden" value="@Model.Email" />
    


