/* ---------------------------------------------
Title:      Move.com Main Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:	Jul 19 2010
Files affected: MoveShell, MoveShellHome
----------------------------------------------- */

html, body, .nhsContent {
	color: #333; /*#5f5046;*/
	}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333; /*#5F5046;	*/
	}
/*body.mvBody {
	background: #dfe2e6 url(/globalresourcesmvc/move/images/backgrounds/big-bg-sprite.png) repeat-x 0 -475px;
	} */

a, a:link, a:active, a:visited { color: #497cbc; text-decoration: none; cursor: pointer; }
a:hover { color: #497cbc; text-decoration: underline; cursor: pointer; }

.nhsAsterisk {
	font-family: Arial,Helvetica,sans-serif;
	}
	
#nhsPartnerContainer {
	width: 800px;
	}

/* Fonts */	

.nhsGroupingBar, 
h3.nhsGroupingBar,
.nhsContent .nhsCommDrivAppRoute h3,
#nhsCommResults .nhsGroupingBar,
#nhsHomeResults .nhsGroupingBar, 
#nhsBoylResults .nhsGroupingBar,
#nhsLocationHandler .nhsGroupingBar {
	background: #497cbc;
	}
.nhsDetailCommFooterInfo {
	background: #f7f7f8;
	border: 1px solid #cbcdbe;
	border-width: 0 1px 1px 1px;
	}
.nhsDetailCommFooterInfo .nhsGroupingBar {
	background: #cbcdbe;
	}
.nhsDetailCommFooterInfo .nhsGroupingBar p {
	color: #5f5046;
	}
.nhsHomeDetailCommInfo {
	background: #497cbc;
	margin-top: 0;
	}
.nhsHomeDetailCommPrice {
	background-image: none;
	}
.nhsHomeDetailHeadInfo,
.nhsCommDetailHeadInfo {
	margin-top: 0;
	background: #fdf0ca;
	}	
.nhsBackResultsBar {
	margin-bottom: 8px;
	padding: 6px 4px;
	width: 790px;
	background: #ebece7;
	border: 1px solid #dcdbc8;
	}
.nhsDetailNearby {
	background: transparent;
	border: 1px solid #dcdbc8;
	}
.nhsDetailNearby h6 {
	background: #e7e7e7;
	}
.nhsPhotosList {
	background: #f7f7f8;
	}
.nhsPhotosList .nhsGroupingBar {
	background: #cbcdbe;
	}
.nhsPhotosList .nhsGroupingBar p {
	color: #5f5046;
	}
.nhsPhotoViewer {
	background: #f7f7f8;
	}	

	
.nhsResultsMapLink {
	width: 9em;
	}
a.nhsResultsMapLink {
	width: 7em;
	}
.nhsCommResultsInfo1 {
	width: 168px;
	}
.nhsCommResultsInfo2 {
	width: 170px;
	}
	
/* End Fonts */

#nhsContainer,
#nhsContainer.mvContainer {
	margin: 0 auto; 
	padding: 0; 
	width: 980px; 
	text-align: left; 
	}
#mvSectionMain {
	float: left;
	width: 970px;
	padding: 5px 5px 0 5px;
	min-height: 450px;
	background: #fff;
	font-size: 13px;
	}
	
#mvheader_wrapper {
	width:100%;	
	background: #313845;
	float:left;
	padding-top:5px;
	border-bottom: 5px solid #67ad45;
	}
#mvHeader {	
	height: 90px;
    margin: 0 auto;
    width: 970px;
    position:relative;
    font-size: 13px;
	}
.mvNavs_wrapper {
	bottom: 0;
    left: 178px;
    position: absolute;
	}	
.mvLogoBox {
    float: left;
    height: 55px;
    margin: 10px 0 0 3px;
    width: 155px;
	}
.mvLogoBox a {
	border:0;
	}
	
#mvToolNav {
	color: #999;
    display: inline;
    float: right;
    margin: 5px 0 0 0; 
    padding: 0; 
    width: 675px;
    font-size: 85%;    
	}
#mvPartner #mvToolNav {
	margin-right: 10px;
	}
#mvToolNav ul {
	float:right; 
	margin:0; 
	padding:0;
	list-style:none;
	}
#mvToolNav ul li {	
	float:left;
	display:inline;
	margin: 0;
	padding: 0 0 0 10px;
	}
#mvToolNav ul li a {
	display: block; 
	margin: 0; 
	padding: 3px 0 4px 0; 
	/*border-left: 1px solid #777; */
	color: #999; 
	text-decoration:none; 
	}
#mvToolNav ul li a:hover {
	color: #fff;
	display:block;
	text-decoration:underline;
	}
#mvToolNav ul li a#fbLoginButton > span {
	display: inline-block;
	margin: 0 0 -6px 0;
	padding: 16px 0 0 0;
	width: 14px;
	height: 0;	
	overflow: hidden;
	background: url(/globalresourcesmvc/newhomesource/images/icons/fb_icon.png) no-repeat left top;
    }	
#mvToolNav ul li.mvToolSignIn a  {
	border: 0; 
	}
#mvAddThisBox .addthis_button_facebook,
#mvAddThisBox .addthis_button_twitter,
#mvAddThisBox .addthis_button_email,
#mvAddThisBox .addthis_button_print {
	width: 15px;
	}
#mvAddThisBox .addthis_separator {
	float: left;
	margin: 0 4px;
	}	
#mvToolNav ul li#mvAddThisBox {
	width: auto;	
	margin: 0 0 0 10px;
	padding: 2px 0 0 10px;
	/*border-left: 1px solid #777;*/
	}
#mvToolNav ul li#mvAddThisBox a {
	float: left;
	margin: 0 4px !important;	
	padding: 0 !important;
	border: 0;
	}
#mvToolNav ul li #nhsLiveChat a {
	display: inline-block;
	padding: 1px 0 1px 26px; 
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	background: url(/globalresourcesmvc/default/images/icons/chat.png) no-repeat left 50%;
	}
#mvToolNav ul li #nhsLiveChat a:hover {
	text-decoration: underline;
	color: #fff;
	}

/* NAVIGATION */
#mvSearchNav {
    font-family: Verdana,Helvetica,sans-serif;
	color: #fff;
    display: inline;
    font-size: 12px;
    font-weight: bold;
	}
#mvSearchNav ul {
	list-style:none;
	}
#mvSearchNav ul li {	
    display: inline;
    float: left;
    margin-right: 16px;
    position: relative;
	}
#mvSearchNav li a {
	color: #fff;
	text-decoration: none;
	display: block;
	height: 30px;
	padding: 0;
	background-color: #525b68;
	}
#mvSearchNav li a:before {
    content: "";
    width: 0; 
	height: 0; 
	position: absolute;
	top: 0;
	left: -3px;
	border-left: 3px solid transparent;
	border-right: 0px solid transparent;
	
	border-bottom: 30px solid #525b68;
    }	
#mvSearchNav li a:after {
    content: "";
    width: 0; 
	height: 0; 
	position: absolute;
	top: 0;
	right: -3px;
	border-left: 0px solid transparent;
	border-right: 3px solid transparent;
	
	border-bottom: 30px solid #525b68;
    }	
#mvSearchNav li a span {
	color: #fff;
	display: block;
	padding: 7px 10px 7px 10px;
	}
#mvSearchNav li a:hover {
	color: #fff;
	text-decoration: none;	
	display: block;
	background: #464f5e;
	}
#mvSearchNav li a:hover:before {
	border-bottom: 30px solid #464f5e;
    }	
#mvSearchNav li a:hover:after {
	border-bottom: 30px solid #464f5e;
    }	
#mvSearchNav li.active a {
	background: #67ad45;    
	}
#mvSearchNav li.active a span {
	background: #67ad45;
	}
#mvSearchNav li.active a:before {
	border-bottom: 30px solid #67ad45;
    }	
#mvSearchNav li.active a:after {
	border-bottom: 30px solid #67ad45;
    }	
		
.nhsPersonalBar {
	float: left;
	width: 948px; /*788px;*/
	margin: 3px 0 6px 0;
	padding: 6px 0 6px 12px;
	border: 1px solid #999;
	border-width: 1px 0;
	background: #dfdfde;
	font-size: 85%;
	font-weight: bold;
	color: #666;
	}
.nhsPersonalBar a, 
.nhsPersonalBar a:link, 
.nhsPersonalBar a:visited, 
.nhsPersonalBar a:active,
.nhsPersonalBar a:hover {
	color: #24619e;
	}
	
#mvAdTop { clear:both; width:730px; margin:0 auto; padding:0 0 5px 0; text-align:center; }
#mvAdTop .mvAdBorder { display: block; height: 90px; }
.mvAdBorder { border:1px solid #7f7f7f; }
	
.mvContainer .nhsHomeSearchBox .autoSuggestList {
	left: 14px !important;
	top: 46px !important;
	}
	
#nhsFooterWrapper {
	background: #c6ccd2;
	float:left;	
	width:100%;
	padding: 20px 0;
	}
#nhsFooter {
    color: #676767;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 77%;
    margin: 0 auto;
    padding-bottom:50px;
    width: 950px;
	}
.mvFooterGroup {
	float: left;
	width: 640px;
	margin: 5px 0 15px 0;
	line-height: 16px;
	}
.mvFooterCol {
	float: left;
	margin: 0;
	width: 32%;
	}
.mvFooterCol ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding-left: 0;
	}
.mvFooterCopyright {
	width: 100%;
	border-top: 1px solid #C3C4C8;
	padding: 16px 0 0 0;
	}
#nhsFooterAdBox {
	border: 0px solid #fff;
	float: left;
	margin: 0;
	padding: 0;
	width: 310px;
	}
.mvNAHB {
	position: absolute;
	left: 149px;
	top: 13px;
	width: 280px;
	border: 0px solid #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	color: #fff;
	}
.mvNAHB img {
	display: block;
	float: right;
	padding: 2px 0;
	background: #fff;
	border: 1px solid #ccc;
	}
.mvFooterNAHBDiv {
    float: left;
    font-size: 138.5%;
    padding: 5px 0;
	}
.mvFooterNAHBDiv img {
    float: left;
	}
.mvFooterNAHBSlogan {
    float: left;
    margin: 8px 0 0 8px;
	}
	
/* =Search */
.nhsBasicBox h2 {
	background-color: #cbcdbe;
	border-bottom: 2px solid #cbcdbe;
	}
.nhsBasicBox,
.nhsCustomBox,
.nhsQuickMoveBox {
	background: #f9f8f5;
	border: 2px solid #cbcdbe;
	}
.nhsBasicBox h3,
.nhsBasicBox label,
.nhsBasicBox .label,
.nhsCustomBox label,
.nhsCustomBox .label,
.nhsQuickMoveBox label,
.nhsQuickMoveBox .label {
	color: #816d5f;
	}
	
#nhsLocationSearchArea .locationField {
	border: 1px solid #989a97;
    border-right: 0;
    margin: 0;
    padding: 6px 0 7px 5px;
    width: 325px;
	}
#nhsLocationSearchArea select {
	border: 1px solid #989a97;	
	}

/* =Account */
.nhsRegNameBox label {
	width: 145px;
	}
.nhsRequestNameBox label {
	width: 132px;
	}
/*.nhsSavedTabs {
	font-size: 11px;
	}*/
.nhsSavedTabs li {
	background: transparent no-repeat top right;
	}
.nhsSavedTabs li a,
#nhsPartnerContainer .nhsSavedTabs li a {
	background: transparent no-repeat top left; 
	}
	
/* =Details */
.nhsCommTabs li, 
.nhsMediaTabs li,
#nhsPartnerContainer .nhsCommTabs li, 
#nhsPartnerContainer .nhsMediaTabs li {
	background: url(/globalresources/move/images/backgrounds/tab_63_off_right.gif) no-repeat top right;
	margin: 0 0 0 3px; 
	}
.nhsCommTabs li a,
.nhsMediaTabs li a,
#nhsPartnerContainer .nhsCommTabs li a, 
#nhsPartnerContainer .nhsMediaTabs li a {
	background: transparent no-repeat top left; 
	}
ul.nhsHeadSaveList {	
	font-family: Arial,Helvetica,sans-serif;
	}	
	
/* =Cms */

#nhsContentGuide a,
#nhsContentGuide a:link,
#nhsContentGuide a:visited,
#nhsContentGuide a:active {
	color: #313845;
	}
.nhsGuideSearchBoxForm {
	background: #313845;
	}
#nhsCatListContainer {
	background: #DFE2E6;
	border-style: solid;
	border-color: #313845;
	}
#nhsCatListContainer a {
	color: #313845;
	}
#nhsCatListContainer .nhsLevel1 a {
	color: #313845;
	}
#nhsCatListContainer .nhsLevel2 a {
	color: #313845;
	}
.nhsGuideHeader {
	border-color: #313845;
	}
.nhsGuideLayoutContent,
.nhsCatLayoutImages img {
	border: 1px solid #313845;
	}
.nhsGuideArtHeader {
	border: 1px solid #313845;
	border-bottom: 0;
	}
#nhsPartnerContainer .nhsGuideArtHeader {
	border-right: 1px solid #313845;
	}
