/* ---------------------------------------------
Title:      Move.com Button Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Sept 8 2010
----------------------------------------------- */

.btn,
#nhsPartnerContainer .btn {
	height: 24px;
	margin: 0;
	padding: 24px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	}
a.btn, a:hover.btn,
#nhsPartnerContainer a.btn, #nhsPartnerContainer a:hover.btn {	
	display: block;
	height: 0px !important;
	}

.btnSearch,
#nhsStateIndex .btnFindHomes {
	width: 81px;
	height: 31px;
	padding: 31px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_31_search.png) no-repeat center top;
	}
#nhsLocationSearchArea .btnFindHomes {
    background: url(/globalresources/move/images/buttons/btn_31_search.jpg) no-repeat scroll center top transparent;
    display: inline;
    float: left;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 32px 0 0;
    width: 32px;
    }
.btnReviewMatches,
#nhsPartnerContainer .btnReviewMatches {
	height: 35px;
	padding-top: 35px;
	width: 178px;
	background: transparent url(/globalresources/move/images/buttons/btn_review_matches.png) no-repeat center top;	
	display: block;
	margin: 0 auto; 
	text-align: center;
	}
.btnSearchComms,
#nhsPartnerContainer .btnSearchComms {    
    height: 35px;
    margin: 0;
	padding-top: 35px;
	width: 238px;
	background: transparent url(/globalresources/move/images/buttons/btn_search_communities.png) no-repeat center top;
	}
.btnSearchAgain {
	width: 122px;
	height:22px;
	background: transparent url(/globalresources/move/images/buttons/btn_search_again.png) no-repeat center top;
	}
/*.btnFreeBrochure,
#nhsPartnerContainer .btnFreeBrochure {	
	width: 128px;
	height: 35px;
	padding: 35px 0 0 0;
	background: url(/globalresourcesmvc/move/images/buttons/free_brochure_alt.png) no-repeat left top;
	}*/
.btnGetMoreInfo,
#nhsPartnerContainer .btnGetMoreInfo {
	float: right;
	width: 122px;
	height: 24px;
	background: transparent url(/globalresources/move/images/buttons/btn_get_more_info.png) no-repeat center top;
	}
.btnGetAFreeBrochure,
#nhsPartnerContainer .btnGetAFreeBrochure {
	height: 31px;
	padding-top: 31px;
	width: 176px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_get_a_free_brochure.png) no-repeat center top;
	}
.btnGetFreeInfo,
#nhsPartnerContainer .btnGetFreeInfo {
	height: 35px;
	margin-right: -1px;
	padding-top: 35px;
	width: 154px;
	background: transparent url(/globalresources/move/images/buttons/btn_get_free_info.png) no-repeat center top;
	float: right;
	}
/*.btnGetMyBrochure,
#nhsPartnerContainer .btnGetMyBrochure {
    height: 38px;
    padding: 38px 0 0 0;	
	background: transparent url(/globalresourcesmvc/move/images/buttons/get_my_brochure.png) no-repeat center top;
	}*/
.btnContactTheBuilder,
#nhsPartnerContainer .btnContactTheBuilder {
	width: 169px;
	height: 31px;
	padding: 31px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_31_contact_the_builder.png) no-repeat center top;
	}
.btnContactBuilder,
#nhsPartnerContainer .btnContactBuilder {
	width: 145px;
	height: 32px;
	padding: 32px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_31_contact_builder.png) no-repeat center top;
	}
.btnFindDeals,
#nhsPartnerContainer .btnFindDeals {
	width: 110px;
	height: 31px;
	padding: 31px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_31_find_deals.png) no-repeat center top;
	}
.btnQuickMoveIn,
#nhsPartnerContainer .btnQuickMoveIn {
	width: 151px;
	height: 24px;
	padding: 24px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_request_inventory.png) no-repeat center top;
	}
.btnRequestAppt,
#nhsPartnerContainer .btnRequestAppt {
	width: 184px;
	height: 31px;
	padding: 31px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_31_req_appt.png) no-repeat center top;
	}
.btnHotHomeInfo, a.btnHotHomeInfo,
#nhsPartnerContainer .btnHotHomeInfo,
#nhsPartnerContainer a.btnHotHomeInfo {
	height: 31px;
	padding-top: 31px;
	width: 163px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_hot_home_info.png) no-repeat center top;
	}
.btnHotHome,
#nhsPartnerContainer .btnHotHome {	
	width: 125px;
	background: transparent url(/globalresources/move/images/buttons/btn_hot_home_info.png) no-repeat center top;
	}
	
/*.btnNext {
	width: 65px;
	background: transparent url(/globalresources/move/images/buttons/btn_next.png) no-repeat center top;	
	}
.btnPrevious {
	width: 65px;
	background: transparent url(/globalresources/move/images/buttons/btn_prev.png) no-repeat center top;	
	}	*/
.btnFindBuilders {
	width: 120px;
	background: transparent url(/globalresources/move/images/buttons/btn_find_builders.png) no-repeat center top;	
	}
#nhsPartnerContainer .btnFindHomes,
.btnFindHomes {
	width: 112px;
	margin-left: 235px;
	background: transparent url(/globalresources/move/images/buttons/btn_find_homes.png) no-repeat center top;	
	}
.nhsCommDrivAppoint {
	width: 200px;
	}
.btnContact {
	width: 86px;
	background: transparent url(/globalresources/move/images/buttons/btn_contact.png) no-repeat center top;	
	}
.btnShowRoute {
	width: 112px;
	background: transparent url(/globalresources/move/images/buttons/btn_show_route.png) no-repeat center top;	
	}
.btnSubmit {
	width: 81px;
	background: transparent url(/globalresources/move/images/buttons/btn_submit.png) no-repeat center top;
	}

.btnSaveAlert,
#nhsPartnerContainer .btnSaveAlert {
	width: 131px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_save_my_alert.png) no-repeat center top;
	}	
.btnUpdateResults,
#nhsPartnerContainer .btnUpdateResults {
	width: 145px;
	height: 24px;
	padding-top: 24px;
	background: transparent url(/globalresources/move/images/buttons/btn_update_results.png) no-repeat center top;
	}
/*.btnSignIn,
#nhsPartnerContainer .btnSignIn {	
	width: 81px;
	height: 24px;
	padding-top: 24px;
	background: transparent url(/globalresources/move/images/buttons/btn_sign_in.png) no-repeat center top;
	}
.nhsRegLogin .btnSignIn, 
.nhsRequestLogin .btnSignIn {
	width: 81px;
	}
.btnSignInLarge,
#nhsPartnerContainer .btnSignInLarge {
	width: 84px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_sign_in.png) no-repeat center top;
	} 
.btnCreateAccount,
#nhsPartnerContainer .btnCreateAccount {	
	width: 167px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_create_my_account.png) no-repeat center top;
	} 
.btnUpdateMyAccount {	
	width: 170px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_update_my_account.png) no-repeat center top;
	} */
.btnFinish {
	width: 80px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_finish.png) no-repeat center top;
	}
.btnGetFreeBrochures {
	width: 171px;
	height: 31px;
	padding-top: 31px;
	background: transparent url(/globalresources/move/images/buttons/btn_31_get_free_brochures.png) no-repeat center top;
	}
	
.btnCss, 
a.btnCss {
    font-size: 12px !important;
    font-family: Verdana,Helvetica,sans-serif;
    color: #fff !important;    
    /*text-shadow: 1px 0 3px #333;
    border: 1px solid #68993D;*/
    
    background: #67ad45;
    /*background: -moz-linear-gradient(top, #97d55a 0%, #5db211 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97d55a), color-stop(100%,#5db211));
    background: -webkit-linear-gradient(top, #97d55a 0%,#5db211 100%);
    background: -o-linear-gradient(top, #97d55a 0%,#5db211 100%);
    background: -ms-linear-gradient(top, #97d55a 0%,#5db211 100%);
    background: linear-gradient(to bottom, #97d55a 0%,#5db211 100%);*/
    }	
.btnViewBrochure,
a.btnViewBrochure {
    background: #3e96da;
    }