/* ---------------------------------------------
Title:      Move.com Results Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Sept 23 2010
----------------------------------------------- */

#nhsCommResults {
	width: 970px;
	margin: 0;
	}

/*	=nhsCommRes Columns
-------------------- */
#nhsCommResContainer {
	float: right;
	width: 100%;
	margin-left: -666px; /*-606*/
	}
#nhsCommResFacetListColumn	{
	float: left;
	border: 0px solid;
	width: 658px; /*598*/
	_width: 662px; /*602*/
	position: relative;
	z-index: 999;
	}
.nhsCommResFacetColumn {
	float: left;
	width: 168px;
	_width: 162px;
	}
.nhsCommResListColumn {
	float: right;	
	width: 490px; /*430*/
	}	
#nhsCommResMapColumn {
	margin-left: 666px; /*606*/
	}
	
#nhsCommResConsole {
	float: left;
	border-bottom: 1px solid #c3d4e5;
	width: 100%;
	margin-bottom: 4px;
	}
.nhsCommResResultsBar {
	padding: 0 0 4px 0;
	}
.nhsContent .nhsCommResResultsBar h1 /* for 6.1 */ {	
	font-size: 135%;
	}
.nhsContent .nhsCommResResultsBar .nhsCommResMatches {
	font-weight: normal;
	font-size: 135%;
	}
.nhsMoreSearches li {
	_margin-bottom: -3px;
	}

.nhsCommResAlertsBar {
	float: left;
	font-size: 95%;
	margin-bottom: 4px;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsBackBtn,
#nhsBoylResults .nhsCommResAlertsBar a.nhsBackBtn {
	float: left;
	display: block;
	margin: 0;
	padding: 2px 0 2px 20px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_64_back.gif) no-repeat center left;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsBackBtn:hover,
#nhsBoylResults .nhsCommResAlertsBar a.nhsBackBtn:hover {
	text-decoration: underline;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsGetAlerts,
#nhsBoylResults .nhsCommResAlertsBar a.nhsGetAlerts {
	float: left;
	display: block;
	margin: 0 0 0 30px;
	padding: 2px 0 2px 20px;
	text-decoration: none;	
	background: transparent url(/globalresources/default/images/buttons/btn_63_send.gif) no-repeat left center;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsGetAlerts:hover,
#nhsBoylResults .nhsCommResAlertsBar a.nhsGetAlerts:hover {
	text-decoration: underline;
	}
	
.nhsCommResRelatedBar {
	margin: 0 0 4px 0;
	}

/* =Matching Homes text */	
.nhsResultsMatches {
	color: #24619e; /*#497cbc;*/
	font-weight: bold;
	text-decoration: underline;
	}
	
/*  =nhsCommResults - Jun 2010 
---------------------------------*/	

.nhsCommResTabs {
	border-bottom: 1px solid #c5c4b3;
	float: left;
	margin: 1px 0 -1px 8px;
	padding: 0;
	width: 470px;
	}
.nhsCommResTabs li, 
#nhsPartnerContainer .nhsCommResTabs li,
.nhsHomeResTabs li,
#nhsPartnerContainer .nhsHomeResTabs li {
	background: none;
	margin: 0 0 0 0;
	padding: 0 12px 0 0;
	}
	
#nhsCommResults .nhsCommResTabs li a,
#nhsCommResults .nhsCommResTabs li a:link,
#nhsCommResults .nhsCommResTabs li a:visited,
#nhsCommResults .nhsCommResTabs li a:active,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs li a,
.nhsHomeResTabs li a,
.nhsHomeResTabs li a:link,
.nhsHomeResTabs li a:visited,
.nhsHomeResTabs li a:active,
#nhsPartnerContainer .nhsHomeResTabs li a {
	margin: 0;
	color: #24619e;
	text-decoration: underline;
	background: none; 
	}
	
#nhsCommResults .nhsCommResTabs li.offerTabOff a,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:link,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:active {
	background: url(/globalresources/move/images/backgrounds/tab_offer_63_off_left.gif) no-repeat top left;
	color: #24619e;
	text-decoration: underline;
	}	
#nhsCommResults .nhsCommResTabs li.offerTabDisabled {
	background: none;
	border-bottom: 0px solid #9ab1ca;
	}
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:link,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:active {
	padding-left: 28px;
	background: url(/globalresources/move/images/backgrounds/tab_offer_63_dis_left.gif) no-repeat top left; 
	color: #9d9d9d;	
	padding-bottom: 6px;
	text-decoration: none;
	}
#nhsCommResults .nhsCommResTabs li.offerTabOn a,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:link,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:hover,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:active {
	background: url(/globalresources/move/images/backgrounds/tab_offer_63_on_left.gif) no-repeat top left; 
	color: #333;	
	text-decoration: none;
	}
	
#nhsCommResults .nhsCommResTabs li.quickTabOff a,
#nhsCommResults .nhsCommResTabs li.quickTabOff a:link, 
#nhsCommResults .nhsCommResTabs li.quickTabOff a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabOff a:active {
	background: url(/globalresources/move/images/backgrounds/tab_quick_63_off_left.gif) no-repeat top left; 
	color: #24619e;
	text-decoration: underline;
	}
#nhsCommResults .nhsCommResTabs li.quickTabDisabled {
	background: none;
	border-bottom: 0px solid #9ab1ca;
	}
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:link,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:active {
	padding-left: 30px;
	background: url(/globalresources/move/images/backgrounds/tab_quick_63_dis_left.gif) no-repeat top left; 
	color: #9d9d9d;	
	padding-bottom: 6px;
	text-decoration: none;
	}
#nhsCommResults .nhsCommResTabs li.quickTabOn a,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:link,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:hover,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:active {
	background: url(/globalresources/move/images/backgrounds/tab_quick_63_on_left.gif) no-repeat top left; 
	color: #333;	
	text-decoration: none;
	}	
	
#nhsCommResults .nhsCommResTabs .commTabOn,
#nhsCommResults .nhsCommResTabs .offerTabOn,
#nhsCommResults .nhsCommResTabs .quickTabOn,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs .commTabOn,
.nhsHomeResTabs .commTabOn,
#nhsPartnerContainer .nhsHomeResTabs .commTabOn {
	background: url(/globalresources/move/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #333;
	margin-right: -1px;
	position: relative;
	z-index: 999999;
	}
#nhsCommResults .nhsCommResTabs .commTabOn strong,
#nhsCommResults .nhsCommResTabs .commTabOn a,
#nhsCommResults .nhsCommResTabs .commTabOn a:link,
#nhsCommResults .nhsCommResTabs .commTabOn a:visited,
#nhsCommResults .nhsCommResTabs .commTabOn a:hover,
#nhsCommResults .nhsCommResTabs .commTabOn a:active,
.nhsHomeResTabs .commTabOn strong,
.nhsHomeResTabs .commTabOn a,
.nhsHomeResTabs .commTabOn a:link,
.nhsHomeResTabs .commTabOn a:visited,
.nhsHomeResTabs .commTabOn a:hover,
.nhsHomeResTabs .commTabOn a:active {
	margin: 0;
	text-decoration: none;
	background: url(/globalresources/move/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #333;
	}
.nhsCommResTabs a:link,
.nhsCommResTabs a:visited,
.nhsCommResTabs a:active,
#nhsPartnerContainer .nhsCommResTabs a:link,
#nhsPartnerContainer .nhsCommResTabs a:visited,
#nhsPartnerContainer .nhsCommResTabs a:active  {
	color: #24619e;
	text-decoration: underline;
	}
#nhsCommResults .nhsCommResTabs a:hover,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs a:hover,
.nhsHomeResTabs a:hover,
#nhsPartnerContainer .nhsHomeResTabs a:hover {
	color: #ecda6a;
	text-decoration: none;
	}

#nhsCommResults .nhsSortPagingBar,
#nhsCommResults .nhsCommResPagingBar {
	margin: 0 0 0 8px;
	width: 470px;
	border: 0;
	}
#nhsCommResults .nhsCommResPagingBar {
	margin-top: -12px;
	}
	
#nhsCommResults .nhsGroupingBar {
	margin: 0 0 6px 8px;
	width: 458px;
	border: 0;
	}

.nhsCommResFeatureBox  {
	background: #fff url(/globalresources/move/images/backgrounds/bg_featured.gif) 5px bottom no-repeat;
	border: 0px solid #C5C4B3;
	margin: 0 0 10px 0;
	padding: 0 10px 6px 8px;
	}
.nhsFeaturedTitle {
	background: #e9e9e2;
	border: 1px solid #999;
	color: #333;
	padding-left: 10px;
	}	
	
.nhsCommResultsRow, 
.nhsCommHomeResultsRow, 
.nhsHomeResultsRow,  
.nhsHomeResultsHotRow {
	border-top: 1px solid #cbcdbe;
	}
.nhsHomeResSpecialRow,
.nhsCommResSpecialRow {
	border: 1px solid #cbcdbe;
	background: #ebece7;
	}
.nhsCommResultsRowOn, 
.nhsCommHomeResultsRowOn, 
.nhsHomeResultsRowOn, 
.nhsHomeResultsHotRowOn {
	background: #ffe292;
	}
.nhsHomeResSpecialRowOn,
.nhsCommResSpecialRowOn {
	border: 1px solid #cbcdbe;
	background: #ffe292;
	}

.nhsHomeResTabs li.offerTabOff a,
.nhsHomeResTabs li.offerTabOff a:link,
.nhsHomeResTabs li.offerTabOff a:visited,
.nhsHomeResTabs li.offerTabOff a:active {
	background: url(/globalresources/move/images/backgrounds/tab_offer_63_off_left.gif) no-repeat top left;
	}	
.nhsHomeResTabs li.quickTabOff a,
.nhsHomeResTabs li.quickTabOff a:link, 
.nhsHomeResTabs li.quickTabOff a:visited,
.nhsHomeResTabs li.quickTabOff a:active {
	background: url(/globalresources/move/images/backgrounds/tab_quick_63_off_left.gif) no-repeat top left; 	
	}

#nhsCommResults .nhsCommResultsRow,
#nhsCommResults .nhsCommResultsRowOn,
.nhsCommResFeatureBox .nhsCommResultsRow {
	width: 470px;
	border: 1px solid #cbcdbe;
	margin: 0 0 12px 8px;
	padding: 0;
	}
#nhsCommResults .nhsCommResFeatureBox .nhsCommResultsRow {
	background: #FCF4E8;
	border: 1px solid #ea921d;
	border-width: 0 1px 1px 1px;
	margin: 0;
	}
#nhsCommResults .nhsCommResultsRowOn {
	background: #fff;
	}
.nhsResultsNameBar {
	float: left;
	width: 455px;
	padding: 3px 6px 4px 9px;
	background: #e9e9e2;
	}
.nhsCommResFeatureBox .nhsResultsNameBar a {
	color: #5F5046;
	}
.nhsCommResultsRowOn .nhsResultsNameBar {
	background: #ffe292;
	}
.nhsCommResFeatureBox .nhsResultsNameBar {
	background: #f2bf7a;
	}
.nhsContent .nhsCommResListColumn .nhsResultsNameBar h2 {
	float: left;
	margin: 3px 0 2px 0;
	width: 330px;
	}
.nhsCommResListColumn .nhsResultsThumb,
.nhsCommResFeatureBox .nhsResultsThumb {
	background: none;
	margin: 6px 8px 0 8px;
	padding-bottom: 6px;
	width: 93px;
	}
.nhsCommResListColumn .nhsResultsThumb img {
	border: 1px solid #e9e9e2;
	height: 70px;
	width: 91px;
	}
.nhsCommResultsInfo1,
.nhsCommResFeatureBox .nhsCommResultsInfo1 {
	float: left;
	width: 300px;
	padding: 4px 0 5px 7px;
	*padding-top: 7px;
	border: 0px solid;
	}
.nhsResultsPrice {
	margin-top: 0;
	}
.nhsResultsLocation {
	float: left;
	width: 100%;
	margin: 0 0 2px 0;
	}
.nhsResultsLocation .nhsResultsMapLink {
	float: left;
	margin: -2px 0;
	width: 2em;	
	background-image: url(/globalresources/move/images/map/marker_sm.gif);
	}
.nhsResultsLocation .nhsResultsMapNA {
	width: 7em;
	background: none;
	}
.nhsContent .nhsCommResListColumn h3.nhsResultsAddress {
	float: left;
	display: block;
	}
.nhsContent p.nhsResultsCommStatus {
	margin: -3px 0 0 0;
	padding: 0;
	}
.nhsContent p.nhsResultsCommStatus img {
	padding: 0 0 5px 5px;
	margin: 0;
	}
.nhsContent p.nhsResultsCommStatus img.nhsResultsStatusHot {
	margin: 0;
	padding: 0;
	}
.nhsCommResHotHomeRow {
	width: 468px;
	margin-top: -3px;
	background-image: url(/globalresources/move/images/backgrounds/bg_cr_hot_home_top.gif);
	}
.nhsCommResHotHomeInner {
	width: 458px;
	background-image: url(/globalresources/move/images/backgrounds/bg_cr_hot_home_bottom.gif);	
	}
.nhsCommResHotItem {
	width: 452px;
	}

.nhsCommResSpecialRow,
.nhsCommResSpecialRowOn {
	width: 465px;
	margin-left: 8px;
	}
	
.nhsHomesFacetGroup ul li, 
.nhsCommsFacetGroup ul li, 
.nhsHomeResFacetGroup ul li {
	background: none;
	margin: 3px 0 0 0;
	padding: 0 0 0 0;
	}
.nhsHomesFacetGroup li.nhsFacetEmpty, 
.nhsCommsFacetGroup li.nhsFacetEmpty, 
.nhsHomeResFacetGroup li.nhsFacetEmpty {
	margin: 3px 0 0 0;
	padding: 0 0 0 0;
	}

/*	=nhsCommRes Map
-------------------- */	

#nhsCommResMapDiv {
	border: 1px solid #dcdbc8;	
	width: 300px; /*332*/
	height: 500px;
	margin-top: 0;
	height: 500px;
	}
.nhsContent #nhsCommResMapColumn .nhsCommMapBar {
	margin: 0;
	padding: 0 0 6px 0;
	background: #ebece7;
	border-top: 1px solid #dcdbc8;
	}
.nhsContent #nhsCommResMapColumn .nhsCommMapBar span {
	display: block;
	float: left;
	padding: 8px 0 0 12px;
	}
.nhsMapLoader {
	background: #ebece7;
	border-bottom: 1px solid #dcdbc8;
	}
	
/*	=nhsCommRes Builders
-------------------- */	
#nhsCommResBuilders {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0px solid;
	position: relative; /* IE6 Bug Fix */
	z-index: 999;
	}
#nhsCommResBuilders h4 {
	margin: 0 0 .65em 4px;
	padding: 0;
	color: #333;
	position: relative; /* IE6 Bug Fix */
	}
	
#nhsSEOText {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0px solid;
	position: relative; /* IE6 Bug Fix */
	}

/*	=nhsCommRes Facets
-------------------- */	
.nhsCommResFacets {
	float: left;
	width: 158px;
	margin: 0;
	padding: 5px 0;
	/*font-size: 95%;*/
	background: #f2f0ed; /*#f9f6ec;*/
	border: 1px solid #d8dace; /*#dcdbc8;*/
	}
.nhsHomeResFacets {
	background: #f2f0ed;
	border: 1px solid #d8dace;
	}
.nhsHomeResFacets {
	background: #f2f0ed;
	border: 1px solid #d8dace;
	}
	
/* Facet Group */	
.nhsCommsFacetGroup {
	float: left;
	width: 135px;
	margin: 0 0 0 10px;
	padding: 4px 5px 8px 0;
	border-top: 1px solid #d8dace;
	}
#nhsFacetLocation {
	border-top: 0;
	}
.nhsContent .nhsCommResFacets p.nhsCommResBackBtn {
	border-bottom: 1px solid #d8dace;
	}
#nhsFacetSchools {
	/*width: auto;*/
	}
.nhsHomesFacetGroup a,
.nhsCommsFacetGroup a,
.nhsHomeResFacetGroup a {
	font-weight: normal;
	padding-right: 2px;
	}
	
/* Facet Pop Menus */	
#nhsCommResults #nhsFacetSchoolsMore {
	position: relative;
	z-index: 999;
	}	
#nhsCommResults #nhsFacetSchoolsMore .nhsFacetOn,
#nhsCommResults #nhsFacetSchoolsMore.nhsFacetContainerOn {
	display: none;
	}
#nhsCommResults #nhsFacetSchoolsPop {
	position: relative;	
	top: auto;
	left: auto;
	z-index: auto;
	margin: 0;
	padding: 0 0 0 2px;
	background: transparent;
	border: 0px solid;
	}
* html #nhsCommResults #nhsFacetSchoolsPop {
	left: auto;
	}

/* Narrow Cities Menu */
#nhsCommResults #nhsNarrowMorePop {
	position: relative;
	top: auto;
	left: auto;
	z-index: auto;
	width: auto;
	margin: 0;
	padding: 0 0 0 2px;
	background: transparent;
	border: 0px solid;
	}
#nhsCommResults #nhsNarrowMorePop ul {
	margin: 0;
	padding: 0;	
	}
#nhsCommResults #nhsNarrowMoreDiv {
	display: block;
	position: relative;
	z-index: 999;
	}	
#nhsCommResults #nhsNarrowMoreDiv .nhsFacetOn,
#nhsCommResults #nhsNarrowMoreDiv.nhsFacetContainerOn {	
	display: none;
	}
	
.nhsPopOff {
	display: none;
	}
.nhsPopOn {
	display: block;
	}
#nhsCommResults .nhsMenuClose {
	float: right;
	margin: 5px 0 0 0;
	padding: 0 12px 0 0;
	background: url(/globalresources/move/images/buttons/close_x.gif) no-repeat center right;
	cursor: pointer;
	}
	
/* Ads */
#nhsCommResRight2 {
	float: left;
	margin-top: 10px;
	}
#nhsCommResMiddle {
	/*margin-left: 20px;*/
	}
	
.nhsCommResMapTools {
	background: transparent;
	font-size: 115%;	
	}
	
.nhsCommResultsInfo2 .btnFreeBrochure,
.nhsCommResultsInfo2 .btnGetMoreInfo {
	margin: 3px 0;
	}
	
/* =Price Slider 
---------------------*/
.nhsPriceSlider {	
	padding: 4px 0 8px 0;
	border-top: 1px solid #d8dace;
	_padding: 4px 0 0 0;	
	background: none;
	}
div.nhsSlider {	
	margin: 0 0 10px 0; 
	}
	
#nhsCommResConsole {
	border-bottom: 0;
	}	
.nhsCommResResultsBar, 
.nhsHomeResResultsBar,
.nhsBoylResResultsBar,
.nhsCommResResultsBarR,
.nhsHomeResResultsBarR,
.nhsBoylResResultsBarR {
	background: none;	
	padding-top: 5px;
	}
.nhsCommResResultsBar, 
.nhsHomeResResultsBar,
.nhsBoylResResultsBar {
	width: 100%;	
	background: #FFEAAD;
	border: 1px solid #FFCC33;
	}
.nhsCommResResultsBar {
	padding: 5px 0 4px 0;
	}
.nhsCommResultsQC {
	padding-top: 0;
	*margin-bottom: -5px;
	} 
#nhsHomeResults .nhsMoreSearches {
	display: none;
	}

