﻿/* ---------------------------------------------
Title:      Move.com Homepage Styles
Author:     Alex Labanino, alabanino@builderhomesite.com
Updated:    Jun 4 2010
----------------------------------------------- */
/* =Homepage */

/* =HomeContent */	
#nhsHomeContent {
    clear: both;
    float: left;
    width: 970px;
    margin: 0;
    padding: 0;
	font-family: Verdana,Geneva,sans-serif;
	font-size: small;
	border: 0px solid #000;
	background: #fff;
    }
* html #nhsHomeContent {
	font-size: x-small; /* for IE5/WIN */
	f\ont-size: small; /* for other IE versions */
	}
#nhsHomeContent fieldset {
	margin: 0;
	padding: 0;
	}
#nhsHomeContent a:hover {
	text-decoration: underline;
	}
#nhsHomeContent {
	margin-top: 5px;
	}
	
#mvHeader .nhsGlobalQuickConnectDiv {
    padding: 0;
	}
#mvHeader .nhsGlobalQuickConnectDiv a {
    color: #fff;
	}
	
#nhsHomeContent .nhsPersonalBar {
	margin: 0 0 0 5px;
	}

.nhsHomeSpotTitle {
	margin: -5px 8px -7px 0;
	padding: 3px 12px 3px 3px;
	}
.nhsPersonalBar .nhsSavedItems {
	padding: 5px 3px 5px 12px;
	}
.nhsHomeColLeft {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 20px 0 0;
	padding: 0 19px 0 10px;
	width: 455px;
	}
.nhsHomeColRight {
	border: 0;
	float: right;
	margin: 20px 0 0;
	padding: 0 10px 0 15px;
	width: 450px;
	}

.nhsHomeSearch {
	/*background: #f9f8f5;
	border: 2px solid #cbcdbe;*/
	float: left;
	height: auto; /* 243px; */
	margin: 0;    /* 0 0 30px 0; */
	padding: 0;
	width: 450px;
	background: url(/globalresources/move/images/backgrounds/bg_homepage_box_top.gif) no-repeat top left;
	position: relative;
	}
.nhsHomeSearchInner {
	padding: 0 5px;
	background: url(/globalresources/move/images/backgrounds/bg_homepage_box_bottom.gif) no-repeat bottom left;
	}
.nhsHomeSearch h1 {
	font-size: 200%;
	margin: 12px 0 0 10px;
	padding: 0;
	}
#mvHomeAdvLink {
	position: absolute;
	bottom: 20px;
	right: 50px;
	}
#mvHomeAdvLink a {
	color: #fff;
	font-family: Arial, sans-serif;
	text-decoration: underline;
	}
#mvHomeAdvLink a:hover {
	}
	
/* =HomeSearch Form */	
.nhsHomeSearchBox {
	border: 0 solid;
	margin: 0;
	padding: 0 0 12px 0;
	}
.nhsHomeSearchBox p {
	margin: 0 0 5px 0;
	padding: 0;
	}
.nhsHomeSearchBox label {
	display: block;
	float: left;	
	margin: 0;
	padding: 0 5px 0 0;	
	text-align: right;
	font-size: 110%;
	font-weight: bold;	
	
	color: #816d5f;
	width: 130px;
	}
.nhsHomeSearchBox .nhsError {
	height: 16px;
	}
.nhsHomeSearchBox .nhsHomeSearchButton {
	margin-top: 10px;
	}
.nhsHomeSearchBox .btnSearch {
	margin-left: 135px;
	}
p.nhsHomeSearchTitle,
p.nhsHomeGuideTitle {
	margin: 4px 0 20px 0;
	font-size: 200%;
	font-weight: bold;	
	}
	
/* =HomeGuide */	

.nhsHomeGuideItem {
	float: left;
	width: 450px;
	margin-bottom: 15px;
	}
.nhsHomeGuideItem p {
	color: #5f5046;
	}
#nhsHomeGuideLinks {
	width: 450px;
	}
.nhsHomeGuideItem .nhsArticleHeadlineHome,
#nhsHomeGuideLinks .nhsArticleHeadlineHome {
	margin: 7px 0 0 0;
	padding: 0;
	font-size: 115%;
	font-weight: bold;
	}
.nhsHomeGuideItem img {
	float: left;
	height: 90px;
	margin-right: 20px;
	padding: 4px;
	background: #e5e5e5;
	}	
.nhsHomeGuideItem a, .nhsHomeGuideItem a:link, .nhsHomeGuideItem a:visited, .nhsHomeGuideItem a:active,
#nhsHomeGuideLinks a, #nhsHomeGuideLinks a:link, #nhsHomeGuideLinks a:visited, #nhsHomeGuideLinks a:active {
	text-decoration: none;
	color: #73a14b;
	}
	
/* =HomeLogos */	
.nhsHomeLogos {
	float: left;
/*	clear: both; */
	width: 970px;
	margin: 10px 0;
	padding: 0;
	font-size: 95%;	
	color: #414141;
	}
.nhsHomeLogos p {
	margin: 0.65em auto 0.85em auto;
	text-align: center;
	font-size: 115%;
	}
.nhsHomeLogos p span {
	margin-left: 10px;
	font-size: 90%;
	font-weight: normal;
	}
#nhsHomeLogoAd * {
	margin: 0 auto;
	}
	
#nhsHomeBuilderBrands {
	float: left;
	width: 948px;
	padding: 10px;	
	}
#nhsHomeBuilderBrands > div {
	float: left;
	width: 936px;
	background: #fff;
	padding: 12px 0 6px 10px;
	}
#nhsHomeBrandsTextDiv {
	float: left;
	display: block;
	width: 926px;
	padding-bottom: 8px;
	}
.nhsHomeBrandsTextDiv_title { font-size:200%; color:#497cbc; }	
#nhsHomeBrandsTextDiv p {
	font-size: 115%;
	text-align: left;
	}
#nhsHomeBrandsText {
	float: left;	
	display: block;	
	background: url(/globalresourcesmvc/newhomesource/images/text_graphics/builders_you_trust.png) no-repeat left top;
	margin: 0 14px 0 0;    
    padding: 18px 0 0 0;
    width: 286px;
    height: 0px !important;
    overflow: hidden;
	}
ul#nhsHomeBrandsList {
	float: left;
	list-style-type: none;
	width: 926px;
	margin: 0;
	padding: 5px 0;
	}	
ul#nhsHomeBrandsList li {
	display: inline;
	float: left;
	margin: 0 10px;
	padding: 5px;
	background: #fff;		
	overflow: hidden;
	max-width: 200px;
	width: 200px;
	height: 65px;
	line-height: 65px;
	font-size: 77%;
	text-align: center;
	}
#nhsHomeBrandsList img {
	max-width: 200px;
	vertical-align: middle;
	}
	
#nhsHomeContent .nhsPersonalBar {
	margin-top: 5px;
	}
#nhsHomeContent .nhsPersonalBar h1 {
	display: inline;
	margin: 0;
	font-size: 12px;
	}
#nhsHomeContent .nhsPersonalBar h2 {
	display: inline;
	margin: 0;
	font-size: 12px;
	}

/* NEW MOVE*/

.nhsHomeSearchBox { width:470px; height:89px; padding:15px 0 0 14px; margin:0; background: url(/globalresources/move/images/newhome/bg-search-trans.png) no-repeat left top; position: relative; right: -20px; } /* new_home_form */
.nhsHomeSearchBox .fieldDefaultText { font-size: 15px; float:left; color:#808080; margin: 0 0 10px 0; padding:7px 0 7px 5px; border-top: 1px solid #999; border-right: none; border-bottom: 1px solid #999; border-left: 1px solid #999; display:inline; } /* search */
.nhsHomeSearchBox .locationField { width:400px; height:16px; }
.submit { width:30px; height:30px; padding:0; margin:0; }
.nhsHomeSearchBox .btnSearch { margin-left: 0px; }
.btnSearch { width: 32px; height: 32px; padding: 32px 0 0 0; overflow: hidden; margin:0; background: transparent url(/globalresources/move/images/buttons/btn_31_search.jpg) no-repeat center top; float:left; display:inline; }
.nhsHomeSearch { background-image: url(/globalresources/move/images/newhome/final.jpg); background-repeat: no-repeat; background-position: center top; height: 437px; width: 970px; border: none; float: none; padding: 0; } /* newhome */
.search_title { padding:15px 0 10px 20px; margin:0; }
.nhsHomeSearchInner { padding: 0; background: none; }
.prices { width:213px; height:20px; float:left; border:none; border:1px solid #999; color:#808080; }
.min { margin:0 13px 0 0; }

/* end NEW MOVE*/
