/* ---------------------------------------------
Title:      NewHomeSource.com Site Index Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010
----------------------------------------------- */

/* =SiteIndex */
.nhsIndexHeading {
	border-bottom: 2px solid #24619e;
	background-color: #497cbc;
	}
	
.nhsStateIndexSearchBox {
	background: #f7f1da url(/globalresources/move/images/backgrounds/bg_stateindex_search.gif) repeat-x bottom left;
	color: #816d5f;
	border: 1px solid #999;
	}

#nhsStateBrowseDiv  {
	border:	1px solid #C5C4B3;
	}
	
#nhsStateIndex .nhsCommResultsRow,
#nhsStateIndex .nhsCommResultsRowOn {
	width: 430px;
	border: 1px solid #cbcdbe;
	margin: 0 0 12px 0;
	padding: 0;
	}
#nhsStateIndex .nhsCommResultsRowOn {
	background: #fff;
	}
#nhsStateIndex .nhsCommResListColumn .nhsResultsNameBar {
	width: 415px;
	}
#nhsStateIndex .nhsCommResListColumn .nhsResultsNameBar h2 {
	width: 285px;
	}
#nhsStateIndex .nhsCommResultsInfo1 {
	border: 0;
	float: left;
	padding: 4px 0 5px 7px;
	width: 300px;
	}
	
/* =nhsIndexTabs */
.nhsIndexTabs li, 
#nhsPartnerContainer .nhsIndexTabs li {
	background: url(/globalresources/move/images/backgrounds/tab_63_off_right.gif) no-repeat top right; 
	}
.nhsIndexTabs li a,
#nhsPartnerContainer .nhsIndexTabs li a {
	color: #fff;
	background: url(/globalresources/move/images/backgrounds/tab_63_off_left.gif) no-repeat top left; 
	}
.nhsIndexTabs .indexTabOn,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn {
	background: url(/globalresources/move/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #000;
	}
.nhsIndexTabs .indexTabOn a:link,
.nhsIndexTabs .indexTabOn a:visited,
.nhsIndexTabs .indexTabOn a:active,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:link,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:visited,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:active {
	background: url(/globalresources/move/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #24619e;
	}	
.nhsIndexTabs a:link,
.nhsIndexTabs a:visited,
.nhsIndexTabs a:active,
#nhsPartnerContainer .nhsIndexTabs a:link,
#nhsPartnerContainer .nhsIndexTabs a:visited,
#nhsPartnerContainer .nhsIndexTabs a:active {
	color: #fff;
	}
.nhsIndexTabs a:hover,
#nhsPartnerContainer .nhsIndexTabs a:hover {
	color: #ecda6a;
	}