
.nhs_Account {
    width: 202px;
    margin: 45px auto 0 auto;   
    padding: 20px 24px 20px 24px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    position: relative;
    }
.nhs_Modal .nhs_Account {
    margin-top: 0;
    padding: 10px 24px;   
    background-color: #f5f5f5;
    border: 1px solid #bababa;
}
#nhs_ModalBody {
    margin-top: 45px;    
    max-height: 85%;
    overflow-y: auto;
}
#nhs_ModalBody::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
#nhs_ModalBody::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255,206,52,1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.nhs_Account.nhs_RequestThanks {
    padding: 25px 24px 30px 24px;    
}
.nhs_Account.nhs_RequestAppt {
    padding: 10px 24px;  
}

.nhs_Account h1 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #4b4b4b;
    margin: 0;    
}
.nhs_Recover fieldset {
    margin: 12px 0;    
}
.nhs_Account p {
    margin: 0;
    padding: 5px 0;
}
.nhs_Account p.nhs_Legal {
    font-size: 10px;
    font-size: 0.625rem;
}
.nhs_Account fieldset > div {
    padding: 5px 0;    
}
.nhs_Account p.nhs_PrivPol {    
    font-size: 10px;
    font-size: 0.625rem;
    margin: 10px 0 -2px -12px;
    padding: 0;
}
.nhs_RequestAppt p.nhs_PrivPol { 
    margin-top: 8px;
}

.nhs_Account p.or {
    text-align: center; 
    color: #7d7d7d;  
}
.nhs_Account p.or span {
    display: inline-block;
    background: #fff;
    padding: 0 5px;
    position: relative;
}
.nhs_Modal .nhs_Account p.or span {
    background: #f5f5f5;
}
.nhs_Account p.or:before {
    content: '';
    display: block;
    position: relative;
    top: 9px;   
    border-top: 1px solid #bababa;    
}

.nhs_Account label:first-child,
.nhs_Account legend {
    display: none;    
}

.nhs_Account input[type=checkbox] {  
    position: relative;
    top: 3px;
}
.nhs_Account input[type=checkbox] + label {
    display: inline-table;    
    width: 90%;    
    font-size: 10px;
    font-size: 0.625rem;
    color: #4b4b4b;
}

.nhs_Account input[type=text],
.nhs_Account input[type=email],
.nhs_Account input[type=password],
.nhs_Account textarea {
    width: 95%;
}
.nhs_Account select {
    width: 100%;
}
.nhs_Account textarea {
    height: 90px;
}
.nhs_Account #Zip,
.nhs_Account #ZipCodeReg {
    width: 50%; 
    margin-right: 5px;   
}
.nhs_Account #Zip + input[type=checkbox] + label,
.nhs_Account #ZipCodeReg + input[type=checkbox] + label {
    width: 30%;    
}
.nhs_Account #Zip[disabled],
.nhs_Account #ZipCodeReg[disabled] {
    background-color: #eee;   
}

.nhs_Account input[type=button],
.nhs_Account input[type=submit],
.nhs_Account .btnCss {
    width: 100%;
    background-color: #0091da !important;
    color: #fff !important;
    border: 0;
}
.nhs_Account .fbLoginButton {
    display: block;
    text-align: center;  
    margin-top: 5px;  
}

.nhs_Account .validation-summary-errors,
.nhs_Account .nhs_Error {
    margin: 6px 0;
    padding: 0 0 0 18px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
    color: #d92632;
}
.nhs_Account p.nhs_Error {
    padding-left: 0;
}

.nhs_Account .nhs_Tabs,
.nhs_ShowcaseDetail .nhs_Tabs {
    display: block;
    float: none;
    width: 172px;
    margin: 0 auto 12px auto;
    padding: 0;
    border: 1px solid #bababa;
    border-radius: 3px;
}
.nhs_ShowcaseDetail .nhs_Tabs {
    margin-top: 14px;    
}
.nhs_Account .nhs_Tabs li,
.nhs_ShowcaseDetail .nhs_Tabs li {
    width: 85px;
    margin: 0;
    border-right: 1px solid #bababa;
}
.nhs_Account .nhs_Tabs li:last-of-type,
.nhs_ShowcaseDetail .nhs_Tabs li:last-of-type {
    width: 86px;
    border-right: 0;    
}
.nhs_Account .nhs_Tabs li a,
.nhs_ShowcaseDetail .nhs_Tabs li a {
    background-color: #eee;
    color: #4b4b4b;
}
.nhs_Account .nhs_Tabs li a.active,
.nhs_Account .nhs_Tabs li a:hover,
.nhs_ShowcaseDetail .nhs_Tabs li a.active,
.nhs_ShowcaseDetail .nhs_Tabs li a:hover {
    background-color: #fff;
    color: #4b4b4b;
}


/* Saved Properties */

.nhs_SavedContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 30px;
    margin: 0 auto;
    padding: 0;  
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
.nhs_SavedContext > h1 {
    float: left; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
    color: #333;    
    line-height: 13px;
    margin: 0 0 0 12px;
    padding: 10px 10px 9px 0;
}
.nhs_SavedContext > a { 
    float: right; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600; 
    line-height: 11px;
    margin: 0 12px 0 0;
    padding: 11px 0 8px 10px;
}

.nhs_SavedList {
    margin-top: 85px; 
}

.nhs_SavedList .nhs_GroupingBar {
    margin: 2px 0 5px 0;
    padding: 5px 0 5px 15px;  
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem; 
    font-weight: 600;  
    line-height: 16px; 
    color: #fff;
    background: #bababa;
}
.nhs_SavedList .nhs_CommResItem h2 > a {
    color: #0091da;    
}
.nhs_SavedList .nhs_CommResItem > p:first-of-type {
    color: #4b4b4b;    
}
.nhs_SavedList .nhs_ResItem > ul.nhs_Actions li a {
    margin: 0 9px 0 2px;   
}
.nhs_SavedList .nhs_ResItem > ul.nhs_Actions li a.nhs_FreeBrochureBtn {
    margin-left: 0;   
}


/* Request */

.nhs_RequestBrochure h1,
.nhs_RequestThanks h1,
.nhs_ShareModal h1,
.nhs_Contact h1,
.nhs_UpdateAccount h1,
.nhs_SendToPhoneModal h1 {
    display: table;
    margin: 0 auto 8px auto;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem; 
    font-weight: 900; 
    color: #4b4b4b; 
    text-align: center;  
}
.nhs_RequestThanks h1,
.nhs_RequestBrochure .nhs_TitleAppointment {
    margin: 0 auto;
}
.nhs_RequestBrochure .nhs_TitleBrochure {
    background-image: url(/globalresourcesmobile/default/images/icons/req_brochure.png);
    background-size: 12px 12px;
    background-position: left 50%;
    background-repeat: no-repeat;
    padding-left: 18px;
}
.nhs_RequestBrochure .nhs_TitleContact {
    background-image: url(/globalresourcesmobile/default/images/icons/req_contact.png);
    background-size: 12px 9px;
    background-position: left 50%;
    background-repeat: no-repeat;
    padding-left: 18px;
}
.nhs_RequestBrochure h2 {
    display: table;
    margin: 0 auto 0 auto;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem; 
    font-weight: 900; 
    line-height: 13px;
    color: #4b4b4b;  
    text-align: center;  
}
.nhs_RequestBrochure h3,
.nhs_RequestThanks h2 {
    display: table;
    margin: 0 auto 8px auto;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-size: 0.625rem; 
    font-weight: normal;
    line-height: 13px;
    text-align: center;    
}
.nhs_RequestThanks h2 {
    margin: 0 auto 8px auto;
    font-size: 11px;
    font-size: 0.7rem; 
    font-weight: normal;    
}

/* Calendar / Date Picker */

.nhs_RequestAppt textarea {
    height: 38px;
}

.nhs_Account .ui-datepicker {
    width: 100%;
    padding: 0;    
}
.nhs_Account .ui-datepicker-header {
    width: 100%;
    padding: 0;
}
.nhs_Account .ui-datepicker-header .ui-datepicker-title {
    font-size: 12px;
    font-weight: 600;
    color: #4b4b4b;
}
.nhs_Account .ui-datepicker-header .ui-datepicker-year {
    display: none;
}
.nhs_Account .ui-datepicker-prev,
.nhs_Account .ui-datepicker-next {
    top: 0;
    right: 0;
}
.nhs_Account .ui-datepicker-prev span {
    margin-top: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-right: 9px solid #7d7d7d;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;    
}
.nhs_Account .ui-datepicker-next span {
    margin-top: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 9px solid #7d7d7d;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.nhs_Account .ui-datepicker-calendar tbody {
    border: 1px solid #bababa;   
    border-width: 1px 1px 0 0;
}
.nhs_Account .ui-datepicker td {
    padding: 0;
    border: 1px solid #bababa;   
    border-width: 0 0 1px 1px;
}
.nhs_Account .ui-datepicker td span {
    width: 12px;
    padding: 0;
    text-align: center;  
    background: #eee;
    font-size: 11px;
    font-weight: 600;
    color: #bababa;
    padding: 6px 8px;
}
.nhs_Account .ui-datepicker td a {
    width: 12px;
    padding: 0;
    text-align: center; 
    background: #fff;  
    font-size: 11px; 
    font-weight: 600;
    color: #bababa;
    padding: 6px 8px;
}
.nhs_Account .ui-datepicker td a.ui-state-default {
    color: #7d7d7d;
}
.nhs_Account .ui-datepicker td a.ui-state-active {
    background: #0091da;
    color: #fff; 
}
.nhs_Account .ui-datepicker td a.ui-state-default.ui-priority-secondary {
    color: #bababa;
}

/* Thanks */

.nhs_AccountTeaser {
    padding: 20px 0;    
}
.nhs_AccountTeaser p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 600;
    color: #4b4b4b; 
}
.nhs_AccountTeaser p strong {
    font-weight: 900;    
}
.nhs_AccountTeaser ul {
    margin: 0;
    padding: 0 0 0 20px;
}

/* Share / Contact */

.nhs_Modal .nhs_Account.nhs_ShareModal,
.nhs_Modal .nhs_Account.nhs_Contact {
    margin-top: 18%;       
}

.nhs_ShareModal ul,
.nhs_Contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nhs_ShareModal ul li,
.nhs_Contact ul li {
    width: 100%;
    margin: 14px 0;
    padding: 0;
}
.nhs_ShareModal ul li a,
.nhs_Contact ul li a {
    display: inline-block;
    width: 110px;
    margin: 0;
    padding: 9px 12px 9px 78px;
    background-color: #0091da;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
}

.nhs_ShareModal ul li.nhs_Share_Mail a {
    background-image: url(/globalresourcesmobile/default/images/icons/share_mail.png);
    background-size: 12px 9px;
    background-position: 55px 50%;
    background-repeat: no-repeat; 
}
.nhs_ShareModal ul li.nhs_Share_Sms a {
    background-color: #ffce34;
    background-image: url(/globalresourcesmobile/default/images/icons/share_sms.png);
    background-size: 12px 9px;
    background-position: 55px 50%;
    background-repeat: no-repeat; 
}
.nhs_ShareModal ul li.nhs_Share_Facebook a {
    background-color: #3b5998;
    background-image: url(/globalresourcesmobile/default/images/icons/share_facebook.png);
    background-size: 6px 12px;
    background-position: 57px 50%;
    background-repeat: no-repeat; 
}
.nhs_ShareModal ul li.nhs_Share_Twitter a {
    background-color: #55acee;
    background-image: url(/globalresourcesmobile/default/images/icons/share_twitter.png);
    background-size: 12px 10px;
    background-position: 55px 50%;
    background-repeat: no-repeat; 
}

.nhs_Contact ul li a {
    width: 130px;
    padding: 10px 12px 10px 58px;
    background-color: #ffce34;
    color: #4b4b4b;
}
.nhs_Contact ul li a:hover { 
    text-decoration: none;
}
.nhs_Contact ul li a:active {
    box-shadow: inset 0 2px 1px 0 rgba(125,125,125,0.4);    
    text-decoration: none;
}
.nhs_Contact ul li.nhs_Contact_Call a {
    color: #fff;
    background-color: #0091da;
    background-image: url(/globalresourcesmobile/default/images/icons/phone.png);
    background-size: 12px 12px;
    background-position: 38px 50%;
    background-repeat: no-repeat; 
}
.nhs_Contact ul li.nhs_Contact_Appt a {
    background-image: url(/globalresourcesmobile/default/images/icons/req_appointment.png);
    background-size: 12px 11px;
    background-position: 38px 50%;
    background-repeat: no-repeat; 
}
.nhs_Contact ul li.nhs_Contact_Builder a {
     background-image: url(/globalresourcesmobile/default/images/icons/req_contact.png);
    background-size: 12px 9px;
    background-position: 38px 50%;
    background-repeat: no-repeat; 
}
.nhs_Contact ul li.nhs_Contact_Brochure a {
    background-image: url(/globalresourcesmobile/default/images/icons/req_brochure.png);
    background-size: 12px 12px;
    background-position: 38px 50%;
    background-repeat: no-repeat; 
}



