/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

blockquote {
    margin: 1em 20px;    
}

abbr,
abbr[title] {
    border: 0;
    text-decoration: none;
}
   
img {
	max-width: 100%;
}

.ui-autocomplete {	
	border: 1px solid #eee;
	background-color: #fff;
	max-height: 160px;
	width: 160px; /*270px;*/
	overflow: auto;
	margin: 0;
	padding: 0;	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	color: #7d7d7d;
	border-radius: 0;	
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	}
.ui-autocomplete li {
	margin: 0 !important;
	padding: 0;		
	border-radius: 0;
	border-bottom: 1px solid #eee;
	}
.ui-autocomplete li a {
	display: block;
	padding: 7px !important;
	cursor:pointer;
	border-radius: 0;
	background: #fff;
	color: #7d7d7d;
	}
.ui-autocomplete li a:hover {
	text-decoration: none;
	}
.ui-autocomplete .ui-menu-item a.ui-state-focus,
.ui-autocomplete .ui-menu-item a.ui-state-active, 
.ui-autocomplete a#ui-active-menuitem {
	/*font-weight: bold;*/
	background: #ffce34;
	color: #4b4b4b;
	border: 0;
	}	
.ui-autocomplete li a span {
    font-size: 11px;
    font-size: 0.7rem;
}

.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    background: #0091da;    
    border-radius: 50%;
    color: #fff !important;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    padding: 0;
    text-align: center;
}
.nhs_Cluster2 {
    font-size: 18px !important;
    padding: 5px;
}
.nhs_Cluster3 {
    font-size: 22px !important;
    padding: 10px;
}
.nhs_Cluster4 {
    font-size: 26px !important;
    padding: 15px;
}
.nhs_Cluster5 {
    font-size: 30px !important;
    padding: 20px;
}	

.nhs_Loading,
#nhs_Loading {
    display: none;
    position: fixed; 
    top: 45%; 
    left: 50%; 
    width: 85px;
    height: 0;
    margin-left: -43px;
    margin-top: -43px;
    padding: 86px 0 0 0;
    z-index: 100000000;
    overflow: hidden; 
    border: 0;    
    background: #bababa url(/globalresources14/default/images/icons/nhs_loader.gif) no-repeat 50% 50%;
    background-color: rgba(170, 170, 170, 1.0);
    box-shadow: none;    
}

#nhs_ResList .nhs_Loading {
    
    position: absolute!important; 
}

.nhs_Overlay {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    opacity: 0.35;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}