
/* Cms Global */

.nhs_CmsContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0;  
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
.expanded .nhs_CmsContext {
    position: fixed;
    left: 195px;
}

.nhs_CmsContext > p,
.nhs_CmsContext > ul,
.nhs_CmsContext ol { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
    color: #4b4b4b;    
    line-height: 14px;
    margin: 0;
    padding: 9px 12px 9px 12px;
}
.nhs_CmsContext > ul li,
.nhs_CmsContext ol li { 
    display: inline-block;  
}
.nhs_CmsContext > ul li:before,
.nhs_CmsContext ol li:before {
    content: ">";
    /*margin-left: 3px;
    margin-right: 3px;*/
    color: #7d7d7d;
    }
.nhs_CmsContext > ul li:first-child a,
.nhs_CmsContext ol li:first-child a {
    margin: 0;
    }
.nhs_CmsContext > ul li:first-child:before,
.nhs_CmsContext ol li:first-child:before {
    content: none;    
    }
    
.nhs_CmsMain {
    width: 100%;
    /*min-height: 568px;*/
    
    margin: 76px 0 0 0;
    padding: 0;
    background: #fff;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #4b4b4b;
}

/* Cms Homepage */

.nhs_CmsCategory > header {
    padding: 10px 12px 6px 12px;
}
.nhs_CmsCategory > header h1 {
    margin: 0;
    padding: 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
    line-height: 16px;
}
.nhs_CmsCategory > header p {
    margin: 0;
    padding: 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 16px;
    color: #7d7d7d;    
}

/* Article Search Box */

.nhs_CmsArticleSearch {
    margin: 0 0 18px 0;
    padding: 12px 12px 18px 12px;
    background: #4b4b4b;
    color: #fff;
    clear: both;    
}
.nhs_CmsArticleSearch:last-child {
    margin: 0;    
}
.nhs_CmsArticleSearch p {
    margin: 0 0 8px 0;
    padding: 0; 
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;   
}
.nhs_CmsArticleSearch input[type=text] {
    float: left;
    width: 81%;
    border: 0;
    border-radius: 3px 0 0 3px;
}
.nhs_CmsArticleSearch input[type=submit],
.nhs_CmsArticleSearch input[type=button] {
    float: left;
    display: block;
    overflow: hidden;
    width: 15%;
    height: 0;
    margin: 0;
    padding: 26px 0 0 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    
    background-image: url(/globalresourcesmobile/default/images/icons/magnify_glass_white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;    
    background-color: #0091da;
}

/* Category Teaser - Home */

.nhs_CmsCategoryTeaser {
    float: left; 
    width: 100%;
    padding: 5px 0 5px 0;     
}
div.nhs_CmsCategoryTeaser:last-of-type {
    padding-bottom: 25px;    
}
.nhs_CmsCategoryTeaser > p {
    float: right;
    display: table-cell; 
    width: 58%;
    height: 85px;
    margin: 0 12px 0 0;
    vertical-align: middle;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    text-transform: capitalize; 
}
.nhs_CmsCategoryTeaser > p a {
    display: table-cell;  
    vertical-align: middle;  
    height: 85px;
    text-transform: capitalize;
}
.nhs_CmsCategoryTeaser > div {
    float: left;
    margin-right: 5px;
    margin-left: 20px;
}
.nhs_CmsCategoryTeaser div p,
.nhs_CmsCategoryTeaser div ul {
    display: none;    
}

/* Category - Featured Articles */

.nhs_CmsFeaturedArticles {   
}
.nhs_CmsArticleTeaser {
    float: left; 
    width: 100%;
    padding: 7px 0;
}
.nhs_CmsArticleTeaser > p > span {
    display: none;
}
.nhs_CmsSearchResults .nhs_CmsArticleTeaser > p > span {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: none;
}
.nhs_CmsArticleTeaser > a {
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    width: 74px;
    height: 48px;
    margin-right: 0;
    margin-left: 20px;
    border: 1px solid #f5f5f5;
}
.nhs_CmsArticleTeaser > a img {
    width: 100%;    
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.nhs_CmsArticleTeaser > p {
    float: left;
    display: table-cell; 
    width: 87.5%; /*280/320*/
    height: auto;
    margin: 0 12px 0 20px;
    padding: 0;
    /*margin-left: 114px;*/
    vertical-align: middle;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 15px; 
}
.nhs_CmsArticleTeaser > a + p {
    min-height: 48px;
    margin: 0 12px 0 20px;
    padding: 0;
    width: 59%;    
}
.nhs_CmsArticleTeaser > p a {
    display: table-cell;  
    vertical-align: middle;  
    height: auto;
    /*text-transform: capitalize;*/
}
.nhs_CmsSearchResults .nhs_CmsArticleTeaser > p a {
    font-weight: 900;    
}
.nhs_CmsArticleTeaser > a + p > a {
    height: 48px;
}

/* Article Search Results */

.nhs_CmsSearchResults {
    padding: 18px 0;     
}
.nhs_CmsSearchResults + .nhs_MoreResults {
    padding-top: 0;    
}
.nhs_CmsCategory .nhs_CmsArticleTitle {
    padding: 0 7.8125% 0 6.25%; /*25/20/320*/
    color: #4b4b4b; 
}
.nhs_CmsCategory .nhs_CmsArticleSubTitle {
    padding: 0 7.8125% 0 6.25%; /*25/20/320*/
}
.nhs_CmsSearchResults + #nhs_MoreResults {
    margin-top: 0;    
}

/* Authors Landing Page */

.nhs_CmsAuthorLandingPage {
    padding: 18px 0;    
}
.nhs_CmsAuthorTeaser {
    padding: 12px 0;
    border-top: 1px solid #bababa; 
}
.nhs_CmsAuthorTeaser > p {
    float: left; 
    width: 87.5%; /*280/320*/
    height: auto;
    margin: 0;
    padding: 0 7.8125% 0 6.25%; /*25/20/320*/
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;     
    
    display: inline;
    margin-top: 2px;
    font-size: 11px;
    font-size: 0.7rem;
    text-transform: none; 
}
.nhs_CmsAuthorTeaser > p span {
    display: inline;
    margin-top: 2px;
    font-size: 11px;
    font-size: 0.7rem;
    text-transform: none;     
}
.nhs_CmsAuthorTeaser > p span:first-of-type {
    color: #7d7d7d;
    text-transform: uppercase;    
}
.nhs_CmsAuthorTeaser > p a {
    display: inline;    
}
.nhs_CmsAuthorTeaser > p a:first-of-type {
    display: inline;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
}
.nhs_CmsAuthorTeaser > a {
    display: block;
    height: 74px;
    border: 1px solid #bababa;    
}
.nhs_CmsAuthorTeaser > a > img {
    float: left;
    clear: left;
    /*margin-left: 6.25%;
    padding: 0 7.8125% 0 6.25%;*/
    
    vertical-align: middle;    
    width: auto !important; 
    height: auto !important;
    /*max-width: 87.5%;*/
    max-height: 120px;
}

/* Category - Slideshow */

.nhs_CmsCategory .nhs_CmsSlides {
    padding: 0 0 32px 0;
}
.nhs_CmsSlide {
    position: relative;    
}
.nhs_CmsSlideText {
    width: 100%;
    padding: 10px 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    
    position: absolute;    
    bottom: 0;
}
.nhs_CmsSlideText p {
    margin: 0;
}
.nhs_CmsSlideText p a:first-of-type {
    float: left;
    width: 60%;
    margin: 0 0 0 12px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
    line-height: 15px;
    text-transform: capitalize; 
    color: #fff;    
}
.nhs_CmsSlideText p a.btn_Link { 
    float: right;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    margin: 0 12px 0 5px;
    padding: 7px 12px;
    background: #0091da;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;    
    font-size: 0.7rem;
    font-weight: 600;
    color: #fff;
}

/* Article */

.nhs_CmsArticleContext .nhs_CmsBreadCrumbs li:last-of-type {
    display: none;    
}

.nhs_CmsArticle {
    width: 92.5%; /*296/320*/    
    margin: 0;
    padding: 12px 3.75% 12px 3.75%; /*12/320 3.75*/
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;    
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 18px;
    color: #4b4b4b;
}
.nhs_CmsArticle strong,
.nhs_CmsArticleSubHead {
    font-weight: 900;
}
.nhs_CmsArticleTitle,
.nhs_CmsArticle .nhs_CmsArticleTitle {
    margin-top: 0;
    font-size: 14px;    
    font-size: 0.875rem;
    font-weight: 900;    
}
.nhs_CmsArticle .nhs_CmsArticleByline {
    font-size: 12px;    
    font-size: 0.75rem;
    font-weight: 600;
    font-style: italic; 
    margin-top: -0.8em !important;
    margin-bottom: 1em !important;
}
.nhs_CmsArticleSubTitle,
.nhs_CmsArticle .nhs_CmsArticleSubTitle {
    font-size: 13px;    
    font-size: 0.825rem;
    font-weight: 600;    
}
.nhs_CmsArticle ul,
.nhs_CmsArticle ol {
    padding: 0 0 0 15px;    
}
 
.nhs_CmsArticle img {
    max-width: 108%;
    margin: 0 -4%;
}
.nhs_CmsArticleCaption {
    display: inline-block;
    font-size: 11px;
    font-size: 0.7rem;
    color: #7d7d7d;
    line-height: 13px;
    padding: 0 5px 12px 5px;
}  
.nhs_CmsArticleBio {
    font-style: italic;
    margin-top: 4em !important;
    line-height: 16px;
    } 
.nhs_CmsArticleSource {
    font-style: italic;
    }    

/* Related Articles */

.nhs_RelatedBtn {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    
    width: 100px;
    margin: 0 0 0 -75px;
    padding: 9px 32px 9px 18px; 
    background-image: url(/globalresourcesmobile/default/images/icons/arrows_up_down.png);
    background-size: 10px 60px;
    background-position: 122px 14px;
    background-repeat: no-repeat;
    background-color: #0091da;
    border-radius: 3px 3px 0 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;    
    font-size: 0.75rem;
    line-height: 14px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
}
.nhs_RecentBtn {
    width: 150px;
    margin: 0 0 0 -100px;
    background-position: 169px 14px;
}
.nhs_RelatedBtn:hover,
.nhs_RelatedBtn:active {
    text-decoration: none;
}
.nhs_RelatedBtn.expanded {
    background-position: 122px -40px;
}
.nhs_RecentBtn.expanded {
    background-position: 169px -40px;
}

.nhs_Panel.nhs_CmsRelated {
    opacity: 0;
    margin: 0;
    padding: 6px 0 40px 0;
    height: auto;
    max-height: 40%;
    background: #f5f5f5;  
    box-shadow: 0 -1px 8px 0px rgba(75,75,75,0.7);  
}
.nhs_Panel.nhs_CmsRelated.expanded {
    opacity: 1;    
}

.nhs_Panel.nhs_CmsRelated .nhs_PanelScroll {
    padding: 0;
    max-height: 220px;    
}

.nhs_CmsAuthorPage img {
    max-width: 55%;
    margin: 0 2.5%;    
}

/* HOTW */
.nhs_CmsSlideShowFeature {    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;    
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 14px;
    color: #4b4b4b;
}
.nhs_CmsSlideShowFeature .nhs_CmsSlides {
    margin-bottom: 42px;    
}
.nhs_CmsSlideShowFeature .nhs_CmsArticleTitleIntro,
.nhs_CmsSlideShowFeature .nhs_CmsArticleSubTitleSlide {
    font-size: 14px;    
    font-size: 0.875rem;
    font-weight: 900;
    width: 92.5%; /*296/320*/    
    margin: 0;
    padding: 12px 3.75% 8px 3.75%; /*12/320 3.75*/   
}
.nhs_CmsSlideShowFeature .nhs_CmsArticleTitleSlide {
    font-size: 12px;    
    font-size: 0.75rem;
    font-weight: 600;
    width: 92.5%; /*296/320*/    
    margin: 0 0 -8px 0;
    padding: 12px 3.75% 0 3.75%; /*12/320 3.75*/   
}

#nhs_CmsSlideFeatureIntroBox,
.nhs_CmsSlideFeatureDetailBox {
    width: 92.5%; /*296/320*/
    min-height: 185px;    
    margin: 0;
    padding: 8px 3.75% 12px 3.75%; /*12/320 3.75*/      
    background: #000;
    border-top: 1px solid #fff;
    color: #fff;
}

#nhs_CmsSlideFeatureIntroBox p,
.nhs_CmsSlideFeatureDetailBox p {
    margin: 4px 0;    
}
.nhs_CmsSlideFeatureDetailBox hr {
    margin: 5px 0;    
}
#nhs_CmsSlideFeatureIntroBox #nhs_CmsSlideIntroTitle,
.nhs_CmsSlideFeatureDetailBox .nhs_Title {
    font-size: 14px;    
    font-size: 0.875rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 4px 0 8px 0;
}
.nhs_CmsSlideFeatureDetailCol span {
    text-transform: uppercase;
}

#nhs_CmsSlideIntroStartLink {
    display: inline-block;
    font-weight: 900;
    margin: 8px 0 0 0;
    color: #fff;
    background: #efb434;
    text-shadow: 0 1px 1px #333;
}

#nhs_CmsSlidesFeatureInfo {
    width: 92.5%; /*296/320*/
    margin: 0;
    padding: 0 3.75% 8px 3.75%; /*12/320 3.75*/    
}

#nhs_CmsSlideIntroAuthor,
.nhs_CmsSlideFeatureDetailAuthor {
    font-style: italic;
        
}
#nhs_CmsSlideIntroAuthor a,
.nhs_CmsSlideFeatureDetailAuthor a {
    color: #fff;
}
