
/* Results Top Bar */

.nhs_CommContext,
.nhs_HomesContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 44px;
    margin: 0 auto;
    padding: 0;  
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
/*.nhs_HomesContext {
    box-shadow: none;
}*/
.nhs_CommContext > h1,
.nhs_HomesContext > h1 { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;
    color: #333;    
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 9px 10px 2px 10px;
}
.nhs_CommContext > h2,
.nhs_HomesContext > h2 {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #7d7d7d;
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 2px 10px 9px 10px;
    }
.nhs_HomesContext > h2 {
    color: #7d7d7d;
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 4px 10px 0 10px;
    }
.nhs_HomesContext > h3 {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #7d7d7d;
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 2px 10px 9px 10px;
    }
.expanded .nhs_CommContext,
.expanded .nhs_HomesContext,
.expanded .nhs_SavedContext {
    position: fixed;
    left: 195px;
}

.nhs_CommDetail {
    width: 100%;
    
    margin: 93px 0 0 0;
    padding: 0;
    background: #eee;
}
.nhs_HomesDetail {
    width: 100%;
    
    margin: 111px 0 0 0;
    padding: 0;
    background: #eee;
}

/* Inactive Property */

.nhs_CommInactive {
    width: 100%;
    
    margin: 49px 0 0 0;
    padding: 0;
    background: #fff;
}
.nhs_CommInactive h1 {
    margin: 12px 0;
    padding: 0 3.75%;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.75rem;
    font-weight: 900;
    color: #4b4b4b;
}
.nhs_CommInactive .nhs_HomeSearch > div {
    margin-top: 30px;    
}

.nhs_DetailInfo {
    margin: 0;
    padding: 16px 0 14px 0;
    background: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #7d7d7d;
}
.nhs_DetailInfo .nhs_MapBtn {
    float: left;
    display: inline-block;
    border-radius: 3px;
    margin: 0 0 12px 12px;
    padding: 6px 5px 5px 5px;
    font-size: 11px;    
    line-height: 12px;
}
.nhs_DetailInfo > h3 {
    float: left;
    width: 150px;
    margin: 0 0 5px 12px;
    padding: 0;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
}
.nhs_DetailInfo > p {
    float: left;
    width: 150px;
    margin: 0 0 12px 12px;
    padding: 0;
    line-height: 14px;
}
.nhs_DetailInfo > p.nhs_DetailHours {
    float: right;
    width: 100px;
    margin-left: 0;
    margin-right: 12px;
    line-height: 16px; 
    text-align: right;   
}
#nhs_HoursOfOperation {
    display: none;    
}
.nhs_DetailInfo > p.nhs_DetailHours > span {
    color: #65ad45;
    font-weight: 900;
}
.nhs_DetailInfo a {
    font-weight: 900;
}

.nhs_DetailInfo > ul {
    clear: both;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nhs_DetailInfo > ul li {
    float: left;
    width: 42.5%; /*136/320*/
    padding: 0 3.75%; /*12/320*/
}
.nhs_DetailInfo > ul li a {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    background: #fff;
    width: 100%;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 600; /*Medium*/
    font-size: 11px;
    font-size: 0.7rem;
    color: #4b4b4b; 
    text-align: center;
    line-height: 11px;

    border: 1px solid #bababa;
    border-radius: 3px;    
    }
.nhs_DetailInfo > ul li a.nhs_ContactBtn {
    background: #ffce34;
    border-color: #ffce34;

}

/* Community Expansion */

.nhs_CommMore {

}
.nhs_CommPanel,
.nhs_MorePanel {
    display: none;
    background: #fff;
}
.nhs_CommMore .nhs_CommMoreLink,
.nhs_CommMore .nhs_CommPanel .nhs_CommMoreClose,
.nhs_MoreLink,
.nhs_MorePanel .nhs_MoreClose {
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0;  
    
    background: #bababa; 
    cursor: pointer;
}
.nhs_CommBasic .nhs_CommMore .nhs_CommMoreLink,
.nhs_CommBasic .nhs_CommMore .nhs_CommPanel .nhs_CommMoreClose {
    cursor: default;
}

.nhs_CommMore .nhs_CommMoreLink > h2,
.nhs_CommMore .nhs_CommPanel .nhs_CommMoreClose > h2,
.nhs_MoreLink > h2 {
    float: left;
    display: inline-block; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;  
    line-height: 12px;
    color: #fff;  
    margin: 0; 
    padding: 10px 12px;
    width: 70%;
}
.nhs_CommMoreLink > span,
.nhs_CommMoreClose > span,
.nhs_MoreLink > span { 
    float: right;
    display: block;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;    
    color: #fff;    
    line-height: 12px;
    background-image: url(/globalresourcesmobile/default/images/icons/arrows_up_down.png);
    background-size: 10px 60px;
    background-position: right -41px;
    background-repeat: no-repeat;
    margin: 0 12px 0 0;
    padding: 10px 16px 10px 12px;
}
.nhs_CommMoreLink > span.expanded,
.nhs_MoreLink > span.expanded {
    background-position: right 13px;
}
.nhs_CommMoreClose > span {
    background-image: url(/globalresourcesmobile/default/images/icons/arrows_up_down.png);
    background-position: right 13px;
}

/* Comm Panel Gallery */

.nhs_GalleryList {
    margin: 4px 0 15px 0;
    padding: 8px 0 8px 9px;
    background: #0091da;
    color: #fff;
}
.nhs_GalleryItem {
    float: left;
    display: block;
    width: 126px;
    margin: 2px 0;
    padding: 0;
    color: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 11px;
    font-size: 0.7rem;
    cursor: pointer;
}
.nhs_GalleryItem > .nhs_ItemImg {
    width: 120px;
    height: 84px;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 2px solid #fff; 
    border-radius: 2px;   
    }
.nhs_GalleryItem > p {
    margin: 0 10px 4px 10px;
    padding: 0;
    display: none;
    }
span.nhs_VideoImgIcon {
    display: block;
    width: 40px;
    height: 40px;
    margin: -18px 0 0 -20px;
    
    background-image: url(/globalresourcesmobile/default/images/icons/play_video.png);
    background-size: 40px 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    position: absolute;
    top: 50%;
    left: 50%;
    }    

/* Home Gallery */

.nhs_HomesDetail .nhs_GalleryList,
.nhs_ShowcaseDetail .nhs_GalleryList {
    margin: 0;
    padding: 10px 0 10px 12px;
}
.nhs_HomesDetail .nhs_GalleryList > h2,
.nhs_HomesDetail .nhs_GalleryList > h3,
.nhs_ShowcaseDetail .nhs_GalleryList > h2,
.nhs_ShowcaseDetail .nhs_GalleryList > p {
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
}
.nhs_HomesDetail .nhs_GalleryList > h3,
.nhs_ShowcaseDetail .nhs_GalleryList > p {
    float: right;
    margin: 0 12px 0 0;
}

/* Floorplan Gallery */

.nhs_FloorplanList,
.nhs_Modal .nhs_GalleryList {
    margin: 0;
    padding: 4px 12px 10px 12px;
    background: transparent;
}
.nhs_FloorplanList .nhs_GalleryItem {
    float: left;
    display: block;
    width: 146px;
    /*height: 176px;*/
    margin: 0;
    padding: 2px 0;
    color: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 11px;
    font-size: 0.7rem;
    cursor: pointer;
}
.nhs_FloorplanList .nhs_GalleryItem > .nhs_ItemImg {
    width: 143px;
    /*height: 174px;*/
    height: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #bababa; 
    border-radius: 0;   
    }
.nhs_FloorplanList .nhs_GalleryItem > .nhs_ItemImg img {
    position: static;
    top: auto;
    left: auto;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    }

/* Modal Floorplan */

.nhs_Modal .nhs_FloorPlan,
.nhs_Modal .nhs_Gallery {
    margin: 0; /*12% 0 0 0;*/
    padding: 0; /*0 12px 0 12px;*/
    background: transparent;
}
.nhs_Modal .nhs_FloorplanList .nhs_GalleryItem > p {
    display: none;   
}

/* Modal Gallery */

/* .nhs_Modal .nhs_GalleryList {
    margin: 15% 0 0 0;
    padding: 12px 12px 0 12px;
    background: transparent;
} */
.nhs_Modal .nhs_GalleryItem {
    width: 234px;
    width: 100%;
}
.nhs_Modal .nhs_GalleryItem > .nhs_ItemImg {
    width: 234px;
    min-height: 164px;
    width: 100%;
    border: 0;
    border-radius: 0;
}
.nhs_Modal .nhs_GalleryItem > p {
    display: block;
    float: left;
    /*margin: 3px 0 0 0;*/
    margin: 0;
    width: 210px;
    padding: 7px 12px;    
    background: #fff;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
    color: #4b4b4b;
    line-height: 15px;
    }
    
/* Modal Hours */    

.nhs_Modal .nhs_Hours {
    margin: 40% auto 0 auto;
    margin-top: 18%;   
    padding: 30px 7.8125%; /*25/320*/
    width: 62.5%; /*200/320*/
    background: #f5f5f5;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
    color: #4b4b4b;
}
.nhs_Modal .nhs_Hours p:first-child {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;
    margin: 0 0 25px 0;
    word-wrap: break-word;
}
.nhs_Modal .nhs_Hours .btnCss {
    display: inline-block;
    /*background: #fff;
    font-weight: normal;
    color: #4b4b4b;
    border: 1px solid #bababa;*/
    
    /*font-size: 11px;
    font-size: 0.7rem;
    background-image: url(/globalresourcesmobile/default/images/icons/req_appointment.png);
    background-size: 12px 11px;
    background-position: 38px 50%;
    background-repeat: no-repeat;
    width: 130px;
    padding: 10px 12px 10px 58px;*/
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffce34;
    color: #4b4b4b;
    /*text-align: left;*/
}

/* Modal Map Directions */

.nhs_MapModal {
    position: relative;
    width: 100%;
    /*margin-top: 44px;*/
}
.nhs_MapModal .nhs_MapActionBar {
    position: fixed;
    bottom: 0;
    z-index: 99;
    
    width: 92.5%; /* 296/320 */
    min-width: 296px;
    max-width: 768px;
    min-height: 34px;
    margin: 0 auto;
    padding: 12px 3.75% 18px 3.75%; /*12/320*/
    border-top: 1px solid #eee;
    
    background: #fff; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.70rem;    
    color: #7d7d7d;
}
.nhs_MapModal .nhs_MapActionBar p:first-of-type {
    margin: 0 0 12px 0;
    line-height: 14px;
}
.nhs_MapModal .nhs_MapActionBar p:first-of-type a {
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: bold;    
}
.nhs_MapModal .nhs_MapActionBar p:first-of-type span {
    display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.nhs_MapModal .nhs_MapActionBar p:nth-of-type(2) {
    float: left; 
    margin: 0; 
    width: 59%;  
}
.nhs_MapModal .nhs_MapActionBar .btn {
    float: right;
    margin: 0;
    padding: 7px 15px 7px 15px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 13px;
    font-size: 0.825rem;
    color: #4b4b4b;    
    background-color: #ffce34;
}

/* Comm Panel Text */

.nhs_CommMore .nhs_CommPanel h2,
.nhs_CommMore .nhs_CommPanel h3,
.nhs_CommMore .nhs_CommPanel > h3,
.nhs_CommMore .nhs_CommPanel > h4,
.nhs_CommMore .nhs_CommPanel > h5,
.nhs_CommMore .nhs_CommPanel > h6 {
    margin: 12px 0 0 0;
    padding: 0 3.75%;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
    color: #4b4b4b;
}
.nhs_CommMore .nhs_CommPanel p,
.nhs_CommMore .nhs_CommPanel ul {
    margin: 0 0 7px 0;
    padding: 0 3.75%;
    list-style: none;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #7d7d7d;
    line-height: 16px;
}
.nhs_CommMore .nhs_CommPanel ul span {
    font-weight: 900;
    color: #4b4b4b; 
}

/* Comm Panel Buttons */

a.nhs_AskQuestionBtn,
.nhs_CommMore .nhs_CommPanel .btn {
    display: block;
    width: 180px;
    margin: 20px auto;
    padding: 8px 0;
    border: 1px solid #bababa;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #4b4b4b;
    line-height: 11px;
    text-align: center;
}
a.nhs_AskQuestionBtn,
.nhs_CommMore .nhs_CommPanel .nhs_FreeBrochureBtn {
    background-color: #ffce34;
    border-color: #ffce34;
}

/* Deals Green and Offers */

.nhs_ItemDeals {
    width: 92.5%; /*296/320*/
    margin: 0;
    padding: 12px 3.75% 12px 3.75%; /*12/320*/
    background: #eee;
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals ul {
    margin: 0;
    padding: 0;
    line-height: 13px;
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li {
	display: block;
	margin: 5px 0 5px 0;
	padding: 4px 0 0 23px;
	min-height: 30px;
	background-size: 16px 22px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li strong:first-child { 
    margin-right: 3px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li a {
	font-weight: 900;
}
.nhs_CommMore .nhs_CommPanel .nhs_Hover .nhs_ItemDeals > ul li a {
	color: #0091da;
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_HotHome strong:first-of-type {
    color: #d92632; 
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_Offer strong:first-of-type {
    color: #f58220; 
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_Green strong:first-of-type {
    color: #65ad45; 
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_HotHome {
	background-image: url(/globalresources14/default/images/icons/hot@2x.png);
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_Offer {	
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
.nhs_CommMore .nhs_CommPanel .nhs_ItemDeals > ul li.nhs_Green {	
	background-image: url(/globalresources14/default/images/icons/green@2x.png);
}

/* Homes and Plans */

.nhs_CommHomesPlans,
.nhs_HomesPlans {
    background: #fff;
    margin: 0;
    padding: 15px 0 0 0;
}
.nhs_HomesSimilar {
    background: #fff;
    margin: 0;
    padding: 12px 0 0 0;
}
.nhs_CommHomesPlans > h2,
.nhs_HomesPlans > div > h2,
.nhs_HomesSimilar > h2 {
    margin: 0;
    padding: 0 3.75%;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.75rem;
    font-weight: 900;
    color: #4b4b4b;
}
.nhs_HomesPlans > p,
.nhs_HomesPlans > ul {
    margin: 0;
    padding: 0 3.75%;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #7d7d7d;
}
.nhs_HomesPlans > ul {
    margin: 0; 
    padding: 15px 7.8125%;
}

/* Similar Homes Gallery */

.nhs_HomesSimilar .nhs_GalleryList {
    margin-top: 4px;
    margin-bottom: 0;
}
.nhs_HomesSimilar .nhs_GalleryItem {
    float: left;
    display: block;
    width: 192px;
    margin: 2px 0;
    padding: 0;
    color: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 11px;
    font-size: 0.7rem;
    line-height: 16px;
    cursor: pointer;
    position: relative;
}
.nhs_HomesSimilar .nhs_GalleryItem > .nhs_ItemImg {
    width: 186px;
    height: 128px;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 2px solid #fff; 
    border-radius: 2px;   
    }
.nhs_HomesSimilar .nhs_GalleryItem > .nhs_GalleryInfo {
    width: 186px;
    padding: 4px 0;
    background: rgba(75,75,75,0.4);
    color: #fff;

    position: absolute;
    bottom: 4px;
    left: 2px;
    }
.nhs_HomesSimilar .nhs_GalleryItem h3 {    
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900; /*Medium*/
    line-height: 14px;
    margin: 0 10px;
    padding: 0;
    text-shadow: 0 0 3px rgba(75,75,75,0.7);
    }
.nhs_HomesSimilar .nhs_GalleryItem a {
    color: #ffce34;
}
.nhs_HomesSimilar .nhs_GalleryItem p {
    margin: 0 10px;
    padding: 0;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
.nhs_HomesSimilar .nhs_GalleryItem p:last-of-type {
    font-size: 10px;
    font-size: 0.625rem;
    }
.nhs_HomesDetail .nhs_HomesSimilar .nhs_GalleryItem h3 + p {
    float: left; 
    font-size: 10px;
    font-size: 0.625rem;
    margin-right: 0;   
}
.nhs_HomesDetail .nhs_HomesSimilar .nhs_GalleryItem h3 + p + p {
    float: right;
    font-size: 10px;
    font-size: 0.625rem;
}

/* Tabs */

.nhs_Tabs {
    display: inline-block;
    float: left;
    list-style: none;
    width: 92.5%; /*296/320*/
    margin: 8px 0 0 0;
    padding: 0 3.75%; /*12/320*/
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 900;
}
ul.nhs_Tabs > li {
    display: inline-block;
    float: left;
    width: 35.47297297297297%; /*105/296*/
    margin-left: 2.027027027027027%; /*6/296*/
}
.nhs_CommHomesPlans ul.nhs_Tabs > li#nhs_TabsAll {
    width: 25%; /*74/296*/
} 
ul.nhs_Tabs > li#nhs_TabsBasicComm {
    width: 40.54054054054054%; /*120/296*/
}
.nhs_CommHomesPlans ul.nhs_Tabs > li:first-child {
    margin: 0;
}
ul.nhs_Tabs > li > input[type='radio'] {
	display: none;
}
ul.nhs_Tabs > li > a,
ul.nhs_Tabs > li > input[type='radio'] + label {
    background-color: #bababa;    
    color: #fff;
    display: inline-block;
    padding: 9px 0 8px 0;
    text-align: center;
    width: 100%;
    
    cursor: pointer;
}
ul.nhs_Tabs > li > a:hover, 
ul.nhs_Tabs > li > a.active,
ul.nhs_Tabs > li > input[type='radio']:checked + label {
    background-color: #eee;
    color: #7d7d7d;
    text-decoration: none;
}
ul.nhs_Tabs > li > a.active, 
ul.nhs_Tabs > li > a.active:hover,
ul.nhs_Tabs > li > input[type='radio']:checked + label:hover {
    cursor: default;
}

.nhs_HomeResults {
    clear: both;
    background: #eee;
    width: 92.5%; /*296/320*/
    margin: 0;
    padding: 12px 3.75% 0 3.75%; /*12/320*/
}
.nhs_HomeResults .nhs_GroupingBar {
    margin: 0;
    padding: 4px 0 4px 15px;  
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;   
    line-height: 16px; 
    color: #4b4b4b;
    background: #bababa;
}
/* .nhs_CommBasic .nhs_HomeResults {
    margin-top: 4px;    
} */

/* Home Results Item */

.nhs_HomeResItem {
    width: 100%;
    margin: 0;
    padding: 9px 0;   
    background: transparent;
    border-bottom: 1px solid #bababa;
    cursor: pointer;
    color: #7d7d7d;
}
.nhs_CommBasic .nhs_HomeResItem {
    cursor: default;
}
.nhs_HomeResItem:last-of-type {
    border: 0;
}
.nhs_HomeResItem h2,
.nhs_HomeResItem h3 {
    margin: 0;
    padding: 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 900;
    line-height: 16px;
    color: #4b4b4b;    
}
.nhs_HomeResItem h2 > a,
.nhs_HomeResItem h3 > a {

}
.nhs_HomeResItem h2 > a span,
.nhs_HomeResItem h3 > a span {
    display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.nhs_HomeResItem > p {
    margin: 0;
    padding: 0;
    height: 16px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;    
    font-size: 0.625rem;
}
.nhs_HomeResItem > p:first-of-type {
    margin: 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;   
    font-size: 0.7rem;
    font-weight: 900;
    color: #4b4b4b;    
}
.nhs_HomeResItem > .nhs_ItemImg {
    width: 102px;
    height: 74px;
    margin: 0 8px 0 0;
    padding: 0;
}
.nhs_HomeResItem > ul.nhs_Actions {
    display: block;
    width: 62.16216216216216%; /*184/296*/
    float: right;
    margin: 1px 0 0 0;
    
    /*display: inline;
    width: 100%;
    float: none;*/
}
.nhs_HomeResItem > ul.nhs_Actions li {
    display: inline-block;
    width: 45.65217391304348%; /*84/184*/
    height: 25px;
    margin: 0 0 0 6.521739130434783%; /*12/184*/
    
    /*float: right;
    margin-left: 4.054054054054054%; /*12/296
    width: 29.05405405405405%; /*86/296*/
}
.nhs_HomeResItem > ul.nhs_Actions li:first-child {
    margin: 0;
    
    float: left;
}
.nhs_HomeResItem > ul.nhs_Actions li a {    
    display: inline-block;
    border: 1px solid #bababa;
    margin: 0;
    padding: 7px 0 6px 0;
    text-align: center;
    width: 98%;
    color: #4b4b4b;
}
.nhs_HomeResItem > ul.nhs_Actions li a.nhs_PhotosBtn {
    background-color: #0091da;
    border-color: #0091da;
    color: #fff;
}


/* Details Bottom Bar */

.nhs_DetailActionBar {
    position: fixed;
    bottom: 0;
    z-index: 99;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 34px;
    margin: 0 auto;
    padding: 7px 0 7px 0;
    
    background: #0091da;    
    color: #fff;
    opacity: 1;

    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.expanded .nhs_DetailActionBar {
    position: fixed;
    bottom: -100%;
    opacity: 0;
}
.nhs_Modal .nhs_DetailActionBar {
    position: fixed;
    bottom: 0;
    opacity: 1;
}
.nhs_DetailActionBar > a,
.nhs_DetailActionBar > span {
    float: left;
    display: block;
    margin: 0 0 0 12px;
    padding: 7px 15px 7px 22px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 13px;
    font-size: 0.825rem;
    color: #fff;       
}
.nhs_DetailActionBar > .nhs_Save {
    min-width: 40px;
    background-image: url(/globalresourcesmobile/default/images/icons/saved_off_detail.png);
    background-size: 13px 10px;
    background-position: 3px 50%;
    background-repeat: no-repeat;
}
.nhs_DetailActionBar > .nhs_Save:active,
.nhs_DetailActionBar > .nhs_Save.active,
.nhs_DetailActionBar > .nhs_Save.selected,
.nhs_DetailActionBar > .nhs_Saved {
    background-image: url(/globalresourcesmobile/default/images/icons/saved_on_detail.png);
}
.nhs_DetailActionBar > a.nhs_Share {
    background-image: url(/globalresourcesmobile/default/images/icons/share.png);
    background-size: 13px 15px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.nhs_DetailActionBar > a.nhs_CallBtn {
    background-image: url(/globalresourcesmobile/default/images/icons/phone_blue.png);
    background-size: 13px 14px;
    background-position: 28px 50%;
    background-repeat: no-repeat;
    padding: 8px 30px 7px 46px;
}
.nhs_DetailActionBar > a.btn {
    float: right;
    margin: 0 12px 0 0;
    color: #0091da;
    background-color: #fff;
}

/*Add Me to the Interest List*/
ul > li > a.nhs_InterestListBtn {
    padding: 8px;
    margin-left: 50%;
}

