
/* Site Help Global */

.nhs_SiteHelp,
#nhs_Unsubscribe,
.nhs_HelpDetail {
    width: 92.5%; /*296/320*/
    
    margin: 44px 0 0 0;
    padding: 12px 3.75% 12px 3.75%; /*12/320*/
    background: #fff;        
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
}
.nhs_HelpError {
    margin-top: 92px;
    min-height: 200px;
}
.nhs_SiteHelp h1,
.nhs_SiteHelp h2,
.nhs_SiteHelp h3,
.nhs_SiteHelp h4,
.nhs_SiteHelp h5,
.nhs_SiteHelp h6 {
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;  
}
.nhs_SiteHelp h2:first-child,
#nhs_Unsubscribe h2:first-child {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;  
    margin-top: 0;  
}
.nhs_SiteHelp ul,
.nhs_SiteHelp ol {
    padding: 0 15px;    
}
.nhs_SiteHelp textarea {
    width: 98%;
    border: 1px solid #bababa;
    border-radius: 3px;    
}

/* Unsubscribe */

#nhs_Unsubscribe fieldset p {
    margin: 0;    
}
#nhs_Unsubscribe fieldset p:first-child {
    margin: 0 0 10px 0;    
}
#nhs_Unsubscribe fieldset label {
    display: inline-block;
    width: 100%;    
    margin-bottom: 8px;
}
#nhs_Unsubscribe fieldset input[type=text] {
    width: 92%; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: bold; /*Medium*/
    font-size: 16px;    
    height: 16px;
    line-height: 20px;
    margin: 0;
    padding: 5px 2%;
    border: 1px solid #bababa;
    border-radius: 3px;
}
#nhs_Unsubscribe .validation-summary-errors ul {
    padding: 0 15px;
    font-weight: bold;
    color: #d92632;
}
#nhs_Unsubscribe .nhs_LegalText {
    font-size: 10px;
    font-size: 0.625rem;    
}

/* List Your Homes */

#nhs_AdvertForm {
    width: 90%;
    padding: 5%;
    background-color: #0091da;
    color: #fff;    
}
#nhs_AdvertForm legend {
    width: 100%;
    margin: 0 0 5px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: #ffce34;
}
#nhs_AdvertForm label {
    display: inline-block;
    width: 29%;    
    padding: 0 1% 0 0;
    text-align: right;
}
#nhs_AdvertForm #interested {
    width: 100%;
    text-align: left;
}
#nhs_AdvertForm input[type=text],
#nhs_AdvertForm select,
#nhs_AdvertForm textarea {
    width: 62%;
    border: 0;
}
#nhs_AdvertForm select {
    width: 65%;
    margin-left: 32%;    
}
#nhs_AdvertForm textarea {
    width: 65%;
    height: 50px;
}
#nhs_AdvertForm input[type=button] {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #4b4b4b;
    background: #ffce34;  
    border: 0;
    border-radius: 3px;
    margin-right: 3%;
    padding: 6px 15px;  
    float: right; 
}

/* Brochure Gen */

.nhs_HelpContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 44px;
    margin: 0 auto;
    padding: 0;  
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
.nhs_HelpContext > h1 { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;
    color: #333;    
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 9px 10px 2px 10px;
}
.nhs_HelpDetail {    
    margin: 93px 0 0 0;
    
    min-height: 180px;
}