/* Results Top Bar */

.nhs_ResContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 26px;
    margin: 0 auto;
    padding: 0;  
    
    background: #eee; 
    /*box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); */
    box-shadow: 0 2px 2px 0 rgba(75,75,75,0.3);
}
.nhs_ResContext > h1 { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #4b4b4b;    
    line-height: 14px;
    text-align: center;
    margin: 0;
    padding: 6px 10px 6px 10px;
    
    position: relative;
    /*box-shadow: 0 3px 3px 0 rgba(75,75,75,0.2);*/
}
.nhs_ResContext > h1 span {
    display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.expanded .nhs_ResContext {
    left: 195px;
}

.nhs_ResContextAd,
.nhs_ResListAd,
.nhs_ResFooterAd {
    text-align: center;
}
.nhs_ResContextAd {
    min-height: 56px;
    background: #eee; 
    
    width: 100%;
    position: fixed;
    bottom: 0;         
}
.nhs_ResContextAd iframe,
.nhs_ResListAd iframe {
    display: block;
    margin: 6px auto 3px auto;
    width: 320px;
    height: 50px;
    border: 0;
    background: transparent;
}
.nhs_ResListAd iframe {
    margin: 0 auto 3px auto;    
}
.nhs_ResFooterAd iframe {
    display: block;
    margin: 2px auto 12px auto;    
    margin-bottom: 0;
    width: 300px;
    height: 250px;
    border: 0;
}

#nhs_ResMktTxt {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #7d7d7d;    
    background: #eee;
}
#nhs_SeoContentArea {    
    padding-bottom: 12px;
}
.nhs_LinkPromoTitle {
    font-size: 0.75rem;
    font-weight: 900;
    color: #4b4b4b; 
    margin: 12px 0 0 0;
    padding: 0 3.75%;   
}
#nhs_ResMktTxt p,
#nhs_ResMktTxt ul {
    margin: 12px 0 0 0;
    padding: 0 3.75%;
    list-style: none;
}

/* Results List View */

.nhs_ResList {
    width: 100%;
    /*min-height: 568px;*/
    
    margin: 69px 0 0 0;
    padding: 0;
    background: #eee;
}

/* Results Map View */

.nhs_ResMap {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    /*min-height: 568px;*/
    
    margin: 69px 0 0 0;
    padding: 0;
}
#nhs_ResMapBox {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 568px;

    background-image: url(/globalresourcesmobile/default/images/map_demo.jpg);
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#nhs_MapCards {
    width: 100%;
    background: #fff;
    
    position: fixed;
    top: 117px; /*69px;*/
    left: 0;
    
    z-index: 9;
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7);    
}
.expanded #nhs_MapCards {
    position: absolute;
    left: 0;
    top: 0;
}
#nhs_MapCards .bx-wrapper .bx-pager,
#nhs_MapCards .bx-wrapper .bx-controls-auto {
	position: static;
	bottom: auto;
	width: 100%;
	padding: 8px 0;
	line-height: 12px;	
    border-top: 3px solid #eee;
}
.nhs_ResMap .nhs_ResItem {
    border-bottom: 0;
}
/*.nhs_ResMap .nhs_ResItem {
    position: fixed;
    top: 70px;
    z-index: 999;
} */
.nhs_ResMap .nhs_ResItem > ul.nhs_Actions li a.nhs_MapBtn {
    visibility: hidden;
}

.nhs_ResMapNearby {
    position: fixed;
    bottom: 20px; /*70px;*/
    left: 15px;
}
.nhs_MapModal .nhs_ResMapNearby {
    bottom: 120px;    
}
.nhs_ResMapNearby .btn_Nearby {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 92px;
    margin: 0;
    padding: 6px 8px 7px 8px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;  
    text-align: center;
    background-color: rgba(0,145,218,0.8);
    /*background: #0091da;  
    border: 1px solid #fff;*/
    }
.nhs_ResMapNearby .btn_Nearby:hover,
.nhs_ResMapNearby .btn_Nearby:active {
    background: #0091da;
    }
.nhs_ResMapNearby .nhs_Flyout {
    position: absolute;
    bottom: 45px;
    left: 0;

    width: 135px;
    padding: 15px 8px 15px 12px;
    background: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #4b4b4b;
    
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.5);
    }
.nhs_ResMapNearby .nhs_Flyout:after {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #fff;
    width: 0;
    height: 0;

    position: absolute;
    left: 43px;
    bottom: -12px;
    }
.nhs_ResMapNearby .nhs_Flyout ul {
    list-style: none; 
    margin: 0;
    padding: 0;   
    }
.nhs_ResMapNearby .nhs_Flyout ul li {
    padding: 16px 0 0 0;
    }
.nhs_ResMapNearby .nhs_Flyout ul li:first-child {
    padding: 0;
    }
.nhs_ResMapNearby .nhs_Flyout ul li label {
    margin-left: 5px;
    color: #4b4b4b;
    }

.btn_Locate {
    display: inline-block;
    border-radius: 3px;
    margin: 0;
    padding: 6px 5px 5px 5px;
    font-size: 11px;    
    line-height: 12px;
    background-color: #0091da;    
    
    width: 18px;
    height: 18px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/locate_me.png);
    background-size: 15px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.nhs_ResMap .btn_Locate,
.nhs_MapModal .btn_Locate {
    position: fixed;
    bottom: 20px; /*70px;*/
    right: 15px;
    /*border: 1px solid #fff;*/
    background-color: rgba(0,145,218,0.8);
}
.nhs_MapModal .btn_Locate {
    bottom: 120px;    
}
.nhs_ResMap .btn_Locate:hover,
.nhs_ResMap .btn_Locate:active,
.nhs_MapModal .btn_Locate:hover,
.nhs_MapModal .btn_Locate:active {
    background-color: #0091da;
}
.nhs_ActiveLocation {
    background-color: #ffce34 !important;
    border-color: #ffce34 !important;
    color: #4b4b4b !important;  
    text-decoration: none !important;
}

/* Grouping Bar */

.nhs_GroupingBar {
    margin: 15px 0 8px 0;
    padding: 8px 0 8px 15px;  
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #4b4b4b;
    background: #fff;
}  

/* Comm Results Item */

.nhs_ResItem {
    width: 100%;
    max-width: 768px;
    margin: 0;
    padding: 9px 0 9px 0;   
    background: #fff;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.nhs_ResItem h2 {
    margin: 0 12px 0 12px;
    padding: 0 0 6px 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 16px;
    color: #4b4b4b;    
}
.nhs_ResItem h2 > a {
    color: #4b4b4b;
}
.nhs_ResItem h2 > span {
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;    
    color: #7d7d7d;
    display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.nhs_SavedContext h1 > span.nhs_Saved,
.nhs_ResItem h2 > span.nhs_Saved {
    display: inline-block;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    margin: 0 3px 0 2px;

    width: 11px;
    height: 9px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/saved_item.png);
    background-size: 11px 9px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_ResItem > p {
    margin: 0 0 3px 0;
    padding: 0 12px 0 0;
    min-height: 15px;
    line-height: 15px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;    
    font-size: 0.7rem;
}
.nhs_ResItem > p:first-of-type,
.nhs_ResItem > h3 {
    margin: 0 0 4px 0;
    min-height: 18px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;   
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 16px;
    color: #0091da;    
}
.nhs_BasicItem > p:first-of-type {
    font-size: 11px;    
    font-size: 0.7rem;
    font-weight: normal;
    color: #7d7d7d;
    margin-bottom: 0;
}
.nhs_ResItem > h3 {
    margin: 0 0 3px 0;
}
.nhs_ResItem > h3 + p:first-of-type,
.nhs_ResItem > h3 + p + p {
    float: left;
    margin: 0 0 4px 0;
    padding: 0;
    min-height: 15px;
    line-height: 12px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;    
    font-size: 0.625rem;
    color: #7d7d7d;
}
.nhs_ResItem > h3 + p + p {
    float: right;
    padding: 0 12px 0 0;
}
ul.nhs_Actions,
.nhs_ResItem > ul.nhs_Actions {
    float: right;
    clear: right;
    display: inline;
    margin: 1px 5px 0 0;
    padding: 0;
    list-style: none;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 12px;
}
ul.nhs_Actions li,
.nhs_ResItem > ul.nhs_Actions li {
    display: inline;
    margin: 0;
    height: 27px;
}
.nhs_ResItem > ul.nhs_Actions li:first-child {
    margin: 0;
}
ul.nhs_Actions li a,
.nhs_ResItem > ul.nhs_Actions li a {
    float: left;
    display: inline-block;
    border: 1px solid #bababa;
    border-radius: 3px;
    margin: 0 9px;
    padding: 6px 7px 5px 7px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;    
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 11px;
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_FreeBrochureBtn,
.nhs_ResItem > ul.nhs_Actions li a.nhs_ViewBrochureBtn,
.nhs_ResItem > ul.nhs_Actions li a.nhs_ComingSoonBtn {
    border: 1px solid #ffce34;
    margin: 0 9px 0 0;
    padding: 9px 7px;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    background: #ffce34;
    color: #4b4b4b;
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_ViewBrochureBtn {
    border: 1px solid #9ecf7c;
    background: #9ecf7c;
    color: #4b4b4b;  
    padding: 9px 6px;  
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_ComingSoonBtn {
    border: 1px solid #f58220;
    background: #f58220;
    color: #4b4b4b;  
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_QuickBtn {
    margin: 7px 8px 0 0;
    font-weight: 900;
    color: #4b4b4b;
    text-transform: uppercase;
}
.nhs_MapBtn,
.nhs_ResItem > ul.nhs_Actions li a.nhs_MapBtn {
    background-color: #fff;
    border-color: #bababa;
    border: 0;
    
    width: 16px;
    height: 20px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/map_btn_alt.png);
    background-size: 30px 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_CallBtn {
    background-color: #0091da;
    border-color: #0091da;
    
    width: 16px;
    height: 18px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/phone.png);
    background-size: 15px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_ResItem > ul.nhs_Actions li a.nhs_DeleteBtn {
    background-color: transparent;
    border-color: transparent;
    
    width: 16px;
    height: 18px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/x_close_alt.png);  
    background-size: 30px 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
ul.nhs_Actions li span,
.nhs_ResItem > ul.nhs_Actions li span {
    float: left;
    display: inline-block;
    margin: 0 9px;
    padding: 4px 7px 4px 7px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 10px;    
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 11px;
}

.nhs_ItemImg {
    float: left;    
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;

    position: relative;
}
.nhs_ResItem > .nhs_ItemImg {
    width: 102px;
    height: 70px;
    margin: 0 14px 0 12px;
    padding: 0;
}
.nhs_ItemImg > img,
.nhs_ItemImg > a > img {
    /*max-height: 100%;*/

    width: 100%;    
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}

/* Boyl Custom Logo */
.nhs_ResItem > img {
    float: left;
    max-width: 60px;    
    max-height: 35px;
    overflow: hidden;
    font-size: 9px;
    margin-top: 7px;
}


/* Load More */

#nhs_MoreResults {
    display: block;
    width: 55%;
    margin: 25px auto 25px auto;      
    padding: 9px 15px 8px 15px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;  
    text-align: center;
    background: #0091da;
    border: 1px solid #fff; 
}

/* Results Bottom Bar */

.nhs_ResRefineBar {
    /*position: fixed;
    bottom: 0;
    z-index: 99;*/
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 34px;
    margin: 0 auto;
    padding: 7px 0 7px 0;
    
    background: #0091da;    
    color: #fff;
    opacity: 1;

    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	
	position: static;
}
/*.expanded .nhs_ResRefineBar {
    position: fixed;
    bottom: -100%;
    opacity: 0;
}*/
.nhs_ResRefineBar > a {
    float: left;
    margin: 0 0 0 10px;
    padding: 7px 15px 7px 20px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 13px;
    font-size: 0.825rem;
    color: #fff;       
}
.nhs_ResRefineBar > a.nhs_Filter {
    background-image: url(/globalresourcesmobile/default/images/icons/filter.png);
    background-size: 13px 13px;
    background-position: 3px 50%;
    background-repeat: no-repeat;
}
.nhs_ResRefineBar > a.nhs_Sort {
    background-image: url(/globalresourcesmobile/default/images/icons/sort.png);
    background-size: 13px 15px;
    background-position: 3px 50%;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.nhs_ResRefineBar > a.nhs_Places {
    background-image: url(/globalresourcesmobile/default/images/icons/places.png);
    background-size: 10px 15px;
    background-position: 3px 50%;
    background-repeat: no-repeat;
}
.nhs_ResRefineBar > a.nhs_MapView {
    background-image: url(/globalresourcesmobile/default/images/icons/map_view.png);
    background-size: 15px 15px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 8px 10px 7px 28px;
}
.nhs_ResRefineBar > a.nhs_ListView {
    background-image: url(/globalresourcesmobile/default/images/icons/list_view.png);
    background-size: 12px 9px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 8px 10px 7px 28px;
}
.nhs_ResRefineBar > a.btn {
    float: right;
    margin: 0 12px 0 0;
    color: #0091da;
    background-color: #fff;
}


/* Panel */

.nhs_Panel {
    width: 100%;
    height: 100%;
    max-width: 768px;
    
    position: fixed;
    bottom: -100%;  
    z-index: 99; 
    
    background: #0091da;
    /*background: #7d7d7d;*/
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Panel.expanded {
    bottom: 0; 
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;   
}
.nhs_Panel .nhs_Header {
    position: static;    
}
.nhs_Panel .nhs_Header > p {
    float: none;
    display: block;
    width: 50px;
    margin: 0 auto 0 auto; 
    padding: 12px 0 12px 17px;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Medium*/
    font-size: 14px;  
    font-size: 0.875rem;
    color: #0091da; 
    text-align: left;
}
.nhs_ResFilter .nhs_Header > p {
    background-image: url(/globalresourcesmobile/default/images/icons/filter_blue.png);
    background-size: 13px 13px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.nhs_ResSort .nhs_Header > p {
    background-image: url(/globalresourcesmobile/default/images/icons/sort_blue.png);
    background-size: 13px 15px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.nhs_Panel .nhs_Header .btn {
    position: absolute;
    top: 0;
    right: 0;

    margin: 7px 20px 0 20px;
    padding: 6px 15px 6px 15px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 600; /*Medium*/
    font-size: 13px;
    font-size: 0.825rem;
    color: #0091da;  
    background: #fff;
    border: 1px solid #0091da;    
}
.nhs_Panel .nhs_Header .btn.nhs_Apply {
    background: #0091da;
    color: #fff;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;    
}
/*.nhs_Panel .nhs_Header .btn:nth-of-type(2),*/
.nhs_Panel .nhs_Header .btn:hover,
.nhs_Panel .nhs_Header .btn:active {
    background: #0091da;
    color: #fff;
}
.nhs_Panel .nhs_Header .btn.nhs_Cancel {
    right: auto;
    left: 0;
}

.nhs_PanelScroll {
    width: 100%;
    height: 83%;
    margin: 50px 0 20px 0;
    margin: 0; 
    padding: 2% 0 5% 0;
    overflow-y: auto;
}
.nhs_PanelScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.nhs_PanelScroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255,206,52,1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Sort Panel */

.nhs_ResSort .nhs_PanelScroll {
    margin-top: 20px;
    height: 80%;
}
.nhs_ResSort .nhs_PanelScroll ul { 
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    width: 100%;
}
.nhs_ResSort .nhs_PanelScroll ul li {
    display: inline-block;
    width: 87.5%; /*280/320*/
    margin: 0 0 6px 0;
    padding: 0 6.25%; /*20/320*/
}
.nhs_ResSort .nhs_PanelScroll a {
    display: inline-block;
    margin: 0;
    padding: 6px 3.571428571428571%; /*10/280*/
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #0091da;
    color: #fff;
    width: 92.85714285714286%; /*260/280*/
    border: 0;
    border-radius: 3px;
}
.nhs_ResSort .nhs_PanelScroll a.selected {
    background-image: url(/globalresourcesmobile/default/images/icons/checkmark.png);
    background-size: 10px 9px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

/* Filter Panel */

.nhs_ResFilter #nhs_FacetCounts {
    width: 92%;
    padding: 7px 4%;
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 14px; 
    height: 14px;
    color: #4b4b4b;
    background: #eee;   
}
.nhs_ResFilter #nhs_FacetCounts > span {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 14px;  
    height: 14px;
    min-width: 200px;
    display: inline-block;
}
.nhs_ResFilter #nhs_FacetCounts > span.nhs_CountLoader {
    background: transparent url(/globalresourcesmobile/default/images/icons/count_loader.gif) no-repeat 50% 50%;
}
.nhs_ResFilter #nhs_FacetCounts > span span {
    color: #7d7d7d;    
}
.nhs_ResFilter #nhs_FacetCounts > a {
    float: right; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 14px;     
}

.nhs_ResFilter .nhs_PanelScroll > div {
    float: left;
    display: inline-block;
    width: 87.5%; /*280/320*/
    margin: 0;
    padding: 10px 6.25%; /*20/320*/
    border-bottom: 1px solid #1b83bf;
}
.nhs_ResFilter .nhs_PanelScroll > div:last-of-type {
    border: 0;
}
.nhs_ResFilter .nhs_PanelScroll > div fieldset {
    position: relative;
}
.nhs_ResFilter .nhs_PanelScroll > div fieldset > label,
.nhs_ResFilter .nhs_PanelScroll > div > label {
    float: left;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    /*font-weight: 600;*/
    color: #fff;
    padding: 0 0 3px 0;
}
.nhs_ResFilter .nhs_PanelScroll > div fieldset > input[type="text"],
.nhs_ResFilter .nhs_PanelScroll > div fieldset > .nhs_FakeInput {
    float: left;
    border: 0;
    border-radius: 3px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 65%;
    height: 18px;
    margin: 0;
    padding: 6px 2% 6px 2%;
}
.nhs_ResFilter .nhs_PanelScroll > div fieldset > .nhs_FakeInput {
    color: #4b4b4b;
    background: #bababa; 
    /*width: 60%;*/
}
.nhs_ResFilter .nhs_PanelScroll > div fieldset > .nhs_FakeInput > span:last-of-type {
    /*float: right;
    margin-right: 5px;*/
    color: #0091da;
    cursor: pointer;
}
/*.nhs_ResFilter .nhs_PanelScroll > div > .btn_Locate {
    float: left;
    border: 1px solid #fff;    
}*/
.nhs_ResFilter .nhs_PanelScroll > div > select {
    float: left;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 14px;
    width: 33%;
    width: 70%;
    margin: 0;
    padding: 2px 2%;
}
.nhs_ResFilter .nhs_PanelScroll > div > select + select {
    
}
.nhs_ResFilter .nhs_PanelScroll > div > select:nth-of-type(2) {
    margin-left: 8px;    
}
ul.nhs_PanelRadios,
.nhs_ResFilter .nhs_PanelScroll > div ul.nhs_PanelRadios {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}
ul.nhs_PanelRadios li,
.nhs_ResFilter .nhs_PanelScroll > div ul.nhs_PanelRadios li {
    float: left;
    display: inline-block;
    margin: 0 15px 0 0;
}
/*.nhs_ResFilter .nhs_PanelScroll > div ul.nhs_PanelRadios li a {
    display: inline-block;
    margin: 0;
    padding: 6px 8px 5px 8px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;    
    border: 1px solid #fff;
} */
ul.nhs_PanelRadios li:last-child,
.nhs_ResFilter .nhs_PanelScroll > div ul.nhs_PanelRadios li:last-child { 
    margin-right: 0;    
}
.nhs_PanelRadios input[type='radio'],
.nhs_PanelRadios input[type='checkbox'] {
	display: none;
}
.nhs_PanelRadios input[type='radio'] + label,
.nhs_PanelRadios input[type='checkbox'] + label {
    display: inline-block;
    margin: 0;
    padding: 6px 8px 5px 8px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}
.nhs_PanelRadios input[type='radio']:checked + label,
.nhs_PanelRadios input[type='checkbox']:checked + label {
    background: #ffce34;
    border-color: #ffce34;
    color: #4b4b4b;
    text-decoration: none;
    cursor: default;
}

.nhs_ResFilter .nhs_PanelScroll > div.nhs_PanelLabelInline {
    padding-top: 12px;
    padding-bottom: 12px;
}
.nhs_ResFilter .nhs_PanelScroll > div.nhs_PanelLabelInline > label,
.nhs_ResFilter .nhs_PanelScroll > div.nhs_PanelLabelInline fieldset > label {
    width: 82px;
    padding-top: 5px;
}

.ui-slider {    
    background: #fff;
}
.ui-slider-horizontal {
    height: 1px;
}
.ui-slider .ui-slider-handle {
    width: 28px;
    height: 28px;   
    background: #ffce34;
    border-radius: 50%;
    border: 0;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-top: -14px;
    margin-left: -14px;
    top: 50%;
}
.ui-slider-disabled .ui-slider-handle {
    background: #bababa !important;
}
.ui-slider .ui-slider-range {
    height: 3px;
    top: -1px;
    background: #ffce34;
}

.nhs_Slider {
    float: left;
    width: 68%;
}
.nhs_Slider > p {
    margin: 0 0 3px 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.nhs_SliderPrice > p {
    float: left;
    color: #fff;
}
.nhs_SliderPrice > p > span {
    /*color: #ffce34;*/
    color: #fff;
}
.nhs_SliderPrice > p:nth-of-type(2) {
    float: right;
}
.nhs_Slider > span {
    float: left;
    font-size: 11px;
    margin-top: 12px;
}
.nhs_Slider > span:nth-of-type(2) {
    float: right;
}
#nhs_SliderRadius.ui-slider {
    float: left;
    width: 85%;
    margin: 12px 15px 0 15px;
}
#nhs_SliderPrice.ui-slider {
    float: left;
    width: 85%;
    margin: 12px 15px 15px 15px;
}

.nhs_ResSort .nhs_PanelScroll a {
    background-color: #0091da;
    color: #fff;  
    border-color: #fff;
    border-radius: 3px; 
}
.nhs_ResSort .nhs_PanelScroll a:hover,
.nhs_ResSort .nhs_PanelScroll a.selected,
.nhs_ResFilter .nhs_PanelScroll > div ul li a:hover,
.nhs_ResFilter .nhs_PanelScroll > div ul li a.selected {
    background-color: #ffce34;
    border-color: #ffce34;
    color: #4b4b4b;  
    text-decoration: none;
}
.nhs_ResSort .nhs_PanelScroll a:active {
    background: #ffce34;
    color: #7d7d7d;
    box-shadow: inset 0 2px 1px 0 rgba(125,125,125,0.4);    
    text-decoration: none;
}

/* Quick View */
.nhs_QuickView {
    margin: 0; /*15% 0 0 0;*/
}
.nhs_QuickView > h2,
.nhs_FloorPlan > h2,
.nhs_Gallery > h2 {
    width: 78.125%; /*250/320*/
    margin-bottom: 0;
    padding: 6px 10.9375% 5px 10.9375%;    /*35/320*/

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 14px;
    font-size: 0.875rem;
    background: #fff;
    color: #7d7d7d;
}
.nhs_QuickList {
    margin: 12px 12px 0 12px;
}
.nhs_QuickItem {
    float: left;
    display: block;
    width: 234px;
    background: #0091da;
    margin: 0 10px 0 0;
    padding: 0 0 7px 0;
    color: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 11px;
    font-size: 0.7rem;
    cursor: pointer;
}
.nhs_QuickItem > .nhs_ItemImg {
    width: 234px;
    height: 148px;
    margin: 0 0 8px 0;
    padding: 0;
    background: #fff;
    border: 0;
}
.nhs_QuickItem h3 {
    font-weight: bold; /*Medium*/
    font-size: 13px;
    font-size: 0.8rem;
    margin: 0 10px 4px 10px;
    padding: 0;
    line-height: 14px;
}
.nhs_QuickItem a {
    color: #fff;
}
.nhs_QuickItem p {
    margin: 0 10px 4px 10px;
    padding: 0;
}
.nhs_QuickItem p:first-of-type {
    font-size: 13px;
    font-size: 0.8rem;
}
.nhs_QuickItem p:nth-of-type(n) {
    float: left;
    clear: left;
}
.nhs_QuickItem p:nth-of-type(2n) {
    float: right;    
    clear: right;
}

/* Location Handler */

.nhs_NoLocation {
    width: 92.5%; /*296/320*/
    
    margin: 44px 0 0 0;
    padding: 12px 3.75% 12px 3.75%; /*12/320*/
    background: #fff;        
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
}
.nhs_NoLocation ul,
.nhs_NoLocation ol {
    float: left;
    width: 100%;
    padding: 0; 
    list-style-position: inside;
}
.nhs_NoLocation ul li,
.nhs_NoLocation ol li {
    float: left;
    width: 49.5%; 
    margin: 0 0 10px 0;
    padding: 0 1% 0 0; 
    line-height: 14px;
}
.nhs_NoLocation ul li:nth-of-type(2n),
.nhs_NoLocation ol li:nth-of-type(2n) {
    padding: 0;
}
.nhs_NoLocation h1,
.nhs_NoLocation h2,
.nhs_NoLocation h3,
.nhs_NoLocation h4,
.nhs_NoLocation h5,
.nhs_NoLocation h6,
.nhs_NoLocationTry p {
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 15px;    
}
.nhs_NoLocation h1 strong,
.nhs_NoLocation h2 strong,
.nhs_NoLocation h3 strong,
.nhs_NoLocation h4 strong,
.nhs_NoLocation h5 strong,
.nhs_NoLocation h6 strong {
    color: #4b4b4b;
}
.nhs_NoLocation h1:first-child,
.nhs_NoLocationTry h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;  
    margin-top: 0;
    color: #4b4b4b;  
}
.nhs_NoLocationTry {
    padding: 0 20% 0 0;
    line-height: 15px;     
}

.nhs_NoLocation + .nhs_HomeSearch {
    margin-top: 0;    
}
.nhs_NoLocation + .nhs_HomeSearch > div {
    margin: 30px auto;
}
