﻿
.nhs_ShowcaseContext {
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 9;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 35px;
    margin: 0 auto;
    padding: 8px 0;  
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
.nhs_ShowcaseContext > div {
    float: left;
    display: table;
    width: 25%;
    width: 65px;
    height: 35px;
    line-height: 35px;
    margin: 0 12px;
    padding: 3px;
    text-align: center;
    background: #fff;
    vertical-align: middle;
}
.nhs_ShowcaseContext > div img {
    vertical-align: middle;    
}
.nhs_ShowcaseContext > h1 { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;
    color: #333;    
    line-height: 14px;
    margin: 0;
    padding: 2px 10px 2px 10px;
}
.nhs_ShowcaseContext > p { 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #333;    
    line-height: 12px;
    margin: 0;
    padding: 8px 10px 2px 10px;
}

.nhs_ShowcaseDetail {
    width: 100%;
    
    margin: 100px 0 0 0;
    padding: 0;
    background: #fff;
    }
    
.nhs_ShowcaseContent {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.7rem;
    padding: 12px 3.75%;
    }
.nhs_ShowcaseContent h2,
.nhs_ShowcaseContent h3 {    
    color: #4b4b4b;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 0.75rem;
    font-weight: 900;
    margin: 12px 0 12px 0;
    padding: 0;
    }
.nhs_ShowcaseContent h2 {
    margin-bottom: 0;
    }
.nhs_ShowcaseContent p, 
.nhs_ShowcaseContent ul {
    color: #7d7d7d;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 7px 0;
    padding: 0;
    } 
.nhs_ShowcaseContent ul {
    padding-left: 12px;
    }  
.nhs_ShowcaseContent .nhs_ShowcaseLinks {
    list-style: none;
    padding-left: 0;
    }
.nhs_ShowcaseContent .nhs_ShowcaseLinks li {
    margin: 2px 0;
    }    
.nhs_AskBuilder h2 {
    margin-bottom: 8px; 
    }
    
#nhs_ShowcaseMap {
    background: #fff;
    box-shadow: 0 0 30px 0 #a9abac inset;
    margin: 0 auto;
    min-height: 240px;
    width: 90%;
}    
.nhs_MapCardMarket {
    width: 100%;
    background: #fff;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 16px;    
}
.nhs_MapCardMarket h2 {
    margin: 0;
    padding: 0 0 3px 0;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 16px;
    color: #4b4b4b;    
}
.nhs_MapCardMarket p {
    margin: 0 0 3px 0;
    padding: 0;
    min-height: 15px;
    line-height: 15px;
}
#nhs_ShowcaseMap img {
    max-width: none;    
}

.nhs_ShowcaseContent #nhs_MoreResults {
    margin-bottom: 0;    
}

.nhs_ShowcaseMetroArea h2 {
    font-size: 13px;
    font-size: 0.825rem; 
    font-weight: 600;
    margin: 0 0 12px 0;
}
.nhs_ShowcaseMetroArea p,
.nhs_ShowcaseMetroArea ul {
    color: #7d7d7d;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 16px;
    list-style-type: none;
    margin: 0 0 12px 0;
    padding: 0;    
}
.nhs_ShowcaseMetroArea > ul > li > a {
    font-weight: 900;   
}
.nhs_ShowcaseMetroArea > ul > li > strong {
    font-weight: 900;
    color: #4b4b4b;    
}

.nhs_ShowcaseDetail .nhs_GalleryList > p > span {
    display: inline-block;
    width: 12px;
    height: 0;
    margin: 0 0 -2px 15px;
    padding: 12px 0 0 0;
    overflow: hidden;
            
    background-image: url(/globalresourcesmobile/default/images/icons/photo.png);
    background-size: 12px 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_ShowcaseDetail .nhs_GalleryList > p > span#nhs_GalleryTypeVid {
    background-image: url(/globalresourcesmobile/default/images/icons/video.png);    
}


.nhs_ShowcaseQuote {
    
    }
.nhs_ShowcaseQuote > p {
    color: #4b4b4b;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 18px 0;
    position: relative;
    }
.nhs_ShowcaseQuote > p:first-child {    
    font-weight: 600;
    background: #f2f9ff;
    border: 1px solid #ccc;
    margin: 0 0 12px 0;
    padding: 8px 12px; 
    border-radius: 3px;    
    }
.nhs_ShowcaseQuote > p:first-child:after {
    content: "";
    display: block;
    width: 19px;
    height: 16px;
    
    position: absolute;
    left: 30px;
    bottom: -15px;
    background-image: url(/globalresourcesmobile/default/images/icons/quote_arrow.png);
    background-size: 16px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    }    