/*  Siteindex */

.nhs_IndexState,
.nhs_IndexSite {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;    
}

/* Global Search Box - From NHS Homepage */

.nhs_HomeSearch {
    width: 100%;
    min-height: 170px;
    background: #0091da;
    
    background-image: url(/globalresourcesmobile/default/images/homepage/search_background@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    margin: 44px 0 0 0;
    padding: 0;
}
/*@media screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .nhs_HomeSearch {
	    background-image: url(/globalresourcesmobile/default/images/homepage/search_background@2x.jpg);
    }
}*/

.nhs_HomeAccountCreated + section .nhs_HomeSearch {
    margin: 0;    
}

.nhs_HomeSearch > div {
    width: 90.625%; /*290/320*/
    max-width: 320px;
    margin: 4% auto;
    padding: 20px 3.125%; /*10/320*/
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600; /*Medium*/
    color: #fff;

    background: rgba(0,0,0,0.7);
    
    position: relative;
    }
.nhs_HomeSearch h1,
.nhs_HomeSearch h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 22px;
    font-size: 1.4rem;
    font-weight: bold; /*Medium*/
    color: #ffce34;
    line-height: 24px;
    }
.nhs_HomeSearch .field-validation-error {
    margin: 0;
    padding: 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900; /*Heavy*/
    color: #f58220;
    line-height: 16px;
}    
.nhs_HomeSearch fieldset {
    position: relative;
    display: inline-block;
    }
.nhs_HomeSearch input[type=text] {
    float: left;
    width: 208px; /*210/320*/
    max-width: 240px;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: bold; /*Medium*/
    font-size: 16px;    
    height: 16px;
    line-height: 20px;
    margin: 0;
    padding: 7px 35px 7px 8px;
    border: 0;
    border-radius: 3px;
    }
.nhs_HomeSearch #HomeSearchIcon {
    /*background-image: url(/globalresourcesmobile/default/images/icons/magnify_glass.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    
    width: 32px;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 32px 0 0 0;    

    position: absolute;
    right: 0;
    top: -1px;*/
    
    display: inline-block;
    border-radius: 3px;
    margin: 0;
    padding: 6px 5px 5px 5px;
    font-size: 11px;    
    line-height: 12px;
    background-color: #0091da;    
    
    width: 18px;
    height: 18px;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/icons/magnify_glass_white.png);    
    background-size: 15px 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_HomeSearch .btn_Locate {
    margin: 0 0 0 5px;
}
.nhs_LocateAutoComplete {    
    font-size: 14px;
    font-size: 0.875rem;
}
.nhs_LocateAutoComplete strong {
    display: inline-block;
    position: relative;
    top: 2px; 
    font-size: 14px;
    font-size: 0.875rem;
}
.nhs_LocateAutoComplete .btn_Locate {
    margin: 0;
    padding: 4px 4px 3px 4px;
    vertical-align: middle;
}
.nhs_ResetLocationBox,
.nhs_ResetSearchBar {
    /*position: absolute;
    top: 5px;
    left: 225px;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    background-image: url(/globalresourcesmobile/default/images/icons/x_close_white.png);
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;*/
    
    position: absolute;
    top: 4px;
    right: 6px;

    width: 21px;
    height: 0;
    margin: 0;
    padding: 21px 0 0 0;    
    border: 0;
    overflow: hidden;
    cursor: pointer;

    background-color: transparent;
    background-image: url(/globalresourcesmobile/default/images/icons/x_close_alt.png);
    background-size: 21px 21px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_ResetLocationBox {
    position: absolute;  
    top: 13px;
    right: 19%;  
}
.nhs_FilterLocationBox:invalid + .nhs_ResetLocationBox, 
.nhs_FilterLocationBox:invalid + .nhs_ResetSearchBar {
    display: none !important;
} 

/* Options Panel */

#nhs_HomeSearchOptions {
    width: 93.75%; /*300/320*/
    min-height: 180px;
    margin: 0;
    padding: 10px 3.125% 20px 3.125%; /*10/320*/
    background: #7d7d7d;
    /*box-shadow: 5px 0 0 0 #575757 inset;*/
    box-shadow: 0 2px 4px 0 #4b4b4b;
    border-top: 5px solid #575757;
    display: none;

    position: absolute;
    top: 90%;
    left: 0;
    z-index: 8;
}
#nhs_HomeSearchOptions > div {
    display: none;
}
#nhs_HomeSearchOptions > div > label {
    float: left;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #fff;
    padding: 12px 0 8px 0;
    width: 32%;
}
#nhs_HomeSearchOptions > div > ul.nhs_PanelRadios {
    clear: both;
}
#nhs_HomeSearchOptions > div > ul.nhs_PanelRadios li {
    margin-right: 17px;
}
#nhs_HomeSearchOptions > div > ul.nhs_PanelRadios li:last-child {
    margin: 0;
}
#nhs_HomeSearchOptions > p {
    display: none;
    margin: 22px 0 0 0;
}
#nhs_HomeSearchOptions .btn_HomeSearch {
    color: #fff;
    background-image: url(/globalresourcesmobile/default/images/icons/magnify_glass_white.png);
    background-position: 39% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;    
    background-color: #0091da;

    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 13px;
    font-size: 0.825rem;    
    font-weight: 900; /*Heavy*/
    line-height: 13px;
    display: block;
    margin: 0 auto;
    padding: 9px 31% 9px 44%;
    border: 0;
    border-radius: 3px;
}

/* Index Home Search */

.nhs_HomeSearch.nhs_IndexSearchCondo {	
    background-repeat: repeat-x;
	background-image: url(/globalresourcesmobile/default/images/siteindex/condo_background@2x.jpg);	
}
.nhs_HomeSearch.nhs_IndexSearchGolf {
    background-repeat: repeat-x;
	background-image: url(/globalresourcesmobile/default/images/siteindex/golf_background@2x.jpg);	
}
.nhs_HomeSearch.nhs_IndexSearchWater {	
    background-repeat: repeat-x;
	background-image: url(/globalresourcesmobile/default/images/siteindex/water_background@2x.jpg);	
}

.nhs_IndexState .nhs_HomeSearch > div {    
    line-height: 18px;
    color: #fff;

    background: rgba(0,0,0,0.8);
}
.nhs_IndexState .nhs_HomeSearch h1 { 
    margin: 0 0 8px 0;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold; /*Medium*/
    color: #ffce34;
    line-height: 22px;
}
.nhs_IndexState .nhs_HomeSearch p {
    margin: 0 0 12px 0;    
}
.nhs_IndexState .nhs_HomeSearch p a {
    color: #ffce34;    
}

.nhs_IndexState #nhs_HomeSearchOptions {
    top: 100%;    
}

.nhs_IndexBox {
    margin: 0;
    padding: 10px 12px;  
}
.nhs_IndexSite .nhs_IndexBox:first-child {
    margin: 44px 0 0 0;  
}

.nhs_IndexBox h1,
.nhs_IndexBox h2,
.nhs_IndexBox h3,
.nhs_IndexBox h4,
.nhs_IndexBox h5,
.nhs_IndexBox h6,
.nhs_IndexBox .nhsIndexHeading,
.nhs_IndexBox .nhs_IndexHeading {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 15px;
    color: #4b4b4b;    
}
.nhs_IndexBox ul,
.nhs_IndexBox ol {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0; 
}
.nhs_IndexBox ul {
    list-style: none;    
}
.nhs_IndexBox ul li,
.nhs_IndexBox ol li {
    float: left;
    width: 48%; 
    margin: 0 0 10px 0;
    padding: 0 4% 0 0; 
    line-height: 14px;
}
.nhs_IndexBox ul li:nth-of-type(2n),
.nhs_IndexBox ol li:nth-of-type(2n) {
    padding: 0;
}

.nhs_IndexBox.nhs_IndexBldrLogo {
    display: table;
    margin: 0 auto;    
}

.nhs_IndexBox1 {
    background: #0091da;
    color: #fff;    
}
.nhs_IndexBox1 .nhs_IndexHeading {
    color: #fff;    
}
.nhs_IndexBox1 a {
    color: #fff;
    font-weight: 900;    
}