<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ClearConfigurationCache.aspx.cs" Inherits="Nhs.Web.UI.Util.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="ClearConfigurationCacheForm" runat="server">
    </form>
</body>
</html>
