<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PartnerLocationsIndex.aspx.cs" Inherits="Nhs.Web.UI.Util.PartnerLocationsIndex" %>
<ul>
<asp:Repeater ID="rptLocatinos" runat="server">
    <ItemTemplate>
        <li><%#DataBinder.Eval(Container.DataItem, "location")%></li>
    </ItemTemplate>
</asp:Repeater>
</ul>