﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.LeadViewModalModel
<div id="nhs_FormReplace" class="nhs_Account nhs_RequestBrochure @(Model.IsAppointment ? "nhs_RequestAppt" : "") clearfix">
    <header>
        <h1 class="nhs_TitleAppointment">
            Add Me to the Interest List
        </h1>
    </header>
    <p>Be among the first to know when we are live.</p>
    <p>We will keep you updated on progress and you will have the front-of-the-line advantage.</p>
    <fieldset id="nhs_AccountForm">
        <legend>Request Info</legend>
        <p>
            <label for="Name">
                Name
            </label>
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", autocomplete = "name" })
        </p>
        <p>
            <label for="Email">
                Email
            </label>
            @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = "Email", autocomplete = "email" })
        </p>
        <p>
            <label for="Zip">
                My Zip Code
            </label>
            @Html.TextBoxFor(m => m.Zip, Model.International ? (object)new { disabled = "disabled", maxlength = "10", placeholder = "My Zip Code", autocomplete = "postal-code" } : new { maxlength = "10", placeholder = "My Zip Code", autocomplete = "postal-code" })
            <input id="International" name="International" type="checkbox" @(Model.International ? "checked=\"checked\"" : "") value="@Model.International" />
            <label for="International">
                International
            </label>
        </p>
        <ul class="validation-summary-errors" id="nhs_Errors" style="display: none;"></ul>
        <p>
            <input value="Add Me to the List" class="btnCss" type="button" id="nhs_GetBrochure" />
        </p>
        <div class="visuallyhidden">
            <input type="hidden" name="CommunityId" value="@Model.CommunityId" />
            <input type="hidden" name="LeadType" value="@LeadType.Community" />
            <input type="hidden" name="LeadAction" value="@LeadAction.FreeBrochure" />
            <input type="hidden" name="FromPage" value="@Model.FromPage" />
            <input type="hidden" name="BuilderList" value="@Model.BuilderId" />
            <input type="hidden" name="CommunityList" value="@Model.CommunityId" />
            <input type="hidden" name="MarketId" value="@Model.MarketId" />
            <input type="hidden" name="BuilderId" value="@Model.BuilderId" />
            <input type="hidden" name="BuilderName" value="@Model.BuilderName" />
            <input type="hidden" name="ShowCalendar" value="@Model.ShowCalendar" />
            <input type="hidden" name="IsAppointment" value="@Model.IsAppointment" />
            <input type="hidden" name="IsFreeBrochure" value="@Model.IsFreeBrochure" />
            <input type="hidden" name="IsSpecialOffer" value="@Model.IsSpecialOffer" />
            <input type="hidden" name="IsAddMeToInterestList" value="@Model.IsAddMeToInterestList" />
        </div>
    </fieldset>
    <p class="nhs_PrivPol">@Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy, null, new { target = "_blank" })</p>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            BrochureUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.RequestBrochureMobile))",
            RecoverPasswordUrl: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.SimpleRecoverPassword))",
            ThankYouModalUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.ThankYouModal))"
        };
        var leadModel = new NHS.Mobile.LeadModal(parameters);
        leadModel.initialize();
    });
</script>
