﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.FreeBrochureLinkInformation
<div id="nhs_Contact" class="nhs_Account nhs_Contact">
    <ul>
        <li class="nhs_Contact_Call">@Model.PhoneNumber.CreateMobilePhone("",LanguageHelper.CallBuilder)</li>
        <li class="nhs_Contact_Appt">@Html.GetRequestAppointmentLink(Model, false)</li>
        <li class="nhs_Contact_Builder">@Html.GetContactBuilderLink(Model)</li>
        <li class="nhs_Contact_Brochure">@Html.GetFreeBrochureLink(Model, string.Format("jQuery.SetDataLayer('{1}','Mobile – {0} Contact - Brochure');", Model.IsPageCommDetail ? "CD" : "HD", DataLayerConst.CtaCode), "btn nhs_FreeBrochureBtn")
        </li>
    </ul>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#nhs_Contact a").not(".nhs_CallBtn").click(function (event) {
            var url = this.href;
            jQuery.CancelEventAndStopPropagation(event);
            modalPopUp.SetContentModal(url, this);
        });
    });
</script>