﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.LeadViewModalModel
<div id="nhs_FormReplace" class="nhs_Account nhs_RequestBrochure @(Model.IsAppointment ? "nhs_RequestAppt" : "") clearfix">
    <header>
        @if (Model.IsAppointment)
        {
            <h1 class="nhs_TitleAppointment">
                @LanguageHelper.RequestAnAppointment.ToMvcHtmlString()</h1>
        }
        else if (Model.IsSpecialOffer)
        {
            <h1 class="nhs_TitleContact">
                @LanguageHelper.ContactBuilder.ToMvcHtmlString()</h1>
        }
        else if (Model.IsFreeBrochure)
        {
            <h1 class="nhs_TitleBrochure">
                @LanguageHelper.FreeBrochureRequest.ToMvcHtmlString()</h1>
        }
    </header>
    @if (!Model.IsAppointment)
    {
        <h2>@Model.PropertyName</h2>
        <h3>
            @LanguageHelper.By.ToMvcHtmlString() @Model.BuilderName</h3>
    }
    <fieldset id="nhs_AccountForm">
        <legend>Request Info</legend>
        @if (Model.IsAppointment)
        {
            <div id="datepicker">
            </div>
            <input type="hidden" class="hidden" id="AppointmentDateTime" name="AppointmentDateTime"
                value="" />
        }
        <p>
            <label for="Name">
                @LanguageHelper.Name.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Name, new { placeholder = LanguageHelper.Name, autocomplete = "name" })
        </p>
        <p>
            <label for="Email">
                @LanguageHelper.Email.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = LanguageHelper.Email, autocomplete="email" })
        </p>
        <p>
            <label for="Zip">
                @LanguageHelper.MyZipCode.ToMvcHtmlString()</label>
            @Html.TextBoxFor(m => m.Zip, Model.International ? (object)new { disabled = "disabled", maxlength = "10", placeholder = LanguageHelper.MyZipCode, autocomplete = "postal-code" } : new { maxlength = "10", placeholder = LanguageHelper.MyZipCode, autocomplete="postal-code" })
            <input id="International" name="International"  type="checkbox"  @(Model.International ? "checked=\"checked\"" : "")  value="@Model.International"/>
            <label for="International">
                @LanguageHelper.International.ToMvcHtmlString()</label>
        </p>
        @if (!Model.IsAppointment)
        {
            <p>
                <label for="Phone">
                    @LanguageHelper.PhoneOptional.ToMvcHtmlString()
                </label>
                @Html.TextBoxFor(model => model.Phone, new { type = "text", placeholder = LanguageHelper.OptionalPhoneNumber, autocomplete = "tel" })
            </p>
        }
        @if (!Model.IsAppointment && Model.PartnerUsesMatchmaker)
        {
            <p>
                <input id="IncludeRecoComm" name="IncludeRecoComm"  type="checkbox" @(Model.IncludeRecoComm ? "checked=\"checked\"" : "")  value="@Model.IncludeRecoComm"/>
                <label for="IncludeRecoComm">
                    @LanguageHelper.IncludeCommunitiesWithSimilarHomes.ToMvcHtmlString()</label>
            </p>
        }
        <p>
            <label for="Comments">
                @LanguageHelper.CommentsOrQuestionOptional.ToMvcHtmlString()</label>
            @Html.TextAreaFor(m => m.Comments, 4, 18, new { maxlength = "200", placeholder = LanguageHelper.CommentsOrQuestionOptional })
        </p>
        <ul class="validation-summary-errors" id="nhs_Errors" style="display: none;">
        </ul>
        <p>
            <input value="@(Model.IsFreeBrochure ? LanguageHelper.GetBrochure : LanguageHelper.Submit)" class="btnCss" type="button" id="nhs_GetBrochure" />
        </p>
        <div class="visuallyhidden">
            <input type="hidden" name="PlanId" value="@Model.PlanId" />
            <input type="hidden" name="SpecId" value="@Model.SpecId" />
            <input type="hidden" name="CommunityId" value="@Model.CommunityId" />
            <input type="hidden" name="LeadType" value="@Model.LeadType" />
            <input type="hidden" name="LeadAction" value="@Model.LeadAction" />
            <input type="hidden" name="FromPage" value="@Model.FromPage" />
            <input type="hidden" name="BuilderList" value="@Model.BuilderList" />
            <input type="hidden" name="CommunityList" value="@Model.CommunityList" />
            <input type="hidden" name="PlanList" value="@Model.PlanList" />
            <input type="hidden" name="SpecList" value="@Model.SpecList" />
            <input type="hidden" name="MarketId" value="@Model.MarketId" />
            <input type="hidden" name="BuilderId" value="@Model.BuilderId" />
            <input type="hidden" name="BuilderName" value="@Model.BuilderName" />
            <input type="hidden" name="ShowCalendar" value="@Model.ShowCalendar" />
            <input type="hidden" name="IsAppointment" value="@Model.IsAppointment" />
            <input type="hidden" name="IsFreeBrochure" value="@Model.IsFreeBrochure" />
            <input type="hidden" name="IsSpecialOffer" value="@Model.IsSpecialOffer" />
        </div>
    </fieldset>
    <p class="nhs_PrivPol">@Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" })</p>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            BrochureUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.RequestBrochureMobile))",
            RecoverPasswordUrl: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.SimpleRecoverPassword))",
            ThankYouModalUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.ThankYouModal))",
            DisplayDatePickerInSpanish: @Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna.ToString().ToLower(),
            YourPasswordWillBeSendText: "@LanguageHelper.YourPasswordHasBeenSent.ToMvcHtmlString()",
            FirstAndLastNameRequiredText: "@LanguageHelper.FirstAndLastNameRequired.ToMvcHtmlString()",
            EmailRequiredText: "@LanguageHelper.EmailRequired.ToMvcHtmlString()",
            EnterAValidZipCodeText: "@LanguageHelper.EnterAValidZipCode.ToMvcHtmlString()"
        };
        var leadModel = new NHS.Mobile.LeadModal(parameters);
        leadModel.initialize();
    });
</script>
