﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.ThankYouModalViewModel
<script type="text/javascript">
    @Model.Google.ToMvcHtmlString();
</script>
<iframe class="visuallyhidden" src="@Model.ConversionIFrameSource" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow">
</iframe>
<div class="nhs_Account nhs_RequestThanks clearfix">
    <header>
        <h1>
            @LanguageHelper.ThankYou.ToMvcHtmlString()</h1>
    </header>
    @if (Model.IsAppointment)
    {
        <h2>
            @LanguageHelper.YouWillBeContacted.ToMvcHtmlString()</h2>
    }
    else if (Model.IsSpecialOffer)
    {
        <h2>
            @LanguageHelper.TheBuilderWillContactYouSoon.ToMvcHtmlString()</h2>
    }
    else if (Model.IsFreeBrochure && !Model.IsAddMeToInterestList)
    {
        <h2>
            @LanguageHelper.YourBrochureIsOnTheWay.ToMvcHtmlString()</h2>
    }
    else if (Model.IsFreeBrochure && Model.IsAddMeToInterestList)
    {
        <h2>@LanguageHelper.YourRequestHasBeenSent.ToMvcHtmlString().</h2>
    }
    @if (Model.IsSignIn && Model.IsExistingUser)
    { <p>
        <input id="nhs_Close" type="button" class="btnCss" value="@LanguageHelper.Close" /></p>
    }
    else if (Model.IsSignIn)
    {
        <div class="nhs_AccountTeaser">
            <p>
                @LanguageHelper.WeHaveAlsoSavedThisProperty.ToMvcHtmlString()
            </p>
        </div>
        <p style="text-align: center;">
            @Html.NhsLink(LanguageHelper.GoToMyAccount, Pages.SavedHomes, new List<RouteParam>(), new { @class = "btnCss" })
        </p>
        
    }
    else
    {
        if (!Model.IsExistingUser)
        {        
        <div class="nhs_AccountTeaser">
            <p>
                <strong>@LanguageHelper.CreateFreeAccount.ToMvcHtmlString()</strong></p>
            <ul>
                <li>@LanguageHelper.SaveSearches.ToMvcHtmlString()</li>
                <li>@LanguageHelper.TrackHomes.ToMvcHtmlString()</li>
                <li>@LanguageHelper.GetGreatFealsAndOffers.ToMvcHtmlString()</li>
            </ul>
        </div>
        <p>
            @LanguageHelper.EnterAPasswordBelow.ToMvcHtmlString()
        </p>
        }
        else
        {        
        <div class="nhs_AccountTeaser">
            <p>
                <strong>@LanguageHelper.UseYourFreeAccount.ToMvcHtmlString()</strong></p>
            <ul>
                <li>@LanguageHelper.SaveSearches.ToMvcHtmlString()</li>
                <li>@LanguageHelper.TrackHomes.ToMvcHtmlString()</li>
                <li>@LanguageHelper.GetGreatFealsAndOffers.ToMvcHtmlString()</li>
            </ul>
        </div>
        <p>
            @LanguageHelper.EnterAPasswordBelow.ToMvcHtmlString()
        </p>
        }

        <div id="nhs_AccountInformation">
            <fieldset>
                <legend class="visuallyhidden">@LanguageHelper.Password.ToMvcHtmlString()</legend>
                <p>
                    <label for="password">
                        @LanguageHelper.Password.ToMvcHtmlString()</label>
                    <input id="password" name="password" type="password" maxlength="20" placeholder="@LanguageHelper.Password.ToMvcHtmlString()"
                           title="@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD" /></p>
                @Html.HiddenFor(m => m.IsExistingUser)
                @Html.HiddenFor(m => m.Email)
                <input id="Name" name="Name" type="hidden" value="@Model.Name">
                <p>
                    <input id="nhs_SignIn" type="button" class="btnCss" value="@(Model.IsExistingUser ? LanguageHelper.SignIn : LanguageHelper.CreateAccount)" /></p>
                <ul id="nhs_error" class="nhs_Error">
                </ul>
                @if (Model.IsExistingUser)
                {
                    <p>
                        <a href="#" id="nhs_Forgot_Password">@LanguageHelper.ForgotPassword.ToMvcHtmlString()</a></p>
                }
            </fieldset>
        </div>
                if (!Model.IsSignIn)
                {
        <p class="or">
            <span>@LanguageHelper.Or.ToMvcHtmlString()</span></p>
        @Html.FbLogin()
                }
    }
</div>
<input type="hidden" name="IsSignIn" value="@Model.IsSignIn" />
<input type="hidden" name="IsExistingUser" value="@Model.IsExistingUser" />
<input type="hidden" name="Name" value="@Model.Name" />
