﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.Tv.TvContestModalViewModel
<div class="nhs_TvModalContest">
    @{
        var cashOutImageTh = Resources.GlobalResources14.NewHomeSource.images.tv.cash_out_png;
    }
    <img alt="Cash out, win $500" src="@cashOutImageTh" />
    <p>
        Could you use some extra spending money? Enter for a chance to win $500. Plus... Check In at the model homes of the communities featured in our show for 
        additional entries. Just email a selfie of you at the model home to <a href="emailto:promo@newhomesource.com">promo@newhomesource.com.</a> The more communities you visit the better your chance to Cash Out!
    </p>
    <p id="nhs_TvModalContestThanks2">Thanks!</p>
    <p id="nhs_TvContestRules"><a href="@Model.PdfLinkUrl" target="_blank" onclick="jQuery.googlepush('NHS TV Page', 'Modal', 'Rules');">Contest Rules</a></p>
</div>
