﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Utility.Common
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
    @{
    if (Model.Promos != null && Model.Promos.Any())
    {
    <div id="nhs_TvMarketPromos" class="clearfix">
        <h3 id="ViewMarketPromos">
            Featured promotions
        </h3>
        <div id="nhs_TvMarketPromoSlides">
        @foreach (var promoCol in Model.Promos)
        {
            <div class="nhs_TvPromoPage">
                @foreach (var promo in promoCol)
                {
                    <div class="nhs_TvPromoItem">
                        @if (NhsRoute.IsBrandPartnerNhsPro)
                        {
                        <div class="nhs_TvPromoHeadline">@promo.Headline.ToMvcHtmlString()</div>
                        }
                        <div class="nhs_TvPromoTitle">@promo.Title.ToMvcHtmlString()</div>
                        <div class="nhs_TvPromoDesc">@promo.Description.ToMvcHtmlString()</div>
                        <div class="nhs_TvPromoComm">@promo.Community.ToMvcHtmlString()</div>
                    </div>
                }
            </div>
        }
        </div>
    </div>
    }
}