﻿@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
<div id="nhs_TvFeaturedHomes" class="clearfix">
    @{
        if (Model.MarketContent.Communities != null)
        {
            var homesList = Model.MarketContent.Communities.Randomize().Select(community => community.Homes.Randomize().FirstOrDefault())
                                 .Where(home => home != null && home.Image != null).ToList();
            if (homesList.Any())
            {
                <h3 id="FeaturedHomes">
                    Featured homes</h3>
                <div id="nhs_TvMarketFeaturedSlides">
                    @foreach (var home in homesList)
                    {
                        <div>
                            <div class="nhs_TvFeaturedItem clearfix">
                                <div class="nhs_ItemImages">
                                    @Html.NhsImage(home.Image.Path, home.BrandName, true)
                                </div>
                                <h2>
                                    <strong>
                                        @Html.NhsLink(home.CommunityName, string.Format("communitydetail/builder-{0}/community-{1}", home.BuilderId, home.CommunityId), new List<RouteParam>(), new { target = "_blank", onclick = "jQuery.googlepush('NHS TV Page','Featured','Community Name')" })
                                    </strong>
                                    <br />
                                    @home.PlanName Plan</h2>
                                <a href="@home.BrandSiteUrl" target="_blank" onclick=" jQuery.googlepush('NHS TV Page', 'Featured', 'Builder Name') ">
                                    @Html.NhsImage(home.BuilderLogoUrl ?? string.Empty, "logo", true)
                                </a>
                                <p class="nhs_ItemPrice">
                                    from <strong>@home.PlanPrice</strong></p>
                                <div class="nhs_Location">
                                    <h3>
                                        @home.CityStateZip</h3>
                                </div>
                                <p>
                                    @home.Image.Caption<br />
                                    @Html.NhsLink("View Listing >", string.Format("homedetail/planid-{0}", home.Id), new List<RouteParam>(), new { target = "_blank", onclick = "jQuery.googlepush('NHS TV Page','Featured','View Listing')" })
                                </p>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    }
</div>
