﻿@model Nhs.Web.UI.AppCode.ViewModels.Tv.TvContestModalViewModel
<div class="nhs_TvModalContest">
    @if (!Model.ShowSignUp)
    {
    <p id="nhs_TvModalContestThanks1">Thanks for signing up!</p>
    }
    @{
        var cashOutImage = Resources.GlobalResources14.NewHomeSource.images.tv.cash_out_png;
    }
    <img alt="Cash out, win $500" src="@cashOutImage" />
    <p>
        Could you use some extra spending money? Enter for a chance to win $500. Plus... Check In at the model homes of the communities featured in our show for additional entries. Just email a selfie of you at the model home to <a href="emailto:promo@newhomesource.com">promo@newhomesource.com.</a> The more communities you visit the better your chance to Cash Out!
    </p>
        <div id="PostValuesContest">                  
            @Html.Hidden("PartnerName", Model.Globals.PartnerInfo.PartnerName)
            @Html.HiddenFor(m => m.MarketId)
            @Html.HiddenFor(m => m.MarketName)            
            <p>
                <label class="visuallyhidden" for="FullName">Full Name:</label>
                @Html.TextBoxFor(n => n.FullName, new { placeholder = "Your full name" }) 
                <label class="visuallyhidden" for="Email">Email:</label>
                @Html.TextBoxFor(e => e.Email, new { @class = "emailContestModel", placeholder = "Your email address" })           
                <input type="button" class="btnCss" value="Enter" onclick="ValidateTvContestValues(this);" />
                <input type="button" class="btnCss btn_Loading" id="fakeInputModalContestLoading" style="display: none;"
                    value="Sign up" disabled="disabled" onclick="return false;" /></p>
            @if (Model.ShowSignUp)
            {
            <p>
                @Html.CheckBoxFor(n => n.SignMeUpSpetialOffers)
                <label for="SignMeUpSpetialOffers">Also, sign me up to get special offers in @Model.MarketName and updates on the homes
                featured on the show.</label>
            </p> 
            }            
            @Html.ValidationSummary("", new { id = "errorDataMessage" })      
        </div>
    <p id="nhs_TvContestRules"><a href="@Model.PdfLinkUrl" target="_blank" onclick="jQuery.googlepush('NHS TV Page', 'Modal', 'Rules');">Contest Rules</a></p>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        SetTextBoxesDescriptions();        
    });

    function HideLoading() {
        jQuery("#fakeInputModalContestLoading").hide();
    }

    function ValidateTvContestValues(inputBtn) {
        jQuery(".nhs_NewsletterSignUpErrors").each(function () {
            jQuery(this).remove();
        });
        jQuery(inputBtn).hide();
        jQuery("#fakeInputModalContestLoading").show(); 
        var returnValue = true;
        var email = jQuery(".emailContestModel").val();
        var fullName = jQuery("#FullName").val();
        email = jQuery.trim(email);
        var errorHtml = [];
        errorHtml.push("<div class=\"nhs_NewsletterSignUpErrors\" id=\"errorDataMessage\">");

        if (email === "") {
            returnValue = false;
            errorHtml.push("<p class=\"nhs_Error\">Please enter your email.</p>");
        }                       

        if (returnValue) {
            jQuery.googlepush("NHS TV Page", "Modal", "Modal-Email Submit");
            var data = jQuery("#PostValuesContest input").serialize();
            jQuery.ajax({
                url: "@(Html.GetActionUrl(NhsMvc.Tv.Name, NhsMvc.Tv.ActionNames.SaveContest))",
                type: "POST",
                data: data,
                success: function(html) {
                    if (typeof html === "string")
                        jQuery("#@(ModalWindowHelper.UpdateTargetId)").html(html);
                }
            });
            
        } else {
            jQuery("#errorDataMessage").show();
            errorHtml.push("</div>");
            jQuery("#PostValuesContest").append(errorHtml.join(""));            
            HideLoading();
            jQuery(inputBtn).show();
        }
    }
</script>
