﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
<div id="nhs_TvSponsors" class="clearfix">
    @{if (Model.MarketContent.Sponsors != null)
      {
        <h3 id="ShowSponsors">Show sponsors</h3>
          var sponsorList = Model.MarketContent.Sponsors.Randomize().ToList();
          var className = "nhs_TvBrandsCount_" + sponsorList.Count();
          var itemsCount = 1;
        <ul id="nhs_TvBrandsList" class="@className clearfix">
            @foreach (var sponsor in sponsorList)
            {
                <li><a href="@sponsor.Url" target="_blank" onclick="jQuery.googlepush('NHS TV Page', 'Sponsors', 'Place @itemsCount')">
                    @Html.NhsImage(sponsor.Logo, "logo", true)
                </a></li>
               itemsCount++;
            }
        </ul>      
      }
    }
</div>
