﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
<div id="nhs_TvMarketSignUpSmall">
    <form class="nhs_TvMarketForm" id="nhs_TvMarketFormSmall">
    <fieldset>
        <legend class="hidden">Newsletter Signup</legend>
        <p>
            Sign-up to receive special offers in @Model.Market.Keyword.ToTitleCase() and updates on the homes
            featured on the show.</p>
        <p>
            <input type="text" id="smallSignUpEmail" name="Email" placeholder="Your email address"/>
            <input type="button" class="btnCss" value="Sign up" id="nhs_tvSmallSignUp" />
            <input type="button" class="btnCss btn_Loading" id="fakeInputLoadingSmall" style="display: none;"
                    value="Sign up" disabled="disabled" onclick="return false;" />
        </p>
        <div class="visuallyhidden">
            <input type="hidden" name="MarketId" id="MarketId" value="@Model.Market.MarketId"/>
            <input type="hidden" name="MarketName" id="MarketName" value="@Model.Market.Keyword.ToTitleCase()"/>
            <input type="hidden" name="BrandPartnerId" id="BrandPartnerId" value="@NhsRoute.BrandPartnerId"/>
            <input type="hidden" name="IsSmallTvSignUpRequest" id="IsSmallTvSignUpRequest" value="true"/>
            <input type="hidden" name="PartnerSiteUrl" id="PartnerSiteUrl" value="@NhsRoute.PartnerSiteUrl"/>
            <input type="hidden" name="PartnerName" id="PartnerName" value="@Model.Globals.PartnerInfo.PartnerName"/> 
        </div>       
    </fieldset>
    </form>
    <div class="nhs_NewsletterSmallSignUpErrors">
        @Html.ValidationSummary()
    </div>
</div>
