﻿@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
<div id="nhs_TvSegments" class="clearfix">
    @{if (Model.MarketContent.Videos != null)
      {
        <h3 id="ViewSegments">
            View segments
        </h3>
        <div id="nhs_TvMarketSegmentsSlides">
            <div class="nhs_TvVideoPage">
                @{
          var place = 1;
          var orderedVideos = Model.MarketContent.Videos.OrderBy(x => x.Order).ToList();
          for (var videoId = 0; videoId < Model.MarketContent.Videos.Count(); videoId++)
          {
              var video = orderedVideos[videoId];
              var id = "nhsEmbed" + videoId;
                    <div class="nhs_TvVideoItem">
                        <div class="nhs_ItemImages">
                            @Html.NhsYoutubeEmbed(video.url, Model.Globals.CurrentUrl, id)
                        </div>
                        <p>
                            <strong>@video.Title</strong>
                            <br />
                            @video.Caption
                        </p>
                        @Html.NhsLink("Play", video.url, new List<RouteParam>(), new { @class = "btnCss", data = id, onclick = "return false;" })
                        @{ ++place; }
                    </div>                
          }
                }
            </div>
        </div>
      }
    }
</div>
