﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@section cphHead {
}
<div class="nhs_Content nhs_SiteHelp">
    <div id="scMainContent">
        @Html.StaticContent("SiteHelp/aboutus.html", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
    </div>
</div>
