﻿@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SiteHelpViewModels.ContactBdxViewModel


@if (!Model.ShowSuccessMessage)
   { 
<div id="nhs_AdvertForm">
    <fieldset>
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
        {
            <legend>Contacte a BDX</legend>
        }
        else
        {
            <legend>Contact BDX</legend>
        }
        <span id="messageBox"></span>
        <span style="float:right;">* @LanguageHelper.Required.ToMvcHtmlString()</span>
        <p>
            <label for="First_name">
                <span class="">*</span> @LanguageHelper.FirstName.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.FirstName, new { @id = "First_name", maxlength = 50 })
        </p>
        <p>
            <label for="Last_name">
                <span class="">*</span> @LanguageHelper.LastName.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.LastName, new { @id = "Last_name", maxlength = 50 })
        </p>
        <p>
            <label for="Company">
                @LanguageHelper.Company.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.Company, new { @id = "Company", maxlength = 25 })
        </p>
        <p>
            <label for="Title">
                @LanguageHelper.Title.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.Title, new { @id = "Title", maxlength = 25 })
        </p>
        <p>
            <label for="Email">
                <span class="">*</span> @LanguageHelper.EmailAddress.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.Email, new { @id = "Email", maxlength = 100 })
        </p>
        <p>
            <label for="Phone">
                @LanguageHelper.Phone.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.Phone, new { @id = "Phone", maxlength = 15 })
        </p>
        <p>
            <label for="City">
                @LanguageHelper.City.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.City, new { @id = "City", maxlength = 50 })
        </p>
        <p>
            <label for="State">
                @LanguageHelper.State.ToMvcHtmlString():
            </label>
            @Html.TextBoxFor(model => model.State, new { @id = "State", maxlength = 25 })
        </p>
        <p>
            <label id="interested">
                @LanguageHelper.IAmInterestedIn.ToMvcHtmlString():
            </label>
            @Html.DropDownListFor(model => model.Product, Model.Products)
        </p>
        <p>
            <label for="Comments">
                @LanguageHelper.Comments.ToMvcHtmlString():
            </label>
            @(Html.TextAreaFor(model => model.Comments,
                                                      new { @id = "Comments", rows = 2, cols = 20 }))
        </p>
        <p>
            <input type="button" value="@LanguageHelper.Send" class="button" id="Send" />
        </p>

        @Html.ValidationSummary()
    </fieldset>
    
</div>
}
   else
   {
       <p class="nhs_AdvertFormSuccess"><strong>@LanguageHelper.ThankYou.ToMvcHtmlString()</strong>
       </p><p>@LanguageHelper.YourRequestHasBeenSubmitted.ToMvcHtmlString()</p>
}

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#Send").click(function () {
            var control = jQuery(this);
            var data = jQuery("#nhs_AdvertForm input, #nhs_AdvertForm textarea").serialize();
            jQuery.ajax({
                url:"@(Html.GetActionUrl(NhsMvc.SiteHelp.Name,  NhsMvc.SiteHelp.ActionNames.ContactBdx))",
                type: "POST",
                data: data,
                success: function (html) {
                    if (typeof html === 'string') {
                        jQuery("#nhs_ContactBdxForm").html(html);
                    }
                }, error: function () {
                    control.removeAttr("disabled");
                }
            });
        });
    });


</script>