﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.SiteHelpViewModels.ContactUsViewModel

<div class="nhs_Content nhs_SiteHelp">
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        <h2>Contáctenos</h2>

        <p>Si tiene alguna pregunta sobre este sitio, por favor contactar: @Html.ContactUsEmail(Model)</p>

        <p>Constructores, publicistas y otros interesados, por favor contactar: @Html.QuestionsEmail(Model)</p>


        <h3>Folleto informativo</h3>

        <p>Si no quiere seguir recibiendo el folleto de @Html.ContactUsPartnerName() , @Html.NhsLink("haga clic aquí", Pages.Unsubscribe) e ingrese su correo electrónico que utilizo para subscribirse.</p>


        <h3>Navegadores soportados</h3>
        <p>Para más información sobre los navegadores soportados por este sitio, por favor ver el sitio @Html.NhsLink("navagadores soportados", Pages.SupportedBrowsers, true)</p>
    }
    else
    {
        <h2>
            Contact us
        </h2>
        <p>
            If you have questions about this site, please contact: @Html.ContactUsEmail(Model)
        </p>
        <p>
            Builders, advertisers and other interested parties, please contact: @Html.QuestionsEmail(Model)
        </p>
        <h3>
            Newsletter
        </h3>
        if (Nhs.Mvc.Routing.Interface.NhsRoute.PartnerId != 7501)
        {
            <p>
                If you no longer wish to receive the @Html.ContactUsPartnerName() newsletter, @Html.NhsLink("click here", Pages.Unsubscribe)
                and enter the email address you used to subscribe.
            </p>
        }
        else
        {
            <p>
                If you no longer wish to receive the New Retirement Communities newsletter, <a href="http://www.newretirementcommunities.com/login/unsubscribe.aspx?pid=7501">
                    click here
                </a> and enter the email address you used to subscribe.
            </p>
        }
        <h3>
            Supported browsers
        </h3>
        <p>
            For more information about browsers supported by this site, please see our @Html.NhsLink("supported browsers", Pages.SupportedBrowsers, true)
            page.
        </p>
    }
</div>