﻿@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.SiteHelpViewModels.ContactBdxViewModel
@section cphHead {
    @*@Html.GetCrunchedResource("commdetailjs")*@
}
<div class="nhs_Content nhs_ContentAlt nhs_SiteHelp">
    <div id="nhs_ContactBdxForm">
        @Html.Partial(NhsMvc.Default.Views.SiteHelp.ContactBdxForm)
    </div>
    <div class="nhs_ListHomesContent">
        @Html.StaticContent("SiteHelp/listyourhomes.html", null, new ContextPathMapper(), Model.PartnerSiteUrl)
    </div>
</div>
