﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@{
    Layout = null;
}

<h2>Site Help</h2>

<p>Below you’ll find some standard questions from agents using the site. If you can’t find the answer that you are 
looking for, feel free to @Html.NhsLink("contact us", Pages.ContactUs) and we will be happy to help you out.</p>
				
<h3>What are the benefits of having an account?</h3>
<p>New Home Source Professional is your one stop for all the information you need about new homes in your area. 
    In addition to the deepest and most accurate database of new homes, you will be able to provide your buyers the 
    best possible service. Registering for an account will allow you to view exclusive agent promotions and events, 
    send brochures to your clients, request appointments, send messages directly to builders and receive email updates 
    about inventory in your market. And it’s free.</p>

<h3>How do I register for an account?</h3>
<p>Click the Create Account link at the top or Register link at the bottom of any page and then complete the 
    registration form. If you are visiting the site from your MLS or brokerage site, you may be automatically registered 
    for an account and signed in. (Contact your MLS or broker to verify if this is the case for you.)</p>

<h3>What if I am unable to sign in?</h3>
<p>@Html.NhsLink("Forgot your password?", Pages.RecoverPassword) No problem. We’ll send it to you. If your password isn’t the issue, you may be visiting 
    the site through your MLS or brokerage, in which case your login may happen automatically when you get to the new 
    homes site through your MLS or brokerage interface. Simply go to your MLS or brokerage interface, click on the 
    link to the new home site and you should automatically be logged in. Still having problems? @Html.NhsLink("Contact us", Pages.ContactUs) and we’ll 
    help you sign in.</p>

<h3>How do I subscribe or unsubscribe to the weekly email?</h3>
<p>Subscribing to the weekly email will give you quick access to the latest builder promotions and incentives, along 
    with an updated list (spec sheet) of every new home available in your market.  Since this weekly update is delivered 
    directly to your inbox you will have immediate access to the most update new home information. You can manage or 
    opt-out of the weekly email by signing in and visiting the @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                                                               {@Html.NhsModalWindowLink("My Account", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new { onclick = "$jq.googlepush('Account Events','Login','Open Form - SiteHelp Link')" })}
                                                               else
                                                               {@Html.NhsLink("My Account", Pages.MyAccount)} page.</p>

<h3>How do I refine my search?</h3>
<p>There are three ways to refine your search so that you are seeing only relevant listings. First, you can use the 
    filters on the left side of the search results page. The results will update in real time when you make selections. 
    Second, you can use the drop down at the top of the results list to sort by number of homes, price, location, 
    builder and community name. Third, you can use the @Html.NhsLink("advanced search", Pages.AdvancedSearch) page to enter all of your criteria at once.</p>

<h3>How do I search for homes instead of communities?</h3>
<p>Within any community detail page, you will see homes and plans that are available from the builder. You can click 
    on those to get more information about a specific home. If you want to see a list of quick move-in homes available now,
    you can click the “View homes” link in the left column of the community search results page. Alternately, you can 
    search for new homes directly from the @Html.NhsLink("advanced search", Pages.AdvancedSearch) page.</p>

<h3>How do I find builder promotions?</h3>
<p>From time to time builders will provide incentives to either agents and/or buyers in selling new homes. These 
    incentives are a great opportunities to consider when working with various new home builders as well as your buyer 
    clients.  In the New Home Source Professional site each community and home detail page will include all consumer 
    and agent promotions which are provided by the builders. If you want to search only for listings that have 
    promotions, you can either filter the results in the left column of the search results page or search directly for 
    promotions using the @Html.NhsLink("advanced search", Pages.AdvancedSearch) page. Note that you must be logged in to view agent promotions.</p>

<h3>Why can’t I see builder promotions?</h3>
<p>You must be @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
               {@Html.NhsModalWindowLink("signed in", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new { onclick = "$jq.googlepush('Account Events','Login','Open Form - SiteHelp Link')" })}
               else
               { @MvcHtmlString.Create("signed in") } to see any builder promotions. If you are still not able to see any promotions once signed-in 
to the site it most likely means the builder does not have any special offers available at this time.</p>

<h3>Why can’t I send a brochure to my client?</h3>
<p>You must be @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
               {@Html.NhsModalWindowLink("signed in", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new { onclick = "$jq.googlepush('Account Events','Login','Open Form - SiteHelp Link')" })}
               else
               { @MvcHtmlString.Create("signed in") } to send a community or home brochure to your client.</p>

<h3>How do I set up my custom brochure template?</h3>
<p>A custom brochure is a great tool to share builder and community information with your buyer(s), including detail 
    photos, floorplans and more. This custom brochure can be branded with your contact, agency/brokerage logo, and your 
    headshot.  In addition, your client information is personalized for each of your new home buyer(s).  To start 
    using this feature, sign in to the site and visit the “Brochure” tab in the @if (UserSession.UserProfile.ActorStatus != WebActors.ActiveUser)
                                                                                {@Html.NhsModalWindowLink("My Account", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), new { onclick = "$jq.googlepush('Account Events','Login','Open Form - SiteHelp Link')" })}
                                                                                else
                                                                                {@Html.NhsLink("My Account", Pages.MyAccount)} page, where you will be 
    able to setup and edit your brochure template. You can also see the brochure before sending it by clicking the 
    “Preview Template” link after you have made any changes.</p>

<h3>Will my client see builder contact information on the brochure?</h3>
<p>No. All builder contact information is deleted from brochures so that your client will continue to work directly 
with you on a potential new home purchase.</p>

<h3>Why am I not able to request an appointment or send a message to certain builders?</h3>
<p>This site offers various listing levels to builders, and some builders choose a level that does not include a way 
    for agents to request appointments or send direct messages. If you need to contact a builder, you may have to do so 
    through their own site.</p>

<h3>How do I save communities or homes for future reference?</h3>
<p>Each community and home detail page allows you to save a listing for future reference. There are two links: 
    1) “Save this” is located near the brochure link at the top of the page; and 2) “Save to favorites” is located 
    in the “Next Steps” section at the bottom of the page. You can always view your saved listings by clicking the 
    “Favorites” link at the top of each page.</p>

<h3>How often is builder information updated?</h3>
<p>Daily. We work directly with builders, most of whom automatically update their data every day.</p>

<h3>Do builders ever get my contact information?</h3>
<p>Yes. When you request an appointment or send a message directly to a builder, your contact information is 
    automatically included so that the builder can follow up with you. In addition, when you send a brochure to a client, 
    we share your information with builders so that: 1) so that builders are notified you are working with a particular 
    new home buyer; and 2) the builder can assist you in the sales process. Your client’s information is not sent to the 
    builder automatically – it is only included if you specifically type it into a direct message to a builder.</p>

<br/>
<p><b>Still need help?</b>  @Html.NhsLink("Contact us", Pages.ContactUs) and we will happily provide any assistance that you need.</p>