﻿

@using Nhs.Utility.Common
@using Nhs.Mvc.Routing.Interface





@section cphHead {



}

<div class="nhs_Content nhs_SiteHelp">
    <div id="scMainContent">
        
        @Html.StaticContent("SiteHelp/supportedbrowsers.html", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
        
    </div>
</div>


