﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel

@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper

<div class="@(Model.UseWideHomesSearchBox ? "nhs_CmsHomeSearch nhs_CmsWideHomeSearch" : "nhs_CmsHomeSearch")">
    <p class="nhs_Title">@LanguageHelper.SearchForNewHomes.ToMvcHtmlString()</p>
    @Html.ValidationMessageFor(model => model.MktSearch, LanguageHelper.PleaseEnterValidLocation)
    <label for="MktSearch">@LanguageHelper.EnterLocationOrCommunityName.ToMvcHtmlString():</label>
    @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.Show, NhsMvc.Home.Name, FormMethod.Post, "frmResourceCenterHomePage", false,true)) 
    {
        <fieldset>
            <span id="nhs_field_validation_error" class="field-validation-error" style="display: none">
                @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN
            </span>
            <p>
                @Html.Hidden("SearchType", string.Empty, new { id = "nhs_SearchBoxType" })
                @Html.TextBoxFor(model => model.MktSearch, new { maxlength = 250, id= Model.SearchBoxId ,@class = "MktSearch", @Name="SearchText" })
                <input id="@("Submit" + Model.SearchBoxId)" class="MktSubmit" name="Submit" value="@LanguageHelper.Search" type="submit" />
            </p>
            @if (NhsRoute.BrandPartnerId == (int)PartnersConst.Pro)
            {
                <span class="nhs_Clear"></span>
                <div>
                   
                    <span class="pro_SearchDdl">
                        <label for="PriceLow" class="nhs_Reader">
                            Priced from:
                        </label>
                        @Html.CreateHomePageDropDownFor(model => model.CmsProSearchParams.PriceLow, Model.CmsProSearchParams.PriceLoRange.GetSelectList(), "$ Minimum", 117, 235, "minimum", "option1", true)
                    </span>
                    <label for="PriceHigh" class="label-to">
                        to
                    </label>
                    <span class="pro_SearchDdl">
                        @Html.CreateHomePageDropDownFor(model => model.CmsProSearchParams.PriceHigh, Model.CmsProSearchParams.PriceHiRange.GetSelectList(), "$ Maximum", 117, 235, "maximum", "option2", true)
                    </span>
                    <span class="pro_SearchDdl">
                        <label for="NumOfBeds" class="nhs_Reader">
                            Bedrooms:
                        </label>
                        @Html.CreateHomePageDropDownFor(model => model.CmsProSearchParams.NumOfBeds, Model.CmsProSearchParams.BedRoomsList.GetSelectList(), "Beds", 111, 130, "small", "option3", false, string.Empty, "br")
                    </span>
                    <span class="pro_SearchDdl">
                        <label for="NumOfBaths" class="nhs_Reader">
                            Bathrooms:
                        </label>
                        @Html.CreateHomePageDropDownFor(model => model.CmsProSearchParams.NumOfBaths, Model.CmsProSearchParams.BathList.GetSelectList(), "Baths", 111, 130, "small", "option4", false, string.Empty, "ba")
                    </span>
                    <span class="pro_SearchDdl">
                        <label for="SqFtMin" class="nhs_Reader">
                            Square Feet:
                        </label>
                        @Html.CreateHomePageDropDownFor(model => model.CmsProSearchParams.SqFtMin, Model.CmsProSearchParams.SqFtList.GetSelectList(), "Sq Ft", 111, 235, "small-last", "option5", false, string.Empty, "sf")
                    </span>
                    <span class="nhs_Clear"></span>
                </div>
            }
        </fieldset>
    }
    <span class="nhs_Clear"></span>
</div>

