﻿@*Copyright Text *@
<div class="nhs_ResLegal">
    <p>While Builders Digital Experience seeks to ensure that all of the information concerning new homes and new home communities, 
    as well as other data on the site is current and accurate, we do not assume any liability for inaccuracies. 
    It is your responsibility to independently verify information on the site. 
    @*Copyright &copy; 2001-@DateTime.Now.Year Builders Digital Experience, LLC. NewHomeSource.com is a trademark of Builders Digital Experience, 
    LLC and all other marks are either trademarks or registered trademarks of their respective owners. All rights reserved.*@</p>
</div>
<div class="clearfix"></div>