﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
@using System.Web
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@section cphDataLayer{
    @HtmlGoogleHelper.GetGtmDataLayerForCommResults(Model)
}
<div class="clearfix">
</div>
<div id="mv_ResFacetBar" class="clearfix">
    @{Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Facets, Model);}
</div>
<div class="clearfix">
    <div id="mv_CrumbsBar">
        <div id="nhs_Crumbs" class="nhs_ResCrumbs clearfix">
            <div id="nhs_CrumbsContainer">
                @{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumbV2, NhsMvc.PartialViews.Name); }
            </div>
            <div id="nhs_ClearFacets">
                <a href="#">Clear all filters</a>
            </div>
        </div>
    </div>
</div>
<hr class="visuallyhidden" />
@{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.HeaderInformation, Model); }
<hr class="visuallyhidden" />
<div id="nhs_ResListAds" class="clearfix">
    <div class="clearfix">
        <nav id="nhs_ResTabBar" class="clearfix">
            @{
                Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.TabArea, Model);
            }
        </nav>
        <div class="clearfix">
        </div>
        @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Map, Model);}
        <div class="clearfix">
        </div>
        @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.ResultList, Model);}
        <aside id="nhs_ResAdCol">
            <div>
                <div class="nhs_ResAdBox">
                    <p class="visuallyhidden">
                        Advertisement</p>
                    <div id="nhs_MiddleTopSq">
                    </div>
                </div>
                @*NHS RESOURCE CENTER LINKS*@
                @Html.StaticContent("CommunityResults/NhsMerchandizedContent.html", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)

                <div id="nhs_ResAdBottomScroll">
                 @if (Model.RightAdToDisplayIsPosition)
                 {
                    <div class="nhs_ResAdBoxTall">
                        <p class="visuallyhidden">
                            Advertisement</p>
                        <div id="nhs_RightWideSky">
                        </div>
                    </div>
                 }
                 else
                 {
                    <div class="nhs_ResAdBox">
                        <p class="visuallyhidden">
                            Advertisement</p>
                        <div id="nhs_MiddleRightTopSq">
                        </div>
                    </div>
                    <div class="nhs_ResAdBox">
                        <p class="visuallyhidden">
                            Advertisement</p>
                        <div id="nhs_MiddleRightBottomSq">
                        </div>
                    </div>
                 }
                 </div>
            </div>
        </aside>
        <div class="clearfix"></div>       
    </div>
    @*PAGER*@
    @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Pager, Model);}
</div>

@{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Footer, Model);}
@{ Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_333.Views.CommunityResultsV2.PartialCopyrightDisclaimer); }
@section cphHead{
    <style>
        #mv_Container
        {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            min-width: 960px;
        }
        #mv_SectionMain
        {
            float: none;
            width: 100%;
            padding: 0;
            min-height: 450px;
        }
    </style>
    <link rel="stylesheet" href="@Resources.GlobalResources14.Move.css._333_results_css?@Configuration.ResourceVersionNumber" />

}
@section cphFooter{
    @Html.Partial(NhsMvc.Default.Views.CommunityResultsV2.Javascript)
}
<script type="text/javascript">
    jQuery(document).ready(function() {                                      
        @Html.LogEventWithParameters(LogImpressionConst.FeaturedListingView,"featuredListingList",Model.FeaturedListingsIdList, Model.Market.MarketId);
    });
</script>
