﻿@model IEnumerable<Nhs.Mvc.Domain.Model.Web.NearbyCommunity>
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@if (Model != null && Model.Any())
{ 
<section id="NearbyHomes" class="nhs_HomesSimilar clearfix">
    <h2>@LanguageHelper.MoreHomesNearby.ToMvcHtmlString()</h2>
    <div class="nhs_GalleryList clearfix">
        <!-- Similar Plan Gallery -->
        <ul class="bxslider">
            @foreach (var comm in Model)
            {
            <li class="nhs_GalleryItem clearfix nhs_Row">
                <div class="nhs_ItemImg">
                    @Html.NhsImageLink(comm.CommThumbnailMobile(), RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null, null)
                </div>
                <div class="nhs_GalleryInfo">
                    <p>@comm.DistanceFromCommunity.FormatDistance()</p>                    
                    <h3>
                        @Html.NhsLink(comm.CommunityName, RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null)
                    </h3>
                    <p>
                        @LanguageHelper.By.ToMvcHtmlString() @comm.BrandName
                    </p>
                    <p>@LanguageHelper.HomesFrom.ToMvcHtmlString()
                        @comm.PriceLow.FormatPrice()
                    </p>
                </div>
            </li> 
            }                
        </ul>
    </div>     
</section>
}
