﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicCommunityDetailViewModel
@if (Model.CommunityId == 0)
{
    Html.RenderPartial(NhsMvc.Default.ViewsMobile.Common.PropertyDetail.InactiveProperty);
}
else
{
    <header class="nhs_CommContext">
        <h1>@Model.CommunityName</h1>
        <h2>@Model.FormatBrandName()</h2>
    </header>
    <section class="nhs_CommDetail nhs_CommBasic">
        <div class="nhs_DetailInfo clearfix">
            @Html.GetMapPopup(Model)
            <h3>@Model.CommunityLocation()</h3>
        </div>
        <section id="nhs_CommMore" class="nhs_CommMore">
            <div class="nhs_CommPanel clearfix">
                <div id="nhs_Gallery">
                    <h2>@LanguageHelper.CommunityGallery.ToMvcHtmlString()</h2>
                    <div id="nhs_GalleryList" class="nhs_GalleryList clearfix">
                    </div>
                </div>
            </div>
        </section>
        @if (Model.HomeResultsApiV2 != null && Model.HomeResultsApiV2.Any())
        {
            <section class="nhs_CommHomesPlans clearfix">
                <h2>@LanguageHelper.HomesAndPlans.ToMvcHtmlString()</h2>
                <ul class="nhs_Tabs clearfix">
                    <li id="nhs_TabsBasicComm">
                        <a class="active">@LanguageHelper.AllFemale.ToMvcHtmlString() (@Model.AllNewHomesCount) @LanguageHelper.Homes</a>
                    </li>
                </ul>
                <div id="nhs_HomeResultsRows" class="nhs_HomeResults clearfix">
                    @foreach (var group in Model.HomeResultsApiV2)
                    {
                        <p class="nhs_GroupingBar">@group.Key.HomeStatus()</p>

                        foreach (var home in group)
                        {

                            <div class="nhs_HomeResItem clearfix nhs_Row">
                                <h3>
                                    @home.GetHomeName()
                                </h3>
                                <p>@Convert.ToInt32(home.Price).FormatPrice(home.HomeId)</p>
                                @home.GetHomeInformationV2()
                            </div>
                        }
                    }
                </div>
            </section>
        }
        <div id="NearByComms" style="display:none;"></div>
    </section>
    <text>
        @section cphFooter{

            @Html.GetGoogleMapScript()            
            @ResourceCombinerEnum.BASICCOMMDETAILMOBILEJS.GetCrunchedResource()
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    window.share = new NHS.Mobile.Share({
                        ShareUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.ShareModal))"
                    });
                    share.init();
                    var parameters = {
                        GetMediaPlayerObjects: "@(Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetMediaPlayerObjects))",
                        GetNearbyCommunities: "@(Html.GetActionUrl(NhsMvc.BasicCommunityDetail.Name, NhsMvc.BasicCommunityDetail.ActionNames.GetNearbyCommunities))",
                        CommId: @Model.CommunityId,
                        MarketId : @Model.MarketId,
                        PartnerId : @NhsRoute.PartnerId,
                        SiteRoot: '/@((string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl)? string.Empty : (NhsRoute.PartnerSiteUrl + "/")) )',
                        viewerParams: {
                            brightCoveSuffix: '@Configuration.BrightcoveEnvSuffix',
                            brightcoveToken: '@Configuration.BrightcoveReadToken'
                        }
                    };

                    var detail = new NHS.Mobile.BasicCommDetail(parameters);
                    detail.init();
                });
            </script>
        }
    </text>
}
