/*
* Kendo UI Complete v2013.1.514 (http://kendoui.com)
* Copyright 2013 Telerik AD. All rights reserved.
*
* Kendo UI Complete commercial licenses may be obtained at
* https://www.kendoui.com/purchase/license-agreement/kendo-ui-complete-commercial.aspx
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/

.k-overlay,
.k-window {
    z-index: 100001 !important;
    }  
.k-grid {
    font-size: 14px;
    border: 0;
    }
.k-in, .k-item, .k-window-action {
    border-color: transparent;
}
.k-block, .k-widget {
    background-color: #fff;    
}
.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-editable-area, .k-separator, .k-colorpicker .k-i-arrow-s, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-grid-header-wrap, .k-grid-header, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-panel, .k-panelbar .k-content, .k-calendar th, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-upload-files, .k-tiles, .k-toolbar, .k-tooltip, .k-progress {
    border-color: #ccc;
    border: 0;
}
.k-dropdown-wrap {
    border: 1px solid #ccc !important;
    }
/*.k-grid td {
    border-width: 0 0 1px 0;
    padding: 12px 1% 12px 1.5%;    
    }*/
.k-grid table {
    border-collapse: collapse;        
}
.k-header-column-menu {
    display: none;   
    }
.k-group, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-widget .k-status, .k-grouping-row td, td.k-group-cell, .k-calendar th, .k-dropzone-hovered, .k-upload-files, .k-widget.k-popup {
    background-color: #daecf4;
}
.k-list-container {
    border-color: #94c0d2;
    background-color: #daecf4;
}
.k-popup .k-list .k-item {
    line-height: 1.5;
    }  
.k-content, .k-editable-area, .k-panelbar > li.k-item, .k-panel > li.k-item, .k-tiles {
    background-color: #fff;
}
.k-alt, .k-separator {
    /*background-color: #eaf4f9;*/
}
/*.k-textbox, .k-autocomplete.k-header, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-numeric-wrap.k-state-active {
    border-color: #94c0d2;
    background-color: #daecf4;
}
.k-textbox > input, .k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-autocomplete.k-state-focused .k-input, .k-dropdown-wrap.k-state-focused .k-input, .k-picker-wrap.k-state-focused .k-input, .k-numeric-wrap.k-state-focused .k-input {
    border-color: #94c0d2;
}*/
input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input {
    background: 0;
}
/* .k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input, .k-multiselect-wrap {
    background-color: #fff;
    color: #003f59;
} */
.k-input[readonly] {
    background-color: #fff;
    color: #003f59;
}
.k-block, .k-widget, .k-popup, .k-content, .k-dropdown .k-input {
    /*color: #0091da; #2b8ecf */
}
.k-link:link, .k-link:visited {
    color: #2c5076;
}
.k-tabstrip-items .k-link, .k-panelbar > li > .k-link {
    color: #0091da; /*#2b8ecf*/
}
div.k-grid-header {
    border: 0;
    }
.k-header {
    color: #003f59;
}
.k-grid-header .k-header {
    font-weight: bold;
    padding: 8px 2%;
    border: 0;
    }
.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, /*.k-picker-wrap,*/ .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item {
    /*background-image: url('textures/highlight.png');
    background-image: none,-webkit-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,-moz-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,-o-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,linear-gradient(to bottom,#eaf4f9 0,#dbecf4 100%);
    background-position: 50% 50%;*/
    background-color: #a2c3e2;
}
.k-tabstrip-items .k-state-active {
    background: #fff;
}
/*.k-widget.k-tooltip {
    background-image: url(/globalresourcesmvc/Default/css/kendo/textures/highlight.png);
}*/
.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle {
    background-color: #a2c3e2;
}
.k-pager-wrap {
    border: 0;
    background-color: #e9e9e9;
    }
.k-pager-wrap > .k-link,
.k-dropdown-wrap {
    /*border-color: #2C5076 !important;*/
    background: #fff !important;    
    }    
.k-icon:hover, .k-state-hover .k-icon, .k-state-selected .k-icon, .k-state-focused .k-icon, .k-column-menu .k-state-hover .k-sprite, .k-column-menu .k-state-active .k-sprite {
    opacity: 1;
}
.k-icon, .k-state-disabled .k-icon, .k-column-menu .k-sprite {
    opacity: .9;
}
.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite {
    background-image: url(/globalresourcesmvc/Default/css/kendo/Default/sprite.png);
    border-color: transparent;
}
.k-i-close {
    background-image: url(/globalresourcesmvc/Default/css/kendo/MetroBlack/sprite.png);
    background-color: transparent;
    }
.k-loading, .k-state-hover .k-loading {
    background-image: url(/globalresourcesmvc/Default/css/kendo/Default/loading.gif);
    background-position: 50% 50%;
}
.k-loading-image {
    background-image: url(/globalresourcesmvc/Default/css/kendo/Default/loading-image.gif);
}
.k-loading-color {
    background-color: #fff;
}
.k-button {
    color: #003f59;
    border-color: #94c0d2;
    background-color: #daecf4;
}
.k-button:hover {
    color: #005c83;
    border-color: #7ec6e3;
    background-color: #7dd3f6;
}
.k-button.k-state-disabled:hover, .k-state-disabled .k-button:hover, .k-button.k-state-disabled:active, .k-state-disabled .k-button:active {
    color: #64a1bb;
    border-color: #94c0d2;
    background-image: url(/globalresourcesmvc/Default/css/kendo/textures/highlight.png);
    background-image: none,-webkit-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,-moz-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,-o-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,linear-gradient(to bottom,#eaf4f9 0,#dbecf4 100%);
}
.k-draghandle {
    border-color: #94c0d2;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-draghandle:hover {
    border-color: #7ec6e3;
    background-color: #7dd3f6;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-state-active, .k-state-active:hover, .k-active-filter {
    background-color: #fff;
    border-color: #7ec6e3;
    color: #003f59;
}
.k-menu .k-state-hover > .k-state-active {
    background-color: transparent;
}
.k-state-highlight {
    background: #fff;
    color: #003f59;
}
.k-state-focused, .k-grouping-row .k-state-focused {
    background: #fff;
    border-color: #7ec6e3;
}
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
    color: #fff;
    background-color: #58a5c6;
    border-color: #58a5c6;
}
/* .k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-grid-header th.k-state-focused, td.k-state-focused, .k-button:focus, .k-button.k-state-focused {
    -webkit-box-shadow: inset 0 0 3px 1px #7ec6e3;
    box-shadow: inset 0 0 3px 1px #7ec6e3;
} */
.k-ie8 .k-panelbar span.k-state-focused, .k-ie8 .k-menu li.k-state-focused, .k-ie8 .k-listview > .k-state-focused, .k-ie8 .k-grid-header th.k-state-focused, .k-ie8 td.k-state-focused, .k-ie8 .k-button:focus, .k-ie8 .k-button.k-state-focused, .k-ie7 .k-panelbar span.k-state-focused, .k-ie7 .k-menu li.k-state-focused, .k-ie7 .k-listview > .k-state-focused, .k-ie7 .k-grid-header th.k-state-focused, .k-ie7 td.k-state-focused, .k-ie7 .k-button:focus, .k-ie7 .k-button.k-state-focused {
    background-color: #7dd3f6;
}
.k-list > .k-state-selected.k-state-focused {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-state-selected > .k-link, .k-panelbar > li > .k-state-selected {
    color: #fff;
}
/* .k-state-selected, .k-button:active, .k-draghandle.k-state-selected:hover {
    background-image: url(/globalresourcesmvc/Default/css/kendo/textures/highlight.png);
    background-image: none,-webkit-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,-moz-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,-o-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,linear-gradient(to bottom,#12739d 0,#58a5c6 100%);
    background-position: 50% 50%;
} */
.k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-marquee, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone {
    color: #005c83;
    background-color: #7dd3f6;
    border-color: #7ec6e3;
}
.k-state-hover > .k-select, .k-state-focused > .k-select {
    border-color: #7ec6e3;
}
.k-button:hover, .k-button:focus, .k-button.k-state-focused, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-imagebrowser-dropzone em, .k-draghandle:hover {
    /*background-image: url('textures/highlight.png');
    background-image: none,-webkit-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,-moz-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,-o-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,linear-gradient(to bottom,#afe4fa 0,#7dd3f6 100%);*/
    background: #fff;
}
.k-window-titlebar .k-state-hover {
    background: transparent;
    }
.k-autocomplete.k-state-active, .k-picker-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-dropdown-wrap.k-state-active, .k-state-active, .k-state-active:hover, .k-state-active > .k-link, .k-button:active, .k-panelbar > .k-item > .k-state-focused {
    background-image: none;
}
.k-tool-icon, .k-tool-icon.k-state-hover, .k-tool-icon.k-state-active, .k-tool-icon.k-state-active.k-state-hover {
    background-image: url(/globalresourcesmvc/Default/css/kendo/BlueOpal/sprite.png);
}
.k-state-hover > .k-link, .k-other-month.k-state-hover .k-link, div.k-imagebrowser-dropzone em {
    color: #005c83;
}
.k-autocomplete.k-state-hover, .k-autocomplete.k-state-focused, .k-picker-wrap.k-state-hover, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-hover, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-hover, .k-dropdown-wrap.k-state-focused {
    background: #fff;
    /*background-image: url('textures/highlight.png');
    background-image: none,-webkit-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,-moz-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,-o-linear-gradient(top,#afe4fa 0,#7dd3f6 100%);
    background-image: none,linear-gradient(to bottom,#afe4fa 0,#7dd3f6 100%);
    background-position: 50% 50%;*/
    border-color: #fff;
}
.k-calendar .k-state-selected.k-state-focused > .k-link {
    background-color: transparent;
}
.k-dropdown .k-state-focused .k-input {
    color: #003f59;
}
.k-dropdown .k-state-hover .k-input {
    color: #005c83;
}
.k-state-error {
    border-color: #f77;
    background-color: #fff1f1;
    color: #f60000;
}
.k-state-disabled {
    filter: alpha(opacity=40);
    opacity: .4;
}
.k-tile-empty.k-state-selected, .k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}
.k-state-disabled, .k-state-disabled .k-link, .k-state-disabled .k-button, .k-other-month .k-link, .k-dropzone em, .k-tile-empty strong, .k-slider .k-draghandle {
    color: #64a1bb;
}
.k-slider-track {
    background-color: #94c0d2;
}
.k-slider-selection {
    background-color: #58a5c6;
}
.k-slider-horizontal .k-tick {
    background-image: url(/globalresourcesmvc/Default/css/kendo/BlueOpal/slider-h.gif);
}
.k-slider-vertical .k-tick {
    background-image: url(/globalresourcesmvc/Default/css/kendo/BlueOpal/slider-v.gif);
}
.k-widget.k-tooltip {
    border: 2px solid #005c83; /*
    background-color: #015d83;
    color: #fff;*/
    background: #fff;
    text-align: left;
}
.k-widget.k-tooltip .nhs_CommResultsRow,
.k-widget.k-tooltip .nhs_HomeResultsRow {
    border: 0;
    float: none;    
    }
.k-widget.k-tooltip-validation {
    border-color: #ffebaf;
    background-color: #ffebaf;
    color: #2e6172;
}
.input-prepend .k-tooltip-validation, .input-append .k-tooltip-validation {
    font-size: 12px;
    position: relative;
    top: 3px;
}
.k-callout-n {
    border-bottom-color: #005c83;
}
.k-callout-w {
    border-right-color: #005c83;
}
.k-callout-s {
    border-top-color: #005c83;
}
.k-callout-e {
    border-left-color: #005c83;
}
.k-splitbar {
    background-color: #daecf4;
}
.k-restricted-size-vertical, .k-restricted-size-horizontal {
    background-color: #f60000;
}
.k-progress-status {
    border-color: #7ec6e3 transparent;
}
.k-tile {
    border-color: #fff;
}
/*.k-textbox:hover, .k-tiles li.k-state-hover {
    border-color: #7ec6e3;
}*/
.k-tiles li.k-state-selected {
    border-color: #58a5c6;
}
.k-tile .k-folder, .k-tile .k-file {
    background-image: url(/globalresourcesmvc/Default/css/kendo/BlueOpal/imagebrowser.png);
}
.k-widget, .k-button {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-slider, .k-treeview, .k-upload {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-state-hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*.k-autocomplete.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused {
    -webkit-box-shadow: 0 0 3px 0 rgba(18,115,157,0.5);
    box-shadow: 0 0 3px 0 rgba(18,115,157,0.5);
}*/
/* .k-state-selected {
    -webkit-box-shadow: inset 0 0 8px rgba(0,92,131,0.5);
    box-shadow: inset 0 0 8px rgba(0,92,131,0.5);
} */
.k-state-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
    background-color: #63abca;
}
.k-popup, .k-menu .k-group, .k-grid .k-filter-options, .k-time-popup, .k-datepicker-calendar, .k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-multiselect.k-state-focused, .k-imagebrowser .k-image, .k-tooltip {
    -webkit-box-shadow: 0 2px 2px 0 rgba(18,115,157,0.5);
    box-shadow: 0 2px 2px 0 rgba(18,115,157,0.5);
}
.k-window {
    /*border-color: rgba(18,115,157,0.5);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(183,228,247,0.5);
    box-shadow: 1px 1px 7px 1px rgba(183,228,247,0.5);*/
    background-color: #fff;
    border: 0 !important;
    box-shadow: none;
    border-radius: 5px;
}
.k-window.k-state-focused {
    /*border-color: rgba(18,115,157,0.5);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(18,115,157,0.5);
    box-shadow: 1px 1px 7px 1px rgba(18,115,157,0.5);*/
}
.k-window-titlebar {
    font-size: 22px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background: #004a7c;
    padding: 8px 0 7px 0;    
    }
div.k-window-content {
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    }    
.k-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(18,115,157,0.5);
    box-shadow: 0 1px 2px 0 rgba(18,115,157,0.5);
}
.k-inset {
    -webkit-box-shadow: inset 0 1px 1px rgba(18,115,157,0.5);
    box-shadow: inset 0 1px 1px rgba(18,115,157,0.5);
}
/* .k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox, .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-numerictextbox, .k-picker-wrap, .k-numeric-wrap, .k-colorpicker.k-list-container, .k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-button .k-state-hover, .k-editor-button .k-state-active, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.k-calendar-container.k-state-border-up, .k-list-container.k-state-border-up, .k-autocomplete.k-state-border-up, .k-multiselect.k-state-border-up, .k-dropdown-wrap.k-state-border-up, .k-picker-wrap.k-state-border-up, .k-numeric-wrap.k-state-border-up, .k-window-content, .k-filter-menu {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.k-autocomplete.k-state-border-up .k-input, .k-dropdown-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-selected-color, .k-numeric-wrap.k-state-border-up .k-input {
    -moz-border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.k-window-titlebar, .k-block > .k-header, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-calendar-container.k-state-border-down, .k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-multiselect.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
} 
.k-numeric-wrap .k-link {
    -moz-border-radius: 0 2px 0 0;
    -webkit-border-radius: 0 2px 0 0;
    border-radius: 0 2px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}
.k-colorpicker .k-selected-color {
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.k-rtl .k-colorpicker .k-selected-color {
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.k-autocomplete.k-state-border-down .k-input, .k-dropdown-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-selected-color, .k-numeric-wrap.k-state-border-down .k-input {
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.k-dropdown-wrap .k-select, .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-datetimepicker .k-select + .k-select, .k-animation-container .k-calendar-container, .k-list-container.k-state-border-right {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.k-rtl .k-dropdown-wrap .k-select, .k-rtl .k-picker-wrap .k-select, .k-rtl .k-numeric-wrap .k-select, .k-rtl .k-datetimepicker .k-select + .k-select, .k-rtl .k-animation-container .k-calendar-container, .k-rtl .k-list-container.k-state-border-right {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.k-textbox > input, .k-autocomplete .k-input, .k-progress, .k-progress-status, .k-numeric-wrap.k-expand-padding .k-input, .k-multiselect-wrap {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.k-list .k-state-hover, .k-list .k-state-focused, .k-list .k-state-highlight, .k-list .k-state-selected, .k-dropzone, .k-upload-files {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
} 
.k-textbox > input, .k-autocomplete .k-input, .k-progress, .k-progress-status, .k-numeric-wrap.k-expand-padding .k-input, .k-multiselect-wrap,
.k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
    height: auto;
} */
.k-slider .k-button, .k-grid .k-slider .k-button {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}
.k-draghandle {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.k-i-calendar,
.k-state-hover .k-i-calendar {
    background-color: transparent !important;
    background: url(/globalresourcesmvc/pro/images/icons/calendar_gray.png) no-repeat 50% 50% #fff;
    width: 25px;
    height: 22px;
    display: inline-block;
    padding-left: 5px;   
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
    .k-icon, .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-column-menu .k-sprite, .k-tool-icon, .k-tool-icon.k-state-hover, .k-tool-icon.k-state-active, .k-tool-icon.k-state-active.k-state-hover {
        background-image: url(/globalresourcesmvc/Default/css/kendo/BlueOpal/sprite_2x.png);
        background-size: 192px 336px;
    }
}

.kdp-outofdayarray {
    text-align: center;
    color: #bababa;
    cursor: default;
}
