﻿@using Nhs.Library.Constants.Enums
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeViewModel

@{
    Layout = null;
}
<div class="clearfix">
</div>

@section cphDataLayer {       
    @HtmlGoogleHelper.GetGtmDataLayerForHomePage(Model)    
}

<div id="nhs_HomeSearch" class="clearfix">
    @using (Html.BeginNhsForm("Search2", NhsMvc.Home.Name, FormMethod.Post, "frmHomePage", false))
    {
        <div id="nhs_HomeSearchForm" class="clearfix">
            <div id="nhs_HomeSearchLocation" class="clearfix">
                <div class="clearfix">
                    <h1>@Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "homesearchtitletext")</h1>
                    <fieldset>
                        <legend class="visuallyhidden">New Home Search</legend>
                        <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">
                            @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()
                        </span>
                        <label for="HomeSearchText" class="visuallyhidden">Location:</label>
                        @Html.Hidden("SearchType", string.Empty)
                        @Html.TextBoxFor(model => model.SearchText, new { id = "SearchText", placeholder = "Enter location or community name", maxlength = 100, Value = (String.IsNullOrEmpty(UserSession.PersonalCookie.SearchText) ? String.Empty : UserSession.PersonalCookie.SearchText), autocomplete = "off" })
                        <input type="submit" class="btnCss" id="HomeSearchBtn" onclick="jQuery.googlepush('Search Events','Search Action','Search - Basic');" value="Search Homes" />
                    </fieldset>
                </div>
                <div class="clearfix">
                    @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "homesearchdescription")
                </div>
            </div>
            <div id="nhs_HomeSearchOptions" class="clearfix">
                <fieldset>
                    <legend>Price</legend>
                    <p>
                        <label for="PriceLow">
                            Min:</label><br />
                        @Html.TextBoxFor(model => model.PriceLow, new { placeholder = "No Min", onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - Low');" })
                        to</p>
                    <p class="nhs_Last">
                        <label for="PriceHigh">
                            Max:</label><br />
                        @Html.TextBoxFor(model => model.PriceHigh, new { placeholder = "No Max", onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - High');" })</p>
                </fieldset>
                <fieldset>
                    <legend>Bedrooms</legend>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "", new { id = "BedsAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - Any');" })
                    <label for="BedsAny">
                        Any</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "1", new { id = "Beds1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 1');" })
                    <label for="Beds1">
                        1+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "2", new { id = "Beds2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 2');" })
                    <label for="Beds2">
                        2+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "3", new { id = "Beds3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 3');" })
                    <label for="Beds3">
                        3+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "4", new { id = "Beds4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 4');" })
                    <label for="Beds4">
                        4+</label>
                    @Html.RadioButtonFor(model => model.NumOfBeds, "5", new { id = "Beds5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 5');" })
                    <label for="Beds5">
                        5+</label>
                </fieldset>
                <fieldset>
                    <legend>Bathrooms</legend>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "", new { id = "BathAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - Any');" })
                    <label for="BathAny">
                        Any</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "1", new { id = "Baths1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 1');" })
                    <label for="Baths1">
                        1+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "2", new { id = "Baths2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 2');" })
                    <label for="Baths2">
                        2+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "3", new { id = "Baths3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 3');" })
                    <label for="Baths3">
                        3+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "4", new { id = "Baths4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 4');" })
                    <label for="Baths4">
                        4+</label>
                    @Html.RadioButtonFor(model => model.NumOfBaths, "5", new { id = "Baths5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 5');" })
                    <label for="Baths5">
                        5+</label>
                </fieldset>
            </div>
        </div>
    }
</div>
<div id="nhs_HomeContentTeaser" class="clearfix">
    <nav>
        @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "resourcecenterlinks")
    </nav>
</div>

@{Html.RenderPartial(NhsMvc.Default.Views.Common.PartialFeaturedHomes, Model);}

<div id="nhs_HomeBuilders" class="clearfix">
    <div class="clearfix">
        <p>@Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "buildersectiontitle")</p>
    </div>
    <div class="clearfix">
        <ul id="nhs_HomeBrandsList" class="clearfix">
            @foreach (var brd in Model.Brands)
            { 
                <li>
                    <img src="@Configuration.ResourceDomain@brd.LogoMedium" alt="@brd.BrandName" title="@brd.BrandName" />
                </li>
            }
        </ul>
    </div>
</div>
@*<div id="nhs_HomeWhyNew">
    <div class="clearfix">
        @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "buynewsectionContent")
        @Html.RenderBuyNewSectionContent(SeoTemplateType.MNH_HomeV2)
    </div>
</div>*@ @*<div id="nhs_HomeResources">
    <div class="clearfix">
        @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "stepstoyournewhome")
    </div>
</div>*@ @*<div id="nhs_HomeLinks">
    <aside id="nhs_HomeMarkets" class="clearfix">
        <h2 id="nhs_HomeMarketsText">@Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "footerlinksheader")</h2> 
        
        @Html.RenderSeoContent(SeoTemplateType.MNH_HomeV2, "footerlinks")
    </aside>
</div>*@
@section cphHead{
    <style>
        #mv_Container
        {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            min-width: 960px;
        }
        #mv_SectionMain
        {
            float: none;
            width: 100%;
            padding: 0;
            min-height: 450px;
        }
    </style>
}
@ResourceCombinerEnum.HOMEPAGEJS.GetCrunchedResource()
<script type="text/javascript">
    jQuery(document).ready(function () {
        SetTextBoxesDescriptions();
        
        homePageJs = new NHS.Scripts.HomePage();
        homePageJs.initialize();

        var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
        search.setupSearchBox("SearchText", "SearchType");

    });                      
</script>
