﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BrochureGenerationViewModel

@if (!string.IsNullOrEmpty(Model.TargetUrl))
{
     <div class="nhs_Content" style="text-align: center;">
        <h2>@LanguageHelper.GeneratingBrochure.ToMvcHtmlString()</h2>
        <div id="progressimage">
            @Html.NhsImage(Resources.GlobalResourcesMvc.Default.images.loading_bar_gif, LanguageHelper.Loading, false)
        </div>
    </div>
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.ajax({
                type: 'GET',
                url: '@Model.TargetUrl',
                success: function (data) {
                    location.href = data.ResultsUrl;
                }
            });
        });
    </script>
}
else
{
    <div class="nhs_Content"> 
        <h2>@LanguageHelper.WeAreSorryYourBrochureExpired.ToMvcHtmlString()</h2><br />
    <p>@string.Format(LanguageHelper.YouMayRequestNewBrochureByClickingHere, Model.ExpireUrl).ToMvcHtmlString()</p>
    </div>
}
