﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
<div id="page_content">
    <h1>
        New Homes Anywhere</h1>
    @Html.NhsLink("View Full Site", "mobileredirect?sitetype=full&nextpage=" + HttpUtility.UrlEncode(NhsRoute.GetValue(UrlConst.NextPage)))
    |
    @Html.NhsLink("View Mobile Site", "mobileredirect?sitetype=mobile&nextpage=" + HttpUtility.UrlEncode(NhsRoute.GetValue(UrlConst.NextPage)))
</div>
<script type="text/javascript">
    window.onload = function initialLoad() {
        updateOrientation();
    };
    window.onorientationchange = function () {
        updateOrientation();
    };

    function updateOrientation() {
        var contentType = "show_";
        switch (window.orientation) {
            case 0:
                contentType += "normal";
                break;

            case -90:
                contentType += "right";
                break;

            case 90:
                contentType += "left";
                break;

            case 180:
                contentType += "flipped";
                break;
        }
        document.getElementById("page_content").setAttribute("class", contentType);
    }

    window.addEventListener("load", function () { setTimeout(loaded, 100); }, false);

    function loaded() {
        document.getElementById("page_content").style.visibility = "visible";
        window.scrollTo(0, 1); // pan to the bottom, hides the location bar
    }
</script>
