﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common

@model dynamic





@section cphHead {

    <title>Get our iPhone App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <style type="text/css">
        /*--- RESET STYLES ---*/
        html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
	        margin:0;
	        padding:0;
	        -webkit-text-size-adjust:none;
	        }
        body {
	        font-size: 10px;
	        }
        ul, li, ol, dl, dd, dt {
	        list-style:none;
	        padding:0;
	        margin:0;
	        }
        a {
	        text-decoration:none;
	        }
	    /*--- BASIC PAGE STYLING ---*/
        body {
	        background:#fff;
	        font-family: Helvetica;
	        color:#000;
	        }
	    h1 {
	    	font-size: 24px;
	    	font-weight: bold;
	    	text-align: center;
	    	padding: 24px 0;
	    	}
	    .show_left h1,  
        .show_right h1 {
        	padding: 14px 0;
        	}
        p {
	        padding-bottom:8px;
	        }
        a {
	        color:#666;
	        text-decoration:underline;
	        }
	    #page_content 	    {
	    	display: block;	   
	    	border: 0px solid;	
	    	font-size: 13px; 
	    	overflow: auto;   	
	    	}
	    .show_ {
	    	width: 320px;
	    	}
	    .show_normal,  
        .show_flipped {  
            width: 320px;  
            /*height: 480px;*/
            }  
        .show_left,  
        .show_right {  
            width: 480px; 
            /*height: 320px; */
            } 
        .desc_area {
        	display: block;
        	width: 230px;
        	margin: 0 auto;
        	padding: 0 10px 18px 10px;
        	overflow: auto;
        	} 
        .desc_area img {
        	float: left;
        	width: 80px;
        	padding: 0 10px 0 0;
        	border: 0px solid;
        	}
        .desc_area p {
        	float: left;
        	width: 140px;
        	border: 0px solid;
        	margin-top: 4px;
        	}
        .action_links {
        	clear: both;
        	text-align: center;
        	font-size: 12px;
        	color: #666;
        	}
        .action_links p {
        	padding-bottom: 22px;
        	}
        .show_left .action_links p,  
        .show_right .action_links p {
        	padding-bottom: 14px;
        	}
    </style>

    <script type="text/javascript">
        window.onload = function initialLoad() {
            updateOrientation();
        }
        window.onorientationchange = function () {
            updateOrientation(); 
        }

        function updateOrientation() {
            var contentType = "show_";
            switch (window.orientation) {
                case 0:
                    contentType += "normal";
                    break;

                case -90:
                    contentType += "right";
                    break;

                case 90:
                    contentType += "left";
                    break;

                case 180:
                    contentType += "flipped";
                    break;
            }
            document.getElementById("page_content").setAttribute("class", contentType);
        }        

        window.addEventListener("load", function () { setTimeout(loaded, 100) }, false);          

        function loaded() {
            document.getElementById("page_content").style.visibility = "visible";
            window.scrollTo(0, 1); // pan to the bottom, hides the location bar
        }
	</script>

}

    <div id="page_content">
     @if (NhsRoute.IsPartnerMove)
       {
        <h1>New Homes Anywhere</h1>
        <div class="desc_area">
            <img src="@Nhs.Library.Common.Configuration.ResourceDomain/globalresourcesmvc/move/images/iphone/app_teaser.png" alt="" />
            <p><strong>Get the FREE Move New Homes iPhone app.</strong> It's the fast and convenient way to view new homes, home builders and new home communities while you're on-the-go!</p>
        </div>
        <div class="action_links">
            <!-- TODO - Update app link -->           
            <p>@Html.NhsImageLink(Resources.GlobalResourcesMvc.Move.images.buttons.get_it_now_png, "http://itunes.apple.com/us/app/move-new-homes/id510114271", null, null, new { alt = "Get it now" }, false, true)</p>
            
            <p>No thanks, @Html.NhsLink("continue to NewHomes.Move.com", "mobileredirect?isiphone=true&nextpage=" + HttpUtility.UrlEncode(NhsRoute.GetValue(UrlConst.NextPage)))</p>
        </div>
    }
       else
       { 
        <h1>New Homes Anywhere</h1>
        <div class="desc_area">
            <img src="@Nhs.Library.Common.Configuration.ResourceDomain/globalresourcesmvc/default/images/iphone/app_teaser.png" alt="" />
            <p><strong>Get the FREE NewHomeSource iPhone app.</strong> It's the fast and convenient way to view new homes, home builders and new home communities while you're on-the-go!</p>
        </div>
        <div class="action_links">
            <p>@Html.NhsImageLink(Resources.GlobalResourcesMvc.Default.images.buttons.get_it_now_png, "http://itunes.apple.com/us/app/newhomesource.com-new-home/id349026757", null, null, new { alt = "Get it now" }, false, true)</p>

            <p>No thanks, @Html.NhsLink("continue to NewHomeSource.com", "mobileredirect?isiphone=true&nextpage=" + HttpUtility.UrlEncode(NhsRoute.GetValue(UrlConst.NextPage)))</p>
        </div>
    }    
    </div>



