﻿/* ---------------------------------------------
Title:      Move MVC Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Dec 8 2010
----------------------------------------------- */

a, a:active, a:visited { color: #497cbc; text-decoration: none; cursor: pointer; }
a:hover { color: #497cbc; text-decoration: underline; cursor: pointer; }

.mv_Reader { position:absolute; left:-2000px; width:100px; }

#mv_AdTop { clear:both; width:730px; margin:0 auto; padding:0 0 5px 0; text-align:center; }
#mv_AdTop .mv_AdBorder { display: block; height: 90px; }

.mv_ReaderAlt { display:none; }
.mv_AdBorder { border:1px solid #7f7f7f; }

.mv_HomeContainer ul#mv_SearchList { background:url(/globalresources/default/images/backgrounds/bg_63_home_nav_left.jpg) top left no-repeat; }

.mv_HomeContainer ul#mv_SearchList { background:url(/globalresources/default/images/backgrounds/bg_63_home_nav_left.jpg) top left no-repeat; }

ul#mv_SearchList { background:none; margin:6px 0 0 0; padding:0; }

.mv_HomeContainer ul#mv_SearchList { background:none; }

#mv_AdColumn { float:right; width:160px; margin:35px 0 5px 0; padding:0; border:0 solid; }

.mv_AdRight2 { width:160px; margin:0 0 5px 0; }

.mv_AdBottom { width:125px; }

#mv_Header .mv_GlobalQuickConnectDiv {
    padding: 10px 100px 0 0;
}

.nhs_CustomBox {
    background: #313845;
    }

.mv_CommResultsQC, .mv_GlobalQuickConnectDiv {
    float: right;
    padding: 6px 6px 0;
    text-align: center;
}

.mv_CommResultsQC, .mv_GlobalQuickConnectDiv {
    text-align: center;
}

.mv_GlobalQuickConnectText {
    float: left;
    margin: 4px 5px 0 0;
    font-size: 85%;
    font-weight: bold;
}

/***********************************************
*                 NEW MOVE                     *
***********************************************/
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333; /*#5F5046;	*/
	background: #fff;
	}
body.mv_PartnerBody {
	background-image: none;
	background-color: #fff;
	}
body.nhs_EmptyBody {
	background: none;
	}
	
#nhs_PartnerContainer {
    background-color: #fff;
    }	

#mv_Container  {
	margin: 0 auto; 
	padding: 0; 
	width: 980px; 
	text-align: left;
	font-size: 13px; 
	}
#mv_SectionMain {
	float: left;
	width: 970px;
	padding: 5px 5px 0 5px;
	min-height: 450px;
	background: #fff;
	}
	
#mv_Header_wrapper {
	width:100%;	
	background: #313845;
	float:left;
	padding-top:5px;
	border-bottom: 5px solid #67ad45;
	}
#mv_Header {	
	height: 90px;
    margin: 0 auto;
    width: 970px;
    position:relative;
    font-size: 13px;
	}
.mv_navs_wrapper {
	bottom: 0;
    left: 178px;
    position: absolute;
	}	
.mv_LogoBox {
    float: left;
    height: 55px;
    margin: 10px 0 0 3px;
    width: 155px;
	}
.mv_LogoBox a {
	border:0;
	}
.mv_LogoBox img {
	display: block;
	}

	
#mv_ToolNav {
	color: #999;
    display: inline;
    float: right;
    margin: 5px 0 0 0; 
    padding: 0; 
    width: 800px;
    font-size: 85%;    
	}
#mv_ToolNav ul {
	float:right; 
	margin:0; 
	padding:0;
	list-style:none;
	}
#mv_ToolNav ul li {	
	float:left;
	display:inline;
	margin: 0;
	padding: 0 0 0 10px;
	}
#mv_ToolNav ul li a {
	display: inline-block; 
	margin: 0; 
	padding: 3px 0 4px 0; 
	/*border-left: 1px solid #777; */
	color: #999; 
	text-decoration:none; 
	}
#mv_ToolNav ul li a:hover {
	color: #fff;
	display:inline-block;
	text-decoration:underline;
	}
#mv_ToolNav ul li a#fbLoginButton > span {
	display: inline-block;
	margin: 0 0 -6px 0;
	padding: 16px 0 0 0;
	width: 14px;
	height: 0;	
	overflow: hidden;
	background: url(/globalresources14/newhomesource/images/icons/facebook_15.png) no-repeat left top;
    }	
#mv_ToolNav ul li.mv_ToolSignIn a  {
	border: 0; 
	}
#mv_AddThisBox .addthis_button_facebook,
#mv_AddThisBox .addthis_button_twitter,
#mv_AddThisBox .addthis_button_email,
#mv_AddThisBox .addthis_button_print {
	width: 15px;
	}
#mv_AddThisBox .addthis_separator {
	float: left;
	margin: 0 4px;
	}	
#mv_ToolNav ul li#mv_AddThisBox {
	width: auto;	
	margin: 0 0 0 10px;
	padding: 2px 0 0 0;
	/*border-left: 1px solid #777;*/
	}
#mv_ToolNav ul li#mv_AddThisBox a {
	float: left;
	margin: 0 4px !important;	
	padding: 0 !important;
	border: 0;
	}
#mv_ToolNav ul li #nhs_LiveChat {
    margin: 0;
    }
#mv_ToolNav ul li #nhs_LiveChat a {
	display: inline-block;
	padding: 1px 0 1px 0; 
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	}
#mv_ToolNav ul li #nhs_LiveChat a:hover {
	text-decoration: underline;
	color: #fff;
	}
	
/* NAVIGATION */
#mv_SearchNav {
    font-family: Verdana,Helvetica,sans-serif;
	color: #fff;
    display: inline;
    font-size: 12px;
    font-weight: bold;
	}
#mv_SearchNav ul {
    margin: 0;
    padding: 0;
	list-style:none;
	}
#mv_SearchNav ul li {	
    display: inline;
    float: left;
    margin-right: 16px;
    position: relative;
	}
#mv_SearchNav li a {
	color: #fff;
	text-decoration: none;
	display: block;
	height: 30px;
	padding: 0;
	background-color: #525b68;
	}
#mv_SearchNav li a:before {
    content: "";
    width: 0; 
	height: 0; 
	position: absolute;
	top: 0;
	left: -3px;
	border-left: 3px solid transparent;
	border-right: 0px solid transparent;
	
	border-bottom: 30px solid #525b68;
    }	
#mv_SearchNav li a:after {
    content: "";
    width: 0; 
	height: 0; 
	position: absolute;
	top: 0;
	right: -3px;
	border-left: 0px solid transparent;
	border-right: 3px solid transparent;
	
	border-bottom: 30px solid #525b68;
    }	
#mv_SearchNav li a span {
	color: #fff;
	display: block;
	padding: 7px 10px 6px 10px;
	}
#mv_SearchNav li a:hover {
	color: #fff;
	text-decoration: none;	
	display: block;
	background: #464f5e;
	}
#mv_SearchNav li a:hover:before {
	border-bottom: 30px solid #464f5e;
    }	
#mv_SearchNav li a:hover:after {
	border-bottom: 30px solid #464f5e;
    }	
#mv_SearchNav li.active a {
	background: #67ad45;    
	}
#mv_SearchNav li.active a span {
	background: #67ad45;
	}
#mv_SearchNav li.active a:before {
	border-bottom: 30px solid #67ad45;
    }	
#mv_SearchNav li.active a:after {
	border-bottom: 30px solid #67ad45;
    }		
#nhs_FooterWrapper {
	background: #c6ccd2;
	float:left;	
	width:100%;
	padding: 20px 0;
	font-size: 13px;
	}
#nhs_Footer {
    color: #676767;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 77%;
    margin: 0 auto;
    padding-bottom:50px;
    width: 950px !important;
    min-width: 950px !important;
	}
.mv_FooterGroup {
	float: left;
	width: 640px;
	margin: 5px 0 15px 0;
	line-height: 16px;
	}
.mv_FooterCol {
	float: left;
	margin: 0;
	width: 32%;
	}
.mv_FooterCol ul {
	list-style: none;
	margin: 0;
	}
.mv_FooterCopyright {
	width: 100%;
	border-top: 1px solid #C3C4C8;
	padding: 16px 0 0 0;
	}
.mv_FooterLegal{
	float: left;
	clear: both;
	margin-top: 5px;
	font-size: 10px;
	font-size: 0.625rem;
	color: #676767;
}
.mv_NAHB {
	position: absolute;
	left: 149px;
	top: 28px;
	width: 280px;
	border: 0px solid #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	color: #fff;
	}
.mv_NAHB img {
	display: block;
	float: right;
	padding: 2px 0;
	background: #fff;
	border: 1px solid #ccc;
	}
.mv_FooterNAHBDiv {
    float: left;
    font-size: 138.5%;
    padding: 5px 0;
	}
.mv_FooterNAHBDiv img {
    float: left;
	}
.mv_FooterNAHBSlogan {
    float: left;
    margin: 8px 0 0 8px;
	}
	
#nhs_FooterAdBox {
	border: 0px solid #fff;
	float: left;
	margin: 0;
	padding: 0;
	width: 310px;
	height: 260px;
	}
	
/*.nhs_Breadcrumb {	
	background: #F5F5F5;
	margin-top: -3px;
	margin-left: -5px;
	padding-top: 6px;
	width: 970px;
	}
.mv_PartnerBody .nhs_Breadcrumb {
	width: 960px;
	margin-left: 0;
	}*/

/*= Search Homes Box */    
.nhs_CmsHomeSearch {
    background: #67ad45;
    border-radius: 3px;
    -moz-border-radius: 3px;
    }   
.nhs_CmsHomeSearch .nhs_Title {
    font-weight: bold;
    color: #ffffff;
    } 

.nhs_CmsCategoryTeaser > .nhs_Title {
    width: 94%;
    padding: 4px 3%;
    font-size: 138.5%;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #67ad45;
    }
    
/*= Search Articles Box */    
.nhs_CmsArticleSearch {    
    background: #c6ccd2;
    border-radius: 3px;
    }   
    
.nhs_CmsArticleSearch .nhs_Title {
    margin: 0 0 8px 0;
    font-size: 123.1%;
    font-weight: bold;
    color: #000;
    } 
    
.nhs_CmsHomeSearch input.MktSubmit,
.nhs_CmsArticleSearch input#ArticleSearchSubmit { 
    background-color: #3e96da;
    }   
        
/*======== SOCIAL BAR =========*/
#nhs_SocialSideBar {
    position: fixed;
    top: 0;
    left: -70px;
    width: 70px;
    height: 100%;
    background: #848992;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1)    
}
#nhs_SocialSideBar.nhs_Active {
    left: 0;
}
#nhs_SocialSideBar > p {
    display: block;
    position: absolute;
    left: 46px;
    bottom: 24%;    
    width: 84px;
    height: 19px;
    padding: 0;
    background: #848992;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);    
    transform: rotate(-90deg);    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);
}
#nhs_SocialSideBar > p > span {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);   
}
#nhs_SocialSideBar.nhs_Active > p > span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);    
}

.addthis_floating_style {
    background: none !important;
    border-radius: 0 !important; 
    padding: 0 12px !important; 
    top: 192px !important;  
    z-index: 999 !important;
    position: relative !important;
}
.addthis_floating_style.addthis_32x32_style,
.addthis_floating_style.addthis_32x32_style .addthis_internal_container {
    width: 45px !important;
}
.addthis_floating_style a {
    overflow: hidden;
    width: 45px !important;
    height: 0 !important;
    line-height: 45px;
    margin: 12px 0 0 0 !important;
    padding: 45px 0 0 0 !important;    
    /*background-color: #bababa;*/
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	border-radius: 3px; 
}
.addthis_floating_style a.addthis_button_facebook {
    margin: 0 0 0 0 !important;
	background-image: url(/globalresources14/move/images/icons/social_bar/facebook.png);
}
.addthis_floating_style a.addthis_button_facebook:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/facebook_over.png);
}
.addthis_floating_style a.addthis_button_twitter {
	background-image: url(/globalresources14/move/images/icons/social_bar/twitter.png);
}
.addthis_floating_style a.addthis_button_twitter:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/twitter_over.png);
}
.addthis_floating_style a.addthis_button_pinterest_share {
	background-image: url(/globalresources14/move/images/icons/social_bar/pinterest.png);
}
.addthis_floating_style a.addthis_button_pinterest_share:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/pinterest_over.png);
}
.addthis_floating_style a.addthis_button_google_plusone_share {
	background-image: url(/globalresources14/move/images/icons/social_bar/googleplus.png);
}
.addthis_floating_style a.addthis_button_google_plusone_share:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/googleplus_over.png);
}
.addthis_floating_style a.addthis_button_print {
	background-image: url(/globalresources14/move/images/icons/social_bar/print.png);
}
.addthis_floating_style a.addthis_button_print:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/print_over.png);
}
.addthis_floating_style a.addthis_button_email {
	background-image: url(/globalresources14/move/images/icons/social_bar/mail.png);
}
.addthis_floating_style a.addthis_button_email:hover {
	background-image: url(/globalresources14/move/images/icons/social_bar/mail_over.png);
}  	    
.nhs_BasicCommunityDetails .nhs_DetailsFormMoreActions {
background: none;
}



