/* ---------------------------------------------
Title:      Move MVC Button Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:    Mar 10 2015
----------------------------------------------- */

.nhs_DetailsFormContent .btn_FreeBrochure, 
#nhs_PartnerContainer .nhs_DetailsFormContent .btn_FreeBrochure,
.nhs_DetailsInfoSchoolAmenities .btn_FreeBrochure, 
#nhs_PartnerContainer .nhs_DetailsInfoSchoolAmenities .btn_FreeBrochure,
.nhs_BigMediaHeader .btn_FreeBrochure {
	background: url(/globalresourcesmvc/move/images/buttons/free_brochure.png) no-repeat left top;
	}
.btn_Loading, #nhs_PartnerContainer .btn_Loading {
    padding: 30px 0 0 0 !important; 
    height: 30px !important;
    background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50% !important;	
    margin-left: 0;
    border: 0;
    cursor: default;
	}

.nhs_BigMediaThumbsBox .bxslider li.active img,
.nhs_BigMediaPlayer img[data-type="l-flp"],
.nhs_BigMediaPlayer img[data-type="l-ev"],
.nhs_BigMediaPlayer img[data-type="l-vt"] {
    border-color: #67ad45 !important;
    border-color: #3e96da !important;
    }

.nhs_BigMediaBox .nhs_BigMediaPlayer {
    background-image: url(/globalresources14/move/images/icons/move_loader.gif);
    }
	
.btnCss, 
a.btnCss {
    color: #fff !important;
    background: #67ad45;
    }
a.btn_ViewBrochure {
    background-color: #3e96da;
}
    
.btn_FreeBrochureAlt, a.btn_FreeBrochureAlt, #nhs_PartnerContainer .btn_FreeBrochureAlt, 
.btn_GetMoreInfo, a.btn_GetMoreInfo, #nhs_PartnerContainer .btn_GetMoreInfo {
	color: #fff !important;
    }     
.btn_FindHomes, #nhs_PartnerContainer .btn_FindHomes {
    margin-left: 235px;
	}   
	
.btn_RequestAppointment,
a.btn_RequestAppointment,
.nhs_WiderFunnelA a.btn_RequestAppointment {
    background: #67ad45;
    } 	 
.nhs_WiderFunnelA .nhs_btnWrapper {
    background-color: #fff;
}    
