/* ---------------------------------------------
Title:      Move MVC Detail Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Apr 16 2015
----------------------------------------------- */

.nhs_DetailsHeaderTitle {
	font-size: 28px;
	font-weight: bold;
	color: #67AD45;
	}
.nhs_DetailsHeaderCitySt strong {
	font-weight: normal;
	}
	
.nhs_DetailsForm,
#nhs_LeadForm {
	background: #525b68;
	}
.nhs_DetailsFormTopTitle,
.nhs_DetailsFormContent ol li label,
#nhs_PartnerContainer .nhs_DetailsFormContent ol li {
	text-shadow: 0 1px 1px #333;	
	color: #fff;
	}
.nhs_DetailsFormContent ol li textarea#Comments.nhs_Focus, 
.nhs_DetailsFormContent ol li input.nhs_Focus, 
.nhs_DetailsFormContent ol li input#UserPostalCode.nhs_Focus {
	border-color: #67AD45;
	}
.nhs_DetailsFormArrow { display: none; }

.nhs_HomesPlansGallery,
.nhs_floorPlanSection, 
.nhs_SimilarHomePlanSection, 
.nhs_mapAndDirections, 
.nhs_DetailsInfoSchoolAmenities, 
.nhs_findOutMore,
.nhs_nextSteps,
.nhs_NearbyComms,
.nhs_mortgageContainer,
.nhs_basicListingsDetails {
    background: none;
    border: 1px solid #dfe1e7;    
	border-top: 2px solid #525b68;
    width: 798px;
	}
.nhs_DetailSections {
	background-color: #dfe1e7;
    width: 778px;
    margin: 0 0 10px 0;
    padding: 15px 10px 10px 10px; 
    }
.nhs_DetailsFormBasicCommunity .nhs_DetailSections {
    width: 314px;
    }   
.nhs_DetailSectionTitle {
    font-size: 16px;
	}
.nhs_DetailContent {
	padding: 0 19px 15px 19px;
	}
	
.nhs_HomesGalleryResults .nhs_GalleryCellOn,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn {
    float: left;
	width: 182px;
	padding: 2px 2px 10px 2px;
	cursor: pointer;
	border: 2px solid #525b68;
	background: #EDEDED;
	}	
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanNameOnly {
    color: #497cbc;
    }
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanNameOnly,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanNameOnly {
    color: #009aec;
    }
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a .nhs_SpecPlanName,
.nhs_HomesGalleryResults .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName,
.nhs_SimilarHomePlanCarousel .nhs_GalleryCellOn .propertyTitles a:hover .nhs_SpecPlanName, {
    text-decoration: none;
    }
    
/* =Wider Funnel */

.nhs_WiderFunnelA .nhs_DetailsForm,
.nhs_WiderFunnelB .nhs_DetailsForm {
    background-image: none;
    background-color: #525b68;
    border: 1px solid #3d434e;
    }    
.nhs_WiderFunnelA #nhs_DetailsBuilderLogoAndPrice,
.nhs_WiderFunnelB #nhs_DetailsBuilderLogoAndPrice,
.nhs_WiderFunnelA .nhs_DetailsFormInfo,
.nhs_WiderFunnelB .nhs_DetailsFormInfo,
.nhs_WiderFunnelA .nhs_DetailsFormMoreActions,
.nhs_WiderFunnelB .nhs_DetailsFormMoreActions {
    border-color: #e6e6e6;    
    }
.nhs_WiderFunnelA .nhs_DetailsForm .btn_FreeBrochure,
#nhs_PartnerContainer .nhs_WiderFunnelA .nhs_DetailsForm .btn_FreeBrochure {
    background-image: url(/globalresourcesmvc/move/images/buttons/wf_get_my_brochure_a1.png);
    } 
.nhs_WiderFunnelB .nhs_DetailsForm .btn_FreeBrochure,
#nhs_PartnerContainer .nhs_WiderFunnelB .nhs_DetailsForm .btn_FreeBrochure {
    background-image: url(/globalresourcesmvc/move/images/buttons/wf_get_my_brochure_f1.png);    
    }  
    
/* =Comm Detail v1 */

#nhs_CommunityDetailsInformation {
    margin: 0 -5px;
    padding: 0 5px;
    background: #fff; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5'); /* for IE */
    background: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f5f5f5); /* for firefox 3.6+ */ 
    }

.nhs_ImagePlayerTitleBar,    
.ad-nav {
    background: #525b68;
    }
    
#mv_Container .nhs_Tabs,
#nhs_PartnerContainer .nhs_Tabs {
	font-size: 14px;
	border-bottom: 0;
	}	
#mv_Container .nhs_Tabs li a, 
#nhs_PartnerContainer .nhs_Tabs li a {
	padding: 7px 8px 3px 8px;
	border: 0;
	color: #497cbc;
	background: none !important;
	background-color: #fff;
	}
#mv_Container .nhs_Tabs li a:hover, 
#nhs_PartnerContainer .nhs_Tabs li a:hover {
	color: #497cbc;
	text-decoration: underline !important;
	}
#mv_Container .nhs_Tabs li a > span, 
#nhs_PartnerContainer .nhs_Tabs li a > span {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-decoration: none;
	background: none !important;
	}
	
#mv_Container #hotDealsTab a,
#nhs_PartnerContainer #hotDealsTab a {
	background: #fff url(/globalresourcesmvc/default/images/icons/hot_homes.png) no-repeat 10px 45% !important;
	padding: 9px 14px 7px 30px;
	}
#mv_Container .nhs_Tabs li.nhs_Selected a,
#nhs_PartnerContainer .nhs_Tabs li.nhs_Selected a {
	border-bottom: 2px solid #000;
	background-color: #fff !important;
	color: #333;
	cursor: default;	
	text-decoration: none;
	}
#mv_Container .nhs_Tabs li#hotDealsTab.nhs_Selected a,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_Selected a {
	background-color: #fff;
	cursor: default;
	}
#mv_Container #hotDealsTab a span,
#nhs_PartnerContainer #hotDealsTab a span {
	display: inline;
	background: none !important;
	padding: 0;
	}
#mv_Container #hotDealsTab a span span,
#nhs_PartnerContainer #hotDealsTab a span span {
	display: inline;
	background: none !important;
	padding: 0;
	}
	
#mv_Container #quickMoveInTab a,
#nhs_PartnerContainer #quickMoveInTab a {
	background: #fff url(/globalresourcesmvc/default/images/icons/quick_move_in.png) no-repeat 10px 50% !important;
	padding: 9px 14px 7px 36px;
	}
#mv_Container .nhs_Tabs li#quickMoveInTab.nhs_Selected a,
#nhs_PartnerContainer .nhs_Tabs li#quickMoveInTab.nhs_Selected a {
	background-color: #fff;
	cursor: default;
	}
#mv_Container #quickMoveInTab a span,
#nhs_PartnerContainer #quickMoveInTab a span {
	display: inline;
	background: none !important;
	padding: 0;
	}
#mv_Container #quickMoveInTab a span span,
#nhs_PartnerContainer #quickMoveInTab a span span {
	display: inline;
	background: none !important;
	padding: 0;
	}
		
#mv_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#mv_Container .nhs_Tabs li.nhs_quickTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li.nhs_quickTabDisabled a {
	background-color: #fff !important;
	border-color: #ddd;
	color: #bbb;
	cursor: default;		
	}
#mv_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a {
	background-image: url(/globalresourcesmvc/default/images/icons/hot_homes_off.png);
	}
#mv_Container .nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a,
#nhs_PartnerContainer .nhs_Tabs li#quickMoveInTab.nhs_quickTabDisabled a {
	background-image: url(/globalresourcesmvc/default/images/icons/quick_move_in_off.png);
	}
#mv_Container .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a:hover,
#nhs_PartnerContainer .nhs_Tabs li#hotDealsTab.nhs_dealsTabDisabled a:hover,
#mv_Container .nhs_Tabs li.nhs_quickTabDisabled a:hover,
#nhs_PartnerContainer .nhs_Tabs li.nhs_quickTabDisabled a:hover {	
	cursor: default;
	text-decoration: none !important;
	}       
    
/* Newsletter Sign Up 
---------------------------------*/    
#nhs_NewsletterSignUp {
    background: #525b68;
    }
#nhs_NewsletterSignUp > p:first-child {
    color: #67AD45;
    }  
#nhs_NewsletterSignUpPage {
    background-image: url(/globalresourcesmvc/move/images/backgrounds/homepage_search_bg.jpg);
    }  
    
.nhs_DetailsToolBar ul li a {
    border: 1px solid #67AD45;
    background: #67AD45;
    }
.nhs_DetailsToolBar ul li a:hover { 
    color: #67AD45;
    background: #fff;
    } 
    
.nhs_ConfirmationCreditScore 
 {
    background: #7D8799;
    padding: 5px;
    height: 125px;
    margin-top: 10px;
    position: relative;
 }
 .nhs_ConfirmationCreditScore .nhs_DetailsFormNextStep {
    font-weight: bold;
    font-size: 14px;
 }
 .nhs_ConfirmationCreditScore p 
 {
    margin: 10px 0;
 }
 .nhs_ConfirmationCreditScore .btnCreditScore {
    color: #FFF !important;
    font-weight: bold;
    text-decoration: none !important;
    padding-top: 2px;
    font-size: 12px;
 }
 
 .nhs_ConfirmationCreditScore a.btnCreditScore:hover 
 {
   color: #FFF !important;
  }
 
 .nhs_ConfirmationCreditScore .nhs_DetailsFormCreditScorePrivacy {
    position: absolute;
    right: 0;
 }

.nhs_DetailsFormContent #divLeadMain {
  background: #525b68 !important;
}

.nhs_slide #divLeadMain .btn_FreeBrochure{
    background-image: url(/globalresourcesmvc/move/images/buttons/wf_get_my_brochure_a1.png);
    width: 302px;
    margin-left: 5%;
}

.nhs_DetailsFormMoreActions #nhs_SaveThisItem {
	display: inline-block;
	padding: 2px 0 2px 16px;
	background: url(/globalresourcesmvc/default/images/icons/ico-mnh-heart.png) no-repeat left 50% !important; 
}

.MortgageRates {
    display: inline-block !important;
	padding: 2px 0 2px 16px !important;
	background: url(/globalresourcesmvc/default/images/icons/ico-mnh-mortgage.png) no-repeat left 50% !important;
}

#MortgageMatch, .nhs_CreditScoreLink {
    display: inline-block !important;
	padding: 2px 0 2px 16px !important;
	background: url(/globalresourcesmvc/default/images/icons/ico-mnh-check.png) no-repeat left 50% !important;
}

.nhs_CalculateMortgagePayments {
    height: 36px !important;
    padding-left: 39px !important;
    padding-top: 14px !important;
	background: url(/globalresourcesmvc/default/images/icons/steps_mortgage_calculator.png) no-repeat left 50% !important;    
}

.nhs_MortgageBox {
    padding: 0 0 0 5px;
    margin: 0 5px 25px 0;
}

#nhs_DetailsClaimYourListing {
    background-color: #dfe1e7;
    color: #333;
}
#nhs_DetailsClaimYourListing .btnCss {
    background-image: none;
    padding-right: 10px;
}