/* ---------------------------------------------
Title:      Move MVC Results Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Mar 15 2011
----------------------------------------------- */

.nhs_BoylResMainRow {
    border: 0;
    }
.nhs_CommResRow,
.nhs_CommResRowOn,
.nhs_BoylResultsRow,
.nhs_BoylResultsRowOn {	
	margin-bottom: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	}
.nhs_CommResRow,
.nhs_BoylResultsRow {
	border: 1px solid #e2e2e2;
	padding: 7px 6px 7px 6px;
	}
.nhs_CommResRowOn,
.nhs_CommResRowOpen,
.nhs_BoylResultsRowOn {
	border: 2px solid #515a69;
	padding: 6px 5px 6px 5px; 
	background: #EDEDED;
	}
.nhs_CommResRow a,
.nhs_CommResRowOn a,
.nhs_CommResRow h2 a,
.nhs_CommResSpecialRow a,
.nhs_CommResSpecialRowOn a,
#nhs_PartnerContainer .nhs_CommResRow h2 a,
.nhs_BoylResultsRow a,
.nhs_BoylResultsRowOn a {
	color: #497cbc;
	}
.nhs_CommResRow .nhs_ResultThumbOverlayImg,
.nhs_CommResRowOn .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRow .nhs_ResultThumbOverlayImg,
#nhs_PartnerContainer .nhs_CommResRowOn .nhs_ResultThumbOverlayImg {
	/*left: 1px;
	bottom: 1px;
	width: 180px;
	padding: 3px 0;
	background: #fff;
	font-size: 12px !important;
	opacity:0.85;
	filter:alpha(opacity=85)*/
	bottom: 4px;
	} 
.nhs_ResultNamePrice,
.nhs_ResultNamePrice h2,
.nhs_ResultNamePrice .nhs_ResultAddress,
.nhs_ResultCommStatus {

	} 
.nhs_ResultNamePrice h2 {
	font-size: 15px;
	}
.nhs_ResultPrice strong,
.nhs_ResultAddress {
	font-size: 12px;
	font-weight: normal;
	color: #333;
	}
.nhs_ResultBrandAddress {
	
	} 	
ul.nhs_ResultQVList .nhs_ResultQVListItemOn {
	border: 1px solid #e2e2e2;
	border-width: 0 0 1px 0;
	background-color: #EDEDED;
	}
	
#nhs_Facets,
#nhs_BuilderPromoBrands {
	background: #f5f5f5;
	border: 1px solid #ccc;
	}
#nhs_FacetsRefine {
	border: 0;
	color: #333;
	}
.nhs_FacetGroup,
.nhs_FacetLinks {
	border-bottom: 1px solid #ccc;
	}
.nhs_FacetGroupTitle,
.nhs_FacetLinks .nhs_LinkPromoTitle {	
	color: #333;
	}
.nhs_FacetPriceTextFrom {
	margin-left: 3px;
	}
.nhs_FacetPriceTextTo {
	margin-right: 3px;	
	}
.nhs_FacetGroupTitle span {
    background-position: 145px 50%;
	}
.nhs_FacetLinks {
	margin-left: 3px;
	width: 155px;
	}
	
.nhs_CommResListBox,
.nhs_CommResContentBox {
	background: none;
    border: 1px solid #E6E6E6;    
	border-top: 2px solid #3D434E;
    width: 948px;
	}
.nhs_CommResListBuilders {
	width: 638px;
	}
.nhs_CommResListBuilders h4 {
	background-color: #EDEDED;
    border-bottom: 1px solid #E2E2E2;
    width: 628px;
    margin: 0 0 10px 0;
    padding: 15px 10px 10px 10px; 
	}
	
	
/*======== BREADCRUMBS =========*/
#nhs_BreadcrumbArea { 
}
#nhs_Crumbs {
    margin: 0 auto;
    background: none;  
    width: 100%; 
    max-width: 970px;   
    /*background: #b1ce98;*/
    margin-bottom: 10px;  
}
#nhs_Crumbs nav > ol {	
	padding: 0 0.8333333333333333%;
}
#nhs_Crumbs nav > ol li a {
	color: #67ad45;
}
#nhs_Crumbs nav > ol li:before {	
	color: #67ad45;
}	
