/* ---------------------------------------------
Title:      Move MVC Homepage Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	May 4 2012
----------------------------------------------- */

/* =HomeContent */	
#nhs_HomeContent {
    clear: both;
    float: left;
    width: 970px;
    margin: 5px 0 0 0;
    padding: 0;
	font-family: Verdana,Geneva,sans-serif;
	font-size: small;
	border: 0px solid #000;
	background: #fff;
    }
* html #nhs_HomeContent {
	font-size: x-small; /* for IE5/WIN */
	f\ont-size: small; /* for other IE versions */
	}
#nhs_HomeContent fieldset {
	margin: 0;
	padding: 0;
	}
#nhs_HomeContent a:hover {
	text-decoration: underline;
	}	

#nhs_HomeSearchForm {
	float: left;
	margin: 0;
	padding: 0;
	width: 970px;
	height: 437px;
	background: #fff url(/globalresourcesmvc/move/images/backgrounds/homepage_search_bg.jpg) no-repeat left top;	 
	color: #fff;
	position: relative;
	}
#nhs_HomeSearchForm .field-validation-error {
	position: absolute;
	top: -2px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #ff0600;
	padding: 1px 5px;
	}
#nhs_HomeSearchText {
	position: absolute;
	top: 15px;
	left: 20px;	
	display: block;	
	background: url(/globalresourcesmvc/move/images/text_graphics/discover_your_new_home.png) no-repeat left top;
	border: 0;
	margin: 0;    
    padding: 41px 0 0 0;
    width: 465px;
    height: 0px !important;
    overflow: hidden;
	}
	
.nhs_HomeSearchBox {
    width: 470px; 
    height: 89px; 
    padding: 15px 0 0 14px; 
    margin:0; 
    background: url(/globalresourcesmvc/move/images/backgrounds/search_bg.png) no-repeat left top; 
    position: relative; 
    left: 20px;
    top: 65px;
    } 	
#nhs_HomeFormLocation {
	float: left;
	width: 440px;
	margin: 0;
	padding: 0;
	}
#nhs_HomeFormLocation #SearchText {
	float: left;
	display: inline;	
    width: 400px;
    height: 16px;    
    margin: 0 0 10px 0;
    padding: 7px 0 7px 5px;
    border-top: 1px solid #999; 
    border-right: none; 
    border-bottom: 1px solid #999; 
    border-left: 1px solid #999; 
    font-size: 15px;
    color:#444; 
    }
#nhs_HomeFormLocation #SearchText.nhs_LocationDefault {
    font-style: italic;
    color: #999;
    }
#nhs_HomeFormLocation input#Search {
	float: left;
	display: inline;
	background: url(/globalresourcesmvc/move/images/buttons/search_icon.jpg) no-repeat left top;
	border: 0;
	margin: 0;    
    padding: 32px 0 0 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
	}

#nhs_HomeFormPrice {
	float: left;
	clear: both;
	width: 450px;
	margin: 0;
	padding: 0;
	}
#nhs_HomeFormPrice select {
	float: left;
	display: block;
	width: 213px;
	height: 20px;
	margin: 0;
    padding: 0;
    border: 1px solid #999;
    color: #808080;
	}
#nhs_HomeFormPrice select.nhs_PriceTo {
    margin-left: 13px;
    }
#nhs_HomeAdvLink {
	position: absolute;
	bottom: 20px;
	right: 50px;	
	}
#nhs_HomeAdvLink a {
	color: #fff;
	text-decoration: underline;
	}

.nhs_PersonalBar {
	float: left;
	width: 958px; /*788px;*/
	margin: 3px 0 6px 0;
	padding: 6px 0 6px 12px;
	border: 1px solid #999;
	border-width: 1px 0;
	background: #dfdfde;
	font-size: 85%;
	font-weight: bold;
	color: #666;
	}
.nhs_PersonalBar a, 
.nhs_PersonalBar a:link, 
.nhs_PersonalBar a:visited, 
.nhs_PersonalBar a:active,
.nhs_PersonalBar a:hover {
	color: #24619e;
	}
.nhs_PersonalBar .nhs_SavedItems {
	padding: 5px 3px 5px 12px;
	}	
#nhs_HomeContent .nhs_PersonalBar {
	margin-top: 5px;
	}
#nhs_HomeContent .nhs_PersonalBar h1 {
	display: inline;
	margin: 0;
	font-size: 12px;
	}
#nhs_HomeContent .nhs_PersonalBar h2 {
	display: inline;
	margin: 0;
	font-size: 12px;
	}
	
.nhs_HomeColLeft {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 20px 0 0;
	padding: 0 19px 0 10px;
	width: 455px;
	}
.nhs_HomeColRight {
	border: 0;
	float: right;
	margin: 20px 0 0;
	padding: 0 10px 0 15px;
	width: 450px;
	}
	
#nhs_HomeBuilderBrands {
	float: left;
	width: 948px;
	padding: 10px;	
	border: 0;
	}
#nhs_HomeBuilderBrands > div {
	float: left;
	width: 936px;
	background: #fff;
	border: 0;
	padding: 12px 0 6px 10px;
	}
#nhs_HomeBrandsTextDiv {
	float: left;
	display: block;
	width: 926px;
	padding-bottom: 8px;
	line-height: 0.9;
	}
#nhs_HomeBrandsText {
	display: block;	
	background: url(/globalresourcesmvc/newhomesource/images/text_graphics/builders_you_trust.png) no-repeat left top;
	margin: 0 14px 0 0;    
    padding: 18px 0 0 0;
    width: 286px;
    height: 0px !important;
    overflow: hidden;
	}
ul#nhs_HomeBrandsList {
	float: left;
	list-style-type: none;
	width: 926px;
	margin: 0;
	padding: 5px 0;
	}	
ul#nhs_HomeBrandsList li {
	display: inline;
	float: left;
	margin: 0 10px;
	padding: 5px;
	background: #fff;		
	overflow: hidden;
	max-width: 200px;
	width: 200px;
	height: 65px;
	line-height: 65px;
	font-size: 77%;
	text-align: center;
	}
#nhs_HomeBrandsList img {
	max-width: 200px;
	vertical-align: middle;
	}
	
.nhs_HomeBody .ui-autocomplete {	
	border: 1px solid black;
	background-color: #fff;
	max-height: 160px;
	width: 270px;
	overflow: auto;
	margin: 0;
	padding: 0;	
	font-size: 116%;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;	
	}
.nhs_HomeBody .ui-autocomplete li {
	margin: 0;
	padding: 0;		
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
.nhs_HomeBody .ui-autocomplete li a {
	display: block;
	padding: 5px !important;
	cursor:pointer;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
.nhs_HomeBody .ui-autocomplete a#ui-active-menuitem {
	font-weight: bold;
	background: #9dbce3;
	color: #fff;
	border: 0;
	}