#mv_Container{position:relative;background-color:#fff;max-width:970px;margin:0 auto;}#mv_Header_wrapper,#nhs_FooterWrapper{float:none;position:relative;max-width:970px;margin:0 auto;}#nhs_ResFooter{margin-bottom:0;}