﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.BaseCommunityHomeResultsViewModel
@*BUILDER BRANDS*@
<p class="nhs_ResMatches">
    <strong>@LanguageHelper.BuildersInTheLocation.ToMvcHtmlString()</strong>
    <br />
  @LanguageHelper.SelectABuilder.ToMvcHtmlString()
</p>
<div class="nhs_BuilderRes clearfix">
    @foreach (var column in Model.BrandsList)
    {
        <ul>
            @foreach (var brand in column)
            {
                <li>
                    @Html.RenderBrandImage(Model, brand)
                    @Html.RenderBrandLink(Model, brand)
                </li>
            }
        </ul>
    }
</div>
@if (Model.BasicBrandsList.Any())
{
    @*BUILDER BRANDS - END*@
    @*OTHER BUILDERS*@
    <br />
    <p class="nhs_ResMatches">
        <strong>@LanguageHelper.OtherBuildersInTheArea.ToMvcHtmlString()</strong>
    </p>
    <div class="nhs_BuilderRes nhs_BuilderResOthers clearfix">
        @foreach (var column in Model.BasicBrandsList)
        {
            <ul>
                @foreach (var brand in column)
                {
                    <li>
                        @Html.RenderBrandSpan(Model, brand)
                    </li>
                }
            </ul>
        }
    </div>
}

