﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper

@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<div id="nhs_ResFacets" class="clearfix">
    <div id="nhs_FacetLocation">
        <div>
            <p>
                @LanguageHelper.Location.ToMvcHtmlString()</p>
            <a id="nhs_LocationSumary"></a>    
                    
            @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.Search, NhsMvc.Home.Name, true, "nhs_LocationSearchForm"))
            {
                <fieldset id="nhs_SearchBox">
                    <legend class="visuallyhidden">Location Search</legend>
                    @Html.Hidden("SearchType", string.Empty, new { id = "nhs_LocationSearchType" })
                    @Html.Hidden("resetSearchParams", false)
                    <div id="nhs_LocationSearchDivBox"><input id="nhs_LocationSearchTextBox" name="SearchText" type="text" placeholder="@LanguageHelper.EnterCityStZip" value=" " /></div>
                    <input type="submit" value="Search" id="nhs_LocationSubmit" />
                    <input type="submit" value="Search" id="nhs_LocationSubmitFake" style="display: none;" disabled="disabled" />
                </fieldset>
            }   
            <div id="nhs_LocationSearchBlock" style="display: none">
                <span>@LanguageHelper.SearchingMapArea.ToMvcHtmlString()</span>
                <span id="nhs_LocationSearchFormShow">x</span>
            </div>         
        </div>
        <div class="nhs_FacetBox">
            <div class="nhs_FacetBoxCol">
                <fieldset>
                    <legend>@LanguageHelper.Radius.ToMvcHtmlString()</legend>
                    <div id="nhs_LocationSlider">
                    </div>
                    <p>
                        @LanguageHelper.Exact.ToMvcHtmlString()</p>
                    <p class="nhs_Last">
                        25 mi</p>
                    <p id="DistanceSet">
                        @LanguageHelper.ExactLocation.ToMvcHtmlString()</p>
                </fieldset>
            </div>
            <div id="nhs_CityFacets" class="nhs_FacetBoxCol nhs_Last"></div>
            <p class="nhs_FacetActions">
                <a href="javascript:void(0)" class="nhs_CancelFacets">@LanguageHelper.Cancel.ToMvcHtmlString()</a> <a id="nhs_UpdateLocationFacet" class="btnCss nhs_ApplyFacets"
                    href="javascript:void(0)">@LanguageHelper.Update.ToMvcHtmlString()</a></p>
            <p class="nhs_FacetCounts"></p>
        </div>
    </div>
    <div id="nhs_FacetPrice">
        <div>
            <p>@LanguageHelper.Price.ToMvcHtmlString()</p>
            <ul id="nhs_PriceSummary">
            </ul>
        </div>
        <div class="nhs_FacetBox">
            <fieldset>
                <legend>@LanguageHelper.Price.ToMvcHtmlString()</legend>
                <div id="nhs_PriceSlider">
                </div>
                <p>
                    <label for="PriceLow">
                       @LanguageHelper.Min.ToMvcHtmlString():</label><br />
                    <input id="PriceLow" type="text" value="@LanguageHelper.NoMin" />
                    <span>@LanguageHelper.To.ToMvcHtmlString()</span></p>
                <p class="nhs_Last">
                    <label for="PriceHigh">
                        @LanguageHelper.Max.ToMvcHtmlString():</label><br />
                    <input id="PriceHigh" type="text" value="@LanguageHelper.NoMax" /></p>
            </fieldset>
            <p class="nhs_FacetActions">
                <a href="javascript:void(0)" class="nhs_CancelFacets">@LanguageHelper.Cancel.ToMvcHtmlString()</a> <a class="btnCss nhs_ApplyFacets"
                    href="javascript:void(0)">@LanguageHelper.Update.ToMvcHtmlString()</a></p>
            <p class="nhs_FacetCounts"></p>
        </div>
    </div>
    <div id="nhs_FacetBedBath">
        <div>
            <p>
                @LanguageHelper.Beds.ToMvcHtmlString() &amp; @LanguageHelper.Baths.ToMvcHtmlString()</p>
            <ul id="nhs_BedsAndBathSummary">
            </ul>
        </div>
        <div class="nhs_FacetBox" id="nhs_Facets_Bedrooms_Bathrooms">
            <fieldset>
                <legend>@LanguageHelper.Bedrooms.ToMvcHtmlString()</legend>
                <input name="Beds" id="BedsAny" type="radio" value="0" checked="checked" />
                <label for="BedsAny">
                    @LanguageHelper.All.ToMvcHtmlString()</label>
                <input name="Beds" id="Beds1" type="radio" value="1" />
                <label for="Beds1">
                    1+</label>
                <input name="Beds" id="Beds2" type="radio" value="2" />
                <label for="Beds2">
                    2+</label>
                <input name="Beds" id="Beds3" type="radio" value="3" />
                <label for="Beds3">
                    3+</label>
                <input name="Beds" id="Beds4" type="radio" value="4" />
                <label for="Beds4">
                    4+</label>
                <input name="Beds" id="Beds5" type="radio" value="5" />
                <label for="Beds5">
                    5+</label>
            </fieldset>
            <fieldset>
                <legend>@LanguageHelper.Bathrooms.ToMvcHtmlString()</legend>
                <input name="Baths" id="BathsAny" type="radio" value="0" checked="checked" />
                <label for="BathsAny">
                    @LanguageHelper.All.ToMvcHtmlString()</label>
                <input name="Baths" id="Baths1" type="radio" value="1" />
                <label for="Baths1">
                    1+</label>
                <input name="Baths" id="Baths2" type="radio" value="2" />
                <label for="Baths2">
                    2+</label>
                <input name="Baths" id="Baths3" type="radio" value="3" />
                <label for="Baths3">
                    3+</label>
                <input name="Baths" id="Baths4" type="radio" value="4" />
                <label for="Baths4">
                    4+</label>
                <input name="Baths" id="Baths5" type="radio" value="5" />
                <label for="Baths5">
                    5+</label>
            </fieldset>
            <p class="nhs_FacetActions">
                <a href="javascript:void(0)" class="nhs_CancelFacets">@LanguageHelper.Cancel.ToMvcHtmlString()</a> <a class="btnCss nhs_ApplyFacets" href="javascript:void(0)">@LanguageHelper.Update.ToMvcHtmlString()</a></p>
            <p class="nhs_FacetCounts"></p>
        </div>
    </div>
    <div id="nhs_FacetSchools">
        <div>
            <p>
                @LanguageHelper.Schools.ToMvcHtmlString()</p>
            <ul id="nhs_SchoolDistrictsSummary">
            </ul>
        </div>
        <div class="nhs_FacetBox">
            <fieldset>
                <legend>@LanguageHelper.SchoolDistricts.ToMvcHtmlString()</legend>
                <ul id="nhs_Facets_School"></ul>
            </fieldset>
            <p class="nhs_FacetActions">
                <a href="javascript:void(0)" class="nhs_CancelFacets">@LanguageHelper.Cancel.ToMvcHtmlString()</a> <a class="btnCss nhs_ApplyFacets"
                    href="javascript:void(0)">@LanguageHelper.Update.ToMvcHtmlString()</a></p>
            <p class="nhs_FacetCounts"></p>
        </div>
    </div>
    <div id="nhs_FacetMore">
        <div>
            <p>
                @LanguageHelper.More.ToMvcHtmlString()</p>
            <ul id="nhs_MoreSummary">
            </ul>
        </div>
        <div class="nhs_FacetBox">
            <div class="nhs_FacetBoxCol nhs_First">
                <fieldset class="nhs_ToggleVertical">
                    <legend>@LanguageHelper.HomeType.ToMvcHtmlString()</legend>
                    <input name="HomeType" id="HomeTypeAny" type="radio" value="0" checked="checked" />
                    <label for="HomeTypeAny">
                        @LanguageHelper.AllHomeTypes.ToMvcHtmlString()</label>
                    <input name="HomeType" id="HomeTypeSingle" type="radio" value="1" />
                    <label for="HomeTypeSingle">
                        @LanguageHelper.SingleFamily.ToMvcHtmlString()</label>
                    <input name="HomeType" id="HomeTypeCondo" type="radio" value="2" />
                    <label for="HomeTypeCondo">
                        @LanguageHelper.CondoTownhome.ToMvcHtmlString()</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.HomeStatus.ToMvcHtmlString()</legend>
                    <input name="HomeStatus" id="HomeStatusAll" type="radio" value="0" checked="checked" />
                    <label for="HomeStatusAll">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="HomeStatus" id="HomeStatusQuick" type="radio" value="1" />
                    <label for="HomeStatusQuick">
                        @LanguageHelper.QuickMoveIn.ToMvcHtmlString()</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.SpecialOffers.ToMvcHtmlString()</legend>
                    <input name="Offers" id="OffersAll" type="radio" value="0" checked="checked" />
                    <label for="OffersAll">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="Offers" id="OffersDeals" type="radio" value="1" />
                    <label for="OffersDeals">
                        @LanguageHelper.HotDeal.ToMvcHtmlString()</label>
                </fieldset>
            </div>
            <div class="nhs_FacetBoxCol">
                <fieldset>
                    <legend>@LanguageHelper.Garages.ToMvcHtmlString()</legend>
                    <input name="Garages" id="GaragesAny" type="radio" value="0" checked="checked" />
                    <label for="GaragesAny">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="Garages" id="Garages1" type="radio" value="1" />
                    <label for="Garages1">
                        1+</label>
                    <input name="Garages" id="Garages2" type="radio" value="2" />
                    <label for="Garages2">
                        2+</label>
                    <input name="Garages" id="Garages3" type="radio" value="3" />
                    <label for="Garages3">
                        3+</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.LivingAreas.ToMvcHtmlString()</legend>
                    <input name="LivingAreas" id="LivingAreasAny" type="radio" value="0" checked="checked" />
                    <label for="LivingAreasAny">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="LivingAreas" id="LivingAreas1" type="radio" value="1" />
                    <label for="LivingAreas1">
                        1+</label>
                    <input name="LivingAreas" id="LivingAreas2" type="radio" value="2" />
                    <label for="LivingAreas2">
                        2+</label>
                    <input name="LivingAreas" id="LivingAreas3" type="radio" value="3" />
                    <label for="LivingAreas3">
                        3+</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.StoriesFloors.ToMvcHtmlString()</legend>
                    <input name="Stories" id="StoriesAny" type="radio" value="0" checked="checked" />
                    <label for="StoriesAny">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="Stories" id="Stories1" type="radio" value="1" />
                    <label for="Stories1">
                        1+</label>
                    <input name="Stories" id="Stories2" type="radio" value="2" />
                    <label for="Stories2">
                        2+</label>
                    <input name="Stories" id="Stories3" type="radio" value="3" />
                    <label for="Stories3">
                        3+</label>
                </fieldset>
                <fieldset>
                    <legend>@LanguageHelper.MasterBedroom.ToMvcHtmlString()</legend>
                    <input name="MasterBed" id="MasterBedAny" type="radio" value="0" checked="checked" />
                    <label for="MasterBedAny">
                        @LanguageHelper.All.ToMvcHtmlString()</label>
                    <input name="MasterBed" id="MasterBedU" type="radio" value="1" />
                    <label for="MasterBedU">
                        @LanguageHelper.Up.ToMvcHtmlString()</label>
                    <input name="MasterBed" id="MasterBedD" type="radio" value="2" />
                    <label for="MasterBedD">
                        @LanguageHelper.Down.ToMvcHtmlString()</label>
                </fieldset>
            </div>
            <div class="nhs_FacetBoxCol" id="nhs_Facet_Amenities">
                <fieldset>
                    <legend>@LanguageHelper.Amenities.ToMvcHtmlString()</legend>
                    <ul>
                        <li>
                            <input id="AmenitiesAny" type="checkbox" value="Any" checked="checked" />
                            <label for="AmenitiesAny">
                                <span>@LanguageHelper.AllAmenities.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesGreen" type="checkbox" value="1" />
                            <label for="AmenitiesGreen">
                                <span>@LanguageHelper.GreenFeatures.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesPool" type="checkbox" value="2" />
                            <label for="AmenitiesPool">
                                <span>@LanguageHelper.Pool.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesGolf" type="checkbox" value="3" />
                            <label for="AmenitiesGolf">
                                <span>@LanguageHelper.GolfCourse.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesGated" type="checkbox" value="4" />
                            <label for="AmenitiesGated">
                                <span>@LanguageHelper.GatedCommunity.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesPark" type="checkbox" value="5" />
                            <label for="AmenitiesPark">
                                <span>@LanguageHelper.Parks.ToMvcHtmlString()</span></label>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <input id="AmenitiesNatureArea" type="checkbox" value="6" />
                            <label for="AmenitiesNatureArea">
                                <span>@LanguageHelper.NatureAreas.ToMvcHtmlString()</span></label>
                        </li>
                        <li>
                            <input id="AmenitiesView" type="checkbox" value="7" />
                            <label for="AmenitiesView">
                                <span>@LanguageHelper.Views.ToMvcHtmlString()</span></label>
                        </li>                        
                        <li>
                            <input id="AmenitiesWaterfront" type="checkbox" value="8" />
                            <label for="AmenitiesWaterfront">
                                <span>@LanguageHelper.Waterfront.ToMvcHtmlString()</span></label>
                        </li>              
                        <li>
                            <input id="AmenitiesSportFacility" type="checkbox" value="9" />
                            <label for="AmenitiesSportFacility">
                                <span>@LanguageHelper.SportFacilities.ToMvcHtmlString()</span></label>
                        </li>              
                        <li>
                            <input id="AmenitiesAdultCommunity" type="checkbox" value="10" />
                            <label for="AmenitiesAdultCommunity">
                                <span>@LanguageHelper.AdultSeniorCommunity.ToMvcHtmlString()</span></label>
                        </li>              
                    </ul>
                </fieldset>
            </div>
            <div class="nhs_FacetBoxCol nhs_Last">
                <p>
                    <label for="BuilderName">
                        @LanguageHelper.Builder.ToMvcHtmlString()</label><br />
                    <select id="BuilderName">
                    </select>
                </p>
                <p>
                    <label for="CommName">
                        @LanguageHelper.CommunityName.ToMvcHtmlString()</label><br />
                    <select id="CommName">
                    </select>
                </p>
                <p>
                    <label for="CommStatus">
                        @LanguageHelper.CommunityStatus.ToMvcHtmlString()</label><br />
                    <select id="CommStatus">
                        <option value="" selected="selected">@LanguageHelper.AllStatus.ToMvcHtmlString()</option>
                        <option value="G">@LanguageHelper.GrandOpening.ToMvcHtmlString()</option>
                        <option value="C">@LanguageHelper.ComingSoon.ToMvcHtmlString()</option>
                        <option value="X">@LanguageHelper.CloseOut.ToMvcHtmlString()</option>
                    </select>
                </p>
            </div>
            <div class="clearfix"></div>
            <p class="nhs_FacetActions">
             <a href="javascript:void(0)" class="nhs_CancelFacets">
                    @LanguageHelper.Cancel.ToMvcHtmlString()</a> <a class="btnCss nhs_ApplyFacets" href="javascript:void(0)">@LanguageHelper.Update.ToMvcHtmlString()</a></p>
            <p class="nhs_FacetCounts"></p>
        </div>
    </div>
</div>
