﻿@using Nhs.Web.UI.AppCode.Helper
@model IEnumerable<Nhs.Library.Business.ExtendedCommunityResult>

<div id="nhs_featuredAreaContent" class="nhs_FeaturedRes clearfix">
    <p class="visuallyhidden">@LanguageHelper.FeaturedCommunities.ToMvcHtmlString()</p>
    @foreach (var result in Model)
    {
        <div class="nhs_FeaturedResItem">
            <div class="nhs_ItemImages">
                @Html.GetFeaturedListingImageLink(result)                
                <p>@LanguageHelper.Featured.ToMvcHtmlString()</p>
            </div>
            <p>
                @Html.GetFeaturedListingLink(result, result.CommunityName)
            </p>
            <div class="nhs_ItemData1">
                <p>@result.CommunityItemPriceRange()</p>
            </div>
            <ul class="nhs_Actions">
                @*<li>@Html.GetFreeBrochureLink(result, "Free Brochure", "btn_FreeBrochure")</li>*@
                <li>@Html.GetFeaturedListingLink(result, LanguageHelper.ViewHome + " >")</li>
            </ul>
        </div>
    }
</div>