﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Library.Helpers.Content
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FindCustomBuilders
<!-- CUSTOM BUILDER -->
<div class="nhs_ResCustomItem clearfix">
    <div class="nhs_ResAdBox">
        <p class="visuallyhidden">
            @LanguageHelper.Advertisement.ToMvcHtmlString()</p>
        <div id="nhs_MiddleCenterSq">
        </div>
    </div>
    <div class="nhs_ResCustomBox clearfix">
        <h2>
            @Html.NhsLink(LanguageHelper.FindCustomBuilders + " " + (PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? "Área de " + Model.MarketName : Model.MarketName + " Area"), Pages.BOYLResults,
                new List<RouteParam>
                {
                    new RouteParam(RouteParams.Market, Model.MarketId)
                },
                new
                {
                    onclick = "if(logger) { logger.logEventWithParameters('CRBOYL', {async : false}); } jQuery.googlepush('Lead Events', 'Search Results CTA Custom Builder Listings', 'Open Form – Custom Builder Listings')"
                })
        </h2>
        <p>@LanguageHelper.SeeMoreCustom.ToMvcHtmlString()</p>
        @foreach (var builder in Model.FindCustomBuildersBuilders)
        {
            <div>
                <div class="nhs_ItemImages">
                    @if (builder.BuildeImage != string.Empty)
                    {
                        <img src="@builder.BuildeImage" alt="@builder.BuildeName" />    
                    }
                </div>
                <p>
                    @builder.BuildeName</p>
            </div>
        }
        @Html.BoylLinkResult(Model)
    </div>
</div>
<hr class="hidden" />
<!-- CUSTOM BUILDER - END -->
