﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<footer id="nhs_ResFooter" class="clearfix">
    @if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
        || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
        || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
    {
        <aside id="nhs_ResFooterAdBox">
            <div>
                <p class="visuallyhidden">@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                <div id="nhs_TopBannerFooter"></div>
            </div>
        </aside>
    }
    <a class="nhs_BackToTop" href="#nhs_Skip" onclick="jQuery.googlepush('Search Events', 'Search Results', 'Back to Top')">@LanguageHelper.BackToTop.ToMvcHtmlString()</a>
    <div class="clearfix"></div>
    <div class="nhs_CommResListBox">
        <div class="nhs_CommResListBuilders">
            <h2>
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                {
                    @LanguageHelper.FindNewHomeCommunities.ToMvcHtmlString()
                }
                else
                {
                    @LanguageHelper.SearchForNewHomeCommunities.ToMvcHtmlString()
                }
            </h2>
            @if (Model.CitiesCols.Any())
            {
                foreach (var citiesCol in Model.CitiesCols)
                {
                    <ul>
                        @foreach (var city in citiesCol)
                        {
                            <li>
                                @Html.CityFooterLinks(city.CityName, city.CRParams(Model.Market.MarketId), Model.Market.MarketId)
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        @if ((Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove) && Model.ZipCodesCols.Any())
        {
            <div class="nhs_CommResListBuilders">
                <h2>
                    @LanguageHelper.FindNewHomesByAipCode.ToMvcHtmlString()</h2>
                @foreach (var zipCodesCol in Model.ZipCodesCols)
                {
                    <ul>
                        @foreach (var zipCode in zipCodesCol)
                        {
                            <li>@Html.GetZipCodeLink(Model, zipCode)</li>
                        }
                    </ul>
                }
            </div>
        }
        @if (Model.SeoCommunityCols.Any())
        {
            <h2>
                @LanguageHelper.FindNewMarketName.Replace("[MarketName ]", Model.Market.MarketName).ToMvcHtmlString()
            </h2>
            <div class="nhs_CommResListBuilders">
                @foreach (var seoCommunityCol in Model.SeoCommunityCols)
                {
                    <ul>
                        @foreach (var seoCommunity in seoCommunityCol)
                        {
                            <li>@Html.GetSeoCommunityLink(seoCommunity)</li>
                        }
                    </ul>
                }
            </div>
        }
    </div>
    <div id="nhs_ComingSoonActiveAdultLinks">
        @if (Model.ShowComingSoonLink && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
            <p>
                @Html.CommingSonFooterLink(Model.Market.MarketName, Model.Market.MarketId)
            </p>
        }
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
        {
            <p>
                @Html.ActiveAdultFooterLink(LanguageHelper.ActiveAdultAnd55Communitie, Model.Market.MarketId)
            </p>
        }
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
        {
            <p>
                @Html.ActiveAdultFooterLink(LanguageHelper.ActiveAdultDevelopments, Model.Market.MarketId)
            </p>
        }
    </div>
</footer>
