﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Helpers.Seo
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<span class="clearfix"></span>
<header id="nhs_ResMarketInfo" class="clearfix">
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        <div id="nhs_ResMktMap" class="clearfix">
            <img src="@Model.GoogleStaticMapUlr" class="nhs_header_static_map" alt="Map" />
            <a href="javascript:void(0)" class="nhs_OpenMap">@LanguageHelper.MapView.ToMvcHtmlString() ></a>
        </div>
    }

    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
    {
        <div id="mv_ResMktHeader" class="clearfix">
            <h1>
                @(Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State, Model.County,
               Model.Zip, Model.CommunityName, Model.BrandName,
               Model.BrandId.ToString(CultureInfo.InvariantCulture), Model.SeoContentTags,
               Model.SeoTemplateType, "heading1", Model.SrpPageType == SearchResultsPageType.HomeResults
                        ? SrpTypeEnum.HomeResults
                        : SrpTypeEnum.CommunityResults))
            </h1>
            <p>
                <a id="nhs_ShowAreaInfo">Show area info</a>
            </p>
            @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.ListAndMap, Model); }
        </div>
    }
    <div id="nhs_ResMktTxt" @(!string.IsNullOrEmpty(Model.MarketBackgroundImagePath) ? "style=\"background-image: url('/Model.MarketBackgroundImagePath');\"" : "")>

        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
        {
            <h1>
                @Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State, Model.County, Model.Zip,
                    Model.CommunityName, Model.BrandName, Model.BrandId.ToString(CultureInfo.InvariantCulture), Model.SeoContentTags, Model.SeoTemplateType, "heading1", Model.SeoType)
            </h1>
        }
        <div id="nhs_SeoContentArea" @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "style=display:none" : "")>
            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
            {
                <div id="nhs_ResMktMap" class="clearfix">
                    <img src="@Model.GoogleStaticMapUlr" class="nhs_header_static_map" alt="Map" />
                    <a href="#" class="nhs_OpenMap">@LanguageHelper.MapView.ToMvcHtmlString() ></a>
                </div>
            }
            <div>
                @Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State,
                                      Model.County, Model.Zip, Model.CommunityName, Model.BrandName, Model.BrandId.ToString(CultureInfo.InvariantCulture), Model.SeoContentTags, Model.SeoTemplateType, "footer", Model.SeoType)
            </div>
            <div>
                @if (Model.Globals.PartnerLayoutConfig.DoesPartnerAllowsSeoLinkPromotions)
                {
                    Html.RenderAction(NhsMvc.PartialViews.ActionNames.SeoLinkPromotion, NhsMvc.PartialViews.Name);
                }
            </div>
        </div>
    </div>
</header>
