﻿@using Nhs.Web.UI.AppCode.Helper
<ul id="nhs_ResViewType">
    <li class="nhs_ViewTypeList"><a id="nhs_List" @{if (!Request.IsAjaxRequest()) { <text> class="nhs_Active" </text>    } } href="javascript:void(0)">@LanguageHelper.List.ToMvcHtmlString()</a></li>
    <li class="nhs_ViewTypeMap"><a id="nhs_MapShow" href="javascript:void(0)">@LanguageHelper.Map.ToMvcHtmlString()</a></li>
</ul>
