﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<div id="nhs_MapContainer" style="display: none;">
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.SearchWithMap, Model);
    }
    <div class="clearfix">
    </div>
    <div id="nhs_ResMap" class="clearfix">
        <div id="nhs_Map">
        </div>
        <aside class="clearfix">
            @{ var mapWithAdd = Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
                                || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
                                || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove; }
            <ul @(mapWithAdd ? "class=nhs_ResMapWithAd" : "")>
                <li id="liMap_Msg1" class="nhs_Map_Msg">
                    @LanguageHelper.UseTheZoomTools.ToMvcHtmlString()
                </li>
                <li id="liMap_Msg2" class="nhs_Map_Msg">
                    @LanguageHelper.SomeResultsCouldNotBeMapped.ToMvcHtmlString()
                </li>
            </ul>
            @if (mapWithAdd)
            {
                <div class="nhs_ResAdBox">
                    <p class="visuallyhidden">
                        @LanguageHelper.Advertisement.ToMvcHtmlString()
                    </p>
                    <div id="nhs_TopBanner">
                    </div>
                </div>
            }
        </aside>
    </div>
</div>
