﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.BaseCommunityHomeResultsViewModel
@if (Model.ResultCounts.BlCount > 0 && Model.SrpPageType == SearchResultsPageType.CommunityResults)
{
    <div class="nhs_NoRes clearfix">
        <p>
            @LanguageHelper.WeDidNotFindAnyCommunitiesIn.ToMvcHtmlString() @Model.Market.MarketName, @Model.Market.StateAbbr.
        </p>
        <p>
            But we found <a href="javascript:void(0)" id="nhs_showTabHome">@Model.ResultCounts.BlCount Home@(Model.ResultCounts.BlCount > 1 ? "s" : "")</a>
        </p>
    </div>
}
else
{
    <div class="nhs_NoRes clearfix">
        <p>
            <strong>@LanguageHelper.YouCan.ToMvcHtmlString()</strong></p>
        <ul>
            <li>@LanguageHelper.BroadenYourLocationRadius.ToMvcHtmlString()</li>
            <li>@LanguageHelper.IncreaseYourPriceRange.ToMvcHtmlString()</li>
            @Html.GetNoResultsGreaterArea(Model)
        </ul>
    </div>
}
@if (Model.ResultCounts.CommCount > 0 || Model.ResultCounts.HomeCount > 0)
{
    <div id="nhs_builderTabAreaContent" class="nhs_tabContents" style="display: none">

    </div>
}
<hr class="hidden" />
<script type="text/javascript">
    jQuery(document).ready(function () {
        if (commResults !== undefined) {
            jQuery("#ReloadComResults").on("click", function (event) {
                jQuery.NhsCancelEventAndStopPropagation(event);
                commResults.resetFacets(true);
            });
        }
        
    });

</script>