﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<div id="nhs_ResPaging" class="clearfix">
    <nav class="clearfix">
    <p id="nhs_PageCount">
        <select id="nhs_PageCountSelect">
            <option @(Model.PageSize == 10 ? "selected=selected" : "") value="10">10 @LanguageHelper.PerPage.ToMvcHtmlString()</option>
            <option @(Model.PageSize == 25 ? "selected=selected" : "") value="25">25 @LanguageHelper.PerPage.ToMvcHtmlString()</option>
            <option @(Model.PageSize == 50 ? "selected=selected" : "") value="50">50 @LanguageHelper.PerPage.ToMvcHtmlString()</option>
        </select>
    </p>
    @Model.Pagination()
    </nav>
</div>
