﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.MapPopupViewModel
<div style="padding-left: 9px;">
    <div id="nhs_MapPopup" class="nhs_MapPopup">
    </div>
</div>
<style type="text/css">
    .nhs_MapPopup
    {
        width: 500px;
        height: 500px;
    }
    #nhs_MapPopup img
    {
        max-width: none;
    }
    .nhs_MapHoverCard
    {
        width: 210px;
        line-height: 1.8;
        padding: 0; 
    }
    .nhs_MapHoverCard a:hover
    {
        text-decoration: none;
    }
    .nhs_MapHoverCard h2
    {
        font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	    font-size: 16px !important;
        font-weight: normal;
        margin: 0;
        line-height: 1.1;
    }
    .nhs_MapHoverCard p.nhs_Price
    {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px !important;
        color: #4b4b4b;
    }
    /*.nhs_MapHoverCard span
    {
        float: right;
        display: inline-block;
        width: 21px;
        height: 0;
        margin: 8px 0 8px 10px;
        padding: 41px 0 0 0;
        overflow: hidden;
        background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50%;
    } */
</style>
<script type="text/javascript">
    var iconToUse = "@(GlobalResources14.Default.images.icons.map_poi_gray_png)";
    
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        @:iconToUse = "@(GlobalResources14.Default.images.icons.map_poi_blue_png)";
    }
    
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
    {
        @:iconToUse = "@(GlobalResources14.Default.images.icons.map_poi_green_png)";
    }
        
    jQuery(document).ready(function() {
        var parameters = {
            propertyId: '@Model.PropertyId',
            icon: iconToUse,
            latitude: '@Model.Latitude',
            longitude: '@Model.Longitude',
            communityName: "@Model.CommunityName",
            priceRange: "@Model.PriceRange",
            OptionsForMap: {
                MapOptions: {
                    Latitude: '@Model.Latitude',
                    Longitude: '@Model.Longitude',
                    Zoom: 13,
                    ContainerName: 'nhs_MapPopup',
                    zoomControl: true,
                    disableDefaultUI: true,
                    panControl: true,
                    ZoomControlStyle: 'SMALL'
                },
                MarkerPointAsynOptions: {
                    Listener: 'idle',
                    UrlServer: null
                },
                MinZoom: 9,
                Loader: "@(Configuration.ResourceDomain)/GlobalResourcesMvc/Default/images/map/NHS_loader.gif",
                UseClusterer: false,
                ProcessResultOptions: {
                    Latitude: 'Latitude',
                    Longitude: 'Longitude',
                    Name: 'CommunityName'
                },
                Events: {
                    InfowindowReadyCallBack:null  
                }
            }
        };

        var map = new NHS.Scripts.CommunityResults.MapPopup(parameters);
        map.init();
    });
</script>
