﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.BaseCommunityHomeResultsViewModel
@using System.Linq
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper

@if ((Model.ResultCounts.CommCount == 0 && Model.SrpPageType == SearchResultsPageType.CommunityResults) || (Model.ResultCounts.HomeCount == 0 && Model.ResultCounts.BlCount == 0 && Model.SrpPageType == SearchResultsPageType.HomeResults))
{
    Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.NoResults);
}
else
{
    <hr class="hidden" />
    if (Model.ShowCitySearch)
    {
        <div class="nhs_NoRes clearfix">
            <p>
                <strong>@LanguageHelper.WeMatchedYourSearch.ToMvcHtmlString()</strong>
            </p>
            <p>
                @Html.RenderShowOnlyResults(Model.Market.MarketName, Model.Market.StateAbbr, Model.Market.MarketId)
            </p>
        </div>
        <hr class="hidden" />
    }

    <div id="nhs_communityTabAreaContent" class="nhs_tabContents">
    @if (Model.SrpPageType == SearchResultsPageType.CommunityResults)
    {

        if (Model.FeaturedListingsTop.Any())
        {
            Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.FeaturedListings, Model.FeaturedListingsTop);
        }
        
        var i = 0;
        foreach (var communityItem in Model.CommunityResults)
        {
            i++;
            Html.RenderPartial(communityItem.IsBasic == 1 ? NhsMvc.Default.Views.CommunityResultsV2.Community.BasicCommunityItem : NhsMvc.Default.Views.CommunityResultsV2.Community.CommunityItem, communityItem);
            if (Model.FindCustomBuilders.Show && (i == 5 || (i == Model.CommunityResults.Count() && Model.CommunityResults.Count() < 6)) && Model.FindCustomBuilders.FindCustomBuildersBuilders.Any())
            {
                Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.FindCustomBuilders, Model.FindCustomBuilders);
            }
        }

        if (Model.FeaturedListingsBottom.Any())
        {
            Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.FeaturedListings, Model.FeaturedListingsBottom);
        }   
    }
    </div>
       
    <div id="nhs_homeTabAreaContent" class="nhs_tabContents">
        @if (Model.SrpPageType == SearchResultsPageType.HomeResults)
        {
            var i = 0;
            foreach (var homeItem in Model.HomeResults)
            {
                i++;
                Html.RenderPartial(homeItem.IsBl == 1 || homeItem.IsBasic == 1 ? NhsMvc.Default.Views.CommunityResultsV2.Home.BasicHomeItem : NhsMvc.Default.Views.CommunityResultsV2.Home.HomeItem, homeItem);
                if (Model.FindCustomBuilders.Show && (i == 5 || (i == Model.HomeResults.Count() && Model.HomeResults.Count() < 6)) && Model.FindCustomBuilders.FindCustomBuildersBuilders.Any())
                {
                    Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.FindCustomBuilders, Model.FindCustomBuilders);
                }
            }
        }
    </div>
    <div id="nhs_builderTabAreaContent" class="nhs_tabContents" style="display: none">
    </div>
}
<input type="hidden" value="@Model.ResultCounts.CommCount" id="nhs_CommCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.HomeCount" id="nhs_CommHomeCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.BlCount" id="nhs_BlCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.HotDealsCount" id="nhs_HotDealsCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.QmiCount" id="nhs_QmiCount" class="visuallyhidden" />
@if (Model.IsTriggerFacets)
{
    <script type="text/javascript">
        var Brands = @Model.BrandsJSon.ToMvcHtmlString();
        var Communities = @Model.CommunitiesJSon.ToMvcHtmlString();
        var SchoolDistricts = @Model.SchoolDistrictsJSon.ToMvcHtmlString();
        var Citys = @Model.CitysJSon.ToMvcHtmlString();
        var SearchParameters = @Model.SearchParametersJSon.ToMvcHtmlString();
    </script>
}

<script type="text/javascript">
    jQuery(document).ready(function() {
        @Html.LogEventWithParameters(LogImpressionConst.CommunityResults,"builderCommunityList",Model.CommunitiesIdList,Model.Market.MarketId)
        @Html.LogEventWithParameters(LogImpressionConst.BasicListingHomeResults,"basicListingList",Model.BasicListingsIdList,Model.Market.MarketId)
        @Html.LogEventWithParameters(LogImpressionConst.BasicCommsCommunityResults,"basicListingList",Model.BasicCommunitiesIdList,Model.Market.MarketId)
        @Html.LogEventWithParameters(LogImpressionConst.HomeResults,"homeList",Model.HomesIdList,Model.Market.MarketId)
    });
</script>
