﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<div id="nhs_ResultList">
    <div>
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
        {
            <p id="totalCounts" class="nhs_ResMatches">
                @Model.CreateCounts()
            </p>
        }
        <div class="nhs_ResRefine clearfix">
            <p id="nhs_QmiOptions" class="nhs_ToggleButtons" >
                <span id="nhs_allQmi" class="nhs_Active">@LanguageHelper.All.ToMvcHtmlString()</span> <a id="nhs_qmilnk" href="@Model.QuickMoveInUrl">
                    @LanguageHelper.QuickMoveIn.ToMvcHtmlString()</a></p>
            <p class="nhs_ToggleButtons" id="nhs_HotDealsOptions"> 
                <span id="nhs_allHotDeals" class="nhs_Active">@LanguageHelper.All.ToMvcHtmlString()</span> <a id="nhs_HotHomeslnk" href="@Model.HotDealsUrl" >
                    @LanguageHelper.HotDeals.ToMvcHtmlString()</a>
            </p>
            <p class="nhs_ResSort">
                <label for="ResultSort">
                    @LanguageHelper.SortBy.ToMvcHtmlString()</label>
                <select class="nhs_SortBy" id="nhs_CommunitySortBy" style="@(Model.SrpPageType == SearchResultsPageType.CommunityResults ? "" : "display:none;")">
                    @foreach (var option in Model.CommunitySortBy)
                    {
                        <option value="@option.SortBy" sortorder="@option.SortOrder.ToString().ToLower()" @(option.SortBy == Model.SortBy && option.SortOrder == Model.SortOrder ? "selected=selected" : "")>@option.Name</option>
                    }
                </select>
                <select class="nhs_SortBy" id="nhs_HomeSortBy" style="@(Model.SrpPageType == SearchResultsPageType.HomeResults ? "" : "display:none;")">
                    @foreach (var option in Model.HomeSortBy)
                    {
                        <option value="@option.SortBy" sortorder="@option.SortOrder.ToString().ToLower()" @(option.SortBy == Model.SortBy && option.SortOrder == Model.SortOrder ? "selected=selected" : "")>@option.Name</option>
                    }
                </select>
            </p>
        </div>
        <div id="nhs_Results">
            @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.ResultsData, Model);}
        </div>
    </div>
</div>
