﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<div class="nhs_ResMapAreaToggle" @(!Model.SearchMapArea ? "style=display:none" : "")>
    <p>
        <input id="SearchMapArea" type="checkbox" @(Model.SearchMapArea ? "checked=checked" : "") />
        <label for="SearchMapArea">
            <span>@LanguageHelper.SearchWithinMap.ToMvcHtmlString()</span></label></p>
    @if (!Model.SearchMapAreaConfirmed)
    {
        <div id="SearchMapAreaConfirm">
            <a href="#" id="btn_CloseSearchWithinMap" onclick=" return false; ">X</a>
            <p>
                @LanguageHelper.WouldYouLikeToSearch.ToMvcHtmlString()
                <br />
                <a id="btn_SearchWithinMap" class="btnCss" onclick=" return false; " href="#">@LanguageHelper.Yes.ToMvcHtmlString()</a>
                <a id="btn_NoSearchWithinMap" class="btnCss" onclick=" return false; " href="#">@LanguageHelper.No.ToMvcHtmlString()</a></p>
        </div>
    }
</div>
