﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
@using System.Globalization
@using System.Web
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
<div id="nhs_seoContentHeader">
    @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.HeaderInformation, Model); }    
</div>
<hr class="hidden" />
@section cphDataLayer{
    @HtmlGoogleHelper.GetGtmDataLayerForCommResults(Model)
}
<div id="nhs_Crumbs" class="nhs_ResCrumbs clearfix">
    <div id="nhs_CrumbsContainer">
    @{ Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumbV2, NhsMvc.PartialViews.Name); } 
    </div>
    <div id="nhs_ClearFacets">
        <a href="#">@LanguageHelper.ClearAllFilters.ToMvcHtmlString()</a>
    </div>
</div>
@{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Facets, Model); }
<hr class="visuallyhidden" />
<nav id="nhs_ResTabBar" class="clearfix">
    @{
        Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.TabArea, Model);
        Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.ListAndMap, Model);
        var addAds = Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
                     || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
                     || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove;
    }
</nav>
<hr class="visuallyhidden" />
<div id="nhs_ResListAds" class="clearfix">
    <div class="clearfix">
        <p id="totalCounts" class="nhs_ResMatches">
            @Model.CreateCounts()
        </p>
        @*MAP*@
        @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Map, Model);}
        <div class="clearfix">
        </div>
        @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.ResultList, Model);}
        <aside id="nhs_ResAdCol">
            <div>

            @if (addAds)
            {
                <div class="nhs_ResAdBox">
                    <p class="visuallyhidden">@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                    <div id="nhs_MiddleTopSq"></div>
                </div>
            }
            else
            {
                <!-- Ad Slot 2 -->                
                <div id="divPartnerAd">
                    @Model.Globals.Shell.AdCommResHTML.ToMvcHtmlString()
                </div>
            }
            @*NHS RESOURCE CENTER LINKS*@
            @Html.StaticContent("CommunityResults/NhsMerchandizedContent.html", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
            @if (addAds)
            {
                <div id="nhs_ResAdBottomScroll">
                    @if (Model.RightAdToDisplayIsPosition)
                    {
                        <div class="nhs_ResAdBoxTall">
                            <p class="visuallyhidden">
                                >@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                            <div id="nhs_RightWideSky">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nhs_ResAdBox">
                            <p class="visuallyhidden">
                                >@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                            <div id="nhs_MiddleRightTopSq">
                            </div>
                        </div>
                        <div class="nhs_ResAdBox">
                            <p class="visuallyhidden">
                                >@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                            <div id="nhs_MiddleRightBottomSq">
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {   <!-- Ad Slot 3 -->
                <div id="divPartnerAdSlot3" style="width:160px;margin:0 auto 38px auto;">
                    @Model.Globals.Shell.AdSkyscraperHtml.ToMvcHtmlString()
                </div>
            }
            </div>
        </aside>
        <div class="clearfix">
        </div>
        @*PAGER*@
        @{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Pager, Model);}
    </div>
</div>

@{ Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.Footer, Model);}
@section cphHead{
    @*@if (!Model.Globals.PartnerLayoutConfig.PartnerIsABrand) {
    <link rel="stylesheet" href="@Resources.GlobalResources14.Default.css._0_results_css?@Configuration.ResourceVersionNumber" />
    }*@
    <link rel="stylesheet" href="@Resources.GlobalResources14.Default.css.jquery_jscrollpane_css?@Configuration.ResourceVersionNumber" />
}
@section cphFooter{
    @Html.Partial(NhsMvc.Default.Views.CommunityResultsV2.Javascript)
}
