﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.CommunityHomeResultsViewModel
<ul class="nhs_Tabs">
    <li><a id="nhs_communityTabArea" class="nhs_tabArea @(Model.SrpPageType == SearchResultsPageType.CommunityResults ? "nhs_Active" : string.Empty)" href="@Html.GetTabUrl(Model, "communityresults")">
        @LanguageHelper.Communities.ToMvcHtmlString()</a> </li>
    <li><a id="nhs_homeTabArea" class="nhs_tabArea @(Model.SrpPageType == SearchResultsPageType.HomeResults ? "nhs_Active" : string.Empty)" href="@Html.GetTabUrl(Model, "homeresults")">
        @LanguageHelper.Homes.ToMvcHtmlString()</a> </li>
    <li class="nhs_Last"><a id="nhs_builderTabArea" class="nhs_tabArea" href="javascript:void(0)">
        @LanguageHelper.Builders.ToMvcHtmlString()</a> </li>
</ul>
@if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
{
    Html.RenderPartial(NhsMvc.Default.Views.CommunityResultsV2.SearchWithMap, Model);
}
