﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.ProCrmViewModel
<div class="pro_CRM_ClientsSubNav">
    <ul class="pro_CRM_BreadCrumbs">
        <li>@Html.NhsLink("My Clients", Pages.MyAccount, new List<RouteParam> { new RouteParam(RouteParams.ShowMyClients, "true", RouteParamType.QueryString), new RouteParam(RouteParams.Tab, "myclient",RouteParamType.QueryString) }, null, true)</li>
        <li><strong>@string.Format("{0} {1}", Model.ClientInfo.FirstName, Model.ClientInfo.LastName)</strong></li>
    </ul>
</div>
