﻿@using Kendo.Mvc.UI
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.ClientTaskViewModel
<div class="pro_CRM_Modal pro_CRM_TasksModal">
    <fieldset>
        <legend class="nhs_Reader">Add/Edit Activity</legend>
        <div class="pro_CRM_validateError">
            @{Html.Validate("form");}
            @Html.HiddenFor(m => m.ClientTaskId)
            @Html.HiddenFor(m => m.DueAmPm)
            @Html.HiddenFor(m => m.ClientId)
        </div>
        @Html.ValidationSummary()
        <div class="pro_CRM_ModalLeft">
            @Html.RadioButtonForListEnum(model => model.ProCrmTaskTypes)
        </div>
        <div class="pro_CRM_ModalRight">
            <div id="pro_CRM_TasksModal_Data">
                <p>
                    <label for="Description">Description:</label>
                    @Html.TextAreaFor(d => d.Description, new { maxlength = "2000" })
                </p>
                <p>
                    <label for="DueDate">Date:</label>
                    @(Html.Kendo().DatePicker()
                                .Name("DueDate")
                                .Value(Model.DueDate)
                                .Format("MM/dd/yyyy")
                                .HtmlAttributes(new { style = "width:150px;background:#fff;" }))
                </p>
                <p>
                    <label for="DueTime">Time:</label>
                    @(Html.Kendo().DropDownListFor(h => h.DueTimeHour)
                                    .BindTo(Model.TaskHours)
                                    .Value(Model.DueTimeHour)
                                    .HtmlAttributes(new { style = "width:60px;" })
                    )
                    :
                    @(Html.Kendo().DropDownListFor(h => h.DueTimeMinutes)
                                    .BindTo(Model.TaskMinutes)
                                    .Value(Model.DueTimeMinutes)
                                    .HtmlAttributes(new { style = "width:60px;" })
                    )

                    <input type="button" id="AmTime" value="AM" class="@(Model.DueAmPm.Equals("AM") ? "pro_CRM_Selected" : "")" />
                    <input type="button" id="PmTime" value="PM" class="@(Model.DueAmPm.Equals("PM") ? "pro_CRM_Selected" : "")" />
                </p>
                <div id="pro_taskListModal" style="overflow-x:auto; max-height: 170px;">
                    @for (var i = 0; i < Model.ListingList.Count(); i++)
                    {
                        <div>
                            <p>
                                <label>Community:</label>
                                @Html.TextBoxFor(m => Model.ListingList[i].Name, new { @class = "pro_CommSearchBox", style = "width:310px;" })
                                @Html.HiddenFor(m => Model.ListingList[i].Id, new { @class = "pro_hidevalue" })
                                @Html.HiddenFor(m => Model.ListingList[i].TaskListingId, new { @class = "pro_hidevalueTaskId" })
                                @Html.HiddenFor(m => Model.ListingList[i].Delete, new { @class = "pro_hidevalueDelete" })
                                <a href="#" class="pro_DeleteTask">Delete</a>
                            </p>
                        </div>
                    }
                </div>
                <p class="pro_CRM_LineUp">
                    <a id="addListing" href="javascript:void(0)">+Add Another Listing</a>
                </p>
                <p>
                    <label for="Notes">Notes:</label>
                    @Html.TextAreaFor(n => Model.Notes, new { maxlength = "2000" })
                </p>
            </div>
            <div class="nhs_Clear">
            </div>
        </div>
        <div class="nhs_Clear">
        </div>
        <div class="pro_CRM_ClientsControl">
            @if (Model.ClientTaskId > 0)
            {
                <a id="pro_RemoveTask" href="javascript:void(0)">Delete Entry</a>
            }
            <p>
                <input id="saveTasksBtn" type="submit" class="btn pro_CRM_Button" value="Save" onclick="$jq.googlepush('Add/Edit Task', 'Modal', 'Save');" />
                <a href="javascript:void(0)" onclick="$jq.googlepush('Add/Edit Task', 'Modal', 'Cancel');tb_remove(); return false;">Cancel</a>
            </p>
            <div class="nhs_Clear">
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript">
    function initCrm() {
        var paramsAddEditTask = {
            calendarImage: "@GlobalResourcesMvc.Pro.images.icons.calendar_png",
            listingAutoComplete: "@Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.ListingAutoComplete)",
            deleteTask: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.DeleteTask)",
            clientId: "@Model.ClientId",
            taskId: "@Model.ClientTaskId"
        };
        crm.initializeAddEditTask(paramsAddEditTask); // crm is public
    }

    $jq(document).ready(function () {

        $jq("#Hours").change(function () {
            $jq("#DueTime").val($jq(this).val() + ":" + $jq("#Minutes").val());
        });

        $jq("#Minutes").change(function () {
            $jq("#DueTime").val($jq("#Hours").val() + ":" + $jq(this).val());
        });

        jQuery(document).off("click", "#saveTasksBtn").on("click", "#saveTasksBtn", function () {
            var input = jQuery(".pro_CRM_TasksModal input, select").serialize();

            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SaveTask)",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    jQuery("#pro_CRM_TasksModal").html(data);
                    initCrm();
                }
            });
        });

        initCrm();
    });
</script>
