﻿@using Nhs.Library.Constants.Enums
@model Nhs.Web.UI.AppCode.ViewModels.ProCrmViewModel
@if (Model.ClientInfo.AccountStatus == (int)ProCrmClientsStatusType.Deleted)
{
<h1>This Client was deleted from the system</h1>
}
else
{
    <div>
        <div class="nhs_Clear">
        </div>
        @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ClientDetail.PartialCrmBreadCrumbs, Model)
        <div class="nhs_Clear">
        </div>
        @{
    Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ClientDetail.PartialCrmClientInfo, Model);
        }
        @*<div class="nhs_Clear">
    </div>
    @{
        Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ClientDetail.PartialCrmClientTasks);
    }*@
        <div class="nhs_Clear">
        </div>
        @{       
    Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ClientDetail.PartialCrmClientActivities);       
        }
        <div class="nhs_Clear">
        </div>
        @{
    Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.Agent.FavoritesTab, Model.ClientFavorites);
        }
        <div class="nhs_Clear">
        </div>
        @{
    Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ShowFooter);
        }
        <div class="nhs_Clear">
        </div>
    </div>
}
