﻿@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Mvc.Domain.Model.Profiles.AgentClient
<div id="pro_CRM_DetailContact">
    <h2>
        @string.Format("{0} {1}", Model.FirstName, Model.LastName)
    </h2>
    @Html.NhsModalWindowLink("Edit info/notes", Pages.EditClientModal, ModalWindowsConst.ProCrmClientWidth, ModalWindowsConst.ProCrmClientHeight,
        new List<RouteParam> { new RouteParam { Name = RouteParams.ClientId, Value = Model.ClientId.ToString(),ParamType =RouteParamType.QueryString } }, new { title = "Edit Client", onclick = "$jq.googlepush( 'My Clients (Contact)', 'Topnav', 'Edit Information');" })
    <div class="nhs_Clear">
    </div>
    <div id="pro_CRM_DetailRelated">
        <p><span>Related contact:</span> @string.Format("{0} {1}", Model.RelatedFirstName, Model.RelatedLastName)</p>
    </div>
    @if (Model.ClientEmails.Any() || Model.ClientPhones.Any())
    {
        <ul>
            @foreach (var email in Model.ClientEmails)
            {
                <li><a>@email.Email</a></li>
            }
        </ul>
        }
    @if (Model.ClientEmails.Any() || Model.ClientPhones.Any()) 
    {
        <ul>
            @foreach (var phone in Model.ClientPhones.Where(phone => string.IsNullOrWhiteSpace(phone.Phone) == false))
            {
                <li>@string.Format("{0} {1}", phone.Phone, phone.PhoneType)</li>
            }
        </ul>
    }
    <p id="pro_CRM_address">
        @Model.Address<br />
        @if (!string.IsNullOrEmpty(Model.City))
        {
            @string.Format("{0},", Model.City)
        }
         @Model.State @Model.PostalCode
    </p>    
    <div class="nhs_Clear">
    </div>
</div>
<div id="pro_CRM_DetailStatus">
    <p>
        <strong>Status: </strong>
        <input type="button" value="Active" id="pro_ClientStatusActiveDetail" @(Model.AccountStatus == (int)ProCrmClientsStatusType.Inactive ? "" : "disabled=disabled")  />
        <input type="button" value="Inactive" id="pro_ClientStatusInactiveDetail" @(Model.AccountStatus == (int)ProCrmClientsStatusType.Active ? "" : "disabled=disabled") />
        <a id="pro_CRM_DeleteClient" href="javascript:void(0)">Delete Client</a>
    </p>
    <br />
    <div class="nhs_Clear">
    </div>
    <div id="pro_CRM_DetailNotes">
        <p>Notes:</p><br />    
        <div>@Model.Notes</div>
    </div>
</div>
