﻿@using Kendo.Mvc.UI
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.ProCrmViewModel
<div class="pro_CRM_SubHead">
    <h2>
        Activities</h2>
    <div class="nhs_Clear">
    </div>
</div>
<div class="nhs_Clear">
</div>
<script type="text/javascript">
    function GetTask(taskType) {
        var html = "";
        if (taskType == "Email") {
            html = "<img src=\"@GlobalResourcesMvc.Pro.images.icons.email_at_png\" alt=\"Email\" /> ";
        }
        if (taskType == "Call") {
            html = "<img src=\"@GlobalResourcesMvc.Pro.images.icons.phone_png\" alt=\"Phone\" /> ";
        }
        if (taskType == "Appointment") {
            html = "<img src=\"@GlobalResourcesMvc.Pro.images.icons.calendar_gray_png\" alt=\"Calendar\" /> ";
        }
        if (taskType == "Other") {
            html = "<img src=\"@GlobalResourcesMvc.Pro.images.icons.star_gray_png\" alt=\"Other\" /> ";
        }
        if (taskType == "Mail") {
            html = "<img src=\"@GlobalResourcesMvc.Pro.images.icons.mail_png\" alt=\"Mail\" /> ";
        }
        html += taskType;
        return html;
    }

    function CreateToolTip(data) {
        var html = "";

        html = '<div><ul class="pro_TooltipUl">';
        $jq.each(data, function (index, value) {

            if (value.CommunityId > 0) {
                html += '<li class="' + (index > 0 ? "pro_TooltipMore" : "") + '">' + createLink(value.CommunityId, "C", value.CommunityName) + '</li>';
                html += '<li class="pro_LiUl' + (index > 0 ? " pro_TooltipMore" : "") + '"><ul><li>'
                            + createLink(value.Id, value.Type, value.Name) +
                            '</li></ul></li>';
            }
            else { html += '<li class="' + (index > 0 ? "pro_TooltipMore" : "") + '">' + createLink(value.Id, value.Type, value.Name) + '</li>'; }
        });
        html += "</ul>";

        if (data.length > 1)
            html += '<a class="pro_TooltipShowMore" href="javascript:void(0)">Show more ></a></div>';

        return html;
    }

    function createLink(id, type, name) {
        var html = "";
        var url = '@(!string.IsNullOrWhiteSpace(NhsRoute.PartnerSiteUrl)? "/" + NhsRoute.PartnerSiteUrl:"")';

        if (type == "C") {
            html = '<a  href="' + url + '/communitydetail/community-' + id + '" class="pro_Tooltip" data-id="' + id + '" data-type="' + type + '">' + name + '</a>';
        } else if (type == "P") {
            html = '<a  href="' + url + '/homedetail/planid-' + id + '" class="pro_Tooltip" data-id="' + id + '" data-type="' + type + '">' + name + '</a>';
        } else if (type == "S") {
            html = '<a  href="' + url + '/homedetail/specid-' + id + '" class="pro_Tooltip" data-id="' + id + '" data-type="' + type + '">' + name + '</a>';
        }
        return html;
    }

    function onDataBinding() {
        $jq(".pro_Tooltip").kendoTooltip({
            content: {
                url: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ToolTipActivities)"
            },
            width: 700,
            height: 90,
            position: "bottom",
            requestStart: function (e) {
                e.options.data = {
                    id: e.target.data("id"),
                    type: e.target.data("type")
                };
            }
        });
    }
</script>

@(Html.Kendo().Grid<ActivityInformation>()
      .Name("pro_CRM_ActivitiesTable")
      .Columns(columns =>
      {
          columns.Bound(p => p.Description).ClientTemplate(@Html.GetActivitiesColumn()).Title("Description");
          columns.Bound(p => p.TaskType).ClientTemplate("#=GetTask(TaskType)#").Title("Type");
          columns.Bound(p => p.TaskDate).ClientTemplate("#=TaskDateString#").Title("Date/Time");
          columns.Template(p => { }).ClientTemplate("#=CreateToolTip(PropertyList)#").Title("Community/Home");
      })
      //.HtmlAttributes(new { style = "height:430px;" })
      .Pageable(pager => pager.PageSizes(new[] { 5, 10, 25, 50 }).Refresh(true))
      .Sortable()
      .ColumnMenu(p => p.Columns(false))
      .Events(events => events.DataBound("onDataBinding"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .ServerOperation(false) // Paging, sorting, filtering and grouping will be done client-side
          .Read(read => read.Url(Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ShowAllActivities, new List<RouteParam> { new RouteParam (RouteParams.ClientId, Model.ClientInfo.ClientId, RouteParamType.Friendly, true, true, "clientid")})))
              .Model(model => model.Id(p => p.ClientId))
                  .Sort(sort =>
              {
                  // Sort by TaskDate in descending order
                  sort.Add(product => product.TaskDate).Descending();
          })
              ))

<div class="pro_CRM_ClientsControl">
    @Html.NhsModalWindowLink("+ Add an activity", "procrm/taskmodal/clientid-" + Model.ClientInfo.ClientId + "/taskid-0", ModalWindowsConst.RecommendedCommunitiesWidth, ModalWindowsConst.RecommendedCommunitiesHeight, null, new { @class = "btn pro_CRM_Button", title="Add Activity", onclick="$jq.googlepush('My Clients (Contact)', 'Activities', 'Add an Activity');" })
</div>
<style>
    .pro_TooltipMore
    {
        display: none;
    }
</style>