
.nhs_ModalBox1 > h1 span,
.nhs_AccountTeaser p strong {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	    
    font-weight: normal;
}
.nhs_ModalBox1 > h1 span strong {
    font-weight: normal;
}
.nhs_RecomsItem h2,
.nhs_RecomsItem p,
.nhs_ModalAccountForm label,
.nhs_ModalLoginHeader {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
}
.nhs_ModalBoxLeft p.nhs_Brochure,
.nhs_ModalBoxLeft h1,
#nhs_ModalThanks .nhs_ModalBoxLeft h1,
#nhs_ModalThanks .nhs_ModalBoxLeft h2,
.nhs_ModalBoxRight,
.nhs_RequestInfoForm {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
.nhs_AccountTeaser ul {   
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
.nhs_ModalBox .btnCss,
.nhs_ModalBox a.btnCss,
.nhs_RequestInfoForm .btnCss,
.nhs_RequestInfoForm a.btnCss,
.nhs_BigMediaHeader .btn {
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
}