
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
	font-family: Arial,Helvetica,sans-serif;
    color: #7d7d7d;
}  
a, 
a:link,
a:visited,
a:active,
a:hover {
	color: #0091da;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
}

/*#nhs_Loading,
.nhs_Loading {
    position: fixed; 
    top: 35%; 
    left: 50%; 
    width: 85px;
    height: 0;
    margin-left: -43px;
    padding: 86px 0 0 0;
    overflow: hidden; 
    border: 0;    
    background: #bababa url(/globalresources14/default/images/icons/nhs_loader.gif) no-repeat 50% 50%;
    background-color: rgba(170, 170, 170, 0.70);
    box-shadow: none;
    }  */ 
    
  