

#nhs_BookPage, 
.nhs_eBookHeader {
    width: 100%;
    background: #0091da;
    color: #fff;
}
#nhs_eBookHomepage {
    background: #004a80;
    border-top: 1px solid #fff;
}
.nhs_eBookHeader {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    min-width: 760px;
}
#nhs_BookPage > div, 
.nhs_eBookHeader > div {
    margin: 0 auto; /*max-width: 960px;     min-width: 768px;*/
    width: 728px;
    padding: 60px 20px 40px 20px;
    position: relative;
}
.nhs_eBookHeader > div {
    padding: 0;
}
.nhs_eBookHeader > div > div {
    float: left;
    width: 54.16666666666667%; /*520/960*/
    padding: 25px 1.041666666666667% 10px 1.041666666666667%; /*10/960*/
}
#nhs_BookPage > div > div.nhs_eBookImg {
    float: right;
    width: 41.66666666666667%;
    max-width: 400px; /*400/960*/
    padding: 0 1.041666666666667%; /*10/960*/
    padding-right: 7.291666666666667%; /*70/960*/
}
.nhs_eBookHeader > div > div.nhs_eBookImg {
    float: left;
    width: 21.04166666666667%;
    max-width: 202px; /*202/960*/
    padding: 0 1.041666666666667%; /*10/960*/
    position: relative;
    top: 0;
}
#nhs_eBookHomepage .nhs_eBookImg {
    top: 30px;    
}
#nhs_BookPage > div > div.nhs_eBookLogos {
    position: absolute;
    max-width: 161px;
    width: 16.77083333333333%;
    top: 108px;
    padding: 0;
    right: 20px;
}
.nhs_eBookHeader > div > div.nhs_eBookLogos {
    float: left;
    width: 20.625%; /* 198/960 */
    padding-left: 0;
    padding-right: 0;
    max-width: 198px;
    padding-top: 40px;
}
.nhs_eBookHeader > div > div.nhs_eBookLogos p {
    font-family: 'Avenir LT W01 85 Heavy' , 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 15px;
    margin-bottom: 20px;
}
.nhs_eBookHeader > div > div.nhs_eBookLogos a {
    color: #ffce34;
}
.nhs_eBookHeader a.close_x {
    width: 43px;
    height: 0;
    display: inline-block;
    padding: 43px 0 0 0;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #004a80;
    text-decoration: none;
    cursor: pointer;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(/globalresources14/default/images/icons/x_close.png);
}

#nhs_BookPage > div > h1 {
    font-family: 'Avenir LT W01 85 Heavy' , 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 29px;
    font-size: 1.8rem;
    margin: 0 0 20px 0;
    line-height: 30px;
}
#nhs_BookPage > div > h1 strong {
    color: #ffce34;
}
#nhs_BookPage > div > h2, #nhs_BookPage > div > h3 {
    font-family: 'Avenir LT W01 85 Heavy' , 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-size: 0.95rem;
    color: #ffce34;
}
#nhs_BookPage > div > p, #nhs_BookPage > div > ul {
    font-family: 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 15px;
    font-size: 0.95rem;
    margin: 0 0 20px 0;
    line-height: 18px;
}
.nhs_eBookHeader > div > div.nhs_eBookText > p:first-child {
    font-family: 'Avenir LT W01 85 Heavy' , 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 29px;
    font-size: 1.8rem;
    margin: 0 0 10px 0;
    line-height: 30px;
}
.nhs_eBookHeader > div > div.nhs_eBookText > p:first-child strong {
    color: #ffce34;
    font-weight: normal;
}
/*#nhs_eBookHomepage > div > div.nhs_eBookText {
    padding-bottom: 0;
}*/

/* Form */
#nhs_eBookForm {
}
#nhs_BookPage #nhs_eBookForm {
    width: 46%;
}
#nhs_eBookHomepage #nhs_eBookForm {
    padding: 15px 0 5px 0;
}
.nhs_eBookHeader #nhs_eBookForm {
    margin: 0;
}
#nhs_eBookForm p.nhs_eBookPrivacy {
    margin: 10px 0;
    padding: 0;
    font-family: 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    line-height: 12px;
    color: #73ccff;
    width: auto; /*150%*/
}
#nhs_eBookForm p {
    margin: 0;
    padding: 0;
    font-family: 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-size: 0.95rem;
}
#nhs_eBookForm p.nhs_Error {
    color: #d92632;
}

#nhs_eBookForm .nhs_EbookSignUpErrors > p {
    display: block;
    margin: 4px 0;
    padding: 4px 0;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    background: #d92632;
    text-align: center;
}

#nhs_eBookForm p.nhs_eBookThanks {
    font-family: 'Avenir LT W01 85 Heavy' , 'Avenir LT W01 35 Light' ,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 17px;
    font-size: 1.05rem;
}
#nhs_eBookForm p.nhs_eBookThanks strong {
    color: #ffce34;
}
#nhs_eBookForm p input[type=text] {
    margin: 0;
    padding: 6px 12px;
    width: 63%;
}
#nhs_eBookResourceCenter #nhs_eBookForm p input[type=text] {
    width: 50%;    
}
#nhs_eBookForm p input[type=button] {
}
#nhs_eBookForm p input.btn_Loading {
    width: auto;
    height: 0;
    background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50%;
    padding: 6px 0 0 0;
    overflow: hidden;
}



#nhs_EbookModal .checkmark input[type=checkbox] {
    display: none;
}
#nhs_EbookModal .checkmark input[type=checkbox] + label:before {
    float: left;
    height: 19px;
    width: 19px;
    display: inline-block;
    content: "";
    background: url(/globalresources14/default/images/eBook/not-check.png) no-repeat center center;
}
#nhs_EbookModal .checkmark input[type=checkbox]:checked + label:before {
    float: left;
    height: 19px;
    width: 19px;
    display: inline-block;
    content: "";
    background: url(/globalresources14/default/images/eBook/check.png) no-repeat center center;
}
#nhs_EbookModal .newsletter-wrapper .selected {
    width: 19px;
    height: 19px;
    display: block;
    position: relative;
    top: 48px;
    background: url(/globalresources14/default/images/eBook/check.png) no-repeat center center;
}
#nhs_EbookModal .newsletter-wrapper .not-selected {
    width: 19px;
    height: 19px;
    display: block;
    position: relative;
    top: 48px;
    background: url(/globalresources14/default/images/eBook/not-check.png) no-repeat center center;
}
