/* Tablet First */

@media only screen and (min-width: 61em) { /*~ 976*/
    /* Shell */
    #nhs_Header,
    #nhs_Header > nav > ul > li > div > div > div,
    #nhs_Footer > div {
        width: 960px;
        padding-left: 0;
        padding-right: 0;   
    }   
    #nhs_HeaderLogo {
        width: 32%;
        margin-top: 0;    
    } 
    #nhs_Footer > div > nav {
	    width: 25%;
	    padding: 0 5px 1em 35px;
    }
    #nhs_Footer > div > nav#nhs_FooterAbout {
	    width: auto;
    }
    
    /* Homepage */
    #nhs_HomeSearch { 
        min-height: 580px;
        background-size: auto 728px;        
    }
    #nhs_HomeSearchForm {
        width: 860px;
        margin-top: 130px;
        margin-bottom: 130px;   
    }
    #nhs_HomeSearchLocation input[type=text] {
        padding-right: 14%;        
    }
    #nhs_HomeSearchOptions input[type=radio] + label {
	    margin-right: 8px;
	    padding: 4px 8px;
    }
    #nhs_HomeSearchForm #HomeSearchIcon {        
        right: 28%;
    }
    #nhs_HomeSearchOptions input[type=text] {
	    width: 96px;
	}
	#nhs_HomeContentTeaser {
	    width: 960px;
	    padding: 60px 0 0 0;    
	}
    #nhs_HomeBuilders > div,
	#nhs_HomeWhyNew > div,
	#nhs_HomeResources > div,
	#nhs_HomeLinks > #nhs_HomeMarkets,
	.nhs_eBookHeader > div,
	#nhs_BookPage > div {		
		width: 960px;
		padding-left: 0;	
		padding-right: 0;
	}	
	#nhs_eBookHomepage .nhs_eBookImg {
        top: -15px;  
    }
	#nhs_BookPage > div > div.nhs_eBookLogos {
	    right: 0;    
	}
	#nhs_HomeBuilders > div ul li:nth-child(n+11) {
        display: block;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    #nhs_HomeSearch {
	    background-image: url(/globalresources14/newhomesource/images/homepage/search_background@2x.jpg);
    }
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	#nhs_HomeSearchForm:before {
		content: "";
		
		display: block;
		width: 100%;
		min-height: 258px;
		width: 680px;
		margin: 55px auto 0 auto;	
		background-image: url(/globalresources14/newhomesource/images/homepage/search_background.jpg);
		background-size: auto 510px;
		background-repeat: no-repeat;
		background-position: center -55px;
		
		filter: blur(5px);
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		
		position: absolute;
		top: -55px;
		left: 0;	
		z-index: 9;
		overflow: hidden;
	}
}
@media only screen and (min-width: 61em) and (-webkit-min-device-pixel-ratio:0) {
	#nhs_HomeSearchForm:before {
		min-height: 216px;
		width: 860px;
		margin: 130px auto 0 auto;	
		background-size: auto 728px;
		background-position: center -130px;
		top: -130px;		
	}
}*/

/* Desktop First */

@media only screen and (max-width: 61em) { /*970*/
        
    .nhs_eBookHeader > div > div.nhs_eBookImg {
	    top: 30px;
	}
	
	/* Results */
	/*#nhs_ResMarketInfo,*/
	.nhs_ResCrumbs,
	#nhs_ResFacets,
	#nhs_ResTabBar,
	#nhs_ResListAds > div {
	    width: 728px;    
	}
	#nhs_ResMarketInfo, 
	#nhs_ResAdCol,
	.nhs_CommResListBox,
	#nhs_ComingSoonActiveAdultLinks {
	    display: none;    
	}
	.nhs_ResCrumbs {
	    padding-top: 0 !important;    
	}
	
	#nhs_ResMap > aside {
		background: transparent;
		position: relative;
	}
	#nhs_ResMap > aside > p {
	    float: none;
	    width: auto;
	    padding: 10px 18px 10px 35px;
	    background-color: #fff;
	    background-size: 12px 24px;
	    background-position: 18px 48%;
	    position: absolute;
	    top: -34px;
	}
	#nhs_ResMap > aside > ul,
	#nhs_ResMap > aside > ul.nhs_ResMapWithAd {
	    float: none;
	    display: inline-block;
	    width: auto;
	    min-height: 0;
	    padding: 3px 18px 6px 6px;
	    background-color: #fff;
	    position: absolute;
	    top: -34px;
	}
	#nhs_ResMap > aside > ul li {
	    float: left;
	    margin: 3px 0 0 12px;
	    padding: 5px 0 5px 19px;
	}
	#nhs_ResMap > aside > div.nhs_ResAdBox {
		float: none;
		margin: 20px auto 0 auto;
	}
	
	#nhs_ResultList,
	#nhs_ResultList > div {
	    margin-right: 0;
	    padding-right: 0;    
	}
	.nhs_CommResItem, 
	.nhs_HomeResItem, 
	.nhs_BuilderRes, 
	.nhs_FeaturedRes {
	    max-width: 728px;    
	}
	.nhs_CommResItem .nhs_ItemImages {
	    max-width: 410px;    
	}
	.nhs_CommResItem > div.nhs_ItemData1, 
	.nhs_CommResItem > div.nhs_ItemData2 {
	    width: 42%;	    
	} 
	.nhs_HomeResItem > div.nhs_ItemData1, 
	.nhs_HomeResItem > div.nhs_ItemData2 {
	    width: 34%;	    
	}
	.nhs_CommResItem > div.nhs_ItemData2 p {
	    padding: 12px 0;    
	}
	
	/* Res Custom */
	.nhs_ResCustomItem > div.nhs_ResAdBox {
	    display: none;
	}
	.nhs_ResCustomItem {
	    position: relative;
	    display: block;
	    width: 96%;
	    padding: 25px 2%;
	    margin-bottom: 16px;
	    
	    background: #fff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #bababa 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#bababa 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#bababa 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
        
        -webkit-box-shadow: inset 0px 2px 10px 0px rgba(125,125,125,0.5);
        -moz-box-shadow: inset 0px 2px 10px 0px rgba(125,125,125,0.5);
        box-shadow: inset 0px 2px 10px 0px rgba(125,125,125,0.5);
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox {
	    display: block;
	    width: 56%;
	    text-align: center;    
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox h2 {
	    margin: 4px 0 8px 0;
	    padding: 0;
	    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
	    font-size: 18px;
	    font-size: 1.125rem;	    
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox p {
	    margin: 6px 0 12px 0;
	}
	.nhs_ResCustomItem a.btnCss {	    
	    width: 80%;
	    margin: 0 auto;    
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox > div {
	    float: right;
	    width: 19%;    
	    margin: 0;
	    padding: 5px 5px;
	    background: #fff;
	    min-height: 100px;
	    
	    position: absolute;
	    top: 15px;
	    right: 10px;
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox > div:nth-of-type(1) {
	    right: 165px;
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox > div p {
	    margin: 5px 0 0 0;    
	}
	
	.nhs_PagingLinks {
	    width: 550px;
	}
	#nhs_PagingLinks {
	    width: 380px;    
	}
	#nhs_PagingLinks > .nhs_PagingOut {
	    width: 241px;    
	}
	
	#nhs_ResFooter {
	    background: #eee;
		width: 96%;
		margin: 0 auto;
		padding: 0 2%;
	}
	#nhs_ResFooterAdBox {
	    float: none;
		width: 100%;
	}
	#nhs_ResFooterAdBox > div {
		width: 728px;
		margin: 0 auto 30px auto;
	}
	#nhs_ResFooter .nhs_BackToTop {
	    float: none;
	    clear: both;
	    display: block;
	    background: #fff;
		margin: 30px auto;
		height: 45px;
		line-height: 45px;
	}
		
	
	/* Results 
	#nhs_ResMap > aside {
		background: transparent;
		position: relative;
	}
	#nhs_ResMap > aside > p {
	    float: none;
	    width: auto;
	    padding: 10px 18px 10px 35px;
	    background-color: #fff;
	    background-size: 12px 24px;
	    background-position: 18px 50%;
	    position: absolute;
	    top: -34px;
	}
	#nhs_ResMap > aside > ul,
	#nhs_ResMap > aside > ul.nhs_ResMapWithAd {
	    float: none;
	    display: inline-block;
	    width: auto;
	    min-height: 0;
	    padding: 3px 18px 6px 6px;
	    background-color: #fff;
	    position: absolute;
	    top: -34px;
	}
	#nhs_ResMap > aside > ul li {
	    float: left;
	    margin: 5px 0 0 12px;
	    padding: 2px 0 5px 19px;
	}
	#nhs_ResMap > aside > div.nhs_ResAdBox {
		float: none;
		margin: 30px auto 0 auto;
	}
	.nhs_ResMatches {
		max-width: 96%;
		padding: 0 2%;	
	}
	.nhs_ResMapAreaToggle {
		padding: 0 2% 0 0;
	}
	#nhs_ResultList > div {
		padding-right: 2%;
	}
	.nhs_ResRefine {
		width: 98%;
		padding: 0 0 0 2%;	
	}
	.nhs_ResRefine > p.nhs_ToggleButtons:first-child {
		margin-right: 1%;
	}
	.nhs_ToggleButtons a,
    .nhs_ToggleButtons span {
	    font-size: 11px;
	    font-size: 0.7rem;
    }
    .nhs_ResRefine > p.nhs_ResSort select {
        max-width: 125px;    
    }
    
	.nhs_CommResItem .nhs_ItemImages {
        float: right;
        height: 216px;
        max-width: none;
        position: relative;
        width: 100%;
        border: 1px solid #eee;
        border-width: 0 0 3px 0;
    }
    .nhs_CommResItem .nhs_ItemImages > a, 
    .nhs_CommResItem .nhs_ItemImages > div {
        display: none;
        float: right;
        height: 80px;
        overflow: hidden;
        position: relative;
        width: 120px;
    } 
    .nhs_CommResItem .nhs_ItemImages > div:first-child {
        float: left;
        display: block;
        height: 216px;
        margin-right: 0;
        overflow: hidden;
        position: relative;
        width: 325px;
    }    
    .nhs_CommResItem .nhs_ItemImages > div:first-child a, 
    .nhs_CommResItem .nhs_ItemImages > div:first-child div {
        display: block;
        height: 216px;
        margin-right: 0;
        position: relative;
    }
    .nhs_CommResItem .nhs_ItemImages > div > p {
	    right: 0;
    }
    .nhs_CommResItem .nhs_ItemImages > div.nhs_BrandImage {
        display: block;
        width: 100%;
        height: 216px;        
        line-height: 216px;
        text-align: center;
        margin-left: -325px;        
    }
    .nhs_CommResItem .nhs_ItemImages > div.nhs_BrandImage div {
        margin-left: 325px;
        padding: 0 2%;  
    }
    .nhs_CommResItem .nhs_BrandImage img {
        max-height: none;
        max-width: 100%;
        vertical-align: middle;
    }
       
	.nhs_HomeResItem .nhs_ItemImages {
		max-width: 39%;
		height: 192px;
	}
	.nhs_HomeResItem.nhs_BasicItem .nhs_ItemImages {
		max-width: 39%;
		height: 142px;
	}
	.nhs_HomeResItem .nhs_ItemImages > a:first-child {
		height: 192px;
	}	
	.nhs_HomeResItem.nhs_BasicItem .nhs_ItemImages > a:first-child {
		height: 142px;
	}
	.csstransforms .nhs_HomeResItem .nhs_ItemImages img,
	.csstransforms .nhs_HomeResItem .nhs_ItemImages > a:first-child img {
		height: 100%;
		max-height: 100%;
		width: auto;
		max-width: none;
	}
	.nhs_CommResItem > div.nhs_ItemData1,
	.nhs_CommResItem > div.nhs_ItemData2  {	
		width: 38%;
		padding: 2% 0 0 3%;
	}	
	.nhs_CommResItem > div.nhs_ItemData2 {
		float: right;
		width: 52%;
		padding: 2% 3% 0 3%;
		text-align: right;
	}
	.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData1 {
	    width: 47%;
	}
	.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData2 {
	    float: left;
        margin: 0;
        padding: 0 0 0 2%;
	    width: 23%;  
	    text-align: left;  
	}
	.nhs_CommResItem.nhs_BasicItem > div.nhs_ItemData2 > p {
	    padding-top: 8px !important; 
	}	
	.nhs_CommResItem > ul.nhs_Actions,
	.nhs_HomeResItem > ul.nhs_Actions {
	    float: right;
		margin-right: 3%;
		margin-bottom: 2%;
		margin-top: 0 !important;
	}	
	.nhs_HomeResItem > div.nhs_ItemData1,
	.nhs_HomeResItem > div.nhs_ItemData2 {
		float: left;
		width: 57%;
		padding: 0 2% 0 2%;
		text-align: left;
	}	
	.nhs_HomeResItem > div.nhs_ItemData3 > .nhs_ItemPrice,
	.nhs_HomeResItem > div.nhs_ItemData3 > .nhs_ItemCommName {
		float: left;
		width: 57%;
		padding: 3px 2% 6px 2%;
		text-align: left;
	}	
	.nhs_CommResItem > div.nhs_ItemData1 > p:first-of-type,
	.nhs_CommResItem > div.nhs_ItemData2 > p:first-of-type {
		padding-top: 8px;
	}
	.nhs_HomeResItem > div.nhs_ItemData1 > p:first-of-type {
		padding-top: 2px;
	}
	.nhs_HomeResItem > div.nhs_ItemData3 > .nhs_ItemPrice	{
		padding-top: 8px;
	}
	ul.nhs_Specs, 
	.nhs_HomeResItem > div > ul.nhs_Specs {
		width: 100%;
	}
	.nhs_ResCustomItem {
		text-align: center;
	}
	.nhs_ResCustomItem > div.nhs_ResAdBox {
		display: block;
		margin: 0 auto 45px auto;
	}
	.nhs_ResCustomItem > .nhs_ResCustomBox {
		float: left;
		display: block;
		width: 96%;
		padding: 0 2%;		
	}	
	
	#nhs_ResFooter {
		width: 96%;
		padding: 0 2%;
	}
	#nhs_ResFooterAdBox {
		width: 100%;
	}
	#nhs_ResFooterAdBox > div {
		width: 728px;
		margin: 0 auto;
	}
	#nhs_ResFooter .nhs_BackToTop {
		width: 100%;
		margin-bottom: 30px;
	} */
	
	/* TV */
	#nhs_TvMarketSignUp {
        width: 90%;
        max-width: 960px;
        margin: 0 auto; 
        padding: 0;
    }
    #nhs_TvMarketSignUp .nhs_TvMarketForm p input[type="text"] {
        width: 68%;
    }    
    #nhs_TvHomeMap,                                           
    #nhs_TvMapDiv {
        width: 90%;
        margin: 0 auto; 
    } 
    #nhs_TvMarketFooter > div:first-child {
        width: 95.83333333333333%; /*920/960*/
        max-width: 920px;  
	    padding: 0 2.083333333333333%; /*20/960*/     
    }  
    .nhs_TvMarketForm p input[type="text"] { 
        width: 60%;   
    }
    #nhs_TvMarketSlides ul.slidesjs-pagination {
        bottom: 0;    
    }
    #nhs_TvNav ul li {
        width: 140px;
    }
    #slide3 .nhs_TvMarketSlideText p {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 47em) { /*760*/                              
       
	
}

@media only screen and (max-width: 728px) { /*728*/

		
}

@media only screen and (max-width: 39.7em) { /*630*/

	
}

@media only screen and (max-width: 32em) { /*~510*/
	
	
}

@media only screen and (max-width: 49em) { /*760*/
	/* Fixed width below 768px */
	#nhs_Main /*,
	#nhs_Header,
	#nhs_Header > nav > ul > li > div > div, 
	#nhs_SocialFooter,
	#nhs_Footer */ 	{
		min-width: 768px;
		padding-left: 0;
		padding-right: 0;
	}
	
}


