﻿/*======== OWNER STORIES =========*/

.nhs_Owners {
    background-color: #0091da;
}
.nhs_Owners > div {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: url(/globalresources14/newhomesource/images/owners/bg_hearts.png) no-repeat right 50%;
    color: #fff;
    position: relative;
}
.nhs_Owners > div > img {
    float: left;
    width: 14%;
    max-width: 278px; 
    margin: 18px 30px 0 0;   
}
.nhs_Owners .title {
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 45px;
    font-size: 2.75rem;
    
    margin-top: 40px;
    line-height: 48px;
}

#nhs_storiesContent {
    padding: 30px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
#nhs_storiesContent p {
    margin-top: 10px;
}
#nhs_storiesContent h2 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-size: 1.4rem;
}
#nhs_OwnersCategories {
    background: #eee;
}
#nhs_OwnersCategories > div {
    max-width: 971px;
    margin: 0 auto;
    min-height: 400px;
}
#nhs_OwnersCategories h2 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-size: 1.4rem;
    color: #0091da;
    padding: 20px 0 8px 0;
    text-transform: uppercase;    
}
ul#nhs_OwnersCategoriesList {
    float: left;
    clear: both;
    padding-left: 0;
}
#nhs_OwnersCategoriesList li {
    display: inline;
    list-style-type: none;
    float: left;
    max-width: 305px;
    background: #fff;
    margin-right: 25px;
    min-height: 330px;
}
#nhs_OwnersCategoriesList li:last-child {
    margin-right: 0;
}
#nhs_OwnersCategoriesList li {
    border: 1px solid #e7e3e3;
}
#nhs_OwnersCategoriesList li:hover {
    -webkit-box-shadow: 2px 2px 4px #d9d7d7;
    -moz-box-shadow: 2px 2px 4px #d9d7d7;
    box-shadow: 2px 2px 4px #d9d7d7;
}

#nhs_OwnersCategoriesList li h3 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    color: #0091da;
    font-size: 22px;
    padding: 16px 15px 10px;
    text-transform: uppercase;
    line-height: 24px;
}

#nhs_OwnersCategoriesList .nhs_OwnersCategoryImg {
    width: 100%;
    height: 120px;
    background: green;
    margin: 0px;
}

#nhs_OwnersCategories .nhs_OwnersLinkShareStory {
    background: #ff1c00;
    display: block;
    width: 131px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
#nhs_OwnersCategories .nhs_OwnersLinkShareStory a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
#nhs_OwnersCategories .nhs_OwnersLinkShareStory a:hover {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#nhs_OwnersCategories .nhs_OwnersLinkOthersSaid {
    color: #0091da;
    padding: 10px 0 15px 15px;
}

#nhs_OwnersCategoriesList .share {
    padding: 5px 10px;
    margin: 0 0 0 12px;
}

/*====== TABS =======*/
.tabstrip_wrapper {
    background: #ffffff;
}
.tabstrip_wrapper #tabstrip {
    max-width: 971px;
    margin: 0 auto;
}
.k-widget .k-header .k-tabstrip {
    border-color: transparent;
    background-color: transparent;
}
.tabstrip_wrapper #tabstrip {
    background: transparent;
    border: 0;
    position: relative;
    top: -40px;
}
.k-tabstrip .k-content.k-state-active p {
    font-size: 13px;
    padding-top: 15px;
}
#tabstrip div {
    padding-bottom: 20px;
}
#tabstrip .k-state-active, .k-state-active:hover, .k-tabstrip .k-state-active {
    border-color: transparent;
}
#tabstrip a,
#tabstrip a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #0091da;
}
#tabstrip .k-state-hover, .k-state-hover:hover {
    background-color: #eeeeee;
}
#tabstrip .k-tabstrip-items .k-state-active {
    background-color: #ffffff !important;
}
#tabstrip .k-tabstrip-items .k-state-default {
    border-color: transparent;
    background-color: #eee;
}
#tabstrip ul li.k-state-active a {
    color: #4b4b4b;
}
.nhs_tabs_top {
    width: 100%;
    height: 65px;
    background: #eee;
}

/*====== OWNERSTORIES FORM =======*/
.nhs_OwnersForm {
    max-width: 971px;
    margin: 70px auto 70px;
}
.nhs_OwnersForm .form_right, .nhs_OwnersForm .form_left {
    float: left;
    width: 50%;
    margin-bottom: 40px;
}
.nhs_OwnersForm .form_left p label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}
.nhs_OwnersForm .form_left p input {
    padding: 10px;
    background-color: #eeeeee;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 250px;
}
.nhs_OwnersForm .form_left p select {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nhs_OwnersForm .form_left p span input {
    margin-top: 10px !important;
    padding: 10px !important;
    background-color: #eeeeee !important;
    border: 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px !important;
    width: 250px !important;
    height: auto !important;
    line-height: normal !important;
}
.nhs_OwnersForm .form_left p span.k-autocomplete.k-state-default {
    width: 270px !important;
    height: auto !important;
    line-height: normal !important;
}
ul.k-list {
    overflow: inherit !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    background-color: #eee !important;
    color: #7d7d7d;
}
.k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox > input, .k-multiselect-wrap {
    color: #7d7d7d !important;
}
.k-list-container {
    border-color: #eee !important;
    background-color: #eee !important;
}
.nhs_OwnersForm .form_left p span {
    background-color: #fff !important;
    border-color: #fff !important;
}
.nhs_OwnersForm .form_left .k-list-container {
    max-width: 305px !important;
}
.nhs_OwnersForm .form_left span.k-autocomplete .k-loading {
    right: 8px !important;
    bottom: 10px !important;
    background-color: transparent !important;
}
.nhs_OwnersForm .form_left .k-autocomplete.k-state-border-down {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.nhs_OwnersForm .form_left p.spacer {
    margin-bottom: 25px;
}
.nhs_OwnersForm .form_left p.top-spacer {
    margin-top: 10px;
}
.nhs_OwnersForm .form_left .last {
    margin: 134px;
}
.nhs_OwnersForm .form_right p textarea {
    width: 460px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeeeee;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nhs_OwnersFormActions {
    border-top: 1px solid #eeeeee;
    display: block;
    padding-top: 10px;
    clear: both;
}
.nhs_OwnersCuration-btn-wrapper {
    border-top: 0;
    position: relative;
    top: -50px;
    width: 50%;
    float: right;
    padding: 0;
    margin: 0;
}
.nhs_OwnersCuration-btn-wrapper input.blue {
    background-color: #0091da;
    border: 0;
    padding: 12px;
    margin: 0 60px 0 0;
    color: #fff;
    float: right;
    font-size: 24px;
    text-align: center;
}
.nhs_OwnersCuration-btn-wrapper a.red {
    background-color: #ff1c00;
    border: 0;
    padding: 12px;
    margin: 0 5px 0 0;
    color: #fff;
    float: right;
    font-size: 24px;
    text-align: center;
}
.nhs_OwnersCuration-btn-wrapper input.blue,
.nhs_OwnersCuration-btn-wrapper a.red {
    width: 197px;
    line-height: 1.4;
}
.nhs_OwnersCuration-btn-wrapper a:hover {
    text-decoration: none;
}
.nhs_OwnersCuration-btn-wrapper .publish {
    margin: 5px 0 0 2px;
    float: left;
    width: 98%;
}
.nhs_Owners_error_wrapper {
    display: block;
    padding-bottom: 10px;
    clear: both;
}

.nhs_OwnersForm .form_right .k-button {
    padding: 6px;
    color: #fff;
    text-align: center;
    width: 200px;
}
.nhs_OwnersForm .form_right .k-filename {
    padding-bottom: 8px;
}
.nhs_OwnersForm .form_right .k-progress {
    width: 462px !important;
    margin: 0 10px 10px 10px;
    height: 5px;
    background-color: #0091dd;
}
.nhs_OwnersForm .form_right .k-upload-files .k-button {
    position: static;
    top: inherit;
    padding-top: 8px;
}
.nhs_OwnersFormActions input.submit {
    background-color: #ff1c00;
    border: 0;
    padding: 12px;
    margin: 5px 15px 0 0;
    color: #fff;
    float: right;
    font-size: 24px;
    text-align: center;
    width: 165px;
}
.nhs_OwnersForm .nhs_Error {
    color: #ff1c00;
    font-weight: bold;
}
.nhs_OwnersForm input[type="text"].nhs_Error {
    border: 2px solid #ff1c00 !important;
}
.nhs_OwnersForm textarea.nhs_Error {
    border: 2px solid #ff1c00;
}
#nhs_OwnersLoadingSubmit {
    background-color: #4d4d4d;
    width: 100%;
    height: 350px;
}
#nhs_OwnersLoadingSubmit img {
    margin: 130px 0 0 43%;
    padding: 10px;
    border: solid 1px #fff;
}

/*====== CATEGORIES POPUP =======*/

#nhs_OwnersSliderLeftArrow, #nhs_OwnersSliderRightArrow {
    float: right;
    position: relative;
    z-index: 99999;
    cursor: pointer;
}
.nhs_OwnersSliderBulletNav > div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: gray;
    position: static !important;
    float: left;
    margin: 2px;
}
.nhs_OwnersSliderBulletNav > div:hover, .nhs_OwnersSliderBulletNav > div.av {
    background: #0091da;
}

.nhs_OwnersPopupStory h2, .nhs_OwnersPopupPreviewContent h2 {
    height: 30px;
    background: #eeeeee;
    color: #0091da;
    font-weight: bold;
    padding: 20px;
}

.nhs_OwnersPopupStory .nhs_OwnersPopupMedia, .nhs_OwnersPopupPreviewContent .nhs_OwnersPopupMediaPreview {
    width: 370px;
    height: 300px;
    float: left;
    position: relative;
}
.nhs_OwnersPopupPreviewContent .nhs_OwnersVideoPreview {
    width: 370px;
    height: 300px;
    float: left;
    position: relative;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
}
.nhs_OwnersPopupMedia img, .nhs_OwnersPopupMediaPreview img {
    background-color: #eeeeee;
    width: auto;
    height: 300px;
}
.nhs_OwnersPopupStory .nhs_OwnersVideo {
    width: 400px;
    min-height: 258px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999;
    padding: 30px;
}
.nhs_videoThumbIcon {
    background: url(/globalresourcesmvc/default/images/overlays/play_video.png) no-repeat left top;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#nhs_OwnersSliderPopup {
    display: none;
}
#nhs_OwnersSliderContainer {
    position: relative;
    margin: 0px auto;
    width: 800px;
    height: 500px;
}

a.nhs_OwnersPopupClose {
    /*width: 38px;     height: 30px;     display: inline-block;     padding: 5px 0 0 0;     font-size: 20px;     text-align: center;     position: absolute;     top: -45px;     right: 0px;     color: #fff !important;     background: #4b4b4b;     text-decoration: none;     cursor: pointer;*/
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: rgba (0, 0, 0, 0.4);
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #4d4d4d;
    padding: 1px 5px;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: -30px;
    right: 0px;
}

.nhs_OwnersSliderBulletNav {
    position: relative;
    z-index: 999999;
    float: right;
    width: auto !important;
    margin: 0 10px;
}
.nhs_OwnersSlides {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    overflow: hidden;
    height: 500px;
}
.nhs_ctrlArrowLeft, .nhs_ctrlArrowRight {
    font-size: 12px;
    color: #929292;
}
.nhs_ctrlArrowLeftdn, .nhs_ctrlArrowRightdn {
    font-size: 12px;
}
#nhs_OwnersSliderContainer .arrows_wrapper {
    display: block;
    position: relative;
    top: 26px;
    left: -24px;
}
.nhs_OwnersPopupWrapper {
    padding: 15px;
}
.nhs_OwnersPopupMedia, .nhs_OwnersPopupDescription {
    width: 38%;
    float: left;
}

.nhs_OwnersPreviewText {
    overflow-y: auto;
    height: 250px;
    width: 340px;
    float: left;
}

.nhs_OwnersPopupMedia, .nhs_OwnersPopupMediaPreview {
    margin: 25px 30px;
}
.nhs_OwnersPopupDescription, .nhs_OwnersPreviewText {
    padding: 30px 0;
}
.nhs_OwnersPreviewText p, 
.nhs_OwnersPopupFull p {
    margin-bottom: 10px;
}
.nhs_OwnersPreviewPopupFull {
    padding: 30px;
    overflow-y: auto;
    height: 250px;
}
.nhs_OwnersPreviewPopupFull p {
    margin-bottom: 10px;
}
.nhs_OwnersPopupFull {
    padding: 30px;
}

.nhs_OwnersFormActions ul {
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    width: 450px;
    color: #4b4b4b;
}
.nhs_OwnersFormActions ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    text-align: center;
    width: 120px;
    font-size: 18px;
}
.nhs_OwnersFormActions ul li span:first-child {
    display: block;
    width: 32px;
    margin: 0 auto;
    padding: 4px 0;
    border: 1px solid #eee;
}
.nhs_OwnersFormActions ul li span:last-child {
    font-size: 13px;
}
.nhs_OwnersFormActions .nhs_Active {
    color: #fff;
    background-color: #0091da;
    border-color: #0091da;
}
.nhs_OwnersSliderPopup {
    position: relative;
}

.nhs_OwnersSliderPopup:before, 
.nhs_OwnersPreview:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 478px;
    border: 50px solid;
    border-color: #fff transparent transparent #fff;
    z-index: -100;
}
.nhs_OwnersSliderPopup:before, 
.nhs_OwnersPreview:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 470px;
    border: 50px solid;
    border-color: #fff transparent transparent #fff;
    z-index: -100;
}
.nhs_OwnersThanks {
    text-align: center;
    margin-top: 17%;
    height: 44%;
}
.nhs_OwnersThanks h3 {
    margin-bottom: 15px;
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 24px;
}
.nhs_OwnersThanksHearts {
    background: url(/globalResources14/NewHomeSource/images/owners/thankyou-hearts.png) no-repeat left top;
    width: 149px;
    height: 197px;
    float:right;
    margin: -39px 20px 0 30px;
}
#nhs_OwnersFormThankYou {
    background-color: #eee;
    width: 100%;
}
#nhs_OwnersPreviewThanks .wrapper {
    width: 97%;    
}
#nhs_OwnersFormThankYou div {  
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 970px;
    margin: 20px auto 0 auto;
    color: #4b4b4b;
    border: 1px solid #e7e3e3;
}
#nhs_OwnersFormThankYou h3 {
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
#nhs_OwnersFormThankYou p {
    margin-bottom: 5px;
}

/* CURATION */
#nhs_OwnerStoriesList {
    font-size: 80%;
}
#nhs_OwnerStoriesList .k-grouping-header {
    background-color: #fff;
    color: #666;
    font-weight:600;
}
#nhs_OwnerStoriesList .k-grid-header,
#nhs_OwnerStoriesList .k-header {
    background-color: #C7C4C4;
}
#nhs_OwnerStoriesList .k-group-indicator {
    background-color: #cdcdcd;
}
#nhs_OwnerStoriesList .k-group-indicator .k-link:link {
    color:#716e6e;
}
#nhs_OwnerStoriesList .k-grid-header-wrap,
#nhs_OwnerStoriesList .k-grid-header,
#nhs_OwnerStoriesList .k-grid .k-grouping-header {
    border-color: #bebbbb;
}
#nhs_OwnerStoriesList .k-grid-content h2 {
    font-size: 100%;
    font-weight: 600;
}
#nhs_OwnerStoriesList .k-pager-wrap {
  background-color: #DCDADA;
  padding: 8px 0;
}
#nhs_OwnerStoriesList .k-pager-wrap .k-link {
    background-color: #bebbbb;
}
#nhs_OwnerStoriesList .k-grid-pager .k-link:link {
    color: #000;
}
#nhs_OwnerStoriesList .k-dropdown .k-state-hover .k-input {
  color: #fff !important;
}
#nhs_OwnerStoriesList .k-grouping-row td {
    background-color: #bebbbb;
}
.nhs_OwnersCuration .nhs_ShowcaseQuote img, 
.nhs_OwnersCuration .nhs_ShowcaseQuote video {
    width: 298px;
}
#nhs_AccessDenied h2 {
    color: #ff1c00;
    font-weight: 700;
}
#nhs_OwnerStoriesList .k-loading-image {
    top: 38%;
    left: 44%;
}
#nhs_OwnerStoriesList .k-link:link {
    color: #666;
}
.kendo-custom-filter .k-animation-container .k-filter-menu {
    background-color: #DCDADA;
}
.kendo-custom-filter  .k-dropdown .k-input {
	color: #ffffff !important;
}
/*
This Status dropdown menu <div> is been injected dinamically before the </body>. 
So, a parent class will be need to apply the changes only to this dropdown.    
*/
.k-animation-container .k-group {
    background-color: #DCDADA;
}
.k-animation-container .k-dropdown .k-input {
    color: #fff !important;
}
/* VIDEO AND IMAGE POPUP */
#storyImageVideoPreview {
    position: relative;
}
#storyImageVideoPreview img {
    display: block;
    margin: 30px auto;
}
#ownerStoryVideo {
    width: 340px;
    height: 235px;
}
#storyImageVideoPreview a.nhs_OwnersPopupClose {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: rgba (0, 0, 0, 0.4);
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #4d4d4d;
  padding: 1px 5px;
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: -32px;
  right: -40px;
  width: 14px;
  height: 20px;
  text-align: center;
  position: fixed;
}
/* end CURATION */