
#nhs_ResMktTxt > h1 {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_ResMktTxt > h1 > strong {
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-weight: normal;
}
#nhs_ResMktMap a.nhs_OpenMap {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-weight: normal;
}
#nhs_ResFacets > div > div:first-child > p {
	font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetCounts {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
.nhs_ResMapAreaToggle input[type='checkbox'] + label,
.nhs_ResMapAreaToggle > div {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
#nhs_ResMap > aside > p {	
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_ResTabBar > ul.nhs_Tabs > li > a { 
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
.nhs_ResMatches {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
.nhs_CommResItem > p:first-child,
.nhs_HomeResItem > p:first-child,
.nhs_CommResItem .nhs_ItemImages > div > p,
.nhs_HomeResItem .nhs_ItemImages > p {
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
}
.nhs_CommResItem .nhs_ItemImages > div > p strong,
.nhs_HomeResItem .nhs_ItemImages > p strong {
    font-weight: normal;
}
.nhs_NoRes {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_ResultList .nhs_GroupingBar {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_ResAdCol > #nhs_NewsletterContainer,
#nhs_ResAdCol > .nhs_ResCmsTeaser,
#nhs_ResAdCol > .nhs_ResCmsTeaser p:first-child {
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_ResAdCol > #nhs_NewsletterContainer > div > p:first-child strong {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
    font-weight: normal;
}
.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif !important;
}
/*.nhs_MapHoverCard h2 {
    color: #0091da;
}
.nhs_MapHoverCard p.nhs_Price {  
    color: #7d7d7d;
}*/



#nhs_CommResListAds {
	
}
#nhs_CommResListAds  > div {

}

.nhs_GalleryItem p.nhs_ItemName {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal !important;
}
.nhs_GalleryItem.nhs_GalleryItemOn > .nhs_GalleryItemImgBox {
    border-color: #0091da;
}