
/*======== HEADER =========*/
#nhs_AdTop {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 20px auto;
    padding: 6px 0;
    height: 90px;
    background: #4b4b4b;
    
    padding: 0;
    background: transparent;
    }
#nhs_AdTop > div {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    }    

#nhs_Header {
	width: 728px; 
	min-height: 65px;
	margin: 0 auto;
	padding: 20px 20px 0 20px; 
}
#nhs_HeaderLogo {
	float: left;
	display: inline-block;
	width: 26%;
	max-width: 327px;
	overflow: visible;
	margin-top: 6px;	
}
#nhs_TvHeaderLogo {
	float: left;
	display: inline-block;
	width: 26%;
	max-width: 460px;
	overflow: visible;
	margin-top: 7px;
}
#nhs_Header > nav {
	float: right;
	/*margin-right: 10px;*/
}
#nhs_Header > nav > ul {
	display: inline-block;
	list-style: none;
	font-family: 'Avenir LT W01 35 Light','Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-size: 0.95rem;
	margin: 0;
	padding: 0;
}
#nhs_Header > nav > ul > li {
    float: left;
	display: inline-block;
	margin: 0 0 0 0;	
	padding-bottom: 0;
}
#nhs_Header > nav > ul > li > a {
	display: inline-block;
	margin: 0;
	padding: 10px 20px 2px 15px;
	position: relative;
	text-decoration: none;
}
#nhs_Header > nav > ul > li > a:hover {
	text-decoration: none;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavWhyNew > a {
    padding-left: 10px;
    }
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > a > span {
    display: inline-block;
	margin: 0 0 -6px 0;
	padding: 0 0 0 14px;
	max-width: 57px;
	max-width: 72px;
	overflow: hidden;
	background-size: 10px 14px;
	background-position: left 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/newhomesource/images/icons/user@2x.png);
	
    white-space: nowrap;    
    text-overflow: ellipsis;
}
#nhs_Header > nav > ul > li > a:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 8px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	
	border-top: 6px solid #0091da;
	}
#nhs_Header > nav > ul > li > div {
	display: block;
	position: absolute;
	top: 50px;
	right: 0;
	width: 100%;
	padding-top: 35px;
	
	display: none;
	z-index: 9999;
}
#nhs_AdTop + #nhs_Header > nav > ul > li > div {	
	top: 190px;	
}
#nhs_eBookHeader + #nhs_Header > nav > ul > li > div {	
	top: 240px;	
}
#nhs_Header > nav > ul > li > div > div {
	width: 100%;
	min-width: 768px;
	background: #0091da;
	color: #fff;
	box-shadow: 0 2px 4px 0 #7d7d7d;
}

#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div {	
    float: left;
    width: auto;
	background: transparent;
	min-width: 0;
	box-shadow: 0 2px 4px 0 #7d7d7d;
}
#nhs_Header > nav > ul > li > div > div > div {
	/*width: 100%;
	max-width: 960px;*/
	min-height: 255px;
	margin: 0 auto;
	/*padding: 40px 0;*/
	font-family: Arial,Helvetica,sans-serif;
	
	width: 96%;
	padding: 45px 2%;
}
#nhs_Header > nav > ul > li > a.nhs_Active:before {
	content: "";
	position: absolute;
	bottom: -33px;
	right: 29%;
	width: 0; 
	height: 0; 
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	
	border-bottom: 24px solid #0091da;
	z-index: 99999999;
}
#nhs_Header > nav > ul > li > div a {
	color: #fff;
}

/*======== SEARCH NAV =========*/
#nhs_Header > nav > ul > li#nhs_GlobalNavSearch > a {
    width: 23px;
    height: 23px;
    padding: 10px 0 0 15px;    
}
#nhs_Header > nav > ul > li#nhs_GlobalNavSearch > a:after {
    display: none;    
}
#nhs_Header > nav > ul > li#nhs_GlobalNavSearch > a span {        
    display: inline-block;
	margin: 0;
	padding: 0 0 0 23px;
	width: 0;
	height: 23px;
	overflow: hidden;
	background-size: 23px 23px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier_blue.png);
}
#nhs_Header > nav > ul > li#nhs_GlobalNavSearch > a.nhs_Active:before {
    left: 3%;
}

#nhs_GlobalSearchNavSearchBox {
	float: left;
	width: 37.5%; /*360/960*/
	max-width: 360px;
}	
#nhs_GlobalSearchNavSearchBox > form,
#nhs_GlobalSearchNavSearchBox > div /*webforms*/ {
	background: #eee;
}
#nhs_GlobalSearchNavSearchBox > form .nhs_Title,
#nhs_GlobalSearchNavSearchBox > div .nhs_Title {
	margin: 12px 0 18px 0;
	padding: 0 12px;
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	color: #0091da;
	line-height: 1;
}
#nhs_GlobalSearchNavSearchBox > form p,
#nhs_GlobalSearchNavSearchBox > div p {
	margin: 0 0 18px 0;
	padding: 0 12px;
}
#nhs_GlobalSearchNavSearchBox fieldset {
	position: relative;
}
#nhs_GlobalSearchNavSearchBox input[type='text'] {
	width: 84%;
	margin: 2px 0 0 0;
	padding: 9px 14% 8px 2%;
	border: 0;
	border-radius: 3px;
	/*box-shadow: inset 3px 4px 4px 0 #aaa;*/
	font-size: 18px;
	font-size: 1.125rem;
	color: #7d7d7d;
}
#nhs_GlobalSearchNavSearchBox input[type='submit'] {
	position: absolute;
	top: 7px;
	right: 5%;
	
	width: 30px;
	height: 0;
	border: 0;
	overflow: hidden;
	padding: 30px 0 0 0;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier.png);
}

#nhs_GlobalSearchNavSearchBox > p {
	margin: 30px 30px 0 0; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.2;
}
#nhs_GlobalNavSearch > div > div > div > ul {
	float: left;
	width: 28.125%;  /*270/960*/
	padding: 0 0 0 3.125%;  /*30/960*/
	list-style: none;
}
#nhs_GlobalNavSearch > div > div > div > ul:first-of-type {
	width: 26.04166666666667%;  /*250/960*/
	padding: 0 0 0 5.208333333333333%; /*50/960*/	
}
#nhs_GlobalNavSearch ul li span {
	margin: 0;
	padding: 0;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 19px;
	font-size: 1.2rem;
	color: #ffce34;
	line-height: 1;
}
#nhs_GlobalNavSearch > div > div > div ul ul {
	margin: 0;
	padding: 0 0 30px 12px;
	list-style: none;
	font-size: 14px;
	font-size: 0.875rem;
}
#nhs_GlobalNavSearch > div > div > div ul ul li {
	padding: 2px 0 0 0;
}

#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .field-validation-error {
    position: absolute;
    left: 0;
    top: -65px;
    color: #fff; 
    background: #d92632;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
	width: 96%;
	margin: 0;
	padding: 9px 2%;
}  
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete a {
    color: #7d7d7d;
}
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete .ui-menu-item a.ui-state-focus,
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete .ui-menu-item a.ui-state-active, 
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete a#ui-active-menuitem {
	font-weight: bold;
	background: #0091da;
	color: #fff;
	border: 0;
}
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete li a span {
    font-family: Arial,Helvetica,sans-serif;
    /*font-size: 11px;
    font-size: 0.7rem;*/
    color: #7d7d7d;
}	
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete .ui-menu-item a.ui-state-focus span,
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete .ui-menu-item a.ui-state-active span, 
#nhs_GlobalNavSearch #nhs_GlobalSearchNavSearchBox .ui-autocomplete a#ui-active-menuitem span {	
	color: #fff;
}		

/*======== WHY NEW? NAV =========*/
#nhs_GlobalNavWhyNew > div > div > div {
	font-size: 14px;
	font-size: 0.875rem;
}
#nhs_GlobalNavWhyNew > div > div > div > div {
	float: left;
	width: 26.04166666666667%; /*360/960*/
	max-width: 250px;
	clear: left;
}
#nhs_GlobalNavWhyNew > div > div > div > div .nhs_Title {
	margin: 0;
	padding: 0 0 12px 0;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 19px;
	font-size: 1.2rem;
	color: #ffce34;
	line-height: 1;
}
#nhs_GlobalNavWhyNew > div > div > div > ul {
	float: right;
	display: block;
	width: 71.875%; /*690/960*/
	max-width: 690px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li {
	float: left;
	display: inline-block;	
	margin: 0 0 20px 2.898550724637681%; /*20/690*/
	padding: 0;
	width: 47.10144927536232%; /*32.8125%; /*325/690*/
	max-width: 325px;
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li a {	
	display: inline-block;	
	width: 100%; /*240/325*/
	max-width: 325px;
	height: 75px;
	margin: 0;
	padding: 0;
	/*padding: 25px 1.538461538461538% 25px 24.61538461538462%; /*5/325 80/325*/	
	
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-size: 1.4rem;
	color: #0091da;
	line-height: 75px;
	
	background-size: 75px 75px;
	background-position: left 50%;
    background-color: #fff;
	background-image: url(/globalresources14/newhomesource/images/backgrounds/nav_why_lowcost.jpg);
	background-repeat: no-repeat;
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li + li a { 
	background-image: url(/globalresources14/newhomesource/images/backgrounds/nav_why_designed.jpg);
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li + li + li a { 
	background-image: url(/globalresources14/newhomesource/images/backgrounds/nav_why_quality.jpg);
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li + li + li + li a { 
	background-image: url(/globalresources14/newhomesource/images/backgrounds/nav_why_energy.jpg);
}
#nhs_GlobalNavWhyNew > div > div > div > ul > li a span {
	display: inline-block;
	margin: 0 5px 0 85px;
	line-height: 1;
}
#nhs_GlobalNavWhyNew > div > div > div > a.btnCss {
	float: right;
	clear: right;
	padding: 11px 25px;
	color: #fff !important;
	background: #0091da;
	border: 1px solid #fff;
	font-size: 13px;
	font-size: 0.8rem;
	font-weight: normal;
}

/*======== CMS NAV =========*/

#nhs_GlobalNavCms > div > div > div > ul {
	float: left;
	width: 37.5%;  /*360/960*/
	max-width: 360px;
	padding: 0; 
	list-style: none;
}
#nhs_GlobalNavCms ul li span,
#nhs_GlobalNavCms > div > div > div > div > p {
	margin: 0;
	padding: 0;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 19px;
	font-size: 1.2rem;
	color: #ffce34;
	line-height: 1;
}
#nhs_GlobalNavCms > div > div > div > div > p {
	padding-bottom: 3px;
}
#nhs_GlobalNavCms > div > div > div ul ul {
	margin: 0;
	padding: 0 0 30px 12px;
	list-style: none;
	font-size: 14px;
	font-size: 0.875rem;
}
#nhs_GlobalNavCms > div > div > div ul ul li {
	padding: 2px 0 0 0;
}

#nhs_GlobalNavCms > div > div > div > div {
	float: left;
	width: 60.41666666666667%; /*580/960*/
	max-width: 580px;
	margin: 0;
	padding: 0 0 0 2.083333333333333%; /*20/960*/
}

#nhs_GlobalNavCms > div > div > div > div > ol {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
}
#nhs_GlobalNavCms > div > div > div > div > ol li {
	width: 100%;
	margin: 12px 0;
}
#nhs_GlobalNavCms > div > div > div > div > ol li a {
	display: inline-block;
	
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: #fff;	
	line-height: 1.2;
}
#nhs_GlobalNavCms > div > div > div > div > ol li a:hover {	
	text-decoration: none;
}
#nhs_GlobalNavCms > div > div > div > div > ol li a:before {
	content: "1";
	display: inline-block;
	width: 50px;
	height: 50px;	
	margin-right: 8px;
	line-height: 50px;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 21px;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	background: #bababa;	
	border-radius: 50%;
	box-shadow: inset 0 2px 0 0 #7d7d7d;
}
#nhs_GlobalNavCms > div > div > div > div > ol li.nhs_2 a:before {
	content: "2";
}
#nhs_GlobalNavCms > div > div > div > div > ol li.nhs_3 a:before {
	content: "3";
}
#nhs_GlobalNavCms > div > div > div > div > ol li.nhs_4 a:before {
	content: "4";
}
#nhs_GlobalNavCms > div > div > div > div > ol li.nhs_5 a:before {
	content: "5";
}
#nhs_GlobalNavCms > div > div > div > div > ol li.nhs_6 a:before {
	content: "6";
}
#nhs_GlobalNavCms > div > div > div > div > ol li a:hover:before {
	background: #fff;
	color: #0091da;
}

/*======== ACCOUNT NAV =========*/
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount {
	position: relative;	
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > a.nhs_Active:before {
	content: none;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div {
	position: absolute;
	top: 30px;
	right: -10px;	
	width: 423px;
	padding: 35px 0 0 0;
	overflow: visible;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div.nhs_HasAccount {
    width: 104px;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div:before {
	content: "";
	position: absolute;
	top: 11px;
	right: 25px;
	width: 0; 
	height: 0; 
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	
	border-bottom: 24px solid #7d7d7d;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div {
    float: left;
	width: 161px;
	min-width: 0;
	max-width: 161px;
	height: 69px;
	min-height: 0;
	margin: 0;
	padding: 28px 20px 28px 115px;
	background: #eee;
	color: #fff;
	background-size: 74px 74px;
	background-repeat: no-repeat;
	background-position: 24px 52%;
	background-image: url(/globalresources14/newhomesource/images/icons/user_circle@2x.png);
	box-shadow: none;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div a {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
	font-size: 14px;
	font-size: 0.875rem;
    color: #0091da;    
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div > p {
    margin: 0;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div > ul {   
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;	
	font-size: 12px;
	font-size: 0.75rem;
	color: #7d7d7d;
	line-height: 1.1;	
	margin: 0;
	padding: 0 0 0 15px;
	list-style-type: disc;
	list-style-image: none;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div > ul li {   
	display: list-item;
}

#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > ul {
    float: left;
    height: 97px;
	margin: 0;
	padding: 14px 20px;	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	background: #7d7d7d;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div.nhs_HasAccount > div > ul {
    height: auto;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div ul li {
	display: block;
	margin: 2px 0;
	padding: 0;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div ul li a {
	display: inline-block;
	margin: 0;
	padding: 2px 0;
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div ul li a > span {
	display: inline-block;
	margin: 0 0 -3px 0;
	padding: 15px 0 0 0;
	width: 15px;
	height: 0;	
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-image: url(/globalresources14/newhomesource/images/icons/facebook_15.png);
}

#nhs_Main {
}
#nhs_Page {
	max-width: 100%;
}

.nhs_WideColorBg {
    position: relative;
    background: #eee; 
    padding: 20px 0;  
    width: 100%;
    min-width: 991px; 
}
.nhs_FixedCenter {	
	background: #fff;
	width: 970px !important;
	margin: 0 auto;
	padding: 10px;
}

/*======== SOCIAL FOOTER =========*/
#nhs_SocialFooter {
	width: 100%;
	min-width: 768px;
	background: #bababa;
	padding: 48px 0 0 0;
}
#nhs_SocialFooter > ul {
	display: block;
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#nhs_SocialFooter > ul > li {
	float: left;
	width: 11.04477611940299%; /*74/670*/
	display: block;
	margin: 0 4.477611940298507% 48px 4.477611940298507%; /*30/670*/
	max-width: 74px;
	max-height: 74px;
	min-width: 25px;
	min-height: 25px;
	overflow: hidden;
}
#nhs_SocialFooter > ul > li a {
	display: block;	
	padding-top: 100%;
	height: 0;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-image: url(/globalresources14/newhomesource/images/icons/facebook_74.png);
}
#nhs_SocialFooter > ul > li a:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/facebook_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_Twitter {
	background-image: url(/globalresources14/newhomesource/images/icons/twitter_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_Twitter:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/twitter_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_Pinterest {
	background-image: url(/globalresources14/newhomesource/images/icons/pinterest_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_Pinterest:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/pinterest_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_YouTube {
	background-image: url(/globalresources14/newhomesource/images/icons/youtube_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_YouTube:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/youtube_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_GooglePlus {
	background-image: url(/globalresources14/newhomesource/images/icons/googleplus_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_GooglePlus:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/googleplus_74_blue.png);
}

/*======== FOOTER =========*/
#nhs_Footer {
	width: 100%;
	min-width: 768px;
	padding: 95px 0 350px 0;
	background: #7d7d7d;
	color: #fff;	
	line-height: 1.1;
}
#nhs_Footer > div {
	/*width: 100%;*/
	width: 728px;
	/*max-width: 960px;*/
	min-height: 250px;
	margin: 0 auto;
	padding: 0 20px; 
}
#nhs_Footer a {
	color: #bababa;
}
#nhs_Footer a:hover {
	color: #0091da;
}
#nhs_FooterAdBox {
	display: table-cell;
	width: 300px;
	height: 250px;
}
#nhs_FooterAdBox > div {	
	border: 1px solid #000;
}
#nhs_Footer > div > nav {
	display: table-cell;
	width: 35%;
	padding: 0 0 1em 20px;
	vertical-align: top;
}
#nhs_Footer > div > nav#nhs_FooterAbout {
	width: 20%;
}
#nhs_Footer > div > nav p {
	margin: 0;
	font-size: 18px;
	font-size: 1.125rem;
}
#nhs_Footer > div > nav p strong {
	font-weight: normal;
	color: #ffce34;
}
#nhs_Footer > div > nav > ul {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
	font-size: 14px;
	font-size: 0.875rem;
}
#nhs_Footer > div > nav > ul > li {
	margin: 8px 0;
}
#nhs_FooterLegal {
	float: left;
	clear: both;
	margin-top: 35px;
	font-size: 10px;
	font-size: 0.625rem;
	color: #bababa;	
}

/*======== OTHER =========*/
#nhs_DealsSearch,
#nhs_BoylSearch,
#nhs_LocationHandler {
    background: #eee;
}

/*======== BREADCRUMBS =========*/
#nhs_BreadcrumbArea #nhs_Crumbs {
    max-width: 970px;    
}
#nhs_Crumbs nav > ol li a,
#nhs_Crumbs nav > ol li:before,
#nhs_ClearFacets a {
    color: #bababa;
}
#nhs_ClearFacets a:hover {
    color: #0091da;
}

/*======== SOCIAL BAR =========*/
#nhs_SocialSideBar {
    position: fixed;
    top: 0;
    left: -70px;
    z-index: 999;
    width: 70px;
    height: 100%;
    background: #bababa;    
    box-shadow: 0 5px 10px 3px rgba(0,0,0,0.1);
    -webkit-transition: all linear .15s;
    -moz-transition: all linear .15s;
    -o-transition: all linear .15s;
    transition: all linear .15s;
}
#nhs_SocialSideBar.nhs_Active {
    left: 0;
}
#nhs_SocialSideBar > p {
    display: block;
    position: absolute;
    left: 46px;
    bottom: 24%;    
    width: 84px;
    height: 19px;
    padding: 0;
    background: #bababa;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);    
    transform: rotate(-90deg);    
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-size: 1rem;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);
}
#nhs_SocialSideBar > p > span {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);   
}
#nhs_SocialSideBar.nhs_Active > p > span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);    
}

.addthis_floating_style {
    background: none !important;
    border-radius: 0 !important; 
    padding: 0 12px !important; 
    top: 100px !important;  
    z-index: 999 !important;
    position: relative !important;
}
.addthis_floating_style.addthis_32x32_style,
.addthis_floating_style.addthis_32x32_style .addthis_internal_container {
    width: 45px !important;
}
.addthis_floating_style a {
    overflow: hidden;
    width: 45px !important;
    height: 0 !important;
    line-height: 45px;
    margin: 12px 0 0 0 !important;
    padding: 45px 0 0 0 !important;    
    /*background-color: #bababa;*/
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	border-radius: 3px; 
}
.addthis_floating_style a.addthis_button_facebook {
    margin: 0 0 0 0 !important;
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/facebook.png);
}
.addthis_floating_style a.addthis_button_facebook:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/facebook_over.png);
}
.addthis_floating_style a.addthis_button_twitter {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/twitter.png);
}
.addthis_floating_style a.addthis_button_twitter:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/twitter_over.png);
}
.addthis_floating_style a.addthis_button_pinterest_share {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/pinterest.png);
}
.addthis_floating_style a.addthis_button_pinterest_share:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/pinterest_over.png);
}
.addthis_floating_style a.addthis_button_google_plusone_share {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/googleplus.png);
}
.addthis_floating_style a.addthis_button_google_plusone_share:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/googleplus_over.png);
}
.addthis_floating_style a.addthis_button_print {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/print.png);
}
.addthis_floating_style a.addthis_button_print:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/print_over.png);
}
.addthis_floating_style a.addthis_button_email {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/mail.png);
}
.addthis_floating_style a.addthis_button_email:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/social_bar/mail_over.png);
}

.btn_Loading {
	background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50% !important;
	padding-top: 32px !important;
	padding-bottom: 0 !important; 
    height: 32px !important;
    cursor: default !important;
    border: 0;
    
    width: auto;
    overflow: hidden; 
	}
.nhs_DetailsToolBar {
    display: none;
    opacity: 0;
    }	
.nhs_DetailsToolBar ul li a {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    border: 1px solid #0091da;
    color: #fff;
    background: #0091da;
    }
.nhs_DetailsToolBar ul li a:hover { 
    color: #0091da;
    background: #fff;
    }     

