﻿.syntheticContainer {
    width: 850px;
    margin: 0 auto;
}

.syntheticLocation, .syntheticZip {
    border: 1px solid gray;
    padding: 15px;
}

.syntheticLocation {
    font-weight: bold;
    text-align: center;
    color: #000;
}

.syntheticZip {
  text-align: justify;
}

.syntheticTitleContainer {
    background: #0091da;
    border: 1px solid #0091da;
    height: 65px;
    color: #fff;
}

.syntheticTitleContainer th:first-child {
    border-right: 1px solid #fff;
}

.syntheticTitleContainer, .syntheticLocation {
    font-size: 1.05rem;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}