
.nhs_WideColorBg {
    min-width: 0 !important; 
}
#nhs_TvFeaturedHomes ul.slidesjs-pagination,
#nhs_TvMarketSlides ul.slidesjs-pagination,
#nhs_TvSegments ul.slidesjs-pagination,
#nhs_TvMarketPromos ul.slidesjs-pagination {
    width: 80%;
    max-width: 960px;
    height: 16px;
    margin: 8px auto;
    padding: 12px 0;
    text-align: center;
    line-height: 16px;
}
#nhs_TvFeaturedHomes ul.slidesjs-pagination li,
#nhs_TvMarketSlides ul.slidesjs-pagination li,
#nhs_TvSegments ul.slidesjs-pagination li,
#nhs_TvMarketPromos ul.slidesjs-pagination li {
    display: inline-block;
    margin: 0;
    height: 16px;
    line-height: 16px;
}
#nhs_TvFeaturedHomes ul.slidesjs-pagination li a,
#nhs_TvMarketSlides ul.slidesjs-pagination li a,
#nhs_TvSegments ul.slidesjs-pagination li a,
#nhs_TvMarketPromos ul.slidesjs-pagination li a {
    display: inline-block;
    width: 16px;
    height: 0;
    margin: 0 7px;
    padding: 16px 0 0 0;
    background: #fff !important;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}  
#nhs_TvMarketSlides ul.slidesjs-pagination li a {
    background: #eee !important;
}
#nhs_TvFeaturedHomes ul.slidesjs-pagination li a:hover, 
#nhs_TvMarketSlides ul.slidesjs-pagination li a:hover,  
#nhs_TvSegments ul.slidesjs-pagination li a:hover,
#nhs_TvMarketPromos ul.slidesjs-pagination li a:hover {
    background: #0091da !important;
} 
#nhs_TvFeaturedHomes ul.slidesjs-pagination li a.active,  
#nhs_TvMarketSlides ul.slidesjs-pagination li a.active,    
#nhs_TvSegments ul.slidesjs-pagination li a.active,
#nhs_TvMarketPromos ul.slidesjs-pagination li a.active {
	background: #0091da !important;
	cursor: default;
}   
#nhs_TvFeaturedHomes a.slidesjs-previous,  
#nhs_TvMarketSlides a.slidesjs-previous,
#nhs_TvSegments a.slidesjs-previous,
#nhs_TvMarketPromos a.slidesjs-previous {
    float: left;
    display: inline-block;
    width: 21px;
    height: 0;
    margin: 8px 0 8px 5px;
    padding: 41px 0 0 0;
    overflow: hidden;
    cursor: pointer;
    background: url(/globalresources14/default/images/buttons/arrow_left.png) no-repeat left 50%;
}
#nhs_TvFeaturedHomes a.slidesjs-next,
#nhs_TvMarketSlides a.slidesjs-next,
#nhs_TvSegments a.slidesjs-next,
#nhs_TvMarketPromos a.slidesjs-next {
    float: right;
    display: inline-block;
    width: 21px;
    height: 0;
    margin: 8px 5px 8px 0;
    padding: 41px 0 0 0;
    overflow: hidden;
    cursor: pointer;
    background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50%;
}

#nhs_TvSegments ul.slidesjs-pagination li a {
    background-color: #fff; 
}

/*======== TV HOME - LANDING =========*/

#nhs_TvHomeHeader {
    width: 98%;    
    max-width: 960px;   
    min-height: 150px;
    margin: 35px auto;
    padding: 0;  
}

#nhs_TvHomeHeader > div {
    float: right;
    width: 57.29166666666667%; /*550/960*/
    max-width: 550px;
}
#nhs_TvHomeHeader > div p {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;  
    font-size: 20px;
    font-size: 1.25rem;
    color: #0091da;  
}
#nhs_TvHomeHeader > div ul {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;  
    font-size: 20px;
    font-size: 1.25rem;
    color: #0091da; 
    padding-left: 18px; 
}
#nhs_TvHomeHeader > div:first-child {
    float: left;
    width: 37.5%; /*360/960*/
    max-width: 360px;
}
#nhs_TvHomeHeader > div:first-child h2 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;    
    font-size: 29px;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.1;
}
#nhs_TvHomeHeader > div:first-child p {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #0091da;
    margin-top: 18px;
}

#nhs_TvHomeMap {
    width: 100%;    
	/*max-width: 960px;*/
	min-height: 508px;
	background: #fff;
	box-shadow: inset 0 0 30px 0 #a9abac;
}

#nhs_TvNav {
    width: 100%;    
    max-width: 960px;   
    margin: 0 auto 30px auto;
}
#nhs_TvNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nhs_TvNav ul li {
    float: left;
    display: inline-block; 
    padding-right: 0.5208333333333333%; /*5/960*/
    width: 188px; 
}
#nhs_TvNav ul li a {
    display: inline-block; 
    margin: 0;
    padding: 12px 0;
    width: 100%;
    
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;   
    font-size: 15px;
    font-size: 0.95rem;
    color: #fff;
    text-align: center;
    line-height: 16px;
    height: 16px;
    text-decoration: none;
    border-radius: 3px;
       
    border: 0px solid #0091da;
    background: #0091da;
}
#nhs_TvNav ul li a:hover { 
    color: #0091da;
    border: 0px solid #0091da;
    background: #fff;
} 

#nhs_TvNav > div {
    float: right;
    border: 0px solid #bababa;
    background: #bababa;
    display: inline-block; 
    padding: 12px 0; 
    width: 19.58333333333333%; /*188/960*/
    min-width: 188px;
    
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;   
    font-size: 15px;
    font-size: 0.95rem;
    text-align: center;
    color: #fff;
    line-height: 16px;
    height: 16px;
}
#nhs_TvNav > div a {
    color: #fff;
    cursor: default;
    text-decoration: none;
}
      
#nhs_TvMarketSlides {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    position: relative; 
    display: none;
}
/*#nhs_TvMarketSlides > div {
    width: 100%;
    max-width: 960px;
    height: 425px;
}*/
.nhs_TvMarketSlide {
    width: 100%;
    max-width: 960px; 
    height: 425px;
    position: relative;   
}
#slide1 .nhs_TvMarketSlideText {
    position: absolute;
    left: 33%;
    top: 9%;
    width: 55%;
}
#slide1 .nhs_TvMarketSlideText p {
    margin-top: 30px;
    font-size: 11px;
    font-size: 0.7rem;
    color: #7d7d7d;
    line-height: 1.2;
}
#slide1 .nhs_TvMarketSlideText p strong {
    font-size: 14px;
    font-size: 0.875rem;
}
#slide1 .nhs_TvMarketSlideText p:first-child {
    margin: 0; 
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    color: #bababa;
}
#slide1 .nhs_TvMarketSlideText p:first-child strong {    
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    color: #0091da;
}
#slide2 a.btnCss {
    position: absolute;
    right: 26%;
    bottom: 27%;
    background: #fff;
    border: 1px solid #bababa;
    color: #bababa !important;
}
#slide2 a.btnCss:hover {    
    background: #0091da;
    border: 1px solid #0091da;
    color: #fff !important;
}
#slide3 .nhs_TvMarketSlideText {
    position: absolute;
    left: 43%;
    top: 40px;
    width: 51%;
    text-align: center;
    line-height: 1;
}
#slide3 .nhs_TvMarketSlideText p {
    margin-top: 20px;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 21px;
    font-size: 1.3rem;
    color: #0091da;    
}
#slide3 .nhs_TvMarketSlideText p:first-child {
    margin: 0;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-size: 2.125rem;
    color: #bababa;
}

#nhs_TvMarketSlides ul.slidesjs-pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;    
    z-index: 999;
}
#nhs_TvMarketSlides a.slidesjs-previous {
    display: none;
}
#nhs_TvMarketSlides a.slidesjs-next {
    position: absolute;
    margin: 0;
    margin-top: -20px;
    top: 50%;
    right: 10px;    
    z-index: 999;
}
.nhs_MarketTvSlide {
    width: 100%;
    width: 960px;
    height: 425px;    
}

#nhs_TvFeaturedHomes {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0 0 0; 
}
#nhs_TvFeaturedHomes > h3 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 38px;
    font-size: 2.35rem;
    font-weight: normal;
    color: #0091da;  
    margin: 0 0 20px 12px; 
}
#nhs_TvMarketFeaturedSlides {
    position: relative; 
    width: 100%;
    max-width: 960px; 
    height: 320px; 
    overflow: hidden;
    display: none;     
}
/* #nhs_TvMarketFeaturedSlides > div {
    width: 100%;
    max-width: 960px;
	height: 320px;
} */
#nhs_TvMarketFeaturedSlides .slidesjs-container {
    overflow: visible !important;
}
#nhs_TvMarketFeaturedSlides .slidesjs-pagination {
    display: none;   
}
.nhs_TvFeaturedItem {
    width: 95.3125%; /*915/960*/ 
    max-width: 915px;
    background: #fff;  
    /*width: 915px;  
    height: 320px;*/
}
.nhs_TvFeaturedItem > .nhs_ItemImages {
    float: left;
    width: 62.5%; /*600/960*/
    max-width: 600px;
    height: 320px;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
}
.csstransforms .nhs_TvFeaturedItem .nhs_ItemImages > img {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: none;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.nhs_TvFeaturedItem > h2,
.nhs_TvFeaturedItem h3,
.nhs_TvFeaturedItem > p,
.nhs_TvFeaturedItem > img {
    margin-right: 12px;    
}
.nhs_TvFeaturedItem > h2 {
    margin: 12px 12px 20px 0;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1;
}
.nhs_TvFeaturedItem > h2 strong {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;       
    font-size: 21px;
    font-size: 1.3rem;
    color: #0091da;
}
.nhs_TvFeaturedItem > img,
.nhs_TvFeaturedItem > a img {
    margin: 0 12px 20px 0;     
}
.nhs_TvFeaturedItem > a img {
    max-width: 200px;
    max-height: 65px;    
}
.nhs_TvFeaturedItem p {
    font-size: 12px;
    font-size: 0.75rem;
}
.nhs_TvFeaturedItem .nhs_Location h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0 12px 12px 0;    
}
.nhs_TvFeaturedItem p.nhs_ItemPrice {
    color: #7d7d7d;        
}
.nhs_TvFeaturedItem p.nhs_ItemPrice strong {
    font-size: 14px;
    font-size: 0.875rem;
    color: #7d7d7d;        
}
.nhs_TvFeaturedItem p a {
    display: inline-block;
    margin-top: 12px;
}
#nhs_TvFeaturedHomes a.slidesjs-previous {
    display: none;
}
#nhs_TvFeaturedHomes a.slidesjs-next {
    position: absolute;
    margin: 0;
    margin-top: -20px;
    top: 50%;
    right: 10px;    
    z-index: 999;
}

#nhs_TvMap {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0 0 0; 
}
#nhs_TvMap > h3 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 38px;
    font-size: 2.35rem;
    font-weight: normal;
    color: #0091da;  
    margin: 0 0 20px 12px; 
}
#nhs_TvMapDiv {
    width: 100%;
    max-width: 960px;
    height: 540px;  
    background: #fff;
	box-shadow: inset 0 0 30px 0 #a9abac;  
}
#nhs_TvMapDiv img {
    max-width: none;    
}
.gm-style-iw > div {
    overflow: hidden !important;
}
.nhs_TvMapCard {
    width: 170px;
    line-height: 1.8;
    padding: 0 21px 0 0;
    min-height: 40px;
    /*background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50%;*/
}
.nhs_TvMapCard a:hover {
    text-decoration: none;    
}
.nhs_TvMapCard p {  
    font-size: 9px !important;
    color: #bababa;
}
.nhs_TvMapCard h3 {
    font-size: 19px !important;
    margin: 0;
    line-height: 1.1;
}
.nhs_TvMapCard p.nhs_Price {  
    font-size: 11px !important;
    color: #4b4b4b;
}
.nhs_TvMapCard span {
    /*float: right;
    display: inline-block;
    width: 21px;
    height: 0;
    margin: 8px 0 8px 10px;
    padding: 41px 0 0 0;
    overflow: hidden;
    background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50%; */
    display: none; 
}


.nhs_TvSearchForm {
    float: left;
    width: 58.33333333333333%; /*560/960*/
    height: 55px;
    margin: 20px 0 0 0;
    padding: 15px 2.083333333333333% 20px 2.083333333333333%; /*20/960*/
    background: #bababa;    
}
.nhs_TvSearchForm p {
    position: relative;
}
.nhs_TvSearchForm label {
    display: inline-block;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;   
    font-size: 17px;
    font-size: 1.05rem;
    color: #fff;
    padding-bottom: 2px;
}
.nhs_TvSearchForm p input[type="text"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 7px 1%;
    height: 17px;
    border: 0;
    width: 80%;
    border-radius: 3px;
}
.nhs_TvSearchForm p input.btnCss {
    width: 15%;
    margin-left: 2%;
    padding: 8px 1%;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: normal;
    background: #0091da;
    color: #fff !important;
}
.nhs_TvSearchForm .nhs_LocationSubmitButton {
	position: absolute;
	top: 28px;
	right: 19%;
	width: 26px;
	height: 0;
	border: 0;
	overflow: hidden;
	padding: 26px 0 0 0;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier.png);
}
.nhs_PoweredBy {
    float: right;
    width: 26.04166666666667%; /*250/960*/
    height: 55px;
    margin: 20px 0 0 0;
    padding: 15px 4.166666666666667% 20px 4.166666666666667%; /*40/960*/
    background: #fff;    
    text-align: center;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
.nhs_PoweredBy > p {
    font-size: 14px;
    font-size: 0.875rem; 
    color: #bababa;   
}

/*======== TV VIDEO SEGMENTS & PROMOS =========*/
#nhs_TvSegments,
#nhs_TvMarketPromos {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0 0 0; 
}
#nhs_TvSegments h3,
#nhs_TvMarketPromos h3 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 38px;
    font-size: 2.35rem;
    font-weight: normal;
    color: #0091da;  
    margin: 0 0 20px 12px; 
}

.nhs_TvVideoPage {
    overflow: hidden;
}
.nhs_TvVideoItem {
    float: left;
    width: 32.08333333333333%; /*308/960*/
    max-width: 308px;
    min-height: 352px;
    margin: 0 1.875% 20px 0; /*18/960*/
    padding: 0 0 35px 0;    
    background: #fff;
    color: #7d7d7d;
    position: relative;
}
.nhs_TvVideoItem:nth-of-type(3n) {
    margin-right: 0;    
}
.nhs_TvVideoItem .nhs_ItemImages { 
    position: relative; 
    padding-bottom: 56.25%; 
    /*padding-top: 30px; */
    height: 0; 
    overflow: hidden; 
} 
.nhs_TvVideoItem .nhs_ItemImages iframe, 
.nhs_TvVideoItem .nhs_ItemImages object, 
.nhs_TvVideoItem .nhs_ItemImages embed,
.nhs_TvVideoItem .nhs_ItemImages > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
/*.nhs_TvVideoItem img,
.nhs_TvVideoItem iframe {
    height: 180px;    
}*/
.nhs_TvVideoItem p {
    font-size: 12px;
    font-size: 0.75rem; 
    margin: 10px;   
}
.nhs_TvVideoItem p strong {
    display: inline-block;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #0091da;
}
.nhs_TvVideoItem a.btnCss {
    float: right;
    background: #fff; 
    border: 1px solid #0091da;  
    color: #0091da!important;
    margin: 0 0 0 0;
    padding: 5px 10px;
    width: 60px; 
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.nhs_TvVideoItem a.btnCss:hover {
   background: #0091da; 
   color: #fff !important;
   border: 1px solid #0091da; 
}

.nhs_TvPromoItem {
    float: left;
    width: 32.08333333333333%; /*308/960*/
    max-width: 308px;
    min-height: 150px;
    margin: 0 1.875% 20px 0; /*18/960*/
    padding: 0;    
    background: #fff;
    color: #7d7d7d;
    position: relative;
}
.nhs_TvPromoItem:nth-of-type(3n) {
    margin-right: 0;    
}
.nhs_TvPromoHeadline {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1;
    margin-bottom: 8px;
    padding: 12px;
    color: #fff;
    background: #0091da;
}
.nhs_TvPromoTitle {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.1;
    margin: 8px 10px; 
    color: #0091da;
}
.nhs_TvPromoDesc {
    font-size: 12px;
    font-size: 0.75rem; 
    margin: 8px 10px;  
}
.nhs_TvPromoComm {
    font-size: 14px;
    font-size: 0.875rem; 
    margin: 8px 10px;
    color: #0091da;  
}

/* Sponsor Logos
-------------------------*/
#nhs_TvSponsors {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0; 
}
#nhs_TvSponsors h3 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 38px;
    font-size: 2.35rem;
    font-weight: normal;
    color: #0091da;
    margin: 0 0 20px 12px;  
}
#nhs_TvSponsors > ul {
	display: block;		
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;	
	position: relative;
}
#nhs_TvSponsors > ul li {
	float: left;
	display: block;
	width: 23.95833333333333%; /*230/960*/
    max-width: 230px; 
	height: 170px;
	line-height: 170px;
	margin: 0 0.5208333333333333% 10px 0.5208333333333333%; /*5/960*/
	padding: 0; /*5/960*/
	text-align: center;
	vertical-align: middle;
	background: #fff;
}
#nhs_TvSponsors > ul li a {
    display: block;
    padding: 0 5px;
}
#nhs_TvSponsors img {
	max-height: 170px;		
}

#nhs_TvSponsors > ul.nhs_TvBrandsCount_3 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_6 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_9 li {
    width: 32.29166666666667%; /*310/960*/
    max-width: 310px;    
}
/*#nhs_TvSponsors > ul.nhs_TvBrandsCount_4 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_7 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_8 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_11 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_12 li {
    width: 23.95833333333333%; 
    max-width: 230px;    
}*/
#nhs_TvSponsors > ul.nhs_TvBrandsCount_5 li,
#nhs_TvSponsors > ul.nhs_TvBrandsCount_10 li {
    width: 18.95833333333333%; /*182/960*/
	max-width: 182px;
}

/*======== TV - FOOTER =========*/
#nhs_TvHomeFooter,
#nhs_TvMarketFooter {
    width: 100%;        
    background: #eee; 
    margin: 0;
    padding: 60px 0; 
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_TvMarketFooter {
    background: #fff; 
}
#nhs_TvHomeFooter > div:first-child {        
	margin: 0 auto 60px auto;	
	width: 95.83333333333333%; /*920/960*/
    max-width: 920px;  
	padding: 25px 2.083333333333333%; /*20/960*/
	background: #fff;
}
#nhs_TvMarketFooter > div:first-child {
    width: 100%;
    max-width: 960px;         
    background: #fff;
    margin: 0 auto 50px auto;
	padding: 0;
}
#nhs_TvHomeFooter > div:first-child > p {
    font-size: 16px;
    font-size: 1rem; 
    line-height: 1.6;
    margin-left: 20px;   
    color: #7d7d7d;
}

#nhs_TvMarketFooter > div:first-child > h3 {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 38px;
    font-size: 2.35rem;
    font-weight: normal;
    color: #0091da;    
}
#nhs_TvMarketFooter > div:first-child > p {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 50px 0 40px 0;
    color: #7d7d7d;    
}

/*======== TV - FOOTER HOST BIO =========*/
.nhs_TvHostBio {
    float: left;
    width: 56.25%; /*540/960*/
    max-width: 540px;    
}
#nhs_TvHomeFooter .nhs_TvHostBio {
    float: right;
    margin-left: 5%;
}
.nhs_TvHostBio img {
    float: left;
    margin-right: 5%;
}
.nhs_TvHostBio h3 {
    margin: 20px 0 0 0;
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-size: 1.4rem;
    font-weight: normal;
    color: #0091da;    
}
.nhs_TvHostBio h4 {    
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1; 
    color: #7d7d7d;
}
.nhs_TvHostBio p {
    margin: 20px 0 0 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    color: #bababa;
}

/*======== TV MARKET - FORM =========*/
#nhs_TvMarketSignUp {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    padding: 0;
}
.nhs_TvMarketForm {
    float: right;
    width: 30.20833333333333%; /*290/960*/
    max-width: 290px;
    padding: 20px 2.083333333333333%; /*20/960*/
    background: #eee;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm {
    float: none;
    width: 93.75%; /*900/960*/
    max-width: 900px; 
    margin: 0 0 0 0;
    padding: 18px 2.083333333333333%; /*20/960*/ 
    color: #fff;
    background: #bababa;
    position: relative;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -35px;
    width: 85px;
    height: 85px;
    margin-top: -42px;
    background: url(/GlobalResources14/NewHomeSource/images/tv/dollar.png) no-repeat left top;
}
.nhs_TvMarketForm p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.1; 
    margin: 50px 0 0 0;   
}
.nhs_TvMarketForm fieldset > p:first-of-type {
    margin: 0;   
}
#nhs_TvMarketSignUp .nhs_TvMarketForm fieldset > p {
    float: left;
    margin: 0 0 0 45px;   
    width: 50%;
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm p {
    margin: 0 0 0 45px;   
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm p:first-child {
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
    margin-bottom: 5px;   
    font-size: 18px;
    font-size: 1.125rem; 
}
#nhs_TvMarketSignUpSmall div.nhs_TvMarketForm p {
    margin: 0 0 8px 0;   
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm p.nhs_TvMarketSignUpForm {
    float: right;
    width: 42%;
    margin: 4px 0 0 0;
}
.nhs_TvMarketForm p input[type="text"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 7px 5px;
    height: 17px;
    border: 0;
    width: 62%;
    border-radius: 3px;
}
#nhs_TvMarketSignUp .nhs_TvMarketForm p input[type="text"] {   
    width: 71%;
}
.nhs_TvMarketForm p input.btnCss {
    padding: 8px 14px;
    font-size: 12px;
    font-size: 0.75rem;
    background: #0091da;
    color: #fff !important;
}
.nhs_NewsletterSignUpErrors p {
    display: block;  
    clear: both;  
    padding: 4px 0;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    background: #d92632;
    text-align: center;
}
.nhs_NewsletterSmallSignUpErrors p {
    display: block;  
    clear: both;  
    padding: 4px 0;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    background: #d92632;
    text-align: center;
}

/*======== TV BUILDER/AD TEASER =========*/
.nhs_TvMarketing {
    width: 95.83333333333333%; /*920/960*/
    max-width: 920px;         
    background: #fff;
    margin: 0 auto;
	padding: 18px 2.083333333333333%; /*20/960*/
    background: #0091da;
    color: #fff;
    line-height: 1.1;
    text-align: center;
}
.nhs_TvMarketing p {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;     
}
.nhs_TvMarketing p strong {
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
    font-size: 19px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #ffce34;    
}
div.nhs_TvMarketing a {
    color: #fff;
    text-decoration: underline;
}


.nhs_TvModalContest {
    width: 640px;
    min-height: 440px;
    text-align: center; 
    font-size: 13px;
    font-size: 0.8rem;  
    line-height: 1.2; 
}
.nhs_TvModalContest p {
    text-align: left;
    margin: 20px 0 0 0;
}
.nhs_TvModalContest form p {
    text-align: left;
}
.nhs_TvModalContest p input[type="text"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    color: #7d7d7d;
    margin-right: 1%;
    padding: 7px 5px;
    height: 17px;
    border: 0;
    width: 40%;
    background: #eee;
    border-radius: 3px;
}
.nhs_TvModalContest p input.btnCss {
    padding: 8px 20px;
    font-size: 12px;
    font-size: 0.75rem;
    background: #0091da;
    color: #fff !important;
}
.nhs_TvModalContest p label {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
}
#nhs_TvContestRules {
    font-size: 10px;
    font-size: 0.625rem;    
}

#nhs_TvModalContestThanks1,
#nhs_TvModalContestThanks2 {
    width: 100%;
    background: #bababa;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    margin: 0 0 10px 0;    
    padding: 5px 0;
}
#nhs_TvModalContestThanks2 {
    font-size: 36px;
    font-size: 2.25rem;
    margin-top: 20px;
    padding: 20px 0; 
}