﻿@model Nhs.Web.UI.AppCode.ViewModels.AmenitiesViewModel
@using Nhs.Mvc.Domain.Model.Web.Interfaces


@if (Model.OpenAmenitiesByGroup.Count > 0 || Model.CommAmenitiesByGroup.Count > 0)
{
    if (Model.DisplayHeader)
    {
        @Html.Raw(Model.AmenityGroupHeader)
    }
    <ul>
        @foreach (IAmenity amenity in Model.OpenAmenitiesByGroup)
        {
            <li>@Html.AmenityLink(amenity) </li>
        }
        @foreach (IAmenity amenity in Model.CommAmenitiesByGroup)
        {
            <li>@amenity.Description</li>
        }
    </ul>
}
