﻿@using Nhs.Library.Constants.Enums
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

    <ul class="nhs_Tabs clearfix">
        @if (Model.FilteredHomesCount > 0)
        {
            <li>
                <input name="Tabs" id="Matching" type="radio" class="nhs_HomeTabs"  @(Model.SelectedTab == CommunityDetailTabs.FilterCommunities ? "checked=checked" : "") /><label
                    for="Matching">@LanguageHelper.Matching2.ToTitleCase().ToMvcHtmlString() (@Model.FilteredHomesCount)</label>
            </li>
        }  
        @if (Model.AllNewHomesCount > 0)
        {
            <li id="nhs_TabsAll">
                <input name="Tabs" id="All" type="radio" class="nhs_HomeTabs"  @(Model.SelectedTab == CommunityDetailTabs.AllCommunities ? "checked=checked" : "") /><label
                    for="All">@LanguageHelper.All.ToMvcHtmlString() (@Model.AllNewHomesCount)</label>
            </li>    
        }
        @if (Model.QuickMoveInCount > 0)
        {
            <li>
                <input name="Tabs" id="QuickMove" type="radio" class="nhs_HomeTabs" @(Model.SelectedTab == CommunityDetailTabs.QuickMoveIn ? "checked=checked" : "") /><label for="QuickMove">@LanguageHelper.QuickMoveIn (@Model.QuickMoveInCount)</label>
            </li>
        }
    </ul>
    <div id="nhs_HomeResultsRows" class="nhs_HomeResults clearfix">
        @Html.Partial(NhsMvc.Default.ViewsMobile.CommunityDetail.CommunityDetailTabsHomes,Model)
    </div>
     <a href="#" class="btn" id="nhs_MoreResults" @(Model.TotalPages > 1 ? "" : "style=display:none")>
        @LanguageHelper.MoreResults.ToMvcHtmlString()</a>
