﻿@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model IDetailViewModel
<section id="nhs_CommMore" class="nhs_CommMore">
    <div id="nhs_CommMoreLink" class="nhs_CommMoreLink clearfix">
        <h2 id="nhs_CommunityGalleryTitle">@LanguageHelper.ViewCommunityInfo.ToMvcHtmlString()</h2> <span> </span>
    </div>
    <div class="nhs_CommPanel clearfix">
        <div id="nhs_Gallery" style="display: none;">
            <h3>@LanguageHelper.CommunityGallery.ToMvcHtmlString()</h3>
            <div id="nhs_GalleryList" class="nhs_GalleryList clearfix">
            </div>
        </div>
        <h3>@LanguageHelper.CommunityInfo.ToMvcHtmlString()</h3>
        <p>@Model.CommunityDescription</p>
        @if (Model.IsBilled && !string.Equals(Model.BcType, CommunityStatusType.ComingSoon))
        {
            @Html.GetFreeBrochureLink(Model, string.Format("jQuery.SetDataLayer('{0}','Mobile – {1} Page Brochure');", DataLayerConst.CtaCode, Model.IsPageCommDetail ? "CD" : "HD"), "btn nhs_FreeBrochureBtn")
        }

        @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.Promotions);}

        @*Schools and Amenities*@

        @*Educational*@
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.Educational));}

        @*Schools*@
        @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.SchoolInfo);}

        @*Health and Fitness*@
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.HealthAndFitness));}

        @*Community Services*@
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.CommunityServices));}

        @*Social Activities*@
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.SocialActivities));}

        @*Local Area*@
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.AmenityInfo, new AmenitiesViewModel(Model.Amenities, AmenityGroupType.LocalArea));}

        @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.Utilities);}

        @*<a class="btn nhs_NearbyCommsBtn" href="#">Search Nearby Communities</a>*@

        <p class="nhs_CommMoreClose clearfix"><span>@LanguageHelper.Hide</span></p>
    </div>
</section>
