﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel
@foreach (var group in Model.HomeResultsApiV2)
{
    if (UserSession.PreviewsGroupingBarValueComDetail != @group.Key.HomeStatus())
    {
        UserSession.PreviewsGroupingBarValueComDetail = @group.Key.HomeStatus();
    <p class="nhs_GroupingBar">@group.Key.HomeStatus()</p>
    }

    foreach (var home in group)
    {

        <div class="nhs_HomeResItem clearfix nhs_Row" itemscope itemtype="http://schema.org/ImageObject">
            <div class="nhs_ItemImg">
                @Html.NhsImage(home.HomeResThumb(), home.GetHomeSizeHomeTab(), "", new { itemprop = "contentUrl"},false)
            </div>
            <h3 itemprop="name">
                @Html.NhsLink(home.GetHomeName(), Pages.HomeDetail, home.HdParams(), new { title = home.GetHomeName() })
            </h3>
            @home.GetFormattedPrice()
            @home.GetHomeInformationV2()
            <ul class="nhs_Actions">
                @if (home.ImageCount > 0)
                {
                    <li>@Html.NhsModalWindowLink(home.ImageCount + " " + (home.ImageCount == 1 ? LanguageHelper.Photo : LanguageHelper.Photos), home.GetHomeGalleryUrl(), new { @class = "btn nhs_PhotosBtn" })</li>
                }
                @if (!string.IsNullOrEmpty(home.FloorPlanPath) && home.FloorPlanPath != "N")
                {
                    <li>
                        @Html.NhsModalWindowLink(LanguageHelper.FloorPlan, home.GetFloorPlanGalleryUrl(Model.PreviewMode), new { @class = "btn nhs_FloorplanLink" })
                    </li>
                }
            </ul>
        </div>
    }
}
@if (Model.IsTriggerByTab)
{
    <script type="text/javascript">
        var Pages = @Model.TotalPages;
    </script>
}
