﻿@using Nhs.Library.Helpers.Content
@using Nhs.Mvc.Biz.Services.Concrete
@model  IEnumerable<MediaPlayerObject>
<ul class="bxslider">
    @if (Model != null && Model.Any())
    {
        var id = -1;
        foreach (var media in Model)
        {
            id++;
        <li class="nhs_GalleryItem clearfix">
            <div class="nhs_ItemImg">
                <a href="#" class="nhs_LinkGallery" data-event="@media.Event" data-slide="@id" data-type="@media.Type-@media.SubType" data-id="@media.OnlineVideoID" data-title="@media.Title"  data-url="@media.Url">
                    @if (media.Type.StartsWith(MediaPlayerObjectTypes.Link))
                    {
                        if (media.SubType == MediaPlayerObjectTypes.SubTypes.FloorPlanImages)
                        {
                        <img class="nhs_LinkImg" src="@(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_ifp_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_ifp_240x160_png)" alt="" />
                        }
                        if (media.SubType == MediaPlayerObjectTypes.SubTypes.ExternalVideo)
                        {
                        <img src="@(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_ext_video_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_ext_video_240x160_png)" alt=""/>
                        }
                        if (media.SubType == MediaPlayerObjectTypes.SubTypes.VirtualTour)
                        {
                        <img src="@(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? GlobalResourcesMvc.CNA.images.mediaplayer.launch_vt_240x160_png : GlobalResourcesMvc.Default.images.mediaplayer.launch_vt_240x160_png)" alt=""/>
                        }
                    }
                    else
                    {
                        if (media.Type == @MediaPlayerObjectTypes.Image)
                        {
                        <img class="image nhs_LinkImg" src="@media.GetImageGalleryMobile()" alt=""/>
                        }
                        else
                        {
                        <img class="image nhs_videoImg" src="@media.Thumbnail" alt=""/>
                        }
                    }
                    @if (!string.IsNullOrEmpty(media.OnlineVideoID))
                    {
                        <span class="nhs_VideoImgIcon"></span>
                    }
                </a>
            </div>
                <p>@media.Title</p>
        </li>
        }
    }
    else
    {
        <li class="nhs_GalleryItem clearfix">
            <div class="nhs_ItemImg">
                <a>
                    <img  src="@(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_210x140_png : GlobalResources14.Default.images.no_photo.no_photos_210x140_png)" alt=""/>
                </a>
            </div>
        </li>
    }
</ul>
