﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel 
@if (Model.Promotions.Count > 0 || Model.GreenPrograms.Count > 0 || Model.HotHomesApi.Count != 0) 
{
<div class="nhs_ItemDeals">
    <ul>
        @if (Model.Promotions.Count > 0)
        {
            foreach (var p in Model.Promotions)
            {
            <li class="nhs_Offer"><strong>@LanguageHelper.SpecialOffer.ToMvcHtmlString()</strong> @p.PromoShortTextFormatted: @p.ShowPromoDescription()
                @Html.PromoLogLink(Model, string.IsNullOrEmpty(p.PromoFlyerUrl) ? p.PromoUrl : p.PromoFlyerUrl, !string.IsNullOrEmpty(p.PromoFlyerUrl), false, false)
            </li>
            }
        }
        @if (Model.GreenPrograms.Count > 0)
        {
            foreach (var gp in Model.GreenPrograms)
            {
            <li class="nhs_Green"><strong>@LanguageHelper.Green.ToMvcHtmlString()!</strong> @gp.ProgramName.TruncatePromotionDescription()
                @Html.PromoLogLink(Model, string.IsNullOrEmpty(gp.ProgramFlyerFilePath) ? gp.ProgramUrl : gp.ProgramFlyerFilePath, !string.IsNullOrEmpty(gp.ProgramFlyerFilePath), true, false)
            </li>
            }
        }
         @if (Model.HotHomesApi.Count != 0)
         {
             foreach (var h in Model.HotHomesApi)
             {
                <li class="nhs_HotHome"><strong>@LanguageHelper.HotHome.ToMvcHtmlString()</strong>      @Html.HotHomeLinkForHomeResult(h)<br />
                     <strong>
                    @h.FormatBedrooms()
                    @h.FormatBathrooms()
                    @h.FormatGarages()</strong>      @h.HotHomeTitle().TruncatePromotionDescription()
                    <span id="@string.Concat("nhsPromoDescriptionArea", h.HomeId)">
                    @h.ShowHotHomeDescription()</span>
                      @if (h.HotHomeDescriptionLength() <= h.HotHomeTextFormatted().Length)
                { 
                    <a id="@string.Concat("nhs_promoDescriptionToggle", h.HomeId)" href="" onclick="showPromoDescription('@h.HomeId', '@HttpUtility.JavaScriptStringEncode(h.HotHomeDescriptionLong())', '@HttpUtility.JavaScriptStringEncode(h.ShowHotHomeDescription())'); return false;"
                        class="nhs_likeALink">...@LanguageHelper.More.ToMvcHtmlString()</a>
                }
                </li>
              
             }
         }
    </ul>
</div>
}