﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Linq
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@{ var schools = Model.Schools.GetSchoolsByDistrict(); }
@if (schools.Any())
{
    <h4>
        @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Schools : LanguageHelper.AreaSchools)
    </h4>    
    foreach (var data in schools)
    {
        <ul>
            @*District*@
            <li>@data.Key
                <ul>
                    @foreach (var school in data)
                    {
                        if (!string.IsNullOrEmpty(school.SchoolName))
                        {
                        <li>@school.SchoolName </li>
                        }
                    }
                </ul>
            </li>
        </ul>
    }
    <p>@LanguageHelper.ActualSchoolsMyVary.ToMvcHtmlString()</p>
   
}
