﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Utility.Common
@using Nhs.Web.UI
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel
@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()
}
@if (Model.CommunityId == 0)
{
    Html.RenderPartial(NhsMvc.Default.ViewsMobile.Common.PropertyDetail.InactiveProperty);
}
else
{
    <header class="nhs_CommContext">
        <h1>@Model.CommunityName</h1>
        <h2>@Model.FormatBrandName()</h2>
    </header>
    <section class="nhs_CommDetail">
        <div id="nhs_DetailInfo" class="nhs_DetailInfo clearfix">
            @Html.GetMapPopup(Model)
            <h3>@Model.CommunityLocation()</h3>
            <p class="nhs_DetailHours">
                <span>@*Open Now!*@</span><br />
                @if (!string.IsNullOrEmpty(Model.HoursOfOperation))
                {
                    <a href="#" id="nhs_OpenHours">@LanguageHelper.SeeOpenHours.ToMvcHtmlString()</a>
                }
            </p>
            <div id="nhs_HoursOfOperation">
                <div class="nhs_Hours">
                    <p>
                        @LanguageHelper.SalesOfficeOpenHours.ToMvcHtmlString()
                    </p>
                    <p>
                        @Model.HoursOfOperation.ToMvcHtmlString()
                    </p>
                    <br />
                    <p>
                        @if (Model.IsBilled && !string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase))
                        {
                            @Html.GetRequestAppointmentLink(Model, true, "btnCss")
                        }
                    </p>
                </div>
            </div>
            <p>@Model.PhoneNumber.CreateDisplayPhone()</p>
            <ul>
                @if (Model.IsBilled && !string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase))
                {
                    <li>@Html.GetContactBuilderModalLink(Model)</li>
                    <li>@Html.GetRequestAppointmentLink(Model, true)</li>
                }
                else if (Model.IsBilled)
                {
                    <li>@Html.GetInterestListLink(Model)</li>
                }
            </ul>
        </div>
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.CommunityInformation); }
        @if (Model.HomeResultsApiV2 != null && Model.HomeResultsApiV2.Any())
        {
            <section class="nhs_CommHomesPlans clearfix">
                <h2>
                    @LanguageHelper.HomesAndPlans.ToMvcHtmlString() (@Model.AllNewHomesCount)
                </h2>
                @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.CommunityDetailTabs, Model); }
            </section>
        }

    </section>
    <footer class="nhs_DetailActionBar">
        @if (Model.SavedToPlanner)
        {
            <span class="nhs_Save nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>
        }
        else
        {
            <a href="#" id="nhs_Saved" class="nhs_Save">@LanguageHelper.Save.ToMvcHtmlString()</a>
        }
        <a href="#" class="nhs_Share">@LanguageHelper.Share.ToMvcHtmlString()</a>
        @Model.PhoneNumber.CreateMobilePhone("")
    </footer>
    <text>

        @section cphFooter{
            @Html.GetGoogleMapScript()
            @ResourceCombinerEnum.COMMDETAILMOBILEJS.GetCrunchedResource()
            <script type="text/javascript">
                jQuery(document).ready(function() {

                    var logginparameter = {
                        commId: @Model.CommunityId,
                        commName : '@Model.CommunityName.RemoveSpecialCharacters()',
                        builderId: @Model.BuilderId ,
                        builderName : '@Model.BuilderName.RemoveSpecialCharacters()',
                        marketId: @Model.MarketId ,
                        marketName : '@Model.MarketName.RemoveSpecialCharacters()',
                        planId: @Model.PlanId ,
                        specId: @Model.SpecId ,
                        logActionMethodUrl: "@Model.LogActionMethodUrl",
                        tdvTable : @Html.GetSeoTDVMetrics().ToMvcHtmlString(),
                        partnerName : '@Model.Globals.PartnerInfo.PartnerName',
                        partnerID: @NhsRoute.PartnerId,
                        siteRoot: '/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "" : (NhsRoute.PartnerSiteUrl + "/"))'
                    };

                    var parameters = {
                        searchAction: "@(Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.SearchMobile))",
                        GetMediaPlayerObjects: "@(Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetMediaPlayerObjects))",
                        SaveCommunity: @Model.Globals.GetAddCommunityToPlannerUrl(Model.CommunityId, Model.BuilderId).ToMvcHtmlString(),
                        searchParameters: @Model.SearchParametersJSon.ToMvcHtmlString(),
                        expand: @((Model.HomeResultsApiV2 == null || !Model.HomeResultsApiV2.Any()).ToString().ToLower()),
                        viewerParams: { brightcoveToken: '@Configuration.BrightcoveReadToken' },
                        TotalPages: @Model.TotalPages,
						ViewCommunityInfoText: "@LanguageHelper.ViewCommunityInfo.ToMvcHtmlString()",
                        HideCommunityInfoText: "@LanguageHelper.HideCommunityInfo.ToMvcHtmlString()",
                        SavedText: "@LanguageHelper.Saved.ToMvcHtmlString()",
                        TouchToViewFullSizeText: "@LanguageHelper.TouchToViewFullSize.ToMvcHtmlString()",
                        logInfo : logginparameter
                    };

                    var detail = new NHS.Mobile.CommDetail(parameters);
                    detail.init();

                    var loggin = new NHS.Mobile.LogginEvents(logginparameter);
                    loggin.initialize();


                    window.share = new NHS.Mobile.Share({
                        ShareUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.ShareModal))",
                        SentToPhone: "@(new List<RouteParam> { new RouteParam(RouteParams.CommunityId, Model.CommunityId,RouteParamType.QueryString) }.ToUrl(Pages.SendToPhone))",
                        IsComm: true,
                        communityId: @Model.CommunityId,
                        builderId: @Model.BuilderId
                        });
                    share.init();

                    setTimeout(function() {
                        logger.logEventWithParameters('@LogImpressionConst.CommunityDetailPageLoad', {
                            communityId: @Model.CommunityId,
                            builderId: @Model.BuilderId,
                            totalHomes: @Model.AllNewHomesCount,
                            marketId: @Model.MarketId,
                            refer: '@UserSession.Refer'
                        });
                    }, 2000);
                });

                function showPromoDescription(id, promoDescription, showPromoDesc) {
                    if (jQuery.trim(jQuery('#nhs_promoDescriptionToggle' + id).text()) == "...@LanguageHelper.More") {
                        var description = promoDescription;
                        jQuery('#nhs_promoDescriptionToggle' + id).text(@LanguageHelper.Less);
                        jQuery("#nhsPromoDescriptionArea" + id).html("");
                        jQuery("#nhsPromoDescriptionArea" + id).html(description);
                        return false;
                    } else {
                        var chunkedDescription = showPromoDesc;
                        jQuery('#nhs_promoDescriptionToggle' + id).text("...@LanguageHelper.More");
                        jQuery("#nhsPromoDescriptionArea" + id).html("");
                        jQuery("#nhsPromoDescriptionArea" + id).html(chunkedDescription);
                        return false;
                    }
                }
            </script>
        }
    </text>
}
