﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeViewModel
<div class="pro_HomeBannerText">
    <h2>
        Search the largest collection of new homes</h2>
</div>
<div class="pro_HomeBannerHouses">
    <h3>
        Designed exclusively for agents</h3>
</div>
@section cphDataLayer {       
    @HtmlGoogleHelper.GetGtmDataLayerForHomePage(Model)    
}
<div class="pro_HomeSearch">
    @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.Show, NhsMvc.Home.Name, FormMethod.Post, "frmHomePage", false, "pro_HomeSearchForm"))
    {
        <fieldset>
            <legend>Agents - Search the largest collection of new homes</legend>
            <div>
                <label for="SearchText" class="nhs_Reader">
                    Location:
                </label>
                <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none;">
                  @LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()
                </span>
                @Html.Hidden("SearchType", string.Empty)
                @Html.TextBoxFor(model => model.SearchText, new { maxlength = 50, @class = "large", placeholder = "Enter location or community name", name = "", Value = (String.IsNullOrEmpty(UserSession.PersonalCookie.SearchText) ? String.Empty : UserSession.PersonalCookie.SearchText), autocomplete = "off" })
            </div>
            <ul></ul>
            <span class="pro_SearchDdl">
                <label for="PriceLow" class="nhs_Reader">
                    Priced from:
                </label>
                @Html.CreateHomePageDropDownFor(model => model.PriceLow, Model.PriceLoRange, "$ Minimum", 117, 235, "minimum", "option1", true)
            </span>
            <label for="PriceHigh" class="label-to">
                to
            </label>
            <span class="pro_SearchDdl">
                @Html.CreateHomePageDropDownFor(model => model.PriceHigh, Model.PriceHiRange, "$ Maximum", 117, 235, "maximum", "option2", true)
            </span><span class="pro_SearchDdl">
                <label for="NumOfBeds" class="nhs_Reader">
                    Bedrooms:
                </label>
                @Html.CreateHomePageDropDownFor(model => model.NumOfBeds, Model.BedRoomsList, "Beds", 111, 130, "small", "option3", false, string.Empty, "br")
            </span><span class="pro_SearchDdl">
                <label for="NumOfBaths" class="nhs_Reader">
                    Bathrooms:
                </label>
                @Html.CreateHomePageDropDownFor(model => model.NumOfBaths, Model.BathList, "Baths", 111, 130, "small", "option4", false, string.Empty, "ba")
            </span><span class="pro_SearchDdl">
                <label for="SqFtMin" class="nhs_Reader">
                    Square Feet:
                </label>
                @Html.CreateHomePageDropDownFor(model => model.SqFtMin, Model.SqFtList, "Sq Ft", 111, 235, "small-last", "option5", false, string.Empty, "sf")
            </span>
            <input type="submit" class="btn_Search" name="Search" value="Find Homes"/>
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                @Html.NhsLink("Advanced Search", Pages.AdvancedSearch, new List<RouteParam>() , new {@class = "pro_HomeAdvSearchLink"})
            }
        </fieldset>
    }
</div>
<div class="pro_HomeContent">
    <div class="@(UserSession.UserProfile.ActorStatus != WebActors.ActiveUser ? "pro_HomeFreeBox" : "pro_HomePerksBox")">
        <div>
            @Html.RenderHomePageContent()
            <div class="nhs_Clear">
            </div>
        </div>
    </div>
    <div class="pro_HomeTestimonials">
        @Html.RenderAgentQuoteContent(new ContextPathMapper())
    </div>
</div>
@ResourceCombinerEnum.HOMEPAGEJS.GetCrunchedResource()
<script type="text/javascript">
    $jq(document).ready(function () {        
        var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
        search.setupSearchBox("SearchText", "SearchType");

        var homePageJs = new NHS.Scripts.HomePage();
        homePageJs.initialize();

        SetTextBoxesDescriptions();

        var dropDown = new NHS.Scripts.DropDown();
        dropDown.initialize();

    });
</script>
@if (!String.IsNullOrWhiteSpace(CookieManager.MrisInterstitial))
{
    <script type="text/javascript">
        $jq(document).ready(function () {
            tb_show('Welcome!', '/mrisintersitial?height=270');
        });        
    </script>
    CookieManager.MrisInterstitial = string.Empty;
    CookieManager.DeleteCookie(CookieConst.MrisInterstitial);
}
@if (!String.IsNullOrWhiteSpace(CookieManager.MredTempUserProfile))
{
    <script type="text/javascript">
        $jq(document).ready(function () {
            tb_show('Welcome to New Home Source Professional', '@Html.GetActionUrl(NhsMvc.Sso.Name, NhsMvc.Sso.ActionNames.ShowMredTermsOfService)?tb_notactions=true');
            jQuery.googlepush('MRED Events', 'Modal-Open', 'MRED Terms of Service - OPEN');
        });        
    </script>
    CookieManager.MredTempUserProfile = string.Empty;
    CookieManager.DeleteCookie(CookieConst.MredTempUserProfile);
}
@if (!String.IsNullOrWhiteSpace(CookieManager.EastBayTempUserProfile))
{
    <script type="text/javascript">
        $jq(document).ready(function () {
            tb_show('Welcome to New Home Source Professional', '@Html.GetActionUrl(NhsMvc.Sso.Name, NhsMvc.Sso.ActionNames.ShowEastBayTermsOfService)?tb_notactions=true');
            jQuery.googlepush('EASTBAY Events', 'Modal-Open', 'EASTBAY Terms of Service - OPEN');
        });        
    </script>
    CookieManager.EastBayTempUserProfile = string.Empty;
    CookieManager.DeleteCookie(CookieConst.EastBayTempUserProfile);
}
