﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.RecoverPasswordTemplateViewModel
<table id="nhsEmailAccountCreate" width="100%" height="100%;" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" style="background:#eeeeee;width:100%;">
    <tr>
        <td style="padding:8px;vertical-align:top;">
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background:#fff;width:545px;">
                <tr>
                    <td style="padding:8px;vertical-align:middle;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailHeader.html")
                    </td>
                    <td align="right" style="padding:8px;vertical-align:middle;text-align:right;">
                        <img id="img4" src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.email.header_welcome_gif : GlobalResources14.Default.images.email.header_welcome_gif)" alt="" width="309" style="width:309px;" border="0" />
                   </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding:12px;vertical-align:middle;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailSafeSenders.html")
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"RecoverPasswordEmail.html")
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.CNA.images.email.footer_545_gif : GlobalResources14.Default.images.email.footer_545_gif)" alt="" width="545" height="100" style="width:545px;height:100px;" border="0" />
                    </td>
                </tr>
            </table>
            <table width="545" cellpadding="0" cellspacing="0" border="0" style="width:545px;">
                <tr>
                    <td style="padding:10px;font-family:Arial,Helvetica;font-size:11px;color:#444444;">
                        @Html.EmailStaticContent(Model.ReplacementTags, @"Common\EmailFooter.html")
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
