﻿@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicSearchViewModel


@HtmlGoogleHelper.GetGtmDataLayerForHomePage(Model) 


<script type="text/javascript" >    
    jQuery(document).ready(function () {
        var areas = jQuery("#BasicSearchArea");
        jQuery("#BasicSearchState").on("change", function () {
            var selectedState = jQuery("#BasicSearchState option:selected").val();            
            if (selectedState !== '') {
                jQuery.ajax({
                    url: '@(Request.Url.GetLeftPart(UriPartial.Authority) + "/" + NhsRoute.SiteRoot)BasicSearch/GetMarkets',
                    data: { state: selectedState },
                    type: 'POST',
                    success: function (data) {                        
                        areas.children().remove().end();
                        areas.append(jQuery("<option/>").val(0).html("Select an area"));
                        var cities = jQuery("#BasicSearchCity");
                        cities.children().remove().end();
                        cities.append(jQuery("<option/>").val("").html("No preference"));
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                areas.append(jQuery("<option/>").val(item.Id).html(item.Name));
                            }

                        }
                    }

                });
            }
        });

        jQuery("#BasicSearchArea").on("change", function () {
            var cities = jQuery("#BasicSearchCity");            
            var selectedArea = jQuery("#BasicSearchArea option:selected").val();
            if (selectedArea !== '') {
                jQuery.ajax({
                    url: '@(Request.Url.GetLeftPart(UriPartial.Authority) + "/" + NhsRoute.SiteRoot)BasicSearch/GetCities',
                    data: { area: selectedArea },
                    type: 'POST',
                    success: function (data) {                        
                        cities.children().remove().end();
                        cities.append(jQuery("<option/>").val("").html("No preference"));
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                cities.append(jQuery("<option/>").val(item.Id).html(item.Name));
                            }
                        }
                    }

                });
            }
        });
    });
</script>

<div id="nhs_BasicContent" class="nhs_Content">
    <div id="nhs_BasicSearchBox">
        <h1 id="nhs_BasicSearchText">@LanguageHelper.SearchForNewHomesNow.ToMvcHtmlString()!</h1>
        @using (Html.BeginNhsForm(NhsMvc.Home.ActionNames.ShowBasicSearch, NhsMvc.Home.Name, FormMethod.Post, "frmBasicSearch", false))
        {
            <fieldset>
                <p id="nhs_BasicRequired"><span class="nhs_Asterisk">*</span> @LanguageHelper.IndicatesRequiredField.ToMvcHtmlString()</p>
                <div id="nhs_BasicLocation">
                    <p id="nhs_BasicFormState" @(!Model.Globals.PartnerLayoutConfig.DoesPartnerHaveStateDropDown ? "style=\"display:none\"" : string.Empty)>
                        <label for="State"><span class="nhs_Asterisk">*</span>@LanguageHelper.State.ToMvcHtmlString()</label>
                        @(Html.DropDownListFor(m => m.State, Model.States, LanguageHelper.ChooseState, new Dictionary<string, object>() { { "id", "BasicSearchState" } }))
                        <br />
                        @Html.ValidationMessageFor(m => m.State)
                    </p>
                    <p id="nhs_BasicFormMarket">
                        <span @(!Model.Globals.PartnerLayoutConfig.DoesPartnerHaveMarketDropDown ? "style=\"display:none\"" : string.Empty)>
                            <label for="Area"><span class="nhs_Asterisk">*</span>@LanguageHelper.Area.ToMvcHtmlString()</label>
                            @if (Model.Areas != null)
                            {
                                @(Html.DropDownListFor(m => m.Area, Model.Areas, LanguageHelper.ChooseAnArea, new Dictionary<string, object>() { { "id", "BasicSearchArea" } }))

                            }
                            else
                            {
                                <select id="BasicSearchArea" name="BasicSearchArea"><option>@LanguageHelper.ChooseAnArea.ToMvcHtmlString()</option></select>
                            }
                            <strong>@LanguageHelper.Or.ToTitleCase().ToMvcHtmlString()</strong>
                        </span>
                        <label class="nhs_BasicZipLabel" for="Zip">@LanguageHelper.Zip.ToMvcHtmlString()</label>
                        @Html.TextBoxFor(m => m.Zip)<br />
                        @Html.ValidationMessageFor(m => m.Area)
                        @Html.ValidationMessageFor(m => m.Zip)
                    </p>
                    <p id="nhs_BasicFormCity">
                        <label for="City">@LanguageHelper.City.ToMvcHtmlString()</label>
                        @if (Model.Cities != null)
                        {
                            @(Html.DropDownListFor(m => m.City, Model.Cities, LanguageHelper.NoPreference, new Dictionary<string, object>() { { "id", "BasicSearchCity" } }))

                        }
                        else
                        {
                            <select id="BasicSearchCity" name="BasicSearchCity"><option>@LanguageHelper.NoPreference.ToMvcHtmlString()</option></select>

                        }
                    </p>
                </div>
                <div id="nhs_BasicPrice">
                    <p id="nhs_BasicPriceLow">
                        <label for="PriceLow">@LanguageHelper.PriceFrom.ToMvcHtmlString()</label>
                        @(Html.DropDownListFor(m => m.PriceLow, Model.LowPriceRange, LanguageHelper.NoMin, new { onchange = "jQuery.googlepushList(this, 1,'Search Events','Search Parameters','Select Price - Low');" }
                          ))
                    <p id="nhs_BasicPriceHigh">
                        <label for="PriceHigh">@LanguageHelper.To.ToMvcHtmlString()</label>
                        @(Html.DropDownListFor(m => m.PriceHigh, Model.HighPriceRange, LanguageHelper.NoMax, new { onchange = "jQuery.googlepushList(this, 1,'Search Events','Search Parameters','Select Price - High');" }
                              ))
                    </p>
                    <input type="submit" value="@LanguageHelper.SearchHomesButton" class="btnCss btn_FindHomes" name="Search" id="Search" onclick=" jQuery.googlepush('Search Events', 'Search Action', 'Search - Basics'); " />
                </div>
            </fieldset>

        }
        <div id="nhs_BasicSearchContent">
            <h2 id="nhs_SearchOptionsText">@LanguageHelper.MoreSearchOptions.ToMvcHtmlString():</h2>
            <ul>
                <li>@Html.NhsLink(LanguageHelper.CustomHomeBuilders, "BoylSearch", true)</li>
                <li>@Html.NhsLink(LanguageHelper.BuildOnYourLotHomes, "BoylSearch", true)</li>
                <li>@Html.NhsLink(LanguageHelper.QuickMoveIn, "QuickMoveInSearch", true)</li>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <li>@Html.NhsLink("Advanced search", "AdvancedSearch", true)</li>
                }
                @if (Model.Globals.PartnerLayoutConfig.DoesPartnerHaveHotDealsLink)
                {
                    <li>@Html.NhsLink(LanguageHelper.BuilderDeals, "HotDealsSearch", true)</li>

                }
            </ul>
        </div>

    </div>
    <div class="clearfix"></div>
    @if (Model.Globals.PartnerLayoutConfig.IsPartnerNhs || Model.Globals.PartnerLayoutConfig.IsPartnerCna)
    {
        <aside id="nhs_HomeMarkets" class="nhs_BasicContentBox clearfix">
            <h2 id="nhs_HomeMarketsText">
                <span>@LanguageHelper.TheMostNewHomesForSale.ToMvcHtmlString()</span> @LanguageHelper.FindNewHomeListingsUpdated.ToMvcHtmlString():
            </h2>

            @Html.RenderSeoContent(SeoTemplateType.Nhs_HomeV2, "footerlinks")

        </aside>
        <div class="clearfix"></div>
    }
    @if (Model.SpotLightCommunities != null && Model.SpotLightCommunities.Any())
    {
        <div id="nhs_BasicSpotlight">
            <h3 id="nhs_BasicSpotTitle">
                <span>@LanguageHelper.Spotlight.ToMvcHtmlString()</span> @LanguageHelper.NewHomeCommunities.ToMvcHtmlString()
            </h3>
            @foreach (var comm in Model.SpotLightCommunities)
            {
                <div class="nhs_SpotlightItem">
                    <div class="nhs_ResultThumbBox">
                        <div class="nhs_ResultThumb">
                            <a href="@comm.Url"><img src="@comm.SpotLightImage" alt="@comm.CommunityName" /></a>
                        </div>
                    </div>
                    <p>
                        @if (comm.HasVideo)
                        {
                            <a href="#" rel="nofollow"><img src="@GlobalResourcesMvc.Default.images.icons.icon_video_png" alt="Video" /></a><br />
                        }
                        <strong><a href="@comm.Url">@comm.CommunityName</a></strong><br />
                        @comm.BrandName<br />
                        @comm.City, @comm.State<br />
                        @LanguageHelper.From.ToMvcHtmlString() @comm.PriceLow.ToString("C0")
                    </p>
                </div>
            }

        </div>
    }
    <div id="nhs_BasicAd">
        @if (Model.Globals.PartnerLayoutConfig.IsPartnerYahoo)
        {
            <div id="nhs_YahooreHomeAd300">
                <p class="nhs_Reader">@LanguageHelper.Advertisement.ToMvcHtmlString()</p>
                <div id="nhs_Footerx02"></div>
            </div>
        }
        else
        {
            if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand)
            {
                <div id="nhs_MiddleTopSq"></div>
            }
            else
            {
                @Model.Globals.Shell.AdCommResHTML
            }
        }
    </div>
</div>

