﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LocationHandlerViewModel
@{
    Layout = null;
}
<div class="nhs_Content" id="nhs_LocationHandler">
    <div class="clearfix">
        <div>
            @if (string.IsNullOrEmpty(Model.StateAbbr))
            {
                <h2>@LanguageHelper.YouSearchedFor.ToMvcHtmlString(): "@Model.SearchText"</h2>
            }

            @if (Model.Locations != null && Model.Locations.Count > 0)
            {
                foreach (var group in Model.GetLocationGroups())
                {
                    <h3>@string.Format(group.Count() > 1 ? LanguageHelper.WeFoundMatchingPlural : LanguageHelper.WeFoundMatching, Model.GetLocationGroupsName(group.Key, group.Count()), Model.SearchText).ToMvcHtmlString()</h3>

                    <div class="nhs_LocationMarket clearfix">
                        @foreach (var column in group.ToColumns(3))
                        {
                            <ul>
                                @foreach (var location in column)
                                {
                                    <li>
                                        @Html.GetCommunityResultsUrl(location, Model.ExtraParameters)
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            }
            else
            {
                if (!string.IsNullOrEmpty(Model.StateAbbr) && Model.SimilarMarkets != null)
                {
                    <h2>@LanguageHelper.PleaseChooseMetroArea.ToMvcHtmlString()</h2>
                }

                <h3>@LanguageHelper.WeCouldNotFindAnyHomesOrCommunitiesNear.ToMvcHtmlString() "@Model.SearchText @(string.IsNullOrEmpty(@Model.StateAbbr) || CommonUtils.IsZip(Model.SearchText) ? "" : ("," + @Model.StateAbbr))"</h3>
                if ((!string.IsNullOrEmpty(Model.SearchText) && Model.SearchText.Trim().ToLower().Equals("enter location or community name")) || string.IsNullOrEmpty(Model.SearchText))
                {
                    <h3>@LanguageHelper.InvalidLocation.ToMvcHtmlString()</h3>
                }


                if (!string.IsNullOrEmpty(Model.StateAbbr) || Model.SimilarMarkets != null)
                {
                    <div class="nhs_LocationMetro clearfix">
                        <p>@LanguageHelper.TrySearchingOneOfTheMetroAreasBelow.ToMvcHtmlString():</p>
                        <div class="nhs_LocationMarket">
                            <ul>
                                @foreach (var mrkt in Model.SimilarMarkets[0])
                                {
                                    <li>@Html.NhsLink(mrkt.MarketName, RedirectionHelper.GetCommunityResultsPage(), mrkt.ToResultsParams(), new { @id = "nhs_marketLink" + mrkt.MarketId })</li>
                                }

                            </ul>
                            <ul>
                                @foreach (var mrkt in Model.SimilarMarkets[1])
                                {
                                    <li>@Html.NhsLink(mrkt.MarketName, RedirectionHelper.GetCommunityResultsPage(), mrkt.ToResultsParams(), new { @id = "nhs_marketLink" + mrkt.MarketId })</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div id="nhsStateIndexMap" style="float: right; margin-bottom: 10px;width:360px;height:400px;"></div>
                }
            }

            <div class="nhs_Clear"></div>

            <h3 class="nhs_GroupingBar">@LanguageHelper.TryAnotherSearch.ToMvcHtmlString():</h3>

            <div id="nhs_LocationSearchArea">
                @using (Html.BeginNhsForm("Search", NhsMvc.Home.Name, FormMethod.Post, "frmHomePage", false))
                {
                @Html.Hidden("extraParameters", Model.ExtraParameters)

                <fieldset>
                    <span id="nhs_field_validation_error_home" class="field-validation-error" style="display: none">@LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN</span>
                    <p>
                        @Html.Hidden("SearchType", string.Empty)
                        @Html.TextBoxFor(model => model.SearchText, new { @class = "locationField", id = "SearchText", placeholder = LanguageHelper.EnterLocationOrCommunityName, Value = "" })
                        <input type="submit" value="@LanguageHelper.SearchHomesButton" name="Search" class="btnCss btn_FindHomes" id="Search" onclick="jQuery.googlepush('Search Events','Search Action','Search - Basic')" />
                    </p>
                    <p>
                        @Html.DropDownListFor(model => model.PriceLow, Model.PriceLoRange, LanguageHelper.Any, new { @class = "prices min", onchange = "jQuery.googlepushList(this, 1,'Search Events','Search Parameters','Select Price - Low');" })
                        @Html.DropDownListFor(model => model.PriceHigh, Model.PriceHiRange, LanguageHelper.Any, new { @class = "prices", onchange = "jQuery.googlepushList(this, 1,'Search Events','Search Parameters','Select Price - High');" })
                    </p>
                </fieldset>
                }

                <div class="nhs_Clear"></div>
                
                <h4 style="margin-top:30px;">@LanguageHelper.SearchTips.ToMvcHtmlString():</h4>
                <ul class="pro_TipsLocation">
                    <li>@LanguageHelper.CheckTheSpelling.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.SpellOutAbbreviations.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.MakeSureYouEnteredAll5DigitsOfTheZIPCode.ToMvcHtmlString()</li>
                </ul>

            </div>
            @if (Model.Globals.PartnerLayoutConfig.PartnerIsABrand || Model.Globals.PartnerLayoutConfig.IsPartnerNhl
            || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo || Model.Globals.PartnerLayoutConfig.IsPartnerYahoo
            || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
            {
                <div id="nhs_LocationAd">
                    <div id="nhs_MiddleTopSq"></div>
                </div>
            }
            else
            {
                <div id="nhs_LocationPartnerAd">
                    <div id="nhs_MiddleTopPartnerSq">
                        @Model.Globals.Shell.AdCommResHTML.ToMvcHtmlString()
                    </div>
                </div>

            }

            <div class="nhs_Clear"></div>
        </div>
        <aside id="nhs_AdColumn" class="clearfix">
            <div id="nhs_RightTopSky">
            </div>
            <div id="nhs_RightBottomSky">
            </div>
        </aside>
    </div>
    <div class="nhs_Clear"></div>
</div>

<!-- GOOGLE TOOLKIT -->
@Html.GetGoogleMapScript()
@ResourceCombinerEnum.STATEINDEXV2JS.GetCrunchedResource()
<script type="text/javascript">
    var stateIndex;


    jQuery(document).ready(function () {

        @if (Model.StateMapData != null)
        {
            <text>

        var options = {
            MarketPoints: @Model.MarketPoints.ToMvcHtmlString(),
            url: '@(new List<RouteParam>().ToUrl("communityresults/market", true))',
            icon:"@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
            useFriendlyUrl:@(NhsRoute.IsBrandPartnerMove? "true" : "false"),
            OptionsForMap:{
                MapOptions: {
                    Latitude:  @Model.StateMapData.CenterLat.ToString(new NumberFormatInfo()),
                    Longitude: @Model.StateMapData.CenterLng.ToString(new NumberFormatInfo()),
                    //Zoom:  @Model.StateMapData.ZoomLevel,
                    ContainerName: 'nhsStateIndexMap',
                    ZoomControlStyle: ''
                },
                MarkerClustererOptions: {
                    gridSize: 50,
                    maxZoom: 20
                },
                callBack: function (info) {

                },
                UseClusterer: false,
                MarkerPointAsynOptions: {
                    Listener: '',
                    UrlServer: ""
                },
                ProcessResultOptions: {
                    Latitude: 'Latitude',
                    Longitude: 'Longitude',
                    Name: 'MarketName'
                }
            }
        };

        var index= new NHS.Scripts.StateIndex(options);
        index.init();

        </text>
        }

        var search = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
        search.setupSearchBox("SearchText", "SearchType");

        jQuery('#frmHomePage').on('submit', function (e) {
            if (jQuery('#SearchText').val().trim() == "" || (jQuery('#SearchText').val().indexOf(',') != -1 && jQuery('#SearchText').val().split(',')[1] == '')) {
                e.preventDefault();
                jQuery("#nhs_field_validation_error_home").show();
                return false;
            }
            return true;
        });

    });

</script>

