/* ---------------------------------------------
Title:      Default 2014 Cms Styles
----------------------------------------------- */
	
#nhs_CmsContent {
    width: 100%;
    background-color: #eee;
    }
#nhs_CmsContent > div {
    width: 728px;
    margin: 0 auto;
    }   
.nhs_CmsCategory,
.nhs_CmsArticle,
.nhs_CmsRelated {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px 15px 0 15px;
    }     	
	
	
#nhs_CmsContent {
    /*width: 100%;
    max-width: 970px;*/
    font-size: 13px;
    font-size: 0.8rem;
    line-height: normal;
    }
    
#nhs_CmsContent img {
    max-width: none;
    } 
#nhs_CmsContent .nhs_CmsCategory img {
    max-width: 100%;
    }
        
.nhs_CmsCategoryTitle {
    margin: 12px 0;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    color: #4b4b4b;    
    }
    
.nhs_CmsMain {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    }    
    
.nhs_CmsArticle {
    margin: 0 0 20px 0;        
    font-size: 16px;
    font-size: 1rem;
    color: #4b4b4b;
    line-height: 1.3;
    padding: 10px 20px 20px 20px;
    }
.nhs_CmsSlideShowContent .nhs_CmsArticle {
    border: 0px solid #adadad;
    margin-bottom: 10px;
    padding: 10px 2% 20px 2%;
    position: relative;
    width: 96%;
    margin: 20px 0 0;
    } 
.nhs_CmsSlideShowFeature .nhs_CmsArticle {
    width: 96%;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 2% 40px 2%;
    }       
.nhs_CmsArticle > p,
.nhs_CmsArticle > ul,
.nhs_CmsArticle > h1,
.nhs_CmsArticle > h2,
.nhs_CmsArticle > h3,
.nhs_CmsArticle > h4,
.nhs_CmsArticle > h5,
.nhs_CmsArticle > h6 {
    margin: 20px 0;
    }
.nhs_CmsArticle > ul,
.nhs_CmsArticle > ol {
    display: block;
    padding-left: 20px;
    overflow: hidden;
    }   
.nhs_CmsArticle > ul li,
.nhs_CmsArticle > ol li {
    margin: 0 0 8px 0;   
    }         
.nhs_CmsArticleType {
    font-size: 75%;
    color: #999;
    text-transform: uppercase;
    margin-bottom: -20px !important;
    }
.nhs_CmsArticleTitle {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 40px !important;
    }
.nhs_CmsArticleTitleIntro {
    font-size: 189%;
    font-weight: bold;
    margin-bottom: 10px !important;        
    }
.nhs_CmsArticleTitleSlide {
    font-size: 149%;
    font-weight: normal;
    margin-bottom: 10px !important;        
    }    
.nhs_CmsArticleSubTitleSlide {
    font-size: 179%;
    font-weight: bold;
    margin-bottom: 5px !important;        
    }
    
.nhs_CmsArticleByline {
    font-size: 13px;
    font-size: 0.825rem;
    font-style: italic;
    margin-top: -40px !important;
    margin-bottom: 40px !important;
    }
.nhs_CmsSlideShowContent .nhs_CmsArticleTitle {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 576px;
    line-height: 1;
    }   
.nhs_CmsSlideShowFeature .nhs_CmsArticleTitle {
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    width: 800px;
    line-height: 1;
    }      
.nhs_CmsSlideShowContent .nhs_CmsArticleByline {  
    margin-top: -20px !important;  
    margin-bottom: 12px !important;
    }    
.nhs_CmsArticleSubTitle {
    font-size: 113%;
    } 
.nhs_CmsSlideShowFeature .nhs_CmsArticleSubTitle {
    margin: 0 0 20px 0;
    }       
.nhs_CmsArticleSubHead {
    font-weight: bold;   
    }
.nhs_CmsArticleSocial {
    overflow: hidden;
    position: absolute;
    right: -6px;
    bottom: 8px;
    display: block;
    width: 240px;
    height: 34px; 
    padding: 15px 0 0 18px;   
    border: 0px solid;
    background: transparent url(/globalresourcesmvc/default/images/backgrounds/cms_social_bar.png) no-repeat top right;
    z-index: 99;
    } 
.nhs_CmsArticleSocial .fb_iframe_widget {
    top: -5px;
    }   
.nhs_CmsArticleSocial #pinit {
    display: inline-block;
    position: relative;
    top: -5px;
    }         
.nhs_CmsArticle > .nhs_CmsArticleImageLeft img,
.nhs_CmsArticle > .nhs_CmsArticleImageCenter img,
.nhs_CmsArticle > .nhs_CmsArticleImageRight img {
    /*padding: 3px;*/
    background: #fff;
    border: 1px solid #a8a8a8;
    border-width: 0 0 1px 0;
    }
.nhs_CmsArticle > .nhs_CmsArticleImageCenter {
    margin: 0 auto;
    display: table; /*hack*/
    width: 1px; /*hack*/    
    padding: 12px 0 12px 0;
    }    
.nhs_CmsArticle > .nhs_CmsArticleImageLeft {
    float: left;
    clear: left;
    display: table; /*hack*/
    width: 1px; /*hack*/
    margin: 0;
    padding: 12px 20px 12px 0;
    }
.nhs_CmsArticle > .nhs_CmsArticleImageRight {
    float: left;
    clear: right;
    display: table; /*hack*/
    width: 1px; /*hack*/
    margin: 0;
    padding: 12px 14px 12px 2px;
    }    
.nhs_CmsArticleCaption {
    display: inline-block;
    font-size: 11px;
    color: #666;
    line-height: 1;
    padding: 0 5px 12px 5px;
    }        
    
.nhs_CmsArticleQuote {
    font-size: 125%;
    color: #0e3474;
    }  
.nhs_CmsQuoteAirLeft,
.nhs_CmsQuoteAirRight {
    float: left;
    display: block;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    color: #0e3474;
    line-height: 1.5;
    margin: 0 20px 0 0 !important;
    padding: 12px 20px 18px 26px !important;
    position: relative;
    } 
.nhs_CmsQuoteAirRight {
    float: right;
    margin: 0 0 0 20px !important;    
    }     
.nhs_CmsQuoteAirLeft:before,
.nhs_CmsQuoteAirRight:before {
    content: '\201C';
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 1px;
    position: absolute;
    top: 28px;
    left: 0;
    }    
.nhs_CmsQuoteAirLeft:after,
.nhs_CmsQuoteAirRight:after {
    content: '\201D';
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 1px;
    position: absolute;
    bottom: 20px;
    right: -2px;
    } 
    
.nhs_CmsQuoteAir2Left,
.nhs_CmsQuoteAir2Right {
    float: left;
    display: block;
    width: 35%;
    font-size: 24px;
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    color: #111;
    line-height: 1.1;
    background: #f9f9f9;
    margin: 8px 20px 8px 0 !important;
    padding: 12px 28px 16px 34px !important;
    position: relative;
    } 
.nhs_CmsQuoteAir2Right {
    float: right;
    margin: 8px 0 8px 20px !important;    
    }     
.nhs_CmsQuoteAir2Left:before,
.nhs_CmsQuoteAir2Right:before {
    content: '\201C';
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    font-size: 48px;
    color: #192d5d;
    line-height: 1px;
    position: absolute;
    top: 28px;
    left: 3px;
    }    
.nhs_CmsQuoteAir2Left:after,
.nhs_CmsQuoteAir2Right:after {
    content: '\201D';
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    font-size: 48px;
    color: #192d5d;
    line-height: 1px;
    position: absolute;
    bottom: 16px;
    right: 5px;
    }     
  
.nhs_CmsQuoteRuleLeft,
.nhs_CmsQuoteRuleRight {
    float: left;
    display: block;
    width: 40%;
    font-family: Times New Roman, Times, Serif;
    font-size: 20px; 
    font-weight: bold; 
    font-style: italic; 
    color: #888;
    text-align: center;
    line-height: 1.3;
    margin: 8px 20px 8px 0 !important; 
    padding: 14px 4px !important;
    border: 1px solid #e2e2e2;
    border-width: 2px 0;
    }           
.nhs_CmsQuoteRuleRight {
    float: right;
    margin: 8px 0 8px 20px !important;
    }    
    
.nhs_CmsArticleBio {
    font-style: italic;
    margin-top: 40px !important;
    } 
.nhs_CmsArticleSource {
    font-style: italic;
    }       
    
.nhs_CmsRelated {
    clear: both;
    margin: 20px 0;
    padding: 10px 20px 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    }  
.nhs_CmsRelated > .nhs_Title {
    margin: 10px 0 20px;    
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #4b4b4b;
    }  
.nhs_CmsSlideShowContent .nhs_CmsRelated {
    margin-top: 0;
    border-top: 0;
    } 
.nhs_CmsSlideShowContent .nhs_CmsRelated > .nhs_Title {
    margin-top: 0;
    }          
   
    
/*= Slides */   
.nhs_CmsSlides {
    width: 99%;
    height: 296px; /* was 310px */
    border: 3px solid #0091da;
    margin: 0 0 20px 0;
    background: #0091da;
    color: #fff;
    position: relative;
    overflow: hidden;
    } 
.nhs_CmsSlides .slides_container {
	width: 728px;
	display: none;
	}
.nhs_CmsSlidesFeature .slides_container {
	display: none;
	}	
.nhs_CmsSlide {
    width: 732px;
    height: 296px; /* was 310px */
    }
.nhs_CmsSlide img {
    float: left;
    width: 445px !important;
    height:  296px !important; /* was 310px */
    border: 0;
    -ms-interpolation-mode: bicubic;
    }  
.nhs_CmsMapLight {
    float: left;
    }      
.nhs_CmsSlideText {
    float: left;
    width: 213px;
    padding: 10px 18px 2px 18px;
    }
.nhs_CmsSlideText .title {
    margin-bottom: 8px;
    }
.nhs_CmsCategory .nhs_CmsSlideText a:first-child {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 8px;
    }
    
.nhs_CmsSlides ul.nhs_CmsSlidesPagination {
    position: absolute;
    right: 0;
    bottom: 2px;
    display: inline-block;
	list-style: none;
	width: 208px;
	margin: 0;
	padding: 0 18px;
	text-align: center;
	z-index: 98;
    }
.nhs_CmsSlides ul.nhs_CmsSlidesPagination li {
    display: inline-block;
    margin: 0;
    }
.nhs_CmsSlides ul.nhs_CmsSlidesPagination li a {
    display: inline-block;
    margin: 0 0 0 13px;
    padding: 5px 3px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    }  
.nhs_CmsSlides ul.nhs_CmsSlidesPagination li a:hover {
    color: #ffcc00;
    text-decoration: underline;
    } 
.nhs_CmsSlides ul.nhs_CmsSlidesPagination .current a {
	color: #ccc !important;
	text-decoration: none !important;
	cursor: default;
    }
.nhs_CmsSlides a.prev {
    position: absolute;
    width: 11px;
    height: 0;
    padding-top: 19px;
    right: 216px;
    bottom: 11px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_prev.png) no-repeat left top;
    z-index: 99;
    }   
.nhs_CmsSlides a.next {
    position: absolute;
    width: 11px;
    height: 0;
    padding-top: 19px;
    right: 21px;
    bottom: 11px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_next.png) no-repeat left top;
    z-index: 99;
    }       
    
.nhs_CmsSlideShowContent .nhs_CmsSlides {
    width: 100%;
    height: 345px;
    background: #fff;
    margin: 0 0;
    padding: 0 0;
    border: 0;
    color: #000;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlides .slides_container {
	width: 700px;
	height: 338px;
	display: none;
	}    
.nhs_CmsSlideShowContent .nhs_CmsSlide {
    width: 700px;
    height: 338px;
    }	
.nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleImage,
.nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleImageL {
    float: left;
    width: 59%;
    padding: 0 18px 0 0;
    }  
.nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleImageR {
    padding: 0 0 0 18px !important;
    float: right !important;
    }          
.nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleCaption {
    float: left;
    clear: left;
    padding: 6px 0 0 0;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlide img {
    height: 296px !important;
    width: auto !important;
    max-width: 413px !important;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlideText {
    width: auto;
    height: 296px;
    overflow-y: auto;
    float: none;
    padding: 0;
    font-size: 82%;
    }
.nhs_CmsSlideShowContent .nhs_CmsSlideText a {    
    -ms-word-break: break-all;
    word-break: break-all;
    }
.nhs_CmsSlideShowContent .nhs_CmsSlideText pre {
    padding: 0;
    white-space: normal;    
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlideText > p > strong {
    font-size: 123.1%;
    margin-bottom: 12px;
    display: inline-block;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlides ul.nhs_CmsSlidesPagination {
    background: #000;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlides #slides_count {
    position: absolute;
    top: -62px;
    right: 40px;
    font-weight: bold;
    font-size: 108%;
    width: 80px;
    text-align: center;
    }    
.nhs_CmsSlideShowContent .nhs_CmsSlides a.prev {
    position: absolute;
    width: 19px;
    height: 0;
    padding-top: 16px;
    right: 121px;
    top: -60px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_prev2.png) no-repeat left top;
    z-index: 99;
    }   
.nhs_CmsSlideShowContent .nhs_CmsSlides a.next {
    position: absolute;
    width: 19px;
    height: 0;
    padding-top: 16px;
    right: 20px;
    top: -60px;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_next2.png) no-repeat left top;
    z-index: 99;
    }     
.nhs_CmsSlideShowContent .nhs_CmsSlides a.bigprev,
.nhs_CmsSlideShowContent .nhs_CmsSlides a.bignext {
    position: absolute;
    width: 40px;
    height: 0;
    margin: -20px 0 0 0;
    padding: 40px 0 0 0;
    left: 2px;
    top: 42%;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_prev_big.png) no-repeat left top;
    z-index: 99;
    } 
.nhs_CmsSlideShowContent .nhs_CmsSlides a.bignext {
    left: auto;
    right: 2px;    
    background: url(/globalresourcesmvc/default/images/buttons/cms_next_big.png) no-repeat left top;
    }            

.nhs_CmsCategory .btn_Link {
    background: #fc0;
    border: 1px solid #f6be68;
    color: #000;
    font-size: 93%;
    text-decoration: none;
    margin: 0 0 11px 0;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
	
/*= Search Articles Box */    
.nhs_CmsArticleSearch {
    clear: both;
    width: 84%;
    margin: 0 0 20px 0;
    padding: 20px 8%;
    background: #7d7d7d;
    /*height: 84px;*/
    }   
.nhs_CmsArticleSearch .nhs_Title {
    margin: 0 0 8px 0;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    } 
.nhs_CmsArticleSearch label {
    display: none;
    } 
.nhs_CmsArticleSearch #ArticleSearch.nhs_LocationDefaultCms {
    font-style: italic;
    color: #999;
    }  
.nhs_CmsArticleSearch input[type=text] {    
    display: inline-block;
    float: left;
    width: 90%;
    height: 17px;
    margin: 0;
    padding: 10px 0 10px 5px;
    border: 1px solid #ccc;
    border-right: 0;  
    color: #444;
	font-size: 110%;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    }
.nhs_CmsArticleSearch input#ArticleSearchSubmit {    
    background: #0091da url(/globalresourcesmvc/default/images/buttons/search_magnify_white.png) no-repeat 50% 49%;
    background-size: 15px 15px;    
    display: inline-block;
    float: left;
    height: 39px;
    margin: 0;
    overflow: hidden;
    padding: 37px 0 0;
    width: 39px;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    }	
    
.nhs_CmsSearchTwoBoxes {
    width: 100%;
    }    
.nhs_CmsSearchTwoBoxes .nhs_CmsArticleSearch {
    float: left;                                            
    clear: none;

    } 
/*.nhs_CmsSearchTwoBoxes .nhs_CmsArticleSearch input#ArticleSearch {
    width: 82%;
    }         */
    
/*= Sub Category Teaser Box */    
.nhs_CmsSubCatList {
    width: 626px;
    margin: 0 0 14px 0;
    padding: 10px 7px 7px 7px;
    background: #9fc4e1;     
    box-shadow: 0 1px 2px 0 #666;   
    }
.nhs_CmsSubCatList .nhs_Title {
    margin: 0 0 8px 13px;
    font-size: 123.1%;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    } 
.nhs_CmsSubCatList > div {
    background: #f3f7fb;
    padding: 8px;
    }    
.nhs_CmsSubCatList ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    }    
.nhs_CmsSubCatList ul li {
    float: left;
    display: inline-block;
    width: 33.333%;
    margin: 0;
    padding: 0;
    }
.nhs_CmsSubCatList ul li a { 
    display: inline-block;
    padding: 3px 3px 3px 14px;
    background: url(/globalresourcesmvc/default/images/icons/cms_arrow.png) no-repeat left 56%;
    }
    
.nhs_CmsCategory > .nhs_Title {
    margin: 24px 0 20px 0;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4b4b4b;
    }  
    
/*= Cms Home - Category Teasers */ 
.nhs_CmsColLeft {
    float: left;
    width: 48%;
    padding: 0 2% 0 0;
    border-right: 1px solid #eee;
    }  
.nhs_CmsColRight {
    float: right;
    width: 48%;
    }
    
.nhs_CmsCategoryTeaser {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.3;
    min-height: 200px;
    color: #4b4b4b;
    }
.nhs_CmsCategoryTeaser > .nhs_Title {
    width: 94%;
    padding: 4px 3%;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    background: #0091da;
    }
.nhs_CmsCategoryTeaser > .nhs_Title > a {
    color: #fff;
    text-decoration: none;
    }    
.nhs_CmsCategoryTeaser > .nhs_Title > a:hover {
    text-decoration: underline;
    }     
.nhs_CmsCategoryTeaser > div {
    padding: 10px;
    } 
.nhs_CmsCategoryTeaser > div p,
.nhs_CmsCategoryTeaser > div ul,
.nhs_CmsCategoryTeaser > div img {
    margin-top: 8px;
    margin-bottom: 8px;
    }          

/*= Article Teaser Box */    
.nhs_CmsArticleTeaser {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    color: #4b4b4b;
    line-height: 1.3;
    }
.nhs_CmsArticleTeaser a {
    font-weight: normal;
    text-decoration: none;
    }
.nhs_CmsArticleTeaser a:hover {
    text-decoration: underline;
    }
.nhs_CmsArticleTeaser p a:first-child {    
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 4px;
    }
.nhs_CmsArticleTeaser p {
    margin-top: 6px;
    }
.nhs_CmsArticleTeaser p.nhs_CmsTypeArticle,
.nhs_CmsArticleTeaser p.nhs_CmsTypeSlideshow,
.nhs_CmsArticleTeaser p.nhs_CmsTypeVideo {
    display: inline-block;
    margin-top: 10px;
    padding: 3px 28px 3px 0;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
    background: url(/globalresourcesmvc/default/images/icons/cms_article.png) no-repeat right 50%;
    }
.nhs_CmsArticleTeaser p.nhs_CmsTypeSlideshow {
    background: url(/globalresourcesmvc/default/images/icons/cms_slideshow.png) no-repeat right 50%;    
    }
.nhs_CmsArticleTeaser p.nhs_CmsTypeVideo {
    background: url(/globalresourcesmvc/default/images/icons/cms_video.png) no-repeat right 50%;    
    }    
.nhs_CmsArticleTeaser img {
    float: left;
    border:none;
    width: 160px !important;
    height: 107px !important; /*was 120px*/
    margin: 0 12px 0 0;
    padding: 3px;
    background: #fff;
    -ms-interpolation-mode: bicubic;
    }     
.nhs_CmsArticleSummary {
    
    }    

/* =Author Teaser */    
.nhs_CmsAuthorTeaser {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #dadada;
    }
.nhs_CmsAuthorTeaser img {
    width: 160px !important;
    height: auto !important;
    }    
.nhs_CmsAuthorTeaser p {
    }    
.nhs_CmsAuthorTeaser p > span {
    display: inline-block;
    text-transform: uppercase;
    color: #808080;
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 10px;
    }   

/* =Paging */
.nhs_CmsPagingBar {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-size: 1.125rem;
    }
.nhs_CmsPagingBar > div {
    float: right;
    margin: 2px 5px 0 0;
    }
.nhs_CmsPagingBar p {
    float: left;
    margin: 0;
    padding: 5px 3px;
    font-size: 93%;
    }
.nhs_CmsPagingBar ul {
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    }
.nhs_CmsPagingBar ul li {
    display: inline-block;
    margin: 0;
    }
.nhs_CmsPagingBar a {
    display: inline-block;
    margin: 0 0 0 11px;
    padding: 5px 3px;
    text-decoration: none;
    cursor: pointer;
    }  
.nhs_CmsPagingBar a:hover {
    text-decoration: underline;
    }  
.nhs_CmsPagingBar a.nhs_Active {
    font-weight: bold;
    cursor: default;
    text-decoration: none !important;
    }
.nhs_CmsPagingBar a.nhs_Active[page=all] {
    font-weight: normal;
    cursor: pointer;
    }
.nhs_CmsPagingBar a.nhs_Active[page=all]:hover {
    text-decoration: underline !important;
    }   
.nhs_CmsSlideFeatureDetailAuthor {
    font-size:11px; 
    font-weight: normal;
}     
.nhs_CmsCategory #Pagination {
    width: 100%;    
    }    
    
.nhs_CmsAside {
    float: right;
    width: 100%;
    }
    
/*= Search Homes Box */    
.nhs_CmsHomeSearch {
    clear: left;
    width: 84%;    
    margin: 0 0 20px 0;
    padding: 20px 8%;
    background: #ffce34;
    }   
.nhs_CmsHomeSearch .nhs_Title {
    margin: 0 0 8px 0;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #4b4b4b;
    } 
.nhs_CmsHomeSearch label {
    display: none;
    } 
.nhs_CmsHomeSearch input[type=text] {    
    display: inline-block;
    float: left;
    width: 90%;
    height: 17px;
    margin: 0;
    padding: 10px 0 10px 5px;
    border: 1px solid #ccc;
    border-right: 0;  
    color: #4b4b4b;
	font-size: 110%;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    }
.nhs_CmsHomeSearch .MktSearch.nhs_LocationDefaultCms {
    font-style: italic;
    color: #999;
    }      
.nhs_CmsHomeSearch input.MktSubmit {
    background: #0091da url(/globalresourcesmvc/default/images/buttons/search_magnify_white.png) no-repeat 50% 49%;
    background-size: 15px 15px;
    display: inline-block;
    float: left;
    height: 39px;
    margin: 0;
    overflow: hidden;
    padding: 37px 0 0;
    width: 39px;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    }   
    
.nhs_CmsAside .nhs_CmsHomeSearch,
.nhs_CmsAside .nhs_CmsVideo,
.nhs_CmsAside .nhs_CmsAd {
    display: none;
    }
/*nhs_CmsWideHomeSearch {
    width: 618px;    
    } 
.nhs_CmsWideHomeSearch input.MktSearch {
    width: 570px;
    } */
    
.nhs_CmsSearchTwoBoxes .nhs_CmsHomeSearch {
    float: left;
    clear: none;    
    margin-right: 22px;
    }   

.nhs_CmsSearchTwoBoxes {
    float: left; 
    width: 100%;
    max-width: 768px;
    }   
    
/*= Trending & Video Boxes */
.nhs_CmsTrending,
.nhs_CmsFaceBook,
.nhs_CmsVideo {
    width: 334px;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 0;
    background: #fff;
    float: left;
    }
.nhs_CmsFaceBook {
    width: 334px;
    margin-right: 0;
    position: relative;
    }  
.nhs_CmsFaceBook > div {
    margin: 0 auto;
    }     
.nhs_CmsFaceBook > .nhs_LatestIcon {
    display: block;
    height: 47px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 47px;    
    background: #d3d3d3 url(/globalresources14/default/images/icons/rss.png) no-repeat 50% 50%;
    }       
.nhs_CmsTrending .nhs_Title,
.nhs_CmsFaceBook .nhs_Title,
.nhs_CmsVideo .nhs_Title {
    margin: 0 0 8px 0;
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    color: #4b4b4b;
    }  
.nhs_CmsTrending .nhs_Title,
.nhs_CmsFaceBook .nhs_Title {
    color: #7d7d7d;
    font-size: 22px;
    font-size: 1.4rem;
    margin: 4px 3px 0 0;
    float: left;
    }
.nhs_CmsTrending .nhs_Title > span,
.nhs_CmsFaceBook .nhs_Title > span {
    color: #4b4b4b;
    font-size: 1.7rem;
    }
.nhs_CmsTrending > hr,
.nhs_CmsFaceBook > hr {
    float: left;
    margin: 0 0 10px 0;
    width: 103%;
    }    
.nhs_CmsTrending > div {
    float: left;
    margin: 0;
    padding: 29px 0;
    font-size: 12px;
    font-size: 0.75rem;
    color: #7d7d7d;
    line-height: 1;
    display: table;
    }
.nhs_CmsTrending a {
    text-decoration: none;
    }
.nhs_CmsTrending a:hover {
    text-decoration: underline;
    }
.nhs_CmsTrending > div p {
    display: table-cell;
    vertical-align: middle;
    }
.nhs_CmsTrending > div p a:first-child {
    display: inline-block;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 5px;
    }    
.nhs_CmsTrending img {
    float: left;
    width: 96px !important;
    height: 64px !important; /*was 74px*/
    margin: 0 6px 0 0;
    padding: 4px;
    background: #fff;
    -ms-interpolation-mode: bicubic;
    }    
.nhs_CmsVideo > div  {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    }
.nhs_CmsVideo iframe,
.nhs_CmsVideo object,
.nhs_CmsVideo embed,
.nhs_CmsVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.nhs_CmsAd {
    width: 300px;
    /*height: 250px;*/
    margin: 20px 0 20px 5px;
    /*background: #000;
    color: #fff;*/
    }
    
/*Article Search Results*/
.nhs_CmsResults_LayoutContent {	
	margin: 0 0 14px 0;
	padding: 8px 0 2px 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	}
	
.nhs_CmsSearchResults {
    
    }
    
.nhs_CmsSearchResults .nhs_CmsArticleTeaser {
    margin: 0 0 12px 0;
    }   
    
.nhs_CmsMultiPartArticle {
    
    } 
.nhs_CmsMultiPartArticle .nhs_CmsArticleTitle {
    
    }   
.nhs_CmsMultiPartHeader {
    float: left;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #dadada;
    }          
.nhs_CmsMultiPartHeader p {
    float: left;
    font-size: 60%;
    width: 100%;
    margin-bottom: 4px;
    }   
.nhs_CmsMultiPartHeader h3 {
    float: left;
    color: #0091da;
    }         
.nhs_CmsMultiPartHeader a,
.nhs_CmsMultiPartHeader a:hover {
    float: right;
    font-size: 60%;
    color: #666;
    margin-top: 4px;
    }       
.nhs_CmsMultiPartArticle .nhs_CmsSlides {
    margin-top: -20px;
    }    
.nhs_CmsMultiPartArticle .nhs_CmsSlideText {
    float: left;
    position: relative;
    height: 262px;
    }
.nhs_CmsMultiPartArticle .nhs_CmsSlideText p:first-child {
    color: #fff;
    display: inline-block;
    font-size: 123.1%;
    font-weight: bold;
    margin-bottom: 12px;
    }    
.nhs_CmsMultiPartArticle .nhs_CmsSlideText .nhs_CmsArticleByline {
    position: absolute;
    bottom: 14px;
    margin: 0 !important;
    font-style: normal;
    }
.nhs_CmsMultiPartArticle .nhs_CmsSlide img {
    float: right;
    }    
.nhs_CmsMultiPartArticle .nhs_CmsArticleSummary {
    font-size: 85%; 
    line-height: 1.5;
    }
.nhs_CmsMultiPartArticle .nhs_CmsArticleTeaser {
    float: left; 
    width: 290px; 
    min-height: 180px;
    margin: 20px 10px 0 0;
    padding: 0 20px 20px 0;
    font-size: 85%;
    border-bottom: 1px dotted #ddd;
    } 
.nhs_CmsMultiPartIndex {
    font-size: 80%;
    }     

.nhs_CmsMultiPartPaging {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    clear: both;
    border-bottom: 1px solid #dadada;
    }
.nhs_CmsPagingPrev {
    float:left;
    font-size:80%;
    }
.nhs_CmsPagingNext {
    float:right;
    font-size:80%;
    }

.nhs_CmsMultiPartArticle .nhs_CmsArticleBio {    
    margin-top: 20px !important;
    font-size: 90%;
    } 

/* CMS Feature Slideshow */    
.nhs_CmsSlidesFeature {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    }
.nhs_CmsSlideFeature {
    height: 470px;
    width: 698px;
    background-color: #fff;
    }
.nhs_CmsSlideFeature > div {
    /*position: relative;*/
    width: 698px;
    height: 375px;
    bottom: 0;
    position: absolute;
    }
.nhs_CmsSlideFeature > div img {
    height: 400px;
    width: 698px;
    -ms-interpolation-mode: bicubic;
    }    
#nhs_CmsSlideFeatureIntroBox {
    position: absolute;
    color: #fff;
    bottom: 40px;
    left: 40px;
    width: 65%;
    background: rgba(0,0,0,0.6);    
    padding: 20px;
    }  
#nhs_CmsSlideIntroTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    }   
#nhs_CmsSlideIntroText {
    margin: 12px 0;   
    }  
#nhs_CmsSlideIntroAuthor {
    margin: 12px 0 14px 0;  
    font-style: italic;
    }     
#nhs_CmsSlideIntroAuthor a {
    color: #fff;
    }      
#nhs_CmsSlideIntroStartLink {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 8px 12px;
    /*border: 1px solid #b7880a;*/
    background: #f58220;
    border-radius: 3px;
    /*text-shadow: 0 1px 1px #333;
    
    background: -moz-linear-gradient(top,  #f1ba36 0%, #e78f21 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ba36), color-stop(100%,#e78f21));
    background: -webkit-linear-gradient(top,  #f1ba36 0%,#e78f21 100%);
    background: -o-linear-gradient(top,  #f1ba36 0%,#e78f21 100%);
    background: -ms-linear-gradient(top,  #f1ba36 0%,#e78f21 100%);
    background: linear-gradient(to bottom,  #f1ba36 0%,#e78f21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ba36', endColorstr='#e78f21',GradientType=0 );*/
    }    
    
.showHide {
    text-align: right;
    background-color: #000;
    height: 30px;
    }       
.showHide span {
    display: inline-block;
    margin-right: 8px;
    padding: 7px 14px 7px 0;
    text-decoration: none;
    color: #fff;
    font-size: 11px;    
    cursor: pointer;
    background: url(/globalresourcesmvc/default/images/buttons/cms_arrow_up.png) no-repeat right 50%;            
    }  
.showHide span.false {   
    background: url(/globalresourcesmvc/default/images/buttons/cms_arrow_down.png) no-repeat right 50%;            
    }      
 
.nhs_CmsSlideFeatureDetailBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 400px;
    color: #fff;
    }       
.nhs_CmsSlideFeatureDetail {
    background: rgba(0,0,0,0.6);    
    height: 334px;
    padding: 18px;
    font-size: 15px;
    color:#fff;
    }      
.nhs_CmsSlideFeatureDetail .nhs_Title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    }    
.nhs_CmsSlideFeatureDetailText {
    font-size: 13px;
    }    
.nhs_CmsSlideFeatureDetailCol {
    float: left;
    width: 45%;
    padding-right: 5%;
    font-size: 11px;
    } 
.nhs_CmsSlideFeatureDetailCol p {
    font-size: 11px;
    margin: 8px 0 0 0;
    }  
.nhs_CmsSlideFeatureDetailCol p:first-child {
    margin: 0;
    }          
.nhs_CmsSlideFeatureDetailCol p span {
    text-transform: uppercase;
    font-weight: bold;
    }     
    
.nhs_CmsSlideFeatureDetailBox a,
.nhs_CmsSlideFeatureDetailBox a:link,
.nhs_CmsSlideFeatureDetailBox a:visited,
.nhs_CmsSlideFeatureDetailBox a:active,
.nhs_CmsSlideFeatureDetailBox a:hover {
    color: #fff;
    }          
.nhs_CmsSlideFeatureDetailLink a,
.nhs_CmsSlideFeatureDetailLink a:link,
.nhs_CmsSlideFeatureDetailLink a:visited,
.nhs_CmsSlideFeatureDetailLink a:active,
.nhs_CmsSlideFeatureDetailLink a:hover {
    font-size: 11px;
    }       

ul.nhs_CmsSlidesFeaturePagination {
    display: inline-block;
    width: 100%;
    background-color: #000;
    margin: 0;
    border-top: 1px solid #fff;
    position: relative;
    z-index: 999;
    padding-left: 0; 
    }
ul.nhs_CmsSlidesFeaturePagination > li {
    display: inline-block;      
    border-right: 1px solid #fff; 
    margin-bottom: -7px;      
    }     
ul.nhs_CmsSlidesFeaturePagination > li a {
    position: relative;
    top: -7px; 
    margin: 0;
    padding-top: 14px;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 42px;
    height: 25px;
    font-weight: bold;
    text-decoration: none;
    }
ul.nhs_CmsSlidesFeaturePagination > li a:hover,
.nhs_CmsSlidesCurrentPage a {
    background: url(/globalresourcesmvc/default/images/buttons/cms_slide_current.png) no-repeat 50% top;        
    text-shadow: 1px 1px 2px #000;
    }  
.nhs_CmsSlidesFeature a.bigprev,
.nhs_CmsSlidesFeature a.bignext {
    position: absolute;
    width: 28px;
    height: 0;
    margin: 0;
    padding: 28px 0 0 0;
    left: 14px;
    top: 50%;
    display: block;
    overflow: hidden;
    color: #fff;
    background: url(/globalresourcesmvc/default/images/buttons/cms_prev_big2.png) no-repeat left top;
    z-index: 99;
    } 
.nhs_CmsSlidesFeature a.bignext {
    left: auto;
    right: 15px;
    background: url(/globalresourcesmvc/default/images/buttons/cms_next_big2.png) no-repeat left top;
    }         
    
    
#nhs_CmsSlidesFeatureInfo {
    font-size: 12px;
    margin-top: 40px;
    }     
    
/* =Author Page */    
.nhs_CmsAuthorPage .nhs_CmsArticleImageRight > img {
    max-width: 320px;
    height: auto;
    }
.nhs_CmsArticle > .nhs_CmsSocialNetworksUl {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    }
.nhs_CmsArticle > .nhs_CmsSocialNetworksP {        
    margin: 0 0 5px 0;
    padding: 0;
    }
.nhs_CmsArticle > .nhs_CmsSocialNetworksUl li {
    margin: 0;
    padding: 0 0 0 5px;        
    border-left: 1px solid #000;
    display: inline-block;
    }
.nhs_CmsArticle > .nhs_CmsSocialNetworksUl li:first-child {
    padding: 0;
    border-left: none;
    }
  
.nhs_CmsAuthorLandingPage {
    margin: 0;
    }    
.nhs_CmsAuthorLandingPage > .nhs_CmsArticleImageLeft img,
.nhs_CmsAuthorLandingPage > .nhs_CmsArticleImageCenter img,
.nhs_CmsAuthorLandingPage > .nhs_CmsArticleImageRight img {
    /*padding: 3px;*/
    background: #fff;
    border: 0;
    }  
.nhs_CmsAuthorLandingPage .nhs_CmsArticleSubTitle {
    font-size: 100%;
    font-weight: normal;
    margin-top: -30px;
    }       
.nhs_CmsAuthorLandingPage + span + .nhs_CmsRelated {
    border: 0;
    margin-top: 0;
    padding-top: 0;
    } 
        
.nhs_EbookAvailableWrapper {
    background-color: #004a80;
    float: left;
    width: 211px;
    padding: 18px;
    position: absolute;
    bottom:0;
    left: 446px;
}
.nhs_EbookAvailable a {
    color: #ffce34 !important;
    font-size: 14px !important;
    text-decoration: none;
}

.nhs_backLogo {
    background-color: #004a80;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 47px;
}
#nhs_eBookResourceCenter {
    float: left;
    background-color: #0091da;
    color: #fff;
    width: 640px;
    min-height: 195px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
#nhs_eBookResourceCenter .nhs_eBookImg {
    position: relative;
    z-index: 10;
    float: left;
    margin: 0 0 0 35px;
}
#nhs_eBookResourceCenter .nhs_eBookImg img {
    padding: 15px 10px 10px 10px;
    width: 182px;  
}
#nhs_eBookResourceCenter .nhs_eBookContent {
    left: 242px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 430px;
}
#nhs_eBookResourceCenter .nhs_eBookContent .nhs_eBookTitle {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    color: #fff ;
}
#nhs_eBookResourceCenter .nhs_eBookContent .nhs_eBookLogo {
    margin:11px 0 18px 0;
}
#nhs_eBookResourceCenter .nhs_eBookContent .nhs_eBookLogo span {
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
#nhs_eBookResourceCenter .nhs_eBookContent .nhs_eBookContentText {
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 8px;
}
#nhs_eBookResourceCenter input.btn_eBookSend {
    font-size: 15px;
    font-weight: bold;
}

/*LG*/




.nhs_CmsCategoryTeaser li {
    font-size: 15px;
    margin: 0 0 16px;
}



