/* Tablet First */

@media only screen and (min-width: 61em) { /*~ 976*/
    
/* Results 
    #nhs_ResMarketInfo,                                        
    #nhs_Crumbs {
        width: 960px;    
    } */
    
/* CMS */
    #nhs_CmsContent > div {
        width: 960px;    
    }
    .nhs_CmsMain {
        float: left;
        width: 633px;
    }   
    .nhs_CmsAside {
        float: right;
        width: 310px;        
        margin-top: 20px;
    }
    
    .nhs_CmsAside .nhs_CmsHomeSearch,
    .nhs_CmsAside .nhs_CmsVideo,
    .nhs_CmsAside .nhs_CmsAd {
        display: block;
    }
    
    .nhs_CmsTrending,
    .nhs_CmsFaceBook,
    .nhs_CmsVideo {
        width: 290px;
        margin-right: 0;
    }
    .nhs_CmsTrending > div {
        padding: 10px 0;
    }
    #nhs_eBookResourceCenter .nhs_eBookImg {
        margin: 0;    
    }
    #nhs_eBookResourceCenter .nhs_eBookContent {
        left: 190px;
    }
    .nhs_CmsSearchTwoBoxes {
        max-width: 640px;
    }
    .nhs_CmsSearchTwoBoxes .nhs_CmsHomeSearch,
    .nhs_CmsSearchTwoBoxes .nhs_CmsArticleSearch {
        width: 42%;
        padding-left: 3%;
        padding-right: 3%;
    } 
    .nhs_CmsSearchTwoBoxes .nhs_CmsArticleSearch {
        float: right;
    }  
    .nhs_CmsAside .nhs_CmsHomeSearch input.MktSearch,
    .nhs_CmsSearchTwoBoxes .nhs_CmsHomeSearch input[type=text],
    .nhs_CmsSearchTwoBoxes .nhs_CmsArticleSearch input[type=text] {
        width: 82%;    
    }
    
    
    .nhs_CmsSlideShowContent .nhs_CmsSlides .slides_container,
    .nhs_CmsSlideShowContent .nhs_CmsSlide {
	    width: 920px;
    }
    .nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleImage, 
    .nhs_CmsSlideShowContent .nhs_CmsSlide .nhs_CmsArticleImageL {
        width: 49%;    
    }    
    .nhs_CmsSlideShowContent .nhs_CmsSlide img {
        max-width: none !important;
    } 
    .nhs_CmsSlideFeature,
    .nhs_CmsSlideFeature > div,
    .nhs_CmsSlideFeature > div img {
        width: 922px;
    }    
    .nhs_CmsSlideFeature > div img {
            
    }
    .nhs_CmsSlidesFeature a.bigprev {        
        margin: 0;
        left: 19px;
    } 
    .nhs_CmsSlidesFeature a.bignext {
        margin: 0;
        right: 19px;
    }    
    .nhs_CmsSlideText {
        width: 120px;
    }
    .nhs_CmsSlides ul.nhs_CmsSlidesPagination li a {
        font-size: 15px;
        margin: 0 0 0 6px;
    }
    .nhs_CmsSlides ul.nhs_CmsSlidesPagination {
        width: 113px;
        bottom: 6px;
    }
    .nhs_CmsSlides a.prev {
        right: 128px;
    }
    .nhs_CmsSlides a.next {
        right: 10px;
    }

    .nhs_EbookAvailableWrapper {
        width: 117px;
    }
    
/* Green Search, Hot Deal, Location Handler */

    #nhs_DealsSearch > div,
    #nhs_BoylSearch > div,
    #nhs_LocationHandler > div {
        width: 960px;
        margin: 0 auto;
    }
    
    #nhs_DealsSearch > div > div,
    #nhs_BoylSearch > div > div,
    #nhs_LocationHandler > div > div {
        float: left;
        width: 768px;    
    }
    #nhs_LocationHandler > div > div {
        width: 728px;
    }
    #nhs_DealsSearch > div > aside,
    #nhs_BoylSearch > div > aside,
    #nhs_LocationHandler > div > aside {
        display: block;
        float: right;
        width: 160px;
        margin: 20px 0;    
    }
    .nhs_GreenDealsBox {
        width: 52%;    
    }
    .nhs_GreenDealsBox input[type=text] {
        width: 58.5%;
    }
    .nhs_GreenDealsBox select {
        width: 62.5%;
    }
    .nhs_GreenDealsBox #PriceLow, 
    .nhs_GreenDealsBox #PriceHigh {
        width: 29.5%;
    }
    #nhs_MiddleTopSq {
        display: block;
        margin-top: 45px;
    }     
    
/* Details */
    
    #nhs_CommunityDetails > div, 
    #nhs_HomeDetail > div {
        width: 960px;
    }
    #nhs_CommunityDetails > div > div,
    #nhs_HomeDetail > div > div {
        float: left;
        width: 768px;
    }
    .nhs_DetailCard {
        padding: 20px 20px 20px 20px;    
    }
    #nhs_CommunityDetails > div > div.nhs_DetailCard,
    #nhs_HomeDetail > div > div.nhs_DetailCard {
        width: 920px;
    }
    #nhs_CommunityDetails > div > #nhs_AdColumn,
    #nhs_HomeDetail > div > #nhs_AdColumn {
        display: block;
        float: right;
        width: 160px;
        margin: 20px 0;    
    }
    .nhs_DetailsHeaderLogo {
        min-width: 200px;    
    }
    #nhs_DetailsPromos {
        width: 890px;
    }
    
/* Details Form */  
  
    .nhs_DetailsForm {
        width: 440px; 
        max-width: 440px;    
    }
    .nhs_DetailsForm .nhs_DetailsFormTitle {
        font-size: 24px;    
        font-size: 1.5rem;
        margin: 0 0 0 38px;
        padding: 12px 0 12px 55px;
        background-size: 45px 45px;
    }    
    .nhs_DetailsForm .nhs_RequestInfoForm p.nhs_MoreMargin {
        text-align: left;   
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset label {
        width: 27%;
        font-size: 14px;
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset label span {
        display: inline-block;    
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset label.nhs_OutsideLabel {
        font-size: 12px;     
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset input[type="text"]#Zip {
        width: 72px;
        margin-right: 8px;
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset .nhs_RecoLabel label {
        width: 190px; 
        margin-left: 125px;   
    }
    .nhs_DetailsForm .nhs_RequestInfoForm fieldset textarea {
        height: 32px;  
    }
    .nhs_DetailsForm .nhs_RequestInfoForm .btnCss:first-of-type, 
    .nhs_DetailsForm .nhs_RequestInfoForm a.btnCss:first-of-type {
        width: auto;
        margin: 0 0 0 124px;
    }
    .nhs_DetailAddressHours ul li {
        width: 32% !important;
    }


/* Site Index */

    .nhs_IndexSearchForm,
    .nhs_IndexContent {
        width: 960px;    
    }
    .nhs_IndexSearchForm > .nhs_IndexSearchLocation {
        max-width: 915px;    
    }
    .nhs_IndexSearchForm > .nhs_IndexSearchLocation > div:first-child {
        width: 525px;    
    }
    .nhs_IndexSearchForm > .nhs_IndexSearchLocation > div {	
    	width: 350px;
    }
    .nhs_IndexSearchLocation input[type=text] {
        padding-right: 14%;        
    }
    .nhs_IndexSearchOptions input[type=radio] + label {
	    margin-right: 4px;
	    padding: 4px 8px;
    }
    .nhs_IndexSearchForm #HomeSearchIcon {        
        right: 28%;
    }
    .nhs_IndexSearchOptions input[type=text] {
	    width: 96px;
	}
    
    

                                             
}
