
/*======== MARKET INFO - MINI MAP - TEXT =========*/
#nhs_ResMarketInfo {
	width: 100%;
	max-width: 960px;
	width: 960px;
	min-height: 160px;
	margin: 0 auto 10px auto;
	background-color: #0091da;
}
#nhs_ResMktMap {
	float: left;
	width: 28.64583333333333%; /* 275/960 */
	max-width: 275px;
	max-height: 160px;	
	overflow: hidden;
	/*-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	background-size: cover;*/
	
	/* fixed width mini map */
	width: 275px;
	position: relative;
}
#nhs_ResMktMap img {
	/*float: right;*/
	width: 275px;
	max-width: 275px;
	height: auto !important;	
	/*opacity: 0;*/
}
#nhs_ResMktMap a.nhs_OpenMap {
    position: absolute;
    bottom: 0;
    right: 0;    
    padding: 4px 8px;
    background: #fff;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
}
#nhs_ResMktTxt {
	float: left;
	width: 69.27083333333333%; /* 665/960 */
	max-width: 665px;
	height: 140px;
	padding: 10px 1.041666666666667%; /* 10/960 */
	color: #fff;
	/*background-image: url(/globalresources14/newhomesource/images/backgrounds/market_info_269.jpg);*/
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	background-position: center bottom;
	background-size: cover;
	
	/* fixed width mini map */
	display: table-cell;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 10px;
}
#nhs_ResMktTxt > h1 {
	font-size: 23px;
	font-size: 1.45rem;
	margin: 0 0 10px 0;
}
#nhs_ResMktTxt > h1 > strong {
	color: #ffce34;
}
#nhs_ResMktTxt > div {
    /*width: 100%;*/
    width: 665px;
	height: 95px;
	/*padding: 0 15px 0 0;*/
	overflow-y: scroll;
	font-size: 11px;
	font-size: 0.7rem;
	border: 0px solid #fff;
}
#nhs_ResMktTxt > div p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.2;
}
#nhs_ResMktTxt > div ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}
#nhs_ResMktTxt > div ul li {
	display: inline-block;
	width: 31%;	
	margin: 0 1% 0 0;	
}
#nhs_ResMktTxt > div a {
	color: #fff;
	text-decoration: underline;
}

/*======== BREADCRUMBS =========*/
#nhs_Crumbs {	
	margin: 0 auto 10px auto;
	padding: 4px 0; 
	background: transparent;
	font-size: 12px;
	font-size: 0.75rem;
}
.nhs_ResCrumbs {
    width: 100%;
	max-width: 960px;   
}
#nhs_Crumbs nav {
    width: 100%;
    float: left;
    }
#nhs_Crumbs.nhs_ResCrumbs nav {
    width: 80%;    
}
#nhs_Crumbs nav > ol {	
	margin: 0;
	padding: 0 0.8333333333333333%; /*8/960*/
	padding: 0;
	list-style: none;
}
#nhs_Crumbs nav > ol li {
    float: left;	
	display: inline-block;
}
#nhs_Crumbs nav > ol li a {
    display: inline-block;
}
#nhs_Crumbs nav > ol li strong {
	font-weight: normal;	
}
#nhs_Crumbs nav > ol li:before {	
	content: ">";
    margin-left: 3px;
    margin-right: 3px;
}
#nhs_Crumbs nav > ol li:first-child:before {
	content: none;
}

#nhs_ClearFacets {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 12px; 
    font-size: 0.75rem;   
}

/*======== FACETS =========*/
#nhs_ResFacets {
	width: 100%;
	max-width: 960px;
	min-height: 60px;
	margin: 0 auto 14px auto;
	padding: 0; /*5/960*/
	background: #eee;
	position: relative;
}
#nhs_ResFacets > div {
	float: left;
	width: 16.66666666666667%; /*160/960*/
	max-width: 160px;
	min-height: 60px;
	margin: 0 0 0 -3px;
	padding: 5px 0.8333333333333333% 7px 0.8333333333333333%; /*8/960*/
	border-left: 3px solid #fff;
	position: relative;
	cursor: pointer;
}
#nhs_ResFacets > div.nhs_Active,
#nhs_ResFacets > div.nhs_Hover {
	/*margin-top: -8px;
	margin-bottom: -8px;
	padding-top: 8px;
	padding-bottom: 8px;*/
	background: #7d7d7d;
}
#nhs_ResFacets > div.nhs_Active > div:first-child > p,
#nhs_ResFacets > div.nhs_Hover > div:first-child > p {
    color: #ffce34;    
}
#nhs_ResFacets > div > div:first-child > ul li span:first-child {
	color: #bababa;
}
#nhs_ResFacets > div.nhs_Active > div:first-child > ul > li > span:first-child,
#nhs_ResFacets > div.nhs_Hover > div:first-child > ul > li > span:first-child {
	color: #bababa;
}
#nhs_ResFacets > div.nhs_Active > div:first-child > ul,
#nhs_ResFacets > div.nhs_Hover > div:first-child > ul,
#nhs_ResFacets > div.nhs_Active > div:first-child > a,
#nhs_ResFacets > div.nhs_Hover > div:first-child > a {
    color: #fff;
}
#nhs_ResFacets > div.nhs_Active > div:first-child > ul > li > a {
	display: none;
}
#nhs_ResFacets > div > div:after {
	content: "";
	position: absolute;
	bottom: 3px;
	right: 0;
	width: 0; 
	height: 0; 
	border-right: 9px solid #bababa;	
	border-top: 9px solid transparent;
	}
#nhs_ResFacets > div.nhs_Hover > div:after {	
	border-right: 9px solid #ffce34;	
	border-top: 9px solid transparent;
	}	
#nhs_ResFacets > div.nhs_Active > div:after {
	content: none;
}	
#nhs_ResFacets > div#nhs_FacetMore {
	margin-right: 0;
	width: 16.35416666666667%; /*157/960*/
	max-width: 157px;
	position: static;
	float: right;
}
#nhs_ResFacets > div#nhs_FacetLocation {
	width: 25%; /*240/960*/
	max-width: 240px;
	border-left: 0;
	margin-left: 0;
	position: static;
}
#nhs_ResFacets div#nhs_FacetLocation > div:after  {
	/*content: none;*/
	bottom: 3px;
	right: 5px;
}

#nhs_ResFacets fieldset,
#nhs_LocationSearchBlock {
	position: relative;
	width: 100%;
	clear: both;
}
#nhs_ResFacets fieldset > div#nhs_LocationSearchDivBox,
#nhs_LocationSearchBlock > span:first-child {
    display: inline-block;
	width: 93%;
	margin: 5px 0 0 0;
	padding: 5px 4% 6px 3%;
	border: 0;
	border-radius: 3px;	
	background: #fff;
	font-size: 14px;
	font-size: 0.875rem;
	position: relative;
}
#nhs_LocationSearchBlock > span:first-child {
    padding: 7px 4% 7px 3%;
}
#nhs_ResFacets .nhs_Active fieldset > div#nhs_LocationSearchDivBox {
    width: 83%;
	padding: 5px 14% 6px 3%;
}
#nhs_ResFacets .nhs_Active fieldset > div#nhs_LocationSearchDivBox .ui-autocomplete {
    left: 0 !important;
}
#nhs_ResFacets fieldset > div input[type=text] {
    display: inline-block;
	width: 100%;
	margin: -6px 0 -6px -3%;
	padding: 6px 0 6px 3%;	
	border: 0;
	font-size: 14px;
	font-size: 0.875rem;
	color: #7d7d7d;
	cursor: text;
	background: transparent;
}
#nhs_ResFacets fieldset > div input[type=text]::-ms-clear {
    display: none;
}
#nhs_LocationSearchBlock > span:first-child {
    background: #bababa;
    box-shadow: none;
    color: #fff; 
    line-height: normal;    
}
#nhs_ResFacets fieldset > input[type=submit] {
	position: absolute;
	top: 9px;
	right: 3%;
	
	width: 22px;
	height: 0;
	border: 0;
	overflow: hidden;
	padding: 22px 0 0 0;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier.png);
	display: none;
}
#nhs_ResFacets .nhs_Active fieldset > input[type=submit] {
    display: block;    
}
#nhs_LocationSearchFormShow {
    position: absolute;
	top: 8px;
	right: 4%;
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
	color: #fff;	
	padding: 0;
}
#nhs_ResFacets > div > div:first-child {
	/*margin-top: -8px;
	padding-top: 8px;*/
	min-height: 60px;
	position: relative;
}
#nhs_ResFacets > div > div:first-child > p {
	float: left;
	margin: 5px 0 3px 0;
	font-size: 16px;
	font-size: 1rem;
    line-height: 1.1;
	color: #0091da;
}
#nhs_ResFacets > div > div:first-child > a {
	float: right;
	list-style: none;
	font-size: 12px;
	font-size: 0.75rem;
	color: #7d7d7d;
	padding: 2px 0;
}
#nhs_ResFacets > div > div:first-child > a:hover {
	text-decoration: none;
}
#nhs_ResFacets > div > div:first-child > ul {
	clear: left;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	font-size: 0.75rem;
	color: #7d7d7d;
	line-height: 1.2;
}
#nhs_ResFacets > div > div:first-child > ul > li {
	display: inline-block;
	width: 100%;
	margin-bottom: 2px;
}
#nhs_ResFacets > div > div.nhs_FacetBox a {
	color: #fff;
}
/*#nhs_ResFacets > div > div:first-child > ul li a {
	display: inline-block;
	color: #7d7d7d;
	background: #878a8f;
	font-size: 9px;
	font-size: 0.55rem;
	font-weight: bold;
	margin: 0 0 0 4px;
	padding: 1px 3px 1px 3px;
	border-radius: 2px;
}
#nhs_ResFacets > div > div:first-child > ul li a:hover,
#nhs_ResFacets > div > div:first-child > ul li a:hover span {
	color: #fff;
}
#nhs_ResFacets > div > div:first-child > ul li a:hover {
	color: #fff;
	background: #0091da;
	text-decoration: none;
}*/

#nhs_ResFacets > div > .nhs_FacetBox {
	width: 100%;
	max-width: 960px;
	min-height: 60px;
	margin: 6px 0 0 0;
	padding: 20px 20px 70px 20px; /*8/960*/
	background: #7d7d7d;
	position: absolute;	
	left: 0;
	z-index: 99999;
	font-size: 12px;
	font-size: 0.75rem;
	color: #fff;
	cursor: default;
	
	display: none;
}

#nhs_ResFacets > div > .nhs_FacetBox a:hover,
#nhs_ResFacets > div > .nhs_FacetBox .nhs_Active {
	color: #ffce34;
}
#nhs_ResFacets > div > .nhs_FacetBox fieldset {
	margin-bottom: 20px;
}
#nhs_ResFacets > div > .nhs_FacetBox fieldset legend,
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetBoxCol > p {
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin: 0 0 5px 0;
}

#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetActions {
	margin: 0;
	text-align: right;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetActions a {
	display: inline-block;
	width: 70px;
	margin-left: 5px;
	padding: 6px;
	font-size: 12px;
	font-size: 0.75rem;
	text-align: center;
	border-radius: 3px;
	line-height: 14px;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetActions a.btnCss {
	background: #0091da;
	color: #fff !important;	
	font-weight: normal;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetActions a:hover {
	background: #0091da;
	text-decoration: none;
	color: #fff !important;
}

#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetCounts {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 12px 0;
	background: #4b4b4b;
	font-size: 14px;
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
}
#nhs_ResFacets > div > .nhs_FacetBox .nhs_FacetCounts span {
	color: #7d7d7d;
}
.nhs_FacetsLoading {
    display: inline-block;
    color: #fff;
    background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50%;
    height: 0;
    padding: 6px 0 0 0; 
    overflow: hidden;   
}
#nhs_ResFacets .ui-slider {
	clear: both;	
	box-shadow: inset 1px 2px 0 0 #a7a7a7;
	background: #bababa;
	border: 0;
	border-radius: 12px;
}
#nhs_ResFacets .ui-slider-horizontal {
	width: 90%;
	height: 26px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 12px;
}
#nhs_ResFacets .ui-slider-horizontal .ui-slider-range {
	background: #0091da;
	/*
	background-color: transparent;
	background-size: auto 26px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(/globalresources14/default/images/backgrounds/slider_highlight.png);
	*/
	box-shadow: inset 1px 2px 0 0 #0082c4;
	border-radius: 0;
}
#nhs_ResFacets .ui-slider-horizontal .ui-slider-range-min {
	background: #0091da;
	/*
	background-color: transparent;
	background-size: auto 26px;
	background-repeat: no-repeat;
	background-position: center left;
	background-image: url(/globalresources14/default/images/backgrounds/slider_highlight.png);
	*/
	box-shadow: inset 1px 2px 0 0 #0082c4;
	border-radius: 12px 0 0 12px;
}
#nhs_ResFacets .ui-slider .ui-slider-handle {
	top: 0;	
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 0 0 -13px;
	background: #fff;
	border: 1px solid #bababa;
	border-radius: 50%;
	box-shadow: 2px 1px 0 0 #a7a7a7;
}
#nhs_ResFacets #nhs_PriceSlider.ui-slider .ui-slider-handle:first-of-type {
	box-shadow: 2px 1px 0 0 #0082c4;
}

/* Facets - Location 
-----------------------------*/
#nhs_ResFacets > div#nhs_FacetLocation > .nhs_FacetBox {	
	left: 0; 
	width: 95.83333333333333%; /*920/960*/
	padding: 20px 2.083333333333333% 70px 2.083333333333333%; /*20/960*/
	max-width: 660px;
}
div#nhs_FacetLocation > .nhs_FacetBox > .nhs_FacetBoxCol {
	float: left;
	width: 31.21212121212121%; /*206/660*/
	max-width: 206px;
	padding: 0 3.03030303030303% 0 0; /*20/660*/
}
div#nhs_FacetLocation > .nhs_FacetBox > .nhs_FacetBoxCol.nhs_Last {
	width: 62.72727272727273%; /*438/660*/
	max-width: 414px;
	border-left: 1px solid #bababa;
	margin-left: -1px;
	padding: 0 0 20px 3.03030303030303%; /*20/660*/
}
div#nhs_FacetLocation > .nhs_FacetBox fieldset > p {
	float: left;
	margin: 3px 0 0 0;
	text-align: left;
	font-size: 10px;
	font-size: 0.625rem;
}
div#nhs_FacetLocation > .nhs_FacetBox fieldset > p.nhs_Last {
	float: right;
	text-align: right;	
	margin-left: 3px;
}
div#nhs_FacetLocation > .nhs_FacetBox fieldset > p#DistanceSet {
	width: 100%;
	color: #ffce34;
	text-align: center;
	font-size: 12px;
	font-size: 0.75rem;
}
div#nhs_FacetLocation > .nhs_FacetBox .nhs_FacetBoxCol > ul {
	float: left;
	width: 32%;
	margin: 0 1.3333333333% 0 0;
	padding: 0;
	list-style: none;
}
div#nhs_FacetLocation > .nhs_FacetBox .nhs_FacetBoxCol > ul li {
	
}

/* Facets - Price 
-----------------------------*/
#nhs_ResFacets > div#nhs_FacetPrice > .nhs_FacetBox {
	width: 260px;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset > p {
	float: left;
	margin: 3px 0 0 0;
	text-align: left;
	font-size: 10px;
	font-size: 0.7rem;
	width: 59%;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset > p > span {
    display: inline-block;
    width: 45px;
    text-align: center;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset > p.nhs_Last {
	float: right;
	text-align: right;	
	margin-left: 0;
	width: 40%;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset > p > label {	
	color: #ffce34;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset input[type=text] {
	width: 96px;
	padding: 5px 4px 4px 4px;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	font-size: 12px;
	font-size: 0.75rem;
	color: #7d7d7d;
}
div#nhs_FacetPrice > .nhs_FacetBox > fieldset input[type=text]#PriceHigh {
	text-align: right;
}

/* Facets - Bed Bath 
-----------------------------*/
#nhs_ResFacets > div#nhs_FacetBedBath > .nhs_FacetBox {
	width: 215px;
}

/* Facets - Schools 
-----------------------------*/
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox {
	width: 210px;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul {
	display: block;
	margin: 0;
	padding: 2px 20px 2px 0;
	list-style: none;
	overflow-y: scroll;
	overflow-y: auto;
	height: 150px;
	font-size: 10px;
	font-size: 0.625rem;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li {
	
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li label {
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    text-align: left;
	color: #fff;
}    
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li label span { 
    display: inline-block;
    float: left;
    padding: 5px 0 0 4px;	
	max-width: 82%;
} 
/*
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li input[type=checkbox] {
	display: none;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li input[type=checkbox] + label:before {
	float: left;
    content: "";
    background: #fff;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	background: #bababa;
	box-shadow: inset 0 2px 0 0 #343741;
    border: 0;
    border-radius: 3px;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li input[type=checkbox]:checked + label span {
	color: #ffce34;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li input[type=checkbox]:checked + label:before {
	float: left;
	background-size: cover;
	background-position: 50% 50%;
    background-color: #bababa;
	background-image: url(/globalresources14/default/images/icons/selected_star@2x.png);
	background-repeat: no-repeat;	
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	box-shadow: inset 0 2px 0 0 #343741;
    border: 0;
    border-radius: 3px;
} */

/* Facets - More 
-----------------------------*/
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox {
	left: auto; 
	right: 0;
	width: 95.83333333333333%; /*920/960*/
	padding: 20px 2.083333333333333% 70px 2.083333333333333%; /*20/960*/
	max-width: 920px;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol {
	float: left;
	width: 19.56521739130435%; /*170/920*/
	max-width: 180px;
	padding: 0 0.8695652173913043% 0 0; /*8/920*/
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol.nhs_First {
    width: 18.47826086956522%; /*170/920*/
	max-width: 170px;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol#nhs_Facet_Amenities {
	width: 33.26086956521739%; /*306/920*/
	max-width: 306px;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol.nhs_Last {
	width: 26.08695652173913%; /*240/920*/
	max-width: 240px;
	padding: 0;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox .nhs_ToggleVertical label {
	width: 75%;
	margin-bottom: 6px;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul {
    float: left;
	margin: 0;
	padding: 0;
	list-style: none;	
	font-size: 10px;
	font-size: 0.625rem;
	width: 56%;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul:first-of-type {    
	width: 44%;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li {
	padding: 0 0 4px 0;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li label {
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    text-align: left;
	color: #fff;
}    
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li label span { 
    display: list-item;
    /*float: left;*/
    margin-left: 25px;
    padding: 5px 0 0 4px;	
	max-width: 82%;
} 
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol p { 
	margin: 0 0 20px 0; 
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol p  label {
	display: inline-block;
	margin-bottom: 5px;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox > .nhs_FacetBoxCol select { 
	width: 100%;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Facets - Radios and Checkboxes
-----------------------------*/
.nhs_FacetBox input[type=radio] + label {
	display: inline-block;
    margin-right: 4px;
	padding: 4px 7px;
	background: #bababa;
	font-size: 11px;
	font-size: 0.7rem;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.nhs_FacetBox input[type=radio] + label:hover {
	background: #fff;
	color: #7d7d7d;
}
.nhs_FacetBox input[type=radio]:checked + label {
	background: #ffce34;
	color: #4b4b4b;
}
.nhs_FacetBox input[type=radio] {
	position: absolute;
	left: -9999999px;
}
.nhs_FacetBox input[type=checkbox] {
	display: none;
}
.nhs_FacetBox input[type=checkbox] + label:before {
	float: left;
    content: "";
    background: #fff;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	background: #bababa;
	/*box-shadow: inset 0 2px 0 0 #4b4b4b;*/
    border: 0;
    border-radius: 3px;
}
.nhs_FacetBox input[type=checkbox]:checked + label span {
	color: #ffce34;
}
.nhs_FacetBox input[type=checkbox]:checked + label:before {
	float: left;
	background-size: cover;
	background-position: 50% 50%;
    background-color: #bababa;
	background-image: url(/globalresources14/default/images/icons/selected_star@2x.png);
	background-repeat: no-repeat;	
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	/*box-shadow: inset 0 2px 0 0 #4b4b4b;*/
    border: 0;
    border-radius: 3px;
}

/*======== LIST & ADS =========*/

#nhs_ResListAds {
	width: 100%;
	background: #eee;
}
#nhs_ResListAds > div {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 18px 0;
	position: relative;
}

/*======== TABS =========*/
#nhs_ResTabBar {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
#nhs_ResTabBar > ul,
.nhs_Tabs {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nhs_ResTabBar > ul.nhs_Tabs > li,
ul.nhs_Tabs > li {
	display: inline-block;
	float: left;
	margin-right: 11px;
}
#nhs_ResTabBar > ul.nhs_Tabs > li > a,
ul.nhs_Tabs > li > a { 
	display: inline-block;
	width: auto;
	padding: 10px 10px 8px 10px;
	background-color: #bababa;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-size: 0.95rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
#nhs_ResTabBar > ul.nhs_Tabs > li > a {
    width: 115px;
}

#nhs_ResTabBar > ul.nhs_Tabs > li > a:hover,
#nhs_ResTabBar > ul.nhs_Tabs > li > a.nhs_Active,
ul.nhs_Tabs > li > a:hover,
ul.nhs_Tabs > li.nhs_Active > a {
	background-color: #eee;
	text-decoration: none;
	color: #7d7d7d;
}
#nhs_ResTabBar > ul.nhs_Tabs > li > a.nhs_Active,
#nhs_ResTabBar > ul.nhs_Tabs > li > a.nhs_Active:hover,
ul.nhs_Tabs > li.nhs_Active > a,
ul.nhs_Tabs > li.nhs_Active > a:hover {
    cursor: default;
}

/*======== VIEW SWITCHER =========*/
ul#nhs_ResViewType,
#nhs_ResTabBar > ul#nhs_ResViewType {
	float: right;
}
ul#nhs_ResViewType > li {
	display: inline-block;
	float: left;
	margin-left: 30px;
}
ul#nhs_ResViewType > li > a {
	display: inline-block;
	width: 30px;
	padding: 10px 35px 11px 0;
	font-size: 12px;
	font-size: 0.75rem;
	color: #bababa;
	text-align: center;
	background-size: 31px 30px;
	background-position: right 50%;
    background-color: transparent;
	background-image: url(/globalresources14/default/images/icons/view_list_off@2x.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
ul#nhs_ResViewType > li > a:hover,
ul#nhs_ResViewType > li > a.nhs_Active,
ul#nhs_ResViewType > li > a.nhs_Active:hover {
	color: #0091da;
	text-decoration: none;
}
ul#nhs_ResViewType > li > a.nhs_Active,
ul#nhs_ResViewType > li > a.nhs_Active:hover {
	cursor: default;
}
ul#nhs_ResViewType > li.nhs_ViewTypeList > a {
	background-image: url(/globalresources14/default/images/icons/view_list_off@2x.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a {
	background-image: url(/globalresources14/default/images/icons/view_map_off@2x.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeList > a.nhs_Active,
ul#nhs_ResViewType > li.nhs_ViewTypeList > a:hover {
	background-image: url(/globalresources14/default/images/icons/view_list_on@2x.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a.nhs_Active,
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a:hover {
	background-image: url(/globalresources14/default/images/icons/view_map_on@2x.png);
}

/*======== MAP RESULTS =========*/

.nhs_ResMapAreaToggle {
	float: right;
	margin: 6px 0 6px 0;
	padding: 0;
	position: relative;
}
.nhs_ResMapAreaToggle input[type='checkbox'] {
	display: none;
}
.nhs_ResMapAreaToggle input[type='checkbox'] + label {
	font-size: 14px;
	font-size: 0.875rem;
	color: #7d7d7d;
	cursor: pointer;
}
.nhs_ResMapAreaToggle input[type='checkbox'] + label span {
	float: left;
	padding-right: 5px;
}
.nhs_ResMapAreaToggle input[type=checkbox] + label:before {
	content: none;
}
.nhs_ResMapAreaToggle input[type=checkbox] + label:after {
	float: right;
    content: "";
	background-size: 38px 24px;
	background-position: 50% 50%;
    background-color: transparent;
	background-image: url(/globalresources14/default/images/buttons/toggle_off@2x.png);
	background-repeat: no-repeat;	
    height: 0;
    width: 38px;
    display: inline-block;
    padding: 24px 0 0 0;
	box-shadow: none;
    border: 0;
    border-radius: 0;
}
.nhs_ResMapAreaToggle input[type=checkbox]:checked + label span {
	color: #0091da;
}
.nhs_ResMapAreaToggle input[type=checkbox]:checked + label:after {
	float: right;
	background-size: 38px 24px;
	background-position: 50% 50%;
    background-color: transparent;
	background-image: url(/globalresources14/default/images/buttons/toggle_on@2x.png);
	background-repeat: no-repeat;	
    height: 24px;
    width: 38px;
    display: inline-block;
    padding: 0;
	box-shadow: none;
    border: 0;
    border-radius: 0;
}

.nhs_ResMapAreaToggle > div {
    position: absolute;
    top: 50px;
    right: -2px;    
    z-index: 9;   
    
    width: 180px;
    padding: 18px 15px; 
    background: #7d7d7d;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
    line-height: 1.1;
    box-shadow: 0 2px 4px 0 #bababa;
}
.nhs_ResMapAreaToggle > div > a {
    float: right;  
    font-family: Verdana,sans-serif;
    font-size: 10px;
    color: #ffce34; 
    position: absolute;
    top: 4px;
    right: 7px; 
    text-decoration: none;
}
.nhs_ResMapAreaToggle > div:before {
	content: "";
	position: absolute;
	top: -24px;
	right: 37%;
	width: 0; 
	height: 0; 
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	
	border-bottom: 24px solid #7d7d7d;
	z-index: 999;
}
.nhs_ResMapAreaToggle > div .btnCss {
    margin: 10px 2px 0 2px;
    padding: 5px 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-size: 0.75rem;
    background: #bababa;
    color: #fff !important;    
}


#nhs_ResMap {
	margin: 0 0 25px 0;
	padding: 0;
	width: 100%;
	max-width: 960px;
}
#nhs_Map {
	width: 100%;
	max-width: 960px;
	min-height: 380px;
	background: #fff;
	box-shadow: inset 0 0 30px 0 #a9abac;
}
#nhs_Map img,
#nhs_map img {
    max-width: none;    
}

#nhs_ResMap > aside {
	width: 100%;
	max-width: 960px;
	/*min-height: 90px;*/
	background-color: #fff;
}
#nhs_ResMap > aside > p {
	float: left;
	width: 16%;
	margin: 0;
	padding: 30px 10px 30px 65px;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.2;
	background-size: 25px 48px;
	background-position: 30px 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/backgrounds/map_poi_helper.png);
}
#nhs_ResMap > aside > ul {
	float: left;
	/*width: 21%;*/
	width: 100%;
	margin: 0;
	padding: 10px 10px 10px 15px;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.2;
	/*background-size: 25px 48px;
	background-position: 30px 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/backgrounds/map_poi_helper.png);*/
	list-style: none;
	/*min-height: 70px;*/
	vertical-align: middle;
}
#nhs_ResMap > aside > ul li {
    display: none;
    float: left;
    margin: 0 20px 0 0;
    padding: 5px 0 5px 19px;
    line-height: 1.1;
    background-position: left 50%;
	background-repeat: no-repeat;
    background-image: url(/globalresources14/default/images/icons/alert_orange.png);
}
#nhs_ResMap > aside > ul li#liMap_Msg1 {
    background-image: url(/globalresources14/default/images/icons/location.png);
}
#nhs_ResMap > aside > div.nhs_ResAdBox {
	float: right;
	width: 728px;
	height: 90px;
	margin-bottom: 0;
}
#nhs_ResMap > aside > ul.nhs_ResMapWithAd {
    width: 21%;
    min-height: 70px;    
}

/*======== MATCHES TEXT =========*/

.nhs_ResMatches {
	float: left;
	max-width: 75%;
	margin: 0 0 13px 0;
	padding: 0;
	font-size: 16px;
	font-size: 1rem;
	color: #0091da;
	line-height: 1.1;
}
#nhs_ResultList .nhs_ResMatches {
	float: none;
	max-width: 100%;
}
.nhs_ResMatches strong {
	margin-right: 12px;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: normal;
	color: #4b4b4b;
}

/*======== REFINE BAR =========*/

.nhs_ResRefine {
	display: inline-block; 
	width: 100%;
	margin: 0 0 20px 0;
}
.nhs_ResRefine > p.nhs_ToggleButtons {
	display: inline-block;
	margin: 0;
	padding: 0;	
}
.nhs_ResRefine > p.nhs_ToggleButtons:first-child {
	/*margin-right: 12.09677419354839%; 75/620*/
	margin-right: 4.838709677419355%; /*30/620*/
}
.nhs_ToggleButtons a,
.nhs_ToggleButtons span {
	display: inline-block;
    margin-right: 3px;
	font-size: 12px;
	font-size: 0.75rem;
	border-radius: 3px;
	cursor: pointer;
	line-height: 15px;
	padding: 7px 12px 6px 12px;
	background-color: #bababa;
	color: #7d7d7d !important;
}
.nhs_ToggleButtons a.nhs_Active, 
.nhs_ToggleButtons span.nhs_Active {
	background-color: #0091da;
	color: #fff !important;
	cursor: default;
}
.nhs_ToggleButtons a:hover {
	text-decoration: none;
}
.nhs_ToggleButtons a:active,
.nhs_ToggleButtons span:active {	
	box-shadow: inset 0 2px 1px 0 rgba(125,125,125,0.4);
}

.nhs_ResRefine > p.nhs_ResSort {
    float: right;
	display: inline-block;
    margin: 0 0 0 1%;
}
.nhs_ResRefine > p.nhs_ResSort label {
	font-size: 12px;
	font-size: 0.75rem;
}
.nhs_ResRefine > p.nhs_ResSort select {
	font-size: 12px;
	font-size: 0.75rem;
	border: 0; 
	background: #fff;
	width: auto;
	padding: 0;
	line-height: 1;
	border-radius: 0;	
}
.nhs_ResRefine > p.nhs_ResSort select option {
	background: #7d7d7d;
	color: #fff;
}
.nhs_ResRefine > p.nhs_ResSort select option:selected {
	background: #fff;
}

/*======== COMM LIST =========*/
#nhs_ResultList {
	float: left;
	width: 100%;
	margin-right: -300px;
}
#nhs_ResultList  > div {
	/*max-width: 620px; */
	margin-right: 300px;
	padding-right: 4.166666666666667%; /*40/960*/
}

/*======== RESULT ITEMS =========*/
.nhs_CommResItem,
.nhs_HomeResItem,
.nhs_BuilderRes,
.nhs_FeaturedRes {
	width: 100%;
	max-width: 620px;
	min-height: 186px;
	margin: 0 0 16px 0;
	background: #fff;
	font-size: 12px;
	font-size: 0.75rem;
	color: #7d7d7d;
	line-height: 1;
}
.nhs_CommResItem.nhs_BasicItem {
    min-height: 154px;
    }
.nhs_HomeResItem {
	min-height: 155px;
	color: #7d7d7d;
}
.nhs_HomeResItem.nhs_BasicItem {
    min-height: 108px;
    }
.nhs_CommResItem > p:first-child,
.nhs_HomeResItem > p:first-child {
	margin: 0;
	padding: 7px 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: normal;
	color: #fff;	
	background: #bababa;
	border: 1px solid #eee;
    border-width: 0 0 3px 0;
}
.nhs_CommResItem > p:first-child a,
.nhs_HomeResItem > p:first-child a {
	color: #fff;	
	text-decoration: none;
}
.nhs_CommResItem > p:first-child span,
.nhs_HomeResItem > p:first-child span {	
	font-size: 14px;
	font-size: 0.875rem;
	display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.nhs_HomeResItem > p {
    margin: 0;
    padding: 7px 12px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.2;
    border: 1px solid #eee;
    border-width: 0 0 3px 0;
}
.nhs_CommResItem > div > .nhs_Location,
.nhs_CommResItem > div > p,
.nhs_CommResItem > div > ul,
.nhs_HomeResItem > div > .nhs_Location,
.nhs_HomeResItem > div > p,
.nhs_HomeResItem > div > ul {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 3px 0;
}

.nhs_CommResItem > div.nhs_ItemData1,
.nhs_CommResItem > div.nhs_ItemData2,
.nhs_HomeResItem > div.nhs_ItemData1,
.nhs_HomeResItem > div.nhs_ItemData2 {	
	float: left;
	width: 35%;
	margin: 0;
	padding: 0 0 0 12px;
}
.nhs_CommResItem > div.nhs_ItemData1 {
    min-height: 50px;
}
.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData1 {
    width: 50%;
}
.nhs_CommResItem > div.nhs_ItemData2 {
    min-height: 30px;
    width: 35%;
}
.nhs_CommResItem > div.nhs_ItemData2 p {
    padding: 8px 0;   
}
.nhs_CommResItem > div.nhs_ItemData2 p span {
    display: inline-block;
    -ms-word-break: keep-all;
    word-break: keep-all;
}
.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData2 {
    width: 25%;
}
.nhs_CommResItem.nhs_BasicItem > .nhs_ItemData2 > p {
    padding-top: 24px;
}
.nhs_HomeResItem > .nhs_ItemData3 > p,
.nhs_HomeResItem.nhs_BasicItem > .nhs_ItemData1 > .nhs_Location {
	padding-top: 8px;
	padding-bottom: 6px;
	font-size: 14px;
	font-size: 0.875rem;
}
.nhs_HomeResItem > .nhs_ItemData3 > .nhs_ItemCommName {
	float: left;
	width: 40%;	
	padding-left: 12px;
}
.nhs_HomeResItem > .nhs_ItemData3 > .nhs_ItemPrice {
	width: 22%;
	float: right;
	text-align: right;
	padding-right: 12px;	
}
.nhs_HomeResItem > div.nhs_ItemData1 {
	width: 25%;
	padding: 0 0 0 12px;
}
.nhs_HomeResItem > div.nhs_ItemData2 {
	width: 39%;
	float: right;
	clear: right;
	text-align: right;
	padding: 0 12px 0 0;
	min-height: 52px;
}
.nhs_CommResItem > div.nhs_ItemData1 > p:first-of-type {
    font-size: 14px;
    font-size: 0.875rem;
	color: #7d7d7d;
	padding-top: 8px;
}
.nhs_CommResItem > div.nhs_ItemData1 > p:first-of-type strong,
.nhs_HomeResItem > div.nhs_ItemData1 > p:first-of-type strong,
.nhs_HomeResItem > div.nhs_ItemData2 > p:first-of-type strong {
	font-size: 17px;
	font-size: 1.05rem;
}
.nhs_HomeResItem > div.nhs_ItemData1  > p:first-of-type,
.nhs_HomeResItem > div.nhs_ItemData2  > p:first-of-type {
	padding-top: 6px;
}
.nhs_CommResItem .nhs_Location > p:first-child,
.nhs_HomeResItem .nhs_Location > p:first-child {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	color: #bababa;
}
.nhs_HomeResItem .nhs_Location > p:first-child {
	color: #bababa;
}
.nhs_CommResItem .nhs_BrandName {
    color: #bababa;
}
.nhs_Location {
    margin-top: -6px !important;    
}
.nhs_Location > p:first-child {
    padding-top: 6px;    
}
.nhs_Location > a,
.nhs_Location > a:link {
	display: inline-block;
	margin: 3px 0 -6px 5px;
	width: auto;
	height: 22px;
	color: #7d7d7d;
	font-size: 11px;
	line-height: 22px;
	padding: 0 0 0 14px;
	overflow: hidden;
	background-size: 12px 22px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/location@2x.png);
}

/* Comm Images */
.nhs_CommResItem .nhs_ItemImages {
	float: right;
	width: 100%;
	max-width: 380px;
	height: 160px;
	position: relative;
}
.nhs_CommResItem.nhs_BasicItem .nhs_ItemImages {
    max-width: 195px;
    height: 125px;
}
.nhs_CommResItem .nhs_ItemImages > a,
.nhs_CommResItem .nhs_ItemImages > div {
	float: right;
	display: block;
	width: 150px;
	height: 100px;
	overflow: hidden;
	position: relative;
}
.nhs_CommResItem .nhs_ItemImages > div:first-child {
	float: left;
	width: 100%;
	margin-right: -150px;	
	height: 160px;
	overflow: hidden;
	position: relative;
}
.nhs_CommResItem.nhs_BasicItem .nhs_ItemImages > div:first-child {
    width: 100%;
    max-width: 195px;
    height: 125px;
    margin-right: 0;
    overflow: hidden;
}
.nhs_CommResItem .nhs_ItemImages > div:first-child a,
.nhs_CommResItem .nhs_ItemImages > div:first-child div {
	display: block;
	margin-right: 150px;
	height: 160px;
	position: relative;
}
.nhs_CommResItem.nhs_BasicItem .nhs_ItemImages > div:first-child a,
.nhs_CommResItem.nhs_BasicItem .nhs_ItemImages > div:first-child div {
	margin-right: 0;
	height: 125px;
}
.csstransforms .nhs_CommResItem .nhs_ItemImages > div:first-child img,
.csstransforms .nhs_CommResItem.nhs_BasicItem .nhs_ItemImages > div:first-child img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.csstransforms .nhs_CommResItem .nhs_ItemImages > div:nth-child(2) img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.nhs_CommResItem .nhs_BrandImage,
.nhs_CommResItem .nhs_ItemImages > .nhs_BrandImage {
	text-align: center;
	height: 60px;
	line-height: 60px;
	/*box-shadow: inset 0 -1px 3px 0 #dfe1df;*/
}
.nhs_CommResItem .nhs_BrandImage img {
	max-width: 110px;
	max-height: 50px;
	vertical-align: middle;
}

/* Home Images */
.nhs_HomeResItem .nhs_ItemImages {
	float: left;
	width: 100%;
	max-width: 195px;
	height: 130px;
	overflow: hidden;
	position: relative;
}
.nhs_HomeResItem.nhs_BasicItem .nhs_ItemImages {
    max-width: 168px;
    height: 108px;    
}
/*.nhs_HomeResItem .nhs_ItemImages > a:first-child {
	display: block;
	height: 130px;
	position: relative;
}
.nhs_HomeResItem.nhs_BasicItem .nhs_ItemImages > a:first-child {
	height: 108px; 
}*/
.csstransforms .nhs_HomeResItem .nhs_ItemImages > img,
.csstransforms .nhs_HomeResItem .nhs_ItemImages > a:first-child img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nhs_CommResItem .nhs_ItemImages > div > p,
.nhs_HomeResItem .nhs_ItemImages > p {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 7px 12px 7px 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: #fff;
	background: rgba(255,255,255,0.8);	
	color: #4b4b4b;
}
.nhs_CommResItem .nhs_ItemImages > div > p {
	bottom: auto;
	top: 0;
	right: 150px;
}
.nhs_HomeResItem .nhs_ItemImages > p.nhs_ItemCount {
    right: auto;
    left: 0;    
}
.nhs_HomeResItem .nhs_ItemImages > p.nhs_ItemCount span {
    display: none;    
}
.nhs_HomeResItem .nhs_ItemImages > p.nhs_ItemCount {
    bottom: 4px; 
    right: auto;
    left: 5px;  
    display: block;
    width: 22px;
    height: 19px;
    padding: 5px 2px 0 0;
    color: #fff;
    text-align: center;
    background-color: transparent;
    background-size: 24px 24px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/photo_count@2x.png); 
}



/*======== FEATURE ICONS =========*/
ul.nhs_Features,
.nhs_CommResItem > div > ul.nhs_Features,
.nhs_HomeResItem > div > ul.nhs_Features {
	display: inline-block;
	list-style: none;
	width: auto;
	padding: 8px 0 8px 12px;	
	float: left;
	clear: left;
}
.nhs_CommResItem > ul.nhs_Features {
    padding: 0 0 0 12px;   
}
.nhs_CommResItem > div > ul.nhs_Features {
    float: left;    
}
.nhs_HomeResItem > div > ul.nhs_Features {
    float: right;
    clear: both;
    padding: 8px 0 8px 12px;    
}
ul.nhs_Features > li {
	float: left;
	display: inline-block;
	width: auto;
	height: 16px;
	margin: 2px 0 2px 8px;
	padding: 1px 0 0 18px;
	font-size: 11px;
	line-height: 16px;
	color: #7d7d7d;
	background-size: 16px 22px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
ul.nhs_Features > li:first-child {
	margin-left: 0;
}
ul.nhs_Features > li.nhs_Hot {
	background-image: url(/globalresources14/default/images/icons/hot@2x.png);
}
ul.nhs_Features > li.nhs_Green {
	background-image: url(/globalresources14/default/images/icons/green@2x.png);
}
ul.nhs_Features > li.nhs_Deals {
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
ul.nhs_Features > li.nhs_PlanView {
	background-image: url(/globalresources14/default/images/icons/planview@2x.png);
}
ul.nhs_Features > li.nhs_VTour {
	background-image: url(/globalresources14/default/images/icons/vtour@2x.png);
}
ul.nhs_Features > li.nhs_Video {
	background-image: url(/globalresources14/default/images/icons/video@2x.png);
}
ul.nhs_Features > li a {
    color: #7d7d7d;    
}

/*======== HOME SPECS =========*/
ul.nhs_Specs,
.nhs_HomeResItem > div > ul.nhs_Specs  {
	display: inline-block;
	list-style: none;
	width: auto;
	float: right;
}
ul.nhs_Specs > li {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.nhs_Specs > li:first-child:before {
	content: none;
	padding: 0;
}
ul.nhs_Specs > li:before {
	content: "|";
	padding: 0 2px;
}
ul.nhs_Specs > li abbr {
	border: 0;
	cursor: inherit;
}

/*======== ACTIONS =========*/
ul.nhs_Actions,
.nhs_CommResItem > div > ul.nhs_Actions,
.nhs_HomeResItem > ul.nhs_Actions {
	float: right;
	display: inline-block;
	list-style: none;
	width: auto;
	margin: 0 12px 0 0;
	padding: 4px 0 8px 0;
}
.nhs_HomeResItem > ul.nhs_Actions {
	clear: right;
}
.nhs_CommResItem > ul.nhs_Actions {
    float: left;    
    margin: 0 0 0 12px;
}
.nhs_CommResItem.nhs_BasicItem > ul.nhs_Actions {
    float: left;
    margin: 12px 0 0 7px;
}
ul.nhs_Actions > li {
	float: left;
	display: inline-block;	
}
ul.nhs_Actions > li a.btnCss {
	width: 86px;
	margin-left: 5px;
	padding: 8px 6px;
	background: #fff;	
	font-weight: bold;
	color: #bababa !important;
	border: 1px solid #bababa;				
}
ul.nhs_Actions > li a.btnCss.btn_InterestList {
    width: 160px !important;    
}
ul.nhs_Actions > li a.btnCss:hover {	
	text-decoration: none;
}
ul.nhs_Actions > li a.btnCss:active {	
	box-shadow: inset 0 2px 1px 0 rgba(125,125,125,0.4);
}
ul.nhs_Actions > li a.nhs_Save {	
	display: inline-block;
	width: 24px;
	height: 0;
	padding: 20px 0 0 0;
	margin-top: 5px;
	overflow: hidden;
	background-size: 22px 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/heart_open@2x.png);
}
ul.nhs_Actions > li a.nhs_Save:hover {	
	background-image: url(/globalresources14/default/images/icons/heart_over@2x.png);
}
ul.nhs_Actions > li a.nhs_Save:active {	
	background-image: url(/globalresources14/default/images/icons/heart_over_down@2x.png);
}
ul.nhs_Actions > li a.nhs_Saved {	
	display: inline-block;
	width: 24px;
	height: 0;
	padding: 20px 0 0 0;
	margin-top: 5px;
	overflow: hidden;
	background-size: 22px 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/heart_save@2x.png);
}
/*ul.nhs_Actions > li a.nhs_Saved:active {	
	background-image: url(/globalresources14/default/images/icons/heart_save_down@2x.png);
}*/

/*======== RESULT ITEMS - HOT OFFERS =========*/
.nhs_ItemDeals {
	clear: both;
	color: #7d7d7d;
}
.nhs_ItemDeals > ul {
	list-style: none;
	margin: 0;
	padding: 0 !important;
	line-height: 1.2;
}
.nhs_ItemDeals > ul li {
	display: block;
	margin: 0;
	padding: 12px 12px 12px 34px;
	min-height: 30px;
	border-top: 3px solid #eee;
	background-color: #f5f5f5;
	background-size: 16px 22px;
	background-position: 12px 9px;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
.nhs_ItemDeals > ul li strong:first-child { 
    margin-right: 3px;
}
.nhs_ItemDeals > ul li a {
	color: #7d7d7d;
	font-weight: bold;
	text-decoration: underline;
}
.nhs_Hover .nhs_ItemDeals > ul li a {
	color: #0091da;
}
.nhs_ItemDeals > ul li.nhs_HotHome {
	/*border-top: 1px solid #db2532;*/
	background-image: url(/globalresources14/default/images/icons/hot@2x.png);
}
.nhs_ItemDeals > ul li.nhs_Offer {	
	/*border-top: 1px solid #ffcd34;*/
	background-image: url(/globalresources14/default/images/icons/deals@2x.png);
}
.nhs_ItemDeals > ul li.nhs_Green {	
	/*border-top: 1px solid #81c341;*/
	background-image: url(/globalresources14/default/images/icons/green@2x.png);
}

/*======== RESULT ITEMS - HOVER =========*/
.nhs_CommResItem.nhs_Hover,
.nhs_HomeResItem.nhs_Hover,
.nhs_ResCustomBox.nhs_Hover,
.nhs_FeaturedResItem.nhs_Hover {
	cursor: pointer;
}
.nhs_CommResItem.nhs_Hover > p:first-child,
.nhs_HomeResItem.nhs_Hover > p:first-child {
	background: #0091da;
}
.nhs_CommResItem.nhs_Hover a.btnCss,
.nhs_HomeResItem.nhs_Hover a.btnCss,
.nhs_FeaturedResItem.nhs_Hover a.btnCss {
	border: 1px solid #0091da;
	background: #0091da;
	color: #fff !important;
	text-decoration: none;	
}
.nhs_CommResItem.nhs_Hover a.btn_FreeBrochure,
.nhs_HomeResItem.nhs_Hover a.btn_FreeBrochure,
.nhs_FeaturedResItem.nhs_Hover a.btn_FreeBrochure {
	border: 1px solid #ffce34;
	background: #ffce34;
	color: #4b4b4b !important;
	text-decoration: none;	
}

/* BUTTON HOVER BY DEFAULT */
.nhs_CommResItem ul.nhs_Actions > li a.btnCss,
.nhs_HomeResItem ul.nhs_Actions > li a.btnCss,
.nhs_FeaturedResItem ul.nhs_Actions > li a.btnCss {
	border: 1px solid #0091da;
	background: #0091da;
	color: #fff !important;
	text-decoration: none;	
}
.nhs_CommResItem ul.nhs_Actions > li a.btn_FreeBrochure,
.nhs_HomeResItem ul.nhs_Actions > li a.btn_FreeBrochure,
.nhs_FeaturedResItem ul.nhs_Actions > li a.btn_FreeBrochure {
	border: 1px solid #ffce34;
	background: #ffce34;
	color: #4b4b4b !important;
	text-decoration: none;	
}

/*======== FEATURED ITEMS =========*/
.nhs_FeaturedRes {   
    background: #c6ccd2;
    background: -moz-linear-gradient(top, rgba(186,186,186,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,186,186,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(186,186,186,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(186,186,186,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(186,186,186,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(186,186,186,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    margin-bottom: 30px;
}
.nhs_FeaturedResItem {
    display: block; 
    float: left;
    width: 30.64516129032258%; /*190/620*/
    max-width: 190px;    
    margin: 12px 0 6px 1.935483870967742%; /*12/620*/
    padding: 0;
    position: relative;   
}
.nhs_FeaturedResItem.nhs_Hover {
    cursor: default;    
}
.nhs_FeaturedResItem .nhs_ItemImages {
    float: left;
    height: 130px;
    width: 93.68421052631579%; /*178/190*/
    max-width: 178px;
    overflow: hidden;
    position: relative;   
    background: #fff;    
    border: 6px solid #fff;  
}
.nhs_FeaturedResItem .nhs_ItemImages > p {
    display: inline-block;
	width: auto;
	margin: 0;
	padding: 6px 8px;
	position: absolute;
	left: -6px;
	top: -6px;
	background: #fff;
	font-size: 10px;
	font-size: 0.635rem;	
	color: #343741;
}
.csstransforms .nhs_FeaturedResItem .nhs_ItemImages img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nhs_FeaturedResItem > p:first-of-type {
    float: left;
    margin: 4px 6px 0 6px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
}
.nhs_FeaturedResItem div > p {
    float: left;
    margin: 4px 6px 0 6px;
    font-size: 12px;
    font-size: 0.75rem;
}
.nhs_FeaturedResItem div > p strong {
    font-size: 14px;
    font-size: 0.875rem;
}
.nhs_FeaturedResItem .nhs_Actions {
    position: absolute;
    top: 55px;
    left: 45%;
    float: none;
    width: 112px;
    margin: 0 0 0 -45px;
    padding: 0;    
}
.nhs_FeaturedResItem ul.nhs_Actions > li {
    float: none;
    display: inline-block;
}
.nhs_FeaturedResItem ul.nhs_Actions > li a {
    display: none;
    margin: 0 0 8px 0 !important;
}
.nhs_FeaturedResItem.nhs_Hover a.btnCss {
    display: inline-block;
}

/*======== RESULT ITEMS - CUSTOM & AD =========*/
.nhs_ResCustomItem {
	margin: 0 0 45px 0;
	padding: 27px 0 0 0;
}
.nhs_ResCustomItem > div.nhs_ResAdBox {
	display: table-cell;
	width: 300px;
}
.nhs_ResCustomItem > .nhs_ResCustomBox {
	display: table-cell;	
	vertical-align: top;
	font-size: 12px;
	font-size: 0.75rem;
	color: #4b4b4b;
	line-height: 1.1;
	text-align: left;
}
.nhs_ResCustomItem > .nhs_ResCustomBox > div {
	float: left;
	width: 46%;
	margin-left: 4%;
	/*padding: 0 2% 0 0;*/
	padding: 0;
}
.nhs_ResCustomItem > .nhs_ResCustomBox p {    
	margin: 6px 0 20px 0;
	margin-left: 4%;
}
.nhs_ResCustomItem > .nhs_ResCustomBox h2 {
	margin: 0;
	margin-left: 4%;
	padding: 0 0 8px 0;
	font-size: 24px;
	font-size: 1.5rem;
	color: #4b4b4b;
}
.nhs_ResCustomItem > .nhs_ResCustomBox h2 a {
	color: #4b4b4b;
}
.nhs_ResCustomItem > .nhs_ResCustomBox .nhs_ItemImages {
    height: 58px;
    padding: 5px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
    }
.nhs_ResCustomItem > .nhs_ResCustomBox img {    
	max-height: 58px;
	overflow: hidden;	
}
.nhs_ResCustomItem a.btnCss {
	width: 92%;
	margin-left: 4%;
	background: #0091da;
	font-weight: bold;
	color: #fff !important;
	border: 1px solid #0091da;	
}
.nhs_ResCustomItem a.btnCss:hover {	
	text-decoration: none;
}

/*======== RESULT ITEMS - BUILDERS =========*/
.nhs_BuilderRes > ul {
	float: right;
	width: 43%;
	list-style: none;
	margin: 0;
	padding: 20px 18px;
}
.nhs_BuilderRes > ul:first-child {
	float: left;
	padding-right: 0;
}
.nhs_BuilderRes > ul li {
	float: left;	
	width: 100%;
	min-height: 45px;
	font-size: 17px;
	font-size: 1.05rem;
	margin: 7px 0;
}
.nhs_BuilderResOthers > ul li {
    font-size: 15px;    
    font-size: 0.95rem;
}
.nhs_BuilderResOthers > ul li {
    min-height: 32px;
    margin: 0;
}
.nhs_BuilderRes > ul li a,
.nhs_BuilderRes > ul li span {
	display: table-cell;	
	color: #4b4b4b;
	height: 56px;
	line-height: 17px;
	vertical-align: middle;
}
.nhs_BuilderResOthers > ul li span {
    height: 34px;
    cursor: pointer;
}
.nhs_BuilderRes > ul li span:hover {
    text-decoration: underline;    
}
.nhs_BuilderRes > ul li a.nhs_BrandImage,
.nhs_BuilderRes > ul li span.nhs_BrandImage {
	float: left;
	display: block;
	width: 124px;
	height: 56px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	line-height: 56px;
}
.nhs_BuilderRes > ul li a.nhs_BrandImage img {
	max-width: 124px;
	max-height: 56px;
	vertical-align: middle;
}

/*======== NO RESULTS =========*/
.nhs_NoRes {
    display: inline-block;
	padding: 8px 12px; 
	font-size: 18px;
	font-size: 1.125rem;
	color: #4b4b4b;
	background: #ffce34;
	border-top: 2px solid #cca52a;
	width: 96.12903225806452%; /*596/620*/
	margin: 0 0 18px 0;
	padding: 8px 1.935483870967742%; /*12/620*/
}
.nhs_NoRes p {
    margin: 0 0 4px 0;
    padding: 0;
    }
.nhs_NoRes ul {
    margin: 0 0 4px 0;
    padding: 0 0 0 20px;
    }
.nhs_NoRes .btnCss {
    margin: 3px 0;
    font-size: 18px;
    font-weight: normal;
    color: #4b4b4b !important;
    background: #fff;
    }    

/*======== GROUPING =========*/
#nhs_ResultList .nhs_GroupingBar {
	display: inline-block;
	padding: 9px 12p 8px 12px; 
	font-size: 18px;
	font-size: 1.125rem;
	color: #4b4b4b;
	background: #fff;
	
	width: 96.12903225806452%; /*596/620*/
	margin: 0 0 18px 0;
	padding: 8px 1.935483870967742%; /*12/620*/
}

/*======== RESULT ITEMS - AD IN LIST =========*/
.nhs_ResAdItem {
	text-align: center;
}
.nhs_ResAdItem > div {
	margin: 45px auto;
}

/*======== RESULTS COL ADS =========*/
#nhs_ResAdCol {
	float: right;
	width: 300px;
	position: relative;
}	

#nhs_ResAdCol > div {
	display: block;
	margin: 15px 0 0 0;
	position: static;
	z-index: 99999;
	/*width: 302px;
	height: 534px;	*/
	}
#nhs_ResAdCol > div.fixed {
	position: fixed;
	top: 0;	
	z-index: 9999;
	background: transparent;
	}
#nhs_ResAdCol > div.fixedBottom {
	position: fixed;
	bottom: 0;	
	z-index: 9999;
	background: transparent;
	}	
#nhs_ResAdCol > div.absolute {
	position: absolute;
	z-index: 9999;
	background: transparent;
	}
	
#nhs_ResAdCol > div > div {
	margin-bottom: 38px;	
}
#nhs_ResAdCol > div > div#nhs_ResAdBottomScroll {
    margin-bottom: -18px;    
}
.nhs_ResAdBox {
	height: 250px;
	margin-bottom: 38px;
}
.nhs_ResAdBoxTall {
    height: 605px;   
    margin-bottom: 38px; 
}

#nhs_ResAdCol .nhs_ResCmsTeaser {	
	width: 300px;
	min-height: 200px;
	background: #fff;
}
#nhs_ResAdCol .nhs_ResCmsTeaser p:first-child {
	margin: 0;
	padding: 10px 14px;
	font-size: 26px;
	font-size: 1.6rem;
	color: #4b4b4b;
}
#nhs_ResAdCol .nhs_ResCmsTeaser p:first-child strong {
	font-weight: normal;
}
#nhs_ResAdCol .nhs_ResCmsTeaser ul {
	list-style: none;
	margin: 0;
	padding: 0 5px 10px 14px;
	font-size: 15px;
	font-size: 0.95rem;
}
#nhs_ResAdCol .nhs_ResCmsTeaser ul li {
	margin: 0;
	padding: 6px 0;
}
#nhs_ResAdCol .nhs_ResCmsTeaser a {
	display: inline-block;
	padding: 8px 0 7px 40px;
	line-height: 1.2;
	/*background-size: 35px 33px;*/
	background-position: left 50%;
	background-repeat: no-repeat;
	/*background-image: url(/globalresources14/default/images/icons/cms_hotw@2x.png);*/
}
/*#nhs_ResAdCol .nhs_ResCmsTeaser a.nhs_Res6Steps {
	background-image: url(/globalresources14/default/images/icons/cms_6steps@2x.png);
}
#nhs_ResAdCol .nhs_ResCmsTeaser a.nhs_ResFinance {
	background-image: url(/globalresources14/default/images/icons/cms_finance@2x.png);
}*/

#nhs_ResAdCol #nhs_NewsletterContainer {
    margin-top: -38px;
    width: 300px;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div {
    padding: 9px 0 14px 0;
    background: #0091da;
    color: #fff;    
}
#nhs_ResAdCol #nhs_NewsletterContainer > div > p:first-child {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div > p:first-child strong {
    color: #ffce34;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div p {
	margin: 0;
	padding: 5px 14px;	
	font-size: 15px;
    font-size: 0.95rem;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div p.nhs_Error {    
	color: #d92632;	
}
#nhs_ResAdCol #nhs_NewsletterContainer > div p input[type=text] {
    width: 64%;
	margin: 0;
	padding: 6px 12px;	
	border: 0;
}
#nhs_ResAdCol #nhs_NewsletterContainer > div p input.btn_Loading {
    width: auto;
    height: 0;
    background: transparent url(/globalresources14/default/images/icons/count_loader.gif) no-repeat 50% 50%;    
    padding: 6px 0 0 0; 
    overflow: hidden; 
}
#nhs_ResAdCol #nhs_NewsletterContainer .nhs_LegalText {
    font-size: 10px;
    font-size: 0.625rem;
    margin-top: 3px;
}
#nhs_ResAdCol #nhs_NewsletterContainer .nhs_LegalText a {
    color: #7d7d7d;
    text-decoration: underline;
}

/* =Paging */
#nhs_ResPaging {
	clear: both;
	width: 97.5%; /*936/960*/
	max-width: 960px;
	margin: 12px auto 12px auto;
	padding: 14px 1.25%; /*12/960*/
	background: #bababa;
	font-size: 12px;
	font-size: 0.75rem;
}
#nhs_ResPaging .btnCss {
	display: inline-block;
	background: #0091da;
	font-size: 12px;
	font-size: 0.75rem;		
	text-align: center;
	height: 15px;
	line-height: 15px; 
	border: 0;
	border-radius: 3px;
	text-decoration: none;

	width: 52px;
	padding: 6px 9px;
	font-weight: normal;
	color: #fff !important;
	margin: 0 0 0 15px;
	float: right;
}
#nhs_ResPaging .btnCss:first-child {
	margin-left: 0;
	margin-right: 15px;
	float: left;
}
#nhs_ResPaging .btnCss:hover {
    background: #7d7d7d;
    color: #fff !important;
	text-decoration: none;
}
#nhs_ResPaging .btnCss.nhs_Disabled {
	background: #7d7d7d;
	color: #bababa !important;
	cursor: default;
}
#nhs_ResPaging .btnCss.nhs_Disabled:hover {
	background: #7d7d7d;
	color: #bababa !important;
	cursor: default;
}

#nhs_PageCount {
	float: left;
	margin: 0;
	width: 12.82051282051282%; /*120/936*/
	max-width: 120px;
	min-width: 100px;
}
#nhs_PageCount > select {
	font-size: 12px;
	font-size: 0.75rem;	
	background: #fff;
	width: 100%;
	margin-top: 5px;
	padding: 0;
	border: 0; 
	line-height: 1;
	border-radius: 0;	
}
#nhs_PageCount > select option {
	background: #7d7d7d;
	color: #fff;
}
#nhs_PageCount > select option:selected {
	background: #fff;
}

.nhs_PagingLinks {
	float: right;
	margin: 0;
	width: 85.47008547008547%; /*800/936*/
	max-width: 800px;
	height: 27px;
	text-align: right;
	color: #fff;
}
.nhs_PagingLinks a,
.nhs_PagingLinks a:link,
.nhs_PagingLinks a:visited,
.nhs_PagingLinks a:active,
.nhs_PagingLinks a.nhs_Active {
	display: inline-block;
	width: 24px;
	height: 20px;
	margin: 0 5px 0 4px;
	padding: 4px 1px 0 0;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}
.nhs_PagingLinks a:hover {
	background: #0091da;
	color: #fff;
	text-decoration: none;
}
.nhs_PagingLinks a.nhs_Active {
	background: #fff;
	color: #7d7d7d;
	text-decoration: none;
	cursor: default;
}

#nhs_PagingLinks {
    display: inline-block;
	white-space: nowrap;
	height: 27px;
	/*overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;*/
	width: 629px; /*85.875%; /*687/800*/
	float: left;
}
#nhs_PagingLinks > span {
    float: left;
	display: inline-block;
	overflow: hidden;
	width: 68px; /*14.125%;113/800*/
	margin-top: 1px;
}
#nhs_PagingLinks > span a {
    float: left;    
}
#nhs_PagingLinks > span:first-child {
    display: inline-block;
    width: 68px;
}
#nhs_PagingLinks > span:first-child a {
    float: none;    
}
/*#nhs_PagingLinks.nhs_PagingMissingLeft > span:first-child {
	width: 155px;
}
#nhs_PagingLinks.nhs_PagingMissingRight + span {
	width: 157px;
}
#nhs_PagingLinks.nhs_PagingMissingLeft > span:first-child:after {
	content: "...";
}
#nhs_PagingLinks.nhs_PagingMissingRight:after {
	content: "...";
}*/
#nhs_PagingLinks > .nhs_PagingOut {
    display: inline-block;
    width: 476px;
    height: 24px;
    margin: 1px 0 -7px 0;
    padding: 0;
    overflow: hidden;
}
#nhs_PagingLinks .nhs_PagingIn {
    display: inline-block;
    width: 1000px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#nhs_PagingLinks .nhs_PagingIn li {
    /*width: 34px;
    height: 27px;*/
    float: left;
    display: inline-block;
}

/*======== RESULTS FOOTER - SEO LINKS =========*/
#nhs_ResFooter {
	width: 100%;
	max-width: 960px;
	margin: 30px auto 40px auto;
	font-size: 11px;
	font-size: 0.7rem;
}
#nhs_ResFooterAdBox  {
	float: left;
	width: 730px;
	height: 92px;
}
#nhs_ResFooterAdBox > div {	
	border: 1px solid #000;
	height: 90px;
}
#nhs_ResFooter .nhs_BackToTop  {
	display: block;
	float: right;
	width: 21%;
	height: 90px;
	background-color: #eee;
	font-size: 14px;
	font-size: 0.875rem;
	color: #7d7d7d;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}
#nhs_ResFooter .nhs_BackToTop:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
	margin-right: 5px;	
	background-size: 30px 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/back_top@2x.png);
}
#nhs_ResFooter h2,
#nhs_ResFooter h4 {
	float: left;
	margin: 20px 0 10px 0;
	padding: 0;
	width: 100%;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-size: 0.75rem;	
	color: #7d7d7d;
	clear: both;
}
#nhs_ResFooter ul {
	float: left;	
	margin: 0;
	padding: 0 1% 0 0;
	width: 24%;
	list-style: none;
	line-height: 1.2;
}
#nhs_ResFooter p {
	float: left;
	clear: both;
	margin: 20px 0;
}
#nhs_ComingSoonActiveAdultLinks {
    margin-top: 20px;
    float: left;
    width: 100%;
}

#nhs_ComingSoonActiveAdultLinks p {
    margin: 0;
}


/* =Recommended Comms on Return Modal --------------------*/    
    
.nhs_ReturnRecoComms {
    width: 800px;
}
.nhs_ReturnRecoCommsList {
    border: 1px solid #ccc;
    float: left;
    height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 448px;
}
#nhs_ModalContainer.nhs_ReturnRecoComms > h2 {
    color: #4b4b4b;
    font-size: 1.5rem;
    font-weight: normal;    
    }
#nhs_ModalContainer .nhs_ReturnRecoCommsList h3,  
.nhs_ReturnRecoCommsList h4 {
    clear: both;
    color: #fff;
    background: #bababa;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Verdana,Arial,Helvetica,sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 5px 12px;
    border-bottom: 3px solid #eee;
    }
.nhs_ReturnRecoComms .nhs_CommResRow {
    float: left;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0;
    padding: 6px 0;
    border: 0;
    width: 430px;
    cursor: default;
    border-top: 6px solid #eee;
    }
.nhs_ReturnRecoComms .nhs_CommResRow:nth-of-type(1) {
    border: 0;
    }

.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultThumb {
    float: left;    
    width: 91px;
    height: 70px;
    } 
.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultThumb img {    
    width: 91px;
    height: 70px;
    }
.nhs_ReturnRecoComms .nhs_CommResRow input {
    float: left;
    margin-top: 30px;
    width: 30px;
    }
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow h2, 
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultNamePrice {
    float: left;
    margin: 5px 0 5px 0;
    padding: 0 0 0 10px;
    width: 285px;
    }
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow .nhs_ResultNamePrice {
    color: #7d7d7d;
    }    
#nhs_ModalContainer.nhs_ReturnRecoComms .nhs_CommResRow h2 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Verdana,Arial,Helvetica,sans-serif;
    font-size: 1rem;
    margin: 6px 0 0 0;
    }
    
    
.nhs_ReturnRecoCommsAddInfo {
    float: left;
    padding-left: 30px;
    width: 300px;
    }
#nhs_AdditionalInfo {
    padding-bottom: 30px;   
    }
.nhs_ReturnRecoCommsAddInfo > p {
    display: inline-block;
    margin: 6px 0;
    }
.nhs_ReturnRecoCommsAddInfo p label {
    display: inline-block;
    text-align: right;
    width: 100px;
    font-weight: bold;
    }
.nhs_ReturnRecoCommsAddInfo p input {
    display: inline-block;
    width: 170px;
    padding: 3px;
    }
.nhs_ReturnRecoCommsAddInfo p input.nhs_InputZip {
    width: 95px;
    }
.nhs_ReturnRecoCommsAddInfo input.btnCss {
    margin: 10px 0 10px 105px;
    }
#nhs_ModalContainer .nhs_ReturnRecoCommsAddInfo .nhs_Legal {
    font-size: 0.625rem;
    margin: 20px 0 0;
    }    
