
/* Tablet widths*/

#nhs_DealsSearch > div,
#nhs_BoylSearch > div,
#nhs_LocationHandler > div {
    width: 728px;
    margin: 0 auto;
}
#nhs_DealsSearch > div > aside,
#nhs_BoylSearch > div > aside,
#nhs_LocationHandler > div > aside {
    display: none;
}

.nhs_GreenDealsBox,
#nhs_Spotlight,
.nhs_HotDealsCol1,
.nhs_HotDealsCol2,
.nhs_BoylSearch2 {
    background-color: #fff; 
    margin: 20px 0;   
}

#nhs_MiddleTopSq {
    display: none;    
}

/* Green Deal Search */
    
#nhs_DealsSearch h2,
#nhs_DealsSearch h3,
#nhs_DealsSearch h4,
#nhs_DealsSearch h5,
#nhs_DealsSearch h6,
#nhs_BoylSearch h2,
#nhs_BoylSearch h3,
#nhs_BoylSearch h4,
#nhs_BoylSearch h5,
#nhs_BoylSearch h6 {
    font-size: 24px;
    font-size: 1.5rem;
	font-weight: normal;
	color: #4b4b4b;
    margin: 10px 0;
    font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif;
    line-height: 1.1;
    }
#nhs_DealsSearch h2 {
    font-size: 45px;
    margin: 0 0 18px 0;
    } 
#nhs_BoylSearch h2 {
    font-size: 26px;
    margin: 0 0 18px 0;
    }    
 
.nhs_GreenSearch h2,
.nhs_GreenSearch h3,
.nhs_GreenSearch h4,
.nhs_GreenSearch h5,
.nhs_GreenSearch h6 {    
    color: #507c0c !important;   
}
.nhs_GreenSearch h2 {
    display: inline-block;
    padding-right: 45px;
    color: #81c341 !important;
    background: url(/globalresources14/default/images/icons/green@2x.png) no-repeat right 50%;
}
.nhs_DealsSearch h2 {
    color: #ef5920 !important;
    display: inline-block;
    padding-right: 45px;
    background: url(/globalresources14/default/images/icons/deals@2x.png) no-repeat right 50%;
}

#nhs_BoylSearch p.nhs_CustomBoylDesc {
    margin: 0 0 8px 0;
}
    
.nhs_GreenDealsBox,
.nhs_CustomBox {
    background: #fff;
    float: left;
    margin: 20px 0 0;
    padding: 20px 3% 30px 3%;
    width: 94%;
    border-bottom: 2px solid #81c341;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	}
.nhs_DealsSearch .nhs_GreenDealsBox {
    border-bottom: 2px solid #4b4b4b;
	}
.nhs_CustomBox {
    border-bottom: 0;
    padding-bottom: 20px;
}
.nhs_CustomBox form {
    margin: 20px 0 0 0;
    padding: 18px 0;
    background-size: 55px 55px;
    background: #0091da url(/globalresources14/default/images/icons/custom_home.png) no-repeat 12px 12px;
    color: #fff;
}
.nhs_CustomBox form label {
    color: #fff;
}
	
.nhs_GreenDealsBox fieldset,
.nhs_CustomBox fieldset,
#nhs_PartnerContainer .nhs_GreenDealsBox fieldset {
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	margin: 0;
	}
.nhs_GreenDealsBox fieldset p,
.nhs_CustomBox fieldset p {
	display: inline-block;
	float: left;
	width: 100%;
	margin: 5px 0;
	}
.nhs_GreenDealsBox fieldset p.field-validation-error,
.nhs_CustomBox p.field-validation-error {
    font-size: 16px;
    font-size: 1rem;
    margin: 0 0 12px 0;
    }	
.nhs_GreenDealsBox label,
.nhs_CustomBox label {
	display: inline-block;
	float: left;
	width: 135px;	
	margin: 6px 6px 0 0;
	text-align: right;
	color: #4b4b4b;
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 16px;
    font-size: 1rem;	
	}
.nhs_CustomBox label {
    width: 165px;
}
.nhs_CustomBox fieldset > p > span {
    margin-left: 150px;
}
.nhs_GreenDealsBox input[type=text],
.nhs_GreenDealsBox select,
.nhs_GreenDealsBox textarea,
.nhs_CustomBox input[type=text],
.nhs_CustomBox select,
.nhs_CustomBox textarea {
    background: #eee;
    border: 0;
    color: #7d7d7d;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 16px;    
    width: 450px;
    height: 16px;
    padding: 8px;
    border-radius: 3px;
    }
.nhs_CustomBox input[type=text],
.nhs_CustomBox select,
.nhs_CustomBox textarea {
    background: #fff;
}
.nhs_GreenDealsBox select,
.nhs_CustomBox select {
    width: 466px;
    height: 34px;
}
.nhs_GreenDealsBox #PriceLow,
.nhs_GreenDealsBox #PriceHigh {
    width: 226px;
    }
.nhs_GreenDealsBox input[type=submit],
#nhs_PartnerContainer .nhs_GreenDealsBox input[type=submit],
.nhs_CustomBox input[type=submit] {
	margin: 8px 0 0 142px;
    padding: 12px 15px;
    color: #4b4b4b;
    width: 210px;
    font-family: 'Avenir LT W01 65 Medium','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
	}
.nhs_CustomBox input[type=submit] {
    margin-left: 171px;
}   
    
#nhs_Spotlight {
    padding: 10px 20px 50px 20px;
    }
.nhs_SpotHotDealsTitle span {
	color: #ef5920;
    font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif;
	}
#nhs_SpotlightCommunitiesCarousel {
    width: 642px;
    margin: 0 auto;
    }
#nhs_Spotlight .nhs_SpotlightItem {
    font-size: 13px;
    font-size: 0.825rem;
    }
#nhs_Spotlight .nhs_SpotlightItem p a {	
    font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-size: 0.95rem;
    display: inline-block;
    margin-bottom: 8px;
    }
#nhs_Spotlight .nhs_SpotlightItem .nhs_ResultThumb > a {
	display: block;
	width: 145px;
	height: 96px;
	margin-bottom: 8px;
	position: relative;
	overflow: hidden;
    }
.csstransforms #nhs_Spotlight .nhs_SpotlightItem .nhs_ResultThumb img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }    
.bx-wrapper .bx-prev,
#nhs_Spotlight .bx-wrapper .bx-prev {
    left: -32px;
    background: url(/globalresources14/default/images/buttons/arrow_left.png) no-repeat left 50% !important;
    }
.bx-wrapper .bx-next,
#nhs_Spotlight .bx-wrapper .bx-next {
    right: -32px;
    background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50% !important;
    }     
	
.nhs_HotDealsCol1,
.nhs_HotDealsCol2,
.nhs_BoylSearch2 { 
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2;
    padding: 10px 20px 20px 20px;
	}
.nhs_HotDealsCol1 p,
.nhs_HotDealsCol2 p,
.nhs_BoylSearch2 p {
    margin: 10px 0;
	}
	
/* =Green Search */
.nhs_SpotGreenTitle span.nhs_SpotGreenTitleSub {
    display: inline-block;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 30px 0;
}

/* Location Handler */

#nhs_LocationHandler > div > div {
    background: #fff;
    margin: 20px 0;
    padding: 10px 20px 20px 20px;
}

#nhs_LocationHandler h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #4b4b4b;
    }
#nhs_LocationHandler h3 {
    font-size: 18px;
    margin: 10px 0;
    }    
#nhs_LocationHandler p {
    margin: 10px 0;
    }  
#nhs_LocationSearchArea {
    float: left;
    margin: 10px 0 0;
    width: 370px;
    }
#nhs_LocationSearchArea p {
    margin: 0;
    padding: 0;
    }
#nhs_LocationSearchArea .locationField {
    background: #fff;
    border: 1px solid #bababa;
    float: left;
    font-size: 16px;
    margin: 0 5px 0 0;
    padding: 8px;
    width: 210px;
    }
#nhs_LocationSearchArea .btn_FindHomes, 
#nhs_PartnerContainer #nhs_LocationSearchArea .btn_FindHomes {
    font-size: 16px;
    padding: 11px 10px;
    margin: 0;
    }
#nhs_LocationSearchArea select {
    border: 1px solid #bababa;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0 0;    
    padding: 7px;
    width: 172px;
    }
#nhs_LocationAd {
    float: right;
    width: 302px;
    }
#nhs_LocationHandler #nhs_MiddleTopSq {
    display: block;
    margin: 0;
    } 
.nhs_LocationMarket {
    margin: 0 0 15px;
    }
.nhs_LocationMarket ul {
    float: left;
    width: 27%;
    margin-right: 2%;
    padding-left: 20px;
    font-size: 14px;
    }
.nhs_LocationMarket ul li {
    margin-bottom: 6px;
    }    
.nhs_LocationMetro {
    float: left;
    width: 315px;
    margin: 0;
    }
.nhs_LocationMetro ul {
    width: 41%;
    }
#nhs_LocationSearchArea ul {
    font-size: 12px;
    }