/* Site Index */

.nhs_IndexSearch {
	width: 100%;
	min-height: 360px;
	background-color: #bababa;
	background-image: url(/globalresources14/newhomesource/images/homepage/search_background.jpg);
	background-size: auto 728px;
	background-repeat: no-repeat;
	background-position: center 50%;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    .nhs_IndexSearch {
	    background-image: url(/globalresources14/newhomesource/images/homepage/search_background@2x.jpg);
    }
}
.nhs_IndexSearch.nhs_IndexSearchCondo {	
    background-size: auto 650px;
    background-repeat: repeat-x;
	background-image: url(/globalresources14/default/images/siteindex/condo_background.jpg);	
}
.nhs_IndexSearch.nhs_IndexSearchGolf {
    background-size: auto 650px;	
    background-repeat: repeat-x;
	background-image: url(/globalresources14/default/images/siteindex/golf_background.jpg);	
}
.nhs_IndexSearch.nhs_IndexSearchWater {	
    background-size: auto 650px;
    background-repeat: repeat-x;
	background-image: url(/globalresources14/default/images/siteindex/water_background.jpg);	
}
.nhs_IndexSearchForm {
	/*width: 100%;
	max-width: 960px;*/
	width: 680px;
	margin: 35px auto;
	position: relative;
}

.nhs_IndexSearchLocation .field-validation-error {
    /*background: none repeat scroll 0 0 #D92632;*/
    color: #f58220;
    font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 6px 2% 6px 0;
    position: absolute;
    bottom: -26px;
    width: 90%;
}

.nhs_IndexSearchForm > .nhs_IndexSearchLocation {
	position: relative;
	z-index: 999;
	background: #4b4b4b;
	background: rgba(0,0,0,0.7);
	
	width: 94.76744186046512%; /*815/860*/
	max-width: 815px;
	padding: 25px 1.744186046511628% 25px 3.488372093023256%; /*15/860 30/860*/
	
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: #fff;
	line-height: 1.1;
}
.nhs_IndexSearchForm > .nhs_IndexSearchLocation > div {
	float: right;
	width: 212px;
	margin: -25px -16px -25px 0; /*15/915*/
}
.nhs_IndexSearchForm > .nhs_IndexSearchLocation > div:first-child {
	float: left;
	width: 64.41717791411043%; /*525/815*/
	margin: 0;
	margin-right: 4.294478527607362%; /*35/815*/
}
.nhs_IndexSearchForm > .nhs_IndexSearchLocation > div ul {
    list-style-type: square;
}
.nhs_IndexSearchForm > .nhs_IndexSearchLocation > div ul li,
.nhs_IndexSearchForm > .nhs_IndexSearchLocation > div p {
    margin: 10px 0 14px 0 ;
}
.nhs_IndexSearchForm h1 {
	margin: 0;
	padding: 0;
	font-family: 'Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-size: 28px;
	font-size: 1.7rem;
	color: #ffce34;
	line-height: 0.9;
    -ms-word-break: break-all;
    word-break: break-all;
}
.nhs_IndexSearchForm a,
.nhs_IndexSearchForm a:link {
    color: #ffce34;    
}
.nhs_IndexSearchForm fieldset {
	position: relative;
}
.nhs_IndexSearchForm input[type=text] {
	width: 57%;
	margin: 2px 0 0 0;
	padding: 9px 9% 8px 2%;
	border: 0;
	border-radius: 3px;
	/*box-shadow: inset 1px 1px 2px 0 #aaa;*/
	font-size: 18px;
	font-size: 1.125rem;
	color: #4b4b4b;
}
.nhs_IndexSearchForm input[type=submit] { 
    background: #0091da;
    color: #fff !important;
    height: 40px;
    font-size: 17px;
    font-size: 1.05rem;
    font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif; 
}
.nhs_IndexSearchForm #HomeSearchIcon {   
	position: absolute;
	top: 7px;
	right: 33%;
	
	width: 30px;
	height: 0;
	border: 0;
	overflow: hidden;
	padding: 30px 0 0 0;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier.png);
}

/* Search Options
-------------------------*/
.nhs_IndexSearchOptions {
	position: relative;
	width: 100%;
	min-height: 45px;
	padding: 20px 0 30px 0;
	background: #7d7d7d;
	border: 5px solid #575757;
	border-width: 5px 0 0 0;
	box-shadow: inset 5px 0 0 0 #575757;
	display: block;
	color: #fff;
}
.nhs_IndexSearchOptions > fieldset {
	float: left;
	width: 30%;
	padding-left: 3.333333333% !important;
	display: block;
}
.nhs_IndexSearchOptions > fieldset legend {
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 2px;
}
.nhs_IndexSearchOptions > fieldset > p {
	float: left;
	margin: 3px 0 0 0;
	text-align: left;
	font-size: 10px;
	font-size: 0.7rem;
	text-align: right;	
}
.nhs_IndexSearchOptions > fieldset > p.nhs_Last {
	float: left;
	text-align: right;	
	margin-left: 3px;
}
.nhs_IndexSearchOptions > fieldset > p > label {	
	color: #ffce34;
}
.nhs_IndexSearchOptions > fieldset:first-child legend {
	margin-bottom: -16px;	
}
.nhs_IndexSearchOptions > fieldset:first-child > p > label {
	padding-right: 12px;
}
.nhs_IndexSearchOptions > fieldset:first-child > p.nhs_Last > label {
	padding-right: 0;
}

.nhs_IndexSearchOptions input[type=text] {
	width: 76px; /*96px*/
	padding: 5px 4px 4px 4px;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	font-size: 12px;
	font-size: 0.75rem;
	color: #4b4b4b;
}
.nhs_IndexSearchOptions input[type=text]#PriceHigh {
	text-align: right;
}
.nhs_IndexSearchOptions input[type=radio] + label {
	display: inline-block;
    margin-right: 2px;
	padding: 4px 6px;
	background: #bababa;
	font-size: 11px;
	font-size: 0.7rem;
	color: #7d7d7d;
	border-radius: 3px;
	cursor: pointer;
}
.nhs_IndexSearchOptions input[type=radio]:checked + label {
	background: #ffce34;
	color: #4b4b4b;
}
.nhs_IndexSearchOptions input[type=radio] + label:hover {
	background: #fff;
	color: #7d7d7d;
}
.nhs_IndexSearchOptions input[type=radio] {
	position: absolute;
	left: -9999999px;
}

.nhs_IndexContent {
    /*width: 100%;
	max-width: 960px;*/
	width: 728px;
	margin: 0 auto;
	padding: 40px 0;    
	font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 13px;
	color: #4b4b4b;
}

.nhs_IndexContentLeft { 
    float: left;
    width: 100%;
    margin-right: -190px;    
}
.nhs_IndexContentLeft > div { 
    margin-right: 190px;    
}

.nhs_IndexAdColumn {
    float: right;
    width: 160px;
    margin-left: 30px;    
}

.nhs_IndexBldrLogo {
    float: right;   
}


#nhs_StateBrowseDiv {
	float: left;
	width: 100%;
	max-width: 768px;
    background: #eee;
    margin-bottom: 5px;
    overflow: auto;
    position: relative;
	}
.nhs_IndexContent .nhs_Tabs {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}
.nhs_IndexContent ul.nhs_Tabs > li {
	display: inline-block;
	float: left;
	margin-right: 11px;
}
.nhs_IndexContent ul.nhs_Tabs > li > a { 
	display: inline-block;
	padding: 12px 10px 10px 10px;
	background-color: #bababa;
	font-family: 'Avenir LT W01 85 Heavy',Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: 0;
}
.nhs_IndexContent ul.nhs_Tabs > li > a:hover,
.nhs_IndexContent ul.nhs_Tabs > li.nhs_Selected > a {
	background-color: #eee;
	text-decoration: none;
	color: #4b4b4b;
}
.nhs_IndexContent ul.nhs_Tabs > li.nhs_Selected > a,
.nhs_IndexContent ul.nhs_Tabs > li.nhs_Selected > a:hover {
    cursor: default;
}	
.nhs_IndexBox {
	float: left;	
	margin: 0 0 5px 0;
	padding: 20px 0 0 3.947368421052632%; /*30/760*/
	position: relative;
	width: 93.42105263157895%; /*710/760*/
	max-width: 710px;
	font-size: 14px;
	}	
.nhs_IndexBox h1,
.nhs_IndexBox h2,
.nhs_IndexBox h3,
.nhs_IndexBox h4,
.nhs_IndexBox h5,
.nhs_IndexBox h6,
.nhs_IndexHeading,
.nhsIndexHeading {
	margin: 0 0 10px 0;
	font-family: 'Avenir LT W01 65 Medium',Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.2;
	clear: both;
    -ms-word-break: break-all;
    word-break: break-all;
	}
.nhsIndexHeading strong {
    font-weight: normal;
    }	
.nhs_IndexList {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0 10px 20px 0;
	width: 31%;
	float: left;
	}

.nhs_IndexList2 {
	width: 48%;
	}
	
.nhs_IndexBox p {
    margin: 0 0 10px 0;
    }
	
/* Boutique Links */	

.nhs_IndexBox .nhs_IndexStGolfCourse,
.nhs_IndexBox .nhs_IndexStWaterfront,
.nhs_IndexBox .nhs_IndexStCondoTown {
    float: left;
    display: block;
    width: 32.3943661971831%;  /*230/710*/
    max-width: 230px;
    margin-right: 1.408450704225352%; /*10/710*/
    padding: 0;
    line-height: 16px;      
}
.nhs_IndexBox .nhs_IndexStCondoTown {
    margin-right: 0; 
}
.nhs_IndexStGolfCourse a,
.nhs_IndexStWaterfront a,
.nhs_IndexStCondoTown a {
    display: block;
    padding: 140px 0 0 0;
    
    background-color: transparent;
	background-size: 230px auto;
	background-position: 50% top;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/siteindex/sm_golf.jpg);
}
.nhs_IndexStWaterfront a {
    background-image: url(/globalresources14/default/images/siteindex/sm_waterfront.jpg);    
}
.nhs_IndexStCondoTown a {    
    background-image: url(/globalresources14/default/images/siteindex/sm_condo.jpg);
}


/* Newsletter Sign Up 
- Move to GLOBAL LOCATION in future
---------------------------------*/

#nhs_NewsletterSignUp {
    float: left;
    width: 280px;
    margin: 18px 0 10px 0;
    padding: 10px 10px 2px 10px;
    border-radius: 3px;
    background: #5f636a;
    clear: both;
    color: #fff;    
    }
#nhs_NewsletterSignUp .nhs_Error {
    font-weight: bold;
    color: #fff;
	background: #c33;
	padding: 3px;	
    margin-bottom: 8px;
    }    
#nhs_NewsletterSignUp > p {
    margin: 0 0 8px 0;
    display: inline-block;
    }    
#nhs_NewsletterSignUp > p label {
    display: none;
    }    
#nhs_NewsletterSignUp > p:first-child {
    font-size: 18px;
    color: #ffce34;
    line-height: 1.1;
    margin-bottom: 12px;
    } 
#nhs_NewsletterSignUp select {
    float: left;
    padding: 6px 0;
    display: inline-block;
    }        
#nhs_NewsletterSignUp input[type=text] {
    float: left;
    width: 205px;
    padding: 0 6px;
    height: 30px;
    border: 0;
    display: inline-block;
    border-radius: 3px 0 0 3px;
    }    
#nhs_NewsletterSignUp .btnCss {
    float: left;
    font-size: 12px;
    padding: 0 5px !important;
    border-radius: 0 3px 3px 0;
    height: 30px !important;
    display: inline-block;
    }    
#nhs_NewsletterSignUp .btnCss.btn_Loading {
    padding: 30px 5px 0 5px !important;
    background-color: #fff !important;
    width: 49px;
    }       
#nhs_NewsletterSignUp .nhs_LegalText {
    width: 100%;
    clear: both;
    font-size: 9px;
    color: #999;
    text-align: center;
    }
#nhs_NewsletterSignUp .nhs_LegalText a {
    color: #999;
    }        
  
/* Newsletter Sign Up - SiteIndex Pages 
--------------------------------------------*/    
#nhs_AdColumn #nhs_NewsletterSignUp {
    width: 140px;
    margin: 0 0 30px 0;
    }   
#nhs_AdColumn #nhs_NewsletterSignUp input[type=text] {
    width: 128px;
    border-radius: 3px;
    }
#nhs_AdColumn #nhs_NewsletterSignUp .btnCss {
    margin-top: 6px;
    width: 140px;
    border-radius: 3px;
    }  
#nhs_AdColumn #nhs_NewsletterSignUp .nhs_LegalText {
    font-size: 7px;
    } 
    
#nhs_RightTopSky {
    display: block;
    width: 160px;
    height: 605px;
    }	         
