/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

html {
    font-size: 1em;
    line-height: 1.4;
    vertical-align: baseline;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0;
    background: #bababa;
    color: #000;
    padding: 0.5em 0;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
}
#nhs_Page {
	width: 100%;
	max-width: 960px;
}
.nhs_Content {
    line-height: normal;
}
.nhs_Clear {
    clear: both;    
}
img {
	max-width: 100%;
}
abbr,
abbr[title] {
    border: 0;
}
.btnCss,
a.btnCss {
	display: inline-block;
	padding: 9px 6px;
	background: #0091da;
	font-size: 12px;
	font-size: 0.75rem;	
	text-align: center;
	color: #fff;
	line-height: 15px; 
	border: 0;
	border-radius: 3px;
	text-decoration: none !important;
	
	height: auto;
	padding: 8px 10px;
	background: #ffce34;
	line-height: 14px;
	font-weight: bold;
	color: #4b4b4b !important;
}
.btnCss:hover,
a.btnCss:hover {
	text-decoration: none !important;
}
.field-validation-error, 
.validation-summary-errors {
	color: #ff0600;
	font-size: 11px;
	font-size: 0.7rem;
	font-weight: bold;
	}
.field-validation-error ul, 
.validation-summary-errors ul {
    padding-left: 18px; 
}
.ui-autocomplete {	
	border: 1px solid #eee;
	background-color: #fff;
	max-height: 160px;
	width: 270px;
	overflow: auto;
	margin: 0;
	padding: 0;	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	color: #7d7d7d;
	border-radius: 0;	
	z-index: 99999;
	}
.ui-autocomplete li {
	margin: 0 !important;
	padding: 0;		
	border-radius: 0;
	}
.ui-autocomplete li a {
	display: block;
	padding: 8px 5px !important;
	cursor:pointer;
	border-radius: 0;
	color: #7d7d7d;
	}
.ui-autocomplete li a:hover {
	text-decoration: none;
	}
.ui-autocomplete .ui-menu-item a.ui-state-focus,
.ui-autocomplete .ui-menu-item a.ui-state-active, 
.ui-autocomplete a#ui-active-menuitem {
	font-weight: bold;
	background: #0091da;
	color: #fff;
	border: 0;
	}	
.ui-autocomplete li a span {
    font-size: 14px;
    font-size: 0.875rem;
}	

::-webkit-input-placeholder {
   color: #bababa;
}
:-moz-placeholder { /* Firefox 18- */
   color: #bababa;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #bababa;  
}
:-ms-input-placeholder {  
   color: #bababa;  
}

ul {
    padding-left: 20px;    
}
input {
    vertical-align: middle;    
}

/* Generic Loading - Text Only
#nhs_Loading,
.nhs_Loading {
    display: none;
    position: fixed; 
    top: 40%; 
    left: 50%; 
    width: 85px;
    height: 20px;
    margin-left: -43px;
    padding: 36px 0; 
    z-index: 100000000;
    border: 2px solid #4b4b4b;
    background: #fff;
    box-shadow: 0 0 12px 0 #4b4b4b;
    box-shadow: 0 0 12px 0 rgba(75, 75, 75, 0.35);
    text-align: center;
    }   
#nhs_Loading p,
.nhs_Loading p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #4b4b4b;
    text-align: center;
    } */
    
#nhs_Loading,
.nhs_Loading {
    display: none;
    position: fixed; 
    top: 35%; 
    left: 50%; 
    width: 85px;
    height: 0;
    margin-left: -43px;
    padding: 86px 0 0 0;
    z-index: 100000000;
    overflow: hidden; 
    border: 0;    
    background: #bababa url(/globalresources14/default/images/icons/nhs_loader.gif) no-repeat 50% 50%;
    background-color: rgba(170, 170, 170, 0.70);
    box-shadow: none;
    }       

/* Iframe Ad Sizes */
#nhsIFrameAdTop,  .nhsIFrameAdTop, 
#nhsIFrameAdTop1, .nhsIFrameAdTop1,
.nhsIFrameAdTop2 {
    width: 728px;
    height: 90px; 
    background: #fff;
    }
#nhsIFrameAdMiddle,  .nhsIFrameAdMiddle,
#nhsIFrameAdMiddle1, .nhsIFrameAdMiddle1,
#nhsIFrameAdMiddle2, .nhsIFrameAdMiddle2,
#nhsIFrameAdMiddle3, .nhsIFrameAdMiddle3,
#nhsIFrameAdx01,     .nhsIFrameAdx01,
#nhsIFrameAdx04,     .nhsIFrameAdx04,
#nhsIFrameAdx05,     .nhsIFrameAdx05,
#nhsIFrameAdx06,     .nhsIFrameAdx06 {
    width: 300px;
    height: 250px;
    }
#nhsIFrameAdBottom, .nhsIFrameAdBottom {
    width: 125px;
    height: 125px;
    }
#nhsIFrameAdRight2, .nhsIFrameAdRight2,
#nhsAdContainerRight1, .nhsAdContainerRight1,
#nhsIFrameAdRight1, .nhsIFrameAdRight1 {
    width: 160px;
    height: 600px;
    margin-bottom: 30px;
    }
#nhsAdContainerRight2, .nhsAdContainerRight2 {
	width: 160px;
    height: 600px;
    margin-bottom: 5px;
    }
#nhsAdContainerRight2, .nhsAdContainerRight2,
#nhsAdContainerRight1, .nhsAdContainerRight1 {
    float: left;
    }
#nhsIFrameAdPosition1, .nhsIFrameAdPosition1 {
    width: 300px;
    height: 600px;
    }
#nhsIFrameAdx02, .nhsIFrameAdx02 {
    width: 300px;
    height: 250px;
    }
#nhsAdContainerRight3, .nhsAdContainerRight3,
#nhsIFrameAdRight3, .nhsIFrameAdRight3 {
    width: 160px;
    height: 600px;
    }
#nhsAdContainerRight3, .nhsAdContainerRight3 {
	float: left;
	}
#nhsAdContainerx03, .nhsAdContainerx03 {
    width: 1px; 
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -3000px;
    }
#nhs_Map img,
#nhs_map img,
#nhs_PropertyMap img {
    max-width: none;    
    }
.nhs_FullPageAd { 
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    background-color: transparent;
    background-position: 50% top;
    background-repeat: no-repeat; 
    z-index: 0; 
    display: none;
}       
    
/*======== MAP CARDS =========*/
.gm-style-iw,
.gm-style-iw > div {
    overflow: hidden !important;
}

#nhs_MapCards {
    max-width: 397px;
    max-height: 220px;
    overflow: hidden;
    overflow-y: auto; 
}
.nhs_MapCard { 
    width: 397px;
    /*height: 120px;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0 0 14px 0;
}
.nhs_MapCardNoImg {
    width: 280px;     
}
.nhs_MapCardWImg + .nhs_MapCardNoImg {
    width: 432px;    
}
.nhs_MapCard + .nhs_MapCard {
    /*border-top: 1px solid #bababa;*/
    padding: 0 20px 14px 0;
}
.nhs_MapCard:last-child {
    padding-bottom: 2px;
}
.nhs_MapCard p,
.nhs_MapCard p.nhs_Price strong,
.nhs_MapCard h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    line-height: 1.2;
    padding: 0 !important;    
}
.nhs_MapCard p.nhs_Price {
    font-size: 12px !important;    
}
.nhs_MapCard p.nhs_Price strong {
    font-size: 14px !important;
}
.nhs_MapCard .nhs_ItemImages {
    float: right;
    position: relative;
}
.nhs_MapCard .nhs_ItemImages > img {
    width: 180px;
    height: 120px;    
}
.nhs_MapCard .nhs_ItemImages > div {
    max-width: 60px;
    max-height: 35px;
    padding: 2px 2px 0 0;
    background: #fff;
    overflow: hidden;
    
    position: absolute;
    bottom: 0;
    left: 0;
}
.nhs_MapCard .nhs_ItemImages > div img {
    max-width: 60px;
    max-height: 35px;    
}
.nhs_MapCard h3 {
	color: #bababa;
	padding: 0;
}
.nhs_MapCard .nhs_Location {
    margin: 0 !important;    
}
.nhs_MapCard .nhs_Location > h3 {
    padding: 0;
}
.nhs_MapCard .nhs_MatchCount {
    display: inline-block;
    width: 97%;
    margin: 0;
    padding: 6px 1% 6px 2% !important;
    line-height: 1;
    font-size: 11px;
    color: #fff;
    background: #bababa;     
}
.nhs_MapCard h2 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
    font-size: 14px !important;
    padding: 6px 0 3px 0;
    line-height: 1.1;        
}
.nhs_MapCard h2 a {
	margin: 0;
	padding: 0;
	font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 16px !important;
	font-weight: normal;
}
.nhs_MapCard ul.nhs_Actions {
    float: left;
    display: inline-block;
	list-style: none;
	width: auto;
	margin: 0 12px 0 0;
	padding: 10px 0 0 0;
}
.nhs_MapCard ul.nhs_Actions > li {
	float: left;
	display: inline-block;	
}  
.nhs_MapCard ul.nhs_Actions li a.btnCss {
	border: 1px solid #0091da;
	background: #0091da;
	font-size: 12px !important;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	width: 86px;
	margin-left: 5px;
	padding: 8px 6px;
	height: auto;	
}
.nhs_MapCard ul.nhs_Actions li a.btn_FreeBrochure {
	border: 1px solid #ffce34;
	background: #ffce34;
	font-size: 12px !important;
	color: #4b4b4b !important;
	font-weight: bold;
	text-decoration: none;	
	width: 86px;
	padding: 8px 6px;	
}
.nhs_MapCard ul.nhs_Actions li:first-child a {
    margin-left: 0;            
} 

.nhs_Cluster1,
.nhs_Cluster2,
.nhs_Cluster3,
.nhs_Cluster4,
.nhs_Cluster5 {
    background: #0091da;    
    border-radius: 50%;
    color: #fff !important;
    font-size: 22px !important;
    font-weight: normal !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    padding: 0;
    text-align: center;
}
.nhs_Cluster2 {
    padding: 5px;
}
.nhs_Cluster3 {
    padding: 10px;
}
.nhs_Cluster4 {
    padding: 15px;
}
.nhs_Cluster5 {
    padding: 20px;
}

/* Old Results/Detail/Driving Map */
.nhs_CommunityMap .nhs_MapCard,
#nhs_CommResMap .nhs_MapCard {
    width: 350px;   
}
.nhs_CommunityMap .nhs_MapCardNoImg,
#nhs_CommResMap .nhs_MapCardNoImg {
    width: 280px;   
}
.nhs_CommunityMap .nhs_MapCard .nhs_ItemImages img,
#nhs_CommResMap .nhs_MapCard .nhs_ItemImages img {
    width: 120px;
    height: 80px;    
}

.nhs_MapHoverCard {
    display: block;
    width: 240px;
    min-height: 20px;
    line-height: 1; 
    overflow: hidden;
}
.nhs_MapHoverCard a:hover {
    text-decoration: none;    
}
.nhs_MapHoverCard h2 {
    font-family: 'Avenir LT W01 85 Heavy','Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;
	font-size: 14px !important;
    font-weight: normal;
    color: #0091da;
    margin: 0;
    line-height: 1.1 !important;
    display: inline;
}
.nhs_MapHoverCard p.nhs_Price {  
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    color: #7d7d7d;
    margin-top: 3px;
}
.nhs_MapHoverCard > img {
    float: right;
    margin-left: 5px;    
}
/*.nhs_MapHoverCard span {
    float: right;
    display: inline-block;
    width: 21px;
    height: 0;
    margin: 8px 0 8px 10px;
    padding: 41px 0 0 0;
    overflow: hidden;
    background: url(/globalresources14/default/images/buttons/arrow_right.png) no-repeat right 50%; 
    display: none;
} */    

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden,
.nhs_Reader,
.nhsReader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        /*background: transparent !important;
        color: #000 !important;*/ /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }*/

    /*
     * Don't show links for images, or javascript/internal links
     */

    /*.ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }*/

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
    .addthis_floating_style {
        display: none;    
    }
}

/*input[type=radio] + label {
	display: inline-block;
    margin-right: 5px;
	padding: 4px 7px;
	background: #5f6369;
	font-size: 11px;
	font-size: 0.7rem;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
input[type=radio]:checked + label {
	background: #ffce34;
	color: #5f636a;
}
input[type=radio] {
	position: absolute;
	left: -9999999px;
} */

/*input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label:before {
	float: left;
    content: "";
    background: #fff;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	background: #5f636a;
	box-shadow: inset 0 2px 0 0 #343741;
    border: 0;
    border-radius: 3px;
}
input[type=checkbox]:checked + label span {
	color: #ffce34;
}
input[type=checkbox]:checked + label:before {
	float: left;
	background-size: cover;
	background-position: 50% 50%;
    background-color: #5f636a;
	background-image: url(/globalresources14/default/images/icons/selected_star@2x.png);
	background-repeat: no-repeat;	
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 0;
	box-shadow: inset 0 2px 0 0 #343741;
    border: 0;
    border-radius: 3px;
}*/
