
/* Stop resizing for IE8 - no mediaquiries */
.width-under-960 #nhs_Header,
.width-under-960 #nhs_Page,
.width-under-960 #nhs_SocialFooter,
.width-under-960 #nhs_Footer {
    width: 970px;
    max-width: 971px;
    margin: 0 auto;
}

#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > a > span {
	background-image: url(/globalresources14/newhomesource/images/icons/user.png);
}
#nhs_Header > nav > ul > li#nhs_GlobalNavAccount > div > div > div {
	background-image: url(/globalresources14/newhomesource/images/icons/user_circle.png);
}

#nhs_HomeSearchOptions > fieldset legend,
.nhs_FacetBox fieldset legend {	
	color: #ffce34;
}
#nhs_HomeSearchOptions input[type=radio] + label,
.nhs_FacetBox input[type=radio] + label {
    margin-right: 3px;	
	padding: 4px 0;
	background: transparent;
	color: #dfe1df;
}
#nhs_HomeSearchOptions input[type=radio],
.nhs_FacetBox input[type=radio] {
	position: relative;
	left: 0;
} 
.nhs_ToggleVertical input[type=radio] + label {
	width: 84% !important;	
}

.nhs_FacetBox input[type=checkbox] {
    display: inline-block;
    position: relative;
	left: 0;
	top: 5px;
	vertical-align: top;  
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul {
    width: 50%;    
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li label, 
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li label {
	width: 85%;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li label {
	margin-left: 4px;
}
#nhs_ResFacets > div#nhs_FacetSchools > .nhs_FacetBox ul li label span,
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li label span {
	padding: 4px 0;
	background: transparent;
	color: #dfe1df;
}
#nhs_ResFacets > div#nhs_FacetMore > .nhs_FacetBox ul li label span {     
    margin-left: 0;
} 
.nhs_FacetBox input[type=checkbox] + label:before {	
    content: none;
}
.nhs_FacetBox input[type=checkbox]:checked + label:before {
	content: none;
}

.nhs_ResMapAreaToggle input[type='checkbox'] {
	display: inline-block;
    position: relative;
	left: 0;
	top: 5px;
	vertical-align: top;  
}
.nhs_ResMapAreaToggle input[type=checkbox] + label:after {
	content: none;
}
.nhs_ResMapAreaToggle input[type=checkbox]:checked + label {
	color: #0091da;
}
.nhs_ResMapAreaToggle input[type=checkbox]:checked + label:after {
	content: none;
}

#nhs_MapContainer {
    clear: both;    
}
.nhs_TvVideoItem {
    margin-right: 1.25%; /*12/960*/
}

#nhs_SocialSideBar > p {    
    left: 69px;
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    
}
#nhs_SocialSideBar > p > span {    
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: none; 
}
#nhs_SocialSideBar.nhs_Active > p > span {
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); 
    display: none;
}

/* #nhs_Loading,
.nhs_Loading {
    border: 2px solid #4b4b4b;
    }  */

/*============== Non-Retina Fixes ==============*/

#nhs_HomeFeatured > div > p {   
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url(/globalresources14/default/images/icons/map_poi_blue@2x.png);
	height: 60px;
	padding-top: 5px;
}

#nhs_ResFacets fieldset > input[type=submit] {
	background-image: url(/globalresources14/default/images/icons/search_magnifier_22.png);
}
.nhs_HomeResItem .nhs_ItemImages > p.nhs_ItemCount {
	background-image: url(/globalresources14/default/images/icons/photo_count.png); 
}
.nhs_Location > a {
	background-image: url(/globalresources14/default/images/icons/location.png);
}
ul.nhs_Actions > li a.nhs_Save {	
	background-image: url(/globalresources14/default/images/icons/heart_open.png);
}
ul.nhs_Actions > li a.nhs_Save:hover {	
	background-image: url(/globalresources14/default/images/icons/heart_over.png);
}
ul.nhs_Actions > li a.nhs_Save:active {	
	background-image: url(/globalresources14/default/images/icons/heart_over_down.png);
}
ul.nhs_Actions > li a.nhs_Saved {	
	background-image: url(/globalresources14/default/images/icons/heart_save.png);
}
ul.nhs_Features > li,
.nhs_ItemDeals > ul li {
	background-image: url(/globalresources14/default/images/icons/deals.png);
}
ul.nhs_Features > li.nhs_Hot,
.nhs_ItemDeals > ul li.nhs_HotHome {
	background-image: url(/globalresources14/default/images/icons/hot.png);
}
ul.nhs_Features > li.nhs_Deals,
.nhs_ItemDeals > ul li.nhs_Offer {	
	background-image: url(/globalresources14/default/images/icons/deals.png);
}
ul.nhs_Features > li.nhs_Green,
.nhs_ItemDeals > ul li.nhs_Green {	
	background-image: url(/globalresources14/default/images/icons/green.png);
}
ul.nhs_Features > li.nhs_PlanView {
	background-image: url(/globalresources14/default/images/icons/planview.png);
}
ul.nhs_Features > li.nhs_VTour {
	background-image: url(/globalresources14/default/images/icons/vtour.png);
}
ul.nhs_Features > li.nhs_Video {
	background-image: url(/globalresources14/default/images/icons/video.png);
}

ul#nhs_ResViewType > li > a {
	background-image: url(/globalresources14/default/images/icons/view_list_off.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeList > a {
	background-image: url(/globalresources14/default/images/icons/view_list_off.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a {
	background-image: url(/globalresources14/default/images/icons/view_map_off.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeList > a.nhs_Active,
ul#nhs_ResViewType > li.nhs_ViewTypeList > a:hover {
	background-image: url(/globalresources14/default/images/icons/view_list_on.png);
}
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a.nhs_Active,
ul#nhs_ResViewType > li.nhs_ViewTypeMap > a:hover {
	background-image: url(/globalresources14/default/images/icons/view_map_on.png);
}

#nhs_ResMap > aside > p {
	background-image: url(/globalresources14/default/images/icons/map_poi_blue.png);
}

.nhs_ResMapAreaToggle input[type=checkbox] + label:after {
	background-image: url(/globalresources14/default/images/buttons/toggle_off.png);
}
.nhs_ResMapAreaToggle input[type=checkbox]:checked + label:after {
	background-image: url(/globalresources14/default/images/buttons/toggle_on.png);
}

#nhs_ResAdCol > .nhs_ResCmsTeaser a {
	background-image: url(/globalresources14/default/images/icons/cms_hotw.png);
}
#nhs_ResAdCol > .nhs_ResCmsTeaser a.nhs_Res6Steps {
	background-image: url(/globalresources14/default/images/icons/cms_6steps.png);
}
#nhs_ResAdCol > .nhs_ResCmsTeaser a.nhs_ResFinance {
	background-image: url(/globalresources14/default/images/icons/cms_finance.png);
}

#nhs_ResFooter .nhs_BackToTop:before {
	background-image: url(/globalresources14/default/images/icons/back_top.png);
}

.nhs_TvSearchForm .nhs_LocationSubmitButton {	
	width: 30px;
	padding: 29px 0 0 0;
	top: 27px;
}

.nhs_ModalBoxRight fieldset input[type=checkbox] {
	display: inline-block;
}
.nhs_RecoLabel input[type=checkbox] {
    margin-left: 140px;
}
.nhs_ModalBoxRight fieldset input[type=checkbox] + label,
.nhs_ModalBoxRight fieldset input[type=checkbox] + input[type=hidden] + label {
	background: transparent;
	text-align: left;
	padding-left: 0;
	margin-left: 8px;
}
.nhs_RecomsItem .nhs_ItemImages > input[type=checkbox] {
    position: absolute;
    bottom: 12px;
    right: 12px;

	display: block;
}
.nhs_RecomsItem .nhs_ItemImages > label {
    display: none !important;    
}

.addthis_floating_style {
    background: #bababa !important;     
}

/* HEADER HEART IMAGES */
.nhs_Owners {
	width:971px;
	height:165px;
}

.nhs_OwnersSliderPopup:before, .nhs_OwnersPreview:after
{
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: 38px;
    top: 470px;
    border: 50px solid;
    border-color: #fff transparent transparent #fff;
    z-index:-100;
}

#nhs_OwnersPreview {
    z-index: 1000;
}