﻿@model Nhs.Web.UI.AppCode.ViewModels.Client
<tr>
    <td><input name="ClientsEmails[@Model.Index].ClientId" id="ClientsEmails_@(Model.Index)__ClientId" type="hidden" value="@Model.ClientId"  class="pro_AutoCompleteCleanNumber"/></td>    
    <td>
        <label>
            Client name:
        </label>
        <input class="pro_AutoCompleteClientName pro_AutoCompleteClean" id="ClientsEmails_@(Model.Index)__Name" name="ClientsEmails[@Model.Index].Name" type="text" value="@((Model.Name ?? string.Empty).Trim())" />
    </td>
    <td>
        <label>
            Email address:
        </label>
        <input class="pro_AutoCompleteClientEmail pro_AutoCompleteClean" id="ClientsEmails_@(Model.Index)__Email" name="ClientsEmails[@Model.Index].Email" type="text" value="@((Model.Email ?? string.Empty).Trim())" />
        @if (Model.Index > 2)
        {
            <a class="pro_DeleteClientNameEmail">Delete</a>
        }
    </td>
</tr>
