﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadViewModels.SendCustomBrochure

<div id="pro_ModalBody" class="pro_CRM_Modal pro_SendBrochureModal">
    @Model.GetTitle()
        @if (Model.ShowClearNames)
            {
                <p>
                    To help save time, we've pre-filled the last client names you used. <a href="javascript:void(0)"
                        id="pro_ClearNames">Clear names ></a>
                </p>
                <br />
            }
    <fieldset>
        <legend class="nhs_Reader">Clients and Emails</legend>
    <div class="pro_SendBrochureTable">
        <table id="pro_TableRecipients" class="pro_TableRecipients">
             @foreach (var client in Model.ClientsEmails)
            {
                Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.FreeBrochure.AutoCompleteClientEmailName, client);
            }
           
        </table>
        @Html.HiddenFor(model => model.PlanId)
        @Html.HiddenFor(model => model.SpecId)
        @Html.HiddenFor(model => model.BuilderId)
        @Html.HiddenFor(model => model.MarketId)
        @Html.HiddenFor(model => model.CommunityId)
        @Html.HiddenFor(model => model.LeadType)
        @Html.HiddenFor(model => model.IsBilled)
        @Html.HiddenFor(model => model.IsMultiBrochure)
        @Html.HiddenFor(model => model.IsMvc)
        @Html.HiddenFor(model => model.SessionId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.Email)
    </div>
    <div class="pro_AddRecipients">
        <a id="pro_AddRecipients">Click here to add more recipients</a></div>

    </fieldset>
    <div class="pro_PreviewAndSendBrochure">
       @* @Html.PreviewBrochure(Model)*@
        <input class="btn btn_PreviewBrochure" type="button" value="Preview custom brochure" onclick="$jq.googlepush('Send Brochure', 'Modal', 'See a Preview'); window.open('@Html.PreviewBrochure(Model)');"/>
        <span class="pro_SendBrochure">
            <input type="button" class="btn btn_SendBrochure" value="Send Brochure" id="pro_sendBrochure" />
            <span style="display: none; width: 170px;" class="btn_SendBrochureFake" id="pro_SendBrochureFake">
            </span></span>
    </div>
    <div class="pro_AddRecipients">
        <a id="pro_Crm_CancelWindowLink" href="javascript:void(0)">Cancel</a></div>
    <!--Footer--->
    <div class="footer">
        <p>
            To customize your brochure header, go to <a id="pro_ManageMyTemplate" href="javascript:void(0)">
                Manage My Template.</a></p>
    </div>
    <div id="pro_Overlay">
    </div>
    <div id="pro_Confirm">
        <p>Would you like to upload your agent photo or agency logo before sending a brochure?</p>
        <br/>
        <input type="button" value="Yes" id="pro_yes" class="btn btnCss"/> <input type="button" value="No" id="pro_no" class="btn btnCss"/>
        @*<a href="javascript:void(0)" ></a> <a href="javascript:void(0)" id="pro_no" class="btn btnCss">No</a>*@
    </div>
    <div class="pro_neverShareInfoWithBuilder">
        <p>
            We will never share your client’s contact information with a builder.
        </p>  
    </div>
</div>

