﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.LeadViewModels.SendCustomBrochure

<div id="pro_AjaxUpdateSendCustomBrochure">
    @{ Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.FreeBrochure.PartialSendCustomBrochureForm, Model);}
</div>

<script id="addAnotherRecipientTemplate" type="text/x-kendo-template">
    <tr>
        <td><input name="ClientsEmails[#= index #].ClientId" id="ClientsEmails_#= index #__ClientId" type="hidden" value="0" class="pro_AutoCompleteCleanNumber" /></td>
        <td>
            <label>
                Client name:
            </label>
            <input class="pro_AutoCompleteClientName pro_AutoCompleteClean" id="ClientsEmails_#= index #__Name" name="ClientsEmails[#= index #].Name" type="text" value="" />
        </td>
        <td>
            <label>
                Email address:
            </label>
            <input class="pro_AutoCompleteClientEmail pro_AutoCompleteClean" id="ClientsEmails_#= index #__Email" name="ClientsEmails[#= index #].Email" type="text" value="" />
            #if (index > 2){#
                <a class="pro_DeleteClientNameEmail">Delete</a>
            #}#
        </td>
    </tr>
</script>

<script type="text/javascript">

    $jq(document).ready(function () {
        var parameters = {
            HavAgentPhotoOrAgencyLogo: @Model.HavAgentPhotoOrAgencyLogo.ToString().ToLower(),
            BrochureUrl: '@string.Format("{0}/{1}", !string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "", Pages.Brochuretab)',
            Url: '@Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.SendCustomBrochure)',
            autocompletehtmlUrl:'@Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.AutoCompleteHtml)',
            clientsautocomplete: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ClientsAutoComplete)",
            clientsautocompleteemail: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ClientsAutoCompleteEmail)",
            addAnotherRecipientTemplate : jQuery("#addAnotherRecipientTemplate").html()
        };
        var sendCustomBrochure = new NHS.Scripts.SendCustomBrochure(parameters);
        sendCustomBrochure.initialize();
    });
</script>

