﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="page">
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
    <div class="about–builder">
        <div class="title">
            <div class="bl-blue">                
                <h3>@MvcHtmlString.Create(string.Format("{2} {0}, {1}", Model.CommunityCity, Model.StateAbbr, LanguageHelper.About))</h3>                        
            </div>
            <div class="clr"></div>
        </div>
        <div class="content">
            <p>@Model.CityInformation</p>
        </div>
    </div>
</div>
   @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)