﻿@using Nhs.Web.UI.AppCode.Helper
<header class="nhs_CommContext">
    <h1>@LanguageHelper.WeAreSorry.ToMvcHtmlString()</h1>
    <h2>
        @LanguageHelper.ASiteErrorHasOccurred.ToMvcHtmlString()
    </h2>
</header>
<section class="nhs_SiteHelp nhs_HelpError clearfix">
    
    <h3>@LanguageHelper.PleaseGoBackAndTryAgainShort.ToMvcHtmlString()</h3>  

    <p>@LanguageHelper.IfYouContinueToExperienceErrors.ToMvcHtmlString() <a href="mailto:webmaster@newhomesource.com">webmaster@newhomesource.com</a>.</p>

    <p>@LanguageHelper.WeApologizeForAnyInconvenience.ToMvcHtmlString()</p>

    @*<div class="nhs_HomeSearch clearfix">
        <div class="clearfix">
            <h3>
                Try another search:</h3>            
                @Html.Partial(NhsMvc.PartnerBrandGroupViews_1.ViewsMobile.Home.SearchBar)
        </div>
    </div>*@
</section>