﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesSaveHome
<div class="nhs_ResItem nhs_HomeItem clearfix nhs_Row" style="position: relative">
    <h2>
        @Model.CommunityName <span>@LanguageHelper.By.ToMvcHtmlString() @Model.BrandName</span>
    </h2>
    <div class="nhs_ItemImg">
        <img src="@Model.ImagePath" id="imgHomeThumbnail" alt="@Model.Name" />
    </div>
    <h3>
        @Html.NhsLink(Model.PlanName, RedirectionHelper.GetHomeDetailPage(Model.SpecId > 0), Model.ToHomeDetail(), new { title = Model.PlanName }) @(!string.IsNullOrEmpty(Model.PriceDisplay) ? " " + LanguageHelper.From + " " + Model.PriceDisplay : "")
    </h3>
    <p>
        @Model.SalesOfficeAddress1.ToMvcHtmlString()
    </p>
    <p>
        @Model.StatusIconAlt.ToMvcHtmlString()
    </p>
    <ul class="nhs_Actions">
        <li>@Html.GetFreeBrochureLink(Model, "btn nhs_FreeBrochureBtn", "btn nhs_ViewBrochureBtn")</li>
        <li>@Model.PhoneNumber.CreateMobilePhone()</li>
        <li><a class="ir btn nhs_DeleteBtn nhs_HomeResItemDelete" data-isplan="@(!Model.IsPlan)" data-listingid="@(Model.IsPlan ? Model.PlanId : Model.SpecId)" href="#">@LanguageHelper.Delete.ToMvcHtmlString()</a> </li>
    </ul>
</div>
