﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.FavoritesSaveComm
<!-- COMMUNITY -->
<div class="nhs_ResItem nhs_CommResItem clearfix nhs_Row " style="position: relative">
    <h2>
        @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { title = Model.CommunityName })
        <span>@LanguageHelper.By.ToMvcHtmlString() @MvcHtmlString.Create(HttpUtility.HtmlDecode(@Model.BuilderName))</span>
    </h2>
    <div class="nhs_ItemImg">
        <img src="@Model.CommThumbnail" alt="@Model.CommunityName" />
    </div>
    <p>
        @Model.HomeCount
        @StringHelper.PrettyPrintRange(Model.PriceLow, 0, "c0", LanguageHelper.From).ToLower().ToMvcHtmlString()</p>
    <p>
        @Model.Address</p>
    <ul class="nhs_Actions">
        @if (!Model.InactiveSavedCommMessage)
            {
        <li>            
        @if (Model.IsComingSoon)
        {
            @Html.NhsLink(LanguageHelper.ComingSoon, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { @class = "btn nhs_ComingSoonBtn" })
        }
        else
        {
            @Html.GetFreeBrochureLink(Model, "btn nhs_FreeBrochureBtn", "btn nhs_ViewBrochureBtn")
        }
        </li>
        <li>@Model.PhoneNumber.CreateMobilePhone()</li>
        }
        else
        {
            @Html.Raw("<li><span>" + LanguageHelper.ThisCommunityIsNotLongerAvailable + "</span></li>")
        }        
        <li>
            <a class="ir btn nhs_DeleteBtn" data-builderid="@Model.BuilderId" data-communityid="@Model.CommunityId" href="#">@LanguageHelper.Delete.ToMvcHtmlString()</a>
        </li>
    </ul>
</div>
<!-- COMMUNITY - END -->
