﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SavePropertiesViewModel
<header class="nhs_SavedContext">
    <h1>
        <span class="ir nhs_Saved"></span>@LanguageHelper.SavedProperties.ToMvcHtmlString()</h1>
    @Html.NhsModalWindowLink(LanguageHelper.UpdateMyAccount, Pages.UpdateAccount)
    <a href="#"></a>
</header>
<section id="nhs_ResList" class="nhs_ResList nhs_SavedList clearfix">
    <!-- GROUPING -->
    <p id="nhs_GroupingBarHome" class="nhs_GroupingBar">
       @string.Format(LanguageHelper.Homes + ": {0} " + LanguageHelper.SavedPluralFemale, Model.NumberOfSavedHomes).ToMvcHtmlString()
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
    @if (Model.FavoritesSaveHome.Any())
    {
        foreach (var saveHome in Model.FavoritesSaveHome)
        {
            Html.RenderPartial(NhsMvc.Default.ViewsMobile.MyAccount.FavoritesHome, saveHome);
        }
        <hr class="hidden" />
    }
    <!-- GROUPING -->
    <p id="nhs_GroupingBarComm" class="nhs_GroupingBar">
        @string.Format(LanguageHelper.Communities + ": {0} " + LanguageHelper.SavedPluralFemale, Model.NumberOfSavedComms).ToMvcHtmlString()
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
    @if (Model.FavoritesSaveComm.Any())
    {
        foreach (var commSave in Model.FavoritesSaveComm)
        {
            Html.RenderPartial(NhsMvc.Default.ViewsMobile.MyAccount.FavoritesCommunity, commSave);
        }

    }
</section>
