﻿@model Nhs.Web.UI.AppCode.ViewModels.ForgotPasswordViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
<div id="nhs_Recover" class="nhs_Account nhs_Recover clearfix">
    <ul class="validation-summary-errors" id="nhs_Errors">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            foreach (var modelError in Html.ViewData.ModelState.Values.SelectMany(p => p.Errors))
            {
            <li>@modelError.ErrorMessage</li>
            }
        }
    </ul>
    <div id="nhs_RecoverForm">
        <h1>@LanguageHelper.RecoverYourPassword.ToMvcHtmlString()</h1>
        <p id="lblInstructions">@LanguageHelper.EnterYourEmailAddress.ToMvcHtmlString()</p>
        <fieldset>
            <legend>@LanguageHelper.RecoverYourPassword.ToMvcHtmlString()</legend>
            <p>
                <label for="Email">@LanguageHelper.EmailAddress.ToMvcHtmlString():</label>
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", autocomplete = "email" })
            </p>
            <p>
                <input type="button" value="@LanguageHelper.GetMyPassword" class="btnCss" id="btnsubmit" /></p>
            @Html.HiddenFor(model => model.IsAjaxRequest)
            @if (!string.IsNullOrEmpty(Model.FromPage))
            {
                <input id="FromPage" name="FromPage" type="hidden" value="@Model.FromPage"/>
            }
        </fieldset>
        <p>@Html.NhsLink(LanguageHelper.GoBackToSignIn, Pages.SignIn, !string.IsNullOrEmpty(Model.FromPage) && (!Model.FromPage.ToLower().StartsWith("/" + Pages.Home.ToLower()) || Model.FromPage.ToLower().StartsWith("/" + Pages.HomeDetail.ToLower())) ? new List<RouteParam> { new RouteParam(RouteParams.NextPage, HttpUtility.UrlEncode(Model.FromPage),RouteParamType.QueryString) } : null, new { id = "nhs_SignIn" })</p>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            ForgotPassword: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.ForgotPassword))",
            SignIn: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Login))",
            IsAjaxRequest:@Model.IsAjaxRequest.ToString().ToLower(),
            Translation: {
                MSG_ACCOUNT_INVALID_EMAIL: "@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL"
            }
        };
        var signIn = new NHS.Mobile.SignInRegister(parameters);
        signIn.ForgotPassword();
    });
</script>
