﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RegisterViewModel
<div id="nhs_Register" class="nhs_Account nhs_Register clearfix">
    <h1 class="visuallyhidden">@LanguageHelper.Register.ToMvcHtmlString()</h1>
    <ul class="nhs_Tabs clearfix">
        <li>
            @Html.NhsLink(LanguageHelper.SignIn, Pages.SignIn, !string.IsNullOrEmpty(Model.FromPage) && !Model.FromPage.ToLower().StartsWith("/" + Pages.Home.ToLower()) || Model.FromPage.ToLower().StartsWith("/" + Pages.HomeDetail.ToLower()) ? new List<RouteParam> { new RouteParam(RouteParams.NextPage, HttpUtility.UrlEncode(Model.FromPage), RouteParamType.QueryString) } : null, new { id = "nhs_SignInLink" })
        </li>
        <li><a class="active" id="nhs_NewAccount">@LanguageHelper.NewAccount.ToMvcHtmlString()</a></li>
    </ul>
    <ul class="validation-summary-errors" id="nhs_Errors">
    </ul>
    <fieldset id="nhs_AccountForm">
        <legend>@LanguageHelper.Register.ToMvcHtmlString()</legend>
        <p>
            <label for="FirstName">
                @LanguageHelper.Name.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Name, new { placeholder = LanguageHelper.Name, autocomplete = "name" })
        </p>
        <p>
            <label for="Email">
                @LanguageHelper.Email.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = LanguageHelper.Email, autocomplete = "email" })
        </p>
        <p>
            <label for="Password">
                @LanguageHelper.Password.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = LanguageHelper.Password })
        </p>
        <p>
            <label for="ZipCodeReg">
               @LanguageHelper.ZipCode.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.ZipCodeReg, new { placeholder = LanguageHelper.ZipCode, autocomplete = "postal-code" })
            <input id="International" name="International" type="checkbox" />
            <label for="International">
                @LanguageHelper.International.ToMvcHtmlString()</label>
        </p>
        <div>
            <p>
                @Html.CheckBoxFor(model => model.Newsletter)
                <label for="Newsletter">
                    @LanguageHelper.ContactMeWithFreeEmailNewsletters.ToMvcHtmlString()</label>
            </p>
            <p>
                @Html.CheckBoxFor(model => model.Promos)
                <label for="Promos">
                    @LanguageHelper.SendMeSpecialPromotions.ToMvcHtmlString()</label>
            </p>
        </div>
        <p>
            <input value="@LanguageHelper.CreateAccount" class="btnCss" type="button" id="btnsubmit" />
        </p>
        @if (!string.IsNullOrEmpty(Model.FromPage))
        {
            <input id="FromPage" name="FromPage" type="hidden" value="@Model.FromPage"/>
        }
        @Html.HiddenFor(model => model.IsAjaxRequest)
    </fieldset>
    <p>
        @string.Format(LanguageHelper.ReadOur, Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" }), Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse, new List<RouteParam>(), new { target = "_blank" })).ToMvcHtmlString()
    </p>
    <p class="or">
        <span>@LanguageHelper.Or.ToMvcHtmlString()</span></p>
    @Html.FbLogin()
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            SignIn: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Login))",
            NewAccount: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.RegisterMobile))",
            IsAjaxRequest:@Model.IsAjaxRequest.ToString().ToLower(),
            Translation: {
                MSG_ACCOUNT_INVALID_EMAIL: "@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL",
                MSG_ACCOUNT_INVALID_PASSWORD: "@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD",
                FirstAndLastName: "@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD @LanguageHelper.Required",
                MSG_REGISTER_INVALID_ZIP: "@LanguageHelper.MSG_REGISTER_INVALID_ZIP"
            }
        };
        var signIn = new NHS.Mobile.SignInRegister(parameters);
        signIn.Register();
    });
</script>
