﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LoginViewModel
<div id="nhs_SignIn" class="nhs_Account nhs_SignIn clearfix">
    <ul class="nhs_Tabs clearfix">
        <li><a class="active" id="nhs_SignInLink">@LanguageHelper.SignIn.ToMvcHtmlString()</a></li>
        <li>
            @Html.NhsLink(LanguageHelper.CreateAccount, Pages.Register, !string.IsNullOrEmpty(Model.FromPage) && !Model.FromPage.ToLower().StartsWith("/" + Pages.Home.ToLower()) || Model.FromPage.ToLower().StartsWith("/" + Pages.HomeDetail.ToLower()) ? new List<RouteParam> { new RouteParam(RouteParams.NextPage, HttpUtility.UrlEncode(Model.FromPage),RouteParamType.QueryString) } : null, new { id = "nhs_NewAccount" })
        </li>
    </ul>
    <ul class="validation-summary-errors" id="nhs_Errors">
    </ul>
    <fieldset id="nhs_LoginForm">
        <legend>@LanguageHelper.SignIn.ToMvcHtmlString()</legend>
        <p>
            <label for="Email">
                @LanguageHelper.Email.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = LanguageHelper.Email, autocomplete = "email" })
        </p>
        <p>
            <label for="Password">
                @LanguageHelper.Password.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = LanguageHelper.Password })
        </p>
        <p>
            <input value="@LanguageHelper.SignIn" class="btnCss" type="button" id="btnsubmit" />
        </p>
        @Html.HiddenFor(model => model.IsAjaxRequest)
        @if (!string.IsNullOrEmpty(Model.FromPage))
        {

            <input id="FromPage" name="FromPage" type="hidden" value="@Model.FromPage"/>
           
        }
    </fieldset>
    <p>
        @Html.NhsLink(LanguageHelper.ForgotYourPassword, Pages.RecoverPassword, !string.IsNullOrEmpty(Model.FromPage) && !Model.FromPage.ToLower().StartsWith("/" + Pages.Home.ToLower()) || Model.FromPage.ToLower().StartsWith("/" + Pages.HomeDetail.ToLower()) ? new List<RouteParam> { new RouteParam(RouteParams.NextPage, HttpUtility.UrlEncode(Model.FromPage), RouteParamType.QueryString) } : null, new { id = "nhs_RecoverPassword" })</p>
    <p class="or">
        <span>@LanguageHelper.Or.ToMvcHtmlString()</span></p>
    @Html.FbLogin()
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var parameters = {
            SignIn: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Login))",
            NewAccount: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Register))",
            RecoverPassword: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.ForgotPassword))",
            IsAjaxRequest: @Model.IsAjaxRequest.ToString().ToLower(),
            Translation: {
                MSG_ACCOUNT_INVALID_EMAIL: "@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL",
                MSG_ACCOUNT_INVALID_PASSWORD: "@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD",
                EnterPassword: "@LanguageHelper.EnterPassword"
            }
        };
        var signIn = new NHS.Mobile.SignInRegister(parameters);
        signIn.SignIn();
    });
</script>
