﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Web.UI.AppCode.ViewModels.UpdateAccountViewModel
<div id="nhs_Register" class="nhs_Account nhs_Register nhs_UpdateAccount clearfix">
    <header>        
        <h1 class="nhs_TitleBrochure">
            @LanguageHelper.UpdateMyAccount.ToMvcHtmlString()</h1>
    </header>
    <ul class="validation-summary-errors" id="nhs_Errors">
    </ul>
    <fieldset id="nhs_UpdateAccount">
        <p>
            <label for="FirstName">
                @LanguageHelper.FirstName.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = LanguageHelper.FirstName })
        </p>
        <p>
            <label for="Email">
                @LanguageHelper.Email.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Email, new { type = "email", placeholder = LanguageHelper.Email })
        </p>
        <p>
            <label for="Password">
               @LanguageHelper.Password.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = LanguageHelper.Password })
        </p>
        <p>
            <label for="ZipCodeReg">
                @LanguageHelper.ZipCode.ToMvcHtmlString()</label>
            @Html.TextBoxFor(model => model.ZipCodeReg, !string.IsNullOrEmpty(Model.ZipCodeReg) ?
                         new Dictionary<string, object> { { "placeholder", LanguageHelper.ZipCode } } :
                                  new Dictionary<string, object> { { "placeholder", LanguageHelper.ZipCode }, { "disabled", "disabled" } })
            <input id="International"  name="International" type="checkbox" @(!string.IsNullOrEmpty(Model.ZipCodeReg) ? "" : "checked=checked")/>
            <label for="International">
                @LanguageHelper.International.ToMvcHtmlString()</label>
        </p>
        <div>
            <p>
                @Html.CheckBoxFor(model=>model.Newsletter)
                <label for="Newsletter">@LanguageHelper.ContactMeWithFreeEmailNewsletters.ToMvcHtmlString()</label>
            </p>
            <p>
                  @Html.CheckBoxFor(model => model.Promos)
                <label for="Promos">@LanguageHelper.SendMeSpecialPromotions.ToMvcHtmlString()</label>
            </p>
        </div>
        <p>
            <input value="@LanguageHelper.UpdateMyAccount" class="btnCss" type="button" id="btnsubmit" />
        </p>
    </fieldset>
    <p>@string.Format(LanguageHelper.ReadOur, Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" }), @Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse, new List<RouteParam>(), new { target = "_blank" })).ToMvcHtmlString()</p>
</div>
@if (!Model.IsAjaxRequest)
{
    <script src="@Resources.GlobalResourcesMobile.Default.js.Account.UpdateAccount_js" type="text/javascript"></script>
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            UpdateAccount: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.UpdateAccount))",
            FirstAndLastNameRequired: "@LanguageHelper.FirstAndLastNameRequired.ToMvcHtmlString()",
            MSG_ACCOUNT_NO_EMAIL: "@LanguageHelper.MSG_ACCOUNT_NO_EMAIL.ToMvcHtmlString()",
            MSG_REGISTER_INVALID_ZIP: "@LanguageHelper.MSG_REGISTER_INVALID_ZIP.ToMvcHtmlString()",
            MSG_ACCOUNT_INVALID_PASSWORD: "@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD.ToMvcHtmlString()",
            Message: "@LanguageHelper.YourInformationHasBeenUpdated"
        };
        var updateAccount = new NHS.Mobile.UpdateAccount(parameters);
        updateAccount.init();
    });
</script>
