﻿@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel     
<div class="address">
    @if (!string.IsNullOrEmpty(Model.Address1))
    {
        <p>@string.Concat(Model.Address1, " ", Model.Address2)</p>
        <p>
            @MvcHtmlString.Create(string.Concat(Model.CommunityCity, ", ", Model.CommunityState, " ", Model.ZipCode))</p> 
    }</div>
<div class="direction">
    @MvcHtmlString.Create(Model.DrivingDirections)
</div>
