﻿@using System.Globalization
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="page">
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
    <div id="MapDirections" class="directions-to-sales">
        <a name="MapDirectionsSection"></a>
        <div class="title">
            <div class="bl-blue">
                <h3>
                    @LanguageHelper.DirectionsToSalesCenter.ToMvcHtmlString() <span class="title-google-link"><a href="@string.Format("https://maps.google.com/maps?q={0},{1}&hl=en&sll={0},{1}&sspn=0.008733,0.021136&t=h&z=16", Model.Latitude.ToString(new NumberFormatInfo()), @Model.Longitude.ToString(new NumberFormatInfo()))" target="_blank">@string.Format("{0} {1}", LanguageHelper.ViewTheGoogleMapOfThis, Model.IsPageCommDetail ? LanguageHelper.Community : LanguageHelper.Home)</a></span>
                </h3>
            </div>
            <div class="clr">
            </div>
        </div>
        <div id="Map" class="map">
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.MapAndDirections.Map)
        </div>
        <div class="content" id="Directions">
            @if (!string.IsNullOrEmpty(Model.DrivingDirections) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
                <div class="bl-grey">
                    <div class="content-wrapper">
                        <div>@Html.Partial(NhsMvc.Default.Views.PdfBrochure.MapAndDirections.Directions)</div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            }
            </div>
    </div>
</div>
@Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
