﻿@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel
<div id="nhs_NewsletterSignUp">
<p>
    Thank you.
</p>
<p>
    Check your inbox this week for the latest updates on new communities, homes, promotions
    and news in @Model.MarketName.
</p>
<p>
    @Html.CommunityResultsLink("Click here to search for new homes in " + Model.MarketName, Model.MarketId)
</p>   
<div class="nhs_Clear"></div>
</div>
