﻿@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel   
<div id="nhs_NewsletterSignUp">
    <p>
        Sign Up for weekly market updates
    </p>
    <div class="nhs_NewsletterSignUpErrors">
        @Html.ValidationSummary()
    </div>
    <p class="nhs_Text">
        Considering a new home? Stay up-to-date on new communities, homes, builder promotions
        and news in your market with this once-a-week email, delivered to your inbox every
        Thursday.
    </p>
    @Html.Hidden("PartnerName", Model.Globals.PartnerInfo.PartnerName)
    @Html.Hidden("PartnerSiteUrl", Model.Globals.PartnerSiteUrl)

    <p>
        @Html.LabelFor(model => model.MarketId, "Location:")
        @Html.DropDownListFor(model => model.MarketId, new SelectList(
                                                                 Model.MarketList.Select(x => new { Value = x.MarketId, Text = x.State.StateName + ", " + x.MarketName }),
                                                                 "Value", "Text"), new { @class = "nhs_newletter_dropMarket" })
    </p>
    <p>
        @Html.LabelFor(m => m.Email,"Email:")
        @Html.TextBoxFor(m => m.Email, new { placeholder ="Your email address" })
    
        <input type="button" class="btnCss btn_SubmitNewsLetter" value="Sign Up" />
        <input type="button" class="btnCss btn_Loading" id="fakeInputLoading" style="display:none;" value="Sign Up" disabled="disabled" onclick="return false;" />
    </p>
    <div class="nhs_Clear"></div>
</div>
