﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel
<p>    
    Get the latest  @Model.MarketName news and deals delivered weekly!
</p>

<div class="nhs_NewsletterSignUpErrors">
    @Html.ValidationSummary()
</div>

<p>
    @Html.LabelFor(m => m.Email,"Email:")
    @Html.TextBoxFor(m => m.Email, new { placeholder ="Your email address" })
    <input type="button" class="btnCss btn_SubmitNewsLetter" value="Sign Up" />
    <input type="button" class="btnCss btn_Loading" id="fakeInputLoading" style="display:none;" value="Sign Up" disabled="disabled" onclick="return false;" /></p>

@Html.HiddenFor(h => h.MarketId)
@Html.Hidden("IsSmallSignUpRequest", true)
@Html.HiddenFor(h => h.PartnerName)
@Html.HiddenFor(h => h.PartnerSiteUrl)

<p class="nhs_LegalText">We will never share your email address.<br />
    @Html.NhsLink("Privacy policy", Pages.PrivacyPolicy, null)</p>