﻿@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel
<p>
    Thank you.
</p>
<p>
    Check your inbox this week for the latest updates on new communities, homes, promotions
    and news in @Model.MarketName.
</p>
