﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel

@if ((new List<int>
        {
            (int) PartnersConst.NewHomeSource,
            (int) PartnersConst.Move
        }).Any(p => p == NhsRoute.PartnerId))
{
    <script type="text/javascript">
        function HideLoading() {
            $jq('#fakeInputLoading').hide();
        }

        function ValidateNewsLetterValues(inputBtn) {
            $jq(inputBtn).hide();
            $jq('#fakeInputLoading').show();
            var returnValue = true;
            var email = $jq('#Email').val();
            email = $jq.trim(email);
            if (email === "") {
                $jq('.nhs_NewsletterSignUpErrors').html('<p class="nhs_Error">Please enter your email.</p>');
                returnValue = false;
                HideLoading();
                $jq(inputBtn).show();
            }
            return returnValue;
        }
    </script>

    <div id="nhs_NewsletterSignUp">
        @{ Html.RenderPartial(NhsMvc.Default.Views.Newsletter.PartialSmallSignUpInfo, Model); }
    </div>
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).off("click", ".btn_SubmitNewsLetter").on("click", ".btn_SubmitNewsLetter", function () {
            var self = this;
            if (ValidateNewsLetterValues(self)) {
                var input = jQuery("#nhs_NewsletterSignUp input").serialize();

                jQuery.ajax({
                    url: "@(Html.GetActionUrl(NhsMvc.Newsletter.Name, NhsMvc.Newsletter.ActionNames.SignUp))",
                    type: "post",
                    cache: false,
                    data: input,
                    success: function (data) {
                        jQuery("#nhs_NewsletterSignUp").html(data);
                    }
                });
            }
        });
    });
    if (typeof HideLoading !== "undefined")
        HideLoading();
</script>