﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.NewsletterViewModel

<script type="text/javascript">
    function HideLoading() {
        $jq("#fakeInputLoading").hide();
    }

    function ValidateNewsLetterValues(inputBtn) {
        $jq(inputBtn).hide();
        $jq("#fakeInputLoading").show();
        var returnValue = true;
        var email = $jq("#Email").val();
        email = $jq.trim(email);
        if (email === "") {
            $jq(".nhs_NewsletterSignUpErrors").html("<p class=\"nhs_Error\">Please enter your email.</p>");
            returnValue = false;
            HideLoading();
            $jq(inputBtn).show();
        }

        return returnValue;
    }
</script>

<div id="nhs_NewsletterSignUpPage">
    <div id="newsletterMainDiv">
        @{Html.RenderPartial(NhsMvc.Default.Views.Newsletter.PartialSignUp, Model);}
    </div>
    <p class="nhs_LegalText">
        We will never share your email address.
        @Html.NhsLink("Privacy policy", Pages.PrivacyPolicy, null)
    </p>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).off("click", ".btn_SubmitNewsLetter").on("click", ".btn_SubmitNewsLetter", function () {
            var self = this;
            if (ValidateNewsLetterValues(self)) {
                var input = jQuery("#newsletterMainDiv input,select").serialize();

                jQuery.ajax({
                    url: "@(Html.GetActionUrl(NhsMvc.Newsletter.Name, NhsMvc.Newsletter.ActionNames.SignUp))",
                    type: "post",
                    cache: false,
                    data: input,
                    success: function (data) {
                        jQuery("#newsletterMainDiv").html(data);
                    }
                });
            }
        });
    });
    HideLoading();
</script>