﻿@model Nhs.Web.UI.AppCode.ViewModels.Tv.NhsTvMarketViewModel
<div id="nhs_TvSegments" class="clearfix">
    @if (Model.MarketContent.Videos != null)
    {
        <h3 id="ViewSegments">
            View segments
        </h3>
        <div id="nhs_TvMarketSegmentsSlides">
            <div class="nhs_TvVideoPage">
                <ul id="nhs_TvSegmentSlider" class="bxslider">
                    @for (var videoId = 0; videoId < Model.MarketContent.Videos.Count(); videoId++)
                    {
                        var video = Model.MarketContent.Videos[videoId];
                        <li class="nhs_TvVideoItem">
                            <div class="nhs_ItemImages" data-videoid="@video.VideoId">
                                <div class="nhs_ItemImagesImage">
                                    <img src="@video.Thumbnail" alt="Alternate Text" />
                                    <span class="nhs_VideoImgIcon"></span>
                                </div>
                            </div>
                            <p>
                                <strong>@video.Title</strong>
                                <br />
                                @video.Caption
                            </p>
                            <span class="clearfix"></span>
                        </li>
                    }
                </ul>
            </div>
        </div>

        if (Model.MarketContent.Videos.Count() > 1)
        {
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery("#nhs_TvSegmentSlider").bxSlider({
                        responsive: true,
                        infiniteLoop: true,
                        minSlides: 1,
                        maxSlides: 1,
                        pager: true,
                        controls: false
                    });
                });
            </script>
        }
    }
    <span class="clearfix"></span>
</div>
