﻿<aside id="nhs_SocialFooter">
    <ul class="clearfix">
        <li><a id="nhs_Facebook" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Like us on Facebook" href="https://www.facebook.com/NewHomeSource">Facebook</a></li>
        <li><a id="nhs_Twitter" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Follow us on Twitter" href="https://www.twitter.com/NewHomeSource">Twitter</a></li>
        <li><a id="nhs_Pinterest" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="See us on Pinterest" href="https://www.pinterest.com/newhomesource/">Pinterest</a></li>
        <li><a id="nhs_YouTube" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="View Our Videos on YouTube" href="https://www.youtube.com/user/NewHomeSource">YouTube</a></li>
        <li><a id="nhs_GooglePlus" target="_blank" onclick="jQuery.SetDataLayerPair('siteSocialMediaS');" title="Connect with us on Google+" href="https://plus.google.com/102652212865916066440/posts">Google+</a></li>
    </ul>
</aside>
