﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="2" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@LanguageHelper.NewQuickMoveInHomes.ToMvcHtmlString()</b></font>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            @for (int i = 0; i < Model.QuickMoveinHomes.Count; i++)
                            {
                                <td align="center" valign="top" style="width:33%;padding:4px 4px 8px 0;">
                                    @Html.NhsImageLink(Model.QuickMoveinHomes[i].HomeThumbnail(), RedirectionHelper.GetHomeDetailPage(Model.QuickMoveinHomes[i].SpecId > 0), Model.QuickMoveinHomes[i].ToHomeDetail().IncludeUtmParams("brochure", "email", "place" + i + " - thumb", "new quick move-in homes", "newhomesinsider"), null, new { title = Model.QuickMoveinHomes[i].PlanName, alt = Model.QuickMoveinHomes[i].PlanName, width = "160", height = "100", style = "width:100%;max-width:160px;height:auto;" }, false, false, false, true)
                                    <br />
                                    <table width="100%" style="width: 97%;" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td bgcolor="#ffffff" align="center" style="background: #ffffff; border: 1px solid #d1d1d1; padding: 2px; border-radius: 3px; font-size: 11px;">
                                                <font size="1" color="@Model.EmailTemplateLinkColor" face="Arial,Helvetica,sans-serif" style="font-size: 12px;">
                                                    @Model.QuickMoveinHomes[i].FormatBedrooms() @Model.QuickMoveinHomes[i].FormatBathrooms()
                                                </font>
                                                <font size="1" color="@Model.EmailTemplateLinkColor" face="Arial,Helvetica,sans-serif" style="font-size: 12px;">
                                                    @Model.QuickMoveinHomes[i].Price.ToString("$###,####")
                                                </font>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <font size="3" face="Arial,Helvetica,sans-serif" style="font-size: 14px;">
                                        <b>
                                            @Html.NhsLink(Model.QuickMoveinHomes[i].ListingTitle(), RedirectionHelper.GetHomeDetailPage(Model.QuickMoveinHomes[i].SpecId > 0), Model.QuickMoveinHomes[i].ToHomeDetail().IncludeUtmParams("brochure", "email", "place" + i + " - link", "new quick move-in homes", "newhomesinsider"), new {title = Model.QuickMoveinHomes[i].GetHomePlanName(Model.QuickMoveinHomes[i].Plan, Model.QuickMoveinHomes[i].Spec), style = "color:" + Model.EmailTemplateLinkColor + ";text-decoration:none;"}, false, true)
                                        </b>
                                    </font><br />
                                    <font size="1" color="#666666" face="Arial,Helvetica,sans-serif" style="font-size:11px;">
                                        @Model.QuickMoveinHomes[i].CommunityName<br />
                                        @string.Concat(Model.QuickMoveinHomes[i].City, ", ", Model.QuickMoveinHomes[i].State, " ", Model.QuickMoveinHomes[i].PostalCode)<br />
                                        @LanguageHelper.By.ToMvcHtmlString() @Model.QuickMoveinHomes[i].BrandName
                                    </font>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:4px 0 8px 0;" align="right">
                                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                                    <tr>
                                        <td style="border: 2px solid #000000; border-top: 2px solid #cccccc; border-left: 2px solid #cccccc; padding: 4px 8px;">
                                            <font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                                <b>
                                                    @(Html.NhsLink(LanguageHelper.ViewAllQuickMoveInListings, RedirectionHelper.GetHomeResultsPage(), RedirectionHelper.ToResultsParams(Model.MarketId).ParameterNewLetterQuickMoving(), new { style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;" }, false, true))
                                                </b>
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
