﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td colspan="2" bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="2" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@LanguageHelper.NewsAboutNewHomeSales.ToMvcHtmlString()</b></font>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 6px 8px 8px 8px;">
                <font size="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:12px;">
                    @foreach (var tweet in Model.Tweets)
                    {
                        <b>@tweet.CreatedDate.ToShortDateString()</b>  @tweet.TextAsHtml.ToMvcHtmlString()
                        <br /><br />                    
                    }
                </font>
            </td>   
        </tr> 
        <tr>
            <td style="padding:4px 0 8px 0;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td>
                            <a href="@( Model.FacebookUrl?? "http://www.facebook.com/pages/New-Home-Source-Professional/126778360685109")"><img src="http://resources.newhomesource.com/GlobalResourcesMvc/Default/images/icons/facebook_32x32.gif" alt="" style="vertical-align:middle;" border="0"></a></td>
                        <td style="padding-left:5px;">
                        <font size="1" color="#333333" face="Arial,Helvetica,sans-serif" style="font-size:11px;"><a href="@( Model.FacebookUrl?? "http://www.facebook.com/pages/New-Home-Source-Professional/126778360685109")" style="color:#333333;text-decoration:none;"><b>@LanguageHelper.FollowUsOnFacebook.ToMvcHtmlString()!</b></a></font></td>
                    </tr>
                </tbody></table>                                                                                     
            </td>
            <td align="right" style="padding:4px 0 8px 4px;">
                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                    <tbody><tr>
                        <td style="border:2px solid #000000;border-top:2px solid #cccccc;border-left:2px solid #cccccc;padding:4px 8px;"><font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size:11px;"><b><a href="@(NhsRoute.IsBrandPartnerNhsPro ? "https://twitter.com/nhspro" : "https://twitter.com/newhomesource")" style="color:@Model.EmailTemplateButtonTextColor;text-decoration:none;">@LanguageHelper.ViewMoreNewsOnTwitter.ToMvcHtmlString()</a></b></font></td>
                    </tr>
                </tbody></table>                                                                          
            </td>
        </tr>                        
    </tbody>
</table>
