﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="2" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>Become a New Home Expert</b></font>
            </td>
        </tr>
        <tr>
            <td style="padding:8px 8px 0 8px;">
                    <font size="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:12px;">
                    <b>Do you have buyers who may be interested in new homes?</b> Sign up for a few account on NewHomeSourceProfessional.com to access agent-only tools and information, including exclusive agent promotions and events, builder commission policies, and the ability to communicate directly with both buyers and builders.
                    </font>
            </td>
        </tr>
        <tr>
            <td style="padding:6px 0 8px 0;" align="right">
                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                    <tr>
                        <td style="border:2px solid #000000;border-top:2px solid #cccccc;border-left:2px solid #cccccc;padding:4px 8px;"><font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size:11px;"><b>@Html.NhsLink("Sign Up", Pages.Register, new List<RouteParam>().IncludeUtmParams("brochure", "email", "link", "new agent registration", "newhomesinsider"), new { style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;" }, false, true)</b></font></td>
                    </tr>
                </table>
            </td>                                                                                
        </tr>
    </tbody>
</table>