﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>  
        <tr>
            <td colspan="2" bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="2" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@LanguageHelper.FeaturedNewHomeCommunities.ToMvcHtmlString()</b></font>
            </td>
        </tr>
        @for (int i = 0; i < Model.FeaturedCommunities.Count; i ++ )
        {
            <tr>
                <td width="120" style="padding: 4px 0;">
                    @Html.NhsImageLink(Model.FeaturedCommunities[i].CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.FeaturedCommunities[i].ToCommunityDetail().IncludeUtmParams("brochure", "email", "place" + i + " - thumb", Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "featured new home comms" : "featured communities", "newhomesinsider"), null, new { width = "120", height = "80" }, false, false, false, true)<br/>
                    @if (@Model.FeaturedCommunities[i].MatchingHomes > 0)
                    {
                        <table cellpadding="0" cellspacing="0" border="0"><tbody><tr><td width="120" align="center" bgcolor="#ffffff" style="background: #ffffff; border: 1px solid #d1d1d1; padding: 2px 0; border-radius: 3px;"><font size="1" color="@Model.EmailTemplateLinkColor" face="Arial,Helvetica,sans-serif" style="font-size: 12px;">@Model.FeaturedCommunities[i].MatchingHomes new homes</font></td></tr></tbody></table>
                    }
                </td>
                <td style="padding:4px 0 4px 8px;line-height:1.3;">
                    <font size="3" face="Arial,Helvetica,sans-serif" style="font-size:14px;"><b>@Html.NhsLink(Model.FeaturedCommunities[i].CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.FeaturedCommunities[i].ToCommunityDetail().IncludeUtmParams("brochure", "email", "place" + i + " - link", Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "featured new home comms" : "featured communities", "newhomesinsider"), new { style = "color:" + Model.EmailTemplateLinkColor + ";text-decoration:none;" }, false, true)</b></font>
                    <font size="1" color="#666666" face="Arial,Helvetica,sans-serif" style="font-size:11px;">@Model.FeaturedCommunities[i].CommunityItemLocation()</font><br />toc
                    <font size="2" color="#666666" face="Arial,Helvetica,sans-serif" style="font-size:12px;">@Model.FeaturedCommunities[i].CommunityItemPriceRange() @((Model.FeaturedCommunities[i].PriceLow == 0 && Model.FeaturedCommunities[i].PriceHigh == 0) ? "" : "|") @Model.FeaturedCommunities[i].QuickMoveinHomesCount @LanguageHelper.QuickMoveInhomes.ToMvcHtmlString()<br />
                    by @Model.FeaturedCommunities[i].BrandName</font><br />
                    @if (Model.FeaturedCommunities[i].HasHotHome || Model.FeaturedCommunities[i].PromoId != 0 || Model.FeaturedCommunities[i].Green || Model.FeaturedCommunities[i].CommunityType.ToLower() == "comingsoon" || Model.FeaturedCommunities[i].CommunityType.ToLower() == "grandopening" || Model.FeaturedCommunities[i].CommunityType.ToLower() == "closeout" || Model.FeaturedCommunities[i].HasEvents || Model.FeaturedCommunities[i].HasPromos)
                    {
                        if (Model.FeaturedCommunities[i].HasHotHome && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" alt="@LanguageHelper.HotHome" />
                        }
                        if (Model.FeaturedCommunities[i].HasPromos && (Model.FeaturedCommunities[i].Promotions == null || Model.FeaturedCommunities[i].Promotions.Count == 0))
                        {
                            if (NhsRoute.IsBrandPartnerNhsPro)
                            {
                                if (Model.FeaturedCommunities[i].HasConsumerPromos)
                                {
                                    <img src="@GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png" alt="" />
                                }
                                if (Model.FeaturedCommunities[i].HasAgentPromos && Model.FeaturedCommunities[i].IsBilled)
                                {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png" alt="" />
                                }
                            }
                            else if (Model.FeaturedCommunities[i].HasConsumerPromos)
                            {
                                <img src="@GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="@LanguageHelper.SpecialOffers" />
                            }
                        }
                        if (Model.FeaturedCommunities[i].Green)
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_green_png" alt="@LanguageHelper.GreenFeatures" />
                        }
                        if (Model.FeaturedCommunities[i].CommunityType.ToLower() == "comingsoon" && Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_coming_soon_png" alt="@LanguageHelper.ComingSoon" />
                        }
                        if (Model.FeaturedCommunities[i].CommunityType.ToLower() == "grandopening")
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_grand_opening_png" alt="@LanguageHelper.GrandOpening" />
                        }
                        if (Model.FeaturedCommunities[i].CommunityType.ToLower() == "closeout")
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_closeout_png" alt="@LanguageHelper.CloseOut" />
                        }
                        if (Model.FeaturedCommunities[i].IsBilled && Model.FeaturedCommunities[i].HasEvents && (Model.FeaturedCommunities[i].Events == null || Model.FeaturedCommunities[i].Events.Count == 0) && Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                        {
                            <img src="@GlobalResourcesMvc.Default.images.icons.icon_event_png" alt="" />
                        }
                    }                    
                </td>
            </tr>
            <tr><td colspan="2" style="border-top:1px solid #e5e5e5;"></td></tr>
        }
        <tr>
            <td colspan="2" style="padding:4px 0 8px 0;" align="right">
                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                    <tr>
                        <td style="border: 2px solid #000000; border-top: 2px solid #cccccc; border-left: 2px solid #cccccc; padding: 4px 8px;"><font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                            <b>
                                @Html.NhsLink(LanguageHelper.ViewAllCommunities, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.Market.MarketId).IncludeUtmParams("brochure", "email", "view all communities", Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove ? "featured new home comms" : "featured communities", "newhomesinsider"), new {style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;"}, false, true)
                            </b>
                        </font></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>                                                                 
