﻿@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel
@using Nhs.Library.Constants;
@using Nhs.Library.Enums
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers


<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td colspan="2" bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="3" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@Model.Market.MarketName @LanguageHelper.FindNewHomeCommunities.ToMvcHtmlString()</b></font>
            </td>
        </tr>
        @for (int i = 0; i < Model.Communities.Count; i++)
        {
            <tr>
                <td width="120" style="padding:4px 0;">
                    @Html.NhsImageLink(Model.Communities[i].CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.Communities[i].ToCommunityDetail().IncludeUtmParams("brochure", "email", "place" + i + " - thumb", "new home communities", "newhomesinsider"), null, new { width = "120", height = "80" }, false, false, false, true)<br />
                    @if (@Model.Communities[i].MatchingHomes > 0)
                    {
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td width="120" align="center" bgcolor="#ffffff" style="background: #ffffff; border: 1px solid #d1d1d1; padding: 2px 0; border-radius: 3px;">
                                        <font size="1" color="@Model.EmailTemplateLinkColor" face="Arial,Helvetica,sans-serif" style="font-size: 12px;">@Model.Communities[i].MatchingHomes @LanguageHelper.NewHomes.ToMvcHtmlString()</font>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </td>
                <td style="padding:4px 0 4px 8px;line-height:1.3;">
                    <font size="3" face="Arial,Helvetica,sans-serif" style="font-size: 14px;">
                        <b>
                            @Html.NhsLink(Model.Communities[i].CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.Communities[i].ToCommunityDetail().IncludeUtmParams("brochure", "email", "place" + i + " - link", "new home communities", "newhomesinsider"), new { style = "color:" + Model.EmailTemplateLinkColor + ";text-decoration:none;" }, false, true)
                        </b>
                    </font>
                    <font size="1" color="#666666" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                        @Model.Communities[i].CommunityItemLocation()
                    </font>
                    <br />
                    <font size="2" color="#666666" face="Arial,Helvetica,sans-serif" style="font-size:12px;">
                        @Model.Communities[i].CommunityItemPriceRange() @((Model.Communities[i].PriceLow == 0 && Model.Communities[i].PriceHigh == 0) ? "" : "|") @Model.Communities[i].QuickMoveinHomesCount @LanguageHelper.QuickMoveInhomes.ToMvcHtmlString()<br />
                        by @Model.Communities[i].BrandName
                    </font><br />
                    @if (Model.Communities[i].HasHotHome || Model.Communities[i].PromoId != 0 || Model.Communities[i].Green || Model.Communities[i].CommunityType.ToLower() == "comingsoon" || Model.Communities[i].CommunityType.ToLower() == "grandopening" || Model.Communities[i].CommunityType.ToLower() == "closeout" || Model.Communities[i].HasEvents || Model.Communities[i].HasPromos)
                    {
                        if (Model.Communities[i].HasHotHome && NhsRoute.BrandPartnerId != Convert.ToInt32(PartnersConst.Pro))
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png"
                                 alt="Hot Home" />
                        }
                        if (Model.Communities[i].HasPromos && (Model.Communities[i].Promotions == null || Model.Communities[i].Promotions.Count == 0))
                        {
                            if (NhsRoute.IsBrandPartnerNhsPro)
                            {
                                if (Model.Communities[i].HasConsumerPromos)
                                {
                                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_consumer_png"
                                         alt="@LanguageHelper.ConsumerPromo" />
                                }
                                if (Model.Communities[i].HasAgentPromos && Model.Communities[i].IsBilled)
                                {
                                    <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_promo_agent_png"
                                         alt="@LanguageHelper.AgentPromo" />
                                }
                            }
                            else if (Model.Communities[i].HasConsumerPromos)
                            {
                                <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="@LanguageHelper.SpecialOffers" />
                            }
                        }
                        if (Model.Communities[i].Green)
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_green_png"
                                 alt="@LanguageHelper.GreenFeatures" />
                        }
                        if (Model.Communities[i].CommunityType.ToLower() == "comingsoon")
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_coming_soon_png"
                                 alt="@LanguageHelper.ComingSoon" />
                        }
                        if (Model.Communities[i].CommunityType.ToLower() == "grandopening")
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_grand_opening_png"
                                 alt="@LanguageHelper.GrandOpening" />
                        }
                        if (Model.Communities[i].CommunityType.ToLower() == "closeout")
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_closeout_png"
                                 alt="@LanguageHelper.CloseOut" />
                        }
                        if (Model.Communities[i].IsBilled && Model.Communities[i].HasEvents && (Model.Communities[i].Events == null || Model.Communities[i].Events.Count == 0) && NhsRoute.IsBrandPartnerNhsPro)
                        {
                            <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_event_png"
                                 alt="@LanguageHelper.Event" />
                        }
                    }
                </td>
            </tr>
            <tr><td colspan="2" style="border-top:1px solid #e5e5e5;"></td></tr>
        }
        <tr>
            <td colspan="2" style="padding:4px 0 8px 0;" align="right">
                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                    <tr>
                        <td style="border: 2px solid #000000; border-top: 2px solid #cccccc; border-left: 2px solid #cccccc; padding: 4px 8px;"><font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                <b>
                                    @Html.NhsLink(LanguageHelper.ViewAllCommunities, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.Market.MarketId).IncludeUtmParams("brochure", "email", "view all communities", "new home communities", "newhomesinsider"), new {style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;"}, false, true)
                                </b>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
