﻿@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants;
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers

    <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                    <font size="3" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@LanguageHelper.AgentOnlyEvents.ToMvcHtmlString()</b></font></td>
            </tr>
        </tbody>
    </table>
    <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            @for (int i = 0; i < Model.Events.Count; i ++ )
            {
                <tr>
                    <td style="padding:8px 8px 0 8px;">
                        <font size="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:11px;">
                            <b>@Html.NhsLink(Model.Events[i].Title + "-" + Model.Events[i].EventDateTextFormatted, Pages.CommunityDetail, new List<RouteParam> { new RouteParam(RouteParams.Builder, Model.Events[i].BuilderId.ToString()), new RouteParam(RouteParams.Community, Model.Events[i].CommunityId.ToString()) }.IncludeUtmParams("brochure", "email", "place" + i, "agent-only events", "newhomesinsider"), new { style = "font-size:12px;color:" + Model.EmailTemplateLinkColor + ";text-decoration:none;" }, false, true)</b>
                            <br />
                            @Model.Events[i].CommunityName @LanguageHelper.By.ToMvcHtmlString() @Model.Events[i].BuilderName <br />@Model.Events[i].Address
                        </font>
                    </td>
                </tr>
            }
            <tr>
                <td style="padding:8px 0 8px 0;" align="right">
                    <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                        <tr>
                            <td style="border: 2px solid #000000; border-top: 2px solid #cccccc; border-left: 2px solid #cccccc; padding: 4px 8px;"><font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                <b>
                                    @Html.NhsLink(LanguageHelper.ViewAllEvents, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.MarketId).ParametersNewLetterEvents(), new {style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;"}, false, true)
                                </b>
                            </font></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
