﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ProNewsletterViewModel

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;">
    <tbody>
        <tr>
            <td bgcolor="@Model.EmailTemplateSubHeaderColor" style="background:@Model.EmailTemplateSubHeaderColor;padding:4px 10px;">
                <font size="2" color="@Model.EmailTemplateSubHeaderTextColor" face="Arial,Helvetica,sans-serif" style="font-size:16px;"><b>@LanguageHelper.NewBuilderPromotions.ToMvcHtmlString()</b></font></td>
        </tr>
        @for (int i = 0; i < Model.Promotions.Count; i++ )
        {
            <tr>
                <td style="padding:10px 8px 0 8px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td colspan="2" style="padding-bottom:2px;">
                                    <font size="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:11px;">
                                        <b>@Html.NhsLink(Model.Promotions[i].CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.Promotions[i].ToCommunityDetail().IncludeUtmParams("brochure", "email", "place" + i, "new builder promotions", "newhomesinsider"), new { style = "font-size:12px;color:" + Model.EmailTemplateLinkColor + ";text-decoration:none;" }, false, true)</b>
                                        @LanguageHelper.By.ToMvcHtmlString() @Model.Promotions[i].BuilderName
                                    </font></td>
                            </tr>
                            <tr>
                                <td width="100" style="padding-right:5px;">
                                    @if (NhsRoute.IsBrandPartnerNhsPro)
                                    {
                                        if (Model.Promotions[i].PromoType == "COM")
                                        {
                                            <img src="http://resources.newhomesource.com/GlobalResourcesMvc/Default/images/icons/icon_promo_consumer.png" alt="" />
                                        }
                                        else
                                        {
                                            <img src="http://resources.newhomesource.com/GlobalResourcesMvc/Default/images/icons/icon_promo_agent.png" alt="" />
                                        }
                                    }
                                    else
                                    {
                                        <img src="@GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" alt="@LanguageHelper.SpecialOffers" />
                                    }                                    
                                </td>
                                <td style="font-size:10px;line-height:1;">
                                    <font size="1" color="#555555" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                        @Model.Promotions[i].PromoShortTextFormatted
                                    </font> 
                                    <font size="1" color="#999999" face="Arial,Helvetica,sans-serif" style="font-size:10px;">
                                        @Model.Promotions[i].PromoDateTextFormatted
                                    </font></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }

        <tr>
            <td style="padding:10px 0 8px 0;" align="right">
                <table cellpadding="8" cellspacing="0" bgcolor="@Model.EmailTemplateButtonBgColor" style="background:@Model.EmailTemplateButtonBgColor;">
                    <tr>
                        <td style="border: 2px solid #000000; border-top: 2px solid #cccccc; border-left: 2px solid #cccccc; padding: 4px 8px;">
                            <font size="1" color="@Model.EmailTemplateButtonTextColor" face="Arial,Helvetica,sans-serif" style="font-size: 11px;">
                                <b>
                                    <a href="#" style="color: @Model.EmailTemplateButtonTextColor; text-decoration: none;">
                                        @(Html.NhsLink(LanguageHelper.ViewAllPromotions, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.Market.MarketId).ParameterNewLetterPromotions(), new { style = "color:" + Model.EmailTemplateButtonTextColor + ";text-decoration:none;" }, false, true))
                                    </a>
                                </b>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
