﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
@if (!string.IsNullOrEmpty(Model.BrandEmailAddress))
{
    <div id="formSent" style="display: none" class="nhs_Account nhs_RequestThanks clearfix">
         <header>
            <h1>
                @LanguageHelper.ThankYou.ToMvcHtmlString()</h1>
        </header>
        <h2>
            @LanguageHelper.YourInquiryHasBeenSentTo.ToMvcHtmlString() @Model.BrandName.
        </h2>
        <p>
            <input id="nhs_Close" type="button" class="btnCss" value="@LanguageHelper.Close" /></p>
    </div>
    <div id="formToSend" class="nhs_Account nhs_RequestBrochure nhs_AskBuilder clearfix">
        <header>
            <h1 class="nhs_Title">
                @LanguageHelper.AskAQuestion.ToMvcHtmlString()
            </h1>
        </header>
        <h2>
            @LanguageHelper.GetHomebuyingAnswersFrom.ToMvcHtmlString() @Model.BrandName.
        </h2>
        <fieldset id="nhs_AccountForm">
            <legend>My Info</legend>
            <div class="visuallyhidden">
                <p class="nhs_ShowcaseFields">
                    <label for="FirstName">
                        @LanguageHelper.FirstName.ToMvcHtmlString():
                    </label>
                    <input id="FirstName" maxlength="50" name="FirstName" type="text" value=""/>
                </p>
                <p class="nhs_ShowcaseFields">
                    <label for="LastName">
                        @LanguageHelper.LastName.ToMvcHtmlString():
                    </label>
                    <input id="LastName" maxlength="50" name="LastName" type="text" value=""/>
                </p>
                <p class="nhs_ShowcaseFields">
                    <label for="MailAddress2">
                        @LanguageHelper.EmailAddress.ToMvcHtmlString():
                    </label>
                    <input id="MailAddress2" maxlength="50" name="MailAddress2" type="text" value=""/>
                </p>
            </div>
            
            <p>
                <label for="Name">
                    @LanguageHelper.Name.ToMvcHtmlString()</label>
                @Html.TextBoxFor(model => model.Name, new { placeholder = LanguageHelper.Name})
            </p>
            <p>
                <label for="MailAddress">
                    @LanguageHelper.Email.ToMvcHtmlString()</label>
                @Html.TextBoxFor(model => model.MailAddress, new { placeholder = LanguageHelper.Email})
            </p>
            <p>
                @Html.TextAreaFor(model => model.Comments,4,18, new { placeholder = LanguageHelper.CommentsOrQuestionOptional })
            </p>
            <ul class="validation-summary-errors" id="nhs_Errors" style="display: none;">
            </ul>
            @*<span id="validationSummary"></span>*@
            <p>
                <input type="submit" class="btnCss" id="btnSend" value="@LanguageHelper.Submit" onclick=""/>
            </p> 
            <div class="visuallyhidden">
                <input type="button" id="btnSendFake" value="@LanguageHelper.Send" class="btn_SendFake" disabled="disabled" style="display: none;"/>     
                <input name="BrandName" type="hidden" value="@Model.BrandName"/>
                <input name="BrandEmailAddress" type="hidden" value="@Model.BrandEmailAddress"/>      
                <input id="time" type="hidden"/>
            </div>
        </fieldset>
        <p class="nhs_PrivPol">@Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new { target = "_blank" })</p>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var today = new Date();
            jQuery("#formToSend").show();
            jQuery("#formSent").hide();

            jQuery("#nhs_Close").click(function (event) {
                window.modalPopUp.CloseModal(event);
            });
        })
    </script>
}
