﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<ul class="nhs_Tabs clearfix">
    <li id="nhs_TabAbout">
        <a class="@(Model.IsAbout ? "active" : "")" href="@Html.GetBuilderShowCaseUrl(Model, "about")">@LanguageHelper.About.ToMvcHtmlString()</a>
    </li>
    <li id="nhs_TabLocation">
        <a class="@(Model.IsLocations ? "active" : "")" href="@Html.GetBuilderShowCaseUrl(Model, "locations")">@LanguageHelper.Locations.ToMvcHtmlString()</a>
    </li>
</ul>