﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

@ResourceCombinerEnum.BUILDERSHOWCASEMOBILEJS.GetCrunchedResource()
@Html.GetGoogleMapScript()

<script type="text/javascript">
    jQuery(document).ready(function () {
        var parameters = {
            brandName: "@(Model.BrandName)",
            brandEmail: "@(Model.BrandEmailAddress)",
            brandId: "@(Model.BrandId)",
            communityResultsPage: "@Pages.CommunityResults",
            icon: "@GlobalResources14.Default.images.icons.map_plus_blue_png",
            IsAbout: @(Model.IsAbout? "true": "false"),
            GetMediaPlayerObjects: "@(Model.GetBuilderShowCaseGalleryUrl().ToMvcHtmlString())",
            GetMoreLocations: "@(Model.BuilderShowCaseMoreLocations().ToMvcHtmlString())",
            EmailRequiredText: "@LanguageHelper.PleaseEnterFirstAndLastName.ToMvcHtmlString()",
            EmailAddressIsNotValidText: "@LanguageHelper.EmailAddressIsNotValid.ToMvcHtmlString()",
            PleaseEnterFirstAndLastNameText: "@LanguageHelper.PleaseEnterFirstAndLastName.ToMvcHtmlString()",
            OptionsForMap: {
                MapOptions: {
                    Latitude: @Model.Map.CenterLat.ToString(new NumberFormatInfo()),
                    Longitude:  @Model.Map.CenterLng.ToString(new NumberFormatInfo()),
                    Zoom: @Model.Map.ZoomLevel,
                    ContainerName: "nhs_ShowcaseMap",
                    zoomControl: true,
                    ZoomControlStyle: 'SMALL',
                    zoomControlPosition: 'TOP_LEFT',
                    disableDefaultUI: true,
                    Draggable: true,
                    Scrollwheel: false,
                    DisableDoubleClickZoom: true
                },
                MinZoom: 4,
                UseClusterer: false,
                ProcessResultOptions: {
                    Latitude: "Lat",
                    Longitude: "Lng",
                    Name: "Title"
                },
                MarkerPointAsynOptions: {
                    Listener: null
                }
            },
            partnerID: @NhsRoute.PartnerId,
            siteRoot: '/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "" : (NhsRoute.PartnerSiteUrl + "/"))',
            marketId: "@Model.MarketId",
            viewerParams: {
                brightcoveToken: '@Configuration.BrightcoveReadToken',
            },
            urlAbout: "@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/about/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))",
            urlLocation: "@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/locations/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))",
            urlGallery: "@(new List<RouteParam>().ToUrl(string.Format("builder/{0}/gallery/{1}", Model.BrandName.Replace(" ", "-").Replace("'", string.Empty).Replace("/", string.Empty), Model.BrandId), true))"
        };
        var builderShowCase = new NHS.Mobile.BuilderShowCase(parameters);
        builderShowCase.init();
    });
</script>