﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

@foreach (var metroArea in Model.MetroAreaList.MetroAreas.OrderBy(x => x.Market.MarketName).Take(8))
{
    <li class="nhs_metroMarket">
        <strong>@metroArea.Market.MarketName, @metroArea.Market.State.StateName @LanguageHelper.Area.ToMvcHtmlString()</strong>
        @if (metroArea.Communities.Count() > 5)
        {
            @Html.LocationsMetroSeeAllLink(metroArea.Market.MarketId, metroArea.BrandId) //See all link
        }
        <ul>
            @foreach (var community in metroArea.Communities.Take(5))
            {
                <li>@Html.NhsLink(community.CommunityName, RedirectionHelper.GetCommunityDetailPage(), community.ToCommunityDetail(), null)</li>
            }
        </ul>
    </li>
}
