﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.CommunityItemMobileViewModel
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper
@if (Model.ShowBasicListingIndicator || Model.ShowBasicNearByListingIndicator)
{
    <p class="nhs_GroupingBar">
        @LanguageHelper.OtherCommunities.ToMvcHtmlString()
    </p>
    <hr class="hidden" />
}
else if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <!-- GROUPING -->
    <p class="nhs_GroupingBar">
        @Model.GroupingBarTitle
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
}
<!-- BASIC COMMUNITY -->
<div class="nhs_ResItem clearfix nhs_Row nhs_BasicItem">
    <h2>
        @Html.NhsActionLink(Model.Name, NhsMvc.BasicCommunityDetail.Show(Model.Id, Model.ParamsBasicCommunityHref()), new
           {
               title = Model.Name + " - " + Model.City + ", " + Model.State
           })
        <span>@LanguageHelper.By.ToMvcHtmlString() @Model.Brand.Name</span>
    </h2>
    <div class="nhs_ItemImg">
        @Html.CommunityImage(Model)
    </div>
    <p>@Model.GetPriceAndHomes()</p>
    <p>
        @Model.GetBathsBeds()
    </p>
    <ul class="nhs_Actions">
        <li>@Html.GetMapPopup(Model)</li>
    </ul>
</div>
<hr class="hidden" />
<!-- BASIC COMMUNITY - END -->
