﻿@using Nhs.Library.Helpers.Content
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.CommunityItemMobileViewModel
@if (!string.IsNullOrEmpty(Model.GroupingBarTitle))
{
    <!-- GROUPING -->
    <p class="nhs_GroupingBar">
        @Model.GroupingBarTitle
    </p>
    <hr class="hidden" />
    <!-- GROUPING - END -->
}
<!-- COMMUNITY -->
<div class="nhs_ResItem nhs_CommResItem clearfix nhs_Row" itemscope itemtype="http://schema.org/ImageObject">
    <h2 itemprop="name">
        @if (Model.IsFavoriteListing)
        {
            <span class="ir nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>
        }
        <a href="@Model.GetCommunityDetailUrl()">@Model.Name</a> <span>@LanguageHelper.By.ToMvcHtmlString() @MvcHtmlString.Create(HttpUtility.HtmlDecode(@Model.Brand.Name))</span>
    </h2>
    <div class="nhs_ItemImg">
        <img src="@Model.GetCommunityItemMobileImage()" itemprop="contentUrl" alt="@Model.Name" onerror="this.src = '@(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna ? GlobalResources14.CNA.images.no_photo.no_photos_180x120_png : GlobalResources14.Default.images.no_photo.no_photos_180x120_png)'; this.onerror = '';" />
    </div>
    <p>@Model.GetPriceAndHomes()</p>
    <p>
        @Model.GetBathsBeds()
    </p>
    <ul class="nhs_Actions">
        @if (Model.NumHomes > 0)
        {
            <li>@Html.QuickView(Model)</li>
        }
        <li>@Html.GetMapPopup(Model)</li>
        <li>@Model.GetPhoneNumber()</li>
    </ul>
</div>
<!-- COMMUNITY - END -->
