﻿@using Nhs.Web.UI.AppCode.Helper
@model  IEnumerable<Nhs.Mvc.Domain.Model.Web.Partials.CommunityMapCard> 
<div id="nhs_MapCards" @(Model.Count() > 1 ? "class=nhs_MultiCard" : "")>
    <ul class="bxslider">
        @foreach (var card in Model)
        {
            <li>
                <div class="nhs_ResItem clearfix nhs_Row@(card.IsBasic ? " nhs_BasicItem" : string.Empty)">
                    <h2>
                        @if (card.IsFavoriteListing)
                        {
                            <span class="ir nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>
                        }
                        @Html.CommunitCardLink(card, card.Name, new { title = card.Name + " - " + card.City + ", " + card.St, onclick = "" })
                        <span>@LanguageHelper.By.ToMvcHtmlString() @card.Brand.ToMvcHtmlString()</span>
                    </h2>
                    <div class="nhs_ItemImg">
                        @Html.CommunitCardThumbnail(card)</div>
                    <p>
                        @card.GetPriceAndHomes()</p>
                    <p>
                        @card.GetBathsBeds()</p>
                    <ul class="nhs_Actions">
                        @if (card.NunHom > 0 && card.IsBasic == false)
                        {
                        <li>@Html.QuickView(card)</li>
                        }
                        <li>@card.GetPhoneNumber()</li>
                    </ul>
                </div>
            </li>    
        }
    </ul>
    @if (Model.Count() > 1)
    {
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#nhs_MapCards > .bxslider').bxSlider({
                    responsive: true,
                    infiniteLoop: false,
                    minSlides: 1,
                    maxSlides: 1,
                    pager: true,
                    controls: false
                });
            });    
        </script>
    }
</div>
