<table border="0" cellpadding="2" cellspacing="0" width="372">	
					<tbody>	<tr>
						<td style="padding-left: 10px; padding-top: 5px;">
<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z2finding&amp;se=Finding&amp;refer=DSI">Home Guide</a></strong><br>
						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z2finding&amp;se=Finding&amp;refer=DSI">Finding</a></strong><br>
						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z3buying&amp;se=Buying&amp;refer=DSI">Buying</a></strong><br>

						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z4designing&amp;se=Designing&amp;refer=DSI">Designing</a></strong><br>
						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z5building&amp;se=Building&amp;refer=DSI">Building</a></strong><br>
						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z6decorating&amp;se=Decorating&amp;refer=DSI">Decorating</a></strong><br>
						<strong><a href="http://www.newhomesource.com/newhomeguide/articles.aspx?article=z7moving&amp;se=Moving&amp;refer=DSI">Moving</a></strong><br><br>
						</td>
					</tr>
													
									<tr><td class="header"><a name="Finding" class="header" style="text-decoration: none;">Finding</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/masterplannedSD.htm?refer=DSI">The Benefits of Living in a Planned Community</a><br>						
															
									<a href="http://www.newhomesource.com/articles/ebayauctiontips.htm?refer=DSI">Top Tips for Buying a New Home on eBay</a><br>						
															
									<a href="http://www.newhomesource.com/articles/buildonyourlot.htm?refer=DSI">Understanding 'Build on Your Lot' Programs</a><br>						
															
									<a href="http://www.newhomesource.com/articles/builderquestions.htm?refer=DSI">Choosing a Builder Means Asking Questions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/ebayauctionwhy.htm?refer=DSI">Why Buy Your New Home at an Online Auction</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenmountain.htm?refer=DSI">Green Energy Choices Save Money and the Environment</a><br>						
															
									<a href="http://www.newhomesource.com/articles/tollluxurycoast.htm?refer=DSI">Luxury Home Buyers Don't Necessarily Need To Live Along a Coast</a><br>						
															
									<a href="http://www.newhomesource.com/articles/activeadult.htm?refer=DSI">Active Adult Communities</a><br>						
															
									<a href="http://www.newhomesource.com/articles/tollclubmembership.htm?refer=DSI">The Advantages of Joining a New Country Club Community</a><br>						
															
									<a href="http://www.newhomesource.com/articles/woodlands1.htm?refer=DSI">Why Master Planned Communities are Thriving</a><br>						
															
									<a href="http://www.newhomesource.com/articles/renewableenergy.htm?refer=DSI">Costlier Renewable Energy Homes Preferred</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801seniorhomes.htm?refer=DSI">Design Ideas for Active Adult Living</a><br>						
															
									<a href="http://www.newhomesource.com/articles/choosingalot.htm?refer=DSI">What You Should Know Before Choosing a Lot</a><br>						
															
									<a href="http://www.newhomesource.com/articles/inlovewith2houses.htm?refer=DSI">In Love With Two Houses? What to Consider When Making the Final Decision</a><br>						
															
									<a href="http://www.newhomesource.com/articles/condo.htm?refer=DSI">Is a Condo or Townhome Right for You?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701chooseneighborhood.htm?refer=DSI">Choosing a Neighborhood Wisely</a><br>						
															
									<a href="http://www.newhomesource.com/articles/emptynesters.htm?refer=DSI">Builders Meet Needs of 'Empty Nesters'</a><br>						
															
									<a href="http://www.newhomesource.com/articles/coreselectinghomebuildermhi.htm?refer=DSI">Selecting a Home Builder</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072601reducingstress.htm?refer=DSI">How to Reduce Home Shopping Stress</a><br>						
															
									<a href="http://www.newhomesource.com/articles/timetobuy.htm?refer=DSI">It's a Great Time to Buy a New Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomeinterview.htm?refer=DSI">A Conversation with New Home Owners</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomesecho.htm?refer=DSI">Regional Trends in New Home Construction</a><br>						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectfirsthome.htm?refer=DSI">Buying Your First Home</a><br>						
															
									<br></td></tr><tr><td class="header"><a name="Buying" class="header" style="text-decoration: none;">Buying</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectmortgageguide.htm?refer=DSI">Finding the Mortgage That's Right for You</a><br>						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectglossary.htm?refer=DSI">Glossary of Mortgage Terms</a><br>						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectbuyingguide.htm?refer=DSI">Step-by-Step Mortgage Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/biweeklymortgage.htm?refer=DSI">Paying Your Monthly Mortgage Bi-Weekly</a><br>						
															
									<a href="http://www.newhomesource.com/articles/title.htm?refer=DSI">Who Really Owns Your House?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/discountpoints.htm?refer=DSI">Should You Pay Discount Points? Doesn't Everyone?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newmortgagerules.htm?refer=DSI">New Rules Create Added Mortgage Opportunities</a><br>						
															
									<a href="http://www.newhomesource.com/articles/twoclosings.htm?refer=DSI">Torn Between Two Closings</a><br>						
															
									<a href="http://www.newhomesource.com/articles/portfolioloans.htm?refer=DSI">When Portfolio Lending Makes Sense</a><br>						
															
									<a href="http://www.newhomesource.com/articles/onlineloansettlement.htm?refer=DSI">Freedom From 11th Hour Closing Cost Surprises</a><br>						
															
									<a href="http://www.newhomesource.com/articles/keepuppayments.htm?refer=DSI">How to Stay on Top of Mortgage Payments During a Short-Term Financial Crisis</a><br>						
															
									<a href="http://www.newhomesource.com/articles/liborpart1.htm?refer=DSI">Is a 4% LIBOR ARM Right For You?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/negotiatingawayprotections.htm?refer=DSI">Negotiating Away Protections Not A Good Idea</a><br>						
															
									<a href="http://www.newhomesource.com/articles/partnersincharity.htm?refer=DSI">Mortgages: There's Nothing to Fear</a><br>						
															
									<a href="http://www.newhomesource.com/articles/leasepurchase.htm?refer=DSI">Lease Purchase Programs Come Of Age</a><br>						
															
									<a href="http://www.newhomesource.com/articles/condo.htm?refer=DSI">Is a Condo or Townhome Right for You?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701chooseneighborhood.htm?refer=DSI">Choosing a Neighborhood Wisely</a><br>						
															
									<a href="http://www.newhomesource.com/articles/woodlands1.htm?refer=DSI">Why Master Planned Communities are Thriving</a><br>						
															
									<a href="http://www.newhomesource.com/articles/masterplannedSD.htm?refer=DSI">The Benefits of Living in a Planned Community</a><br>						
															
									<a href="http://www.newhomesource.com/articles/financing101.htm?refer=DSI">Financing Basics</a><br>						
															
									<a href="http://www.newhomesource.com/articles/lifestyleloans.htm?refer=DSI">Let Your Lifestyle Be Your Mortgage Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/loancommitment.htm?refer=DSI">Saying 'I Do' to Mortgage Commitments</a><br>						
															
									<a href="http://www.newhomesource.com/articles/070301roi.htm?refer=DSI">Home Sweet, New Home Investment</a><br>						
															
									<a href="http://www.newhomesource.com/articles/creditscores.htm?refer=DSI">How Credit Scores Work</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenbuilding.htm?refer=DSI">Going Green</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenmountain.htm?refer=DSI">Green Energy Choices Save Money and the Environment</a><br>						
															
									<a href="http://www.newhomesource.com/articles/woodlands1.htm?refer=DSI">Why Master Planned Communities are Thriving</a><br>						
															
									<a href="http://www.newhomesource.com/articles/masterplannedSD.htm?refer=DSI">The Benefits of Living in a Planned Community</a><br>						
															
									<a href="http://www.newhomesource.com/articles/creditscoreandmortgagerate.htm?refer=DSI">Credit Scores Directly Connected to What You Pay For New Mortgages</a><br>						
															
									<a href="http://www.newhomesource.com/articles/creditscoreandinsurance.htm?refer=DSI">How Your Credit Affects Your Homeowners Insurance</a><br>						
															
									<a href="http://www.newhomesource.com/articles/beforebuying.htm?refer=DSI">Before Buying a Home, Make Sure You're Financially Ready</a><br>						
															
									<a href="http://www.newhomesource.com/articles/103mortgage.htm?refer=DSI">The 103 Percent Mortgage Loan</a><br>						
															
									<a href="http://www.newhomesource.com/articles/rapidrescore.htm?refer=DSI">'Rapid Re-Scoring' of Credit File Could Boost FICO Just Enough to Qualify For a Home Loan</a><br>						
															
									<a href="http://www.newhomesource.com/articles/lenderpaystaxes.htm?refer=DSI">If Your Lender Pays Your Real Estate Tax, Monitor It Carefully</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701builderloan.htm?refer=DSI">Where Should You Get Your Mortgage?</a><br>						
															
									<br></td></tr><tr><td class="header"><a name="Designing" class="header" style="text-decoration: none;">Designing</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/deltaselectfaucet.htm?refer=DSI">Selecting the Right Faucet</a><br>						
															
									<a href="http://www.newhomesource.com/articles/bathdecor1.htm?refer=DSI">Big Impact, Small Space: Decorating the Bathroom</a><br>						
															
									<a href="http://www.newhomesource.com/articles/emptynesters.htm?refer=DSI">Builders Meet Needs of 'Empty Nesters'</a><br>						
															
									<a href="http://www.newhomesource.com/articles/homeasretreat.htm?refer=DSI">The Home as a Retreat</a><br>						
															
									<a href="http://www.newhomesource.com/articles/courtyards.htm?refer=DSI">Courtyards Create a Canvas for Lasting Impressions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/stainlesssteel.htm?refer=DSI">All About Stainless Steel</a><br>						
															
									<a href="http://www.newhomesource.com/articles/windows1.htm?refer=DSI">A Guide to Windows and Window Coverings</a><br>						
															
									<a href="http://www.newhomesource.com/articles/upgradeappls.htm?refer=DSI">Upgraded Appliances Work and (Speak) Volumes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/kitchenappliancetrends.htm?refer=DSI">New Kitchen Products Focus on Convenience, Technology</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolactivitycenter.htm?refer=DSI">Today's Laundry Room Does More Than Wash Clothes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/appliancemaint.htm?refer=DSI">No Sweat Ways To Keep Appliances Cool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolrefrigeratorguide.htm?refer=DSI">Refrigerator Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpooldishwasherguide.htm?refer=DSI">Dishwasher Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpooldryerguide.htm?refer=DSI">Dryer Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolrangeguide.htm?refer=DSI">Range Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/trendspotting.htm?refer=DSI">Trend Spotting Spotlights the Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomesecho.htm?refer=DSI">Regional Trends in New Home Designs</a><br>						
															
									<a href="http://www.newhomesource.com/articles/corecflepa.htm?refer=DSI">Compact Fluorescent Lights Save Energy and Money</a><br>						
															
									<a href="http://www.newhomesource.com/articles/deckspatios.htm?refer=DSI">Putting in a Deck or Patio</a><br>						
															
									<a href="http://www.newhomesource.com/articles/futureproofing.htm?refer=DSI">Futureproof Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/illusionofspace.htm?refer=DSI">How to Create the Illusion of Space</a><br>						
															
									<a href="http://www.newhomesource.com/articles/swimmingpool.htm?refer=DSI">Thinking About Making a Splash? Considerations for Building a New Pool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/designtrends0302.htm?refer=DSI">Design Trends: Why High Ceilings Aren't As Important</a><br>						
															
									<a href="http://www.newhomesource.com/articles/kitchenquiz.htm?refer=DSI">The Ultimate Kitchen Planner</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801seniorhomes.htm?refer=DSI">Design Ideas for Active Adult Living</a><br>						
															
									<a href="http://www.newhomesource.com/articles/fengshui.htm?refer=DSI">Building the Feng Shui Way</a><br>						
															
									<a href="http://www.newhomesource.com/articles/livingroomdesign.htm?refer=DSI">Designing a Living Room You Can Live With</a><br>						
															
									<a href="http://www.newhomesource.com/articles/selectlivingroom.htm?refer=DSI">Plan the Perfect Living Room</a><br>						
															
									<a href="http://www.newhomesource.com/articles/porches.htm?refer=DSI">Porches Add Old-Time Style to New Homes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weekleydesign.htm?refer=DSI">New Home Floor Plan Trends</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701marrieddesign.htm?refer=DSI">Married to Your Home Design</a><br>						
															
									<a href="http://www.newhomesource.com/articles/fireplaces.htm?refer=DSI">Fireplaces: Home is Where the Hearth Is</a><br>						
															
									<a href="http://www.newhomesource.com/articles/woodfloors.htm?refer=DSI">Fabulous Floors for New Homes: Wood</a><br>						
															
									<a href="http://www.newhomesource.com/articles/corecolorbasics.htm?refer=DSI">Understanding Color Basics</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801carpetguide.htm?refer=DSI">Your Wall-to-Wall Guide to Carpet</a><br>						
															
									<a href="http://www.newhomesource.com/articles/upgrades.htm?refer=DSI">Upgrades Give Homes Personality</a><br>						
															
									<a href="http://www.newhomesource.com/articles/hotsprings1.htm?refer=DSI">How to Buy a Spa</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weyerupgrades.htm?refer=DSI">Don't Settle for a Cookie Cutter House - Simple Upgrades to Make Your Home Stand Out from the Crowd</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkthermostat.htm?refer=DSI">Let Your Home's Thermostat Do The Talking</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenmountain.htm?refer=DSI">Green Energy Choices Save Money and the Environment</a><br>						
															
									<a href="http://www.newhomesource.com/articles/odldoorglass.htm?refer=DSI">Decorative Doorglass Makes a Statement</a><br>						
															
									<a href="http://www.newhomesource.com/articles/tollinsouts.htm?refer=DSI">What's In and Out in Home Design Trends</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolwasherguide.htm?refer=DSI">Washer Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/odldoors.htm?refer=DSI">Integral Doorglass Treatments Add Value, Safety, Convenience</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greensupplies.htm?refer=DSI">Green Homes Inside and Out</a><br>						
															
									<br></td></tr><tr><td class="header"><a name="Building" class="header" style="text-decoration: none;">Building</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectfirsthome.htm?refer=DSI">Buying Your First Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/steeljoists.htm?refer=DSI">Trends in Home Building Materials</a><br>						
															
									<a href="http://www.newhomesource.com/articles/choosingalot.htm?refer=DSI">What You Should Know Before Choosing a Lot</a><br>						
															
									<a href="http://www.newhomesource.com/articles/builderquestions.htm?refer=DSI">Choosing a Builder Means Asking Questions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/warranties.htm?refer=DSI">What You Need to Know About Builder Warranties</a><br>						
															
									<a href="http://www.newhomesource.com/articles/courtyards.htm?refer=DSI">Courtyards Create a Canvas for Lasting Impressions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801seniorhomes.htm?refer=DSI">Design Ideas for Active Adult Living</a><br>						
															
									<a href="http://www.newhomesource.com/articles/swimmingpool.htm?refer=DSI">Thinking About Making a Splash? Considerations for Building a New Pool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/deckspatios.htm?refer=DSI">Putting in a Deck or Patio</a><br>						
															
									<a href="http://www.newhomesource.com/articles/porches.htm?refer=DSI">Porches Add Old-Time Style to New Homes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weekleydesign.htm?refer=DSI">New Home Floor Plan Trends</a><br>						
															
									<a href="http://www.newhomesource.com/articles/futureproofing.htm?refer=DSI">Futureproof Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/foundations.htm?refer=DSI">Building on a Solid Foundation</a><br>						
															
									<a href="http://www.newhomesource.com/articles/renewableenergy.htm?refer=DSI">Costlier Renewable Energy Homes Preferred</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomesecho.htm?refer=DSI">Regional Trends in New Home Construction</a><br>						
															
									<a href="http://www.newhomesource.com/articles/upgrades.htm?refer=DSI">Upgrades Give Homes Personality</a><br>						
															
									<a href="http://www.newhomesource.com/articles/condo.htm?refer=DSI">Is a Condo or Townhome Right for You?</a><br>						
															
									<a href="http://www.newhomesource.com/articles/coreselectinghomebuildermhi.htm?refer=DSI">Selecting a Home Builder</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701chooseneighborhood.htm?refer=DSI">Choosing a Neighborhood Wisely</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072601reducingstress.htm?refer=DSI">How to Reduce Home Shopping Stress</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomeinterview.htm?refer=DSI">A Conversation with New Home Owners</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weyerstructural.htm?refer=DSI">Choosing Structural Products that are Best for Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkheatpump.htm?refer=DSI">Heat Pumps Combine Looks And Energy Efficiency</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenbuilding.htm?refer=DSI">Going Green</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greenmountain.htm?refer=DSI">Green Energy Choices Save Money and the Environment</a><br>						
															
									<a href="http://www.newhomesource.com/articles/choosingalot.htm?refer=DSI">What You Should Know Before Choosing a Lot</a><br>						
															
									<br></td></tr><tr><td class="header"><a name="Decorating" class="header" style="text-decoration: none;">Decorating</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/deltaselectfaucet.htm?refer=DSI">Selecting the Right Faucet</a><br>						
															
									<a href="http://www.newhomesource.com/articles/kitchenquiz.htm?refer=DSI">The Ultimate Kitchen Planner</a><br>						
															
									<a href="http://www.newhomesource.com/articles/windows1.htm?refer=DSI">A Guide to Windows and Window Coverings</a><br>						
															
									<a href="http://www.newhomesource.com/articles/designtrends0302.htm?refer=DSI">Design Trends: Why High Ceilings Aren't As Important</a><br>						
															
									<a href="http://www.newhomesource.com/articles/fireplaces.htm?refer=DSI">Fireplaces: Home is Where the Hearth Is</a><br>						
															
									<a href="http://www.newhomesource.com/articles/homespa.htm?refer=DSI">Creating an At-Home Spa</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801carpetguide.htm?refer=DSI">Your Wall-to-Wall Guide to Carpet</a><br>						
															
									<a href="http://www.newhomesource.com/articles/corecolorbasics.htm?refer=DSI">Understanding Color Basics</a><br>						
															
									<a href="http://www.newhomesource.com/articles/upgradeappls.htm?refer=DSI">Upgraded Appliances Work and (Speak) Volumes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/kitchenappliancetrends.htm?refer=DSI">New Kitchen Products Focus on Convenience, Technology</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolactivitycenter.htm?refer=DSI">Today's Laundry Room Does More Than Wash Clothes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/appliancemaint.htm?refer=DSI">No Sweat Ways To Keep Appliances Cool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolrefrigeratorguide.htm?refer=DSI">Refrigerator Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpooldishwasherguide.htm?refer=DSI">Dishwasher Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolwasherguide.htm?refer=DSI">Washer Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpooldryerguide.htm?refer=DSI">Dryer Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/whirlpoolrangeguide.htm?refer=DSI">Range Shopping Guide</a><br>						
															
									<a href="http://www.newhomesource.com/articles/trendspotting.htm?refer=DSI">Trend Spotting Spotlights the Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/newhomesecho.htm?refer=DSI">Regional Trends in New Home Designs</a><br>						
															
									<a href="http://www.newhomesource.com/articles/corecflepa.htm?refer=DSI">Compact Fluorescent Lights Save Energy and Money</a><br>						
															
									<a href="http://www.newhomesource.com/articles/deckspatios.htm?refer=DSI">Putting in a Deck or Patio</a><br>						
															
									<a href="http://www.newhomesource.com/articles/futureproofing.htm?refer=DSI">Futureproof Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/closets.htm?refer=DSI">Clean up Your Act, Closet Pack Rats</a><br>						
															
									<a href="http://www.newhomesource.com/articles/stainlesssteel.htm?refer=DSI">All About Stainless Steel</a><br>						
															
									<a href="http://www.newhomesource.com/articles/illusionofspace.htm?refer=DSI">How to Create the Illusion of Space</a><br>						
															
									<a href="http://www.newhomesource.com/articles/courtyards.htm?refer=DSI">Courtyards Create a Canvas for Lasting Impressions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/swimmingpool.htm?refer=DSI">Thinking About Making a Splash? Considerations for Building a New Pool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/080801seniorhomes.htm?refer=DSI">Design Ideas for Active Adult Living</a><br>						
															
									<a href="http://www.newhomesource.com/articles/backyardgardening.htm?refer=DSI">Backyard Gardening</a><br>						
															
									<a href="http://www.newhomesource.com/articles/livingroomdesign.htm?refer=DSI">Designing a Living Room You Can Live With</a><br>						
															
									<a href="http://www.newhomesource.com/articles/selectlivingroom.htm?refer=DSI">Plan the Perfect Living Room</a><br>						
															
									<a href="http://www.newhomesource.com/articles/fengshui.htm?refer=DSI">Building the Feng Shui Way</a><br>						
															
									<a href="http://www.newhomesource.com/articles/porches.htm?refer=DSI">Porches Add Old-Time Style to New Homes</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weekleydesign.htm?refer=DSI">New Home Floor Plan Trends</a><br>						
															
									<a href="http://www.newhomesource.com/articles/072701marrieddesign.htm?refer=DSI">Married to Your Home Design</a><br>						
															
									<a href="http://www.newhomesource.com/articles/woodfloors.htm?refer=DSI">Fabulous Floors for New Homes: Wood</a><br>						
															
									<a href="http://www.newhomesource.com/articles/upgrades.htm?refer=DSI">Upgrades Give Homes Personality</a><br>						
															
									<a href="http://www.newhomesource.com/articles/hotsprings1.htm?refer=DSI">How to Buy a Spa</a><br>						
															
									<a href="http://www.newhomesource.com/articles/trees.htm?refer=DSI">Think Green: Trees a Big Plus for Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/weyerwholehouse.htm?refer=DSI">Establishing Consistency Throughout the Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkacheat.htm?refer=DSI">A Colorful First: New Home Heating And Cooling Systems</a><br>						
															
									<a href="http://www.newhomesource.com/articles/greensupplies.htm?refer=DSI">Green Homes Inside and Out</a><br>						
															
									<a href="http://www.newhomesource.com/articles/odldoorglass.htm?refer=DSI">Decorative Doorglass Makes a Statement</a><br>						
															
									<a href="http://www.newhomesource.com/articles/bathdecor1.htm?refer=DSI">Big Impact, Small Space: Decorating the Bathroom</a><br>						
															
									<a href="http://www.newhomesource.com/articles/fengshui.htm?refer=DSI">Building the Feng Shui Way</a><br>						
															
									<a href="http://www.newhomesource.com/articles/tollluxurycoast.htm?refer=DSI">Luxury Home Buyers Don't Necessarily Need To Live Along a Coast</a><br>						
															
									<br></td></tr><tr><td class="header"><a name="Moving" class="header" style="text-decoration: none;">Moving</a></td></tr><tr><td style="padding-left: 10px; padding-top: 5px;" class="basetext">						
															
									<a href="http://www.newhomesource.com/articles/movingtaxtips.htm?refer=DSI">Tax Tips: Deducting Moving Expenses</a><br>						
															
									<a href="http://www.newhomesource.com/articles/creditscoreandinsurance.htm?refer=DSI">How Your Credit Affects Your Homeowners Insurance</a><br>						
															
									<a href="http://www.newhomesource.com/articles/ccrhoa.htm?refer=DSI">Community Rules and Homeowners Associations</a><br>						
															
									<a href="http://www.newhomesource.com/articles/appliancemaint.htm?refer=DSI">No Sweat  Ways to Keep Appliances Cool</a><br>						
															
									<a href="http://www.newhomesource.com/articles/smoothmoves.htm?refer=DSI">Tips to Make Your Move Less Stressful</a><br>						
															
									<a href="http://www.newhomesource.com/articles/trees.htm?refer=DSI">Think Green: Trees a Big Plus for Your Home</a><br>						
															
									<a href="http://www.newhomesource.com/articles/homeofficetaxdeductions.htm?refer=DSI">Trim Your Tax Bill With Home Office Deductions</a><br>						
															
									<a href="http://www.newhomesource.com/articles/closets.htm?refer=DSI">Clean up Your Act, Closet Pack Rats</a><br>						
															
									<a href="http://www.newhomesource.com/articles/movingwithpets.htm?refer=DSI">Moving With Your Pets</a><br>						
															
									<a href="http://www.newhomesource.com/articles/keepuppayments.htm?refer=DSI">How to Stay on Top of Mortgage Payments During a Short-Term Financial Crisis</a><br>						
															
									<a href="http://www.newhomesource.com/articles/lenderpaystaxes.htm?refer=DSI">If Your Lender Pays Your Real Estate Tax, Monitor It Carefully</a><br>						
															
									<a href="http://www.newhomesource.com/articles/insinventory.htm?refer=DSI">Tapping Technology To Take Inventory</a><br>						
															
									<a href="http://www.newhomesource.com/articles/deckspatios.htm?refer=DSI">Putting in a Deck or Patio</a><br>						
															
									<a href="http://www.newhomesource.com/articles/backyardgardening.htm?refer=DSI">Backyard Gardening</a><br>						
															
									<a href="http://www.newhomesource.com/articles/roofmaintenance.htm?refer=DSI">Tips for Staying on Top of Your Roof Maintenance</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkfurnacemaint.htm?refer=DSI">Annual Maintenance Improves Furnace Performance</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkengefficiency.htm?refer=DSI">DOE Mandates Energy Efficient Cooling Systems</a><br>						
															
									<a href="http://www.newhomesource.com/articles/yorkcontractor.htm?refer=DSI">Choosing A Heating/Cooling System Contractor</a><br>						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectglossary.htm?refer=DSI">Glossary of Mortgage Terms</a><br>						
															
									<a href="http://www.newhomesource.com/articles/mortgageselectbuyingguide.htm?refer=DSI">Step-by-Step Mortgage Guide</a><br>						
							
					<!--closing tags for last record-->

					
					</td>
				</tr>
			  </tbody></table>