<div class="nhsIndexTitle">
	<h1>[PartnerName] Site Index</h1>
	<p>Can't find what you're looking for? Try the site index list to find ways to search
		for new homes. Or browse the New Home Guide for more information on buying or building
		your new home.
	</p>
</div>