﻿@model Nhs.Web.UI.AppCode.ViewModels.MortgageViewModel
<div class="nhs_BackToSearch">
    <div class="mortgagetable_top">
        <div class="image_wrapper">
            @Html.RenderImageMortgage(Model)
        </div>
        <span class="property_title">
            @Html.LinkNameMortgage(Model)
        </span>
        @if (Model.HasData)
        {
            <div class="property_spec">
                @Model.GetPrice
                @if (!Model.IsCommunity)
                { 
                    <br />
                    @Model.GetBedrooms 
                    @Model.GetBaths
                    @Model.GetGarages
                }
                else
                {
                    <br />
                    @Model.GetSqFtDisplay
                }
            </div>
            <div class="property_spec">
                <span>By
                    @Html.DisplayFor(model => model.BuilderName)<br />
                    @Html.DisplayFor(model => model.City),
                    @Html.DisplayFor(model => model.State)&nbsp;
                    @Html.DisplayFor(model => model.PostalCode)
                </span>
            </div>
        }
    </div>
    <p class="return_to_view_homes">
        @Html.LinkReturnMortgage(Model)
    </p>
</div>
