﻿@model Nhs.Web.UI.AppCode.ViewModels.MortgageViewModel
@using Nhs.Web.UI.AppCode.Extensions
@{
    Layout = null;
}

@Html.Partial(NhsMvc.Default.Views.Mortgage.MortgageTop, Model)
<div>
    @Model.SetURLIframe()
</div>

<script type="text/javascript">
    var searchMortage = null;
    jQuery(document).ready(function () {
        searchMortage = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
    });    
</script>