﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.MortgageCalculatorViewModel

@ResourceCombinerEnum.NHSSHELLMASTERMVCJSMORTGAGE.GetCrunchedResource()

<script type="text/javascript">
    $jq(document).ready(function () {
        var Mortgage = new NHS.Scripts.Mortgage();
        Mortgage.initializeCalculator();
        // hack for the mortgage iBuy script, bc is not working if the jquery is not with the $ Alias
        window.$ = jQuery;
    });
</script>
<div class="nhs_Content" id="nhs_MortgageCalc">
    <h2>@LanguageHelper.MortgageCalculator.ToMvcHtmlString()</h2>
    <div class="nhs_QuickMoveSearch1">
        <div id="nhs_CalculatorBox" class="nhs_CalculatorBox" data-url="@Model.MortgageScriptUrl">
            <script type="text/javascript" src="@Model.MortgageScriptUrl"></script>
        </div>
    </div>
    <div class="nhs_QuickMoveSearch2">
        @Html.StaticContent("MortgageCalculator/MortgageCalculatorColumn2.htm", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
    </div>
</div>
<div style="display: none" id="CalcUpdateProgress">
    <div class="nhsAjaxLoader">
        @Html.NhsImage("/globalresources/default/images/loading_bar.gif", "loading bar", true)
        <p>
            <strong>Calculating</strong>
        </p>
    </div>
</div>

