﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.MortgageRatesViewModel
@ResourceCombinerEnum.NHSSHELLMASTERMVCJSMORTGAGE.GetCrunchedResource()
<script type="text/javascript">
    $jq(document).ready(function () {
        var Mortgage = new NHS.Scripts.Mortgage();
        Mortgage.initializeRates();
    });
</script>
@*<script type="text/javascript" src='@Nhs.Library.Common.Configuration.ResourceDomain/GlobalResourcesMvc/Default/js/mortgage/bankrate.js'></script>*@
   
<div class="nhs_Content" id="nhs_MortgageRates">
    <div class="nhs_BackToSearch2">      
        @Html.LinkReturnMortgage(Model)
    </div>
    <div class="nhs_RatesLeft">
        <div class="nhs_RatesCommHomeInfo">            
            <p>
                <strong>
                    @Html.LinkNameMortgage(Model)</strong>
            </p>
            <p>By
                @Html.DisplayFor(model => model.BuilderName)<br />
                @Html.DisplayFor(model => model.City),
                @Html.DisplayFor(model => model.State)&nbsp;@Html.DisplayFor(model => model.PostalCode)
            </p>
            <div class="nhs_RatesImageThumb">@Html.RenderImageMortgage(Model)</div>
            <p>
            @Model.GetPrice</p>
            <p>
            @Model.GetBedrooms 
            @Model.GetBaths
            @Model.GetGarages</p>
        </div>
        <div class="nhs_loanTypes">
            <p class="nhs_RatesLeftTitle">Loan Types</p>
            @foreach (var item in Model.RadioButonList)
            { 
                <span class="nhs_loanTypesInput">
                    @if (item.Value.ToString() == "1")
                    {
                    @Html.RadioButton("Years", item.Value, new Dictionary<String, object> { { "checked", true }, { "onclick", "checkDropDown(this.value);" }, { "value", item.Value } })
                    }
                    else
                    {
                    @Html.RadioButton("Years", item.Value, new Dictionary<String, object> { { "onclick", "checkDropDown(this.value);" }, { "value", item.Value } })
                    }
                    @item.Key
                </span>
            }
            <div class="nhs_loanTypesInput">
                @Html.RadioButton("Years", "other", new Dictionary<String, object> { { "onclick", "checkDropDown(this.value);" } })                    
                @Html.DropDownList("selectOtherLoanTypes", Model.SelectOtherLoanTypesItems, new Dictionary<String, object> { { "class", "nhs_loanTypesSelect" }, { "disabled", "disabled" }, { "onchange", "checkPoints(this.value);" } })                    
                <div class="nhs_loanTypesDiv">
                </div>
            </div>
            <div class="nhs_RatesSlider">
                <p class="nhs_RatesLeftTitle">Down Payment</p>
                <div id="nhs_FacetRatesSlider"></div>
                <p class="nhs_RadiusSliderRange nhs_sliderRangeResults">
                    <span id="radValue" class="nhs_srResults"></span>
                </p>
                <p class="nhs_RadiusSliderRange">
                    <span id="percentageValue">20% down payment</span>
                </p>
                <p class="nhs_RadiusSliderRange">
                    <span id="totalLoanAmount"></span>
                </p>
                <div style="clear: both;">
                </div>
            </div>            
            <p class="nhs_RatesLeftTitle">Points</p>
            @Html.DropDownList("selectOtherPoints", Model.ddlPointsItems, new Dictionary<String, object> { { "onchange", "assignPoints(this.value);" } })
            <div>
                <span><a id="whatArePointsHelp" href="javascript:void(0);" onclick="showHelpBox('mooppoints','whatArePointsHelp');">
                    What are points?</a></span></div>
                        
                    <input id="btnGetQuotes" class="nhs_getCuotesBtn"  type="button" name="btnGetQuotes" />                            

            <br />
        </div>
        <div>
            @Html.StaticContent("MortgageRates/MortgageRateLeftCorner.htm", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)                
        </div>
        <div id="mooppoints" style="display: none;">
            A point equals 1 percent of your loan amount and is paid up front. The more points
            you pay, the lower your interest rate. If you plan to keep your loan for at least
            six years and have enough cash available after the purchase to cover emergencies,
            you may want to consider paying points.<br />
            <b>Example:</b> On a $100,000 fixed-rate loan, the lender offers you a 6-percent
            rate with no points or 5.75 percent with 1 point. It would take 5.2 years to recoup
            the $1,000 you paid up front to get the lower interest rate.
        </div>
        <div id="helpCnt" class="mtgHlpCnt">
            <div id="helpTxt" class="mtgHlpTxt">
            </div>
            <div class="mtgHlpNubb">
            </div>
            <div class="divTopLt mtgHlpCorner mtgHlpTL">
            </div>
            <div class="divTopRt mtgHlpCorner mtgHlpTR">
            </div>
            <div class="divBtmLt mtgHlpCorner mtgHlpBL">
            </div>
            <div class="divBtmRt mtgHlpCorner mtgHlpBR">
            </div>
            <a class="divHlpClose" onclick="closeHelpBox();" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="nhs_RatesCenter">
        <div class="nhs_searchResultTitle">
            <p id="pLoanMatches">@Html.Partial(NhsMvc.Default.Views.Mortgage.MatchesFound, Model)</p>
            <p id="pLoanInfo"></p>
        </div>
        <span style="color: Red; display: none" id="lblError">Please select a loan type.</span>
        <div id="pnlContent">
        @Html.Partial(NhsMvc.Default.Views.Mortgage.GetRates, Model)
        </div>
        <div class="nhs_providedBy">
            <p>
                Provided by <span><a href="http://www.bankrate.com/" rel="nofollow">Bankrate.com</a></span></p>
        </div>
    </div>
</div>
<input id="hiddenProductId" type="hidden"/>
<input id="hiddenPointId" type="hidden"  />
<input id="hiddenCommunityId" type="hidden" value='@Model.CommunityID'  />
<input id="hiddenDownPayment" type="hidden" value='@Model.Price' />
<input id="hiddenPostalCode" type="hidden" value='@Model.PostalCode'  />

<div style="display: none" id="CalcUpdateProgress">    
    <div id="nhs_Loading">
        <p>
            <strong>Consulting Rates...</strong>
        </p>
    </div>
</div>
<script type="text/javascript">
    var searchMortage = null;
    jQuery(document).ready(function () {
        searchMortage = new NHS.Scripts.Search('/@Model.TypeAheadUrl');
    });    
</script>