/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
	font-family: Arial,Helvetica,sans-serif;
    color: #7d7d7d;
}  
a, 
a:link,
a:visited,
a:active,
a:hover {
	color: #0091da;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: 'Avenir LT W01 35 Light',Arial,Helvetica,sans-serif;*/
	font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: bold; /*Medium*/
    font-size: 16px;    
    height: 16px;
    line-height: 20px;
    margin: 0;
    padding: 5px 2%;
    border: 1px solid #bababa;
    border-radius: 3px;
    background: #fff;
}
select {
    height: auto; 
    padding: 2px 2%;      
}
/*input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    font-size: 16px;
}*/

textarea {
    height: auto;
}

.btnCss {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif; 
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #4b4b4b;
    background: #ffce34;  
    border: 0;
    border-radius: 3px;
    padding: 6px 15px;  
}

.btn {
    border-radius: 3px;
    text-decoration: none;    
}
.btn:hover { 
    text-decoration: none;
}
.btn:active {
    box-shadow: inset 0 2px 1px 0 rgba(125,125,125,0.4);    
    text-decoration: none;
}

/* Modal Base */

.nhs_Modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;

    position: fixed;
    /*bottom: -100%;
    z-index: 99999;*/
    bottom: 0;
    z-index: -999999;
    opacity: 0;

    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Modal.expanded {
    bottom: 0;
    z-index: 999999;
    opacity: 1;
    }
.nhs_ModalLeft {
    bottom: 0;
    left: -100%;
    z-index: 999999;
}
.nhs_ModalLeft.expanded {
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.nhs_Modal > header {    
    width: 100%;
    min-width: 320px;
    height: 44px;
    margin: 0 auto;  
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    
    background: transparent; 
    font-size: 13px;
    color: #fff;

    z-index: 999999; 
    position: absolute;
    }
.nhs_Modal > header > p {
    text-align: center;
    color: #fff;
    }
.nhs_Modal > header > a,
.nhs_Modal > header > span {
    position: absolute;
    top: 0;
    right: 0;

    width: 27px;
    height: 27px;
    margin: 8px 8px 9px 25px;
    padding: 0;
    cursor: pointer;

    background-image: url(/globalresourcesmobile/default/images/icons/x_close.png);
    background-size: 27px 27px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_Modal > header a:hover,
.nhs_Modal > header a:active {
    background: #0091da;
    color: #fff;
}

.nhs_ModalActions {
    margin: 0 auto;
    margin-top: 40%;
    padding: 30px;
    width: 200px;
    height: 225px;
    background: #0091da;
    color: #fff;
}
.nhs_ModalActions a {
    float: left;
    display: inline-block;
    
    background-color: #ffce34;
    border-color: #bababa;
    border: 0;

    width: 75%;
    margin: 10px 0;
    padding: 12px 5px 12px 45px;

    font-size: 14px; 
    font-weight: 900; /*Heavy*/   
    line-height: 12px;
    color: #4b4b4b;
}
