/* ebook page */

#nhs_BookPage {
    width: 100%;
    /*min-height: 568px;*/
    
    margin: 44px 0 0 0;
    padding: 0;
    background: #0091da;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    color: #fff;
    
    padding: 12px 3.75%;
    width: 92.5%;
}
#nhs_BookPage > div > div.nhs_eBookImg img {
    display: block;
    margin: 0 auto;    
}

#nhs_BookPage > div > div.nhs_eBookLogos {
    position: absolute;
    max-width: 161px;
    width: 24%;
    top: 95px;
    padding: 0;
    right: 10px;    
}

#nhs_BookPage > div > h1 {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900;
    font-size: 18px;
    font-size: 1.125rem; 
    margin: 0 0 10px 0;
    line-height: 20px;   
}
#nhs_BookPage > div > h1 strong {
    color: #ffce34;    
}
#nhs_BookPage > div > p,
#nhs_BookPage > div > ul {    
    margin: 20px 0 10px 0;
}
#nhs_BookPage > div > ul {
    padding: 0 0 0 24px;    
}
#nhs_eBookForm p {
	margin: 0;
	padding: 0;	
}
#nhs_eBookForm p.nhs_Error {
    margin: 10px 0 10px 0;    
	color: #d92632;	
    font-size: 16px;
    font-size: 1rem;
    font-weight: 900;
}
#nhs_eBookForm p input[type='text'] { 
    width: 55%;
}
#nhs_eBookForm p.nhs_eBookPrivacy {
    margin: 10px 0 10px 0;
	padding: 0;	
	font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
	font-size: 11px;
    line-height: 12px;
    color: #73ccff;
}



/* ebook modal */

.nhs_EbookChkbox input {
    margin-right: 3px; 
    margin-left: 10px;   
}
.nhs_EbookChkbox input[type="checkbox"] + label {
    width: 85%;
}
.nhs_EbookChkbox select {
    width: 85%;
    margin-left: 13%;
    margin-top: 4px;
}
.nhs_EbookChkbox label strong {
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
}
.nhs_EbookNoThanks {
    text-align: center;    
}
.nhs_eBookSingUpDisable { 
    background-color: #bababa; 
    cursor: default;
}