

.nhs_HomeAccountCreated { 
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 10;
      
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    min-height: 30px;
    
    background: #eee; 
    box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); 
}
.nhs_HomeAccountCreated > p {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 900;
    color: #333;    
    text-align: center;
    line-height: 13px;
    margin: 0 12px 0 12px;
    padding: 10px 0 9px 0;
}

/* Nearby Homes */

.nhs_HomeNearby {
    background: #eee;
    padding: 10px 0;
}
.nhs_HomeNearby h2 {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900; /*Heavy*/
    font-size: 14px;
    font-size: 0.875rem;
    color: #4b4b4b;
    margin: 0 15px 2px 15px;
}

.nhs_HomeNearbyList {
    margin: 0 0 0 15px;
}
.nhs_HomeNearbyItem {
    float: left;
    display: block;
    width: 210px;
    background: #0091da;
    margin: 0 12px 0 0;
    padding: 0;
    color: #fff;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    font-size: 11px;
    font-size: 0.7rem;
    cursor: pointer;
}

.nhs_HomeNearbyItem > .nhs_ItemImg {
    width: 210px;
    height: 134px;
    border: 0;
    margin: 0 0 7px 0;
    padding: 0;
    background: #fff;
}
.nhs_HomeNearbyItem h3 {
    font-weight: bold; /*Medium*/
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0 10px 5px 10px;
    padding: 0;
    }
.nhs_HomeNearbyItem a {
    color: #fff;
}
.nhs_HomeNearbyItem p {
    margin: 0 10px 0 10px;
    padding: 0;
    }
.nhs_HomeNearbyItem p:nth-of-type(2) {
    float: left;
    margin-bottom: 7px;
    }
.nhs_HomeNearbyItem p:last-of-type {
    float: right;    
    margin-bottom: 7px;
    }

.nhs_HomeLinks ul {
    margin: 0;
    padding: 5px 30px 10px 30px;
    list-style: none;
}
.nhs_HomeLinks ul li {
    margin: 15px 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    line-height: 14px;
}
.nhs_HomeLinks ul li a {
    font-size: 12px;
    color: #7d7d7d;
}
.nhs_HomeLinks ul li a span {
    float: left;
    margin-top: 7px;
    width: 68%;
}
.nhs_HomeLinks ul li a strong {
    display: inline-block;
    font-size: 14px;
    font-weight: 600; /*Medium*/
    color: #0091da;
    margin-bottom: 5px;
}
.nhs_HomeLinks ul li img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
}
