
@media only screen and (min-width: 341px) { 
    .nhs_ResItem > ul.nhs_Actions {
        float: right;
    }    
    /*.nhs_ResItem > ul.nhs_Actions li a {        
        padding: 6px 10px 5px 10px;
    }*/
    .nhs_ResetLocationBox {
        right: 19%;    
    } 
    .nhs_ResFilter .nhs_ResetSearchBar {
        right: 8%;
    }
                                               
}

@media only screen and (min-width: 412px) { 
    .nhs_ResFilter .nhs_ResetSearchBar {
        right: 10%;
    }
}

@media only screen and (min-width: 431px) {
       
    /*.nhs_ResItem > ul.nhs_Actions li a {        
        padding: 6px 25px 5px 25px;
    }*/
    
    

}

@media only screen and (min-width: 461px) {
    
    .nhs_CmsCategoryTeaser > p { 
        width: 70%;
    }
            
    .nhs_CmsArticle > .nhs_CmsArticleImageCenter {
        margin: 0 auto;
        display: table; /*hack*/
        width: 1px; /*hack*/    
        max-width: 480px;
        padding: 0 0 12px 0; 
    }    
    .nhs_CmsArticle > .nhs_CmsArticleImageLeft {
        float: left;
        clear: left;
        display: table; /*hack*/
        width: 1px; /*hack*/
        max-width: 480px;
        margin: 0;
        padding: 0 25px 12px 0;
    }
    .nhs_CmsArticle > .nhs_CmsArticleImageRight {
        float: right;
        clear: right;
        display: table; /*hack*/
        width: 1px; /*hack*/
        max-width: 480px;
        margin: 0;
        padding: 0 0 12px 25px;
    }  
    .nhs_CmsArticle img {
        max-width: 768px;
        margin: 0;
    } 
                                           
}

/* Modals */
@media only screen and (max-height: 567px) {
    .nhs_Modal .nhs_Account.nhs_ShareModal,
    .nhs_Modal .nhs_Account.nhs_Contact {
        margin-top: 50px;       
    }
    .nhs_Modal .nhs_FloorPlan,
    .nhs_Modal .nhs_Gallery {
        margin-top: 10px;
        padding: 0 12px 0 12px;
    }
    .nhs_Modal > .nhs_GalleryList {
        margin-top: 50px;
        padding: 0 12px 0 12px;
    }
    /*.nhs_QuickView {
        margin-top: 25px;
    }*/
}

