

body {
    background: #eee;
    }

.nhs_Menu {    
    width: 100%; 
    max-width: 768px;

    width: 194px;
    height: 100%;

    position: fixed;
    top: 0;
	left: -100%;
    /*min-height: 568px;*/
	background: #fff; 
	border: 1px solid #bababa;
	border-width: 0 1px 0 0;
	
	z-index: 999;

    /*-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;*/
    }
.nhs_Menu.expanded {
    left: 0;
    }
/*.nhs_Menu > nav {
    width: 100%;
    height: 95%;
    margin: 0; 
    padding: 0 0 5% 0;
    overflow-y: auto;
    }*/
.nhs_Menu > a.nhs_Close {
    content: '';
    width: 100%;
    height: 100%;
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: -9;

    cursor: default;
    }
.nhs_Menu.expanded > a.nhs_Close {
    width: 100%;
    height: 100%;
    }

.nhs_Menu ul {
    margin: 0;
    padding: 0;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
}
.nhs_Menu ul li {
    border-top: 1px solid #eee;
}
.nhs_Menu ul li:last-child {
    border-bottom: 1px solid #eee;
    }
.nhs_Menu ul li a {
    display: block;
    padding: 12px 5%;
    color: #7d7d7d;
}
.nhs_Menu ul li a:hover,
.nhs_Menu ul li a:active {
    background: #0091da;
    color: #fff;
    text-decoration: none;
}
    
.nhs_Wrap {
	position: relative;
	width: 100%;
    min-width: 320px;
    max-width: 768px;
	margin: 0;
	}	

#nhs_Main {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
	/*min-height: 568px; DEV only */
    background: #fff;  
	
	position: relative;
    left: 0;

    /*-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;*/
    }
#nhs_Main.expanded {
    position: absolute;
    left: 195px;
    }
    
/* Site Top Bar */
    
.nhs_Header {
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 10;
    
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 44px;
    margin: 0 auto;  
    
    background: #fff; 
    font-size: 12px;
    font-size: 0.75rem;

    -webkit-transition: position 0.3s linear;
	-moz-transition: position 0.3s linear;
	-ms-transition: position 0.3s linear;
	-o-transition: position 0.3s linear;
	transition: position 0.3s linear;
		
    border-bottom: 1px solid #eee;
	/*box-shadow: 0 4px 4px 0 rgba(75,75,75,0.7); */
}
.expanded .nhs_Header {
    left: 195px;
}
.nhs_Header .nhs_BackBtn,
.nhs_Header .nhs_MenuBtn {
    width: 19px;
    height: 14px;
    margin: 5px 0 0 5px;
    padding: 10px 15px 10px 15px;
    overflow: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
        
    background-image: url(/globalresourcesmobile/default/images/icons/menu.png);
    background-size: 19px 14px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
}
.nhs_Header .nhs_BackBtn {
    display: none; 
    background-image: url(/globalresourcesmobile/default/images/icons/back.png);   
    background-size: 9px 17px;
    background-position: 15px 9px;
}

.nhs_Header h1 {
    margin: 13px auto 0 auto;
    padding: 0; 
    display: inline-block;   
}
.nhs_Menu .nhs_Logo,
.nhs_Header .nhs_Logo {
    display: block;
    width: 146px; /*124px;*/
    height: 20px; /*17px;*/
    margin: 12px auto 0 auto;
    padding: 0;
    overflow: hidden;
    
    background-image: url(/globalresourcesmobile/default/images/logo@2x.png);
    background-size: 146px 20px; /*124px 17px;*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nhs_Menu .nhs_Logo {
    margin: 12px auto 12px auto;
}
.nhs_Header fieldset {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 44px;
    height: 44px;
    
    background: #fff;
    /*border: 1px solid #000;
    border-width: 0 1px;    */
    
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Header fieldset input[type=text] {
    float: left;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    width: 78%;
    height: 19px;
    margin: 8px 0 0 0;
    padding: 5px 2%;
    display: none;
    
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Header fieldset input[type=reset] {
    opacity: 0;
    width: 0;
}
.nhs_Header fieldset.expanded {
    width: 82%;    
    
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Header fieldset.expanded input[type=text] {
    display: block;
    
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Header fieldset.expanded input[type=reset] {
    display: block;
    opacity: 1;
    width: 21px;
    
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.nhs_Header fieldset .nhs_BtnSearch {
    float: right;
    width: 14px;
    height: 24px;
    margin: 0 0 0 0;
    padding: 10px 20px 10px 0;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: 0;
    
    background-color: #fff;
    background-image: url(/globalresourcesmobile/default/images/icons/magnify_glass.png);
    background-size: 14px 14px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.nhs_Footer {
    margin: 0;
    padding: 25px 0 70px 0;
    background: #7d7d7d;    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    color: #fff;
}
.nhs_Footer p {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size: 0.7rem;
    margin: 20px 20px;  
}
.nhs_Footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold; /*Medium*/
    line-height: 28px;
}
.nhs_Footer ul li {
    float: left;
    width: 130px;
    margin: 5px 0;
    padding: 0 10px 0 20px;
}
.nhs_Footer ul li a {
    display: inline-block;
    padding: 5px 0;
    line-height: 12px;
}
.nhs_Footer a {
    color: #fff;
    text-decoration: underline;
}
.nhs_Footer a:hover,
.nhs_Footer a:active {
    color: #ffce34;
}

/*======== SOCIAL FOOTER =========*/
#nhs_SocialFooter {
	width: 100%;
	background: #bababa;
	padding: 48px 0 0 0;
}
#nhs_SocialFooter > ul {
	display: block;
	width: 100%;
	max-width: 670px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#nhs_SocialFooter > ul > li {
	float: left;
	width: 11.04477611940299%; /*74/670*/
	display: block;
	margin: 0 4.477611940298507% 48px 4.477611940298507%; /*30/670*/
	max-width: 74px;
	max-height: 74px;
	min-width: 25px;
	min-height: 25px;
	overflow: hidden;
}
#nhs_SocialFooter > ul > li a {
	display: block;	
	padding-top: 100%;
	height: 0;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-image: url(/globalresources14/newhomesource/images/icons/facebook_74.png);
}
#nhs_SocialFooter > ul > li a:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/facebook_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_Twitter {
	background-image: url(/globalresources14/newhomesource/images/icons/twitter_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_Twitter:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/twitter_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_Pinterest {
	background-image: url(/globalresources14/newhomesource/images/icons/pinterest_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_Pinterest:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/pinterest_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_YouTube {
	background-image: url(/globalresources14/newhomesource/images/icons/youtube_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_YouTube:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/youtube_74_blue.png);
}
#nhs_SocialFooter > ul > li a#nhs_GooglePlus {
	background-image: url(/globalresources14/newhomesource/images/icons/googleplus_74.png);
}
#nhs_SocialFooter > ul > li a#nhs_GooglePlus:hover {
	background-image: url(/globalresources14/newhomesource/images/icons/googleplus_74_blue.png);
}