/* tv page */

#nhs_TvNav {
    width: 100%;  
    margin: 44px 0 0 0;
    padding: 0;
    background: #eee;
}

#nhs_TvNav ul {
    list-style: none;
    float: left;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0;
}
#nhs_TvNav ul li {
    float: left;
    width: 45.3125%; /*145/320*/
    margin: 8px 0 0 0;    
    padding: 0 0 0 3.125%; /*10/320*/
}
#nhs_TvNav ul li a {
    display: block;
    padding: 12px 0; /*24/164*/
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900;   
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    line-height: 16px;
    text-align: center;
    height: 16px;
    text-decoration: none;
    border-radius: 3px;
       
    border: 1px solid #0091da;
    background: #0091da;
}
#nhs_TvNav ul li a:hover { 
    color: #0091da;
    border: 1px solid #0091da;
    background: #fff;
} 

#nhs_TvNav > div {
    background: #7d7d7d;
    padding: 12px 12px;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900;   
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    line-height: 16px;
    height: 16px;
}
#nhs_TvNav > div a {
    color: #fff;
}

#nhs_TvHomeHeader {
    margin: 44px 0 0 0;
    padding: 0;
    background: #eee; 
    
    font-family: "Avenir W01",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
    
    padding: 12px 3.75%;
    width: 92.5%;
}
#nhs_TvHomeHeader > h2 {
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900;
    font-size: 18px;
    font-size: 1.125rem; 
    margin: 0 0 10px 0;
    line-height: 20px; 
    color: #4b4b4b;  
}
#nhs_TvHomeHeader p {
    margin: 0;    
}
#nhs_TvHomeHeader ul,
#nhs_TvHomeHeader p:first-of-type {
    color: #0091da;
    margin: 0 0 10px 0;
}
#nhs_TvHomeHeader ul {
    padding: 0 0 0 20px;    
}
#nhs_TvHomeHeader ul li {
    line-height: 1.1;    
    margin: 6px 0;
}

#nhs_TvMarketSlides {
    display: block;
    width: 100%;
    margin: 18px auto 32px auto; 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
    /*position: relative; 
    display: none;*/
}
.nhs_TvMarketSlide {
    width: 100%; 
    position: relative;   
}
#slide1 .nhs_TvMarketSlideText {
    position: absolute;
    left: 33%;
    top: 0;
    width: 64%;
}
#slide1 .nhs_TvMarketSlideText p {
    font-size: 11px;
    font-size: 0.7rem;
    color: #4b4b4b;
    line-height: 1.2;
}
#slide1 .nhs_TvMarketSlideText p strong {
    font-size: 12px;
    font-size: 0.75rem;
}
#slide1 .nhs_TvMarketSlideText p:first-child {
    margin: 0;
    color: #7d7d7d;
}
#slide2 p {
    margin: 0;
}
#slide2 a.btnCss {
    position: absolute;
    right: 15%;
    bottom: 12%;    
}
#slide3 .nhs_TvMarketSlideText {
    
}
#slide3 .nhs_TvMarketSlideText p {
    font-size: 14px;
    font-size: 0.875rem;
    color: #0091da;  
    
    position: absolute;
    left: 43%;
    bottom: 5px;
    width: 51%;
    text-align: center;
    line-height: 1;  
}
#slide3 .nhs_TvMarketSlideText p:first-child {
    margin: 0;
    color: #bababa;
    top: 5px;
    bottom: auto;
}


#nhs_TvFeaturedHomes {
	display: block;	
    width: 92.5%;
    /*height: 450px;*/
	margin: 0 auto;
	padding: 18px 3.75% 42px 3.75%;
    background: #eee;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;    
}
.nhs_TvFeaturedItem {
    width: 100%; 
    background: #fff;
    border-right: 1px solid #eee;
    padding: 0 0 12px 0 !important;  
}
.nhs_TvFeaturedItem > .nhs_ItemImages {
    margin-bottom: 12px;
}
.nhs_TvFeaturedItem > h2,
.nhs_TvFeaturedItem h3,
.nhs_TvFeaturedItem > p,
.nhs_TvFeaturedItem > a {
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0 12px;    
}
.nhs_TvFeaturedItem h3,
.nhs_TvFeaturedItem > a {
    display: inline-block;
    margin: 8px 12px;
}
.nhs_TvFeaturedItem > h2,
.nhs_TvFeaturedItem > h2 strong {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.2;
}

/*======== TV MARKET - FORM =========*/
#nhs_TvMarketSignUp {
    width: 100%;
    margin: 0 auto; 
    padding: 0;
}
.nhs_TvMarketForm {
    float: none;
    width: 92.5%;
    margin: 0 0 0 0;
    padding: 12px 3.75%; /*20/960*/ 
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    color: #fff;
    background: #bababa;
    position: relative;
}
.nhs_TvMarketForm p {    
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 900;
    line-height: 1.1; 
    margin: 0 0 10px 0;  
}
.nhs_TvMarketForm p input[type="text"] {   
    width: 65%;
}
.nhs_TvMarketForm p input.btnCss {    
    background: #0091da;
    color: #fff !important;
}

#nhs_TvMap {
	display: block;
	padding: 18px 3.75% 12px 3.75%;
    width: 92.5%;
	margin: 0 auto;
    background: #eee;
}
#nhs_TvFeaturedHomes > h3,
#nhs_TvMap h3 {
    margin: 0 0 10px 0;
}

#nhs_TvHomeMap,
#nhs_TvMapDiv {
    width: 90%;    
    margin: 12px auto;
	min-height: 240px;
	background: #fff;
	box-shadow: inset 0 0 30px 0 #a9abac;
}
#nhs_TvMapDiv {
    width: 95%;
}

#nhs_TvResults {
    display: block;
	padding: 18px 0 0 0;
    width: 100%;
	margin: 0 auto;
    background: #eee;
}
#nhs_TvResults h3 {
    margin: 0 3.75%;
}
#nhs_TvResults #nhs_ResList {
    margin: 12px 0 0 0;
}

.nhs_TvSearchForm {
    width: 90%;
    height: 55px;
    margin: 0;
    padding: 15px 5% 20px 5%;
    background: #bababa;    
}
.nhs_TvSearchForm label {
    display: inline-block;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-weight: 900;   
    font-size: 17px;
    font-size: 1.05rem;
    color: #fff;
    padding-bottom: 3px;
}
.nhs_TvSearchForm p {
    position: relative;
    margin: 0;
}
.nhs_TvSearchForm p input[type="text"] {
    padding: 7px 12% 7px 1%;
    height: 17px;
    border: 0;
    width: 56%;
    border-radius: 3px;
}
.nhs_TvSearchForm p input.btnCss {
    margin-left: 2%;
    background: #0091da;
    color: #fff !important;
}
.nhs_TvSearchForm .nhs_LocationSubmitButton {
	position: absolute;
	top: 29px;
	right: 33%;
	width: 26px;
	height: 0;
	border: 0;
	overflow: hidden;
	padding: 26px 0 0 0;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-image: url(/globalresources14/newhomesource/images/icons/search_magnifier.png);
}
.nhs_NewsletterSignUpErrors .nhs_Error,
.nhs_NewsletterSmallSignUpErrors .nhs_Error {
    margin: 10px 0 10px 0;    
	color: #d92632;	
    font-size: 16px;
    font-size: 1rem;
    font-weight: 900;
}
.nhs_PoweredBy {
    margin: 12px auto 0 auto;    
    padding: 8px 3.75% 12px 3.75%;
    width: 92.5%;
    background: #fff;    
    text-align: center;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
}
.nhs_PoweredBy > p {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-size: 0.875rem; 
    color: #bababa;   
}

/*======== TV VIDEO SEGMENTS =========*/
#nhs_TvSegments,
#nhs_TvMarketPromos {
	display: block;	
    width: 92.5%;
	margin: 0 auto;
	padding: 18px 3.75% 42px 3.75%;
    background: #eee;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
}
#nhs_TvSegments h3,
#nhs_TvMarketPromos h3 {
    margin: 0 0 10px 0;
}
.nhs_TvVideoItem {
    float: left;
    width: 100%;
    min-height: 225px;
    margin: 0 0 20px 0; 
    padding: 0 0 42px 0 !important;
    border-right: 1px solid #eee;    
    background: #fff;
    color: #7d7d7d;
    position: relative;
}
.nhs_TvPromoItem {
    float: left;
    width: 100%;
    margin: 0 0 20px 0; 
    padding: 0 0 42px 0 !important;
    border-right: 1px solid #eee;    
    background: #fff;
    color: #7d7d7d;
    position: relative;
}
.nhs_TvVideoItem:nth-of-type(2n) {
    margin-right: 0;    
}
.nhs_TvVideoItem .nhs_ItemImages { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
} 
.nhs_TvVideoItem .nhs_ItemImages iframe, 
.nhs_TvVideoItem .nhs_ItemImages object, 
.nhs_TvVideoItem .nhs_ItemImages embed,
.nhs_TvVideoItem .nhs_ItemImages > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.nhs_TvVideoItem .nhs_ItemImages img {
    position: absolute;
    top: -17%;
    left: 0
}
.csstransforms .nhs_TvVideoItem .nhs_ItemImages img {
    width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.nhs_TvVideoItem p {
    font-size: 11px;
    font-size: 0.7rem; 
    margin: 10px;   
}
.nhs_TvVideoItem p strong {
    display: inline-block;    
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #0091da;
}
.nhs_TvVideoItem a.btnCss {
    float: right;
    background: #fff; 
    border: 1px solid #0091da;  
    color: #0091da !important;   
    width: 60px; 
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
}
.nhs_TvVideoItem a.btnCss:hover {
   background: #0091da; 
   color: #fff !important;
   border: 1px solid #0091da;
   text-decoration: none; 
}

.nhs_TvPromoHeadline {
    font-weight: 900;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1;
    margin-bottom: 8px;
    padding: 12px;
    color: #fff;
    background: #0091da;
}
.nhs_TvPromoTitle {
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    margin: 8px 10px; 
    color: #0091da;
}
.nhs_TvPromoDesc {
    font-size: 11px;
    font-size: 0.725rem; 
    margin: 8px 10px;  
}
.nhs_TvPromoComm {
    font-size: 14px;
    font-size: 0.875rem; 
    margin: 8px 10px;
    color: #0091da;  
}


/* Sponsor Logos
-------------------------*/
#nhs_TvSponsors {
	display: block;	
    width: 92.5%;
	margin: 0 auto;
	padding: 8px 3.75% 12px 3.75%;
    background: #eee;
}
#nhs_TvSponsors h3 {
    margin: 0 0 10px 0;
}
#nhs_TvSponsors > ul {
	display: block;		
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;	
	position: relative;
}
#nhs_TvSponsors > ul li {
	float: left;
	display: block;
	width: 46.25%; /*148/320*/    
	height: 90px;
	line-height: 90px;
	margin: 0 1.5625% 10px 1.5625%; /*5/320*/
	padding: 0;
	text-align: center;
	vertical-align: middle;
	background: #fff;
}
#nhs_TvSponsors > ul li a {
    display: block;
    padding: 0 5px;
}
#nhs_TvSponsors img {
	max-height: 90px;		
}

/*======== TV - FOOTER HOST BIO =========*/
#nhs_TvHomeFooter > div,
#nhs_TvMarketFooter > div {
    padding: 12px 3.75% 12px 3.75%;
    width: 92.5%;
    
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
}
.nhs_TvHostBio {
    margin: 20px 0 0 0;
}
.nhs_TvHostBio img {
    float: right;
    margin: 16px 0 10px 3%;
    width: 42%;
}
#nhs_TvMarketFooter > div h3,
.nhs_TvHostBio h3 {
    font-size: 18px;
    font-size: 1.125rem; 
    font-weight: 900;
    margin: 0 0 10px 0;   
    color: #0091da;    
}
.nhs_TvHostBio h4 {    
    font-size: 13px;
    font-size: 0.825rem;
    line-height: 1.1; 
    margin: 0 0 10px 0;   
    color: #4b4b4b;
}
.nhs_TvHostBio p {
    margin: 0 0 10px 0;   
    font-size: 12px;
    font-size: 0.75rem;
}


/*======== TV BUILDER/AD TEASER =========*/
.nhs_TvMarketing {
    padding: 12px 3.75%;
    width: 92.5%;
    
    background: #0091da;
    color: #fff;
    line-height: 1.1;
    text-align: center;
    font-family: 'Avenir W01',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-size: 0.825rem;
    font-weight: 600;
}
.nhs_TvMarketing p strong {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 900;
    color: #ffce34;    
}
div.nhs_TvMarketing a {
    display: block;
    color: #fff;
    text-decoration: underline;
}