﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

@using Nhs.Library.Constants.Enums
@using Nhs.Web.UI.AppCode.Helper

<ul id="nhs_CommDetailTabs" class="nhs_Tabs">
    @if (Model.FilteredHomesCount > 0)
    {
        <li id="allCommunitiesTab" @((Model.SelectedTab == CommunityDetailTabs.FilterCommunities ? "class=\"nhs_Selected\"" : "").ToMvcHtmlString())>
            <a href="javascript:void(0)">
                <span>
                    @(Model.FilteredHomesCount + " " + (Model.FilteredHomesCount > 1 ? LanguageHelper.HomesMatchingYourSearch : LanguageHelper.HomeMatchingYourSearch))
                </span>
            </a>
        </li>
    }

    @if (Model.AllNewHomesCount > 0)
    {
        <li id="newHomesTab" @((Model.SelectedTab == CommunityDetailTabs.AllCommunities ? "class=\"nhs_Selected\"" : "").ToMvcHtmlString())>
            <a href="#">
                <span>
                    <span>
                        @((Model.AllNewHomesCount > 1 ? LanguageHelper.AllFemale : LanguageHelper.All) + " " + Model.AllNewHomesCount + " " + (Model.AllNewHomesCount > 1 ? LanguageHelper.NewHomes : LanguageHelper.NewHome))
                    </span>
                </span>
            </a>
        </li>
    }
    @if (Model.QuickMoveInCount > 0)
    {
        <li id="quickMoveInTab" @((Model.SelectedTab == CommunityDetailTabs.QuickMoveIn ? "class=\"nhs_Selected\"" : "").ToMvcHtmlString())>
            <a href="#">
                <span>
                    <span>
                        @(Model.QuickMoveInCount + " " + LanguageHelper.QuickMoveIn)
                    </span>
                </span>
            </a>
        </li>
    }
</ul>

