﻿@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

<script type="text/javascript">
    var description = "@Model.DetailDescription";
    var chunkedDescription = "@Model.DetailDescription.ChunkHomeDescription()";    
</script>

@if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled && !Model.PreviewMode)
{
    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
}

<div id="nhs_DetailsHeader">

    <p class="title">
        @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Neighborhood : LanguageHelper.CommunityDetails)
    </p>
    <div class="nhs_DetailsToolBar">
        <div class="clearfix">
            <ul>
               @if (Model.AllNewHomesCount>0)
               {
                <li>
                    <a href="#HomesAndPlans">@LanguageHelper.SeeHomes.ToMvcHtmlString()</a>
                </li>
               }
                @if ((!Model.IsBasicCommunity && !Model.IsCommunityResults) && RouteParams.FWIV.Value<bool>())
                {
                    <li>
                        <a class="nhs_MediaPlayerMaximize">
                            @LanguageHelper.Photos.ToMvcHtmlString()
                        </a>
                    </li>
                }
                <li>
                    <a href="#SchoolsAndAmenities">
                        @(NhsRoute.PartnerId == (int) PartnersConst.Move ? LanguageHelper.SchoolsAndLocalFeatures : LanguageHelper.SchoolsAndAmenities)
                    </a>
                </li>
                <li>
                    <a href="#Maps">@LanguageHelper.MapAndDirections.ToMvcHtmlString()</a>
                </li>
                <li @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro) ? "style=display:none" : "")>
                    <a href="#Contact">
                        @LanguageHelper.Contact.ToMvcHtmlString()
                    </a>
                </li>
            </ul>
            @if (Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower())
            {
                if (UserSession.UserProfile.ActorStatus == WebActors.GuestUser && Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <span class="nhs_LockIcon nhs_LockIconToolBar"></span>
                }
                @Html.GetFreeBrochureLink(Model, "jQuery.googlepush('Lead Events','Community - CTA ToolBar','Open Form - Free Brochure ToolBar');", "btnCss")
            }
        </div>
        <input type="hidden" id="nhs_ShowToolbar" class="visuallyhidden" value="false" />
    </div>
    <div class="nhs_DetailsHeaderTitleCity">
        <h1 class="nhs_DetailsHeaderTitle">
            @Model.Globals.H1.ToMvcHtmlString()
        </h1>
        @if (!Model.PreviewMode)
        {
            <div id="nhs_FbLike">
                @Html.FbLike()
            </div>
        }

        @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            {
            <div class="nhs_DetailsHeaderBcTypeBanner">
                @Html.HomeStatusImage(Model, true)
            </div>
            }
    </div>
</div>

<div id="nhs_DetailsDescription">

    @if (Model.HasCoop)
        {
        <img src="@GlobalResourcesMvc.Pro.images.icons.icon_coop_png"
             alt="@LanguageHelper.ConfirmedCoOp" />
        }

    @Html.HomeStatusImage(Model, false)

    @if (!string.IsNullOrEmpty(Html.HomeStatusImage(Model).ToString()) | Model.HasCoop)
    {
        <br />
     }

    <div id="nhs_DetailsBuilderLogoAndPrice">
        @if (Model.ShowBuilderLogo() && Model.IsBilled)
        {
        <div class="nhs_DetailsFormLogo">
            @Html.RenderBuilderLogoLink(Model, false)
        </div>
        }
        @if (Model.HomeStatus != (int)HomeStatusType.ModelHome)
        {
            <p class="nhs_DetailsPrice">
                @Model.PriceDisplay.ToMvcHtmlString()
            </p>
        }
    </div>
    <div id="nhs_DetailsHeaderBrandHomesSqFt">

        <h2 class="nhs_DetailsHeaderBuilderName">
            @Model.FormatBrandName()
        </h2>
        <p>
            @Model.FormatHomesAvailable().ToMvcHtmlString()
            @Model.FormatSqFeet().ToMvcHtmlString()
        </p>

    </div>
    <p>
        <span id="nhsDetailDescriptionArea">
            @Model.DetailDescription.ChunkHomeDescription().ToMvcHtmlString()
        </span>
        @if (!string.IsNullOrEmpty(Model.DetailDescription) && Model.DetailDescription.Length > Model.GetPropertyDetailDescriptionLength())
        {
            <a id="nhs_detailDescriptionToggle" href="javascript:void(0)" class="nhs_likeALink">
                ...@LanguageHelper.More.ToMvcHtmlString()
            </a>
        }
    </p>
    <div class="nhs_Clear"></div>
</div>
<div id="nhs_DetailsStaticImage">
    <img src="@Model.FirstImage" class="nhs_DetailFirstImage" alt="" />
</div>
