﻿@using Nhs.Library.Business
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.ViewModels
@using Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult
@model CommunityDetailViewModel
<div class="nhs_DetailContent">
    <table id="nhs_homeGalleryTable">
        @{
            int i = 0;
            dynamic homeResultDynamic;
            if (Model.PreviewMode)
            {
                homeResultDynamic = Model.HomeResults.ToRows(4);
            }
            else
            {
                homeResultDynamic = Model.HomeResultsApi.ToRows(4);
            }
            foreach (var tr in homeResultDynamic)
            {
                <tr class="@(Model.AllNewHomesCount < 41 && i > 11 ? "nhsHideRow nhsFlag" : "nhsShowRow")">
                    @foreach (var td in tr)
                    {
                        i++;
                        var previewModel = Model.PreviewMode ? new HomeResultViewModel(td, Model.MarketId, Model.PreviewMode, Model.BcType, Model.MarketName) 
                                                             : null;
                        var apiModel = !Model.PreviewMode ? new HomeResultApiViewModel(td, Model.MarketId, Model.PreviewMode, Model.BcType)
                                                          : null;
                        var reloadJs = Model.PreviewMode
                                         ? Html.GetHomeDetailUrl(previewModel.HomeResultRow, Model.PreviewMode)
                                         : Html.GetHomeDetailUrl(apiModel.HomeResultRow, Model.PreviewMode);
                        <td class="nhs_GalleryCell" onclick="reload('@reloadJs');" onmouseout="$jq(this).removeClass('nhs_GalleryCellOn');" onmouseover="$jq(this).addClass('nhs_GalleryCellOn');">
                            @*BEGIN RENDER ROW*@
                            @(Model.PreviewMode ? Html.Partial(NhsMvc.Default.Views.CommunityDetail.HomeResultRow, previewModel)
                                                : Html.Partial(NhsMvc.Default.Views.CommunityDetail.HomeItemResultRow, apiModel))
                            @*END RENDER ROW*@
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>