﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeResultApiViewModel
           
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Helper

@*Home Image *@
<div class="nhs_GalleryCellImgBox">
    @Html.HomeDetailImageLink(Model.HomeResultRow, false, Model.PreviewMode)
    @if (Model.HomeResultRow.ImageCount > 1)
        {
        @*<span class="nhs_GalleryImgOverlay">@Model.HomeResultRow.ImageCount @LanguageHelper.Photos.ToMvcHtmlString()</span>     *@   
        <p class="nhs_ItemCount">@Model.HomeResultRow.ImageCount <span>@LanguageHelper.Photos.ToMvcHtmlString()</span></p>
        }
    @Model.HomeResultRow.HomeStatus()
</div>
<div class="specs">
    <p class="propertyTitles">
        @*Title Part*@
        @Html.HomeDetailLink(Model.HomeResultRow)
    </p>
    <div class="specsLeft">
        @if (Model.HomeResultRow.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
        { 
@*Price Section*@
            <p class="price">
                @Convert.ToInt32(Model.HomeResultRow.Price).FormatPrice(Model.HomeResultRow.HomeId)
            </p>
        } 
@*Square Footage*@
        @if (Model.HomeResultRow.Sft > 0)
        {
            <p class="squareFootage">
                @Model.HomeResultRow.FormatSquareFootage()
            </p>
        }
        <p class="BedBath">
            @*BedRooms*@
            @Model.HomeResultRow.FormatBedrooms()
            @*BathRooms*@
            @Model.HomeResultRow.FormatBathrooms()
            @*Garage*@
            @Model.HomeResultRow.FormatGarages()
        </p>
    </div>
    <div class="specsRight">        
        @*@if (Model.HomeResultRow.ImageCount > 0)
        {
            <p class="media_icon">@(Model.HomeResultRow.ImageCount + (Model.HomeResultRow.ImageCount
                > 1 ? " " + LanguageHelper.Photos : " " + LanguageHelper.Photo))</p>
        }*@
        @*Hot home*@
        @if (Model.HomeResultRow.IsHotHome > 0 && NhsRoute.BrandPartnerId != (int)PartnersConst.Pro)
        {
            <span class="nhs_DetailHotHomeIcon"></span>
        }
        @if (!string.IsNullOrEmpty(Model.HomeResultRow.VirtualTour) && !Model.HomeResultRow.VirtualTour.Equals("N"))
        {
            <p class="vitual_tour_icon">
                @LanguageHelper.VirtualTour.ToMvcHtmlString()</p>         
        }
        @if (!string.IsNullOrEmpty(Model.HomeResultRow.FloorPlanPath) && !Model.HomeResultRow.FloorPlanPath.Equals("N"))
        {
            <p class="floor_plan_icon">
                @LanguageHelper.VirtualTour.ToMvcHtmlString()</p>         
            }
    </div>
</div>
