﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeResultViewModel
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper

@* --Home Image *@
<div class="nhs_GalleryCellImgBox">
    @Html.HomeDetailImageLink(Model.HomeResultRow, false, Model.PreviewMode)
    @if (Model.HomeResultRow.ImageCount > 1)
    {
        @*<span class="nhs_GalleryImgOverlay">@Model.HomeResultRow.ImageCount @LanguageHelper.Photos.ToMvcHtmlString()</span>*@
        <p class="nhs_ItemCount">@Model.HomeResultRow.ImageCount <span>@LanguageHelper.Photos.ToMvcHtmlString()</span></p>
    }
    @Model.HomeResultRow.HomeStatus()
</div>
<div class="specs">
    <p class="propertyTitles">
        @*--Title Part--*@
        @Html.HomeDetailLink(Model.HomeResultRow, Model.PreviewMode)
    </p>
    <div class="specsLeft">
        @if (Model.HomeResultRow.HomeStatus != (int)HomeStatusType.ModelHome)
        {
            @*--Price Section- *@
            <p class="price">
                @Model.HomeResultRow.Price.FormatPrice(Model.HomeResultRow.SpecId).ToMvcHtmlString()
            </p>
        }
        @* --Square Footage-- *@
        @if (Model.HomeResultRow.FormatSquareFootage() != string.Empty)
        {
            <p class="squareFootage">
                @Model.HomeResultRow.FormatSquareFootage().ToMvcHtmlString()
            </p>
        }
        <p class="BedBath">
            @* --BedRooms-- *@
            @Model.HomeResultRow.FormatBedrooms()

            @* --BathRooms-- *@
            @Model.HomeResultRow.FormatBathrooms()

            @* --Garage-- *@
            @Model.HomeResultRow.FormatGarages()
        </p>
    </div>
    <div class="specsRight">        
        @*@if (Model.HomeResultRow.ImageCount > 0)
        {
            <p class="media_icon">
                @(Model.HomeResultRow.ImageCount + (Model.HomeResultRow.ImageCount > 1 ? " " + LanguageHelper.Photos : " " + LanguageHelper.Photo))
            </p>
        }*@
        @* --Hot home-- *@
        @if (Model.HomeResultRow.IsHotHome && NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
        {
            <span class="nhs_DetailHotHomeIcon"></span>
        }
        @if (Model.HomeResultRow.VirtualTourExists(Model.HomeResultRow.Plan, Model.HomeResultRow.Spec))
        {
            <p class="vitual_tour_icon">@LanguageHelper.VirtualTour.ToMvcHtmlString()</p>
        }
        @if (Model.HomeResultRow.FloorPlanExists(Model.HomeResultRow.Plan, Model.HomeResultRow.Spec, Model.PreviewMode))
        {
            <p class="floor_plan_icon">@LanguageHelper.FloorPlan.ToMvcHtmlString()</p>
        }
    </div>
    @*<p>
        @if (!string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) || Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
            <!-- Home Status: Ready to Build/Ready To Move in/ etc. -->
            @Html.HomeStatusAsyncImage(Model.HomeResultRow)
        }
    </p>*@
</div>

