﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel
@if (Model.HomeResultsApi != null || Model.HomeResults != null)
{
    @Html.Partial(NhsMvc.Default.Views.CommunityDetail.CommunityDetailTabs)
    <div id="nhs_HomesGallery">
         @Html.Partial(NhsMvc.Default.Views.CommunityDetail.HomesGallery)
    </div>
}
@if (Model.GetHomesGalleryPager())
{
    if (Model.PreviewMode)
    {
        @Html.Partial(NhsMvc.PartialViews.Views.Common.Pager, Model.HomeResults)
    }
    else
    {
        @Html.Partial(NhsMvc.PartialViews.Views.Common.Pager, Model.HomeResultsApi)
    }
}
else if (Model.GetHomesGalleryLink())
{ 
    <p class="nhs_GalleryMatchingHomes">
        <a id="nhs_HomesGalleryLink" href="javascript:void(0)">@LanguageHelper.MatchingHomesShown.ToMvcHtmlString() »</a></p>
}
<div class="nhs_BackToTop">
    <a href="#top">
        @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
