﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel
@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()
}

@section cphHead {
    @ResourceCombinerEnum.NEWMEDIAPLAYERCSS.GetCrunchedResource()
}

<div class="nhs_Content@(string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) ? " nhs_CommComingSoon" :"")" id="nhs_CommunityDetails">
    @{ if (Model.CommunityId == 0)
     {
        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty)
     }
     else
     {
        @Html.Partial(NhsMvc.Default.Views.CommunityDetail.CommunityHeader)
        <div id="nhs_DetailsMediaForm">
            <div id="nhs_DetailMediaGallery">
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.MediaGallery)
            </div>
            <div class="nhs_DetailsForm">
                <div class="nhs_DetailsFormWrapper">
                    @Html.Partial(NhsMvc.Default.Views.Common.LeadForm.LeadFormContainer)
                    <div id="nhs_DetailsFormInfoActions">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyInfoAndNextSteps)
                    </div>
                </div>
                @if (Model.PreviewMode)
                {
                    <div class="nhs_DetailsFormOverlay"></div>
                }
            </div>
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.Promotions)
        </div>
                var showhomesAndPlans = Model.PreviewMode ? Model.HomeResults != null && Model.HomeResults.Any()
                                                             : Model.HomeResultsApi != null && Model.HomeResultsApi.Any();
                if (showhomesAndPlans)
                {
                    <section id="HomesAndPlans">
                        <div class="nhs_HomesPlansGallery">
                            <div class="nhs_DetailSections">
                                <h3 class="nhs_DetailSectionTitle">
                                    @(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.HomesAndLayouts.ToMvcHtmlString() : LanguageHelper.HomesAndPlans.ToMvcHtmlString())
                                </h3>
                            </div>
                            <div class="nhs_HomesGalleryResults">
                                @if (!Model.PreviewMode)
                                {
                                    <p class="nhs_Sorting">
                                        @Html.Partial(NhsMvc.Default.Views.CommunityDetail.Sorting)
                                    </p>
                                }
                                <div id="ViewHomes">
                                    @Html.Partial(NhsMvc.Default.Views.CommunityDetail.ResultData)
                                </div>
                                <div class="nhs_Clear"></div>
                            </div>
                            <div class="nhs_Clear"></div>
                        </div>
                    </section>
                }
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.SecondaryInfo)
                //Map also has More new homes nearby section
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyMap)
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.NextSteps)
     }

    //Check for valid community end
    //Copyright Text
    @Html.Partial(NhsMvc.Default.Views.Common.Disclaimer)}
</div>
<div id="nhs_Loading">
    <p>
        <strong>@LanguageHelper.Loading.ToMvcHtmlString()...</strong>
    </p>
</div>

@section cphFooter {

    @ResourceCombinerEnum.COMMDETAILJS.GetCrunchedResource()
    @ResourceCombinerEnum.NEWMEDIAPLAYERJS.GetCrunchedResource()
    @if (Model.CommunityId != 0)
    {
        <script type="text/javascript">

    var commDetail = null;
    var metricLogger = null;
    var loggin = null;
    jQuery(document).ready(function() {
        // Once the doc is ready, loads the map.

        var logginparameter = {
            commId: @Model.CommunityId,
            commName : '@Model.CommunityName.RemoveSpecialCharacters()',
            builderId: @Model.BuilderId,
            builderName : '@Model.BuilderName.RemoveSpecialCharacters()',
            marketId: @Model.MarketId,
            marketName : '@Model.MarketName.RemoveSpecialCharacters()',
            planId: @Model.PlanId,
            specId: @Model.SpecId,
            logActionMethodUrl: "@Model.LogActionMethodUrl"
        };

        var parameters = {
            GetNearbyCommunities: "@Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetNearbyCommunities)",
            method: @Model.Globals.GetAddCommunityToPlannerUrl(Model.CommunityId, Model.BuilderId).ToMvcHtmlString(),
            searchAction:  "@Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.Search)",
            tabsControlId: "nhs_CommDetailTabs",
            FilteredHomesCount: @Model.FilteredHomesCount,
            AllNewHomesCount: @Model.AllNewHomesCount,
            QuickMoveInCount: @Model.QuickMoveInCount,
            SelectedTab: "@Model.SelectedTab",
            searchParameters: @Model.SearchParametersJSon.ToMvcHtmlString(),
            loadingControlId: "nhs_Loading",
            siteRoot: "/@NhsRoute.SiteRoot",
            communityId: @Model.CommunityId,
            builderId: @Model.BuilderId,
            partnerId: @NhsRoute.PartnerId,
            partnerName : '@Model.Globals.PartnerInfo.PartnerName',
            isBilled: "@Model.IsBilled",
            PreviewMode: "@Model.PreviewMode",
            BrandName: "@HttpUtility.JavaScriptStringEncode(Model.BrandName)",
            showSocialIcons: "@Model.ShowSocialIcons",
            marketId: @Model.MarketId,
            fromPage: "/@NhsRoute.CurrentRoute.Function",
            totalHomes: @Model.AllNewHomesCount,
            displayFullWidthGallery: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails && RouteParams.ShowPopupPlayer.Value<bool>()).ToString().ToLower()),
            displayNewFullImageViewer: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails).ToString().ToLower()),
            NewFullImageViewerUrl: "@Html.GetFullImageViewerUrl(Model.CommunityId)",
            ShowNewFullImageViewerUrl: @((RouteParams.ForcePopupPlayer.Value<bool>()).ToString().ToLower()),
            logInfo : logginparameter,
            tdvTable : @Html.Raw(Html.GetSeoTDVMetrics()),
            MoreWord: "...@LanguageHelper.More.ToMvcHtmlString()",
            LessWord: "@LanguageHelper.Less.ToMvcHtmlString()",
            SavedToYourProfileText: "@LanguageHelper.SavedToYourProfile.ToMvcHtmlString()",
            SavedText: "@LanguageHelper.Saved.ToMvcHtmlString()",
            ShowOnlyNineTopMatchingHomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 9).ToMvcHtmlString()",
            ShowOnlyTwelveTopMatchingHomesText: "@string.Format(LanguageHelper.ShowOnlyTopXMatchingHomes, 12).ToMvcHtmlString()",
            NineMatchingHomesShownText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 9).ToMvcHtmlString()",
            TwelveMatchingHomesShownText: "@string.Format(LanguageHelper.XMatchingHomesShownSeeAll, 12).ToMvcHtmlString()",
            mapParametes: {
                resourceRoot: "@Configuration.ResourceDomain/",
                drivingDirectionAction: "/@Pages.DrivingDirections",
                startLat: @Model.RouteLat.ToString(new NumberFormatInfo()),
                startLng: @Model.RouteLng.ToString(new NumberFormatInfo()),
                NearbyComms: [],
                siteRoot: "/@NhsRoute.SiteRoot",
                partnerId: @NhsRoute.PartnerId,
                marketId: @Model.MarketId,
                isBasicListing: false,
                isBasicCommunity: false,
                fromPage: "/@NhsRoute.CurrentRoute.Function",
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                planId: 0,
                specId: 0,
                mapWidth: 451,
                mapHeight: 385,
                icon: "@GlobalResources14.Default.images.icons.orange_pin_png",
                iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_blue_png",
                iconNearByComm: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                        Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                        Zoom: 14,
                        ContainerName: "nhs_PropertyMap",
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: "SMALL"
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 14,
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: "Latitude",
                        Longitude: "Longitude",
                        Name: "CommunityName"
                    },
                    Autocomplete: {
                        CreateControl: false,
                        BindToBound: false,
                        Autocompletecontrol: "nhsTxtStreeAddress"
                    }
                }
            },
            nearByParams: {
                brandPartnerId: @NhsRoute.BrandPartnerId,
                marketId: @Model.MarketId,
                siteRoot: "/@NhsRoute.SiteRoot",
                partnerId: @NhsRoute.PartnerId,
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId
                },
            galleryParams: {
                urlGallery: "@Html.GetActionUrl(NhsMvc.BaseDetail.Name, NhsMvc.BaseDetail.ActionNames.GetGalleryObjects)",
                builderID: @Model.BuilderId,
                communityID: @Model.CommunityId,
                isPreview: "@Model.PreviewMode",
                imgBaseUrl: "@Configuration.IRSDomain/",
                imgStaticUrl: "@Configuration.ResourceDomain/",
                container: "nhs_VideoWrapperNew",
                titleBarID: "nhs_ImagePlayerTitle",
                captionBarID: "nhs_ImagePlayerCaption",
                titleBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.ViewThisCommunity.ToMvcHtmlString() : LanguageHelper.CommunityGallery.ToMvcHtmlString())",
                captionBarText: "@(NhsRoute.PartnerId == (int)PartnersConst.Move ? LanguageHelper.Showing.ToMvcHtmlString() + " : " : LanguageHelper.NowShowing.ToMvcHtmlString() + " : ")",
                imgtitleBar: "nhs_MediaImageTitle",
                url: "@Model.Globals.CurrentUrl",
                type: "community",
                brightCoveSuffix: "@Configuration.BrightcoveEnvSuffix",
                brightcoveToken: '@Configuration.BrightcoveReadToken',
                isBasicCommunity: false,
                isPro: @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? 1 : 0),
                isCommResults: 0,
                CommunityGalleryText: "@LanguageHelper.CommunityGallery.ToMvcHtmlString()",
                CommunityVideoGalleryText: "@LanguageHelper.CommunityVideoGallery.ToMvcHtmlString()",
                TourVideoGalleryText: "@LanguageHelper.TourVideoGallery.ToMvcHtmlString()",
                HomeGalleryText: "@LanguageHelper.HomeGallery.ToMvcHtmlString()",
                CommunityImageText: "@LanguageHelper.CommunityImage.ToMvcHtmlString()",
                HomeImageText: "@LanguageHelper.HomeImage.ToMvcHtmlString()",
                NowShowingText: "@LanguageHelper.NowShowing.ToMvcHtmlString()",
                HomeVideoText: "@LanguageHelper.HomeVideo.ToMvcHtmlString()",
                CommunityVideoText: "@LanguageHelper.CommunityVideo.ToMvcHtmlString()",
                ElevationText: "@LanguageHelper.Elevation.ToMvcHtmlString()",
                VirtualTourText: "@LanguageHelper.VirtualTour.ToMvcHtmlString()",
                FloorPlanText: "@LanguageHelper.FloorPlan.ToMvcHtmlString()",
                ExternalVideoText: "@LanguageHelper.ExternalVideo.ToMvcHtmlString()",
                PlanViewerText: "@LanguageHelper.PlanViewer.ToMvcHtmlString()",
                InteriorText: "@LanguageHelper.Interior.ToMvcHtmlString()",
                ExteriorText: "@LanguageHelper.Exterior.ToMvcHtmlString()",
                CommunityLotMapText: "@LanguageHelper.CommunityLotMap.ToMvcHtmlString()",
                OfText: "@LanguageHelper.Of.ToMvcHtmlString()"
            },
            lazyLoadParameters: {
                NoPhotoBig: '@GlobalResources14.Default.images.no_photo.no_photos_325x216_png',
                NoPhotoSmall: '@GlobalResources14.Default.images.no_photo.no_photos_120x80_png'
            }
        };
        commDetail = new NHS.Scripts.CommunityDetail.CommDetail(parameters);
        commDetail.initialize();
        var metricLoggerparameters = {
            siteRoot: "/@NhsRoute.SiteRoot",
            homeSearchViewMetricDisplayed: "@Model.HomeSearchViewMetricDisplayed",
            homeSearchViewMetricHidden: "@Model.HomeSearchViewMetricHidden"
        };
        metricLogger = new NHS.Scripts.Globals.EventLogger(metricLoggerparameters);
        metricLogger.logHomeResultsMetrics("CDHV", 1);

        loggin = new NHS.Scripts.Loggin(logginparameter);
        loggin.initialize();

        setTimeout(function() { logger.logEventWithParameters("@LogImpressionConst.CommunityDetailPageLoad", logginparameter); }, 3000);

        jQuery("#scheduleAppointment").click(function() {
            jQuery("#ScheduleAppointmentRadio").click();
        });
        jQuery("#pro_contactBuilder").click(function() {
            jQuery("#GeneralInquiryRadio").click();
        });

        jQuery.SetDataLayerPair("siteCommPV");
    });


</script>
    }
    @Html.GetGoogleMapScript()
}