/* ---------------------------------------------
Title:      Realtor Account Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010 
----------------------------------------------- */

.nhsContent p.nhsRequired {
	margin-top: 1.25em; 
	margin-bottom: 1em;
	margin-left: 10px;
	}

/* =Login */
.nhsLoginForm {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	text-align: right;
	border: 0px solid #000;	
	}
.nhsLoginForm fieldset input,
.nhsRecoverForm fieldset input {
	width: 18em;
	}
.nhsLoginReg {
	float: left;
	width: 230px;
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid #7095ba;
	}
	
/* =Recover */
.nhsRecoverForm {
	float: left;
	clear: both;
	width: 100%;
	}
.nhsRecoverForm fieldset {
	float: left;
	width: 25em;
	margin: 0;
	padding: 0;
	}
.nhsRecoverForm p {
	float: left;
	}
.nhsRecoverForm .btnSend {
	float: left;
	}
	
/* =Register / Request 
.nhsRegNameBox {
	float: left;
	width: 395px;
	} */
.nhsRequestNameBox {
	float: left;
	width: 760px;
	margin-left: 40px;
	text-align: left;
	display: inline;
	}
#nhsManageAccount .nhsRequestNameBox {
	width: 395px;
	}
/*.nhsRegNameBox label,
.nhsRegLogin label,
#nhsRegMatchCrit label, */
.nhsRequestNameBox label,
.nhsRequestLogin label,
#nhsRequestBldrPref label {
	display: block;
	float: left;
	width: 150px;
	margin: 0 4px 0 0;
	text-align: right;
	}
	
#nhsRegMatchCrit label {
	width: 155px;
	}
/*.nhsRegNameBox label {
	width: 160px;
	}*/
.nhsRequestNameBox label {
	width: 140px;
	} 
.nhsRequestNameBox label.nhsRequestExt,
.nhsRequestNameBox label.nhsRequestState, 
.nhsRequestNameBox label.nhsRequestZip {
	display: inline;
	float: none;
	margin-left: 5px;
	} 
/* .nhsRegNameBox input,*/
.nhsRequestNameBox input {
	width: 190px;
	} 
	
#nhsRequestContactInfo {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_contact.gif) no-repeat 0 0;	
	}
#nhsRequestQuestionsHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 162px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_homeneeds.gif) no-repeat 0 0;	
	}
	
.nhsRequestNameBox input.nhsReqEmail {
	width: 230px;
	}

.nhsRequestNameBox .nhsRequestSaveInfo input {
	display: inline;
	width: auto;
	float: none;
	margin-left: 122px;
	}
.nhsRequestNameBox .nhsRequestSaveInfo label {
	display: inline;
	width: auto;
	float: none;
	}

.nhsRequestNameBox input.nhsRequestExtTxt {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestStateDrop {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestZipTxt {
	width: 50px;
	}
.nhsRequestNameBox input.nhsRequestCityEdit {
	width: 135px;
	}
.nhsRequestNameBox input.nhsRequestPhoneEdit {
	width: 150px;
	}
.nhsRequestQuestions {
	float: left;
	width: 760px;
	margin-left: 40px;
	text-align: left;
	display: inline;
	}
.nhsRequestQuestions p {
	display: block;
	float: left;
	width: 700px;
	}
.nhsRequestQuestions label {
	display: block;
	float: left;
	width: 250px;
	margin: 0 4px 0 0;
	text-align: right;
	}
.nhsRequestQuestions .nhsRequestComments {
	display: block;
	float: left;
	width: 140px;
	margin-right: 4px;
	text-align: right;
	}
.nhsRequestQuestions .nhsRequestComments label {
	display: block;
	float: none;
	margin: 0;
	width: 140px;
	}
/* Realtor Questions */
.nhsRequestRealtorQuestions {
	float: left;
	width: 760px;
	margin: 0 0 20px 40px;
	text-align: left;
	display: inline;
	}
.nhsRequestRealtorQuestions p {
	display: block;
	float: left;
	width: 700px;
	}
.nhsRealtorAgentLabel {
	margin-left: 20px;
	}
	
.nhsContent textarea.nhsRequestCommentBox {
	float: left;
	width: 380px;
	margin: 0;
	}
.nhsRequestLegalSubmit {
	clear: both;
	float: left;
	width: 560px;
	margin-left: 10px;
	display: inline;
	}
#nhsRequestInfo .btnSubmit {
	float: right;
	margin-bottom: 20px;
	}
/*.nhsRegLogin,*/
.nhsRequestLogin {
	float: left;
	clear: both;
	width: 800px;
	margin: 10px 0;
	}
/*.nhsRegLogin fieldset,*/
.nhsRequestLogin fieldset,
.nhsRequestConfirmInfo {
	margin: 0;
	padding: 10px;
	background: #fff4ad;
	border: 1px solid #ccc;
	}
/*.nhsRegLogin input,*/
.nhsRequestLogin input {
	width: 190px;
	}
/*.nhsRegLogin .btnSignIn,*/
.nhsRequestLogin .btnSignIn {
	width: 58px;
	margin-left: 10px;
	}
.nhsRequestConfirmInfo .btnEdit{
	width: 39px;
	}
.btnCreateAccount,
#nhsPartnerContainer .btnCreateAccount {	
	margin-left: 25px;
	}
	
/* =Newsletter Signup 	
.nhsRegNewsBox {
	float: right;
	width: 395px;
	}
.nhsRegNewsBox input {
	float: left;
	margin: 0 2px 10px 0;
	display: inline;
	}
#nhsRegMatchOptions .nhsCheckFirst input {
	float: left;
	margin: 0 2px 6px 0;
	display: inline;
	}
#nhsManageAccount .nhsRegNewsBox {
	width: 365px;
	} */

/* =Matchmaker */
#nhsRegMatchmakerBox {
	float: left;
	clear: both;
	width: 788px;
	margin: 0;
	padding: 0 5px;
	background: #e4ebf2;
	border: 1px solid #ccc;
	}
#nhsRegMatchCrit {
	float: left;
	width: 390px;
	}
#nhsRegMatchCrit select {
	width: 190px;
	}
#nhsRegMatchOptions {
	float: right;
	width: 390px;
	}
#nhsRegMatchImportant {
	margin: 10px 0 0 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
.nhsMatchBtns {
	text-align: right;
	padding-bottom: 10px;
	}
.nhsMatchBtns input {
	margin-left: 10px;
	}

#nhsMatchMore {
	position: relative;
	z-index: 999;
	}	
#nhsMatchInfoPop {
	position: absolute;
	top: 1.4em;
	left: -200px;
	z-index: 999;
	margin: 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #24619e;
	width: 250px;
	}
.nhsContent #nhsMatchInfoPop .nhsPopTitle {
	float: left;
	margin: 8px 6px 0 6px;
	font-weight: bold;
	}
.nhsContent #nhsMatchInfoPop .nhsPopMessage {
	float: left;
	margin: 10px 6px;
	}

	
/* =Leads */	
.nhsRequestBldrLead {
	float: left;
	width: 800px;
	margin: 10px 0;
	}
#nhsRequestBldrPref {
	float: left;
	margin: 0;
	padding: 5px;
	}
#nhsRequestImportant {
	float: left;
	margin: 0 0 0 20px;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
/*#nhsReg .nhsLegalText {
	float: left;
	width: 800px;
	margin: 10px 0;
	}*/
#nhsReg .btnRegister {
	float: right;
	margin: 0 5px 2em 0;
	}
.btnUpdate {
	float: right;
	clear: both;
	margin: 0 5px 2em 0;
	}
	
#nhsSavedItems .nhsHomeResultsInfo,
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;	
	width: 670px;
	}
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;
	width: 500px;
	}
#nhsSavedItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsSavedItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 360px;
	}
#nhsRecentItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsRecentItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 255px;
	border: 0px solid;
	}
.nhsSavedCheckBox {
	float: right;
	width: 32px;
	padding: 25px 0;
	text-align: center;
	}
.nhsRecentRadios {
	float: right;
	width: 200px;
	padding: 25px 0;
	text-align: right;	
	}
.nhsRecentRadios span {
	float: right;
	display: block;
	width: 55px;
	margin: 0 3px 0 5px;
	padding: 0;
	text-align: center;
	}
.nhsRecentRadios input {
	margin: 0;
	padding: 0;
	}
.nhsSavedRemoveLink {
	float: left;
	width: 795px;
	padding: 4px 5px 8px 0;
	border-top: 1px solid #7095ba;
	text-align: right;
	}

/* =Saved Comms */
#nhsSavedItems .nhsCommResultsRow,
#nhsSavedItems .nhsCommResultsRowOn {
	width: 800px;
	}
#nhsSavedItems .nhsCommResultsInfo1 {
	float: left;
	width: 400px;
	}
#nhsSavedItems .nhsCommResultsInfo2 {
	float: left;
	width: 272px;
	text-align: right;
	}
	
/* =Send to Friend 
#nhsSendFriendRows {
	float: left;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #e4ebf2;
	}
#nhsSendFriend ol {
	margin: 0;
	padding: 0 0 0 25px;
	}
#nhsSendFriend fieldset p {
	margin: .85em 0 .25em 0;
	}
#nhsSendFriend .nhsSendFriendLabels {
	margin-left: 25px;
	}
.nhsSendFriendLabels span {
	margin-left: 8.75em;
	}
.nhsSendFriendButtons {
	float: left;
	width: 350px;
	margin: 0 0 20px 0;
	text-align: right;
	}
.nhsSendFriendButtons .btnSubmit {
	margin-left: 30px;
	} */

/* =Thank You */
.nhsRegThanksBox {
	width: 550px;
	margin: 10px auto 0 auto;
	padding: 5px;	
	background: #fff4ad;	
	border: 1px solid #ccc;
	text-align: center;
	}
	
.nhsRequestThanks ul {
	margin: 0 0 .85em 15px;
	list-style-type: square;
	}
.nhsRequestThanksAccount {
	margin: .65em 0;
	padding: 10px;
	background: #fff4ad;
	border: 1px solid #ccc;
	}

.nhsNarrowList {
	list-style-type: none;
	}
.nhsNarrowList li {
	float: left;
	margin: .25em 0 0 0;
	width: 800px;
	}
.nhsNarrowList li label,
.nhsNarrowList li input {
	float: left;
	}
.nhsNarrowList li label strong {
	float: left;
	width: 500px;
	}
.nhsNarrowBtn {
	width: 800px;
	padding: 5px 0;
	text-align: right;
	}
