﻿/* ---------------------------------------------
Title:      Realtor Button Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010 
----------------------------------------------- */

.btnFreeBrochure,
#nhsPartnerContainer .btnFreeBrochure {	
	margin: 0;
	padding: 29px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
    	
	width: 126px;
	height: 0;
	background: transparent url(/globalresourcesmvc/defaultrealtor/images/buttons/contact_agent_alt.png) no-repeat center top;
	}
.btnGetAFreeBrochure,
#nhsPartnerContainer .btnGetAFreeBrochure {
	height: 32px;
	padding-top: 32px;
	width: 180px;
	margin-right: 10px;
	background: transparent url(/globalresources/defaultrealtor/images/buttons/btn_64_contact_agent.gif) no-repeat center top;
	}
