/* ---------------------------------------------
Title:      NewHomeSource.com Results Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010
----------------------------------------------- */

/*	=nhsCommRes Columns
-------------------- */
#nhsCommResContainer {
	float: right;
	width: 100%;
	margin-left: -606px;
	}
#nhsCommResFacetListColumn	{
	float: left;
	border: 0px solid;
	width: 598px;
	_width: 602px;
	position: relative;
	z-index: 999;
	}
.nhsCommResFacetColumn {
	float: left;
	width: 168px;
	_width: 162px;
	}
.nhsCommResListColumn {
	float: right;	
	width: 430px;
	}	
#nhsCommResMapColumn {
	margin-left: 606px;
	}
	
#nhsCommResConsole {
	float: left;
	border-bottom: 1px solid #c3d4e5;
	width: 100%;
	margin-bottom: 4px;
	}
.nhsCommResResultsBar {
	padding: 0 0 4px 0;
	width: 100%;
	}
.nhsContent .nhsCommResResultsBar h1 /* for 6.1 */ {	
	font-size: 135%;
	}
.nhsContent .nhsCommResResultsBar .nhsCommResMatches {
	font-weight: normal;
	font-size: 135%;
	}
.nhsMoreSearches li {
	_margin-bottom: -3px;
	}

.nhsCommResAlertsBar {
	float: left;
	font-size: 95%;
	margin-bottom: 4px;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsBackBtn,
#nhsBoylResults .nhsCommResAlertsBar a.nhsBackBtn {
	float: left;
	display: block;
	margin: 0;
	padding: 2px 0 2px 20px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_64_back.gif) no-repeat center left;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsBackBtn:hover,
#nhsBoylResults .nhsCommResAlertsBar a.nhsBackBtn:hover {
	text-decoration: underline;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsGetAlerts,
#nhsBoylResults .nhsCommResAlertsBar a.nhsGetAlerts {
	float: left;
	display: block;
	margin: 0 0 0 30px;
	padding: 2px 0 2px 20px;
	text-decoration: none;	
	background: transparent url(/globalresources/default/images/buttons/btn_63_send.gif) no-repeat left center;
	}
#nhsCommResults .nhsCommResAlertsBar a.nhsGetAlerts:hover,
#nhsBoylResults .nhsCommResAlertsBar a.nhsGetAlerts:hover {
	text-decoration: underline;
	}
	
.nhsCommResRelatedBar {
	margin: 0 0 4px 0;
	}

/*	=nhsCommRes Map
-------------------- */	

#nhsCommResMapDiv {
	float: left;
	position: relative;
	z-index: 0;
	border: 1px solid #24619e;	
	width: 332px;
	height: 500px;
	margin-top: 1px;
	}
.nhsContent #nhsCommResMapColumn .nhsCommMapBar {
	display: block;
	float: left;
	width: 100%;
	font-size: 90%;		
	margin: 0;
	padding: 0 0 6px 0;
	background: #f4f3e7 url(/globalresources/default/images/backgrounds/bg_64_map_bar.gif) no-repeat top right;
	}
.nhsContent #nhsCommResMapColumn .nhsCommMapBar span {
	display: block;
	float: left;
	padding: 8px 0 0 12px;
	background: url(/globalresources/default/images/backgrounds/bg_64_map_bar.gif) no-repeat top left;
	}
	
/*	=nhsCommRes Builders
-------------------- */	
#nhsCommResBuilders {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0px solid;
	position: relative; /* IE6 Bug Fix */
	z-index: 999;
	}
#nhsCommResBuilders h4 {
	margin: 0 0 .65em 4px;
	padding: 0;
	color: #333;
	position: relative; /* IE6 Bug Fix */
	}
	
#nhsSEOText {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0px solid;
	position: relative; /* IE6 Bug Fix */
	}

/*#nhsCommResBuilders ul {
	float: left;
	width: 31%;
	margin: 0 0 0 5px;
	padding: 0 0 0 15px;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	border: 0px solid;
	font-size: 90%;
	}*/

/*	=nhsCommRes Facets
-------------------- */	
.nhsCommResFacets {
	float: left;
	width: 160px;
	margin: 0;
	padding: 5px 0;
	background: #f3f1e4 url(/globalresources/default/images/backgrounds/bg_64_facets_left_160.gif) no-repeat top left;
	border: 0px solid #c3d4e5;
	font-size: 85%;
	}
	
/* Facet Group */	
.nhsCommsFacetGroup {
	float: left;
	width: 135px;
	margin: 0 0 0 10px;
	padding: 4px 5px 8px 0;
	border-top: 1px solid #bccfe2;
	}
#nhsFacetLocation {
	border-top: 0;
	}
#nhsFacetSchools {
	/*width: auto;*/
	}
.nhsHomesFacetGroup a,
.nhsCommsFacetGroup a,
.nhsHomeResFacetGroup a {
	font-weight: normal;
	padding-right: 2px;
	}
	
/* Facet Pop Menus */	
#nhsCommResults #nhsFacetSchoolsMore {
	position: relative;
	z-index: 999;
	}	
#nhsCommResults #nhsFacetSchoolsMore .nhsFacetOn,
#nhsCommResults #nhsFacetSchoolsMore.nhsFacetContainerOn {
	display: none;
	}
#nhsCommResults #nhsFacetSchoolsPop {
	position: relative;	
	top: auto;
	left: auto;
	z-index: auto;
	margin: 0;
	padding: 0 0 0 2px;
	background: transparent;
	border: 0px solid;
	}
* html #nhsCommResults #nhsFacetSchoolsPop {
	left: auto;
	}

/* Narrow Cities Menu */
#nhsCommResults #nhsNarrowMorePop {
	position: relative;
	top: auto;
	left: auto;
	z-index: auto;
	width: auto;
	margin: 0;
	padding: 0 0 0 2px;
	background: transparent;
	border: 0px solid;
	}
#nhsCommResults #nhsNarrowMorePop ul {
	margin: 0;
	padding: 0;	
	}
#nhsCommResults #nhsNarrowMoreDiv {
	display: block;
	position: relative;
	z-index: 999;
	}	
#nhsCommResults #nhsNarrowMoreDiv .nhsFacetOn,
#nhsCommResults #nhsNarrowMoreDiv.nhsFacetContainerOn {	
	display: none;
	}
	
.nhsPopOff {
	display: none;
	}
.nhsPopOn {
	display: block;
	}
#nhsCommResults .nhsMenuClose {
	float: right;
	margin: 5px 0 0 0;
	padding: 0 12px 0 0;
	background: url(/globalresources/images/buttons/close_x.gif) no-repeat center right;
	cursor: pointer;
	}
	
/* Ads */
#nhsCommResRight2 {
	float: left;
	margin-top: 10px;
	}
#nhsCommResMiddle {
	margin-left: 20px;
	}
	
.nhsCommResMapTools {
	background: transparent;
	font-size: 115%;	
	}
	
/*	=nhsCommRes Comm Info
-------------------- */	
/*.nhsContent .nhsCommResultsRow p.nhsResultsCommStatus,
.nhsContent .nhsCommResultsRowOn p.nhsResultsCommStatus {
	margin: .25em 0;
	padding: 0;
	width: 200px;
	float: left;
	font-size: 75%;
	} */
	
.nhsCommResultsInfo2 .btnFreeBrochure {
	margin: 3px 0;
	}
	
/* =Price Slider 
---------------------*/
.nhsPriceSlider {	
	padding: 4px 0 8px 0;
	border-top: 1px solid #BCCFE2;
	_padding: 4px 0 0 0;
	}
div.nhsSlider {	
	margin: 0 0 10px 0; 	
	}

.qClistColumn {float:left; width:580px;}


