﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.CommunityMobileViewModel
<footer id="nhs_ResRefineBar" class="nhs_ResRefineBar">
    <a href="#" class="nhs_Filter">@LanguageHelper.Filters.ToMvcHtmlString()</a> <a href="#" @(!Model.IsMapView ? "" : "style=display:none") id="nhs_Sort" class="nhs_Sort">
        @LanguageHelper.SortBy.ToMvcHtmlString()
    </a> <a href="#" @(!Model.IsMapView ? "" : "style=display:none") id="nhs_MapView" class="btn nhs_MapView">
        @LanguageHelper.MapView.ToMvcHtmlString()
    </a> <a href="#" @(Model.IsMapView ? "" : "style=display:none") id="nhs_ListView" class="btn nhs_ListView">
        @LanguageHelper.ListView.ToMvcHtmlString()
    </a>

    <div class="nhs_Panel nhs_ResFilter">
        <div class="nhs_Header">
            <a href="#" class="btn nhs_Cancel">@LanguageHelper.Cancel.ToMvcHtmlString()</a>
            <p>
                @LanguageHelper.Filters.ToMvcHtmlString()
            </p>
            <a href="#" class="btn" id="nsh_ApplyFilters">@LanguageHelper.Apply.ToMvcHtmlString()</a>
        </div>
        <div id="nhs_FacetCounts">
            <span>@Model.ResultCounts.CreateCountsFacetsMobile()</span>
            <a href="#" id="nhs_ClearFacets">@LanguageHelper.ClearAll.ToMvcHtmlString()</a>
        </div>
        <div id="nhs_PanelScroll" class="nhs_PanelScroll">
            <div class="nhs_PanelLabelInline" id="nhs_LocationSearch">
                <form onsubmit="return false;">
                    <fieldset>
                        <legend class="visuallyhidden">@LanguageHelper.RefineLocation.ToMvcHtmlString()</legend>
                        <label for="FilterLocation">
                            @LanguageHelper.Location.ToMvcHtmlString()
                        </label>
                        <input id="FilterLocation" class="nhs_FilterLocationBox" required="required" type="text" placeholder="@LanguageHelper.EnterLocationOrCommunityName" />
                        <input type="reset" class="nhs_ResetSearchBar" value="Clear" />
                    </fieldset>
                </form>
            </div>
            <div class="nhs_PanelLabelInline" id="nhs_LocationSearchBlock" style="display: none">
                <label>
                    @LanguageHelper.Location.ToMvcHtmlString()
                </label>
                <div class="nhs_FakeInput">
                    <span>@LanguageHelper.SearchingMapArea.ToMvcHtmlString()</span> <span id="nhs_LocationSearchFormShow">X</span>
                </div>
            </div>
            <div class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.Radius.ToMvcHtmlString()
                </label>
                <div class="nhs_Slider">
                    <p id="nhs_RadiusValue">
                        #Value
                    </p>
                    <div id="nhs_SliderRadius">
                    </div>
                    <span>@LanguageHelper.Exact.ToMvcHtmlString()</span><span>25 mi</span>
                </div>
            </div>
            <div class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.Price.ToMvcHtmlString()
                </label>
                <div class="nhs_Slider nhs_SliderPrice">
                    <p>
                        @LanguageHelper.Min.ToMvcHtmlString(): <span id="PriceLow">@LanguageHelper.NoMin.ToMvcHtmlString()</span>
                    </p>
                    <p>
                        @LanguageHelper.Max.ToMvcHtmlString(): <span id="PriceHigh">@LanguageHelper.NoMax.ToMvcHtmlString()</span>
                    </p>
                    <div id="nhs_SliderPrice">
                    </div>
                </div>
            </div>
            <div>
                <label>
                    @LanguageHelper.Bedrooms.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="Beds" id="BedsAny" type="radio" value="0" checked="checked" /><label for="BedsAny">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="Beds" id="Beds1" type="radio" value="1" /><label for="Beds1">1+</label>
                    </li>
                    <li>
                        <input name="Beds" id="Beds2" type="radio" value="2" /><label for="Beds2">2+</label>
                    </li>
                    <li>
                        <input name="Beds" id="Beds3" type="radio" value="3" /><label for="Beds3">3+</label>
                    </li>
                    <li>
                        <input name="Beds" id="Beds4" type="radio" value="4" /><label for="Beds4">4+</label>
                    </li>
                    <li>
                        <input name="Beds" id="Beds5" type="radio" value="5" /><label for="Beds5">5+</label>
                    </li>
                </ul>
            </div>
            <div>
                <label>
                    @LanguageHelper.Bathrooms.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="Baths" id="BathsAny" type="radio" value="0" checked="checked" /><label for="BathsAny">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="Baths" id="Baths1" type="radio" value="1" /><label for="Baths1">1+</label>
                    </li>
                    <li>
                        <input name="Baths" id="Baths2" type="radio" value="2" /><label for="Baths2">2+</label>
                    </li>
                    <li>
                        <input name="Baths" id="Baths3" type="radio" value="3" /><label for="Baths3">3+</label>
                    </li>
                    <li>
                        <input name="Baths" id="Baths4" type="radio" value="4" /><label for="Baths4">4+</label>
                    </li>
                    <li>
                        <input name="Baths" id="Baths5" type="radio" value="5" /><label for="Baths5">5+</label>
                    </li>
                </ul>
            </div>
            <div class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.HomeStatus.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="HomeStatus" id="HomeStatusAll" type="radio" checked="checked" /><label for="HomeStatusAll">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="HomeStatus" id="HomeStatusQuick" type="radio" /><label for="HomeStatusQuick">
                            @LanguageHelper.QuickMoveIn.ToMvcHtmlString()
                        </label>
                    </li>
                </ul>
            </div>
            <div id="nhs_PanelHomeType">
                <label>
                    @LanguageHelper.HomeType.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="HomeType" id="HomeTypeAny" type="radio" checked="checked" /><label for="HomeTypeAny">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="HomeType" id="HomeTypeSingle" type="radio" /><label for="HomeTypeSingle">
                            @LanguageHelper.SingleFamily.ToMvcHtmlString()
                        </label>
                    </li>
                    <li>
                        <input name="HomeType" id="HomeTypeCondo" type="radio" /><label for="HomeTypeCondo">@LanguageHelper.CondoTownhome.ToMvcHtmlString()</label>
                    </li>
                </ul>
            </div>
            <div class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.SpecialOffers.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="SpecialOffers" id="OffersAll" type="radio" checked="checked" /><label for="OffersAll">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="SpecialOffers" id="OffersDeals" type="radio" /><label for="OffersDeals">
                            @LanguageHelper.HotDeals.ToMvcHtmlString()
                        </label>
                    </li>
                </ul>
            </div>
            <div class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.Garages.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input name="Garages" id="GaragesAny" type="radio" value="0" checked="checked" /><label for="GaragesAny">@LanguageHelper.All.ToMvcHtmlString()</label>
                    </li>
                    <li>
                        <input name="Garages" id="Garages1" type="radio" value="1" /><label for="Garages1">1+</label>
                    </li>
                    <li>
                        <input name="Garages" id="Garages2" type="radio" value="2" /><label for="Garages2">2+</label>
                    </li>
                    <li>
                        <input name="Garages" id="Garages3" type="radio" value="3" /><label for="Garages3">3+</label>
                    </li>
                </ul>
            </div>
            <div id="nhs_Facet_Amenities" class="nhs_PanelLabelInline">
                <label>
                    @LanguageHelper.Amenities.ToMvcHtmlString()
                </label>
                <ul class="nhs_PanelRadios">
                    <li>
                        <input id="AmenitiesAny" type="checkbox" value="Any" checked="checked" />
                        <label for="AmenitiesAny">
                            @LanguageHelper.All.ToMvcHtmlString()
                        </label>
                    </li>
                    <li>
                        <input id="AmenitiesGolf" type="checkbox" value="1" />
                        <label for="AmenitiesGolf">
                            @LanguageHelper.GolfCourse.ToMvcHtmlString()
                        </label>
                    </li>
                    <li>
                        <input id="AmenitiesWaterfront" type="checkbox" value="2" />
                        <label for="AmenitiesWaterfront">
                            @LanguageHelper.Waterfront.ToMvcHtmlString()
                        </label>
                    </li>
                </ul>
            </div>
            <div class="nhs_PanelLabelInline">
                <label for="BuilderName">
                    @LanguageHelper.Builder.ToMvcHtmlString()
                </label>
                <select id="BuilderName">
                    <option value="0">@LanguageHelper.AllBuilders.ToMvcHtmlString()</option>
                </select>
            </div>
            <div class="nhs_PanelLabelInline">
                <label for="CommStatus">
                    @LanguageHelper.Status.ToMvcHtmlString()
                </label>
                <select id="CommStatus">
                    <option value="" selected="selected">@LanguageHelper.All.ToMvcHtmlString()</option>
                    <option value="G">@LanguageHelper.GrandOpening.ToMvcHtmlString()</option>
                    <option value="C">@LanguageHelper.ComingSoon.ToMvcHtmlString()</option>
                    <option value="X">@LanguageHelper.CloseOut.ToMvcHtmlString()</option>
                </select>
            </div>
        </div>
    </div>
    <div class="nhs_Panel nhs_ResSort">
        <div class="nhs_Header">
            <a href="#" class="btn nhs_Cancel">@LanguageHelper.Cancel.ToMvcHtmlString()</a>
            <p>
                @LanguageHelper.SortBy.ToMvcHtmlString()
            </p>
        </div>
        <div class="nhs_PanelScroll">
            <ul>
                @foreach (var option in Model.CommunitySortBy)
                {
                    <li><a data-sortvalue="@option.SortBy" data-sortorder="@option.SortOrder.ToString().ToLower()" class="@(option.SortBy == Model.SortBy && option.SortOrder == Model.SortOrder ? "selected nhs_SortBy" : "nhs_SortBy")">@option.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</footer>
