﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
<section id="nhs_ResMap" class="nhs_ResMap" @(Model.IsMapView ? "" : "style=display:none")>
    <div id="nhs_CommunityCards"></div>
    <div id="nhs_Map"></div>
      @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityResults.WhatsNearby, new WhatsNearbyViewModel { MapType = "CR_Maps" });}
    <a href="#" id="nhs_getLocation" class="ir btn btn_Locate">@LanguageHelper.LocateMe.ToMvcHtmlString()</a>
</section>