﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResult.MapPopupViewModel
<div id="nhs_MapModal" class="nhs_MapModal">
    <div id="nhs_CommunityCardsMapPopup"></div>
    <div id="nhs_MapPopup" class="nhs_MapPopup">
    </div>
    @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityResults.WhatsNearby, new WhatsNearbyViewModel {MapType = "MapPopup", CommunityId = Model.CommunityId, BuilderId = Model.BuilderId});}
    <a href="#" id="nhs_getLocationPopUpMap" class="ir btn btn_Locate">@LanguageHelper.LocateMe.ToMvcHtmlString()</a>
    <div class="nhs_MapActionBar">
        <p>
            <a href="@Model.ToCommunityDetail().ToUrl(RedirectionHelper.GetCommunityDetailPage())">@Model.CommunityName</a> <span>@LanguageHelper.By.ToMvcHtmlString() @Model.BuilderName</span></p>
        <p>
            @if (!string.IsNullOrEmpty(Model.Addr))
            {
                @Model.Addr<br/>
            }
            @Model.City, @Model.State @Model.ZipCode
        </p>
        <a class="btn nhs_DirectionsBtn" target="_blank" data-commid="@Model.CommunityId" data-builderid="@Model.BuilderId" href="http://maps.google.com?saddr=Current+Location&daddr=@Model.Latitude,@Model.Longitude">@LanguageHelper.GetDirections.ToMvcHtmlString()</a>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var parameters = {
            icon: "@(GlobalResourcesMobile.Default.images.icons.map_poi_orange_png)",
            iconNear: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna? GlobalResourcesMobile.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
            iconNearMulti: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMobile.Default.images.icons.map_plus_blue_png : GlobalResources14.Default.images.icons.map_plus_green_png)",
            iconSelectedMulti: "@(GlobalResourcesMobile.Default.images.icons.map_plus_orange_png)",
            iconBasic: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_point_blue_png : GlobalResources14.Default.images.icons.map_point_green_png)",
            iconSelectedBasic: "@GlobalResources14.Default.images.icons.map_point_orange_png",
            iconSelectedMultiBasic: "@GlobalResources14.Default.images.icons.map_point_plus_orange_png",
            iconMultiBasic: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_point_plus_blue_png : GlobalResources14.Default.images.icons.map_point_plus_green_png)",
            getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
            latitude: @Model.Latitude,
            longitude: @Model.Longitude,
            isBasic: "@Model.IsBasic",
            numHom: @Model.NumHom,
            iconCurrentPosition: "@(GlobalResourcesMobile.Default.images.icons.map_poi_red_png)",
            communityId: @Model.CommunityId,
            builderId: @Model.BuilderId,
            getNearbyCommsUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetNearbyCommunitiesMobile))",
            OptionsForMap: {
                MapOptions: {
                    Latitude: @Model.Latitude,
                    Longitude: @Model.Longitude,
                    Zoom: 16,
                    ContainerName: 'nhs_MapPopup',
                    zoomControl: true,
                    disableDefaultUI: false,
                    zoomControlPosition: 'TOP_LEFT',
                    ZoomControlStyle: 'SMALL'
                },
                CreateMapWrap: false,
                MarkerPointAsynOptions: {
                    Listener: '',
                    UrlServer: null
                },
                //MinZoom: 9,
                Loader: "",
                UseClusterer: false,
                ProcessResultOptions: {
                    Latitude: 'Latitude',
                    Longitude: 'Longitude',
                    Name: 'CommunityName'
                },
                Events: {
                    InfowindowReadyCallBack: null
                },
                pOIIcons: {
                    school: "@GlobalResourcesMobile.Default.images.icons.map_poi_school_png",
                    shopping: "@GlobalResourcesMobile.Default.images.icons.map_poi_shopping_png",
                    entertainment: "@GlobalResourcesMobile.Default.images.icons.map_poi_entertain_png"
                }
            }

        };

        var map = new NHS.Mobile.MapPopup(parameters);
        map.init();
    });
</script>
