﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.QuickViewViewModel
<div id="nhs_QuickView" class="nhs_QuickView clearfix">
    <h2>
        @Model.Homes.Count() @LanguageHelper.Home.ToMvcHtmlString()@(Model.Homes.Count() == 1 ? "" : "s") @LanguageHelper.In.ToMvcHtmlString() @Html.NhsLink(Model.CommunityName, Model.GetCommunityParams(), Pages.CommunityDetail) 
    </h2>
    <div class="nhs_QuickList">
        <ul class="bxslider">
            @foreach (var home in Model.Homes)
            {
                <li class="nhs_QuickItem clearfix nhs_Row">
                    <div class="nhs_ItemImg">
                        @Html.NhsImage(home.HomeResThumb(), home.GetHomeResThumb1Size(), "", false)
                    </div>
                    <h3>
                        @Html.NhsLink(home.GetHomeName(), RedirectionHelper.GetHomeDetailPage(home.IsSpec > 0), home.ToHomeDetail(), new { title = home.GetHomeName() })</h3>
                    @home.GetFormattedPrice()
                    <p>@home.Status.HomeStatus()</p>
                    @home.GetFormattedSqFt()
                    @home.GetHomeInformation()</li>
            }
        </ul>
    </div>
</div>
<footer class="nhs_DetailActionBar">
     @if (Model.SavedToPlanner)
     {
         <span class="nhs_Save nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>
     }
     else
     {
         <a id="nhs_SavedQuickView" class="nhs_Save">@LanguageHelper.Save.ToMvcHtmlString()</a>
     }
    <a href="#" class="nhs_Share">@LanguageHelper.Share.ToMvcHtmlString()</a>
    @Model.GetPhoneNumber()
</footer>
<script type="text/javascript">
    jQuery(document).ready(function() {

        jQuery(".nhs_DetailActionBar .nhs_CallBtn").click(function (event) {
            event.stopPropagation();
            var dataPost = {
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                eventName: "@(Model.IsBoylResult ? LogImpressionConst.MobileBoylResultsCallSalesOffice : LogImpressionConst.MobileCommunityResultsCallSalesOffice)"
            };
            jQuery.ajax({
                type: "POST",
                url: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.ImpressionLogger))",
                data: dataPost,
                dataType: "json"
            });
        });

        var signIn = @UserSession.UserProfile.IsLoggedIn().ToString().ToLower();

        jQuery("#nhs_SavedQuickView").click(function(event) {
            jQuery.CancelEventAndStopPropagation(event);
            var control = jQuery(this);
            var dataPost = {
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                eventName: "@(Model.IsBoylResult ? LogImpressionConst.MobileSaveToFavoriteBoylResults : LogImpressionConst.MobileSaveToFavoriteCommunityResults)"
            };
            if (signIn) {
                jQuery.ajax({
                    url: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.AddCommunityToUserPlanner))",
                    data: dataPost,
                    type: "POST",
                    success: function() {
                        control.replaceWith('<span class="nhs_Save nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>');
                    }
                });
            } else {
                var url = '@(new List<RouteParam>().ToUrl(Pages.LoginModal))';
                modalPopUp.SetContentModal(url);
            }
        });

        window.share = new NHS.Mobile.Share({
            ShareUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.ShareModal))",
            SentToPhone: "@(new List<RouteParam> { new RouteParam(RouteParams.CommunityId, Model.CommunityId,RouteParamType.QueryString) }.ToUrl(Pages.SendToPhone))",
            customUlr: "@(Model.GetCommunityParams().ToUrl(Pages.CommunityDetail, true, true))",
            communityId: @Model.CommunityId,
            builderId: @Model.BuilderId,
            IsComm: true
        });
        share.init();

        jQuery('.nhs_QuickList > .bxslider').bxSlider({
            responsive: true,
            infiniteLoop: false,
            slideWidth: 234,
            slideMargin: 10,
            minSlides: 1,
            maxSlides: 5,
            pager: false,
            controls: false
        });

    });
</script>
