﻿@using Nhs.Library.Constants
@using Nhs.Library.Helpers.Ad
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.BaseCommunityMobileViewModel
@{
    var adId = DateTime.Now.Ticks.ToString();
    var alreadyAdded = false;

    if (Model.CommunityResults.Count == 1)
    {
        var community = Model.CommunityResults[0];
        Html.RenderPartial(community.IsBasic == 1 ? NhsMvc.Default.ViewsMobile.CommunityResults.Community.BasicCommunityItem : NhsMvc.Default.ViewsMobile.CommunityResults.Community.CommunityItem, community);

      <div id="nhs_@(Model.CurrentPage == 1 ? AdSlotConst.MiddleCenter : adId)" class="nhs_ResListAd clearfix">
      </div>
    }
    else
    {
        for (var index = 0; index < Model.CommunityResults.Count; index++)
        {

            if (Model.ShowResultsBanner && (Model.ResultsBannerPosition == index || (Model.CommunityResults.Count - 1 == index && alreadyAdded == false)))
            {
                alreadyAdded = true;
    <div id="nhs_@(Model.CurrentPage == 1 ? AdSlotConst.MiddleCenter : adId)" class="nhs_ResListAd clearfix">
    </div>
            }
            var community = Model.CommunityResults[index];
            Html.RenderPartial(community.IsBasic == 1 ? NhsMvc.Default.ViewsMobile.CommunityResults.Community.BasicCommunityItem : NhsMvc.Default.ViewsMobile.CommunityResults.Community.CommunityItem, community);

        }
    }

    if (Model.IsTriggerFacets)
    {
    <script type="text/javascript">
            var Pages = @Model.Pages;
            var SearchParameters = @Model.SearchParametersJSon.ToMvcHtmlString();
            jQuery("#nhs_CommCount").val("@Model.ResultCounts.CommCount");
            jQuery("#nhs_CommHomeCount").val("@Model.ResultCounts.HomeCount");
            jQuery("#nhs_BlCount").val("0");
    </script>
    }

    if (Model.CurrentPage > 1 || Model.IsTriggerFacets)
    {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            window.adUpdater.RenderAllAds(function (data) {
                var self = this;
                jQuery.each(data, function (i, item) {

                @if (Model.CurrentPage > 1)
                {
                 @:if (item.TargetPlaceHolder == "@AdSlotConst.MiddleCenter")
                        @:item.TargetPlaceHolder = "@adId";
                }
                    jQuery(self.plhPrefix + item.TargetPlaceHolder).html(item.AdHtml);
                });
            });
        });

    </script>
    }
}
<script type="text/javascript">
    jQuery(document).ready(function() {
        @Html.LogEventWithParameters(LogImpressionConst.CommunityResults, "builderCommunityList", Model.CommunitiesIdList, Model.MarketId)
        @Html.LogEventWithParameters(LogImpressionConst.BasicCommsCommunityResults, "basicListingList", Model.BasicCommunitiesIdList, Model.MarketId)
    });

</script>
