﻿@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Helpers.Ad
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.CommunityHomeResultMobile.CommunityMobileViewModel
@section cphDataLayer{
    @Model.GetGtmDataLayerForCommResults()
}
<header class="nhs_ResContext" id="nhs_ResContextTitle">
    <h1>
        <span id="nhs_Title">
            @(Model.IsCurrentLocation ? LanguageHelper.LoadingResults.ToMvcHtmlString() : (Model.ResultCounts.CommCount == 0 ? LanguageHelper.NoResultsFoundMobile.ToMvcHtmlString() :
                    (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ?
                                    string.Format("{0} comunidad{1} encontradas en", Model.ResultCounts.CommCount, (Model.ResultCounts.CommCount == 1 ? "" : "es")) :
                                    string.Format("{0} communit{1} found in", Model.ResultCounts.CommCount, (Model.ResultCounts.CommCount == 1 ? "y" : "ies"))).ToMvcHtmlString()

            ))
        </span>
        <span id="nhs_TitleLocation">@Model.GetLocation()</span>
    </h1>
    @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityResults.Footer);}
    @if (Model.ShowTopBanner)
    {
        <div id="nhs_@(AdSlotConst.TopX11)" class="nhs_ResContextAd clearfix nhs_AdSection"  @(Model.IsMapView ? "style=display:none" : "")>
        </div>
    }
</header>
<section id="nhs_ResList" class="nhs_ResList clearfix"  @(Model.IsMapView ? "style=display:none" : "")>
    <div id="nhs_results">
        @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityResults.ResultsData, Model);}
    </div>
    @if (Model.ShowBottomBanner)
    {
        <div id="nhs_@(AdSlotConst.Middle)" class="nhs_ResFooterAd clearfix">
        </div>
    }
    <a href="#" class="btn" id="nhs_MoreResults" @(Model.Pages > 1 ? "" : "style=display:none")>
        @LanguageHelper.MoreResults.ToMvcHtmlString()</a>
</section>
<div id="nhs_ResMktTxt" class="clearfix" @(Model.IsMapView ? "style=display:none" : "")>
      @if (!Model.IsCurrentLocation)
      {
          <div id="nhs_MoreLink" class="nhs_MoreLink clearfix">
              <h2>@Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State, Model.County, Model.Zip, Model.CommunityName, Model.BrandName, Model.BrandId.ToString(CultureInfo.InvariantCulture), Model.SeoContentTags, Model.SeoTemplateType, "heading1")</h2> <span>@LanguageHelper.Show.ToMvcHtmlString()</span>
          </div>
          <div class="nhs_MorePanel clearfix">        
              <div id="nhs_SeoContentArea">
                  @Html.RenderSeoContent(Model.Market.MarketName.Replace(" ", ""), Model.City, Model.State,
                      Model.County, Model.Zip, Model.CommunityName, Model.BrandName, Model.BrandId.ToString(CultureInfo.InvariantCulture), Model.SeoContentTags, Model.SeoTemplateType, "footer")    
                  <div class="nhs_LinksPromo">
                      @if (Model.Globals.PartnerLayoutConfig.DoesPartnerAllowsSeoLinkPromotions)
                      {
                          Html.RenderAction(NhsMvc.PartialViews.ActionNames.SeoLinkPromotion, NhsMvc.PartialViews.Name);
                      }
                  </div>
              </div>
          </div>
      }
    @if (Model.ShowBottomBanner)
    {
        <div id="nhs_@(AdSlotConst.Middle)" class="nhs_ResFooterAd clearfix">
        </div>
    }
</div>
<input type="hidden" value="@Model.ResultCounts.CommCount" id="nhs_CommCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.HomeCount" id="nhs_CommHomeCount" class="visuallyhidden" />
<input type="hidden" value="@Model.ResultCounts.BlCount" id="nhs_BlCount" class="visuallyhidden" />
@Html.Partial(NhsMvc.Default.ViewsMobile.CommunityResults.Map)
@section cphFooter{
    @Html.GetGoogleMapScript()    
    @ResourceCombinerEnum.COMMUNITYRESULTSMOBILE.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var parameters = {
                Pages: @Model.Pages,
				showBasics: @(Model.ShowBasics ? "true" : "false"),
                IsCurrentLocation: @Model.IsCurrentLocation.ToString().ToLower(),
                logActionMethodUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.ImpressionLogger))",
                MobileCallSalesOfficeEvent: "@LogImpressionConst.MobileCommunityResultsCallSalesOffice",
                ShowRouteEvent: "@LogImpressionConst.MobileCommunityResultsShowRoute",
                ShareEvent: "@LogImpressionConst.MobileCommunityResultsSocialMediaShare",
                ChangeMapStatusUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.ChangeMapStatus))",
                getCommunityMapCards: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards))",
                getResultsUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetResultsMobile))",
                getCountsUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCountsMobile))",
                getBrandsUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetBrands))",
                Search: "@(Html.GetActionUrl(NhsMvc.Home.Name, NhsMvc.Home.ActionNames.MobileSearch))",
                SetPersonalCoockie: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.SetCurrentLocationPersonalCoockie))",
                GetLocationUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetLocation))",
                changeRadiusAndSearchTypeUrl: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.ChangeRadiusAndSearchType))",
                typeAheadParameters: {
                    typeAheadUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.PartnerLocationsIndexMobile))",
                    textBoxName: "FilterLocation",
                    currentLocationImg: "@(GlobalResourcesMobile.Default.images.icons.locate_me_gray_png)",
					Translation: {
                    	CurrentLocation: "@LanguageHelper.CurrentLocation.ToMvcHtmlString()",
                    	LocateMe: "@LanguageHelper.LocateMe.ToMvcHtmlString()",
                    	MGS_HOMESEARCH_DEFAULT_ERROR_MSN: "@LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()"
                	}
                },
                searchWithinMap: @(Model.SearchMapArea ? "true" : "false"),
                iconCurrentPosition: "@GlobalResourcesMobile.Default.images.icons.map_poi_red_png",
                iconSelected: "@GlobalResourcesMobile.Default.images.icons.map_poi_orange_png",
                iconSelectedMulti: "@GlobalResourcesMobile.Default.images.icons.map_plus_orange_png",
                iconSelectedBasic: "@GlobalResources14.Default.images.icons.map_point_orange_png",
                iconSelectedMultiBasic: "@GlobalResources14.Default.images.icons.map_point_plus_orange_png",
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMobile.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                iconMulti: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResourcesMobile.Default.images.icons.map_plus_blue_png : GlobalResources14.Default.images.icons.map_plus_green_png)",
                iconBasic: "@GlobalResources14.Default.images.icons.map_point_blue_png",
                iconMultiBasic: "@GlobalResources14.Default.images.icons.map_point_plus_blue_png",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.CenterLat.ToString(new NumberFormatInfo()),
                        Longitude: @Model.CenterLng.ToString(new NumberFormatInfo()),
                        zoomControl: true,
                        ZoomControlStyle: 'SMALL',
                        disableDefaultUI: true,
                        zoomControlPosition: 'TOP_LEFT',
                        Zoom: @Model.Zoom,
                        ContainerName: 'nhs_Map'
                    },
                    InfoWindowOptions: {
                        disableAutoPan: true
                    },
                    MinZoom: 8,
                    CreateMapWrap: false,
                    MarkerClustererOptions: {
                        gridSize: 40,
                        maxZoom: 18,
                        cssName: "nhs_Cluster",
                        imagePath: "",
                        zoomOnClick: true,
                        minimumClusterSize: 5
                    },
                    UseClusterer: true,
                    MarkerPointAsynOptions: {
                        Listener: 'dragend',
                        UrlServer: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetMapPointsMobile))"
                    },
                    ProcessResultOptions: {
                        Latitude: 'Lat',
                        Longitude: 'Lng',
                        Name: 'Name'
                    },
                    pOIIcons: {
                        school: "@GlobalResourcesMobile.Default.images.icons.map_poi_school_png",
                        shopping: "@GlobalResourcesMobile.Default.images.icons.map_poi_shopping_png",
                        entertainment: "@GlobalResourcesMobile.Default.images.icons.map_poi_entertain_png"
                    }
                },
                searchParameters: @Model.SearchParametersJSon.ToMvcHtmlString(),
                getNearbyComunities: "",
				Translation: {
	                Saved: "@LanguageHelper.Saved.ToMvcHtmlString()",
	                AllBuilders: "@LanguageHelper.AllBuilders.ToMvcHtmlString()",
	                NoMax: "@LanguageHelper.NoMax.ToMvcHtmlString()",
	                NoMin: "@LanguageHelper.NoMin.ToMvcHtmlString()",
	                CurrentLocation: "@LanguageHelper.CurrentLocation.ToMvcHtmlString()",
	                NoResultsFound: "@LanguageHelper.NoResultsFoundMobile.ToMvcHtmlString()",
	                Communities: "@LanguageHelper.Communities.ToMvcHtmlString()",
	                Community: "@LanguageHelper.Community.ToMvcHtmlString()",
	                Home: "@LanguageHelper.Home.ToMvcHtmlString()",
	                County: "@LanguageHelper.County.ToMvcHtmlString()",
	                FoundIn: "@LanguageHelper.FoundIn.ToMvcHtmlString()",
	                In: "@LanguageHelper.In.ToMvcHtmlString()",
	                ThisArea: "@LanguageHelper.ThisArea.ToMvcHtmlString()",
	                MGS_HOMESEARCH_DEFAULT_ERROR_MSN: "@LanguageHelper.MGS_HOMESEARCH_DEFAULT_ERROR_MSN.ToMvcHtmlString()",
	                LocateMe: "@LanguageHelper.LocateMe.ToMvcHtmlString()",
	                Show: "@LanguageHelper.Show.ToMvcHtmlString()",
	                Hide: "@LanguageHelper.Hide.ToMvcHtmlString()",
	                AllCommunities: "@LanguageHelper.AllCommunities.ToMvcHtmlString()",
	                NearYour: "@LanguageHelper.NearYour.ToMvcHtmlString()"
	            },
	           	FacetsOptions: {
	                LocationSliderText: ["@LanguageHelper.ExactLocation.ToMvcHtmlString()", "1 @LanguageHelper.MileFromCenter.ToMvcHtmlString()", "3 @LanguageHelper.MilesFromCenter.ToMvcHtmlString()", "5 @LanguageHelper.MilesFromCenter.ToMvcHtmlString()", "10 @LanguageHelper.MilesFromCenter.ToMvcHtmlString()", "15 @LanguageHelper.MilesFromCenter.ToMvcHtmlString()", "25 @LanguageHelper.MilesFromCenter.ToMvcHtmlString()"],
	                LocationSliderValues: [0, 1, 3, 5, 10, 15, 25],
	                LocationSliderSmallText: ["@LanguageHelper.Exact.ToMvcHtmlString()", "+1 @LanguageHelper.MileRadius.ToMvcHtmlString()", "+3 @LanguageHelper.MilesRadius.ToMvcHtmlString()", "+5 @LanguageHelper.MilesRadius.ToMvcHtmlString()", "+10 @LanguageHelper.MilesRadius.ToMvcHtmlString()", "+15 @LanguageHelper.MilesRadius.ToMvcHtmlString()", "+25 @LanguageHelper.MilesRadius.ToMvcHtmlString()"],
	                PriceSliderValues: [100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000, 200000, 220000, 240000, 260000, 280000, 300000, 325000, 350000, 375000, 400000, 425000, 450000, 475000, 500000, 600000, 700000, 800000, 900000, 1000000]
	            }
            };

            var commResults = new NHS.Mobile.CommResults(parameters);
            commResults.init();
        });
    </script>
}
