﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.WhatsNearbyViewModel
<div class="nhs_ResMapNearby">
    <a href="#" class="btn btn_Nearby">@LanguageHelper.WhatsNearby.ToMvcHtmlString()</a>
    <div class="nhs_Flyout" style="display: none;">
        <ul>
            @if (Model.MapType == "MapPopup")
            {
                <li>
                    <input id="nhs_MapChk4_@(Model.MapType)" class="nhs_MapChk4" type="checkbox" /><label for="nhs_MapChk4_@(Model.MapType)">@LanguageHelper.NearbyCommunities.ToMvcHtmlString()</label>
                </li>
            }
            <li>
                <input id="nhs_MapChk1_@(Model.MapType)" class="nhs_MapChk1" type="checkbox" /><label for="nhs_MapChk1_@(Model.MapType)">@LanguageHelper.Schools.ToMvcHtmlString()</label>
            </li>
            <li>
                <input id="nhs_MapChk2_@(Model.MapType)" class="nhs_MapChk2" type="checkbox" /><label for="nhs_MapChk2_@(Model.MapType)">@LanguageHelper.Shopping.ToMvcHtmlString()</label>
            </li>
            <li>
                <input id="nhs_MapChk3_@(Model.MapType)" class="nhs_MapChk3" type="checkbox" /><label for="nhs_MapChk3_@(Model.MapType)">@LanguageHelper.Entertainment.ToMvcHtmlString()</label>
            </li>
        </ul>
    </div>
</div>
