﻿@model Nhs.Web.UI.AppCode.ViewModels.QuickMoveInSearchViewModel
@{
    Layout = null;
}
@using System.Web.Mvc.Html
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Web.Mvc
@using System.Collections
@using Nhs.Web.UI.AppCode.Helper
<p>
    <label for="ddlMarket">
        @LanguageHelper.Area.ToMvcHtmlString():
    </label>
    @Html.DropDownList("MarketId", new SelectList(Model.MarketList as IEnumerable, "MarketId", "MarketName", Model.MarketId), new { id = "ddlMarket", @class = "nhs_BoylSearchArea" })
</p>