﻿@model Nhs.Web.UI.AppCode.ViewModels.QuickMoveInSearchViewModel
@using System.Web.Mvc.Html
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Collections
@using Nhs.Web.UI.AppCode.Helper

<script type="text/javascript">

    function ValidateFrom() {
        var txtZip = $jq('#txtPostalCode');
        var zip = txtZip.val();
        var state = $jq('#ddlState').val();
        var market = $jq('#ddlMarket').val();
        var messageContainer = $jq('#divMessage');
        var message = '<p class=\'field-validation-error\'>@LanguageHelper.PleaseSelectAStateAndAreaOrEnterAZipCode.ToMvcHtmlString()</p>';

        messageContainer.html('');

        if (zip == '') {
            if (state == '' || market == '0') {    //Please uncomment that when market list be fixed
                messageContainer.html(message);
                return false;
            }
        }
        else {
            if (zip.length < 5) {
                messageContainer.html(message);
                txtZip.val('');
                return false;
            }
            else {
                if (zip.length > 5) {
                    txtZip.val(zip.substring(0, 5));
                }

                if (isZip(zip) == false) {
                    messageContainer.html(message);
                    txtZip.val('');
                    return false;
                }
            }
        }

        return true;
    }


    function isZip(s) {

        // Check for correct zip code
        reZip = new RegExp(/(^\d{5}$)|(^\d{5}-\d{4}$)/);

        if (!reZip.test(s)) {
            // alert("Zip Code Is Not Valid");
            return false;
        }

        return true;
    }

</script>

<div class="nhs_Content" id="nhs_QuickMoveSearch">
    <h2>@LanguageHelper.SearchForQuickMoveInNewHomes.ToMvcHtmlString()</h2>
    <p class="nhs_QuickMoveDesc">@LanguageHelper.NoTimeToWait.ToMvcHtmlString()</p>

    <div class="nhs_QuickMoveSearch1">
        @if (Model.ShowValidationMessage)
        {
            @Model.ValidationMessage
        }

        <div class="nhs_CustomBox">
            <div id="divMessage"></div>
            <fieldset style="padding-top:10px;">
                <legend class="nhs_Reader">Location</legend>
                <div id="pnlSate">
                    <script type="text/javascript">
                        jQuery(document).ready(function () {
                            jQuery("#ddlState").change(function () {
                                var data = { StateAbbr: jQuery("#ddlState option:selected").val() };
                                jQuery.ajax({
                                    type: "Post",
                                    url: "@(Html.GetActionUrl(NhsMvc.QuickMoveInSearch.Name, NhsMvc.QuickMoveInSearch.ActionNames.ChangeState))",
                                    data: data,
                                    success: function (result) {
                                        jQuery("#pnlMarket").html(result);
                                    }
                                });
                            });
                        });
                    </script>
                    <p>
                        <label for="ddlState">@LanguageHelper.State.ToMvcHtmlString(): </label>
                        @Html.DropDownList("StateAbbr", new SelectList(Model.StateList as IEnumerable, "StateAbbr", "StateName", Model.StateAbbr), new { id = "ddlState", onchange = " if(UseOnSubmit())$jq('#frmChageState').trigger('onsubmit');else $jq('#frmChageState').trigger('submit');" })
                    </p>
                </div>

                @using (Html.BeginNhsForm(NhsMvc.QuickMoveInSearch.ActionNames.Show, "frmQuickSearch"))
                {

                    <div id="pnlMarket">
                        @Html.Partial(NhsMvc.Default.Views.QuickMoveInSearch.MarketSelect)
                    </div>
                    <p><span class="label">@LanguageHelper.Or.ToMvcHtmlString()</span></p>
                    <p>
                        <label for="txtPostalCode">@LanguageHelper.Zip.ToMvcHtmlString(): </label>
                        @Html.TextBoxFor(model => model.PostalCode, new { id = "txtPostalCode" })
                    </p>
                    <p>
                        <label for="PriceLow">Price: </label>
                        @Html.DropDownListFor(
                                 m => m.PriceLow,
                                 Model.LowPriceRange,
                                  LanguageHelper.NoMin)
                        @Html.DropDownListFor(
                             m => m.PriceHigh,
                             Model.HighPriceRange,
                              LanguageHelper.NoMax)
                    </p>
                    <p>
                        <label for="PriceLow">@LanguageHelper.Bedrooms.ToMvcHtmlString(): </label>
                        @Html.DropDownListFor(
                                 m => m.BedDrop,
                                 Model.BedList)
                    </p>
                    <p>
                        <label for="PriceLow">@LanguageHelper.Bathrooms.ToMvcHtmlString(): </label>
                        @Html.DropDownListFor(
                                 m => m.BathDrop,
                                 Model.BathList)
                    </p>

                    <input type="submit" class="btnCss btn_FindHomes" value="@LanguageHelper.SearchHomesButton" onclick="$jq.googlepush('Search Events','Search Action','Search - Quick Move-in'); return ValidateFrom();" />
                }
            </fieldset>
        </div>

        @if (Model.ShowCustomAdd)
        {
            <div id="nhs_LeftMid"></div>
        }

    </div>

    <div class="nhs_QuickMoveSearch2">
        @if (Model.ShowStaticContentCol)
        {
            @Html.StaticContent("QuickMoveInSearch/QuickMoveInColumn2.htm", null, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
        }
    </div>

</div>
