﻿/* ---------------------------------------------
Title:      NewHomeSource.com Main Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:	Nov 24 2010
----------------------------------------------- */
	
/*html, body {
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: small;
	}
* html body {
	font-size: x-small; 
	f\ont-size: small; 
	}
p {
	margin: .25em 0 .45em 0;
	}
ul {
	margin: 0 0 .45em 0;
	padding-left: 15px;
	list-style-type: none;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	}
form {
	margin: 0;
	padding: 0;
	}*/
a, a:link {
	color: #24619e;
	text-decoration: underline;
	}
a:visited, a:active {
	color: #24619e;
	}
a:hover {
	text-decoration: underline;
	}
	
	.static_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	position:absolute;
	left:300px;
	top:80px;
	width:675px;	
	height:270px;
	border:2px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

.nhs_Overlay
{
	border: 1px solid red;
	margin:2px;
}

.nhs_Overlay_Over
{
	background-color:Yellow;
	cursor:pointer;
}

.nhs_Overlay_Out
{
	background-color:White;
}


/* close button positioned on upper right corner */
.static_overlay .stclose {
	background-image:url(/GlobalResourcesMvc/Default/images/overlays/stclose.png);	
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.staticInfo {
		padding-top:10px;
		padding-left:10px;
		font-size:11px;
		color:#fff;
		width:650px;
		text-align:left;
	}
	
.staticInfo .stscroll {
		border: gray outset;
		overflow:scroll;
		height:150px;
	}
	
.staticInfo .stscroll  ul{
		margin-top:5px;
	}
	
	.staticInfo h3 {
		color:#aba;
		font-size:15px;
		margin:0 0 -10px 0;
		padding-bottom:25px;
	}
	.nhsStaticContent {
    
}

.stNumber
{
	color:White;
	position:absolute;
	top:7px;
	left:12px;
	font-size:20px;
}

.stNumberPath
{
	color:Red;	
	font-size:12px;
	background-color:Black;
}

.nhsStaticContent .stmark {
	background-image:url(/GlobalResourcesMvc/Default/images/overlays/stnumber.png);	
	position:relative;
	left:-5px;
	top:-5px;
	cursor:pointer;
	height:35px;
	width:auto;
	display:none;
	text-decoration:none;
	background-repeat:no-repeat;
}
	
	
.nhsReader {
	position: absolute;
	left: -2000px;
	width: 100px;
	}
.nhsReaderAlt {
	display: none;
	}
fieldset {
	margin: .65em 0;
	padding: 0;
	border: 0;
	}
td, input, select, textarea {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;	
	}
abbr {
	border: 0;
	text-decoration: none;
	}
img {
	border: 0;
	}
.nhsClear {
	clear: both;
	height: 0;
	}
.nhsAsterisk {
	font-size: 18px;
	vertical-align: middle;
	color: #ff193f;
	margin-right: 1px;
	line-height: 0.5;
	}
	
.field-validation-error, .validation-summary-errors {
	color: #ff0600;
	font-size: 85%;
	font-weight: bold;
	}	
	
/* =Partner */

.nhsPoweredBy {
	float: right;
	margin: 3px 6px 0 0;
	}

#nhsPartnerContainer {
	margin: 0 auto;
	padding: 0 0 5px 0;
	width: 970px;
	text-align: left;
	background-color: #fff;
	font-family: Arial,Helvetica,sans-serif;	
	font-size: small;
	line-height: normal;
	}
/*#nhsPartnerContainer h3 {
	background: transparent;
	border: 0px;
	} */

#nhsPartnerContainer a, #nhsPartnerContainer a:link {
	color: #24619e;
	text-decoration: underline;
	}
#nhsPartnerContainer a:visited, #nhsPartnerContainer a:active {
	color: #24619e;
	}
		
#nhsPartnerNav {
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
	width: 970px;
	height: 26px;
	display: inline; /* IE double margin bug fix */
	border-top: 1px solid #24619e;
	border-bottom: 1px solid #24619e;
	background: #f0f0f0;
	}
#nhsPartnerNav ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	}
ul#nhsPartnerToolNav {
	float: right;
	}
#nhsPartnerNav ul li {
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	list-style-image: none;
	background-image: none;
	}
#nhsPartnerNav ul li a,
#nhsPartnerNav ul li a:link,
#nhsPartnerNav ul li a:visited,
#nhsPartnerNav ul li a:active {
	display: block;
	margin: 0;
	padding: 6px 10px 6px 6px;
	font-size: 85%;
	font-weight: bold;
	color: #24619e;
	text-decoration: none;
	}
#nhsPartnerNav ul li a:hover {
	text-decoration: underline;
	}	 
#nhsPartnerContainer .nhsContent {
	margin: 0;
	}
#nhsPartnerContainer .nhsPersonalBar {
	width: 958px;
	margin: 3px 0 6px 0;	
	border-width: 1px 0;
	}
#nhsPartnerContainer .nhsPersonalBar a, #nhsPartnerContainer .nhsPersonalBar a:link, #nhsPartnerContainer .nhsPersonalBar a:visited, #nhsPartnerContainer .nhsPersonalBar a:active {
	color: #24619e;
	}

#nhsPartnerContainer fieldset {
	margin: .65em 0;
	padding: 0;
	border: 0;
	}
#nhsPartnerContainer td, #nhsPartnerContainer input, #nhsPartnerContainer select, #nhsPartnerContainer option, #nhsPartnerContainer textarea {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	}
#nhsPartnerContainer abbr {
	border: 0;
	text-decoration: none;
	}
#nhsPartnerContainer #nhsFooter {
	clear: both;
	float: left;
	margin: 10px 0 0 0;
	padding: 3px 0 0 0;
	width: 970px;
	display: inline; /* IE double margin bug fix */
	border-top: 1px solid #24619e;
	border-bottom: 0px solid #24619e;
	background: #fff;
	text-align: left;
	color: #666;
	}	
#nhsPartnerContainer #nhsFooter ul {
	margin: 4px;
	padding: 0;
	font-size: 85%;
	font-weight: bold;
	list-style-type: none;
	}	
#nhsPartnerContainer #nhsFooter li {
	margin: 0 7px 0 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	list-style-image: none;
	background: none;
	}
#nhsPartnerContainer #nhsFooter a,
#nhsPartnerContainer #nhsFooter a:link,
#nhsPartnerContainer #nhsFooter a:active {
	margin: 0;
	padding: 0;
	text-decoration: underline;
	color: #666;
	}
#nhsPartnerContainer #nhsFooterAdBox {
	border: 0;
	float: left;
	margin: 0;
	padding: 0;
	width: 310px;
	}		
#nhsPartnerContainer #nhsCopyright {
	float: left;
	clear: both;
	width: 967px; /* 800 -3px prevents Duplicate Character bug in IE6 */
	height: 30px;
	margin: 3px 0 6px 0;
	padding: 0;
	font-size: 75%;
	color: #666;
	text-align: left;
	}
#nhsPartnerContainer #nhsCopyright p {
	margin: 0 0 0 4px;
	padding: 0;
	}
#nhsPartnerContainer #nhsCopyright a,
#nhsPartnerContainer #nhsCopyright a:link,
#nhsPartnerContainer #nhsCopyright a:visited,
#nhsPartnerContainer #nhsCopyright a:active {
	color: #666;
	}
#nhsPartnerContainer #nhsFooter #nhsFooterAside,
#nhsPartnerContainer #nhsFooter #nhsCopyright {
    float: left;
    width: 660px;
    clear: none;
    } 	
	
.nhsCommDetailPartnerAds,
.nhsContent .nhsPartnerAds {
	clear: both;
	width: 970px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	}
	
/* =Container */		
#nhsContainer {
	margin: 0 auto;
	padding: 0;
	width: 990px;
	text-align: left;
	}
#nhsContainerShadow {
	margin: 0 -32px;
	padding: 0 32px;
	width: 990px;
	text-align: left;
	background: url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_body_shadow_sides.png) repeat-y 50% top;
	}
#nhsSectionMain {
	float: left;
	width: 970px;
	padding: 10px;
	min-height: 450px;
	background: #fff;
	}
		
#nhsAddThisBox {
	float: right;
	margin: 3px 0 1px 0;
	padding: 3px 5px 1px 5px;
	width: auto;
	}
#nhsAddThisBox .addthis_separator {
	float: left;
	margin: 0 4px;
	}
#nhsAddThisBox a {
	float: left;
	margin: 0 4px;	
	padding: 0 !important;
	}
#nhsAddThisBox .addthis_button_facebook,
#nhsAddThisBox .addthis_button_twitter,
#nhsAddThisBox .addthis_button_email,
#nhsAddThisBox .addthis_button_print, {
	width: 15px;
	}
	
#nhsLiveChat {
	margin: 3px 0 1px 0;
	padding: 1px 5px;
	width: auto;
	}
#nhsAddThisBox,
#nhsLiveChat {
	*padding-bottom: 1px;	
	*border-radius: 3px; 
/*	*behavior: url(/globalresourcesmvc/default/js/border-radius.htc);*/
	}
#nhsLiveChat a, 
#nhsLiveChat a:link, 
#nhsLiveChat a:visited, 
#nhsLiveChat a:active {		
	*padding: 1px 5px 1px 26px; 
	}	
.mvContainer #nhsAddThisBox,
#mvHeader #nhsLiveChat {
	*border-radius: 0;
	*behavior: none;
	}
		
.nhsHeaderActivEngage {
	float: right;
	margin-left: 10px;
	}

/* =Ads */
#nhsAdTop {
	clear: both;
	width: 730px;
	margin: 0 auto;
	padding: 0 0 5px 0;
	text-align: center;
	}
#nhsContainer #nhsAdTop {
	padding: 6px 0;
	}
#nhsAdRightCol {
	float: right;
	width: 160px;
	margin: 0 0 5px 0;
	padding: 0;
	border: 0px solid;
	}
.nhsAdCenterBlock {
	width: 800px; 
	margin: 10px 0;
	text-align: center;
	}
.nhsAdBorder {
	border: 1px solid #7f7f7f;
	}
#nhsAdTop .nhsAdBorder {
	border: 0;
	}
.nhsAdRight2 {
	width: 160px;
	margin: 0 0 5px 0;
	}
.nhsAdRight3 {
	width: 160px;
	margin: 0;
	}
.nhsAdBottom {
	width: 125px;
	}
#nhsAdContainerx03 {
	width: 1px; 
	height: 1px;
	overflow: hidden;
	position: absolute;
	left: -3000px;
	}
	
/* Iframe Ad Sizes */
#nhsIFrameAdTop {
	width: 728px;
	height: 90px; 
	background: #fff;
	}
#nhsIFrameAdMiddle,
#nhsIFrameAdMiddle3,
#nhsIFrameAdx01 {
	width: 300px;
	height: 250px;
	}
#nhsIFrameAdBottom {
	width: 125px;
	height: 125px;
	}
#nhsIFrameAdRight2 {
	width: 165px;
	height: 600px;
	}
#nhsCommResults #nhsIFrameAdRight2 {
	width: 160px;
	}
#nhsIFrameAdRight3 {
	width: 165px;
	height: 600px;
	}

	
/* Left Ad Column on Detail Suite layout using NhsShellDetails.master */
#nhsAdLeftCol { 
	float: left;
	width: 165px; /* 125px */
	margin: 0 0 5px 0; /* 0 0 5px 5px */
	padding: 0;
	border: 0px solid;
	_display: inline;
	}	
.nhsContainerRight .nhsContent {
	float: right;
	clear: none;
	margin-right: 0; /* 10px */
	}
/* End Detail Suite layout */
	
/* =Text ad */
#nhsAdText {
	clear: both;
	width: 940px;
	margin: 0 5px 5px 5px;
	padding: 0;
	text-align: left;
	}
#nhsAdText p {
	margin-left: 4px;
	}



/* =Personal Bar */
.nhsPersonalBar {
	float: left;
	width: 958px; /*788px;*/
	margin: 3px 0 6px 0;
	padding: 6px 0 6px 12px;
	border: 1px solid #999;
	border-width: 1px 0;
	background: #dfdfde;
	font-size: 85%;
	font-weight: bold;
	color: #666;
	}
.nhsPersonalBar a, 
.nhsPersonalBar a:link, 
.nhsPersonalBar a:visited, 
.nhsPersonalBar a:active {
	color: #24619e;
	text-decoration: none;
	}
.nhsPersonalBarInner {
	float: left;
	width: 100%;
	}
.nhsPersonalBar p {
	float: left;
	margin: 0;
	padding: 0;
	color: #666;
	}
.nhsPersonalBar .nhsSavedItems {
	border-left: 1px solid #999;
	margin: 0 0 0 12px;
	padding: 7px 3px 7px 12px;
	}
.nhsPersonalMessage {
	border: 0;
	background-color: #F1CB38;
	color: #1A3B9A;
	margin: 0;
	padding: 7px 12px 7px 12px;
	}
.nhsPersonalBar .nhsPersonalMessage {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #F1CB38;
	color: #1A3B9A;
	margin: 0 0 0 9px;
	padding: 7px 12px 7px 12px;
	}
#nhsLogin .nhsPersonalMessage {
	width: 90%;
	}
	
/* =Quick Connect */	
.nhsCommResultsQC,
.nhsGlobalQuickConnectDiv {
	float: right;
	text-align: center;
	padding: 6px 6px 0 6px;
	}
.nhsCommResultsQC {
	width: 170px;
	}
.nhsPersonalBar .nhsGlobalQuickConnectDiv {
	margin: -4px 0 -8px 0;
	*margin-top: -3px;
	padding: 0 6px;
	}
.nhsCommResResultsBar .nhsCommResultsQC p,
.nhsCommResResultsBar .nhsGlobalQuickConnectDiv p {
	margin: 0;
	*margin: -3px 0 0 0;
	font-size: 85%;
	font-weight: bold;
	}
.nhsGlobalQuickConnectText {
	float: right;
	margin: 4px 5px 0 0;
	}
.nhsGlobalQuickConnectImg {
	float: right;
	}
#nhsHeader .nhsGlobalQuickConnectDiv {
	padding: 10px 100px 0 0;
	*padding-top: 12px;
	}
#nhsHeader .nhsGlobalQuickConnectDiv p {
	font-size: 85%;
	font-weight: bold;
	} 
	
.nhsContent .nhsLegalText,
.nhsContent .nhsLegalInline {
	font-size: x-small;
	}

.nhsBoxTR {
	background: url(/globalresources/default/images/nhs_bluebox_right.gif) no-repeat top right;
	}
.nhsBoxTL {
	background: url(/globalresources/default/images/nhs_bluebox_left.gif) no-repeat top left;
	padding: 5px 0 0 0;
	} 
.nhsBoxBL {
	background: url(/globalresources/default/images/nhs_bluebox_left.gif) no-repeat bottom left;
	padding: 0 0 0 5px;
	} 
.nhsBoxBR {
	background: url(/globalresources/default/images/nhs_bluebox_right.gif) no-repeat bottom right;
	padding: 0 5px 5px 0;
	}
.nhsFillBoxTR {
	background: url(/globalresources/default/images/nhs_bluebox2_right.gif) no-repeat top right;
	}
.nhsFillBoxTL {
	background: url(/globalresources/default/images/nhs_bluebox2_left.gif) no-repeat top left;
	padding: 5px 0 0 0;
	} 
.nhsFillBoxBL {
	background: url(/globalresources/default/images/nhs_bluebox2_left.gif) no-repeat bottom left;
	padding: 0 0 0 5px;
	} 
.nhsFillBoxBR {
	background: url(/globalresources/default/images/nhs_bluebox2_right.gif) no-repeat bottom right;
	padding: 0 5px 5px 0;
	}
.nhsFillBoxBR .howto {display: block; float: left; width: 100%; margin: 10px 0;}

/* =Content */	
.nhsContent {
    clear: both;
    float: left;
    width: 800px;
    margin: 0 5px 5px 5px;
    padding: 0;
    background: #fff;
    display: inline; /* IE double margin fix */
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    }
.nhsContent p,
.nhsContent td {
	font-size: 90%;	
	}
.nhsContent h1,
.nhsContent h2,
.nhsContent h3,
.nhsContent h4,
.nhsContent h5,
.nhsContent h6 {
	font-size: 105%;
	margin: .65em 0;
	padding: 0;
	}
.nhsContent h2 {
	font-size: 125%;
	}

/* =Spotlight */    
.nhsHomeSpotlight,
.nhsSpotlight {
	float: left;
	width: 134px;
	margin: 0;
	padding: 0;
	border: 0px solid #000;
	background: url(/globalresources/default/images/bluebox_w134_bottom.gif) no-repeat left bottom;
	overflow: hidden;	
	}
#nhsHomeSpotlightHeading {
	display: block;
	margin: 0;
	padding: 0;
	height: 71px;
	border: 0px solid #000;
	padding-top: 71px; height: 0px !important; 
	height /**/: 71px; overflow: hidden;
	background: url(/globalresources/default/images/spotlight_communities.gif) no-repeat center top;	
	}
.nhsSpotlightItem {
	margin: 10px 5px 15px 5px;
	padding: 0;
	}
.nhsSpotlightItem p strong {
	font-size: 110%;
	}
.nhsSpotlightItem p {
	font-size: 90%;
	}
.nhsSpotlightItem div { /* thumbnail shadow */
	width: 95px;
	height: 75px;
	background: url(/globalresources/default/images/thumb_shadow.gif) no-repeat left top;
	}
.nhsSpotlightItem p img { /* video icon */
	margin: 0 0 0.25em 7px;
	}
.nhsSpotlightItem div img { /* thumbnail img */
	display: block;
	border: 1px solid #24619e;
	}
.nhsSpotCommImg img {
	width: 91px;
	height: 70px;
	}
.nhsSpotHomeImg img {
	width: 75px;
	height: 58px;
	}
.nhsSpotlightItem .nhsSpotHotHomeCommName,
#nhsPartnerContainer .nhsSpotlightItem .nhsSpotHotHomeCommName {
	color: #de5401;
	padding: 0 0 0 14px;
	background: url(/globalresources/default/images/icons/icon_flame.gif) no-repeat left top;
	}

.nhsError,
.nhsContent .nhsError {
	font-weight: bold;
	color: #c33;
	position: relative;
	}
.nhsErrorArticle
{
	font-weight: bold;
	color: white;
	position: relative;
	background-color:#c33;
}
.nhsErrorSmall,
.nhsContent .nhsErrorSmall {
	font-weight: normal;
	color: #c33;
	}
.nhsErrorList,
nhsContent .nhsErrorList {
	font-weight: normal;
	color: #f00;
	list-style-image: none;
	list-style-type: disc;
	}

.fLeft {
	float: left;
	}	
.fRight {
	float: right;
	}	
	
/* =Recent Items Pop */
#nhsRecentPop {
	width: 475px;
	margin: 0;
    padding: 0;
    text-align: left;
    background-color: #fff;
	}
#nhsRecentPop h3 {
	margin: 10px;
	}
#nhsRecentPop p {
	margin: 1.25em 10px;
	}
.nhsRecentPopThumbBar {
	float: left;
	width: 475px;
	margin: 0 0 10px 0;
	padding: 10px 0;
	background-color: #e4ebf2;	
	}
.nhsRecentPopThumbBar h1 {
	float: left;
	margin: 20px 20px;
	d\isplay: inline;
	}
.nhsRecentPopThumbBar img {
	float: left;
	margin: 0 5px;
	border: 1px solid #7095ba;
	}
#nhsRecentPop .nhsRecentPopBtns {
	text-align: right;
	}
#nhsRecentPop .nhsRecentPopBtns a {
	margin-left: 10px;
	}
#nhsRecentPop .nhsRecentPopSmLnk {
	font-size: 85%;
	}

/* =Ajax Loading Box */
.nhsAjaxLoader {
	position: fixed;
	top: 50%;
	left: 38%;
	z-index: 999999;
	width: 300px;
	margin: 0;
	padding: 20px 10px 10px 10px;
	border: 2px solid #000;
	border-color: #999 #000 #000 #999;
	background-color: #fff;
	text-align: center;
	}
* html .nhsAjaxLoader {
	position: absolute;
	}
.nhsAjaxLoader img {
	margin: 0 auto;
	}
.nhsAjaxLoader p strong {
	font-size: 120%;
	}

/* Map Loading Hover */	
.nhsMapLoader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	margin: 0;
	padding: 2px 0;	
	border-bottom: 1px solid #24619e;
	background: #e4ebf2;
	}
.nhsMapLoader p {
	float: left;
	margin: 2px 5px 0 5px;
	padding: 0;
	font-weight: bold;
	}
.nhsMapLoader .nhsLoadingBar {
	float: right;
	}

/* Map Tip Box */
.nhsMapTipBox {
	display: none;
	position: absolute;
	top: 80px;	
	left: 29%;
	z-index: 9999999;
	width: 215px;
	margin: 0;
	padding: 0 0 10px 0;
	/* border: 1px solid #333;
	border-color: #999 #000 #000 #999; */
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_bottom.png) no-repeat bottom left;
	text-align: left;
	}
* html .nhsMapTipBox {
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_bottom.gif) no-repeat bottom left;
	}
.nhsMapTipTop {
	float: left;
	width: 215px;
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_top.png) no-repeat top left;
	}
* html .nhsMapTipTop {
	background: url(/globalresources/default/images/backgrounds/bg_tip_box_top.gif) no-repeat top left;
	}

.nhsMapTipBox #nhsMapTipClose a {
	float: right;
	text-indent: -5000px;
	background: transparent url(/globalresources/default/images/buttons/close_mq.gif) no-repeat center top;
	width: 16px;
	height: 16px;
	margin: 7px 10px 0 5px;	
	cursor: pointer;
	display: block;
	display: inline;
	}

.nhsMapTipBox .nhsMapTipTxt {
	font-size: 105%;
	font-weight: bold;
	margin: 46px 18px 30px 15px;
	padding: 10px;
	border: 1px solid #24619e;
	background: #fff;
	}
.nhsMapTipBox .nhsMapTipChk {
	margin: 15px 10px 5px 15px;	
	}
* html .nhsMapTipChk {
	margin-left: 10px;
	}

.autoSuggestList {
	border:1px solid black;
	background-color:white;
	max-height:160px;
	min-width: 270px;
	overflow:auto;
	margin:0;
	padding:0;	
	color:Black;
	}
.autoSuggestList ul {
	list-style-type:none !important;
	list-style-image: none;
	margin:0 !important;
	padding:0 !important;
	}
.autoSuggestList ul li {
	padding: 2px !important;
	}
.autoSuggestList ul li.selected {
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;	
	background-color: #DEDEDE;
	font-weight: bold;
	}
div.autocomplete ul li {
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
	}
.fieldDefaultText {
	font-size: 10px;
	color: #666666;	
	}
.locationField {
	width: 156px;
	height: 16px;
	}	
	
/* =nhsModalShortMove */
.nhsModalShortMove h2.nhsModalHeader {
	margin-left: 12px;
	margin-bottom: 4px;
	}
.nhsModalShortMove .nhsRequestMarketing ul {
	color: #24619e;
	}
.nhsModalShortMove .nhsRequestPhoneComments {
	margin-top: -20px;
	}
.nhsModalShortMove .nhsRequestZipTxt {
	float: left;
	}
.nhsModalShortMove .nhsRequestPhoneP {
	float: left;
	width: 340px;
	margin-top: 5px;
	*margin-top: -1px;
	}
.nhsModalShortMove#nhsRequestInfoShort .nhsRequestLegalSubmit {
	text-align: center;
	}
.nhsModalShortMove .nhsRequestInfoRight .nhsRequestSaveInfo label {
	width: 255px;
	}
.nhsModalShortMove .nhsRequestInfoRight .nhsRequestSaveInfo {
	margin-left: 45px;
	}
	
/* Bankrate*/

.nhsContentLeft { width: 185px; float:left; margin: 0 0 5px 0; padding: 0; border:none; display: inline; }
.nhsContenteLeftTitle { font-size:12px; font-weight:bold; }
.nhsContentCenter { width: 590px; float:left; margin: 0 0 5px 0; padding: 0; border:none; display: inline; }
.nhsContentCenter { font-size:13px; }
.priceContainer { width:165px; padding:10px; background-color:#fef0cb; }
.loanTypes { width:165px; padding:10px; margin:10px 0 0 0; background-color:#f3f1e4;}
.loanTypesDiv { margin-bottom:10px; }
.loanTypesSelect { width:140px; }
.loanTypesInput { padding:4px 0 0 0; float:left; width:100%; }
.imageThumb {width:75px; padding:10px 0; margin:0; }

.getCuotesBtn { background: url(/globalresources/default/images/buttons/get_a_quotes.gif) no-repeat top left; width:104px; height:30px; border:none; margin:10px 0 0 0; cursor:pointer; }
.rightSpacer { margin: 0 0 0 12px; }

.backToSearch { background: url(/globalresources/default/images/buttons/btn_63_back.gif) no-repeat 7px 9px; width:785px; height:34px; background-color:#ebece7; margin:0 0 10px 0; border:solid 1px #dedfd9; }
.backToSearch p { padding:10px 0 0 30px; margin:0; color:#276AB1; font-size: 13px; font-weight: bold;}
.searchResultTitle { background: url(/globalresources/default/images/search_results_title.gif) no-repeat top left; width:580px; height:40px; margin:0 0 5px 0; padding:6px 0 0 10px; }
.searchResultTitle p { color:#fff; margin:0; }
.searchResultTitle p span { font-size:13px; font-weight:bold; }


/* Mortgage Table */
.backToSearch { width: 960px!important; height: 75px!important;background: url('/globalresources/default/images/buttons/btn_63_back.gif') no-repeat scroll 785px 11px #EBECE7!important; }
.backToSearch .mortgagetable_top { float:left; clear:left; }
.backToSearch .image_wrapper { float: left; width:75px; height:58px; margin:8px 0 0 8px; border: 1px solid #CCCCCC; display: block; }
.backToSearch .image_wrapper .imageThumb { padding:0; }
.backToSearch .return_to_view_homes { float: right;margin-right:15px; }
.backToSearch .property_title { font-size: 14px; font-weight:bold; margin: 10px 0 0 20px; float: left; }
.backToSearch .property_title a { text-decoration:underline; color: #276AB1; }
.backToSearch .property_title a:hover { text-decoration:none; color: #276AB1; }
.backToSearch .property_spec { margin: 10px 0 0 30px; font-size:85%; float:left; }


/* end Mortgage Table */
.backToSearchMortgageCalculator {
    background: url("/globalresources/default/images/buttons/btn_63_back.gif") no-repeat scroll 629px 11px #EBECE7 !important;
    height: 75px !important;
    width: 800px !important;
}

.nhsPriceSlider { border-top:none;	}
.down_payment_title { position:relative; left:-10px; }
.points_hordiv { height:10px; width:100%; border-top:1px solid #D8DACE; float:left; clear:left; }
.sliderRangeResults { font-weight: bold; text-align:center; }   
.srResults { font-size:13px; }
#nhsMortgageRates { font-size: 11px; color:#5F5046; }
.mtgHlpCnt { position:relative; visibility:hidden; width:248px; background-color:#ffffb7; border:1px solid #6E5A4F; margin:7px 0 0 -24px; padding:10px 0 10px 10px; }
.mtgHlpTxt { font-size:11px; color:#333; line-height:14px; padding-right:5px; padding-top:15px; text-align:left; }
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.divHlpClose {background:url(/globalresources/default/images/icons/nublyrhelp_imgstrip.gif) no-repeat -23px; display:inline; height:8px; margin-left:3px; position:absolute; width:8px; top:6px; right:6px; cursor:pointer; }

/* Rate Search Results */

.brm_borderboxw td { padding:0 0 10px 0; }
.brm_rt2wl, .brm_rt2aw, .brm_rt2w, .brm_rt2aw, .brm_rt2w, .brm_rt2awr, .brm_rt2wr { text-align:left; color:#5b6384; padding:0 0 10px 5px; }
.brm_verdana10bold { font-size:13px; }
.brm_color_value2 td { padding:5px; background-color:#fbfbfb; border-top: 1px solid #e0dddd; text-align:left; }
.brm_color_value1 td { padding:5px;  border-top: 1px solid #e0dddd; text-align:left;}

.brm_color_value2 .brm_lenderteal1 {width: 192px;}
.brm_rt3aw { font-weight:bold;}
.brm_link { float: left; margin-right: 3px; font-size:12px; color:#497cdf;}
.brm_linkOver { float: left; margin-right: 3px; font-size:12px; color:#497cdf; text-decoration: underline;}
.providedBy { width:30%; float:right; padding:5px; text-align:right; }
.providedBy span { font-weight:bold; color:#497cdf; }
.topMoopQuesHeader {font-weight:bold; margin-top:10px;}
.topMoopGloss ul {padding: 0;}
.topMoopGloss ul li { list-style-type:none; list-style-image:none;}

/* end Rate Search Results */
/* end Bankrate*/

.modalTitle {
background:none repeat scroll 0 0 #F4F3E7;
border:1px solid #CCCCCC;
display:inline;
float:left;
clear:left;
padding:6px 30px !important;
margin-bottom:10px;
text-align:center;
width:380px;
} 

h1.disambiguationPageHeader  {
    font-size:18xp; 
}
h3.disambiguationPageHeader { font-size:12xp; }

/***** FACEBOOK *****/
.fb_icon {
    /*background: url(/globalresourcesmvc/newhomesource/images/icons/fb_icon.png) no-repeat left top;*/
    width:16px;
    height:14px;
	position: relative;
	top: 1px;
	margin-left: 2px;
	padding: 0;
	border: 0;
	vertical-align:bottom;
	}
.fb_modal_wrapper {
    float:left;
    clear:left;
    width:100%;
    margin:12px 0 10px 0;
    }		
.fb_modal_wrapper .ft_btn {
    width:auto;
    float:right; 
    display:inline;
    margin:25px 40px 0 0;   
    }
.fb_modal_wrapper .ft_signin {
    width:60%;
    float:right;
    display:inline;
    }
.or {
    background: url(/globalresourcesmvc/newhomesource/images/backgrounds/or.gif) no-repeat left top;
    width:13px; 
    height:140px;
    vertical-align:middle;
    float:right;
    display:inline;
    }
    

/***** end FACEBOOK *****/

.nhsLockIcon {
    background: url(/GlobalResourcesMvc/Default/images/icons/lock_closed.png) no-repeat right bottom;
    width:11px;
    height:15px;
    display:inline-block;
    }
