﻿/* ---------------------------------------------
Title:      NewHomeSource.com Button Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010
----------------------------------------------- */

.btn,
#nhsPartnerContainer .btn {
	height: 17px;
	margin: 0;
	padding: 17px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	}
a.btn, a:hover.btn,
#nhsPartnerContainer a.btn, #nhsPartnerContainer a:hover.btn {	
	display: block;
	height: 0px !important;
	}
/*
.btnGetMoreInfo,
#nhsPartnerContainer .btnGetMoreInfo {	 MOVE styles 
	width: 120px;
	height: 24px;
	padding: 24px 0 0 0;
	background: transparent url(/globalresources/move/images/buttons/btn_get_more_info.png) no-repeat center top;
	} */
.btnContactTheBuilder,
#nhsPartnerContainer .btnContactTheBuilder {
	height: 32px;
	padding-top: 32px;
	width: 177px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_contact_the_builder.gif) no-repeat center top;
	}
.btnGetAFreeBrochure,
#nhsPartnerContainer .btnGetAFreeBrochure {
	height: 32px;
	padding-top: 32px;
	width: 177px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_get_a_free_brochure.gif) no-repeat center top;
	}
.btnGetFreeInfo,
#nhsPartnerContainer .btnGetFreeInfo {
	height: 38px;
	padding-top: 38px;
	width: 167px;
	background: transparent url(/globalresourcesmvc/default/images/buttons/get_free_info.png) no-repeat center top;
	float: right;
	}
.btnHotHomeInfo, a.btnHotHomeInfo,
#nhsPartnerContainer .btnHotHomeInfo,
#nhsPartnerContainer a.btnHotHomeInfo {
	height: 32px;
	padding-top: 32px;
	width: 177px;
	margin-right: 10px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_hot_home_info.gif) no-repeat center top;
	}
.btnHotHome,
#nhsPartnerContainer .btnHotHome {	
	width: 96px;
	height: 18px;
	padding: 18px 0 0 0;
	background: transparent url(/globalresources/default/images/buttons/btn_hot_home_info.gif) no-repeat center top;
	}
a.btnFreeBrochure,
#nhsPartnerContainer a.btnFreeBrochure,
a:hover.btnFreeBrochure,
#nhsPartnerContainer a:hover.btnFreeBrochure {
	float: right;
	}
.btnAskBuilder {	
	width: 100px;
	height: 17px;
	background: transparent url(/globalresources/default/images/buttons/btn_ask_the_builder.gif) no-repeat center top;
	}
.btnGetFreeBrochures,
#nhsPartnerContainer .btnGetFreeBrochures {
	width: 136px;
	height: 29px;	
	padding: 29px 0 0 0;
	background: url(/globalresourcesmvc/default/images/buttons/get_free_brochures.png) no-repeat center top;
	margin-top: 8px;
	}
.btnGetBrochures,
#nhsPartnerContainer .btnGetBrochures {
	width: 127px;
	height: 30px;
	padding: 30px 0 0 0;
	background: transparent url(/globalresources/default/images/buttons/btn2_get_brochures.gif) no-repeat center top;
	}

.btnEdit {
	width: 39px;
	background: transparent url(/globalresources/default/images/buttons/btn_edit.gif) no-repeat center top;
	}	
.btnSubmit {
	width: 63px;
	background: transparent url(/globalresources/default/images/buttons/btn_submit.gif) no-repeat center top;
	}
.btnGetMyBrochure,
#nhsPartnerContainer .btnGetMyBrochure {
	width: 164px;
	height: 38px;
	padding: 38px 0 0 0;
	display:block;
	background: transparent url(/globalresourcesmvc/default/images/buttons/get_my_brochure_38h.png) no-repeat center top;
	}
.btnRequestAppt,
#nhsPartnerContainer .btnRequestAppt {
	width: 232px;
	height: 32px;
	padding: 32px 0 0 0;
	background: transparent url(/globalresources/default/images/buttons/btn_64_req_appt.gif) no-repeat center top;
	}
.btnQuickMoveIn,
#nhsPartnerContainer .btnQuickMoveIn {
	width: 205px;
	height: 32px;
	padding: 32px 0 0 0;
	background: transparent url(/globalresources/default/images/buttons/btn_64_req_inventory.gif) no-repeat center top;
	}
/*.btnFindDeals,
#nhsPartnerContainer .btnFindDeals {
	width: 120px;
	height: 38px;
	padding: 38px 0 0 0;
	background: transparent url(/globalresourcesmvc/default/images/buttons/find_deals.png) no-repeat center top;
	}
.btnContactBuilder,
#nhsPartnerContainer .btnContactBuilder {
	width: 180px;
	height: 32px;
	padding: 32px 0 0 0;
	background: transparent url(/globalresources/default/images/buttons/btn_64_contact_builder.gif) no-repeat center top;
	} */
.btnClear {
	width: 48px;
	background: transparent url(/globalresources/default/images/buttons/btn_clear.gif) no-repeat center top;
	}
.btnUpdate {
	width: 58px;
	background: transparent url(/globalresources/default/images/buttons/btn_update.gif) no-repeat center top;
	}
.btnContinue {
	width: 70px;
	background: transparent url(/globalresources/default/images/buttons/btn_continue.gif) no-repeat center top;
	}
.btnReturnToSearch {
	width: 187px;
	background: transparent url(/globalresources/default/images/buttons/btn_return_to_search.gif) no-repeat center top;
	}
.btnSetPrefs {
	width: 133px;
	background: transparent url(/globalresources/default/images/buttons/btn_set_my_preferences.gif) no-repeat center top;
	}
.btnSeeComms {
	width: 153px;
	background: transparent url(/globalresources/default/images/buttons/btn_see_more_communities.gif) no-repeat center top;
	}
.btnUnsubscribe {
	width: 88px;
	background: transparent url(/globalresources/default/images/buttons/btn_unsubscribe.gif) no-repeat center top;
	}
/*.btnSignIn,
#nhsPartnerContainer .btnSignIn {	
	width: 75px;
	height: 22px;
	padding-top: 22px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_signin2.gif) no-repeat center top;
	}
.btnSignInLarge,
#nhsPartnerContainer .btnSignInLarge {
	width: 97px;
	height: 38px;
	padding: 38px 0 0 0;
	background: transparent url(/globalresourcesmvc/default/images/buttons/sign_in_38h.png) no-repeat center top;
	} */
.btnRegister {	
	width: 66px;
	background: transparent url(/globalresources/default/images/buttons/btn_register.gif) no-repeat center top;
	}
.btnSaveAlert,
#nhsPartnerContainer .btnSaveAlert {
	width: 164px;
	height: 32px;
	padding-top: 32px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_save_my_alert.gif) no-repeat center top;
	}
/*.btnCreateAccount,
#nhsPartnerContainer .btnCreateAccount {	
	width: 177px;
	height: 38px;
	padding-top: 38px;
	background: transparent url(/globalresourcesmvc/default/images/buttons/create_my_account_38h.png) no-repeat center top;
	}
.btnUpdateMyAccount {	
	width: 214px;
	height: 32px;
	padding-top: 32px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_update_my_account.gif) no-repeat center top;
	} */
.btnSend {
	width: 44px;
	background: transparent url(/globalresources/default/images/buttons/btn_send.gif) no-repeat center top;
	}
/*.btnGetMyPassword,
#nhsPartnerContainer .btnGetMyPassword {
	width: 197px;
	height: 32px;
	padding-top: 32px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_get_my_password.gif) no-repeat center top;
	}*/
.btnSearchComms,
#nhsPartnerContainer .btnSearchComms {
	width: 266px;
	height: 38px;
	padding: 38px 0 0 0;
	background: transparent url(/globalresourcesmvc/default/images/buttons/search_communities.png) no-repeat center top;
	}
.btnFindBuilders,
#nhsPartnerContainer .btnFindBuilders {
	width: 139px;
	height: 38px;
	margin: 0 10px 10px 0;
	padding: 38px 0 0 0;
	background: transparent url(/globalresourcesmvc/default/images/buttons/find_builders.png) no-repeat center top;
	}
.btnFindHomes,
#nhsPartnerContainer .btnFindHomes {
	height: 38px;
	margin-left: 108px;
	padding-top: 38px;
	width: 129px;
	background: transparent url(/globalresourcesmvc/default/images/buttons/find_homes.png) no-repeat center top;	
	}
#nhsLocationSearchArea .btnFindHomes,
#nhsPartnerContainer #nhsLocationSearchArea .btnFindHomes {
	background: url(/globalresourcesmvc/newhomesource/images/buttons/find_homes.png) no-repeat scroll left top transparent;
    border: 0 none;
    display: inline;
    float: left;
    height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 33px 0 0;
    width: 117px;
	}
.btnReviewMatches,
#nhsPartnerContainer .btnReviewMatches {
	height: 38px;
	padding-top: 38px;
	width: 160px;
	background: transparent url(/globalresourcesmvc/default/images/buttons/review_matches.png) no-repeat center top;	
	display: block;
	margin: 0 auto; 
	text-align: center;
	}
#nhsPartnerContainer .nhsBasicForm .btnFindHomes {
	margin-left: 235px;
	}
.btnSearch,
#nhs_PartnerContainer .btnSearch {
	height: 29px;
	padding-top: 29px;
	width: 66px;
	background: url(/globalresourcesmvc/default/images/buttons/search.png) no-repeat center top;
	}
.btnSearchAgain {
	/*width: 89px;*/
	height:20px;
	background: transparent url(/globalresources/default/images/buttons/find_homes.gif) no-repeat center top;
	}
.btnPrevious {
	width: 42px;
	height: 15px;
	margin: 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: #0091da url(/globalresourcesmvc/default/images/buttons/trans_prev_sm.png) no-repeat center top;
	}
.btnNext {
	width: 42px;
	height: 15px;
	margin: 0;
	padding: 15px 0 0 0;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	background: #0091da url(/globalresourcesmvc/default/images/buttons/trans_next_sm.png) no-repeat center top;
	}
.btnUpdateResults,
#nhsPartnerContainer .btnUpdateResults {
	width: 105px;
	height: 18px;
	padding-top: 18px;
	background: transparent url(/globalresources/default/images/buttons/btn_update_results.gif) no-repeat center top;
	}
.btnUpdateResults2,
#nhsPartnerContainer .btnUpdateResults2 {
	float: right;
	width: 97px;
	height: 18px;
	padding-top: 18px;
	margin-right: 20px;
	background: transparent url(/globalresources/default/images/buttons/btn_646_update_results.gif) no-repeat center top;
	}
.btnContact {
	float: right;
	width: 70px;
	background: transparent url(/globalresources/default/images/buttons/btn_contact.gif) no-repeat center top;	
	}
.btnShowRoute {
	width: 87px;
	background: transparent url(/globalresources/default/images/buttons/btn_show_route.gif) no-repeat center top;	
	}
.btnCalculate {
	width: 77px;
	background: transparent url(/globalresources/default/images/buttons/btn_calculate.gif) no-repeat center top;	
	}
.btnFinish,
#nhsPartnerContainer .btnFinish {
	height: 32px;
	padding-top: 32px;
	width: 101px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_finish.gif) no-repeat center top;
	}
/*.btnBegin {
	width: 56px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_begin.gif) no-repeat center top;
	}
.btnClose {
	width: 56px;
	background: transparent url(/globalresources/default/images/buttons/btn_64_close.gif) no-repeat center top;
	}*/
	
/* for LVRJ partner */
.btnDisplayHomes,
#nhsPartnerContainer .btnDisplayHomes {	
	width: 110px;
	height: 17px;
	margin-bottom: 6px;
	background: transparent url(/globalresources/default/images/buttons/btn_display_homes.gif) no-repeat center top;
	}
.btnFindComms,
#nhsPartnerContainer .btnFindComms {	
	width: 130px;
	height: 17px;
	margin-left: 3px;
	background: transparent url(/globalresources/default/images/buttons/btn_find_communities.gif) no-repeat center top;
	}
.btnComingSoon {		
	background: url(/globalresourcesmvc/default/images/icons/icon2_coming_soon.png) no-repeat left top;
	width: 97px;
	height: 22px;
	padding: 0px;
	float: right;
    margin-bottom: 3px;
    margin-top: 3px;
	}
	
/*.btnCss, 
a.btnCss {
    display: inline-block;
    padding: 5px 14px;
    color: #24619e !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none !important;
    text-shadow: 1px 0 3px #fff;
    border: 1px solid #F6BE68;
    border-radius: 4px;
    
    background: #ffd00f;
    background: -moz-linear-gradient(top, #fef2a3 0%, #ffcc00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef2a3), color-stop(100%,#ffcc00));
    background: -webkit-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: -o-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: -ms-linear-gradient(top, #fef2a3 0%,#ffcc00 100%);
    background: linear-gradient(to bottom, #fef2a3 0%,#ffcc00 100%);
    } 	*/    
.btnFreeBrochure,
#nhsPartnerContainer .btnFreeBrochure {		
	float: right;
	font-size: 13px;
	padding: 8px !important;
	}
a.btnFreeBrochure,
#nhsPartnerContainer a.btnFreeBrochure,
a:hover.btnFreeBrochure,
#nhsPartnerContainer a:hover.btnFreeBrochure {
	float: right;
	font-size: 13px;
	}
.btnSignIn {
    font-size: 13px;
    }
.btnViewBrochure,
#nhsPartnerContainer .btnViewBrochure,
a.btnViewBrochure,
#nhsPartnerContainer a.btnViewBrochure {
	float: right;
	background: #0091da;
	font-size: 13px;
	color: #fff !important;
	padding: 8px !important;
	}    	    