/* ---------------------------------------------
Title:      NewHomeSource.com Homepage Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Nov 24 2010
----------------------------------------------- */
	
/* =HomeContent */	
#nhsHomeContent {
    clear: both;
    float: left;
    width: 970px;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
	font-size: small;
	border: 0px solid #000;
	background: #fff;
    }
* html #nhsHomeContent {
	font-size: x-small; /* for IE5/WIN */
	f\ont-size: small; /* for other IE versions */
	}
#nhsHomeContent fieldset {
	margin: 0;
	padding: 0;
	}
#nhsHomeContent a:hover {
	text-decoration: underline;
	}
	
#nhsHomeContent .nhsPersonalBar {
	margin: 0;
	}

/* =SearchNav - homepage */
.nhsHomeContainer #nhsSearchNav {
	background: #1f3d99 url(/globalresources/default/images/backgrounds/bg_63_home_nav_right.jpg) top right no-repeat;
	}
.nhsHomeContainer ul#nhsSearchList {
	background: url(/globalresources/default/images/backgrounds/bg_63_home_nav_left.jpg) top left no-repeat;
	}
	    
/* =HomeSearch Form */
.nhsHomeSearch {
	float: left;
	width: 970px;
	height: 243px;
	margin: 0;
	padding: 0;
	background: #fff url(/globalresources/default/images/backgrounds/bg_63_home_1.jpg) no-repeat left top;
	}
.nhsHomeSearchBox {
	margin: 65px 0 0 0;
	padding: 0 0 10px 80px;
	border: 0px solid;
	}
.nhsHomeSearchBox p {
	margin: 0 0 5px 0;
	padding: 0;
	}
.nhsHomeSearchBox .nhsError {
	height: 16px;
	}
.nhsHomeSearchBox label {
	display: block;
	float: left;
	width: 100px;
	margin: 0;
	padding: 0 5px 0 0;
	color: #fff;
	text-align: right;
	font-size: 110%;
	font-weight: bold;	
	}
.nhsHomeSearchBox .btnFindHomes {
	height: 32px;
	margin-left: 108px;
	padding-top: 32px;
	width: 147px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_find_homes.gif) no-repeat center top;	
	margin-top: 4px;
	}

.nhsHomeSpotTitle {
	float: left;
	font-size: 130%;
	border-right: 1px solid #999;
	margin: -7px 8px -7px 0;
	padding: 6px 12px 6px 3px;
	display: inline;
	}
.nhsHomeSpotTitle span {
	color: #333;
	}
.nhsHomeSpotlightFlash {
	float: left;
	width: 970px;
	height: 170px;
	margin: 0;
	padding: 0;
	background: #fff url(/globalresources/default/images/backgrounds/bg_63_home_spotlight.gif) no-repeat center 70px;
	}
.nhsHomeSpotlightNoScript {
	float: left;
	width: 960px;
	margin: 0;
	padding: 0 0 0 10px;	
	display: inline;
	}
.nhsHomeSpotlightNoScript .nhsSpotlightItem {
	float: left;
	width: 225px;
	margin-bottom: 0;
	border: 0px solid;
	text-align: center;
	}
.nhsHomeSpotlightNoScript .nhsSpotlightItem div { /* thumbnail shadow */
	width: 95px;
	height: 75px;
	margin: 0 auto;
	background: none;
	}
.nhsHomeSpotlightNoScript .nhsSpotlightItem div img { /* thumbnail img */	
	border: 0px solid #24619e;
	background: #e2e6ff;
	}
	
/* =HomeSearch Column */	
.nhsHomeColLeft {
	float: left;
	margin: 10px 0 0 0;
	padding: 0 20px 0 10px;
	width: 275px;
	border-right: 1px solid #ccc;
	}
p.nhsHomeSearchTitle,
p.nhsHomeGuideTitle {
	margin: 4px 0 20px 0;
	font-size: 115%;
	font-weight: bold;	
	}
p.nhsHomeSearchTitle span {
	color: #999;
	}
p.nhsHomeGuideTitle span {
	color: #73a14b;
	}
.nhsHomeSearchItem,
.nhsHomeSearchItem2 {
	float: left;
	width: 275px;
	margin-bottom: 15px;
	}
.nhsHomeSearchItem h4 {
	font-size: 100%;
	font-weight: normal;
	margin: 0.25em 0pt 0.45em;
	color: #666;
	}
.nhsHomeSearchItem p {
	color: #666;
	}
.nhsHomeSearchItem a,
.nhsHomeSearchItem a:link,
.nhsHomeSearchItem a:visited,
.nhsHomeSearchItem a:active {
	text-decoration: none;
	color: #333;
	}
.nhsHomeSearchItem p strong,
.nhsHomeSearchItem h2,
.nhsHomeSearchItem h3 {
	margin: 0;
	padding: 0;
	font-size: 115%;
	font-weight: bold;
	}
.nhsHomeSearchItem img {
	float: left;
	margin-right: 20px;
	}
.nhsHomeSearchItem2 p strong {
	font-size: 110%;
	margin-left: 105px;
	}
.nhsHomeSearchItem2 a {
	text-decoration: none;
	}

/* =HomeGuide */	

.nhsHomeColRight {
	float: right;
	margin: 10px 0 0 0;
	padding: 0 10px 0 30px;
	width: 624px;
	border: 0px solid #ccc;
	}
.nhsHomeGuideItem {
	float: left;
	width: 624px;
	margin-bottom: 15px;
	}
.nhsHomeGuideItem p {
	color: #333;
	}
.nhsHomeGuideItem a,
.nhsHomeGuideItem a:link,
.nhsHomeGuideItem a:visited,
.nhsHomeGuideItem a:active {
	text-decoration: none;
	color: #73a14b;
	}
.nhsHomeGuideItem .nhsArticleHeadlineHome,
#nhsHomeGuideLinks .nhsArticleHeadlineHome {
	margin: 7px 0 0 0;
	padding: 0;
	font-size: 115%;
	font-weight: bold;
	}
.nhsHomeGuideItem img {
	float: left;
	height: 90px;
	margin-right: 20px;
	padding: 4px;
	background: #e5e5e5;
	}

#nhsHomeGuideLinks {
	float: left;
	clear: both;
	width: 624px;
	margin: 0 0 5px 0;
	padding: 0;	
	}
#nhsHomeGuideLinks p {
	margin: .65em 0;
	}
#nhsHomeGuideLinks a,
#nhsHomeGuideLinks a:link,
#nhsHomeGuideLinks a:visited,
#nhsHomeGuideLinks a:active {
	text-decoration: none;
	color: #73a14b;
	}
#nhsHomeGuideLinks a:hover {
	text-decoration: underline;
	}
#nhsHomeGuideAd {
	float: left;
	clear: both;
	padding: 0;	
	}

/* =HomeLogos */	
.nhsHomeLogos {
	float: left;
/*	clear: both; */
	width: 970px;
	margin: 10px 0;
	padding: 0;
	font-size: 95%;	
	color: #414141;
	}
.nhsHomeLogos p {
	margin: .65em 0 .85em 10px;
	font-size: 115%;
	}
.nhsHomeLogos p span {
	margin-left: 10px;
	font-size: 90%;
	font-weight: normal;
	}
#nhsHomeLogoAd * {
	margin: 0 auto;
	}

/* =HomeMarketList */
.nhsHomeMarketList {
	float: left;
/*	clear: both; */
	width: 970px;
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 95%;	
	color: #414141;	
	margin-right: -3px; /* IE Duplicate Characters Fix */
	}
.nhsHomeMarketList a,
.nhsHomeMarketList a:link,
.nhsHomeMarketList a:visited,
.nhsHomeMarketList a:active {
	text-decoration: none;	
	color: #414141;	
	}
.nhsHomeMarketList a:hover {
	text-decoration: underline;
	}
.nhsHomeMarketList p {
	margin: .65em auto 1.45em auto;
	text-align: center;
	}
.nhsHomeMarketList h4 {
	margin: .65em 0 .85em 10px;
	font-size: 115%;
	}
.nhsHomeMarketList h4 span {
	margin-left: 10px;
	font-size: 90%;
	font-weight: normal;
	}
.nhsHomeMarketList ul {
	float: left;
	margin: 0;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	}
.nhsHomeMarketList ul li {
	margin: 0 0 0 5px;	
	padding: 0 0 0 7px;
	background: url(/globalresources/default/images/list_arrow.gif) no-repeat left 4px;
	}
#nhsHomeMarkets1 {
	width: 310px;
	padding-left: 40px;
	}
#nhsHomeMarkets2 {
	width: 310px;
	}
#nhsHomeMarkets3 {
	width: 290px; /* 240px; */
	padding-left: 15px;
	}


