/* ---------------------------------------------
Title:      NewHomeSource.com Results Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Sept 10 2010
----------------------------------------------- */

/*	=Home Results Row 
-------------------- */	
.nhsCommResultsRow,
.nhsCommHomeResultsRow,
.nhsHomeResultsRow,
.nhsSingleHomeResultsRow,
.nhsHomeResultsHotRow {
	float: left;
	width: 650px;
	margin: 0;
	padding: 8px 2px 8px 2px; 
	border-top: 1px solid #e6e5e1;
	cursor: default;
	background-color: transparent;	
	}   
.nhsHomeResultsRow,
.nhsSingleHomeResultsRow,
.nhsHomeResultsHotRow {
	width: 796px;
	}
.nhsCommResultsRowOn,
.nhsCommHomeResultsRowOn,
.nhsHomeResultsRowOn,
.nhsSingleHomeResultsRowOn,
.nhsHomeResultsHotRowOn {
	float: left;
	width: 648px;
	margin: 0;
	padding: 7px 0 6px 0;  
	cursor: pointer; 
	border: 2px solid #99c0df;
	border-width: 2px !important;
	background-color: #d3dfec;
	}
.nhsHomeResultsRowOn,
.nhsSingleHomeResultsRow,
.nhsHomeResultsHotRowOn {
	width: 796px;
	}
	
.nhsHomeResultsRow a,
.nhsSingleHomeResultsRow a, 
.nhsHomeResultsHotRow a {
    text-decoration: none;
    }
.nhsHomeResultsRowOn a,
.nhsSingleHomeResultsRow a,
.nhs_CommResnhsHomeResultsHotRowOnSpecialRowOn a {
	
	}	
	
/* =Pro 7 - Unbilled -----------------------*/
.nhsHomeResultsRow.nhsUnbilled .nhsResultMapLink, 
.nhsHomeResultsRow.nhsUnbilled .nhsResultBrandImg,	
.nhsHomeResultsRow.nhsUnbilled .nhsResultCommStatus,
.nhsHomeResultsRow.nhsUnbilled .nhsResultPromotions {
    display: none;    
    }
.nhsContent .nhsHomeResultsRow.nhsUnbilled a, 
.nhsContent .nhsHomeResultsRow.nhsUnbilled h3 a,
.nhsContent .nhsHomeResultsRow.nhsUnbilled .nhsResultsPrice,
.nhsContent .nhsHomeResultsRow.nhsUnbilled .nhsHomeResultsInfo2,
.nhsContent .nhsHomeResultsRow.nhsUnbilled .nhsResultsBrBaGr p,
.nhsContent .nhsHomeResultsRow.nhsUnbilled .nhsResultsBrBaGr p strong,
.nhsContent .nhsHomeResultsRow.nhsUnbilled .nhsHomeResMktDes {
    color: #888;
    }   	
	
.nhsSingleHomeResultsRow {
	margin-bottom: 5px;
	padding: 2px 0 0 0;
	border: 1px solid #a6a6a6;
	/*border-width: 1px 1px 0 1px;*/
	background: transparent url(/globalresources/move/images/backgrounds/bg_mls_row.gif) repeat-x top left;
	}
.nhsSingleHomeResultsRowFeatured {
	background: transparent url(/globalresources/move/images/backgrounds/bg_mls_row_showcase.gif) repeat-x top left;
	}
	
/*	=Comm Results Row
-------------------- */	
.nhsCommResultsRow {
	width: 430px;
	padding: 5px 0 5px 0;
	}
.nhsCommResultsRowOn {
	width: 430px;
	padding: 5px 0 5px 0;
	}
.nhsContent .nhsCommResultsRow p,
.nhsContent .nhsCommResultsRowOn p {
	margin: .25em 0;
	}
		
/*	=Thumb Results
-------------------- */	
.nhsResultsThumbBox {
	float: left;
	width: 87px;
	margin: 0;
	padding: 0;
	}
.nhsResultsThumb {
	float: left;
	width: 82px;
	/*height: 63px;*/
	margin: 0 0 0 4px;
	padding: 0;
	/*background: url(/globalresources/default/images/sm_shadow.gif) no-repeat left top;*/
	_display: inline;
	position: relative;		
	}
.nhsResultsThumb img {
	display: block;
	margin: 0;
	padding: 0;
	width: 75px;
	height: 58px;
	border: 1px solid #ccc;
	}
.nhsSingleHomeResultsRow .nhsResultsThumb {
	margin-top: 12px;
	margin-bottom: 12px;
	}
.nhsResultsImgCount {
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 75px;
	height: 18px;
	background: url(/globalresources/default/images/backgrounds/bg_image_count.png) no-repeat left bottom;
	}
.nhsResultsImgCount span {
	display: block;
	width: 22px;
	border: 0px solid;
	color: #24619e;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 3px;
	left: 0;
	}
.nhsResultsHotThumb {
	float: left;
	width: 98px;
	/*height: 63px;*/
	margin: 0 0 0 5px;
	padding: 0;
	/*background: url(/globalresources/default/images/sm_shadow.gif) no-repeat right bottom;*/
	}
.nhsResultsHotThumb img {
	display: block;
	margin: 0;
	padding: 0;
	width: 91px;
	height: 70px;
	border: 1px solid #24619e;
	}
/* .nhsResultsVideo img {
	margin: 0.15em 0 0.1em 0;
	} */

/*	=Results Info
-------------------- */		
.nhsResultsInfo {
	float: right;
	margin: 0 5px 0 0;
	padding: 0;
	width: 558px;
	}
.nhsHomeResultsInfo {
	float: right;
	margin: 0 5px 0 0;
	padding: 0;
	width: 705px;
	border: 0px solid;
	}
.nhsCommResultsInfo1 {
	float: left;
	width: 190px;
	}
.nhsCommResultsInfo2 {
	float: right;
	width: 148px;
	margin: 0 5px 0 0;
	text-align: right;
	}
.nhsMatchResultsInfo1 {
	float: left;
	width: 300px;
	}
.nhsMatchResultsInfo2 {
	float: right;
	width: 190px;
	text-align: right;
	}
.nhsMatchResultsInfo3 {
	float: left;
	width: 290px;
	margin-left: 10px;
	}
.nhsBoylResultsInfo1 {
	float: left;
	width: 420px;
	}
.nhsBoylResultsInfo2 {
	float: right;
	width: 138px;
	text-align: right;
	}
	
/*	=Name Results
-------------------- */	
.nhsContent .nhsCommResultsRow h3,
.nhsContent .nhsCommResultsRowOn h3,
.nhsContent .nhsCommHomeResultsRow h3,
.nhsContent .nhsCommHomeResultsRowOn h3, 
.nhsContent .nhsHomeResultsRow h3,
.nhsContent .nhsHomeResultsRowOn h3,
.nhsContent .nhsSingleHomeResultsRow h3,
.nhsContent .nhsHomeResultsHotRow h3,
.nhsContent .nhsHomeResultsHotRowOn h3 {
	float: left;
	width: 265px;
	margin: 0;
	padding: 0;	
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 115%;
	display: inline;
	border: 0px solid;
	}
.nhsContent .nhsCommResultsRow h3,
.nhsContent .nhsCommResultsRowOn h3 {
	float: none;
	width: auto;
	}
.nhsContent .nhsHomeResultsRow h3,
.nhsContent .nhsHomeResultsRowOn h3,
.nhsContent .nhsHomeResultsHotRow h3,
.nhsContent .nhsHomeResultsHotRowOn h3 {
	width: 392px;
	}
.nhsContent .nhsCommHomeResultsRow h3,
.nhsContent .nhsCommHomeResultsRowOn h3 {
	width: 245px;
	display: block;
	}
.nhsContent .nhsCommResListColumn h2, /* for 6.1 */
.nhsContent .nhsCommResListColumn h3, /* previous versions */
.nhsContent .nhsHomeResSpecialRow h3,
.nhsContent .nhsHomeResSpecialRowOn h3 {
	display: inline;
	font-size: 115%;
	}
.nhsContent p.nhsHomeResultsInfo2 {
	width: 392px;
	float: left;
	margin: 0;
	}
.nhsContent .nhsSingleHomeResultsRow .nhsHomeResultsInfo2 {
	float: left;
	width: 445px;
	margin: 2px 0;
	border: 0px solid;
	}
.nhsContent p.nhsCommHomeResultsInfo2 {
	width: 245px;
	margin-bottom: 0;
	padding-bottom: 2px;
	display: block;
	float: left;
	}
.nhsContent p.nhsCommHomeIconLinks {
	float: left;
	clear: left;
	width: 450px;
	margin: 3px 0 0 0;
	}
	
/*	=Single Home Results
-------------------- */	
.nhsContent .nhsSingleHomeResultsRow h3 {
	width: 230px;
	}
.nhsContent .nhsSingleHomeResultsRow p.nhsResultsCityStZip {
	float: left;
	width: 215px;
	margin: 0 0 0 5px;
	padding: 1px 0 1px 0;
	color: #497cbc;
	border: 0px solid;
	}
.nhsContent .nhsSingleHomeResultsRow .nhsResultsBrBaGr {
	float: right;
	width: 95px;
	margin: 0 5px 0 0;
	padding: 1px 0 0 0;
	border: 0px solid;
	text-align: center;
	}
.nhsContent .nhsSingleHomeResultsRow .nhsResultsPrice {
	float: right;
	width: 145px;
	margin: 0;
	padding: 1px 0 0 0;
	border: 0px solid;
	text-align: right;
	}
.nhsContent .nhsSingleHomeResultsRow .nhsResultsHomeStatus {
	float: right;
	padding-top: 12px;
	}
#nhsPartnerContainer .nhsResultsPrice .btnGetMoreInfo,
.nhsResultsPrice .btnGetMoreInfo {
	float: right;
	margin: 12px 0 0 0;
	}
.nhsContent p.nhsSingleHomeType {
	color: #a6a6a6;
	font-size: 10px;
	}
.nhsContent p.nhsSingleHomeDesc {
	color: #a6a6a6;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	}
.nhsResultsFocalPoint {
	margin: 8px 0 3px 0;
	border: 0px solid;
	text-align: center;
	}
.nhsContent .nhsResultsBrBaGr .nhsResultsFocalPoint p,
.nhsContent .nhsResultsBrBaGr .nhsResultsFocalPoint p a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	}
.nhsSingleOpenHouse {
	float: right;
	width: 114px;
	margin: 4px 0 6px 0;
	padding: 3px 2px;
	text-align: center;
	border: 1px solid #bcbcbc;
	background: #ffffcc;
	}
.nhsContent .nhsResultsPrice .nhsSingleOpenHouse p {
	margin: 0;
	font-size: 10px;
	}
	
/*	=BrBaGr Results
-------------------- */	
.nhsResultsBrBaGr {
	float: right;
	width: 115px;
	margin: 0 0 0 5px;
	padding: 0;
	text-align: left;
	}
.nhsContent .nhsResultsBrBaGr p {
	font-size: 100%;
	font-weight: bold;
	color: #555;
	}
.nhsContent .nhsResultsBrBaGr p strong {
	font-size: 105%;
	color: #333;
	margin-right: 5px;
	}
	
/*	=Price Results
-------------------- */
.nhsCommHomeResultsRow .nhsResultsPrice,
.nhsCommHomeResultsRowOn .nhsResultsPrice,
.nhsHomeResultsRow .nhsResultsPrice,
.nhsHomeResultsRowOn .nhsResultsPrice,
.nhsHomeResultsHotRow .nhsResultsPrice,
.nhsHomeResultsHotRowOn .nhsResultsPrice {
	float: right;
	width: 115px;
	margin: 0 0 0 5px;
	padding: 0;
	text-align: right;
	}
.nhsCommResListColumn .nhsResultsPrice {
	float: none;
	width: auto;
	}
.nhsContent .nhsResultsPrice p.nhsResultsNotAvail {
	font-size: 90%;
	}
.nhsContent .nhsResultsPrice p {
	font-size: 115%;
	}
	
/*	=Builder Results
-------------------- */	
.nhsResultsBuilder {
	font-weight: bold;
	}
.nhsResultsAddress {
	float: left;
	margin-right: 5px;
	}
.nhsContent .nhsCommResListColumn h3.nhsResultsAddress {
	float: left;
	margin-right: 5px;
	display: inline;
	font-size: 90%;
	font-weight: normal;
	}
.nhsResultsMapLink,
#nhsPartnerContainer .nhsResultsMapLink {
	float: left;
	padding: 2px 2px 2px 0;
	font-size: 85%;
	display: block;
	width: 8em;
	}
a.nhsResultsMapLink,
#nhsPartnerContainer a.nhsResultsMapLink {	
	background: url(/globalresources/default/images/map/marker_sm.gif) no-repeat center right;
	padding: 2px 15px 2px 0;
	width: 6.5em;
	}
a.nhsResultsMapLink:hover {
	/* background: #fff9d2 url(/globalresources/default/images/map/marker_sm.gif) no-repeat center right; */
	}
span.nhsResultsMapLink {
	color: #999;
	}

/*	=Status Results
-------------------- */	
.nhsContent p.nhsResultsCommStatus {
	float: left;
	margin: 2px 0 0 0;
	padding: 0;
	border: 0px solid;
	width: 430px;
	}
.nhsContent p.nhsResultsCommStatus img {
	float: left;
	margin: 0 5px 2px 0;
	}
.nhsContent p.nhsResultsCommStatus img.nhsResultsStatusHot {
	margin: 0 5px 0 0;
	}
.nhsResultsHomeStatus {
	width: 64px;
	height: 40px;
	float: right;
	text-align: center;
	}
#nhsBoylResults p.nhsResultsCommStatus {
	width: 700px;
	}
	
/* Comm Res Hot Homes 
-------------------- */
.nhsCommResHotHomeRow {
	float: left;
	width: 428px;
	padding: 0;
	border: 1px solid #fcddb5;
	border-width: 0 1px 1px 1px;
	background: #fff9d1 url(/globalresources/default/images/backgrounds/bg_cr_hot_home_top.gif) no-repeat -1px top;
	}
.nhsCommResHotHomeInner {
	float: left;
	width: 418px;
	padding: 5px 5px 0 5px;
	border: 0px solid;
	background: url(/globalresources/default/images/backgrounds/bg_cr_hot_home_bottom.gif) no-repeat left bottom;
	}
.nhsCommResHotItem {
	float: left;
	width: 410px;
	margin: 0 0 0 0;
	padding: 0 0 5px 8px;
	background: url(/globalresources/default/images/orange_arrow.gif) no-repeat 0 5px;
	}
.nhsContent .nhsCommResHotHomeRow p {
	margin: 0;
	padding: 0;
	color: #de5401;
	}
	
.nhsHomeResultsHotRow,
.nhsHomeResultsHotRowOn {
	float: left;
	margin-bottom: 5px;
	padding: 0;
	border: 0;
	background: url(/globalresources/default/images/backgrounds/bg_hr_hot_home_top.gif) no-repeat left top;
	}
.nhsHomeResultsHotRow .nhsHomeResultsHotInner,
.nhsHomeResultsHotRowOn .nhsHomeResultsHotInner {
	float: left;
	width: 100%;
	background: url(/globalresources/default/images/backgrounds/bg_hr_hot_home_bottom.gif) no-repeat left bottom;
	}
.nhsHotHomeSummary {
	float: left;
	padding: 7px 10px 4px 90px;
	width: 700px;
	border: 0px solid;
	}
.nhsHotHomeSummary p {
	color: #de5401;
	margin: 0;
	padding: 0;
	}
.nhsHotHomeSummary p a {
	font-weight: bold;
	}
	
/*	=Promo Results
-------------------- */	
.nhsContent .nhsResultsPromo {
	margin: 0;
	padding: 0;
	font-weight: bold;
	}

.nhsContent .nhsHomeResMktDes {
	float: left;
	width: 800px;
	margin: 0;
	padding: 2px 0 5px 0;
	font-size: 100%;
	font-weight: bold;
	color: #000;
	text-align: center;
	}
.nhsContent .nhsDetailMainColumn .nhsHomeResMktDes {
	width: 650px; /*650px*/
	}
	
/*	=Button Results
-------------------- */	
.nhsResultsBrochureBtn {
	float: right;
	clear: right;
	margin: 0 0 5px 0;
	}

/*	=Featured Listings
-------------------- */	
.nhsCommResFeatureBox {
	margin: 0 0 8px 0;
	padding: 5px 6px 0 6px;
	background: #fcf4e8;
	border: 2px solid #c5c4b3;
	}
.nhsCommResFeatureBox .nhsCommResultsRow {
	cursor: pointer;
	}
.nhsFeaturedTitle {
	margin: 0;
	padding: 4px 3px;
	color: #fff;
	background: #ea921d;
	border: 1px solid #d85f0e;
	font-weight: bold;
	}
.nhsCommResFeatureBox .nhsCommResultsRow {
	padding: 5px 0;
	width: 414px;
	}
.nhsCommResFeatureBox .nhsResultsThumbBox {
	width: 82px;
	}
.nhsCommResFeatureBox .nhsResultsThumb {
	margin: 0;
	}
.nhsCommResFeatureBox .nhsCommResultsInfo1 {
	width: 158px;
	}
.nhsCommResFeatureBox .nhsCommResultsInfo2 {
	margin: 0;
	width: 170px;
	}
	

/*	=Group Bar Results Table
-------------------- */
.nhsGroupingBar,
h3.nhsGroupingBar {
	float: left;
	width: 636px;
	margin: 2px;
	padding: 5px 5px 5px 9px;
	font-size: 100%;
	font-weight: bold;
	color: #fff;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}
#nhsCommResults .nhsGroupingBar {
	width: 416px;
	padding: 5px 5px 6px 9px;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}
.nhsGroupingBar p {
	margin: 0;
	color: #fff;
	}
.nhsDetailMainColumn .nhsGroupingBar p strong {
	color: #fff;
	}
#nhsHomeResults .nhsGroupingBar,
#nhsBoylResults .nhsGroupingBar {
	width: 786px;
	padding: 5px 5px 6px 9px;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}

/* =Sort & Paging Bar */
.nhsSortPagingBar {
	float: left;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 95%;	
	}
.nhsSortPagingBar select {
	float: left;
	}
.nhsSortPagingBar .nhsPageNum {
	width: 2em;
	}
.nhsSortPagingBar .nhsCommSortTitle {
	float: left;
	margin: 3px 5px 0 0;
	font-size: 100%;
	font-weight: bold;
	}
.nhsSortPagingBar input {
	font-weight: bold;
	}
	
.nhsSortNoFacets {
	float: left;	
	}
p.nhsSortNoFacets span {
	font-size: 120%;
	font-weight: bold;
	margin-right: 15px;
	}
p.nhsSortNoFacets span strong {
	font-size: 120%;	
	}
.nhsSortNoFacets select {
	float: none;
	}
	
.nhsGetAlertsP {
	float: left;
	width: 200px;
	margin: 0 0 0 10px;
	padding: 0;	
	}
#nhsCommResults a.nhsGetAlerts {
	float: left;
	display: inline;
	margin: 4px 0 0 10px;
	padding: 2px 0 2px 20px;
	background: transparent url(/globalresources/default/../default/images/buttons/btn_63_send.gif) no-repeat left center;
	}
	
/* =Paging Bar */	
.nhsPagingBar {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	border-top: 1px solid #e4ebf2;
	font-size: 95%;	
	}
.nhsPagingBarTools {
	display: block;
	float: right;
	}
.nhsPagingBarTools .nhsPageNum {
	width: 2em;
	}
.nhsCommResPagingBar {
	float: left;
	width: 430px;
	margin: 0 0 5px 0;
	padding: 5px 0 0 0;
	border-top: 1px solid #e4ebf2;	
	font-size: 95%;	
	}	
.nhsCommHomeResLink {
	display: block;
	float: left;
	margin-top: 1px;
	}
	
.nhsCommHomeResultsHotBox {
	float: left;
	width: 650px;
	padding: 4px 0 0 0;
	border: 0px solid;
	background: transparent url(/globalresources/default/images/backgrounds/bg_res_hot_homes_top.gif) no-repeat left top;
	}
.nhsCommHomeResultsHotBox p.nhsHotHomeHeader {
	color: #000;
	margin-left: 90px;
	}
.nhsCommHomeResultsHotBoxInner {
	float: left;
	width: 650px;
	margin-top: 5px;
	padding: 0 0 8px 0;
	background: #fff9d1 url(/globalresources/default/images/backgrounds/bg_res_hot_homes_bottom.gif) no-repeat left bottom;
	}	
.nhsCommHomeHotHomeRow {
	float: left;
	width: 315px;
	margin-left: 5px;
	border: 0px solid;	
	cursor: pointer;
	}
.nhsCommHomeHotHomeRowOn {
	/*background: #f6da90;*/
	}
.nhsCommHomeResultsHotBoxInner .nhsResultsInfo {
	float: left;
	width: 206px;
	color: #000;
	}
.nhsCommHomeResultsHotBoxInner .nhsResultsInfo h3,
.nhsCommHomeResultsHotBoxInner .nhsResultsInfo p {
	margin: 0 0 .25em 0;
	}
.nhsCommHomeResultsHotBoxInner .nhsResultsInfo h3 {
	font-size: 110%;
	}
.nhsResultsInfo p.nhsHotHomeTitle strong {
	color: #de5401;
	}
	
/* Comm Results Special Row */
.nhsCommResSpecialRow {
	float: left;
	width: 425px;
	margin: 0 0 3px 0;
	padding: 4px 0 3px 5px;
	border: 1px solid #e4ebf2;
	font-size: 90%;
	cursor: default;
	background-color: #fff9d2;
	}
.nhsCommResSpecialRowOn {
	float: left;
	width: 425px;
	margin: 0 0 3px 0;
	padding: 4px 0 3px 5px;
	border: 1px solid #e4ebf2;
	font-size: 90%;
	cursor: pointer;	
	background: #e4ebf2 url(/globalresources/default/images/backgrounds/bg_listinghover.gif) repeat-x bottom left;	
	}
.nhsCommResSpecialRow,
.nhsCommResSpecialRowOn {
	margin-right: -3px; /* IE Duplicate Characters Fix */	
	}
.nhsHomeResSpecialRow,
.nhsBoylResSpecialRow {
	float: left;
	width: 793px;
	margin: 0;
	padding: 4px 0 4px 5px;
	border-top: 1px solid #e6e5e1;
	font-size: 90%;
	cursor: default;
	}
.nhsHomeResSpecialRowOn,
.nhsBoylResSpecialRowOn {
	float: left;
	width: 793px;
	margin: 0;
	padding: 4px 0 4px 5px;
	border-top: 1px solid #e6e5e1;
	font-size: 90%;
	cursor: pointer;		
	}
.nhsBoylResSpecialRow,
.nhsBoylResSpecialRowOn {
	margin: 3px 0 0 0;
	}
	
.nhsContent .nhsCommResSummary {
	float: left;
	width: 100%;
	font-size: 85%;
	color: #666;
	}
	
.nhsMoreSearches {
	float: left;
	min-width: 146px;
	width: 20%;
	margin: 4px 0 2px 6px;
	padding: 0 0 3px 0;
	border: 0px solid;
	}
#nhsHomeResults .nhsMoreSearches {
	width: 150px;
	}
.nhsContent .nhsMoreSearches p {
	margin: 0;
	padding: 0;
	font-size: 85%;
	}
.nhsMoreSearches ul {
	margin: 0 0 0 2px;
	padding: 0;
	font-size: 85%;
	list-style-type: none;
	list-style-image: none;
	}
.nhsMoreSearches li {
	margin: 0 0 0 2px;
	padding: 0 0 0 8px;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat left 5px;
	}
	
/* Cross Marketing */
.nhsCommResCrossLinks {
	float: left;
	width: 100%;
	border: 0px solid;
	margin-bottom: 4px;
	}
.nhsCommResCrossLinks p {
	font-family: Arial,Helvetica,sans-serif;
	margin: 2px 0 2px 168px;
	font-size: 85%;
	}
.nhsCommResCrossLinks p strong,
.nhsCommResCrossLinks p a {
	margin-right: 5px;
	}
.nhsCommResCrossLinks p a {
	text-decoration: underline;
	color: #31859b;
	}
	
/* Summary Results Bar */
.nhsCommResResultsBar,
.nhsHomeResResultsBar {
	float: left;
	width: 79%;
	margin: 4px 0 0 0;
	padding: 0 0 14px 0;
	border-bottom: 1px solid #fff;
	background: #fff;
	border: 1px;	
	}
#nhsPartnerContainer .nhsCommResResultsBar {
	padding-bottom: 0;
	}
.nhsHomeResResultsBar {
	width: 640px;
	}
.nhsBoylResResultsBar {
	float: left;
	width: 800px;
	margin: 4px 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #fff;
	background: #fff4ad url(/globalresources/default/images/backgrounds/bg_resbar_r.gif) no-repeat top right;	
	}
.nhsCommResResultsBarR,
.nhsHomeResResultsBarR {
	float: left;
	padding: 0;
	}
.nhsContent .nhsCommResResultsBar h1, /* for 6.1 */
.nhsContent .nhsCommResResultsBar h2, /* previous versions */
.nhsContent .nhsHomeResResultsBar h2 {
	float: left;
	margin: 0 0 5px 10px;
	padding: 0;
	font-size: 125%;
	display: inline;
	}
.nhsContent .nhsBoylResResultsBar h2,
.nhsContent .nhsBoylResResultsBar h3 {
	margin: 0 0 5px 10px;
	padding: 0;
	font-size: 125%;
	}
.nhsContent .nhsCommResResultsBar .nhsCommResMatches,
.nhsContent .nhsHomeResResultsBar .nhsCommResMatches {
	float: left;
	width: 440px;
	margin: 0 0 5px 10px;
	padding: 0;
	color: #444;	
	font-size: 125%;
	font-weight: bold;
	display: inline;
	}
.nhsContent .nhsHomeResResultsBar .nhsCommResMatches {
	width: 600px;
	}
.nhsContent .nhsCommResResultsBar .nhsCommResMatches a,
.nhsContent .nhsHomeResResultsBar .nhsCommResMatches a {
	font-size: 75%;
	font-weight: normal;
	}
.nhsContent .nhsHomeResResultsBar p {
	margin: 0 0 0 10px;
	padding: 0;	
	font-size: 125%;
	}
.nhsCommResNarrowList {
	float: left;
	clear: both;
	width: 80%;
	margin: 0 0 2px 10px;
	padding: 0;
	display: inline;
	}
#nhsNarrowMoreDiv {
	display: inline;
	position: relative;
	z-index: 9999;
	}	
	
.nhsCommResRelatedBar {
	margin: 0;
	padding: 6px 5px 5px 8px; 
	clear: both; 
	background: #ffd6b5;
	}
.nhsCommResRelatedBar p {
	margin: 0;
	padding: 0;
	font-size: 85%;
	}

/*		=Facets
-------------------- */
.nhsHomesFacetGroup,
.nhsCommsFacetGroup,
.nhsHomeResFacetGroup {
	float: right;
	margin: 0 0 0 10px;
	padding: 0 5px 0 0;
	display: inline;
	border: 0px solid;
	}
.nhsHomeResFacetGroup {
	margin: 0 0 0 3px;
	}
.nhsCommsFacetInner,
.nhsCommsFacetInner2 {
	float: left;
	width: 100%;
	margin: 12px 0 0 0;
	padding: 6px 0 0 0;
	border-top: 1px solid #bccfe2;
	}
.nhsCommsFacetInner2 {	
	margin: 0;	
	}
.nhsContent .nhsHomesFacetGroup p,
.nhsContent .nhsCommResFacets p,
.nhsContent .nhsHomeResFacets p {
	font-size: 105%;
	}
.nhsContent .nhsCommResFacets p.nhsCommResBackBtn {
	font-size: 100%;			
	width: 135px;
	margin: 5px 0 5px 10px;
	padding: 0 5px 5px 0;
	border-bottom: 1px solid #bccfe2;
	}
.nhsContent .nhsCommResFacets p.nhsCommResBackBtn .nhsBackBtn {
	display: block;
	margin: 0;
	padding: 2px 0 2px 14px;
	background: url(/globalresources/default/images/buttons/btn_645_back.gif) no-repeat center left;
	}
.nhsContent .nhsCommResFacets p.nhsSpecialOfferFacetP {
	margin-top: 10px;
	}
.nhsHomesFacetGroup ul,
.nhsCommsFacetGroup ul,
.nhsHomeResFacetGroup ul {
	margin: 0 0 0 2px;
	padding: 0;
	/*list-style-type: square;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);*/
	list-style-type: none;
	list-style-image: none;
	}
.nhsHomesFacetGroup ul li,
.nhsCommsFacetGroup ul li,
.nhsHomeResFacetGroup ul li {
	margin: 3px 0 0;
	padding: 0 0 0 7px;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat 1px 4px;
	}
.nhsHomesFacetGroup .nhsFacetOn,
.nhsCommsFacetGroup .nhsFacetOn,
.nhsHomeResFacetGroup .nhsFacetOn {
	margin: 0;
	padding: 2px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	}
/* .nhsCommsFacetGroup .nhsFacetOn {
	font-weight: normal;
	} */
.nhsCommsFacetGroup ul li.nhsFacetOn {
	margin: 3px 0 0;
	padding: 0 0 0 7px;
	text-decoration: none;
	color: #000;
	background: url(/globalresources/default/images/green_check.gif) no-repeat left 3px;
	}
.nhsCommsFacetGroup ul li.nhsFacetOn .nhsFacetOn {
	font-weight: bold;
	}
.nhsHomesFacetGroup .nhsFacetEmpty,
.nhsCommsFacetGroup .nhsFacetEmpty,
.nhsHomeResFacetGroup .nhsFacetEmpty {
	margin: 0;
	padding: 2px;
	font-weight: normal;
	color: #999;
	}
.nhsHomesFacetGroup li.nhsFacetEmpty,
.nhsCommsFacetGroup li.nhsFacetEmpty,
.nhsHomeResFacetGroup li.nhsFacetEmpty {
	margin: 3px 0 0;
	padding: 0 0 0 7px;
	}
.nhsHomesFacetGroup a,
.nhsCommsFacetGroup a,
.nhsHomeResFacetGroup a {
	margin: 0;
	padding: 2px;
	}
 .nhsHomesFacetGroup a:hover,
 .nhsCommsFacetGroup a:hover,
 .nhsHomeResFacetGroup a:hover {
	color: #000;
	background: #fff9d2;
	text-decoration: none;
	}

/* Homes Facets */
.nhsListingHomesFacets {
	float: left;
	width: 622px;
	margin: 5px 0 0 8px;
	padding: 5px;
	background: #e4ebf2 url(/globalresources/default/images/backgrounds/bg_facets.gif) repeat-x bottom left;
	font-size: 85%;
	border: 1px solid #c3d4e5;
	display: inline; /* IE fix */
	}
.nhsHomesFacetSumm {
	float: left;
	}
.nhsContent .nhsHomesFacetSumm p {
	font-size: 115%;
	font-weight: bold;
	}
.nhsContent .nhsHomesFacetSumm p strong {
	font-size: 150%;
	}

/* Facets Boxes */		
.nhsCommResFacets {
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	background: #f3f1e4; /* #e4ebf2 url(/globalresources/default/images/backgrounds/bg_facets.gif) repeat-x bottom left;*/
	border: 0px solid #c3d4e5;
	font-size: 85%;
	}
.nhsHomeResFacets {
	float: left;
	width: 798px;
	margin: 0;
	padding: 5px 0;
	background: #f3f1e4; /*#e4ebf2 url(/globalresources/default/images/backgrounds/bg_facets.gif) repeat-x bottom left;*/
	border: 0px solid #c3d4e5;
	font-size: 85%;	
	}
.nhsContent p.nhsCommResRefine {
	margin: 0 0 4px 8px;
	font-size: 100%;
	}
.nhsContent .nhsCommResRefine strong {
	font-size: 125%;
	margin-right: 5px;
	}
	
/* Facet Group Sizes */	
.nhsCommsFacetGroup {
	float: left;
	width: 18%; /* even width columns */
	}
.nhsHomeResFacetGroup {
	float: left;
	width: 150px;
	}
	
/* Facet Pop Menus */	
#nhsFacetSchoolsMore {
	position: relative;
	z-index: 999;
	}	
#nhsFacetSchoolsPop {
	position: absolute;
	top: 1.4em;
	left: -8px;
	z-index: 999;
	margin: 0;
	padding: 5px 5px 0px 5px;
	background: #fff;
	border: 1px solid;
	}
* html #nhsFacetSchoolsPop {
	left: -14px;
	}

/* Narrow Cities Menu */
#nhsNarrowMorePop {
	position: absolute;
	top: 1.4em;
	left: 0;
	z-index: 9999;
	width: 150px;
	margin: 0;
	padding: 5px 5px 3px 5px;
	background: #fff;
	border: 1px solid;
	}
#nhsNarrowMorePop ul {
	margin: 0 0 0 15px;
	padding: 0;	
	}
#nhsNarrowMoreDiv .nhsFacetOn {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	}
	
.nhsPopOff {
	display: none;
	}
.nhsPopOn {
	display: block;
	}
.nhsMenuClose {
	float: right;
	margin: 5px 0 0 0;
	padding: 0 12px 0 0;
	background: url(/globalresources/default/images/buttons/close_x.gif) no-repeat center right;
	cursor: pointer;
	}
	
/* Comm Results Tabs 
-----------------------------*/
.nhsCommResTabs {
	float: right;	
	width: 430px;
	margin: 1px 0 -1px -6px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	border-bottom: 1px solid #9ab1ca;
	}
.nhsCommResTabs ul,
.nhsHomeResTabs ul {
	float: left;
	position: relative;
	margin: 0 0 -1px 10px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	}
* html .nhsCommResTabs,
* html #nhsPartnerContainer .nhsCommResTabs,
* html .nhsHomeResTabs,
* html #nhsPartnerContainer .nhsHomeResTabs {
	margin-bottom: -3px; /* IE 6- Fix */
	} 
*+html .nhsCommResTabs,
*+html #nhsPartnerContainer .nhsCommResTabs,
*+html .nhsHomeResTabs,
*+html #nhsPartnerContainer .nhsHomeResTabs {
	margin-bottom: -3px; /* IE 7 Fix */
	} 	
.nhsCommResTabs li, 
#nhsPartnerContainer .nhsCommResTabs li,
.nhsHomeResTabs li, 
#nhsPartnerContainer .nhsHomeResTabs li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 12px 0 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	display: inline-block;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_right.gif) no-repeat top right; 
	}
#nhsCommResults .nhsCommResTabs li a,
#nhsCommResults .nhsCommResTabs li a:link,
#nhsCommResults .nhsCommResTabs li a:visited,
#nhsCommResults .nhsCommResTabs li a:active,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs li a,
.nhsHomeResTabs li a,
.nhsHomeResTabs li a:link,
.nhsHomeResTabs li a:visited,
.nhsHomeResTabs li a:active,
#nhsPartnerContainer .nhsHomeResTabs li a {
	display: block;
	margin: 0;
	padding: 8px 0 7px 12px;
	border-bottom: 0px solid #7095ba;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_left.gif) no-repeat top left; 
	}
	
#nhsCommResults .nhsCommResTabs li.offerTabOff a,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:link,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabOff a:active {
	padding-left: 28px;
	background: url(/globalresources/default/images/backgrounds/tab_offer_63_off_left.gif) no-repeat top left;
	text-decoration: none;
	color: #fff; 	
	}	
#nhsCommResults .nhsCommResTabs li.offerTabDisabled {
	background: url(/globalresources/default/images/backgrounds/tab_63_dis_right.gif) no-repeat top right;
	border-bottom: 1px solid #9ab1ca;
	}
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:link,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabDisabled a:active {
	padding-left: 28px;
	background: url(/globalresources/default/images/backgrounds/tab_offer_63_dis_left.gif) no-repeat top left; 
	color: #9d9d9d;	
	padding-bottom: 6px;
	}
#nhsCommResults .nhsCommResTabs li.offerTabOn a,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:link,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:visited,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:hover,
#nhsCommResults .nhsCommResTabs li.offerTabOn a:active {
	padding-left: 28px;
	background: url(/globalresources/default/images/backgrounds/tab_offer_63_on_left.gif) no-repeat top left; 
	color: #24619e;	
	text-decoration: none;
	}
	
#nhsCommResults .nhsCommResTabs li.quickTabOff a,
#nhsCommResults .nhsCommResTabs li.quickTabOff a:link, 
#nhsCommResults .nhsCommResTabs li.quickTabOff a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabOff a:active {
	padding-left: 30px;
	background: url(/globalresources/default/images/backgrounds/tab_quick_63_off_left.gif) no-repeat top left; 
	text-decoration: none;
	color: #fff;	
	}
#nhsCommResults .nhsCommResTabs li.quickTabDisabled {
	background: url(/globalresources/default/images/backgrounds/tab_63_dis_right.gif) no-repeat top right; 
	border-bottom: 1px solid #9ab1ca;
	}
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:link,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabDisabled a:active {
	padding-left: 30px;
	background: url(/globalresources/default/images/backgrounds/tab_quick_63_dis_left.gif) no-repeat top left; 
	color: #9d9d9d;	
	padding-bottom: 6px;
	}
#nhsCommResults .nhsCommResTabs li.quickTabOn a,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:link,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:visited,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:hover,
#nhsCommResults .nhsCommResTabs li.quickTabOn a:active {
	padding-left: 30px;
	background: url(/globalresources/default/images/backgrounds/tab_quick_63_on_left.gif) no-repeat top left; 
	color: #24619e;	
	text-decoration: none;
	}	
	
#nhsCommResults .nhsCommResTabs .commTabOn,
#nhsCommResults .nhsCommResTabs .offerTabOn,
#nhsCommResults .nhsCommResTabs .quickTabOn,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs .commTabOn,
.nhsHomeResTabs .commTabOn,
#nhsPartnerContainer .nhsHomeResTabs .commTabOn {
	background: url(/globalresources/default/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #24619e;
	}
#nhsCommResults .nhsCommResTabs .commTabOn strong,
#nhsCommResults .nhsCommResTabs .commTabOn a,
#nhsCommResults .nhsCommResTabs .commTabOn a:link,
#nhsCommResults .nhsCommResTabs .commTabOn a:visited,
#nhsCommResults .nhsCommResTabs .commTabOn a:hover,
#nhsCommResults .nhsCommResTabs .commTabOn a:active,
.nhsHomeResTabs .commTabOn strong,
.nhsHomeResTabs .commTabOn a,
.nhsHomeResTabs .commTabOn a:link,
.nhsHomeResTabs .commTabOn a:visited,
.nhsHomeResTabs .commTabOn a:hover,
.nhsHomeResTabs .commTabOn a:active {
	display: block;
	margin: 0;
	padding: 8px 0 7px 12px;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	background: url(/globalresources/default/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #24619e;
	}
.nhsCommResTabs a:link,
.nhsCommResTabs a:visited,
.nhsCommResTabs a:active,
#nhsPartnerContainer .nhsCommResTabs a:link,
#nhsPartnerContainer .nhsCommResTabs a:visited,
#nhsPartnerContainer .nhsCommResTabs a:active,
.nhsHomeResTabs a:link,
.nhsHomeResTabs a:visited,
.nhsHomeResTabs a:active,
#nhsPartnerContainer .nhsHomeResTabs a:link,
#nhsPartnerContainer .nhsHomeResTabs a:visited,
#nhsPartnerContainer .nhsHomeResTabs a:active  {
	color: #fff;
	text-decoration: none;
	}
#nhsCommResults .nhsCommResTabs a:hover,
#nhsPartnerContainer #nhsCommResults .nhsCommResTabs a:hover,
.nhsHomeResTabs a:hover,
#nhsPartnerContainer .nhsHomeResTabs a:hover {
	color: #ecda6a;
	text-decoration: none;
	}
	
/* Home Results Tabs 
-----------------------------*/
.nhsHomeResTabs {
	float: right;	
	width: 800px;
	margin: 6px 0 -1px -6px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	border-bottom: 1px solid #9ab1ca;
	}

/*	=nhsCommRes Columns
-------------------- */
#nhsCommResContainer {
	float: right;
	width: 100%;
	margin-left: -438px;
	}	
.nhsCommResListColumn {
	float: left;
	width: 430px;
	position: relative;
	z-index: 999;
	}	
#nhsCommResMapColumn {
	margin-left: 438px;
	}
	
.nhsResNoMatchBox {
	float: left;
	width: 100%;
	margin-bottom: 18px;	
	}
.nhsContent .nhsResNoMatchBox p {
	margin: 18px 0;	
	}
.nhsContent .nhsResNoMatchBox p a {
	display: block;
	margin: 0;
	padding: 2px 0 2px 15px;
	font-weight: bold;
	/*text-decoration: none;*/
	background: url(/globalresources/default/images/buttons/btn_63_arrow.gif) no-repeat center left;
	}
.nhsContent .nhsResNoMatchBox p a.nhsArrowBack {	
	background: url(/globalresources/default/images/buttons/btn_63_arrow_back.gif) no-repeat center left;
	}
.nhsContent p.nhsResNoMatchTitle {
	font-size: 115%;
	font-weight: bold;
	margin: 18px 0;
	}

/*	=nhsCommRes Map
-------------------- */	
.nhsContent #nhsCommResMapColumn .nhsCommMapBar {
	display: block;
	float: left;
	width: 100%;	
	margin: 12px 0 6px 0;
	padding: 0;
	font-size: 90%;
	}
#nhsCommResMapDiv,
#nhsQCResMapDiv {
	float: left;
	position: relative;
	z-index: 0;
	border: 1px solid #24619e;	
	width: 100%;
	height: 500px;
	margin-top: 8px;
	background: #ccc url(http://tile1.mqcdn.com/res/loading.gif);
	}
#nhsQCResMapDiv {
	margin: 0;
	}
.nhsCommResMapTools {
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 0 8px 0;
	background: #e4ebf2;
	font-size: 95%;	
	}
.nhsContent .nhsCommResMapTools p {
	margin: 0 5px .5em 5px;
	}
.nhsContent .nhsCommResMapTools p strong {
	font-size: 125%;
	}
	
/*	=nhsCommRes Ads
-------------------- */
#nhsCommResAds {
	float: left;
	margin: 5px 0 0 0;
	}	
#nhsCommResAds div {
	float: left;
	/* margin: 0 5px 0 0;
	border: 1px solid #7f7f7f; */
	}
#nhsCommResMiddle {
	width: 304px;
	margin: 8px 5px 0 0;
	}
#nhsCommResMiddle div {
	margin: 0 0 15px 0;
	border: 1px solid #7f7f7f;
	}
#nhsCommResMiddle #nhsAdContainerMiddle {
	margin: 0;
	border: 0;
	}
#nhsCommResBottom {
	width: 125px;
	margin: 0 5px 0 0;
	border: 1px solid #7f7f7f;
	}
.nhsPartnerCommResAds {
	float: left;	
	width: 362px;
	margin: 5px 0 0 0;
	overflow: hidden;
	}

/*	=nhsCommRes Hover Box
-------------------- */	
.nhsCommResHoverState {
	font-size: small;
	font-weight: bold;
	padding-bottom: 3px;
	}
.nhsCommResHoverMarket {
	font-size: small;
	padding-bottom: 3px;
	width:137px;
	float:left;
	margin:0;
	padding:0;
	}
.mqpoiheading {
	display: none;
	}
.mqpoicontenttext {
    padding-top:0;
	}
.nhsCommResHoverBox,
.nhsMultiHoverBox {
	font-size: small;
	width: 232px;
	position: relative;
	z-index: 9999999;
	}
.nhsMultiHoverRow {
	width: 227px;
	padding-bottom: 3px;
	border-bottom: 1px solid #e4ebf2;
	}
.nhsMultiScroll .nhsMultiHoverRow {
	float: left;
	width: 205px;
	}
	
.nhsContent .nhsCommResHoverBox .nhsHoverImgs {
	float: right;
	width: 82px;
	margin: 0;
	}
.nhsCommResHoverBox .nhsResultsThumb,
.nhsMultiHoverBox .nhsResultsThumb {
	width: 82px;
	height: 63px;
	margin: 0;
	padding: 0;
	background: url(/globalresources/default/images/sm_shadow.gif) no-repeat left top;
	}
.nhsMultiHoverBox .nhsResultsThumb {
	float: right;
	clear: left;
	}
.nhsCommResHoverBox .nhsResultsThumb img,
.nhsMultiHoverBox .nhsResultsThumb img {
	float: left;
	border-width: 1px;
	margin: 0;
	}
.nhsContent .nhsCommResHoverBox h3 {
	margin: 0;
	padding: 0;
	font-size: 120%;
	}
.nhsContent .nhsMultiHoverBox h3 {
	margin: .25em 0 .25em 0;
	padding: 0;
	font-size: 110%;
	}
.nhsContent .nhsCommResHoverBox p {
	font-size: 100%;
	}
.nhsContent .nhsMultiHoverBox p {
	margin: .25em 0;
	font-size: 95%;
	}
.nhsContent .nhsMultiHoverBox .nhsMultiHoverRow .nhsResultsPrice {
	font-weight: normal;
	}
.nhsCommResHoverBox .nhsResultsAddress {
	float: none;
	margin-bottom: .85em;
	}
.nhsContent .nhsCommResHoverBox .nhsResultsCommStatus {
	margin: 0;
	padding: 0;
	width: 200px;
	}
.nhsCommResHoverBox ul {
	margin: 5px 0 0 0;
	padding: 0 0 0 15px;
	list-style-type: square;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	font-size: 85%;
	}
.nhsCommResHoverBox .btnFreeBrochure {
	margin-top: 6px;
	}
.nhsContent .nhsMultiBoxTitle {
	font-family: Verdana,Arial,Helvetica;	
	font-size: 100%;
	font-weight: bold;
	color: #000;
	background-color: #e4ebf2;
	width: 200px;
	margin: 0 0 0 0;
	padding: 2px 0 4px 4px;
	border-bottom: 1px solid #24619e;
	}
.nhsMultiBoxScroll {
	position: relative;
	width: 226px;
	height: 250px;
	}
.nhsMultiScroll {
	width: 226px;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	overflow-y: scroll;
	}
	
/*
.nhsCommResHoverBox,
.nhsMultiHoverBox {
	font-size: small;
	}

.nhsContent .mqpoipopup {
	z-index: 999999999;
	}



.nhsContent .nhsCommResHoverBox * {
	border: 0px solid;
	}
.nhsCommResHoverBox .nhsMenuClose {
	margin: 0;
	}

*/
	
/*	=nhsCommRes Builders
-------------------- */	
#nhsCommResBuilders,
#nhsCommResCities {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	border: 0px solid;
	position: relative; /* IE6 Bug Fix */
	z-index: 999;
	}
.nhsCommResListAd {
	float: left;
	width: 300px;
	margin-right: 5px;
	}
.nhsCommResListBuilders {
	float: left;
	width: 67%;
	}
#nhsCommResBuilders h4,
#nhsCommResBuilders p,
#nhsCommResCities h4,
#nhsCommResCities p {
	margin: 0 0 .65em 4px;
	padding: 0;
	color: #333;
	position: relative; /* IE6 Bug Fix */
	}
#nhsCommResBuilders ul,
#nhsCommResCities ul {
	float: left;
	width: 31%;
	margin: 0 0 0 3px;
	padding: 0;
	font-size: 90%;
	list-style-type: none;
	list-style-image: none;
	}
#nhsCommResBuilders ul li,
#nhsCommResCities ul li {
	margin: 3px 0 0;
	padding: 0 0 0 10px;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat left 4px;	
	}
#nhsCommResBuilders ul li h5,
#nhsCommResCities ul li h5 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	}
	
.nhsResLegal {
	float: left;
	margin: 10px 0;
	}
	
/* =Price Slider 
---------------------*/
.nhsPriceSlider,
.nhsRadiusSlider {
	float: left;
	/*background-color: #f3f1e4; */
	background: transparent;
	width: 142px; 
	margin: 0 0 0 10px;
	padding: 0 5px 8px 0;
	_padding: 0 5px 0 0;
	_display: inline;		
	}
#nhsPartnerContainer .nhsRadiusSlider {
	background: none;
	padding: 8px 5px 0 0;
	}
* html .nhsPriceSlider,
*+html .nhsPriceSlider,
* html .nhsRadiusSlider,
*+html .nhsRadiusSlider {
	padding: 0 5px 0 0;
	}
.nhsCommsFacetGroup .nhsPriceSlider,
.nhsCommsFacetGroup .nhsRadiusSlider {
	margin: 0;
	}
div.nhsSlider {
	width: 142px; 
	margin: 10px 0 10px 0; 
	background: url(/globalresources/default/images/backgrounds/slider_bg.gif) no-repeat top left; 
	height: 11px; 
	position: relative; 
	}
div.nhsRadSlider {
	width: 142px; 
	margin: 3px 0 5px 0; 
	background: url(/globalresources/default/images/backgrounds/slider_radius_bg.gif) no-repeat top left; 
	height: 19px; 
	position: relative; 
	}
div.nhsQconnResultSlider {
	width: 142px; 
	margin: 3px 0 5px 0; 
	background: url(/globalresources/default/images/backgrounds/slider_radius_bg_3.gif) no-repeat top left; 
	height: 19px; 
	position: relative; 
	}
/*#nhsPartnerContainer div.nhsRadSlider {
	background: url(/globalresources/default/images/backgrounds/slider_radius_bg_2.gif) no-repeat top left; 
	}*/
div.nhsSlider div.nhsHandle,
div.nhsRadiusSlider div.nhsHandle {
	width: 7px; 
	height: 19px; 
	background: url(/globalresources/default/images/backgrounds/slider_thumb.gif); 
	cursor: pointer; 
	position: absolute; 
	}
div#zoom_element {
	width: 50px; 
	height: 50px; 
	background: #2d86bd; 
	position: relative; 
	}
.nhsContent .nhsPriceSlider p.nhsPriceSliderRange,
.nhsContent .nhsRadiusSlider p.nhsRadiusSliderRange {
	font: 11px Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	margin: 0 0 5px 0;
	}
.nhsContent .nhsRadiusSlider p.nhsRadiusSliderRange {
	text-align:center;
	}
#lowValue {
	float: left; 
	}
#highValue {
	float: right; 
	text-align: right;
	}
.valueSpan {
	color: #4d993f;
	}
	
/* =Multi City Modal 
---------------------*/	
.nhsModalCitySelect {
	float: left;
	margin: 0;
	padding: 0 0 0 8px;
	width: 480px;
	font-size: 85%;
	}
.nhsModalCitySelect .nhsModalCitySelectTitle {
	font-size: 115%;
	font-weight: bold;
	}
.nhsModalCityCol {
	float: left;
	width: 118px;
	padding: 0 2px 0 0;	
	}
.nhsModalCityCol span {
	float: left;
	width: 110px;
	padding: 2px 0;
	}
* html .nhsModalCityCol span,
*+html .nhsModalCityCol span {	
	padding: 0;
	}
.nhsModalCityCol label {
	padding: 0 0 0 3px;
	text-decoration: underline;
	cursor: pointer;
	color: #24619e;
	}
* html .nhsModalCityCol label,
*+html .nhsModalCityCol label {
	padding: 0;
	}
.nhsModalCitySelectButton {
	float: left;
	clear: both;
	width: 480px;
	padding: 8px 0 0 0;
	text-align: right;	
	}
	
/* Quick Connect Results */	
#nhsQCResContainer {
	float: right;
	width: 100%;
	margin-left: -535px;
	}	
.nhsQCResListColumn {
	float: left;
	width: 525px;
	position: relative;
	z-index: 999;
	}
#nhsQCResMapColumn {
	float: left;
	margin-left: 535px;
	width: 433px;
	}	
.qCresultsBar, .nhsQCThankYou {background:none;float:left;width:650px;clear:both;padding:10px 10px 5px;}
.nhsQCThankYou {width: 710px;padding-left:20px;}
.nhsQCResultTitle h1, .nhsQCResultTitle h2 {font-size:24px !important; color:#183c92; margin:0;}
.nhsQCResConsole {float:left; border-bottom:none;}
.nhsQCResultsRow { 
	float: left;
	width: 523px;
	margin: 0;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #e4ebf2;
	cursor: default;
	background-color: transparent;	
    }
.nhsQCResultsRow .nhsResultsThumbBox {
	height: 60px;
	}
.nhsQCResultsRow .nhsResultsThumb {
	width: 65px;
	padding: 5px 4px 5px 6px;
	border: 1px solid #ccc;
	background: none;
	text-align: center;
	}
.nhsQCResultsRow .nhsResultsThumb img {
	width: auto;
	height: auto;
	border: 0;
	margin: 0 auto;
	} 
.nhsQCResBrochureBlock {float:left; padding:10px 0 5px 10px; width:515px;border-bottom: 1px solid #e4ebf2;}
.nhsQCResultsInfo1 {
	float: left;
	width: 235px;
	}
.nhsContent p.nhsQCResultsCommName {
	float: left;
	width: 405px;
	font-size: 110%;
	margin-top: 0;	
	margin-bottom: 2px;
	*margin-bottom: 1px;
	}
.nhsQCResultsInfo2 {
	float: right;
	width: 170px;
	padding-top: 20px;
	text-align: right;
	}
.qCcheckBox {padding: 22px 5px 0 5px; *padding-top:20px; float: left;}
.nhsQCResultsLocation {float:left;padding:0 10px 0 20px; width:340px;}
.nhsQCResultsLocation h3 {color:#183c92;margin:5px 0 5px 0;}
.nhsRadiusSliderUpdate {
	float: left;
	padding: 1px 0 0 10px;
	}
#nhsQuickConnectContent .nhsResLegal {
	clear: both;
	width: 950px;
	padding-bottom: 5px;
	}

.qCthankyou h1 {font-size:35px !important; color:#183c92; margin:0;}
.nhsQCThanksCreateAcc { float:left; width:650px; border:solid 2px #183C92; padding:30px 40px; margin:10px 0 20px 10px; border-radius:10px; -moz-border-radius:10px;}
.qCreturnBackHome {padding: 0 0 30px 40px;}
.qCthankYouCheckBox {margin-right:5px;}

.nhs_LockIcon {
    padding: 10px 0px 0px 13px;
    margin: 0px 10px;
    background: url(/GlobalResourcesMvc/Default/images/icons/lock_closed.png) no-repeat right bottom;
    width:11px;
    height:15px;
    display:inline-block;
    }