﻿/* ---------------------------------------------
Title:      NewHomeSource.com Detail Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jul 12 2010
----------------------------------------------- */

/* =BackResultsBar */
.nhsBackResultsBar {
	float: left;
	width: 800px;
	margin: 0;
	padding: 4px 0 4px 0;	
	border: 1px solid #ccc;
	border-width: 1px 0;
	background: #fff;
	}
.nhsBackResultsBar p {
	float: left;
	margin: 0;
	}
.nhsBackResultsBar .nhsBackBtn {
	display: block;
	margin: 0;
	padding: 2px 0 2px 22px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_63_back.gif) no-repeat center left;
	}
.nhsBackResultsBar .nhsCommsFound {
	margin: 2px 0 0 15px;
	padding: 0;
	}
/* .nhsCommNum {
	font-size: 130%;
	} */
.nhsBackResultsBar p.nhsDetailMore {
	float: right;
	}
.nhsBackResultsBar p.nhsDetailMore a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	margin: 2px 5px 0 0;
	}

/* =SubColumn */
.nhsSubColumn {
	float: left;
	width: 145px; /* 150 196 */
	/* font-size: 90%; */
	border: 0px solid;
	}
.nhsSubColumn { /* Added Nov 07 to flip actions to right side */
	float: right;
	}

ul.nhsHeadInfoLinks {
	float: right;
	width: 155px;
	margin: 5px 0 15px 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	}	
ul.nhsHeadInfoLinks li {
	float: left;
	margin: 0 0 5px 4px;
	padding: 0;
	}
#nhsRealtorHomeIndex ul.nhsHeadInfoLinks li,
#nhsRealtorCommIndex ul.nhsHeadInfoLinks li {
	float: right;
	}
ul.nhsHeadInfoLinks li a,
ul.nhsHeadInfoLinks li a:link,
ul.nhsHeadInfoLinks li a:visited,
ul.nhsHeadInfoLinks li a:active  {
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 3px 0 3px 33px;
	width: 95px;
	vertical-align: middle;
	overflow: visible;
	line-height: 1.2em;	
	font-weight: bold;
	}
ul.nhsHeadInfoLinks li a:hover  {
	text-decoration: underline;
	}
ul.nhsHeadInfoLinks li a.nhsConsolePromoLnk,
ul.nhsHeadInfoLinks li a.nhsConsolePromoLnk:link,
ul.nhsHeadInfoLinks li a.nhsConsolePromoLnk:visited,
ul.nhsHeadInfoLinks li a.nhsConsolePromoLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_63_act_promo.gif) 3px center no-repeat;
	}
ul.nhsHeadInfoLinks li a.nhsConsoleApptLnk,
ul.nhsHeadInfoLinks li a.nhsConsoleApptLnk:link,
ul.nhsHeadInfoLinks li a.nhsConsoleApptLnk:visited,
ul.nhsHeadInfoLinks li a.nhsConsoleApptLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_63_act_movein.gif) 3px center no-repeat;
	width: 115px;
	}
ul.nhsHeadInfoLinks li a.nhsConsoleBuilderLnk,
ul.nhsHeadInfoLinks li a.nhsConsoleBuilderLnk:link,
ul.nhsHeadInfoLinks li a.nhsConsoleBuilderLnk:visited,
ul.nhsHeadInfoLinks li a.nhsConsoleBuilderLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_63_act_builder.gif) 3px center no-repeat;
	}
	
/* =Save and Send Links */
ul.nhsHeadSaveList {
	float: right;
	list-style-image: none;
	list-style-type: none;
	margin: 12px 0 -3px -3px;
	padding: 0;
	font-size: 85%;
	position: relative;
	}
ul.nhsHeadSaveList li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	display: inline;
	}
ul.nhsHeadSaveList li .nhsSaveCommMessage {
	display: block;
	margin: 0;
	padding: 4px 0 4px 19px;
	vertical-align: middle;
	overflow: visible;
	line-height: 1;
	color: #333;
	}
ul.nhsHeadSaveList li a,
ul.nhsHeadSaveList li a:link,
ul.nhsHeadSaveList li a:visited,
ul.nhsHeadSaveList li a:active {
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 4px 0 4px 19px;
	vertical-align: middle;
	overflow: visible;
	line-height: 1;
	}
ul.nhsHeadSaveList li a:hover  {
	text-decoration: underline;
	}
ul.nhsHeadSaveList li.nhsHeadSaveLi {
	background: transparent url(/globalresources/default/images/buttons/btn_63_add.gif) no-repeat left center;
	}
ul.nhsHeadSaveList li a.nhsHeadSendLnk {
	background: transparent url(/globalresources/default/images/buttons/btn_63_send.gif) no-repeat left center;
	}

	
/* =Nearby Comms & Homes */
.nhsDetailNearby {
	margin: 3px 0 0 0;
	padding: 0 0 5px 0;	
	border: 0;
	background: #f4f3e7 url(/globalresources/default/images/backgrounds/bg_63_detail_side_header.gif) top center no-repeat;
	}
.nhsDetailNearby h6 {
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 6px 5px 5px 5px;	
	color: #000;
	}
.nhsDetailNearby p a {
	font-weight: bold;
	}
.nhsDetailNearby .nhsSpotCommImg {
	width: 91px;
	height: 70px;
	padding: 6px;
	background: #fff;
	}
.nhsDetailNearby .nhsSpotCommImg img {
	border: 0;
	}
.nhsSpotlightItem p img.nhsDetailHotHomeImg {
	margin-left: 0;
	}

/* .nhsListingConsole ul {
	margin: 0 0 15px 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	}
.nhsListingConsole ul.nhsConsoleLearnList {
	margin-bottom: 0;
	}
.nhsListingConsole ul li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0px solid;
	}

.nhsListingConsole ul li a,
.nhsListingConsole ul li a:link,
.nhsListingConsole ul li a:visited,
.nhsListingConsole ul li a:active {
	margin: 0;
	padding: 0 0 0 45px;
	border: 0px solid;
	}
.nhsListingConsole ul.nhsConsoleLearnList li a,
.nhsListingConsole ul.nhsConsoleLearnList li a:link,
.nhsListingConsole ul.nhsConsoleLearnList li a:visited,
.nhsListingConsole ul.nhsConsoleLearnList li a:active  {
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 0 0 7px 45px;
	width: 101px;
	height: 40px;
	vertical-align: middle;
	overflow: visible;
	line-height: 1;	
	font-weight: bold;
	}

#nhsPartnerContainer .nhsListingConsole ul.nhsConsoleLearnList li a {
	text-decoration: none;
	}
.nhsListingConsole ul li a.nhsConsoleBrochureLnk,
.nhsListingConsole ul li a.nhsConsoleBrochureLnk:link,
.nhsListingConsole ul li a.nhsConsoleBrochureLnk:visited,
.nhsListingConsole ul li a.nhsConsoleBrochureLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_act_brochure.gif) top left no-repeat;
	padding-top: 11px;
	height: 33px;
	}
.nhsListingConsole ul li a.nhsConsolePromoLnk,
.nhsListingConsole ul li a.nhsConsolePromoLnk:link,
.nhsListingConsole ul li a.nhsConsolePromoLnk:visited,
.nhsListingConsole ul li a.nhsConsolePromoLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_act_promo.gif) top left no-repeat;
	padding-top: 7px;
	height: 33px;
	}
.nhsListingConsole ul li a.nhsConsoleApptLnk,
.nhsListingConsole ul li a.nhsConsoleApptLnk:link,
.nhsListingConsole ul li a.nhsConsoleApptLnk:visited,
.nhsListingConsole ul li a.nhsConsoleApptLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_act_appt.gif) top left no-repeat;
	padding-top: 7px;
	height: 33px;
	}
.nhsListingConsole ul li a.nhsConsoleBuilderLnk,
.nhsListingConsole ul li a.nhsConsoleBuilderLnk:link,
.nhsListingConsole ul li a.nhsConsoleBuilderLnk:visited,
.nhsListingConsole ul li a.nhsConsoleBuilderLnk:active {
	background: url(/globalresources/default/images/backgrounds/bg_act_builder.gif) top left no-repeat;
	padding-top: 7px;
	height: 28px;
	} 
.nhsListingConsole ul.nhsConsoleSaveList li a,
.nhsListingConsole ul.nhsConsoleSaveList li strong {
	display: block;
	margin: 0;
	padding: 4px 0 5px 40px;
	width: 106px;
	vertical-align: middle;
	overflow: visible;
	font-size: 95%;
	line-height: 1.2;
	border: 0px solid;
	}
	
.nhsListingConsole ul li.nhsConsoleSaveLi {
	background: transparent url(/globalresources/default/images/icons/icon_save.gif) no-repeat 12px 50%;
	}
.nhsListingConsole ul li a.nhsConsoleSendLnk {
	background: transparent url(/globalresources/default/images/icons/icon_send2.gif) no-repeat 7px 50%;
	} */

/* =DetailMain */
.nhsDetailMainColumn {
	float: right;
	width: 650px;
	border: 0px solid;
	color: #666;
	}
.nhsDetailMainColumn { /* Added Nov 07 to flip actions to right side */
	float: left;
	}
.nhsDetailMainColumn p strong {
	color: #333;
	}
.nhsContent .nhsDetailMainColumn p.nhsLegalText {
	float: left;
	width: 100%;
	margin: 15px 0 0 0;
	padding: 10px 0 5px 0;
	border-top: 1px solid #7095ba;
	position: relative;
	}
.nhsContent .nhsDetailMainColumn p.nhsBoylDetailLegal {
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0;
	font-size: x-small;	
	}

/* =CommDetail Banner and Info */
.nhsCommDetailHeadInfo {
	float: left;
	clear: both;
	margin: 4px 0 5px 0;
	padding: 0 8px 0 8px;
	width: 784px;
	border-bottom: 1px solid #9ab1ca;
	background: #f4f3e7;
	color: #666;
	}
.nhsHomeDetailHeadInfo {
	float: left;
	clear: both;
	margin: 0 0 5px 0;
	padding: 5px 8px 0 8px;
	width: 784px;
	border-bottom: 1px solid #9ab1ca;
	background: #f4f3e7;
	color: #666;
	}
.nhsCommDetailHeadInfo .nhsCommBanner {
	margin: 0 0 5px 0;
	}
.nhsHeadInfoActions {
	float: right;
	width: 380px;
	}
.nhsHeadInfoBrochure {
	float: right;
	margin: 8px 0 0 5px;
	}
.nhsHeadInfoLogoButton {
	float: right;
	width: 212px;
	}
/* Added for Yahoo */
#nhsPartnerContainer .nhsCommDetailHeadInfo .nhsHeadInfoBrochureDiv,
#nhsPartnerContainer .nhsHomeDetailHeadInfo .nhsHeadInfoBrochureDiv {
	float: right;
	clear: right;
	width: 210px;
	}
#nhsPartnerContainer a.nhsHeadInfoBrochureLnk,
#nhsPartnerContainer a.nhsHeadInfoBrochureLnk:link,
#nhsPartnerContainer a.nhsHeadInfoBrochureLnk:visited,
#nhsPartnerContainer a.nhsHeadInfoBrochureLnk:active {
	text-decoration: none;
	display: block;
	margin: 5px auto 0 auto;
	padding: 10px 0 7px 45px;
	width: 101px;
	height: 33px;
	vertical-align: middle;
	overflow: visible;
	line-height: 1;	
	font-weight: bold;
	background: url(/globalresources/default/images/backgrounds/bg_act_brochure.gif) top left no-repeat;
	}
/* End Added for Yahoo */
.nhsCommDetailHeadInfo .nhsBuilderLogo, 
.nhsHomeDetailHeadInfo .nhsBuilderLogo {
	margin: 8px 0 0 0;
	padding: 0;
	float: right;
	text-align: right;
	}
#nhsBuilderLogo {	
	/*width: 212px;*/
	}
.nhsBuilderLogo img {
	margin: 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	}
.nhsContent .nhsCommDetailHeadInfo h2 {
	font-size: 140%;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
	color: #333;
	}
.nhsContent .nhsHomeDetailHeadInfo h2,
.nhsContent .nhsHomeDetailHeadInfo .nhsHomeDetailTitle {
	font-size: 100%;
	font-weight: normal;
	margin: 0 5px 5px 0;
	padding: 0;
	}
.nhsContent .nhsHomeDetailHeadInfo h2 .nhsHomeDetailName,
.nhsContent .nhsHomeDetailHeadInfo .nhsHomeDetailName {
	display: inline;
	font-size: 140%;
	color: #333;
	}
.nhsCommDetailHeadInfo p, 
.nhsHomeDetailHeadInfo p {
	font-size: 95%;
	margin: 0 0 2px 0;
	padding: 0;
	}
.nhsCommDetailHeadInfo p img, 
.nhsHomeDetailHeadInfo p img {
	margin: 0 4px 0 0;
	padding: 0;
	}
.nhsCommDetailHeadInfo p a, 
.nhsHomeDetailHeadInfo p a {
	font-size: 90%;
	}
.nhsCommDetailHeadInfo p strong {
	color: #333;
	}
.nhsContent .nhsCommDetailHeadInfo .nhsCommDetailPrice {
	font-size: 110%;
	color: #333;
	} 
.nhsContent .nhsHomeDetailHeadInfo .nhsHomeDetailPrice {
	font-size: 110%;
	}
.nhsCommDetailHeadInfo .nhsCommDetailPrice img {
	vertical-align: top;
	}
	
/* =CommFooter Info */	
.nhsDetailCommFooterInfo {	
	float: left;
	clear: both;
	width: 640px;
	margin: 10px 0 5px 0;
	padding: 0 0 7px 0;
	background: #f4f3e7;		
	}
.nhsDetailCommFooterInfo .nhsGroupingBar {
	float: left;
	width: 626px;
	margin: 0 0 5px 0;
	padding: 4px 5px 5px 9px;
	font-weight: bold;
	color: #fff;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}
.nhsContent .nhsDetailCommFooterInfo .nhsGroupingBar p {
	font-size: 100%;
	margin: 0;
	padding: 0;	
	}
	
.nhsContent .nhsDetailPhoneMortgage {
	float: left;
	width: 300px;
	}
.nhsContent .nhsPhoneNum {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	padding: 6px 0 2px 14px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_63_arrow.gif) no-repeat left 55%;
	}

	
.nhsContent .nhsPhoneNumDisplay {
	padding-top: 6px;
	}
.nhsContent .nhsPhoneNumDisplay strong {
	color: #666;
	}
.nhsDetailCommFooterInfo h4,
.nhsDetailCommFooterInfo h2 {
	float: left;
	width: 220px;
	color: #333;
	font-size: 110%;
	}	
.nhsDetailCommFooterPrice {
	float: right;
	width: 185px;	
	font-size: 95%;
	color: #333;
	line-height: 1.4em;
	margin: .85em 0;
	}
.nhsDetailCommFooterContact {
	float: left;
	width: 190px;
	margin: 10px 0 0 0;
	padding-left: 10px;
	}
.nhsDetailCommFooterContact h3 {
	font-size: 95%;
	}
.nhsDetailCommFooterDesc {
	float: right;
	width: 420px;
	padding-right: 10px;
	line-height: 1.6em;
	}
.nhsDetailCommFooterDesc .btnContactTheBuilder {
	float: right;
	margin: 10px 0 0 0;
	}

/* =Comm Bar on Home Detail */
.nhsHomeDetailCommInfo {
	float: left;
	margin: 6px 0 0 0;
	padding: 8px;
	width: 784px;
	border: 0px solid #7095ba;
	background: url(/globalresources/default/images/backgrounds/bg_63_group_bar_b_800.gif) no-repeat top left;
	}
.nhsHomeDetailCommName {
	float: left;
	margin: 0;
	padding: 0;
	color: #fff;
	}
.nhsDetailMainColumn .nhsHomeDetailCommInfo strong {
	color: #fff;	
	}
.nhsHomeDetailCommName a, 
.nhsHomeDetailCommName a:link, 
.nhsHomeDetailCommName a:visited,
#nhsPartnerContainer .nhsHomeDetailCommName a, 
#nhsPartnerContainer .nhsHomeDetailCommName a:link, 
#nhsPartnerContainer .nhsHomeDetailCommName a:visited {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	}
.nhsHomeDetailCommPrice {
	float: right;
	display: block;
	margin: -8px 0;
	padding: 8px 0 8px 30px;
	color: #fff;
	background: url(/globalresources/default/images/backgrounds/bg_63_search_nav_divider.gif) no-repeat top left;
	}
	
/* =HomeDetail */
.nhsHomeDetailThumb {
	float: left;
	margin: 4px 8px 2px 2px;
	padding: 6px;
	width: 75px;
	height: 58px;
	background: #fff;
	/*background: url(/globalresources/default/images/sm_shadow.gif) no-repeat top left;*/
	overflow: hidden;
	}
.nhsHomeDetailThumb img {
	display: block;
	width: 75px;
	height: 58px;
	}
.nhsHomeDetailStatus {
	float: left;
	clear: left;
	margin: 2px 8px 5px 2px;
	padding: 0;
	width: 87px;
	height: 40px;
	text-align: center;
	border: 0px solid;
	}
.nhsContent .nhsHomeDetailBrBaGr {
	font-size: 120%;
	color: #333;
	}
.nhsHomeDetailBrBaGr strong abbr {
	color: #666;
	}

.nhsHomeDetailDesc {
	float: left;
	margin: 10px 0 5px 0;
	padding: 0;
	line-height: 1.6em;
	}
.nhsContent .nhsHomeDetailDesc .nhsHomeDetailMarketing h5 {
	margin: 0 0 .65em 0;
	color: #333;
	}
.nhsHomeDetailFeatures {
	float: right;
	width: 240px;
	margin: 4px 0 10px 0;
	padding: 6px;
	}
.nhsContent .nhsHomeDetailFeatures h3 {
	margin: 0 0 .65em 0;
	color: #333;
	}
.nhsHomeDetailFeatures ul {
	margin-left: 0;
	padding-left: 0;
	list-style-image: none;
	list-style-type: none;
	color: #333;
	}

.nhsHomeDetailOptions {
	float: right;
	width: 195px;
	margin: 0 0 10px 10px;
	padding: 0 0 0 5px;
	border-left: 1px solid #e4ebf2;
	}
.nhsContent .nhsHomeDetailOptions h4 {
	margin: 0 0 .65em 0;
	}

/* =Image */
.nhsHomeDetailImage {	
	float: left;
	margin: 0 10px 0 0;
	padding: 0 4px 5px 0;
	/*background: url(/globalresources/default/images/backgrounds/bg_comm_img.gif) no-repeat top left;*/
	}
.nhsHomeDetailImage img {
	display: block;
	width: 174px;
	height: 174px;
	/*border: 1px solid #24619e;*/
	}
.nhsHomeDetailImage p a {
	display: block;
	margin: 0;
	padding: 2px 0 2px 15px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_63_arrow.gif) no-repeat center left;
	}

/* =Related Homes */
.nhsHomeDetailRel {
	float: left;
	width: 650px;
	}
.nhsHomeDetailRel a {
	font-weight: bold;
	}
.nhsHomeDetailRel ul {
	float: left;
	margin: 0 0 5px 0;
	padding: 0;
	display: block;
	width: 650px;
	}
.nhsHomeDetailRel ul li {
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 90%;
	list-style-type: none;
	}
.nhsHomeDetailRel h6 {
	color: #333;
	}
.nhsHomeDetailRel h6.nhsHomeDetailQuick {
	margin-top: 0;
	padding: 8px 0 8px 65px;
	background: url(/globalresources/default/images/backgrounds/bg_63_quick_move_in.gif) no-repeat center left;
	}
.nhsHomeDetailRel ul li.nhsHomeRelName,
.nhsHomeDetailRel ul li.nhsHomeRelAddress2 {
	width: 305px;
	margin-right: 5px;
	}
.nhsHomeDetailRel ul li.nhsHomeRelStatus,
.nhsHomeDetailRel ul li.nhsHomeRelOptions {
	width: 125px;
	margin-right: 5px;
	}
.nhsHomeDetailRel ul li.nhsHomeRelStatus2,
.nhsHomeDetailRel ul li.nhsHomeRelAddress {
	width: 190px;
	margin-right: 5px;
	}
.nhsHomeDetailRel ul li.nhsHomeRelPrice {
	width: 75px;
	text-align: right;
	}
.nhsHomeRelHotHome {
	background: #fff9d1;
	}
.nhsHomeDetailRel ul li.nhsHomeRelHotHomeTitle {
	color: #de5401;
	font-weight: bold;
	width: 650px;
	padding: 2px 0;
	}
.nhsHomeRelHotHomeTitle img {
	float: left;	
	}
.nhsHomeRelHotHomeTitle span {
	float: left;
	padding-top: 3px;
	}
	
/* =DetailPromo */
.nhsCommDetailPromo,
.nhsCommDetailHotHome,
.nhsCommDetailGreen {
	float: left;
	clear: both;
	width: 784px;
	margin: 10px 0 0 0;
	padding: 0 0 3px 0;
	background: url(/globalresources/default/images/backgrounds/bg_special_offer_bottom.gif) no-repeat left bottom;
	}
.nhsCommDetailGreen {
	background: url(/globalresources/default/images/backgrounds/bg_green_home_bottom.gif) no-repeat left bottom;
	}
.nhsCommDetailPromo div {
	float: left;
	width: 635px;
	margin: 0;
	padding: 2px 9px 2px 140px;
	background: url(/globalresources/default/images/backgrounds/bg_special_offer_top.gif) no-repeat left top;
	}
.nhsCommDetailHotHome div {
	float: left;
	width: 650px;
	margin: 0;
	padding: 6px 0 6px 134px;
	background: url(/globalresources/default/images/backgrounds/bg_hot_home_top.gif) no-repeat left top;
	}
.nhsCommDetailGreen div {
	float: left;
	width: 610px;
	margin: 0;
	padding: 2px 9px 2px 165px;
	background: url(/globalresources/default/images/backgrounds/bg_green_home_top.gif) no-repeat left top;
	}
.nhsCommDetailPromo p,
.nhsCommDetailHotHome p,
.nhsCommDetailGreen p {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 100%;	
	}
.nhsCommDetailPromo p {
	padding: 4px 0 4px 0;
	border-bottom: 1px solid #f16936;
	}
.nhsCommDetailGreen p {
	padding: 4px 0 4px 0;
	color: #404040;
	border-bottom: 1px solid #11a206;	
	}
.nhsCommDetailPromo p.nhsPromoLast,
.nhsCommDetailGreen p.nhsGreenLast {
	border: 0;
	}
.nhsCommDetailPromo p a,
.nhsCommDetailHotHome p a,
.nhsCommDetailGreen p a {
	font-weight: bold;
	}

/* =DetailDesc */
.nhsCommDetailDesc {
	clear: both;
	float: left;
	width: 640px;
	margin: 5px 0;
	padding: 0;
	line-height: 1.6em;	
	}

/* =Image */
.nhsCommDetailImg {
	float: left;
	margin: 0 10px 0 2px;
	padding: 0 4px 5px 0;	
	/* background: url(/globalresources/default/images/backgrounds/bg_comm_img.gif) no-repeat top left; */
	}
.nhsCommDetailImg img {
	display: block;
	width: 174px;
	height: 174px;
	/*border: 1px solid #24619e;*/
	}	
.nhsContent .nhsCommDetailDesc .nhsCommDetailAgeRest {
	margin: 10px 8px;
	line-height: 1.4em;
	}
.nhsContent .nhsCommDetailDesc .nhsCommDetailDescSubDesc {
	margin: 0 8px;
	}
.nhsContent .nhsCommDetailDesc ul {
	list-style-image: none;
	list-style-type: disc;
	}
.nhsContent .Desc {
	line-height: 1.4em;
	}
.nhsCommDetailDesc p img {
	margin: 5px 0;
	}
.nhsCommDetailEnvLead,
.nhsDetailActions {
	float: left;
	width: 640px;
	margin: 0 0 5px 0;
	padding: 0;
	clear: both;
	}
.nhsCommDetailEnvLead ul,
.nhsDetailActions ul {
	float: left;
	padding-left: 23px;
	list-style-image: url(/globalresources/default/images/buttons/btn_63_arrow.gif);
	}
.nhsCommDetailEnvLead li,
.nhsDetailActions li {
	margin: .35em 0;
	}
.nhsCommDetailEnvLead input,
.nhsCommDetailEnvLead .btnGetAFreeBrochure {
	float: right;
	}

/* =CommDetailSpotHomes */
.nhsCommDetailSpotHomes {
	float: left;
	clear: both;
	width: 640px;
	margin: 10px 0 5px 0;
	padding: 0;
	background-color: #fff;
	}
.nhsContent .nhsCommDetailSpotHomes h3,
.nhsContent .nhsGroupingBar h3 {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;	
	font-size: 100%;
	}
.nhsContent .nhsCommDetailSpotHomes .nhsViewAllLink,
.nhsContent .nhsHomeDetailRel .nhsViewAllLink {
	float: left;
	width: 618px;
	display: block;
	margin: 0;
	padding: 2px 0 2px 22px;
	font-size: 100%;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_63_forward.gif) no-repeat center left;
	}
.nhsContent .nhsCommDetailSpotHomes .nhsGroupingBar p {
	float: left;
	width: auto;
	margin: 1px 0 0 20px;
	font-size: 85%;
	color: #fff;
	} 
.nhsContent .nhsCommDetailSpotHomes .nhsGroupingBar p a,
#nhsPartnerContainer .nhsContent .nhsCommDetailSpotHomes .nhsGroupingBar p a {
	color: #fff;
	} 
.nhsCommDetailSpotHomes .nhsSpotlightItem {
	float: left;
	width: 118px;
	margin-top: 8px;
	display: inline;
	}
.nhsCommDetailSpotHomes .nhsSpotlightItem div { /* small shadow for homes */
	width: 82px;
	/*height: 63px;
	background: url(/globalresources/default/images/sm_shadow.gif) no-repeat left top;*/
	height: auto;
	background: #fff;
	}
.nhsCommDetailSpotHomes .nhsSpotlightItem div img {
	border: 0;
	}
	
/* =Awards */
#nhsDetailAwards {
	float: left;
	clear: both;
	width: 640px;
	margin: 10px 0 5px 0;
	padding: 0;	
	}
.nhsAwardsLogo {
	float: left;
	margin: 8px 5px 0 5px;
	padding: 0;
	}

/* =Amenities */
.nhsCommDetailAmen {
	float: left;
	clear: both;
	width: 640px;
	margin: 10px 0 5px 0;
	padding: 0;
	}
.nhsCommDetailAmen ul {
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
	}
.nhsCommDetailAmen ul li {
	float: left;
	margin: 5px 0 0 0;
	padding: 0 0 0 8px;
	width: 550px;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat left 5px;
	font-weight: bold;
	color: #333;
	}
.nhsCommDetailAmen ul li ul li {
	font-weight: normal;
	color: #666;
	}

	
/* =Quotes */
#nhsCommDetailQuotes {
	float: left;
	clear: both;
	width: 640px;
	margin: 10px 0 5px 0;
	padding: 0;
	}
.nhsCustQuote {
	float: left;
	width: 202px;
	margin: 8px 5px 0 5px;
	}	

/* =nhsCommAmenities */
.nhsCommAmenities {
	float: left;
	width: 640px;
	margin: 10px 0 20px 0;
	padding: 0;
	border: 0px solid #000;
	}
.nhsCommAmenities ul {
	margin-bottom: 10px;
	color: #333;
	line-height: 1.1em;
	}
.nhsCommAmenities ul li {
	margin: 5px 0;
	padding: 0;
	}
.nhsCommAmenities .nhsCommAmenitiesAlt {
	}
.nhsCommAmenitiesLeft {
	float: left;
	width: 270px;
	margin: 0 0 0 40px;
	padding: 0;
	border-right: 0px solid #e4ebf2;
	display: inline; /* IE Double Margin Fix */
	}
.nhsCommAmenitiesRight {
	float: left;
	width: 260px;
	margin: 0 0 0 40px;
	padding: 0;
	display: inline; /* IE Double Margin Fix */
	}
.nhsAmenitiesBtnBox {
	float: left;
	clear: both;
	width: 640px;
	text-align: right;
	}
.nhsCommAmenities .btnFreeBrochure {
	float: right;
	margin: 10px 30px 0 0;
	}

/* =nhsCommAmenities h3 */
.nhsContent .nhsCommAmenities h3 {
	display: block;
	margin: 0;
	padding: 0;
	height: 40px;
	border: 0px solid #000;
	padding-top: 40px; height: 0px !important; 
	height /**/: 40px; overflow: hidden;	
	}
h3.AmenitiesHealth {
	background: url(/globalresources/default/images/amenities_health_fitness.gif) no-repeat top left;
	}
h3.AmenitiesEducation {
	background: url(/globalresources/default/images/amenities_education.gif) no-repeat top left;
	}
h3.AmenitiesCommServices {
	background: url(/globalresources/default/images/amenities_comm_services.gif) no-repeat top left;
	}
h3.AmenitiesSocial {
	background: url(/globalresources/default/images/amenities_social.gif) no-repeat top left;
	}
h3.AmenitiesLocalArea {
	background: url(/globalresources/default/images/amenities_local_area.gif) no-repeat top left;
	}
h3.AmenitiesUtilities {
	background: url(/globalresources/default/images/amenities_utilities.gif) no-repeat top left;
	}

/* =DrivingDirections */
.nhsCommDrivInfo {
	float: left;
	width: 190px;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid #e4ebf2;
	}
.nhsCommDrivInfo img {
	margin-bottom: 10px;
	}
.nhsCommDrivBuilderDir {
	float: right;
	width: 430px;
	margin: 10px 0;
	padding: 0;	
	border: 0px solid;
	line-height: 1.6em;
	}
.nhsCommDrivMapSection {
	clear: both;
	width: 640px;
	}
.nhsCommDrivAppRoute {
	float: left;
	width: 290px;
	}
.nhsContent .nhsCommDrivAppRoute h3 {
	width: 276px;
	margin: 5px 0;
	padding: 5px 5px 5px 9px;
	font-size: 100%;
	font-weight: bold;
	color: #fff;
	background: #7095ba url(/globalresources/default/images/backgrounds/bg_63_group_bar_a_290.gif) no-repeat left top;
	}
.nhsContent .nhsCommDrivAppRoute p {
	margin: 5px 0 2px 0;
	}
#nhsCommCityBox,
#nhsCommStateBox,
#nhsCommZipBox {
	float: left;
	margin-right: 2px;
	}
.nhsCommDrivAppoint {
	width: 210px;
	}
.nhsAddressBox {
	width: 278px;
	}
#nhsCommCityBox input {
	width: 11em;
	}
#nhsCommStateBox select {
	width: 4em;
	}
#nhsCommZipBox input {
	width: 5em;
	}
.nhsCommDrivMapTable {
	float: right;
	margin-top: 5px;
	}
.nhsCommDrivAppRoute .btnShowRoute,
#nhsPartnerContainer .btnShowRoute {
	margin-top: 10px;
	float: right;
	}
.nhsCommDrivDirSteps {
	clear: both;
	width: 640px;
	}
.nhsCommDrivDirSteps table {
	width: 640px;
	}
.nhsCommDrivDirSteps table caption {
	text-align: left;
	font-weight: bold;
	margin: 10px 0 5px;
	}
.nhsCommDrivDirSteps table td,
.nhsCommDrivDirSteps table th {
	padding: 0 3px 3px 0;
	}
.nhsCommDrivDirSteps table tr.nhsCommDrivDirTotals {
	}
#staticMap {
	float: left;
	margin-left: 10px;
	width: 338px;
	border: 1px solid #24619e;
	display: none;
	}
#nhsMqMap {
	border: 1px solid #24619e; 
	float: right; 
	width: 338px;
	height: 250px;
	display: none;
	}

/* =nhsCommTabs */
.nhsCommTabs {
	float: left;
	position: relative;
	margin: 10px 0 -1px -6px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	border: 0px solid;
	}
* html .nhsCommTabs,
* html #nhsPartnerContainer .nhsCommTabs {
	margin-bottom: -3px; /* IE 6- Fix */
	} 
*+html .nhsCommTabs,
*+html #nhsPartnerContainer .nhsCommTabs {
	margin-bottom: -3px; /* IE 7 Fix */
	} 	
.nhsCommTabs li, 
.nhsMediaTabs li,
#nhsPartnerContainer .nhsCommTabs li, 
#nhsPartnerContainer .nhsMediaTabs li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 8px 0 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	display: inline-block;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_right.gif) no-repeat top right; 
	}
.nhsCommTabs li a,
.nhsMediaTabs li a,
#nhsPartnerContainer .nhsCommTabs li a, 
#nhsPartnerContainer .nhsMediaTabs li a {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0px solid #7095ba;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_left.gif) no-repeat top left; 
	}
.nhsCommTabs .commTabOn,
.nhsMediaTabs .mediaTabOn,
#nhsPartnerContainer .nhsCommTabs .commTabOn,
#nhsPartnerContainer .nhsMediaTabs .mediaTabOn {
	background: url(/globalresources/default/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #24619e;
	}
.nhsCommTabs .commTabOn strong,
.nhsMediaTabs .mediaTabOn strong {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	background: url(/globalresources/default/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #24619e;
	}	
.nhsCommTabs a:link,
.nhsCommTabs a:visited,
.nhsCommTabs a:active,
.nhsMediaTabs a:link,
.nhsMediaTabs a:visited,
.nhsMediaTabs a:active,
#nhsPartnerContainer .nhsCommTabs a:link,
#nhsPartnerContainer .nhsCommTabs a:visited,
#nhsPartnerContainer .nhsCommTabs a:active,
#nhsPartnerContainer .nhsMediaTabs a:link,
#nhsPartnerContainer .nhsMediaTabs a:visited,
#nhsPartnerContainer .nhsMediaTabs a:active {
	color: #fff;
	}
.nhsCommTabs a:hover,
.nhsMediaTabs a:hover,
#nhsPartnerContainer .nhsCommTabs a:hover,
#nhsPartnerContainer .nhsMediaTabs a:hover {
	color: #ecda6a;
	text-decoration: none;
	}
/*	
#nhsPartnerContainer .nhsCommTabs li, 
#nhsPartnerContainer .nhsMediaTabs li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
	border-top: 1px solid #7095ba;
	border-left: 1px solid #7095ba;
	border-right: 1px solid #7095ba;
	display: inline-block;
	} 
#nhsPartnerContainer .nhsCommTabs li a,
#nhsPartnerContainer .nhsCommTabs .commTabOn,
#nhsPartnerContainer .nhsMediaTabs li a,
#nhsPartnerContainer .nhsMediaTabs .mediaTabOn {
	display: block;
	margin: 0;
	padding: 5px 8px 6px 8px;
	border-bottom: 1px solid #7095ba;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background-color: #24619e;
	} 
#nhsPartnerContainer .nhsCommTabs a:link,
#nhsPartnerContainer .nhsCommTabs a:visited,
#nhsPartnerContainer .nhsCommTabs a:active,
#nhsPartnerContainer .nhsMediaTabs a:link,
#nhsPartnerContainer .nhsMediaTabs a:visited,
#nhsPartnerContainer .nhsMediaTabs a:active {
	color: #fff;
	} 
#nhsPartnerContainer .nhsCommTabs a:hover,
#nhsPartnerContainer .nhsMediaTabs a:hover {
	text-decoration: underline;
	background-color: #24619e;
	} 
#nhsPartnerContainer .nhsCommTabs .commTabOn,
#nhsPartnerContainer .nhsMediaTabs .mediaTabOn {
	margin: 0 0 0 5px;
	border-bottom: 1px solid #fff;
	color: #24619e;
	background-color: #fff;
	} */

.nhsMediaTabs {
	float: left;
	width: 640px;
	margin: 10px 0 20px 0;
	padding: 0;		
	border-bottom: 1px solid #7095ba;
	}	
.nhsCommMedia .nhsMediaTabs ul {
	float: left;
	position: relative;		
	margin: 20px 0 -1px 30px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 85%;
	}
.nhsMediaTabs .btnGetAFreeBrochure {
	margin-bottom: 10px;
	}

/* =Driving Tabs */
.nhsDrivingTabs {
	float: right;
	width: 340px;
	margin: 0 0 5px 0;
	padding: 0;		
	display: none;
	}
.nhsDrivingTabs ul {
	float: left;
	position: relative;		
	margin: 0;
	padding: 5px 0 0 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	}
.nhsDrivingTabs li {
	float: left;
	display: block;
	padding: 2px 8px 3px 8px;
	}
.nhsDrivingTabs #tabBuilderMap,
.nhsDrivingTabs #tabMQMap {
	font-weight: bold;
	}
.nhsDrivingTabs #tabBuilderMap {
	border-right: 1px solid #333;
	}

.nhsDrivingTabs li a,
#nhsPartnerContainer .nhsDrivingTabs li a,
.nhsDrivingTabs a:link,
.nhsDrivingTabs a:visited,
.nhsDrivingTabs a:active,
#nhsPartnerContainer .nhsDrivingTabs a:link,
#nhsPartnerContainer .nhsDrivingTabs a:visited,
#nhsPartnerContainer .nhsDrivingTabs a:active {
	
	}
.nhsDrivingTabs a:hover,
#nhsPartnerContainer .nhsDrivingTabs a:hover,
.nhsDrivingTabs .drivingTabOn,
#nhsPartnerContainer .nhsDrivingTabs .drivingTabOn {
	
	}
	
/* =Brochure Button */
.nhsCommMedia .btnFreeBrochure,
.nhsCommDrivDir .btnFreeBrochure,
#nhsPartnerContainer .nhsCommDrivDir .btnFreeBrochure,
.nhsCommMedia .btnGetAFreeBrochure,
.nhsCommDrivDir .btnGetAFreeBrochure,
#nhsPartnerContainer .nhsCommDrivDir .btnGetAFreeBrochure {
	float: right;
	margin-top: 5px;
	}

/* =Media, photos and tours styles */
.nhsCommMediaTop {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #9ab1ca;
	}
.nhsCommMediaTop strong {
	font-size: 110%;
	color: #333;
	}	
.nhsCommMedia ul {
	margin: 0;
	padding: 5px 0 0 23px;
	font-size: 95%;
	list-style-image: url(/globalresources/default/images/buttons/btn_63_arrow.gif);
	}
.nhsVideoListInt {
	float: left;
	width: 100px;
	margin: 0 10px 0 0;
	}
.nhsVideoListExt {
	float: left;
	width: 300px;
	margin: 0 0 0 0;
	}
.nhsVideoViewer,
.nhsPhotoViewer {
	float: left;
	width: 630px;
	margin: 0 0 5px 0;
	padding: 10px 5px 5px 5px;
	text-align: center;
	background-color: #f4f3e7;
	}
.nhsPhotosList {
	float: left;
	width: 640px;
	margin: 10px 0 0 0;
	padding: 0 0 5px 0;
	background-color: #f4f3e7;	
	}
.nhsPhotosList .nhsGroupingBar {
	float: left;
	width: 626px;
	margin: 0 0 10px 0;
	padding: 4px 5px 5px 9px;
	font-weight: bold;
	color: #fff;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	_display: inline;
	}
.nhsImageOff,
.nhsPhotosList input,
#nhsPartnerContainer .nhsImageOff,
#nhsPartnerContainer .nhsPhotosList input {
	border: 3px solid #fff;
	margin: 3px 0 2px 5px;
	}
.nhsPhotosList .nhsImageOn,
#nhsPartnerContainer .nhsPhotosList .nhsImageOn {
	border: 3px solid #000;
	margin: 3px 0 2px 5px;
	}
.nhsImgBigPhoto {
	background: #fff;
	margin: 0 0 5px 0;
	padding: 8px;
	border-width: 0;
	}
	
/* =Media Links */
.nhsHomeMediaLinks {
	float: left;
	margin: 10px 0 20px 0;
	padding: 0;
	width: 640px;	
	}
.nhsHomeMediaLinks ul {
	float: left;
	padding-left: 23px;
	}
	
/* =NoHomes */
.nhsNoHomesForm {
	float: left;
	width: 289px;
	margin: 10px 0;
	padding: 0 10px 10px 10px;
	border: 1px solid #24619e;
	background-color: #e4ebf2;	
	}
.nhsNoHomesForm h2 {
	margin: 0 -10px;
	padding: 8px 0 5px 12px;
	color: #fff;
	border-bottom: 1px solid #24619e;
	background-color: #7095ba;
	}
.nhsNoHomesForm fieldset {
	margin-bottom: 0;
	padding: 0;
	}	
.nhsNoHomesForm p {
	display: block;
	float: left;
	width: 289px;
	height: 2em;
	margin: 0 0 .45em 0;
	padding: 0 0 0 ;
	border: 0px solid;
	}
.nhsNoHomesForm label {
	display: block;
	float: left;
	width: 7em;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;	
	}
.nhsNoHomesForm .btnFindHomes,
#nhsPartnerContainer .nhsNoHomesForm .btnFindHomes {
	float: right;
	margin: 0 25px 5px 0; 
	}
