/* ---------------------------------------------
Title:      NewHomeSource.com Account Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Jun 29 2010 
----------------------------------------------- */

.nhsContent p.nhsRequired {
	margin-top: 1.25em; 
	margin-bottom: 1em;
	margin-left: 10px;
	}
#nhsModalPage #nhsRequestInfo {
	margin: 0;
	float: none;
	background: #fff;
	}
#nhsModalPage #nhsRequestThanks {
	margin: 0;
	background: #fff;
	}
#nhsModalPage h2 {
	margin-top: 0;
	}
#nhsReg,
#nhsCreateAlert {
	margin: 0;
	width: 680px;
	}
#nhsRequestThanks,
#nhsRequestInfoShort {
	float: left;
	margin: 0;
	width: 680px;
	}
.nhsContent .nhsModalHeader {	
	font-size: 18px;
	margin-top: 0;
	padding: 3px 0 3px 10px;
	background: #fff5ae;
	}

/* =Login */
.nhsLoginForm {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	text-align: right;
	border: 0px solid #000;	
	}
.nhsLoginForm fieldset input,
.nhsRecoverForm fieldset input {
	width: 18em;
	}
.nhsLoginReg {
	float: left;
	width: 230px;
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid #7095ba;
	}
#nhsModalPage .nhsLoginForm {
	width: 360px;		
	margin: 0 0 0 5px;
	}
#nhsModalPage .nhsLoginReg {
	clear: both;
	width: 380px;
	margin: 5px 0 0 5px;
	padding: 5px 0 0 0;
	border: 0;
	border-top: 1px solid #7095ba;
	}
#nhsModalPage #nhsLogin {
	width: 380px;
	}
	
/* =Recover */
.nhsRecoverForm {
	float: left;
	clear: both;
	width: 360px;
	}
.nhsRecoverForm {
	text-align: right;
	}
.nhsRecoverForm .btnSend {
	float: none;
	}
#nhsModalPage .nhsRecoverForm {
	width: 360px;		
	margin: 0 0 0 5px;
	}
#nhsModalPage #nhsRecover {
	width: 380px;
	}	
		
/* =Register / Request */
#nhsRequestInfo {
	background: #fff url(/globalresources/default/images/backgrounds/bg_request_box.gif) repeat-x 0 -10px;
	}
#nhsRequestInfoLogged {
	width: 390px;
	}
#nhsRequestInfo h2,
#nhsRequestInfoLogged h2 {
	padding-left: 16px;
	font-size: 130%;
	}
/*#nhsReg h2 {
	font-size: 130%;
	} */
.nhsModalHeaderLeft {
	float: left;
	width: 357px;
	border: 0px solid;
	}
.nhsModalHeaderRight {
	float: right;
	width: 317px;
	border: 0px solid;
	}
.nhsRequestInfoLeft {
	float: left;
	width: 390px;
	}
.nhsRequestInfoRight {
	float: right;
	width: 390px;
	}
	
/* =Short Form */
#nhsReg .nhsRequestInfoLeft,
#nhsRequestInfoShort .nhsRequestInfoLeft {
	width: 337px;
	}
#nhsRequestInfoShort .nhsRequestMarketing {
	width: 347px;
	}
#nhsRequestInfoShort .nhsRequestNameBox {
	width: 337px;
	}
#nhsReg .nhsRequestInfoRight,
#nhsRequestInfoShort .nhsRequestInfoRight {
	float: left;
	padding-left: 5px;
	width: 337px;
	}
#nhsRequestInfoShort .nhsRequestPhoneComments {
	width: 337px;
	}
#nhsRequestInfoShort .nhsRequestLegalSubmit {
	width: 337px;
	}
#nhsRequestInfoShort .nhsLegalText {
	margin-left: 10px;
	}
	
/* Request Listing Info */
.nhsRequestHomeListing,	
.nhsRequestCommunityListing {
	float: right;
	padding: 0 10px 12px 50px;
	width: 530px;
	}
.nhsRequestHomeListing .nhsResultsThumb,
.nhsRequestCommunityListing .nhsResultsThumb {
	margin-right: 8px;
	}
.nhsRequestHomeListing h3,	
.nhsRequestCommunityListing h3 {
	margin: 0 0 .15em 90px;
	padding: 0;
	color: #24619e;	
	}
.nhsRequestHomeListing p,	
.nhsRequestCommunityListing p {
	margin: 0 0 .15em 90px;
	padding: 0;
	}
.nhsRequestBldrLogo {
	float: right;
	padding: 3px;
	background: #fff;
	}

/* Request Error Text */
.nhsReqErrorArea {
	float: left;
	/*width:505px;*/
	padding-left: 85px;
	background: url(/globalresources/default/images/error_sign.gif) no-repeat 50px 6px;
	min-height:33px;
	}	
.nhsReqError {
	color: #c33;
	font-weight: bold;
	font-size: 110%;
	}
/* p.nhsReqError {
	font-size: 100%;
	} */
span.nhsReqError {
	display: block;
	padding-left: 125px;
	}
#nhsCreateAlert span.nhsReqError {
	padding-left: 94px;
	}
.nhsReqErrorInput {
	border: 3px solid #c33;
	}
.nhsContent .nhsReqErrorList,
.nhsReqErrorList {
	font-weight: bold;
	color: #f00;
	color: #c33;
	list-style-image: none;
	list-style-type: disc;
	margin-left: 6px;
	font-size: 90%;
	}
.nhsDisabledInput {
	background-color: #ebebe4;
	height: 15px;
	padding: 1px;	
	border: 1px solid #7F9DB9;	
	}
	
#nhsRequestInfo legend {
	display: block;
	}
.nhsRequestMarketing {
	float: left;
	padding: 8px 0 0 0;
	width: 375px;	
	}
.nhsRequestMarketing p {
	margin-left: 8px;
	/*font-size: 130%;
	font-weight: bold;*/
	}
.nhsRequestMarketing ul {
	font-size: 100%;
	margin-left: 10px;
	list-style-image: none;
	list-style-type: disc;	
	}
	
.nhsRegNameBox {
	float: left;
	width: 337px;
	margin: 0;
	padding: 0;
	}
.nhsRegNameBoxGroup {
	padding: 0 0 2px 0;
	}
.nhsRequestNameBox {
	float: left;
	width: 390px;
	margin: 0;
	padding: 0;
	}
#nhsRequestContactInfo {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_1contact.gif) no-repeat 0 0;	
	}
#nhsRequestQuestionsHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 162px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_2homeneeds.gif) no-repeat 0 0;	
	}
.nhsRequestNameBox .nhsRequestRequired,
.nhsRequestQuestions .nhsRequestRequired {
	float: right;
	margin: 0;
	padding: 4px 0 0 0;
	width: 200px;
	height: 26px;
	}
#nhsModalPage {
    font-size: 13px;
    }
#nhsModalPage p {
    margin: 0.25em 0 0.45em;  
    }   
#nhsManageAccount .nhsRequestNameBox {
	float: left;
	margin-left: 0px;
	text-align: left;
	display: inline;
	width: 390px;
	border: 0px;
	}
.nhsRegNameBox label,
.nhsRegLogin label,
#nhsRegMatchCrit label,
.nhsRequestNameBox label,
.nhsRequestLogin label,
#nhsRequestBldrPref label,
.nhsAlertLocationBox label,
.nhsAlertOptionsBox label {
	display: block;
	float: left;
	width: 150px;
	margin: 0 4px 0 0;
	text-align: right;
	line-height: 1.5;
	}
.nhsRegLogin label,
.nhsRequestLogin label,
.nhsAlertLocationBox label,
.nhsAlertOptionsBox label  {
	width: 90px;
	}
	
#nhsRegMatchCrit label {
	width: 155px;
	}
.nhsRegNameBox label {
	width: 130px;
	}
.nhsRequestNameBox label {
	width: 120px;
	}
.nhsRequestNameBox label.nhsRequestExt,
.nhsRequestNameBox label.nhsRequestState,
.nhsRequestNameBox label.nhsRequestZip,
.nhsRequestNameBox label.nhsRequestPhone {
	display: inline;
	float: none;
	margin-left: 5px;
	}
.nhsRequestNameBox input.nhsTxtEmail,
.nhsRegNameBox input.nhsTxtEmail {
	width: 180px;
	}
	
.nhsRequestNameBox input.nhsReqEmail {
	width: 230px;
	}
.nhsRequestInfoRight .nhsRequestSaveInfo,
.nhsRequestNameBox .nhsRequestSaveInfo {
	margin-top: 10px;
	height: 35px;
	}
.nhsRequestInfoRight .nhsRequestSaveInfo input,
.nhsRequestNameBox .nhsRequestSaveInfo input {
	display: inline;
	width: 15px;
	float: left;
	margin: 0 2px 25px 124px;
	_margin: 0 2px 25px 119px;
	}
.nhsRequestInfoRight .nhsRequestSaveInfo input {
	margin-left: 10px;
	_margin-left: 8px;
	}
.nhsRequestInfoRight .nhsRequestSaveInfo label,
.nhsRequestNameBox .nhsRequestSaveInfo label {
	display: inline;
	width: 170px;
	float: left;
	text-align: left;
	}
.nhsRequestNameBox input.nhsRequestExtTxt {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestStateDrop {
	width: 50px;
	}
.nhsRequestNameBox .nhsRequestZipTxt {
	width: 50px;
	}
.nhsRequestNameBox input.nhsRequestCityEdit {
	width: 135px;
	}
.nhsRequestNameBox input.nhsRequestPhoneEdit {
	width: 150px;
	}
	
.nhsRequestNewValues {
	float: right;
	width: 390px;
	text-align: left;
	display: inline;
	border: 0px solid;
	}
.nhsRequestNewValues p {
	display: block;
	float: left;
	width: 390px;
	margin: 0;
	}
.nhsRequestNewValues label {
	display: block;
	float: left;	
	text-align: right;
	width: 192px;
	padding-right: 4px;
	}
	
.nhsRequestQuestions {
	float: right;
	width: 390px;
	text-align: left;
	display: inline;
	border: 0px solid;
	}
.nhsRequestQuestions p {
	display: block;
	float: left;
	width: 390px;
	}
.nhsRequestQuestions label {
	display: block;
	float: left;
	width: 250px;
	margin: 0 4px 0 0;
	text-align: left;
	}
.nhsRequestQuestions .nhsRequestComments {
	display: block;
	float: left;
	width: 140px;
	margin-right: 4px;
	text-align: right;
	}
.nhsRequestQuestions .nhsRequestComments label {
	display: block;
	float: none;
	margin: 0;
	width: 140px;
	}
	
/* Realtor Questions */
.nhsRequestRealtorQuestions {
	float: left;
	width: 760px;
	margin: 0 0 20px 40px;
	text-align: left;
	display: inline;
	}
.nhsRequestRealtorQuestions p {
	display: block;
	float: left;
	width: 700px;
	}
.nhsRealtorAgentLabel {
	margin-left: 20px;
	}
	
.nhsRequestPhoneComments {
	clear: both;
	float: left;
	width: 370px;
	margin-bottom: 5px;
	}
.nhsContent textarea.nhsRequestCommentBox {
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
	width: 315px;
	height: 65px;
	}
.nhsRequestLegalSubmit {
	clear: right;
	float: left;
	width: 375px;
	display: inline;	
	}
#nhsRequestInfoLogged .nhsRequestLegalSubmit {
	clear: both;
	}
#nhsRequestSubmitHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_3finish.gif) no-repeat 0 0;		
	}
#nhsRequestInfo .btnSubmit,
nhsRequestInfoLogged .btnSubmit {
	float: right;
	margin-bottom: 20px;
	}
	
/* =Register / Create Account */
#nhsReg fieldset,
#nhsRequestInfo fieldset,
#nhsRequestInfoLogged fieldset {
	margin: 0;
	padding: 5px 0;
	}
.nhsRegInfo {
	float: left;
	padding: 8px 0pt 0pt 10px;
	width: 327px;
	}
.nhsRegInfo ul {
	list-style-image: none;
	list-style-type: disc;	
	}
.nhsRegLoginLnk,
.nhsRequestUser {
	float: right;
	width: 280px;
	margin: 8px 5px 0 0;
	padding: 6px 10px;
	background: #f4f3e7;
	border: 1px solid #ccc;
	display: inline;
	text-align: center;
	}
#nhsRequestInfo .btnGetMyBrochure {

	}
.nhsRegContactLabel {
	float: left;
	clear: both;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;	
	}
.nhsRegContactInfo {
	float: left;
	display: block;
	margin: 0 15px 0 0;
	padding: 0;
	width: 160px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_1contact.gif) no-repeat 0 0;	
	}
.nhsRegQuestionsHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 162px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_2homeneeds.gif) no-repeat 0 0;		
	}
.nhsRegSubmitHead {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 30px;
	border: 0px solid #000;
	padding-top: 30px; height: 0px !important; 
	height /**/: 30px; overflow: hidden;
	background: url(/globalresources/default/images/request_3finish.gif) no-repeat 0 0;		
	}
.nhsRegAlertInfo {
	float: left;
	padding: 8px 0 0 10px;
	width: 670px;
	}
.nhsRegAlertInfo p {
	margin-left: 12px;
	}
.nhsRegAddAlert {
	float: left;
	padding: 0 0 0 10px;
	width: 670px;
	}
.nhsRegAddAlert h2 {
	margin-top: 0;
	}
.nhsRegAddAlert input {
	float: left;
	margin: 0 2px 10px 0;
	display: inline;
	}
.nhsRegAlertMoreOptions {
	float: left;
	width: 670px;
	background: #f4f3e7;
	margin: 0 0 0 10px;
	padding: 4px 0;
	}
.nhsRegAlertMoreOptions .nhsAlertSelect {
	width: 225px;
	}
.nhsRegAlertMoreOptions .nhsAlertName label {
	float: none;
	display: inline;
	}
.nhsRegAlertMoreOptions .nhsAlertName input {
	width: 300px;
	}
.nhsRegAlertMoreOptions input {
	width: 75px;
	}
#nhsReg .nhsRegAlertMoreOptions .nhsRequestInfoLeft {
	width: 327px;
	}
.nhsRegAlertMoreOptions label {
	display: block;
	float: left;
	width: 150px;
	margin: 0 4px 0 0;
	text-align: right;
	line-height: 1.5;
	}
.nhsRegAlertMoreOptions label  {
	width: 90px;
	}
	
/* Login */
.nhsRegLogin,
.nhsRequestLogin {
	float: right;
	width: 300px;
	margin: 8px 5px 0 0;
	padding: 0;
	border: 0;
	display: inline;
	}
#divPassiveUser {
	display: none;
	}
.nhsRegLogin fieldset,
.nhsRequestLogin fieldset,
.nhsRequestConfirmInfo {
	margin: 0;
	padding: 0;
	}
.nhsRequestConfirmInfo .btnEdit {
	width: 39px;
	}
	
.nhsRegLogin input,
.nhsRequestLogin input {
	width: 180px;
	margin-right: 8px;
	}
.nhsRegLoginFields,
.nhsRequestLoginFields {
	width: 300px;
	margin: 0;
	padding: 5px 0;
	background: #fff4ad;
	border: 1px solid #ccc;
	float: right;
	display: inline;
	}
.nhsContent .nhsRegLoginBtn,
.nhsContent .nhsRequestLoginBtn {
	margin-right: 10px;
	font-size: 80%;
	}
.nhsRegLoginBtn p,
.nhsRequestLoginBtn p {
	}
.nhsRegLogin .btnSignIn,
.nhsRequestLogin .btnSignIn {
	float: left;
	width: 75px;
	margin: 2px 5px 5px 94px;
	}
	
/* =Newsletter Signup */	
.nhsRegNewsBox {
	float: right;
	width: 337px;
	margin: 10px 0 0 0;
	}
.nhsRegNewsBox input {
	float: left;
	margin: 0 2px 10px 0;
	display: inline;
	}
#nhsRegMatchOptions .nhsCheckFirst input {
	float: left;
	margin: 0 2px 6px 0;
	display: inline;
	}
#nhsManageAccount .nhsRegNewsBox {	
	float: left;
	margin: 0;
	width: 365px;
	}
#nhsManageAccount h4 {
	color: #24619e;
	}
#nhsManageAccount h4 span {
	color: #333;
	font-size: 90%;
	font-weight: normal;
	margin-left: 15px;
	}
	
/* =Search Alerts */ /*
#nhsCreateAlert .nhsRegInfo {
	float: left;
	padding: 0px 0pt 0pt 10px;
	width: 670px;
	}
.nhsAlertLocationBox {
	float: left;
	margin: 0 0 0 5px;
	width: 332px;
	}
.nhsAlertLocationBox select {
	width: 150px;
	}
.nhsAlertLocationBox .nhsAlertChooseCity {
	padding: 2px 0 4px 30px;
	font-size: 120%;
	font-weight: bold;
	color: #3679ac;
	background: url(/globalresources/default/images/num_1.gif) no-repeat 0 0;	
	}
.nhsAlertStepSpan {
	font-size: 85%;
	font-weight: normal;
	color: #333;
	margin-left: 25px;
	}
.nhsAlertOptionsBox .nhsAlertChoosePrice {
	padding: 2px 0 4px 30px;
	font-size: 120%;
	font-weight: bold;
	color: #3679ac;
	background: url(/globalresources/default/images/num_2.gif) no-repeat 0 0;	
	}
.nhsAlertOptionsBox {
	float: left;
	width: 337px;
	margin-left: 5px;
	}
.nhsAlertMoreOptions {
	width: 337px;
	background: #f4f3e7;
	padding: 4px 0;
	}
.nhsAlertMoreOptions .nhsAlertSelect {
	width: 225px;
	}
.nhsAlertMoreOptions table td {
	font-size: 90%;
	}
.nhsAlertMoreOptions table label {
	float: none;
	display: inline;
	font-size: 90%;
	}
.nhsAlertOptionsBox .nhsAlertName label {
	float: none;
	display: inline;
	}
.nhsAlertOptionsBox .nhsAlertName input {
	width: 300px;
	}
.nhsAlertLegalSubmit {
	float: left;
	clear: both;
	width: 668px;
	}
.nhsAlertLegalSubmit .nhsAlertLegal {
	float: left;
	width: 650px;
	margin: 5px 0 0 8px;
	}
.nhsAlertSubmit {
	float: right;
	width: 337px;
	margin-top: 8px;
	} */

/* =Matchmaker */
#nhsRegMatchmakerBox {
	float: left;
	clear: both;
	width: 788px;
	margin: 0;
	padding: 0 5px;
	background: #e4ebf2;
	border: 1px solid #ccc;
	}
#nhsRegMatchCrit {
	float: left;
	width: 390px;
	}
#nhsRegMatchCrit select {
	width: 190px;
	}
#nhsRegMatchOptions {
	float: right;
	width: 390px;
	}
#nhsRegMatchImportant {
	margin: 10px 0 0 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
.nhsMatchBtns {
	text-align: right;
	padding-bottom: 10px;
	}
.nhsMatchBtns input {
	margin-left: 10px;
	}

#nhsMatchMore {
	position: relative;
	z-index: 999;
	}	
#nhsMatchInfoPop {
	position: absolute;
	top: 1.4em;
	left: -200px;
	z-index: 999;
	margin: 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #24619e;
	width: 250px;
	}
.nhsContent #nhsMatchInfoPop .nhsPopTitle {
	float: left;
	margin: 8px 6px 0 6px;
	font-weight: bold;
	}
.nhsContent #nhsMatchInfoPop .nhsPopMessage {
	float: left;
	margin: 10px 6px;
	}

	
/* =Leads */	
.nhsRequestBldrLead {
	float: left;
	width: 800px;
	margin: 10px 0;
	}
#nhsRequestBldrPref {
	float: left;
	margin: 0;
	padding: 5px;
	}
#nhsRequestImportant {
	float: left;
	margin: 0 0 0 20px;
	padding: 5px;
	background: #fff;
	border: 1px solid #7095ba;
	}
#nhsReg .nhsLegalText,
#nhsManageAccount .nhsLegalText,
#nhsRequestInfo .nhsLegalText,
#nhsRequestInfoLogged .nhsLegalText {
	float: left;
	clear: both;
	width: 670px;
	margin: 0;
	padding: 10px 0 10px 10px;
	}
#nhsReg .nhsRequestInfoLeft .nhsLegalText {
	width: 325px;
	}
#nhsRequestInfoLogged .nhsLegalText {
	width: 365px;
	}
#nhsReg .btnRegister {
	float: right;
	margin: 0 5px 2em 0;
	}
#nhsReg .nhsRegButtonArea,
#nhsManageAccount .nhsRegButtonArea {
	float: left;
	margin: .45em 0 0 0;
	padding: 0;
	width: 337px;
	}
#nhsReg .btnCreateAccountAlt {
	float: left;
	margin: 0 0 0 245px;
	_display: inline;
	}
.btnUpdate {
	/*float: right;
	clear: both;*/
	margin: 0 25px 2em 0;
	}
	
/* =Saved Tabs */
#nhsSavedItems h2 {
	float: left;
	}

.nhsSavedTabBar {
	float: left;
	border: 0px solid;
	width: 800px;	
	}
.nhsSavedTabBar p {
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	margin-bottom: 0;
	}
.nhsSavedTabBar p a {
	display: block;
	padding: 7px 0 6px 21px;
	background: transparent no-repeat scroll left center;
	}
	
.nhsSavedTabs {
    float: left;
    border: 0;
    margin: 10px 0 -1px 15px;
    padding: 0;
    position: relative;
    }
.nhsSavedTabs li,  
#nhs_PartnerContainer .nhsSavedTabs li {
    float: left;
    margin: 0 0 0 5px;
    padding: 0;	
    display: inline-block;
    }
.nhsSavedTabs li a, 
#nhs_PartnerContainer .nhsSavedTabs li a,
.nhsSavedTabs li strong, 
#nhs_PartnerContainer .nhsSavedTabs li strong {
    display: block;
    margin: 0;
    padding: 9px 14px 7px 14px;
    border: 1px solid #b5ceec;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #235e97;
    background-color: #f6f9fe; 
    border-radius: 4px 4px 0 0; 
    }
.nhsSavedTabs li.savedTabOn strong,
#nhs_PartnerContainer .nhsSavedTabs li.savedTabOn strong {
    border-bottom: 1px solid #fff; /* set border color to page background color */
    background-color: #fff !important;
    color: #333;
    cursor: default;
    }
.nhsSavedTabs li.savedTabOn strong:hover,
#nhs_PartnerContainer .nhsSavedTabs li.savedTabOn strong:hover {	
    cursor: default;
    }
.nhsSavedTabs a:link,
.nhsSavedTabs a:visited,
.nhsSavedTabs a:active,
#nhs_PartnerContainer .nhsSavedTabs a:link,
#nhs_PartnerContainer .nhsSavedTabs a:visited,
#nhs_PartnerContainer .nhsSavedTabs a:active {
    color: #235e97;
    }
.nhsSavedTabs a:hover,
#nhs_PartnerContainer .nhsSavedTabs a:hover {
    color: #75d1ea;
    text-decoration: none;
    }
    	
/*.nhsSavedTabs {
	float: left;
	position: relative;		
	margin: 10px 0 -1px 20px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	border: 0px solid;
	}
.nhsSavedTabs li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 8px 0 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	display: inline-block;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_right.gif) no-repeat top right;
	}
.nhsSavedTabs li a,
#nhsPartnerContainer .nhsSavedTabs li a {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_left.gif) no-repeat top left; 
	}
.nhsSavedTabs .savedTabOn,
#nhsPartnerContainer .nhsSavedTabs .savedTabOn {
	background: url(/globalresources/default/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #24619e;
	}
.nhsSavedTabs .savedTabOn strong {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	background: url(/globalresources/default/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #24619e;
	}
.nhsSavedTabs a:link,
.nhsSavedTabs a:visited,
.nhsSavedTabs a:active,
#nhsPartnerContainer .nhsSavedTabs a:link,
#nhsPartnerContainer .nhsSavedTabs a:visited,
#nhsPartnerContainer .nhsSavedTabs a:active {
	color: #fff;
	}
.nhsSavedTabs a:hover,
#nhsPartnerContainer .nhsSavedTabs a:hover {
	color: #ecda6a;
	text-decoration: none;
	}*/
	
.nhsSavedCheckBox input[type="checkbox"] {
    display: none;
}
.nhsSavedCheckBox input[type="checkbox"] + label {
    background: none repeat scroll 0 0 #fff;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
    display: inline-block;
    height: 0;
    overflow: hidden;
    padding: 25px 0 0;
    width: 25px !important;
}
.nhsSavedCheckBox input[type="checkbox"]:checked + label {
    background: url("/globalresourcesmvc/pro/images/icons/star.png") no-repeat scroll 50% 50% #fff;
    border: 1px inset #a8a8a8;
    border-radius: 3px;
    display: inline-block;
    height: 0;
    overflow: hidden;
    padding: 25px 0 0;
    width: 25px !important;
}	

/* =Saved Homes & Comms */
.nhsUpdateAccountLink {
	float: right;
	display: block;
	padding: 1px 0 2px 18px;
	background: transparent url(/globalresources/default/images/buttons/btn_63_forward.gif) no-repeat scroll left center;
	}
.nhsSavedHomeNum,
.nhsSavedCommNum,
.nhsRecentActions {
	float: left;
	width: 798px;
	margin: 0;
	padding: 5px 0 5px 0;
	background-color: #fff;
	border: 1px solid #9ab1ca;
	border-width: 0 1px 2px 1px;
	border-bottom-color: #24619e;
	}
.nhsSavedCommNum,
.nhsRecentActions {
	border-top-width: 1px;
	}
#nhsSavedAlertsContent .nhsSavedCommNum {
	width: 598px;
	}
#nhsSavedItems #nhsSavedAlertsContent .nhsCommResultsRow,
#nhsSavedItems #nhsSavedAlertsContent .nhsCommResultsRowOn {
	width: 596px;
	}
#nhsSavedItems #nhsSavedAlertsContent .nhsCommResultsInfo1 {
	width: 200px;
	}
#nhsSavedItems #nhsSavedAlertsContent .nhsSavedRemoveLink {
	width: 595px;
	}
#nhsSavedItems .btnFreeBrochure {
	float: right;
	}
.nhsSavedTabBottom {
	float: left;
	width: 798px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #9ab1ca;
	}
.nhsContent .nhsSavedHomeNum h3,
.nhsContent .nhsSavedCommNum h3,
.nhsContent .nhsRecentActions h3 {
	float: left;
	margin: 0 5px;
	padding: 0;
	}
.nhsContent .nhsSavedHomeNum p,
.nhsContent .nhsSavedCommNum p {
	float: right;
	margin: 0 3px 0 5px;
	padding: 0;
	font-size: 85%;
	text-align: center;	
	}
.nhsContent .nhsRecentActions p {
	float: right;
	width: 55px;
	margin: 0 3px 0 5px;
	padding: 0;
	font-size: 85%;
	text-align: center;
	}
#nhsSavedItems .nhsResultsMapLink,
#nhsSavedItems a.nhsResultsMapLink {	
	width: 8.3em;
	}	
#nhsSavedItems .nhsHomeResultsInfo,
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;	
	width: 660px;
	}
#nhsRecentItems .nhsHomeResultsInfo {
	float: left;
	width: 500px;
	}
#nhsSavedItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsSavedItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 350px;
	}
#nhsRecentItems .nhsHomeResultsRow .nhsHomeResultsInfo h3,
#nhsRecentItems .nhsHomeResultsRowOn .nhsHomeResultsInfo h3 {
	width: 255px;
	border: 0px solid;
	}
.nhsSavedCheckBox {
	float: right;
	width: 32px;
	padding: 25px 0;
	text-align: center;
	}
.nhsRecentRadios {
	float: right;
	width: 200px;
	padding: 25px 0;
	text-align: right;	
	}
.nhsRecentRadios span {
	float: right;
	display: block;
	width: 55px;
	margin: 0 3px 0 5px;
	padding: 0;
	text-align: center;
	}
.nhsRecentRadios input {
	margin: 0;
	padding: 0;
	}
.nhsSavedRemoveLink {
	float: left;
	width: 795px;
	padding: 4px 5px 8px 0;
	border-top: 1px solid #7095ba;
	text-align: right;
	}

/* =Saved Comms */
#nhsSavedItems .nhsCommResultsRow {
    width: 796px;
    padding: 6px 2px;
    }
#nhsSavedItems .nhsCommResultsRowOn {
	width: 796px;
	padding: 5px 0 4px 0;
	}
#nhsSavedItems .nhsCommResultsInfo1 {
	float: left;
	width: 400px;
	}
#nhsSavedItems .nhsCommResultsInfo2 {
	float: left;
	width: 260px;
	text-align: right;
	}
#nhsSavedItems p.nhsResultsPrice {
	font-size: 115%;
	}
	
/* =Saved Alerts */
.nhsSavedAlertsMenu {
	float: left;
	width: 190px;
	padding-top: 10px;
	border: 0px solid;
	text-align: right;
	}
.nhsSearchAlertsText {
	text-align: left;
	}
.nhsSavedAlertsMenu .nhsAlertOn {
	padding-right: 10px;
	font-weight: bold;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat right 50%;
	}
#nhsSavedAlertsContent {
	float: right;
	width: 600px;
	border: 0px solid;
	}
.nhsSavedAlertsInfo h3 a {
	font-size: 90%;
	margin-left: 25px;
	}
.nhsAlertMoreOff {
	padding: 0 10px 0 0;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat right 50%;
	}
.nhsAlertMoreOn {
	padding: 0 10px 0 0;
	background: url(/globalresources/default/images/blue_arrow_down.gif) no-repeat right 50%;
	}
	
/* =Send to Friend 
#nhsSendFriendRows {
	float: left;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #e4ebf2;
	}
#nhsSendFriend ol {
	margin: 0;
	padding: 0 0 0 25px;
	}
#nhsSendFriend fieldset p {
	margin: .85em 0 .25em 0;
	}
#nhsSendFriend .nhsSendFriendLabels {
	margin-left: 25px;
	}
.nhsSendFriendLabels span {
	display: block;
	margin-bottom: 4px;
	}
.nhsSendFriendButtons {
	float: left;
	width: 350px;
	margin: 0 0 20px 0;
	text-align: right;
	}
.nhsSendFriendButtons .btnSubmit {
	margin-left: 30px;
	}
#nhsModalPage .nhsSendFriendButtons {
	margin: 0;
	}
#nhsModalPage #nhsSendFriend {
	width: 400px;
	} */

/* =Thank You */
.nhsRegThanksBox {
	width: 550px;
	margin: 10px auto 0 auto;
	padding: 5px;	
	background: #fff4ad;	
	border: 1px solid #ccc;
	text-align: center;
	}
	
/* =Request Thanks */
#nhsRequestThanks {
	background: #fff url(/globalresources/default/images/backgrounds/bg_request_box.gif) repeat-x 0 -10px;
	}
#nhsRequestThanks h2,
#nhsRequestThanks h3 {
	margin-bottom: .35em;
	padding-left: 16px;
	font-size: 130%;
	}
#nhsRequestThanks .nhsModalHeader {
	font-size: 18px;
	padding: 3px 0 3px 10px;
	margin-left: 10px;
	width: 660px;
	}
#nhsRequestThanks ul {
	margin: 0 0 .85em 18px;
	list-style-type: disc;
	list-style-image: none;
	}
#nhsPartnerContainer #nhsRequestThanks p {
	margin-left: 16px;
	}

.nhsRequestThanksAccount {
	float: left;
	clear: both;
	width: 760px;
	margin: 0 0 10px 10px;
	padding: 10px;
	background: #fff4ad;
	border: 1px solid #ccc;
	display: inline;
	}
#nhsReqThanksCol1 {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	width: 230px;
	d\isplay: inline;
	}
#nhsReqThanksCol1 ul {
	margin: 0 0 .45em 0;
	padding-left: 15px;	
	list-style-type: none;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	}
#nhsReqThanksCol1 .nhsBackBtn {
	display: block;
	margin: 0;
	padding: 2px 0 2px 22px;
	font-weight: bold;
	text-decoration: none;	
	background: url(/globalresources/default/images/buttons/btn_63_back.gif) no-repeat center left;
	}
#nhsReqThanksCol1 .nhsForwardBtn {
	display: block;
	margin: 0;
	padding: 2px 0 2px 22px;
	background: url(/globalresources/default/images/buttons/btn_63_forward.gif) no-repeat center left;
	}
.nhsReqThanksCol2 {
	float: right;
	width: 400px;
	margin: 0 8px 10px 0;
	padding: 0 10px 10px 10px;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	d\isplay: inline;
	}
.nhsReqThanksCol2 .nhsSpotlightItem {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	width: 125px;
	overflow: hidden;
	border: 0px solid;
	}
.nhsReqThanksCol2 .nhsSpotlightItem div { /* small shadow */
	width: 82px;
	height: 63px;
	background: url(/globalresources/default/images/sm_shadow.gif) no-repeat left top;
	}
.nhsReqThanksCol2 .nhsSpotlightItem img {
	width: 75px;
	height: 58px;
	}
.nhsReqThanksRecommendTitle,
.nhsReqThanksComms,
.nhsReqThanksHomes,
.nhsReqThanksBroch,
.nhsReqThanksBox {
	float: left;
	margin: 6px 0 0 0;
	padding: 0;
	}
.nhsReqThanksBroch p {
	float: left;
	margin: 8px 0;
	padding: 0;
	width: 280px;
	}	
.btnGetFreeBrochures {
	float: left;
	margin: 8px 0;
	}
.nhsReqThanksRecommendTitle h4 {
	float: left;
	width: 300px;
	}
.nhsReqThanksRecommendTitle img {
	float: right;
	margin: .65em 0;
	padding: 5px;
	background: #fff;
	}
.nhsReqThanksBox {
	background: #fff;
	width: 378px;
	padding: 5px 10px;
	border: 1px solid #000;
	}

/* =Narrow */
.nhsNarrowList {
	list-style-type: none;
	}
.nhsNarrowList li {
	float: left;
	margin: .25em 0 0 0;
	width: 800px;
	}
.nhsNarrowList li label,
.nhsNarrowList li input {
	float: left;
	}
.nhsNarrowList li label strong {
	float: left;
	width: 500px;
	}
.nhsNarrowBtn {
	width: 800px;
	padding: 5px 0;
	text-align: right;
	}

/***** FACEBOOK *****/
.fb_green_modal_wrapper {
    float:left;
    clear:left;
    width:100%;
    margin:20px 0 10px 0;
    }		
.fb_green_modal_wrapper .ft_btn {
    width:auto;
    float:right; 
    display:inline;
    margin:25px 40px 0 0;   
    }
.fb_green_modal_wrapper .ft_signin {
    /*width:60%;*/
    float:right;
    display:inline;
    margin:20px 20px 0 0;
    }
.or {
    background: url(/globalresourcesmvc/newhomesource/images/backgrounds/or.gif) no-repeat left top;
    width:13px; 
    height:140px;
    vertical-align:middle;
    float:right;
    display:inline;
    }
.fb_green_modal {
    width:570px !important;
    }
.fb_horizontal_yellow {
    float:left;
    width:160px;
    margin:0 0 5px 70px;
    }
.or_horizontal {
    background: url(/globalresourcesmvc/newhomesource/images/backgrounds/or_horizontal.gif) no-repeat 50% top;
    width: 100%;
    height: 7px;
    vertical-align: middle;
    float: left;
    display: block;
    margin: 10px 0;
    }
 .fb_btn {
     margin-left:70px;
     float:left;
     }
/***** end FACEBOOK *****/
