/* ---------------------------------------------
Title:      NewHomeSource.com Search Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Sept 10 2010
----------------------------------------------- */

/* =Basic Search */
.nhsBasicBox {
	float: left;
	width: 446px;
	margin: 0 0 10px 0;
	padding: 0 10px 10px 10px;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	}
.nhsBasicBox h2 {
	margin: 0 -10px;
	padding: 8px 0 5px 12px;
	color: #fff;
	border-bottom: 1px solid #24619e;
	background-color: #7095ba;
	}
.nhsBasicBox h3 {
	color: #24619e;
	}
.nhsBasicForm p {
	display: block;
	float: left;
	width: 446px;
	height: 2em;
	margin: 0 0 .45em 0;
	padding: 0 0 0 0;
	border: 0px solid;
	}
.nhsBasicForm label {
	display: block;
	float: left;
	width: 7em;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;	
	}
.nhsBasicMore ul {
	float: left;
	width: 446px;
	margin: 0 0 8px 0;
	padding: 0;
	list-style-type: none;
	}
.nhsBasicMore ul li {
	float: left;
	margin: 0 12px 0 0;
	padding: 0;
	display: inline;
	}
.nhsBasicSpot {
	float: left;
	width: 790px;
	margin: 0 0 0 10px;
	padding: 0;
	display: inline;
	}
.nhsBasicSpot .nhsSpotDesc {
	float: left;
	width: 140px;
	margin: 10px 10px 0 0;
	padding: 0;
	display: inline;
	}
.nhsBasicSpot .nhsSpotlightItem {
	float: left;
	width: 145px;
	}
.nhsBasicAd {
	float: right;
	width: 302px;
	padding: 20px 14px 0 14px;
	border: 0px solid #000;
	overflow: hidden;
	}
	
/* =Basic - custom for LasVegasReviewJournal */
.nhsBasicBoxLVRJ {
	float: left;
	width: 290px;
	margin: 10px 0 0 0;
	}
.nhsContent .nhsBasicBoxLVRJ p {
	display: block;
	float: left;
	width: 290px;
	margin: 0 0 .45em 0;
	}
.nhsContent .nhsBasicBoxLVRJ label {
	display: block;
	float: left;
	width: 11em;	
	margin: 0 6px 0 0;
	text-align: right;	
	}	

/* =Advanced Location */	
.nhsAdvLocation,
.nhsAdvFeatLeft {
	float: left;
	width: 340px;
	}
.nhsContent .nhsAdvLocation p {
	display: block;
	float: left;
	width: 340px;
	margin: 0 0 .45em 0;
	}
.nhsContent .nhsAdvFeatures p {
	display: block;
	float: left;
	width: 340px;
	margin: 0 0 .45em 0;
	}
.nhsContent .nhsAdvFeatRight p {
	width: 445px;
	}
.nhsAdvLocation label,
.nhsAdvFeatLeft label {
	display: block;
	float: left;
	width: 7em;	
	margin: 0 6px 0 0;
	text-align: right;	
	}
.nhsAdvLocation .label {
	display: block;
	width: 7em;
	text-align: right;
	}
input, select {
	vertical-align: middle;
	}

/* =Advanced Amenities */	
.nhsAdvAmenities,
.nhsAdvFeatRight {
	float: right;
	width: 445px;
	}
.nhsContent .nhsAdvAmenities p {
	display: block;
	float: left;
	width: 445px;
	margin: 0 0 .45em 0;
	}
.nhsAdvAmenities .nhsSchoolFldSet label,
.nhsAdvFeatRight label {
	display: block;
	float: left;
	width: 9em;	
	margin: 0 6px 0 0;
	text-align: right;
	}
.nhsContent .nhsAdvAmenities .label {
	display: block;
	float: left;
	width: 9em;	
	margin: 0 6px 0 0;
	padding: 0;
	text-align: right;
	}
.nhsAdvAmenList {
	display: block;
	float: left;
	}

.nhsAdvFeatures {
	clear: both;
	margin: 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #7095ba;
	}
.nhsAdvCommunity,
.nhsAdvBuilder {
	width: 315px;
	}
	
.nhsAdvButtonsLeft {
	display: block;
	float: left;
	margin: 0;
	padding: 20px 0 0 20px;
	}
.nhsAdvButtonsRight {
	float: right;
	text-align: right;
	}
	
.nhsContent .nhsAdvStatusOffer .label {	
	display: block;
	float: left;
	width: 9em;	
	margin: 0 6px 0 0;
	padding: 0;
	text-align: right;
	}
.nhsContent .nhsAdvStatusOffer label {
	display: inline;
	float: none;
	}
.nhsAdvStatusList {
	display: block;
	float: left;
	}
	
/* =Custom BOYL Search */
#nhsCustomBoylDesc {
	margin-bottom: 20px;	
	}	
.nhsCustomSearch1 {
	float: left;
	width: 300px;
	padding-right: 10px;
	border-right: 1px solid #e4ebf2;
	}
.nhsCustomSearch2 {
	float: right;
	width: 480px;
	}
.nhsCustomBox {
	float: left;
	width: 300px;
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	}
.nhsCustomBox .btnFindBuilders {
	float: right;
	margin: 0 25px 5px 0;
	}
.nhsCustomBox label {
	display: block;
	float: left;
	width: 75px;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;		
	}
.nhsCustomBox .label {
	display: block;
	width: 72px;
	margin: 4px 0;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;			
	text-align: right;
	}
.nhsContent .nhsCustomBox fieldset p {
	display: block;
	float: left;
	width: 300px;
	margin: 0 0 .45em 0;
	}
.nhsCustomAreaSelect {
	width: 200px;
	}
.nhsCustomBox .nhsError {
	margin-left: 5px;
	}
.nhsCustomSearch1 ul {
	list-style-type: square;
	padding-left: 20px;
	}
	
/* =Mortgage Calculator */
#nhsMortgageCalc h1 {
	font-size: 125%;
	}
#nhsMortgageCalc h2 {
	font-size: 100%;
	font-weight: normal;
	}
.nhsCalculatorBox {
    float: left;
	width: 300px;
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	}
.nhsContent .nhsCalculatorBox fieldset p {
	display: block;
	float: left;
	width: 300px;
	margin: 0 0 .45em 0;
	}
.nhsCalculatorBox label {
	display: block;
	float: left;
	width: 145px;	
	margin: 0 6px 0 0;
	_margin-right: 2px;
	text-align: right;
	color: #24619e;
	font-size: 100%;
	font-weight: bold;		
	}
.nhsCalculatorBox .label,
.nhsCalculatorBox .value {
	display: block;
	float: left;
	width: 145px;
	margin: 2px 0;
	color: #24619e;
	font-size: 100%;
	font-weight: bold;			
	text-align: right;
	}
.nhsCalculatorBox .value {	
	color: #000;	
	}
.nhsCalculatorBox input {
    width: 85px;
	}
.nhsCalculatorBox .btnCalculate {
	float: right;
	margin: 6px 25px 0 0;
	}

/* =Quick Move Search */
	
.nhsQuickMove1 {
	float: left;
	width: 350px;	
	}
.nhsQuickMove2 {
	float: right;
	width: 430px;
	padding-left: 10px;
	border-left: 1px solid #e4ebf2;
	}
.nhsQuickMoveBox {
	float: left;
	width: 350px;
	margin: 0 0 20px 0;
	padding: 0;
	border: 1px solid #24619e;
	background-color: #e4ebf2;
	}
.nhsQuickMoveBox .btnFindHomes,
#nhsPartnerContainer .nhsQuickMoveBox .btnFindHomes {
	float: right;
	margin: 0 25px 5px 0; 
	}
.nhsQuickMoveBox label {
	display: block;
	float: left;
	width: 115px;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;		
	}
.nhsQuickMoveBox .label {
	display: block;
	width: 112px;
	margin: 4px 0;
	color: #24619e;
	font-size: 120%;
	font-weight: bold;			
	text-align: right;
	}
.nhsContent .nhsQuickMoveBox fieldset p {
	display: block;
	float: left;
	width: 350px;
	margin: 0 0 .45em 0;
	}
.nhsCustomAreaSelect {
	width: 200px;
	}
.nhsQuickMoveBox .nhsError {
	margin-left: 5px;
	}
.nhsQuickMove1 ul {
	list-style-type: square;
	padding-left: 20px;
	}
	
/* =Deals Search & =Green Search */
.nhsDealsBox,
.nhsGreenBox {
	float: left;
	width: 471px;
	height: 148px;
	padding-top: 100px;
	background: url(/globalresources/default/images/backgrounds/bg_hot_deals_search.gif) no-repeat top left;
	}
.nhsDealsBox label,
.nhsGreenBox label {
	display: block;
	float: left;
	width: 135px;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #ef5920;
	font-size: 120%;
	font-weight: bold;		
	}
.nhsDealsBox .label,
.nhsGreenBox .label {
	display: block;
	width: 112px;
	margin: 4px 0;
	color: #ef5920;
	font-size: 120%;
	font-weight: bold;			
	text-align: right;
	}
.nhsGreenBox label {
	color: #62a100;
	}
.nhsDealsBox fieldset,
#nhsPartnerContainer .nhsDealsBox fieldset,
.nhsGreenBox fieldset,
#nhsPartnerContainer .nhsGreenBox fieldset {
	margin: 0;
	}
.nhsContent .nhsDealsBox fieldset p,
.nhsContent .nhsGreenBox fieldset p {
	display: block;
	float: left;
	width: 450px;
	margin: 0 0 8px 0;
	}
.nhsSpotHotDealsTitle span {
	color: #ef5920;
	}
.nhsDealsBox .btnFindDeals,
#nhsPartnerContainer .nhsDealsBox .btnFindDeals,
.nhsGreenBox .btnFindHomes,
#nhsPartnerContainer .nhsGreenBox .btnFindHomes {
	margin-left: 140px;
	margin-top: 8px;
	}
.nhsHotDealsCol1 {
	float: left;
	width: 250px;
	margin: 10px 0 0 0;
	border: 0px solid;
	}
.nhsHotDealsCol2 {
	float: right;
	width: 510px;
	margin: 10px 0 0 0;
	padding: 0 10px 0 0;
	border: 0px solid;
	}
.nhsHotDealsCol1,
.nhsHotDealsCol2 {
	line-height: 1.5em;	
	}
.nhsHotDealsCol1 p,
.nhsHotDealsCol2 p {
	margin: 10px 0;
	}
	
/* =Green Search */
.nhsGreenBox {
	background: url(/globalresources/default/images/backgrounds/bg_green_living_search.gif) no-repeat top left;
	}
.nhsSpotGreenTitle span {
	color: #62a100;
	}
.nhsSpotGreenTitle span.nhsSpotGreenTitleSub  {
	color: #333;
	font-weight: normal;
	}
.nhsGreenCol1 {
	float: left;
	width: 250px;
	margin: 10px 0 0 0;
	border: 0px solid;
	}
.nhsGreenCol2 {
	float: right;
	width: 510px;
	margin: 10px 0 0 0;
	padding: 0 10px 0 0;
	border: 0px solid;
	}
.nhsGreenCol1,
.nhsGreenCol2 {
	line-height: 1.5em;	
	}
.nhsGreenCol1 p,
.nhsGreenCol2 p {
	margin: 10px 0;
	}

/* =Location Handler */
#nhsLocationHandler li {
	margin: 0;
	}
.nhsLocationCity {
	float: left;
	margin: 0 0 15px 0;
	}	
.nhsLocationCity ul {
	float: left;
	margin-right: 20px;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);	
	}
.nhsLocationZip {
	float: left;
	width: 300px;
	margin: 0 0 15px 0;
	}	
.nhsLocationZip ul {
	float: left;
	margin-right: 20px;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);	
	}	
.nhsLocationMarket {
	float: left;
	margin: 0 0 15px 0;
	}	
.nhsLocationMarket ul {
	float: left;
	margin-right: 20px;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);	
	}	
#nhsLocationAd {
	float: right;
	margin: 10px 0 10px 0;
	width: 302px;
	}	
#nhsLocationHandler .nhsGroupingBar {
	width: 786px;
	font-size: 135%;
	margin: 0;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}

/* Location Handler Search */
#nhsLocationSearchArea {
    float: left;
    width: 480px;
	margin: 10px 0 0 0;
    }
.nhsNoMatchSearch label {
	display: block;
	float: left;
	width: 80px;
	margin: 0;
	padding: 0 5px 0 0;
	text-align: right;
	}
#nhsLocationSearchArea p {
    float: left;
    margin: 0;
    padding: 0;
    }
#nhsLocationSearchArea .locationField {
	background: #fff;
    border: 1px solid #666;
    border-right: 0;
    display: inline;
    float: left;
    font-size: 116%;
    height: 17px;
    margin: 1px 0 0 0;
    padding: 6px 0 6px 5px;
    width: 325px;
	}
#nhsLocationSearchArea select {
	width: 150px;
	border: 1px solid #666;
	margin: 10px 25px 0 0;
	padding: 0;
	display: inline-block;
    font-size: 100%;
	}
.nhsNoMatchSearch select {
	width: 150px;
	}
.nhsNoMatchSearch .btnSearchAgain {
	float: right;
	}
.nhsLocationTips {
	float: right;
	width: 540px;
	}
.search_tips { display: block; float:left; clear:left; }
	
/* No Match Search */
.nhsNoMatchSpot {
	float: left;
	width: 134px;	
	background: transparent url(/globalresources/default/images/bluebox_w134_top.gif) no-repeat left top;	
	}
.nhsContent .nhsNoMatchSpot h3 {
	margin: 5px 5px 0 5px;
	color: #24619e;
	}

#nhsNoMatch ul {
	margin-bottom: 10px;
	padding-left: 20px;
	list-style-image: url(/globalresources/default/images/blue_arrow.gif);
	}
#nhsNoMatchMain {
	float: right;
	width: 655px;
	}
#nhsNoMatch .nhsGroupingBar {
	width: 626px;
	margin: 10px 0;
	background: #0E388F url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;
	}
.nhsNoMatchSearch {
	float: left;
	width: 240px;
	margin: 0;
	}
.nhsNoMatchSearch .nhsNoMatchLinkAdv {
	float: right;
	width: 240px;
	margin: 10px 0 0 0;
	text-align: right;
	}
.nhsNoMatchAd {
	float: right;
	margin-top: 10px;
	}
	
legend {
	display: none;
	}	

/* Quick Connect Search */	
#nhsQuickConnectContent {width:970px;margin:0;}
#nhsQuickConnectContent label,
.infoBlocksA label {
	color:#24619E;	
	font-size:120%;
	font-weight:bold;	
	}
.nhsQuickConnectRadius {-moz-border-radius:4px; border-radius:4px;}
.nhsContent .nhsQuickConnect {margin:0; padding:0 15px;}
.nhsQuickMoveLocation {width:70%; padding:20px 0 20px 40px; *padding-bottom:0; float:left;}
.nhsQuickConnectFooterLinks {width:70%; padding:20px 0 20px 40px; *padding-bottom:0; float:left;}
.whereIsLocation { float:left; width:350px; height:70px; height:70px; margin:0;}
.locationBlocks { width:225px; float:left; display:inline;}
.nhsPriceSliderRange p {font-size:10px;}
p.contactInfoRequired { font-size:10px; font-style:italic; margin: -10px 0 10px 0;}
.infoBlocks {width:49%; float:left; display:inline; height:70px;}
.infoBlocksA {width:65%; float:left; display:block; height:auto;}
.infoBlocksB {width:49%; float:left; display:inline; height:50px;}
.qCprivacy {clear:both; display:block; font-size:10px; font-style:italic; padding:10px 0;margin:0 auto;text-align:center;}
.qCform {border:solid 1px #999; padding:3px 5px; width:250px;}
.qCformSelct {border:solid 1px #999;width: 120px;}	
.demoThumb { width:200px; height:141px; background-color:#d6d6d6; margin-bottom:30px;}

.nhsQuickConnectTitle {float:left;	width:75%;	margin:0 1% 6px 1%;	padding:6px 0; border:1px solid #999; 	background:#dfdfde url(/globalresources/default/images/backgrounds/bg_63_personal_bar.gif) repeat-x top left;}
.nhsQuickConnectRightCol {width:210px; float:right;}

.nhsQuickConnectSteps {
	float:left; 
	clear:left; 
	color:#fff; 
	border:1px solid #16365d;
	border-width: 1px 0 1px 1px; 
	font-weight:bold; 
	background-color:#90B2E2;
	margin: 0 0 10px 0;
	width: 747px;
	}
.nhsQuickConnectSteps ul {padding:0; margin:0;} 
.nhsQuickConnectSteps ul li {
	float: left; 
	display: inline; 
	list-style: none outside none; 
	width: 248px; 
	text-align: center; 
	vertical-align: middle; 
	padding: 5px 0; 
	border-right: 1px solid #16365d;
	}
.qCactive {background-color:#16365d;}
.nhsQCResListColumn .nhsQuickConnectSteps {
	width: 522px;
	margin: 0;
	}
.nhsQCResListColumn .nhsQuickConnectSteps ul li {
	width: 173px;
	}

/*TYPEAHEAD

.ui-autocomplete {	
	border: 1px solid #000;
	background-color: #fff;
	max-height: 160px;
	width: 270px;
	overflow: auto;
	margin: 0;
	padding: 0;	
	font-size: 93%;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;	
	text-align:left;
	}
.nhsGlobalNavBox .ui-autocomplete {
    font-size: 116%;
    }
	
.ui-autocomplete li {
    display:block;
	margin: 0;
	padding: 0;		
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
.ui-autocomplete li a {
	display: block;
	padding: 5px !important;
	color: #000; 
	text-decoration:none;
	cursor:pointer;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
.ui-autocomplete li a:hover {
	text-decoration: none;
	}
.ui-autocomplete li a#ui-active-menuitem {
	font-weight: bold;
	background: #9dbce3;
	color: #fff;
	border: 0;
	}	*/
	
	/*Home Markets in QuickConnect page*/
#nhsQuickConnectHomeMarkets {
	float: left;
	width: 910px;
	margin: 30px -10px 0 -10px;
	padding: 25px 40px 25px 40px;
	border-top: 1px solid #edece8;
	background: #fdfcf8 url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_homepage_markets.png) repeat-x left top;
	}
	
#nhsQuickConnectHomeMarketsText {
	font-size: 100%;
	font-weight: normal;
	color: #333;
	}
#nhsQuickConnectHomeMarketsText span {
	font-weight: bold;
	color: #ca2931;
	padding-right: 10px;
	}
#nhsQuickConnectHomeMarkets ul {
	float: left;
	width: 215px;
	list-style-type: none !important;
    list-style-image: none !important;
	margin: 0;
	padding: 25px 0 0 10px;
	font-size: 85%;
	}
#nhsQuickConnectHomeMarkets ul li {
	margin-bottom: 3px;
	}
#nhsQuickConnectHomeMarkets a,
#nhsQuickConnectHomeMarkets a:link,
#nhsQuickConnectHomeMarkets a:visited,
#nhsQuickConnectHomeMarkets a:active {
	color: #444;
	text-decoration: none;
	}
#nhsQuickConnectHomeMarkets a:hover {
	color: #003366;
	text-decoration: underline;
	}