﻿/* ---------------------------------------------
Title:      NewHomeSource.com Site Index Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Feb 1 2012
----------------------------------------------- */

.nhsIndexContent,
.nhsIndexContent2 {
	float: left;
	width: 800px;
	}
.nhsIndexTitle {
	width: 550px;
	float: left;
	}
/* nhsIndexContent only on pages before July 07 
.nhsIndexContent p,
.nhsIndexContent h2,
.nhsIndexContent h4,
.nhsIndexContent h5,
.nhsIndexContent h6,
.nhsIndexContent ul {
	margin: 0 0 .65em 1em;
	} */
.nhsIndexContent a,
.nhsIndexContent a:link,
.nhsIndexContent2 a,
.nhsIndexContent2 a:link {
	text-decoration: none;
	}
.nhsIndexContent a:hover,
.nhsIndexContent2 a:hover {
	text-decoration: underline;
	}
.nhsIndexContentTop h1 {
	font-size: 175%;
	margin: 0 0 .25em 0;
	padding: 0;
	} 
/* nhsIndexContent2 for July 07 pages */
.nhsIndexContent2 .nhsIndexParagraph {
	margin: 0.25em 0pt 0.45em;
	padding: 0;
	font-size: small;
	font-weight: normal;
	}
.nhsIndexSpotlight .nhsNoMatchSpot #nhsIndexSpotlightHeading {
	font-size: 105%;
	margin: 5px 5px 0 5px;
	color: #24619e;
	}		
.nhsIndexSpotlight .nhsNoMatchSpot #nhsIndexSpotlightHeading .nhsIndexSpotlightHotHeading {	
	color: #de5401;
	}
.nhsIndexContentTop {
	float: left;
	width: 790px;
	margin: 5px;
	padding: 0;
	text-align: left;
	display: inline; /* IE double margin fix */
	}
#nhsIndexLogo {
	width: 220px;
	padding: 5px 0;
	float: right;
	}
#nhsIndexLogo img {
	padding-bottom: 5px;
	}
#nhsIndexContentLeft,
.nhsIndexContentLeftAlt {
	width: 383px; /*465px;*/
	float: left;
	margin: 5px 0 0 0;
	padding: 0 0 10px 5px;
	}
.nhsIndexContentLeftAlt {
	width: 134px;
	}
#nhsIndexContentLeftTop {
	float: left;
	margin: 0;
	padding: 0 0 10px 0;
	background-color: #e4ebf2;
	}
#nhsIndexContentRight,
.nhsIndexContentRightAlt {
	width: 383px; /*465px;*/
	float: left;
	margin: 5px 0 0 5px;
	padding: 0 0 10px 0;
	text-align: left;
	_display: inline;
	}
.nhsIndexContentRightAlt {
	width: 631px; /*796px;*/
	}
#nhsIndexContentRight ul {
	float: left;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 5px;
	}
#nhsIndexContentRight table {
	float: left;
	}
.nhsIndexBox {
	float: left;	
	margin: 0 0 5px 0;
	padding: 0;
	position: relative;
	width: 100%;
	}
.nhsIndexBox2 {
	float: left;	
	margin: 0 0 5px 0;
	padding: 0;
	position: relative;
	width: 395px; /*550px;*/
	}
.nhsIndexBox3 {
	float: right;	
	margin: 0 0 5px 0;
	padding: 0;
	position: relative;
	width: 230px; /*240px;*/
	}
.nhsIndexBox4 {
	float: left;	
	margin: 0 0 5px 5px;
	padding: 0;
	position: relative;
	width: 940px;
	_display: inline;
	}
.nhsIndexForm {
	width: 200px; /*256px;*/
	}
.nhsIndexBox fieldset {
	float: left;
	width: 200px; /*256px;*/
	}
.nhsIndexBox .nhsIndexForm .btnFindHomes {
	margin-left: 120px;
	}
.nhsIndexBox .nhsIndexForm .find_homes {
    margin-left: 50px;
    }
.nhsIndexForm p {
	display: block;
	width: 192px; /*248px;*/
	height: 1.6em;
	margin: 0 0 .45em 0;
	padding: 0 0 0 ;
	}
.nhsIndexForm label {
	display: block;
	float: left;
	width: 5em;	
	margin: 0 6px 0 0;
	text-align: right;
	color: #24619e;
	font-size: 105%;
	font-weight: bold;	
	}
.nhsIndexForm .nhsIndexAreaSel {
	width: 105px; /*160px;*/
	}
.nhsIndexMap {
	float: left;
	width: 26%;
	margin: 0;
	padding: 0 0 5px 18px;
	text-align: center;
	}
.nhsIndexMap img {
	border: 1px solid;
	max-width: none;
	}
.nhsIndexBldrLogo {
	float: right;
	margin: 0;
	padding: 0 8px 0 0;
	width: 33%;
	text-align: right;
	}	
.nhsIndexBldrLogo p {
	text-align: right;
	}
.nhsIndexContentRightAlt .nhsIndexBldrLogo ul {
	margin: 15px 0 0 0;
	width: 98%;
	text-align: left;
	}
.nhsIndexContentRightAlt ul.nhsIndexLinks {
	margin: 0;
	width: 98%;
	text-align: left;
	}
.nhsIndexContentRightAlt .nhsIndexBldrLogo ul li {
	margin: 5px 0 0 0;
	}
ul.nhsIndexLinks li.nhsIndexHotLink {
	background: transparent url(/globalresources/default/images/orange_arrow.gif) no-repeat scroll left 5px;	
	}
ul.nhsIndexLinks li.nhsIndexHotLink a {
	color: #de5401;
	font-weight: bold;
	}

.nhsIndexInnerBox,
.nhsIndexInnerBox2 {
	float: left;
	margin: 5px 0 5px 3px;
	padding: 4px;
	width: 605px; /*770px;*/
	border: 1px solid #7095ba;
	display: inline;
	background: #fff;
	}
	
.nhsIndexStGolfCourse,
.nhsIndexStWaterfront,
.nhsIndexStCondoTown {
	float: left;
	margin: 0 0 5px 5px;
	padding: 0 0 0 0;
	width: 193px; /*248px;*/
	height: 45px;
	border: 0px solid;
	display: inline;
	}
.nhsIndexStGolfCourse a,
.nhsIndexStWaterfront a,
.nhsIndexStCondoTown a {
	float: left;
	margin: 0 0 5px 0;
	padding: 0 0 0 48px;
	width: 145px; /*200px;*/
	height: 45px;
	border: 0px solid;
	display: inline;
	}
.nhsIndexInnerBox .nhsIndexStViewAll,
.nhsIndexInnerBox2 .nhsIndexStViewAll,
.nhsIndexInnerBox .nhsIndexAmenViewAll,
.nhsIndexInnerBox .nhsIndexCondoSite {
	float: right;
	width: 180px;
	margin: 0;
	padding: 0 5px 5px 0;
	text-align: right;
	font-size: small;
	}
.nhsIndexInnerBox .nhsIndexAmenViewAll {
	font-size: 85%;
	}
.nhsIndexInnerBox .nhsIndexCondoSite {
	font-weight: bold;
	}
.nhsIndexStViewHomes {
	float: right;
	}
.nhsIndexInnerBox2 .nhsIndexStGolfCourse,
.nhsIndexInnerBox2 .nhsIndexStWaterfront,
.nhsIndexInnerBox2 .nhsIndexStCondoTown {
	width: 193px; /*185px;*/
	}
.nhsIndexInnerBox2 .nhsIndexStGolfCourse a,
.nhsIndexInnerBox2 .nhsIndexStWaterfront a,
.nhsIndexInnerBox2 .nhsIndexStCondoTown a {
	width: 145px; /*137px;*/
	}
.nhsIndexStGolfCourse {	
	background: url(/globalresources/default/images/icons/icon_se_golf.gif) no-repeat left 0;	
	}
.nhsIndexStWaterfront {	
	background: url(/globalresources/default/images/icons/icon_se_water.gif) no-repeat left 0;	
	}
.nhsIndexStCondoTown {	
	background: url(/globalresources/default/images/icons/icon_se_condo.gif) no-repeat left 0;	
	}
.nhsIndexContentRightAlt ul {
	float: left;
	font-size: 90%;
	list-style-image: none;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0 0 0 5px;
	width: 32%;
	}
.nhsIndexContentRightAlt ul li {
	margin: 0 0 4px 2px;
	padding: 0 0 0 8px;
	background: url(/globalresources/default/images/blue_arrow.gif) no-repeat left 5px;
	}
.nhsIndexSpotlight {
	float: left;
	width: 134px;
	margin: 0;
	padding: 0;
	border: 0px solid #000;
	background: url(/globalresources/default/images/bluebox_w134_bottom.gif) no-repeat left bottom;
	overflow: hidden;	
	}
.nhsIndexSpotLinkP {
	margin: 10px 5px 8px 5px;
	padding: 0;
	}
#nhsIndexContentWide {
	width: 770px; /*940px;*/
	float: left;
	margin: 5px 0 5px 5px;
	padding: 0;
	}
#nhsIndexContentBoylLinks {
	width: 770px; /*940px;*/
	float: left;
	}
#nhsIndexContentBoylLinks p {
	float: left;
	}
/*
.nhsIndexContent {
	width: 730px;
	clear: both;
	}
.nhsIndexContent table {
	margin: 0 0 0 1em;
	}
.nhsIndexContent p {
	margin: 0 0 1em 1em;
	}
.nhsIndexContent table p {
	margin: 0;
	} */
	
.nhsIndexHeading {
	float: left;
	margin: 0 0 .5em 0;
	padding: 4px 3px 2px 6px;
	border-bottom: 2px solid #24619e;
	background-color: #7095ba;
	color: #fff;
	font-size: 105%;
	width: 373px; /*455px;*/
	}

#nhsIndexHeadingBottom {width:800px; float:left;}
	
.nhsIndexHeadingBottom {
	float: left;
	margin: 0 0 .5em 0;
	padding: 4px 3px 2px 6px;
	border-bottom: 2px solid #24619e;
	background-color: #7095ba;
	color: #fff;
	font-size: 105%;
	width: 790px;
	}
			
.nhsIndexContentRightAlt .nhsIndexHeading {
	width: 611px; /*776px;*/
	}
.nhsIndexContentRightAlt .nhsIndexBox .nhsIndexHeading {
	margin: .15em 0 .85em 0;
	padding: 0;
	background: none;
	border: 0;
	color: #24619e;
	}
.nhsIndexHeading .search_title {width:100%;}	
.nhsIndexContentRightAlt .nhsIndexBox2 .nhsIndexHeading {
	margin: .15em 0 .85em 0;
	padding: 0;
	width: 375px; /*540px;*/
	background: none;
	border: 0;
	color: #24619e;
	}
.nhsIndexContentRightAlt .nhsIndexBox3 .nhsIndexHeading {
	margin: .15em 0 .85em 0;
	padding: 0;
	width: 100%;
	background: none;
	border: 0;
	color: #24619e;
	}
.nhsIndexContentRightAlt .nhsIndexInnerBox .nhsIndexHeading,
.nhsIndexContentRightAlt .nhsIndexInnerBox2 .nhsIndexHeading {
	margin: .15em 0 .85em 0;
	padding: 0 0 0 2px;
	width: 535px; /*700px;*/
	background: none;
	border: 0;
	color: #333;
	font-size: 100%;
	}
#nhsIndexContentWide .nhsIndexHeading {
	width: 760px; /*930px;*/
	}
.nhsIndexBox4 .nhsIndexHeading {
	margin: .15em 0 .85em 0;
	padding: 0;
	width: 100%;
	background: none;
	border: 0;
	color: #24619e;
	}
.nhsIndexList {
	float: left;
	width: 28%;
	padding-bottom: 20px;
	}
	
/* Right Ad Column */
#nhsIndexAdRightCol {
	float: right;
	width: 165px;
	margin: 5px 5px 5px 0;
	padding: 0;
	border: 0px solid;
	_display: inline; /* IE Double Margin Fix */
	}
	
/* Left Col & Spotlight Disabled  */
#nhsContainer .nhsIndexContentRightWide { /* class on .nhsIndexContentRightAlt */
	width: 770px; /*940px;*/
	float: left;
	margin: 5px 0 5px 5px;
	padding: 0;
	}
#nhsContainer .nhsIndexContentRightWide .nhsIndexInnerBox,
#nhsContainer .nhsIndexContentRightWide .nhsIndexInnerBox2 { 
	width: 744px; /*914px;*/
	margin: 5px 0 5px 3px;
	padding: 4px;	
	}
#nhsContainer .nhsIndexContentRightWide .nhsIndexInnerBox .nhsIndexHeading,
#nhsContainer .nhsIndexContentRightWide .nhsIndexInnerBox2 .nhsIndexHeading {
	width: 736px; /*910px;*/
	}	
#nhsContainer .nhsIndexContentRightWide .nhsIndexBox2 {
	width: 535px;
	}
#nhsContainer .nhsIndexContentRightWide .nhsIndexBox3 {
	width: 230px;
	}
#nhsContainer .nhsIndexContentRightWide .nhsIndexBox2 .nhsIndexHeading {
	width: 515px;	
	}
/* END Left Col & Spotlight Disabled  */


/* =nhsStateIndex 
-----------------------------*/

#nhsStateBrowseDiv {
	float: left;
	width: 800px;
    border: 1px solid #A0B6CD;
    margin-bottom: 5px;
    overflow: auto;
    position: relative;
	}
#nhsStateIndex .nhsIndexBox {
	float: left;
    width: 760px;
    padding: 10px;
	}
#nhsStateIndex .nhsIndexList {
	list-style-image: none;
	margin: 0;
	padding: 0 10px 20px 0;
	width: 31%;
	}
#nhsStateIndex .nhsIndexStGolfCourse, 
#nhsStateIndex .nhsIndexStWaterfront, 
#nhsStateIndex .nhsIndexStCondoTown {
	width: 32%;
	}
#nhsStateIndex .nhsIndexBox4 {
	float: left;
	margin: 0 0 5px 0;
	padding: 0;
	position: relative;
	width: 955px;
	}	
#nhsPartnerContainer #nhsStateIndex .nhsIndexBox4 {
	width: 800px;
	} 
#nhsStateIndex .nhsIndexContentLeft,
#nhsLocationHandler .nhsIndexContentLeft {
	float: left;
	width: 430px;
	}
.nhsStateIndexHeader {
	float: left;
	width: 600px;
	padding: 0 5px 10px 0;
	}
.nhsStateIndexLinks {
	float: right;
	padding: 45px 5px 0 0;
	}
#nhsStateIndex h1 {
	font-size: 170%;
	}
#nhsStateIndex h2 {
	font-size: 105%;
	}
	
.nhsStateIndexSearchBox {
	float: left;
	width: 410px;
	background: #61B0F3;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 10px 10px 20px 10px;
	}
.nhsStateIndexSearchBox fieldset {
	margin: 0;
	padding: 0;
	}
#nhsStateIndex  .nhsStateIndexSearchBox .nhsStateIndexHeading {
	margin: 0;
	padding: 0 0 10px 0;
	}
.nhsStateIndexSearchBox label {
	float: left;
	width: 160px;
	font-size: 120%;
	font-weight: bold;
	text-align: right;
	margin-right: 5px;
	}
.nhsStateIndexSearchBox input {
	float: left;
	display: block;
	}
.nhsStateIndexSearchBox .btnFindHomes {
	margin-left: 165px;
	}

#nhsStateIndexMap {
	float: right; 
	position: relative; 
	width: 360px;
    /*height: 400px; 
    border: solid 1px #000;*/
	}
#nhsStateIndexMap img {
    max-width: none;
    }	

#nhsStateIndex .nhsCommResListColumn {
	float: left;
	width: 430px;
	}
#nhsStateIndex .nhsResultsThumbBox {
	width: 97px;
	}
#nhsStateIndex .nhsResultsThumbBox div {
	background: url(/globalresources/default/images/thumb_shadow.gif) no-repeat scroll left top transparent;
	height: 75px;
	width: 95px;
	margin: 0;
	}
#nhsStateIndex .nhsResultsThumbBox div img {
	border: 1px solid #24619e;
	display: block;
	}
#nhsStateIndex .nhsResultsThumbBox img {
	height: 70px;
	width: 91px;
	}
#nhsStateIndex .nhsCommResultsInfo1  {
	width: 180px;
	padding: 0;
	}
#nhsStateIndex .nhsCommResultsInfo2	{
	margin: 0;
	width: 148px;
	}
	
.nhsStateIndexMarkets {
	float: left;
	margin: 10px 0 0 10px;
	padding: 0;
	}
.nhsStateIndexMarkets ul {
	list-style-image: none;
	padding: 0;
	}
.nhsStateIndexMarkets ul li {
	padding-bottom: 5px;
	}
.nhsStateIndexMarkets ul li a {
	text-decoration: none;
	font-size: 90%;
	}
.nhsStateIndexMarkets ul li a span {
	text-decoration: underline;
	font-size: 110%;
	margin-right: 4px;
	}

/* =nhsIndexTabs */
.nhsIndexTabs {
	float: left;
	position: relative;
	margin: 20px 0 -1px -5px;
	padding: 0;	
	list-style-type: none;
	list-style-image: none;
	font-size: 90%;
	border: 0px solid;
	z-index: 99;
	}
* html .nhsIndexTabs,
* html #nhsPartnerContainer .nhsIndexTabs {
	margin-bottom: -3px; /* IE 6- Fix */
	} 
*+html .nhsIndexTabs,
*+html #nhsPartnerContainer .nhsIndexTabs {
	/*margin-bottom: -3px;  IE 7 Fix */
	} 	
.nhsIndexTabs li, 
#nhsPartnerContainer .nhsIndexTabs li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 8px 0 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	display: inline-block;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_right.gif) no-repeat top right; 
	}
.nhsIndexTabs li a,
#nhsPartnerContainer .nhsIndexTabs li a {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0px solid #7095ba;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: url(/globalresources/default/images/backgrounds/tab_63_off_left.gif) no-repeat top left; 
	}
.nhsIndexTabs .indexTabOn,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn {
	background: url(/globalresources/default/images/backgrounds/tab_63_on_right.gif) no-repeat top right;
	color: #24619e;
	}
.nhsIndexTabs .indexTabOn a:link,
.nhsIndexTabs .indexTabOn a:visited,
.nhsIndexTabs .indexTabOn a:active,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:link,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:visited,
#nhsPartnerContainer .nhsIndexTabs .indexTabOn a:active {
	display: block;
	margin: 0;
	padding: 8px 0 7px 8px;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
	background: url(/globalresources/default/images/backgrounds/tab_63_on_left.gif) no-repeat top left;
	color: #24619e;
	}	
.nhsIndexTabs a:link,
.nhsIndexTabs a:visited,
.nhsIndexTabs a:active,
#nhsPartnerContainer .nhsIndexTabs a:link,
#nhsPartnerContainer .nhsIndexTabs a:visited,
#nhsPartnerContainer .nhsIndexTabs a:active {
	color: #fff;
	}
.nhsIndexTabs a:hover,
#nhsPartnerContainer .nhsIndexTabs a:hover {
	color: #ecda6a;
	text-decoration: none;
	}

.siteIndexTitle {margin-top:20px;}
