/* ---------------------------------------------
Title:      NewHomeSource.com Fluid Width Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Sept 10 2010
----------------------------------------------- */
@media all {
	
/* =Container */	
#nhsContainer {
	margin: 0 auto;
	padding: 0 0 10px 0;
	width: 99%;
	min-width: 970px;
	text-align: left;
	background-color: #fff;
	}
* html #nhsContainer {
	width: expression(document.body.clientWidth < 1050? "970px" : "99%" ); /* min-width in ie 6- */
	}	

/* =Header */
#nhsHeader {
	float: left;
	margin: -1px 2% 0 2%;
	padding: 0 0 12px 0; /* 0 */
	width: 96%;
	}
* html #nhsHeader {
	margin: -1px 1% 0 1%;
	width: expression(document.body.clientWidth < 1050? "970px" : "96%" ); /* min-width in ie 6- */
	}
/* =Move Header */
.mvContainer #nhsHeader {
	margin: -1px 1% 0 1%;
	padding: 0;
	width: 98%;
	height: 80px;
	}
* html .mvContainer #nhsHeader {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/
	}
.mvHeaderBottom {
	width: 98%;
	}
	
/* =Tool Nav */
div#nhsToolNav {
	float: right;
	margin: 8px 0 8px 0; /* 6px 22px 0 0; */
	padding: 0;
	width: 55%; /* 70% */
	display: inline; /* IE double margin bug fix */
	}
* html div#nhsToolNav {
	margin-right: 5px;
	}
	
/* =Main Nav */
div#nhsMainNav {
	float: right;
	margin: 18px 22px 0 0;
	padding: 0;
	width: 70%;
	display: inline; /* IE double margin bug fix */
	}
* html div#nhsMainNav {
	margin-right: 20px;
	}
	
/* =Search Nav */
#nhsSearchNav {
	float: right;
	margin: -1px 1% 0 1%;
	padding: 0;
	width: 98%;
	height: 37px; /* 30px */
	display: inline; /* IE double margin bug fix */
	background: #1f3d99 url(/globalresources/default/images/backgrounds/bg_63_search_nav_right.gif) top right no-repeat;
	}	
*html #nhsSearchNav {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/
	}
/* =Move Search Nav */
.mvContainer #nhsSearchNav {
	background: none;
	}
.mvContainer ul#nhsSearchList {
	background: none;
	}
	
/* =Personal Bar */
.nhsPersonalBar {
	float: left;
	width: 98%;
	margin: 0 1% 6px 1%;
	padding: 6px 0 7px 0; /* 2px 0 4px 0 */
	border: 1px solid #999; /* #24619e */
	background: #dfdfde url(/globalresources/default/images/backgrounds/bg_63_personal_bar.gif) repeat-x top left; /* #7095ba */
	}
* html .nhsPersonalBar {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/	
	}
.nhsPersonalBar p {
	margin: 0 0 0 12px;
	}
/* =Move Personal Bar */
.mvContainer .nhsPersonalBar {
	width: 97%;
	margin-top: 5px;
	padding: 0 0 0 5px;
	background: url(/globalresources/move/images/backgrounds/bg_personal_bar.gif) no-repeat left 0;
	border: 0;
	}
* html .mvContainer .nhsPersonalBar {
	width: expression(document.body.clientWidth < 1050? "970px" : "97%" ); /* min-width in ie*/	
	}
.mvContainer .nhsPersonalBar p {
	margin: 0;
	}
.nhsPersonalBarInner {
	width: 100%;
	}
* html .nhsPersonalBarInner {
	width: expression(document.body.clientWidth < 1050? "970px" : "100%" ); /* min-width in ie*/	
	}
	
.nhsContent,
#nhsCommResults {
	float: left;
	width: 98%;
	margin: 0 1% 6px 1%;
	padding: 0 0 0 0;
	text-align: left;	
	border: 0px solid;
	}
* html .nhsContent,
* html #nhsCommResults {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/
	}	

/* =Footer */
#nhsFooter {
	clear: both;
	width: 98%;
	margin: 0;
	padding: 8px 1%;
	text-align: left;
	}
* html #nhsFooter {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/
	}
	
/* Text ad */
#nhsAdText {
	clear: both;
	width: 98%;
	margin: 0 1% 5px 1%;
	padding: 0;
	text-align: left;
	}
* html #nhsAdText {
	width: expression(document.body.clientWidth < 1050? "970px" : "98%" ); /* min-width in ie*/	
	}

/* #nhsCopyright {
	width: 85%;
	margin: 6px auto;
	padding: 0;
	font-size: 75%;
	color: #666;
	text-align: left;
	}
* html #nhsCopyright {
	width: expression(document.body.clientWidth < 1050? "970px" : "85%" );
	} */


/* =Map Zoomer */
.nhsMapZoomBox {
	position: absolute;
	top: 20px;
	left: 10px;
	z-index: 99;
	overflow: hidden;
	width: 29px;
	padding: 4px 0 10px 3px;
	border: 0px solid #000;
	background: url(/globalresources/default/images/backgrounds/bg_zoom_box.png) no-repeat top left;
	}
* html .nhsMapZoomBox {
	background: url(/globalresources/default/images/backgrounds/bg_zoom_box.gif) no-repeat top left;
	/* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/nhs5m/globalresources/default/images/backgrounds/bg_zoom_box.png', enabled='true'); */
	}
.nhsMapZoomBox ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
.nhsMapZoomBox ul li {
	float: left;
	margin: 0;
	padding: 0;
	}
.nhsMapZoomBox li a {
	display: block;
	position: relative;
	overflow: hidden;
	background: #ccc;
	border: 1px solid #fff;
	border-width: 3px 3px 0 3px;
	margin: 0 0 0 2px;
	padding: 10px 0 0 0;
	width: 10px;		
	height: 0px !important;
	height /**/:10px;
	}
.nhsMapZoomBox li a:hover,
.nhsMapZoomBox li .nhsMapZoomActive {
	background: #000;
	}
.nhsMapZoomBox li.nhsMapZoomLast a {
	border-bottom: 3px;
	}
.nhsMapZoomBox li a.nhsMapZoomIn {
	width: 21px;
	margin: 0;
	padding: 21px 0 0 0;
	border: 0;
	background: transparent url(/globalresources/default/images/backgrounds/map_zoom_in.gif) no-repeat top left;
	}
.nhsMapZoomBox li a.nhsMapZoomOut {
	width: 21px;
	margin: 1px 0 0 0;
	padding: 21px 0 0 0;
	border: 0;
	background: transparent url(/globalresources/default/images/backgrounds/map_zoom_out.gif) no-repeat top left;
	}
.nhsMapZoomBox li a:hover.nhsMapZoomIn {
	background: transparent url(/globalresources/default/images/backgrounds/map_zoom_in.gif) no-repeat top left;
	}
.nhsMapZoomBox li a:hover.nhsMapZoomOut {
	background: transparent url(/globalresources/default/images/backgrounds/map_zoom_out.gif) no-repeat top left;
}

/* Iframe Ad Sizes */
#nhsIFrameAdTop {
	width: 728px;
	height: 90px; 
	}
#nhsIFrameAdMiddle,
#nhsIFrameAdMiddle3,
#nhsIFrameAdx01 {
	width: 300px;
	height: 250px;
	}
#nhsIFrameAdBottom {
	width: 125px;
	height: 125px;
	}
#nhsIFrameAdRight2 {
	width: 130px;
	height: 600px;
	}
	
} /* end media type */
