/* ---------------------------------------------
Title:      Print Styles
Author:     Jason Becker, jbecker@builderhomesite.com
Updated:    Oct 25 2010
----------------------------------------------- */

#nhsToolNav,
#nhsMainNav,
#nhsSearchNav,
#nhsPersonalBar,
#nhsAdTop,
#nhsAdLeftCol,
#nhsAdRightCol,
#nhsAdText,
#nhsSkipLink,
.nhsListingConsole,
#nhsFooterAdBox,
#nhsFooterLinkBox,
#nhsCommResMapColumn {
	display: none;
	}
.nhsContainerRight .nhsContent {
	float: left;
	clear: both;
	}
	
.btn,
a.btn {
	height: auto !important;
	background: none;
	text-decoration: underline;
	}
#nhsFooter {
	background: none;
	border-width: 1px 0 0 0;
	}
#nhsCopyright p,
#nhsCopyright p a {
	color: #333;
	}
	
.nhsBackResultsBar {
	display: none;
	}
.nhsCommDetailHeadInfo,
.nhsHomeDetailHeadInfo {
	clear:none;
	float:none;
	width:100%;
	}
.nhsHomeSearch {
	float: none;
	}

