﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RegisterViewModel

<div id="nhs_CreateAcct" class="nhsRegisterForm clearfix">
    <p class="nhs_DetailsFormTitle">@LanguageHelper.CreateAccount.ToMvcHtmlString()</p>
    <p>@LanguageHelper.EnterYourInformationToContinue.ToMvcHtmlString()</p>      
    <fieldset id="infoFormCreateAccount">
        <legend class="visuallyhidden">Contact Info</legend>
        @{
            var showLongerForm = string.IsNullOrEmpty(UserSession.UserProfile.LogonName);
            if (showLongerForm)
            {
                <p>
                    <label for="FirstName">@LanguageHelper.Name.ToMvcHtmlString():</label>
                    @Html.TextBoxFor(m => m.Name)
                </p>
                <p>
                    <label for="EmailReg">@LanguageHelper.Email.ToMvcHtmlString()</label>
                    @Html.TextBoxFor(m => m.Email, new {id = "EmailReg"})
                </p>
            }
            else
            {

                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.Email, new {id = "EmailReg"})
            }
            <p>
                <label for="PasswordReg">@LanguageHelper.Password.ToMvcHtmlString()</label>
                @Html.PasswordFor(m => m.Password, new { id = "PasswordReg" })
            </p>

            if (showLongerForm)
            {
                <p>
                    <label for="ZipCodeReg">@LanguageHelper.MyZipCode.ToMvcHtmlString()</label>
                    @Html.TextBoxFor(m => m.ZipCodeReg)
                </p>
                <p class="checkBoxes">
                    <span class="createAccountCheckBox">
                        @(Html.CheckBoxFor(m => m.LiveOutsideReg, new { onclick = "toggleRequestCreateAccountZipField()" }))
                    </span>
                    <label for="LiveOutsideReg" class="createAccountLabels"> @LanguageHelper.ILiveOutsideTheUs.ToMvcHtmlString()</label>
                </p>
            }
            else
            {
                @Html.HiddenFor(m => m.ZipCodeReg)
            }
}

        <p class="nhs_LeadFormButtons">
            @Html.HiddenFor(m => m.FromPage, new { value = Model.FromPage })
            <input type="submit" class="btnCss btn_CreateAccount" value="@LanguageHelper.CreateAccount" id="btn_CreateAccount" />
            <input type="button" class="btnCss cancel" value="@LanguageHelper.Cancel" name="btnCancel" onclick=" hideCreateAccount();return false; " />
        </p>

        <ul id="nhs_Errors2" class="validation-summary-errors li" style="display: none;"></ul>
    </fieldset>

</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var form = jQuery("#infoFormCreateAccount");
        jQuery("#btn_CreateAccount").click(function () {
            var valid = true;
            var control = jQuery(this);
            control.attr("disabled", "disabled");
            var ul = form.find("#nhs_Errors2");
            ul.html("");
            ul.hide();

            //Start Name
            var name = form.find("#Name");
            name.removeAttr("style");
            if (!jQuery.ValidFullNameWithNumberLastName(name.val())) {
                ul.append("<li>@LanguageHelper.FirstAndLastName.ToMvcHtmlString()</li>");
                name.attr("style", "border: 1px solid #FF0000");
                ul.show();
                valid = false;
            }
            //End Name

            //Start Email
            var email = form.find("#EmailReg");
            email.removeAttr("style");
            if (!jQuery.ValidEmail(email.val())) {
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL.ToMvcHtmlString()</li>");
                email.attr("style", "border: 1px solid #FF0000");
                ul.show();
                valid = false;
            }
            //End Email

            //Start Password
            var password = form.find("#PasswordReg");
            password.removeAttr("style");
            if (password.val().length < 5) {
                password.attr("style", "border: 1px solid #FF0000");
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD.ToMvcHtmlString()</li>");
                ul.show();
                valid = false;
            }
            //End Password
            if (valid) {
                var input = jQuery("#nhs_CreateAcct #infoForm input").serialize();

                jQuery.ajax({
                    url: "@Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.BrochureRegisterV2)",
                    type: "post",
                    cache: false,
                    data: input,
                    success: function(data) {

                        if (data.logonNameExists === false) {
                            ul.append("<li>@LanguageHelper.MSG_ACCOUNT_SAME_EMAIL.ToMvcHtmlString()</li>");
                            control.removeAttr("disabled");
                            ul.show();
                            return;
                        }

                        if (data.expiredSession === false) {
                            ul.append("<li>@LanguageHelper.ExpiredSession.ToMvcHtmlString()</li>");
                            control.removeAttr("disabled");
                            ul.show();
                            return;
                        }

                        if (data.redirectUrl) {
                            window.location = data.redirectUrl;
                            return;
                        }

                        jQuery("#nhs_CreateAcct").html(data);
                    }
                });
            } else {
                control.removeAttr("disabled");
            }
        });
    });

</script>


