﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LoginViewModel

<div id="nhs_SignIn" class="nhs_SignIn clearfix">
    <p class="nhs_DetailsFormTitle">@LanguageHelper.SignIn.ToMvcHtmlString()</p>
    <p>
        @if (NhsRoute.IsBrandPartnerNhsPro)
        {
            @LanguageHelper.PleaseLoginOrRegister.ToMvcHtmlString()
        }
        else
        {
            @LanguageHelper.EnterYourAccountInformation.ToMvcHtmlString()
        }
    </p>
    <fieldset id="infoForm">
        <legend class="visuallyhidden">Contact Info</legend>
        <p>
            <label for="Email">@LanguageHelper.Email.ToMvcHtmlString()</label>
            @Html.TextBoxFor(m => m.Email)
        </p>
        <p>
            <label for="Password">@LanguageHelper.Password.ToMvcHtmlString()</label>
            @Html.PasswordFor(m => m.Password)
        </p>

        <p class="nhs_LeadFormButtons">
            @Html.HiddenFor(m => m.FromPage, new { value = Model.FromPage })
            <input type="submit" id="btnSignIn" value="@LanguageHelper.SignIn" onclick="" class="btnCss nhs_SignIn" />
            <input type="button" id="btnCancel" value="@LanguageHelper.Cancel" class="btnCss cancel" onclick="hideLogin(); return false; " />
        </p>

        <p class="nhs_LeadFormButtons forgotPassword">
            @Html.NhsModalWindowLink(LanguageHelper.ForgotPassword, Pages.ForgotPasswordModal, ModalWindowsConst.RecoverPasswordModalWidth, ModalWindowsConst.RecoverPasswordModalHeight)
        </p>
        @Html.ValidationSummary()
    </fieldset>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#btnSignIn").click(function () {
            var input = jQuery("#nhs_SignIn #infoForm input").serialize();
            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.BrochureLoginV2)",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    if (data.redirectUrl) {
                        window.location = data.redirectUrl;
                        return;
                    }

                    jQuery("#nhs_SignIn").html(data);
                    tb_init("a.thickbox");
                }
            });

        });

        tb_init("a.thickbox");
    });

</script>
