﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel

<div id="divLeadMain">
    @if (Model.ShowPlaceHolderInputText)
    {
        <script type="text/javascript">
            jQuery(document).ready(function () {
                SetTextBoxesDescriptions();
            });
        </script>
    }
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var form = jQuery("#divLeadMain");
            form.find("#UserPhoneNumber").mask("(999) 999-9999");
            var international = form.find("#LiveOutside");

            var zip = form.find("#Zip");
            var labelZip = form.find('label[for="Zip"]');

            international.change(function () {
                if (international.is(':checked')) {
                    zip.attr("disabled", "disabled");
                    zip.val("");
                    zip.removeClass("nhs_Error");
                    labelZip.removeClass("nhs_ErrorLabel");
                } else {
                    zip.removeAttr("disabled");
                }
            });

            form.find("#UserPostalCode, #Name, #MailAddress").keyup(function () {
                var control = jQuery(this);
                control.removeClass("nhs_Error");
                control.prev("label[for]").removeClass("nhs_ErrorLabel");
            });


            form.find("#nhs_GetBrochure").click(function () {

                //debugger;
                var errorList = form.find("#nhs_error");
                errorList.html("");

                form.find("#nhs_error_Div").hide();
                var valid = true;
                var control = jQuery(this);
                control.attr("disabled", "disabled");

                //Start Name
                var name = form.find("#Name");
                var labelName = form.find('label[for="Name"]');
                labelName.removeClass("nhs_ErrorLabel");

                name.removeClass("nhs_Error");

                if (!jQuery.ValidFullNameWithNumberLastName(name.val())) {
                    name.addClass("nhs_Error");
                    labelName.addClass("nhs_ErrorLabel");
                    valid = false;
                    errorList.append("<li>@LanguageHelper.PleaseProvideFirstAndLastName.ToMvcHtmlString()</li>");
                }
                //End Name

                //Start Email
                var email = form.find("#MailAddress");
                var labelEmail = form.find('label[for="MailAddress"]');
                labelEmail.removeClass("nhs_ErrorLabel");

                email.removeClass("nhs_Error");

                if (!jQuery.ValidEmail(email.val())) {
                    email.addClass("nhs_Error");
                    labelEmail.addClass("nhs_ErrorLabel");
                    valid = false;
                    errorList.append("<li>@LanguageHelper.EmailIsBlankOrInvalid.ToMvcHtmlString()</li>");
                }
                //End Email

                //Start Zip
                zip.removeClass("nhs_Error");
                labelZip.removeClass("nhs_ErrorLabel");

                if (!international.is(':checked')) {
                    if (!jQuery.ValidZipcode(zip.val())) {
                        zip.addClass("nhs_Error");
                        labelZip.addClass("nhs_ErrorLabel");
                        valid = false;
                        errorList.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_ZIP.ToMvcHtmlString()</li>");
                    }
                }
                //End Zip

                if (valid) {
                    var userPhone = form.find("#UserPhoneNumber").val() === "(___) ___-____" ? "" : form.find("#UserPhoneNumber").val();

                    var info = {
                        Name: form.find("#Name").val(),
                        MailAddress: form.find("#MailAddress").val(),
                        UserPhoneNumber: userPhone,
                        ShowUserPhoneNumber: form.find("#nhs_ShowPhoneNumber").is(':visible'),
                        UserPostalCode: form.find("#Zip").val(),
                        Comments: form.find("#Comments").val(),
                        LiveOutside: form.find("#LiveOutside").is(':checked'),
                        IsPlan: form.find("#IsPlan").val(),
                        CommunityId: form.find("#CommunityId").val(),
                        BuilderId: form.find("#BuilderId").val(),
                        PlanId: form.find("#PlanId").val(),
                        SpecId: form.find("#SpecId").val(),
                        MarketId: form.find("#MarketId").val(),
                        IsPageCommDetail: form.find("#IsPageCommDetail").val(),
                        NewUser: form.find("#NewUser").val(),
                        ShowSaveToAccount: form.find("#ShowSaveToAccount").val(),
                        PartnerUsesMatchmaker: form.find("#PartnerUsesMatchmaker").val(),
                        SendAlerts: form.find("#SendAlerts").is(':checked'),
                        NewSearchRCC: form.find("#NewSearchRCC").val(),
                        HeadlineText: form.find("#HeadlineText").val(),
                        SubheadText: form.find("#SubheadText").val(),
                        DefaultChecked: form.find("#DefaultChecked").val(),
                        MaxRecs: form.find("#MaxRecs").val(),
                        MatcheMail: form.find("#MatchEmail").val(),
                        CreditScoreText: form.find("#CreditScoreText").val(),
                        ShowCreditScoreSection: form.find("#ShowCreditScoreSection").val(),
                        IsComunityDetailV2: true
                    };

                    jQuery.ajax({
                        type: "GET",
                        url: '@((!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "") + "/MyBrochure")',
                        data: info,
                        success: function (html) {
                            jQuery.SetDataLayerPair('directLead');
                            jQuery('#divLeadMain').html(html);
                        }
                    });
                } else {
                    errorList.show();
                    control.removeAttr("disabled");
                    form.find("#nhs_error_Div").show();
                }
            });

        });
    </script>

    <div class="nhs_DetailsFormContent">
        @{ Model.NewSearchRCC = NhsUrl.NewSearchRCC; }
        <div id="nhs_RequestInfoForm" class="nhs_RequestInfoForm clearfix">
            
            @if (Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower())
            {
                <p class="nhs_DetailsFormTitle">@LanguageHelper.BeAmongTheFirst.ToMvcHtmlString()</p>
                <p>@LanguageHelper.WeWillKeepYouUpdated.ToMvcHtmlString()</p>
            }
            else
            {
                <p class="nhs_DetailsFormTitle">Free brochure, instantly!</p>
            }
            <fieldset>
                <legend class="visuallyhidden">Contact Info</legend>
                <p class="nhs_Required">
                    <label for="Name">
                        *@LanguageHelper.Name.ToMvcHtmlString()
                    </label>
                    @Html.TextBox("Name", "", new { maxlength = "100", placeholder = "First and last name", autocomplete = LanguageHelper.Name })
                </p>
                <p class="nhs_Required">
                    <label for="MailAddress">
                        *@LanguageHelper.Email.ToMvcHtmlString()
                    </label>
                    @Html.TextBox("MailAddress", "", new { maxlength = "50", placeholder = LanguageHelper.Email, autocomplete = "email" })
                </p>
                <p class="nhs_Required">
                    <label for="Zip">
                        *@LanguageHelper.Zip.ToMvcHtmlString()
                    </label>
                    @Html.TextBox("Zip", "", new { maxlength = "10", placeholder = LanguageHelper.Zip, autocomplete = "postal-code" })
                    <input id="LiveOutside" name="LiveOutside" type="checkbox" value="false" />
                    <label for="LiveOutside" class="nhs_OutsideLabel">
                        Outside U.S.
                    </label>
                </p>
                <p @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "style=display:none" : "")>
                    <label for="Comments">
                        Comments<span> or Questions</span>
                    </label>
                    @Html.TextArea("Comments", "", 4, 18, new { maxlength = "200" })
                </p>
                @if (Model.ShowUserPhoneNumber && Model.BcType != BuilderCommunityType.ComingSoon)
                {
                    <p>
                        <label for="UserPhoneNumber">
                            @LanguageHelper.Phone.ToMvcHtmlString()
                        </label>
                        @Html.TextBoxFor(m => m.UserPhoneNumber, new { maxlength = "25", autocomplete = "tel" })
                    </p>
                }
                @if (Model.PartnerUsesMatchmaker & (Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower()))
                {
                    <p class="nhs_RecoLabel nhs_MoreMargin">

                        <input id="SendAlerts" name="SendAlerts" type="checkbox" checked="checked" value="@Model.SendAlerts.ToString().ToLower()" />
                        <label for="SendAlerts">
                            Also include communities with similar homes
                        </label>
                    </p>
                }
                <p class="nhs_MoreMargin">
                    <input id="nhs_GetBrochure" type="button" class="btnCss" value="@(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? "Add Me to List" : "Get brochure")" />
                </p>
                <div id="nhs_error_Div" class="validation-summary-errors" style="display: none;">
                    <ul id="nhs_error"></ul>
                </div>
            </fieldset>

            <span class="first">@Html.NhsLink("Privacy Policy", Pages.PrivacyPolicy)</span>
            <span>*Required Field</span>
            <div class="hidden">
                @Html.HiddenFor(model => model.IsPlan)
                @Html.HiddenFor(model => model.CommunityId)
                <input id="BuilderId" type="hidden" value="@Model.BuilderId" name="BuilderId" />
                @Html.HiddenFor(model => model.PlanId)
                @Html.HiddenFor(model => model.SpecId)
                @Html.HiddenFor(model => model.MarketId)
                @Html.HiddenFor(model => model.IsPageCommDetail)
                @Html.HiddenFor(model => model.NewUser)
                @Html.HiddenFor(model => model.ShowSaveToAccount)
                @Html.HiddenFor(model => model.PartnerUsesMatchmaker)
                @Html.HiddenFor(model => model.NewSearchRCC)
                @Html.HiddenFor(model => model.CreditScoreText)
                @Html.HiddenFor(model => model.ShowCreditScoreSection)
            </div>
        </div>
    </div>
</div>