﻿@model Nhs.Web.UI.AppCode.ViewModels.RecommendedCommunitiesViewModal
@using System.Web.Mvc.Html
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
<div class="nhs_LeadConfirmation nhs_DetailsFormContent">
    <div id="nhs_RequestInfoForm" class="nhs_RequestInfoForm clearfix">
        @if (Model.ShowSaveToAccount)
        {
            <div id="divConfirmationDefault">
                <p class="nhs_DetailsFormTitle">
                    @(Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() ? LanguageHelper.YourRequestHasBeenSent : @LanguageHelper.YourFreeBrochureHasBeenSent)
                </p>
                <br />
                <p>
                    @if (Model.ShowRegInfoDetail)
                    {
                        <span>
                            @if (Model.UserAlreadyExists)
                            {
                                <a href="#" onclick="showLogin(@((Model.SpecId == 0 && Model.PlanId == 0).ToString().ToLower()));return false;">@LanguageHelper.SignIn.ToMvcHtmlString()</a>
                            }
                            else
                            {
                                <a href="#" onclick="showCreateAccount(@((Model.SpecId == 0 && Model.PlanId == 0).ToString().ToLower()));return false;">@LanguageHelper.CreateAccount.ToMvcHtmlString()</a>
                            }
                            @LanguageHelper.ToSaveThis.ToMvcHtmlString() @(Model.IsPageCommDetail ? LanguageHelper.Community.ToLower() : LanguageHelper.Home.ToLower()) @LanguageHelper.ToYourAccount.ToMvcHtmlString()
                        </span>
                    }
                </p>
            </div>
            <div id="divLogin" class="nhs_DetailsFormContent" style="display: none">
                @{ Html.RenderAction(NhsMvc.Account.ActionNames.BrochureLoginV2, NhsMvc.Account.Name); }
            </div>
            <div id="divCreateAccount" class="nhs_DetailsFormContent" style="display: none">
                @{ Html.RenderAction(NhsMvc.Account.ActionNames.BrochureRegisterV2, NhsMvc.Account.Name); }
            </div>
        }
        else
        {
            <div class="nhs_ConfirmationDefault">
                @if (!Model.ShowExpiredRequestBrochureLink)
                {
                    <p class="nhs_DetailsFormTitle">
                        @Model.GetLeadFormTitleFormConfirmation(Html)
                    </p>
                    <br />
                    <p>
                        @LanguageHelper.ForYourConvenience.ToMvcHtmlString()
                        @(Model.IsPageCommDetail ? LanguageHelper.Community : LanguageHelper.Home)
                        @LanguageHelper.HasAlsoBeenSavedToYourAccount.ToMvcHtmlString()
                    </p>
                    <br />
                    <p class="nhs_MoreMargin" @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && UserSession.UserProfile.ActorStatus == WebActors.ActiveUser) ? "style=display:none" : "")>
                        @Html.ViewBrochureLink(Model)
                    </p>
                    <p>
                        @Model.GetSavedHomesLink(Html)
                    </p>
                }
                else
                {
                    <p class="nhs_DetailsFormTitle">
                        @LanguageHelper.WeAreSorryYourBrochureExpired.ToMvcHtmlString()
                    </p>
                    <br />
                    <p>
                        @LanguageHelper.YouMayRequestANewBrochure.ToMvcHtmlString()
                        @if (Model.Globals.PartnerLayoutConfig.PartnerAllowsModals)
                        {
                            @Html.NhsModalWindowLink(LanguageHelper.Here, Pages.LeadsRequestBrochureModal, ModalWindowsConst.LeadsRequestInfoLoggedWidth, ModalWindowsConst.LeadsRequestInfoLoggedHeight, Model.ExpiredBrochureParams, null, true)
                        }
                        else
                        {
                            @Html.NhsLink(LanguageHelper.Here, Model.ExpiredBrochureParams, Pages.LeadsRequestInfo)
                        } .
                    </p>
                }
            </div>
        }

        @if (Model.ShowCreditScoreSection)
        {
            <div class="nhs_ConfirmationCreditScore">
                <p class="nhs_DetailsFormTitle">
                    @LanguageHelper.NextStep.ToUpper().ToMvcHtmlString()
                </p>
                <p id="nhs_DetailFormCreditScoreText">
                    @(!string.IsNullOrEmpty(Model.CreditScoreText) ? Model.CreditScoreText : LanguageHelper.BeforeYouBuy)
                </p>
                <p>
                    <a target="_blank" href="@string.Format(Model.CreditScoreLink2, Model.Name.FirstPart(" "), Model.Name.LastPart(" "), Model.UserPostalCode, Model.MailAddress)" title="@LanguageHelper.GetYourFreeCreditScore" class="btnCss btnCreditScore" onclick="$jq.googlepush('Outbound Links','Community - Gallery','Free Credit Score');">@LanguageHelper.GetYourFreeCreditScore.ToMvcHtmlString()</a>
                </p>
                <p class="nhs_DetailsFormCreditScorePrivacy">
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                    {
                        @:Ver la <a title="@LanguageHelper.PrivacyPolicy" target="_blanck" href="http://www.consumertrack.com/about-us/privacy-policy">@LanguageHelper.PrivacyPolicy.ToMvcHtmlString()</a> de ConsumerTrack
                }
                    else
                    {
                        @:see ConsumerTrack's <a title="@LanguageHelper.PrivacyPolicy" target="_blanck" href="http://www.consumertrack.com/about-us/privacy-policy">@LanguageHelper.PrivacyPolicy.ToMvcHtmlString()</a>
                }

                </p>
            </div>
        }
    </div>
</div>
<div class="hidden">
    <iframe src="@Model.ConversionIFrameSource" width="0" height="0" scrolling="no" rel="nofollow"></iframe>
    @if (!string.IsNullOrEmpty(Model.Name) && !string.IsNullOrEmpty(Model.MailAddress))
    {
        <input type="hidden" id="hfFirstName" value="@Model.Name.Split(" "[0])[0]" />
        <input type="hidden" id="hfLastName" value="@Model.Name.Split(" "[0])[1]" />
        <input type="hidden" id="hfEmail" value="@Model.MailAddress" />
        <input type="hidden" id="hfLiveOutside" value="@Model.LiveOutside.ToString().ToLower()" />
    }
    @if (Model.UserPostalCode != null)
    {
        <input type="hidden" id="hfPostalCode" value="@Model.UserPostalCode" />
    }

</div>
@if (!string.IsNullOrEmpty(Model.Google))
{
    <script type="text/javascript">
        eval(@Model.Google.ToMvcHtmlString());
    </script>
}