﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using Nhs.Web.UI.AppCode.HtmlHelpers
<div id="nhs_DetailsFormMessage">
    <div id="divLeadConfirmation">
        @if (!Model.RequestAnAppointment)
        {
            <div id="">
                <p>
                    <span class="nhs_DetailsFormTopTitle">Message the builder</span></p>
            </div>
        }
        <div id="divConfirmationDefault" class="divConfirmationDefault">
            <p>
                Thank you. @Model.BuilderName will reply to you shortly.</p>
            <br />
            <p>
                <input type="submit" class="btn btn_SendAnother" id="lnkBackSendMessage@(Model.RequestAnAppointment ? "_RequestAnAppointment" : "")" value="Send Another Message" /></p>
            @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionHidden, Model)
            <iframe src="@Model.Globals.Google" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow">
            </iframe>
        </div>
    </div>
    <script type="text/javascript">
        $jq(document).ready(function () {
            var parameters = {
                returnToBuilderMessage: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ReturnToBuilderMessage)",
                RequestAnAppointment: @(Model.RequestAnAppointment.ToString().ToLower()),
                UpdateTargetId:"@( Model.RequestAnAppointment ? "#divDetailsFormPartialAjax2" : "#divDetailsFormPartialAjax")",
            };
            var crm = new NHS.Scripts.Crm(parameters);
            crm.initializeReturnToBuilderMessage();
        });
    </script>
</div>
