﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Extensions
@using System.Web.Mvc.Html
@using System.Web.Mvc.Ajax
@using Nhs.Utility.Common
@{
    Layout = null;
}
<div class="nhs_DetailsFormContent">
    <div id="divLeadMain">
        <fieldset>
            <legend class="nhs_Reader">Send a brochure</legend>
            @if (Model.IsLoggedInPaid)
            {
                <p><span class="nhs_DetailsFormTopTitle">Send a custom brochure to your clients</span></p>
            }
            
            <p>@Html.GetOnPageLeadFormSubHeader(Model)</p>

             <p class="btnGlobal">
                @Html.SendCustomBrochureLink(Model)
                @if (Model.IsLoggedOutPaid || Model.IsLoggedOutUnpaid)
                {
                     <span class="nhs_LockIcon"></span>
                }
            </p>
        </fieldset>
        @if (Model.IsLoggedInPaid || Model.IsLoggedOutPaid)
        {
            <div id="divDetailsFormPartialAjax">
                @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionFieldsPro, Model)
            </div>
        }
    </div>
</div>
