﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using System.Web.Mvc.Html
<fieldset class="pro_ValuesInputForm">
    <legend class="nhs_Reader">Find out more</legend>
    <div id="nhs_DetailsFormMessage">
        <h3 class="nhs_DetailsFormTopTitle nhs_Title">@(Model.RequestAnAppointment ? "Request an appointment" : "Message the builder")</h3>
        <ol>
            @if (!Model.RequestAnAppointment)
            {
                <li class="nhs_LeadLiveOutside">
                    <input id="GeneralInquiryRadio" type="radio" value="" name="Radio" checked="checked" />
                    <label for="GeneralInquiryRadio">
                        General inquiry</label>
                    &nbsp;
                    <input id="ScheduleAppointmentRadio" type="radio" value="" name="Radio" />
                    <label for="ScheduleAppointmentRadio">
                        Schedule an appointment</label>
                    @Html.HiddenFor(model => model.GeneralInquiry)
                    @Html.HiddenFor(model => model.ScheduleAppointment)
                </li>
            }
            <li class="nhs_Clear nhs_LeadComments">
                @Html.TextAreaFor(model => model.Message, new { maxlength = "900" })
                <p id="divSendMessage" class="">
                    @* ReSharper disable once UnknownCssClass *@
                    @if (Model.IsLoggedOutPaid)
                    {
                        <input type="submit" id="btnSendMessage@(Model.RequestAnAppointment ? "_RequestAnAppointment" : "")" value="Send" class="btn btn_SendMessage perform_login" onclick="$jq.googlepush('Account Events','SignIn','Open Form - Header Link')" data-nextwidth="@ModalWindowsConst.ProCrmFavoriteWidth" data-nextheight="@ModalWindowsConst.ProCrmFavoriteHeight" data-width="@ModalWindowsConst.SignInModalWidth" data-height="@ModalWindowsConst.SignInModalHeight" data-url="@Pages.LoginModal" data-hidetitle="true"/>
                        <span class="nhs_LockIcon"></span>    
                    }
                    else
                    {
                        <input type="submit" id="btnSendMessage@(Model.RequestAnAppointment ? "_RequestAnAppointment" : "")" value="Send" class="btn btn_SendMessage" />
                    }
                    <input type="button" id="btnSendMessageFake@(Model.RequestAnAppointment ? "_RequestAnAppointment" : "")" value="Send" class="btn btn_SendMessageFake"
                               style="display: none;" />
                </p>
            </li>
        </ol>
        <p class="nhs_Legal">* Your contact information will be included with the message.</p>
    </div>
    @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.LeadForm.LeadSectionHidden, Model)
</fieldset>
<div class="validation-summary-errors" id="btnSendMessageFake" style="display: none">
    <ul>
        <li>Please provide a message</li>
    </ul>
</div>
<script type="text/javascript">
    var crm; // Global varible that handles the details of the crm for pro
    $jq(document).ready(function () {
        var parameters = {
            contactToBuilder: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SendMessageToBuilder)",
            contactBuilderAndRequestAppointment : "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.ContactBuilderAndRequestAppointmentClientModal)",
            RequestAnAppointment: @(Model.RequestAnAppointment.ToString().ToLower()),
            UpdateTargetId:"@( Model.RequestAnAppointment ? "#divDetailsFormPartialAjax2" : "#divDetailsFormPartialAjax")",
            height:@(ModalWindowsConst.ProCrmFavoriteHeight),
            width:@(ModalWindowsConst.ProCrmFavoriteWidth)
        };
        crm = new NHS.Scripts.Crm(parameters);
        crm.initializeContactToBuilder();
    });
</script>