﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel    

<input type="hidden" name="BuilderName"  value="@Model.BuilderName"/>
<input type="hidden" name="HomeTitle"  value="@Model.HomeTitle"/>
<input type="hidden" name="CommunityName"  value="@Model.CommunityName"/>
<input type="hidden" name="IsPlan"  value="@Model.IsPlan"/>
<input type="hidden" name="CommunityId"  value="@Model.CommunityId"/>
<input type="hidden" name="BuilderId"  value="@Model.BuilderId"/>
<input type="hidden" name="PlanId"  value="@Model.PlanId"/>
<input type="hidden" name="SpecId"  value="@Model.SpecId"/>
<input type="hidden" name="MarketId"  value="@Model.MarketId"/>
<input type="hidden" name="RequestAnAppointment"  value="@Model.RequestAnAppointment"/>
