﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
<div id="nhs_TopBanner">
  
</div>

<div id="nhs_RightTopSky">
    @*@Html.AdControl("Right1", true, false, Model.Globals.AdController, Model)*@
</div>


<div id="nhs_MiddleTopSq">
    @*@Html.AdControl("Right3", true, false, Model.Globals.AdController, Model)*@
</div>


<div id="nhs_MiddleRightBottomSq">
   @* @Html.AdControl("x01", true, false, Model.Globals.AdController, Model)*@
</div>


<div id="nhs_RightBottomSky">
    @*@Html.AdControl("x03", true, false, Model.Globals.AdController, Model)*@
</div>

<div id="nhs_Footerx01">
    @*@Html.AdControl("x03", true, false, Model.Globals.AdController, Model)*@
</div>


<div id="nhs_Footerx02">
    @*@Html.AdControl("x03", true, false, Model.Globals.AdController, Model)*@
</div>


<div id="nhs_x03Tracker">
    @*@Html.AdControl("x03", true, false, Model.Globals.AdController, Model)*@
</div>

