﻿/* ---------------------------------------------
Title:      Default Pro Shell Styles
Authors:    Jason Becker, jbecker@builderhomesite.com
			Alex Labanino, alabanino@builderhomesite.com
Updated:	Sept 2012
----------------------------------------------- */

body { 
    background:#fff url(/GlobalResourcesMvc/Pro/images/home-page-bg.gif) repeat-x top left;
    background-attachment: fixed;
    color:#615b5b; 
    }
body, select, input, textarea {
    color:#615b5b;
    }    

#proContainer {
    margin: 0 auto;
    width: 990px;
    }
#proSectionMain {    
    display: inline;
    float: left;
    width: 970px;
    min-height: 450px;
    padding: 5px 10px 10px 10px;
    background: #fff;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    }

ol, ul { 
    margin: 0; 
    }
a, a:visited { 
    color:#0091da; /*#2b8ecf*/ 
    text-decoration:none; 
    }
a:hover { 
    color:#0091da; /*#2b8ecf*/ 
    text-decoration:underline; 
    }
    
.nhsClear {
    display: block;
    }
    
/* =Header - Main */
#proHeader {
	position: relative;
	margin: 0 -1px 0 0;
	padding: 0;
	width: 100%;
	min-width: 990px;
	background: #004a7c;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-size: 13px;
	}
#proLogoDiv #lnkHome {
    line-height: 90px;
    }	
img#proLogo,
img.proLogo {
	vertical-align: middle;
	/*position: absolute;
	top: 30px;
	left: 0;*/
	max-width: 256px;
	}
#proToolNav {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 85%;
	background: transparent; /*#102142;*/
	height: 23px;
	}
#proToolNav div {
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 0 0;
	}
#proToolNav ul {
	float: right;
	list-style-type: none;
	padding: 5px 0 0 0;
	}
#proToolNav ul li {
	display: inline;
	float: left;
	margin: 0;
	padding: 0 0 0 25px;	    
	}
#proToolNav a, #proToolNav a:link, #proToolNav a:visited, #proToolNav a:active {
	text-decoration: none;
	color: #f0eceb;
	text-transform: uppercase; 
	}
#proToolNav a:hover {
	text-decoration: underline;
	color: #5ab4ed;	
	}
#proLogoDiv {
	width: 990px;
	margin: 0 auto;
	padding: 5px 0 6px 0;
	height: 92px;
	position: relative;
	}
#nhsAdTop {
	float: right;
	width: 728px;
	height: 90px;
	border: 0;	
	}
#proSearchNav {
	width: 100%;
	/*background: #0e388f url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav.png) repeat-x left top;*/
	}	
#proSearchNav > div {
	width: 990px;
	margin: 0 auto;
	padding: 3px 0 5px 0;
	clear: both;	
	position: relative; z-index: 0; /* for border-radius.htc */
	}	
#proSearchNav ul {
	float: left;
	padding: 0;
	list-style-type: none;
	}
#proSearchNav ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	text-transform: uppercase; 
	}
#proSearchNav ul li:before { 
    content: "|";
    color: #3a5169;
    }
#proSearchNav ul li:first-child:before { 
    content: none;
    }
#proSearchNav li a, 
#proSearchNav li a:link, 
#proSearchNav li a:visited, 
#proSearchNav li a:active {
	display: inline-block;
    margin: 0;
    padding: 5px 8px;
    color: #f0eceb; 
    text-decoration:none; 
	}
#proSearchNav li a:hover {
	 color:#5ab4ed; 
	 text-decoration:underline;
	 }
#proSearchNav ul li.nhs_NavHighlight a {
	border-top: 1px solid #174399;
	margin-top: -1px;
	padding-top: 8px;
	background: #0a2f66 url(/globalresourcesmvc/newhomesource/images/backgrounds/bg_search_nav_highlight.png) repeat-x left top;
	}
#proSearchNav ul li.nhs_First a {
	border-left: 0;
	}
#proSearchNav ul li.nhs_Last a {
	border-right: 0;
	}
#nhs_AddThisBox {
	float: right;
	margin: 2px 0 1px 0;
	}
  
.proFooter { 
    width: 100%;  
    float: left;  
    }
.proFooter > div {
    width: 990px;
    margin: 0 auto; 
    padding: 20px 0;
    background: #fff url(/GlobalResourcesMvc/Pro/images/footer-bg.png) no-repeat top center; 
    }
.proFooter > div .proFooterAd { 
    float: left; 
    margin-left: 5px;
    } 
.proFooter > div .proFooterAd #nhsIFrameAdx01 { 
    border: 1px solid #ccc;
    }     
.proFooter .proNav {
    float: left; 
    width: 650px; 
    margin: 20px 0 0 0; 
    }
.proFooter .proNav ul { 
    float: left;
    list-style: none;
    width: 33%; 
    padding: 0;
    }
.proFooter .proNav ul li { 
    display: block;         
    margin: 10px 0 0 0;      
    font-size: 108%;
    }
    
.proFooterBox { 
    float: right;  
    width: 665px;
    margin-right: 5px;
    }
.proFooterBox > div { 
    float: left;     
    width: 327px; 
    height: 131px;       
    }
.proFooterBox > div.proFooterBuilder { 
    background: url(/GlobalResourcesMvc/Pro/images/are-you-a-builder.png) no-repeat top left;
    margin-left: 10px;
    }
.proFooterBox > div.proTwitter { 
    background: url(/GlobalResourcesMvc/Pro/images/pro-twitter.png) no-repeat top left;
    margin-left: 10px;
    }
.proFooterBox > div.proFooterBuyer { 
    background: url(/GlobalResourcesMvc/Pro/images/are-you-a-buyer.png) no-repeat top left;    
    }
.proFooterBox > div.proFacebook { 
    background: url(/GlobalResourcesMvc/Pro/images/pro-facebook.png) no-repeat top left;    
    }
.proFooterBox > div p strong {         
    display: inline-block;
    margin-bottom: 5px; 
    color: #000; 
    font-size: 130% !important; 
    font-weight: bold; 
    }
.proFooterBox > div p { 
    width: 200px; 
    margin: 15px 15px 0 auto;  
    line-height: 18px; 
    }
.proFooterBox a { 
    text-decoration: none;
    }   
.proFooterBox a:hover { 
    text-decoration:underline;
    }
    
.proCopyright { 
    width: 100%; 
    background: #004a7c;
    clear: both;
    }
.proCopyright > p { 
    width: 920px; 
    margin: 0 auto; 
    padding: 25px 0;
    color: #b6c1c8; 
    text-align: center; 
    line-height: 1.4;
    }
.proCopyright > p a { 
    color:#b6c1c8; 
    text-decoration:none; 
    }
.proCopyright > p a:hover { 
    color:#b6c1c8; 
    text-decoration:underline; 
    }    
  
.btn, #proSectionMain .btn {
    background: #f58220; 
    /*border: 1px solid #E78625;*/
    color: #fff;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*text-shadow: 1px 2px 1px #D35811;*/
    text-decoration: none;
    height: 18px !important;
    padding: 0 2px 5px 2px;
    /*box-shadow: 1px 1px 2px #666;    */
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
	}
a.btn, #proSectionMain a.btn {
	padding: 6px 0 5px 0;
	}	
	
.btnCss, 
a.btnCss {
    color: #fff !important;
    /*text-shadow: 1px 2px 1px #D35811;
    border: 1px solid #E78625;
    border-top: 1px solid #ffc286;    
    box-shadow: 1px 1px 2px #666; */
    
    background: #f58220;
    } 	
	
/*= Overrides */

a, a:link, a:active, a:visited, a:hover {
    color: #0091da; /*#2b8ecf*/
    }

.nhsCommResultsRow, 
.nhsCommHomeResultsRow,	
.nhsHomeResultsRow,  
.nhsHomeResultsHotRow {
	border-top: 1px solid #e6ebef;
	}
.nhsHomeResSpecialRow,
.nhsCommResSpecialRow {
	}
.nhsCommResultsRowOn, 
.nhsCommHomeResultsRowOn, 
.nhsHomeResultsRowOn, 
.nhsHomeResultsHotRowOn {
    border-color: #004a7c;
	background: #e6ebef;
	}
.nhsHomeResSpecialRowOn,
.nhsCommResSpecialRowOn {
	}
.nhsHomeResultsRow a,
.nhsSingleHomeResultsRow a, 
.nhsHomeResultsHotRow a {
    color: #444;
    }	
.nhsHomeResultsRowOn a,
.nhsSingleHomeResultsRowOn a, 
.nhsHomeResultsHotRowOn a,
.nhsHomeResSpecialRowOn a {
    color: #0091da; /*#2b8ecf*/
    }	
.btnNext,
.btnPrevious {
    background-color: #0091da; /*#2b8ecf*/
    }       

.proLogoBox {    
    height: 55px;
    margin: 10px 0 0 3px;
    max-width: 256px;
    background-color: #004a7c;
	}
.proLogoBox a {
	border:0;
	}
