﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<div id="nhs_ShowcaseMap">
</div>
<div class="nhs_ShowcaseContent nhs_ShowcaseMetroArea">    
@if (Model.MetroAreaList.MetroAreas.Any())
{        
    <h2 class="nhs_Title">@Model.MetroAreaList.HeaderText</h2>
    <ul id="nhs_metroAreas">
        @Html.Partial(NhsMvc.Default.ViewsMobile.BuilderShowCase.PartialViews.ShowMetroAreas, Model)
    </ul>

    if (Model.MetroAreaList.MetroAreas.Count() > 5)
    {
    <a href="#" class="btn" id="nhs_MoreResults">
        @LanguageHelper.MoreLocations.ToMvcHtmlString()
    </a>
    }
}
</div>
<span class="nhs_Clear">
</span>


