﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel
@if (Model.ShowcaseVideos.Any() || Model.AwardImages.Any())
{
<div class="nhs_GalleryList clearfix">
    <h2>
        @LanguageHelper.Gallery.ToMvcHtmlString()            
    </h2>
    <p>
        @if (Model.ShowcaseVideos.Any())
        {
            <span id="nhs_GalleryTypeVid">@LanguageHelper.Videos.ToMvcHtmlString():</span> @Model.ShowcaseVideos.Count()
        }
        @if (Model.AwardImages.Any())
        {
            <span>@LanguageHelper.Images.ToMvcHtmlString():</span> @Model.AwardImages.Count()
        }
    </p>
    <span class="clearfix"></span>
    <div id="nhs_GalleryList" style="display: none;">
    </div>
</div>
}
<div class="nhs_ShowcaseContent">
  
    @HttpUtility.HtmlDecode(Model.OverviewText).ToMvcHtmlString()

    <h2 class="nhs_Title">@LanguageHelper.About.ToMvcHtmlString() @Model.BrandName</h2>
    @HttpUtility.HtmlDecode(Model.PromotionalText).ToMvcHtmlString()
    <br /><br />
    @Html.Partial(NhsMvc.Default.Views.BuilderShowCase.LinkArea, Model)
  
    @if (Model.Testimonials.Any())
    {
    <h3 class="nhs_Title">@LanguageHelper.QuotesFromCustomers.ToMvcHtmlString()</h3>
        foreach (var testimonial in Model.Testimonials)
        {
        <div class="nhs_ShowcaseQuote">
            <p>@testimonial.Description</p>
            <p>@testimonial.Citation</p>
        </div>
        }     
    }
</div>
