﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BuilderShowCaseViewModel

<header class="nhs_ShowcaseContext">
    <div>@Html.NhsImage(Model.BrandLogo, Model.BrandName, true)</div>
    <h1>
        @Model.BrandName</h1>
    <p>
        @if (!string.IsNullOrEmpty(Model.BrandUrl))
        {
            <a id="nhs_VisitWebsite" href="@Model.GetBrandUrl" target="_blank">
                @LanguageHelper.VisitTheWebsite.ToMvcHtmlString()
            </a>
        }
    </p>
</header>

<section  class="nhs_ShowcaseDetail clearfix">
    @Html.Partial(NhsMvc.Default.ViewsMobile.BuilderShowCase.PartialViews.Header, Model)

    <div id="nhs_BuilderShowcaseTab">
        @{
            if (Model.IsAbout)
            {
                Html.RenderPartial(NhsMvc.Default.ViewsMobile.BuilderShowCase.ShowAbout);
            }
            else if (Model.IsLocations)
            {
                Html.RenderPartial(NhsMvc.Default.ViewsMobile.BuilderShowCase.ShowLocations);
            }
        }
    </div>
    <a href="@Model.AskQuestionToBuilder()" class="btn nhs_ModalPopUp nhs_AskQuestionBtn" id="nhs_AskQuestion">
        @LanguageHelper.AskAQuestion.ToMvcHtmlString()
    </a>

    </section>

    @*<div>
            @{Html.RenderPartial(NhsMvc.PartialViews.ViewsMobile.SocialFooter);}
        </div>*@
    @{Html.RenderPartial(NhsMvc.Default.ViewsMobile.BuilderShowCase.PartialViews.Javascript);}
