﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailViewModel

@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using System.Web.Mvc.Html
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers

<script type="text/javascript">
    var description = "@Model.DetailDescription";
    var chunkedDescription = "@Model.DetailDescription.ChunkHomeDescription()";
</script>

@if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled && !Model.PreviewMode)
{
    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
}

<div id="nhs_DetailsHeader">
  
    @if (Model.ShowBuilderLogo() && Model.IsBilled)
    {
        <div class="nhs_DetailsHeaderLogo">
            @Html.RenderBuilderLogoLink(Model, false)
        </div>
    }
    <h1 class="nhs_DetailsHeaderTitle">
        @Model.Globals.H1.ToMvcHtmlString()
    </h1>
    @if (string.Equals(Model.BcType, BuilderCommunityType.ComingSoon, StringComparison.CurrentCultureIgnoreCase) && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
    {
        <div class="nhs_DetailsHeaderBcType">
            @Html.HomeStatusImage(Model, true)
        </div>
    }
    @if (Model.HomeStatus != (int)HomeStatusType.ModelHome)
    {
        <p class="nhs_DetailsHeaderPrice">
            @Model.PriceDisplay.ToMvcHtmlString()
        </p>
    }   
    <div id="nhs_DetailsHeaderInfo">
        <h2 class="nhs_DetailsHeaderBuilderName">
            @Model.FormatBrandName()
        </h2>
        <p>
            @Model.FormatHomesAvailable().ToMvcHtmlString()
            @Model.FormatSqFeet().ToMvcHtmlString()
        </p>
        @if (!Model.PreviewMode)
        {
            <div id="nhs_FbLike">
                @Html.FbLike()
            </div>
        }
    </div> 
    <div class="nhs_Clear"></div>       
</div>

<div id="nhs_DetailsDescription">
    @if (Model.HasCoop)
    {
        <img src="@Resources.GlobalResourcesMvc.Pro.images.icons.icon_coop_png"
             alt="@LanguageHelper.ConfirmedCoOp" />
    }
    @*@Html.HomeStatusImage(Model, false)

    @if (!string.IsNullOrEmpty(Html.HomeStatusImage(Model).ToString()) | Model.HasCoop)
    {
        <br />
    } *@
    <div class="nhs_Clear"></div>
</div>
@*<div id="nhs_DetailsStaticImage">
    <img src="@Model.FirstImage" class="nhs_DetailFirstImage" alt="" />
</div>*@
