﻿@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.ViewModels
@model CommunityDetailViewModel
@{
    int i = 0;
    var homeResultDynamic = Model.HomeResultsApi.ToRows(3);
    foreach (var tr in homeResultDynamic)
    {
        <div class="@(Model.AllNewHomesCount < 41 && i > 11 ? "nhs_HideRow nhs_Flag" : "nhs_ShowRow") clearfix">
            @foreach (var td in tr)
            {
                i++;
                var apiModel = new HomeResultApiViewModel(td, Model.MarketId, Model.PreviewMode, Model.BcType);
                var reloadJs = Html.GetHomeDetailUrl(apiModel.HomeResultRow, Model.PreviewMode);
                <div class="nhs_GalleryItem" onclick="reload('@reloadJs');" onmouseout="jQuery(this).removeClass('nhs_GalleryItemOn');" onmouseover="jQuery(this).addClass('nhs_GalleryItemOn');">
                    @*BEGIN RENDER ROW*@
                    @(Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.HomeItemResultRow, apiModel))
                    @*END RENDER ROW*@
                </div>
            }
        </div>
    }
}
