﻿@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
<div class="nhs_DetailCard clearfix">
    <h3 class="nhs_DetailSectionTitle">Next Steps</h3>
    <div class="nhs_DetailNextSteps clearfix">
        <p>@Html.GetNextStepsFreeBrochureImageLink(Model)</p>
        <p>@Html.GetContactBuilderLink(Model, LanguageHelper.AskAQuestion)</p>
        <p>@Html.NhsRequestAppModalLink(LanguageHelper.RequestAppointment, "", "***", Model, "btn_NhsScheduleAppointment", true)</p>
        <div>
            @if (Model.IsBilled)
            {
                if (!Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                {
                    if (Model.ShowBuilderLogo())
                    {
                        @Html.RenderBuilderLogoLink(Model, false, true)
                    }
                    <p>
                        <strong>
                            @Model.CommunityName
                        </strong><br />
                        @if (!string.IsNullOrEmpty(Model.SalesOfficeAddress1))
                        {
                            <text>
                                @string.Concat(Model.SalesOfficeAddress1, " ", Model.SalesOfficeAddress2)
                                <br />
                            </text>
                        }
                        @Model.CommunityCity, @Model.State @Model.ZipCode
                        <br /><br />
                        @if (!string.IsNullOrEmpty(Model.SaleAgents))
                        {
                            @Model.SaleAgents<br />
                        }
                    </p>
                }
                if ((!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber)) && !Model.Globals.PartnerLayoutConfig.IsPartnerRealtor)
                {
                    if (!NhsRoute.IsMobileDevice)
                    {
                        if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                        {
                            <p id="nhs_LnkNextStepsPhoneNum">
                                <a class="nhs_PhoneLink" id="nhs_LnkNextStepsPhoneNum2">Phone & Hours</a>
                            </p>
                            <p style="display: none;" class="phone_number" id="nhs_NextStepsFormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                                <span id="@Model.CommunityId">
                                    @Model.PhoneNumber
                                </span>
                                @Model.HoursOfOperation()
                            </p>
                        }
                        else
                        {
                            <p class="trackingphone_number" id="nhs_NextStepsFormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                                <span id="@Model.CommunityId">
                                    @Model.TrackingPhoneNumber
                                </span>
                                @Model.HoursOfOperation()
                            </p>
                        }
                    }
                    else
                    {
                        <p class="Iphone_number" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                            <a href="tel:@Model.PhoneNumber" onclick="@string.Format("jQuery.googlepush('Lead Events','{0} – Next Steps' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                                @Model.PhoneNumber
                            </a>@Model.HoursOfOperation()
                        </p>
                    }
                }
            }
        </div>
    </div>

</div>

