﻿@model Nhs.Web.UI.AppCode.ViewModels.IDetailViewModel
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.ViewModels
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Utility.Common
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@* ADDRESS, PHONE NUMBER AND TIME *@
@if (!((BaseViewModel)Model).Globals.PartnerLayoutConfig.IsPartnerRealtor)
{
    <div class="nhs_DetailInfo clearfix">
        <p>
            <strong>
                @LanguageHelper.Visit.ToMvcHtmlString() @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                ? LanguageHelper.TheSalesCenter.ToMvcHtmlString() : @LanguageHelper.This.ToMvcHtmlString())
                @((Model.BcType.ToLower() == BuilderCommunityType.ComingSoon.ToLower() && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
            ? MvcHtmlString.Create(string.Empty) : Model.DetailType.ToLower().AppendNewLineTag())
            </strong>
        </p>
        <div class="nhs_DetailAddressHours">
            @Html.Partial(NhsMvc.Default.Views.Common.RichSnippets, Model)
            @*<p id="nhs_EnvLink">
                    @Html.EnvisionDesignLink(Model)
                </p>*@

            @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.TrackingPhoneNumber))
            {
                if (!NhsRoute.IsMobileDevice)
                {
                    if (string.IsNullOrEmpty(Model.TrackingPhoneNumber) || (NhsRoute.PartnerId != PartnersConst.NewHomeSource.ToType<int>() && NhsRoute.PartnerId != PartnersConst.Move.ToType<int>()))
                    {
                        <p id="nhs_FormPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.PhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                        @Html.Raw("<ul>")
                        <li id="nhs_LnkPhoneNum">
                            <a class="nhs_PhoneLink" id="nhs_PhoneLink">Phone &amp; Hours</a>
                        </li>
                    }
                    else
                    {
                        <p id="nhs_FormTrackingPhone" title="@Model.TrackingPhoneNumber @Model.HoursOfOperation()">
                            <span id="@Model.CommunityId">
                                @Model.TrackingPhoneNumber
                            </span>
                            @Model.HoursOfOperation()
                        </p>
                        @Html.Raw("<ul>")
                    }
                }
                else
                {
                    <p>@Model.HoursOfOperation()</p>
                    @Html.Raw("<ul>")
                    <li id="nhs_FormIPhone" title="@Model.PhoneNumber @Model.HoursOfOperation()">
                        <a href="tel:@Model.PhoneNumber" onclick="@string.Format("jQuery.googlepush('Lead Events','{0} – Gallery' , 'Phone Call');", Model.IsPageCommDetail ? "Community" : "Home")jQuery.SetDataLayerPair('callsPlaced');">
                            @Model.PhoneNumber
                        </a>
                    </li>
                }
            }
            else
            {
                @Html.Raw("<ul>")
            }
            <li>
                @if (Model.IsPageCommDetail)
                {
                    <a href="#Maps" class=" nhs_FormMapLink" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('Community Detail Events','Community - Gallery','View on Map');">
                        @LanguageHelper.Map
                    </a>
                }
                else
                {
                    <a href="#Maps" class="nhs_FormMapLink" onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click(); jQuery.googlepush('Home Detail Events','Home - Gallery','View on Map');">
                        @LanguageHelper.Map
                    </a>
                }
            </li>
            <li id="liSaveToPlanner">
                @*Save To Planner*@
                @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
                {
                    @Html.Partial(NhsMvc.PartialViews.Views.Common.SaveToPlannerHeart)
                    if (NhsRoute.IsBrandPartnerNhsPro && UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
                    {
                        <span class="nhs_LockIcon"></span>
                    }
                }
            </li>
            @Html.Raw("</ul>")
        </div>

        @* MORE ACTIONS *@
        @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>() && Model.BcType.ToLower() != BuilderCommunityType.ComingSoon.ToLower())
        {
            @Html.NhsRequestAppModalLink(LanguageHelper.RequestAnAppointment, "btnCss", "***", Model, "  ", false)
        }

        @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
        {
            <ul>
                @if (Model.ShowMortgageLink)
                {
                    <li>@Html.Raw(Model.AffiliateLinksData.MortageRatesFormArea)</li>
                }
                <li>@Html.Raw(Model.AffiliateLinksData.FreeCreditScoreFormArea)</li>
            </ul>
        }
    </div>
}