#nhsWidget {
		border:1px solid;
		font-family:Arial,Helvetica,san-serif; 
		font-size:12px;
		padding:5px;
		width:230px; 
}
#nhsWidget input, #nhsWidget select {
		float: right;
		font-size: 12px;        
		margin: 0;
		padding: 0;
		width: 120px;
}
#nhsWidget label {
		float: left;
		font-weight: bold;
		text-align: right;
		width: 70px;
}
#nhsWidget p { 
		float: left;
		width: 100%;       
		margin: 3px 0;
		padding: 0;
}

input#txtZip{
		width: 116px;
}
input#btnSearch {
		width: 95px;
}
.nhsPowered {
		font-size: 10px;
		text-align: center;
}