﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RecommendedCommunitiesViewModal

<span class="nhs_Clear"></span>
<div id="nhs_RecoCommsLoading">
    <div>
        <img src="@GlobalResourcesMvc.Default.images.loading_bar_gif" alt="" />
        <p>@LanguageHelper.LoadingCommunitiesSimilarTo.ToMvcHtmlString() <br />
            @Model.CommunityName</p>
    </div>
</div>

<div id="nhs_RecoComms_NoData" style="display:none;">
    <h2>
        @LanguageHelper.NoRecommendationsAvailable.ToMvcHtmlString()
    </h2>
    <p>
        @Html.NhsLink(String.Format(LanguageHelper.ClickHereToSearchAllCommunities, Model.MarketName), Pages.CommunityResults, new { Market = Model.MarketId })
    </p>
</div>

<div id="nhs_RecoComms_Data" style="display:none;">
    <h2>
        @LanguageHelper.MoreGreatNewHomesLikeThoseIn.ToMvcHtmlString() @Model.CommunityName
    </h2>
    <p>
        @LanguageHelper.WeHaveFoundOtherGreatCommunities.ToMvcHtmlString()
    </p>
    <input type="button" id="nhs_GetMyFreeBrochures1" class="btnCss" value="@LanguageHelper.GetMyFreeBrochures" />
    <input type="button" id="nhs_GetMyFreeBrochuresFake1" class="btn btn_GetMyFreeBrochuresFake btn_Loading"
           disabled="disabled" style="display: none" value="@LanguageHelper.GetMyFreeBrochures" />
    <div id="nhs_body">
        <div id="nhs_CommResRowItems">
        </div>
        <div class="nhs_RecoCommsButtons">
            <input type="button" id="nhs_GetMyFreeBrochures" class="btnCss"
                   value="@LanguageHelper.GetMyFreeBrochures" />
            <input type="button" id="nhs_GetMyFreeBrochuresFake" class="btn btn_GetMyFreeBrochuresFake btn_Loading"
                   disabled="disabled" style="display: none" value="@LanguageHelper.GetMyFreeBrochures" />
        </div>
        <div id="nhs_parameters">
            @Html.HiddenFor(p => p.BuilderId)
            @Html.HiddenFor(p => p.MarketId)
            @Html.HiddenFor(p => p.RequestUniqueKey)
            @Html.HiddenFor(p => p.CommunityId)
            @Html.HiddenFor(p => p.UserPostalCode, new { Id = "Zip", Name = "Zip" })
            @Html.HiddenFor(p => p.Refer)
            @Html.HiddenFor(p => p.SessionId)
            @Html.HiddenFor(p => p.FirstName)
            @Html.HiddenFor(p => p.LastName)
            @Html.HiddenFor(p => p.Email)
            @Html.HiddenFor(p => p.PlanId)
            @Html.HiddenFor(p => p.SpecId)
            @Html.HiddenFor(model => model.UserPhoneNumber)
            @Html.HiddenFor(model => model.IsModal)
            @Html.HiddenFor(model => model.IsPageCommDetail)
            @Html.HiddenFor(model => model.DefaultChecked)
            @Html.HiddenFor(model => model.RecoCommunityList)
            @Html.HiddenFor(model => model.FromMatchEmail)
            @Html.HiddenFor(model => model.IsCommunityPage)
            <input type="hidden" name="MaxRecs" id="MaxRecs" value="@Model.MaxRecs" />
        </div>
    </div>
</div>
<script type="text/javascript">
        function showRecoComms() {
            var data = jQuery("#nhs_parameters input").serialize();
            jQuery.ajax({
                url: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.GetRecommendedCommunitiesItems))",
                type: "GET",
                data: data,
                success: function(html) {
                    if (typeof html === 'string') {
                        jQuery("#nhs_RecoCommsLoading").remove();
                        jQuery("#nhs_RecoComms_NoData").remove();
                        jQuery("#nhs_RecoComms_Data").show();  
                        jQuery("#nhs_CommResRowItems").html(html);
                    } else {
                        jQuery("#nhs_RecoCommsLoading").remove();
                        jQuery("#nhs_RecoComms_NoData").show();
                    }
                }
            });
        }
    jQuery(document).ready(function () {

            VWOReady(function() {
                setTimeout("showRecoComms()", 500);
            });

            jQuery(".nhs_CommResRow").click(function (e) {
                var target = jQuery(e.target);
                if ( target.is("input") ) {
                    return;
                }                                  
                var checkbox = jQuery(this).find(':checkbox');
                checkbox.attr('checked', !checkbox.is(':checked'));
                //checkbox.trigger('change');
            });

            jQuery(".btnCss").click(function () {
                jQuery(".btnCss").hide();
                jQuery(".btn_GetMyFreeBrochuresFake").show();
                
                 if (jQuery(".nhs_RecoCommsCheckbox:checked").length === 0) {
                    jQuery(".btnCss").show();
                    jQuery(".btn_GetMyFreeBrochuresFake").hide();
                    alert("Select a Recommended Community");
                } else {
                    var info = jQuery("#nhs_body input").serialize();
                    jQuery.ajax({
                        type: "Post",
                        url: '@((!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "") + "/" + Pages.GetRcm)',
                        data: info,
                        success: function (data) {
                            eval(data.google);
                            setTimeout(function () {
                                debugger;
                                document.location.href = "@((!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : ""))/rcommconfirm?community=" + jQuery("#CommunityId").val() + "&total=" + data.total
                                    + "&select=" + data.select;
                            }, 1000);
                        }
                    });
                }
            });
        });
</script>
