﻿@model Nhs.Web.UI.AppCode.ViewModels.RecommendedCommunitiesViewModal
@for (var i = 0; i < Model.RecoComms.Count(); i++)
{
    <div id="nhs_RecoCommsDiv_@(Model.RecoComms[i].CommunityId)" class="nhs_CommResRow" itemscope itemtype="http://schema.org/ImageObject">
        @Html.CheckBox("RecoComms[" + i + "].Selected", Model.DefaultChecked, new { @class = "nhs_RecoCommsCheckbox" })
        @Html.Hidden("RecoComms[" + i + "].BuilderId", Model.RecoComms[i].BuilderId)
        @Html.Hidden("RecoComms[" + i + "].CommunityId", Model.RecoComms[i].CommunityId)
        <div class="nhs_ResultThumb">
            @Html.GetRecommendedCommunitiesImage(Model.RecoComms[i], true)
        </div>
        <h2 class="nhs_ResultName" itemprop="name">@Model.RecoComms[i].CommunityName</h2>
        <div class="nhs_ResultBuilderPrice">
            @Html.GetRecommendedCommunitiesBuilderImage(Model.RecoComms[i].BrandImageThumbnail, true, true)
        </div>
        <div class="nhs_ResultNamePrice">
            <p>@Model.RecoComms[i].City, @Model.RecoComms[i].State @Model.RecoComms[i].PostalCode</p>
            <p>@Model.RecoComms[i].CommunityItemPriceRange()</p>
        </div>
    </div>
}