﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RecommendedCommunitiesViewModal
@{
    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
}
<div id="nhs_RecoComms" class="nhs_Content nhs_ContentAlt">
    <div>
        <h2>
            @LanguageHelper.BrochuresAreOnTheWay.ToMvcHtmlString()
        </h2>
        <p>
            @LanguageHelper.YourHomeBrochuresAreBeingSendToYouViaEmail.ToMvcHtmlString()
            @Html.NhsLink(LanguageHelper.ClickHere, Nhs.Library.Constants.Pages.CommunityResults, new { Market = Model.MarketId })
            @LanguageHelper.ToViewAdditionalListingsIn.ToMvcHtmlString() <strong>@Model.MarketName</strong>.
        </p>
    </div>
</div>
<iframe src="@Model.UrlIframe" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow"></iframe>
@if (!string.IsNullOrWhiteSpace(Model.Google))
{
    <script type="text/javascript">
        jQuery(document).ready(function() {
          @Model.Google.ToMvcHtmlString()
        });
    </script>
}