﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BaseStateIndexViewModel
<div id="nhs_IndexSearchOptions" class="nhs_IndexSearchOptions clearfix" style="display: none">
    <fieldset>
        <legend>@LanguageHelper.Price.ToMvcHtmlString()</legend>
        <p>
            <label for="PriceLow">
               @LanguageHelper.Min.ToMvcHtmlString():</label><br />
            @Html.TextBoxFor(model => model.PriceLow, new { placeholder =  LanguageHelper.NoMin, onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - Low');" })
            @LanguageHelper.To.ToMvcHtmlString()</p>
        <p class="nhs_Last">
            <label for="PriceHigh">
                @LanguageHelper.Max.ToMvcHtmlString():</label><br />
            @Html.TextBoxFor(model => model.PriceHigh, new { placeholder = LanguageHelper.NoMax, onblur = "jQuery.googlepush('Search Events','Search Parameters','Select Price - High');" })</p>
    </fieldset>
    <fieldset>
        <legend>@LanguageHelper.Bedrooms.ToMvcHtmlString()</legend>
        @Html.RadioButtonFor(model => model.NumOfBeds, "", new { id = "BedsAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - Any');" })
        <label for="BedsAny">
            @LanguageHelper.Any.ToMvcHtmlString()</label>
        @Html.RadioButtonFor(model => model.NumOfBeds, "1", new { id = "Beds1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 1');" })
        <label for="Beds1">
            1+</label>
        @Html.RadioButtonFor(model => model.NumOfBeds, "2", new { id = "Beds2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 2');" })
        <label for="Beds2">
            2+</label>
        @Html.RadioButtonFor(model => model.NumOfBeds, "3", new { id = "Beds3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 3');" })
        <label for="Beds3">
            3+</label>
        @Html.RadioButtonFor(model => model.NumOfBeds, "4", new { id = "Beds4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 4');" })
        <label for="Beds4">
            4+</label>
        @Html.RadioButtonFor(model => model.NumOfBeds, "5", new { id = "Beds5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Beds - 5');" })
        <label for="Beds5">
            5+</label>
    </fieldset>
    <fieldset>
        <legend>@LanguageHelper.Bathrooms.ToMvcHtmlString()</legend>
        @Html.RadioButtonFor(model => model.NumOfBaths, "", new { id = "BathAny", @checked = "checked", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - Any');" })
        <label for="BathAny">
            @LanguageHelper.Any.ToMvcHtmlString()</label>
        @Html.RadioButtonFor(model => model.NumOfBaths, "1", new { id = "Baths1", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 1');" })
        <label for="Baths1">
            1+</label>
        @Html.RadioButtonFor(model => model.NumOfBaths, "2", new { id = "Baths2", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 2');" })
        <label for="Baths2">
            2+</label>
        @Html.RadioButtonFor(model => model.NumOfBaths, "3", new { id = "Baths3", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 3');" })
        <label for="Baths3">
            3+</label>
        @Html.RadioButtonFor(model => model.NumOfBaths, "4", new { id = "Baths4", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 4');" })
        <label for="Baths4">
            4+</label>
        @Html.RadioButtonFor(model => model.NumOfBaths, "5", new { id = "Baths5", onclick = "jQuery.googlepush('Search Events','Search Parameters','Select Baths - 5');" })
        <label for="Baths5">
            5+</label>
    </fieldset>
</div>
