﻿@using Nhs.Library.Constants
@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailMobile.FloorPlanViewModel
@if (Model.FloorPlans != null && Model.FloorPlans.Any())
{
    var id = -1;
    <ul class="bxslider">
        @foreach (var imageSrc in Model.FloorPlans.Select(image => image.FloorPlanImage()))
        {
            id++;
            <li class="nhs_GalleryItem clearfix">
                <div class="nhs_ItemImg">
                    <a href="@imageSrc" data-slide="@id" target="_blank">
                          @Html.NhsImage(imageSrc, ImageSizes.GetResizeCommands(ImageSizes.FloorPlanMedium, useWhiteBackgroundColor: true),"", true)
                    </a>
                </div>
            </li>
        }
    </ul>
}