﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper

@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()
}
@if (Model.Plan == null)
{
    Html.RenderPartial(NhsMvc.Default.ViewsMobile.Common.PropertyDetail.InactiveProperty);
}
else
{
    <header id="nhs_HomesContext" class="nhs_HomesContext">
        <h1>@Model.HomeTitle</h1>
        <h2>@Html.GetCommunityNameLink(Model)</h2>
        <h3>@Model.FormatBrandName()</h3>
    </header>
    <section class="nhs_HomesDetail">
        <div class="nhs_GalleryList clearfix">
            <!-- Spec/Plan Gallery -->
            @if (Model.IsModelHome() == false)
            {
                <h2>@Model.PriceDisplay.ToTitleCase().ToMvcHtmlString()</h2>
            }

            <h3>@Model.HomeStatusTypeToString()</h3>
            <div class="clearfix">
            </div>
            <div id="nhs_HomeGalleryList" style="display: none;">
            </div>
        </div>
        <div id="nhs_DetailInfo" class="nhs_DetailInfo clearfix">
            @Html.GetMapPopup(Model)
            <h3>@Model.CommunityCity, @Model.StateAbbr @Model.ZipCode</h3>
            <p class="nhs_DetailHours">
                <span>@*Open Now!*@</span><br/>
                @if (!string.IsNullOrEmpty(Model.HoursOfOperation))
                {
                    <a href="#" id="nhs_OpenHours">@LanguageHelper.SeeOpenHours.ToMvcHtmlString()</a>
                }
            </p>
            <div id="nhs_HoursOfOperation">
                <div class="nhs_Hours">
                    <p>
                        @LanguageHelper.SalesOfficeOpenHours.ToMvcHtmlString()</p>
                    <p>
                        @Model.HoursOfOperation.ToMvcHtmlString()</p>
                    <br />
                    <p>
                        @Html.GetRequestAppointmentLink(Model, true, "btnCss")
                    </p>
                </div>
            </div>
            <p>@Model.PhoneNumber.CreateDisplayPhone()</p>
            <ul>
                <li>@Html.GetContactBuilderModalLink(Model)</li>
                <li>@Html.GetRequestAppointmentLink(Model, true)</li>
            </ul>
        </div>
        @{ Html.RenderPartial(NhsMvc.Default.ViewsMobile.CommunityDetail.CommunityInformation); }
        <section class="nhs_HomesPlans clearfix">
            <div id="nhs_Floorplan" style="display: none;">
                <h2>
                    @LanguageHelper.FloorPlan.ToMvcHtmlString() @(string.IsNullOrEmpty(Model.SqFtDisplay) ? null : ("(" + Model.SqFtDisplay + ")").ToMvcHtmlString())</h2>
                <div id="nhs_FloorplanGallery" class="nhs_FloorplanList clearfix">
                </div>
            </div>
            <p>@Model.HomeDescription.ToMvcHtmlString()</p>
            <ul>
                @Model.BasicHomeSpecs.ToMvcHtmlString()
            </ul>
        </section>
        @if (Model.SimilarHomesApi.Any())
        {
            <section class="nhs_HomesSimilar clearfix">
                <h2>
                    @LanguageHelper.SimilarHomesIn.ToMvcHtmlString() @Model.CommunityName</h2>
                <div class="nhs_GalleryList clearfix">
                    @*Similar Plan Gallery*@
                    <ul class="bxslider">
                        @foreach (var home in Model.SimilarHomesApi)
                        {
                            <li class="nhs_GalleryItem clearfix nhs_Row">
                                <div class="nhs_ItemImg">
                                    @Html.NhsImageLink(home.HomeThumbnail(), RedirectionHelper.GetHomeDetailPage(home.IsSpec > 0), home.ToHomeDetail(), new { title = home.PlanName }, null)
                                </div>
                                <div class="nhs_GalleryInfo">
                                    @if (home.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
                                    {
                                        <p>@Convert.ToInt32(home.Price).FormatPrice(home.HomeId)
                                        </p>
                                    }
                                    <h3>@Html.HomeDetailLink(home)</h3>
                                    @home.GetHomeInformation()
                                    <p>@home.Status.HomeStatus()</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </section>
        }
    </section>
    <footer class="nhs_DetailActionBar">
        @if (Model.SavedToPlanner)
        {
            <span class="nhs_Save nhs_Saved">@LanguageHelper.Saved.ToMvcHtmlString()</span>
        }
        else
        {
            <a href="#" id="nhs_Saved" class="nhs_Save">@LanguageHelper.Save.ToMvcHtmlString()</a>
        }
        <a href="#" class="nhs_Share">@LanguageHelper.Share.ToMvcHtmlString()</a>
        @Model.PhoneNumber.CreateMobilePhone("")
    </footer>
    <text>
        @section cphFooter{

            @Html.GetGoogleMapScript()            
            @ResourceCombinerEnum.HOMEDETAILMOBILEJS.GetCrunchedResource()
            <script type="text/javascript">
                jQuery(document).ready(function() {

                    window.share = new NHS.Mobile.Share({
                        ShareUrl: "@(Html.GetActionUrl(NhsMvc.PartialViews.Name, NhsMvc.PartialViews.ActionNames.ShareModal))",
                        SentToPhone: "@(new List<RouteParam>
                                        {
                                            Model.SpecId > 0 ? new RouteParam(RouteParams.SpecId, Model.SpecId)
                                                : new RouteParam(RouteParams.PlanId, Model.PlanId)
                                        }.ToUrl(Pages.SendToPhone))",
                        IsComm: false,
                        planId: @Model.PlanId,
                        specId: @Model.SpecId,
                    });
                    share.init();
                    
                    
                    var logginparameter = {
                        commId: @Model.CommunityId,
                        commName : '@Model.CommunityName.RemoveSpecialCharacters()',
                        builderId: @Model.BuilderId ,
                        builderName : '@Model.BuilderName.RemoveSpecialCharacters()',
                        marketId: @Model.MarketId ,
                        marketName : '@Model.MarketName.RemoveSpecialCharacters()',
                        planId: @Model.PlanId ,
                        specId: @Model.SpecId , 
                        logActionMethodUrl: "@Model.LogActionMethodUrl",
                        tdvTable : @Html.Raw(Html.GetSeoTDVMetrics()),
                        partnerName : '@Model.Globals.PartnerInfo.PartnerName',
                        partnerID: @NhsRoute.PartnerId,
                        siteRoot: '/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "" : (NhsRoute.PartnerSiteUrl + "/"))'
                    };

                    var parameters = {
                        searchAction: "@(Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.SearchMobile))",
                        GetMediaPlayerObjects: "@Model.GetHomeGalleryUrl().ToMvcHtmlString()",
                        GetFloorPlanGalleryUrl: "@Model.GetFloorPlanGalleryUrl().ToMvcHtmlString()",
                        GetCommunityMediaPlayerObjects: "@(Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetMediaPlayerObjects))",
                        SaveCommunity: @Model.Globals.GetAddHomeToPlannerUrl(RouteParams.PlanId.Value<int>(), RouteParams.SpecId.Value<int>()).ToMvcHtmlString(),
                        viewerParams: { brightcoveToken: '@Configuration.BrightcoveReadToken'},
                        logInfo : logginparameter,
                        SavedText : "@LanguageHelper.Saved.ToMvcHtmlString()",
                        TouchToViewFullSizeText: "@LanguageHelper.TouchToViewFullSize.ToMvcHtmlString()"
                    };

                    var detail = new NHS.Mobile.HomeDetail(parameters);
                    detail.init();


                    var loggin = new NHS.Mobile.LogginEvents(logginparameter);
                    loggin.initialize();

                    setTimeout(function() {
                        logger.logEventWithParameters('@LogImpressionConst.HomeDetailPageLoad', {
                            communityId: @Model.CommunityId,
                            builderId: @Model.BuilderId,
                            marketId: @Model.MarketId,
                            planId: @Model.PlanId,
                            specId: @Model.SpecId,
                            refer: '@UserSession.Refer'
                        });
                    }, 2000);
                });

                function showPromoDescription(id, promoDescription, showPromoDesc) {
                    if (jQuery.trim(jQuery('#nhs_promoDescriptionToggle' + id).text()) == "...@LanguageHelper.More") {
                        var description = promoDescription;
                        jQuery('#nhs_promoDescriptionToggle' + id).text("@LanguageHelper.Less");
                        jQuery("#nhsPromoDescriptionArea" + id).html("");
                        jQuery("#nhsPromoDescriptionArea" + id).html(description);
                        return false;
                    } else {
                        var chunkedDescription = showPromoDesc;
                        jQuery('#nhs_promoDescriptionToggle' + id).text("...@LanguageHelper.More");
                        jQuery("#nhsPromoDescriptionArea" + id).html("");
                        jQuery("#nhsPromoDescriptionArea" + id).html(chunkedDescription);
                        return false;
                    }
                }
            </script>

        }
    </text>
}