﻿@using Nhs.Library.Helpers.Content
@model Nhs.Mvc.Domain.Model.CMS.RcArticle
<div class="nhs_CmsArticleTeaser">
    @if (!string.IsNullOrEmpty(Model.FeaturedImage))
    {
        <a href="@NhsUrlHelper.BuildResourceCenterUrl(Model.Link(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna))">
            @Model.FeaturedImage.ToMvcHtmlString()
        </a>
    }
    <p>
        <a href="@NhsUrlHelper.BuildResourceCenterUrl(Model.Link(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna))">
            @Model.Title.ToMvcHtmlString()</a>
        <span>
            <br />
            @Model.Teaser.ToMvcHtmlString()</span>
    </p>
</div>
