﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Library.Web
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Mvc.Domain.Model.Web
@using Nhs.Mvc.Domain.Model.CMS
@using Nhs.Web.UI.AppCode.Extensions
@using System.Web.Mvc.Html
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper

<div class="nhs_CmsArticleSearch">
    <p class="nhs_Title">@LanguageHelper.SearchArticles.ToMvcHtmlString()</p>


    @{
        string searchTitleBox;

        switch ((PartnersConst)NhsRoute.BrandPartnerId)
        {
            case PartnersConst.CNA:
            case PartnersConst.NewHomeSource:
                searchTitleBox = Model.SearchFillText;
                break;
            case PartnersConst.Pro:
                searchTitleBox = "Search by topic:(commissions, registering, why show new, etc)";
                break;
            case PartnersConst.Move:
                searchTitleBox = "Search by topic:(custom homes, energy efficiency, mortgages, etc)";
                break;
            default:
                searchTitleBox = "Search by topic (kitchens, mortgage approval, building process, etc)";
                break;
        }

        <fieldset>
            <p>
                @Html.TextBoxFor(model => model.ArticleSearch, new { maxlength = "50", placeholder = searchTitleBox })
                <input id="ArticleSearchSubmit" name="ArticleSearchSubmit" value="@LanguageHelper.Search" type="button" />
            </p>
        </fieldset>
    }
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var url = "/@Pages.GetResourceCenterLink()/@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "buscar" : "search")?searchtext=";
            jQuery("#ArticleSearchSubmit").click(function() {
                var article = jQuery("#ArticleSearch").val();
                window.location.href = url + article;
            });
        });
    </script>
    <span class="nhs_Clear"></span>
</div>

