﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
<div id="nhs_Crumbs" class="clearfix">
<nav>
<ol class="nhs_CmsBreadCrumbs">
    @foreach (var category in Model.ParentCategories)
    {
        if (category.CategoryName != @"\")
        {
            <li>
                @if ((!Model.IsArticlesPage && category.CategoryName != Model.ParentCategories[Model.ParentCategories.Count - 1].CategoryName) || Model.IsArticlesPage)
                {
                    if (category.CategoryName == "Resource Center" || category.CategoryName == "Pro Resource Center" || category.CategoryName == "Move Resource Center" || category.CategoryName == LanguageHelper.ResourceCenter)
                    {
                        <a href="@NhsUrlHelper.BuildResourceCenterUrl(String.Empty)">@EktronConstants.ResourceCenterMainTitle</a>
                    }
                    else
                    {
                        <a href="@NhsUrlHelper.BuildResourceCenterUrl(category.CategoryName.ToLower().Replace(" ", "-"))">@category.CategoryName</a>
                    }
                }
                else
                {
                    <span>@category.CategoryName</span>
                }
            </li>
        }
    }
    @if (Model is ResourceCenterViewModels.ArticleViewModel)
    {
        <li><span>@Html.Raw(((ResourceCenterViewModels.ArticleViewModel)Model).Article.Title)</span></li>
    }
    @if (Model is ResourceCenterViewModels.MultiPartArticleViewModel)
    {
        <li><span>@Html.Raw(((ResourceCenterViewModels.MultiPartArticleViewModel)Model).MultiPartArticle.ArticleTitle)</span></li>
    }
    @if (Model is ResourceCenterViewModels.MultiPartArticleSectionViewModel)
    {
        <li>@Html.NhsActionLink((Model as ResourceCenterViewModels.MultiPartArticleSectionViewModel).MultiPartArticle.ArticleTitle, NhsMvc.ResourceCenter.ShowArticle((Model as ResourceCenterViewModels.MultiPartArticleSectionViewModel).MultiPartArticle.ArticleTitle.Replace(" ", "-")))</li>
        <li><span>@Html.Raw(((ResourceCenterViewModels.MultiPartArticleSectionViewModel)Model).ArticleSection.SectionTitle)</span></li>
    }
</ol>
</nav>
</div>