﻿@using System.Linq
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterFeaturedHomesSlideShowViewModel
@foreach (var slide in Model.FeaturedHomes.Slides.OrderBy(o => o.SequenceNumber).ToList())
{        
    <div class="nhs_CmsSlideFeature">
        @if (string.IsNullOrWhiteSpace(slide.Title) == false)
        {
            <h1 class="nhs_CmsArticleTitleSlide">@slide.Title</h1>
        }
        else
        {
            <h1 class="nhs_CmsArticleTitleSlide">&nbsp;</h1>
        }
        @if (string.IsNullOrWhiteSpace(slide.SubTitle) == false)
        {
            <h2 class="nhs_CmsArticleSubTitleSlide">@slide.SubTitle</h2>
        }        
        
        <div>
            @Html.Raw(slide.PictureUrl)
            <div class="nhs_CmsSlideFeatureDetailBox">
                <div class="showHide">
                    <span class="true">@LanguageHelper.CloseDetails.ToMvcHtmlString()</span>
                </div>
                <div class="nhs_CmsSlideFeatureDetail">
                    @if (string.IsNullOrWhiteSpace(slide.OverlayTitle) == false)
                    {
                        <p class="nhs_Title">@slide.OverlayTitle</p>
                        <hr />
                    }
                    @if (string.IsNullOrWhiteSpace(slide.OverlayAreaOne) == false)
                    {
                        <div class="nhs_CmsSlideFeatureDetailText">
                            @Html.Raw(slide.OverlayAreaOne)
                        </div>
                        <hr />
                        <span class="nhs_Clear"></span>   
                    }
                    @if (slide.OverlayAreaTwoItems.Any())
                    {
                        foreach (var col in slide.OverlayAreaTwoItems.GroupBy(g => g.RightCol))
                        {
                        <div class="nhs_CmsSlideFeatureDetailCol">
                            <!-- falta el SPLT de los datos en 2 col -->
                            @foreach (var ovCol in col)
                            {
                                <p>
                                    <span>@ovCol.Name</span><br />
                                    @ovCol.Value</p>
                            }
                        </div>
                        }
                        <span class="nhs_Clear"></span>
                        <hr />
                    }
                    @if (string.IsNullOrWhiteSpace(slide.OverlayLink) == false && string.IsNullOrWhiteSpace(slide.OverlayLinkText) == false)
                    {
                        <p class="nhs_CmsSlideFeatureDetailLink">
                            <a href="@slide.OverlayLink" style="color: @slide.DetailsColor">
                                @slide.OverlayLinkText
                            </a>
                        </p>
                    }
                    @if (string.IsNullOrWhiteSpace(slide.Author) == false)
                    {
                        <p class="nhs_CmsSlideFeatureDetailAuthor">
                           @LanguageHelper.CreatedBy.ToMvcHtmlString() @Html.Raw(slide.Author)
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
}