﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.HomeCategoryItemViewModel
<div class="nhs_CmsCategoryTeaser">
    <p class="nhs_Title">
        <a href="@NhsUrlHelper.BuildResourceCenterUrl(Model.Category.CategoryName.ToLower().Replace(" ", "-"))">
            @Model.FormattedCategoryName
        </a>
    </p>
    <div>
        @Html.Raw(Model.Category.CategoryHtml)
    </div>
</div>
