﻿@model Nhs.Mvc.Domain.Model.CMS.RcAuthor 
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
<div class="nhs_CmsArticleTeaser nhs_CmsAuthorTeaser clearfix">
    @if (string.IsNullOrWhiteSpace(Model.ImagePath) == false)
    { 
        <a href="@NhsUrlHelper.BuildResourceCenterUrl("authors/" + Model.Title.Replace(" ", "-"))" rel="author">
            @Html.Raw(Model.ImagePath)
        </a>
    }
    <p>
        <a href="@NhsUrlHelper.BuildResourceCenterUrl((NhsRoute.IsBrandPartnerCna ? "autores/" : "authors/") + Model.Title.Replace(" ", "-"))" rel="author">@Model.Name</a><br />
        <span>@(string.IsNullOrWhiteSpace(Model.Expertise) == false && Model.Expertise.Length > 60 ? Model.Expertise.Substring(0, 60) : Model.Expertise)</span>
        <br />
        @Html.Raw(Model.LongBio.Replace("<p>", string.Empty).Replace("</p>", string.Empty).CutLenghtByWords(120, " (<a href='" + NhsUrlHelper.BuildResourceCenterUrl((NhsRoute.IsBrandPartnerCna ? "autores/" : "authors/") + Model.Title.Replace(" ", "-")) + "'>..." + LanguageHelper.More.ToLowerCase().ToMvcHtmlString() + "</a>)"))
    </p>
</div>
