﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
<aside class="nhs_CmsAside">
    @{
        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.Partials.CmsHomesSearch, Model.AddWideHomesSearchParameter(false,true));
    }
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.TrendingNow)

    <div class="nhs_CmsAd" id="nhs_MiddleTopSq"></div>

    @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        <div class="nhs_CmsFaceBook clearfix">
            <p class="nhs_Title">
            Latest <span>News</span></p>
            <hr />
            <span class="nhs_LatestIcon">
            </span>
            @Html.GetFacebookWidget()        
        </div>
    }
    <div class="nhs_CmsAd"  id="nhs_MiddleRightBottomSq"></div>
   @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove && !Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
   {
        <div class="nhs_CmsVideo">
            <p class="nhs_Title">@LanguageHelper.DesignInspiration.ToMvcHtmlString()</p>
            <div>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/WzV5UcQzMQ0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    }    
    @ResourceCombinerEnum.RESOURCECENTERPAGEJS.GetCrunchedResource()
    
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        if (Model.IsArticlesPage)
        {
            <div class="nhs_CmsAd" id="nhs_RightWideSky">
            </div>
        }
    }

    <script type="text/javascript">
        $jq(document).ready(function () {
            var resourceCenterPageJs = new NHS.Scripts.ResourceCenterPage('/@Model.TypeAheadUrl', '@LanguageHelper.EnterLocationOrCommunityName.ToMvcHtmlString()');
            resourceCenterPageJs.initialize();

            var dropDown = new NHS.Scripts.DropDown();
            dropDown.initialize();
        });                      
    </script>
        
</aside>
