﻿@using System.Globalization
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.MultiPartArticleViewModel
<div id="nhs_CmsContent">
    <div class="clearfix"> 
        <div class="nhs_CmsMain">
            <article class="nhs_CmsArticle nhs_CmsMultiPartArticle">
                <!-- Breadcrumbs here -->
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
                <span class="nhs_Clear"></span>

                <h1 class="nhs_CmsArticleTitle">@Model.MultiPartArticle.ArticleTitle.ToMvcHtmlString()</h1>

                <div id="nhs_CmsSlides" class="nhs_CmsSlides">
                    <div class="slides_container">
                        <div class="nhs_CmsSlide">
                            <img src='@Model.MultiPartArticle.ArticleMainImage.ToMvcHtmlString()' alt="Article Image" />
                            <div class="nhs_CmsSlideText">
                                @if (Model.MultiPartArticle.ArticleSubTitle != "")
                                {
                                    <p>@Model.MultiPartArticle.ArticleSubTitle.ToMvcHtmlString()</p>
                                }                                                
                                <p class="nhs_CmsArticleByline">By @Model.MultiPartArticle.ArticleAuthor.Name</p>
                            </div>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.MultiPartArticle.ArticleSummary))
                {
                   <p class="nhs_CmsArticleSummary">@Model.MultiPartArticle.ArticleSummary.ToMvcHtmlString()</p>
                }

                @if (Model.MultiPartArticle.ArticleSections != null)
                {                
                    foreach (var sectn in @Model.MultiPartArticle.ArticleSections)
                    { 
                        <div class="nhs_CmsArticleTeaser">
                        <p class="nhs_CmsMultiPartIndex">@Model.MultiPartArticle.ArticleShortTitle</p>
                        <p>
                        @Html.NhsActionLink(@sectn.SectionTitle, NhsMvc.ResourceCenter.ShowArticle(@sectn.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                        <br/>    
                        @sectn.SectionSummary ...
                        @Html.NhsActionLink("more", NhsMvc.ResourceCenter.ShowArticle(@sectn.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                        </p>  
                        </div>                    
                    }
                }

                <span class="nhs_Clear"></span>
                <p class="nhs_CmsArticleBio">@Model.MultiPartArticle.ArticleAuthor.Bio.ToMvcHtmlString()</p>

            </article>

        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>
        <script type="text/javascript">
            $jq(document).ready(function () {

                $jq("#nhs_CmsSlides").slides({
                    play: 5000,
                    pause: 5000,
                    generateNextPrev: true,
                    paginationClass: 'nhs_CmsSlidesPagination',
                    hoverPause: true
                });

                var option = {
                    id: 'Pagination',
                    maxPage: 6,
                    navigation: 'nhs_CmsPagingBar',
                    Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
                    ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
                };
                var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
                resourceCenterPage.Pagination(option);
            });                      
        </script>
    </div>
</div>
