﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.AuthorLandingPageViewModel
<div id="nhs_CmsContent">
    <div class="clearfix">
        <div class="nhs_CmsMain">
            <article class="nhs_CmsArticle nhs_CmsAuthorLandingPage clearfix">
                <!-- Breadcrumbs here -->
                <div id="nhs_Crumbs" class="clearfix">
                <nav>
                <ol class="nhs_CmsBreadCrumbs">
                    <li>              
                        <a href="@NhsUrlHelper.BuildResourceCenterUrl(String.Empty)">@EktronConstants.ResourceCenterMainTitle</a>
                    </li>
                    <li><span>@LanguageHelper.Authors.ToMvcHtmlString()</span></li>
                </ol>
                </nav>
                </div>
                <span class="nhs_Clear"></span>

                <h1 class="nhs_CmsArticleTitle">@Model.LandingPageInfo.Title</h1>
                <p class="nhs_CmsArticleSubTitle">@Model.LandingPageInfo.SubTitle</p>
                @if (string.IsNullOrWhiteSpace(Model.LandingPageInfo.ImagePath) == false)
                {
                    <div class="nhs_CmsArticleImageCenter">
                        <img src="@Html.Raw(Model.LandingPageInfo.ImagePath)" alt="" />
                    </div>  
                }
                <div class="nhs_Clear"></div>
            </article>
            @if (Model.Authors.Any())
            {
                <span class="nhs_Clear"></span>
                <section class="nhs_CmsRelated clearfix">
                    @if (Model.Authors.Count() > 10)
                    {
                        <br />
                        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar);
                    }
                    <div id="Pagination">
                        @foreach (var author in Model.Authors)
                        {
                            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.PartialLandingAuthorInfo, author)
                        }
                    </div>
                    @if (Model.Authors.Count() > 10)
                    {
                        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar);
                    }
                    <span class="nhs_Clear"></span>
                </section>
            }
            <span class="nhs_Clear"></span>
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes)
        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>

    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function () {

        var option = {
            id: 'Pagination',
            maxPage: 10,
            navigation: 'nhs_CmsPagingBar',
            Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
            ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
        };
        var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
        resourceCenterPage.Pagination(option);

        var resourceCenterSlideshow = new NHS.Scripts.ResourceCenterSlideshow();
        resourceCenterSlideshow.setupTwitter(document, "script", "twitter-wjs");

    });
</script>
