﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterFeaturedHomesSlideShowViewModel
<div id="nhs_CmsContent" class="nhs_CmsSlideShowContent nhs_CmsSlideShowFeature">
    <div class="clearfix">
    
        <article class="nhs_CmsArticle clearfix">
            <!-- Breadcrumbs here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
            <span class="nhs_Clear"></span>
            <p class="nhs_CmsArticleType">
                Slideshow</p>
            <h1 class="nhs_CmsArticleTitle">
            </h1>
            <h2 class="nhs_CmsArticleSubTitle">
            </h2>
            <div id="nhs_CmsSlidesFeature" class="nhs_CmsSlidesFeature">
                <div class="slides_container">
                    @{
                        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.ShowIntroductorySlide, Model);
                        Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.FeaturedHomesSlideshow, Model);
                    }
                </div>
            </div>
            <div id="nhs_CmsSlidesFeatureInfo">
                @Html.Raw(Model.FeaturedHomes.SlideInformationAreaText)
            </div>
        </article>
        <span class="nhs_Clear"></span>
        <div class="nhs_CmsMain">
            <section>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                {
                    @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.ebookResourceCenter)
                }
                @if (Model.TrendingNow.Any())
                {
                    <section class="nhs_CmsRelated clearfix">
                        @if (Model.TrendingNow.Count > 6)
                        {
                            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)
                        }
                        <h6 class="nhs_Title">
                            @LanguageHelper.RelatedArticles.ToMvcHtmlString()
                        </h6>
                        <div id="Pagination">
                            @foreach (var article in Model.TrendingNow.ToList())
                            {
                                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
                            }
                        </div>
                        <div class="nhs_clear">
                        </div>
                        @if (Model.TrendingNow.Count > 6)
                        {
                            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)

                        }
                        <span class="nhs_Clear"></span>
                    </section>
                }
                <span class="nhs_Clear"></span>
                @{
                    Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes);
                }
            </section>

        </div>
        <!-- Rail Here -->
        <aside class="nhs_CmsAside">
            @{
                Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.Partials.CmsHomesSearch,Model.AddWideHomesSearchParameter(false,true));
            }
            <div class="nhs_CmsAd" id="nhs_MiddleTopSq">
               </div>
        </aside>
        <div class="nhs_Clear">
        </div>

    </div>
</div>
@ResourceCombinerEnum.RESOURCECENTERPAGEJS.GetCrunchedResource()
<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery("#nhs_CmsSlidesFeature").slides({
            play: 0,
            //next: 'next_arrow',
            //prev: 'previos_arrow',
            generateNextPrev: false,
            prependPagination: false,
            bigNextPrev: true,
            generateCount: false,
            crossfade: true,
            effect: 'fade',
            //fadeEasing: "easeOutQuad", //must use another plugin for this option
            fadeSpeed: 800,
            container: 'slides_container',
            currentClass: 'nhs_CmsSlidesCurrentPage',
            paginationClass: 'nhs_CmsSlidesFeaturePagination',
            animationComplete: function () {
                if (jQuery('.nhs_CmsSlidesFeaturePagination li:last').hasClass('nhs_CmsSlidesCurrentPage') == true) {
                    jQuery(".bignext").hide();                    
                } else { jQuery(".bignext").show(); }

                if (jQuery('.nhs_CmsSlidesFeaturePagination li:first').hasClass('nhs_CmsSlidesCurrentPage') == true) {
                    jQuery(".bigprev").hide();
                } else { jQuery(".bigprev").show(); }
            }
        });

        var resourceCenterPageJs = new NHS.Scripts.ResourceCenterPage('/@Model.TypeAheadUrl', 'Enter Location or Community Name');
        resourceCenterPageJs.initialize();

        var option = {
            id: 'Pagination',
            maxPage: 6,
            navigation: 'nhs_CmsPagingBar',
            Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
            ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
        };
        var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
        resourceCenterPage.Pagination(option);

        var optionsFeatureHomeSlideshow = {
            detailsSection: jQuery('.showHide span'),
            previos_arrow: jQuery('.bigprev'),
            next_arrow: jQuery('.bignext'),
            nhs_CMS_mainContainer: jQuery('#nhs_CmsSlidesFeature'),
            nhs_CmsSlideIntroStartLink: jQuery('#nhs_CmsSlideIntroStartLink')
        };
        resourceCenterPage.SetupFeatureSlideShow(optionsFeatureHomeSlideshow);

        var resourceCenterSlideshow = new NHS.Scripts.ResourceCenterSlideshow();
        resourceCenterSlideshow.setupTwitter(document, "script", "twitter-wjs");

        var last22 = jQuery('.nhs_CmsSlidesFeaturePagination li:last a').attr('href');
                @** is == to 21 because is based 0 **@
        if (last22 == "#21") {
            jQuery('.nhs_CmsSlidesFeaturePagination li:last a').css('width', '51px');
            jQuery('.nhs_CmsSlidesFeaturePagination li').last().css("border-right", "none");
        }        
    });
</script>
@if (@Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{
    <script type="text/javascript">
        var dropDown = new NHS.Scripts.DropDown();
        dropDown.initialize();
    </script>
}
