﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ArticleViewModel
<div id="nhs_CmsContent" class="nhs_CmsSlideShowContent">
    <div class="clearfix">
        
        <article class="nhs_CmsArticle">
            <!-- Breadcrumbs here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
            <span class="nhs_Clear"></span>
            <p class="nhs_CmsArticleType">@LanguageHelper.Slideshow.ToMvcHtmlString()</p>
            <h1 class="nhs_CmsArticleTitle">@Model.Article.Title.ToMvcHtmlString()</h1>

            @if (string.IsNullOrWhiteSpace(Model.Autor.Headline) == false && Model.Autor.Active)
            {                
                <p class="nhs_CmsArticleByline"><a href="@NhsUrlHelper.BuildResourceCenterUrl("authors/" + Model.Autor.Title.Replace(" ", "-"))" rel="author">@Model.Autor.Headline</a></p>
            }
            else if (string.IsNullOrWhiteSpace(Model.Autor.Name) == false)
            {
                <p class="nhs_CmsArticleByline">@LanguageHelper.By.ToMvcHtmlString() @Model.Autor.Name</p>
            }
            
            <!--Slideshow-->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.SlideShowArticle)
            <div class="nhs_CmsArticleSocial">
                <fb:like send="false" layout="button_count" width="90" show_faces="false" ref=""></fb:like> @*Facebook*@
                <a href="#" id="pinit"><img src="http://assets.pinterest.com/images/PinExt.png"/></a> @*Pinterest*@
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> @*Twitter*@
            </div>
        </article>
        <span class="nhs_Clear"></span>
        <div class="nhs_CmsMain">
            @if (NhsRoute.BrandPartnerId == (int)PartnersConst.NewHomeSource)
            {            
                @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.ebookResourceCenter)
            }
            @if (Model.RelatedArticles.Any())
            {
                <section class="nhs_CmsRelated clearfix">
                    <br />
                    <h6 class="nhs_Title">@LanguageHelper.RelatedArticles.ToMvcHtmlString()</h6>
                    @foreach (var article in Model.RelatedArticles)
                    {
                        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
                    }
                    <span class="nhs_Clear"></span>
                </section>
            }
            <span class="nhs_Clear"></span>
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes)
        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#nhs_CmsSlides").slides({
            play: 0,
            generateNextPrev: true,
            generatePagination: false,
            generateCount: true,
            prependPagination: true,
            bigNextPrev: true,
            animationComplete: function () {

            },
            slidesLoaded: function () {
                jQuery('.nhs_CmsSlide').each(function () {
                    jQuery(this).css('display', 'block');
                    jQuery(this).css('visibility', 'hidden');
                    var img = jQuery(this).find('div.nhs_CmsArticleImage img');
                    var imageWidth = img.width();
                    //var withImg = imageWidth + 10;
                    //withImg = withImg > 460 ? 460 : withImg;                   
                    //jQuery(this).find('div.nhs_CmsArticleImage').css('width', '460px');
                    jQuery(this).find('div.nhs_CmsArticleImage p').css('width', imageWidth + 'px');
                    jQuery(this).css('display', 'none');
                    jQuery(this).css('visibility', 'visible');
                });
                jQuery('.nhs_CmsSlide').first().css('display', 'block');
            }
        });

        jQuery(".bigprev").hide();
        jQuery(".bignext").hide();

        jQuery("#nhs_CmsSlides").on("mouseenter", function () {
            jQuery(".bigprev").show();
            jQuery(".bignext").show();
        });
        jQuery("#nhs_CmsSlides").on("mouseleave", function () {
            jQuery(".bigprev").hide();
            jQuery(".bignext").hide();
        });

        var option = {
            id: 'Pagination',
            maxPage: 6,
            navigation: 'nhs_CmsPagingBar',
            Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
            ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
        };
        var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
        resourceCenterPage.Pagination(option);

        var resourceCenterSlideshow = new NHS.Scripts.ResourceCenterSlideshow();
        resourceCenterSlideshow.setupTwitter(document, "script", "twitter-wjs");
    });                      
</script>
