﻿@using System.Globalization
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.MultiPartArticleSectionViewModel
<div id="nhs_CmsContent">
    <!-- Breadcrumbs here -->
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
    <span class="nhs_Clear"></span>
    <div class="nhs_CmsMain">
        <article class="nhs_CmsArticle nhs_CmsMultiPartArticle">
            <h1 class="nhs_CmsArticleTitle">@Model.MultiPartArticle.ArticleTitle.ToMvcHtmlString()</h1>
            <p class="nhs_CmsArticleByline">By @Model.MultiPartArticle.ArticleAuthor.Name</p>
            <div class="nhs_CmsMultiPartHeader">
                <p>@Model.MultiPartArticle.ArticleShortTitle : Part @(++Model.SectionIndex)</p>
                <h3>@Model.ArticleSection.SectionTitle</h3>
            
                @Html.NhsActionLink(LanguageHelper.ClickForArticleSummary, NhsMvc.ResourceCenter.ShowArticle(@Model.MultiPartArticle.ContentTitle.Trim().ToLower().Replace(" ", "-")))
            </div>
            
            @if (!string.IsNullOrEmpty(Model.ArticleSection.SectionImage))
            {
                <div class="nhs_CmsArticleImageRight">
                    <img src ="@Model.ArticleSection.SectionImage.ToMvcHtmlString()" alt="" />
                    @if (Model.ArticleSection.PhotoCaptionAndSource != "")
                    {
                        <p class="nhs_CmsArticleCaption">@Model.ArticleSection.PhotoCaptionAndSource</p>
                    }
                </div>
            }
            
            @if (!string.IsNullOrEmpty(Model.ArticleSection.SectionContent))
            {                
                @Model.ArticleSection.SectionContent.ToMvcHtmlString()
                <p class="nhs_CmsArticleBio">@Model.MultiPartArticle.ArticleAuthor.Bio.ToMvcHtmlString()</p>                
            }

            <div class="nhs_CmsMultiPartPaging">
                @if (Model.PreviousArticleSection != null)
                {
                    <div class="nhs_CmsPagingPrev">
                    @Html.NhsActionLink("<< " + LanguageHelper.Previous, NhsMvc.ResourceCenter.ShowArticle(Model.PreviousArticleSection.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                    </div>            
                }
                
                @if (Model.NextArticleSection != null)
                {
                    <div class="nhs_CmsPagingNext">
                    @Html.NhsActionLink(LanguageHelper.Next+" >>", NhsMvc.ResourceCenter.ShowArticle(Model.NextArticleSection.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                    </div>            
                }
            </div>

            <div class="nhs_CmsArticleSubtitle">
                <h2>@Model.MultiPartArticle.ArticleSubTitle</h2>
            </div>

            @if (Model.MultiPartArticle.ArticleSections != null)
            {                
                foreach (var sectn in @Model.MultiPartArticle.ArticleSections)
                { 
                    <div class="nhs_CmsArticleTeaser">
                    <p class="nhs_CmsMultiPartIndex">@Model.MultiPartArticle.ArticleShortTitle</p>
                    <p class="">
                    @Html.NhsActionLink(@sectn.SectionTitle, NhsMvc.ResourceCenter.ShowArticle(@sectn.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                    <br/>    
                    @sectn.SectionSummary ...
                    @Html.NhsActionLink(LanguageHelper.More.ToLower(), NhsMvc.ResourceCenter.ShowArticle(@sectn.ContentTitle.Trim().ToLower().Replace(" ", "-")))
                    </p>  
                    </div>                    
                }
            }
        </article>
    </div>
    <!-- Rail Here -->
    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
    <div class="nhs_Clear">
    </div>
    <script type="text/javascript">
        $jq(document).ready(function () {

            $jq("#nhs_CmsSlides").slides({
                play: 5000,
                pause: 5000,
                generateNextPrev: true,
                paginationClass: 'nhs_CmsSlidesPagination',
                hoverPause: true
            });

            var option = {
                id: 'Pagination',
                maxPage: 6,
                navigation: 'nhs_CmsPagingBar',
                Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
                ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
            };
            var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
            resourceCenterPage.Pagination(option);
        });                      
    </script>
</div>
