﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ArticleViewModel
<div id="nhs_CmsContent">
    <div class="clearfix">        
        <div class="nhs_CmsMain">
            <article class="nhs_CmsArticle">
                <!-- Breadcrumbs here -->
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
                <span class="nhs_Clear"></span>

                <h1 class="nhs_CmsArticleTitle">@Model.Article.Title.ToMvcHtmlString()</h1>

                @if (string.IsNullOrWhiteSpace( Model.Autor.Headline) == false && Model.Autor.Active)
                {                
                    <p class="nhs_CmsArticleByline"><a href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "autores" : "authors") + "/" + Model.Autor.Title.Replace(" ", "-"))" rel="author">@Model.Autor.Headline</a></p>
                }
                else if (string.IsNullOrWhiteSpace( Model.Autor.Name) == false)
                {
                    <p class="nhs_CmsArticleByline">@LanguageHelper.By.ToMvcHtmlString() @Model.Autor.Name</p>
                }
            
                @if (Model.Article.Subtitle != "")
                {
                    <h2 class="nhs_CmsArticleSubTitle">@Model.Article.Subtitle.ToMvcHtmlString()</h2>
                }
            
           
                @if (!string.IsNullOrEmpty(Model.Article.FeaturedImage))
                {
                    var imageClass = "nhs_CmsArticleImage" + Model.Article.FeaturedImageAlign;
                    <div class="@imageClass">
                        @Model.Article.FeaturedImage.ToMvcHtmlString() 
                        @if (Model.Article.FeaturedImageCaption != "")
                        {
                            <p class="nhs_CmsArticleCaption">@Model.Article.FeaturedImageCaption.ToMvcHtmlString()</p>
                        }
                    </div>
                }
            
                @if (Model.Article.Subhead != "")
                {
                    <p class="nhs_CmsArticleSubHead">@Model.Article.Subhead.ToMvcHtmlString()</p>
                }
                @Model.Article.Copy.ToMvcHtmlString() @*Article Body*@
                <div class="nhs_CmsArticleBio">@Model.Autor.Bio.ToMvcHtmlString()</div>

            </article>
            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || !Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
            {
                @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.ebookResourceCenter)
            }
            <span class="nhs_Clear"></span>
            @if (Model.RelatedArticles.Any())
            {
                <section class="nhs_CmsRelated clearfix">
                    <h6 class="nhs_Title">@LanguageHelper.RelatedArticles.ToMvcHtmlString()</h6>
                    @foreach (var article in Model.RelatedArticles)
                    {
                        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
                    }
                    <span class="nhs_Clear"></span>
                </section>
            }
            <span class="nhs_Clear"></span>
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes)
        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear"></div>

    </div>
</div>
