﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.CategoryViewModel
<div id="nhs_CmsContent">
    <div class="clearfix">
        <div class="nhs_CmsMain">
            <div class="nhs_CmsCategory clearfix">                                                                                                                                                                                                                                                    
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.BreadCrumb)
                <p class="nhs_CmsCategoryTitle">@Model.CategoryName</p>
                @if (NhsRoute.BrandPartnerId == (int)PartnersConst.Pro)
                {
                <hr />
                }        
                <!--Slideshow-->
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.SlideShow)
                <span class="nhs_Clear"></span>
            </div>

            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
            <!-- "What’s Inside" box -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.SubCategoriesBox)

            <div class="nhs_CmsCategory clearfix">
            @if (Model.FeaturedArticles.Any())
            {
                if (Model.FeaturedArticles.Count() > Model.GlobalBusinessConfig.NumberFeaturedArticlesToDisplay)
                {
                    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)
                }
                <p class="nhs_Title">
                    @LanguageHelper.FeaturedArticles.ToMvcHtmlString()
                </p>
                <div id="Pagination">
                    @foreach (var article in Model.FeaturedArticles)
                    {
                        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
                    }
                </div>
                if (Model.FeaturedArticles.Count() > Model.GlobalBusinessConfig.NumberFeaturedArticlesToDisplay)
                {
                    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)
                }
            }
            </div>

            @if (NhsRoute.BrandPartnerId == (int) PartnersConst.NewHomeSource)
            {
                @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.ebookResourceCenter)
            }
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.CmsHomesSearch, Model.AddWideHomesSearchParameter(true))                
        </div>

        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>

        @*<!-- Market Ads Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowMarketAds)*@
        <script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#nhs_CmsSlides").slides({
            play: 5000,
            pause: 5000,
            generateNextPrev: true,
            paginationClass: 'nhs_CmsSlidesPagination',
            hoverPause: true
        });

        var option = {
            id: 'Pagination',
            maxPage: @Model.GlobalBusinessConfig.NumberFeaturedArticlesToDisplay,
                    navigation: 'nhs_CmsPagingBar',
                    Collapse:"@LanguageHelper.Collapse.ToMvcHtmlString()",
                    ViewAll:"@LanguageHelper.ViewAll.ToMvcHtmlString()"
        };
        var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
        resourceCenterPage.Pagination(option);
    });
        </script>
    </div>
</div>
