﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.HomeViewModel
<div id="nhs_CmsContent">
    <div class="clearfix">
        <div class="nhs_CmsMain">
            <div class="nhs_CmsCategory clearfix">
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                {
                    <p class="nhs_CmsCategoryTitle">
                        @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? "Articles & Advice" : EktronConstants.ResourceCenterMainTitle)
                    </p>
                }
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {
                    <hr />
                }
                @{ var image = Model.SlideShow.Images.FirstOrDefault();}
                @if (image != null)
                {
                    if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
                    {
                    @Html.Raw(image.ImagePath.Replace("/>", " style=\"margin-bottom:5px;\" />"))
                    }
                    else
                    {
                    <div id="nhs_CmsSlides" class="nhs_CmsSlides">
                        <div class="slides_container">
                            <div class="nhs_CmsSlide">
                                @Html.Raw(image.ImagePath.Replace("/>", " class=\"nhs_CmsMapLight\" usemap=\"#ImageMap\" />"))
                                <div class="nhs_CmsSlideText">
                                    @if (string.IsNullOrEmpty(image.Link) == false)
                                    {
                                        <a href="@image.Link">@image.ImageTitle</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" style="cursor: text;">@image.ImageTitle</a>
                                    }
                                    <br />
                                    @Html.Raw(image.ImageDescription)
                                    <br />
                                    @if (string.IsNullOrEmpty(image.Link) == false)
                                    {
                                        <a href="@image.Link" class="btn_Link">@LanguageHelper.ReadMore</a>
                                    }
                                </div>
                               @if (Model.Globals.ShowEbookSection)
                               {
                                <span class="nhs_EbookAvailableWrapper">
                                    <span class="nhs_EbookAvailable">@Html.NhsLink(LanguageHelper.FreeeBookAvailable + " >", Pages.eBook)</span>
                                    @LanguageHelper.ExpertAdviceOnBuyingAndBuildingaNewHome.ToMvcHtmlString()
                                </span>
                               }                               
                            </div>
                        
                        </div>
                    </div>
                    <map id="ImageMap" name="ImageMap">
                        @{
                                        const string mData = "data-maphilight=\"{'strokeColor':'0000ff','strokeWidth':5,'fillColor':'ff0000','fillOpacity':0.6}\"";
                        }
                       
                        <area alt="" shape="rect" coords="6,261,213,291" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-compra" : "the-buying-process"))" title="3 -  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "El Proceso de compra" : "The Buying Process")" @mData />
                        <area alt="" shape="rect" coords="8,223,189,255" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "como-comprar-casa-nueva" : "how-to-shop-new"))" title="2 -  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "Como comprar casa nueva" : "How to Shop New")" @mData />
                        <area alt="" shape="rect" coords="8,187,175,217" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "casa-nueva-101" : "new-home-101"))" title="1 -  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "Casa nueva 101" : "New Home 101")" @mData />
                        <area alt="" shape="rect" coords="223,187,440,217" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "diseñando-su-hogar" : "designing-your-new-home"))" title="4 -  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "Diseñando su hogar" : "Designing your Home")" @mData />
                        <area alt="" shape="rect" coords="223,223,437,255" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "el-proceso-de-construcción" : "the-building-process"))" title="5 - The  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "El proceso de construcción" : "Building Process")" @mData />
                        <area alt="" shape="rect" coords="225,261,365,291" href="@NhsUrlHelper.BuildResourceCenterUrl((Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "instalándose-en-su-casa" : "settling-in"))" title="6 -  @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "Instalándose en su casa" : "Settling In")" @mData />
                    </map>
                    }
                }
                <span class="nhs_Clear"></span>
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
                {
                    <!-- Article search box Here -->
                    @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleSearchBox)
                }
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    var divClass = i % 2 == 0 ? "nhs_CmsColLeft" : "nhs_CmsColRight";
                                    
                    <div class="@divClass">
                        @{
                    var category = Model.Categories.ElementAt(i);
                    Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.HomePageCategoryItem, new Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.HomeCategoryItemViewModel(category));
                        }
                    </div>
                }

            </div>
            
            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro || Model.Globals.PartnerLayoutConfig.IsBrandPartnerMove)
            {
                <!-- Article and Home search boxes Here -->
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes, Model.AddWideHomesSearchParameter(true))
            }

            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
            {
                @Html.Partial(NhsMvc.Default.Views.eBook.PartialViews.ebookResourceCenter)
            }
            @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
            {
                @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.CmsHomesSearch, Model.AddWideHomesSearchParameter(true))
            }
        </div>

        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>

        <!-- Market Ads Here -->
        @*@Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowMarketAds)*@
        <script type="text/javascript">
            jQuery(document).ready(function () {

                jQuery("#nhs_CmsSlides").slides({
                    play: 5000,
                    pause: 5000,
                    generateNextPrev: true,
                    paginationClass: 'nhs_CmsSlidesPagination',
                    hoverPause: true
                });

                jQuery('.nhs_CmsMapLight').maphilight();
            });                      
        </script>
    </div>    
</div>
