﻿@using Nhs.Web.UI.AppCode.Helper
<div class="nhs_CmsPagingBar">
    <div>
        <p>
            @LanguageHelper.Page.ToMvcHtmlString():
        </p>
        <ul>
            <li><a href="#"><</a></li>
            <li><a class="nhs_Active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">></a></li>
            <li><a href="#">@LanguageHelper.ViewAll.ToMvcHtmlString()</a></li>
        </ul>
    </div>
</div>