﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ArticleResultsViewModel
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
<div id="nhs_CmsContent">
    <div class="clearfix">    
        <div class="nhs_CmsMain">
            <div class="nhs_CmsCategory clearfix">
                <div id="nhs_Crumbs" class="clearfix">
                <nav>
                    <ol class="nhs_CmsBreadCrumbs">
                        <li><a href="@NhsUrlHelper.BuildResourceCenterUrl("")">@EktronConstants.ResourceCenterMainTitle</a></li>
                        <li><span>@LanguageHelper.SearchResults.ToMvcHtmlString()</span></li>
                    </ol>
                </nav>
                </div>
                <p class="nhs_CmsCategoryTitle">
                    @LanguageHelper.SearchResults.ToMvcHtmlString()</p>
                <div class="nhs_CmsSearchResults">
                    @if (!string.IsNullOrEmpty(Model.KeyWords))
                    {
                        <p>@Model.KeyWords</p>
                    }
                    @if (!string.IsNullOrEmpty(Model.NoResultsMsg))
                    {
                        <p>@Model.NoResultsMsg</p>
                    }
                    <hr />
                    @if (Model.ArticlesList.Any())
                    {
                        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)

                        <p class="nhs_Title">
                            @LanguageHelper.Matches.ToMvcHtmlString():</p>
                        <div id="Pagination">
                            @foreach (var article in Model.ArticlesList)
                            {
                                <div class="nhs_CmsArticleTeaser">
                                <p>
                                    @{ var link = string.Format("{0}/{1}", @NhsUrlHelper.BuildResourceCenterUrl(Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "articulos" : "articles"), article.ContentTitle.ToLower().Replace(" ", "-")); }
                                    <a href="@link">@HttpUtility.HtmlDecode(article.Title)</a>                                    
                                        <br />
                                        @MvcHtmlString.Create(article.Teaser)
                                    </p>
                                </div>
                            }
                        </div>
                        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar)
                    }
                </div>
                
            </div>
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes)            
        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear">
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {


                jQuery("#nhs_CmsSlides").slides({
                    play: 8000,
                    pause: 2500,
                    generateNextPrev: true,
                    paginationClass: 'nhs_CmsSlidesPagination',
                    hoverPause: true
                });

                var option = {
                    id: 'Pagination',
                    maxPage: 10,
                    navigation: 'nhs_CmsPagingBar',
                    Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
                    ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
                };
                var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
                resourceCenterPage.Pagination(option);
            });                      
        </script>
    </div>
</div>
