﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.AuthorPageViewModel
<div id="nhs_CmsContent">
    <div class="clearfix">
        <div class="nhs_CmsMain">
            <article class="nhs_CmsArticle nhs_CmsAuthorPage clearfix">
                <!-- Breadcrumbs here -->
                <div id="nhs_Crumbs" class="clearfix">
                <nav>
                <ol class="nhs_CmsBreadCrumbs">
                    <li>
                        <a href="@NhsUrlHelper.BuildResourceCenterUrl(String.Empty)">@EktronConstants.ResourceCenterMainTitle</a>         
                    </li>
                    <li>
                        <a href="@NhsUrlHelper.BuildResourceCenterUrl(@LanguageHelper.Authors).ToLower()">@LanguageHelper.Authors.ToMvcHtmlString()</a>           
                    </li>
                    <li>
                        <span>@Model.AuthorInfo.Name</span>
                    </li>
                </ol>
                </nav>
                </div>
                <span class="nhs_Clear"></span>

                <h1 class="nhs_CmsArticleTitle">@Model.AuthorInfo.Name</h1>
                <div class="nhs_CmsArticleImageRight">
                    @Model.AuthorInfo.ImagePath.ToMvcHtmlString()
                </div>
                @Model.AuthorInfo.LongBio.ToMvcHtmlString()
                <div class="nhs_Clear"></div>
                @if (Model.AuthorInfo.SocialNetworks != null && Model.AuthorInfo.SocialNetworks.Any())
                {               
                    <p class="nhs_CmsSocialNetworksP"><strong>@LanguageHelper.ConnectWith.ToMvcHtmlString() @Model.AuthorFirstName</strong></p>
                       
                    <ul class="nhs_CmsSocialNetworksUl">
                        @foreach (var network in Model.AuthorInfo.SocialNetworks)
                        {
                            <li><a href="@network.Url" @(string.IsNullOrWhiteSpace(network.Rel) == false ? "rel='" + network.Rel + "'" : "")>
                                    @network.NetworkName
                                </a></li>
                        }
                    </ul>                
                }
            </article>
            @if (Model.RelatedArticles.Any())
            {
                <span class="nhs_Clear"></span>
                <section class="nhs_CmsRelated clearfix">
                    @if (Model.RelatedArticles.Count() > 10)
                        {
                            <br />
                            Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar);
                        }
                    <h6 class="nhs_Title">
                        @string.Format(LanguageHelper.RecentArticlesOf, Model.AuthorFirstName).ToMvcHtmlString()
                    </h6>
                    <div id="Pagination">
                        @foreach (var article in Model.RelatedArticles)
                        {
                            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.ArticleResult, article)
                        }
                    </div>
                    @if (Model.RelatedArticles.Count() > 10)
                        {
                            Html.RenderPartial(NhsMvc.Default.Views.ResourceCenter.ShowPagingBar);
                        }
                    <span class="nhs_Clear"></span>
                </section>
            }
            <span class="nhs_Clear"></span>
            <!-- Article search box Here -->
            @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Partials.ArticlesHomesSearchBoxes)
        </div>
        <!-- Rail Here -->
        @Html.Partial(NhsMvc.Default.Views.ResourceCenter.Rail)
        <div class="nhs_Clear"></div>

    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function () {
        
        var option = {
            id: 'Pagination',
            maxPage: 10,
            navigation: 'nhs_CmsPagingBar',
            Collapse: "@LanguageHelper.Collapse.ToMvcHtmlString()",
            ViewAll: "@LanguageHelper.ViewAll.ToMvcHtmlString()"
        };
        var resourceCenterPage = new NHS.Scripts.ResourceCenterPage('', '');
        resourceCenterPage.Pagination(option);

        var resourceCenterSlideshow = new NHS.Scripts.ResourceCenterSlideshow();
        resourceCenterSlideshow.setupTwitter(document, "script", "twitter-wjs");

    });
</script>
