﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterFeaturedHomesSlideShowViewModel
@if (Model.FeaturedHomes.UseIntroductorySlide)
{    
    <div class="nhs_CmsSlideFeature">
        @if (string.IsNullOrWhiteSpace(Model.FeaturedHomes.IntroductoryMainTitle) == false)
        {
            <h1 class="nhs_CmsArticleTitleIntro">@Model.FeaturedHomes.IntroductoryMainTitle</h1>
        }
        <div>
            @Html.Raw(Model.FeaturedHomes.IntroductoryPicture)
            <div id="nhs_CmsSlideFeatureIntroBox">
                <p id="nhs_CmsSlideIntroTitle">
                    @Html.Raw(Model.FeaturedHomes.IntroductoryTitle)
                </p>
                <p id="nhs_CmsSlideIntroText">
                    @Html.Raw(Model.FeaturedHomes.IntroductoryText)
                </p>
                @if (string.IsNullOrWhiteSpace(Model.FeaturedHomes.IntroductoryAuthor) == false)
                {
                    <p id="nhs_CmsSlideIntroAuthor">
                        @LanguageHelper.By.ToMvcHtmlString()  @Html.Raw(Model.FeaturedHomes.IntroductoryAuthor)
                    </p>   
                }
                <a id="nhs_CmsSlideIntroStartLink">@LanguageHelper.StartTheShow.ToMvcHtmlString() ></a>
            </div>
        </div>
    </div> 
}