﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
           
<div id="nhs_CmsSlides" class="nhs_CmsSlides">
    <div class="slides_container">
        @foreach (var image in Model.SlideShow.Images)
        {              
            <div class="nhs_CmsSlide">
                @Html.Raw(image.ImagePath)
                <div class="nhs_CmsSlideText">
                    <p>
                        @if (string.IsNullOrWhiteSpace(image.Link) == false)
                        { 
                            <a href="@image.Link">@image.ImageTitle</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" style="cursor: text;">@image.ImageTitle</a>
                        }
                        <br />
                        @Html.Raw(image.ImageDescription)<br />
                        @if (string.IsNullOrWhiteSpace(image.Link) == false)
                        { 
                            <a href="@image.Link" class="btn_Link">@LanguageHelper.ReadMore.ToMvcHtmlString()</a>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>
