﻿@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
<div id="nhs_CmsSlides" class="nhs_CmsSlides">
    <div class="slides_container">
        @foreach (var image in Model.SlideShow.Images)
        {      
            <div class="nhs_CmsSlide">
                <div class="nhs_CmsArticleImage nhs_CmsArticleImage@(image.ImageAlignment)">
                    @Html.Raw(image.ImagePath)
                    <p class="nhs_CmsArticleCaption">@image.ImageCaption
                        @if (!string.IsNullOrEmpty(image.ImageSource))
                        {
                            @:Source: @image.ImageSource
                        }
                    </p>
                </div>
                <div class="nhs_CmsSlideText">
                    <p>
                        <strong>
                            @image.ImageTitle
                        </strong>
                    </p>
                    @Html.Raw(image.ImageDescription)
                    @*Width: @image.ImageWidth*@
                </div>
            </div>
        }
    </div>
</div>
