﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.CategoryViewModel
@if (Model.SubCategories != null && Model.SubCategories.Any())
{
    <div class="nhs_CmsSubCatList">
        <p class="nhs_Title">@LanguageHelper.WhatsInside.ToMvcHtmlString()</p>
        <div>
            <ul>
                @foreach (var subCategory in Model.SubCategories)
                {
                                 
                    <li>@Html.NhsActionLink(subCategory, NhsMvc.ResourceCenter.ShowCategory(subCategory.ToLower().Replace(" ", "-")))</li>
                }
            </ul>
        </div>
    </div>
}