﻿@using Nhs.Library.Helpers.Content
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.ResourceCenterViewModels.ResourceCenterBaseViewModel
@if (Model.TrendingNow != null && Model.TrendingNow.Count > 0)
{
    <div class="nhs_CmsTrending">
        <p class="nhs_Title">@LanguageHelper.TrendingNow.ToMvcHtmlString()</p>
        @foreach (var article in Model.TrendingNow)
        {
            <div>
                <a href="@NhsUrlHelper.BuildResourceCenterUrl(article.Link(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna))" title="@article.Title">
                    @article.FeaturedImage.ToMvcHtmlString()
                </a>
                <p>
                    <a href="@NhsUrlHelper.BuildResourceCenterUrl(article.Link(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna))">@article.Title</a>
                    <br />
                    @article.Teaser.CutLenghtByWords(84).ToMvcHtmlString()... <a href="@NhsUrlHelper.BuildResourceCenterUrl(article.Link(PartnerLayoutHelper.GetPartnerLayoutConfig().IsBrandPartnerCna))">@LanguageHelper.ReadMore.ToMvcHtmlString()</a></p>
            </div>
            <span class="nhs_Clear"></span>
        }
        <span class="nhs_Clear"></span>
    </div>
}
