﻿@using Nhs.Web.UI
@using Nhs.Web.UI.AppCode.Helper
@ResourceCombinerEnum.OWNERSTORIESJS.GetCrunchedResource()
<div id="nhs_osFormContainer">
    <div id="nhs_OwnersMainDiv" style="display: @Model.Display;">
        @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesFormInfo)
    </div>
</div>
    <script type="text/javascript">
        var ownerStories = null;
        jQuery(document).ready(function () {
            ownerStories = new NHS.Scripts.OwnerStories();
            ownerStories.initCuration();
        });
    </script>

