﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.OwnerStoriesViewModel
@ResourceCombinerEnum.OWNERSTORIESJS.GetCrunchedResource()
@* Header Section *@
@Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesHeader)

<!-- Static Content Section-->
<div>
    @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesStaticContent)
</div>
<!-- Categories Section-->
<div>
    @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesCategories)
</div>
<!-- Form Section-->
<div>
    @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesForm)
</div>
<div class="nhs_Clear">
</div>
<!-- Contest Tabs Section-->
<div>
    @Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesContest)
</div>
<br />
<br />
@Html.Partial(NhsMvc.Default.Views.OwnerStories.PartialViews.OwnerStoriesPreview)
<script type="text/javascript">
    var ownerStories = null;
    var showThanksPreview = @(Model.SubmitOk.ToString().ToLower());
    jQuery(document).ready(function () {

        var parameters = {
            sliderContainerId: 'nhs_OwnersSliderContainer',
            sliderRightArrowId: 'nhs_OwnersSliderRightArrow',
            sliderLeftArrowId: 'nhs_OwnersSliderLeftArrow',
            videoHeight: 300,
            videoWidth: 400,
            showThanksPreviewWindow : showThanksPreview,
            loadingImage : '@GlobalResources14.Default.images.icons.nhs_loader_gif'            
        };

        ownerStories = new NHS.Scripts.OwnerStories(parameters);
        ownerStories.init();

    });
</script>

