﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Library.Business.BoylResult

<!-- COMMUNITY -->           
<div class="nhs_ResItem clearfix nhs_Row">
    <h2>
         <a href="@Model.BrandCNHLink()" target="_blank">@Model.BrandName</a>
    </h2>
    <div class="nhs_ItemImg">
        @Html.NhsImage(@Model.CommThumbnail(), @Model.BrandName, false)
    </div>
    <p>@LanguageHelper.SeeBuilderProfile.ToMvcHtmlString()</p>
    
    @Html.NhsImage(Model.BrandImageThumbnailUrl(), Model.BrandName, false)
    

    <ul class="nhs_Actions">
        <li><a href="@Model.BrandCNHLink()" class="btn nhs_QuickBtn"  target="_blank">@LanguageHelper.VisitSite.ToMvcHtmlString()</a></li>
    </ul>
</div>
<!-- COMMUNITY END-->