﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers
@model Nhs.Library.Business.BoylResult
<div class="nhs_ResItem clearfix nhs_Row">
    <h2>
        @(!Model.IsBasicCommunity ?
                Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null) :
        Html.NhsActionLink(Model.CommunityName, NhsMvc.BasicCommunityDetail.Show(Model.CommunityId, Model.ParamsBasicCommunityHref()), null)) <span>@LanguageHelper.By.ToMvcHtmlString() @Model.BrandName</span>
    </h2>
    <div class="nhs_ItemImg">
        @Html.NhsImageLink(Model.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null, null)
    </div>
    <p>
        @if (Model.BuildOnYourLot && Model.MatchingHomes > 0)
        {
            @string.Format("{0} {1}", Model.MatchingHomes, Model.MatchingHomes == 1 ? LanguageHelper.CustomNewHome : LanguageHelper.CustomNewHomes)
        }
        else
        {
            if (Model.SquareFeetLow != 0 && Model.SquareFeetHigh != 0)
            {
                if (Model.MatchingHomes > 0)
                {
            @string.Format("{0} {1}", Model.MatchingHomes, Model.MatchingHomes == 1 ? LanguageHelper.NewHomePlan : LanguageHelper.NewHomePlans)
                }
            }
        }
    </p>
    <p>
        @if (Model.SquareFeetLow != 0 && Model.SquareFeetHigh != 0)
        {
            @string.Format("{0} - {1} sq.ft.", Model.SquareFeetLow, Model.SquareFeetHigh) 
        }
    </p>
    <ul class="nhs_Actions">
        @if (Model.MatchingHomes > 0 && !Model.IsBasicCommunity)
        {
            <li>@Html.QuickView(Model)</li>
        }
        <li>@Html.GetMapPopup(Model)</li>
        <li>@Model.GetPhoneNumber()</li>
    </ul>
</div>
