﻿@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BoylResultsViewModel
<section>
    <header class="nhs_ResContext">
        <h1>@string.Format("{0} " + (Model.TotalBuilders > 1 ? LanguageHelper.CustomHomeBuilders : LanguageHelper.CustomHomeBuilder) + " {1} " + (Model.TotalListings > 1 ? LanguageHelper.ListingsIn : LanguageHelper.ListingIn) + " {2}", Model.TotalBuilders, Model.TotalListings, Model.MarketName)</h1>
    </header>
    <section id="nhs_ResList" class="nhs_ResList clearfix">
        <div id="nhs_results">
            @foreach (var result in Model.Results)
            {
                foreach (var boylResult in result)
                {
                    Html.RenderPartial(boylResult.IsCnh ? NhsMvc.Default.ViewsMobile.BoylResults.BoylResultCnh : NhsMvc.Default.ViewsMobile.BoylResults.BoylResult, boylResult);
                }
            }
        </div>
        @Html.NhsLink(LanguageHelper.SeeMoreCommunities, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.MarketId), new { @class = "btn", id = "nhs_MoreResults" })
    </section>
</section>
@section cphFooter
{
    @Html.GetGoogleMapScript()    
    @ResourceCombinerEnum.BOYLRESULTSMOBILE.GetCrunchedResource()
    <script type="text/javascript">
        jQuery(document).ready(function() {

            jQuery(document).on('click', '.nhs_Row', function(event) {
                jQuery.CancelEventAndStopPropagation(event);
                if (event.type === "click") {
                    var url;
                    var target;
                    url = jQuery(this).find("a:first-of-type").attr("href");
                    target = jQuery(this).find("a:first-of-type").attr("target");

                    if (target === "_blank") {
                        window.open(url);
                    } else {
                        window.location.href = url;
                    }
                }
            });

            jQuery(document).on("click", ".nhs_CallBtn", function (event) {
                var control = jQuery(this);
                event.stopPropagation();
                var dataPost = {
                    communityId: control.data("commid"),
                    builderId: control.data("builderid"),
                    eventName: "@LogImpressionConst.MobileBoylResultsCallSalesOffice"
                };
                logEvents(dataPost);
            });


            jQuery(document).on("click", ".nhs_DirectionsBtn", function() {
                var control = jQuery(this);
                var dataPost = {
                    communityId: control.data("commid"),
                    builderId: control.data("builderid"),
                    eventName: "@LogImpressionConst.MobileBoylResultsShowRoute"
                };
                logEvents(dataPost);
            });

            jQuery(document).on("click", "a#nhs_Share_Facebook, a#nhs_Share_Twitter", function () {
                var control = jQuery(this);
                var dataPost = {
                    communityId: control.data("commid"),
                    builderId: control.data("builderid"),
                    eventName: "@LogImpressionConst.MobileBoylResultsSocialMediaShare"
                };
                logEvents(dataPost);
            });

            function logEvents(dataPost) {
                jQuery.ajax({
                    type: "POST",
                    url: "@(Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.ImpressionLogger))",
                    data: dataPost,
                    dataType: "json"
                });
            }
        });
    </script>
}
