﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicHomeDetailViewModel
<section id="Contact">
    <div class="nhs_basicListingsDetails">
        <div class="nhs_BasicHomeAgentContact">        
            <div>
                <img src="@Model.GetAgentPictureUrl" alt="" />
            </div>
            
            @*<p class="nhs_DetailSectionTitle">Agent Information</p>*@
            <p class="nhs_ContactAgentName">@Model.AgentName</p>            
            @if (Model.HaveAgentPhoneNumber)
              {
            <p id="nhs_LnkPhoneNum">
                <a id="nhs_PhoneLink" class="nhs_PhoneLink">@LanguageHelper.SeePhoneNumber.ToMvcHtmlString()</a>
            </p>
            <p id="nhs_FormPhone" title="@Model.GetAgentPhoneNumber">@Model.GetAgentPhoneNumber</p>
            } 
            @if (!string.IsNullOrEmpty(Model.BrokerUrl))
              {
                <p>@Html.GetBasicListingProviderLink(Model)</p>
            }
        </div>
        <div class="nhs_BasicHomeAgentContact"> 
        @if (!string.IsNullOrEmpty(Model.BrokerImageUrl))
                  {           
            <div>                
                <img src="@Model.GetBrokerImageUrl" alt="" />                
            </div> 
                  }
            @if (!string.IsNullOrEmpty(Model.BrokerName))
              {
                <p class="nhs_ContactAgentWebsite">@Model.BrokerName</p>
             }
        </div>
    </div>
    <div class="nhs_Clear">
    </div>
</section>

