﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicHomeDetailViewModel

<script type="text/javascript">
    var description = "@Model.Description";
    var chunkedDescription = "@Model.Description.ChunkHomeDescription()";
</script>
@if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled)
{
    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
}
<div class="nhs_Clear">
</div>
<div id="nhs_basicListingsDetailsProperty">
    <div id="nhs_DetailsHeader">
        <div class="nhs_DetailsHeaderTitleCity">
            <h1 class="nhs_DetailsHeaderTitle">
                @Html.Raw(Model.H1)
            </h1>
        </div>

        <div id="nhs_RichSnippets" style="display: none">
           @Html.Partial(NhsMvc.Default.Views.Common.RichSnippets, Model)
        </div>
    </div>

    <div class="picPlaceHolder">
        @Html.NhsImage(Model.GetImgUrl, Model.Address, false)
    </div>
    <div class="details">
        <h2 class="price">
            @Model.GetPrice
        </h2>
        <ul>
            @Model.GetBeds.ToMvcHtmlString()
            @Model.GetBaths.ToMvcHtmlString()
            @Model.GetSqft.ToMvcHtmlString()
            @Model.GetMlsNumber.ToMvcHtmlString()
            @if (!string.IsNullOrEmpty(Model.YearBuilt))
            {
                <li>
                    @LanguageHelper.BuiltIn.ToMvcHtmlString() @Model.YearBuilt
                </li>
            }
        </ul>
        @if (Model.SchoolDistrict.Count > 0)
        {
            <h3>
                @LanguageHelper.AreaSchools.ToMvcHtmlString()
            </h3>
            <ul>
                @foreach (var school in Model.SchoolDistrict)
                {
                    <li>
                        @school.ToMvcHtmlString()
                    </li>
                }
            </ul>
        }
        
        <span class="propertyDescription">
            <span id="nhsDetailDescriptionArea">
                @Model.Description.ChunkHomeDescription().ToMvcHtmlString()
            </span>
            @if (!string.IsNullOrEmpty(Model.Description) && Model.Description.Length > Model.GetPropertyDetailDescriptionLength())
            {
                <a id="nhs_detailDescriptionToggle" href="javascript:void(0)" class="nhs_likeALink">
                    ...@LanguageHelper.More.ToMvcHtmlString()
                </a><br />
            }
        </span>
    </div>

    <div class="nhs_Clear">
    </div>
</div>
