﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicHomeDetailViewModel

<section id="MortgageCalc">
    <div class="nhs_mortgageContainer">
        <div class="nhs_DetailSections">
            <a name="mortgagecalculator"></a>
            <h3 class="nhs_DetailSectionTitle">
                Mortgage Calculator
            </h3>
        </div>
        <div class="nhs_MortgageBox">
            <iframe src="http://mortgagerates.icanbuy.com/?siteid=206f35c4e7ee1a32&size=630&transaction=52&zip=@Model.PostalCode&home_value=@Model.PriceLow" width="665" height="710" border="0" style="
            border: none 0;"></iframe>
        </div>
        <div class="nhs_Clear"></div>
    </div>
</section>
<div class="nhs_BackToTop">
    <a href="#top">
        @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
