﻿@model Nhs.Web.UI.AppCode.ViewModels.BasicHomeDetailViewModel
@using System.Collections.Generic
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.HtmlHelpers

<div class="nhs_Clear"></div>

<div class="nhs_NextStepsForm">
    <div class="nhs_DetailSections">
        <h3 class="nhs_DetailSectionTitle">
            @LanguageHelper.NextSteps.ToMvcHtmlString()
        </h3>
    </div>
    <ul>
        <li>@Html.Raw(Model.AffiliateLinksData.MortageRatesFormArea)</li>
        <li>@Html.Raw(Model.AffiliateLinksData.FreeCreditScoreFormArea)</li>
    </ul>
</div>

<section id="NearByHomes" class="nhs_BasicHomeNearbys">    

 @{
     var nearByComms = Model.NearByComms;

     if (Model.ShowCta)
     {
        <div class="nhs_NearbyComms clearfix">
            <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">
                @LanguageHelper.AndWaitThereIsMore.ToMvcHtmlString()</h3>
            </div>
            @Html.NhsLink(LanguageHelper.SeeMoreCommunitiesInThe + Model.MarketName, RedirectionHelper.GetCommunityResultsPage(), RedirectionHelper.ToResultsParams(Model.MarketId), new { @class = "btnCss" })
        </div>     
     }
     else if (Model.ShowEbook)
     {
         @Html.StaticContent("/BasicHomeDetail/eBookContent.html")
     }
     else
     {
         <div class="nhs_DetailSections">
             <h3 class="nhs_DetailSectionTitle">
                 @LanguageHelper.NearbyCommunities.ToMvcHtmlString()
             </h3>
         </div>
         <div class="nhs_MoreHomesNearby">
             @foreach (var comm in nearByComms)
             {
                 <div class="nhs_NearbyItem">
                     <div class="nhs_NearbyImgBox">
                         @Html.NhsAsyncImageLink(comm.CommThumbnail(), RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null, null, false)
                         <p class="nhs_NearbyImgOverlay">@comm.DistanceFromCommunity.FormatDistance()</p>
                     </div>
                     <p class="nhs_selector">
                         @Html.NhsLink(comm.CommunityName, RedirectionHelper.GetCommunityDetailPage(), comm.ToCommunityDetail(), null)
                     </p>
                     <p>
                         @LanguageHelper.By.ToMvcHtmlString() @MvcHtmlString.Create(HttpUtility.HtmlDecode(@comm.BrandName))
                     </p>
                     <p>@LanguageHelper.HomesFrom.ToMvcHtmlString() @comm.PriceLow.FormatPrice()
                     </p>
                 </div>
             }
         </div>
     }
 }

</section>

<div class="nhs_BackToTop">
    <a href="#top">
       @LanguageHelper.BackToTop.ToMvcHtmlString()
    </a>
</div>
<div class="nhs_Clear">
</div>