﻿@*@using System.Globalization*@
@using System.Globalization
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BasicHomeDetailViewModel
<div class="nhs_Content nhs_BasicHomeDetails">

    @if (Model.FeedProviderId == (int)BasicListingProvide.Point2)
    {
        <img src="@Model.WebBugUrl" style="display:none" alt="" />
    }

    @*PROPERTY DETAILS*@
    @Html.Partial(NhsMvc.Default.Views.BasicHomeDetail.HomeHeader)

    @*Nearby Homes*@
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs)
    {
        @Html.Partial(NhsMvc.Default.Views.BasicHomeDetail.NearByHomes)
    }

    @*MAP AREA*@
    @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyMap)

    @*end MAP AREA*@

    @*Mortgage calculator*@
    @Html.Partial(NhsMvc.Default.Views.BasicHomeDetail.MortgageCalculator)



    @*CONTACT AREA*@
    @Html.Partial(NhsMvc.Default.Views.BasicHomeDetail.AgentContactInfo)
    @*end CONTACT AREA*@

</div>

@section cphDataLayer{
    @Model.GetGtmDataLayerForDetailPage(true)
}

@section cphFooter{
    @Html.GetGoogleMapScript()
    @ResourceCombinerEnum.BASICHOMEDETAILJS.GetCrunchedResource()
    <script type="text/javascript">
    jQuery(document).ready(function () {
        var params = {
            brandPartnerId: @NhsRoute.BrandPartnerId,
            marketId: @Model.MarketId,
            siteRoot: '/@(string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl)? "" : (NhsRoute.PartnerSiteUrl + "/"))',
            partnerId: @NhsRoute.PartnerId,
            communityId: @Model.BasicListingId,
            builderId: @Model.BasicListingId,
            specId: null,
            planId: null,
            resourceRoot: '@Configuration.ResourceDomain/',
            fromPage: '/@NhsRoute.CurrentRoute.Function',
            drivingDirectionAction: '/@Pages.DrivingDirections',
            propertyDetailAction: '@Pages.CommunityDetail',
            logevent: '@LogImpressionConst.PhoneNumberView',
            logeventShowRoute: '@LogImpressionConst.BasicListingCommunityShowRoute',
            feedProviderId: @Model.FeedProviderId,
            basicListingNumber: '@Model.BasicListingNumber',
            listHubProviderId: '@Model.ListHubProviderId',
            listHubTestLogging: @Model.ListHubTestLogging,
            desckey: '@LogImpressionConst.BasicListingCommunityDetailPageViewed',
            AgentPhoneClicked: '@LogImpressionConst.BasicListingCommunityAgentPhoneClicked',
            MoreWord: "@LanguageHelper.More.ToMvcHtmlString()",
            LessWord: "@LanguageHelper.Less.ToMvcHtmlString()",
            mapParametes: {
                resourceRoot: '@Configuration.ResourceDomain/',
                drivingDirectionAction: '/@Pages.DrivingDirections',
                startLat: @Model.RouteLat,
                startLng: @Model.RouteLng,
                NearbyComms: [],
                siteRoot: '/@NhsRoute.SiteRoot',
                partnerId: @NhsRoute.PartnerId,
                marketId: @Model.MarketId,
                isBasicListing: true,
                isBasicCommunity: false,
                fromPage: '/@NhsRoute.CurrentRoute.Function',
                communityId: @Model.BasicListingId,
                builderId: @Model.BuilderId,
                planId: 0,
                specId: 0,
                mapWidth: 451,
                mapHeight: 385,
                icon: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs || Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_gray_png",
                iconNearByComm: "@GlobalResources14.Default.images.icons.map_poi_gray_png ",
                getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                        Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                        Zoom: 14,
                        ContainerName: 'nhs_PropertyMap',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 14,
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'CommunityName'
                    },
                    Autocomplete: {
                        CreateControl: false,
                        BindToBound: false,
                        Autocompletecontrol: 'nhsTxtStreeAddress'
                    }
                }
            },
        };

        var basicHomeDetail = new NHS.Scripts.CommunityDetail.BasicHome(params);
        basicHomeDetail.initialize();
    });
</script>
}
