﻿@using Nhs.Library.Constants.Enums
@model Nhs.Web.UI.AppCode.ViewModels.DetailsClientInfo
<div class="pro_CRM_Modal">
    <fieldset>
        <legend class="nhs_Reader">Add/Edit Client</legend>
        <div id="pro_CRM_ClientInfoFields">
            <div class="pro_CRM_ModalLeft">
                <p>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { maxlength = "50" })
                </p>
                <p>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { maxlength = "50" })
                </p>
                <p>
                    @Html.LabelFor(m => m.RelatedFirstName)
                    @Html.TextBoxFor(model => model.RelatedFirstName, new { maxlength = "50" })
                </p>
                <p>
                    @Html.LabelFor(m => m.RelatedLastName)
                    @Html.TextBoxFor(model => model.RelatedLastName, new { maxlength = "50" })
                </p>
                <div id="pro_EmailList">
                    @if (!Model.EmailList.Any())
                    {
                        <div class="pro_email">
                            <p>
                                <label for="EmailList">* Email:</label>
                                @Html.TextBox("EmailList[0].Email", null, new { @class = "pro_CRM_InputAlt", maxlength = "50" })
                                @Html.DropDownList("EmailList[0].EmailType", new SelectList(new[] { "Home", "Work", "Other" }), "Choose")
                            </p>
                        </div>
                    }
                    else
                    {
                        for (var i = 0; i < Model.EmailList.Count(); i++)
                        {
                            <div class="pro_email">
                                <p>
                                    <label for="EmailList">* Email:</label>
                                    @Html.TextBoxFor(model => Model.EmailList[i].Email, new { @class = "pro_CRM_InputAlt", maxlength = "50" })
                                    @Html.DropDownListFor(model => Model.EmailList[i].EmailType, new SelectList(new[] { "Home", "Work", "Other" }, Model.EmailList[i].EmailType), "Choose")
                                </p>
                            </div>
                        }
                    }
                </div>
                <p class="pro_CRM_LineUp">
                    <a href="#" id="pro_AddMoreEmails">Add another email</a>
                </p>
            </div>
            <div class="pro_CRM_ModalRight">
                <p>
                    <label for="pro_ClientStatus">Client Status:</label>
                    <input type="button" value="Active" id="pro_ClientStatusActive" @(Model.Status == (int)ProCrmClientsStatusType.Inactive ? "" : "disabled=disabled") />
                    <input type="button" value="Inactive" id="pro_ClientStatusInactive" @(Model.Status == (int)ProCrmClientsStatusType.Active ? "" : "disabled=disabled") />
                    @Html.HiddenFor(model => model.Status)
                </p>
                <p>
                    @Html.LabelFor(m => m.Phone1)
                    @Html.TextBoxFor(model => model.Phone1, new { @class = "pro_CRM_InputAlt", maxlength = "20" })
                    @Html.DropDownListFor(model => model.Phone1Type, new SelectList(new[] { "Home", "Mobile", "Work", "Other" }), "Choose")
                </p>
                <p>
                    @Html.LabelFor(m => m.Phone2)
                    @Html.TextBoxFor(model => model.Phone2, new { @class = "pro_CRM_InputAlt", maxlength = "20" })
                    @Html.DropDownListFor(model => model.Phone2Type, new SelectList(new[] { "Home", "Mobile", "Work", "Other" }), "Choose")
                </p>
                <p>
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(model => model.Address, new { maxlength = "100" })
                </p>
                <p>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(model => model.City, new { maxlength = "50" })
                </p>
                <p>
                    @Html.LabelFor(m => m.State)
                    @Html.DropDownListFor(m => m.State, Model.StateList) @Html.LabelFor(m => m.ZipCode)
                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "pro_CRM_InputZip", maxlength = "10" })
                </p>

            </div>
            <span class="nhs_Clear"></span>
            <br />
            <p>
                @Html.LabelFor(m => m.Notes)
                @Html.TextAreaFor(model => model.Notes, new { maxlength = "2000" })
            </p>
            @Html.ValidationSummary()
            <div class="pro_CRM_ClientsControl">
                <input type="submit" class="btn pro_CRM_Button" value="Save" id="btn_save" />
                <span class="btn_SaveFake" id="btn_saveFake" style="display:none;"></span>
                <a href="javascript:void(0)" onclick=" tb_remove(); $jq.googlepush('Add/Edit Client', 'Modal', 'Cancel'); ">Cancel</a>
                <span class="nhs_Clear"></span>
            </div>
            <div class="pro_CRM_Footer">
                <p>
                    We will never share your client's full name or contact information unless you specifically
                    choose to share it with a builder.
                </p>
            </div>
        </div>
        @Html.HiddenFor(model => model.ClientId)
        @Html.HiddenFor(model => model.IsEditMode)
        <div class="nhs_Clear"></div>
    </fieldset>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        crm.initializeAddEditClient();

        jQuery(document).off("click", ".pro_CRM_Button").on("click", ".pro_CRM_Button", function () {
            var input = jQuery(".pro_CRM_Modal input, select").serialize();

            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, (Model.IsEditMode ? NhsMvc.ProCrm.ActionNames.EditClientModal
                                                                               : NhsMvc.ProCrm.ActionNames.AddClientModal))",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    jQuery("#pro_AkaxUpdateClientInfo").html(data);
                    crm.initializeAddEditClient();
                }
            });
        });
    });
</script>
