﻿@using Kendo.Mvc.UI
@model Nhs.Web.UI.AppCode.ViewModels.AddEmailToNewClients    
<script type="text/javascript">  
//        $jq('#pro_SendDataToServer').click(function(e) {
//            e.preventDefault();
//            $jq('.emailClient').each(function() {
//                var email = $jq(this).val();
//                if (isBlank(email)) {
//                    $jq('#btnSendMessageFakeAE').show();                    
//                   return false;
//                }
//            });
//            
//            $jq.googlepush('Add Client to List - Comm', 'Modal', 'Save New Clients'); 
//            $jq(this).hide();
//            $jq('#pro_SendBrochureFakeAE').show();
//            
//            $jq('#pro_ModalSubmitForm').submit();
//            return true;
//        });

//    });

//    function isBlank(pString) {
//        if (!pString || pString.length == 0) {
//            return true;
//        }
//        return !/[^\s]+/.test(pString);
//    }

    function open() {
        var source = @Model.GetFinalSourceOfClients();
        var self = $jq(this.element);
        var exclude = self.parent().parent().find(".pro_exclude").val();
        var excludeList = [];
        if (exclude.length > 0) {
            excludeList.push(exclude);
        }

        $jq("input.pro_DropDownList").each(function() {
            var dropdownlist = $jq(this).data("kendoDropDownList");
            exclude = dropdownlist.value();
            if (exclude.length > 0) {
                if (self.attr("id") != $jq(dropdownlist.element).attr("id"))
                    excludeList.push(exclude);
                exclude = $jq(dropdownlist.element).parent().parent().find(".pro_exclude").val();
                excludeList.push(exclude);
            }
        });

        var finalSource = [];
        $jq.each(source, function() {
            var y = excludeList.indexOf(this.Value);
            if (y == -1)
                finalSource.push(this);
        });

        this.dataSource.data(finalSource);
    }
        
    function change() {
        $jq("input.pro_DropDownList").each(function() {
            var dropdownlist = $jq(this).data("kendoDropDownList");
            dropdownlist.enable();
        });
        
        var value = this.value();
        var id = "#por_Multi_" + $jq(this.element).attr("id").replace("[", "_").replace("]", "_");
        if (value.length > 0) {
            $jq(id).show();
            var control = $jq(".pro_exclude[value='" + value + "']");
            var parent = control.parent();
            var dropdownlist = parent.find("input.pro_DropDownList").data("kendoDropDownList");
            
            try {
                dropdownlist.enable(false);
            } catch(ex) {
            }
        } else            
            $jq(id).hide();
    };
</script>
    @Html.Hidden("IsMvc", true)
    <fieldset>
        <legend class="nhs_Reader">Add New Clients and Emails</legend>
        <p>
            <strong>You are adding a new client. Please enter an email address to complete the new
                client setup.</strong></p>
        <br />
        <div id="pro_ValuesInput">
            <table id="pro_newClients" class="pro_TableRecipients">
                @for (int index = 0; index < Model.Clients.Count; index++)
                {
                    <tr>
                        <td data-item="select">
                            @Html.CheckBoxFor(model => model.Clients[index].SelectClient, new { @class = "pro_SelectClient" })
                        </td>
                        <td>
                            <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" style="display: none"
                                 id="@string.Format("por_Multi_NewClients_{0}__PrimaryClient", index)"  />
                            <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" 
                                 class="pro_OpenDropDownList" id="@string.Format("por_Image_NewClients\\[{0}\\]_PrimaryClient", index)"  />
                            <strong>@Model.Clients[index].Name</strong>
                            @Html.HiddenFor(model => model.Clients[index].Name, new { @class = "pro_ClientName" })

                        </td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.Clients[index].Email) || Model.HasErrors)
                            {
                                <span>Email :</span>
                                @Html.TextBoxFor(model => Model.Clients[index].Email, new { @class = "pro_Email" })
                            }
                            else
                            {
                                @Model.Clients[index].Email
                                @Html.HiddenFor(model => Model.Clients[index].Email)    
                            }
                        </td>
                    </tr>
                    <tr style="display: none" id="@string.Format("por_tr_NewClients_{0}__PrimaryClient", index)">
                        <td>
                        </td>
                        <td colspan="2">
                            <input class="pro_exclude" type="hidden" value="@Model.Clients[index].Name" />
                            Primary client:
                            @(Html.Kendo().DropDownListFor(model => Model.Clients[index].PrimaryClient)
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .OptionLabel("Select a client...").HtmlAttributes(new Dictionary<string, object> { { "class", "pro_DropDownList" } })
                                  .BindTo(Model.ClientSourceList).Events(e => e.Open("open").Change("change"))
                                  )
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <br />
                        <p>
                            <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                            <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                            Want to associate one client to another? Click
                            <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                            above to relate two contacts.
                        </p>
                    </td>
                </tr>
            </table>
            @Html.ValidationSummary()
            <div class="validation-summary-errors" id="btnSendMessageFakeAE" style="display: none">
                <ul>
                    <li>The email(s) are not valid</li>
                </ul>
            </div>
            @{ Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ContactBuilderAndRequestAppointmentClient.PartialHiddenFields, Model); }
        </div>
    </fieldset>
    <div class="pro_CRM_ClientsControl">
        <input type="button" class="btn pro_CRM_Button" id="pro_AddEmailToNewClients" value="Save Clients" />
        <span style="display: none;" class="btn_SendBrochureFake" id="pro_SendBrochureFakeAE">
        </span><a onclick=" $jq.googlepush('Add Client to List - Comm', 'Modal', 'No');tb_remove(); "
            href="javascript:void(0)">No, thanks</a> <span class="nhs_Clear"></span>
    </div>

<script type="text/javascript">
    $jq(document).ready(function () {

        $jq(".pro_SelectClient").each(function () {
            var checkbox = $jq(this);
            var id = checkbox.attr("id");
            $jq('<label for="' + id + '">Select</label>').insertAfter(checkbox);
        });

        $jq(".k-window-titlebar a.k-window-action").click(function () {
            $jq.googlepush('Add Client to List - Brochure', 'Modal', 'Close');
        });

        tb_ChangeTitle("Add new clients and emails to your list?");

        $jq(".pro_OpenDropDownList").click(function () {
            $jq(this).off("click");
            var id = $jq(this).attr("id").replace("por_Image_", "");
            $jq("#por_tr_" + id.replace("\\[", "_").replace("\\]", "_")).show();
            //var dropdownlist = $jq("#" + id).data("kendoDropDownList");
            //dropdownlist.open();
        });

        var parameters = {
            saveUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SaveEmailToNewClients)"
        };
        var crm = new NHS.Scripts.Crm(parameters);
        crm.initializeAddEmailToNewClients();

    });
</script>
