﻿@model Nhs.Web.UI.AppCode.ViewModels.AddEmailToNewClients    
<fieldset>
    <legend class="nhs_Reader">Add New Clients and Emails</legend>
    <p><strong>
        You are adding a new client. Please enter an email address to complete the new client
        setup.</strong></p>
    <br />
    <div id="pro_ValuesInput">
        <table class="pro_TableRecipients">
            @for (var i = 0; i < Model.Clients.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(model => Model.Clients[i].SelectClient, new { @class = "pro_SelectClient" })                     
                    </td>
                    <td>
                        <img alt="" src="@GlobalResourcesMvc.Pro.images.icons.person_png" />
                        <strong>@Model.Clients[i].Name</strong>
                        <input id="Clients_@(i)__Name" type="hidden" value="@Model.Clients[i].Name" name="Clients[@(i)].Name">
                    </td>
                    <td>
                        <label for="@Model.Clients[i].Email">
                            *Email:</label>
                        <input id="Clients_@(i)__Email" class="pro_Email" type="text" value="" name="Clients[@(i)].Email">
                    </td>
                </tr>
            }
        </table>
        @Html.ValidationSummary()
        <div class="validation-summary-errors" id="btnSendMessageFakeAE" style="display: none">
            <ul>
                <li>The email(s) are not valid</li>
            </ul>
        </div>
        @{ Html.RenderPartial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.ContactBuilderAndRequestAppointmentClient.PartialHiddenFields, Model); }
    </div>
</fieldset>
<div class="pro_CRM_ClientsControl">
    <input type="button" class="btn pro_CRM_Button" value="Save Clients" id="pro_AddEmailToNewClients"
        onclick="$jq.googlepush('Add Client to List - Comm', 'Modal', 'Save New Clients'); $jq(this).hide();$jq('#pro_SendBrochureFakeAE').show(); " />
    <span style="display: none;" class="btn_SendBrochureFake" id="pro_SendBrochureFakeAE">
    </span><a onclick="$jq.googlepush('Add Client to List - Comm', 'Modal', 'No');tb_remove();"
        href="javascript:void(0)">No, thanks</a> <span class="nhs_Clear"></span>
</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        var parameters = {
            saveUrl: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.SaveEmailToNewClients)"
        };
        var crm = new NHS.Scripts.Crm(parameters);
        crm.initializeAddEmailToNewClients();

    });
</script>
