﻿@using Kendo.Mvc.UI
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.AddNewClientsViewModel
@if (Model.IsMultiBrochure)
{
    <iframe src="@(new List<RouteParam>().ToUrl("conversiontracker/multiselect", true))" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow"></iframe>
}
<script type="text/javascript">
    $jq(document).ready(function() {
        $jq(".pro_SelectClient").each(function () {
            var checkbox = $jq(this);
            var id = checkbox.attr("id");
            $jq("<label for=\"" + id + "\">Select</label>").insertAfter(checkbox);
        });

        $jq(".k-window-titlebar a.k-window-action").click(function() {
            $jq.googlepush("Add Client to List - Brochure", "Modal", "Close");
        });

        tb_ChangeTitle("Add new clients and emails to your list?");
        @Model.GoogleAnalytics.ToString().ToMvcHtmlString()
        $jq(".pro_OpenDropDownList").click(function() {
            $jq(this).off("click");
            var id = $jq(this).attr("id").replace("por_Image_","");
            $jq("#por_tr_" + id.replace("\\[","_").replace("\\]","_")).show();
            var dropdownlist = $jq("#" + id).data("kendoDropDownList");
            dropdownlist.open();
        });
    });

    function open() {
        var source = @Model.GetFinalSourceOfClients();
        var self = $jq(this.element);
        var exclude = self.parent().parent().find(".pro_exclude").val();
        var excludeList = [];
        if (exclude.length > 0) {
            excludeList.push(exclude);
        }

        $jq("input.pro_DropDownList").each(function() {
            var dropdownlist = $jq(this).data("kendoDropDownList");
            exclude = dropdownlist.value();
            if (exclude.length > 0) {
                if (self.attr("id") !== $jq(dropdownlist.element).attr("id"))
                    excludeList.push(exclude);
                exclude = $jq(dropdownlist.element).parent().parent().find(".pro_exclude").val();
                excludeList.push(exclude);
            }
        });

        var finalSource = [];
        $jq.each(source, function() {
            var y = excludeList.indexOf(this.Value);
            if (y === -1)
                finalSource.push(this);
        });

        this.dataSource.data(finalSource);
    }

    function change() {
        $jq("input.pro_DropDownList").each(function() {
            var dropdownlist = $jq(this).data("kendoDropDownList");
            dropdownlist.enable();
        });

        var value = this.value();
        var id = "#por_Multi_" + $jq(this.element).attr("id").replace("[", "_").replace("]", "_");
        if (value.length > 0) {
            $jq(id).show();
            var control = $jq(".pro_exclude[value='" + value + "']");
            var parent = control.parent();
            var dropdownlist = parent.find("input.pro_DropDownList").data("kendoDropDownList");
            try {
                dropdownlist.enable(false);
            } catch(ex) {
            }
        } else
            $jq(id).hide();
    };
</script>
@if (Model.NewClients.Any() || Model.NewEmails.Any())
{
    <div class="pro_CRM_Modal">
        <fieldset>
            <legend class="nhs_Reader">Add New Clients and Emails</legend>
            @if (Model.NewClients.Any())
            {
                <p>
                    We've detected <strong>@Model.NewClients.Count new name@(Model.NewClients.Count > 1 ? "s" : "")</strong>
                    in your last action. <strong> Would you like to add @(Model.NewClients.Count > 1 ? "them" : "it") to your client list? </strong>
                </p>
                <br />
                if (Model.NewClients.Count > 5)
                {
                    @:<div id="pro_ClientNameList" class="pro_ClientNameListScroll">
                }

                <table id="pro_newClients" class="pro_TableRecipients">
                    @for (var index = 0; index < Model.NewClients.Count; index++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => Model.NewClients[index].SelectClient, new { @class = "pro_SelectClient" })
                            </td>
                            <td>
                                <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" style="display: none"
                                     id="@string.Format("por_Multi_NewClients_{0}__PrimaryClient", index)" />
                                <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png"
                                     class="pro_OpenDropDownList" id="@string.Format("por_Image_NewClients\\[{0}\\]_PrimaryClient", index)" />
                                <strong>@Model.NewClients[index].Name</strong>
                                @Html.HiddenFor(model => Model.NewClients[index].Name, new { @class = "pro_ClientName" })
                            </td>
                            <td>
                                @Model.NewClients[index].Email
                                @Html.HiddenFor(model => Model.NewClients[index].Email)
                            </td>
                        </tr>
                        <tr style="display: none" id="@string.Format("por_tr_NewClients_{0}__PrimaryClient", index)">
                            <td></td>
                            <td colspan="2">
                                <input class="pro_exclude" type="hidden" value="@Model.NewClients[index].Name" />
                                Primary client:
                                @(Html.Kendo().DropDownListFor(model => Model.NewClients[index].PrimaryClient)
                                                   .DataTextField("Text")
                                                   .DataValueField("Value")
                                                   .OptionLabel("Select a client...").HtmlAttributes(new Dictionary<string, object> { { "class", "pro_DropDownList" } })
                                                   .BindTo(Model.ClientSourceList).Events(e =>
                                                   {
                                                       e.Open("open").Change("change");
                                                   })
                                )
                            </td>
                        </tr>
                    }
                </table>
                if (Model.NewClients.Count > 5)
                {
                    @:</div>
                }
                <br />
                <p>
                    <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                    <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                    Want to associate one client to another? Click
                    <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                    above to relate two contacts.
                </p>
            }
            @if (Model.NewEmails.Any())
            {
                <p>
                    <strong>Would you like to add the following new email addresses to your existing clients?</strong>
                </p>
                <table class="pro_TableRecipients">
                    @foreach (AddClientToList t in Model.NewEmails)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => t.ClientId)
                                @Html.CheckBoxFor(model => t.SelectClient, new { @class = "pro_SelectClient" })
                            </td>
                            <td>
                                <img alt="" src="@Resources.GlobalResourcesMvc.Pro.images.icons.person_png" />
                                <strong>@t.Name</strong>
                                @Html.HiddenFor(model => t.Name)
                            </td>
                            <td>
                                @t.Email
                                @Html.HiddenFor(model => t.Email)
                            </td>
                        </tr>
                    }
                </table>
            }
            <div class="pro_CRM_ClientsControl">
                <input type="submit" class="btn pro_CRM_Button" value="Save Clients" id="pro_SaveNewClients"
                       onclick=" $jq(this).hide();$jq('#pro_SendBrochureFakeAE').show(); $jq.googlepush('Add Client to List - Comm', 'Modal', 'Save New Clients');" />
                <span style="display: none;" class="btn_SendBrochureFake" id="pro_SendBrochureFakeAE">
                </span><a onclick="$jq.googlepush('Add Client to List - Brochure', 'Modal', 'No');tb_remove();"
                          href="javascript:void(0)">No, thanks</a> <span class="nhs_Clear"></span>
            </div>
            <div class="pro_CRM_Footer">
                <p>
                    We will never share your client's full name or contact information unless you specifically
                    choose to share it with a builder.
                </p>
            </div>
            @Html.HiddenFor(model => model.IsMvc)
            @Html.HiddenFor(model => model.PlanId)
            @Html.HiddenFor(model => model.SpecId)
            @Html.HiddenFor(model => model.IsMultiBrochure)
            @Html.HiddenFor(model => model.CommunityId)
            @Html.HiddenFor(model => model.ListingIds)
            <div class="nhs_Clear">
            </div>
        </fieldset>
    </div>
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).off("click", ".pro_CRM_Button").on("click", ".pro_CRM_Button", function () {
            var input = jQuery(".pro_CRM_Modal input, select").serialize();

            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.AddNewClientsToYourList)",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    if (data.JavaScriptCode) {
                        eval(data.JavaScriptCode);
                        return;
                    }
                    //jQuery("#pro_AjaxUpdateSendCustomBrochure").html(data);
                }
            });
        });
    });
</script>