﻿@model Nhs.Web.UI.AppCode.ViewModels.DetailsClientInfo
<div id="pro_AkaxUpdateClientInfo">
    @if (Model.IsEditMode && Model.ClientId == 0)
    {
        <div>The Client does not exist</div>
    }
    else
    {
        @Html.Partial(NhsMvc.PartnerBrandGroupViews_88.Views.ProCrm.MyClients.AddEditClientModal, Model)
    }
</div>
