﻿@using Kendo.Mvc.UI
@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.ViewModels
@model ProCrmViewModel
<script type="text/javascript">
    var clientsStatus = @((int)Model.ClientsStatus);
    
    function GetAccountStatus(accountStatus) {
        if (accountStatus==0) {
            return "<div class='pro_Inactive'></div>";
        } else {
            return  "<div class='pro_Active'></div>";
        }
    }
 
    function GetRelated(firstName, lastName) {
        if (firstName) {
            return "<ul><li>" + lastName + " " + firstName + "</li></ul>";
        } else {
            return "";
        }
    }

    function onDataBinding() {
        var grid = $jq(this.element).data("kendoGrid");
        var total = grid.dataSource._total;
        var label = " active client";
        if (clientsStatus == 0)
            label = " total client";
        label = label + (total > 1 ? "s" : "");
        $jq("#pro_totalClientsLabel").html("You have <strong id=\"pro_total\">" + total + "</strong>" + label + ". ");
    }

    function GetTask(clientId,clientTaskId1,clientTaskId2,clientTaskDescription1,clientTaskDescription2) {
        
        if (clientTaskId1 >0 || clientTaskId2 > 0) {
            var html ="<ul>";
            if (clientTaskId1 > 0) {
                html += "<li>";
                html += '<a id="pro_clientTaskId_'+clientTaskId1+'" class="thickbox" href="/procrm/taskmodal/clientid-' + clientId + '/taskid-' + clientTaskId1 + '?width=' + @(ModalWindowsConst.ProCrmTaskWidth) + '&height=' + @(ModalWindowsConst.ProCrmTaskHeight) + '" title="Edit Activity">' + clientTaskDescription1 + '</a>';
                html += "</li>";
            }
            if (clientTaskId2 > 0) {
                html += "<li>";
                html += '<a id="pro_clientTaskId_'+clientTaskId2+'" class="thickbox" href="/procrm/taskmodal/clientid-' + clientId + '/taskid-' + clientTaskId2 + '?width=' + @(ModalWindowsConst.ProCrmTaskWidth) + '&height=' + @(ModalWindowsConst.ProCrmTaskHeight) + '" title="Edit Activity">' + clientTaskDescription2 + '</a>';
                html += "</li>";
            }
            html += "</ul>";
            return html;
        } else {
            return "";
        }
    }
</script>
<div id="pro_CRM_Clients">
    <div class="pro_CRM_SubHead">
        <h2>
            Clients</h2>
        <p>
            <span id="pro_totalClientsLabel">You have <strong id="pro_total">0</strong> active clients.
            </span><a id="pro_ShowInactiveClients" href="javascript:void(0)" style="@(Model.ClientsStatus == ProCrmClientsStatusType.Deleted || Model.ClientsStatus == ProCrmClientsStatusType.Active ? "" : "display: none")">
                Show inactive clients</a> <a id="pro_ShowActiveClients" style="@(Model.ClientsStatus == ProCrmClientsStatusType.Inactive ? "" : "display: none")" href="javascript:void(0)">
                    Show only active clients</a>
        </p>
        <div class="nhs_Clear">
        </div>
    </div>
    <div class="nhs_Clear">
    </div>
    @(Html.Kendo().Grid<ClientInformation>()
          .Name("pro_CRM_ClientsTable")
          .Columns(columns =>
              {
                  columns.Template(e => { }).ClientTemplate("#=GetAccountStatus(AccountStatus)#").Title("");
                  columns.Bound(p => p.FullName).ClientTemplate(@Html.GetClientColumn()).Title("Client name").Sortable(true);
                  columns.Bound(p => p.DateLastChanged).Title("Last updated").ClientTemplate("#=DateLastChangedString#").Format("{0:MM/dd/yyyy}").Sortable(true);
                  columns.Bound(p => p.HaveTasks).ClientTemplate("#=GetTask(ClientId,ClientTaskId1,ClientTaskId2,ClientTaskDescription1,ClientTaskDescription2)#").Title("Recent Activities").Sortable(true);
              })
            //.HtmlAttributes(new { style = "height:430px;" })
          .Pageable(pager => pager.PageSizes(new[] { 5, 10, 25, 50 }).Refresh(true))
                  .Sortable(sortable => sortable.AllowUnsort(false))
          .ColumnMenu(p => p.Columns(false))
          .Events(events => events.DataBinding("onDataBinding"))

          .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .ServerOperation(false) // Paging, sorting, filtering and grouping will be done client-side
                                        .Read(read => read.Url(Html.GetActionUrl(NhsMvc.ProCrm.Name, NhsMvc.ProCrm.ActionNames.GetClients)))
                                        .Sort(sort =>
                                            {
                                                // Sort by TaskDate in descending order
                                                sort.Add(product => product.DateLastChanged).Descending();
                                            })
          ))
    <div class="pro_CRM_ClientsControl">
        @Html.NhsModalWindowLink("+ Add Client", Pages.AddClientModal, ModalWindowsConst.ProCrmClientWidth, ModalWindowsConst.ProCrmClientHeight, new List<RouteParam>(), new { @class = "btn pro_CRM_Button", onclick = "$jq.googlepush('My Clients', 'Clients', 'Add Client');", title = "Add Client" })
        <div class="nhs_Clear">
        </div>
    </div>
</div>
<input type="hidden" id="pro_totalListType" value="active" />
