﻿<div class="nhs_eBookText">
    <div class="nhs_eBookImg">
        <img src="http://nhs-static.bdxcdn.com/GlobalResources14/NewHomeSource/images/ebook/ipad_iphone.png" alt="New Home 101" />
    </div>
    <div class="nhs_eBookContent">
        <div class="nhs_eBookTitle">
            New eBook Available</div>
        <p class="nhs_eBookContentText">
            Expert advice on buying and building a new home</p>
        <input type="button" class="btn_eBookSend btnCss" onclick="location.href='http://www.newhomesource.com/ebook'" value="Download for FREE" />
    </div>
</div>
