﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@if (Model.CrossMarketingHomes.Count > 0)
{
    <div id="nhs_crossMarketingSection">
        <div class="minus_plus_wrapper">
            <div id="nhs_expandCollapseMarketingSection" class="minus_plus plus">
                <p>
                    Like this plan? It’s also available at... <a id="nhs_expandCollapseLink" href="#" class="clickto">(click to expand)</a>
                </p>
            </div>
            <ul id="nhs_crossMarketinglist">
                @foreach (var home in Model.CrossMarketingHomes)
                {
                    <li class="col blue">
                        @Html.CrossMarketingHomeLink(Model, home)
                    </li>
                    <li class="col grey">
                        @Html.SupplementalInfo(Model, home)
                    </li>
                    <li class="col black">
                        @Html.PriceInfo(home)
                    </li>
                }
            </ul>
        </div>
    </div>
}   