﻿@model Nhs.Web.UI.AppCode.ViewModels.CommunityDetailMobile.FloorPlanViewModel
@if (Model.FloorPlans != null && Model.FloorPlans.Any())
{
    var id = -1;
    <h4 class="nhs_FloorPlanLegend">@Model.PlanName</h4>
    <div class="nhs_FloorPlanGallery">
        <ul>
            @foreach (var imageSrc in Model.FloorPlans)
            {
                id++;
                <li>
                    @Html.RenderFloorPlanImage(imageSrc, Model.FloorPlans.Count, Model.PlanId, Model.SpecId, id, Model.IsPreviewMode)
                    <br />@imageSrc.ImageTitle
                </li>
            }
        </ul>
    </div>
    @*if (Model.FloorPlans.Count > 2)
    {
        <p class="nhs_FloorPlanNav"><a class="nhs_FloorPlanImagePrev">Previous</a> <a class="nhs_FloorPlanImageNext">Next</a></p>
    }*@
    
}