﻿@using Nhs.Mvc.Domain.Model.Web
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
<div class="nhs_DetailCard clearfix" id="nhs_floorPlanSection">
    <section id="floorPlan" class="nhs_floorPlanSection">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">@LanguageHelper.FloorPlan.ToMvcHtmlString()</h3>
        </div>
        <div class="nhs_DetailContent">
            @if (Model.HasOptions)
            {
                <div class="nhs_DetailHomeOptions clearfix">
                    <fieldset>
                        <p class="nhs_Title">@LanguageHelper.Options.ToMvcHtmlString() <em>@LanguageHelper.MayVaryContactBuilderForDetails.ToMvcHtmlString()</em></p>
                        <p><strong>@LanguageHelper.PriceWithOptions.ToMvcHtmlString():</strong> <span id="spnTotalOptionPrice"></span></p>
                        <div class="nhs_Clear"></div>
                        <ul>
                            @foreach (HomeOption option in Model.HomeOptions)
                            {
                                <li>
                                    <input id="option_@(option.OptionId)" class="nhs_FloorPlanOptions" type="checkbox" value="@option.Price" />
                                    <label for="option_@(option.OptionId)">
                                        <strong>
                                            @option.OptionName
                                        </strong>
                                        (@option.Price.FormatPrice())
                                    </label>
                                </li>
                            }
                        </ul>
                    </fieldset>
                </div>
            }
        </div>
        <div id="nhs_FloorPlan"></div>
    </section>
    <div class="nhs_BackToTop">
        <a href="#top">
            @LanguageHelper.BackToTop.ToMvcHtmlString()
        </a>
    </div>
</div>
