﻿@using Nhs.Library.Constants
@using Nhs.Library.Web.ImageResizer
@model Nhs.Web.UI.AppCode.ViewModels.HomeGaleryFloorPlanViewModel
<div id="nhs_ShowcaseModal" class="nhs_FloorplanModal">
    <div id="nhs_ShowcaseSlides" class="nhs_ShowcaseBoxLeft nhs_ShowcaseSlides">
        <div class="slides_container" style="width: 461px; height: 566px;">
            @for (var i = 0; i < Model.FloorPlanImages.Count; i++)
            {
                var image = Model.FloorPlanImages[i];
                <div class="nhs_ShowcaseSlide">
                    @Html.NhsImage(image.FloorPlanImage(Model.Height, ImageFormat.None), string.IsNullOrEmpty(image.ImageTitle) ? "Image" : image.ImageTitle, new { id = "nhs_" + i }, false)
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    function resizeWindowKendo(index) {
        var image = $jq("#nhs_" + index);
        tb_ChangeTitle(image.attr("alt"));
    }

    resizeWindowKendo(@Model.SelectImage);


    jQuery(document).ready(function() {     
        var options = {
            start: @Model.SelectImage + 1,
            generatePagination: false,
            hoverPause: true,
            bigNextPrev: true,
            animationStart: function(i) {
                resizeWindowKendo(i);
            }
        };

        jQuery("#nhs_ShowcaseSlides").slides(options);
        var modalHeight = @Model.Height;

        jQuery("#nhs_ShowcaseSlides, .slides_container, .nhs_ShowcaseSlide").width(780).height(modalHeight);
        jQuery(".nhs_ShowcaseSlide").css("line-height", modalHeight + 'px');

    });
</script>
