﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Search.Objects
@using System.Web.Mvc.Html
@using Nhs.Search.Objects.Constants
@using Nhs.Search.Objects.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Common
@using Nhs.Library.Constants.Route
@using Nhs.Library.Extensions
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using StructureMap.Query
@using Nhs.Mvc.Biz.Services.Concrete
@using Nhs.Library.Constants

<div class="nhs_DetailDescription clearfix">
    <div class="nhs_DetailHomeInfo">
        @if (Model.HomeStatus != (int)HomeStatusType.ModelHome)
        {
            <p class="nhs_DetailsPrice">
                @Model.PriceDisplay.ToMvcHtmlString()
                @if (Model.ExcludesLand)
                {
                    <em>(@LanguageHelper.PriceExcludesLand.ToMvcHtmlString())</em>
                }
            </p>
        }
        <ul>
            @Model.BasicHomeSpecs.ToMvcHtmlString()
        </ul>
        <p>
            @*TO DO : Change to Text *@
            @Html.HomeStatusImage(Model)
        </p>
    </div>

    <div class="nhs_DetailHomeDesc">
        @if (Model.ShowBuilderLogo() && Model.IsBilled)
        {
            <div class="nhs_DetailsHeaderLogo">
                @Html.RenderBuilderLogoLink(Model, false)
            </div>
        }
        <p class="nhs_Title">@Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), null)</p>

        <p>
            <span id="nhsDetailDescriptionArea">
                @Model.DetailDescription.ChunkHomeDescription().ToMvcHtmlString()
            </span>
            @if (!string.IsNullOrEmpty(Model.DetailDescription) && Model.DetailDescription.Length > Model.GetPropertyDetailDescriptionLength())
            {
                <a id="nhs_detailDescriptionToggle" href="javascript:void(0)" class="nhs_likeALink">...@LanguageHelper.More.ToMvcHtmlString()</a><br />
            }
        </p>
    </div>
    @if (Model.HomeMarketingDescription != "")
    {        
        <div class="nhs_Clear"></div>
        <p class="nhs_DetailHomeMarketing">
            @Model.HomeMarketingDescription
        </p>
    }
</div>
