﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper

<div class="nhs_DetailsAnchors clearfix">
    <ul>
        <li id="nhs_floorPlansAnchor" style="display: none;">
            <a href="#floorPlan" onclick="jQuery.googlepush('Outbound Links', 'Home - Gallery', 'Plan Viewer'); ">
                @LanguageHelper.SeeFloorPlan.ToMvcHtmlString()
            </a>
        </li>
        <li>
            <a onclick="jQuery('#nhs_propertyMapCollapsibleOpen').click();jQuery.googlepush('Home Detail Events', 'Home - Gallery', 'View on Map'); " href="#Maps">
                @LanguageHelper.Map.ToMvcHtmlString()
            </a>
        </li>
        @if (!string.IsNullOrEmpty(Model.VirtualTourUrl) && Model.VirtualTourUrl != "N")
        {
            <li>
                @Html.GetExternalVirtualTourUrl(Model, Model.VirtualTourUrl)
            </li>
        }
        <li>
            <a href="#CommunityInfo">
                @LanguageHelper.CommunityInformation.ToMvcHtmlString()
            </a>
        </li>
    </ul>
</div>
<div class="nhs_Clear"></div>

