﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Search.Objects.Constants
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper

@model Nhs.Web.UI.AppCode.ViewModels.HomeResultCarouselItem

<li class="nhs_GalleryItem" onclick="reload('@Html.GetHomeDetailUrl(Model.Item)');">@* onmouseout="jQuery(this).removeClass('nhs_GalleryItemOn');" onmouseover="jQuery(this).addClass('nhs_GalleryItemOn');">*@
    <div class="nhs_GalleryItemImgBox">
        @Html.NhsImageLink(Model.Item.HomeThumbnail(), RedirectionHelper.GetHomeDetailPage(Model.Item.IsSpec > 0), Model.Item.ToHomeDetail(), new { title = Model.Item.PlanName }, null)
        @if (Model.Item.ImageCount > 1)
        {
            <p class="nhs_ItemCount">@Model.Item.ImageCount <span>@LanguageHelper.Photos.ToMvcHtmlString()</span></p>
        }
        @Model.Item.HomeStatus()
    </div>
    <div class="clearfix">
        <p class="nhs_ItemName">
            @*Title Part*@@Html.HomeDetailLink(Model.Item)
        </p>
        <div>
            @if (Model.Item.Status.ToHomeStatusType() != HomeStatusType.ModelHome)
            {
                @*Price Section*@
                <p class="nhs_ItemPrice">@(Model.Item.Price.ToType<int>().FormatPrice(Model.Item.HomeId))</p>
            }
            <p>@Model.Item.FormatSquareFootage()</p>
            <p>
                @Model.Item.FormatBedrooms()
                @Model.Item.FormatBathrooms()
                @Model.Item.FormatGarages()
            </p>
        </div>
        <div class="nhs_ItemInfo">
            @*Hot home*@
            @if (Model.Item.IsHotHome > 0 && NhsRoute.BrandPartnerId != (int)PartnersConst.Pro)
            {
                <p title="@LanguageHelper.HotDeal" class="nhs_Hot">@LanguageHelper.Deal.ToMvcHtmlString()</p>
            }
            @if (!string.IsNullOrEmpty(Model.Item.VirtualTour) && !Model.Item.VirtualTour.Equals("N"))
            {
                <p>
                    @LanguageHelper.VirtualTour.ToMvcHtmlString()
                </p>
            }
            @if (!string.IsNullOrEmpty(Model.Item.FloorPlanPath) && !Model.Item.FloorPlanPath.Equals("N"))
            {
                <p>
                    @LanguageHelper.FloorPlan.ToMvcHtmlString()
                </p>
            }
        </div>
    </div>
</li>
