﻿@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model HomeDetailViewModel

@if (Model.SimilarHomesApi.Count > 1)
{
<div class="nhs_DetailCard clearfix nhs_SimilarHomePlanSection">
    <section id="SimilarHomePlans">
        <div class="nhs_DetailSections">
            <h3 class="nhs_DetailSectionTitle">
                Similar home plans in @Model.CommunityName
            </h3>
            <p>@Html.SeeAllHomesAvailableLink(Model)</p>
        </div>
        <div id="nhs_SimilarHomePlanCarousel" class="nhs_MoreHomesNearby">
            <ul>
                @foreach (var item in Model.SimilarHomesApi)
                {
                    @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.HomeCarouselItem, new HomeResultCarouselItem(item, Model.MarketId, Model.PreviewMode, Model.BcType))
                }
            </ul>
        </div>
    </section>

    <div class="nhs_BackToTop">
        <a href="#top">
            @LanguageHelper.BackToTop.ToMvcHtmlString()
        </a>
    </div>
</div>

<script type="text/javascript">
    function reload(url) {
        window.location.href = url;
    }
    jQuery(document).ready(function () {
        jQuery("#nhs_SimilarHomePlanCarousel ul").bxSlider({
            responsive: false,
            infiniteLoop: true,
            slideWidth: 205,
            slideMargin: 10,
            minSlides: 1,
            maxSlides: 3,
            pager: true,
            controls: true
        });
    });
</script>
} 




