﻿@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using System.Globalization
@using Nhs.Library.Extensions
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper

<script type="text/javascript">
    var homeDetail = null;
    var loggin = null;
    jQuery(document).ready(function () {


        jQuery('#scheduleAppointment').click(function() {
            jQuery('#ScheduleAppointmentRadio').click();
        });

        jQuery('#pro_contactBuilder').click(function() {
            jQuery('#GeneralInquiryRadio').click();
        });

        var logginparameter ={
            commId: @Model.CommunityId,
            commName : '@Model.CommunityName.RemoveSpecialCharacters()',
            builderId: @Model.BuilderId,
            builderName : '@Model.BuilderName.RemoveSpecialCharacters()',
            marketId: @Model.MarketId,
            marketName : '@Model.MarketName.RemoveSpecialCharacters()',
            planId : @Model.PlanId ,
            specId : @Model.SpecId ,
            logActionMethodUrl : "@Model.LogActionMethodUrl"
        };

        var parameters = {
            PlanPrice:     @Model.PlanPrice,
            GetNearbyCommunities: "@Html.GetActionUrl(NhsMvc.CommunityDetail.Name, NhsMvc.CommunityDetail.ActionNames.GetNearbyCommunities)",
            GetFloorPlanGalleryUrl: "@Model.GetFloorPlanGalleryUrl().ToMvcHtmlString()",
            method: @Model.Globals.GetAddHomeToPlannerUrl(RouteParams.PlanId.Value<int>(), RouteParams.SpecId.Value<int>()).ToMvcHtmlString(),
            siteRoot: '/@NhsRoute.SiteRoot',
            communityId: @Model.CommunityId,
            builderId: @Model.BuilderId,
            specId: @Model.SpecId,
            planId: @Model.PlanId,
            isBilled: '@Model.IsBilled',
            PreviewMode: '@Model.PreviewMode',
            BrandName: '@(HttpUtility.JavaScriptStringEncode(Model.BrandName))',
            partnerId: @NhsRoute.PartnerId,
            partnerName : '@Model.Globals.PartnerInfo.PartnerName',
            showSocialIcons: '@Model.ShowSocialIcons',
            marketId: @Model.MarketId,
            fromPage: '/@NhsRoute.CurrentRoute.Function',
            displayFullWidthGallery: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails && RouteParams.ShowPopupPlayer.Value<bool>()).ToString().ToLower()),
            displayNewFullImageViewer: @((Model.Globals.PartnerLayoutConfig.DisplayFullWidthGalleryinDetails).ToString().ToLower()),
            NewFullImageViewerUrl: "@Html.GetFullImageViewerUrl(RouteParams.SpecId.Value<int>(), RouteParams.PlanId.Value<int>()).ToMvcHtmlString()",
            ShowNewFullImageViewerUrl: @((RouteParams.ForcePopupPlayer.Value<bool>()).ToString().ToLower()),
            logInfo : logginparameter,
            tdvTable : @Html.Raw(Html.GetSeoTDVMetrics()),
            MoreWord: "@LanguageHelper.More.ToMvcHtmlString()",
            LessWord: "@LanguageHelper.Less.ToMvcHtmlString()",
            SavedToYourProfileText: "@LanguageHelper.SavedToYourProfile.ToMvcHtmlString()",
            SavedText: "@LanguageHelper.Saved.ToMvcHtmlString()",
            mapParametes: {
                resourceRoot: '@Configuration.ResourceDomain/',
                drivingDirectionAction: '/@Pages.DrivingDirections ',
                startLat: @Model.RouteLat.ToString(new NumberFormatInfo()),
                startLng: @Model.RouteLng.ToString(new NumberFormatInfo()),
                NearbyComms: [],
                siteRoot: '/@NhsRoute.SiteRoot ',
                partnerId: @NhsRoute.PartnerId,
                marketId: @Model.MarketId,
                isBasicListing: false,
                isBasicCommunity: false,
                fromPage: '/@NhsRoute.CurrentRoute.Function ',
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                specId: @Model.SpecId,
                planId: @Model.PlanId,
                mapWidth: 451,
                mapHeight: 385,
                icon: "@GlobalResources14.Default.images.icons.orange_pin_png ",
                iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_blue_png",
                iconNearByComm: "@(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhs ? GlobalResources14.Default.images.icons.map_poi_blue_png : GlobalResources14.Default.images.icons.map_poi_green_png)",
                getCommunityMapCards: "@Html.GetActionUrl(NhsMvc.CommunityResults.Name, NhsMvc.CommunityResults.ActionNames.GetCommunityMapCards)",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude.ToString(new NumberFormatInfo()),
                        Longitude: @Model.Longitude.ToString(new NumberFormatInfo()),
                        Zoom: 14,
                        ContainerName: 'nhs_PropertyMap',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 14,
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'CommunityName'
                    },
                    Autocomplete: {
                        CreateControl: false,
                        BindToBound: false,
                        Autocompletecontrol: 'nhsTxtStreeAddress'
                    }
                }
            },


            galleryParams: {
                urlGallery: "@Html.GetActionUrl(NhsMvc.BaseDetail.Name, NhsMvc.BaseDetail.ActionNames.GetGalleryObjects)",
                builderID: @Model.BuilderId,
                specID: @Model.SpecId,
                planID: @Model.PlanId,
                isPreview: "@Model.PreviewMode",
                description: '@(HttpUtility.JavaScriptStringEncode(Model.CommunityName))',
                communityID: @Model.CommunityId,
                imgBaseUrl: '@Configuration.IRSDomain/',
                imgStaticUrl: '@Configuration.ResourceDomain/',
                container: 'nhs_VideoWrapper',
                titleBarID: 'nhs_Mediatitle',
                titleBarText: '@(NhsRoute.PartnerId == (int)PartnersConst.Move ? "Tour This Home" : "Home Gallery")',
                captionBarText: '@(NhsRoute.PartnerId == (int)PartnersConst.Move ? " Showing: " : " Now showing: ")',
                captionBarID: 'nhs_MediaCaption',
                imgtitleBar: 'nhs_MediaImageTitle',
                type: 'home',
                url: '@Model.Globals.CurrentUrl ',
                brightCoveSuffix: '@Configuration.BrightcoveEnvSuffix',
                brightcoveToken : '@Configuration.BrightcoveReadToken',
                isBasicCommunity: false,
                isPro: @(Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro ? 1 : 0),
                isCommResults: 0,
                CommunityGalleryText: "@LanguageHelper.CommunityGallery.ToMvcHtmlString()",
                CommunityVideoGalleryText: "@LanguageHelper.CommunityVideoGallery.ToMvcHtmlString()",
                TourVideoGalleryText: "@LanguageHelper.TourVideoGallery.ToMvcHtmlString()",
                HomeGalleryText: "@LanguageHelper.HomeGallery.ToMvcHtmlString()",
                CommunityImageText: "@LanguageHelper.CommunityImage.ToMvcHtmlString()",
                HomeImageText: "@LanguageHelper.HomeImage.ToMvcHtmlString()",
                NowShowingText: "@LanguageHelper.NowShowing.ToMvcHtmlString()",
                HomeVideoText: "@LanguageHelper.HomeVideo.ToMvcHtmlString()",
                CommunityVideoText: "@LanguageHelper.CommunityVideo.ToMvcHtmlString()",
                ElevationText: "@LanguageHelper.Elevation.ToMvcHtmlString()",
                VirtualTourText: "@LanguageHelper.VirtualTour.ToMvcHtmlString()",
                FloorPlanText: "@LanguageHelper.FloorPlan.ToMvcHtmlString()",
                ExternalVideoText: "@LanguageHelper.ExternalVideo.ToMvcHtmlString()",
                PlanViewerText: "@LanguageHelper.PlanViewer.ToMvcHtmlString()",
                InteriorText: "@LanguageHelper.Interior.ToMvcHtmlString()",
                ExteriorText: "@LanguageHelper.Exterior.ToMvcHtmlString()",
                CommunityLotMapText: "@LanguageHelper.CommunityLotMap.ToMvcHtmlString()",
                OfText: "@LanguageHelper.Of.ToMvcHtmlString()"
        },

            carouselParams: {
                brandPartnerId: @NhsRoute.BrandPartnerId,
                marketId: @Model.MarketId,
                siteRoot: '/@NhsRoute.SiteRoot ',
                partnerId: @NhsRoute.PartnerId,
                specId: @Model.SpecId,
                planId: @Model.PlanId,
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                lazyLoad: {
                    NoPhotoBig: '@GlobalResources14.Default.images.no_photo.no_photos_325x216_png',
                    NoPhotoSmall: '@GlobalResources14.Default.images.no_photo.no_photos_120x80_png'
                }
            }
        };

        homeDetail = new NHS.Scripts.HomeDetail.HomeDetails(parameters);
        homeDetail.initialize();

        loggin=new NHS.Scripts.Loggin(logginparameter);
        loggin.initialize();


        setTimeout(function() { logger.logEventWithParameters('@LogImpressionConst.HomeDetailPageLoad', logginparameter); }, 2000);

    });
    var description = "@Model.DetailDescription";
    var chunkedDescription = "@Model.DetailDescription.ChunkHomeDescription()";
</script>

@Html.GetGoogleMapScript()
