﻿@using Nhs.Utility.Common
@using Nhs.Utility.Constants
@using Nhs.Library.Constants
@using Nhs.Library.Extensions
@using Nhs.Mvc.Routing.Interface
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI

@model Nhs.Web.UI.AppCode.ViewModels.HomeDetailViewModel

@section cphDataLayer {
    @Model.GetGtmDataLayerForDetailPage()

}
@section cphHead {
    @ResourceCombinerEnum.NEWMEDIAPLAYERCSS.GetCrunchedResource()
}
<div class="nhs_Content" id="nhs_HomeDetail">
    <div class="clearfix">

        @if (Model.Plan == null)
        {
            @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.InactiveProperty)
        }
        else
        {
            <div class="nhs_DetailCard clearfix">
                @if (Model.Globals.PartnerLayoutConfig.PartnerHasNavBarEnabled && !Model.PreviewMode)
                {
                    Html.RenderAction(NhsMvc.PartialViews.ActionNames.BreadCrumb, NhsMvc.PartialViews.Name);
                }
                @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.HomeTitle)

                <div id="nhs_DetailsMediaForm" class="clearfix">
                    <div id="nhs_DetailMediaGallery">
                        @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.MediaGallery)
                    </div>

                    <div class="nhs_DetailsForm">
                        @* New Lead Form *@
                        @Html.Partial(NhsMvc.Default.Views.Common.LeadFormV2.LeadFormFields)

                        @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.PropertyInfoAndNextSteps)
                        @if (Model.PreviewMode)
                        {
                            <div class="nhs_DetailsFormOverlay"></div>
                        }
                    </div>
                </div>
                @*@Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyBuilderLogo)*@

                @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.HomeDescription)
                
                @*Promotions*@
                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.Promotions)                
            </div>

            @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.HomeAnchorLinks)

            <div id="nhs_DetailsMain">
                                
                @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.FloorPlanArea)
                
                @*<div class="nhs_DetailCard clearfix">
                    @Html.Partial(NhsMvc.Default.Views.HomeDetail.CrossMarketingSection)
                </div>*@

                @Html.Partial(NhsMvc.Default.Views.HomeDetailv2.HomeCarousel)

                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.SecondaryInfo)

                @Html.Partial(NhsMvc.Default.Views.Common.PropertyDetail.PropertyMap)

                @* New! Next Steps *@
                @Html.Partial(NhsMvc.Default.Views.CommunityDetailv2.NextSteps)

            </div>
        }  @*Inactive home check ends*@

        @Html.Partial(NhsMvc.Default.Views.HomeDetail.RenderAdsSection, Model)

        <div class="nhs_Clear"></div>

        @*Copyright Text*@
        @Html.Partial(NhsMvc.Default.Views.Common.Disclaimer)

    </div>
</div>

<div id="nhs_Loading">
    @*<img alt="loading bar" src="<%=Resources.GlobalResourcesMvc.Default.images.loading_bar_gif%>" />*@
    <p>
        <strong>Loading...</strong>
    </p>
</div>

@section cphFooter {
    @ResourceCombinerEnum.NEWMEDIAPLAYERJS.GetCrunchedResource()
    @ResourceCombinerEnum.HOMEDETAILJS.GetCrunchedResource()
    <script type="text/javascript">
        $jq(document).ready(function () {
            jQuery.SetDataLayerPair('siteHomePV');
        });
    </script>

    @Html.Partial(NhsMvc.Default.Views.HomeDetail.Javascript, Model)

}

