﻿@model Nhs.Web.UI.AppCode.ViewModels.StateBuilderViewModel
@using System.Web.Mvc.Html
@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper

<div class="nhs_IndexState">

    <div class="nhs_HomeSearch clearfix">
        <div class="clearfix">
            @Html.Raw(Model.SEOContent_NHS_H1)
            @Html.Raw(Model.SEOContent_NHS_Header)
            @Html.Partial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SearchBar)
        </div>
    </div>

    <div class="nhs_IndexBox clearfix">
           <h2>@string.Format(LanguageHelper.BrowseBrandNameCoummunitiesByCity, @Model.Brand.BrandName).ToMvcHtmlString()</h2>      
        <ul class="nhs_IndexList nhsIndexList1">
            @foreach (var market in Model.BrandMarkets.SelectMany(markets => markets))
            {
                <li>@Html.NhsLink(string.Format("<span>{0}, {1}</span>", market.MarketName, market.StateAbbr), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, market.MarketId), new RouteParam(RouteParams.BrandId, Model.Brand.BrandId) }, null, false)</li>
            }
        </ul>       
    </div>

    @if (!string.IsNullOrEmpty(Model.Brand.SiteURL))
    {
        <div class="nhs_IndexBldrLogo nhs_IndexBox clearfix">
            @Html.NhsImageLinkLogAndRedirect(Model.Brand.BrandName, Configuration.ResourceDomain + Model.Brand.LogoMedium, PathHelpers.CleanNavigateUrl(Model.Brand.SiteURL), LogImpressionConst.SEOStateBuilder, new { builderId = Model.Brand.BrandId.ToString() }, null, null)
        </div>	
    }   

    <div class="nhs_IndexBox clearfix">
        @* Second Content Area ? *@
        @Html.Raw(Model.SEOContent_NHS_Footer)        
    </div>

</div>
