﻿@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SiteIndexViewModel

<div class="nhs_IndexSite">
    <div class="nhs_IndexBox clearfix">
        @Html.StaticContent(SiteIndexConst.RootFolder +"DefaultIndexHeader.htm", Model.SeoContentTags.ToList(), new ContextPathMapper(), NhsRoute.PartnerSiteUrl)
    </div>

    <div class="nhs_IndexBox nhs_IndexBox1 clearfix">
        <h2 class="nhs_IndexHeading">
            @Model.PartnerName @LanguageHelper.SiteIndex.ToMvcHtmlString()</h2>
        <ul class="nhs_IndexList">
            <li>@Html.NhsLink(LanguageHelper.HomePage, Pages.Home, true)</li>
            <li>@Html.NhsLink(LanguageHelper.SearchForNewHomes, Pages.Home, true)</li>         
            <li>@Html.NhsLink(LanguageHelper.CustomBuilders, Pages.BOYLSearch, true)</li>
            <li>@Html.NhsLink(LanguageHelper.BuildOnYourLot, Pages.BOYLSearch, true)</li>
            <li>@Html.NhsLink(LanguageHelper.Help, Pages.SiteHelp, true)</li>
            <li>@Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, true)</li>
            <li>@Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse, true)</li>
            @if (Model.Globals.PartnerInfo.FooterShowAboutUs.ToBool())
            {
                <li>@Html.NhsLink(LanguageHelper.AboutUs, Pages.AboutUs, true)</li>
            }
            <li>@Html.NhsLink(LanguageHelper.ContactUs, Pages.ContactUs, true)</li>
            @if (Model.Globals.PartnerInfo.AllowRegistration.ToBool())
            {
                <li>@Html.NhsLink(LanguageHelper.Register, Pages.Register)</li>
                <li>@Html.NhsLink(LanguageHelper.SignIn, Pages.SignIn, true)</li>
            }
        </ul>
    </div>

    <div class="nhs_IndexBox clearfix">
        <h3 class="nhs_IndexHeading">@LanguageHelper.SearchForNewHomesByState.ToMvcHtmlString()</h3>

        <ul class="nhs_IndexList">
            @{
                var format = Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "{1} en {0}" : "{0} {1}";
                foreach (var state in Model.States)
                {
                    <li>
                        @Html.NhsLink(string.Format(format, state.StateName, LanguageHelper.NewHomes), Pages.StateIndex, new List<RouteParam> { new RouteParam(RouteParams.State, state.StateName.RemoveSpaceAndDash()) }, null)
                    </li>
                }
            } 
        </ul> 
    </div>

    <div class="nhs_IndexBox clearfix">
        <h3 class="nhs_IndexHeading">@LanguageHelper.SearchForNewHomesByMarket.ToMvcHtmlString()</h3>

        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentMarkets)
    </div>

    <div class="nhs_IndexBox clearfix">
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex,Model.SeoContentCustomLinksHeader)
        @Html.RenderSeoContent(SeoTemplateType.Nhs_SiteIndex, Model.SeoContentCustomLinksList)
    </div>

</div>
