﻿@using Nhs.Library.Constants
@using Nhs.Library.Constants.Enums
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.StateIndexViewModel
<div class="nhs_IndexState">
    <div class="nhs_HomeSearch clearfix">
        <div class="clearfix">
            @Model.SEOContent_NHS_H1.ToMvcHtmlString()
            @Model.SEOContent_NHS_Header.ToMvcHtmlString()
            @Html.Partial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SearchBar)
        </div>
    </div>
    @if (!NhsRoute.IsBrandPartnerNhsPro)
    {
        <div id="nhs_StateBrowseDiv3" class="nhs_IndexBox clearfix">
            <h2>@LanguageHelper.BrowseNewHomesByCity.ToMvcHtmlString()</h2>
            @if (Model.MarketList.Count > 0)
            {
                <ul class="nhs_IndexList nhsIndexList1">
                    @foreach (var market in Model.MarketList.SelectMany(p => p))
                    {
                        <li>
                            @Html.NhsLink(String.Format("<span>{0}, {1}</span> ({2})", market.MarketName, market.StateAbbr, market.TotalCommunities - market.TotalCustomBuilders), Pages.CommunityResults, new List<RouteParam> { new RouteParam(RouteParams.Market, market.MarketId) }, null)
                        </li>

                    }
                </ul>
            }
        </div>

        <div id="nhs_StateBrowseDiv2" class="nhs_IndexBox clearfix">
            <h2>@LanguageHelper.BrowseNewHomesByBuilder.ToMvcHtmlString()</h2>
            <ul class="nhs_IndexList nhs_IndexList2">
                @foreach (var b in Model.NewHomeBuilders.SelectMany(p => p))
                {
                    <li>
                        @Html.NhsLink(String.Format("{0}", b.BrandName), Pages.StateBuilder, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.BrandId, b.BrandId) }, null)
                    </li>
                }
            </ul>
        </div>
    }
    <div class="nhs_IndexBox clearfix">
        @Html.Raw(Model.SEOContent_NHS_Articles)
    </div>
    <div class="nhs_IndexBox clearfix">
        @Html.Raw(Model.SEOContent_NHS_Footer)
    </div>
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {<div class="nhs_IndexBox clearfix">
        <h2>@Html.Raw(Model.SEOContent_NHS_Tab1)</h2>
        <p id="pSectionGolfCourse" class="nhs_IndexStGolfCourse">
            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.GolfCourseCommunities), Pages.AmenityIndexGolf, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateGolf) }, null)
        </p>
        <p id="pSectionWaterFrontCourse" class="nhs_IndexStWaterfront">
            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.WaterfrontLakeAndBeachCommunities), Pages.AmenityIndexWaterfront, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateWaterfront) }, null)
        </p>
        <p id="pSectionCondoTown" class="nhs_IndexStCondoTown">
            @Html.NhsLink(String.Format("{1} en {0}", Model.StateName, LanguageHelper.CondosAndTownhomes), Pages.AmenityIndexCondo, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateCondoTown) }, null)
        </p>
    </div>
    }
    else if (!NhsRoute.IsBrandPartnerNhsPro)
    {
        <div class="nhs_IndexBox clearfix">
            <h2>@Html.Raw(Model.SEOContent_NHS_Tab1)</h2>
            <p id="pSectionGolfCourse" class="nhs_IndexStGolfCourse">
                @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.GolfCourseCommunities), Pages.AmenityIndexGolf, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateGolf) }, null)
            </p>
            <p id="pSectionWaterFrontCourse" class="nhs_IndexStWaterfront">
                @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.WaterfrontLakeAndBeachCommunities), Pages.AmenityIndexWaterfront, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateWaterfront) }, null)
            </p>
            <p id="pSectionCondoTown" class="nhs_IndexStCondoTown">
                @Html.NhsLink(String.Format("{0} {1}", Model.StateName, LanguageHelper.CondosAndTownhomes), Pages.AmenityIndexCondo, new List<RouteParam> { new RouteParam(RouteParams.State, Model.StateName.RemoveSpaceAndDash()), new RouteParam(RouteParams.Amenity, SEOAmenityType.StateCondoTown) }, null)
            </p>
        </div>
    }
</div>
