﻿@model Nhs.Web.UI.AppCode.ViewModels.StateAmenityViewModel
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Library.Constants
@using Nhs.Mvc.Domain.Model.Web
@using Nhs.Web.UI.AppCode.Helper
@{ string className;
   if (Model.AmenityName == SEOAmenityType.StateCondoTown)
   {
       className = "nhs_IndexSearchCondo";
   }
   else if (Model.AmenityName == SEOAmenityType.StateGolf)
   {
       className = "nhs_IndexSearchGolf";
   }
   else
   {
       className = "nhs_IndexSearchWater";
   }
}
<div class="nhs_IndexState">
    <div class="nhs_HomeSearch @className clearfix">
        <div class="clearfix">
            @Html.Raw(Model.SeoH1Content)
            @Html.Raw(Model.SeoHeaderContent)
            @Html.Partial(NhsMvc.PartnerBrandGroupShared.ViewsMobile.Home.SearchBar)
            <input id="AmenityName" name="AmenityName" type="hidden" value="@Model.MapNameAmenity">
        </div>
    </div>
    <div class="nhs_IndexBox clearfix">
        <h2>@string.Format(LanguageHelper.BrowseByCity, Model.AmenityDesc)</h2>
        <ul class="nhs_IndexList nhs_IndexList2">
            @foreach (var market in Model.LearnMoreMarket.SelectMany(markets => markets))
            {
                <li>@Html.NhsLink(string.Format("<span>{0}, {1}</span>", market.MarketName, Model.StateAbbreviation), Pages.CommunityResults, Model.GetParams(market.MarketId), null, true)</li>
            }
        </ul>
    </div>
    <div class="nhs_IndexBox clearfix">
        @*@Html.StaticContentStateFailBack(@Model.ContentFilePathFooter, @Model.ReplacementTags, new ContextPathMapper(), NhsRoute.PartnerSiteUrl)*@
        @Html.Raw(Model.SeoFootherContent)
    </div>
</div>
