﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.BrochureGenerationViewModel

@if (!string.IsNullOrEmpty(Model.TargetUrl))
{
    <header class="nhs_HelpContext">
        <h1>@LanguageHelper.GeneratingBrochure.ToMvcHtmlString()</h1>
    </header>
    <section id="progressimage">
            @Html.NhsImage(Resources.GlobalResources14.Default.images.icons.nhs_loader_gif, "Loading", false)
    </section>
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.ajax({
                type: 'GET',
                url: '@Model.TargetUrl',
                success: function (data) {
                    location.href = data.ResultsUrl;
                }
            });
        });
    </script>
}
else
{
    <header class="nhs_HelpContext">
        <h1>@LanguageHelper.WeAreSorryYourBrochureExpired.ToMvcHtmlString()</h1>
    </header>
    <section class="nhs_HelpDetail clearfix">
        <p>@string.Format(LanguageHelper.YouMayRequestNewBrochureByClickingHere, Model.ExpireUrl)</p>

    </section>
}
