﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@if (NhsRoute.ShowMobileSite)
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript"> window.jQuery || document.write('@ResourceCombinerEnum.NHSCDNTOPMOBILE.GetCrunchedResource(true)'); </script>
    
}
else
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	
}

<script type="text/javascript">
    window.jQuery || document.write('@ResourceCombinerEnum.NHSCDNTOP.GetCrunchedResource(true)');
</script>

