﻿@model Nhs.Web.UI.AppCode.ViewModels.BaseViewModel
@if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
{
    <meta charset="iso-8859-1"/>
}
else
{
    <meta charset="utf-8" />
}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

@Model.Globals.Title.ToMvcHtmlString()
@Model.Globals.Facebook.ToMvcHtmlString()
@Model.Globals.Keywords.ToMvcHtmlString()
@Model.Globals.CanonicalLink.ToMvcHtmlString()
@Model.Globals.Description.ToMvcHtmlString()
@Model.Globals.Robots.ToMvcHtmlString()
@Model.Globals.ShortcutIcon.ToMvcHtmlString()
@Model.Globals.AppleIcons.ToMvcHtmlString()

