﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Utility.Data.Paging.IPagedList

<p class="nhs_Paging">
    @if (Model.HasPreviousPage)
    {
        <input type="submit" name="btnPrevious" value="@LanguageHelper.Prev" accesskey="P" id="btnPrevious" />

    }
    <span>
        <label for="txtPageNumber">@LanguageHelper.Page.ToMvcHtmlString()</label>
        @Html.TextBox("txtPageNumber", Model.PageNumber)  @LanguageHelper.Of.ToMvcHtmlString()  @Model.PageCount

        @if (Model.PageCount > 1)
        {
            <a id="aGo" href="javascript:void(0);">@LanguageHelper.Go.ToMvcHtmlString()</a>
        }
    </span>

    @if (Model.HasNextPage)
    {
        <input type="submit" name="btnNext" value="@LanguageHelper.NextShort" accesskey="N" id="btnNext" />
    }
</p>