﻿
<div style="text-align: right;">
    <img src="@string.Format(@"{0}/GlobalResources/Default/images/nhs_powered_by.gif", Configuration.ResourceDomain)
         alt="Powered By New Home Source" style="padding:5px;" />
</div>
