﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LoginViewModel

<div id="divSignIn" class="nhs_SignIn">
    <div class="nhsLoginForm">
        <fieldset id="infoForm">
            <p>
                <span class="nhs_DetailsFormTopTitle">@LanguageHelper.SignIn.ToMvcHtmlString()</span>
                <span class="nhs_DetailsFormTopTitleSmall">
                    @if (NhsRoute.IsBrandPartnerNhsPro)
                    {
                        @LanguageHelper.PleaseLoginOrRegister.ToMvcHtmlString()
                    }
                    else
                    {
                        @LanguageHelper.EnterYourAccountInformation.ToMvcHtmlString()
                    }
                </span>
            </p>
            <ol>
                <li>
                    <label for="Email">@LanguageHelper.EmailAddress.ToMvcHtmlString():</label>
                    @Html.TextBoxFor(m => m.Email)
                </li>
                <li>
                    <label for="Password">@LanguageHelper.Password.ToMvcHtmlString():</label>
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li class="nhs_LeadFormButtons">
                    @Html.HiddenFor(m => m.FromPage, new { value = Model.FromPage })
                    <input type="submit" id="btnLogin" value="@LanguageHelper.SignIn" onclick="" class="btn signIn" />
                    <input type="button" id="btnCancel" value="@LanguageHelper.Cancel" class="btn cancel" onclick="hideLogin(); return false; " />
                </li>
                <li class="nhs_LeadFormButtons forgotPassword">
                    @Html.NhsModalWindowLink(LanguageHelper.ForgotPassword, Pages.ForgotPasswordModal, ModalWindowsConst.RecoverPasswordModalWidth, ModalWindowsConst.RecoverPasswordModalHeight)
                </li>
            </ol>
            @Html.ValidationSummary()
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(document).on("click", ".signIn", function () {
            var input = jQuery(".nhsLoginForm #infoForm input").serialize();

            jQuery.ajax({
                url: "@Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.BrochureLogin)",
                type: "post",
                cache: false,
                data: input,
                success: function (data) {
                    if (data.redirectUrl) {
                        window.location = data.redirectUrl;
                        return;
                    }

                    jQuery("#divSignIn").html(data);
                    tb_init("a.thickbox");
                }
            });

        });

        tb_init("a.thickbox");
    });

</script>
