﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RegisterViewModel

<div id="divRegisterForm" class="nhsRegisterForm">
    <fieldset id="infoForm">
        <p>
            <span class="nhs_DetailsFormTopTitle">@LanguageHelper.CreateAccount.ToMvcHtmlString()</span>
            <span class="nhs_DetailsFormTopTitleSmall">@LanguageHelper.EnterYourInformationToContinue.ToMvcHtmlString()</span>
        </p>
        <ol>
            @{
                var showLongerForm = string.IsNullOrEmpty(UserSession.UserProfile.LogonName);
                if (showLongerForm)
                {
                    <li>
                        <label for="FirstName">@LanguageHelper.Name.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(m => m.Name)
                    </li>
                    <li>
                        <label for="EmailReg">@LanguageHelper.EmailAddress.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(m => m.Email, new { id = "EmailReg" })
                    </li>
                }
                else
                {

                    @Html.HiddenFor(m => m.Name)
                    @Html.HiddenFor(m => m.Email, new { id = "EmailReg" })
                }
                
                <li>
                    <label for="PasswordReg">@LanguageHelper.Password.ToMvcHtmlString():</label>
                    @Html.PasswordFor(m => m.Password, new { id = "PasswordReg" })
                </li>

                if (showLongerForm)
                {
                    <li>
                        <label for="ZipCodeReg">@LanguageHelper.MyZipCode.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(m => m.ZipCodeReg)
                    </li>
                    <li class="checkBoxes">
                        <span class="createAccountCheckBox">
                            @(Html.CheckBoxFor(m => m.LiveOutsideReg, new {onclick = "toggleRequestCreateAccountZipField()"}))
                        </span>
                        <label for="LiveOutsideReg" class="createAccountLabels"> @LanguageHelper.ILiveOutsideTheUs.ToMvcHtmlString()</label>
                    </li>
                }
                else
                {
                    @Html.HiddenFor(m => m.ZipCodeReg)
                }
}

            <li class="nhs_LeadFormButtons">
                <br />
                @Html.HiddenFor(m => m.FromPage, new { value = Model.FromPage })
                <input type="submit" class="btn createAccount" value="@LanguageHelper.CreateAccount" name="btnLogin" onclick="" />
                <input type="button" class="btn cancel" value="@LanguageHelper.Cancel" name="btnCancel" onclick=" hideCreateAccount();return false; " />
            </li>
        </ol>
    </fieldset>

    <ul id="nhs_Errors" class="validation-summary-errors li"></ul>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var form = jQuery("#infoForm");

        jQuery(document).on("click", ".createAccount", function() {
            var valid = true;
            var control = jQuery(this);
            control.attr("disabled", "disabled");
            var ul = form.find("#nhs_Errors");
            ul.html("");

            //Start Name
            var name = form.find("#Name");
            name.removeAttr("style");
            if (!jQuery.ValidFullNameWithNumberLastName(name.val())) {
                ul.append("<li>@LanguageHelper.FirstAndLastName.ToMvcHtmlString()</li>");
                name.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Name

            //Start Email
            var email = form.find("#EmailReg");
            email.removeAttr("style");
            if (!jQuery.ValidEmail(email.val())) {
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL.ToMvcHtmlString()</li>");
                email.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Email

            //Start Password
            var password = form.find("#PasswordReg");
            password.removeAttr("style");
            if (password.val().length < 5) {
                password.attr("style", "border: 1px solid #FF0000");
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD.ToMvcHtmlString()</li>");
                valid = false;
            }
            //End Password
            if (valid) {
                var input = jQuery("#divRegisterForm #infoForm input").serialize();

                jQuery.ajax({
                    url: "@Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.BrochureRegister)",
                    type: "post",
                    cache: false,
                    data: input,
                    success: function(data) {

                        if (data.logonNameExists === false) {
                            ul.append("<li>@LanguageHelper.MSG_ACCOUNT_SAME_EMAIL.ToMvcHtmlString()</li>");
                            control.removeAttr("disabled");
                            return;
                        }

                        if (data.expiredSession === false) {
                            ul.append("<li>@LanguageHelper.ExpiredSession.ToMvcHtmlString()</li>");
                            control.removeAttr("disabled");
                            return;
                        }

                        if (data.redirectUrl) {
                            window.location = data.redirectUrl;
                            return;
                        }

                        jQuery("#divRegisterForm").html(data);
                    }
                });
            }
            else
            {
                control.removeAttr("disabled");
            }
        });
    });

</script>


