﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LoginViewModel
<div id="NotAjaxContent">
    <div id="nhs_ModalLogin" class="nhs_ModalBox nhs_ModalAccount clearfix">
        @if (!Model.OtherContent)
        {
            <a href="javascript:void(0)" onclick=" tb_remove() ">X</a>
        }
        <div class="nhs_ModalLoginHeader">
            <div class="nhs_ModalHeaderAccount">
                <p>@Html.Link(Model.OtherContent, LanguageHelper.CreateAccount, Model.OtherContent ? Pages.Register : Pages.RegisterModal, Model.OtherContent ? "nextpage=" + Model.FromPage : "")</p>
            </div>
            <div class="nhs_ModalHeaderSignIn">
                <p>@LanguageHelper.SignIn.ToMvcHtmlString()</p>
            </div>
        </div>

        <p>
            @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                @:Enter your account information to access important agent-only information and tools.
                }
            else
            {
                @LanguageHelper.EnterYourAccountInformation.ToMvcHtmlString()
            }
        </p>

        @if (NhsRoute.IsPartnerNhs || NhsRoute.IsPartnerMove || NhsRoute.IsPartnerCna)
        {
            <div class="nhs_ModalLoginFbButton">@Html.FbLogin()</div>
            <hr />
        }

        <form id="nhs_LoginForm" class="nhs_ModalAccountForm">
            <ul class="validation-summary-errors" id="nhs_Errors"></ul>
            <fieldset>
                <legend class="visuallyhidden">Sign In</legend>
                <p>
                    <label for="Email">
                        @LanguageHelper.Email.ToMvcHtmlString()
                    </label>
                    @Html.TextBoxFor(m => m.Email, new { type = "email", autocomplete = "email" })
                </p>
                <p>
                    <label for="Password">
                        @LanguageHelper.Password.ToMvcHtmlString()
                    </label>
                    @Html.PasswordFor(m => m.Password, new { type = "password" })
                </p>

                <p class="nhs_ModalActions2">
                    <input type="button" id="btnsubmit" value="@LanguageHelper.SignIn" class="btnCss nhs_Btn_ModalLogin" />
                    <input type="button" id="btnsubmitFake" value="@LanguageHelper.SignIn" class="btn_Loading" style="display: none; cursor: default; " />
                </p>
            </fieldset>

            <br />
            <p class="nhs_ForgotPass_Text">
                @Html.HiddenFor(model => model.OtherContent)
                @Html.Link(Model.OtherContent, LanguageHelper.ForgotYourPassword, Model.OtherContent ? Pages.RecoverPassword : Pages.ForgotPasswordModal)
            </p>
            @Html.HiddenFor(model => model.FromPage)
        </form>

    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            tb_resizeWindow(@ModalWindowsConst.SignInModalWidth, @ModalWindowsConst.SignInModalHeight);

            jQuery('#nhs_LoginForm').keypress(function(e) {
                if (e.which === 13) {
                    jQuery("#btnsubmit").click();
                }
            });

            jQuery("#btnsubmit").click(function() {
                var valid = true;
                jQuery(this).hide();
                jQuery('#btnsubmitFake').show();
                var ul = jQuery("#nhs_Errors");
                ul.html("");

                //Start Email
                var email = jQuery("#nhs_LoginForm #Email");
                email.removeAttr("style");
                if (!ValidEmail(email.val())) {
                    ul.append("<li>@LanguageHelper.MSG_ACCOUNT_NO_EMAIL</li>");
                    email.attr("style", "border: 1px solid #FF0000");
                    valid = false;
                }
                //End Email

                //Start Password
                var password = jQuery("#nhs_LoginForm #Password");
                password.removeAttr("style");
                if (password.val().length < 5) {
                    password.attr("style", "border: 1px solid #FF0000");
                    ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD.ToMvcHtmlString()</li>");
                    valid = false;
                }
                //End Password

                if (valid) {
                    jQuery.googlepush('Account Events', 'Create Account', 'Sign In - Sign In');
                    var data = jQuery("#nhs_LoginForm input").serialize();

                    jQuery.ajax({
                        type: "POST",
                        url: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Login))",
                        data: data,
                        success: function(data) {
                            if (data.indexOf("typeof") === -1) {
                                jQuery("#btnsubmit").show();
                                jQuery('#btnsubmitFake').hide();
                            }
                        }
                    });
                } else {
                    var errorCount = jQuery("#nhs_LoginForm .validation-summary-errors li").size();
                    var baseHeight = @ModalWindowsConst.SignInModalHeight;

                    errorCount = errorCount * 10;
                    baseHeight = baseHeight + errorCount;
                    if (jQuery("#TelerikWindow").length > 0)
                        tb_resizeWindow(@ModalWindowsConst.SignInModalWidth, baseHeight);

                    jQuery(this).show();
                    jQuery('#btnsubmitFake').hide();
                }
            });

        });
    </script>

</div>
