﻿@using System.Web.Mvc.Html
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PartialViewModels.ManageAccount 
<div id="nhs_ModalContainer" class="nhs_Register">
    <h2>@LanguageHelper.UpdateMyAccount.ToMvcHtmlString()</h2>
    @Html.ValidationSummary(LanguageHelper.MSG_ACCOUNT_FORM_INVALID)
    <div id="nhs_RegisterLeft">
        <h3>
            @LanguageHelper.MyContactInfo.ToMvcHtmlString() <span>(<span class="nhs_Asterisk">*</span> @LanguageHelper.Required.ToMvcHtmlString())</span></h3>
        <div id="nhs_RegisterForm">
            <fieldset>
                <legend class="nhs_Reader">@LanguageHelper.ContactInfo.ToMvcHtmlString()</legend>
                <div>
                    <p>
                        <label for="FirstName">
                            <span class="nhs_Asterisk">*</span> @LanguageHelper.FirstName.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(model => model.FirstName, new { MaxLength = 50 })
                    </p>
                    <p>
                        <label for="LastName">
                            <span class="nhs_Asterisk">*</span> @LanguageHelper.LastName.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(model => model.LastName, new { MaxLength = 50 })
                    </p>
                </div>
                <div id="nhs_RegisterEmail">
                    <p>
                        <label for="Email">
                            <span class="nhs_Asterisk">*</span> @LanguageHelper.EmailAddress.ToMvcHtmlString():</label>
                        @Html.TextBoxFor(model => model.Email, new { MaxLength = 50, @class = "nhsTxtEmail" })
                    </p>
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                        <p>
                            <strong>
                                <label for="ConfirmEmail">
                                    <span class="nhs_Asterisk">*</span> Confirm Email:</label></strong>
                            @Html.TextBoxFor(model => model.EmailConfirm, new { MaxLength = 50, @class = "nhsTxtEmail" })
                        </p>
                    }
                </div>
                <div>
                    @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                        <p>
                            <label for="International">
                                @LanguageHelper.International.ToMvcHtmlString():</label>
                            @Html.CheckBoxFor(model => model.InternationalPhone)
                        </p>
                    }
                    <div id="nonInternationalPanel" style="@((Model.InternationalPhone) ? "display:none" : "")">
                        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                        {
                            <p>
                                <label for="StreetAdress">
                                    @LanguageHelper.StreetAddress.ToMvcHtmlString():</label>
                                @Html.TextBoxFor(model => model.StreetAdress)
                            </p>
                            <p>
                                <label class="nhs_RequestCityEdit" for="City">
                                   @LanguageHelper.City.ToMvcHtmlString():</label>
                                @Html.TextBoxFor(model => model.City)
                            </p>
                            <p>
                                <label for="State" class="nhs_RequestState">
                                    @LanguageHelper.State.ToMvcHtmlString():</label>
                                @Html.DropDownListFor(m => m.State, Model.States, "", new { @class = "nhs_RequestStateDrop", width = 45 })
                            </p>
                        }
                        <p>
                            <strong>
                                <label for="ZipCode">
                                    <span class="nhs_Asterisk">*</span> @LanguageHelper.ZipCode.ToMvcHtmlString():</label></strong>
                            @Html.TextBoxFor(model => model.ZipCode, new { @class = "nhs_RequestZipTxt" })
                        </p>
                        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                        {                    
                            <p>
                                <strong>
                                    <label class="nhs_RequestCityEdit" for="City">
                                        City:</label></strong>
                                @Html.TextBoxFor(model => model.CityPro, new { disabled = "disabled" })
                            </p>
                            <p>
                                <strong>
                                    <label for="State" class="nhs_RequestState">
                                        State:</label></strong>
                                <asp:textbox id="txtStateEdit" width="45" runat="server" enableviewstate="true" enabled="False"></asp:textbox>
                                @Html.TextBoxFor(model => model.StatePro, new { disabled = "disabled", width = 45 })
                                @Html.Hidden("hdnCity")
                                @Html.Hidden("hdnState")
                            </p>
                            <p>
                                @Html.Hidden("hdnHomeMarket")
                                <strong>
                                    <label for="HomeMarket" class="nhs_RequestCityEdit">
                                        Home Market:</label></strong>
                                @Html.TextBoxFor(model => model.HomeMarket, new { disabled = "disabled" })
                            </p>
                            <p>
                                <strong>
                                    <label for="BusinessPhone">
                                        Business Phone:</label></strong>
                                @Html.TextBoxFor(model => model.BusinessPhone, new { @class = "nhs_RequestPhoneEdit", MaxLength = 25 })
                            </p>                   
                            <p>
                                <strong>
                                    <label for="MobilePhone">
                                        Mobile Phone:</label></strong>
                                <asp:textbox cssclass="nhsRequestPhoneEdit" id="txtMobilePhoneEdit" maxlength="25"
                                    runat="server"></asp:textbox>
                                @Html.TextBoxFor(model => model.MobilePhone, new { @class = "nhs_RequestPhoneEdit", MaxLength = 25 })
                            </p>                                        
                        }
                        else
                        {                   
                            <p>
                                <label for="Phone">
                                    @LanguageHelper.Phone.ToMvcHtmlString():</label>
                                @Html.TextBoxFor(model => model.BusinessPhone, new { @class = "nhs_RequestPhoneEdit", maxlength = 25 })
                            </p>                
                        }
                    </div>
                </div>
                <div id="phChangePassword" runat="server">
                    <h3>
                        @LanguageHelper.ChangeMyPassword.ToMvcHtmlString()</h3>
                    <p>
                        <label for="Password">
                            <span class="nhs_Asterisk">*</span> @LanguageHelper.Password.ToMvcHtmlString():</label>
                        @* If you use PasswordFor the value is not binding in the model *@
                        @Html.TextBoxFor(model => model.Password, new { type = "password", maxlength = 50 })
                    </p>
                    <p>
                        <label for="PasswordConfirm">
                            <span class="nhs_Asterisk">*</span> @LanguageHelper.ConfirmPassword.ToMvcHtmlString():</label>
                        @* If you use PasswordFor the value is not binding in the model *@
                        @Html.TextBoxFor(model => model.PasswordConfirm, new { type = "password", maxlength = 50 })
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="nhs_RegisterRight">
        @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {                    
            <h3>
                @LanguageHelper.MyHomeNeeds.ToMvcHtmlString() <span>(@LanguageHelper.Optional.ToMvcHtmlString())</span></h3>
            <div class="nhs_RequestQuestions">
                <fieldset>
                    <legend class="nhs_Reader">@LanguageHelper.MoreInfo.ToMvcHtmlString()</legend>
                    <p>
                        <strong>
                            <label for="MoveInDate">
                                @LanguageHelper.ExpectedMoveInDate.ToMvcHtmlString():</label></strong>
                        <br />
                        @Html.DropDownList("MoveInDate", Model.MoveInDates)
                    </p>
                    <p>
                        <strong>
                            <label for="HomeFinancing">
                                @LanguageHelper.HomeFinancingPreference.ToMvcHtmlString():</label></strong>
                        <br />
                        @Html.DropDownList("HomeFinancial", Model.HomeFinancials, LanguageHelper.ChooseOne)
                    </p>
                    <p>
                        <strong>
                            <label for="WhyLookingNewHome">
                                @LanguageHelper.WhyAreYouLookingForANewHome.ToMvcHtmlString()</label></strong>
                        <br />
                        @Html.DropDownList("WhyLookingNewHome", Model.WhyLookingNewHomes, LanguageHelper.ChooseOne)
                    </p>
                </fieldset>
            </div>
        }
        <div id="nhs_RegisterNewsOffers">
            <fieldset>
                <legend class="nhs_Reader">@LanguageHelper.Newsletters.ToMvcHtmlString() / @LanguageHelper.SpecialOffers.ToMvcHtmlString()</legend>
                @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {                    
                    <p id="pchkNewsLetter">
                        @Html.CheckBoxFor(model => model.Newsletter)
                        <label for="Newsletter">@LanguageHelper.ContactMeWithFreeEmailNewsletters.ToMvcHtmlString()</label>
                    </p>   
                    <p id="pchkPromos">
                        @Html.CheckBoxFor(model => model.Promos)
                        <label for="Promos">@LanguageHelper.SendMeSpecialPromotions.ToMvcHtmlString()</label>
                    </p>
                }
                @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                {                                                                   
                    <div class="nhs_RequestNewValues">
                        <p>
                            <strong>
                                <label for="AgencyName">
                                    Broker agency or company name:</label></strong>
                            @Html.TextBoxFor(model => model.AgencyName, new { width = 130, maxlength = 25 })
                        </p>
                        <p>
                            <strong>
                                <label for="RealEstateLicense">
                                    Real estate license #:</label></strong>
                            @Html.TextBoxFor(model => model.RealEstateLicense, new { width = 130, maxlegnth = 25 })
                        </p>
                    </div>
                    <br />
                    <div>
                        <p id="pchkPromosPro">
                            @Html.CheckBoxFor(model => model.PromosPro)
                            <label for="PromosPro">
                                Sign me up to receive a weekly email of the <strong>promotions, events and builder inventory
                                    homes</strong> available in my area.
                            </label>
                        </p>
                    </div>                          
                }
            </fieldset>
        </div>
        @Html.HiddenFor(model => model.IsPopupWindow)
        <div class="nhsRegButtonArea">
            <input type="button" id="btnUpdate" class="btnCss btn_UpdateMyAccount" value="@LanguageHelper.UpdateMyAccount" />
            <input type="button" id="btnUpdateFake" class="btn_Loading" value="@LanguageHelper.UpdateMyAccount" style="display: none" />
        </div>
    </div>
    <div class="nhs_Clear"></div>
    <p class="nhs_Legal">@string.Format(LanguageHelper.WeValueYourPrivacy, Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy), Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse)).ToMvcHtmlString()</p>
    <div class="nhs_Clear"></div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var params = {
            InternationalPhone: @(Model.InternationalPhone ? "true" : "false"),
            FillHomeMarketUpdate: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.GetHomeMarketInfo))",
            UpdateAccount: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.ManageAccountUpdate))",
            Message: "@LanguageHelper.YourInformationHasBeenUpdated.ToMvcHtmlString()"
        };
        var updateAccount = new NHS.Scripts.UpdateAccount(params);
        updateAccount.initialize();
        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
        @:updateAccount.initializePro();
        }
    });
</script>
@if (!Model.IsPopupWindow)
{
    <script src="@GlobalResources14.Default.js.MyAccount.UpdateAccount_js" type="text/javascript"></script>
}
