﻿@model Nhs.Web.UI.AppCode.ViewModels.ForgotPasswordViewModel
@using System.Web.Mvc.Html
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.Helper

<script type="text/javascript">
    if(typeof tb_resizeWindow !== "undefined")
        tb_resizeWindow(@ModalWindowsConst.RecoverPasswordModalWidth,@ModalWindowsConst.RecoverPasswordModalHeight);
</script>
<div id="nhs_ModalLogin" class="nhs_ModalBox nhs_ModalAccount clearfix">
    @if (!Model.OtherContent)
    {
        <a href="javascript:void(0)" onclick=" tb_remove() ">X</a>
    }
    <div class="nhs_ModalLoginHeader">
        <div class="nhs_ModalHeaderRecover">
            <p>@LanguageHelper.RecoverYourPassword.ToMvcHtmlString()</p>
        </div>
    </div>

    @Html.ValidationSummary()
    @if (Model != null && Model.PasswordChanged)
    {
        <p>
            <strong>@LanguageHelper.YourPasswordHasBeenSent.ToMvcHtmlString()</strong>
        </p>
    }
    else
    {
        <p>@LanguageHelper.EnterYourEmailAddress.ToMvcHtmlString()</p>
    }

    <div id="nhs_RecoverForm" class="nhs_ModalAccountForm">
        <fieldset id="infoForm">
            <legend class="visuallyhidden">@LanguageHelper.RecoverYourPassword.ToMvcHtmlString()</legend>
            <p>
                <label for="Email">@LanguageHelper.Email.ToMvcHtmlString()</label>
                @Html.TextBoxFor(m => m.Email)
            </p>
            <p class="nhs_ModalActions2">
                <input type="submit" value="@LanguageHelper.GetMyPassword" class="btnCss btn_GetMyPassword" onclick="jQuery.googlepush('Account Events', 'Create Account', 'Recover Password'); " />
            </p>
        </fieldset>
        @if (Model != null && Model.ShowGoback)
        {
            <br />
            <p class="nhs_ForgotPass_Text">
                @Html.Link(Model.OtherContent, LanguageHelper.GoBackToSignIn, Model.OtherContent ? Pages.SignIn : Pages.LoginModal,
                    !string.IsNullOrEmpty(Model.FromPage) && !Model.FromPage.ToLower().StartsWith("/" + Pages.Home.ToLower()) ?
                        "nextpage=" + HttpUtility.UrlEncode(Model.FromPage) : null)
            </p>
        }
    </div>

    @Html.HiddenFor(model => model.OtherContent)
    @Html.HiddenFor(model => model.ShowGoback)
    @Html.HiddenFor(model => model.FromPage)
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".btn_GetMyPassword").unbind();
        jQuery(document).off("click", ".btn_GetMyPassword").on("click", ".btn_GetMyPassword", function() {
                var control = jQuery("#TelerikWindow").length;
                var input = null;

                if (control > 0) {
                    input = jQuery("#TelerikWindow #nhs_ModalLogin input").serialize();
                } else {
                    input = jQuery("#nhs_ModalLogin input").serialize();
                }

                jQuery.ajax({
                    url: "/@(NhsMvc.Account.ActionNames.RecoverPassword)",
                    type: "post",
                    cache: false,
                    data: input,
                    success: function(data) {
                        if (data.JavaScriptCode) {
                            eval(data.JavaScriptCode);
                            return;
                        }

                        if (control > 0)
                            jQuery("#TelerikWindow").find("#nhs_ModalLogin").html(data);
                        else
                            jQuery("#nhs_ModalLogin").html(data);
                    }
                });
        });
    });
</script>
