﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RegisterViewModel

<div id="NotAjaxContent">
    <div id="nhs_ModalRegister" class="nhs_ModalBox nhs_ModalAccount clearfix">
        @if (!Model.OtherContent)
        {
            <a href="javascript:void(0)" onclick=" tb_remove() ">X</a>
        }
        <div class="nhs_ModalLoginHeader">
            <div class="nhs_ModalHeaderAccount">
                <p>@LanguageHelper.CreateAccount.ToMvcHtmlString()</p>
            </div>
            <div class="nhs_ModalHeaderSignIn">
                <p>@Html.Link(Model.OtherContent, LanguageHelper.SignIn, Model.OtherContent ? Pages.Login : Pages.LoginModal, Model.OtherContent ? "nextpage=" + Model.FromPage : "")</p>
            </div>
        </div>

        @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
        {
            <p>
                Create a free account so you can view exclusive agent promotions, send customized
                brochures to your clients, communicate directly with builders and more. It's fast
                and easy -- just one simple step!
            </p>
        }
        else
        {
            <p>
                @LanguageHelper.ItsFastFree.ToMvcHtmlString()
            </p>
        }

        @if (NhsRoute.IsPartnerNhs || NhsRoute.IsPartnerMove || NhsRoute.IsPartnerCna)
        {
            <div class="nhs_ModalLoginFbButton">@Html.FbLogin()</div>
            <hr />
        }

        <form id="infoForm">
            <div id="nhs_CreateAcctForm" class="nhs_ModalAccountForm">
                <ul id="nhs_Errors" class="validation-summary-errors"></ul>
                <fieldset>
                    <legend class="visuallyhidden">@LanguageHelper.ContactInfo.ToMvcHtmlString()</legend>
                    @Html.HiddenFor(m => m.ComingFromLead)
                    @if (!Model.ComingFromLead)
                    {
                        <p>
                            <label for="Name">
                                @LanguageHelper.Name.ToMvcHtmlString()
                            </label>
                            @Html.TextBoxFor(m => m.Name, new { maxlength = "100", placeholder = LanguageHelper.FirstAndLastName, autocomplete = "name" })
                        </p>
                        <p>
                            <label for="Email">
                                @LanguageHelper.Email.ToMvcHtmlString()
                            </label>
                            @Html.TextBoxFor(m => m.Email, new { type = "email", maxlength = "50", placeholder = LanguageHelper.Email, autocomplete = "email" })
                        </p>
                    }
                    else
                    {
                        <p>
                            <label>
                                @LanguageHelper.AccountEmail.ToMvcHtmlString()
                            </label>
                            @Html.HiddenFor(m => m.Email)
                            @Html.HiddenFor(m => m.Name)
                            @Html.HiddenFor(m => m.LiveOutsideReg)
                            @Html.HiddenFor(m => m.ZipCodeReg)
                            @Model.Email
                        </p>
                    }
                    <p>
                        <label for="Password">
                            @LanguageHelper.Password.ToMvcHtmlString()
                        </label>
                        @Html.PasswordFor(m => m.Password, new { type = "password", maxlength = "50" })
                    </p>
                    @if (!Model.ComingFromLead)
                    {
                        <p class="nhs_ModalAccountZip">
                            <label for="ZipCodeReg">
                                @LanguageHelper.Zip.ToMvcHtmlString()
                            </label>
                            @{ var zipAttr = (Model.LiveOutsideReg ? new { placeholder = LanguageHelper.ZipCode, maxlength = "10", @class = "nhs_Disabled", disabled = "disabled", autocomplete = "postal-code" } : (object)new { maxlength = "10", autocomplete = "postal-code" }); }
                            @Html.TextBoxFor(m => m.ZipCodeReg, zipAttr)
                            @if (!Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                            {
                                @Html.CheckBoxFor(m => m.LiveOutsideReg)
                                <label for="LiveOutsideReg" class="nhs_OutsideLabel">
                                    @LanguageHelper.OutsiteUS.ToMvcHtmlString()
                                </label>
                            }
                        </p>
                    }
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                            <!-- Pro 7 -->
                        @Html.HiddenFor(m => m.MarketId)
                        @Html.HiddenFor(m => m.MarketName)
                        <p>
                            <label for="HomeMarket">
                                Home Market
                            </label>
                            <input id="HomeMarket" type="text" disabled="disabled" />
                        </p>
                            <!-- END - Pro 7 -->
                    }
                    @Html.HiddenFor(m => m.IsModal)

                    @if (Model.Globals.PartnerInfo.UsesSso.ToBool())
                    {
                        <p>
                            <a onclick="@(string.Format("window.location='/{0}/SSO/StartSSO'", NhsRoute.PartnerSiteUrl))">
                                LanguageHelper.SignInHere.ToMvcHtmlString()
                            </a>
                        </p>
                    }
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                        <p>
                            <label for="AgencyName">
                                Broker Agency or Company:
                            </label>
                            @Html.TextBoxFor(m => m.AgencyName, new { maxlength = "50" })
                        </p>
                        <p>
                            <label for="RealEstateLicense">
                                Real State License #
                            </label>
                            @Html.TextBoxFor(m => m.RealEstateLicense, new { maxlength = "50" })
                        </p>
                    }
                    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
                    {
                        <p>
                            @Html.CheckBoxFor(m => m.Promos)
                            <label for="Promos" class="nhs_PromosLabel">
                                Sign me up to receive a weekly email of the <strong>
                                    promotions, events and builder inventory
                                    homes
                                </strong> available in my area.
                            </label>
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.CheckBoxFor(m => m.Newsletter, new { onchange = "jQuery.googlepushCheckBox(this,'Account Events','Create Account','Choose Option - Free Newsletter')" })
                            <label for="Newsletter" class="nhs_NewsletterLabel">
                                @LanguageHelper.ContactMeWithFreeEmailNewsletters.ToMvcHtmlString()
                            </label>
                        </p>
                        <p>
                            @Html.CheckBoxFor(m => m.Promos, new { onchange = "jQuery.googlepushCheckBox(this,'Account Events','Create Account','Choose Option - Special Promotions')" })
                            <label for="Promos" class="nhs_PromosLabel">
                                @LanguageHelper.SendMeSpecialPromotions.ToMvcHtmlString()
                            </label>
                        </p>
                    }

                    <p class="nhs_ModalActions2">
                        <input type="button" id="CreateAccountButton" class="btnCss btn_CreateAccountModal" value="@LanguageHelper.CreateAccount"
                               onclick="jQuery.googlepush('Account Events', 'Create Account', 'Submit Form - Create Account'); " />
                    </p>
                </fieldset>
            </div>

            @*Begin - no call disclaimer*@
            <p class="nhs_Legal">
                @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy) | @Html.NhsLink(LanguageHelper.TermsOfUse, Pages.TermsOfUse) | @Html.NhsLink(LanguageHelper.Help, Pages.SiteHelp)
            </p>
            @Html.HiddenFor(model => model.OtherContent)
            @Html.HiddenFor(model => model.FromPage)
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var form;
        if (jQuery("#TelerikWindow").length > 0) {
            form = jQuery("#TelerikWindow #infoForm");
        } else {
            form = jQuery("#infoForm");
        }

        form.keypress(function(e) {
            if (e.which === 13) {
                form.find("#CreateAccountButton").click();
            }
        });

        var international = form.find("#LiveOutsideReg");
        var zip = form.find("#ZipCodeReg");

        international.change(function () {
            if (international.is(':checked')) {
                zip.attr("disabled", "disabled");
                zip.val("");
                zip.removeAttr("style");
            } else {
                zip.removeAttr("disabled");
            }
        });


        jQuery("#TelerikWindow #infoForm #IsModal").val("True");
        form.find("#CreateAccountButton").click(function() {
            var valid = true;
            var control = jQuery(this);
            control.attr("disabled", "disabled");
            var ul = form.find("#nhs_Errors");
            ul.html("");

            //Start Name
            var name = form.find("#Name");
            name.removeAttr("style");
            if (!jQuery.ValidFullName(name.val())) {
                ul.append("<li>@LanguageHelper.FirstAndLastNameRequired.ToMvcHtmlString()</li>");
                name.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Name

            //Start Email
            var email = form.find("#Email");
            email.removeAttr("style");
            if (!jQuery.ValidEmail(email.val())) {
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL.ToMvcHtmlString()</li>");
                email.attr("style", "border: 1px solid #FF0000");
                valid = false;
            }
            //End Email

            //Start Password
            var password = form.find("#Password");
            password.removeAttr("style");
            if (password.val().length < 5) {
                password.attr("style", "border: 1px solid #FF0000");
                ul.append("<li>@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD.ToMvcHtmlString()</li>");
                valid = false;
            }
            //End Password

            //Start Zip
            if (!international.is(":checked")) {
                zip.removeAttr("style");
                if (!jQuery.ValidZipcode(zip.val())) {
                    zip.attr("style", "border: 1px solid #FF0000");
                    ul.append("<li>@LanguageHelper.MSG_REGISTER_INVALID_ZIP.ToMvcHtmlString()</li>");
                    valid = false;
                }
            }

            var agencyName = form.find("#AgencyName");
            agencyName.removeAttr("style");
            if (agencyName.length>0) {
                if (agencyName.val().length === 0) {
                    agencyName.attr("style", "border: 1px solid #FF0000");
                    ul.append("<li>Agency name required</li>");
                    valid = false;
                }
            }

            if (valid) {
                var input = null;
                if (jQuery("#TelerikWindow").length > 0) {
                    input = jQuery("#TelerikWindow #infoForm input").serialize();
                } else {
                    input = jQuery("#infoForm input").serialize();
                }
                jQuery.ajax({
                    url: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.Register))",
                    //NhsMvc.Account.ActionNames.Register
                    type: "post",
                    cache: false,
                    data: input,
                    success: function(data) {
                        if (data.logonNameExists) {
                            ul.append("<li>@LanguageHelper.MSG_ACCOUNT_SAME_EMAIL.ToMvcHtmlString()</li>");
                            control.removeAttr("disabled");
                            return;
                        }

                        if (data.script !=null) {
                            eval(data.script);
                            return;
                        }

                        if (jQuery("#TelerikWindow").length > 0)
                            jQuery("#TelerikWindow").find("#NotAjaxContent").html(data);
                        else
                            jQuery("#NotAjaxContent").html(data);

                        if (jQuery("#TelerikWindow").length > 0) {
                            jQuery("#TelerikWindow #nhs_ModalContainer").addClass("nhs_Register");
                            jQuery("#TelerikWindow #RegisterOnPage").removeClass("nhs_RegisterOnPage");
                        } else {
                            jQuery("#TelerikWindow #nhs_ModalContainer").addClass("nhs_Register");
                            jQuery("#RegisterOnPage").addClass("nhs_RegisterOnPage");
                        }

                    }
                });
            } else {
                var errorCount = form.find(".validation-summary-errors li").size();
                var baseHeight = @ModalWindowsConst.RegisterModalHeight;

                errorCount = errorCount * 10;
                baseHeight = baseHeight + errorCount;
                if (jQuery("#TelerikWindow").length > 0)
                    tb_resizeWindow(@ModalWindowsConst.RegisterModalWidth, baseHeight);

                var homeMarketBox = form.find("#HomeMarket");
                var homeMarketName = form.find("#MarketName");

                if (homeMarketName != null && homeMarketName !== '')
                    homeMarketBox.val(homeMarketName.val());

                control.removeAttr("disabled");
            }
        });

        if (jQuery("#TelerikWindow").length > 0)
            jQuery("#TelerikWindow #RegisterOnPage").removeClass("nhs_RegisterOnPage");
        else
            jQuery("#RegisterOnPage").addClass("nhs_RegisterOnPage");
    });


    if (typeof tb_resizeWindow !== "undefined")
        tb_resizeWindow(@ModalWindowsConst.RegisterModalWidth, @ModalWindowsConst.RegisterModalHeight);


</script>

@if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerNhsPro)
{
    <script type="text/javascript">
        
        jQuery(document).ready(function() {
           
            jQuery('#ZipCodeReg').keyup(function() {
                var enteredZip = jQuery('#ZipCodeReg').val();
                if (jQuery.ValidZipcode(enteredZip)) {
                    try {
                        var homeMarketBox = jQuery('#HomeMarket');
                        var homeMarketId = jQuery('#MarketId');
                        var homeMarketName = jQuery('#MarketName');
                        homeMarketName.empty();
                        if (enteredZip != null && enteredZip !== '') {
                            jQuery.ajax({
                                type: "GET",
                                url: "/Account/GetHomeMarketInfo",
                                dataType: 'json',
                                data: { zip: jQuery('#ZipCodeReg').val() },
                                success: function(data) {
                                    if (data != null && data !== '') {
                                        homeMarketBox.val(data.split(',')[0]);
                                        homeMarketName.val(data.split(',')[0]);
                                        homeMarketId.val(data.split(',')[1]);
                                    }
                                }
                            });
                        }
                    } catch (ex) {

                    }
                } else {
                    jQuery('#HomeMarket').val("");
                    jQuery('#MarketName').val("");
                    jQuery('#MarketId').val("");
                }
            });
        });
    </script>
}
