﻿@model Nhs.Web.UI.AppCode.ViewModels.LoginViewModel
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
<div id="NotAjaxContent">
    <div id="nhs_ModalContainer">
        <div id="nhs_Login">
             @if (NhsRoute.IsBrandPartnerNhsPro)
            {
                <script>tb_ChangeTitle("Sign In");</script>
            }
            else
            {
                <h2>Sign In</h2>
            }
            @if (HttpContext.Current.Request.UrlReferrer != null)
            {
                <p>
                    To view this content, please <a onclick="@(string.Format("window.location='/{0}/SSO/StartSSO?{1}={2}'", NhsRoute.PartnerSiteUrl,UrlConst.SsoUrlReferrer,HttpContext.Current.Request.UrlReferrer.ToString()))">click here</a>.
                </p>
            }
            else
            {
                <p>
                    To view this content, please <a onclick="@(string.Format("window.location='/{0}/SSO/StartSSO'", NhsRoute.PartnerSiteUrl))">click here</a>.
                </p>
            }
            
            <br /><br />
            <div class="nhs_Clear"></div>
        </div>
    </div>
</div>
