﻿@model Nhs.Web.UI.AppCode.ViewModels.UnsubscribeViewModel
@using Nhs.Web.UI.AppCode.HtmlHelpers
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
<div class="nhs_Content" id="nhs_Unsubscribe" style="display: block">
   <h2>@LanguageHelper.Unsubscribe.ToMvcHtmlString()</h2>
    <p>
       @LanguageHelper.EnterTheEmailAddressReceivingEmails.ToMvcHtmlString()
    </p>
    <div id="nhs_UnsubForm">
        <fieldset id="nhs_UnsubscribeForm">
            <p>
                <strong><label for="Email">@LanguageHelper.EmailAddress.ToMvcHtmlString():</label></strong>
                @Html.TextBoxFor(m => m.Email, new { size = "50" })
            </p>
            <p class="validation-summary-errors" id="nhs_UnsubscribeError">
            </p>
        </fieldset>
        <input type="button" id="btnSubmitUnsubscribe" class="btnCss btn_Unsubscribe" value="@LanguageHelper.Unsubscribe" />
    </div>
    <div class="nhs_AccountPageRight">
        <br />
        <p class="nhs_LegalText">
            @LanguageHelper.IfYouContinueToReceiveMessagesPart1.ToMvcHtmlString() <a href="mailto:@Model.FromEmail">@Model.FromEmail</a> @LanguageHelper.IfYouContinueToReceiveMessagesPart2.ToMvcHtmlString()
        </p>
    </div>
</div>
    @*Thank you Section*@
<div class="nhs_Content" id="nhs_UnsubscribeThankYou" style="display: none">
    <h2>@LanguageHelper.UnsubscribeSuccessful.ToMvcHtmlString()</h2>
    <br/>
    <p id="nhsConfirmationMessage">
        @Html.Raw(Model.ConfirmationMessage)
    </p>
    <p>
        <br />
        @Html.NhsLink(LanguageHelper.SearchForNewHomes, Pages.Home)
    </p>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#btnSubmitUnsubscribe").click(function () {
            var email = jQuery("#nhs_UnsubscribeForm #Email").val();
            if (!email) {
                jQuery("#nhs_UnsubscribeError").css("display", "block");
                jQuery("#nhs_UnsubscribeError").html("* @LanguageHelper.MSG_ACCOUNT_NO_EMAIL.ToMvcHtmlString()");
                return;
            } else if (!jQuery.ValidEmail(email)) {
                jQuery("#nhs_UnsubscribeError").css("display", "block");
                jQuery("#nhs_UnsubscribeError").html("* @LanguageHelper.MSG_ACCOUNT_INVALID_EMAIL.ToMvcHtmlString()");
                return;
            }
            jQuery.ajax({
                url: "/unsubscribe",
                type: "post",
                cache: false,
                data: jQuery("#nhs_UnsubscribeForm").serialize(),
                success: function() {
                    jQuery("#nhs_Unsubscribe").css("display", "none");
                    jQuery("#nhs_UnsubscribeThankYou").css("display", "block");
                    jQuery("#nhs_UnsubscribeError").css("display", "none");
                    jQuery("#nhs_UnsubscribeThankYou #nhsConfirmationMessage").html("<strong>" + email + "</strong> @LanguageHelper.HasBeenRemovedFromOurMailing.ToMvcHtmlString()");

                }
            });

        });
    });
</script>
