﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div id="Description" class="community-description">
    <div class="title">
        <div class="bl-blue">            
           <h3>@MvcHtmlString.Create(string.Format(LanguageHelper.BrochureDescription, Model.IsPageCommDetail ? LanguageHelper.Community : LanguageHelper.Home))</h3>                    
        </div>
        <div class="clr"></div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <div class="content_Description">
                @Model.GetDescription
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <img id="nhs_CommunityDescriptionMap" class="map" 
       src="@Model.UrlMap" 
        />
</div>
