﻿@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@using Nhs.Library.Constants
@using Nhs.Web.UI.AppCode.Helper
<div class="community-info-wrapper">
    <div class="community-info">
        <ul>
            <li>
                @if (!Model.IsPageCommDetail)
                {
                    @string.Format("{0} {1}", Model.HomeTitle, LanguageHelper.At).ToMvcHtmlString()
                }
                @MvcHtmlString.Create(Model.CommunityName)</li>
            @if (Model.IsPageCommDetail)
            {
                <li>@string.Concat(Model.Address1, " ", Model.Address2)</li>
                <li>@string.Concat(Model.CommunityCity, ", ", Model.CommunityState, " ", Model.ZipCode)</li>

            }
            else
            {
                <li>@Html.HomeStatus(Model.HomeStatus)</li>
            }
        </ul>
        <br />
        <ul>
            <li>@Model.GetPriceDisplay</li>
            <li>@Model.GetDisplaySqFeet</li>
            <li>@Model.GetBedrooms</li>
            @if (!Model.IsPageCommDetail)
            {

                <li>@Model.GetBathroom</li>
                <li>@Model.GetGarage</li>

                if (Model.Stories > 0)
                {
                <li>@LanguageHelper.Stories.ToMvcHtmlString(): @Model.Stories</li>
                }
            }
            
            <li>@Model.GetSchools</li>
            @if (Model.IsPageCommDetail)
            {
                <li>
                    @Html.NhsLink(string.Format("{0} {1} {2}{3}", Model.AllNewHomesCount, (Model.AllNewHomesCount > 1 ? LanguageHelper.Homes : LanguageHelper.Home), LanguageHelper.Available, (Model.AllNewHomesCount > 1 && Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna ? "s" : "")), Pages.CommunityDetail, new { Builder = Model.BuilderId, Community = Model.CommunityId })
                </li>
            }
        </ul>
    </div>

    <div class="community-large-thumb">
      <img src="@Model.ImagePath" alt="" /> 
    </div>
</div>
