﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="whats-your-brochure">
    <div class="title">
        <div class="bl-blue">
            <h3>@LanguageHelper.WhatsInYourBrochure.ToMvcHtmlString()</h3>
        </div>
        <div class="clr"></div>
    </div>
    <ul id="InYourBrochure">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <li class="community-description-icon">@string.Format(LanguageHelper.BrochureDescription, Model.IsPageCommDetail ? LanguageHelper.Community : LanguageHelper.Home)</li>
        }
        <li class="map-and-directions-icon">@LanguageHelper.MapAndDirections.ToMvcHtmlString()</li>
        @if (Model.IsPageCommDetail)
        {
            if (Model.ImagesCommunityGallery.Any())
            {
            <li class="community-gallery-icon">@LanguageHelper.CommunityGallery.ToMvcHtmlString()</li>
            }
        }
        else
        {
            if (Model.ImagesHomeGallery.Any())
            {
            <li class="home-gallery-icon">@LanguageHelper.HomeGallery.ToMvcHtmlString()</li>
            }
        }
        @if (!Model.IsPageCommDetail)
        {
            if (Model.FloorPlanImages.Any())
            {
            <li class="floorplan-icon">@LanguageHelper.FloorPlan.ToMvcHtmlString()</li>
            }

            if (!string.IsNullOrEmpty(Model.CommunityDescription))
            {
            <li class="community-description-icon">@LanguageHelper.CommunityDescription.ToMvcHtmlString()</li>
            }

            if (Model.ImagesCommunityGallery.Any())
            {
            <li class="community-gallery-icon">@LanguageHelper.CommunityGallery.ToMvcHtmlString()</li>
            }
        }
        @if (Model.HaveAmenities || Model.Utilities.Any() || Model.Schools.Any())
        {
            <li class="local-amenities-icon">@LanguageHelper.LocalAmenities.ToMvcHtmlString()</li>
        }
        @if (!MvcHtmlString.IsNullOrEmpty(Model.CityInformation))
        {
            <li class="about-builder-icon">@MvcHtmlString.Create(string.Format(LanguageHelper.About + " {0}, {1}", Model.CommunityCity, Model.StateAbbr))</li>
        }
        @if (Model.IsPageCommDetail)
        {
            if (Model.HaveQuickMoveIn)
            {
            <li class="move-in-icon">@LanguageHelper.MoveInReadyHomes.ToMvcHtmlString()</li>
            }
            if (Model.HaveReadyToBuild)
            {
            <li class="ready-to-build-homes-icon">@LanguageHelper.ReadyToBuildHomes.ToMvcHtmlString()</li>
            }
            if (Model.HaveUnderConstruction)
            {
            <li class="under-construction-icon">@LanguageHelper.UnderConstructionHomes.ToMvcHtmlString()</li>
            }
        }
        <li class="planning-your-trip-icon">@LanguageHelper.PlanningYourTripToTheBuilder.ToMvcHtmlString()</li>
        @if (Model.Promotions.Any() || Model.GreenPrograms.Any())
        {
            <li class="special-offers-icon">@LanguageHelper.SpecialOffers.ToMvcHtmlString()</li>
        }
        <li class="notes-icon">@LanguageHelper.Notes.ToMvcHtmlString()</li>
    </ul>
</div>
