﻿@model Nhs.Web.UI.AppCode.ViewModels.SiteHelpViewModels.ContactUsViewModel
@using Nhs.Library.Constants
@using Nhs.Library.Enums
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Web.UI.AppCode.HtmlHelpers

@{
    Layout = null;
}

<div class="nhs_Content nhs_SiteHelp">
    <h2>Contact us</h2>

    <p>If you have questions about this site, please contact: @Html.ContactUsEmail(Model)</p> <br/>
    <p>Builders, advertisers and other interested parties, please contact: <a href="mailto:info@newhomesourceprofessional.com">info@newhomesourceprofessional.com.</a></p><br/>

    <p>If you no longer wish to receive the @Html.ContactUsPartnerName() newsletter, 
        
    @if(UserSession.UserProfile.ActorStatus == WebActors.GuestUser)
    {
        @Html.NhsModalWindowLink("click here", Pages.LoginModal, ModalWindowsConst.SignInModalWidth, ModalWindowsConst.SignInModalHeight, new List<RouteParam>(), null)
    }
    else
    {
        @Html.NhsLink("click here", Pages.MyAccount)
    }
    .</p>
</div>