﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.RecommendedCommunitiesViewModal
@if (!Model.RecoComms.Any())
{
    <script type="text/javascript">        window.parent.tb_remove(); </script>
}
else
{
    <div id="nhs_ModalContainer">
        <div id="TB_ajaxContent">
            <div id="nhs_body">
                <h2>@Model.GetHeadlineText</h2>
                <p>@Model.GetSubheadText</p>
                <div id="nhs_RecoCommsBox">
                    @for (var i = 0; i < Model.RecoComms.Count(); i++)
                    {
                        <div id="nhs_RecoCommsDiv_@(Model.RecoComms[i].CommunityId)" class="nhs_CommResRow" itemscope itemtype="http://schema.org/ImageObject">
                            @Html.CheckBox("RecoComms[" + i + "].Selected", Model.DefaultChecked, new { @class = "nhs_RecoCommsCheckbox" })
                            @Html.Hidden("RecoComms[" + i + "].BuilderId", Model.RecoComms[i].BuilderId)
                            @Html.Hidden("RecoComms[" + i + "].CommunityId", Model.RecoComms[i].CommunityId)
                            <div class="nhs_ResultThumb">
                                @Html.GetRecommendedCommunitiesImage(Model.RecoComms[i].CommunityImageThumbnail)
                            </div>
                            <h2 itemprop="name">@Model.RecoComms[i].CommunityName</h2>
                            <div itemprop="description" class="nhs_ResultNamePrice">
                                <p>@Model.RecoComms[i].BrandName</p>
                                <p>@Model.RecoComms[i].City, @Model.RecoComms[i].State</p>
                            </div>
                            <div class="nhs_ResultBuilderPrice">
                                @Html.GetRecommendedCommunitiesBuilderImage(Model.RecoComms[i].BrandImageThumbnail)
                                <p>@Model.RecoComms[i].CommunityItemPriceRange()</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="nhs_RecoCommsButtons">
                    <input type="button" id="nhs_GetMyFreeBrochures" class="btn btn_GetMyFreeBrochures"
                           value="@LanguageHelper.GetMyFreeBrochures" />
                    <input type="button" id="nhs_GetMyFreeBrochuresFake" class="btn btn_GetMyFreeBrochures btn_Loading"
                           disabled="disabled" style="display: none" value="@LanguageHelper.GetMyFreeBrochures" />
                    <a href="#" onclick=" window.parent.tb_remove();return false; ">@LanguageHelper.NoThanks.ToMvcHtmlString()</a>
                </div>
                @Html.HiddenFor(p => p.BuilderId)
                @Html.HiddenFor(p => p.MarketId)
                @Html.HiddenFor(p => p.RequestUniqueKey)
                @Html.HiddenFor(p => p.CommunityId)
                @Html.HiddenFor(p => p.PlanId)
                @Html.HiddenFor(p => p.SpecId)
                <input type="hidden" id="Zip" name="Zip" value="@Model.UserPostalCode" />
                <input type="hidden" id="Phone" name="Phone" value="@Model.UserPhoneNumber" />
                @Html.HiddenFor(p => p.Refer)
                @Html.HiddenFor(p => p.SessionId)
                @Html.HiddenFor(p => p.FirstName)
                @Html.HiddenFor(p => p.LastName)
                @Html.HiddenFor(p => p.Email)
                @Html.HiddenFor(p => p.IsModal)
                @Html.HiddenFor(model => model.MatchEmail)
                @Html.HiddenFor(model => model.FromMatchEmail)
            </div>
            <div id="nhs_ThankYou" style="display: none">
                <h2>
                    @LanguageHelper.ThankYou.ToMvcHtmlString()</h2>
                <h3>
                    @LanguageHelper.YourComplimentaryBrochures.ToMvcHtmlString()</h3>
                <br />
                <input type="button" value="@LanguageHelper.Close" onclick="window.parent.tb_remove() " class="btn_CloseMe"
                       style="float: right;" />
                <div id="nhs_iframe">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $jq("#nhs_GetMyFreeBrochures").click(function() {
            $jq("#nhs_GetMyFreeBrochures").hide();
            $jq("#nhs_GetMyFreeBrochuresFake").show();

            if ($jq(".nhs_RecoCommsCheckbox:checked").length == 0) {
                $jq("#nhs_GetMyFreeBrochures").show();
                $jq("#nhs_GetMyFreeBrochuresFake").hide();
                alert("Select a Recommended Community");
            } else {
                var info = $jq("#nhs_body input").serialize();
                $jq.ajax({
                    type: "Post",
                    url: '@((!string.IsNullOrEmpty(NhsRoute.PartnerSiteUrl) ? "/" + NhsRoute.PartnerSiteUrl : "") + "/" + Pages.GetRcm)',
                    data: info,
                    success: function(data) {
                        $jq('#nhs_body').remove();
                        $jq('#nhs_ThankYou').show();
                        $jq('#nhs_iframe').html(data.iframe);
                        tb_resizeWindow(@ModalWindowsConst.RecommendedCommunitiesThanksYouWidth, @ModalWindowsConst.RecommendedCommunitiesThanksYouHeight);
                        eval(data.google);
                    }
                });
            }
        });
    </script>
}