﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.LeadViewModalModel
@ResourceCombinerEnum.REQUESTBROCHUREJS.GetCrunchedResource()
<script type="text/javascript" language="javascript">
    function createMap() {
        var params = {
            mapParameters: {
                resourceRoot: '@Configuration.ResourceDomain/',
                startLat: @Model.Latitude,
                startLng: @Model.Longitude,
                NearbyComms: [],
                partnerId: @NhsRoute.PartnerId,
                marketId: @Model.MarketId,
                fromPage: '@NhsRoute.CurrentRoute.Function',
                communityId: @Model.CommunityId,
                builderId: @Model.BuilderId,
                planId: @Model.PlanId,
                specId: @Model.SpecId,
                mapWidth: 285,
                mapHeight: 180,
                icon: "@GlobalResources14.Default.images.icons.orange_pin_png",
                iconNearByCommMulti: "@GlobalResources14.Default.images.icons.map_plus_gray_png",
                iconNearByComm: "@GlobalResources14.Default.images.icons.map_poi_gray_png",
                OptionsForMap: {
                    MapOptions: {
                        Latitude: @Model.Latitude,
                        Longitude: @Model.Longitude,
                        Zoom: 12,
                        ContainerName: 'nhs_FreeBrochureMap',
                        zoomControl: true,
                        disableDefaultUI: true,
                        ZoomControlStyle: 'SMALL',
                        Draggable: false,
                        Scrollwheel: false,
                        DisableDoubleClickZoom: true
                    },
                    MarkerPointAsynOptions: {
                        Listener: null
                    },
                    MinZoom: 9,
                    UseClusterer: false,
                    ProcessResultOptions: {
                        Latitude: 'Latitude',
                        Longitude: 'Longitude',
                        Name: 'CommunityName'
                    }
                }
            },
        };
        setTimeout(function() {
            var freeBrochure = new NHS.Scripts.FreeBrochure(params.mapParameters);
            freeBrochure.init();
        }, 500);
    }

    jQuery(document).ready(function() {
        createMap();
    });
</script>

<div id="nhs_FreeBrochureMap">
</div>
