﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.LeadRecoModalViewModel
<script type="text/javascript">
  @Model.Google.ToMvcHtmlString()
</script>
<iframe class="visuallyhidden" src="@Model.ConversionIFrameSource" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow">
</iframe>
<div id="nhs_ModalRecoms" class="nhs_ModalBox">
    <a href="javascript:void(0)" onclick="tb_remove()">X</a>
    <div class="nhs_ModalBox1">
        <h1>
            @LanguageHelper.DiscoverMoreCommunitiesBy.ToMvcHtmlString()<br />
            <span><strong>@Model.BuilderName<span>:</span></strong></span>
        </h1>
    </div>
    <div id="nhs_RecoCommsBox" class="nhs_ModalBox2">
        @for (var i = 0; i < Model.RecoCommunities.Count(); i++)
        {
            <div id="nhs_RecoCommsDiv_@(Model.RecoCommunities[i].CommunityId)" class="nhs_RecomsItem">
                @Html.Hidden("RecoComms[" + i + "].BuilderId", Model.RecoCommunities[i].BuilderId)
                @Html.Hidden("RecoComms[" + i + "].CommunityId", Model.RecoCommunities[i].CommunityId)
                <div class="nhs_ItemImages">
                    <div>
                        @Html.GetPropertyImage(Model.RecoCommunities[i])
                    </div>
                    <input id="RecoComms[@i].Selected" name="RecoComms[@i].Selected" class="nhs_RecoCommsCheckbox"  type="checkbox" checked="checked" value="true"  />
                    <label for="RecoComms[@i].Selected">
                    </label>
                </div>
                <h2>@Model.RecoCommunities[i].CommunityName</h2>
                <div class="nhs_ItemData1">
                    <p>
                        @Html.GetPropertyPrice(Model.RecoCommunities[i])</p>
                    <h3>@Model.RecoCommunities[i].City, @Model.RecoCommunities[i].State @Model.RecoCommunities[i].PostalCode.TrimEnd()</h3>
                </div>
            </div>
        }
        <div id="nhs_InformationData" class="visuallyhidden">
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Phone)
            @Html.HiddenFor(m => m.Zip)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.LastName)
            @Html.HiddenFor(m => m.International)
            @Html.HiddenFor(m => m.RequestUniqueKey)
            @Html.HiddenFor(m => m.CommunityId)
            @Html.HiddenFor(m => m.PlanId)
            @Html.HiddenFor(m => m.SpecId)
            @Html.HiddenFor(m => m.BuilderId)
            @Html.HiddenFor(m => m.MarketId)
        </div>
        <div class="clearfix"></div>
        <p class="nhs_ModalActions">
            <input id="nhs_GetFreeBrochure" type="button" class="btnCss" value="@LanguageHelper.GetFreeBrochures" />
            @*<input id="nhs_GetFreeBrochureFake" type="button" class="" value="Get Free Brochures" disabled="disabled" style="background-color: #ffffff; display: none;" />*@
            <input id="nhs_Skip" type="button" class="btnCss" value="@LanguageHelper.Skip" />
        </p>
    </div>
</div>
