﻿@using System.Globalization
@using Kendo.Mvc.UI
@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.LeadViewModalModel
<div id="nhs_ajaxContent">
    <div id="nhs_ModalRequest" class="nhs_ModalBox">
        <a href="javascript:void(0)" onclick=" tb_remove() ">X</a>
        <div class="nhs_ModalBoxLeft">
            @if (Model.IsAppointment)
            {
                <p class="nhs_Brochure nhs_ReqAppt">
                    @LanguageHelper.RequestAnAppointment.ToMvcHtmlString()
                </p>
            }
            else if (Model.IsSpecialOffer)
            {
                <p class="nhs_Brochure nhs_Offers">
                    @LanguageHelper.SignUpForSpecialOffers.ToMvcHtmlString()
                </p>
            }
            else if (Model.IsFreeBrochure)
            {
                <p class="nhs_Brochure">
                    @LanguageHelper.GetYourFreeDownloadableBrochure.ToMvcHtmlString()
                </p>
            }
            @if (Model.IsAppointment)
            {
                @Html.Partial(NhsMvc.Default.Views.FreeBrochure.RequestBrochureMap)
            }
            else
            {
                <div class="nhs_ItemImages">
                    @Html.GetPropertyImage(Model)
                </div>
            }
            <h1>@Model.PropertyName</h1>
            <h2>
                @LanguageHelper.By.ToMvcHtmlString() @Model.BuilderName
            </h2>
        </div>
        <div class="nhs_ModalBoxRight">
            <div id="nhs_RequestInfoForm" class="nhs_RequestInfoForm">
                <fieldset>
                    <legend class="visuallyhidden">@LanguageHelper.ContactInfo.ToMvcHtmlString()</legend>
                    <p class="nhs_Required">
                        <label for="Name">
                            *@LanguageHelper.Name.ToMvcHtmlString()
                        </label>
                        @Html.TextBoxFor(m => m.Name, new {maxlength = "100", placeholder = LanguageHelper.FirstAndLastName, autocomplete = "name"})
                    </p>
                    <p class="nhs_Required">
                        <label for="Email">
                            *@LanguageHelper.Email.ToMvcHtmlString()
                        </label>
                        @Html.TextBoxFor(m => m.Email, new {maxlength = "50", autocomplete = "email"})
                    </p>
                    <p class="nhs_Required">
                        <label for="Zip">
                            *@LanguageHelper.ZipCode.ToMvcHtmlString()
                        </label>
                        @Html.TextBoxFor(m => m.Zip, Model.International ? (object) new {disabled = "disabled", maxlength = "10"} : new {maxlength = "10", autocomplete = "postal-code"})
                        <input id="International" name="International" type="checkbox" @(Model.International ? "checked=\"checked\"" : "") value="@Model.International"/>
                        <label for="International" class="nhs_OutsideLabel">
                            @LanguageHelper.OutsiteUS.ToMvcHtmlString()
                        </label>
                    </p>
                    <p>
                        <label for="Phone">
                            @LanguageHelper.Phone.ToMvcHtmlString()
                        </label>
                        @Html.TextBoxFor(m => m.Phone, new {maxlength = "25", autocomplete = "tel"})
                    </p>
                    @if (Model.PartnerUsesMatchmaker)
                    {
                        <p class="nhs_RecoLabel nhs_MoreMargin">
                            <input id="IncludeRecoComm" name="IncludeRecoComm" type="checkbox" @(Model.IncludeRecoComm ? "checked=\"checked\"" : "") value="@Model.IncludeRecoComm"/>
                            <label for="IncludeRecoComm">
                                @LanguageHelper.AlsoIncludeCommunitiesWithSimilarHomes.ToMvcHtmlString()
                            </label>
                        </p>
                    }
                    @if (Model.ShowCalendar)
                    {
                        <p>
                            <label for="DateTime">
                                @LanguageHelper.PreferredDateToVisit.ToMvcHtmlString()
                            </label>
                            @(Html.Kendo()
                                  .DatePickerFor(model => model.AppointmentDateTime)
                                  .Min(DateTime.Now)
                                  .MonthTemplate(m => m.Empty("<div class='kdp-outofdayarray'>#= data.value #</div>")))
                        </p>
                    }
                    else
                    {
                        <p>
                            <label for="Comments">
                                @LanguageHelper.CommentsOrQuestions.ToMvcHtmlString()
                            </label>
                            @Html.TextAreaFor(m => m.Comments, 4, 18, new {maxlength = "200"})
                        </p>
                    }
                    <p class="nhs_MoreMargin">
                        <input id="nhs_GetBrochure" type="button" class="btnCss" value="@LanguageHelper.GetBrochure"/>
                    </p>
                    <ul id="nhs_error" class="nhs_Error" style="display: none;">
                        <li>@LanguageHelper.PleaseCorrectTheHighlightedFieldsAbove.ToMvcHtmlString()</li>
                    </ul>
                    <div class="visuallyhidden">
                        <input type="hidden" name="PlanId" value="@Model.PlanId"/>
                        <input type="hidden" name="SpecId" value="@Model.SpecId"/>
                        <input type="hidden" name="CommunityId" value="@Model.CommunityId"/>
                        <input type="hidden" name="LeadType" value="@Model.LeadType"/>
                        <input type="hidden" name="LeadAction" value="@Model.LeadAction"/>
                        <input type="hidden" name="FromPage" value="@Model.FromPage"/>
                        <input type="hidden" name="BuilderList" value="@Model.BuilderList"/>
                        <input type="hidden" name="CommunityList" value="@Model.CommunityList"/>
                        <input type="hidden" name="PlanList" value="@Model.PlanList"/>
                        <input type="hidden" name="SpecList" value="@Model.SpecList"/>
                        <input type="hidden" name="MarketId" value="@Model.MarketId"/>
                        <input type="hidden" name="BuilderId" value="@Model.BuilderId"/>
                        <input type="hidden" name="BuilderName" value="@Model.BuilderName"/>
                        <input type="hidden" name="ShowCalendar" value="@Model.ShowCalendar"/>
                        <input type="hidden" name="LeadFormType" value="@Model.LeadFormType"/>
                    </div>
                </fieldset>
            </div>
            <span class="first">@Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy)</span>
            <span>*@LanguageHelper.RequiredField.ToMvcHtmlString()</span>
        </div>
    </div>
    @if (Model.Globals.PartnerLayoutConfig.IsBrandPartnerCna)
    {
        <script type="text/javascript">
            //set current to the "es-ES" culture script
            kendo.culture("es-ES");
        </script>
    }
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var parameters = {
                BrochureUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.RequestBrochure))",
                RequestRecoCommsUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.RequestRecoComms))",
                RecoverPasswordUrl: "@(Html.GetActionUrl(NhsMvc.Account.Name, NhsMvc.Account.ActionNames.SimpleRecoverPassword))",
                ThankYouModalUrl: "@(Html.GetActionUrl(NhsMvc.FreeBrochure.Name, NhsMvc.FreeBrochure.ActionNames.ThankYouModal))",
                YourPasswordWillBeSendText: "@LanguageHelper.YourPasswordHasBeenSent.ToMvcHtmlString()"
            };
            var leadModel = new NHS.Scripts.LeadModal(parameters);
            leadModel.initialize();
        });
    </script>
</div>
