﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadViewModels.BrochureInterstitialViewModel
@section cphHead {

    @if (Model.NumberOfSearch < 4)
    {
        <meta http-equiv="refresh" content="@Model.RefreshDelay;url=@Model.NextPageUrl" />
    }
}

    <div style="font-size:150%; text-align:center;padding:100px;">
        @if (Model.NumberOfSearch < 4)
        {
            <span>@LanguageHelper.YourBrochureIsBeingPrepared.ToMvcHtmlString()<br />
                @LanguageHelper.PleaseWait.ToMvcHtmlString()...
            </span>
        }
        else
        {
            <span>@LanguageHelper.WeAreExperiencingTechnical.ToMvcHtmlString()</span>
        }
    </div>
