﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.LeadView.ThankYouModalViewModel
<script type="text/javascript">
    @Model.Google.ToMvcHtmlString();
</script>
<iframe class="visuallyhidden" src="@Model.ConversionIFrameSource" width="0" height="0" frameborder="0" scrolling="no" rel="nofollow">
</iframe>
<div id="nhs_ModalThanks" class="nhs_ModalBox">
    <a href="javascript:void(0)" onclick="tb_remove()">X</a>
    <div class="nhs_ModalBoxLeft">
        <h1>
            @LanguageHelper.ThankYou.ToMvcHtmlString()</h1>
        <h2>
            @LanguageHelper.YourBrochuresAreOnTheirWay.ToMvcHtmlString()
        </h2>
        @if (!Model.IsSignIn)
        {
            <br />
            @Html.FbLogin()
        }
    </div>
    <div class="nhs_ModalBoxRight">
        @if (Model.IsSignIn)
        {
            <p>
                @LanguageHelper.WeHaveAlsoSavedThisProperty.ToMvcHtmlString()
            </p>
            <p class="nhs_MoreMargin">
                @* @Html.NhsLink("Go to My Account", Pages.SavedHomes, null, new { @class = "btnCss" })*@
                <a class="btnCss" id="nhs_GotomyAccount" onclick="window.parent.location='@(new List<RouteParam>().ToUrl(Pages.SavedHomes))'" href="#">@LanguageHelper.GoToMyAccount.ToMvcHtmlString()</a>
            </p>
        }
        else
        {
            if (!Model.IsExistingUser)
            {
            <p>
                @LanguageHelper.EnterAPasswordBelow.ToMvcHtmlString()
            </p>
            <div class="nhs_AccountTeaser">
                <p>
                    <strong>@LanguageHelper.CreateFreeAccount.ToMvcHtmlString()</strong></p>
                <ul>
                    <li>@LanguageHelper.SaveSearches.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.TrackHomes.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.GetGreatFealsAndOffers.ToMvcHtmlString()</li>
                </ul>
            </div>
            }
            else
            {
            <p>
                @LanguageHelper.EnterYourPasswordBelow.ToMvcHtmlString()
            </p>
            <div class="nhs_AccountTeaser">
                <p>
                    <strong>@LanguageHelper.SignIntoYourAccountTo.ToMvcHtmlString():</strong></p>
                <ul>
                    <li>@LanguageHelper.SaveSearches.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.TrackHomes.ToMvcHtmlString()</li>
                    <li>@LanguageHelper.GetGreatFealsAndOffers.ToMvcHtmlString()</li>
                </ul>
            </div>
            }
                        
            <div id="nhs_AccountInformation">
                <fieldset>
                    <legend class="visuallyhidden">@LanguageHelper.Password.ToMvcHtmlString()</legend>
                    <p>
                        <label for="password">
                            @LanguageHelper.Password.ToMvcHtmlString()</label>
                        <input id="password" name="password" type="password" maxlength="20" title="@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD" /></p>
                    @if (!Model.IsExistingUser)
                    {
                        <p>
                            <label for="confirmPassword">
                                @LanguageHelper.ConfirmPassword.ToMvcHtmlString()</label>
                            <input id="confirmPassword" type="password" maxlength="20" title="@LanguageHelper.MSG_ACCOUNT_INVALID_PASSWORD" /></p>
                    }
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.IsExistingUser)
                    <p class="nhs_MoreMargin">
                        <input id="nhs_SignIn" type="button" class="btnCss" value="@(Model.IsExistingUser ? LanguageHelper.SignIn : LanguageHelper.CreateAccount)" /></p>
                    <ul id="nhs_error" class="nhs_Error" style="display: none;">
                    </ul>
                    @if (Model.IsExistingUser)
                    {
                        <p>
                            <a href="#" id="nhs_Forgot_Password">@LanguageHelper.ForgotPassword.ToMvcHtmlString()</a></p>
                    }
                </fieldset>
            </div>
        }
    </div>
</div>
