﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SearchAlertViewModel.CreateAlertViewModel
@if (Model.AlertSaved)
{
    <script type="text/javascript">
        window.location.href = "@(new List<RouteParam>().ToUrl(Pages.SavedHomes + "/view-searchalerts"))";
    </script>
}
else
{
    <input type="hidden" id="CurrentPage" value="@NhsMvc.SearchAlert.ActionNames.CreateAlert" />
    @Html.Hidden("TargetId", Model.OtherContent ? "mv_Container" : ModalWindowHelper.UpdateTargetId)
    <div id="nhs_ModalContainer">
        <div style="padding: 10px 20px;">
            @if (!Model.OtherContent)
            {
                <a href="javascript:void(0)" style="position:absolute;top: 10px;right: 10px;" onclick=" tb_remove() ">X</a>
            }
            <h2>
                @LanguageHelper.CreateASearchAlert.ToMvcHtmlString()
            </h2>
            <p>
                <strong>@LanguageHelper.GetRecommendationsByEmail.ToMvcHtmlString()</strong> – @LanguageHelper.JustSetYourPreferedLocation.ToMvcHtmlString()
            </p>
            <ul>
                <li>@LanguageHelper.WeWillSendYouGreatNewHomeCommunities.ToMvcHtmlString()</li>
                <li>@LanguageHelper.YouCanCreateUpTo5SearchAlerts.ToMvcHtmlString()</li>
            </ul>
            <div class="nhs_Clear">
            </div>
            <br />
            @Html.ValidationSummary()
            <!-- Location -->
            <div class="nhs_AlertLocationBox">
                <p class="nhs_AlertChooseCity">
                    @LanguageHelper.ChooseACity.ToMvcHtmlString()...
                </p>
                @Model.Location
                <p>
                    <label for="State">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.State.ToMvcHtmlString():
                    </label>
                    @Html.DropDownListFor(m => m.State, Model.StateList, LanguageHelper.ChooseState)
                    @Html.ValidationMessageFor(m => m.State, "*")
                </p>
                <p>
                    <label for="Area">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.Area.ToMvcHtmlString():
                    </label>
                    @Html.DropDownListFor(m => m.Area, Model.AreaList)
                    @Html.ValidationMessageFor(m => m.Area, "*")
                </p>
                <p>
                    <label for="City">
                        @LanguageHelper.City.ToMvcHtmlString():
                    </label>
                    @Html.DropDownListFor(m => m.City, Model.CityList)
                </p>
                <p>
                    ...@LanguageHelper.OrEnterAZipCodeAndRadius.ToMvcHtmlString()
                </p>
                <p>
                    <label for="Zip">
                        <span class="nhs_Asterisk">*</span>@LanguageHelper.Zip.ToMvcHtmlString():
                    </label>
                    @Html.TextBoxFor(m => m.Zip, new {maxlength = "5"})
                    @Html.ValidationMessageFor(m => m.Zip, "*")
                <p>
                    <label for="Radius">
                        @LanguageHelper.Radius.ToMvcHtmlString():
                    </label>
                    @Html.DropDownListFor(m => m.Radius, Model.RadiusList)
                </p>
            </div>
            <!-- Filters -->
            <div class="nhs_AlertOptionsBox">
                <fieldset>
                    <p class="nhs_AlertChoosePrice">
                        @LanguageHelper.ChooseAPriceRange.ToMvcHtmlString()
                    </p>
                    <p>
                        <label for="PriceFrom">
                            <span class="nhs_Asterisk">*</span>@LanguageHelper.Min.ToMvcHtmlString():
                        </label>
                        @Html.DropDownListFor(m => m.PriceFrom, Model.MinPriceList, LanguageHelper.SelectAPrice)
                        @Html.ValidationMessageFor(m => m.PriceFrom, "*")
                    </p>
                    <p>
                        <label for="PriceTo">
                            <span class="nhs_Asterisk">*</span>@LanguageHelper.Max.ToMvcHtmlString():
                        </label>
                        @Html.DropDownListFor(m => m.PriceTo, Model.MaxPriceList, LanguageHelper.SelectAPrice)
                        @Html.ValidationMessageFor(m => m.PriceTo, "*")
                    </p>
                    <p>
                        <a class="nhs_AlertMoreOff" id="nhsAlertMoreLink" href="javascript:void(0)" onclick=" jQuery('#moreoptions').toggle() ">
                            @LanguageHelper.MoreOptions.ToMvcHtmlString()
                        </a>
                    </p>
                    <div id="moreoptions" class="nhs_AlertMoreOptions" style="display: none">
                        <p>
                            <label for="Bedrooms">
                                @LanguageHelper.Bedrooms.ToMvcHtmlString():
                            </label>
                            @Html.DropDownListFor(m => m.Bedrooms, Model.BedroomsList)
                        </p>
                        <p class="nhs_AlertMoreChecks">
                            <span>@LanguageHelper.HomeType.ToMvcHtmlString():</span> @Html.CheckBoxFor(m => m.TypeSingle)
                            <label for="TypeSingle">
                                @LanguageHelper.InterestedInBuildingOnYourOwnLot.ToMvcHtmlString()
                            </label><br />
                            @Html.CheckBoxFor(m => m.Condo)
                            <label for="Condo">
                                @LanguageHelper.CondoTownhome.ToMvcHtmlString()
                            </label>
                        </p>
                        <p class="nhs_AlertMoreChecks">
                            <span>@LanguageHelper.Amenities.ToMvcHtmlString():</span> @Html.CheckBoxFor(m => m.AmenitiyPool)
                            <label for="AmenitiyPool">
                                @LanguageHelper.Pool.ToMvcHtmlString()
                            </label>
                            @Html.CheckBoxFor(m => m.AmenitiyGolf)
                            <label for="AmenitiyGolf">
                                @LanguageHelper.GolfCourse.ToMvcHtmlString()
                            </label>
                            @Html.CheckBoxFor(m => m.AmenitiyGated)
                            <label for="AmenitiyGated">
                                @LanguageHelper.GatedCommunity.ToMvcHtmlString()
                            </label>
                        </p>
                        <p>
                            <label for="School">
                                @LanguageHelper.SchoolDistricts.ToMvcHtmlString():
                            </label>
                            @Html.DropDownListFor(m => m.School, Model.SchoolList)
                        </p>
                        <p>
                            <label for="Builder">
                                @LanguageHelper.Builder.ToMvcHtmlString():
                            </label>
                            @Html.DropDownListFor(m => m.Builder, Model.BuilderList)
                        </p>
                    </div>
                    <p class="nhs_AlertName">
                        <label for="SuggestedName">
                            <span class="nhs_Asterisk">*</span>@LanguageHelper.EnterANameForYourSearchAlert.ToMvcHtmlString():
                        </label><br />
                        @Html.TextBoxFor(m => m.SuggestedName, new {maxlength = "50"})
                        @Html.ValidationMessageFor(m => m.SuggestedName, "*")<br />
                        @LanguageHelper.NearMyOffice.ToMvcHtmlString()
                    </p>
                    <div class="nhs_AlertSubmit">
                        <input type="submit" name="SaveMyAlertButton" id="SaveMyAlertButton" class="btnCss btn_SaveAlert"
                               onclick=" jQuery(this).hide(); jQuery('#SaveMyAlertButtonWorking').show(); " value="@LanguageHelper.SaveMyAlert" />
                        <input type="button" name="SaveMyAlertButton" id="SaveMyAlertButtonWorking" class="btnCss btn_SaveAlert btn_Loading"
                               style="display: none;" value="@LanguageHelper.SaveMyAlert" />
                        @if (Model.FromRegistration)
                    {
                            @LanguageHelper.Or.ToMvcHtmlString()
                            @:, <a onclick="@Model.SkipLink " href="javascript:void(0)">@LanguageHelper.SkipThisStep.ToMvcHtmlString()</a>
                    }
                    </div>
                </fieldset>
            </div>
            <div class="nhs_Clear">
            </div>
            <!-- Footer & Submit button -->
            <p class="nhs_Legal">
                @LanguageHelper.SearchAlertLegal.ToMvcHtmlString() @Html.NhsLink(LanguageHelper.PrivacyPolicy, Pages.PrivacyPolicy, new List<RouteParam>(), new {target = "_blank"}, false)
                @LanguageHelper.ForMoreDetails.ToMvcHtmlString()
            </p>
            @Html.HiddenFor(p => p.FromPage)
            @Html.HiddenFor(p => p.OtherContent)

        </div>
    </div>

    if (!Model.OtherContent)
    {
        <script type="text/javascript">

            jQuery(document).ready(function() {
                //debugger;
                tb_resizeWindow(@ModalWindowsConst.CreateAlertModalWidth, @ModalWindowsConst.CreateAlertModalHeight);
            });
        </script>
    }
    <script type="text/javascript">
        var searchAlertClass;

        function loadScript(url, callback) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            if (script.readyState) { //IE
                script.onreadystatechange = function() {
                    if (script.readyState === "loaded" || script.readyState === "complete") {
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else { //Others
                script.onload = function() {
                    callback();
                };
            }

            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }

        jQuery(document).ready(function() {
            var parameters = {
                createAlertUrl: "@(Html.GetActionUrl(NhsMvc.SearchAlert.Name, NhsMvc.SearchAlert.ActionNames.CreateAlert))",
                updateTargetId: "@(Model.OtherContent ? "mv_Container" : "" + ModalWindowHelper.UpdateTargetId)",
                noPreferenceText: "@LanguageHelper.NoPreference.ToMvcHtmlString()"
            };

            // call the function...
            loadScript("@GlobalResourcesMvc.Default.js.SearchAlert.CreateAlert_js?@Configuration.ResourceVersionNumber", function() {
                searchAlertClass = new NHS.Scripts.SearchAlert.CreateAlert(parameters);
                searchAlertClass.initialize();
            });
        });
    </script>
}