﻿@using Nhs.Library.Constants
@using Nhs.Mvc.Routing.Configuration
@using Nhs.Web.UI.AppCode.Helper
@using Nhs.Web.UI.AppCode.ViewModels
@model Nhs.Web.UI.AppCode.ViewModels.SearchAlertViewModel.SavedSearchAlert
@{
    ViewBag.Title = LanguageHelper.MySavedSearchAlerts;
}
@Html.Partial(NhsMvc.Default.Views.MyAccount.MyAccountHeaderAndTabs, new MyAccountHeaderAndTabsViewModel { FirstName = Model.FirstName, LastName = Model.LastName, IsMySavedPropertiesTabActive = false, SearchAlertNumber = Model.SearchAlerts.Count() })

@if (!Model.SearchAlerts.Any())
    {
    <div class="nhs_SavedAlertsMenu">
        <p class="nhs_SearchAlertsText">
            @LanguageHelper.ChooseASearchAlertToSeeLatestResults.ToMvcHtmlString():
        </p>
        <div id="alertsList">
            <p>
                @LanguageHelper.ThereAreNoSavedAlerts.ToMvcHtmlString()
            </p>
        </div>
    </div>
    }
    else
    {
<div class="nhs_SavedAlertsMenu">
    <p class="nhs_SearchAlertsText">
        @LanguageHelper.ChooseASearchAlertToSeeLatestResults.ToMvcHtmlString():
    </p>
    <div id="alertsList">
        <ul>
            @foreach (var alert in Model.SearchAlerts)
            {
            <li>
                @Html.NhsLink(alert.Title + (alert.ExpirationDate <= DateTime.Now.Date ? " " + LanguageHelper.Expired : ""), Pages.SavedHomes + "/view-searchalerts/optionid-" + alert.AlertId, new List<RouteParam>(), new { @class = (alert.AlertId == Model.SelectedSearchAlert.AlertId ? "nhs_AlertOn" : "") })
            </li>
            }
        </ul>
    </div>
</div>
<div id="nhs_SavedAlertsContent">
    <div class="nhs_SavedAlertsInfo">
        <h3>
            @Model.SelectedSearchAlert.Title
            <span id="deleteSavedSearchAlert">
                @Html.NhsLink(LanguageHelper.DeleteThisSearchAlert, Pages.SavedHomes + "/deleteSavedSearchAlert/" + Model.SelectedSearchAlert.AlertId, new List<RouteParam>(), new { id = "nhs_DeleteSavedSearchAlert" })
            </span>
        </h3>
        <p>
            @LanguageHelper.Location.ToMvcHtmlString():@if (String.IsNullOrEmpty(Model.SelectedSearchAlert.PostalCode))
            {
                        @Html.Label(@Model.MarketName + ", " + Model.SelectedSearchAlert.State + (!String.IsNullOrEmpty(Model.SelectedSearchAlert.City) ? ", " + Model.SelectedSearchAlert.City : String.Empty))
            }
            else
            {
                        @Html.Label(@Model.SelectedSearchAlert.PostalCode + LanguageHelper.RadiusOf + @Model.SelectedSearchAlert.Radius + " " + LanguageHelper.Miles)
            }
        </p>
        <p>
            @LanguageHelper.SearchCriteria.ToMvcHtmlString(): @LanguageHelper.From.ToMvcHtmlString() @String.Format("{0:c}", @Model.SelectedSearchAlert.PriceMin) @LanguageHelper.To @String.Format("{0:c}", @Model.SelectedSearchAlert.PriceMax)@Model.SearchTerms
        </p>
        <p>@Html.DropDownList("sortOptions", @Model.SortOptionsList)</p>
    </div>        
    <hr class="nhs_ReaderAlt" />
    <div class="nhs_CRM_FavoritesHead">
        <hr class="nhs_ReaderAlt" />
        <h3 class="nhs_TabSaved">
            @LanguageHelper.SearchAlertResults.ToMvcHtmlString()
        </h3>
        <hr class="nhs_ReaderAlt" />
        <p id="pRemoveOrSave" class="nhs_TabsRemove">
            @LanguageHelper.RemoveOrSave.ToMvcHtmlString()
        </p>
        <span class="clearfix"></span>
    </div>
    <div id="searchAlertResults">
        @Html.Partial(NhsMvc.Default.Views.SearchAlert.SavedAlertResults, Model)
    </div>
</div>
    }

@ResourceCombinerEnum.NHSSAVEDSEARCHALERT.GetCrunchedResource()
<script type="text/javascript">
    jQuery(document).ready(function() {
        var parameters = {
            numberOfAlerts: @Model.SearchAlerts.Count(),
            saveToFavoritesUrl: "@(Html.GetActionUrl(NhsMvc.SearchAlert.Name, NhsMvc.SearchAlert.ActionNames.SavedAlertSaveCommunities))",
            removeAlertResultUrl: "@(Html.GetActionUrl(NhsMvc.SearchAlert.Name, NhsMvc.SearchAlert.ActionNames.SavedAlertRemoveCommunities))",
            sortAlertResultUrl: "@(Html.GetActionUrl(NhsMvc.SearchAlert.Name, NhsMvc.SearchAlert.ActionNames.SortAlertResults))",
            savedAlertTopReachedMessage: "@LanguageHelper.YouHaveReachedTheMaximumNumberOfSavedSearchAlerts.ToMvcHtmlString()",
            deleteConfirmationMessage: "@LanguageHelper.TheAlertYouAreAboutToDelete.ToMvcHtmlString()",
            SavedAlertRemoveCommunitiesConfirmationText: "@LanguageHelper.SavedAlertRemoveCommunitiesConfirmation.ToMvcHtmlString()"
        };
        var savedSearchAlerts = new NHS.Scripts.SavedSearchAlerts(parameters);
        savedSearchAlerts.init();
    });
</script>
