﻿@using Nhs.Library.Constants
@using Nhs.Library.Web.ImageResizer
@using Nhs.Utility.Common
@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Mvc.Domain.Model.Web.Community

<div class="nhs_ResultsThumbBox">
    @if (!string.IsNullOrWhiteSpace(Model.SpotlightThumbnail) && Model.SpotlightThumbnail != "N")
    {
        <img id="imgCommThumbnail" alt="@Model.CommunityName" src="@ImageResizerUrlHelpers.BuildIrsImageUrl(ImageResizerUrlHelpers.FormatToIrsImageName(Model.SpotlightThumbnail), ImageSizes.Small75X58)" />
    }
    else
    {
        <img id="imgCommThumbnail" alt="@LanguageHelper.NoPhotosAvailable" src="@GlobalResources14.Default.images.no_photo.no_photos_75x58_png" />
    }
</div>
<div class="nhs_CommResultsInfo">
    <h3>
        @Html.NhsLink(Model.CommunityName, RedirectionHelper.GetCommunityDetailPage(), Model.ToCommunityDetail(), new { })
    </h3>
    <p class="nhs_ResultsBuilder">
        @if (Model.Brand != null)
        {
            @Model.Brand.BrandName
        }
    </p>
    <p>
        <span class="nhs_ResultsAddress">
            @Model.City, @Model.State.StateAbbr @Model.PostalCode
        </span>
    </p>
    <p class="nhs_ResultsCommStatus">
        @if (Model.HasVideo > 0)
        {
            @Html.NhsImageLinkLogAndRedirect(string.Empty, GlobalResources14.Default.images.icons.video_png, Model.Videos.First().VideoURL, string.Empty, 
                                             new { communityId = Model.CommunityId.ToString(), builderId = Model.BuilderId.ToString(), featuredListingId = Model.FeaturedListingId.ToType<string>(), marketId = Model.MarketId.ToString() }, 
                                             Model.MarketId.ToType<string>(), string.Empty)
        }
        @if (Model.HasConsumerPromo)
        {
            <img src="@GlobalResources14.Default.images.icons.deals_png" alt="@LanguageHelper.SpecialOffer" />
        }
        @if (Model.HasHotHome > 0)
        {
            <img src="@GlobalResources14.Default.images.icons.hot_png" alt="@LanguageHelper.HotHome" />
        }
    </p>
</div>
<div class="nhs_CommResultsInfo2">
    <p class="nhs_ResultsPrice">
        <strong>@StringHelper.PrettyPrintRange(Model.PriceLow, Model.PriceHigh, "c0", LanguageHelper.From)</strong>
    </p>
    <p>
        @(Model.HomeCount > 1 ? Model.HomeCount + " " + LanguageHelper.HomesAvailable: Model.HomeCount + " " + LanguageHelper.HomeAvailable)
    </p>
    @if (!string.IsNullOrEmpty(Model.ViewBrochureUrl))
    {
        @Html.NhsLinkCustom(LanguageHelper.ViewBrochure, Model.ViewBrochureUrl,
                         new { @class = "btnCss btn_ViewBrochure ", target = "_blank" })
    }
    else
    {
        @Html.GenerateFreeBrochureLink(LanguageHelper.FreeBrochure, Model.FreeBrochureLinkParams(), ";NHS.Scripts.Helper.createCookie('CTAName', 'Search Alert CTA Free Brochure'); jQuery.googlepush('Lead Events', 'Search Alert CTA Free Brochure','Open Form - Free Brochure');", "btnCss btn_FreeBrochure")
    }

</div>

