﻿@using Nhs.Web.UI.AppCode.Helper
@model Nhs.Web.UI.AppCode.ViewModels.SearchAlertViewModel.SavedSearchAlert

@if (Model.SelectedSearchAlert.AlertResults.Any())
{
    <div id="communities">
        @Html.Hidden("SelectedSearchAlert.AlertId", Model.SelectedSearchAlert.AlertId)
        @foreach (var community in Model.SelectedSearchAlertCommunities.Select((value, i) => new {i, value}))
        {
            <div id="divCommRow" class="nhs_CommResultsRow">
                @Html.Hidden("SelectedSearchAlertCommunities[" + @community.i + "].BuilderId", @community.value.BuilderId)
                @Html.Hidden("SelectedSearchAlertCommunities[" + @community.i + "].CommunityId", @community.value.CommunityId)
                @Html.Partial(NhsMvc.Default.Views.SearchAlert.SavedAlertCommunityItem, community.value)
                @* I set this part of the item in here since I need a counter *@
                <div class="nhs_ResultsActions nhs_SavedCheckBox">
                    @Html.CheckBox("SelectedSearchAlertCommunities[" + @community.i + "].Selected", new {@class = "selectCommunity pro_SavedCommCheckBox"})
                    <label for="@("SelectedSearchAlertCommunities_" + @community.i + "__Selected")"></label>
                </div>
            </div>
        }
    </div>
    <div class="nhs_SavedRemoveLink" id="divSavedRemoveLink">
        <p>
            <a href="#" id="SavedAlertRemoveCommunities">@LanguageHelper.RemoveSelectedItems.ToMvcHtmlString()</a>
            <a href="#" id="SavedAlertSaveCommunities">@LanguageHelper.SaveSelectedItems.ToMvcHtmlString()</a>
        </p>
    </div>
}
else
{
    <div>
        <p>
            @LanguageHelper.WeHaveNotFoundResultsForThisSearchAlert.ToMvcHtmlString()
        </p>
    </div>
}
<hr class="nhs_ReaderAlt" />
    

