﻿@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel  
<table width="744" border="0" cellspacing="0" cellpadding="0" style="padding-bottom: 8px;"
    class="nhsBrochureHeader">
    <tr>
        <td valign="top">
            @if (!string.IsNullOrEmpty(Model.GetTemplateImage))
            {
                <img id="imgAgent" src="@Model.GetTemplateImage" alt="" />
            }
        </td>
        <td>
            &nbsp;
        </td>
        <!--agent info -->
        <td width="200" valign="top">
            <b>
                @Model.AgentName<br />
            </b>
            @Model.AgencyName<br />
            @if (!string.IsNullOrEmpty(Model.GetCityState))
            {
                @Model.GetCityState
            }
        </td>
        <!--agent contact info -->
        <td width="200" valign="top">
            @if (!string.IsNullOrEmpty(Model.AgentPhoneNumber))
            {
                @:Phone: @Model.AgentPhoneNumber <br />
                        }
            @if (!string.IsNullOrEmpty(Model.AgentEmailAddress))
            {
                @Model.AgentEmailAddress
            }
        </td>
    </tr>
</table>
