﻿@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
@Html.Partial(Configuration.UseBrochureVer6 ? NhsMvc.Default.Views.PdfBrochure.Preview.OldBrochure : NhsMvc.Default.Views.PdfBrochure.Preview.NewPdfBrochure, Model)
@section cphHead
{
    @if (Configuration.UseBrochureVer6)
    { 
        <link href="/App_Themes/brochure/nhsbrochure.css" type="text/css" rel="stylesheet" />
    }
    else
    {  
          <link href="@Resources.GlobalResourcesMvc.Default.css.pdfBrochure_css" media="all" type="text/css" rel="stylesheet" />
        <style type="text/css">
            .page
            {
                height: auto !important;
                padding-bottom: 20px;
            }
        </style>
    }
}
