﻿@using Nhs.Mvc.Routing.Interface
@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
<div class="main-wrapper">
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="community-info-wrapper">
            <div class="community-info">
                <ul>
                    <li>Lost Creek at Falcon Pointe</li>
                    <li>18821 Falcon Pointe Blvd. </li>
                    <li>Pflugerville, Texas 78660 </li>
                </ul>
                <br>
                <ul>
                    <li>Price Range: From $235,990 - $329,990</li>
                    <li>Square Feet: 2359 - 3383</li>
                    <li>Bedrooms: 3-5</li>
                    <li>Schools: Pflugerville ISD </li>
                    <li><a>
                        11 Homes Available</a> </li>
                </ul>
            </div>
            <div class="community-large-thumb">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdmain_8445530_jpg" alt="">
            </div>
        </div>
        <div class="whats-your-brochure">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        What's in your Brochure?</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <ul id="InYourBrochure">
                <li class="community-description-icon">Community Description</li>
                <li class="map-and-directions-icon">Map &amp; directions</li>
                <li class="community-gallery-icon">Community gallery</li>
                <li class="local-amenities-icon">Local amenities</li>
                <li class="move-in-icon">Move in ready homes</li>
                <li class="ready-to-build-homes-icon">Ready to build homes</li>
                <li class="under-construction-icon">Under construction homes</li>
                <li class="planning-your-trip-icon">Planning your trip to the builder</li>
                <li class="notes-icon">Notes</li>
            </ul>
        </div>
        <div id="Description" class="community-description">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Community Description</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <div class="content_Description">
                        <p>
                            Lost Creek at Falcon Pointe offers spacious 1 &amp; 2 story floorplans with 3 car
                            garages on large homesites. You can add bonus rooms to any of our gorgeous 1 story
                            floorplan and even additional bedrooms, to suit your needs. Lost Creek sits behind
                            the same street that all 3 exemplary rated schools are located on, making walking
                            or driving to school extremely convenient for your family. With a nearby golf course,
                            parks and recreation center, you’re sure to find something to satisfy every member
                            of your family.</p>
                        <p>
                        </p>
                        <p>
                            We’d love for you to visit our new models and check out our spacious floorplans
                            to choose from. Live Life, Even Better – at Falcon Pointe!</p>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <img id="nhs_CommunityDescriptionMap" class="map" src="@Resources.GlobalResourcesMvc.Pro.images.preview.getmap_002_jpg" />
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div id="MapDirections" class="directions-to-sales">
            <a name="MapDirectionsSection"></a>
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Directions to Sales Center <span class="title-google-link"><a target="_blank">View the
                            Google Map of this community</a></span>
                    </h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div id="Map" class="map">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.getmap_jpg" id="nhs_PropertyMap" />
            </div>
            <div class="content" id="Directions">
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="community-gallery">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Community Gallery</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                <div id="GalleryCommunity">
                    <ul class="thumbs">
                        <li>
                            <div class="img-box">
                                <img alt="Lost Creek at Falcon Pointe" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_8445530_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Lost Creek at Falcon Pointe</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img alt="Residence Club" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_9344295_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Residence Club</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img alt="Residence Club Pool" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_9344296_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Residence Club Pool</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img alt="Basketball &amp; Volleyball Courts" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_9344297_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Basketball &amp; Volleyball Courts</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img alt="Fitness" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_9344298_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Fitness</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box">
                                <img alt="Park" src="@Resources.GlobalResourcesMvc.Pro.images.preview.cdthumb_9344299_jpg"></div>
                            <div class="info-box">
                                <div class="bl-grey">
                                    <p>
                                        Park</p>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
        <div class="local-amenities">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Local Amenities</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div id="school" class="local-amenities">
                <div class="content">
                    <div class="bl-grey">
                        <div class="schools">
                            <div class="column-wrapper">
                                <h4 class="titles">
                                    Pflugerville ISD</h4>
                                <ul>
                                </ul>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div id="Community" class="local-amenities">
                <div class="content">
                    <div class="bl-grey">
                        <div class="community">
                            <div class="column-wrapper">
                                <h4 class="titles">
                                    Health and Fitness</h4>
                                <ul>
                                    <li>Pool</li>
                                </ul>
                            </div>
                            <div class="column-wrapper">
                            </div>
                            <div class="column-wrapper">
                                <h4 class="titles">
                                    Community Services</h4>
                                <ul>
                                    <li>Park</li>
                                </ul>
                            </div>
                            <div class="column-wrapper">
                            </div>
                            <div class="column-wrapper">
                                <h4 class="titles">
                                    Social Activities</h4>
                                <ul>
                                    <li>Club House</li>
                                </ul>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div id="Utilities" class="local-amenities">
                <div class="content">
                    <div class="bl-grey">
                        <div class="utilities">
                            <div class="column-wrapper">
                                <ul>
                                    <li><span>Electric</span><br>
                                        Reliant Energy<br>
                                        (800) 288-2020<br>
                                    </li>
                                    <li><span>Gas</span><br>
                                        Atmos Energy<br>
                                        (800) 288-2020<br>
                                    </li>
                                    <li><span>Telephone</span><br>
                                        AT&amp;T U-Verse<br>
                                        (800) 288-2020<br>
                                    </li>
                                    <li><span>Water/wastewater</span><br>
                                        City Of Pflugerville<br>
                                        (800) 288-2020<br>
                                    </li>
                                </ul>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="home–info">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Move In Ready Homes</h3>
                    <ul class="titles">
                        <li>Address</li>
                        <li>Configuration</li>
                        <li>Plan Name</li>
                        <li>Price</li>
                    </ul>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Chaplin - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785410_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul>
                                <li>3205 Park Springs Loop </li>
                                <li>3,383<abbr title="square feet">
                                    sq ft</abbr><br>
                                    5<abbr title="bedrooms">br</abbr>, 4<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li><a onclick="return false;"
                                    title="Chaplin - 3205 Park Springs Loop  Pflugerville, TX 78660     ">Chaplin</a>
                                </li>
                                <li>$329,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Orlando - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_9139224_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul>
                                <li>19001 Calming Stream Cove </li>
                                <li>2,419<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 2<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li><a onclick="return false;"
                                    title="Orlando - 19001 Calming Stream Cove  Pflugerville, TX 78660     ">Orlando</a>
                                </li>
                                <li>$299,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Sedona - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785416_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul>
                                <li>18908 Douglas Maple Way </li>
                                <li>3,106<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 3<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li><a onclick="return false;"
                                    title="Sedona - 18908 Douglas Maple Way  Pflugerville, TX 78660     ">Sedona</a>
                                </li>
                                <li>$299,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Whitman - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785414_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul>
                                <li>3117 Pasqueflower Pass </li>
                                <li>2,506<abbr title="square feet">
                                    sq ft</abbr><br>
                                    5<abbr title="bedrooms">br</abbr>, 3<abbr title="bathrooms">ba</abbr>, 2<abbr title="car garage">gr</abbr>
                                </li>
                                <li><a onclick="return false;"
                                    title="Whitman - 3117 Pasqueflower Pass  Pflugerville, TX 78660     ">Whitman</a>
                                </li>
                                <li>$284,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="home–info">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Under Construction Homes</h3>
                    <ul class="titles">
                        <li>Address</li>
                        <li>Configuration</li>
                        <li>Plan Name</li>
                        <li>Price</li>
                    </ul>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Orlando - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_9139224_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul>
                                <li>19001 Calming Stream Cove </li>
                                <li>2,419<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 2<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li><a onclick="return false;"
                                    title="Orlando - 19001 Calming Stream Cove  Pflugerville, TX 78660     ">Orlando</a>
                                </li>
                                <li>$299,990</li>
                            </ul>
                            <p>
                                <span class="available">Available Tuesday, January 01, 2013</span></p>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="home–info">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Ready To Build Homes</h3>
                    <ul class="titles titles2">
                        <li>Plan Name</li>
                        <li>Configuration</li>
                        <li>Priced From</li>
                    </ul>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Anthony - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785408_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul class="ReadyToBuild">
                                <li><a onclick="return false;"
                                    title="Anthony -   Pflugerville, TX 78660     ">Anthony</a> </li>
                                <li>2,923<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 3.5<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li>$280,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Chaplin - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785410_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul class="ReadyToBuild">
                                <li><a onclick="return false;"
                                    title="Chaplin -   Pflugerville, TX 78660     ">Chaplin</a> </li>
                                <li>3,104<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 2.5<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li>$270,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Hamilton - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@NhsRoute.IsBrandPartnerCna ? Resources.GlobalResources14.CNA.images.no_photo.no_photos_180x120_png : Resources.GlobalResources14.Default.images.no_photo.no_photos_180x120_png"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul class="ReadyToBuild">
                                <li><a onclick="return false;"
                                    title="Hamilton -   Pflugerville, TX 78660     ">Hamilton</a> </li>
                                <li>2,800<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 3.5<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li>$267,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Hemingway - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_7785412_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul class="ReadyToBuild">
                                <li><a onclick="return false;"
                                    title="Hemingway -   Pflugerville, TX 78660     ">Hemingway</a> </li>
                                <li>2,359<abbr title="square feet">
                                    sq ft</abbr><br>
                                    3<abbr title="bedrooms">br</abbr>, 2<abbr title="bathrooms">ba</abbr>, 2<abbr title="car garage">gr</abbr>
                                </li>
                                <li>$235,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="thumb">
                    <a>
                        <img alt="Orlando - Lost Creek at Falcon Pointe: Pflugerville, TX - Ryland Homes"
                            src="@Resources.GlobalResourcesMvc.Pro.images.preview.homthumb_9139224_jpg"></a>
                </div>
                <div class="columns">
                    <div class="bl-grey">
                        <div class="min-height">
                            <ul class="ReadyToBuild">
                                <li><a onclick="return false;"
                                    title="Orlando -   Pflugerville, TX 78660     ">Orlando</a> </li>
                                <li>2,419<abbr title="square feet">
                                    sq ft</abbr><br>
                                    4<abbr title="bedrooms">br</abbr>, 2<abbr title="bathrooms">ba</abbr>, 3<abbr title="car garage">gr</abbr>
                                </li>
                                <li>$247,990</li>
                            </ul>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div id="PlanningYourTrip" class="trip-to-builder">
            <div class="title">
                <div class="bl-blue">
                    <h3>
                        Planning For Your Trip To The Builder</h3>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="blue–highlight quote">
                        <p>
                            Selecting the right builder for your new home is a key step in the journey that
                            leads to your dream home.</p>
                        <p>
                            Asking builders these 15 questions will help you choose the right builder to create
                            your new home and give you confidence in your choice.</p>
                    </div>
                    <p>
                        <span class="quote2">While there are other questions you may wish to ask, experts agree
                            this list is a good starting point to assist you in selecting your builder.</span></p>
                </div>
                <div class="columns">
                    <ul>
                        <li>How many years have you been in business and how many homes have you built?</li>
                        <li>Are you licensed (where required) and insured?</li>
                        <li>How do you compare yourself to other builders?</li>
                        <li>What kind of warranty do you offer?</li>
                        <li>Can you give me references from prior homebuyers in this community or here in town?</li>
                        <li>What are the key energy-saving features of the homes that you build?</li>
                        <li>Do you build from home plans that you supply only? Or can I provide my own set of
                            plans?</li>
                        <li>What standard features do you offer? What options and upgrades can I select?</li>
                        <li>Who will oversee the construction of my home? Who should I contact with any questions
                            I may have?</li>
                        <li>How and when can I make changes or upgrades before and during construction?</li>
                        <li>How and when will the final price for my home be determined?</li>
                        <li>How often (and when) will I have access to the home during the building process?</li>
                        <li>How long will my home take to complete?</li>
                    </ul>
                </div>
                <div class="columns">
                    <ul>
                        <li>Does the community have a Home Owners Association and/or an Architectural Review
                            Committee? Can I get a copy of the rules and the amount of any fees?</li>
                        <li>What is your process for inspection at key points of construction, at final walk-through,
                            and to address any matters that need to be corrected or finalized?</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
    <div class="page" style="page-break-after: avoid !important;">
        @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Header)
        <div class="special-offers">
            @Html.Partial(NhsMvc.Default.Views.PdfBrochure.PromotionsAndNotes.Notes)
            <div class="disclaimer">
                <p>
                    Although we attempt to make sure that home and community information, including
                    but not limited to price, square footage, availiability date, lot size, drawings
                    and photos, is accurate, you understand that it may not be current, accurate, or
                    complete and that Builders Digital Experience, LLC, its partners and its suppliers
                    do not warrant or guarantee such accuracy. You are solely responsible for independently
                    verifying all information before relying on that information in any way.
                </p>
            </div>
        </div>
    </div>
    @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Footer)
</div>