﻿@model Nhs.Web.UI.AppCode.ViewModels.PdfBrochureViewModel
 @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Preview.Header)
<table style="margin-bottom: 5px" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
           <td id="greetingPro" class="greeting">
            <b>
                Brochure prepared on 
            @DateTime.Today.ToLongDateString() by @Model.AgentName.<br />
            <span style="font-size: 10px"><i>If you would like to explore this community further, let me know and i will get additional
                details or set up a time to visit the community with you.</i></span></b>
        </td>
            <td class="nhsBrochurePrintHide" align="right" valign="middle">
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td id="ctl05_communityInfo_tdCommImage" valign="top" width="160">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_8445530_jpg"
                    id="ctl05_communityInfo_imgCommImage" border="1" height="143" width="143"><br>
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td valign="top">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size: 14px;" valign="top" width="564">
                                <span style="font-size: 20px;"><b>Lost Creek at Falcon Pointe </b>
                                    <br>
                                </span>11 homes by Ryland Homes, <b>From $237,990 - $329,990 </b>
                                <br>
                                From 2359 - 3383 sq.ft.
                                <br>
                                <p>
                                    18821 Falcon Pointe Blvd.<br>
                                    Pflugerville TX, 78660
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span style="font-size: 14px; color: #666666;">&nbsp;<b>Website:</b> <a>http://www.ryland.com/find-your-new-home/2-austin.html?cid=BHI&amp;utm_medium=Listing&amp;version=20130120</a></span>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="3" class="header">
                &nbsp; <span style="font-size: 14px;">Contact information and Driving directions</span>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 5px;" border="0" cellpadding="0" cellspacing="4" width="744">
    <tbody>
        <tr>
            <td valign="top">
                <table border="0" cellpadding="2" cellspacing="2" width="395">
                    <tbody>
                        <tr>
                            <td valign="top" width="199">
                                <b>Lost Creek at Falcon Pointe </b>
                                <br>
                                18821 Falcon Pointe Blvd.<br>
                                Pflugerville TX, 78660
                                <br>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;
                            </td>
                            <td width="100">
                                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview._1314605_MED_gif"
                                    id="ctl05_communityInfo_imgBrandLogoMed">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding-bottom: 10px;">
                                <b>Tiffany Silva </b>
                                <br>
                                Tiffany.Silva@ryland.com
                                <br>
                            </td>
                        </tr>
                        <tr style="border: 1px solid #666666;">
                            <td colspan="3" style="border: 1px solid #666666;" valign="top">
                                <br>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td align="right">
                <img id="ctl05_communityInfo_imgMap" src="@Resources.GlobalResourcesMvc.Pro.images.preview.mqserver_gif">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="legaltext">
                These maps/directions are informational only. No representation is made or warranty
                given as to their content, road conditions or route usability or expeditiousness.
                User assumes all risk of use. MapQuest, Builders Digital Experience, and their suppliers
                assume no responsibility for any loss or delay resulting from such use.
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="5" class="header">
                &nbsp;<span style="font-size: 14px;">Notes</span>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-bottom: 5px;" border="1" cellpadding="4" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td width="200">
                <b>Home/plan/model name</b>
            </td>
            <td align="center" width="50">
                <b>Bed</b>
            </td>
            <td align="center" width="50">
                <b>Bath</b>
            </td>
            <td align="center" width="50">
                <b>Garage</b>
            </td>
            <td width="394">
                <b>Notes</b>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 6px; border-top: #999999 solid 1px;" border="0" cellpadding="0"
    cellspacing="0" width="744">
    <tbody>
        <tr>
            <td class="legaltext">
                Although we attempt to make sure that home and community information, including
                but not limited to price, square footage, availability date, lot size, drawings
                and photos, is accurate, you understand that it may not be current, accurate, or
                complete and that Builders Digital Experience, LLC, its partners and its suppliers
                do not warrant or guarantee such accuracy. You are solely responsible for independently
                verifying all information before relying on that information in any way.
            </td>
        </tr>
    </tbody>
</table>
<p style="page-break-after: always;">&nbsp;</p>
 @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Preview.Header)
<table style="margin-bottom: 5px" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td>
                <b>Lost Creek at Falcon Pointe </b>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="5" class="header">
                &nbsp;<span style="font-size: 14px;">Community details</span>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="2" width="744">
    <tbody>
        <tr>
            <td style="font-size: 14px;" valign="top" width="564">
                <span style="font-size: 20px;"><b>Lost Creek at Falcon Pointe</b><br>
                </span>11 homes, From $237,990 - $329,990
                <br>
                From 2359 - 3383 sq. ft.
            </td>
            <td id="ctl05_communityDetails_tdCommImage" rowspan="3" valign="top" width="180">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_8445530_jpg"
                    id="ctl05_communityDetails_imgCommImage" border="1" height="174" width="174"><br>
                Lost Creek at Falcon Pointe<br>
                <em></em>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <b>From Ryland Homes:</b> Lost Creek at Falcon Pointe offers spacious 1 &amp; 2
                story floorplans with 3 car garages on large homesites. You can add bonus rooms
                to any of our gorgeous 1 story floorplans and even additional bedrooms, to suit
                your needs. Lost Creek sits behind the same street that all 3 exemplary rated schools
                are located on, making walking or driving to school extremely convenient for your
                family. With a nearby golf course, parks and recreation center, you’re sure to find
                something to satisfy every member of your family. We’d love for you to visit our
                new models and check out our spacious floorplans to choose from. Live Life, Even
                Better – at Falcon Pointe!
            </td>
        </tr>
        <tr>
            <td>
                <table id="ctl05_communityDetails_tblAmenities" style="margin-bottom: 5px; margin-top: 5px;"
                    border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td id="ctl05_communityDetails_tdAmenities" class="header1" width="185">
                                &nbsp;<span style="font-size: 11px;">Schools</span>
                            </td>
                            <td rowspan="2">
                                &nbsp;&nbsp;
                            </td>
                            <td class="header1" width="185">
                                &nbsp;<span style="font-size: 11px;">Amenities</span>
                            </td>
                            <td rowspan="2">
                                &nbsp;&nbsp;
                            </td>
                            <td id="ctl05_communityDetails_tdUtilities" class="header1" width="185">
                                &nbsp;<span style="font-size: 11px;">Utilities</span>
                            </td>
                            <td rowspan="2">
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" width="186">
                                <ul>
                                    <li>Pflugerville ISD<ul>
                                    </ul>
                                    </li>
                                </ul>
                            </td>
                            <td id="ctl05_communityDetails_tdAmenityDetails" valign="top" width="186">
                                <table border="0" cellpadding="1" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left: 3px;">
                                                Pool
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 3px;">
                                                Park
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 3px;">
                                                Club House
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top" width="186">
                                Electric
                                <li>Reliant Energy<br>
                                </li>
                                8002882020 Gas
                                <li>Atmos Energy<br>
                                </li>
                                8002882020 Telephone
                                <li>AT&amp;T U-Verse<br>
                                </li>
                                8002882020 Water/wastewater
                                <li>City Of Pflugerville<br>
                                </li>
                                8002882020
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="5" class="header">
                &nbsp;<span style="font-size: 14px;">Special offers</span>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 5px;" border="0" cellpadding="0" cellspacing="2" width="744">
    <tbody>
        <tr>
            <td colspan="5" style="border: 1px solid #CCCCCC; font: color=black;">
            </td>
        </tr>
    </tbody>
</table>
<table id="ctl05_communityDetails_tblCommImageCaption" style="margin-top: 5px;" border="0"
    cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="5" class="header">
                &nbsp;<span style="font-size: 14px;">Community images</span>
            </td>
        </tr>
    </tbody>
</table>
<table id="ctl05_communityDetails_lstCommImages" style="width: 744px; margin-top: 10px;"
    cellpadding="5" cellspacing="5">
    <tbody>
        <tr>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_8445530_jpg"
                    border="1" height="143" width="143">
                <br>
                Lost Creek at Falcon Pointe
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344295_jpg"
                    border="1" height="143" width="143">
                <br>
                Residence Club
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344296_jpg"
                    border="1" height="143" width="143">
                <br>
                Residence Club Pool
                <br>
                <em></em>
            </td>
        </tr>
        <tr>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344297_jpg"
                    border="1" height="143" width="143">
                <br>
                Basketball &amp; Volleyball Courts
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344298_jpg"
                    border="1" height="143" width="143">
                <br>
                Fitness
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344299_jpg"
                    border="1" height="143" width="143">
                <br>
                Park
                <br>
                <em></em>
            </td>
        </tr>
        <tr>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344300_jpg"
                    border="1" height="143" width="143">
                <br>
                Pavillion
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344301_jpg"
                    border="1" height="143" width="143">
                <br>
                Splash Park
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344302_jpg"
                    border="1" height="143" width="143">
                <br>
                Walking Trails
                <br>
                <em></em>
            </td>
        </tr>
        <tr>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344303_jpg"
                    border="1" height="143" width="143">
                <br>
                Lost Creek at Falcon Pointe Model
                <br>
                <em></em>
            </td>
            <td style="border-width: 0px;">
                <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.large_9344304_jpg"
                    border="1" height="143" width="143">
                <br>
                Entrance
                <br>
                <em></em>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 6px; border-top: #999999 solid 1px;" border="0" cellpadding="0"
    cellspacing="0" width="744">
    <tbody>
        <tr>
            <td class="legaltext">
                Although we attempt to make sure that home and community information, including
                but not limited to price, square footage, availability date, lot size, drawings
                and photos, is accurate, you understand that it may not be current, accurate, or
                complete and that Builders Digital Experience, LLC, its partners and its suppliers
                do not warrant or guarantee such accuracy. You are solely responsible for independently
                verifying all information before relying on that information in any way.
            </td>
        </tr>
    </tbody>
</table>
<p style="page-break-after: always;">&nbsp;</p>
 @Html.Partial(NhsMvc.Default.Views.PdfBrochure.Preview.Header)
<table style="margin-top: 20px;" border="0" cellpadding="0" cellspacing="0" width="744">
    <tbody>
        <tr>
            <td colspan="5" class="header">
                &nbsp;<span style="font-size: 14px;">Sample homes</span>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 5px;">
                <b>11 homes available From $237,990 - $329,990 </b>A sampling of them appears below.<br>
                Prices and availability are subject to change. Visit the Ryland Homes office for
                the latest information!
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 744px; margin-top: 5px; border-top: 2px solid #666666; border-bottom: 2px solid #666666" bgcolor="#EEEEEE" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td width="120">
                &nbsp;
            </td>
            <td width="200">
                <b>Plan name</b>
            </td>
            <td width="120">
                <b>Status</b>
            </td>
            <td width="200">
                <b>Base configuration</b>
            </td>
            <td align="right" width="100">
                <b>Priced from</b>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_0" class="resultthumb"
                   style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_7785408_jpg"
                         alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_0">
                            <td class="planname" valign="top" width="200">
                                <strong>Anthony</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,923 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>3.5</b>ba <b>3</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$282,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                               
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_1" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_7785410_jpg"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_1">
                            <td class="planname" valign="top" width="200">
                                <strong>Chaplin</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 3,104 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>2.5</b>ba <b>3</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$272,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_rptSecondarySampleHomes_1_trSecondaryHomes_0"
                            bgcolor="#ffcc99">
                            <td width="200">
                                3205 Park Springs Loop<br>
                            </td>
                            <td style="color: #006633;" align="left" width="120">
                                <b><b>5<abbr title="bedrooms">br</abbr></b> <b>4</b>ba <b>3</b>gr </b>
                            </td>
                            <td width="100">
                                From 3,383 sq. ft.
                            </td>
                            <td width="100">
                                &nbsp;&nbsp;&nbsp; <b>Available Now </b>
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$329,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_2" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@NhsRoute.IsBrandPartnerCna ? Resources.GlobalResources14.CNA.images.no_photo.no_photos_75x58_png  : Resources.GlobalResources14.Default.images.no_photo.no_photos_75x58_png"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_2">
                            <td class="planname" valign="top" width="200">
                                <strong>Hamilton</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,800 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>3.5</b>ba <b>3</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$269,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_3" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_7785412_jpg"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_3">
                            <td class="planname" valign="top" width="200">
                                <strong>Hemingway</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,359 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>3<abbr title="bedrooms">br</abbr></b> <b>2</b>ba <b>2</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$237,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_4" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_9139224_jpg"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_4">
                            <td class="planname" valign="top" width="200">
                                <strong>Orlando</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,419 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>2</b>ba <b>3</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$249,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_rptSecondarySampleHomes_4_trSecondaryHomes_0">
                            <td width="200">
                                19001 Calming Stream Cove<br>
                            </td>
                            <td style="color: #006633;" align="left" width="120">
                                <b><b>4<abbr title="bedrooms">br</abbr></b> <b>2</b>ba <b>3</b>gr </b>
                            </td>
                            <td width="100">
                                From 2,419 sq. ft.
                            </td>
                            <td width="100">
                                &nbsp;&nbsp;&nbsp; <b>Under Construction </b>
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$299,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_5" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_7785416_jpg"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_5">
                            <td class="planname" valign="top" width="200">
                                <strong>Sedona</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,600 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>3</b>ba <b>3</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$254,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <!-- additional plan/spec address, status, info, price -->
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_rptSecondarySampleHomes_5_trSecondaryHomes_0"
                            bgcolor="#ffcc99">
                            <td width="200">
                                18908 Douglas Maple Way<br>
                            </td>
                            <td style="color: #006633;" align="left" width="120">
                                <b><b>4<abbr title="bedrooms">br</abbr></b> <b>3</b>ba <b>3</b>gr </b>
                            </td>
                            <td width="100">
                                From 3,106 sq. ft.
                            </td>
                            <td width="100">
                                &nbsp;&nbsp;&nbsp; <b>Available Now </b>
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$299,990 </b>
                            </td>
                        </tr>
                        <!-- home marketing headline -->
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="resultrow tblSampleHomes" border="0" cellpadding="0" cellspacing="2">
    <tbody>
        <tr>
            <td valign="top" width="120">
                <a id="ctl05_communitySampleHomes_rptPrimarySampleHomes_lnkSampleHomesThumb_6" class="resultthumb"
                    style="display: inline-block; border-width: 0px;">
                    <img src="@Resources.GlobalResourcesMvc.Pro.images.preview.spotlight_7785414_jpg"
                        alt=""></a><br>
            </td>
            <td valign="top" width="620">
                <table border="0" cellpadding="2" cellspacing="0">
                    <!-- primary plan/spec title, status, info, price (no address) -->
                    <tbody>
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_trPrimaryHomes_6">
                            <td class="planname" valign="top" width="200">
                                <strong>Whitman</strong><br>
                            </td>
                            <td style="color: #0033CC;" align="left" width="120">
                                Ready to build
                            </td>
                            <td style="" valign="top" width="100">
                                From 2,506 sq. ft.
                            </td>
                            <td valign="top" width="100">
                                <b>4<abbr title="bedrooms">br</abbr></b> <b>2.5</b>ba <b>2</b>gr
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$247,990 </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" height="5">
                            </td>
                        </tr>
                        <!-- additional plan/spec address, status, info, price -->
                        <tr id="ctl05_communitySampleHomes_rptPrimarySampleHomes_rptSecondarySampleHomes_6_trSecondaryHomes_0"
                            bgcolor="#ffcc99">
                            <td width="200">
                                3117 Pasqueflower Pass<br>
                            </td>
                            <td style="color: #006633;" align="left" width="120">
                                <b><b>5<abbr title="bedrooms">br</abbr></b> <b>3</b>ba <b>2</b>gr </b>
                            </td>
                            <td width="100">
                                From 2,506 sq. ft.
                            </td>
                            <td width="100">
                                &nbsp;&nbsp;&nbsp; <b>Available Now </b>
                            </td>
                            <td align="right" valign="top" width="100">
                                <b>$284,990 </b>
                            </td>
                        </tr>
                        <!-- home marketing headline -->
                        <tr>
                            <td colspan="5" style="padding-top: 5px;" valign="top">
                                <b></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table style="margin-top: 6px; border-top: #999999 solid 1px;" border="0" cellpadding="0"
    cellspacing="0" width="744">
    <tbody>
        <tr>
            <td class="legaltext">
                Although we attempt to make sure that home and community information, including
                but not limited to price, square footage, availability date, lot size, drawings
                and photos, is accurate, you understand that it may not be current, accurate, or
                complete and that Builders Digital Experience, LLC, its partners and its suppliers
                do not warrant or guarantee such accuracy. You are solely responsible for independently
                verifying all information before relying on that information in any way.
            </td>
        </tr>
    </tbody>
</table>