﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
<p>
    <strong>We're here to help you find the right home.</strong> The new home builder(s)
    you've chosen may follow up with additional information about the new homes &amp;
    communities you've selected.</p>
<p>
    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
    {
        <p>
            To <strong>unsubscribe</strong> from all further emails, <a href="@Model.UnsubscribeUrl">
                click here.</a>
        </p>
    }
</p>
<!-- Email Footer -->
<p>
    <strong>We value your privacy!</strong> You've received this message at this address
    (@Model.Email) because it was requested by you or another user on our website. <a href="@Model.PolicyUrl" style="color: #0091da">
        Privacy Policy</a>
</p>
<p>
    Copyright &copy; @DateTime.Today.Year. This email was sent by: Builders Digital
    Experience, LLC. 11900 Ranch Road 620 N, Austin, TX 78750-1345 USA</p>
