﻿@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Mvc.Routing.Interface
@using Nhs.Utility.Common
@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
@if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
{
    <td style="width: 390px; padding: 12px 4px 12px 4px; vertical-align: middle;">
        <img src="@Model.SiteLogo" alt="" />
    </td>
}
<td align="left" style="padding: 10px 4px 12px 4px; vertical-align: middle; text-align: left;
    color: #fff; font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 14px;">
    @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
    {
        <p style="margin: 0; padding: 0;">
            <span style="font-size: 20px;">Your <b style="color: #ffce34; font-family: Verdana;">
                FREE</b></span> Brochure Request
        </p>
    }
    else
    {
        <p style="margin: 0; padding: 0;">
            <span style="font-size:16px;">A New Home Brochure<br />
                @if (Model.AgentBrochureTemplate != null)
                {
                    <b style="font-size:18px;color:#ffd400;">From @string.Format("{0} {1}", Model.AgentBrochureTemplate.FirstName, Model.AgentBrochureTemplate.LastName)
                    </b>
                }
            </span>
        </p> 
    }
</td>
