﻿@using Nhs.Mvc.Routing.Interface
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Utility.Common;
@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
@foreach (var property in Model.Properties)
{
    <tr>
        <!-- Community Lead - START -->
        <td colspan="2">
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#eeeeee" style="background:#eeeeee;width: 545px;">
                <tr>
                    <td colspan="3" style="padding:8px 12px 0 12px;font-family:Arial,Helvetica;font-size:12px;color:#0091da;">
                        <p style="margin: 0;">
                            @if (NhsRoute.IsBrandPartnerNhsPro)
                            {
                                <strong style="font-size:20px;color:#000000;">@property.CommunityName</strong>
                            }
                            else
                            {
                                <a href="@Model.GetUrl(property.DetailPageUrl)" style="font-size:20px; color:#000000;"><strong>@property.CommunityName</strong></a>
                            }
                            @if (NhsRoute.IsBrandPartnerNhsPro)
                            {
                                <strong style="font-size:14px;color:#000000;">by @property.BrandName</strong>
                            }
                            else
                            {
                                <span style="font-size:14px;">
                                by 
                                <a href="@Model.GetUrl(property.BuilderUrl)" style="font-weight:bold;color:#0091da;">@property.BrandName</a></span>
                            }
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" style="width:180px;padding:6px 6px 8px 12px;">
                        @if (NhsRoute.IsBrandPartnerNhsPro)
                        {
                            <img src="@property.ImageThumbnail" alt="@property.CommunityName" style="border:1px solid #ffffff;" />
                        }
                        else
                        {
                            <a href="@Model.GetUrl(property.DetailPageUrl)">
                                <img src="@property.ImageThumbnail" alt="@property.CommunityName" style="border: 1px solid #ffffff;" /></a>
                        }
                    </td>
                    <td colspan="2" valign="bottom" style="padding: 8px 12px 8px 6px; font-family: Arial, Helvetica;
                        font-size: 18px;">
                        <strong>@property.Address</strong><br />@property.City, @property.State @property.PostalCode
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="padding: 8px 12px 8px 6px; font-family: Arial, Helvetica;
                        font-size: 12px;">
                        from
                        <br />
                        <strong style="font-size: 13px;">@property.FormatPrice</strong>
                    </td>
                    <td align="@(NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>() ? "right" : "center")" style="padding: 8px 12px;">
                        <table cellpadding="8" cellspacing="0" bgcolor="#ffce34" style="background: #ffce34;
                            margin: 5px 0 0 0;">
                            <tr>
                                <td style="border: 2px solid #000000; border-top: 2px solid #ffffff; border-left: 2px solid #ffffff;
                                    padding: 4px 8px; font-family: Arial, Helvetica; font-size: 16px;">
                                    <strong><a href="@property.BrochureUrl" style="color: #5f636a; text-decoration: none;">View brochure</a></strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <!-- Hot Home Condition -->
                    <td colspan="3" style="padding: 2px 12px 8px 12px;">
                        @if (property.ShowHotArea)
                        {
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top" style="padding: 0 5px 0 0;">
                                        <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_hot_home_png" width="61" height="19" border="0" style="width: 61px; height: 19px; border: 0;" alt="Hot Home" />
                                    </td>
                                    <td valign="middle" style="padding: 0; font-family: Arial, Helvetica; font-size: 12px;">
                                        <strong>@property.HotHomeTitle</strong>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <!-- Special Offer Condition -->
                    <td colspan="3" style="padding: 2px 12px 8px 12px;">
                        @if (property.ShowPromoArea)
                        {
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top" style="padding: 0 5px 0 0;">
                                        <img src="@Resources.GlobalResourcesMvc.Default.images.icons.icon_special_offer_png" width="84" height="19" border="0" style="width: 84px; height: 19px; border: 0;" alt="Special Offer" />
                                    </td>
                                    <td valign="middle" style="padding: 0; font-family: Arial, Helvetica; font-size: 12px;">
                                        <!-- Repeat line below for multiple -->
                                        @foreach (var p in property.Promos)
                                        {
                                            <strong><a href="@p.PromoUrl" style="color: #0091da;">@p.PromoTextShort</a></strong>
                                            <br />
                                        }
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Community Lead - END -->
}