﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
<br/>      
<table cellpadding="0" cellspacing="0" border="0" style="width: 320px; margin: 0; padding: 0; background: #eeeeee;">
    <tr>
        <td colspan="3" style="font-family: Arial,Helvetica; font-size: 14px; font-weight: bold;
            color: #000000; margin: 0; padding: 8px 0 6px 0; text-align: center;">
            <p>
                Matching communities found!</p></td>
    </tr>
    <tr>
        <td style="width: 98px; padding: 0 0 0 8px; text-align: right;">
            <img src="@string.Format("{0}/{1}/QuickConnect/Thumbnails/pic1a.jpg", Configuration.NewHomeSourceDomain, Configuration.StaticContentFolder)" width="98" height="69" style="width:98px;height:69px;" alt="" /></td>
        <td style="width: 98px; padding: 0 5px; text-align: center;">
            <img src="@string.Format("{0}/{1}/QuickConnect/Thumbnails/pic2a.jpg", Configuration.NewHomeSourceDomain, Configuration.StaticContentFolder)" width="98" height="69" style="width:98px;height:69px;" alt="" /></td>
        <td style="width: 98px; padding: 0 8px 0 0; text-align: left;">
            <img src="@string.Format("{0}/{1}/QuickConnect/Thumbnails/pic3a.jpg", Configuration.NewHomeSourceDomain, Configuration.StaticContentFolder)" width="98" height="69" style="width:98px;height:69px;" alt="" /></td>
    </tr>
    <tr>
        <td colspan="3" style="font-family: Arial,Helvetica; font-size: 12px; padding: 6px 12px 8px 12px;
            color: #999999; text-align: center;">
            We found additional communities for you that are similar to @Model.PropertyName.
            <br />
            <table cellpadding="0" cellspacing="0" style="background: #ffce34; margin: 5px auto 0 auto;">
                <tr>
                    <td style="border: 2px solid #000000; border-top: 2px solid #ffffff; border-left: 2px solid #ffffff;
                        padding: 4px 8px; font-family: Arial,Helvetica; font-size: 14px;">
                        <strong><a href="@string.Format("{0}/rcomms/?requestid={1}&community={2}#utm_source=brochure&utm_medium=email&utm_content=reccompage&utm_campaign=brochurenorec", Configuration.NewHomeSourceDomain, Model.RequestId, Model.CommunityId)" style="color:#5f636a;text-decoration:none;">
                            View matches</a></strong></td>
                </tr>
            </table></td>
    </tr>
</table>
