﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
<p style="margin:10px 0 12px 0;font-family:Arial,Helvetica;font-size: 14px;">
    If you would like to explore @(Model.IsMultiBrochue ? "these" : "this")
    @(Model.IsComLead ? "communit" + (Model.IsMultiBrochue ? "ies" : "y") : "home")
    further, let me know and I will get additional details or set up a time to visit
    @(Model.IsComLead ? (Model.IsMultiBrochue ? "them" : "the community") : " the home")
    with you. (I have good relationships with many builders in the area, so please don’t
    contact @(Model.IsMultiBrochue ? "these" : "the")
    @(Model.IsComLead ? "communit" + (Model.IsMultiBrochue ? "ies" : "y") : "home")
    directly without my involvement. Thanks.)
</p>
<p style="margin:10px 0 12px 0;font-family:Arial,Helvetica;font-size: 14px;">
    I look forward to hearing from you.
</p>
@if (Model.AgentBrochureTemplate != null)
{
    <p style="margin:10px 0 12px 0;font-family:Arial,Helvetica;font-size:16px;">
        Sincerely,</p>
    <table cellpadding="0" cellspacing="0" border="0" style="margin:10px 0 12px 0;">
        <tr>
            <td style="padding-right: 10px;" align="left">
                <img src="@Model.SiteLogo" alt="" />
            </td>
            <td valign="top" style="font-family: Arial,Helvetica;color:#000;font-size:16px;">
                @string.Format("{0} {1}", Model.AgentBrochureTemplate.FirstName, Model.AgentBrochureTemplate.LastName)
                <br />
                @Model.AgentBrochureTemplate.AgencyName
                <br />
                Phone: @(!string.IsNullOrEmpty(Model.AgentBrochureTemplate.OfficePhone) ? Model.AgentBrochureTemplate.OfficePhone :
                                                         string.IsNullOrEmpty(Model.AgentBrochureTemplate.MobilePhone) ? Model.AgentBrochureTemplate.MobilePhone : "")
                <br />
                @Model.AgentBrochureTemplate.Email
            </td>
        </tr>
    </table>
}