﻿ @model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
<tr>
    <td colspan="2" align="left" style="width: 521px;padding: 12px;font-family:Arial,Helvetica;
        font-size: 16px;">
        <p style="margin: 10px 0 0 0;font-size: 18px;">
            <b>Hello {0},</b></p>
        <p style="margin: 10px 0 12px 0;font-size:14px;">
            I found @(Model.IsMultiBrochue ? "" : "a")
            new @(Model.IsComLead ? (Model.IsMultiBrochue ? "home communities" : "community") : "home")
            that may be of interest to you. Just click the "View brochure" link@(Model.IsMultiBrochue ? "s" : "")
            below to get more information:</p>
    </td>
</tr>
