﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
@using Nhs.Mvc.Routing.Interface
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Utility.Common;
<tr>
    <td colspan="2" align="center" style="width: 521px; padding: 12px; font-family: Arial, Helvetica;
        font-size: 12px;">
        <p style="margin: 10px 0 0 0; font-size: 18px;">
            <strong>@Model.FirstName, thank you for visiting <a href="@Model.SiteHomePageUrl" style="color: #0091da;">@Model.SiteName</a></strong></p>
        <p style="margin: 10px 0 12px 0; color: #666666; font-size: 14px;">
            <i>We're here to help you find the right new home!</i></p>
    </td>
</tr>
<tr>
    <td valign="top" style="width: 320px; padding: 6px 12px 6px 12px; border-right: 1px dashed #CFD9B7;
        font-family: Arial, Helvetica; font-size: 12px;">
        <p style="margin: 0 0 0 0; font-size: 12px; color: #999999;">
            <strong style="font-size: 14px; color: #000000;">@Model.BrochureHeadingText</strong><br />
            Click the yellow button below to access the <a href="@Model.BrochureUrl" style="color: #0091da;">
                free brochure</a> you requested @Model.BrochureTextFor.</p>
        @if (Model.RecoCount > 0)
        {
            <!-- WITH Recommend Comms condition - START -->
            <p style="margin: 18px 0 0 0; font-size: 12px; color: #999999;">
                <strong style="font-size: 14px; color: #000000;">Your recommended communities are on
                    <br />
                    the way</strong><br />
                At your request, our proprietary matchmaker engine has chosen @Model.RecoCount similar
                communities for you. You will receive additional free brochures for these communities
                momentarily.</p>
            <!-- WITH Recommend Comms condition - END -->
        }
        <p style="margin: 18px 0 0 0; font-size: 12px; color: #999999;">
            <strong style="font-size: 14px; color: #000000;">Additional information from the builder</strong><br />
            @Model.AdditionalText.</p>
        <!--MatchingCommunities - START -->
        @if (Model.ShowMatchingCommunities && (NhsRoute.IsPartnerNhs || NhsRoute.IsPartnerMove))
        {
            Html.RenderPartial(NhsMvc.Default.Views.EmailTemplate.OldVertion.MatchingCommunities);
        }
        <!-- MatchingCommunities - END -->
        <p style="margin: 18px 0 0 0; font-size: 12px; color: #999999;">
            <strong style="font-size: 14px; color: #000000;">Why buy new?</strong><br />
            New homes offer the latest designs, style, comfort and quality. Read about why so
            many home buyers prefer new homes and find out why buying new makes sense!<br />
            <a href="@Model.LearnMoreUrl" style="color: #0091da; font-weight: bold;">Learn more</a></p>
        <p style="margin: 18px 0 0 0; font-size: 12px; color: #999999;">
            <a href="@Model.GetQualifiedUrl" style="font-size: 12px; font-weight: bold; color: #0091da;">
                <strong style="font-size: 18px;">Get Prequalified Today!</strong></a><br />
            <a href="@Model.MortgageRatesUrl" style="color: #0091da; font-weight: bold;">Get Current
                Mortgage Rates</a></p>
    </td>
    <td valign="top" style="width: 171px; padding: 6px 12px 6px 17px; font-family: Arial, Helvetica;
        font-size: 12px;">
        <p style="margin: 0 0 0 0; font-size: 18px; font-weight: bold; color: #000000;">
            15 <strong style="font-size: 20px;">Questions</strong> to
            <br />
            Ask the <strong style="font-size: 20px;">Builder</strong></p>
        <p style="margin: 12px 0 0 0; font-size: 12px; color: #999999;">
            &#149; How many years have you been in business and how many homes have you built?</p>
        <p style="margin: 12px 0 0 0; font-size: 12px; color: #999999;">
            &#149; What kind of warranty do you offer?</p>
        <p style="margin: 12px 0 0 0; font-size: 12px; color: #999999;">
            &#149; What are the key energy-saving features of the homes you build?</p>
        <p style="margin: 12px 0 0 0; font-size: 12px; color: #999999;">
            &#149; Who will oversee the construction of my home? Who should I go to with any
            questions I may have?</p>
        <p style="margin: 12px 0 0 0; font-size: 12px; color: #999999;">
            &#149; How and when will the final price for my home be determined?</p>
        <p style="margin: 12px 0 0 0; font-size: 12px;">
            <a href="@Model.QuestionsUrl" style="color: #0091da; font-weight: bold;">View the entire
                list</a></p>
    </td>
</tr>
<tr>
    <td style="height: 12px;">
        &nbsp;
    </td>
</tr>
