﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
@using System
@using Nhs.Mvc.Routing.Interface
@using Nhs.Web.UI.AppCode.Extensions
@using Nhs.Library.Constants
@using Nhs.Library.Helpers.Utility;
@using Nhs.Utility.Common;
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Web.UI.AppCode.Helper

<table width="100%" height="100%;" cellpadding="0" cellspacing="0" bgcolor="#e7e5da" style="background:#e7e5da;width:100%;">
<tr><td style="padding:8px;vertical-align:top;">
    <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="@Model.SiteLogoBackground" style="background:@Model.SiteLogoBackground;width:545px;">
    <tr>
        <td style="width:390px;padding:12px 4px 12px 4px;vertical-align:middle;">
            <img src="@Model.SiteLogo" alt="" /></td>
        <td align="left" style="padding:10px 4px 12px 4px;vertical-align:middle;text-align:left;color:#fff;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:14px;">
            <p style="margin:0;padding:0;"><span style="font-size:20px;">Your <b style="color:#ffce34;font-family:Verdana;">FREE</b></span> Recommended Communities</p></td>
    </tr>
    </table>
    <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background:#fff;width:545px;">
    <tr>
        <td colspan="2" align="center" style="width:521px;padding:12px;font-family:Arial,Helvetica;font-size:12px;">
            <p style="margin:10px 0 0 0;font-size:16px;color:#999999;"><strong><span style="color:#000000;">@Model.FirstName,</span> here are the recommended communities you requested.</strong></p>
	        <p align="left" style="margin:20px 30px 12px 30px;color:#000000;font-size:11px;">You selected to receive information on communities similar to @Model.PropertyName. Our matchmaker engine has recommended the following communities for you. Representatives from these new home communities will likely contact you to offer additional information or assistance with your new home search.</p></td>
    </tr>
    <tr> <!-- Initial Lead - START -->
        <td colspan="2">
            <table width="521" cellpadding="0" cellspacing="0" border="0" bgcolor="#eeeeee" style="background:#eeeeee;border-bottom:1px solid #999999;width:545px;">            
            <tr>
                <td rowspan="2" style="width:122px;padding:6px 6px 8px 12px;"><a href="@Model.SourceLead.DetailPageUrl"><img src="@Model.SourceLead.ImageThumbnail" width="120" height="80" alt="" style="width:120px;height:80px;border:1px solid #ffffff;" /></a></td>
                <td colspan="2" valign="bottom" style="padding:8px 12px 4px 6px;font-family:Arial,Helvetica;font-size:18px;"><strong>@Model.PropertyHeaderText</strong><br />
                @if(Model.IsSpecHome){                    
                    if (string.IsNullOrEmpty(Model.SourceLead.BuilderUrl)) 
                    {
                        @:by @Model.BrandName<br />
                    }
                    else {
                        @:by <a href="@Model.SourceLead.BuilderUrl" style="color:#0091da;">@Model.BrandName</a><br />  
                    }                    
                }
                @Model.SourceLead.City, @Model.SourceLead.State, @Model.SourceLead.PostalCode</td>
            </tr>
            <tr>
                <td valign="top" style="width:190px;padding:8px 12px 8px 6px;font-family:Arial,Helvetica;font-size:12px;">from <br /><strong style="font-size:13px;">@Model.SourceLead.FormatPrice</strong></td>
                <td align="left" style="padding:8px 12px 8px 12px;font-family:Arial,Helvetica;font-size:11px;font-weight:bold;color:#0091da;">
                    Note: Listings below are <br />similar to this @( Model.IsComLead ? "community" : "home").   
                </td>
            </tr>
            </table>        
        </td>
    </tr> <!-- Initial Lead - END -->
    @if (Model.RecommendedCommunities != null && Model.RecommendedCommunities.Count > 0)
    {
        foreach (var comm in Model.RecommendedCommunities)
        {
            <tr> <!-- Reco Lead Repeater - START -->
                <td colspan="2">
                    <table width="521" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background:#ffffff;border-bottom:1px dashed #CFD9B7;width:545px;">  
                    <tr>
                        <td colspan="3" style="padding:8px 12px 0 12px;font-family:Arial,Helvetica;font-size:12px;color:#0091da;">
                            <p style="margin:0;"><a href="@(comm.CommunityDetailsExtLink(LogImpressionConst.EmailRecommendedClickThrough, "?utm_source=recommended&utm_medium=email&utm_campaign=recommended&utm_content=commname"))" style="font-size:14px;font-weight:bold;color:#0091da;">@comm.CommunityName</a></p>
                        </td>
                    </tr>          
                    <tr>
                        <td style="width:77px;padding:6px 6px 10px 12px;"><a href="@(comm.CommunityDetailsExtLink(LogImpressionConst.EmailRecommendedClickThrough,"?utm_source=recommended&utm_medium=email&utm_campaign=recommended&utm_content=commname"))"><img src="@comm.CommSmallImage()" width="75" height="58" alt="" style="width:75px;height:58px;border:1px solid #000000;" /></a></td>
                        <td valign="middle" style="width:190px;padding:8px 12px 10px 6px;font-family:Arial,Helvetica;font-size:12px;">
                        @if (string.IsNullOrEmpty(Model.SourceLead.BuilderUrl)) {
                        @:by @comm.BrandName<br />
                        }
                        else
                        {
                        @:by <a href="@(string.IsNullOrEmpty(comm.Builder.Url) ? "javascript:void(0)" : comm.Builder.Url)" style="color:#0091da;">@comm.BrandName</a><br />
                        }
                        @StringHelper.PrettyPrintRange((double)comm.PriceLow, (double)comm.PriceHigh, "c0", LanguageHelper.From.ToTitleCase())<br />
                        <span style="color:#999999;">(Located @comm.DistanceFromCommunity.FormatDistance() from @Model.PropertyName)</span></td>
                        <td align="right" style="padding:8px 12px 10px 12px;">
                            <table cellpadding="8" cellspacing="0" bgcolor="#ffce34" style="background:#ffce34;margin:5px 0 0 0;">
                            <tr>
                                <td style="border:2px solid #000000;border-top:2px solid #dddddd;border-left:2px solid #dddddd;padding:1px 6px 1px 6px;font-family:Arial,Helvetica;font-size:14px;">
                                <strong><a href="@comm.ViewBrochureLink(Model, "?utm_source=recommended&utm_medium=email&utm_campaign=recommended&utm_content=viewbrochure")" style="color:#5f636a;text-decoration:none;">View brochure</a></strong></td>
                            </tr>
                            </table>                                                      
                        </td>
                    </tr>
                    </table>        
                </td>
            </tr> <!-- Reco Lead - END -->
        }
    }
    <tr>
        <td valign="top" colspan="2" bgcolor="#fafafa" style="padding:6px 12px 6px 12px;background:#fafafa;font-family:Arial,Helvetica;font-size:12px;">
            <p style="margin:18px 0 0 0;font-size:12px;color:#999999;"><strong style="font-size:14px;color:#000000;">15 Questions to Ask the Builder</strong><br />
            Make sure you get all the information you need to make the right decision. These 15 questions will help you get the dialogue started with the builder.<br /><a href="@Model.QuestionsUrl" style="color:#0091da;font-weight:bold;">View the list</a></p>
            <p style="margin:18px 0 12px 0;font-size:12px;color:#999999;"><strong style="font-size:14px;color:#000000;">Why Buy New?</strong><br />
            New homes offer the latest designs, style, comfort and quality. Read about why so many home buyers prefer new homes and find out why buying new makes sense!<br />
            <a href="@Model.LearnMoreUrl" style="color:#0091da;font-weight:bold;">Learn more</a></p>
        </td>
    </tr>
    @*<tr>
        <td colspan="2">
            <img src="@Resources.GlobalResourcesMvc.NewHomeSource.images.email.footer_545_jpg" alt="" width="545" height="125" style="width:545px;height:125px;" border="0" /></td>
    </tr>*@  
    </table>


    <table width="545" cellpadding="0" cellspacing="0" border="0" style="width:545px;">
    <tr>
        <td style="padding:10px;font-family:Arial,Helvetica;font-size:11px;color:#444444;">
            <p><strong>Note: Instant brochures are in Adobe PDF format.</strong> To open, <a href="http://get.adobe.com/reader/" style="color:#0091da;">download & install the free Adobe Reader software.</a> Instant brochures remain available to view, save or print for 7 days.</p>	   
            
            @*<p><strong>We're here to help you find the right home.</strong> The new home builder(s) you've chosen may follow up with additional information about the new homes &amp; communities you've selected.</p>*@
            
            @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
            {
                <p>
                    To <strong>unsubscribe</strong> from all  further emails, <a href="@Model.UnsubscribeUrl">click here.</a>
                </p>
            }
            <!-- Email Footer -->            
            <p><strong>We value your privacy!</strong> You've received this message at this address 
                (@Model.Email) because it was requested by you or another user on our website. 
                <a href="@Model.PolicyUrl" style="color:#0091da">Privacy Policy</a>
                </p>

            <p>Copyright &copy; @DateTime.Today.Year. This email was sent by: Builders Digital Experience, LLC. 
            11900 Ranch Road 620 N, Austin, TX 78750-1345 USA</p>
            <!-- END - Email Footer -->

            <!-- Insert image beacon here -->
            <img src="@Model.BeaconUrl" style="visibility:hidden;width:1px;height:1px;border:0;" width="1" height="1" alt="" />
        </td>
        </tr>
    </table>
</td></tr>
</table>
