﻿@model Nhs.Web.UI.AppCode.ViewModels.LeadEmailViewModel
@using Nhs.Mvc.Routing.Interface
@using Nhs.Library.Constants
@using Nhs.Utility.Constants
@using Nhs.Utility.Common;
<table width="100%" height="100%;" cellpadding="0" cellspacing="0" bgcolor="#e7e5da"
    style="background: #e7e5da; width: 100%;">
    <tr>
        <td style="padding: 8px; vertical-align: top;">
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="@Model.SiteLogoBackground" style="background:@Model.SiteLogoBackground;width:545px;">
                <tr>
                     @Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.Header) 
                </tr>
            </table>
            <table width="545" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background: #fff;
                width: 545px;">
                @(NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>() ? Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.Section1) : Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.ProSection1))
                @(Model.IsComLead ? Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.IsCommunityLead) : Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.IsHomeLead))
                @*@if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                {
                    <tr>
                        <td colspan="2">
                            <img src="@Resources.GlobalResourcesMvc.NewHomeSource.images.email.footer_545_jpg" alt="" width="545" height="125" style="width: 545px; height: 125px;" border="0" />
                        </td>
                    </tr>
                }*@
            </table>
            <table width="545" cellpadding="0" cellspacing="0" border="0" style="width: 545px; 
                @(NhsRoute.IsBrandPartnerNhsPro ? " background: #fff;" : "")">
                <tr>
                    <td style="padding: 10px; font-family: Arial,Helvetica; font-size: 11px; @(NhsRoute.IsBrandPartnerNhsPro ? "" : " color: #444444;") ">
                        @if (NhsRoute.IsBrandPartnerNhsPro)
                        {
                            @Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.ProSection2) 
                        }
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-family: Arial,Helvetica; font-size: 11px; color: #444444;
                        background: #e7e5da;">
                        <p>
                            <strong>Note: Instant brochures are in Adobe PDF format.</strong> To open, <a href="http://get.adobe.com/reader/"
                                style="color: #0091da;">download & install the free Adobe Reader software.</a>
                            Instant brochures remain available to view, save or print for 7 days.</p>
                        @if (NhsRoute.BrandPartnerId != PartnersConst.Pro.ToType<int>())
                        {
                           @Html.Partial(NhsMvc.Default.Views.EmailTemplate.OldVertion.Footer) 
                        }
                        <!-- END - Email Footer -->
                        <!-- Insert image beacon here -->
                        <img src="@Model.BeaconUrl" style="visibility:hidden;width:1px;height:1px;border:0;" width="1" height="1" alt="" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
