﻿<div id="pro_mredtermsofservice">
    <p>
        This MRED service provides a searchable database of new construction inventory that
        includes community, plan and spec home information. It also provides tools to help
        you communicate with builders and share information with your buyers. (Note that
        your buyer's information is NEVER shared with a builder.)
    </p>
    <p>
        While this service can facilitate a relationship between you and a builder - and
        may also present compensation information if provided by a builder - you are responsible
        for obtaining the builder's agent policies and abiding by them to ensure sales compensation.
    </p>
    <p>
        Almost all builders offer agent compensation, but when contacting a builder, we
        strongly suggest that you request information about their agent policies, as well
        as buyer registration forms.
    </p>
    <p>
        MRED and BDX, which operates New Home Source Professional, assume no liability for
        compensation between you and a builder. By clicking the button below, you will continue
        to the site and be logged in.
    </p>
    <form action="@Html.GetActionUrl(NhsMvc.Sso.Name, NhsMvc.Sso.ActionNames.CreateAccountFromSsoCredentials)" method="GET">
    <input type="submit" value="I Understand" onclick="jQuery.googlepush('MRED Events', 'Modal-Subscribe', 'MRED Terms of Service - I Understand');" />
    </form>
    <div class="decline"><a id="pro_mredDeclineTerms" href="javascript:void(0);">I Decline</a></div>
</div>
<script type="text/javascript">
    $jq(document).ready(function () {
        jQuery('a#pro_mredDeclineTerms').on('click', function () {
            jQuery.googlepush('MRED Events', 'Modal-No Thanks', 'MRED Terms of Service - I Decline');
            tb_remove();
        });

    });        
</script>
